@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > p:nth-of-type(1) {
		margin-left: -123.79% !important;  /* -255px */
		margin-top: 15.05% !important;  /* 31px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > form:nth-of-type(1) > div:nth-of-type(1) > input:nth-of-type(4) {
		margin-left: 50.0% !important;  /* 181px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > form:nth-of-type(1) > div:nth-of-type(1) {
		margin-left: -87.86% !important;  /* -181px */
		width: -0.49% !important;  /* -1px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) {
		max-width: 206px !important;  /* 206px */
		width: 21.46% !important;  /* 206px */
		height: 47.2% !important;  /* 59px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(5) > div:nth-of-type(1) > h6:nth-of-type(2) {
		padding-top: 1.94% !important;  /* 3px */
		padding-bottom: 0.65% !important;  /* 1px */
		margin-top: 3.87% !important;  /* 6px */
		height: 11.69% !important;  /* 9px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(5) > div:nth-of-type(1) > h6:nth-of-type(3) {
		margin-top: -1.29% !important;  /* -2px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(6) {
		margin-left: -3.02% !important;  /* -29px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(5) {
		margin-left: -0.94% !important;  /* -9px */
		margin-right: 32px !important;  /* 32px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(5) > div:nth-of-type(1) > h6:nth-of-type(1) {
		line-height: 170.0% !important;  /* 17px */
		height: 18.18% !important;  /* 14px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(3) {
		margin-left: -1.35% !important;  /* -13px */
		width: 7.29% !important;  /* 70px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(4) {
		max-width: 83px !important;  /* 83px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(8) {
		margin-left: -3.44% !important;  /* -33px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(7) {
		margin-left: 8.33% !important;  /* 80px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(4) {
		padding-top: 0.31% !important;  /* 3px */
		padding-bottom: 0.0% !important;  /* 0px */
		margin-top: 0.0% !important;  /* 0px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) {
		padding-top: 0.21% !important;  /* 2px */
		margin-top: 0.1% !important;  /* 1px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(3) {
		padding-top: 0.31% !important;  /* 3px */
		padding-bottom: 0.0% !important;  /* 0px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(2) {
		padding-top: 0.31% !important;  /* 3px */
		margin-top: 0.1% !important;  /* 1px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(4) {
		margin-left: -1.53% !important;  /* -10px */
		padding-left: -0.15% !important;  /* -1px */
		padding-right: 0.0% !important;  /* 0px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > form:nth-of-type(1) > div:nth-of-type(2) {
		margin-left: -12.14% !important;  /* -25px */
		max-width: 0px !important;  /* 0px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(1) {
		line-height: 145.45% !important;  /* 16px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(1) {
		padding-top: 6.67% !important;  /* 18px */
	}
}