/* ::::: http://css.grantabooks.com/css.css ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, em, font, img, strong, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input table, caption, tbody, tfoot, thead, tr, th, td { border: 0px none; margin: 0px; padding: 0px; outline: 0px none; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
legend, caption { display: none; }
html, body { margin: 0px; padding: 0px; height: 100%; }
body { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Georgia,Times,serif; font-size: 0.9em; line-height: 1.4em; overflow-y: scroll; }
* html body { overflow-y: visible; }
* + html body { overflow-y: visible; }
a { color: rgb(0, 0, 0); text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { padding: 0px 0px 10px; }
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
p { margin: 0px 0px 8px; }
ol, ul { list-style-type: none; }
ul { padding: 0px 0px 0px 15px; }
li { padding: 0px; }
dl { padding: 0px 0px 20px; }
dt { padding: 0px 0px 5px; }
dd { padding: 0px 0px 5px; }
#madeByMU a { position: fixed; visibility: hidden; }
#madeByMU .r { bottom: 30px; right: 0px; }
#madeByMU .l { bottom: 30px; left: 0px; width: 15px; }
#madeByMU .b { bottom: 0px; right: 30px; }
* html #madeByMU a { position: absolute; right: 0px; }
* html #madeByMU .r, * html #madeByMU .l {  }
* html #madeByMU .b {  }
body { background: rgb(255, 255, 255) url("bg.gif") repeat-x scroll 0px 0px; }
#container { position: relative; width: 970px; min-height: 100%; margin: 0px auto; }
#content { width: 970px; padding: 0px; }
#content, #widgets { line-height: 1.3em; }
#widgets { width: 970px; }
#header { height: 205px; }
#logo { position: absolute; left: 50%; top: 55px; margin-left: -152px; }
#footer { margin: 40px 0px; padding-left: 50px; padding-top: 10px; border-top: 1px solid rgb(153, 153, 153); }
#last { display: none; }
.col { float: left; }
.col1, .col2, .col3 { width: 870px; padding-left: 50px; padding-right: 50px; }
.subHeading { margin-bottom: 0px; }
.clear { clear: both; font-size: 0px; line-height: 0; height: 0px; margin: 0px; padding: 0px; }
.floatL { float: left; }
.floatR { float: right; }
p { margin-bottom: 25px; }
dl, dt, dd { margin: 0px; }
ul li { list-style-type: disc; }
h1 { padding-bottom: 15px; margin: 10px 0px 6px 50px; }
h4 { padding: 0px; }
body, #nav li a, h3 a, h4 a, #nav li #subnavList a, .people .col2 .choiceItem .copy h3, .people .col2 .choiceItem .copy .subHeading, .searchResults #containerInner .col2 #records .choiceItem .copy h2 a { color: rgb(48, 48, 48); }
a, #nav li a:hover, #nav li.active a, #nav li.activeParent a, #nav #subnavList li a:hover, #nav #subnavList li.active a, .subnavTabs li.active a, .pageCrossSell h4, .pageCrossSell h4 a, .pageCrossSell h2, .pageCrossSell h2 a, .sectionHomepage .col2 .choiceItem h2, .sectionHomepage .col2 .choiceItem h2 a, #monthFilter li a { color: rgb(204, 0, 0); }
#footer, #footer a, #eventsBox p, .singleRecord #editionsBox p, .singleRecord #primaryEdition { color: rgb(68, 68, 68); }
.fieldSpecs, .requiredExp { color: rgb(102, 102, 102); }
.breadCrumb .current, .pagechooser .current { color: rgb(0, 0, 0); }
.recordList .whatsNew p.moreLinks a, .recordList .whatsNew .moreLinks li a, .singleRecord #widgets .moreLinks li a, #records .moreLinks li a, .pageCrossSell .moreLinks li a, a.moreLink, #containerInner .search h3, #nameFilter li.active, #nameFilter li.active a, #monthFilter li.active a, .singleRecord .relatedLink a { color: rgb(255, 255, 255); }
.recordList .author h4 a, #widgets h3#relatedTitle, #eventsBox h4, .singleRecord #editionsBox h4, .recordList #recordList .editionType, .singleRecord #editionsBox .ebookAvailable { color: rgb(207, 14, 15); }
#nameFilter li, #monthFilter li { color: rgb(153, 153, 153); }
.recordList .whatsNew p.moreLinks a, .recordList .whatsNew .moreLinks li a, .singleRecord #widgets .moreLinks li a, #records .moreLinks li a, .pageCrossSell .moreLinks li a, a.moreLink, .search .fieldGroup select, .search .fieldGroup input, .fieldSpecs, .requiredExp, .singleRecord .relatedLink a { font-size: 0.7em; }
p.moreLinks a, .moreLinks li a, .recordList .pagechooser, #footer, #eventsBox p, .singleRecord #editionsBox p, .recordList #recordList .copy p, .recordList #recordList .copy h4, .singleRecord #primaryEdition { font-size: 0.8em; }
.fieldGroup select, .fieldGroup textarea, .fieldGroup input, .breadCrumb, .pagechooser, #containerInner .search h3, #widgets .relatedCrossSell h3, .pageCrossSell h4, .singleRecord #editionsBox .choiceItem .copy h3 { font-size: 0.9em; }
.people .col2 .choiceItem .copy h3, .people .col2 .choiceItem .copy .subHeading, #subnavList, #nav { font-size: 0.95em; }
h4, .recordList .people #records h3, .singleRecord .people .col2 .choiceItem .copy h3, .singleRecord .people .col2 .choiceItem .copy .subHeading, .searchResults .col2 .choiceItem .copy h2, .fieldGroup select, .fieldGroup textarea, .fieldGroup input { font-size: 1em; }
.sectionHomepage .col2 .choiceItem h2, .pageCrossSell h2, #nameFilter, .recordList #recordList .editionType, .singleRecord h2, .copy .author { font-size: 1.1em; }
#contentInner .author, .copy .afterTitle, #monthFilter li { font-size: 1.35em; }
h3, #contentInner .afterTitle { font-size: 1.6em; }
h1 { font-size: 2.6em; }
a, .breadCrumb .current, .pagechooser .current, .recordList .whatsNew p.moreLinks a, .recordList .whatsNew .moreLinks li a, .singleRecord #widgets .moreLinks li a, #records .moreLinks li a, .pageCrossSell .moreLinks li a, a.moreLink, .fileList dd a, #nav li a { text-decoration: none; }
.recordList .pagechooser a { text-decoration: underline; }
.req, p.moreLinks a, .moreLinks li a, .pagechooser a, .recordList .whatsNew p.moreLinks a, .recordList .whatsNew .moreLinks li a, .singleRecord #widgets .moreLinks li a, #records .moreLinks li a, .pageCrossSell .moreLinks li a, a.moreLink, .fileList dd a, #containerInner .search h3, #nameFilter, .people .col2 .choiceItem .copy h3, .people .col2 .choiceItem .copy .subHeading, .recordList .people #records h3, .recordList .people #records h2, .searchResults .col2 .choiceItem .copy h2, #eventsBox a, #Events a, .singleRecord .img .editionLinks a, .singleRecord h2, .singleRecord .leadQuote, .singleRecord #editionsBox .ebookAvailable, .singleRecord .relatedLink a { font-weight: bold; }
.subHeading, h1, h2, .recordList .pagechooser a { font-weight: normal; }
#widgets .relatedCrossSell .copy .bookName { margin-top: 4px; }
.txt ol, .txt ul { padding-left: 25px; }
.txt li { list-style: outside none none; color: rgb(51, 51, 51); background: transparent url("arrow.gif") no-repeat scroll left top; padding-left: 13px; }
.fieldGroup { padding: 0px 0px 15px; }
.frcheckIfYouAreHuman { display: none; }
.req { display: inline; margin: 0px 0px 0px 5px; }
.fieldSpecs, .requiredExp { display: none; }
.fieldGroup .formrow { clear: both; margin: 0px 0px 5px; overflow: auto ! important; }
.fieldGroup .l { float: left; width: 210px; margin: 1px 0px 3px; }
.fieldGroup .r { float: left; width: 280px; }
.fieldGroup label { padding-left: 1px; }
.fieldGroup select, .fieldGroup textarea, .fieldGroup input { width: 254px; height: 18px; border: 1px solid rgb(102, 102, 102); margin: 0px; padding: 2px; font-family: Verdana,Arial,Tahoma,Helvetica,sans-serif; font-size: 0.9em; }
.fieldGroup select { width: 260px; height: 18px; padding: 1px 0px; }
* + html .fieldGroup select { height: 20px; }
.fieldGroup textarea { width: 254px; height: 120px; }
.fieldGroup .frmessage .r { position: relative; }
.fieldGroup .frmessage .req { position: absolute; top: 0px; right: 1px; }
.fieldGroup fieldset input, .fieldGroup .ftyesno input { width: 13px; height: 12px; border: medium none; background: transparent none repeat scroll 0% 0%; }
.fieldGroup .ftyesno .l { float: right; width: 480px; }
.fieldGroup .ftyesno .r { float: right; width: 30px; padding-top: 2px; }
.fieldGroup fieldset div { overflow: auto; padding-top: 5px; }
.fieldGroup fieldset div input, .fieldGroup fieldset div label { float: left; }
.fieldGroup fieldset div input { clear: both; }
.fieldGroup fieldset label { padding-left: 13px; }
.fieldGroup .ftbutton input { display: block; width: 32px; height: 20px; border: medium none; margin: 10px 20px 10px 0px; padding: 0px; background: transparent url("go.gif") no-repeat scroll 0px 0px; text-indent: -5000px; font-size: 0px; line-height: 0; cursor: pointer; }
.mailinglistSubscribe #content .col2, .mailinglistUnsubscribe #content .col2 { width: 650px; }
.mailinglistSubscribe #content .fieldGroup, .mailinglistUnsubscribe #content .fieldGroup { position: relative; margin-bottom: 30px; background-color: rgb(239, 239, 239); }
.mailinglistSubscribe #content .fieldGroup.default, .mailinglistUnsubscribe #content .fieldGroup.default { background-color: inherit; margin-bottom: 15px; }
.mailinglistSubscribe #content .fieldGroup .floatingNumbers, .mailinglistUnsubscribe #content .fieldGroup .floatingNumbers { position: absolute; top: 50px; left: 15px; font-size: 50px; line-height: 33px; height: 60px; color: rgb(205, 205, 205); }
.mailinglistSubscribe #content .fieldGroup h2, .mailinglistUnsubscribe #content .fieldGroup h2 { margin-bottom: 21px; padding: 0px 0px 0px 15px; background-color: rgb(208, 0, 0); color: rgb(255, 255, 255); line-height: 28px; font-size: 15px; font-weight: bold; }
.mailinglistSubscribe #content .fieldGroup .formrow, .mailinglistUnsubscribe #content .fieldGroup .formrow { padding-left: 60px; margin-bottom: 18px; }
.mailinglistSubscribe #content .fieldGroup .l, .mailinglistUnsubscribe #content .fieldGroup .l { width: 150px; }
.mailinglistSubscribe #content .fieldGroup .r, .mailinglistUnsubscribe #content .fieldGroup .r { width: 430px; }
.mailinglistSubscribe #content .req, .mailinglistUnsubscribe #content .req { margin-left: 18px; color: rgb(204, 0, 0); }
.mailinglistSubscribe #content .fieldGroup .frclientGroup, .mailinglistUnsubscribe #content .fieldGroup .frclientGroup { margin-bottom: 10px; }
.mailinglistSubscribe #content .frclientGroup .l, .mailinglistUnsubscribe #content .frclientGroup .l { display: none; }
.mailinglistSubscribe #content .ftchecklist input, .mailinglistUnsubscribe #content .ftchecklist input, .mailinglistSubscribe #content .ftyesno input, .mailinglistUnsubscribe #content .ftyesno input { position: relative; top: 4px; width: 13px; height: 13px; padding: 0px; margin: 0px; }
.mailinglistSubscribe #content .ftchecklist label, .mailinglistUnsubscribe #content .ftchecklist label, .mailinglistSubscribe #content .ftyesno label, .mailinglistUnsubscribe #content .ftyesno label { padding-left: 28px; }
.mailinglistSubscribe #content .ftchecklist .item, .mailinglistUnsubscribe #content .ftchecklist .item { padding-top: 0px; margin-bottom: 10px; }
.mailinglistSubscribe #content .ftyesno, .mailinglistUnsubscribe #content .ftyesno { position: relative; height: 23px; }
.mailinglistSubscribe #content .ftyesno .r, .mailinglistUnsubscribe #content .ftyesno .r { position: absolute; width: 40px; }
.mailinglistSubscribe #content .ftyesno .l, .mailinglistUnsubscribe #content .ftyesno .l { position: absolute; left: 73px; top: 1px; width: 400px; }
.mailinglistSubscribe #content .fieldGroup .ftbutton, .mailinglistUnsubscribe #content .fieldGroup .ftbutton { padding-left: 0px; margin-bottom: 0px; }
.mailinglistSubscribe #content .fieldGroup .ftbutton .l, .mailinglistUnsubscribe #content .fieldGroup .ftbutton .l { display: none; }
.mailinglistSubscribe #content .fieldGroup .ftbutton input, .mailinglistUnsubscribe #content .fieldGroup .ftbutton input { margin: 0px; padding: 0px 7px; height: 24px; width: auto; display: block; border: medium none; background: rgb(208, 0, 0) none repeat scroll 0% 0%; cursor: pointer; font-size: 1em; text-indent: 0px; text-align: center; line-height: 24px; color: rgb(255, 255, 255); font-weight: bold; font-family: Georgia,Times,serif; }
.mailinglistSubscribe .privacyPolicy, .mailinglistUnsubscribe .privacyPolicy { background-color: rgb(239, 239, 239); border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); padding: 10px; }
.mailinglistSubscribe .privacyPolicy p:last-child, .mailinglistUnsubscribe .privacyPolicy p:last-child { margin-bottom: 0px; }
.item { margin: 0px 0px 15px; }
.img, .copy { float: left; }
.img { width: 285px; }
.copy { width: 585px; margin: 0px; }
.copy h3 { padding: 0px; }
.subHeading { padding: 2px 0px; margin: 0px; }
.pagechooser { clear: both; margin: 10px 0px 0px; padding: 0px 10px 0px 0px; text-align: right; }
.txt #childNav ol, .txt .moreLinks { padding-left: 0px; }
.moreLinks li { float: left; background: transparent none repeat scroll 0px center; padding-left: 0px; }
* + html .moreLinks li a { background-position: 0px 1px; }
.recordList .whatsNew p.moreLinks a, .recordList .whatsNew .moreLinks li a, .singleRecord #widgets .moreLinks li a, #records .moreLinks li a, .pageCrossSell .moreLinks li a, a.moreLink, .singleRecord .relatedLink a { display: inline-block; width: auto; height: 13px; background-color: rgb(207, 14, 15); line-height: 1.6em; padding: 2px 6px 0px; }
.singleRecord .relatedLink a { display: inline; }
.fileList { padding-bottom: 0px; }
.fileList dd { padding-top: 12px; padding-bottom: 1px; }
.fileList dd a { text-transform: capitalize; }
.ext_pdf, .ext_doc { padding: 2px 0px 5px 30px; background: transparent url("pdf.png") no-repeat scroll 0px 0px; }
.ext_doc { background-image: url("doc.png"); }
#subnavList, #nav { position: absolute; left: 0px; width: 870px; height: 24px; padding: 3px 50px 0px; border-bottom: 1px solid rgb(153, 153, 153); }
#nav { top: 122px; background-color: rgb(255, 255, 255); }
#subnavList { height: 26px; top: 28px; background-color: rgb(238, 238, 238); z-index: 10; }
#nav li { float: left; padding: 0px 12px; background: transparent url("nav.gif") no-repeat scroll left top; }
#nav li.first { margin-left: 0px; }
#nav li.last { padding-right: 0px; }
#nav li #subnavList { display: none; }
#nav li.activeParent #subnavList, #nav li.active #subnavList { display: block; z-index: 90; }
#nav #subnavList li { background: transparent url("subnav.gif") no-repeat scroll left top; }
#nav li.first, #nav #subnavList li.first { background: transparent none repeat scroll 0% 0%; padding-left: 0px; }
.subnavTabs li { padding-left: 20px; padding-bottom: 5px; }
.recordList .pagechooser { width: 450px; float: right; }
.singleRecord .col2 { width: 870px; }
.subnavTabs { display: none; }
.singleRecord .choiceItem { padding-top: 25px; }
.singleRecord .img .imgBox { position: relative; }
.singleRecord .img .imgBox .moreLink { position: absolute; right: 55px; bottom: 0px; padding-left: 8px; padding-right: 8px; }
.search .fieldGroup .l { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
#widgets .col { width: 870px; padding-left: 50px; padding-right: 50px; }
.search { width: 345px; position: absolute; top: 3px; right: 45%; margin-right: -390px; }
* html .search { width: 360px; margin-right: -400px; }
#containerInner .search h3 { padding-top: 4px; width: 60px; float: left; margin: 0px; }
* html #containerInner .search h3 { padding-top: 0px; }
.search form { width: 285px; float: left; }
.search .fieldGroup select, .search .fieldGroup input { font-family: Georgia,Times,serif; border-color: rgb(0, 0, 0); }
.search .fieldGroup .formrow { float: left; clear: none; }
.search .fieldGroup .ftdropdown, .search .fieldGroup .ftdropdown .r { width: 116px; }
.search .fieldGroup select { width: 110px; }
.search .fieldGroup .fttext, .search .fieldGroup .fttext .r { width: 136px; }
.search .fieldGroup input { width: 130px; height: 12px; }
.search .fieldGroup .ftbutton, .search .fieldGroup .ftbutton .r { width: 25px; }
.search .fieldGroup .ftbutton input { width: 20px; height: 18px; margin: 0px 0px 0px 5px; }
.singleRecord .whatsNew #widgets .col, .singleRecord .editionArchive #widgets .col { padding-left: 0px; padding-right: 0px; width: 970px; }
#widgets { margin-top: 25px; border-top: 1px solid rgb(153, 153, 153); }
#widgets h3#relatedTitle { padding: 25px 0px 0px 50px; margin: 0px 0px 10px; }
#widgets .relatedCrossSell h3 { margin: 0px; }
.relatedCrossSell { padding-left: 50px; float: left; }
.relatedCrossSell { width: 435px; }
.relatedCrossSell .item { width: 435px; margin: 0px; }
.relatedCrossSell .item .img { width: 110px; }
.relatedCrossSell .item .copy { width: 290px; height: 130px; position: relative; }
.relatedCrossSell .item .copy p { margin-top: 5px; }
.relatedCrossSell .item .copy .moreLinks a { position: absolute; bottom: 0px; }
#childNav { margin-top: 14px; }
#childNav ol li:last-child { padding-top: 10px; }
#childNav ol li:first-child { padding-top: 0px; }
.homepage .imageSwapper, .sectionHomepage .imageSwapper { height: 330px; }
.homepage .col1, .sectionHomepage .col1 { padding-bottom: 29px; }
.homepage h1, .sectionHomepage h1 { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
.sectionHomepage #childNav { clear: both; display: none; }
.pageCrossSell, .sectionHomepage .col2 .choiceItem { position: relative; float: left; width: 220px; }
.pageCrossSell .item, .sectionHomepage .col2 .choiceItem .item { margin-bottom: 0px; }
.pageCrossSell .img, .sectionHomepage .col2 .choiceItem .img { width: 210px; }
.pageCrossSell .copy, .sectionHomepage .col2 .choiceItem .copy { position: relative; width: 180px; min-height: 143px; padding: 5px 0px 15px; line-height: 1.2em; }
.sectionHomepage .col2 .hasNoBoxImage .copy { margin-top: 120px; }
.pageCrossSell h2, .sectionHomepage .col2 .choiceItem h2 { padding-bottom: 7px; margin-bottom: 0px; }
.pageCrossSell p, .sectionHomepage .col2 .choiceItem p { margin-bottom: 0px; }
.pageCrossSell .moreLinks, .sectionHomepage .col2 .choiceItem .moreLinks { position: absolute; bottom: 0px; left: 0px; }
.sectionHomepage .col2 .choiceItem .moreLinks .bookNow { margin-right: 0px; }
.pageCrossSell .copy { width: 210px; min-height: 143px; }
.pageCrossSell h4 { padding: 3px 0px 5px; }
.pageCrossSell p, .pageCrossSell ul { padding: 0px 0px 8px; }
.pageCrossSell ul li { background: transparent url("arrow.gif") no-repeat scroll left top; padding-left: 13px; list-style-type: none; }
.pageCrossSell:last-child { width: 210px; }
.text2cols h1, .imageMap h1 { margin-left: 0px; }
.text2cols .col1, .imageMap .col1 { padding-bottom: 27px; }
.text2cols .col3 .txt, .imageMap .col3 .txt { position: relative; float: left; width: 410px; }
.text2cols .col3 .txt:first-child, .imageMap .col3 .txt:first-child { padding-right: 50px; }
#nameFilter { border-top: 1px solid rgb(153, 153, 153); border-bottom: 1px solid rgb(153, 153, 153); height: 25px; padding-left: 50px; padding-top: 5px; margin-bottom: 20px; }
#nameFilter li { background: transparent none repeat scroll 0% 0%; display: block; float: left; text-align: center; width: 20px; padding: 0px 0px 2px; margin: 0px 5px; }
#nameFilter li.first { margin-left: 0px; }
#nameFilter li.last { margin-right: 0px; }
#nameFilter li.active, #nameFilter li.active a { background-color: rgb(207, 14, 15); }
.recordList .author .choiceItem { width: 120px; height: 260px; padding: 0px 0px 0px 30px; margin-bottom: 10px; float: left; }
.recordList .author .record0, .recordList .author .record6, .recordList .author .record12, .recordList .author .record18 { padding-left: 0px; }
.recordList .author .img, .recordList .author .copy { width: 120px; }
.recordList .author .img { height: 185px; overflow: hidden; }
.recordList .author #childNav { float: left; height: 20px; margin-top: 10px; }
.singleRecord #editionsBox .choiceItem { clear: both; padding-top: 0px; padding-bottom: 20px; height: 140px; }
.singleRecord #editionsBox .choiceItem .img { width: 85px; }
.singleRecord #editionsBox .choiceItem .copy { padding-left: 25px; width: 120px; }
.singleRecord #editionsBox .choiceItem .img img { margin-bottom: 0px; }
.singleRecord #editionsBox .choiceItem .img { position: relative; }
.singleRecord #editionsBox .choiceItem .img .moreLink { position: relative; top: -15px; left: 110px; }
.singleRecord #editionsBox .choiceItem .copy h3 cufon { margin-bottom: 4px; }
.singleRecord .subHeading { margin-left: 50px; }
#editionsBox H2 { padding-bottom: 10px; }
#editionsBox H3 { margin-top: 15px; }
.event .col1 { width: 390px; padding-right: 0px; }
.event .col2 { width: 480px; padding-left: 0px; }
.event .mediaCaption { display: none; }
#Reviews br.clear { display: block; }
.homepage #widgets { margin: 0px; border: 0px none; }
#bookshelf { height: 585px; position: relative; width: 870px; }
.marker { position: absolute; width: 130px; height: 175px; }
.marker a.trigger { width: 130px; height: 175px; background: transparent none repeat scroll 0% 0%; display: block; }
.marker a.trigger { background: transparent url("marker.gif") no-repeat scroll left top; }
.popupBox p { margin-bottom: 5px; }
.popupBox { display: none; width: 315px; height: 197px; padding: 10px 15px 10px 10px; background: transparent url("bubble.png") no-repeat scroll 0px 0px; overflow: hidden; position: absolute; top: -180px; left: -100px; z-index: 500; }
* html .popupBox { background: transparent url("bubble.gif") no-repeat scroll 0px 0px; }
.popupBox .moreLink { margin-top: 5px; }
.pageMedia.mediaSwapper { position: relative; height: 330px; width: 870px; }
.event .pageMedia.mediaSwapper { height: 410px; width: 370px; }
.text2cols .pageMedia.mediaSwapper { height: 255px; }
.imageSwapper .mediaItem { display: none; }
.imageSwapper .first { display: block; }
.pageMedia .mediaCaption { display: none; }
.people .col2 .choiceItem .copy h3, .people .col2 .choiceItem .copy .subHeading { margin-left: 0px; }
.recordList .people #records h2 { clear: both; padding-top: 18px; padding-bottom: 18px; font-size: 1em; }
.recordList .people #records .choiceItem { float: left; width: 400px; }
.recordList .people #records .startingLine { padding-right: 30px; }
.recordList .people #records .choiceItem .item { margin-bottom: 30px; }
.recordList .people #records .choiceItem .img { width: 105px; }
.recordList .people #records .choiceItem .copy { position: relative; width: 295px; min-height: 115px; padding-bottom: 15px; line-height: 1.25em; }
.recordList .people #records .hasNoBoxImage .copy { margin-left: 105px; }
.recordList .people #records .choiceItem .copy h2 { padding-top: 0px; padding-bottom: 2px; }
.recordList .people #records .choiceItem .copy .subHeading { margin-bottom: 0px; padding-bottom: 1px; }
.recordList .people #records .choiceItem .copy p { margin-bottom: 10px; }
.recordList .people #records .choiceItem .moreLinks { position: absolute; bottom: 0px; left: 0px; }
.singleRecord .people .col2 .choiceItem h3 { margin-top: 0px; padding-bottom: 1px; }
.singleRecord .people .col2 .choiceItem .subHeading { padding-bottom: 14px; }
#popupMask { cursor: pointer; background: rgb(0, 0, 0) none repeat scroll 0% 0%; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; display: none; z-index: 999; }
* html #popupMask { position: absolute; }
#popupHolder { padding: 12px 0px 12px 15px; background-color: rgb(255, 255, 255); display: none; left: 50%; margin-left: -320px; top: 50%; margin-top: -300px; position: absolute; z-index: 999; }
#popupHolder > div { height: 450px; width: 628px; padding-right: 12px; overflow-y: auto; }
#popupHolder a.moreLink { position: absolute; top: 0px; right: 0px; }
.searchResults .col2 .choiceItem .copy h2 { padding-bottom: 3px; }
.searchResults .col2 .choiceItem .item { margin-bottom: 29px; }
.searchResults .col2 .choiceItem .copy { width: 835px; }
.searchResults .col2 .choiceItem .copy p { margin-bottom: 17px; }
.searchResults .col2 #childNav .backTo { display: none; }
.sectionHomepage #records .record3, .sectionHomepage #records .record7, .sectionHomepage #records .record11, .sectionHomepage #records .record15, .sectionHomepage #records .record19, .sectionHomepage #records .record23, .sectionHomepage #records .record27, .sectionHomepage #records .record31 { width: 210px; }
.sectionHomepage #records .choiceItem { padding-bottom: 30px; }
#eventsBox h4, .singleRecord #editionsBox h4 { cursor: pointer; background: transparent url("arrow.gif") no-repeat scroll left top; padding-left: 13px; }
#eventsBox h4.active, .singleRecord #editionsBox h4.active { background: transparent url("arrow-active.gif") no-repeat scroll left top; }
#eventsBox .fullText, .singleRecord #editionsBox .fullText { margin-left: 13px; }
.text2cols #widgets { padding-top: 25px; }
.text2cols .backTo { display: none; }
#monthFilter { width: 870px; height: 23px; margin-bottom: 20px; }
#monthFilter li { float: left; padding: 0px 30px; background: transparent url("monthnav.gif") no-repeat scroll left top; }
* html #monthFilter li a { width: 10%; }
#monthFilter li.active { padding: 0px 15px; }
#monthFilter li.first { padding-left: 0px; background: transparent none repeat scroll 0% 0%; }
#monthFilter li.first a { padding-left: 15px; }
#monthFilter li.active a { display: block; padding: 2px 15px 0px; height: 21px; background-color: rgb(207, 14, 15); }
.recordList .whatsNew #childNav, .recordList .whatsNew .pagechooser { display: none; }
#recordList { height: 1%; }
.recordList #featuredItem { margin-bottom: 35px; }
.recordList #recordList { margin-top: 15px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; padding: 25px 30px; }
.recordList #recordList .choiceItem { width: 120px; height: 270px; padding: 30px 52px 0px 0px; float: left; position: relative; }
.recordList #recordList .record4, .recordList #recordList .record9, .recordList #recordList .record14, .recordList #recordList .record19, .recordList #recordList .record24, .recordList #recordList .record29 { padding-right: 0px; }
.recordList #recordList .editionType { position: absolute; top: 0px; left: 0px; }
.recordList .whatsNew h2 { padding: 0px; font-size: 1.6em; }
.recordList .whatsNew h2 a { color: rgb(48, 48, 48); }
.recordList .whatsNew h3 { font-weight: normal; }
.recordList #recordList .img, .recordList #recordList .copy { width: 120px; }
.recordList #recordList .img { height: 185px; overflow: hidden; }
.recordList #recordList .item { margin-bottom: 0px; }
.recordList #recordList .copy p { margin-bottom: 0px; }
.recordList #recordList .copy h3 { width: 300px; }
.recordList #recordList .copy h4 { padding: 0px; margin-top: 20px; }
.singleRecord h2, .singleRecord h1 { padding: 0px; }
.singleRecord #Overview h2 { display: none; }
.singleRecord h2 { margin-top: 15px; }
.singleRecord .tab .dates { margin: 0px; }
.singleRecord #Abouttheauthor, .singleRecord #Reviews, .singleRecord #RelatedLinks { margin-bottom: 30px; }
.singleRecord #Abouttheauthor p, .singleRecord #Reviews p, .singleRecord #ReadExtract p, .singleRecord .relatedLink p { margin-bottom: 8px; }
.singleRecord #Abouttheauthor .authorBox { clear: both; }
.singleRecord #Abouttheauthor .imgBox, .singleRecord #Abouttheauthor p { display: block; float: left; }
.singleRecord #Abouttheauthor .imgBox { width: 105px; height: 110px; }
.singleRecord #Abouttheauthor p { width: 480px; position: relative; padding-bottom: 30px; }
.singleRecord #Abouttheauthor p .moreLink { position: absolute; bottom: 0px; left: 0px; }
.singleRecord #Reviews a, .singleRecord #ReadExtract a, .singleRecord #Reviews p, .singleRecord #ReadExtract p, .singleRecord #Reviews h3, .singleRecord #ReadExtract h3 { display: none; }
.singleRecord #Reviews a, .singleRecord #ReadExtract a, .singleRecord .relatedLink a { padding-bottom: 4px; }
.singleRecord #Reviews .fullText p, .singleRecord #ReadExtract .fullText p, .singleRecord #Reviews .fullText h3, .singleRecord #ReadExtract .fullText h3 { display: block; }
.singleRecord .imgBox { padding-top: 4px; margin-bottom: 25px; }
.singleRecord #editionsBox img { margin: 12px 0px; }
.singleRecord #editionsBox .ebookAvailable { padding-top: 25px; }
.singleRecord #Abouttheauthor .authorBox p {  }
.singleRecord #Abouttheauthor .authorBox p .moreLink { padding-bottom: 3px; padding-top: 5px; }
.singleRecord #RelatedLinks .relatedLink { padding-bottom: 20px; }
.singleRecord #RelatedLinks { padding-top: 0px; }
#lbOverlay { position: fixed; z-index: 9999; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0); cursor: pointer; }
#lbCenter, #lbBottomContainer { position: absolute; z-index: 9999; overflow: hidden; background-color: rgb(255, 255, 255); }
#lbFlash { position: absolute; left: 0px; top: 0px; }
.lbLoading { background: rgb(255, 255, 255) url("loading.gif") no-repeat scroll center center; }
#lbImage { position: absolute; left: 0px; top: 0px; border: 10px solid rgb(255, 255, 255); background-repeat: no-repeat; }
#lbPrevLink, #lbNextLink { display: block; position: absolute; top: 0px; width: 100px; outline: medium none; z-index: 200; }
#lbPrevLink { left: 0px; }
#lbPrevLink:hover { background: transparent url("prevlabel.gif") no-repeat scroll 0px 15%; }
#lbNextLink { right: 0px; }
#lbNextLink:hover { background: transparent url("nextlabel.gif") no-repeat scroll 100% 15%; }
#lbBottom { font-size: 0.7em; color: rgb(102, 102, 102); line-height: 1.4em; text-align: left; border-width: 10px; border-style: none solid solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#lbCloseLink { display: block; float: right; width: 66px; height: 22px; background: transparent url("closelabel.gif") no-repeat scroll center center; margin: 5px 0px; outline: medium none; }
#lbCaption, #lbNumber { margin-right: 71px; }
#lbCaption { font-weight: bold; }
#lbPrevLink, #lbNextLink { width: 0px; z-index: -100; }
#lbPrevLink:hover, #lbNextLink:hover { background: transparent none repeat scroll 0% 0%; }
#lbNumber { display: none; }
/* ::::: [internal] ::::: */

cufon { text-indent: 0px ! important; }
@media screen, projection {
  cufon { display: inline-block ! important; position: relative ! important; vertical-align: middle ! important; font-size: 1px ! important; line-height: 1px ! important; }
  cufon cufontext { display: inline-block ! important; width: 0px ! important; height: 0px ! important; overflow: hidden ! important; text-indent: -10000in ! important; }
  cufon canvas { position: relative ! important; }
}
@media print {
  cufon { padding: 0px ! important; }
  cufon canvas { display: none ! important; }
}
