@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > ol:nth-of-type(1) > li:nth-of-type(4) {
		padding-top: 0.62% !important;  /* 6px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > ol:nth-of-type(1) > li:nth-of-type(6) {
		padding-top: 0.62% !important;  /* 6px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > ol:nth-of-type(1) > li:nth-of-type(5) {
		padding-top: 0.62% !important;  /* 6px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > ol:nth-of-type(1) > li:nth-of-type(1) {
		padding-top: 0.62% !important;  /* 6px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > ol:nth-of-type(1) > li:nth-of-type(7) {
		padding-top: 0.62% !important;  /* 6px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > ol:nth-of-type(1) > li:nth-of-type(2) {
		padding-top: 0.62% !important;  /* 6px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > ol:nth-of-type(1) > li:nth-of-type(3) {
		padding-top: 0.62% !important;  /* 6px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > ol:nth-of-type(1) > li:nth-of-type(8) {
		padding-top: 0.62% !important;  /* 6px */
	}
}