/* ::::: https://ton.twimg.com/tfw/css/syndication_bundle_v1_a8b7ca7f4dc426e605bae285b2162e52c8f1021d.css ::::: */

.TwitterCard .u-linkClean, .TwitterCard .u-linkClean:hover, .TwitterCard .u-linkClean:focus, .TwitterCard .u-linkClean:active { text-decoration: none; }
.TwitterCard .u-linkComplex, .TwitterCard .u-linkComplex:hover, .TwitterCard .u-linkComplex:focus, .TwitterCard .u-linkComplex:active { text-decoration: none; }
.TwitterCard .u-linkComplex:hover .u-linkComplex-target, .TwitterCard .u-linkComplex:focus .u-linkComplex-target, .TwitterCard .u-linkComplex:active .u-linkComplex-target { text-decoration: underline; }
.TwitterCard .u-linkBlock, .TwitterCard .u-linkBlock:hover, .TwitterCard .u-linkBlock:focus, .TwitterCard .u-linkBlock:active { display: block; text-decoration: none; }
.TwitterCard .u-linkPseudo { display: inline; padding: 0px; border: 0px none; margin: 0px; background: transparent none repeat scroll 0% 0%; color: inherit; cursor: pointer; font: inherit; }
.TwitterCard .u-linkPseudo:hover, .TwitterCard .u-linkPseudo:focus, .TwitterCard .u-linkPseudo:active { background: transparent none repeat scroll 0% 0%; color: inherit; }
.TwitterCard .FlexEmbed { position: relative; overflow: hidden; height: 0px; padding: 0px; }
.TwitterCard .FlexEmbed-item, .TwitterCard .FlexEmbed iframe, .TwitterCard .FlexEmbed embed, .TwitterCard .FlexEmbed object { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
.TwitterCard .FlexEmbed--16by9 { padding-bottom: 56.25%; }
.TwitterCard .FlexEmbed--4by3 { padding-bottom: 75%; }
.TwitterCard .Button { background: transparent none repeat scroll 0% 0%; border: 1px solid; box-sizing: border-box; color: inherit; cursor: pointer; display: inline-block; font-family: inherit; font-style: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; line-height: normal; margin: 0px; padding: 0.4em 0.75em; position: relative; text-align: center; text-decoration: none; -moz-user-select: none; vertical-align: middle; white-space: nowrap; }
.TwitterCard .Button:hover, .TwitterCard .Button:focus, .TwitterCard .Button:active { text-decoration: none; }
.TwitterCard .Button:disabled, .TwitterCard .Button.is-disabled { cursor: default; }
.TwitterCard .Button::-moz-focus-inner { border: 0px none; padding: 0px; }
.TwitterCard .Button--full { display: block; width: 100%; }
.TwitterCard { background: transparent none repeat scroll 0% 0%; color: inherit; overflow: hidden; }
.TwitterCard--animation { animation-duration: 150ms; animation-name: fadeInTwitterCard; animation-timing-function: cubic-bezier(0.9, 0, 0.9, 0); }
.TwitterCard b, .TwitterCard strong { font-weight: 700; }
.TwitterCard a[tabindex="-1"] { outline: 0px none; }
.TwitterCard .is-emojiCharacter { font-weight: 400 ! important; }
.TwitterCard-title { font-size: 1em; margin: 0px 0px 0.15em; }
.TwitterCard-thumbnail { width: calc(100% - 1em); }
.TwitterCard-thumbnail--appIcon { border-radius: 17%; width: 66%; }
.TwitterCard-attribution--avatar { border-radius: 2px; vertical-align: middle; width: 20px; }
.TwitterCard-attribution--name { font-size: 1em; vertical-align: middle; }
.TwitterCard-container { border-radius: 0.42857em; border-width: 1px; border-style: solid; border-color: rgb(225, 232, 237); box-sizing: border-box; color: inherit ! important; overflow: hidden; }
.TwitterCard-container[data-theme="dark"] { border-color: rgb(136, 153, 166); }
.TwitterCard-container--clickable { cursor: pointer; outline-offset: -1px; transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s; }
.TwitterCard-container--clickable:hover { background: rgb(245, 248, 250) none repeat scroll 0% 0%; border-color: rgba(136, 153, 166, 0.5); }
.TwitterCard-container--clickable[data-theme="dark"]:hover { background-color: rgba(255, 255, 255, 0.1); border-color: rgb(255, 255, 255); }
.tcu-linkImgFocus:focus { outline: 2px solid ! important; outline-offset: -2px; }
.tcu-linkImgFocus img { display: block; }
.tcu-resetMargin { margin: 0px; }
@keyframes fadeInTwitterCard {
0% { opacity: 0; }
100% { opacity: 1; }
}
.TwitterCard .showOnSuccess, .TwitterCard .showOnError { display: none; }
.TwitterCard .successElements .showOnSuccess, .TwitterCard .errorElements .showOnError { display: block; }
.TwitterCard .hideOnSuccess, .TwitterCard .hideOnError { display: block; }
.TwitterCard .successElements .hideOnSuccess, .TwitterCard .errorElements .hideOnError { display: none; }
.tcu-dir[dir="rtl"] { direction: rtl ! important; text-align: right ! important; unicode-bidi: embed; }
.tcu-dir[dir="ltr"] { direction: ltr ! important; text-align: left ! important; unicode-bidi: embed; }
.tcu-imageAspect--1to1::before { padding-top: 100%; }
.tcu-imageAspect--1to2::before { padding-top: 200%; }
.tcu-imageAspect--2to1::before { padding-top: 50%; }
.tcu-imageAspect--1_91to1::before { padding-top: 52.25%; }
.tcu-imageAspect--3to4::before { padding-top: 133.33%; }
.tcu-imageAspect--4to3::before { padding-top: 75%; }
.tcu-imageAspect--5to2::before { padding-top: 40%; }
.tcu-imageAspect--16to9::before { padding-top: 56.25%; }
.tcu-imageAspect--4to1::before { padding-top: 25%; }
.tcu-imageContainer { position: relative; width: 100%; overflow: hidden; }
.tcu-imageContainer::before { content: ""; display: block; }
.tcu-imageWrapper { position: absolute; top: -1px; left: -1px; bottom: -1px; right: -1px; background-size: cover; background-position: center center; background-repeat: no-repeat; }
.tcu-imageWrapper img { width: 100%; height: 100%; opacity: 0; }
.tcu-graylink { color: rgb(170, 170, 170); text-decoration: none; }
.tcu-graylink:focus, .tcu-graylink:active, .tcu-graylink:hover { text-decoration: underline; }
.tcu-clickable:hover { cursor: pointer; }
.tcu-textWrap--break { word-wrap: break-word; }
.tcu-textMute { color: rgb(119, 119, 119); }
.tcu-textSmall { font-size: 0.857em; }
.tcu-textUppercase { text-transform: uppercase; }
.tcu-textLowercase { text-transform: lowercase; }
.tcu-textCapitalize { text-transform: capitalize; }
.tcu-textEllipse { max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.tcu-textBold { font-weight: 700; }
.tcu-textBold .is-emojiCharacter { font-weight: 400; }
.tcu-textEllipse--multiline { overflow: hidden; }
.tcu-textInherit { color: inherit; }
.tcu-textInherit:not(:focus):not(:hover):not(:active) { color: inherit; font-weight: inherit; text-decoration: inherit; }
.tcu-textInheritAll, .tcu-textInheritAll:hover, .tcu-textInheritAll:focus, .tcu-textInheritAll:active, .tcu-textInheritAll:visited { color: inherit; }
.TwitterCardsGrid .u-textNext { text-align: right; }
.TwitterCardsGrid .u-textPrev { text-align: left; }
.TwitterCardsGrid-rtl .u-textNext { text-align: left; }
.TwitterCardsGrid-rtl .u-textPrev { text-align: right; }
.TwitterCardsGrid { display: block; position: relative; text-align: left; }
.TwitterCardsGrid .TwitterCardsGrid-col--1 { float: left; margin-right: 0.32333em; width: calc(8.33333% - 0.30556em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--1 { margin-right: 0px; width: 8.33333%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--1 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--1, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--1 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--2 { float: left; margin-right: 0.32333em; width: calc(16.6667% - 0.27778em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--2 { margin-right: 0px; width: 16.6667%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--2 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--2, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--2 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--3 { float: left; margin-right: 0.32333em; width: calc(25% - 0.25em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--3 { margin-right: 0px; width: 25%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--3 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--3, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--3 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--4 { float: left; margin-right: 0.32333em; width: calc(33.3333% - 0.22222em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--4 { margin-right: 0px; width: 33.3333%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--4 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--4, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--4 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--5 { float: left; margin-right: 0.32333em; width: calc(41.6667% - 0.19444em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--5 { margin-right: 0px; width: 41.6667%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--5 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--5, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--5 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--6 { float: left; margin-right: 0.32333em; width: calc(50% - 0.16667em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--6 { margin-right: 0px; width: 50%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--6 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--6, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--6 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--7 { float: left; margin-right: 0.32333em; width: calc(58.3333% - 0.13889em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--7 { margin-right: 0px; width: 58.3333%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--7 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--7, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--7 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--8 { float: left; margin-right: 0.32333em; width: calc(66.6667% - 0.11111em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--8 { margin-right: 0px; width: 66.6667%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--8 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--8, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--8 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--9 { float: left; margin-right: 0.32333em; width: calc(75% - 0.08333em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--9 { margin-right: 0px; width: 75%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--9 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--9, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--9 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--10 { float: left; margin-right: 0.32333em; width: calc(83.3333% - 0.05556em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--10 { margin-right: 0px; width: 83.3333%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--10 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--10, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--10 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--11 { float: left; margin-right: 0.32333em; width: calc(91.6667% - 0.02778em); }
.TwitterCardsGrid .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--11 { margin-right: 0px; width: 91.6667%; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--11 { float: right; margin-right: 0px; margin-left: 0.32333em; }
.TwitterCardsGrid-rtl.TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--11, .TwitterCardsGrid-rtl .TwitterCardsGrid-noColSpacing .TwitterCardsGrid-col--11 { margin-left: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--12 { float: left; width: 100%; clear: both; }
.TwitterCardsGrid .TwitterCardsGrid-col--end { margin-right: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-col--end ~ * { clear: left; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerAll, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerAll { margin: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerPrevNext, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerPrevNext { margin-left: 0.32333em; margin-right: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerPrev, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerNext { margin-left: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerNext, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerPrev { margin-right: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerTopBottom, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerTopBottom { margin-top: 0.32333em; margin-bottom: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerTop, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerTop { margin-top: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerBottom, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerBottom { margin-bottom: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerNone, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerNone { margin: 0px; }
.TwitterCardsGrid .TwitterCardsGrid-float--next { float: right; }
.TwitterCardsGrid .TwitterCardsGrid-float--prev { float: left; }
.TwitterCardsGrid-rtl { text-align: right; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--end { margin-left: 0px; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-col--end ~ * { clear: right; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-float--next { float: left; }
.TwitterCardsGrid-rtl .TwitterCardsGrid-float--prev { float: right; }
.TwitterCardsGrid .TwitterCardsGrid-el--fullWidth { width: 100%; }
.TwitterCard .Button--default { background-color: rgb(245, 245, 245); background-image: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238)); border-color: rgb(204, 204, 204); border-radius: 4px; font-weight: 700; margin-top: 1em; padding: 0.5em 1em; }
.TwitterCard .Button--default:hover, .TwitterCard .Button--default:focus, .TwitterCard .Button--default:active { background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-color: rgb(170, 170, 170); color: inherit; }
.TwitterCard .Button--default:active { box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2) inset; }
.TwitterCard .Button--smallGray { background-color: rgb(245, 248, 250); background-image: linear-gradient(0rad, rgb(245, 248, 250), rgb(255, 255, 255)); border: 1px solid rgb(225, 232, 237); border-radius: 0.25em; font-weight: 700; margin-top: 0.5em; padding: 0.5em 1em; outline-offset: -4px ! important; }
.TwitterCard .Button--smallGray[disabled] { cursor: not-allowed; }
.TwitterCard .Button--smallGray:hover:not([disabled]), .TwitterCard .Button--smallGray:focus:not([disabled]), .TwitterCard .Button--smallGray:active:not([disabled]) { border: 1px solid rgb(225, 225, 234); background-color: rgb(225, 232, 237); background-image: linear-gradient(0rad, rgb(225, 232, 237), rgb(255, 255, 255)); color: inherit; }
.TwitterCard .Button--smallGray:active:not([disabled]) { box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2) inset; }
.TwitterCard .Button--smallGray[data-theme="dark"] { background-color: transparent; background-image: none; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); }
.TwitterCard .Button--smallGray[data-theme="dark"]:hover:not([disabled]), .TwitterCard .Button--smallGray[data-theme="dark"]:focus:not([disabled]), .TwitterCard .Button--smallGray[data-theme="dark"]:active:not([disabled]) { background-color: rgba(255, 255, 255, 0.1); background-image: none; border-color: rgb(255, 255, 255); }
.TwitterCard a.u-buttonLabel, .TwitterCard a.u-buttonLabel:hover, .TwitterCard a.u-buttonLabel:focus, .TwitterCard a.u-buttonLabel:active { text-decoration: none; color: rgb(41, 47, 51); }
.TwitterCard .BuyNowCard-content { padding: 1em; box-sizing: border-box; }
.TwitterCard .BuyNowCard-content .TwitterCard-title { max-height: 1.3em ! important; white-space: nowrap ! important; }
.TwitterCard .BuyNowCard-byline { color: rgb(170, 184, 194); margin-bottom: 0px; }
.TwitterCard .BuyNowCard-image.TwitterCardsGrid-col--12 { background-color: transparent; }
.TwitterCard .BuyNowCard-image--horizontal .tcu-imageWrapper { background-size: cover ! important; }
.TwitterCard .BuyNowCard-image--vertical .tcu-imageWrapper { background-size: contain ! important; }
.TwitterCard .BuyNowCard-image .tcu-imageWrapper { background-color: rgb(255, 255, 255); }
.TwitterCard .MomentCard { background-color: rgb(255, 255, 255); }
.TwitterCard .MomentCard-cover { border-color: inherit; border-right-width: 1px; border-right-style: solid; box-sizing: border-box; }
.TwitterCard .MomentCard-content { padding: 1.14286em 1em; }
.TwitterCard .MomentCard-title .TwitterCard-title { font-size: 1.14286em; line-height: 1.25em; margin-bottom: 0.35714em; max-height: 2.5em; overflow: hidden; }
.TwitterCard .MomentCard-title h2 { font-weight: 500; }
.TwitterCard .MomentCard-subtitle { color: rgb(136, 153, 166); font-size: 1em; font-weight: 300; margin: 0.57143em 0px; position: relative; }
.TwitterCard .MomentCard-author, .TwitterCard .MomentCard-authorName { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.TwitterCard .MomentCard-authorName { color: rgb(41, 47, 51); display: inline-block; font-weight: 500; max-width: 60%; vertical-align: middle; }
.TwitterCard .MomentCard-authorScreenName { vertical-align: middle; }
.TwitterCard .MomentCard-authorAvatar { border-radius: 2px; height: 1em; margin-right: 0.21429em; vertical-align: middle; width: 1em; }
.TwitterCard .MomentCard-description p { color: rgb(136, 153, 166); font-weight: 300; max-height: 6.5em; }
.TwitterCard .MomentCard-badge { bottom: 1.35714em; color: rgb(136, 153, 166); font-size: 1em; position: absolute; }
.TwitterCard .MomentCard-badgeText { font-weight: 300; line-height: 1.3em; margin-left: 1.1em; }
.TwitterCard .MomentCard-iconLightning { background-image: url("lightning_v1_de331faee24508022200dae98bac0dc01db54f32.svg"); background-repeat: no-repeat; background-size: cover; bottom: 1px; display: inline-block; height: 1.07143em; position: absolute; width: 0.57143em; }
.TwitterCard .MomentCard-iconVerified { background-image: url("verified_v1_de2dc8d110b03567621d054ebb48770d5fe228c6.svg"); background-repeat: no-repeat; background-size: cover; display: inline-block; height: 1em; vertical-align: middle; width: 1em; }
.TwitterCard .MomentCard--unavailable { background: rgb(225, 232, 237) none repeat scroll 0% 0%; border-radius: 0.35714em; color: rgb(136, 153, 166); padding: 0.85714em; text-align: center; }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w500"]) .MomentCard-cover { width: calc(41.6667% - 0.19444em); }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w500"]) .MomentCard-contentContainer { width: calc(58.3333% - 0.13889em); }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w500"]) .MomentCard-description p { max-height: 2.6em; }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w450"]) .MomentCard-description p { max-height: 1.3em; }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w400"]) .MomentCard-description { display: none ! important; }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w300"]) .MomentCard-title .TwitterCard-title, .TwitterCard .MomentCard:not([data-card-breakpoints~="w300"]) .MomentCard-subtitle, .TwitterCard .MomentCard:not([data-card-breakpoints~="w300"]) .MomentCard-badge { font-size: 0.92857em; }
.TwitterCard .MomentCard.TwitterCardsGrid-rtl .MomentCard-cover { border-left-width: 1px; border-left-style: solid; border-right: 0px none; }
.TwitterCard .PollXChoice { box-sizing: border-box; transition: all 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2) 0s; }
.TwitterCard .PollXChoice--noTransitions * { transition: none 0s ease 0s  ! important; }
.TwitterCard .PollXChoice[data-poll-image="true"] .tcu-imageWrapper { top: 0px; left: 0px; bottom: 0px; right: 0px; box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1) inset; }
.TwitterCard .PollXChoice[data-poll-image="true"] .tcu-imageWrapper::before { position: absolute; height: 100%; width: 100%; content: ""; }
.TwitterCard .PollXChoice-pollWrapper { position: relative; overflow: hidden; border-radius: 0.35714em; }
.TwitterCard .PollXChoice-optionsWrapper { box-sizing: border-box; padding-left: 4px; padding-right: 4px; }
.TwitterCard [data-poll-state="closed"] .PollXChoice-optionsWrapper, .TwitterCard [data-poll-state="final"] .PollXChoice-optionsWrapper { padding-left: 0px; padding-right: 0px; }
.TwitterCard [data-poll-image="true"] .PollXChoice-optionsWrapper { color: rgb(255, 255, 255); text-shadow: 0px 0px 1px rgb(0, 0, 0); bottom: 0px; position: absolute; padding: 9.14286em 1.28571em 1em; background: transparent linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0% 0%; }
.TwitterCard [data-poll-image="true"][data-poll-state="closed"] .PollXChoice-optionsWrapper, .TwitterCard [data-poll-image="true"][data-poll-state="final"] .PollXChoice-optionsWrapper { padding-left: 1.92857em; padding-right: 1.92857em; }
.TwitterCard [data-poll-image="true"][data-poll-state="final"][data-poll-init-state="final"] .PollXChoice-optionsWrapper { padding-left: 1.28571em; padding-right: 1.28571em; padding-bottom: 1.28571em; }
.TwitterCard .PollXChoice-optionContainer { margin-bottom: 0.57143em; position: relative; box-sizing: border-box; }
.TwitterCard .PollXChoice[data-theme="dark"][data-poll-state="closed"] .PollXChoice-optionContainer, .TwitterCard .PollXChoice[data-theme="dark"][data-poll-state="final"] .PollXChoice-optionContainer { color: rgb(41, 47, 51); }
.TwitterCard [data-poll-vote-majority*="1"] .PollXChoice-optionContainer[data-poll-index="1"] .PollXChoice-choice--chart { background: rgb(119, 199, 247) none repeat scroll 0% 0%; }
.TwitterCard [data-poll-vote-majority*="1"][data-poll-image="true"] .PollXChoice-optionContainer[data-poll-index="1"] .PollXChoice-choice--chart { background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%; }
.TwitterCard [data-poll-vote-majority*="2"] .PollXChoice-optionContainer[data-poll-index="2"] .PollXChoice-choice--chart { background: rgb(119, 199, 247) none repeat scroll 0% 0%; }
.TwitterCard [data-poll-vote-majority*="2"][data-poll-image="true"] .PollXChoice-optionContainer[data-poll-index="2"] .PollXChoice-choice--chart { background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%; }
.TwitterCard [data-poll-vote-majority*="3"] .PollXChoice-optionContainer[data-poll-index="3"] .PollXChoice-choice--chart { background: rgb(119, 199, 247) none repeat scroll 0% 0%; }
.TwitterCard [data-poll-vote-majority*="3"][data-poll-image="true"] .PollXChoice-optionContainer[data-poll-index="3"] .PollXChoice-choice--chart { background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%; }
.TwitterCard [data-poll-vote-majority*="4"] .PollXChoice-optionContainer[data-poll-index="4"] .PollXChoice-choice--chart { background: rgb(119, 199, 247) none repeat scroll 0% 0%; }
.TwitterCard [data-poll-vote-majority*="4"][data-poll-image="true"] .PollXChoice-optionContainer[data-poll-index="4"] .PollXChoice-choice--chart { background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-progress { display: inline-block; max-width: 100%; margin-left: 0.64286em; margin-right: 0.64286em; overflow: hidden; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.5, 1.2, 0.5, 1.2); transition-property: width, margin-left, margin-right; }
.TwitterCard .TwitterCardsGrid-rtl .PollXChoice-optionContainer .PollXChoice-progress { margin-left: 0.64286em; margin-right: 0.64286em; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-progress span { opacity: 0; }
.TwitterCard [data-poll-state="opened"] .PollXChoice-optionContainer .PollXChoice-progress { max-width: 0px; margin-left: -3em; margin-right: 3em; }
.TwitterCard .TwitterCardsGrid-rtl[data-poll-state="opened"] .PollXChoice-optionContainer .PollXChoice-progress { margin-left: 3em; margin-right: -3em; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice { overflow: hidden; position: relative; display: block; border-radius: 0.35714em; cursor: inherit; text-overflow: ellipsis; white-space: nowrap; }
.TwitterCard [data-poll-state="opened"] .PollXChoice-optionContainer .PollXChoice-choice:hover { cursor: pointer; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--selected { width: 0px; height: 1em; display: inline-block; transition: width 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2) 0s; padding: 0.14286em; background-size: 100% auto; background-repeat: no-repeat; background-position: center center; }
.TwitterCard [data-poll-user-choice] .PollXChoice-optionContainer .PollXChoice-choice--selected { width: 1em; margin-left: 0.64286em; }
.TwitterCard .TwitterCardsGrid-rtl[data-poll-user-choice] .PollXChoice-optionContainer .PollXChoice-choice--selected { margin-left: 0px; margin-right: 0.64286em; }
.TwitterCard [data-poll-user-choice="1"] .PollXChoice-optionContainer .PollXChoice-choice--selected[data-poll-index="1"] { background-image: url("checkmark_circle_v1_06f15f494d711c69b89c759b68d1fcbbecdca631.svg"); }
.TwitterCard [data-poll-user-choice="1"][data-poll-image="true"] .PollXChoice-optionContainer .PollXChoice-choice--selected[data-poll-index="1"] { background-image: url("checkmark_circle_white_v1_f84278ac7fea1dc5e4dae8d85c26ac5ac2b094ea.svg"); }
.TwitterCard [data-poll-user-choice="2"] .PollXChoice-optionContainer .PollXChoice-choice--selected[data-poll-index="2"] { background-image: url("checkmark_circle_v1_06f15f494d711c69b89c759b68d1fcbbecdca631.svg"); }
.TwitterCard [data-poll-user-choice="2"][data-poll-image="true"] .PollXChoice-optionContainer .PollXChoice-choice--selected[data-poll-index="2"] { background-image: url("checkmark_circle_white_v1_f84278ac7fea1dc5e4dae8d85c26ac5ac2b094ea.svg"); }
.TwitterCard [data-poll-user-choice="3"] .PollXChoice-optionContainer .PollXChoice-choice--selected[data-poll-index="3"] { background-image: url("checkmark_circle_v1_06f15f494d711c69b89c759b68d1fcbbecdca631.svg"); }
.TwitterCard [data-poll-user-choice="3"][data-poll-image="true"] .PollXChoice-optionContainer .PollXChoice-choice--selected[data-poll-index="3"] { background-image: url("checkmark_circle_white_v1_f84278ac7fea1dc5e4dae8d85c26ac5ac2b094ea.svg"); }
.TwitterCard [data-poll-user-choice="4"] .PollXChoice-optionContainer .PollXChoice-choice--selected[data-poll-index="4"] { background-image: url("checkmark_circle_v1_06f15f494d711c69b89c759b68d1fcbbecdca631.svg"); }
.TwitterCard [data-poll-user-choice="4"][data-poll-image="true"] .PollXChoice-optionContainer .PollXChoice-choice--selected[data-poll-index="4"] { background-image: url("checkmark_circle_white_v1_f84278ac7fea1dc5e4dae8d85c26ac5ac2b094ea.svg"); }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--chart { background: rgb(225, 232, 237) none repeat scroll 0% 0%; position: absolute; top: 0px; left: 0px; width: 0px; height: 100%; border-top-left-radius: 0.35714em; border-bottom-left-radius: 0.35714em; transition: all 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2) 0s; opacity: 1; }
.TwitterCard .TwitterCardsGrid-rtl .PollXChoice-optionContainer .PollXChoice-choice--chart { left: inherit; right: 0px; border-radius: 0px 0.35714em 0.35714em 0px; }
.TwitterCard [data-poll-image="true"] .PollXChoice-optionContainer .PollXChoice-choice--chart { background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.TwitterCard [data-poll-state="opened"] .PollXChoice-optionContainer .PollXChoice-choice--chart { opacity: 0; }
.TwitterCard [data-poll-state="final"] .PollXChoice-optionContainer .PollXChoice-choice--chart { border-top-right-radius: 0.35714em; border-bottom-right-radius: 0.35714em; }
.TwitterCard .TwitterCardsGrid-rtl[data-poll-state="final"] .PollXChoice-optionContainer .PollXChoice-choice--chart { border-top-left-radius: 0.35714em; border-bottom-left-radius: 0.35714em; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--radio { position: relative; display: inline-block; box-sizing: border-box; border: 1px solid rgb(136, 153, 166); width: 1.3em; height: 1.3em; border-radius: 1em; vertical-align: middle; margin-right: 0.64286em; transition: all 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2) 0s; background-size: 100% auto; background-repeat: no-repeat; }
.TwitterCard .TwitterCardsGrid-rtl .PollXChoice-optionContainer .PollXChoice-choice--radio { margin-right: 0px; margin-left: 0.64286em; margin-top: 0.14286em; }
.TwitterCard [data-poll-image="true"] .PollXChoice-optionContainer .PollXChoice-choice--radio { border: 1px solid rgb(255, 255, 255); }
.TwitterCard [data-poll-state="closed"] .PollXChoice-optionContainer .PollXChoice-choice--radio, .TwitterCard [data-poll-state="final"] .PollXChoice-optionContainer .PollXChoice-choice--radio { width: 0px; height: 0px; margin-right: 0px; margin-left: 0px; border-width: 0px; opacity: 0; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--input { position: relative; display: none; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--input:checked + .PollXChoice-choice--radio { border-color: rgb(25, 207, 134); background-image: url("checkmark_circle_green_v1_7c9f3050c9f6a85f83ede3cad267976a1633f0cc.svg"); }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--text { position: relative; display: inline-block; padding-top: 0.28571em; padding-bottom: 0.28571em; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--text span { vertical-align: middle; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor { display: block; border: 0px none; margin: 0px; padding: 0px; position: relative; color: rgb(41, 47, 51); text-decoration: none; outline: 0px none; }
.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor:link, .TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor:visited, .TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor:hover, .TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--anchor:active { color: rgb(41, 47, 51); text-decoration: none; outline: 0px none; }
.TwitterCard .PollXChoice[data-theme="dark"] .PollXChoice-optionContainer .PollXChoice-choice--anchor:link, .TwitterCard .PollXChoice[data-theme="dark"] .PollXChoice-optionContainer .PollXChoice-choice--anchor:visited, .TwitterCard .PollXChoice[data-theme="dark"] .PollXChoice-optionContainer .PollXChoice-choice--anchor:hover, .TwitterCard .PollXChoice[data-theme="dark"] .PollXChoice-optionContainer .PollXChoice-choice--anchor:active { color: rgb(255, 255, 255); }
.TwitterCard .PollXChoice-footer { color: rgb(136, 153, 166); clear: both; box-sizing: border-box; }
.TwitterCard [data-poll-image="true"] .PollXChoice-footer { color: rgb(255, 255, 255); }
.TwitterCard .PollXChoice-footer span { vertical-align: middle; }
.TwitterCard .PollXChoice-footer .PollXChoice-info { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: -2px -4px 0px; transition: all 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2) 0s; }
.TwitterCard .PollXChoice-footer .PollXChoice-info span { margin-top: calc(6px + 0.5em); }
.TwitterCard [data-poll-state="closed"] .PollXChoice-footer .PollXChoice-info, .TwitterCard [data-poll-state="final"] .PollXChoice-footer .PollXChoice-info { margin-left: 0px; }
.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote { display: inline-block; margin-right: 0.64286em; margin-top: 0px; padding: 4px; border: 1px solid transparent; border-radius: 0.33333em; transition: all 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2) 0s; }
.TwitterCard .TwitterCardsGrid-rtl .PollXChoice-footer .PollXChoice-info .PollXChoice-vote { margin-left: 0.64286em; margin-right: 0px; }
.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote:active { border-color: rgb(25, 207, 134); }
.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote button { margin-top: 0px ! important; outline: 0px none; }
.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a { display: block; position: relative; color: rgb(41, 47, 51); text-decoration: none; outline: 0px none; margin-top: 0px; }
.TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a:link, .TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a:visited, .TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a:hover, .TwitterCard .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a:active { color: rgb(41, 47, 51); text-decoration: none; outline: 0px none; }
.TwitterCard .PollXChoice[data-theme="dark"] .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a { background-color: transparent; background-image: none; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); }
.TwitterCard .PollXChoice[data-theme="dark"]:link .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a, .TwitterCard .PollXChoice[data-theme="dark"]:visited .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a, .TwitterCard .PollXChoice[data-theme="dark"]:hover .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a, .TwitterCard .PollXChoice[data-theme="dark"]:active .PollXChoice-footer .PollXChoice-info .PollXChoice-vote a { background-color: rgba(255, 255, 255, 0.1); background-image: none; border-color: rgb(255, 255, 255); }
.TwitterCard [data-poll-state="closed"] .PollXChoice-footer .PollXChoice-info .PollXChoice-vote, .TwitterCard [data-poll-state="final"] .PollXChoice-footer .PollXChoice-info .PollXChoice-vote { width: 0px; margin-right: 0px; margin-left: 0px; overflow: hidden; padding-left: 0px; padding-right: 0px; border-left: 0px none transparent; border-right: 0px none transparent; border-color: transparent; }
.TwitterCard [data-poll-state="closed"] .PollXChoice-footer .PollXChoice-info .PollXChoice-vote:active, .TwitterCard [data-poll-state="final"] .PollXChoice-footer .PollXChoice-info .PollXChoice-vote:active { border-color: transparent; }
.TwitterCard [data-poll-image="true"][data-poll-state="final"][data-poll-init-state="final"] .PollXChoice-footer .PollXChoice-info .PollXChoice-vote { display: none ! important; }
.TwitterCard .ProductAdCard-destination { color: rgb(136, 153, 166); max-height: 1.3em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.TwitterCard .ProductAdCard-destination .vanityUrl { text-transform: lowercase; }
.TwitterCard .ProductAdCard--small .ProductAdCard-content { padding: 0.55em 0.7em 0.7em; }
.TwitterCard .ProductAdCard--small .ProductAdCard-content .Button--smallGray { float: left; margin-top: 2.1em; }
.TwitterCard .SummaryCard-content { padding: 0.75em; box-sizing: border-box; text-decoration: none; }
.TwitterCard .SummaryCard-content .TwitterCard-title { max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.TwitterCard .SummaryCard-content p { overflow: hidden; }
.TwitterCard .SummaryCard-content .Button--smallGray { float: left; margin-top: 0.5em; }
.TwitterCard .SummaryCard-destination { text-transform: lowercase; color: rgb(136, 153, 166); max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.TwitterCard .SummaryCard-image { background-color: rgb(225, 232, 237); border-style: solid; border-color: inherit; border-width: 0px; }
.TwitterCard .SummaryCard-image .tcu-imageWrapper { background-image: url("link_v1_e64f66f5650df987d97cc5f00c4cb5987f367028.svg"); background-size: 3em auto; transition-property: opacity; transition-timing-function: cubic-bezier(0.9, 0, 0.9, 0); transition-duration: 0s; }
.TwitterCard .SummaryCard--small .SummaryCard-image { width: 8.81667em; border-right-width: 1px; }
.TwitterCard .SummaryCard--small .SummaryCard-contentContainer { width: calc(100% - 8.81667em - 2px); }
.TwitterCard .SummaryCard--small .SummaryCard-content p { max-height: 3.9em; }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w400"]) .SummaryCard-image { width: 7.51667em; height: 7.51667em; }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w400"]) .SummaryCard-contentContainer { width: calc(100% - 7.51667em - 2px); }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w400"]) .SummaryCard-content p { max-height: 2.6em; }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w300"]) .SummaryCard-image { width: 6.21667em; height: 6.21667em; }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w300"]) .SummaryCard-contentContainer { width: calc(100% - 6.21667em - 2px); }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w300"]) .SummaryCard-content p { max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.TwitterCard .SummaryCard--large[data-pe-name] .TwitterCard-title { white-space: normal; max-height: 2.6em; padding-right: 1em; }
.TwitterCard .SummaryCard--large .SummaryCard-image { border-bottom-width: 1px; }
.TwitterCard .SummaryCard--large .SummaryCard-content { padding-left: 1em; padding-right: 1em; }
.TwitterCard .SummaryCard--large .SummaryCard-content p { max-height: 2.6em; }
.TwitterCard .SummaryCard--large .SummaryCard-content .Button--smallGray { float: right; margin-top: 0.25em; }
.TwitterCard .SummaryCard--large:not([data-card-breakpoints~="w300"]) .SummaryCard-content p { max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
/* ::::: [internal] ::::: */

.SandboxRoot { display: none; }
/* ::::: http://platform.twitter.com/css/timeline.32e4c4ad05a2b0fae454cc63470e160f.light.ltr.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0px; }
[hidden], template { display: none; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0px; }
mark { background: rgb(255, 255, 0) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0px; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
input[type="search"] { box-sizing: content-box; }
fieldset { border: 1px solid silver; margin: 0px 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0px none; padding: 0px; }
textarea { overflow: auto; }
optgroup { font-weight: 700; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
.u-block { display: block ! important; }
.u-hidden { display: none ! important; }
.u-hiddenVisually { position: absolute ! important; overflow: hidden ! important; width: 1px ! important; height: 1px ! important; padding: 0px ! important; border: 0px none ! important; clip: rect(1px, 1px, 1px, 1px) ! important; }
.u-inline { display: inline ! important; }
.u-inlineBlock { display: inline-block ! important; max-width: 100%; }
.u-table { display: table ! important; }
.u-tableCell { display: table-cell ! important; }
.u-tableRow { display: table-row ! important; }
.u-cf::after, .u-cf::before { content: " "; display: table; }
.u-cf::after { clear: both; }
.u-nbfc { overflow: hidden ! important; }
.u-nbfcAlt { display: table-cell ! important; width: 10000px ! important; }
.u-floatLeft { float: left ! important; }
.u-floatRight { float: right ! important; }
.u-textBreak { word-wrap: break-word ! important; }
.u-textCenter { text-align: center ! important; }
.u-textLeft { text-align: left ! important; }
.u-textRight { text-align: right ! important; }
.u-textInheritColor { color: inherit ! important; }
.u-textKern { text-rendering: optimizelegibility; font-feature-settings: "kern", "kern"; font-kerning: normal; }
.u-textNoWrap { white-space: nowrap ! important; }
.u-textTruncate { max-width: 100%; overflow: hidden ! important; text-overflow: ellipsis ! important; white-space: nowrap ! important; word-wrap: normal ! important; }
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul { margin: 0px; padding: 0px; list-style: outside none none; border: medium none; }
b, i { font-weight: 400; font-style: normal; }
abbr, abbr[title] { border-bottom: 0px none; }
.SandboxRoot { direction: ltr; text-align: left; }
.SandboxRoot { display: block; background: transparent none repeat scroll 0px 0px; font: 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif; color: rgb(41, 47, 51); white-space: initial; }
a { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
a:visited { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
a:focus { color: rgb(85, 172, 238); text-decoration: underline; outline: 0px none; }
a:hover { color: rgb(85, 172, 238); text-decoration: none; outline: 0px none; }
a:active { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
.SandboxRoot.env-bp-min .u-hiddenInNarrowEnv { display: none; }
.SandboxRoot:not(.env-bp-min) .u-hiddenInWideEnv { display: none; }
.u-linkBlend:not(:focus):not(:hover):not(:active) { font-weight: inherit; color: inherit; text-decoration: inherit; }
.Avatar { max-width: 100%; max-height: 100%; }
.Avatar--fill { width: 100%; height: 100%; }
.Button, .Button:link, .Button:visited { background-color: rgb(245, 248, 250); background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 248, 250)); border: 1px solid rgb(225, 232, 237); border-radius: 4px; box-sizing: border-box; color: rgb(41, 47, 51); cursor: pointer; display: inline-block; font-family: inherit; font-style: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; line-height: normal; margin: 0px; padding: 8px 15px 7px; position: relative; text-align: center; text-decoration: none; -moz-user-select: none; white-space: normal; }
.Button::-moz-focus-inner { border: 0px none; padding: 0px; }
.Button:active, .Button:focus, .Button:hover { text-decoration: none; }
.Button:hover { background-color: rgb(225, 232, 237); background-image: linear-gradient(rgb(255, 255, 255), rgb(225, 232, 237)); border-color: rgb(225, 232, 237); }
.Button:focus { box-shadow: 0px 0px 0px 1px rgb(255, 255, 255), 0px 0px 0px 3px rgba(0, 132, 180, 0.5); }
.Button:active { background-color: rgb(225, 232, 237); background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 248, 250)); border-color: rgb(204, 214, 221); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) inset; }
.Button.is-disabled, .Button:disabled { cursor: default; opacity: 0.6; }
.Button-label { font-weight: 700; }
.Button--full { display: block; width: 100%; }
.Emoji--forText { height: 1.25em; width: 1.25em; padding: 0px 0.05em 0px 0.1em; vertical-align: -0.2em; }
.Emoji--forLinks { background-position: 0.1em center; background-repeat: no-repeat; background-size: 1.25em 1.25em; letter-spacing: 1.1em; line-height: 1.25em; padding-top: 0.15em; -moz-user-select: none; }
.Icon { display: inline-block; height: 1.25em; background-repeat: no-repeat; background-size: contain; vertical-align: text-bottom; }
.Icon--alertsPill { width: 1.07639em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2062%2072%22%3E%3Cpath%20fill%3D%22%23dd2e44%22%20d%3D%22M51%2014H11c-4.42%200-8%203.58-8%208v28c0%204.418%203.58%208%208%208h40c4.418%200%208-3.582%208-8V22c0-4.42-3.582-8-8-8zM12.107%2036.997L12%2037c-1.057%200-1.94-.826-1.996-1.894-.34-6.354%203.132-12.276%208.844-15.088.99-.487%202.19-.08%202.677.912s.08%202.19-.912%202.678c-4.272%202.103-6.87%206.532-6.615%2011.285.06%201.103-.788%202.045-1.89%202.104zm7%201L19%2038c-1.057%200-1.94-.827-1.996-1.894-.234-4.39%202.164-8.478%206.108-10.413.992-.488%202.19-.08%202.677.914.486.99.077%202.19-.915%202.676-2.503%201.23-4.025%203.824-3.876%206.61.056%201.104-.79%202.045-1.893%202.104zm21.106%209.11c-.21.774-.94%201.282-1.733%201.387-.093.014-.188.02-.285.02H34.4C33.93%2049.955%2032.593%2051%2031%2051c-1.596%200-2.932-1.047-3.398-2.485h-3.78c-.91%200-1.817-.544-2.046-1.426-.223-.86.042-1.692.792-2.145.2-.248%201.048-1.487%201.048-4.71%200-5.407%202.46-8.042%205.273-8.893.13-1.054%201.02-1.873%202.108-1.873%201.093%200%201.983.823%202.11%201.88%202.827.86%205.272%203.486%205.286%208.858.008%203.192.827%204.462%201.044%204.742.014.01.027.02.04.032.718.466.96%201.286.735%202.125zm4.785-11C44.94%2037.172%2044.058%2038%2043.002%2038c-.036%200-.072%200-.108-.003-1.103-.06-1.95-1-1.89-2.104.147-2.786-1.375-5.38-3.877-6.61-.992-.486-1.4-1.685-.914-2.676.487-.99%201.685-1.4%202.677-.914%203.944%201.936%206.34%206.024%206.108%2010.413zm7-1C51.94%2036.172%2051.058%2037%2050.002%2037c-.036%200-.072%200-.108-.003-1.103-.06-1.95-1-1.89-2.104.253-4.753-2.344-9.183-6.616-11.285-.99-.488-1.4-1.687-.912-2.678.487-.99%201.686-1.4%202.677-.912%205.713%202.812%209.184%208.734%208.845%2015.088z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M38.89%2025.693c-.992-.487-2.19-.077-2.677.914-.487.99-.078%202.19.914%202.676%202.503%201.23%204.025%203.824%203.876%206.61-.06%201.104.788%202.045%201.89%202.104.037.002.073.003.11.003%201.055%200%201.937-.827%201.994-1.894.234-4.39-2.163-8.477-6.107-10.413zM43.154%2020.02c-.99-.49-2.19-.08-2.677.91-.488.992-.08%202.19.912%202.68%204.27%202.102%206.868%206.53%206.614%2011.284-.06%201.103.788%202.045%201.89%202.104l.108.002c1.055%200%201.938-.827%201.995-1.894.34-6.354-3.13-12.276-8.843-15.087zM39.48%2044.982l-.04-.032c-.217-.28-1.036-1.55-1.044-4.742-.013-5.37-2.46-8-5.286-8.857-.127-1.057-1.017-1.88-2.11-1.88-1.09%200-1.98.818-2.11%201.872-2.812.85-5.272%203.486-5.272%208.892%200%203.224-.847%204.463-1.048%204.71-.75.453-1.016%201.285-.792%202.145.23.88%201.136%201.425%202.047%201.425h3.78C28.068%2049.953%2029.404%2051%2031%2051c1.593%200%202.93-1.047%203.398-2.485h3.796c.097%200%20.192-.007.285-.02.792-.105%201.523-.613%201.732-1.388.227-.84-.016-1.66-.732-2.125zM24.874%2029.283c.992-.486%201.4-1.685.914-2.676-.487-.993-1.685-1.402-2.677-.914-3.943%201.936-6.34%206.023-6.107%2010.413C17.06%2037.173%2017.943%2038%2019%2038c.035%200%20.07%200%20.107-.003%201.103-.06%201.95-1%201.89-2.104-.148-2.786%201.374-5.38%203.877-6.61zM20.613%2023.608c.99-.488%201.4-1.687.912-2.678s-1.687-1.4-2.677-.912c-5.712%202.812-9.183%208.733-8.844%2015.088C10.06%2036.174%2010.944%2037%2012%2037c.035%200%20.07%200%20.107-.003%201.103-.06%201.95-1%201.89-2.104-.253-4.752%202.343-9.182%206.616-11.285z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--lightning { width: 0.625em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2072%22%3E%3Cpath%20fill%3D%22%232b7bb9%22%20d%3D%22M30.738%2028.01C30.382%2027.387%2029.718%2027%2029%2027H18.145l6.686-15.194c.273-.62.215-1.333-.155-1.898C24.305%209.34%2023.675%209%2023%209H11c-.925%200-1.73.634-1.945%201.533l-6%2025c-.143.596-.005%201.224.374%201.705.38.482.957.762%201.57.762h7.278L8.034%2060.632c-.18.953.353%201.897%201.26%202.24.23.087.47.128.706.128.69%200%201.35-.357%201.72-.98l19-32c.367-.617.374-1.384.018-2.01z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--playCircle { width: 1.04166em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2072%22%3E%3Cpath%20opacity%3D%22.8%22%20fill%3D%22%231DA1F2%22%20d%3D%22M30%2012C16.768%2012%206%2022.765%206%2036s10.766%2023.998%2024%2023.998%2024-10.765%2024-24S43.235%2012%2030%2012z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M39.2%2034.34l-12-9c-.606-.455-1.418-.528-2.094-.19-.677.34-1.106%201.032-1.106%201.79v18c0%20.758.428%201.45%201.106%201.79.283.14.59.21.894.21.425%200%20.847-.136%201.2-.4l12-9c.503-.377.8-.97.8-1.6%200-.63-.295-1.223-.8-1.6z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M30%2015c11.598%200%2021%209.402%2021%2021s-9.4%2020.998-21%2020.998-21-9.402-21-21S18.4%2015%2030%2015m0-6C15.112%209%203%2021.11%203%2036s12.112%2026.998%2027%2026.998%2027-12.11%2027-27S44.888%209%2030%209z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--reply { width: 1.07639em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2062%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%238899a6%22%20d%3D%22M41%2031h-9V19c0-1.14-.647-2.183-1.668-2.688-1.022-.507-2.243-.39-3.15.302l-21%2016C5.438%2033.18%205%2034.064%205%2035s.437%201.82%201.182%202.387l21%2016c.533.405%201.174.613%201.82.613.453%200%20.908-.103%201.33-.312C31.354%2053.183%2032%2052.14%2032%2051V39h9c5.514%200%2010%204.486%2010%2010%200%202.21%201.79%204%204%204s4-1.79%204-4c0-9.925-8.075-18-18-18z%22%2F%3E%3C%2Fsvg%3E"); transform: scaleX(1); }
.Icon--retweet { width: 1.28472em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2074%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%238899a6%22%20d%3D%22M70.676%2036.644C70.166%2035.636%2069.13%2035%2068%2035h-7V19c0-2.21-1.79-4-4-4H34c-2.21%200-4%201.79-4%204s1.79%204%204%204h18c.552%200%20.998.446%201%20.998V35h-7c-1.13%200-2.165.636-2.676%201.644-.51%201.01-.412%202.22.257%203.13l11%2015C55.148%2055.545%2056.046%2056%2057%2056s1.855-.455%202.42-1.226l11-15c.668-.912.767-2.122.256-3.13zM40%2048H22c-.54%200-.97-.427-.992-.96L21%2036h7c1.13%200%202.166-.636%202.677-1.644.51-1.01.412-2.22-.257-3.13l-11-15C18.854%2015.455%2017.956%2015%2017%2015s-1.854.455-2.42%201.226l-11%2015c-.667.912-.767%202.122-.255%203.13C3.835%2035.365%204.87%2036%206%2036h7l.012%2016.003c.002%202.208%201.792%203.997%204%203.997h22.99c2.208%200%204-1.79%204-4s-1.792-4-4-4z%22%2F%3E%3C%2Fsvg%3E"); transform: scaleX(1); }
.Icon--retweetBadge { width: 1.04166em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2272%22%20viewBox%3D%220%200%2060%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%2319cf86%22%20d%3D%22M49%209H11c-4.418%200-8%203.582-8%208v38c0%204.418%203.582%208%208%208h38c4.418%200%208-3.582%208-8V17c0-4.418-3.582-8-8-8zM21%2044h10c1.657%200%203%201.343%203%203s-1.343%203-3%203H17c-1.657%200-3-1.343-3-3V36H9c-.77%200-1.47-.44-1.803-1.134-.333-.692-.24-1.516.24-2.115l8-10c.76-.947%202.365-.947%203.124%200l8%2010c.48.6.576%201.425.243%202.117C26.47%2035.56%2025.77%2036%2025%2036h-5v7c0%20.553.448%201%201%201zm31.562-4.75l-8%2010c-.38.474-.954.75-1.562.75s-1.182-.276-1.562-.75l-8-10c-.48-.6-.574-1.424-.24-2.116C33.53%2036.44%2034.23%2036%2035%2036h5v-7c0-.553-.447-1-1-1H29c-1.657%200-3-1.343-3-3s1.343-3%203-3h14c1.657%200%203%201.343%203%203v11h5c.77%200%201.47.44%201.803%201.134.333.692.24%201.515-.24%202.115z%22%2F%3E%3C%2Fsvg%3E"); transform: scaleX(1); }
.Icon--mute { width: 1.18055em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2068%2072%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20class%3D%22icon%22%20d%3D%22M37.105%209.21c-1.142-.45-2.447-.162-3.29.734L18.705%2026H7c-1.657%200-3%201.343-3%203v14c0%201.657%201.343%203%203%203h11.704l15.11%2016.056c.844.896%202.15%201.185%203.29.733C38.25%2062.334%2039%2061.23%2039%2060V12c0-1.23-.75-2.335-1.895-2.79zM45%2048c-.746%200-1.492-.276-2.073-.832-1.197-1.146-1.24-3.044-.094-4.24C44.733%2040.937%2046%2039%2046%2036s-1.267-4.938-3.168-6.927c-1.145-1.197-1.103-3.096.094-4.24%201.198-1.147%203.097-1.104%204.242.094C49.418%2027.277%2052%2030.663%2052%2036s-2.583%208.722-4.832%2011.073C46.578%2047.69%2045.79%2048%2045%2048z%22%2F%3E%3Cpath%20class%3D%22icon%22%20d%3D%22M54%2054c-.746%200-1.492-.276-2.073-.832-1.197-1.146-1.24-3.044-.094-4.24%203.365-3.52%205.152-7.992%205.168-12.938-.015-4.926-1.802-9.4-5.167-12.917-1.145-1.197-1.103-3.096.094-4.24%201.197-1.146%203.097-1.104%204.242.094%204.447%204.65%206.81%2010.55%206.83%2017.063-.02%206.532-2.383%2012.434-6.83%2017.083-.59.616-1.38.927-2.17.927z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }
.Icon--unmute { width: 1.18055em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2068%2072%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20class%3D%22icon%22%20d%3D%22M37.105%209.21c-1.142-.45-2.447-.162-3.29.734L18.705%2026H7c-1.657%200-3%201.343-3%203v14c0%201.657%201.343%203%203%203h11.704l15.11%2016.056c.844.896%202.15%201.185%203.29.733C38.25%2062.334%2039%2061.23%2039%2060V12c0-1.23-.75-2.335-1.895-2.79zM58.242%2036l5.88-5.88c1.17-1.17%201.17-3.07%200-4.24-1.172-1.173-3.072-1.173-4.243%200L54%2031.757l-5.88-5.88c-1.17-1.17-3.07-1.17-4.24%200-1.173%201.172-1.173%203.072%200%204.243L49.757%2036l-5.88%205.88c-1.17%201.17-1.17%203.07%200%204.24.586.587%201.354.88%202.122.88s1.536-.293%202.12-.88L54%2040.243l5.88%205.88c.584.585%201.352.878%202.12.878s1.536-.293%202.12-.88c1.173-1.17%201.173-3.07%200-4.24L58.243%2036z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }
.Icon--twitter { width: 1.25em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%2355acee%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--twitterWhite { width: 1.25em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--verified { width: 1.11111em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h64v72H0z%22%2F%3E%3Cpath%20fill%3D%22%2388c9f9%22%20d%3D%22M3%2037.315c0%204.125%202.162%207.726%205.363%209.624-.056.467-.09.937-.09%201.42%200%206.103%204.72%2011.045%2010.546%2011.045%201.295%200%202.542-.234%203.687-.686C24.22%2062.4%2027.827%2064.93%2032%2064.93c4.174%200%207.782-2.53%209.49-6.213%201.148.45%202.39.685%203.69.685%205.826%200%2010.546-4.94%2010.546-11.045%200-.483-.037-.953-.093-1.42C58.83%2045.04%2061%2041.44%2061%2037.314c0-4.37-2.42-8.15-5.933-9.946.427-1.203.658-2.5.658-3.865%200-6.104-4.72-11.045-10.545-11.045-1.302%200-2.543.232-3.69.688-1.707-3.685-5.315-6.216-9.49-6.216-4.173%200-7.778%202.53-9.492%206.216-1.146-.455-2.393-.688-3.688-.688-5.827%200-10.545%204.94-10.545%2011.045%200%201.364.23%202.662.656%203.864C5.42%2029.163%203%2032.944%203%2037.314z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M17.87%2039.08l7.015%206.978c.585.582%201.35.873%202.116.873.77%200%201.542-.294%202.127-.883.344-.346%2015.98-15.974%2015.98-15.974%201.172-1.172%201.172-3.07%200-4.243-1.17-1.17-3.07-1.172-4.242%200l-13.87%2013.863-4.892-4.868c-1.174-1.168-3.074-1.164-4.242.01-1.168%201.176-1.163%203.075.01%204.244z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--vine { width: 0.9375em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2054%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M48.23%2031.25c1.21-2.712%201.877-6.235%201.877-9.32%200-8.304-4.205-13.136-11.894-13.136-7.91%200-12.54%206.136-12.54%2014.225%200%208.01%203.71%2014.887%209.838%2018.018-2.573%205.194-5.853%209.775-9.264%2013.22-6.2-7.56-11.803-17.644-14.103-37.32H3c4.223%2032.774%2016.814%2043.21%2020.143%2045.213%201.883%201.147%203.505%201.09%205.227.112%202.705-1.555%2010.814-9.738%2015.32-19.33%201.883-.005%204.153-.223%206.417-.737V35.74c-1.384.32-2.726.465-3.934.465-6.776%200-11.997-4.774-11.997-13.082%200-4.068%201.558-6.184%203.767-6.184%202.1%200%203.493%201.9%203.493%205.754%200%202.186-.575%204.59-1.01%206.01%200%200%202.093%203.677%207.804%202.547z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--verifiedWhite { width: 1.11111em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2072%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M57%2037.288c0-4.07-2.25-7.59-5.523-9.26.397-1.12.613-2.328.613-3.598%200-5.683-4.394-10.283-9.818-10.283-1.212%200-2.368.216-3.436.64C37.246%2011.357%2033.886%209%2030%209c-3.885%200-7.242%202.357-8.837%205.787-1.066-.424-2.228-.64-3.434-.64-5.426%200-9.82%204.6-9.82%2010.283%200%201.27.217%202.478.612%203.598-3.27%201.67-5.52%205.192-5.52%209.26%200%203.84%202.01%207.193%204.99%208.96-.05.435-.082.874-.082%201.323%200%205.683%204.392%2010.284%209.818%2010.284%201.206%200%202.368-.218%203.434-.638C22.758%2060.644%2026.115%2063%2030%2063c3.887%200%207.246-2.356%208.837-5.784%201.068.42%202.224.638%203.436.638%205.423%200%209.818-4.6%209.818-10.283%200-.448-.034-.886-.085-1.322C54.98%2044.48%2057%2041.128%2057%2037.288zm-14.797-6.742s-14.558%2014.55-14.878%2014.872c-.546.548-1.263.823-1.98.823-.712%200-1.425-.27-1.97-.812l-6.53-6.498c-1.093-1.088-1.098-2.857-.01-3.95%201.087-1.095%202.856-1.098%203.95-.01l4.555%204.53%2012.914-12.906c1.09-1.09%202.86-1.09%203.95%200%201.09%201.093%201.09%202.86%200%203.952z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--heart { width: 0.9375em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2054%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%238899a6%22%20d%3D%22M38.723%2012c-7.187%200-11.16%207.306-11.723%208.13-.563-.824-4.496-8.13-11.723-8.13C8.79%2012%203.533%2018.163%203.533%2024.647%203.533%2039.964%2021.89%2055.907%2027%2056c5.11-.093%2023.467-16.036%2023.467-31.353C50.467%2018.163%2045.21%2012%2038.723%2012z%22%2F%3E%3C%2Fsvg%3E"); }
.IconButton { background-color: transparent; }
.Identity-name { font-weight: 700; }
.Identity-screenName { color: rgb(136, 153, 166); }
.Identity:focus { text-decoration: none; }
.Identity:focus .Identity-name { text-decoration: underline; }
.Identity--blended:focus, .Identity--blended:hover { color: inherit; }
.Identity--blended .Identity-screenName { color: inherit; }
.Identity--withInlineAvatar { line-height: 16px; }
.Identity--withInlineAvatar .Identity-avatar { width: 16px; height: 16px; border-radius: 2px; vertical-align: top; }
.PrettyLink:focus { text-decoration: none; }
.PrettyLink:focus .PrettyLink-value { text-decoration: underline; }
.CroppedImage { position: relative; display: inline-block; overflow: hidden; }
.CroppedImage-image { position: absolute; top: 0px; left: 0px; min-height: 100%; min-width: 100%; }
.CroppedImage--fillHeight .CroppedImage-image { height: 100%; width: auto; }
.CroppedImage--fillWidth .CroppedImage-image { width: 100%; height: auto; }
.FilledIframe { max-width: 100%; max-height: 100%; }
.FilledIframe--upscale { width: 100%; height: 100%; }
.ImageGrid { position: relative; }
.ImageGrid-image { position: absolute; width: 50%; padding-bottom: 25%; border: 0px solid rgb(255, 255, 255); transform: rotate(0deg); }
.ImageGrid--2 .ImageGrid-image { padding-bottom: 50%; }
.ImageGrid--2 .ImageGrid-image-0 { top: 0px; left: 0px; }
.ImageGrid--2 .ImageGrid-image-1 { top: 0px; right: 0px; border-left-width: 1px; }
.ImageGrid--3 .ImageGrid-image-0 { float: left; padding-bottom: 50%; top: 0px; left: 0px; }
.ImageGrid--3 .ImageGrid-image-1 { top: 0px; right: 0px; border-left-width: 1px; }
.ImageGrid--3 .ImageGrid-image-2 { bottom: 0px; right: 0px; border-width: 1px 0px 0px 1px; }
.ImageGrid--4 .ImageGrid-image-0 { top: 0px; left: 0px; }
.ImageGrid--4 .ImageGrid-image-1 { top: 0px; right: 0px; border-left-width: 1px; }
.ImageGrid--4 .ImageGrid-image-2 { bottom: 0px; left: 0px; border-top-width: 1px; }
.ImageGrid--4 .ImageGrid-image-3 { bottom: 0px; right: 0px; border-width: 1px 0px 0px 1px; }
.ImageGrid--roundedTop.ImageGrid--2 .ImageGrid-image-0 { border-top-left-radius: 4px; }
.ImageGrid--roundedTop.ImageGrid--2 .ImageGrid-image-1 { border-top-right-radius: 4px; }
.ImageGrid--roundedTop.ImageGrid--3 .ImageGrid-image-0 { border-top-left-radius: 4px; }
.ImageGrid--roundedTop.ImageGrid--3 .ImageGrid-image-1 { border-top-right-radius: 4px; }
.ImageGrid--roundedTop.ImageGrid--4 .ImageGrid-image-0 { border-top-left-radius: 4px; }
.ImageGrid--roundedTop.ImageGrid--4 .ImageGrid-image-1 { border-top-right-radius: 4px; }
.ImageGrid--roundedBottom.ImageGrid--2 .ImageGrid-image-0 { border-bottom-left-radius: 4px; }
.ImageGrid--roundedBottom.ImageGrid--2 .ImageGrid-image-1 { border-bottom-right-radius: 4px; }
.ImageGrid--roundedBottom.ImageGrid--3 .ImageGrid-image-0 { border-bottom-left-radius: 4px; }
.ImageGrid--roundedBottom.ImageGrid--3 .ImageGrid-image-2 { border-bottom-right-radius: 4px; }
.ImageGrid--roundedBottom.ImageGrid--4 .ImageGrid-image-2 { border-bottom-left-radius: 4px; }
.ImageGrid--roundedBottom.ImageGrid--4 .ImageGrid-image-3 { border-bottom-right-radius: 4px; }
.PlayButton { font-size: 64px; background-color: transparent; }
.PlayButton--centered { margin-left: -32px; margin-top: -32px; }
.NaturalImage { position: relative; }
.NaturalImage-image { max-width: 100%; max-height: 100%; border: 0px none; line-height: 0; height: auto; }
.NaturalImage-ctaOverlay { position: absolute; top: 50%; left: 50%; }
.NaturalImage--rounded .NaturalImage-image, .NaturalImage--roundedTop .NaturalImage-image { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.NaturalImage--rounded .NaturalImage-image, .NaturalImage--roundedBottom .NaturalImage-image { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.NaturalImage--fill .NaturalImage-image { width: 100%; }
.MediaCard-media { position: relative; width: 100%; overflow: hidden; }
.MediaCard-widthConstraint { max-width: 100%; }
.MediaCard-mediaContainer { position: relative; padding-bottom: 0px; background-color: rgb(245, 248, 250); }
.MediaCard-borderOverlay { position: absolute; top: 0px; left: 0px; z-index: 10; width: 100%; height: 100%; border: 1px solid rgba(225, 232, 237, 0.75); border-radius: 4px 4px 0px 0px; box-sizing: border-box; }
.MediaCard-nsfwInfo { display: none; position: absolute; top: 0px; left: 0px; z-index: 30; width: 100%; padding: 0px 14px; box-sizing: border-box; text-align: center; }
.MediaCard-nsfwHeading { margin: 14px; font-size: 14px; font-weight: 700; }
.MediaCard-dismissNsfw { margin: 14px; }
.MediaCard-mediaAsset { display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; line-height: 0; transition: opacity 0.5s ease 0s; background-color: rgb(255, 255, 255); }
.MediaCard-mediaPlaceholder { background: rgb(245, 248, 250) none repeat scroll 0% 0%; }
.MediaCard-actionControl { position: absolute; top: 50%; left: 50%; }
.MediaCard-attributionOverlay { position: absolute; bottom: 8px; right: 12px; z-index: 20; padding: 4px 8px 4px 4px; border-radius: 4px; border: 1px solid transparent; background-color: rgba(0, 0, 0, 0.3); color: rgb(221, 221, 221); text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7); font-size: 12px; line-height: 18px; transition: background-color 0.3s ease-in 0s; }
.MediaCard-attributionOverlay:hover { background-color: rgb(41, 47, 51); border-color: rgb(255, 255, 255); }
.MediaCard-siteUser { margin: 0px 0px 14px; }
.MediaCard-bylineUser { color: rgb(102, 117, 128); margin: 14px 0px; }
.MediaCard--mediaForward .MediaCard-media { background-color: rgb(245, 248, 250); }
.MediaCard--mediaForward .MediaCard-widthConstraint { margin: 0px auto; }
.MediaCard.is-nsfw .MediaCard-nsfwInfo { display: block; }
.MediaCard.is-nsfw .MediaCard-mediaAsset { opacity: 0; }
.PrerenderedCard { display: none; height: 0px; width: 100%; overflow: hidden; }
.PrerenderedCard.is-constrainedByMaxWidth { display: block; }
.PrerenderedCard.is-loaded { height: auto; }
.tcu-textMute, a.tcu-graylink { color: rgb(102, 117, 128); }
.timeline-Widget { max-width: 1200px; background-color: rgb(255, 255, 255); border-radius: 4px; }
.SandboxRoot.var-chromeless .timeline-Widget { background-color: transparent; }
.timeline-Body { position: relative; border-top: 1px solid rgba(15, 70, 100, 0.12); border-bottom: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-Body-notification { position: absolute; top: 0px; left: 0px; right: 0px; z-index: 10; }
.SandboxRoot.var-borderless .timeline-Body { border: medium none; }
.timeline-Viewport { overflow-x: hidden; overflow-y: scroll; }
.SandboxRoot.var-fully-expanded .timeline-Viewport { overflow-y: visible; }
.timeline-TweetList-tweet { border-top: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-TweetList-tweet:first-of-type { border-top: medium none; }
.SandboxRoot.var-borderless .timeline-TweetList-tweet { border: medium none; }
.timeline-Tweet { padding: 10px; }
.timeline-Tweet-retweetCredit { margin-bottom: 8px; margin-left: 18px; font-size: 12px; color: rgb(136, 155, 166); }
.timeline-Tweet-retweetCreditIcon { position: relative; top: 1px; display: inline-block; margin-right: 4px; font-size: 14px; }
.timeline-Tweet-author { position: relative; margin-bottom: 2px; padding-left: 40px; }
.timeline-Tweet-brand { font-size: 15.4px; }
.timeline-Tweet-brand .Icon { background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23e1e8ed%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E"); }
.timeline-Tweet-text { margin-left: 40px; margin-bottom: 12px; font-size: 12px; line-height: 18px; font-weight: 400; white-space: pre-wrap; word-wrap: break-word; }
.timeline-Tweet-text[dir="ltr"] { text-align: left; direction: ltr; }
.timeline-Tweet-text[dir="rtl"] { text-align: right; direction: rtl; }
.timeline-Tweet-media { margin-bottom: 12px; margin-left: 40px; font-size: 12px; }
.timeline-Tweet-metadata { float: right; margin-top: 2px; }
.timeline-Tweet-timestamp { font-size: 12px; line-height: 18px; color: rgb(225, 232, 237); }
.timeline-Tweet-actions { margin-left: 40px; }
.timeline-Tweet-action { display: inline-block; font-size: 17px; }
.timeline-Tweet-action + .timeline-Tweet-action { margin-left: 20px; }
.timeline-Tweet-withheldTitle { margin-bottom: 10px; font-size: 14px; font-weight: 700; }
.timeline-Tweet-withheldReason { font-size: 12px; }
.timeline-Tweet--isRetweet { padding-top: 7px; }
.timeline-Tweet:hover { background-color: rgba(160, 200, 220, 0.12); }
.timeline-Tweet:hover .timeline-Tweet-brand .Icon { background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%2355acee%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E"); }
.timeline-Tweet:hover .timeline-Tweet-timestamp { color: rgb(102, 117, 128); }
.timeline-Tweet:hover .timeline-Tweet-action .Icon--heart { background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2054%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23667580%22%20d%3D%22M38.723%2012c-7.187%200-11.16%207.306-11.723%208.13-.563-.824-4.496-8.13-11.723-8.13C8.79%2012%203.533%2018.163%203.533%2024.647%203.533%2039.964%2021.89%2055.907%2027%2056c5.11-.093%2023.467-16.036%2023.467-31.353C50.467%2018.163%2045.21%2012%2038.723%2012z%22%2F%3E%3C%2Fsvg%3E"); }
.timeline-Tweet:hover .timeline-Tweet-action .Icon--share { background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2056.8%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0-.7h48v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23667580%22%20d%3D%22M52.8%2032.9L42.2%2022.3c-1.4-1.4-3.6-1.4-5%200s-1.4%203.6%200%205l4.6%204.6H20.9c-1.9%200-3.5%201.6-3.5%203.5s1.6%203.5%203.5%203.5h20.9l-4.6%204.6c-1.4%201.4-1.4%203.6%200%205%20.7.7%201.6%201%202.5%201s1.8-.3%202.5-1l10.6-10.6c1.4-1.4%201.4-3.6%200-5z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23667580%22%20d%3D%22M24.4%2049.4h-13c-.6%200-1.1-.5-1.2-1.1V22.4c0-.7.5-1.2%201.2-1.2h12.9c1.9%200%203.5-1.6%203.5-3.5s-1.6-3.5-3.5-3.5H8.9c-3.1%200-5.7%202.5-5.7%205.7v31c0%203.1%202.5%205.7%205.7%205.7h15.5c1.9%200%203.5-1.6%203.5-3.5.1-2.1-1.5-3.7-3.5-3.7z%22%2F%3E%3C%2Fsvg%3E"); }
.SandboxRoot.env-bp-min .timeline-Tweet { padding: 10px; }
.SandboxRoot.env-bp-min .timeline-Tweet-retweetCredit { margin-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-retweetCreditIcon { margin-right: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-author { margin-top: 1px; padding-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-text { margin-top: 6px; margin-left: 0px; font-size: 12px; line-height: 18px; }
.SandboxRoot.env-bp-min .timeline-Tweet-media { margin-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-actions { margin-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-withheldTitle { font-size: 12px; }
.SandboxRoot.env-bp-330 .timeline-Tweet-text { font-size: 14px; line-height: 18px; }
.SandboxRoot.env-bp-430 .timeline-Tweet-text { font-size: 18px; line-height: 24px; font-weight: 300; }
.SandboxRoot.env-bp-550 .timeline-Tweet-text { font-size: 21px; line-height: 27px; font-weight: 300; }
.SandboxRoot.env-bp-660 .timeline-Tweet-text { font-size: 27px; line-height: 36px; font-weight: 300; }
.SandboxRoot.env-bp-820 .timeline-Tweet-text { font-size: 32px; line-height: 38px; font-weight: 300; }
.SandboxRoot.env-bp-970 .timeline-Tweet-text { font-size: 37px; line-height: 50px; font-weight: 300; }
.SandboxRoot.env-bp-550 .timeline-Tweet-author { padding-left: 44px; }
.SandboxRoot.env-bp-550 .timeline-Tweet-actions, .SandboxRoot.env-bp-550 .timeline-Tweet-media, .SandboxRoot.env-bp-550 .timeline-Tweet-text { margin-left: 44px; }
.SandboxRoot.env-bp-660 .timeline-Tweet-author, .SandboxRoot.env-bp-820 .timeline-Tweet-author { padding-left: 56px; }
.SandboxRoot.env-bp-660 .timeline-Tweet-actions, .SandboxRoot.env-bp-660 .timeline-Tweet-media, .SandboxRoot.env-bp-660 .timeline-Tweet-text, .SandboxRoot.env-bp-820 .timeline-Tweet-actions, .SandboxRoot.env-bp-820 .timeline-Tweet-media, .SandboxRoot.env-bp-820 .timeline-Tweet-text { margin-left: 56px; }
.SandboxRoot.env-bp-970 .timeline-Tweet-author { padding-left: 64px; }
.SandboxRoot.env-bp-970 .timeline-Tweet-actions, .SandboxRoot.env-bp-970 .timeline-Tweet-media, .SandboxRoot.env-bp-970 .timeline-Tweet-text { margin-left: 64px; }
.TweetAction:active, .TweetAction:focus, .TweetAction:hover { text-decoration: none; }
.TweetAction--heart:active .Icon, .TweetAction--heart:focus .Icon, .TweetAction--heart:hover .Icon { background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2054%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23e81c4f%22%20d%3D%22M38.723%2012c-7.187%200-11.16%207.306-11.723%208.13-.563-.824-4.496-8.13-11.723-8.13C8.79%2012%203.533%2018.163%203.533%2024.647%203.533%2039.964%2021.89%2055.907%2027%2056c5.11-.093%2023.467-16.036%2023.467-31.353C50.467%2018.163%2045.21%2012%2038.723%2012z%22%2F%3E%3C%2Fsvg%3E") ! important; }
.TweetAction--share:active .Icon, .TweetAction--share:focus .Icon, .TweetAction--share:hover .Icon { background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2056.8%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0-.7h48v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%230084b4%22%20d%3D%22M52.8%2032.9L42.2%2022.3c-1.4-1.4-3.6-1.4-5%200s-1.4%203.6%200%205l4.6%204.6H20.9c-1.9%200-3.5%201.6-3.5%203.5s1.6%203.5%203.5%203.5h20.9l-4.6%204.6c-1.4%201.4-1.4%203.6%200%205%20.7.7%201.6%201%202.5%201s1.8-.3%202.5-1l10.6-10.6c1.4-1.4%201.4-3.6%200-5z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%230084b4%22%20d%3D%22M24.4%2049.4h-13c-.6%200-1.1-.5-1.2-1.1V22.4c0-.7.5-1.2%201.2-1.2h12.9c1.9%200%203.5-1.6%203.5-3.5s-1.6-3.5-3.5-3.5H8.9c-3.1%200-5.7%202.5-5.7%205.7v31c0%203.1%202.5%205.7%205.7%205.7h15.5c1.9%200%203.5-1.6%203.5-3.5.1-2.1-1.5-3.7-3.5-3.7z%22%2F%3E%3C%2Fsvg%3E") ! important; }
.TweetAuthor { max-width: 100%; overflow: hidden ! important; text-overflow: ellipsis ! important; white-space: nowrap ! important; word-wrap: normal ! important; }
.TweetAuthor-avatar { position: absolute; top: 0px; left: 0px; width: 32px; height: 32px; overflow: hidden; border-radius: 4px; }
.TweetAuthor-name { font-size: 12px; line-height: 18px; font-weight: 700; }
.TweetAuthor-screenName { font-size: 12px; line-height: 18px; font-weight: 300; }
.SandboxRoot.env-bp-min .TweetAuthor-avatar { position: static; top: auto; left: auto; float: left; margin-right: 8px; }
.SandboxRoot.env-bp-min .TweetAuthor-screenName::before { white-space: pre; content: "\a ‎"; }
.SandboxRoot.env-bp-330 .TweetAuthor-name, .SandboxRoot.env-bp-430 .TweetAuthor-name, .SandboxRoot.env-bp-550 .TweetAuthor-name { font-size: 14px; line-height: 18px; }
.SandboxRoot.env-bp-330 .TweetAuthor-screenName, .SandboxRoot.env-bp-430 .TweetAuthor-screenName, .SandboxRoot.env-bp-550 .TweetAuthor-screenName { font-size: 13px; line-height: 18px; }
.SandboxRoot.env-bp-660 .TweetAuthor-name, .SandboxRoot.env-bp-820 .TweetAuthor-name, .SandboxRoot.env-bp-970 .TweetAuthor-name { font-size: 18px; line-height: 27px; }
.SandboxRoot.env-bp-660 .TweetAuthor-screenName, .SandboxRoot.env-bp-820 .TweetAuthor-screenName, .SandboxRoot.env-bp-970 .TweetAuthor-screenName { font-size: 14px; line-height: 18px; }
.SandboxRoot.env-bp-550 .TweetAuthor-avatar { width: 36px; height: 36px; }
.SandboxRoot.env-bp-660 .TweetAuthor-avatar, .SandboxRoot.env-bp-820 .TweetAuthor-avatar { width: 48px; height: 48px; }
.SandboxRoot.env-bp-970 .TweetAuthor-avatar { width: 56px; height: 56px; }
.timeline-ShareMenu { position: relative; }
.timeline-ShareMenu-container { position: absolute; left: -18px; z-index: 1000; display: none; padding-bottom: 4px; min-width: 130px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 4px; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }
.timeline-ShareMenu-caret, .timeline-ShareMenu-caret::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.timeline-ShareMenu-caret { left: 25px; margin-left: -9px; border-width: 9px; }
.timeline-ShareMenu-caret::after { margin-left: -8px; border-width: 8px; content: ""; }
.timeline-ShareMenu-title { padding: 10px 15px 5px; font-size: 12px; font-weight: 300; color: rgb(102, 117, 128); }
.timeline-ShareMenu-option { display: inline-block; width: 100%; padding: 2px 15px; font-size: 14px; color: rgb(41, 47, 51) ! important; box-sizing: border-box; white-space: nowrap; }
.timeline-ShareMenu-option:focus, .timeline-ShareMenu-option:hover { color: rgb(255, 255, 255) ! important; background-color: rgb(59, 148, 217); text-decoration: none ! important; }
.timeline-ShareMenu.is-openedAbove .timeline-ShareMenu-container { bottom: 100%; display: block; margin-bottom: 10px; }
.timeline-ShareMenu.is-openedAbove .timeline-ShareMenu-caret { bottom: -9px; border-bottom-width: 0px; border-top-color: rgba(15, 70, 100, 0.12); }
.timeline-ShareMenu.is-openedAbove .timeline-ShareMenu-caret::after { content: " "; bottom: 1px; border-bottom-width: 0px; border-top-color: rgb(255, 255, 255); }
.timeline-ShareMenu.is-openedBelow .timeline-ShareMenu-container { top: 100%; display: block; margin-top: 10px; }
.timeline-ShareMenu.is-openedBelow .timeline-ShareMenu-caret { top: -9px; border-top-width: 0px; border-bottom-color: rgba(15, 70, 100, 0.12); }
.timeline-ShareMenu.is-openedBelow .timeline-ShareMenu-caret::after { content: " "; top: 1px; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.SandboxRoot.env-bp-min .timeline-ShareMenu-option { font-size: 12px; }
.timeline-ShowMoreButton { box-sizing: border-box; display: block; padding: 10px 0px; margin: 0px; width: 100%; font-size: 14px; color: rgb(59, 148, 217); text-align: center; background-color: rgb(245, 248, 250); border: 0px none; outline: 0px none; cursor: pointer; }
.timeline-ShowMoreButton:focus, .timeline-ShowMoreButton:hover { background-color: rgb(245, 248, 250); text-decoration: underline; }
.SandboxRoot.env-bp-min .timeline-ShowMoreButton { font-size: 12px; }
.timeline-NewTweetsNotification { display: none; border-bottom: 1px solid rgba(15, 70, 100, 0.12); opacity: 0; }
.timeline-NewTweetsNotification.is-displayed { display: block; }
.timeline-NewTweetsNotification.is-opaque { opacity: 1; }
.timeline-LoadMore-prompt { border-top: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-LoadMore-endOfTimelineMessage { display: none; padding: 10px 0px 40px; font-size: 12px; text-align: center; }
.timeline-LoadMore.is-atEndOfTimeline .timeline-LoadMore-prompt { display: none; }
.timeline-LoadMore.is-atEndOfTimeline .timeline-LoadMore-endOfTimelineMessage { display: block; }
.SandboxRoot.var-static .timeline-LoadMore { display: none; }
.timeline-EmptyMessage { width: 100%; padding: 20px 10px 0px; text-align: center; box-sizing: border-box; }
.timeline-EmptyMessage-message { margin-bottom: 10px; font-size: 16.8px; }
.SandboxRoot.env-bp-min .timeline-EmptyMessage-message { font-size: 14.4px; }
.timeline-Header { padding: 10px; }
.timeline-Header-title { font-size: 21px; font-weight: 300; line-height: 24px; color: rgb(41, 47, 51); }
.timeline-Header-byline { font-size: 12px; font-weight: 400; line-height: 16px; color: rgb(136, 153, 166); }
.timeline-Header-subtitle { margin-top: 5px; font-size: 12px; font-weight: 400; line-height: 16px; color: rgb(136, 153, 166); }
.timeline-Header-description { margin-top: 5px; font-size: 12px; line-height: 18px; color: rgb(136, 153, 166); }
.SandboxRoot.var-headerless .timeline-Header { display: none; }
.SandboxRoot.env-bp-430 .timeline-Header-title, .SandboxRoot.env-bp-550 .timeline-Header-title { font-size: 27px; line-height: 36px; }
.SandboxRoot.env-bp-660 .timeline-Header-title, .SandboxRoot.env-bp-820 .timeline-Header-title { font-size: 32px; line-height: 38px; }
.SandboxRoot.env-bp-970 .timeline-Header-title { font-size: 37px; line-height: 50px; }
.SandboxRoot.env-bp-660 .timeline-Header-byline, .SandboxRoot.env-bp-660 .timeline-Header-subtitle, .SandboxRoot.env-bp-820 .timeline-Header-byline, .SandboxRoot.env-bp-820 .timeline-Header-subtitle, .SandboxRoot.env-bp-970 .timeline-Header-byline, .SandboxRoot.env-bp-970 .timeline-Header-subtitle { font-size: 14px; line-height: 18px; }
.SandboxRoot.env-bp-330 .timeline-Header-description, .SandboxRoot.env-bp-430 .timeline-Header-description, .SandboxRoot.env-bp-550 .timeline-Header-description { font-size: 14px; line-height: 18px; }
.SandboxRoot.env-bp-660 .timeline-Header-description { font-size: 16px; line-height: 21px; }
.SandboxRoot.env-bp-820 .timeline-Header-description, .SandboxRoot.env-bp-970 .timeline-Header-description { font-size: 18px; line-height: 27px; }
.timeline-Footer { padding: 15px; font-size: 12px; }
.SandboxRoot.var-footerless .timeline-Footer { display: none; }
.Icon--heart { background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2054%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23e1e8ed%22%20d%3D%22M38.723%2012c-7.187%200-11.16%207.306-11.723%208.13-.563-.824-4.496-8.13-11.723-8.13C8.79%2012%203.533%2018.163%203.533%2024.647%203.533%2039.964%2021.89%2055.907%2027%2056c5.11-.093%2023.467-16.036%2023.467-31.353C50.467%2018.163%2045.21%2012%2038.723%2012z%22%2F%3E%3C%2Fsvg%3E"); }
.Icon--share { width: 0.98611em; background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2056.8%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0-.7h48v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23e1e8ed%22%20d%3D%22M52.8%2032.9L42.2%2022.3c-1.4-1.4-3.6-1.4-5%200s-1.4%203.6%200%205l4.6%204.6H20.9c-1.9%200-3.5%201.6-3.5%203.5s1.6%203.5%203.5%203.5h20.9l-4.6%204.6c-1.4%201.4-1.4%203.6%200%205%20.7.7%201.6%201%202.5%201s1.8-.3%202.5-1l10.6-10.6c1.4-1.4%201.4-3.6%200-5z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23e1e8ed%22%20d%3D%22M24.4%2049.4h-13c-.6%200-1.1-.5-1.2-1.1V22.4c0-.7.5-1.2%201.2-1.2h12.9c1.9%200%203.5-1.6%203.5-3.5s-1.6-3.5-3.5-3.5H8.9c-3.1%200-5.7%202.5-5.7%205.7v31c0%203.1%202.5%205.7%205.7%205.7h15.5c1.9%200%203.5-1.6%203.5-3.5.1-2.1-1.5-3.7-3.5-3.7z%22%2F%3E%3C%2Fsvg%3E"); }
.wvp-player-container iframe { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
.SandboxRoot.env-bp-min { font-size: 12px; }
/* ::::: [internal] ::::: */

.tcu-image-755314249312849922 { background-image: url("proxy.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-755308502726352896 { background-image: url("proxy_001.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-754939343110676480 { background-image: url("proxy_002.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-753822916278575105 { background-image: url("proxy_003.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-752694684892340224 { background-image: url("proxy_004.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-751949800732368896 { background-image: url("proxy_005.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-751579947722911744 { background-image: url("proxy_006.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-751205111297290240 { background-image: url("proxy_007.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-750647769489108992 { background-image: url("proxy_008.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-750453377746690048 { background-image: url("proxy_009.jpg") ! important; background-size: cover ! important; }
/* ::::: [internal] ::::: */

.tcu-image-750336710601498624 { background-image: url("proxy_010.jpg") ! important; background-size: cover ! important; }
