/* Code tidied up by ScrapBook */
@media print {
  .content-main-wrapper #block-uib-study-study-content .ui-tabs-panel h3, .content-main-wrapper #block-uib-study-study-content .ui-tabs-panel h4, .content-main-wrapper #block-uib-study-study-content .ui-tabs-panel p, .content-top-wrapper .content-top p, .content-main-wrapper .field-name-field-uib-text h2, .content-main-wrapper .field-name-field-uib-text h3, .content-main-wrapper .field-name-field-uib-text p, .content-main-wrapper .field-name-field-uib-text ol li, .content-main-wrapper .field-name-field-uib-text ul li, .content-main-wrapper .field-name-field-uib-text td, .content-main-wrapper ul li { font-size: 12pt; }
  a:link, a:visited { text-decoration: underline ! important; }
  .site-name a:link, .site-name a:visited, .subheader__wrapper h2 a { text-decoration: none ! important; }
  .content-top-wrapper a[href]:after, .content-main-wrapper a[href]:after, .footer-top-wrapper a[href]:after, .content-bottom-wrapper a[href]:after, .content a[href]:after { content: " (" attr(href) ")"; font-weight: normal; font-size: 10pt; }
  .content, .content-main-wrapper, .block-uib-study { float: none ! important; width: 100% ! important; margin: 0px ! important; padding: 0px ! important; }
  body, #main, .content, .content-main-wrapper, .subheader__wrapper, .footer-top-wrapper, .header__wrapper { color: rgb(0, 0, 0); background-color: transparent ! important; background-image: none ! important; }
  .header__wrapper .site-name a { color: rgb(0, 0, 0); position: absolute; left: 0px; }
  .content-top-wrapper, .subheader__wrapper h2 { text-align: left; }
  .header__wrapper .header .logo__link, .header__wrapper .header .region-header, .header__wrapper .header .mobile-menu, nav, .messages, .error, #skip-link, #top-region-wrapper, #block-locale-language, #toolbar, #navigation, .region-sidebar-first, .region-sidebar-second, #footer, .footer-wrapper, .footer-bottom-wrapper, .breadcrumb, .tabs, .action-links, .links, .book-navigation, .forum-topic-navigation, .pager, .feed-icons, .service-links, #block-uib-area-node-children, #bottom-region-wrapper, #menu-search-mobile-wrapper, #desktop-tablet-language, .ui-tabs-nav, #block-uib-area-news-and-calendar, #chatbot, .more-link { visibility: hidden; display: none; }
  h1, h2, h3, h4 { page-break-after: avoid; }
}
