/* Code tidied up by ScrapBook */
#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0px; left: 0px; z-index: 9999; overflow: hidden; }
#cboxOverlay { position: fixed; width: 100%; height: 100%; }
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; }
#cboxTitle { margin: 0px; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { border: 0px none; padding: 0px; margin: 0px; overflow: visible; width: auto; background: none repeat scroll 0% 0% transparent; cursor: pointer; }
#cboxPrevious:active, #cboxNext:active, #cboxClose:active, #cboxSlideshow:active { outline: 0px none; }
#colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; }
#cboxOverlay { background: none repeat scroll 0% 0% rgb(0, 0, 0); }
#colorbox { background: url("bg_tab.png") repeat-x scroll center bottom rgb(255, 255, 255); box-shadow: 3px 3px 16px rgb(51, 51, 51); border-bottom-left-radius: 9px; border-bottom-right-radius: 9px; outline: 0px none; }
#colorbox, #colorbox div { overflow: visible; }
#cboxWrapper { border-bottom-left-radius: 9px; border-bottom-right-radius: 9px; }
#cboxTopLeft { width: 0px; height: 0px; }
#cboxTopCenter { height: 0px; }
#cboxTopRight { width: 0px; height: 0px; }
#cboxBottomLeft { width: 15px; height: 10px; }
#cboxBottomCenter { height: 10px; }
#cboxBottomRight { width: 15px; height: 10px; }
#cboxMiddleLeft { width: 0px; }
#cboxMiddleRight { width: 0px; }
#cboxContent { background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; margin-bottom: 28px; }
#cboxTitle { left: 0px; height: 38px; color: rgb(49, 49, 49); padding: 0px 140px 0px 15px; display: table-cell ! important; vertical-align: middle; float: none ! important; }
#cboxCurrent { position: absolute; bottom: -26px; right: 80px; color: rgb(49, 49, 49); border-left: 1px solid rgb(49, 49, 49); padding: 0px 0px 0px 15px; }
#cboxPrevious { position: absolute; bottom: -26px; right: 45px; background: url("controls.png") no-repeat scroll 0px -48px transparent; width: 21px; height: 15px; text-indent: -9999px; }
#cboxPrevious:hover { background-position: 0px -111px; }
#cboxNext { position: absolute; bottom: -26px; right: 15px; background: url("controls.png") no-repeat scroll 0px -29px transparent; width: 21px; height: 15px; text-indent: -9999px; }
#cboxNext:hover { background-position: 0px -92px; }
#cboxLoadingOverlay { background: none repeat scroll 0% 0% rgb(230, 230, 230); }
#cboxLoadingGraphic { background: url("loading_animation.gif") no-repeat scroll center center transparent; }
.field-collection-container { border-bottom: 1px solid rgb(211, 215, 217); margin-bottom: 1em; }
.field-collection-container .field-items .field-item { margin-bottom: 10px; }
.field-collection-container .field-items .field-items .field-item { margin-bottom: 0px; }
.field-collection-view { padding: 1em 0px 0.3em; margin: 0px 1em; border-bottom: 1px dotted rgb(211, 215, 217); }
.field-collection-view-final { border-bottom: medium none; }
.field-collection-view .entity-field-collection-item { float: left; }
.field-collection-view .content { margin-top: 0px; width: 100%; }
.field-collection-view .entity-field-collection-item { width: 100%; }
