@-moz-document url-prefix() {
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(2) {
		height: 60.12% !important;  /* 618px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(6) {
		bottom: -1.75% !important;  /* -18px */
		top: 1.75% !important;  /* 18px */
		height: 13.42% !important;  /* 138px */
	}
}