#csstopmenu, #csstopmenu ul{
padding: 0;
margin: 0;
list-style: none;
}

#csstopmenu li{
float: top;
position: relative;
}

#csstopmenu a{
text-decoration: none;
}

.mainitems{
border: 0px solid black;
border-left-width: 0;
background-color: #;
}

.headerlinks a{
margin: auto 1px;
font-weight: bold;
color: black;
}

.submenus{
display: none;
width: 8em;
position: absolute;
top: 0px;
left: 125px;
background-color: #EEFFCC;
border: 0px black;
filter: progid:dximagetransform.microsoft.alpha(opacity=85);
width: 155px;
}

.submenus li{
width: 100%;
}

.submenus li a{
display: block;
width: 100%;
text-indent: 0px;
}

html>body .submenus li a{ /* non IE browsers */
width: 155px;
vertical-align: top;
}

.submenus li a:hover{
background-color: #CFEB12;
color: black;
width: 155px;
}

#csstopmenu li>ul {/* non IE browsers */
top: 0px;
left: 135px;
height: auto;
-moz-opacity: 0.83;
}

#csstopmenu li:hover ul, li.over ul {
display: block;
}

html>body #clearmenu{ /* non IE browsers */
height: 0px;
}

#imageopaque {
filter: progid:dximagetransform.microsoft.alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6;  
}
