/* Code tidied up by ScrapBook */
a.navbar-brand { font-family: 'Oswald',sans-serif; text-transform: uppercase; font-weight: 700; color: rgb(212, 69, 0); display: block; }
.faculty-bio { padding-bottom: 10px; }
.faculty-bio img { max-width: 140px; }
.faculty-bio img.pull-left { margin-right: 10px; margin-bottom: 5px; }
.ico-instagram { height: 32px; width: 32px; display: inline-block; background: url("icon_social4.png") no-repeat scroll -128px 0px transparent; cursor: pointer; }
.ico-instagram:hover, .ico-instagram.ico-lite { height: 32px; width: 32px; display: inline-block; background: url("icon_social4.png") no-repeat scroll -128px -32px transparent; cursor: pointer; }
