/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url("TK3hWkUHHAIjg75-sh0Tus9E.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("TK3iWkUHHAIjg752GT8A.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local("Oswald Bold"), local("Oswald-Bold"), url("TK3hWkUHHAIjg75-ohoTus9E.woff") format("woff");
}
