/* Code tidied up by ScrapBook */
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: none repeat scroll 0% 0% transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
@media print {
  * { text-shadow: none ! important; color: rgb(0, 0, 0) ! important; background: none repeat scroll 0% 0% transparent ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
}
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(204, 204, 204); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; }
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
.list-inline { padding-left: 0px; list-style: none outside none; margin-left: -5px; }
.list-inline > li { display: inline-block; padding-left: 5px; padding-right: 5px; }
@media (min-width: 992px) {
}
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-left: -15px; margin-right: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-10 { width: 83.3333%; }
.col-xs-8 { width: 66.6667%; }
.col-xs-4 { width: 33.3333%; }
.col-xs-push-1 { left: 8.33333%; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-10 { width: 83.3333%; }
  .col-sm-8 { width: 66.6667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-2 { width: 16.6667%; }
  .col-sm-push-0 { left: 0%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-8 { width: 66.6667%; }
  .col-md-4 { width: 33.3333%; }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-3 { width: 25%; }
}
@media (max-width: 767px) {
}
label { display: inline-block; margin-bottom: 5px; font-weight: bold; }
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; margin-bottom: 0px; font-weight: normal; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857; border-radius: 4px; -moz-user-select: none; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { outline: 0px none; background-image: none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-default { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204); }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default { color: rgb(51, 51, 51); background-color: rgb(235, 235, 235); border-color: rgb(173, 173, 173); }
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default { background-image: none; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(66, 139, 202); border-color: rgb(53, 126, 189); }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(50, 118, 177); border-color: rgb(40, 94, 142); }
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { background-image: none; }
.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.collapse { display: none; }
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("urn:scrapbook-download-error:file:///assets/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("urn:scrapbook-download-error:file:///assets/fonts/glyphicons-halflings-regular.woff") format("woff"), url("urn:scrapbook-download-error:file:///assets/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("urn:scrapbook-download-error:file:///assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; }
.glyphicon-play:before { content: ""; }
.glyphicon-chevron-down:before { content: ""; }
.dropdown { position: relative; }
.dropdown-toggle:focus { outline: 0px none; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: none outside none; font-size: 14px; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); background-clip: padding-box; }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { text-decoration: none; color: rgb(38, 38, 38); background-color: rgb(245, 245, 245); }
@media (min-width: 992px) {
}
.input-group { position: relative; display: table; border-collapse: separate; }
.input-group .form-control { position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0px; }
.input-group-addon, .input-group-btn, .input-group .form-control { display: table-cell; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group-addon, .input-group-btn { width: 1%; white-space: nowrap; vertical-align: middle; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.input-group-btn { position: relative; font-size: 0px; white-space: nowrap; }
.input-group-btn > .btn { position: relative; }
.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active { z-index: 2; }
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group { margin-right: -1px; }
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group { margin-left: -1px; }
.nav { margin-bottom: 0px; padding-left: 0px; list-style: none outside none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav-tabs { border-bottom: 1px solid rgb(221, 221, 221); }
.nav-tabs > li { float: left; margin-bottom: -1px; }
.nav-tabs > li > a { margin-right: 2px; line-height: 1.42857; border: 1px solid transparent; border-radius: 4px 4px 0px 0px; }
.nav-tabs > li > a:hover { border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(221, 221, 221); }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: rgb(85, 85, 85); background-color: rgb(204, 204, 204); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; cursor: default; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 992px) {
  .navbar { border-radius: 4px; }
}
@media (min-width: 992px) {
  .navbar-header { float: left; }
}
.navbar-collapse { max-height: 340px; overflow-x: visible; padding-right: 15px; padding-left: 15px; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
@media (min-width: 992px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; height: auto ! important; padding-bottom: 0px; overflow: visible ! important; }
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
@media (min-width: 992px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: 0px; margin-left: 0px; }
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
.navbar-brand { float: left; padding: 15px; font-size: 18px; line-height: 20px; height: 50px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
@media (min-width: 992px) {
}
.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 8px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle:focus { outline: medium none; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 992px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 991px) {
}
@media (min-width: 992px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
}
@media (min-width: 992px) {
}
@media (min-width: 768px) {
}
@media (max-width: 991px) {
}
@media (min-width: 992px) {
}
.navbar-nav > li > .dropdown-menu { margin-top: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.navbar-btn { margin-top: 8px; margin-bottom: 8px; }
@media (min-width: 992px) {
}
.navbar-default { background-color: rgb(248, 248, 248); border-color: rgb(231, 231, 231); }
.navbar-default .navbar-brand { color: rgb(119, 119, 119); }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: rgb(94, 94, 94); background-color: transparent; }
.navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: rgb(51, 51, 51); background-color: transparent; }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(136, 136, 136); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
@media (max-width: 991px) {
}
@media (max-width: 991px) {
}
@media screen and (min-width: 768px) {
}
.alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }
.alert-warning { background-color: rgb(252, 248, 227); border-color: rgb(250, 235, 204); color: rgb(138, 109, 59); }
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.panel { margin-bottom: 20px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
.panel-body { padding: 15px; }
.panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent; border-top-right-radius: 3px; border-top-left-radius: 3px; }
.panel-default { border-color: rgb(221, 221, 221); }
.panel-default > .panel-heading { color: rgb(51, 51, 51); background-color: rgb(245, 245, 245); border-color: rgb(221, 221, 221); }
.close { float: right; font-size: 21px; font-weight: bold; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.2; }
.close:hover, .close:focus { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5; }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
.carousel { position: relative; }
.carousel-inner { position: relative; overflow: hidden; width: 100%; }
.carousel-inner > .item { display: none; position: relative; transition: left 0.6s ease-in-out 0s; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { line-height: 1; }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0px; }
.carousel-indicators { position: absolute; bottom: 10px; left: 50%; z-index: 15; width: 60%; margin-left: -30%; padding-left: 0px; list-style: none outside none; text-align: center; }
.carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin: 1px; text-indent: -999px; border: 1px solid rgb(255, 255, 255); border-radius: 10px; cursor: pointer; background-color: transparent; }
.carousel-indicators .active { margin: 0px; width: 12px; height: 12px; background-color: rgb(255, 255, 255); }
@media screen and (min-width: 768px) {
  .carousel-indicators { bottom: 20px; }
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after { content: " "; display: table; }
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after { clear: both; }
.pull-right { float: right ! important; }
.pull-left { float: left ! important; }
.hidden { display: none ! important; visibility: hidden ! important; }
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md { display: none ! important; }
}
@media (min-width: 1200px) {
  .hidden-lg { display: none ! important; }
}
@media print {
}
@media print {
}
.orange { color: rgb(243, 116, 32); }
.white { color: rgb(255, 255, 255); }
html { height: 100%; }
body { background: none repeat scroll 0% 0% rgb(204, 204, 204); height: 100%; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a, a:hover, a:visited, a:active { margin-top: 0px; text-decoration: none; }
a, a:hover, a:visited, a:active { color: rgb(0, 51, 153); }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif; font-weight: bold; }
p { font-family: arial,sans-serif; text-transform: none; margin-bottom: 0px; padding-bottom: 10px; }
ul { list-style: none outside none; }
.ico-facebook { height: 32px; width: 32px; display: inline-block; background: url("urn:scrapbook-download-error:file:///assets/img/icons/icon_social.png") no-repeat scroll 0px 0px transparent; cursor: pointer; }
.ico-facebook:hover, .ico-facebook.ico-lite { height: 32px; width: 32px; display: inline-block; background: url("urn:scrapbook-download-error:file:///assets/img/icons/icon_social.png") no-repeat scroll 0px -32px transparent; cursor: pointer; }
.ico-youtube { height: 32px; width: 32px; display: inline-block; background: url("urn:scrapbook-download-error:file:///assets/img/icons/icon_social.png") no-repeat scroll -32px 0px transparent; cursor: pointer; }
.ico-youtube:hover, .ico-youtube.ico-lite { height: 32px; width: 32px; display: inline-block; background: url("urn:scrapbook-download-error:file:///assets/img/icons/icon_social.png") no-repeat scroll -32px -32px transparent; cursor: pointer; }
.ico-twitter { height: 32px; width: 32px; display: inline-block; background: url("urn:scrapbook-download-error:file:///assets/img/icons/icon_social.png") no-repeat scroll -64px 0px transparent; cursor: pointer; }
.ico-twitter:hover, .ico-twitter.ico-lite { height: 32px; width: 32px; display: inline-block; background: url("urn:scrapbook-download-error:file:///assets/img/icons/icon_social.png") no-repeat scroll -64px -32px transparent; cursor: pointer; }
.ico-linkedin { height: 32px; width: 32px; display: inline-block; background: url("urn:scrapbook-download-error:file:///assets/img/icons/icon_social.png") no-repeat scroll -96px 0px transparent; cursor: pointer; }
.ico-linkedin:hover, .ico-linkedin.ico-lite { height: 32px; width: 32px; display: inline-block; background: url("urn:scrapbook-download-error:file:///assets/img/icons/icon_social.png") no-repeat scroll -96px -32px transparent; cursor: pointer; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(243, 116, 32); border-color: rgb(249, 174, 48); }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(249, 174, 48); border-color: rgb(249, 174, 48); }
#quick-nav { background: none repeat scroll 0% 0% rgb(227, 227, 227); border-radius: 0px; margin-bottom: 0px; }
#quick-nav .navbar-header button { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204); }
#quick-nav .navbar-header button:hover, #quick-nav .navbar-header button:focus, #quick-nav .navbar-header button:active, #quick-nav .navbar-header button.active, .open #quick-nav.dropdown-toggle .navbar-header button { color: rgb(51, 51, 51); background-color: rgb(235, 235, 235); border-color: rgb(173, 173, 173); }
#quick-nav .navbar-header button:active, #quick-nav .navbar-header button.active, .open #quick-nav.dropdown-toggle .navbar-header button { background-image: none; }
#quick-nav .navbar-nav { margin: 0px; }
#quick-nav .navbar-nav li { background-color: rgb(240, 240, 240); border-bottom: 1px solid rgb(252, 252, 252); }
#quick-nav .navbar-nav li a { font-size: 0.83em; color: rgb(51, 51, 51); }
#quick-nav .navbar-nav li a:hover { text-decoration: underline; background: none repeat scroll 0% 0% transparent; }
#branding { padding: 50px 0px; background: url("urn:scrapbook-download-error:file:///assets/img/header_bg.png") repeat-x scroll left top rgb(45, 42, 43); }
#branding #site-header-search { padding: 0px; }
#branding #site-header-search #site-search { margin-top: 30px; }
#branding #site-header-search #site-search .form-control { border: 1px solid rgb(79, 79, 79); }
#branding #site-header-search #site-search .form-control:focus { box-shadow: none; }
#site-header-nav { background-color: rgb(243, 116, 32); min-height: 30px; border-radius: 0px; margin-bottom: 0px; border: medium none; }
#site-header-nav #site-header-nav-toggle button#main-nav-menu-btn { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204); }
#site-header-nav #site-header-nav-toggle button#main-nav-menu-btn:hover, #site-header-nav #site-header-nav-toggle button#main-nav-menu-btn:focus, #site-header-nav #site-header-nav-toggle button#main-nav-menu-btn:active, #site-header-nav #site-header-nav-toggle button#main-nav-menu-btn.active, .open #site-header-nav.dropdown-toggle #site-header-nav-toggle button#main-nav-menu-btn { color: rgb(51, 51, 51); background-color: rgb(235, 235, 235); border-color: rgb(173, 173, 173); }
#site-header-nav #site-header-nav-toggle button#main-nav-menu-btn:active, #site-header-nav #site-header-nav-toggle button#main-nav-menu-btn.active, .open #site-header-nav.dropdown-toggle #site-header-nav-toggle button#main-nav-menu-btn { background-image: none; }
#site-header-nav #site-header-nav-toggle a.navbar-brand { font-family: 'Oswald',sans-serif; text-transform: uppercase; font-weight: 300; color: rgb(255, 255, 255); display: block; }
#site-header-nav #site-header-sub-nav { background-color: rgb(45, 42, 43); }
#site-header-nav #site-header-sub-nav #navbar-collapse-2 { background: none repeat scroll 0% 0% rgb(255, 255, 255); max-height: inherit; }
#site-header-nav #site-header-sub-nav #navbar-collapse-2 ul { border-width: medium medium 2px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(227, 227, 227); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-top: 0px; margin-bottom: 0px; }
#site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li a { color: rgb(102, 102, 102); background-color: rgb(227, 227, 227); border-bottom: 1px solid rgb(255, 255, 255); }
#site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li ul { background-color: rgb(255, 255, 255); padding-top: 0px; border-bottom: 1px solid rgb(255, 255, 255); }
#site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li ul li { background-color: transparent; }
#site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li ul li a { font-weight: bold; }
#site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li ul li a:hover { color: rgb(51, 51, 51); }
#site-header-nav li.parent-lander-link a { padding-left: 10px ! important; }
#site-herospot { background-color: rgb(45, 42, 43); border-bottom: 2px solid rgb(243, 116, 32); margin-bottom: 42px; }
#site-herospot #hero-tab { background-color: rgb(243, 116, 32); position: relative; bottom: 0px; padding: 12px 10px 0px; text-align: center; z-index: 91; margin-top: -39px; margin-right: 15px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
#site-herospot #hero-tab a { font-family: 'Oswald',sans-serif; text-transform: uppercase; font-weight: 400; color: rgb(51, 51, 51); }
#site-herospot #hero-tab a:hover { text-decoration: none; }
#site-herospot #hero-tab p { padding-bottom: 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
#site-herospot .carousel-indicators { bottom: -5px; margin-bottom: -30px; }
#site-herospot .carousel-indicators li { background-color: rgb(255, 255, 255); }
#site-herospot .carousel-indicators li.active { border-color: rgb(243, 116, 32); background-color: rgb(243, 116, 32); }
#site-herospot .carousel-inner .item { width: 1200px; margin-left: -425px; }
.content {  }
.content a.more-link { font-family: 'Oswald',sans-serif; font-weight: 300; text-transform: uppercase; }
.content .mod.mod-btn a { font-family: 'Oswald',sans-serif; font-weight: 300; font-size: 13px; text-transform: uppercase; display: block; background: none repeat scroll 0% 0% rgb(79, 79, 79); color: rgb(238, 238, 238); padding: 0px 15px 0px 0px; border-radius: 5px; margin-bottom: 15px; }
.content .mod.mod-btn a span { background: none repeat scroll 0% 0% rgb(153, 153, 153); color: rgb(238, 238, 238); line-height: 42px; top: 0px; padding: 0px 15px; margin-right: 15px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.content .mod.mod-btn a:hover { background: none repeat scroll 0% 0% rgb(225, 225, 225); color: rgb(79, 79, 79); text-decoration: none; }
.content .mod.mod-btn a:hover span { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(243, 116, 32); }
.content .mod .panel { border: medium none; padding: 0px; }
.content .mod .panel .panel-heading { padding: 0px; background: none repeat scroll 0% 0% rgb(153, 153, 153); }
.content .mod .panel .panel-heading .nav-tabs { border: medium none; background: none repeat scroll 0% 0% transparent; }
.content .mod .panel .panel-heading .nav-tabs li:first-child { border-top-left-radius: 3px; }
.content .mod .panel .panel-heading .nav-tabs li.active { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.content .mod .panel .panel-heading .nav-tabs li.active a { color: rgb(243, 116, 32); }
.content .mod .panel .panel-heading a, .content .mod .panel .panel-heading .title { font-family: 'Oswald',sans-serif; font-weight: 300; padding: 5px 10px; background: none repeat scroll 0% 0% transparent; border: medium none; color: rgb(255, 255, 255); text-transform: uppercase; display: inline-block; }
.content .mod .panel .panel-body { padding: 5px; background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.content .mod .panel .panel-body h1, .content .mod .panel .panel-body h2, .content .mod .panel .panel-body h3, .content .mod .panel .panel-body h4, .content .mod .panel .panel-body h5, .content .mod .panel .panel-body h6 { font-family: 'Oswald',sans-serif; text-transform: uppercase; font-weight: 300; }
.content .mod .panel .panel-body .tab-pane { margin: 0px; display: none; }
.content .mod .panel .panel-body .tab-pane.active { display: block; }
.content .mod .panel .panel-body .view-all { padding: 5px 0px 0px; }
.content .mod .panel .panel-body .view-all a { color: rgb(153, 153, 153); text-transform: uppercase; }
.content .mod .panel .panel-body p { font-size: 0.9em; padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px; }
.content .mod .panel .panel-body .panel-img { padding: 0px; }
.content .mod .panel .panel-body .panel-img img { float: right ! important; }
.content .sidebar { margin-bottom: 30px; padding: 0px; }
.content .page-content { margin-bottom: 20px; }
.content .page-content p:last-child { padding-bottom: 0px; }
#home #home-content { margin-top: 20px; }
#site-footer { background: url("urn:scrapbook-download-error:file:///assets/img/footer_watermark.png") no-repeat scroll center center rgb(45, 42, 43); min-height: 150px; padding-top: 30px; padding-bottom: 30px; }
#site-footer p { color: rgb(153, 153, 153); }
#site-footer a, #site-footer a:hover, #site-footer a:visited, #site-footer a:active { font-weight: bold; }
#site-footer a, #site-footer a:visited { color: rgb(243, 116, 32); }
#site-footer a:hover, #site-footer a:active { text-decoration: underline; }
#site-footer ul { padding-left: 0px; }
#site-footer ul.information-links a { color: rgb(204, 204, 204); }
#site-footer .footer-map { display: block; background: url("urn:scrapbook-download-error:file:///assets/img/footer_map.png") no-repeat scroll right bottom transparent; height: 100px; width: 130px; }
#site-footer .aba-link { display: block; padding-bottom: 20px; color: rgb(204, 204, 204); }
#site-footer .copyright { color: rgb(153, 153, 153); padding-bottom: 20px; }
@media (min-width: 768px) {
  #branding #site-header-search #site-search { margin-top: 20px; }
  #site-herospot .carousel-inner .item { width: 100%; margin-left: auto; }
  #site-herospot .carousel-inner .item img { display: block; margin: 0px auto; }
  #site-header-nav { margin-bottom: 0px; }
  #site-footer .row { margin-top: 15px; }
  #site-footer .row:first-child { margin-top: 0px; }
}
@media (min-width: 992px) {
  #quick-nav .navbar-collapse { padding: 0px; margin: 0px; float: right ! important; }
  #quick-nav .navbar-collapse .navbar-nav li { background-color: transparent; border-bottom: medium none; }
  #branding #site-header-search #site-search { margin-top: 30px; }
  #site-header-nav { margin-bottom: 0px; }
  #site-header-nav #site-header-sub-nav { background-color: rgb(243, 116, 32); }
  #site-header-nav #site-header-sub-nav .dropdown ul.dropdown-menu { background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%) repeat scroll 0% 0% transparent; }
  #site-header-nav #site-header-sub-nav #navbar-collapse-2 { background: none repeat scroll 0% 0% rgb(243, 116, 32); }
  #site-header-nav #site-header-sub-nav #navbar-collapse-2 ul { border-bottom: medium none; }
  #site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li { background-color: rgb(243, 116, 32); }
  #site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li a.dropdown-toggle { font-family: 'Oswald',sans-serif; text-transform: uppercase; font-weight: 300; font-size: 1.1em; color: rgb(255, 255, 255); border: medium none; background-color: rgb(243, 116, 32); padding: 10px 16px; }
  #site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li a.dropdown-toggle span.glyphicon { display: none ! important; }
  #home #home-content { margin-top: 0px; }
}
@media (min-width: 1200px) {
  #site-header-nav #site-header-sub-nav #navbar-collapse-2 ul li a.dropdown-toggle { padding: 10px 28px; }
}
@media screen and (min-width: 768px) {
}
