/* Code tidied up by ScrapBook */
.html5-video-player { position: relative; width: 100%; height: 100%; overflow: hidden; z-index: 0; outline: 0px none; font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif; color: rgb(238, 238, 238); text-align: left; direction: ltr; font-size: 11px; line-height: 1.3; }
.html5-video-player:not(.ytp-transparent), .html5-video-player.unstarted-mode, .html5-video-player.ad-interrupting, .html5-video-player.ended-mode, .html5-video-player.ytp-fullscreen { background-color: rgb(0, 0, 0); }
.html5-video-player a { color: inherit; text-decoration: none; transition: color 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; outline: 0px none; }
.html5-video-player a:hover { color: rgb(255, 255, 255); transition: color 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.html5-video-player h1, .html5-video-player h2 { margin: 0px; }
.html5-video-player svg { pointer-events: none; }
.html5-video-container { z-index: 10; position: relative; }
.html5-main-video { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; outline: 0px none; }
@media screen and (max-width: 325px) {
}
.ytp-button { border: medium none; background-color: transparent; padding: 0px; color: inherit; text-align: inherit; font-size: 100%; font-family: inherit; cursor: default; line-height: inherit; }
.ytp-button:focus, .ytp-button { outline: 0px none; }
.ytp-button::-moz-focus-inner { padding: 0px; border: 0px none; }
.html5-video-player .ytp-button[aria-disabled="true"], .html5-video-player .ytp-button[disabled] { opacity: 0.5; }
.ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) { cursor: pointer; }
.ytp-chrome-top, .ytp-chrome-bottom { position: absolute; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }
.ytp-chrome-top { display: flex; flex-wrap: nowrap; justify-content: flex-end; left: 12px; right: 12px; top: 0px; z-index: 59; }
.ytp-chrome-bottom { bottom: 0px; height: 36px; width: 100%; z-index: 60; padding-top: 3px; text-align: left; direction: ltr; }
.ytp-chrome-top .ytp-button, .ytp-chrome-controls .ytp-button, .ytp-replay-button { opacity: 0.9; display: inline-block; width: 36px; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; overflow: hidden; }
.ytp-chrome-top .ytp-button { padding-top: 6px; height: 42px; vertical-align: top; }
.ytp-chrome-controls .ytp-button { height: 100%; }
.ytp-prev-button:before { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: -12px; }
.ytp-play-button:not(.ytp-play-button-playlist):before { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: -12px; }
.ytp-chrome-top .ytp-button:hover, .ytp-chrome-controls .ytp-button:hover:not([aria-disabled="true"]):not([disabled]), .ytp-chrome-controls .ytp-button[aria-expanded="true"], .ytp-chrome-controls .ytp-button[aria-pressed="true"], .ytp-replay-button:hover { opacity: 1; transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-svg-fill { fill: rgb(255, 255, 255); }
.ytp-svg-shadow { stroke: rgb(0, 0, 0); stroke-opacity: 0.15; stroke-width: 2px; fill: none; }
.ytp-svg-shadow-fill { fill: rgb(0, 0, 0); fill-opacity: 0.15; stroke: none; }
.ytp-chrome-top-buttons { white-space: nowrap; }
.ytp-chrome-top:not(.ytp-share-button-visible) .ytp-share-button, .ytp-overflow-button:not(.ytp-overflow-button-visible) { display: none; }
.ytp-chrome-controls { height: 36px; line-height: 36px; font-size: 109%; text-align: left; direction: ltr; }
.ytp-left-controls { float: left; height: 100%; }
.ytp-right-controls { float: right; height: 100%; }
.ytp-chrome-top, .ytp-chrome-bottom { transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-gradient-top, .ytp-gradient-bottom { width: 100%; position: absolute; background-repeat: repeat-x; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg=="); transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; pointer-events: none; }
.ytp-gradient-top { height: 48px; padding-bottom: 50px; top: 0px; z-index: 23; background-position: center top; }
.ytp-embed:not(.ad-showing) .ytp-gradient-top { height: 60px; }
.ytp-gradient-bottom { height: 49px; padding-top: 49px; bottom: 0px; z-index: 22; background-position: center bottom; }
.ytp-hide-info-bar .ytp-chrome-top { height: 0px; }
.ytp-hide-info-bar .ytp-gradient-top, .ytp-hide-info-bar .ytp-chrome-top .ytp-title, .ytp-hide-info-bar .ytp-chrome-top .ytp-playlist-menu-button, .ytp-hide-info-bar .ytp-chrome-top .ytp-watch-later-button, .ytp-hide-info-bar .ytp-chrome-top .ytp-share-button, .ytp-hide-info-bar .ytp-chrome-top .ytp-overflow-button { display: none; }
@media not all {
  .ytp-gradient-bottom, .ytp-gradient-top { background: none repeat scroll 0% 0% rgb(0, 0, 0); padding-bottom: 0px; padding-top: 0px; }
}
@keyframes ytp-party-background-color {
0% { background-color: rgb(255, 0, 0); }
20% { background-color: rgb(0, 255, 0); }
40% { background-color: rgb(0, 0, 255); }
60% { background-color: rgb(255, 0, 255); }
80% { background-color: rgb(255, 255, 0); }
100% { background-color: rgb(0, 255, 255); }
}
@keyframes ytp-party-color {
0% { color: rgb(255, 0, 0); }
20% { color: rgb(0, 255, 0); }
40% { color: rgb(0, 0, 255); }
60% { color: rgb(255, 0, 255); }
80% { color: rgb(255, 255, 0); }
100% { color: rgb(0, 255, 255); }
}
@keyframes ytp-party-fill {
0% { fill: rgb(255, 0, 0); }
20% { fill: rgb(0, 255, 0); }
40% { fill: rgb(0, 0, 255); }
60% { fill: rgb(255, 0, 255); }
80% { fill: rgb(255, 255, 0); }
100% { fill: rgb(0, 255, 255); }
}
.ytp-swatch-background-color { background-color: rgb(255, 0, 0); }
@media print {
  .html5-video-player * { visibility: hidden; }
  .html5-video-player { border: 1px solid rgb(0, 0, 0); box-sizing: border-box; }
  .ytp-chrome-top, .ytp-cued-thumbnail-overlay, .ytp-large-play-button { opacity: 1 ! important; display: block ! important; visibility: visible ! important; }
  .ytp-title, .ytp-title *, .ytp-large-play-button * { color: rgb(0, 0, 0) ! important; visibility: visible ! important; }
}
.html5-video-player .video-click-tracking, .html5-video-player .video-stream { display: block; width: 100%; height: 100%; position: absolute; }
@media screen and (max-width: 656px) {
}
@media screen and (min-width: 1294px) and (min-height: 630px) {
}
@media screen and (min-width: 1720px) and (min-height: 980px) {
}
@media screen and (min-width: 1294px) and (min-height: 630px) {
}
@media screen and (min-width: 1720px) and (min-height: 980px) {
}
.ytp-ad-persistent-progress-bar-container { position: absolute; bottom: -3px; width: 100%; height: 3px; background-color: rgba(255, 255, 255, 0.2); opacity: 0; transition: bottom 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; z-index: 34; }
.ytp-ad-persistent-progress-bar { position: absolute; left: 0px; bottom: 0px; height: 100%; background-color: rgb(255, 204, 0); }
.ytp-bezel { position: absolute; left: 50%; top: 50%; width: 52px; height: 52px; z-index: 19; margin-left: -26px; margin-top: -26px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5); border-radius: 26px; animation: 0.5s linear 0s normal forwards 1 ytp-bezel-fadeout; pointer-events: none; }
.ytp-bezel-icon { width: 36px; height: 36px; margin: 8px; }
.ytp-bezel-text-wrapper { text-align: center; position: absolute; left: 0%; right: 0%; top: 10%; z-index: 19; }
.ytp-bezel-text { display: inline-block; padding: 10px 20px; font-size: 175%; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5); pointer-events: none; border-radius: 3px; }
@keyframes ytp-bezel-fadeout {
0% { opacity: 1; }
100% { opacity: 0; transform: scale(2); }
}
.ytp-chrome-top .ytp-cards-button { transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; pointer-events: all; position: relative; z-index: 62; }
.ytp-show-cards-title .ytp-cards-button { margin-left: 10px; margin-right: 10px; }
.ytp-small-mode .ytp-show-cards-title .ytp-cards-button { margin-left: 0px; margin-right: 0px; }
.ytp-show-cards-title .ytp-cards-button-title { display: block; }
.ytp-small-mode .ytp-show-cards-title .ytp-cards-button-title, .ytp-cards-button-icon-shopping { display: none; }
.ytp-big-mode .ytp-chrome-top .ytp-cards-button, .ytp-chrome-top .ytp-cards-button { width: auto; height: auto; }
.ytp-cards-button-icon { margin: auto; width: 36px; height: 36px; }
.ytp-cards-button-title { font-weight: 500; text-align: center; font-size: 14px; display: none; }
.ytp-cards-button .ytp-svg-shadow { transition: stroke-opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-cards-button .ytp-svg-shadow-fill { transition: fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-cards-teaser { position: absolute; top: 8.5px; right: 0px; max-width: 90%; opacity: 0.75; cursor: pointer; z-index: 61; box-sizing: border-box; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-cards-teaser .ytp-cards-teaser-box, .ytp-cards-teaser .ytp-cards-teaser-text { height: 31px; }
.ytp-cards-teaser .ytp-cards-teaser-box { position: absolute; top: 0px; right: 18px; border-radius: 2px; width: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(241, 241, 241); transition: transform 0.33s cubic-bezier(0.4, 0, 1, 1) 0s; transform: scaleX(0) translateX(0px); transform-origin: right 0px 0px; }
.ytp-cards-teaser .ytp-cards-teaser-text { position: relative; padding: 0px 36px 0px 10px; max-width: 0px; opacity: 0; color: rgb(0, 0, 0); font-weight: 500; font-size: 109.091%; line-height: 31px; text-shadow: initial; box-sizing: border-box; overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; transition: opacity 0.165s cubic-bezier(0.4, 0, 1, 1) 0s, max-width 0s ease 0.165s; }
.ytp-title-enable-channel-logo .ytp-title { min-height: 52px; }
.ytp-title-enable-channel-logo .ytp-title-text { padding-left: 50px; }
.ytp-title-channel-logo { width: 40px; height: 40px; background-size: contain; background-repeat: no-repeat; background-origin: content-box; float: left; }
@keyframes ytp-title-channel-fade-in {
0% { background-color: transparent; border-radius: 25px; width: 50px; }
25% { background-color: rgba(35, 35, 35, 0.9); }
75% { border-radius: 25px 4px 4px 25px; width: 500px; }
}
@keyframes ytp-title-channel-fade-out {
0% { background-color: rgba(35, 35, 35, 0.9); border-radius: 25px 4px 4px 25px; width: 500px; }
75% { background-color: rgba(35, 35, 35, 0.9); border-radius: 25px; width: 50px; }
}
@keyframes ytp-title-channel-fade-in-big-mode {
0% { background-color: transparent; border-radius: 35px; width: 70px; }
25% { background-color: rgba(35, 35, 35, 0.9); }
75% { border-radius: 35px 4px 4px 35px; width: 500px; }
}
@keyframes ytp-title-channel-fade-out-big-mode {
0% { background-color: rgba(35, 35, 35, 0.9); border-radius: 35px 4px 4px 35px; width: 500px; }
75% { background-color: rgba(35, 35, 35, 0.9); border-radius: 35px; width: 70px; }
}
@keyframes ytp-title-expanded-fade-in {
0% { opacity: 0; }
25% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes ytp-title-expanded-fade-out {
0% { opacity: 1; }
25% { opacity: 1; }
100% { opacity: 0; }
}
.ytp-title-channel { background: none repeat scroll 0% 0% transparent; border-radius: 25px; display: none; height: 50px; margin-left: -5px; overflow: hidden; position: absolute; top: 7px; width: 50px; }
.ytp-title-enable-channel-logo .ytp-title-channel { display: flex; }
.ytp-title-channel-logo { border-radius: 50%; flex-shrink: 0; margin: 5px; }
.ytp-title-expanded-overlay { display: flex; flex-shrink: 0; opacity: 0; width: 450px; }
.ytp-title-expanded-heading { margin: 5px; flex: 1 1 0%; white-space: nowrap; overflow: hidden; align-self: center; }
.ytp-title-expanded-title { font-size: 16px; font-weight: normal; margin: 0px; }
.ytp-title-expanded-title a { display: block; overflow: hidden; text-overflow: ellipsis; }
.ytp-title-expanded-subtitle { font-size: 12px; font-weight: normal; margin: 0px; }
.ytp-chrome-top .ytp-title-channel .ytp-sb { align-self: center; margin: 5px; height: auto; width: auto; padding: 0px; text-shadow: none; }
@keyframes ytp-title-beacon-pulse {
0% { background: none repeat scroll 0% 0% black; width: 40px; height: 40px; left: 5px; top: 5px; }
50% { background: none repeat scroll 0% 0% transparent; width: 50px; height: 50px; left: 0px; top: 0px; }
}
.ytp-title-beacon { border-radius: 25px; display: none; position: absolute; z-index: -1; animation: 2s ease 0s normal none 5 ytp-title-beacon-pulse; }
.ytp-sb { display: inline-block; float: none; }
.ytp-sb-subscribe, .ytp-sb-unsubscribe { border-radius: 2px; border: medium none; direction: ltr; display: flex; font-size: 14px; font-weight: 500; letter-spacing: 0.007px; line-height: 16px; padding: 10px 16px; text-transform: uppercase; white-space: nowrap; -moz-user-select: none; }
.ytp-sb-subscribe, a.ytp-sb-subscribe { background-color: rgb(255, 0, 0); color: rgb(255, 255, 255); }
.ytp-sb-subscribe:focus, .ytp-sb-unsubscribe:focus { outline: medium none; }
.ytp-sb-text { display: flex; }
.ytp-cued-thumbnail-overlay { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; background-position: center center; background-repeat: no-repeat; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; background-size: cover; }
.ytp-cued-thumbnail-overlay-image { background-size: cover; background-position: center center; background-repeat: no-repeat; width: 100%; height: 100%; position: absolute; }
.ytp-error:not(.ytp-related-on-error) { display: table; position: absolute; width: 100%; height: 100%; z-index: 40; font-size: 127%; line-height: 182%; background: none repeat scroll 0% 0% rgb(0, 0, 0); cursor: default; -moz-user-select: none; }
.ytp-error.ytp-related-on-error { position: absolute; width: 100%; height: 100%; z-index: 40; line-height: 220%; background-color: rgb(40, 40, 40); }
.ytp-error .ytp-error-content a { text-decoration: underline; }
.ytp-error:not(.ytp-related-on-error) .ytp-error-content { position: relative; display: table-cell; vertical-align: middle; }
.ytp-error.ytp-related-on-error .ytp-error-content { position: relative; margin: 0px auto; max-width: 85%; align-items: center; justify-content: center; display: flex; }
.ytp-error.ytp-related-on-error .ytp-error-icon-container { height: 64px; width: 64px; min-width: 64px; min-height: 64px; float: left; }
.ytp-error.ytp-related-on-error .ytp-error-icon-container svg { max-width: 100%; max-height: 100%; }
.ytp-error.ytp-related-on-error .ytp-small-redirect { display: inline; height: 48px; width: 48px; position: absolute; bottom: 8px; right: 8px; opacity: 0.7; }
.ytp-error.ytp-related-on-error .ytp-small-redirect a { display: block; height: 100%; }
.ytp-error:not(.ytp-related-on-error) .ytp-error-content-wrap { width: 80%; max-width: 600px; margin: auto; text-align: center; }
.ytp-error.ytp-related-on-error .ytp-error-content .ytp-error-content-wrap { margin-top: auto; margin-bottom: auto; margin-left: 16px; height: 100%; }
.ytp-error.ytp-related-on-error .ytp-error-content .ytp-error-content-wrap-reason { font-weight: 500; }
.ytp-error.ytp-related-on-error .ytp-error-content .ytp-error-content-wrap-reason { font-size: 22px; padding-bottom: 10px; }
.ytp-error.ytp-related-on-error .ytp-error-content .ytp-error-content-wrap-subreason { font-size: 18px; }
.ytp-small-mode .ytp-error.ytp-related-on-error .ytp-error-content { line-height: 150%; }
.ytp-small-mode .ytp-error.ytp-related-on-error .ytp-error-content .ytp-error-icon-container { height: 32px; width: 32px; min-width: 32px; min-height: 32px; }
.ytp-small-mode .ytp-error.ytp-related-on-error .ytp-error-content .ytp-error-content-wrap-reason { font-size: 14px; padding-bottom: 4px; }
.ytp-small-mode .ytp-error.ytp-related-on-error .ytp-error-content .ytp-error-content-wrap-subreason { font-size: 12px; }
.ytp-small-mode .ytp-error.ytp-related-on-error .ytp-small-redirect { height: 24px; width: 24px; }
.ytp-fullscreen-button:after { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: 100%; }
.ytp-fullscreen-button-corner-0, .ytp-fullscreen-button-corner-1, .ytp-fullscreen-button-corner-2, .ytp-fullscreen-button-corner-3 { transform: none; }
@keyframes ytp-fullscreen-button-corner-0-animation {
50% { transform: translate(-1px, -1px); }
}
@keyframes ytp-fullscreen-button-corner-1-animation {
50% { transform: translate(1px, -1px); }
}
@keyframes ytp-fullscreen-button-corner-2-animation {
50% { transform: translate(1px, 1px); }
}
@keyframes ytp-fullscreen-button-corner-3-animation {
50% { transform: translate(-1px, 1px); }
}
.ytp-large-play-button { position: absolute; left: 50%; top: 50%; width: 68px; height: 48px; margin-left: -34px; margin-top: -24px; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; z-index: 63; }
.ytp-large-play-button svg { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
.ytp-menu-shown .ytp-large-play-button, .ytp-cued-thumbnail-overlay[aria-hidden="true"] .ytp-large-play-button { opacity: 0; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-large-play-button-bg { transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; fill: rgb(33, 33, 33); fill-opacity: 0.8; }
.ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg, .ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg { transition: fill 0.1s cubic-bezier(0, 0, 0.2, 1) 0s, fill-opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; fill: rgb(255, 0, 0); fill-opacity: 1; }
.ytp-multicam-menu { position: absolute; right: 0px; top: 0px; bottom: 0px; max-width: 100%; z-index: 73; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2); overflow: hidden; transition: width 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; width: 175px; }
.ytp-multicam-menu-items { width: 175px; }
.ytp-multicam-menu-header { position: absolute; top: 16px; left: 16px; width: 143px; height: 22px; font-size: 105%; line-height: 22px; font-weight: 500; }
.ytp-multicam-menu-close { float: right; width: 22px; height: 100%; }
.ytp-multicam-menu-items { position: absolute; top: 54px; left: 0px; right: 0px; bottom: 0px; overflow-x: hidden; overflow-y: auto; }
.ytp-title-notifications { align-self: center; margin-right: 5px; text-align: center; }
.ytp-title-notifications:not(.ytp-notifications-enabled) .ytp-title-notifications-on, .ytp-title-notifications.ytp-notifications-enabled .ytp-title-notifications-off { display: none; }
.ytp-paid-content-overlay { border-radius: 2px; bottom: 41px; display: inline-block; font-size: 109.091%; height: 30px; left: 25px; line-height: 30px; overflow: hidden; pointer-events: none; position: absolute; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); z-index: 24; }
.ytp-paid-content-overlay-text { background-color: rgba(0, 0, 0, 0.6); font-size: 14px; font-weight: 500; line-height: 32px; opacity: 1; padding: 0px 14px; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-panel { position: absolute; bottom: 0px; right: 0px; overflow-y: auto; overflow-x: hidden; }
.ytp-popup { position: absolute; overflow: hidden; border-radius: 2px; background: none repeat scroll 0% 0% rgba(28, 28, 28, 0.9); text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; -moz-user-select: none; }
.ytp-panel-menu { padding: 6px 0px; display: table; width: 100%; color: rgb(238, 238, 238); box-sizing: border-box; }
.ytp-pause-overlay { border-radius: 2px; direction: ltr; bottom: 49px; left: 0px; margin: 12px; position: absolute; z-index: 38; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-ce-shown .ytp-pause-overlay, .ytp-iv-drawer-open .ytp-pause-overlay, .ytp-menu-shown .ytp-pause-overlay, .ytp-settings-shown .ytp-pause-overlay, .ytp-small-mode .ytp-pause-overlay, .html5-video-player:not(.ytp-expand-pause-overlay) .ytp-pause-overlay .ytp-collapse, .html5-video-player:not(.ytp-expand-pause-overlay) .ytp-pause-overlay .ytp-next, .html5-video-player:not(.ytp-expand-pause-overlay) .ytp-pause-overlay .ytp-previous, .html5-video-player:not(.ytp-expand-pause-overlay) .ytp-pause-overlay .ytp-suggestions, .html5-video-player:not(.ytp-expand-pause-overlay) .ytp-pause-overlay .ytp-related-title, .ytp-pause-overlay.ytp-scroll-max .ytp-next, .ytp-pause-overlay.ytp-scroll-min .ytp-previous, .ytp-probably-keyboard-focus .ytp-pause-overlay .ytp-next, .ytp-probably-keyboard-focus .ytp-pause-overlay .ytp-previous, .ytp-touch-mode .ytp-pause-overlay .ytp-next, .ytp-touch-mode .ytp-pause-overlay .ytp-previous { display: none; }
.ytp-pause-overlay .ytp-related-title { margin-left: 4px; margin-bottom: 12px; font-size: 14px; font-weight: 500; line-height: 20px; }
.ytp-pause-overlay .ytp-suggestions { overflow: hidden; text-align: center; white-space: nowrap; }
.ytp-pause-overlay .ytp-suggestion-image { background-color: rgb(0, 0, 0); background-position: center center; background-size: cover; height: 108px; width: 192px; }
.ytp-pause-overlay .ytp-next, .ytp-pause-overlay .ytp-previous { background: none repeat scroll 0% 0% rgb(51, 51, 51); border-radius: 50%; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); height: 32px; position: absolute; transform: translate(0px, 50%); width: 32px; }
.ytp-pause-overlay .ytp-next:hover, .ytp-pause-overlay .ytp-previous:hover { box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2); }
.ytp-pause-overlay .ytp-next { right: 4px; }
.ytp-pause-overlay .ytp-previous { left: 4px; }
.ytp-pause-overlay .ytp-collapse { height: 20px; opacity: 0.9; position: absolute; right: 20px; top: 12px; width: 20px; }
.ytp-pause-overlay .ytp-collapse:hover { opacity: 1; }
.ytp-pause-overlay .ytp-expand { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); border-radius: 2px; font-size: 12px; line-height: 32px; padding: 0px 10px; text-transform: uppercase; }
.ytp-pause-overlay .ytp-expand:hover { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); }
.ytp-pause-overlay a.ytp-suggestion-link { display: inline-block; margin-left: 4px; margin-right: 4px; position: relative; text-align: left; top: 50%; transform: translate(0px, -50%); transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s; }
.ytp-pause-overlay .ytp-suggestion-overlay { bottom: 0px; font-size: 12px; left: 0px; opacity: 0; padding: 8px; position: absolute; right: 0px; top: 0px; background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0.8) 0px, transparent 100px); transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s; }
.ytp-pause-overlay a.ytp-suggestion-link:focus .ytp-suggestion-overlay, .ytp-pause-overlay a.ytp-suggestion-link:hover .ytp-suggestion-overlay { opacity: 1; }
.ytp-pause-overlay .ytp-suggestion-link .ytp-suggestion-duration { background: none repeat scroll 0% 0% rgb(0, 0, 0); border-radius: 2px; bottom: 4px; font-size: 11px; font-weight: 500; line-height: 1; opacity: 0.75; padding: 2px 4px; position: absolute; right: 4px; }
.ytp-pause-overlay .ytp-suggestion-link .ytp-suggestion-duration:empty { display: none; }
.ytp-pause-overlay .ytp-suggestion-title, .ytp-pause-overlay .ytp-suggestion-author { overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; }
.ytp-pause-overlay .ytp-suggestion-title { font-weight: 500; max-height: 30px; }
.ytp-chrome-controls .ytp-play-button { width: 46px; }
.ytp-playlist-menu { position: absolute; left: 0px; top: 0px; bottom: 0px; width: 400px; max-width: 100%; z-index: 73; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-playlist-menu-header { padding: 15px; border-bottom: 1px solid rgb(68, 68, 68); }
.ytp-playlist-menu-title { height: 20px; line-height: 20px; padding-right: 15px; font-size: 136%; overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; }
.ytp-playlist-menu-subtitle { color: rgb(184, 184, 184); line-height: 17px; overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; }
.ytp-playlist-menu-close { position: absolute; top: 15px; right: 15px; width: 24px; height: 24px; }
.ytp-playlist-menu-close path { fill: rgb(170, 170, 170); }
.ytp-playlist-menu-close:hover path { fill: rgb(255, 255, 255); }
.ytp-playlist-menu-items { position: absolute; top: 68px; bottom: 0px; left: 0px; right: 0px; overflow: auto; }
.ytp-chrome-top .ytp-playlist-menu-button, .ytp-embed-playlist.ytp-big-mode .ytp-chrome-top .ytp-playlist-menu-button { width: auto; height: auto; }
.ytp-playlist-menu-button-icon { width: 36px; height: 36px; }
.ytp-playlist-menu-button-text { padding-right: 6px; line-height: 36px; opacity: 1; }
.ytp-playlist-menu-button-tiny .ytp-playlist-menu-button-text, .ytp-small-mode .ytp-playlist-menu-button-smallmode .ytp-playlist-menu-button-text { display: none; }
.ytp-playlist-menu-button-icon, .ytp-playlist-menu-button-text { vertical-align: middle; display: inline-block; }
.ytp-scrubber-container { position: absolute; top: -4px; left: -6.5px; z-index: 43; }
.ytp-scrubber-button { height: 13px; width: 13px; border-radius: 6.5px; transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; transform: scale(0); }
.ytp-scrubber-pull-indicator { position: absolute; z-index: 42; bottom: 16.9px; left: 6.5px; transform: rotate(45deg); }
.ytp-scrubber-pull-indicator:before { display: block; position: absolute; content: ""; top: 0px; left: 0px; opacity: 0; width: 6.5px; height: 6.5px; border-style: solid; border-width: 2px 0px 0px 2px; border-color: rgb(234, 234, 234); }
.ytp-scrubber-pull-indicator:after { display: block; position: absolute; content: ""; top: 0px; left: 0px; opacity: 0; width: 6.5px; height: 6.5px; border-style: solid; border-width: 2px 0px 0px 2px; border-color: rgb(234, 234, 234); }
.ytp-scrubber-pull-indicator:after { transition: all 0.1s ease 0s; }
.ytp-scrubber-pull-indicator:before { transition: all 0.2s ease 0s; }
.ytp-progress-list { z-index: 39; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2); height: 100%; transform: scaleY(0.6); transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; position: relative; }
.ytp-bound-time-left, .ytp-bound-time-right { position: absolute; display: none; top: -29px; z-index: 29; background-color: rgba(28, 28, 28, 0.9); text-align: center; color: rgb(227, 227, 227); padding: 5px 9px; opacity: 0; transition: opacity 0.1s ease-in 0s; }
.ytp-bound-time-left { left: 0px; }
.ytp-bound-time-right { right: 0px; }
.ytp-bound-time-left:after { position: absolute; content: ""; bottom: -5px; width: 0px; height: 0px; border-style: solid; }
.ytp-bound-time-right:after { position: absolute; content: ""; bottom: -5px; width: 0px; height: 0px; border-style: solid; }
.ytp-bound-time-left:after { left: 0px; border-width: 5px 5px 0px 0px; border-color: rgba(28, 28, 28, 0.9) transparent transparent; }
.ytp-bound-time-right:after { right: 0px; border-width: 0px 5px 5px 0px; border-color: transparent rgba(28, 28, 28, 0.9) transparent transparent; }
.ytp-ad-progress, .ytp-load-progress, .ytp-play-progress, .ytp-hover-progress { position: absolute; left: 0px; bottom: 0px; width: 100%; height: 100%; transform-origin: 0px 0px 0px; }
.ytp-chapter-marker, .ytp-time-marker, .ytp-clip-start-exclude, .ytp-clip-end-exclude { position: absolute; left: 0px; bottom: 0px; width: 100%; height: 100%; transform-origin: 0px 0px 0px; }
.ytp-clip-start-exclude, .ytp-clip-end-exclude { display: none; z-index: 37; background-color: rgba(255, 255, 255, 0); transition: background-color 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-load-progress { z-index: 33; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.4); }
.ytp-play-progress { z-index: 34; }
.ytp-hover-progress { z-index: 35; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.125); opacity: 0; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-clip-start, .ytp-clip-end { display: none; position: absolute; width: 14px; height: 14px; bottom: -4.5px; margin-left: -7px; z-index: 44; transform: scaleY(0.214286); transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-clip-start svg, .ytp-clip-end svg { display: block; }
.ytp-progress-bar-container { display: block; position: absolute; width: 100%; bottom: 35px; height: 5px; }
.ytp-progress-bar-container:not([aria-disabled="true"]) { cursor: pointer; }
.ytp-progress-bar { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; z-index: 31; outline: medium none; }
.ytp-progress-bar-padding { position: absolute; width: 100%; height: 16px; bottom: 0px; z-index: 28; }
@media not all, (min-resolution: 2dppx), (min-resolution: 192dpi) {
}
.ytp-related-on-error-overlay { border-radius: 2px; bottom: 8px; left: 8px; right: 8px; margin: 0px; position: absolute; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; padding: 16px 24px; }
.ytp-small-mode .ytp-related-on-error-overlay { padding: 12px 24px; }
.ytp-related-on-error-overlay.ytp-scroll-max .ytp-next, .ytp-related-on-error-overlay.ytp-scroll-min .ytp-previous, .ytp-probably-keyboard-focus .ytp-related-on-error-overlay .ytp-next, .ytp-probably-keyboard-focus .ytp-related-on-error-overlay .ytp-previous, .ytp-touch-mode .ytp-related-on-error-overlay .ytp-next, .ytp-touch-mode .ytp-related-on-error-overlay .ytp-previous { display: none; }
.ytp-related-on-error-overlay .ytp-related-title { margin-left: 4px; margin-bottom: 0px; font-size: 16px; font-weight: 500; line-height: 16px; }
.ytp-related-on-error-overlay .ytp-suggestions { direction: ltr; overflow: hidden; text-align: center; white-space: nowrap; margin-top: 8px; }
.ytp-small-mode .ytp-related-on-error-overlay .ytp-suggestions { margin-top: 6px; }
.ytp-related-on-error-overlay .ytp-suggestion-image { background-color: rgb(0, 0, 0); background-position: center center; background-size: cover; position: relative; height: 108px; width: 192px; }
.ytp-related-on-error-overlay .ytp-next, .ytp-related-on-error-overlay .ytp-previous { background: none repeat scroll 0% 0% rgb(51, 51, 51); border-radius: 50%; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); height: 32px; position: absolute; width: 32px; bottom: 50%; }
.ytp-related-on-error-overlay .ytp-next { right: 28px; transform: translateX(50%); }
.ytp-related-on-error-overlay .ytp-previous { left: 28px; transform: translateX(-50%); }
.ytp-related-on-error-overlay a.ytp-suggestion-link { display: inline-block; margin-left: 4px; margin-right: 4px; position: relative; text-align: left; top: 50%; transform: translate(0px, -50%); transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s; }
.ytp-related-on-error-overlay .ytp-suggestion-link .ytp-suggestion-duration { background: none repeat scroll 0% 0% rgb(0, 0, 0); border-radius: 2px; bottom: 4px; font-size: 14px; font-weight: 500; line-height: 1; opacity: 0.9; padding: 2px 4px; position: absolute; right: 4px; }
.ytp-related-on-error-overlay .ytp-suggestion-duration:empty { display: none; }
.ytp-related-on-error-overlay .ytp-suggestion-title, .ytp-related-on-error-overlay .ytp-suggestion-author { overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; }
.ytp-related-on-error-overlay .ytp-suggestion-title { font-weight: 500; margin-top: 8px; font-size: 16px; line-height: 18px; max-height: 30px; }
.ytp-related-on-error-overlay .ytp-suggestion-author { opacity: 0.7; margin-top: 4px; font-size: 14px; line-height: 16px; }
.ytp-small-mode .ytp-related-on-error-overlay .ytp-next, .ytp-small-mode .ytp-related-on-error-overlay .ytp-previous { height: 24px; width: 24px; }
.ytp-small-mode .ytp-related-on-error-overlay .ytp-related-title { margin-bottom: 0px; font-size: 12px; line-height: 14px; }
.ytp-small-mode .ytp-related-on-error-overlay .ytp-suggestion-title { margin-top: 6px; font-size: 12px; line-height: 14px; }
.ytp-small-mode .ytp-related-on-error-overlay .ytp-suggestion-author { font-size: 10px; line-height: 12px; }
.ytp-settings-button { position: relative; }
.ytp-settings-button svg { transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-settings-menu { right: 12px; bottom: 49px; z-index: 71; }
.ytp-show-share-title .ytp-share-button { margin-left: 10px; margin-right: 10px; }
.ytp-small-mode .ytp-show-share-title .ytp-share-button { margin-left: 0px; margin-right: 0px; }
.ytp-big-mode .ytp-chrome-top .ytp-share-button, .ytp-chrome-top .ytp-share-button { width: auto; height: auto; }
.ytp-share-icon { margin: auto; width: 36px; height: 36px; }
.ytp-share-title { font-weight: 500; text-align: center; font-size: 14px; display: none; }
.ytp-show-share-title .ytp-share-title, .ytp-overflow-panel .ytp-share-title { display: block; }
.ytp-small-mode .ytp-show-share-title .ytp-share-title { display: none; }
.ytp-share-panel { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 75; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); text-align: center; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-share-panel-inner-content { position: absolute; top: 50%; margin-top: -65px; left: 0px; right: 0px; padding: 0px 10%; }
.ytp-share-panel-loading-spinner { display: none; margin: 20px auto 0px; width: 32px; height: 32px; position: relative; }
.ytp-share-panel-close { position: absolute; top: 6px; right: 12px; padding: 6px; width: 36px; height: 36px; }
.ytp-share-panel-close path { fill: rgb(170, 170, 170); }
.ytp-share-panel-close:hover path { fill: rgb(255, 255, 255); }
.ytp-share-panel-title { font-size: 155%; line-height: 20px; }
.ytp-share-panel-link { display: block; height: 28px; margin-top: 18px; text-overflow: ellipsis; font-size: 218%; font-weight: 500; letter-spacing: 1px; white-space: nowrap; overflow: hidden; outline: medium none; }
.ytp-share-panel-include-playlist { display: none; line-height: 15px; margin-top: 12px; font-size: 118%; color: rgb(153, 153, 153); }
.ytp-share-panel-include-playlist input[type="checkbox"] { margin: 0px 8px 0px 0px; }
.ytp-share-panel-service-buttons { margin-top: 20px; height: 44px; }
.ytp-share-panel-error { display: none; margin-top: 20px; font-size: 109%; }
.ytp-spinner { position: absolute; left: 50%; top: 50%; width: 64px; margin-left: -32px; z-index: 18; pointer-events: none; }
.ytp-spinner-message { position: absolute; left: 50%; margin-top: 50%; width: 300px; font-size: 127%; line-height: 182%; margin-left: -150px; display: none; text-align: center; background-color: black; opacity: 0.5; }
.ytp-spinner-container { pointer-events: none; position: absolute; width: 100%; padding-bottom: 100%; top: 50%; left: 50%; margin-top: -50%; margin-left: -50%; animation: 1568.24ms linear 0s normal none infinite ytp-spinner-linspin; }
.ytp-spinner-rotator { position: absolute; width: 100%; height: 100%; animation: 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s normal both infinite ytp-spinner-easespin; }
.ytp-spinner-left { position: absolute; top: 0px; left: 0px; bottom: 0px; overflow: hidden; }
.ytp-spinner-right { position: absolute; top: 0px; right: 0px; bottom: 0px; overflow: hidden; }
.ytp-spinner-left { right: 49%; }
.ytp-spinner-right { left: 49%; }
.ytp-spinner-circle { box-sizing: border-box; position: absolute; width: 200%; height: 100%; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; border-radius: 50%; border-width: 6px; }
.ytp-spinner-left .ytp-spinner-circle { left: 0px; right: -100%; border-right-color: transparent; animation: 1333ms cubic-bezier(0.4, 0, 0.2, 1) 0s normal both infinite ytp-spinner-left-spin; }
.ytp-spinner-right .ytp-spinner-circle { left: -100%; right: 0px; border-left-color: transparent; animation: 1333ms cubic-bezier(0.4, 0, 0.2, 1) 0s normal both infinite ytp-right-spin; }
@keyframes ytp-spinner-linspin {
100% { transform: rotate(360deg); }
}
@keyframes ytp-spinner-easespin {
12.5% { transform: rotate(135deg); }
25% { transform: rotate(270deg); }
37.5% { transform: rotate(405deg); }
50% { transform: rotate(540deg); }
62.5% { transform: rotate(675deg); }
75% { transform: rotate(810deg); }
87.5% { transform: rotate(945deg); }
100% { transform: rotate(1080deg); }
}
@keyframes ytp-spinner-left-spin {
0% { transform: rotate(130deg); }
50% { transform: rotate(-5deg); }
100% { transform: rotate(130deg); }
}
@keyframes ytp-right-spin {
0% { transform: rotate(-130deg); }
50% { transform: rotate(5deg); }
100% { transform: rotate(-130deg); }
}
.ytp-storyboard-framepreview { position: absolute; top: 0px; left: 0px; z-index: 16; background: none repeat scroll 0% 0% rgb(0, 0, 0); transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-storyboard-framepreview-img { opacity: 0.4; }
.ytp-time-display { font-size: 109%; display: inline-block; vertical-align: top; padding: 0px 5px; white-space: nowrap; line-height: 35px; }
.ytp-time-separator, .ytp-time-duration { color: rgb(221, 221, 221); }
.ytp-chrome-controls .ytp-live-badge, .ytp-big-mode .ytp-chrome-controls .ytp-live-badge { display: none; width: auto; text-transform: uppercase; }
.ytp-live-badge:before { display: inline-block; width: 6px; height: 6px; vertical-align: 4%; margin-right: 5px; background: none repeat scroll 0% 0% rgb(117, 117, 117); content: ""; border-radius: 6px; }
.html5-video-player .ytp-live-badge[aria-disabled="true"], .html5-video-player .ytp-live-badge[disabled] { opacity: 1; }
.ytp-live-badge[disabled]:before { background: none repeat scroll 0% 0% rgb(255, 0, 0); }
.ytp-title { overflow: hidden; flex: 1 1 0%; display: flex; }
.ytp-title-text { vertical-align: top; padding-top: 12px; font-size: 18px; flex: 1 1 0%; }
.ytp-embed:not(.ad-showing) .ytp-title-text { padding-top: 21px; }
.ytp-title-subtext { font-size: 14px; overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; }
.ytp-title-subtext a:empty { display: none; }
.ytp-title-text { max-width: 100%; padding-left: 4px; overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; }
.ytp-tooltip-text-wrapper { border-radius: 3px; }
.ytp-tooltip-text { display: block; background-color: rgba(28, 28, 28, 0.9); border-radius: 2px; padding: 5px 9px; }
.ytp-tooltip-bg { background-color: rgb(0, 0, 0); background-repeat: no-repeat; position: relative; display: none; }
.ytp-tooltip-duration { display: none; }
.ytp-tooltip-title { display: none; }
.ytp-tooltip-image { width: 20px; height: 20px; border: 0px none; border-radius: 10px; position: absolute; display: none; top: 2px; left: 7px; background-size: contain; }
.ytp-unmute.ytp-popup { position: absolute; top: 36px; left: 0px; z-index: 1001; text-transform: uppercase; color: rgb(0, 0, 0); font-size: 127%; font-weight: 500; background: none repeat scroll 0% 0% transparent; padding: 12px; }
.ytp-autohide .ytp-unmute, .ytp-hide-info-bar .ytp-unmute { top: 0px; }
.ytp-unmute-inner { padding-left: 3px; padding-right: 12px; background-color: rgb(255, 255, 255); border-radius: 2px; border-bottom: 1px solid rgb(241, 241, 241); text-shadow: none; }
.ytp-unmute-icon { width: 36px; height: 36px; display: inline-block; vertical-align: middle; }
.ytp-unmute-text { max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; display: inline-block; }
.ytp-unmute.ytp-popup.ytp-unmute-animated .ytp-unmute-inner { position: relative; background-color: transparent; border-bottom: medium none; padding: 0px; }
.ytp-unmute-animated .ytp-unmute-icon { padding-left: 2px; position: relative; z-index: 10; background-color: rgb(255, 255, 255); border-radius: 2px; border-bottom: 1px solid rgb(241, 241, 241); }
.ytp-unmute-animated .ytp-unmute-box { display: block; background-color: rgb(255, 255, 255); position: absolute; left: 0px; top: 0px; bottom: 0px; border-radius: 2px; border-bottom: 1px solid rgb(241, 241, 241); }
.ytp-unmute-animated .ytp-unmute-text { position: relative; z-index: 10; padding-top: 1px; padding-right: 10px; }
.ytp-unmute-shrink .ytp-unmute-box { width: 100%; animation: 0.5s cubic-bezier(0.4, 0, 1, 1) 5.5s reverse forwards 1 ytp-unmute-width-anim; }
.ytp-unmute-shrink .ytp-unmute-text { opacity: 1; animation: 0.25s cubic-bezier(0.4, 0, 1, 1) 5.4s reverse forwards 1 ytp-unmute-alpha-anim; }
@keyframes ytp-unmute-width-anim {
0% { width: 0px; }
100% { width: 100%; }
}
@keyframes ytp-unmute-alpha-anim {
0% { opacity: 0; }
100% { opacity: 1; }
}
.ytp-volume-panel { display: inline-block; width: 0px; height: 100%; transition: margin 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, width 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; cursor: pointer; outline: 0px none; }
.ytp-volume-slider { height: 100%; position: relative; overflow: hidden; }
.ytp-volume-slider-handle { position: absolute; top: 50%; width: 12px; height: 12px; border-radius: 6px; margin-top: -6px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.ytp-volume-slider-handle:before, .ytp-volume-slider-handle:after { content: ""; position: absolute; display: block; top: 50%; height: 3px; margin-top: -2px; width: 64px; }
.ytp-volume-slider-handle:before { left: -58px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.ytp-volume-slider-handle:after { left: 6px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2); }
.ytp-show-watch-later-title .ytp-watch-later-button { margin-left: 10px; margin-right: 10px; }
.ytp-small-mode .ytp-show-watch-later-title .ytp-watch-later-button { margin-left: 0px; margin-right: 0px; }
.ytp-big-mode .ytp-chrome-top .ytp-watch-later-button, .ytp-chrome-top .ytp-watch-later-button { width: auto; height: auto; }
.ytp-watch-later-icon { margin: auto; width: 36px; height: 36px; position: relative; }
.ytp-watch-later-title { font-weight: 500; text-align: center; font-size: 14px; display: none; }
.ytp-show-watch-later-title .ytp-watch-later-title, .ytp-overflow-panel .ytp-watch-later-title { display: block; }
.ytp-small-mode .ytp-show-watch-later-title .ytp-watch-later-title { display: none; }
.ytp-chrome-controls .ytp-button.ytp-youtube-button { width: 67px; }
@media all and (max-width: 656px) {
}
@media all and (max-width: 656px) {
}
@media all and (max-width: 656px) {
}
@media all and (min-width: 800px) and (min-height: 400px) {
}
