@charset "utf-8";
/* CSS Document */

p {
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	margin-right: 20px;
	font-size: 12px;
	color: #3E3E3E;
}
body,td,th { 
}
li {
font-size: 12px;	 
}
hr {
	height: 1px;
	background-color: #CCC;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 90%;
	text-decoration: none;
	border: 0;
}
.pLargerText {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;    
}
.HEADERS {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	padding-left: 10px;
	background-repeat: repeat-x;
	height: 27px;
	line-height: 25px;
	margin-top: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
	border-radius: 4px;
	background-image: url(../images/templates/main_609/2013navBackground2.gif);
}
.HEADERS2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #C63E1B;
	height: 27px;
	line-height: 25px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	background-color: #EDEDED;
	padding-left: 10px;
	border-radius: 4px;
	padding-right: 10px;
}
.tableHeader {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #002664;
	padding: 7px;
}
.tableHeaderBorder {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #002664;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #34B5D0;
	border-bottom-color: #34B5D0;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
	margin-top: 30px;
}
.tableContent {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.tableContentnoPadding {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #323232;
}
.dataTableHeader {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #002664;
	padding: 3px;
}
.dataTableHeaderLine {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #D1282C;
	padding: 5px;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #D5D5D5;
	width: 80%;
}
.dataTableHeaderBox {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #D1282C;
	padding: 5px;
	width: 95%;
	background-color: #D5D5D5;
}	
.dataTableSubHeader {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #404964;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
}
.dataTableSubSubHeader {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #404964;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
}
.dataTableContent {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 2px;
}
h1 {
	font-size: 24px;
	color: #C63E1B;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
h2 {
	font-size: 16px;
	color: #C63E1B;
}
h3 {
	font-size: 16px;
	color: #34B5D0;
}
h4 {
	font-size: 14px;
	color: #C63E1B;
}
h5 {
	font-size: 14px;
	color: #34B5D0;
}
h6 {
	font-size: 11px;
	color: #34B5D0;
}
a:link {
	color: #007291;
	text-decoration: none;
}
a:visited {
	color: #007291;
	text-decoration: none;
}
a:hover {
	color: #C63E1B;
	text-decoration: none;
}
a:active {
	color: #007291;
	text-decoration: none;	/*text-align: center;*/
}
h2,h3,h4,h5,h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}
.breadCrumbs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.captions {
	font-size: 11px;
	color: #666;
}
.bodyHighlighted {
	color: #203975;
}
.backTop {
	text-align: center;
	width: 100%;
}
.h2bkgrnd {
	background-color: #E6E6E6;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.h3bkgrnd {
	background-color: #E2E9F3;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.h4bkgrnd {
	background-color: #E6E6E6;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
	
/*-----------BUTTON LINKS-----------------*/
.buttonDiv {
	margin-bottom: 50px;
}
.b-shortGray {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-image: url(../images/buttons/b-shortGray.gif);
	text-align: center;
	background-repeat: no-repeat;
	height: 22px;
	width: 70px;
	line-height: 18px;
	float: right;
	margin-right: 15px;
	clear: both;
}
.b-shortGrayonGray {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-image: url(../images/buttons/b-shortGrayonGray.gif);
	text-align: center;
	background-repeat: no-repeat;
	height: 22px;
	width: 70px;
	line-height: 18px;
	float: right;
	margin-right: 10px;
	clear: both;
}
.b-shortOrange {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-image: url(../images/buttons/b-shortOrange.gif);
	text-align: center;
	background-repeat: no-repeat;
	height: 22px;
	width: 70px;
	line-height: 18px;
	float: right;
	margin-right: 15px;
	clear: both;
}
.b-mediumOrange {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-image: url(../images/buttons/b-mediumOrange.gif);
	text-align: center;
	margin-bottom: 1px;
	background-repeat: no-repeat;
	height: 22px;
	width: 97px;
	float: left;
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
.b-largeOrange {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-image: url(../images/buttons/b-largeOrange.gif);
	text-align: center;
	background-repeat: no-repeat;
	height: 22px;
	width: 125px;
	float: left;
	line-height: 20px;
	margin-top: 1px;
	/* [disabled]margin-bottom: 30px; */
	margin-left: 20px;
}
.b-mediumGray {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-image: url(../images/buttons/b-mediumGray.gif);
	text-align: center;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	height: 22px;
	width: 97px;
	float:left;
	line-height: 20px;
	margin-top: 1px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.b-mediumGrayonGray {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-image: url(../images/buttons/b-mediumGrayonGray.gif);
	text-align: center;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	height: 22px;
	width: 119px;
	line-height: 18px;
	margin-top: 1px;
	float: LEFT;
}
.b-largeGray {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-image: url(../images/buttons/b-largeGray.gif);
	text-align: center;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	height: 22px;
	width: 125px;
	line-height: 20px;
	margin-top: 10px;
	float: LEFT;
}
/*-------Footer-------------*/
.footer_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #4F6A80;
}
.footer_header {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666;
}	
.footer_underline {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #DEDEDE;
	width: 100px;
}
