@charset "utf-8";
/* CSS Document */

.fltrt { 
	float: right;
}
.fltlft {
	float: left;
}
#pageArtWrapper {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	height: 90px;
}
#pageArt1 {
	height: 90px;
	margin: 0px;
	padding: 0px;
	width: 623px;
	float: left;
}
#pagetopfiller {
	background-color: #B7B7B7;
	width: 623px;
	height: 31px;
	margin: 0px;
	padding: 0px;
}
#pageWrapper3 {
	width: 623px;
	height: 59px;
	margin: 0px;
	padding: 0px;
}
#graphic_left {
	float: left;
	width: 195px;
	height: 59px;
	margin: 0px;
	padding: 0px;
}
#graphic_middle {
	float: left;
	width: 428px;
	height: 59px;
	margin: 0px;
	padding: 0px;
}
#graphic_middle_interactive {
	float: left;
	width: 623px;
	height: 59px;
	margin: 0px;
	padding: 0px;
}
#pageArt2{
	/* [disabled]height: 90px; */
	/* [disabled]width: 357px; */
}
#graphic_right {
	float: left;
	width: 357px;
	height: 90px;
	padding: 0px;
	margin: 0px;
}
#subContent {/* KB holds the main content of section temlplates, most using leftnav and divBody.*/
	left: 0px;
	height: auto;
	margin: 0px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}
#leftnav {
	width: 182px;
	float:left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#sectionNavHead {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
}
#subInteractive {/* KB for interactive map pages with no left nav. control page margins and padding*/
	height: auto;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
}
.clearfloat {
	clear:both;
	/* [disabled]height:0; */
	/* [disabled]font-size: 1px; */
	/* [disabled]line-height: 0px; */
}
.navtitle {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}
.navtitle a:link {
	color:#FFF;
}
.navtitle a:visited {
	color:#FFF;
}
.navtitle a:hover  {
	color:#F9DB95;
}
.navbyline {
	color: #F9DB95;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
}
.navbyline a:link {
	color:#F9DB95;
}
.navbyline a:visited {
	color:#F9DB95;
}
.navbyline a:hover  {
	color:#FFF;
}
#divbody {/*KB div container holding the editable region for the right side content on all sub pages*/
	padding: 0px;
	float: right;
	width: 785px;
	/* [disabled]margin-left: 195px; */
}
