@charset "UTF-8";
/* CSS Document */ 
/*modifications to the Google Custom Search minimalist CSS*/

 /*------------------KB revisions through control panel and DW-------------------------*/
 .gsc-control-cse {/*KB overall look*/
	font-family: Verdana, sans-serif;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 70%;/*KB added*/
	padding: 1em;
	margin-left: 100px;
  }
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:none;
}
.cse .gsc-branding,
.gsc-branding {/*KB google logo under search box*/
  display: none;
  .cse .gsc-control-cse:after,
}
  /*------------------------------Search Form/box, top of results page-----------------------------------*/
.cse form.gsc-search-box,
form.gsc-search-box {
  padding: 7px 4px 2px 3px;
  margin-bottom: 3px;
}
/**
 * Table cell containing the search input.
 * 6 pixels added to account for the horizontal padding on the input.
 */
.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input {
  padding-right: 6px;
}
.cse .gsc-search-box,
.gsc-search-box {
  border-collapse: collapse;
}
/* Search input */
.cse input.gsc-input,
input.gsc-input {
  font-family: inherit;
  color:#666;
  border: 1px solid;
  border-color: #777777;
  padding: 3px;
  width: 99%;
  font-size: 14px;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #ffffff;
	/* [disabled]font-weight: bold; */
	/* [disabled]text-shadow: 0 1px 2px #000000; */
	background-color: #56C1E9;
	border: 1px solid;
	border-color: #56C1E9;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
	margin-left: 7px;
}
.cse input.gsc-search-button,
input.gsc-search-button:hover {
	background-color: #008265;
		border-color: #008265;
}
  input.gsc-input {/*KB Search box*/
    border-color: #999999;
}
 /*------------------------------Results Tabs/Base tab selector styles-----------------------------------*/
  .gsc-tabHeader.gsc-tabhInactive {/*KB main Inactive tab*/
    border-color: #999999;
    background-color: #999999;
	color: #FFFFFF;
	padding: 5px;
  }
  .gsc-tabHeader.gsc-tabhActive {/*KB main Active tab*/
    border-color: #333333;
    background-color: #333333;
	color: #FFFFFF;
	padding: 5px;
  }
  /* Base tab selector styles */
.cse .gsc-tabHeader,
.gsc-tabHeader {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 2px  #333;
  padding: 2px 8px 0 8px;
}
  /* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 0px;
  border-bottom: 1px solid #DEDEDE;
  padding: 0px;
}
/*------------------------------results controls-----------------------------------*/
  .gsc-webResult.gsc-result,
  .gsc-results .gsc-imageResult {/*KB borders around individual results*/
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gsc-webResult.gsc-result:hover,
  .gsc-imageResult:hover {
    border-color: #007291;
    background-color: #FFFFFF;
  }
  /* Set link colors. */
  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b,
  .gs-imageResult a.gs-title:link,
  .gs-imageResult a.gs-title:link b {
	color: #008EB4;
  }
  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b,
  .gs-imageResult a.gs-title:visited,
  .gs-imageResult a.gs-title:visited b {
    color: #007291;
  }
  .gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b,
  .gs-imageResult a.gs-title:hover,
  .gs-imageResult a.gs-title:hover b {
    color: #e04811;
  }
  .gs-webResult.gs-result a.gs-title:active,
  .gs-webResult.gs-result a.gs-title:active b,
  .gs-imageResult a.gs-title:active,
  .gs-imageResult a.gs-title:active b {
    color: #007291;
  }
  .gsc-cursor-page {
	color: #007291;
  }
  a.gsc-trailing-more-results:link {
	color: #007291;
  }
  .gs-webResult .gs-snippet,
  .gs-imageResult .gs-snippet,
  .gs-fileFormatType {
    color: #333333;
  }
  .gs-webResult div.gs-visibleUrl,
  .gs-imageResult div.gs-visibleUrl {
    color: #eb6300;
  }
  .gs-webResult div.gs-visibleUrl-short {
    color: #BD482C;
  }
  .gs-webResult div.gs-visibleUrl-short {
    display: none;
  }
  .gs-webResult div.gs-visibleUrl-long {
    display: block;
  }
  /*----------KB page results numbers at bottom of results---------------*/
  .gsc-cursor-box {
    border-color: #FFFFFF;
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #13989A;
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #333333;
    background-color: #DEDEDE;
    color: #007291;
  }
  /*--------------------------------------------------------------------------*/
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  margin: 0px;
  border: block;
}
/* Wrapper box around all results */
.cse .gsc-results,
.gsc-results {
  width: auto;
  margin-top: 30px;
}
  /* Uber-wrapper for a result. Add padding to elements within a result block */
.cse .gs-result div.gs-title,
div.gs-title,
.cse .gs-result .gs-snippet,
.gs-result .gs-snippet,
.cse .gs-result .gs-visibleUrl,
.gs-result .gs-visibleUrl,
.cse .gs-spelling,
.gs-spelling {
  padding: 0px;
}
/* Font size */
.cse .gs-result .gs-snippet,
.gs-result .gs-snippet,
.cse .gs-spelling-original,
.gs-spelling-original {
  font-size: 14px;
  line-height: 18px;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column {
  padding: 0 0 0 .5em;
  border-left: 1px solid;
  border-color: #ffffff;
  border-bottom: 0px solid;
  margin-bottom: 1em;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover {
  border-left: 1px solid;
  border-color: #000000;
  border-bottom: 0px solid;
}
  /*------------------------------Promotion customizations-------------------------------*/
  .gs-promotion {
    border-color: #CCCCCC;
    background-color: #E6E6E6;
  }
  .gs-promotion a.gs-title:link,
  .gs-promotion a.gs-title:link *,
  .gs-promotion .gs-snippet a:link {
    color: #0000CC;
  }
  .gs-promotion a.gs-title:visited,
  .gs-promotion a.gs-title:visited *,
  .gs-promotion .gs-snippet a:visited {
    color: #0000CC;
  }
  .gs-promotion a.gs-title:hover,
  .gs-promotion a.gs-title:hover *,
  .gs-promotion .gs-snippet a:hover {
    color: #444444;
  }
  .gs-promotion a.gs-title:active,
  .gs-promotion a.gs-title:active *,
  .gs-promotion .gs-snippet a:active {
    color: #00CC00;
  }
  .gs-promotion .gs-snippet,
  .gs-promotion .gs-title .gs-promotion-title-right,
  .gs-promotion .gs-title .gs-promotion-title-right *  {
    color: #333333;
  }
  .gs-promotion .gs-visibleUrl,
  .gs-promotion .gs-visibleUrl-short {
    color: #00CC00;
  }  
