.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}.slick-list:focus{outline:none;}.slick-list.dragging{cursor:pointer;cursor:hand;}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto;}.slick-track:before,.slick-track:after{display:table;content:'';}.slick-track:after{clear:both;}.slick-loading .slick-track{visibility:hidden;}.slick-slide{display:none;float:left;height:100%;min-height:1px;}[dir='rtl'] .slick-slide{float:right;}.slick-slide img{display:block;}.slick-slide.slick-loading img{display:none;}.slick-slide.dragging img{pointer-events:none;}.slick-initialized .slick-slide{display:block;}.slick-loading .slick-slide{visibility:hidden;}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}.slick-arrow.slick-hidden{display:none;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-left:auto;margin-right:auto;}
.fieldgroup{border-width:0;padding:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{content:"";display:table;clear:both;}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;width:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;width:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{background-color:#fff;border:1px solid;margin-top:5px;max-width:100%;min-width:100px;height:16px;}.progress__bar{background-color:#000;height:16px;width:3%;min-width:3%;max-width:100%;}.progress__description,.progress__percentage{color:#555;overflow:hidden;font-size:0.875em;margin-top:0.2em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 none;background:transparent;padding:0;margin:0;line-height:inherit;}
.resize-none{resize:none;}.resize-vertical{resize:vertical;min-height:2em;}.resize-horizontal{resize:horizontal;max-width:100%;}.resize-both{resize:both;max-width:100%;min-height:2em;}
table.sticky-header{background-color:#fff;margin-top:0;z-index:500;top:0;}
.system-status-counter__status-icon{display:inline-block;height:25px;width:25px;vertical-align:middle;}.system-status-counter__status-icon:before{content:"";background-size:16px;background-position:center 2px;background-repeat:no-repeat;width:100%;height:100%;display:block;}.system-status-counter__status-icon--error:before{background-image:url(/core/modules/system/css/components/../../../../misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/modules/system/css/components/../../../../misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/modules/system/css/components/../../../../misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);margin-bottom:0.5em;}@media screen and (min-width:60em){.system-status-report-counters{flex-wrap:wrap;display:flex;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{border:1px solid #ccc;margin-top:1em;padding:0 1em 1em;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{width:16px;height:16px;display:inline-block;background-size:100%;}.tablesort--asc{background-image:url(/core/modules/system/css/components/../../../../misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/modules/system/css/components/../../../../misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/modules/system/css/components/../../../../misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/modules/system/css/components/../../../../misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/modules/system/css/components/../../../../misc/tree.png) no-repeat -11px center;}
.nav{padding-left:0;margin-bottom:0;list-style:none;}.nav > li{position:relative;display:block;}.nav > li > a{position:relative;display:block;padding:10px 15px;}.nav > li > a:hover,.nav > li > a:focus{text-decoration:none;background-color:#eee;}.nav > li.disabled > a{color:#777;}.nav > li.disabled > a:hover,.nav > li.disabled > a:focus{color:#777;text-decoration:none;cursor:not-allowed;background-color:transparent;}.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{background-color:#eee;border-color:#337ab7;}.nav .nav-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;}.nav > li > a > img{max-width:none;}.nav-tabs{border-bottom:1px solid #ddd;}.nav-tabs:after{content:' ';display:table;clear:both;}.nav-tabs > li{float:left;position:relative;margin-bottom:-1px;}.nav-tabs > li > a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;}.nav-tabs > li > a:hover{border-color:#eee #eee #ddd;}.nav-tabs > li.active{background-color:#fff;}.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus{color:#555;cursor:default;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent;}.tab-content{clear:both;}.tab-content > .tab-pane{display:none;}.tab-content > .active{display:block;border:1px solid #ddd;border-top-width:0;}.tab-content > .active > .tab-pane-content{min-height:30px;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{clear:both;float:left;width:100%;}
@-webkit-keyframes rotateplane{0%{-webkit-transform:perspective(120px);}50%{-webkit-transform:perspective(120px) rotateY(180deg);}100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg);}}@keyframes rotateplane{0%{transform:perspective(120px) rotateX(0deg) rotateY(0deg);}50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);}100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}}.b-lazy,.b-responsive{display:block;opacity:0;-webkit-transition:opacity 500ms ease-in-out;transition:opacity 500ms ease-in-out;}.b-loaded,.media--loading.media--background{opacity:1;}.media--loading{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:relative;}.media--loading::before{content:'';display:block;width:30px;height:30px;max-width:30px;background:#2eaae0;position:absolute;left:50%;top:50%;margin-left:-15px;margin-top:-15px;font-size:0;z-index:22;-webkit-animation:rotateplane 1.2s infinite ease-in-out;animation:rotateplane 1.2s infinite ease-in-out;}.media--background{background-size:cover;background-position:center center;background-repeat:no-repeat;}
#sliding-popup{background:url('/modules/contrib/eu_cookie_compliance/css/../images/gradient.png') center center scroll repeat-y transparent;}.sliding-popup-bottom,.sliding-popup-top{margin:0;padding:0;width:100%;z-index:99999;left:0;text-align:center;}.sliding-popup-bottom{position:fixed;}.sliding-popup-top{position:relative;}.eu-cookie-compliance-content{margin:0 auto;max-width:80%;display:inline-block;text-align:left;width:100%;}.eu-cookie-compliance-buttons{float:right;margin:0 0 1em 0;max-width:40%;}[dir="rtl"] .eu-cookie-compliance-buttons{float:left;}.eu-cookie-compliance-more-button{cursor:pointer;display:inline;height:auto;margin:0;padding:0;border:none;text-decoration:underline;background:none;}.eu-cookie-compliance-secondary-button{cursor:pointer;border:none;background:none;margin-top:1em;padding:0 8px;vertical-align:middle;}.disagree-button.eu-cookie-compliance-more-button,.eu-cookie-compliance-agree-button,.eu-cookie-compliance-default-button,.eu-cookie-compliance-hide-button,.eu-cookie-compliance-more-button-thank-you,.eu-cookie-withdraw-button{cursor:pointer;margin-right:5px;margin-top:1em;vertical-align:middle;overflow:visible;width:auto;-moz-box-shadow:inset 0 1px 0 0 #ffffff;-webkit-box-shadow:inset 0 1px 0 0 #ffffff;box-shadow:inset 0 1px 0 0 #ffffff;background-color:#ededed;background-image:-moz-linear-gradient(top,#ededed 5%,#dfdfdf 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(5%,#ededed),color-stop(100%,#dfdfdf));background-image:-webkit-linear-gradient(top,#ededed 5%,#dfdfdf 100%);background-image:-o-linear-gradient(top,#ededed 5%,#dfdfdf 100%);background-image:-ms-linear-gradient(top,#ededed 5%,#dfdfdf 100%);background-image:linear-gradient(to bottom,#ededed 5%,#dfdfdf 100%);-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #dcdcdc;color:#000;font-family:Arial,sans-serif;font-weight:bold;padding:4px 8px;text-decoration:none;text-shadow:1px 1px 0 #ffffff;}[dir="rtl"] .eu-cookie-compliance-buttons button{-moz-box-shadow:inset 0 0 0 1px #ffffff;-webkit-box-shadow:inset 0 0 0 1px #ffffff;box-shadow:inset 0 0 0 1px #ffffff;}.disagree-button.eu-cookie-compliance-more-button:hover,.eu-cookie-compliance-agree-button:hover,.eu-cookie-compliance-default-button:hover,.eu-cookie-compliance-hide-button:hover,.eu-cookie-compliance-more-button-thank-you:hover,.eu-cookie-withdraw-button:hover{background-color:#dfdfdf;background-image:-moz-linear-gradient(top,#dfdfdf 5%,#ededed 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(5%,#dfdfdf),color-stop(100%,#ededed));background-image:-webkit-linear-gradient(top,#dfdfdf 5%,#ededed 100%);background-image:-o-linear-gradient(top,#dfdfdf 5%,#ededed 100%);background-image:-ms-linear-gradient(top,#dfdfdf 5%,#ededed 100%);background-image:linear-gradient(to bottom,#dfdfdf 5%,#ededed 100%);}.disagree-button.eu-cookie-compliance-more-button:active,.eu-cookie-compliance-agree-button:active,.eu-cookie-compliance-default-button:active,.eu-cookie-compliance-hide-button:active,.eu-cookie-compliance-more-button-thank-you:active,.eu-cookie-withdraw-button:active{position:relative;top:1px;}.eu-cookie-compliance-message{float:left;margin:5px 0 0;max-width:60%;}[dir="rtl"] .eu-cookie-compliance-message{float:right;text-align:right;}.eu-cookie-compliance-message h1,.eu-cookie-compliance-message h2,.eu-cookie-compliance-message h3,.eu-cookie-compliance-message p{color:#fff;font-weight:bold;line-height:1.4;margin:0 0 5px 0;}.eu-cookie-compliance-message h1{font-size:24px;}.eu-cookie-compliance-message h2{font-size:16px;}.eu-cookie-compliance-message h3{font-size:12px;}.eu-cookie-compliance-message p{font-size:12px;display:inline;}.eu-cookie-withdraw-tab{padding:4px 7px;cursor:pointer;}.sliding-popup-bottom .eu-cookie-withdraw-tab{border-width:2px 2px 0;border-radius:5px 5px 0 0;}.sliding-popup-top .eu-cookie-withdraw-tab{border-width:0 2px 2px;border-radius:0 0 5px 5px;}.eu-cookie-withdraw-wrapper.sliding-popup-top,.eu-cookie-withdraw-wrapper.sliding-popup-top .eu-cookie-withdraw-banner{transform:scaleY(-1);}.eu-cookie-withdraw-tab{position:absolute;top:0;transform:translate(-50%,-100%);left:50%;}.eu-cookie-withdraw-wrapper.sliding-popup-top .eu-cookie-withdraw-tab{transform:translate(-50%,-100%) scaleY(-1);}@media screen and (max-width:600px){.eu-cookie-compliance-content{max-width:95%;}.eu-cookie-compliance-message{max-width:100%;}.eu-cookie-compliance-buttons{clear:both;float:none;max-width:100%;margin:5px 0 1em;}}
#backtotop{background:url(/modules/contrib/back_to_top/css/../backtotop.png) no-repeat center center;bottom:20px;cursor:pointer;display:none;height:70px;position:fixed;right:20px;text-indent:-9999px;width:70px;z-index:300;}#backtotop:hover{opacity:0.8;}<!--[if lte IE 6]>
html{overflow-x:auto;overflow-y:hidden;}* html #backtotop{position:absolute;}<![endif]-->@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){#backtotop{background:url(/modules/contrib/back_to_top/css/../backtotop2x.png) no-repeat center center;background-size:70px 70px;}}
.layout--onecol .layout__region{width:100%;}
.paragraph--unpublished{background-color:#fff4f4;}
