.sb-item {
    width: 100% !important;
    text-align: center;
}

.sb-footer time {
    color: #939393 !important;
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: none;
    margin-top: 20px;
}

.sb-footer .sb-icon {
}

.sb-text.sb-expand {
    color: #073349;
}
.sb-text.sb-expand a {
    font-weight: bold;
}

.sboard .sb-item .sb-inner .sb-user, .sboard .sb-item .sb-inner .sb-user-foot {
    text-align: center;
    float: none;
}

.sb-utitle {
    padding-bottom: 20px;
}

.sb-icon {
    background-image: url(../img/social-icons-grey.png);
    /*transform: scale(1.333);*/
    margin-bottom: 20px;
}