/* ::::: http://www.e-boss.gr/eboss/style.css ::::: */

.urlbigrtext { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(102, 102, 102); text-decoration: none; }
A.urlbigr { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 51, 153); text-decoration: none; }
A.urlbigr:hover { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(102, 102, 102); text-decoration: underline; }
.bottomline { height: 1px; border-bottom: 1px solid rgb(204, 204, 204); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1pt; color: rgb(255, 255, 255); text-decoration: none; }
.h2list { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 51, 102); border-bottom: 1px solid rgb(204, 204, 204); background-image: url("h2list.gif"); }
.tableft { background-image: url("left_menu_corner.gif"); }
.tabhleft { background-image: url("left_hmenu_corner.gif"); }
.tabright { background-image: url("right_menu_corner.gif"); }
.tabhright { background-image: url("right_hmenu_corner.gif"); }
.tabtile { background-image: url("tile_menu.gif"); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; }
.tabhtile { background-image: url("tile_hmenu.gif"); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; }
A.menub { font-weight: bold; font-size: 7pt; color: rgb(51, 51, 51); font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding-right: 4px; }
A.menub:hover { font-weight: bold; font-size: 7pt; color: rgb(0, 51, 153); font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding-right: 4px; }
.greylight { background-image: url("purptile.gif"); }
.indexh4 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 0, 0); text-decoration: none; }
.top { font-weight: normal; font-size: 7pt; color: rgb(255, 255, 255); font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; }
A.top { font-weight: normal; font-size: 7pt; color: rgb(255, 255, 255); font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; }
A.top:hover { font-weight: normal; font-size: 7pt; color: rgb(204, 204, 204); font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: underline; }
A.menu { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; }
A.menu:hover { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(204, 204, 204); text-decoration: none; }
.date { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: normal; color: rgb(204, 204, 204); text-decoration: none; padding-left: 5px; padding-bottom: 5px; }
.border_orange { border-bottom: 1px solid rgb(204, 204, 204); }
.seperator { font-family: Arial,Helvetica,sans-serif; font-size: 10pt; font-weight: normal; color: rgb(204, 204, 204); text-decoration: none; padding-right: 4px; padding-left: 4px; }
.bodystyle { background-image: url("body_bg.jpg"); }
A.path { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(102, 102, 102); text-decoration: none; }
A.path:hover { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 51, 153); text-decoration: none; }
.h2 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 0, 0); text-decoration: none; background-image: url("h2_bg.jpg"); }
.h3 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 0, 0); text-decoration: none; background-image: url("h2_bg.jpg"); }
.h3b { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 0, 0); text-decoration: none; padding-top: 11px; padding-bottom: 8px; padding-left: 7px; background-image: url("title_bg.gif"); }
.h3b a { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 0, 0); text-decoration: none; }
.text { font-weight: normal; font-size: 8pt; color: rgb(51, 51, 51); font-family: Arial,Helvetica,sans-serif; text-decoration: none; }
.articletext { font-weight: normal; font-size: 9pt; color: rgb(51, 51, 51); font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; }
.copyright { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: normal; color: rgb(153, 153, 153); text-decoration: none; padding-top: 4px; padding-bottom: 4px; }
.copyright a { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 51, 102); text-decoration: none; }
A.url { font-weight: normal; font-size: 7pt; color: rgb(0, 51, 153); font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding-right: 4px; }
A.url:hover { font-weight: normal; font-size: 7pt; color: rgb(102, 102, 102); font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding-right: 4px; }
.h4 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(51, 51, 51); text-decoration: none; }
.border_black { border: 1px solid rgb(153, 153, 153); }
.greylight2 { background-color: rgb(255, 255, 255); }
.textfield { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 8pt; font-weight: normal; color: rgb(0, 0, 0); text-decoration: none; border: 1px solid rgb(102, 102, 102); }
A.urlsmall { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: normal; color: rgb(0, 0, 102); text-decoration: none; }
A.urlsmall:hover { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: normal; color: rgb(204, 0, 0); text-decoration: underline; }
.button { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(204, 204, 204); border: 1px solid rgb(102, 102, 102); }
.button:hover, .button-hover { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 51, 153); text-decoration: none; background-color: rgb(204, 204, 203); border: 1px solid rgb(102, 102, 102); cursor: pointer; }
.left { background-image: url("left_shadow2.jpg"); background-repeat: repeat-y; background-position: right top; }
.right { background-image: url("right_shadow2.jpg"); background-repeat: repeat-y; background-position: right top; }
.topbgblue { background-image: url("top_photo_blue.jpg"); background-repeat: no-repeat; background-position: right top; }
.table_border { border-right: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); }
.table_full_border { border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204); }
.h1 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 8pt; font-weight: bold; color: rgb(255, 255, 255); border-bottom: 1px solid rgb(204, 204, 204); background-image: url("title_bg.gif"); }
.rmenu_h1 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 51, 102); border-bottom: 1px solid rgb(204, 204, 204); background-image: url("title_bg.gif"); }
.step_active { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 8pt; font-weight: normal; color: rgb(51, 0, 0); text-decoration: none; background-image: url("steps1.jpg"); padding-left: 30px; padding-top: 10px; padding-bottom: 6px; border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(102, 102, 102); }
.step { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 8pt; font-weight: normal; color: rgb(51, 0, 0); text-decoration: none; background-image: url("steps2.jpg"); padding-left: 30px; padding-top: 10px; padding-bottom: 6px; border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(102, 102, 102); }
.step a { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 8pt; font-weight: normal; color: rgb(51, 0, 0); text-decoration: none; }
.h3c { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 0, 0); text-decoration: none; padding-top: 16px; padding-bottom: 8px; padding-left: 10px; background-image: url("title_bg_h3c.gif"); }
.line { background-color: rgb(223, 244, 247); }
A.menua { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(51, 51, 51); text-decoration: none; }
A.menua:hover { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(153, 0, 0); text-decoration: none; }
A.urlbig { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(153, 102, 0); text-decoration: none; }
A.urlbig:hover { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 7pt; font-weight: bold; color: rgb(0, 102, 153); text-decoration: none; }
.treejs { font-size: 8pt; color: rgb(51, 51, 51); font-family: Verdana,Arial,Helvetica,sans-serif; }
.treejs A:link { font-size: 8pt; color: rgb(51, 51, 51); text-decoration: none; }
.treejs A:active { font-size: 8pt; color: rgb(51, 51, 51); text-decoration: none; }
.treejs A:visited { font-size: 8pt; color: rgb(51, 51, 51); text-decoration: none; }
.treejs A:hover { font-size: 8pt; color: rgb(153, 0, 0); text-decoration: none; }
/* ::::: [internal] ::::: */

body { margin: 0px; }
