@-moz-document url-prefix() {
	html > body > div:nth-of-type(1) > table:nth-of-type(3) > tbody:nth-of-type(1) > tr:nth-of-type(1) > td:nth-of-type(3) > input:nth-of-type(1) {
		width: 72.73% !important;  /* 80px */
		height: 60.71% !important;  /* 17px */
	}
}