/* Code tidied up by ScrapBook */
#ff-stream-1 .ff-filter-holder .ff-filter, #ff-stream-1 .ff-filter-holder:before, #ff-stream-1 .selectric, #ff-stream-1 .ff-filter-holder .selectric-ff-filters-select .selectric-items, #ff-stream-1 .ff-loadmore-wrapper .ff-btn:hover { background-color: rgb(205, 205, 205); }
#ff-stream-1 .ff-filter:hover, #ff-stream-1 .ff-filter.ff-filter--active, #ff-stream-1 .ff-moderation-button, #ff-stream-1 .ff-loadmore-wrapper .ff-btn, #ff-stream-1 .ff-square:nth-child(1) { background-color: rgb(59, 61, 64); }
#ff-stream-1, #ff-stream-1 .ff-popup, #ff-stream-1 .ff-search input { background-color: rgb(240, 240, 240); }
#ff-stream-1 .shuffle__sizer {  }
#ff-stream-1 .ff-item {  }
#ff-stream-1 .shuffle__sizer { margin-left: 20px ! important; }
#ff-stream-1 .picture-item__inner { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(131, 141, 143); box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05); }
#ff-stream-1-slideshow .ff-share-popup, #ff-stream-1-slideshow .ff-share-popup:after, #ff-stream-1 .ff-share-popup, #ff-stream-1 .ff-share-popup:after { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#ff-stream-1, #ff-stream-1-slideshow { color: rgb(131, 141, 143); }
#ff-stream-1 li, #ff-stream-1 .ff-square { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#ff-stream-1 .ff-icon, #ff-stream-1-slideshow .ff-icon { border-color: rgb(255, 255, 255); }
#ff-stream-1 .ff-item h1, #ff-stream-1 .ff-item h4, #ff-stream-1-slideshow h4, #ff-stream-1-slideshow h4 a, #ff-stream-1 .ff-name, #ff-stream-1-slideshow .ff-name { color: rgb(59, 61, 64) ! important; }
#ff-stream-1 .ff-nickname, #ff-stream-1 .ff-timestamp, #ff-stream-1 .ff-item-bar, #ff-stream-1 .ff-item-bar a { color: rgb(131, 141, 143) ! important; }
#ff-stream-1 .ff-item { text-align: left; }
.ff-item .ff-content { font-size: 0.8em; }
