/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Franklin Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("fgbook400.TTF") format("truetype");
}
@font-face {
  font-family: "Franklin Gothic";
  font-style: normal;
  font-weight: 500;
  src: url("fg500.TTF") format("truetype");
}
@font-face {
  font-family: "Franklin Gothic";
  font-style: normal;
  font-weight: 600;
  src: url("fg600.TTF") format("truetype");
}
@font-face {
  font-family: "Franklin Gothic";
  font-style: normal;
  font-weight: 900;
  src: url("fg900.TTF") format("truetype");
}
* { outline: medium none ! important; }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
ol, ul { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h6 { font-size: 16px; }
a { text-decoration: none; }
a, a:hover, a:visited { color: rgb(48, 126, 161); }
a:hover { text-decoration: underline; }
p { margin: 0px 0px 18px; }
p:last-child { margin-bottom: 0px ! important; }
img { max-width: 100%; height: auto; }
a img { border: medium none; }
.hidden_block { overflow: hidden; }
html { height: 100%; }
body { position: relative; font-size: 20px; font-family: 'Franklin Gothic',sans-serif; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(33, 33, 33); text-align: left; margin: 0px; padding: 0px; line-height: 1.3; font-weight: 400; min-height: 100vh; }
.text-center { text-align: center; }
.clear { clear: both; }
input[type="submit"] {  }
form input[type="text"], form input[type="tel"], form input[type="email"], form textarea { width: 100%; background: none repeat scroll 0% 0% white; border: 1px solid rgb(255, 255, 255); border-radius: 4px; margin: 0px; padding: 12px; box-sizing: border-box; font-size: 14px; font-family: inherit; }
ul.sub-menu { display: none; }
ul.sub-menu ul.sub-menu { display: block; }
.shadow { box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1) ! important; }
.hover_in { overflow: hidden; }
.hover_in img { transition: all 0.3s ease-in-out 0s; }
.hover_in:hover img {  }
.btn { border: 2px solid rgb(48, 126, 161); background: none repeat scroll 0% 0% rgb(48, 126, 161); color: white ! important; text-decoration: none ! important; line-height: 1; font-size: 16px; font-weight: 400; padding: 12px 15px; border-radius: 4px; cursor: pointer; text-transform: uppercase; }
.btn:hover { color: rgb(48, 126, 161) ! important; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.btn.v2, .paloma-submit { border: 2px solid rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(48, 126, 161) ! important; text-decoration: none ! important; line-height: 1; font-size: 16px; font-weight: 400; padding: 12px 15px; border-radius: 4px; cursor: pointer; text-transform: uppercase; }
.btn.v2:hover, .paloma-submit:hover { color: rgb(0, 0, 0) ! important; }
.btn.v3 { padding: 8px 17px; font-size: 14px; border-width: 1px ! important; }
.text { color: rgb(33, 33, 33); font-size: 20px; font-weight: 400; }
.text.v2, .subscribe_block { color: white; font-size: 14px; font-weight: 400; }
.text.v2 h3, .subscribe_block h3 { font-size: 18px; font-weight: 500; margin-bottom: 18px; }
main { position: relative; z-index: 1; }
header { position: relative; }
.eltop { position: relative; z-index: 2; background: none repeat scroll 0% 0% white; }
header nav .child { background: none repeat scroll 0% 0% rgb(48, 126, 161); padding-top: 3px; padding-bottom: 3px; border-top-left-radius: 25px; border-bottom-left-radius: 25px; position: static; }
header .socials a { display: block; margin-left: 13px; }
header .socials a:hover { color: rgb(232, 232, 232); }
header nav .child a { color: white; text-decoration: none; }
header nav .child .top_menu a { font-size: 13px; text-transform: uppercase; font-weight: 400; display: block; padding: 0px 10px; margin-right: 25px; position: relative; }
header nav .child .top_menu a:hover { text-decoration: underline; }
header nav .child .top_menu a[target="_blank"]:before { content: ""; position: absolute; top: 0px; right: 0px; width: 9px; height: 9px; background: url("target.svg") no-repeat scroll center center transparent; }
header nav .main .main_menu > li > a { font-size: 20px; font-weight: 600; display: block; color: rgb(33, 33, 33); margin: 15px 0px 15px 15px; padding: 2px 10px; box-sizing: border-box; border: 1px solid transparent; border-radius: 4px; position: relative; text-decoration: none; }
header nav .main .main_menu li.current-menu-ancestor > a, header nav .main .main_menu li.current-menu-parent > a, header nav .main .main_menu li.current-menu-item > a, header nav .main .main_menu li > a:hover { color: rgb(48, 126, 161); }
.search_icon:hover { cursor: pointer; }
.search_icon i, .search_icon img { margin-left: 25px; }
.main_menu > li > ul.sub-menu { background: none repeat scroll 0% 0% rgb(249, 249, 249); padding: 45px 45px 35px; display: flex; }
.main_menu > li > ul.sub-menu > li > ul.sub-menu ul.sub-menu { box-sizing: border-box; padding-left: 20px; }
.main_menu > li > ul.sub-menu > li > ul.sub-menu > li { margin-bottom: 10px; }
.main_menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li { margin-top: 5px; }
.main_menu > li > ul.sub-menu > li { width: 32%; display: inline-block; vertical-align: top; text-align: left; box-sizing: border-box; padding: 0px 20px; }
.main_menu > li > ul.sub-menu > li > a { display: none ! important; }
.main_menu > li > ul.sub-menu > li a { color: rgb(0, 0, 0); font-size: 16px; font-weight: 400; }
.main_menu > li > ul.sub-menu > li > ul.sub-menu > li > a { font-size: 20px; font-weight: 500; }
.main_menu > li > ul.sub-menu, .search_form { display: none; position: absolute; left: 0px; top: 94px; background: none repeat scroll 0% 0% white; width: 100%; z-index: 5; border-bottom: 4px solid rgb(48, 126, 161); }
.main_menu > li > ul.sub-menu:before, .search_form:before { content: ""; position: absolute; left: 0px; top: -3px; width: 100%; height: 3px; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1) ! important; }
.search_form form input { padding: 15px 25px; font-size: 45px; font-weight: 400; color: rgb(214, 214, 214); border: medium none; }
.search_form button { background: none repeat scroll 0% 0% rgb(48, 126, 161); color: white; width: 92px; height: 92px; border: 2px solid rgb(48, 126, 161); font-size: 45px; }
.search_form button:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(48, 126, 161); cursor: pointer; }
a.file_search_link { position: absolute; right: 110px; margin: auto 0px; font-size: 16px; }
header .page_img { position: relative; max-height: calc(100vh - 77px); overflow: hidden; }
header .page_img img { display: block; width: 100%; height: 100%; }
.main_menu_burger, .top_menu_burger { display: none; }
.top_menu_burger { font-size: 12px; }
.top_menu_burger:after { content: ""; position: relative; top: 0px; right: 0px; width: 9px; height: 9px; background: url("target.svg") no-repeat scroll center center transparent; }
.main_menu_burger { color: rgb(33, 33, 33) ! important; }
footer { background: none repeat scroll 0% 0% rgb(48, 126, 161); padding-top: 40px; padding-bottom: 40px; color: white; font-size: 14px; font-weight: 400; line-height: 1.5; }
footer h4 { margin-bottom: 15px; font-size: 18px; font-weight: 500; }
.carousel_block { position: relative; }
.carousel_title { font-size: 18px; text-transform: uppercase; color: rgb(0, 0, 0); }
.carousel .item { padding: 12px 0px; }
.carousel.v2 .item { padding: 35px 0px; }
.carousel .item img { height: auto; transition: all 0.3s ease-in-out 0s; }
.carousel .item img:hover {  }
.carousel .owl-item, .carousel .item { display: flex ! important; align-items: center; justify-content: center; float: none; }
.owl-stage { margin: 0px auto; display: flex ! important; align-items: center; justify-content: center; }
.owl-theme .owl-dots { position: relative; top: -10px; }
.home_page_menu_block { background: none repeat scroll 0% 0% rgb(48, 126, 161); }
.front_menu a { font-weight: 500; font-size: 20px; color: white; position: relative; display: block; padding: 18px 20px; }
.front_menu a:before { content: "/"; position: absolute; right: -4px; margin: auto 0px; }
.front_menu li:last-child a:before { content: none; }
.news_list { padding: 45px 0px; background: none repeat scroll 0% 0% rgb(239, 239, 239); }
.NI_wrap { background: none repeat scroll 0% 0% white; }
.NI_image { height: 305px; }
.NI_details { font-size: 20px; font-weight: 400; color: rgb(33, 33, 33); }
.NI_details .date, .NI_details .tags { font-size: 16px; margin-top: 15px; }
.NI_details .tags { display: flex; flex-wrap: wrap; }
.NI_details .tags a { margin-left: 10px; }
.subtitle { font-size: 30px; font-weight: 600; color: rgb(33, 33, 33); margin-bottom: 20px; min-height: 72px; }
.short_post .subtitle { font-size: 18px; font-weight: 500; margin-bottom: 0px; min-height: inherit; }
.subtitle a { color: rgb(33, 33, 33); text-decoration: none; }
.subtitle a:hover { color: rgb(48, 126, 161); }
.subscribe_block { background: none repeat scroll 0% 0% rgb(0, 127, 165); }
.socials_block { background: none repeat scroll 0% 0% rgb(239, 239, 239); padding: 80px 0px; }
.home_discipline_events { padding: 40px 0px; margin: 0px 0px 50px; background: none repeat scroll 0% 0% white; }
.discipline_event_item > a { color: rgb(33, 33, 33); text-transform: uppercase; }
.discipline_event_logo img { height: 96px; width: auto; display: block; margin: 0px auto 7px; }
.discipline_event_title { font-size: 20px; font-weight: 500; line-height: 1; }
.discipline_event_date { font-size: 14px; font-weight: 400; line-height: 1; }
.FE_title { color: rgb(0, 0, 0); font-size: 18px; font-weight: 500; }
.FE_filter li { color: rgb(48, 126, 161); font-size: 16px; font-weight: 400; margin-left: 15px; cursor: pointer; }
.FE_filter li:first-child { margin-left: 0px; }
.front_event_table .front_event_tr { display: flex; justify-content: space-between; align-items: center; color: rgb(33, 33, 33); font-size: 14px; font-weight: 400; flex-grow: 1; padding: 10px 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-decoration: none; flex-wrap: wrap; position: relative; }
.front_event_table .front_event_tr:nth-child(2n+1) { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.front_event_table a.front_event_tr[target="_blank"] .front_event_td.name:after { content: ""; position: relative; top: -5px; left: 3px; width: 9px; height: 9px; background: url("targetblack.svg") no-repeat scroll center center / 9px auto transparent; display: inline-block; }
.event_short_info a[target="_blank"] .event_title:after, .live_list_item a[target="_blank"] .LLI_title:after, .discipline_event_item a[target="_blank"] .discipline_event_title:after { content: ""; position: relative; top: -10px; left: 0px; width: 13px; height: 13px; background: url("targetblack.svg") no-repeat scroll center center / 13px auto transparent; display: inline-block; }
.discipline_event_item a[target="_blank"] .discipline_event_title:after { top: -6px; }
.front_event_table .front_event_td.name { font-size: 16px; font-weight: 500; display: flex; align-items: center; flex-wrap: wrap; position: static; }
.front_event_table .front_event_td.details { display: flex; justify-content: center; align-items: center; }
.front_event_table .front_event_td.details .date { text-align: left; }
.front_event_table .front_event_td.details .country { text-align: right; }
@keyframes rotating {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 1200px) {
  ul#menu-top-external-links-menu, ul#menu-main-menu { display: none; }
  ul#menu-main-menu:before, ul#menu-top-external-links-menu:before { content: ""; position: absolute; left: 0px; top: -3px; width: 100%; height: 3px; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1) ! important; }
  .main_menu_burger { display: block; }
  .top_menu_burger { display: flex; }
  ul.top_menu, ul.main_menu { position: absolute; left: 0px; background: none repeat scroll 0% 0% white; width: 100%; top: 112px; z-index: 3; }
  .search_form { top: 112px; }
  .main_menu > li > ul.sub-menu:before, header nav .child .top_menu a[target="_blank"]:before { content: none; }
  header nav .child .top_menu a[target="_blank"]:after { content: ""; position: relative; top: 0px; right: 0px; width: 9px; height: 9px; background: url("targetblack.svg") no-repeat scroll center center transparent; }
  header nav .child .top_menu > li a, header nav .main .main_menu > li a { font-weight: 400; margin: 0px; display: flex; padding: 12px 15px; border-bottom: 1px solid rgb(222, 222, 222); }
  .main_menu > li ul.sub-menu { position: relative; top: 0px; background: none repeat scroll 0% 0% white; width: 100%; z-index: 5; border-bottom: medium none; padding: 0px; margin: 0px; }
  .main_menu > li > ul.sub-menu > li { width: 100%; display: block; margin: 0px; padding: 0px; }
  .main_menu > li > ul.sub-menu > li > ul.sub-menu > li a { font-size: 16px; font-weight: 400; padding-left: 25px; text-decoration: none; }
  .main_menu > li > ul.sub-menu > li > ul.sub-menu ul.sub-menu { padding-left: 0px; }
  .main_menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li { margin-top: 0px; }
  .main_menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li a { font-size: 12px; padding-left: 35px; }
  .main_menu li.menu-item-has-children { position: relative; }
  .main_menu > li.menu-item-has-children > a:before, .main_menu li.menu-item-has-children > span:before { content: ""; position: absolute; z-index: 1; right: 12px; top: 16px; width: 20px; height: 20px; background: url("sub_menu_icon.svg") no-repeat scroll center center / 20px auto transparent; cursor: pointer; }
  .main_menu ul.sub-menu ul.sub-menu ul.sub-menu { display: none; }
  header nav .child { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
  header nav .child .top_menu a { color: rgb(33, 33, 33); }
  .search_form button { width: 51px; height: 51px; font-size: 28px; }
  .search_form form input { padding: 10px 15px; font-size: 24px; }
  a.file_search_link { right: 60px; }
}
@media only screen and (max-width: 991px) {
  .NI_image { height: 200px; }
  .front_menu a:before { content: none; }
  .front_menu a { padding-top: 3px; padding-bottom: 3px; }
  .front_menu { padding-top: 15px; padding-bottom: 15px; text-align: center; }
  .socials_block { padding: 40px 0px; }
  .logo img { height: 45px; width: auto; }
  header nav > .main { padding-top: 7px; padding-bottom: 7px; }
  .search_form, ul.top_menu, ul.main_menu { top: 97px; }
}
@media only screen and (max-width: 767px) {
  .NI_image { height: auto; }
  .socials_block { padding: 25px 0px; }
  .discipline_event_title { font-size: 13px; margin-bottom: -8px; }
  .discipline_event_date { font-size: 9px; }
  .discipline_event_logo img { height: 73px; }
  .home_discipline_events { padding-bottom: 0px; box-shadow: none ! important; }
  .FE_filter { margin-top: 12px; }
  .FE_filter li { font-size: 10px; }
  .front_event_table .front_event_td.name { font-size: 10px; }
  .front_event_table .front_event_tr { font-size: 9px; }
  .btn.v3, .btn.v4 { padding: 8px 10px; font-size: 10px; }
  .home_page_menu_block { display: none; }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
}
@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
  .container { max-width: 1200px; }
  header nav .main .main_menu > li.m_blue > a { color: rgb(48, 126, 161); border-color: rgb(48, 126, 161); }
  header nav .main .main_menu > li.m_blue.current-menu-item > a, header nav .main .main_menu > li.m_blue > a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(48, 126, 161); }
  header nav .main .main_menu > li.m_red > a { color: rgb(227, 4, 32); border-color: rgb(227, 4, 32); }
  header nav .main .main_menu > li.m_red.current-menu-item > a, header nav .main .main_menu > li.m_red > a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(227, 4, 32); }
  header nav .main .main_menu > li.m_green > a { color: rgb(0, 131, 86); border-color: rgb(0, 131, 86); }
  header nav .main .main_menu > li.m_green.current-menu-item > a, header nav .main .main_menu > li.m_green > a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 131, 86); }
}
.paloma-email-subscription-box {  }
.paloma-email-subscription-title {  }
.paloma-text-field { margin-top: 5px; }
.paloma-submit { margin: 10px 0px; }
.paloma-email-text, .paloma-name-text, .paloma-get-title-text, .paloma-get-company-text, .paloma-get-mobilenr-text {  }
