/* Code tidied up by ScrapBook */
@font-face {
  font-family: "ff-icons";
  font-style: normal;
  font-weight: normal;
  src: url("flaticon.eot") format("embedded-opentype"), url("flaticon.svg") format("svg"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype");
}
html { overflow-y: visible; }
.ff-stream, .ff-stream *, .ff-slideshow * {  }
.ff-stream { background: none repeat scroll 0% 0% rgb(229, 229, 229); padding: 20px 0px 30px; min-height: 500px; transition: all 600ms ease-out 100ms; position: relative; }
.ff-header { transition: all 600ms ease-out 100ms; transform: translate3d(0px, 0px, 0px); visibility: visible; opacity: 1; position: relative; z-index: 11; }
.ff-content br + br, .ff-content br + br + br { display: none ! important; }
.ff-content br { content: ""; margin: 2em; display: block; font-size: 8px; }
.ff-stream-wrapper { box-sizing: border-box ! important; position: relative; padding: 0px; margin: 40px 0px 0px; z-index: 10; }
.ff-item { opacity: 0; cursor: pointer; }
.ff-item, .shuffle__sizer { display: inline-block; float: left; box-sizing: border-box; }
.ff-item.shuffle-item { margin-left: 0px; }
.ff-item:first-child { margin-left: 0px; }
.picture-item__inner { background: none repeat scroll 0% 0% white; box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22); }
.ff-upic-round .picture-item__inner { border-radius: 6px; }
.ff-item-cont .ff-img-holder:first-child { margin-top: 0px; }
.ff-upic-round .ff-img-holder:first-child, .ff-upic-round .ff-img-holder:first-child img { border-radius: 4px 4px 0px 0px; }
.picture-item__inner, .shuffle__sizer { padding: 0px; }
.ff-item .ff-content, .ff-article, .ff-item .ff-content p { margin: 0px; font-size: 14px; line-height: 20px; word-wrap: break-word; }
.ff-item .ff-content { margin: 7%; overflow: hidden; }
.ff-layout-masonry .ff-item:not(.ff-ad) .ff-content { max-height: 200px; }
.ff-sc-label1 .ff-item .ff-content:first-child, .ff-sc-label1 .ff-item h4:first-child { margin-top: calc(14% + 14px); }
.ff-item .ff-img-holder + .ff-content { margin: 7%; }
.ff-item-bar { margin: 0px; border-top: 1px solid rgba(229, 226, 220, 0.4); padding: 10px 7%; font-weight: 300; font-size: 12px; line-height: 21px; height: 44px; text-align: left; clear: both; box-sizing: border-box; }
.ff-item-cont .ff-img-holder:last-child { margin: 0px; }
.ff-item-bar > a, .ff-item-bar > .ff-location { white-space: nowrap; margin-left: 6%; opacity: 0.75; text-decoration: none; }
.ff-item-bar a:first-child { margin-left: 0px; }
.ff-item-bar a:hover, .ff-slideshow .ff-share-wrapper:hover .ff-icon-share { text-decoration: none ! important; opacity: 1; }
@font-face {
  font-family: "ff-icons";
  font-style: normal;
  font-weight: normal;
  src: url("flaticon.eot") format("embedded-opentype"), url("flaticon.svg") format("svg"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype");
}
[class*="ff-icon-"] { display: inline-block; vertical-align: middle; font-size: 146%; line-height: 100%; }
[class*="ff-icon-"]:before { font-family: 'ff-icons'; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; width: 1em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; }
.ff-icon-like:before { content: ""; }
.ff-icon-comment { font-size: 161%; margin-left: 4%; }
.ff-icon-comment:before { content: ""; }
.ff-icon-share { float: right; font-size: 171%; opacity: 0.75; }
.ff-share-wrapper:hover .ff-icon-share { opacity: 1; }
.ff-icon-share:before { content: ""; }
.ff-icon-reply:before { content: ""; }
.ff-icon-shares:before { content: ""; }
.ff-item a, .ff-slideshow a { border: medium none ! important; }
.ff-item a { display: inline-block; }
.ff-item .ff-img-holder { display: block; margin: 0px; }
.ff-item-cont { margin: 0px; float: left; width: 100%; position: relative; }
.ff-content { overflow: hidden; }
.ff-stream h4:empty, .ff-content a:empty, .ff-content div:empty, .ff-stream p:empty { display: none; }
.ff-item h4 { margin: 7%; font-size: 15px; font-weight: 700; line-height: 140%; }
.ff-item h4 a { color: inherit ! important; }
.ff-nickname:hover, .ff-timestamp:hover, .ff-name:hover, .ff-content a:hover { text-decoration: underline ! important; }
.ff-content a { word-wrap: break-word; word-break: break-all; }
.ff-item .ff-userpic { margin: 0px auto; background-size: cover ! important; z-index: 2; height: 40px; width: 40px; display: block; position: relative; }
.ff-upic-round .ff-userpic { border-radius: 50%; }
.ff-upic-timestamp .ff-userpic { float: left; }
.ff-item-meta { position: relative; text-align: center; margin: 7%; box-sizing: content-box; }
.ff-item-meta:after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
.ff-item-meta h6 { margin: 0px; }
.ff-name { font-weight: bold; line-height: 20px; font-size: 14px; }
.ff-upic-timestamp .ff-name { display: block; overflow: hidden; box-sizing: border-box; padding: 3px 0px 0px 15px; text-align: left; line-height: 16px; text-overflow: ellipsis; white-space: nowrap; }
.ff-nickname, .ff-timestamp { line-height: 16px; }
.ff-upic-timestamp .ff-item-meta, .ff-upic-off .ff-item-meta { text-align: left; }
.ff-upic-timestamp .ff-nickname, .ff-upic-timestamp h6 + .ff-timestamp { display: inline-block; padding: 0px 0px 0px 15px; }
.ff-stream h4 a, .ff-content a, .ff-name, .ff-nickname, .ff-timestamp { text-decoration: none; }
.ff-nickname { display: inline-block; margin-right: 5px; font-size: 12px; color: rgb(132, 118, 129); max-width: 40%; overflow: hidden; white-space: nowrap; vertical-align: middle; text-overflow: ellipsis; }
.ff-item .ff-nickname:after, .ff-posted:after { content: "•"; font-size: 10px; display: inline-block; margin-left: 5px; vertical-align: bottom; }
.ff-nickname:hover:after { text-decoration: none; }
.ff-timestamp { color: rgb(132, 118, 129); vertical-align: middle; font-size: 12px; }
.ff-icon { width: 20px; height: 20px; border-radius: 50%; display: inline-block; font-family: 'ff-icons'; font-style: normal; position: relative; box-sizing: content-box; border-style: solid; border-width: 1px; border-color: transparent; }
.ff-icon-inner { position: absolute; left: 0px; width: 100%; height: 100%; text-align: center; font-style: normal; font-weight: normal; line-height: inherit; color: white; font-size: 12px; border-radius: 50%; font-family: 'ff-icons'; }
.ff-sc-label1 .ff-icon { width: auto; height: auto; border: medium none; font-family: inherit; }
.ff-sc-label1 .ff-icon-inner { position: relative; width: auto; height: auto; padding: 3px 5px; border-radius: 3px; font-size: 10px; color: rgb(255, 255, 255); letter-spacing: 1px; text-transform: uppercase; font-family: inherit; }
.ff-sc-label1 .ff-icon-inner:after { display: none ! important; width: 20px; height: 20px; line-height: 20px; vertical-align: middle; float: left; }
.ff-label-text { display: none; }
.ff-sc-label1 .ff-label-text { display: inline-block; }
.ff-icon:after { vertical-align: middle; }
.ff-facebook .ff-icon-inner { background-color: rgb(59, 89, 152); }
.ff-facebook .ff-icon-inner:after, .ff-type-facebook:before { content: ""; }
.ff-twitter a { color: rgb(94, 159, 202); }
.ff-twitter .ff-icon-inner { background-color: rgb(94, 159, 202); }
.ff-twitter .ff-icon-inner:after, .ff-type-twitter:before { content: ""; }
.ff-instagram a { color: rgb(64, 93, 230); }
.ff-instagram .ff-icon-inner { background-color: rgb(64, 93, 230); }
.ff-instagram .ff-icon-inner:after, .ff-type-instagram:before { content: ""; }
html:not([class*="ff-ie9"]) .ff-item:nth-child(2n) { transform: translateY(-300px); }
html:not([class*="ff-ie9"]) .ff-item:nth-child(2n+1) { transform: translateX(300px); }
.picture-item__inner { position: relative; float: left; width: 100%; box-sizing: border-box; }
.picture-item__inner:after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
.picture-item__inner:before { content: ""; z-index: 0; position: absolute; top: 0px; width: 100%; left: 0px; bottom: 0px; background: none repeat scroll 0% 0% transparent; }
.picture-item__inner > * { position: relative; }
.picture-item__inner:hover:before { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.024); }
.ff-item img { position: relative; display: block; }
.ff-item .ff-img-holder img { width: 100%; }
.ff-item .ff-userpic { opacity: 1; box-sizing: content-box; }
.ff-img-holder, .ff-img-holder a { overflow: hidden; display: block; position: relative; z-index: 1; }
.ff-img-holder a { height: 100%; }
.ff-video-preview .ff-img-loaded:after { position: absolute; content: ""; background: url("play.png") no-repeat scroll 0px 0px / 39px 39px transparent; width: 40px; height: 40px; top: 50%; left: 50%; margin: -20px 0px 0px -20px; opacity: 0.8; z-index: 100; transition: all 100ms ease-out 0s; backface-visibility: hidden; }
.ff-video-preview:hover .ff-img-loaded:after { opacity: 1; }
.ff-loadmore-wrapper { text-align: center; position: relative; visibility: hidden; z-index: 0; clear: both; }
.ff-loadmore-wrapper .ff-btn { width: auto ! important; display: inline-block; margin: 20px 12px 0px; cursor: pointer; background: none repeat scroll 0% 0% rgb(205, 205, 205); color: white; font-size: 15px; border-radius: 5px; padding: 10px 40px; text-transform: uppercase; vertical-align: middle; box-sizing: border-box; font-weight: normal; font-style: normal; position: relative; text-align: center; transition: all 100ms ease-out 0s; }
.shuffle--container { position: relative; overflow: hidden; }
.shuffle--animatein, .shuffle--animateoff { overflow: visible; }
.shuffle--animatein .picture-item__inner, .shuffle--animatein .ff-moderation-wrapper { opacity: 0; transform: translate(0px, 220px); }
.shuffle--animatein .picture-item__inner--transition, .ff-moderation-wrapper { transition: all 0.6s ease 0s; }
.ff-timestamp:hover:before { text-decoration: none; }
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.ff-item-cont .ff-content a { padding: 0px; word-break: break-all; }
.ff-sc-label1 .ff-label-wrapper { position: absolute; top: 0px; left: 0px; margin: 7% 0px 0px 7%; z-index: 2; }
@keyframes enter {
0% { opacity: 0; top: 10px; }
5% { opacity: 1; top: 0px; }
50.9% { opacity: 1; top: 0px; }
55.9% { opacity: 0; top: -10px; }
}
@keyframes enter {
0% { opacity: 0; top: 10px; }
5% { opacity: 1; top: 0px; }
50.9% { opacity: 1; top: 0px; }
55.9% { opacity: 0; top: -10px; }
}
.ff-loader { position: absolute ! important; left: 50%; top: 50px; margin: 0px 0px 0px -18px; transition: all 200ms ease-out 50ms; }
.ff-loader.ff-squeezed { transform: scale(0, 0); }
.ff-square { background: none repeat scroll 0% 0% white; width: 10px; height: 10px; float: left; top: 10px; margin-right: 4px; margin-top: 4px; position: relative; opacity: 0; animation: 4s ease 0s normal none infinite enter; }
.ff-square:nth-child(2) { animation-delay: 0.2s; }
.ff-square:nth-child(3) { animation-delay: 0.4s; }
.ff-square:nth-child(4) { animation-delay: 0.6s; }
.ff-square:nth-child(5) { animation-delay: 0.8s; }
.ff-square:nth-child(6) { animation-delay: 1s; }
.ff-square:nth-child(7) { animation-delay: 1.2s; }
.ff-square:nth-child(8) { animation-delay: 1.4s; }
.ff-square:nth-child(9) { animation-delay: 1.6s; }
.ff-clear { clear: both; }
.ff-clear:after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
.ff-last { margin-right: 0px; }
.ff-share-wrapper { float: right; position: relative; }
.ff-share-popup a { width: 100%; position: relative; z-index: 2; }
.ff-share-popup a:before { z-index: 2; }
.ff-share-popup a:hover:before { color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.05), 2px 2px rgba(0, 0, 0, 0.05), 3px 3px rgba(0, 0, 0, 0.05), 4px 4px rgba(0, 0, 0, 0.05); }
.ff-share-popup a:after { content: ""; position: absolute; left: 1px; top: 0px; width: 24px; height: 24px; border-radius: 50%; background: none repeat scroll 0% 0% rgb(59, 89, 152); transform: scale(0, 0); transition: transform 0.15s cubic-bezier(0.215, 0.061, 0.355, 1) 0s; }
.ff-share-popup .ff-tw-share:after { background: none repeat scroll 0% 0% rgb(94, 159, 202); }
.ff-share-popup .ff-gp-share:after { background: none repeat scroll 0% 0% rgb(221, 75, 57); }
.ff-share-popup .ff-pin-share:after { background: none repeat scroll 0% 0% rgb(130, 10, 15); }
.ff-share-popup .ff-li-share:after { background: none repeat scroll 0% 0% rgb(0, 119, 181); }
.ff-share-popup .ff-email-share:after { background: none repeat scroll 0% 0% rgb(181, 66, 123); }
.ff-share-popup a:hover:after { transform: scale(1, 1); }
.ff-share-popup a:before { font-family: 'ff-icons'; display: inline-block; margin: 0px 3px 0px 0px; cursor: pointer; font-size: 14px; padding: 0px; border-radius: 26px; opacity: 0.6; width: 26px; height: 26px; line-height: 24px; vertical-align: middle; box-sizing: border-box; font-weight: normal; font-style: normal; position: relative; text-align: center; transition: transform 200ms ease 0ms, opacity 200ms ease 0s; }
.ff-fb-share:before { content: ""; }
.ff-tw-share:before { content: ""; }
.ff-gp-share:before { content: ""; }
.ff-pin-share:before { content: ""; }
.ff-li-share:before { content: ""; }
.ff-email-share:before { content: ""; }
.ff-share-popup { position: absolute; bottom: 30px; right: -30px; min-width: 105px; opacity: 0; visibility: hidden; padding: 7px 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 4px; border: 1px solid rgba(229, 226, 220, 0.4); z-index: 100; transform: translate(0px, -7px); transition: all 0.1s ease-in-out 0s; }
.ff-share-popup:before { content: ""; position: absolute; bottom: 1px; clip: rect(0px, 18px, 18px, 0px); left: 50%; }
.ff-share-popup:after { transform: rotate(45deg); box-shadow: 1px 1px 0px 0px rgba(229, 226, 220, 0.4); content: ""; display: block; width: 14px; height: 14px; background: none repeat scroll 0% 0% rgb(255, 255, 255); position: absolute; bottom: -6px; right: 32px; }
.ff-share-wrapper a:hover:before { opacity: 1; }
.ff-userpic .ff-icon, .ff-sc-stamp1 .ff-label-wrapper { display: none; }
@media only screen and (max-width: 800px) {
}
@keyframes enter {
0% { opacity: 0; top: 10px; }
5% { opacity: 1; top: 0px; }
50.9% { opacity: 1; top: 0px; }
55.9% { opacity: 0; top: -10px; }
}
@keyframes reveal {
0% { opacity: 0; top: 10px; }
100% { opacity: 1; }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
  .ff-stream-wrapper { margin: 0px 5px; }
  .ff-stream { min-width: 280px ! important; }
}
@keyframes ff-rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
