/* Code tidied up by ScrapBook */
.algolia-autocomplete { z-index: 999999 ! important; }
.aa-dropdown-menu { font-family: sans-serif; background-color: rgb(255, 255, 255); border-top: medium none; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(0, 0, 0, 0.35); }
.aa-dropdown-menu:after { content: " "; display: block; clear: both; }
.aa-dropdown-menu { color: rgb(26, 26, 26); font-size: 12px; }
.aa-dropdown-menu a { font-size: 12px; color: rgb(26, 26, 26); font-weight: normal; text-decoration: none; }
.aa-dropdown-menu a:hover { text-decoration: none; }
.aa-dropdown-menu .autocomplete-footer-branding { padding: 15px 14px 0px; float: right; color: rgba(0, 0, 0, 0.3); margin-bottom: 7px; }
