/* Code tidied up by ScrapBook */
body { background-color: rgb(221, 221, 221); }
#pagewrap { width: 1236px; margin: 27px auto; max-width: 95%; background-color: rgb(255, 255, 255); position: relative; }
body:not(.fixed-header-on) #pagewrap #headerwrap { top: 0px; }
#headerwrap { position: absolute; }
#header { text-align: inherit; padding: 0.5em 1em; }
.header-bar { float: left; }
#site-logo { font-size: 1.5em; margin: 12px 0.5em 0px 0px; display: inline-block; vertical-align: middle; }
#searchform-wrap { margin: 15px 0px 0px; float: left; transition: all 0.2s ease-in-out 0s; }
#headerwrap #searchform #s { padding: 0px 15px 0px 25px; height: 25px; vertical-align: top; position: absolute; margin-top: -1px; }
#headerwrap #searchform .icon-search:before { font-size: 15px; padding: 6px; line-height: 100%; width: 13px; height: 13px; margin: -1px 0px 0px -3px; }
.social-links .icon-medium i { padding: 6px; font-size: 15px; width: 13px; height: 13px; line-height: 13px; margin-right: -3px; }
body:not(.slide-cart):not(.mobile_menu_active) #main-nav-wrap { display: flex; align-items: center; justify-content: flex-end; position: relative; }
body:not(.slide-cart):not(.mobile_menu_active) #main-nav { position: static; }
#main-nav { float: right; clear: right; transition: all 0.2s ease-in-out 0s; margin: 0px; }
#main-nav li:not(.themify-widget-menu) > ul { left: auto; right: 0px; }
