/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Quattrocento Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Quattrocento Sans"), local("QuattrocentoSans"), url("va9c4lja2NVIDdIAAoMR5MfuElaRB0zJt0k.woff") format("woff");
}
