/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("mem6YaGs126MiZpBA-UFUK0Zdcs.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("memnYaGs126MiZpBA-UFUKXGUdhrIqU.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("memnYaGs126MiZpBA-UFUKWiUNhrIqU.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("mem5YaGs126MiZpBA-UN_r8OUuhv.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("mem8YaGs126MiZpBA-UFVZ0d.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("mem5YaGs126MiZpBA-UNirkOUuhv.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("mem5YaGs126MiZpBA-UN7rgOUuhv.woff") format("woff");
}
@font-face {
  font-family: "Quattrocento";
  font-style: normal;
  font-weight: 400;
  src: local("Quattrocento"), url("OZpEg_xvsDZQL_LKIF7q4jP3w2j8.woff") format("woff");
}
@font-face {
  font-family: "Quattrocento";
  font-style: normal;
  font-weight: 700;
  src: local("Quattrocento Bold"), local("Quattrocento-Bold"), url("OZpbg_xvsDZQL_LKIF7q4jP_eE3vcKne.woff") format("woff");
}
@font-face {
  font-family: "Quattrocento Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Quattrocento Sans"), local("QuattrocentoSans"), url("va9c4lja2NVIDdIAAoMR5MfuElaRB0zJt0k.woff") format("woff");
}
