/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Quattrocento";
  font-style: normal;
  font-weight: 400;
  src: local("Quattrocento"), url("OZpEg_xvsDZQL_LKIF7q4jP3w2j8.woff") format("woff");
}
@font-face {
  font-family: "Quattrocento";
  font-style: normal;
  font-weight: 700;
  src: local("Quattrocento Bold"), local("Quattrocento-Bold"), url("OZpbg_xvsDZQL_LKIF7q4jP_eE3vcKne.woff") format("woff");
}
