/* Code tidied up by ScrapBook */
@media only screen and (max-width: 600px) {
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 600px) {
}
@font-face {
  font-family: "s11-fp";
  font-style: normal;
  font-weight: normal;
  src: local("☺"), url("s11-fp.woff") format("woff"), url("s11-fp.ttf") format("truetype"), url("s11-fp.svg") format("svg");
}
@media screen and (max-width: 768px) {
}
@media not all, only screen and (min-resolution: 144dpi) {
}
@keyframes passing-through {
0% { opacity: 0; transform: translateY(40px); }
30%, 70% { opacity: 1; transform: translateY(0px); }
100% { opacity: 0; transform: translateY(-40px); }
}
@keyframes passing-through {
0% { opacity: 0; transform: translateY(40px); }
30%, 70% { opacity: 1; transform: translateY(0px); }
100% { opacity: 0; transform: translateY(-40px); }
}
@keyframes slide-in {
0% { opacity: 0; transform: translateY(40px); }
30% { opacity: 1; transform: translateY(0px); }
}
@keyframes slide-in {
0% { opacity: 0; transform: translateY(40px); }
30% { opacity: 1; transform: translateY(0px); }
}
@media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 600px) {
}
