/* Code tidied up by ScrapBook */
@media screen and (max-width: 1024px) {
  .header-widget .col4-1, .footer-widgets .col4-1 { width: 48.4%; }
  .header-widget .col4-1:nth-child(2n+1), .footer-widgets .col4-1:nth-child(2n+1) { margin-left: 0px; clear: left; }
}
@media screen and (max-width: 1200px) {
  #pagewrap { max-width: 100%; }
  .pagewidth, .full_width .themify_builder_row .row_inner, .full_width .related-posts, .full_width .post-nav, .full_width .commentwrap, .full_width .module-layout-part .themify_builder_row.fullwidth_row_container .row_inner { max-width: 96%; }
  body { font-size: 1em; }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 760px) {
  body { font-size: 0.95em; }
  .page-title, h1 { font-size: 1.95em; }
  h2 { font-size: 1.75em; }
  h3 { font-size: 1.3em; }
  h4 { font-size: 1.25em; }
  body .pagewidth, body.full_width .themify_builder_row .row_inner, body.full_width .related-posts, .full_width .post-nav, .full_width .commentwrap, .full_width .module-layout-part .themify_builder_row.fullwidth_row_container .row_inner { max-width: 90%; }
  #content { width: 100%; max-width: 100%; float: none; clear: both; padding-top: 10%; }
}
@media screen and (max-width: 680px) {
  .col4-1, .col4-2, .col2-1, .col4-3, .col3-1, .col3-2 { margin-left: 0px; width: 100%; max-width: 100%; }
  .footer-widgets .col4-1, .footer-widgets .col4-2, .footer-widgets .col4-3, .footer-widgets .col3-2, .footer-widgets .col3-1 { margin-left: 0px; width: 100%; max-width: 100%; }
  #headerwrap .header-icons { right: 5%; }
  .shortcode.loops-wrapper.list-post .post, .shortcode.loops-wrapper.grid4 .post, .shortcode.loops-wrapper.grid3 .post, .shortcode.loops-wrapper.grid2 .post, .shortcode.grid2-thumb .post, .shortcode.list-thumb-image .post, .shortcode.list-large-image .post, .loops-wrapper.list-post .post, .loops-wrapper.grid4 .post, .loops-wrapper.grid3 .post, .loops-wrapper.grid2 .post, .loops-wrapper.grid2-thumb .post, .loops-wrapper.list-thumb-image .post, .loops-wrapper.list-large-image .post, .loops-wrapper.no-gutter.grid2 .post, .loops-wrapper.no-gutter.grid3 .post, .loops-wrapper.no-gutter.grid4 .post { width: 100%; margin-left: 0px; float: none; }
  .post-title, .loops-wrapper.list-post .post-title, .loops-wrapper.grid4 .post-title, .loops-wrapper.grid3 .post-title, .loops-wrapper.grid2 .post-title, .loops-wrapper.grid2-thumb .post-title, .loops-wrapper.list-thumb-image .post-title, .loops-wrapper.list-large-image .post-title, .loops-wrapper.slider .post-title { font-size: 1.8em; }
  .loops-wrapper.list-post .post-image, .loops-wrapper.grid4 .post-image, .loops-wrapper.grid3 .post-image, .loops-wrapper.grid2 .post-image, .loops-wrapper.list-large-image .post-image { float: none; position: static; width: auto; overflow: visible; }
  #footerwrap { padding-top: 35px; }
  .back-top a:before { font-size: 2.8em; }
}
@media screen and (max-height: 900px) {
}
@media screen and (max-width: 760px) {
  .sidebar2 #pagewrap #content, .sidebar2 #pagewrap #sidebar, .sidebar2 #pagewrap #sidebar-alt, body:not(.sidebar2):not(.sidebar-none):not(.sidebar-left):not(.full_width) #content, body:not(.sidebar2):not(.sidebar-left) #sidebar, .sidebar-left #content, .sidebar-left #sidebar { float: none; width: 100%; }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 680px) {
}
