/* Code tidied up by ScrapBook */
@import url("css.css");
@import url("css_001.css");
#searchform-wrap { width: 180px; float: right ! important; }
#headerwrap #searchform .icon-search:before { background: none repeat scroll 0% 0% rgb(245, 245, 245); color: rgb(15, 64, 110); }
#headerwrap #searchform #s { width: 180px ! important; background: none repeat scroll 0% 0% rgb(245, 245, 245) ! important; color: rgb(0, 0, 0); font-family: Quattrocento Sans; font-size: 16px; }
#main-nav li:not(.themify-widget-menu) > ul { right: auto ! important; }
.social-links .icon-medium i { padding: 0.25em; width: 1.1em; height: 1.1em; }
.home .module-slider, .home .themify_builder_slider .slide-image { margin-bottom: 0px; }
.home .module-slider .carousel-nav-wrap { position: absolute; display: block; width: 10%; left: 45%; bottom: 20px; }
.home .module-slider .carousel-nav-wrap .carousel-prev, .home .module-slider .carousel-nav-wrap .carousel-next { color: rgb(255, 255, 255); font-size: 50px; height: 50px; }
.home .module .post, .home .loops-wrapper .post-image { margin-bottom: 0px; }
.home .connect-icons .fa-map-marker:before, .home .connect-icons .fa-facebook:before { margin-left: 5px ! important; }
.home .connect-icons .fa-flickr:before, .home .connect-icons .fa-youtube:before { margin-left: 2px ! important; }
.footer-upper { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.footer-widgets .widgettitle { font-weight: normal; }
.footer-widgets .textwidget p { padding: 0px; }
.footer-text { font-style: normal; }
#layout { width: 100% ! important; }
@media (max-width: 1200px) {
  #layout { max-width: 100%; }
  .page #content { max-width: 96%; margin: 0px auto; }
}
@media (max-width: 760px) {
  .page #content { max-width: 90% ! important; margin: 0px auto; }
}
.page .row_inner { width: 1160px; max-width: 100%; margin: 0px auto; }
#pagewrap { margin-top: 0px ! important; width: inherit; max-width: 100%; }
#site-logo { max-width: 18rem; margin-top: 0px; }
#header { padding-left: 0px; padding-right: 0px; padding-bottom: 0px; display: flex; flex-direction: row; align-items: flex-end; justify-content: space-between; }
#layout-header { margin-top: 1.5rem; }
#headerwrap { position: inherit; }
#mobile-menu { margin-left: auto; }
#main-nav .menu-item a { font-size: 1.125rem; }
#searchform-wrap { min-width: 300px; margin: 15px 0px 15px 15px; }
#headerwrap #searchform #s { width: 300px; min-width: 300px; }
.home .themify_builder_2_row.module_row_0.module_row { margin-top: 0px; }
a { color: rgb(38, 127, 210); }
a.bishop-button { background-color: rgb(245, 245, 245); max-width: 300px; min-width: 300px; display: block; text-align: center; padding: 0.5rem 0px; float: right; transition: background-color 150ms ease-in-out 0s; }
a.bishop-button:hover { background-color: rgb(207, 208, 224); }
@media (max-width: 1200px) {
  #headerwrap { display: flex; flex-flow: column wrap; }
  .bishop-search-box { order: 3; }
  a.bishop-button { min-width: 100%; max-width: 100%; width: 100%; float: none; }
  #header {  }
}
