/* Code tidied up by ScrapBook */
.module_column, .themify_builder .module_row, .themify_builder .module, .tb_module { box-sizing: border-box; }
.themify_builder_content { clear: both; }
div.module_column { margin-left: 3.2%; margin-right: 0px; float: left; position: relative; }
.module_column.col4-1 { width: 22.6%; }
.module_column.col4-2, .module_column.col2-1 { width: 48.4%; }
.gutter-narrow > .module_column { margin-left: 1.6%; }
.gutter-narrow > .module_column.first, .module_column.col-full, .module_column.first { margin-left: 0px; clear: left; }
.ui.nav:after, .ui.tab .tab-nav:after, .ui.window .bar:after, .ui.module-callout:after, .row_inner:after, .ui:after, .module:after, .tab-nav:after, .clearfix:after { content: ""; display: table; clear: both; }
.module li:before, .module li:after { display: none; }
.module-title { font-size: 1.2em; margin: 0px 0px 1.2em; }
.module img { border: medium none; vertical-align: bottom; }
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 680px) {
}
.module-slider { margin-bottom: 2.5em; }
.themify_builder_slider { padding: 0px ! important; margin: 0px ! important; position: relative; list-style: none outside none; display: block; }
.themify_builder_slider > li { margin: 0px ! important; padding: 0px; list-style: none outside none; float: left; clear: none ! important; text-align: center; width: auto; position: relative; }
.themify_builder_slider .slide-image { margin: 0px 0px 1em; }
.themify_builder_slider .slide-image img { vertical-align: bottom; }
.themify_builder_slider .slide-content { padding: 0px 4%; }
.themify_builder_slider .slide-title { font-size: 1.2em; margin: 0px 0px 0.5em; padding: 0px; }
.themify_builder_slider .slide-title a { text-decoration: none; }
.themify_builder_slider_wrap { height: 0px; overflow: hidden; visibility: hidden; }
.module-slider.slider-overlay li { position: relative; }
.module-slider.slider-overlay .slide-image { margin-bottom: 0px; }
.module-slider.slider-overlay .slide-image img { width: 100%; }
.module-slider.slider-overlay .slide-content { font-size: 0.9em; padding: 2% 4%; width: 100%; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7); color: rgb(204, 204, 204); line-height: 1.4em; box-sizing: border-box; }
.module-slider.slider-overlay .slide-image + .slide-content { position: absolute; bottom: 0px; left: 0px; }
.module-slider.slider-overlay .slide-title { margin: 0px 0px 0.5em; }
.module-slider.slider-overlay .slide-content a, .module-slider.slider-overlay .slide-title a { color: rgb(255, 255, 255); text-decoration: none; }
.module-slider.slider-overlay .slide-content h1, .module-slider.slider-overlay .slide-content h2, .module-slider.slider-overlay .slide-content h3, .module-slider.slider-overlay .slide-content h4, .module-slider.slider-overlay .slide-content h5, .module-slider.slider-overlay .slide-content h6 { color: rgb(255, 255, 255); margin: 0px 0px 0.4em; }
.module-slider .caroufredsel_wrapper { display: block ! important; }
.themify_builder_slider_wrap .carousel-nav-wrap { text-align: center; margin: auto; border: medium none; padding: 0px 0px 1em; }
.themify_builder_slider_wrap .carousel-prev span, .themify_builder_slider_wrap .carousel-next span { display: none; }
.themify_builder_slider_wrap .carousel-prev, .themify_builder_slider_wrap .carousel-next { position: static; text-decoration: none; text-align: center; text-indent: 0px; display: inline-block; vertical-align: middle; color: inherit; text-shadow: none; border-radius: 0px; border: medium none; background: none repeat scroll 0% 0% transparent; font: 30px/100% Georgia,"Times New Roman",Times,serif; padding: 0px 5px; box-sizing: border-box; overflow: hidden; }
.themify_builder_slider_wrap .carousel-prev:before, .themify_builder_slider_wrap .carousel-next:before { content: ""; display: inline-block; width: 12px; height: 12px; border-width: 2px; border-style: solid; border-top: 2px solid transparent; border-left: 2px solid transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-bottom-color: inherit; border-right-color: inherit; transform: rotateZ(135deg); margin-left: 7px; vertical-align: middle; }
.themify_builder_slider_wrap .carousel-next:before { transform: rotateZ(-45deg); margin: auto 7px auto auto; }
.post { margin-bottom: 2.2em; box-sizing: border-box; }
.post-title a { text-decoration: none; }
.post-content { min-width: 120px; padding: 0px; position: static; }
.builder-posts-wrap .post-image img { max-width: 100%; height: auto; }
.builder-posts-wrap.grid2 .post, .builder-posts-wrap.grid3 .post, .builder-posts-wrap.grid4 .post, .builder-posts-wrap.grid2-thumb .post { clear: none; }
.builder-posts-wrap.grid3 .post { width: 31.2%; float: left; margin-left: 3.2%; margin-bottom: 2.2em; }
.builder-posts-wrap.grid3 .post-title { font-size: 150%; }
.builder-posts-wrap.grid4, .builder-posts-wrap.grid3, .builder-posts-wrap.grid2, .builder-posts-wrap.grid2-thumb { clear: both; }
.builder-posts-wrap.grid4 .post:nth-of-type(4n+1), .builder-posts-wrap.grid3 .post:nth-of-type(3n+1), .builder-posts-wrap.grid2 .post:nth-of-type(2n+1), .builder-posts-wrap.grid2-thumb .post:nth-of-type(2n+1) { margin-left: 0px; clear: left; }
.themify_builder_slider > li:first-child:last-child { float: none; }
.sidebar-none .themify_builder .module_row { width: 100%; }
.row_inner, .tb-column-inner, .themify_builder .module, .module_row, .module_subrow { position: relative; }
.module_row .caroufredsel_wrapper { margin: 0px ! important; }
@keyframes kenburns-top {
0% { transform: scale(1) translateY(0px); transform-origin: 50% 16% 0px; }
100% { transform: scale(1.25) translateY(-15px); transform-origin: center top 0px; }
}
@keyframes kenburns-bottom {
0% { transform: scale(1) translateY(0px); transform-origin: 50% 84% 0px; }
100% { transform: scale(1.25) translateY(15px); transform-origin: center bottom 0px; }
}
@keyframes kenburns-left {
0% { transform: scale(1) translate(0px, 0px); transform-origin: 16% 50% 0px; }
100% { transform: scale(1.25) translate(-20px, 15px); transform-origin: left center 0px; }
}
@keyframes kenburns-right {
0% { transform: scale(1) translate(0px, 0px); transform-origin: 84% 50% 0px; }
100% { transform: scale(1.25) translateX(20px); transform-origin: right center 0px; }
}
@media screen and (min-width: 1025px) {
}
@media screen and (min-width: 681px) and (max-width: 1024px) {
}
@media screen and (max-width: 680px) {
}
@media (min-width: 681px) and (max-width: 959px) {
}
@media screen and (max-width: 780px) {
  .module-image .image-content, .module-video .video-content, .module-slider .slide-content { position: static ! important; }
}
@media screen and (max-width: 680px) {
  .gutter-narrow:not(.tb_grid_classes) > .module_column, .gutter-none:not(.tb_grid_classes) > .module_column, div:not(.tb_grid_classes) > .module_column { margin-left: 0px; width: 100%; max-width: 100%; float: none; }
  .builder-posts-wrap.grid2 .post, .builder-posts-wrap.grid3 .post, .builder-posts-wrap.grid4 .post { clear: both; width: auto; float: none; margin-left: 0px; margin-right: 0px; }
  .post-content { overflow: visible ! important; }
}
.subrow_inner, .row_inner, .module_subrow, .tb-column-inner, .tb_module_front, .tb_state_highlight, .themify_builder .col-full { width: 100%; box-sizing: border-box; }
.row_inner, .tb_holder, .themify_builder:not(.themify_builder_admin) .module_column, .subrow_inner { display: flex; flex-flow: row wrap; }
@supports (-ms-ime-align:auto) {
  .themify_builder .module_row.fullheight.builder-parallax-scrolling { display: block; }
}
.subrow_inner.col_align_top .tb_holder, .fullheight .col_align_top .tb_holder, .tb_holder, .module_row .col_align_top > .module_column, .col_align_top .tb_holder, .module_row.fullheight .col-full.module_column { align-items: flex-start; align-content: flex-start; }
@media screen and (max-width: 680px) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@keyframes horizontal-loader {
0%, 80%, 100% { opacity: 1; }
40% { opacity: 0.5; }
}
