/* Code tidied up by ScrapBook */
@media screen and (max-width: 600px) {
}
.shortcode.col4-1, .shortcode.col4-2, .shortcode.col4-3, .shortcode.col3-1, .shortcode.col3-2, .shortcode.col2-1 { margin-left: 3.2%; float: left; }
.shortcode.col4-1 { width: 22.6%; }
.shortcode.col.first, .shortcode.col4-1.first, .shortcode.col4-2.first, .shortcode.col4-3.first, .shortcode.col3-1.first, .shortcode.col3-2.first, .shortcode.col2-1.first { margin-left: 0px; clear: left; }
.shortcode.themify-icon { display: inline-block; }
.themify-icon-link { text-decoration: none ! important; border: medium none ! important; }
.shortcode.themify-icon .themify-icon-label { display: inline-block; vertical-align: middle; margin-left: 0.3em; margin-right: 0.6em; }
.shortcode.themify-icon .themify-icon-link:hover .themify-icon-label { text-decoration: underline; }
.shortcode.themify-icon .themify-icon-icon { display: inline-block; vertical-align: middle; width: 1em; height: 1em; padding: 0.5em; font-size: 16px; border-radius: 100%; box-sizing: content-box; position: relative; }
.shortcode.themify-icon .themify-icon-icon:before { margin: 0px; padding: 0px; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }
.shortcode.themify-icon.large .themify-icon-icon { font-size: 24px; }
@media screen and (max-width: 680px) {
  .shortcode.col4-1, .shortcode.col4-2, .shortcode.col4-3, .shortcode.col3-1, .shortcode.col3-2, .shortcode.col2-1 { margin-left: 0px; width: 100%; max-width: 100%; }
}
