/* Code tidied up by ScrapBook */
.themify_builder .slider-2-0-0-0.module-slider .slide-content { text-align: left; }
.themify_builder .text-2-1-1-0.module-text { margin-right: 40px; margin-left: 100px; }
