/* Code tidied up by ScrapBook */
.social-widget .widget { display: inline-block; margin: 0px 2px 0px 0px; }
.social-widget ul { margin: 6px 0px 0px ! important; padding: 0px; display: inline; }
.social-links.horizontal li { display: inline-block; margin: 0px 5px 5px 0px; padding: 0px; list-style: none outside none; border: medium none; }
.widget .social-links { padding: 0px; line-height: 1em; }
.widget .social-link-item { margin: 0px 2px 2px 0px; padding: 0px; list-style: none outside none; }
.widget .social-links a, .widget .social-links a:hover { text-decoration: none; }
.social-links li i { line-height: 1em; padding: 6px; width: 20px; height: 20px; text-align: center; vertical-align: middle; border-radius: 100%; display: inline-block; }
.social-links .icon-medium i { font-size: 20px; padding: 4px; width: 20px; height: 20px; }
#sidebar .social-links.horizontal li, #footer .social-links.horizontal li { border: medium none; display: inline-block; }
iframe { border: medium none; }
a:focus { outline: 1px dotted rgba(150, 150, 150, 0.7); }
div:not(.caroufredsel_wrapper) > .themify_builder_slider > li:not(:first-child), .mfp-hide { display: none; }
@media screen and (max-width: 600px) {
}
