/* Code tidied up by ScrapBook */
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: Quattrocento; font-size: 18px; color: rgb(0, 0, 0); }
a { font-weight: bold; color: rgb(15, 64, 110); }
a:hover { color: rgb(6, 43, 78); }
h1 { font-family: Quattrocento; font-size: 36px; color: rgb(0, 0, 0); }
h2 { font-family: Quattrocento; font-size: 28px; color: rgb(0, 0, 0); }
h3 { font-family: Quattrocento; font-size: 22px; color: rgb(0, 0, 0); }
h4 { font-family: Quattrocento; font-size: 17px; text-transform: uppercase; color: rgb(0, 0, 0); }
.header-classic #headerwrap, #headerwrap { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#main-nav a { font-family: Quattrocento; font-weight: bold; font-size: 20px; }
#main-nav-wrap #main-nav a:hover { background: none repeat scroll 0% 0% rgb(15, 65, 111); }
#main-nav-wrap #main-nav a:hover, #main-nav-wrap #main-nav > li > a:hover { color: rgb(255, 255, 255); }
.post-title { font-family: Quattrocento; font-size: 22px; }
.post-title, .post-title a { color: rgb(0, 0, 0); }
.post-title a:hover { color: rgb(15, 65, 111); }
.loops-wrapper.grid3 .post-title { font-family: Quattrocento; }
.page-title { font-family: Quattrocento; font-size: 40px; }
.module-title { font-family: Quattrocento; font-size: 24px; text-transform: uppercase; }
#footerwrap { background: none repeat scroll 0% 0% rgb(40, 40, 40); }
#footer { color: rgb(255, 255, 255); }
#footer a { color: rgb(212, 212, 212); }
@media screen and (max-width: 768px) {
  body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
  a { color: rgb(15, 64, 110); }
  a:hover { color: rgb(6, 43, 78); }
  h1 { color: rgb(0, 0, 0); }
  h2 { color: rgb(0, 0, 0); }
  h3 { color: rgb(0, 0, 0); }
  h4 { color: rgb(0, 0, 0); }
  .header-classic #headerwrap, #headerwrap { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
  #main-nav a { font-family: Quattrocento; font-weight: normal; }
  .post-title, .post-title a { color: rgb(0, 0, 0); }
  .post-title a:hover { color: rgb(15, 65, 111); }
  #footerwrap { background: none repeat scroll 0% 0% rgb(40, 40, 40); }
  #footer { color: rgb(255, 255, 255); }
  #footer a { color: rgb(212, 212, 212); }
}
#headerwrap { border: medium none; }
.footer-upper { background: none repeat scroll 0% 0% rgb(236, 236, 236) ! important; }
.footer-upper { background: none repeat scroll 0% 0% rgb(236, 236, 236) ! important; clear: both; }
a { color: rgb(38, 127, 210); }
.post-image img { width: 100%; vertical-align: bottom; }
