@supports (-webkit-appearance:none) {
	html > body > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(1) {
		width: 76.25% !important;  /* 732px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(1) {
		width: 76.25% !important;  /* 732px */
	}
}