/* ::::: [internal] ::::: */

#i4awidget_widget_menu_13 { position: absolute; margin: 0px; z-index: 1000; top: 230px; left: 0px; width: 1000px; height: auto; }
#i4awidget_widget_menu_14 { position: static; margin: 0px; z-index: 1000; width: auto; height: auto; }
#i4awidget_widget_menu_15 { position: absolute; margin: 0px; z-index: 100; top: 0px; left: 0px; width: auto; height: auto; }
#i4awidget_sponsorlogos_16 { position: absolute; margin: 0px; z-index: 1000; top: 20px; left: 20px; width: auto; height: auto; color: white; }
#i4awidget_leftsidebarcontent_17 { position: static; margin: 0px; z-index: 1000; width: auto; height: auto; color: black; }
#i4awidget_widget_login_18 { position: absolute; margin: 0px; z-index: 100; top: 0px; right: 0px; width: 200px; height: 100px; }
#i4awidget_homepagelink_19 { position: absolute; margin: 0px; z-index: 1000; top: 0px; left: 0px; width: auto; height: auto; color: black; }
#i4awidget_footercopyright_20 { position: absolute; margin: 0px; z-index: 1000; top: 80px; left: 55px; width: auto; height: auto; }
#i4awidget_footer_links_21 { position: absolute; margin: 0px; z-index: 1000; top: 80px; right: 55px; width: auto; height: auto; }
#i4awidget_widget_ga_22 { z-index: 100; top: 0px; left: 0px; width: auto; height: auto; }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/styles_i4a_base.css?v=286 ::::: */

html, body { margin: 0px; padding: 0px; }
div#page-container { text-align: left; width: 1000px; margin: 0px auto; }
div#header-container { height: 270px; width: 1000px; margin: 0px; z-index: 100; position: relative; }
div#content-container { float: left; width: 100%; z-index: 50; position: relative; }
div#content-wrapper { margin: 0px 0px 0px 210px; position: relative; z-index: 75; }
div#sidebar-a-container { float: left; width: 210px; margin-left: -1000px; position: relative; z-index: 90; }
div#sidebar-b-container { visibility: hidden; display: none; }
div#footer-container { clear: left; width: 100%; height: 180px; position: relative; z-index: 85; }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/reset.css?v=6489 ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; font: inherit; vertical-align: baseline; }
table, caption, tbody, tfoot, thead, tr, th, td { font: inherit; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/ams/forms.css ::::: */

table.i4aFormTable { margin: 0px 0px 10px; }
table.i4aFormTable td { padding: 0px 5px 0px 0px; }
table.multirow td { padding-bottom: 5px; }
table.nopadding td { padding-bottom: 5px; }
table.i4aFormTable td.FORMLABELREQUIRED, table.i4aFormTable td.FORMLABEL { padding-left: 1px; }
table.i4aFormTable input { border-radius: 4px; box-shadow: 3px 3px 6px rgb(238, 238, 238) inset; background-color: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); font-size: 100%; margin: 0px 3px 0px 0px; padding: 1px 7px 1px 6px; }
table.i4aFormTable input.submit, input.submit, input.button, input.btn, input[type="submit"], input[type="reset"], input[type="button"], button { border-radius: 4px; box-shadow: -3px -3px 6px rgb(221, 221, 221) inset; background-color: rgb(238, 238, 238); border: 1px solid rgb(153, 153, 153); font-size: 100%; margin: 0px; padding: 1px 4px 1px 3px; color: black; }
.radio-choice { padding: 0px 5px 0px 3px; }
table.i4aFormTable select { background-color: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); font-size: 100%; margin: 0px; }
input.radio1 { height: 17px; vertical-align: middle; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/forms_builder/forms_baseline_styles.css ::::: */

form#iform, div.form_layout_wrapper { margin: 0px; padding: 0px; }
div.form-instructions { margin: 0px; padding: 0px; }
p.form_layout_wrapper { margin: 0px; padding: 0px; }
div#frm_wrapper div.form.item { margin: 0px; padding: 0px; }
div#frm_wrapper div.form.item { background-color: transparent; border: medium none; display: block; float: left; margin: 0px 6px 8px 0px; padding: 0px; overflow: visible; height: auto; white-space: normal; width: auto; }
div#frm_wrapper div.form.item.type-Hidden { display: none; }
div#frm_wrapper div.form.item > div.inner { padding: 5px; }
div#frm_wrapper div.form.item div.the_question, div#frm_wrapper div.form.item div.the_question * { margin: 0px; padding: 0px; font-size: 1.2rem ! important; line-height: 100% ! important; }
div#frm_wrapper div.form.item div.the_question { margin: 0px 0px 5px; display: block; height: 13px; }
div#frm_wrapper label { display: block; margin: 0px 0px 2px; }
div#frm_wrapper label, div#frm_wrapper label * { font-size: inherit; line-height: 120%; }
div#frm_wrapper label sup.required { color: red; padding: 0px 0px 0px 2px; font-size: 80%; line-height: inherit; vertical-align: text-top; }
div#frm_wrapper input.type-Text, div#frm_wrapper input.type-Email, div#frm_wrapper textarea.type-Textarea, div#frm_wrapper select.type-select { border: 1px solid rgb(187, 187, 187); border-radius: 6px; font-size: inherit; line-height: 100%; padding: 3px 0px; color: rgb(85, 85, 85); box-shadow: 2px 2px 6px rgb(204, 204, 204); }
div#frm_wrapper select.type-select { border-radius: 6px 0px 0px 6px; }
div#frm_wrapper .readonly { background-color: rgb(221, 221, 221); }
div#frm_wrapper input.type-Checkbox { float: left; display: block; margin: 2px 0px 0px; }
div#frm_wrapper label.type-Checkbox { margin: 0px 0px 0px 20px ! important; }
div#frm_wrapper input.type-radio { margin: 0px 2px 5px 0px; }
div.payment-info-box { background-color: rgb(238, 238, 238); padding: 10px; border-radius: 8px; max-width: 360px; margin: 0px 0px 10px; }
div.payment-info-box h3 { font-size: 1.75rem; line-height: 100%; padding: 0px 0px 6px; text-align: center; }
body.layout.show-tools div.form.item div.question_type { display: block; }
body.layout.hide-tools div.form.item div.question_type { display: none; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/modules/classifieds.css ::::: */

div.classifieds-module { background-color: rgb(238, 238, 238); }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/widgets/font_resizer.css ::::: */

div#font_resizer-wrapper { z-index: 8000; position: absolute; top: 143px; right: 60px; background: transparent none repeat scroll 0% 0%; height: 23px; line-height: 23px; letter-spacing: 1px; font-size: 12px; }
div.font_resizer a { line-height: 22px ! important; }
div.font_resizer a.active { text-decoration: underline; }
div.font_resizer a.small { font-size: 12px; }
div.font_resizer a.medium { font-size: 14px; }
div.font_resizer a.large { font-size: 18px; }
div.font_resizer a.xlarge { font-size: 22px; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/widgets/tagcloud.css ::::: */

#tagpagecloud { font-size: 130%; }
#tagCloud-container { margin: 0px 0px 20px ! important; }
#tagCloud-wrapper { border-width: 1px ! important; border-style: solid ! important; border-color: rgb(221, 221, 221) ! important; background-color: rgb(255, 255, 255) ! important; border-radius: 6px ! important; box-shadow: 2px 2px 8px rgb(221, 221, 221) inset; }
#tagCloud { padding: 5px 8px ! important; line-height: 150% ! important; }
#tagCloud a { line-height: 100% ! important; margin: 0px ! important; padding: 3px ! important; display: inline-block; background: transparent none repeat scroll 0% 0%; text-decoration: none ! important; }
#tagCloud .smallestTag { font-size: 70% ! important; }
#tagCloud .smallTag { font-size: 90% ! important; }
#tagCloud .mediumTag { font-size: 110% ! important; }
#tagCloud .largeTag { font-size: 130% ! important; }
#tagCloud .largestTag { font-size: 150% ! important; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/widgets/login.css ::::: */

.login-wrapper { padding: 0px; margin: 0px; }
div.login-title { border-bottom: 0px solid rgb(204, 204, 204); font-weight: bold; margin: 0px 0px 5px; padding: 0px; }
.login-wrapper .username-wrapper { margin: 0px; padding: 0px 0px 5px; }
.login-wrapper .password-wrapper { margin: 0px; padding: 0px 0px 5px; }
.login-wrapper .username-wrapper input, .login-wrapper .password-wrapper input { color: rgb(0, 0, 0); border-radius: 4px; box-shadow: 3px 3px 6px rgb(238, 238, 238) inset; background-color: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); font-size: 100%; margin: 0px 3px 0px 0px; padding: 2px 4px 1px 3px; }
.login-wrapper .submit-wrapper { padding: 2px 0px 0px; margin: 0px; }
.login-wrapper .submit-wrapper input { border-radius: 4px; box-shadow: -3px -3px 6px rgb(221, 221, 221) inset; background-color: rgb(238, 238, 238); border: 1px solid rgb(153, 153, 153); font-size: 100%; margin: 0px; padding: 1px 4px 1px 3px; color: black; }
div.username-title-wrapper { padding: 0px 0px 2px; }
div.password-title-wrapper { padding: 0px 0px 2px; }
div.forgotpassword-wrapper { padding: 5px 0px 0px; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/widgets/search.css ::::: */

.search-wrapper { padding: 0px; margin: 0px; }
div.search-title { border-bottom: 0px solid rgb(204, 204, 204); font-weight: bold; margin: 0px 0px 5px; padding: 0px; }
div.searchstring-title-wrapper { padding: 0px 0px 2px; }
.search-wrapper .searchstring-wrapper { margin: 0px; padding: 0px 0px 5px; }
.search-wrapper .searchstring-wrapper input { color: rgb(0, 0, 0); border-radius: 4px; box-shadow: 3px 3px 6px rgb(238, 238, 238) inset; background-color: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); font-size: 100%; margin: 0px 3px 0px 0px; padding: 2px 4px 1px 3px; }
.search-wrapper .submit-wrapper { margin: 0px; padding: 2px 0px 0px; }
.search-wrapper .submit-wrapper input { border-radius: 4px; box-shadow: -3px -3px 6px rgb(221, 221, 221) inset; background-color: rgb(238, 238, 238); border: 1px solid rgb(153, 153, 153); font-size: 100%; margin: 0px; padding: 1px 4px 1px 3px; color: black; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/widgets/calendar.css ::::: */

div#calendar_widget_wrapper { overflow: hidden; text-align: left; width: 153px; }
div#calendar_widget_wrapper h3.calendar_widget_title { padding: 0px; margin: 5px 0px; font-size: 14px; font-weight: bold; }
table.calendar_widget { padding: 0px; }
.month { font-size: 12px; font-weight: bold; }
.prevnextcell { font-size: 10px; padding: 1px 1px 4px; }
a.prevnext { text-decoration: none; color: rgb(0, 0, 0); }
a.prevnext:hover { text-decoration: underline; color: rgb(0, 0, 0); }
.dayofweek { padding: 1px; font-weight: bold; font-size: 10px; }
.thedate_event, .thedate_noevent { font-size: 10px; padding: 1px; }
.thedate_event { background-color: white; color: red; }
.thedate_noevent { background-color: white; color: rgb(170, 170, 170); }
.theDateBox { border: 1px solid rgb(0, 0, 0); background-color: rgb(255, 255, 255); width: 18px; height: 18px; overflow: hidden; }
.thedate_event .theDateBox { border: 1px solid rgb(0, 0, 0); }
.theDateBox_inner { padding-top: 4px; }
a.eventLink { text-decoration: none; }
a.eventLink:hover { text-decoration: underline; }
div#i4aCalendar_events { border: 0px solid green; }
div#i4aCalendar_events p { margin: 0px; padding: 0px; }
div.i4aCalendar_monthheader { height: 30px; border-top: 1px solid rgb(170, 170, 170); border-bottom: 2px solid rgb(170, 170, 170); margin: 20px 0px 10px; position: relative; background-color: rgb(238, 238, 238); }
.i4aCalendar_events_month { font-size: 120%; font-weight: bold; position: absolute; left: 4px; bottom: 3px; }
.i4aCalendar_events_back_to_top { position: absolute; right: 4px; bottom: 3px; }
div.i4aCalendar_event_wrapper { border: 0px dashed orange; margin: 0px 0px 10px; padding: 0px; }
div.i4aCalendar_event_wrapper { border-width: 1px 0px 0px; border-color: rgb(204, 204, 204); border-style: solid; padding: 10px 0px 0px; }
div.i4aCalendar_event_wrapper.first { border-width: 0px; padding: 0px; }
div.i4aCalendar_events_event_title { margin: 0px; font-weight: bold; font-size: 105%; padding: 0px 0px 5px; }
div.i4aCalendar_date_location_wrapper { padding: 0px 0px 5px; }
div.i4aCalendar_events_datebox { padding: 0px; margin: 0px; font-weight: normal; font-size: 90%; }
div.i4aCalendar_events_event_location { padding: 0px; margin: 0px; font-weight: normal; font-size: 90%; }
div.i4aCalendar_events_event_shortdescription { padding: 0px 0px 5px; }
div.i4aCalendar_events_event_contact_box { padding: 0px 0px 5px; }
table.i4aCalendar_wall_calendar { background-color: rgb(238, 238, 238); border: 1px solid rgb(221, 221, 221); border-spacing: 1px; width: 100%; margin-top: 5px; margin-bottom: 5px; border-radius: 6px; }
table.i4aCalendar_wall_calendar th { width: 125px; padding: 2px; background-color: rgb(238, 238, 238); font-size: 10px; font-weight: normal; }
table.i4aCalendar_wall_calendar td { width: 125px; height: 75px; padding: 5px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); text-align: right; border-radius: 4px; }
table.i4aCalendar_wall_calendar td { font-size: 85%; line-height: 120%; font-weight: normal; }
table.i4aCalendar_wall_calendar td div.event { padding-top: 8px; }
table.i4aCalendar_wall_calendar td a, table.i4aCalendar_wall_calendar td a:link, table.i4aCalendar_wall_calendar td a:active, table.i4aCalendar_wall_calendar td a:visited { text-decoration: none; }
table.i4aCalendar_wall_calendar td a:hover { text-decoration: underline; }
table.i4aCalendar_wall_calendar .dateTxt { font-size: 12px; color: rgb(185, 89, 21); font-weight: bold; }
table.i4aCalendar_wall_calendar .event_heading { border-bottom: 1px solid rgb(238, 238, 238); }
table.i4aCalendar_wall_calendar .event_title { padding-bottom: 5px; color: rgb(153, 153, 153); font-size: 12px; }
table.i4aCalendar_wall_calendar .event_datetime { padding-bottom: 5px; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; }
table.i4aCalendar_wall_calendar .event_location { padding-bottom: 5px; color: rgb(0, 0, 0); font-size: 10px; }
a.link_cat_1, a.link_cat_1:link, a.link_cat_1:active, a.link_cat_1:hover, a.link_cat_1:visited {  }
a.link_cat_2, a.link_cat_2:link, a.link_cat_2:active, a.link_cat_2:hover, a.link_cat_2:visited {  }
a.link_cat_3, a.link_cat_3:link, a.link_cat_3:active, a.link_cat_3:hover, a.link_cat_3:visited {  }
a.link_cat_4, a.link_cat_4:link, a.link_cat_4:active, a.link_cat_4:hover, a.link_cat_4:visited {  }
a.link_cat_5, a.link_cat_5:link, a.link_cat_5:active, a.link_cat_5:hover, a.link_cat_5:visited {  }
a.prevnext { display: block; }
.theDateBox { border: 1px solid rgb(136, 136, 136); }
.theDateBox_inner { font-size: 10px; font-weight: normal; line-height: 10px; }
.thedate_event .theDateBox { border: 1px solid rgb(136, 136, 136); }
.theDateBox { padding: 0px; margin: 0px; border-width: 0px; background-color: transparent; }
td.padding { padding: 0px; margin: 0px; border-width: 0px; }
td.datecell { padding: 0px; margin: 0px; border: 1px solid red; }
td.datecell.yesevent { background-color: orange; }
td.datecell.noevent { background-color: yellow; }
div.theDateBox { padding: 0px; margin: 0px; }
div.theDateBox.yesevent { padding: 0px; margin: 0px; border-width: 0px; }
div.theDateBox.noevent { padding: 0px; margin: 0px; border-width: 0px; }
a.link { padding: 0px; margin: 0px; border-width: 0px; }
a.link.yesevent {  }
a.link.noevent {  }
div#calendarWidgetWrapper { overflow: hidden; text-align: left; width: 154px; }
h4.calendar_month { text-align: center; }
div.prevNextBlock a.prev { float: left; }
div.prevNextBlock a.next { float: right; }
div.dateboxOuter { float: left; padding: 0px; margin: 0px 2px 2px 0px; border-width: 1px; border-style: solid; border-color: transparent; }
div.dateboxOuter.padding { visibility: hidden; }
div.dateboxOuter.day { border-color: transparent; }
div.dateboxInner { width: 18px; height: 18px; overflow: hidden; text-align: center; }
a.dateboxLink { text-decoration: none; display: block; font-size: 10px; height: 18px; line-height: 17px; margin: 0px; padding: 0px; width: 18px; cursor: default; }
a.dateboxLink.event { cursor: pointer; }
a.dateboxLink.day:hover { text-decoration: none; }
a.dateboxLink.padding { visibility: hidden; }
div.dateboxOuter, a.dateboxLink { border-radius: 2px; }
div.dateboxOuter.event { border: 1px solid rgb(102, 102, 102); }
div.dateboxOuter.noevent { border: 1px solid rgb(153, 153, 153); }
a.dateboxLink.day { color: black; font-weight: bold; }
a.dateboxLink.noevent { background-color: rgb(238, 238, 238); color: rgb(102, 102, 102); text-decoration: none; }
a.dateboxLink.event { background-color: white; color: green; }
a.dateboxLink.event:hover { background-color: yellow; text-decoration: none; color: red; }
div#calendar_widget_eventlist { margin: 0px; padding: 8px 0px 0px; }
p.calendar_widget_eventlist_item { display: block; font-size: 11px; line-height: 13px; margin: 0px; padding: 0px 0px 10px; }
a.eventListLink { display: block; }
a.eventListLink.title { display: block; margin: 0px; padding: 0px 0px 4px; font-size: 11px; font-weight: normal; }
a.eventListLink.date { display: block; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/widgets/headlines.css ::::: */

div.headlines-container { margin: 0px; padding: 0px 0px 20px 20px; }
div.headlines-wrapper { border: 0px solid rgb(0, 0, 0); margin: 0px; padding: 0px; background-color: transparent; }
div.headlines { margin: 0px; padding: 10px; }
div.headlines-title { font-size: 16px; margin: 0px; padding: 0px; font-weight: bold; }
div.headlines-item { padding: 10px 0px 0px; }
div.headline-teaser-title { font-size: 12px; font-weight: bold; line-height: 14px; }
div.headline-teaser-text { font-size: 10px; font-weight: normal; line-height: 14px; padding: 5px 0px 0px; }
div.headline-teaser-image img { border-width: 0px; }
div.headlines-more-link { font-size: 10px; font-style: italic; padding: 2px 0px 0px; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/widgets/wordpress_feed.css ::::: */

.wordpress { margin: 0px; padding: 0px; }
div.wordpress.feedwrapper {  }
div.wordpress.feeditem { padding: 0px 0px 20px; }
h4.wordpress.itemdate { font-size: 90%; font-weight: normal; line-height: 100%; padding: 0px 0px 4px; }
h3.wordpress.itemtitle { font-size: 110%; font-weight: normal; line-height: 130%; margin: 0px; padding: 0px 0px 5px; }
a.wordpress.titlelink {  }
p.wordpress.itemtext { font-size: 100%; line-height: 150%; padding: 5px 0px 0px; }
h5.wordpress.readmore { padding: 5px 0px 0px; }
a.wordpress.readmorelink {  }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/widgets/i4afooterlink.css ::::: */

div.i4afooterlink { width: auto; background-color: rgb(255, 255, 255); padding: 7px 10px; font-size: 10px; line-height: 10px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; border-top: 1px solid black; margin: 0px; }
a.i4afooterlink { font-family: inherit ! important; font-size: inherit ! important; line-height: inherit ! important; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/utilities/navigation/superfish/css/superfish.css ::::: */

ul.sf-menu::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; font-size: 0px; }
ul.sf-menu { display: inline-block; }
ul.sf-menu { display: block; }
ul.sf-menu, ul.sf-menu * { margin: 0px; padding: 0px; list-style: outside none none; }
ul.sf-menu { margin-left: auto; margin-right: auto; position: relative; left: 0px; top: 0px; width: auto; }
ul.sf-menu { line-height: 1; }
ul.sf-menu li { float: left; position: relative; margin-right: 0px; }
ul.sf-menu ul li { width: 100%; }
ul.sf-menu a { display: block; position: relative; padding: 0px 10px; text-decoration: none; color: rgb(243, 243, 243); border: 0px solid rgb(136, 136, 136); line-height: 28px; background: rgb(102, 102, 102) none repeat scroll 0% 0%; font-size: 12px; }
ul.sf-menu a:hover, ul.sf-menu li.sfHover a { color: rgb(255, 255, 255); background: rgb(153, 153, 153) none repeat scroll 0% 0%; }
ul.sf-menu ul li a { margin-right: 0px; }
ul.sf-menu li ul { position: absolute; display: none; visibility: hidden; top: 28px; width: 160px; left: 0px; }
ul.sf-menu li:hover ul, ul.sf-menu li.sfhover ul { visibility: visible; display: inline-block; z-index: 99; }
ul.sf-menu li:hover ul ul, ul.sf-menu li.sfhover ul ul { top: -999em; }
ul.sf-menu li ul a { line-height: 120%; padding-top: 5px; padding-bottom: 5px; background: rgb(153, 153, 153) none repeat scroll 0% 0%; }
ul.sf-menu li ul a:hover, ul.sf-menu li ul li.sfHover a { background: rgb(187, 187, 187) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
ul.sf-menu li ul li ul { display: none; visibility: hidden; left: 160px; top: 0px; }
ul.sf-menu li ul li:hover > ul, ul.sf-menu li ul li.sfhover > ul { top: 0px; }
ul.sf-menu li ul li ul li ul { top: -9999px; }
ul.sf-menu li ul li ul a, ul.sf-menu li ul li ul li a { background: rgb(187, 187, 187) none repeat scroll 0% 0%; }
ul.sf-menu li ul li ul a:hover, ul.sf-menu li ul li ul li.sfHover a { background: rgb(221, 221, 221) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
ul.sf-menu li ul li ul li ul { left: 10em; }
ul.sf-menu li ul li ul li:hover ul, ul.sf-menu li ul li ul li.sfhover ul { top: 0em; }
.sf-menu li:hover, .sf-menu li.sfhover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { outline: 0px none; }
.sf-menu a.sf-with-ul { padding-right: 2.25em; min-width: 1px; }
.sf-sub-indicator { position: absolute; display: none; right: 0.55em; top: 1.05em; width: 10px; height: 10px; text-indent: -999em; overflow: hidden; background-position: -10px 0px; }
.sf-menu li.sfhover .sf-sub-indicator { background-position: -10px -100px; }
ul.sf-menu li.sfhover ul li .sf-sub-indicator { background-position: 0px 0px; }
.sf-menu li.sfhover li.sfhover .sf-sub-indicator { background-position: -10px 0px; }
.sf-menu ul .sf-sub-indicator { background-position: -10px 0px; }
ul.sf-vertical li { float: none; position: relative; margin-right: 0px; }
.sf-vertical, .sf-vertical li { width: 160px; }
ul.sf-vertical li a { line-height: 130%; padding-top: 6px; padding-bottom: 6px; }
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul { left: 160px; top: 0px; }
.sf-vertical .sf-sub-indicator { background-position: -10px 0px; }
.sf-vertical a > .sf-sub-indicator { background-position: 0px 0px; }
.sf-vertical a:focus > .sf-sub-indicator, .sf-vertical a:hover > .sf-sub-indicator, .sf-vertical a:active > .sf-sub-indicator, .sf-vertical li:hover > a > .sf-sub-indicator, .sf-vertical li.sfHover > a > .sf-sub-indicator { background-position: -10px 0px; }
ul#my-menu-id { position: absolute; top: 127px; left: 14px; border: medium none; background: transparent none repeat scroll 0% 0%; }
ul#my-menu-id.sf-menu > li > ul { top: 29px; width: 190px; }
ul#my-menu-id.sf-menu li ul li ul { left: 190px; width: 190px; }
ul#my-menu-id li { background-color: transparent; }
ul#my-menu-id.sf-menu a { font-size: 11px; line-height: 140%; padding: 5px 8px; background-color: rgb(165, 182, 161); color: rgb(37, 84, 114); }
ul#my-menu-id.sf-menu a:hover { background-color: rgb(227, 192, 171); color: rgb(0, 0, 0); }
ul#my-menu-id.sf-menu > li > a { font-size: 11px; line-height: 29px; padding: 0px 8px; background-color: transparent; color: rgb(37, 84, 114); font-weight: bold; }
ul#my-menu-id.sf-menu > li > a:hover { background-color: rgb(165, 182, 161); color: rgb(0, 0, 0); }
ul#my-menu-id.sf-menu > li > ul > li > ul > li > a { background: rgb(227, 192, 171) none repeat scroll 0% 0%; color: rgb(37, 84, 114); }
ul#my-menu-id.sf-menu > li > ul > li > ul > li > a:hover { background: rgb(165, 182, 161) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/styles_i4a_menu_mainmenu.css?v=1063 ::::: */

.yuimenu { top: -999em; left: -999em; }
.yuimenubar { position: static; }
.yuimenu .yuimenu, .yuimenubar .yuimenu { position: absolute; }
.yui-skin-sam .bd { width: 1000px; }
.yui-skin-sam ul li .bd { width: auto; }
.yuimenubar li, .yuimenu li { list-style-type: none; }
.yuimenubar ul, .yuimenu ul, .yuimenubar li, .yuimenu li, .yuimenu h6, .yuimenubar h6 { margin: 0px; padding: 0px; }
.yuimenuitemlabel, .yuimenubaritemlabel { text-align: left; white-space: nowrap; }
.yuimenubar ul {  }
.yuimenubar .yuimenu ul {  }
.yuimenubar > .bd > ul::after { content: "."; display: block; clear: both; visibility: hidden; height: 0px; line-height: 0; }
.yuimenubaritem { float: left; }
.yuimenubaritemlabel, .yuimenuitemlabel { display: block; }
.yuimenuitemlabel .helptext { font-style: normal; display: block; margin: -1em 0px 0px 10em; }
.yui-menu-shadow { position: absolute; visibility: hidden; z-index: -1; }
.yui-menu-shadow-visible { top: 2px; right: -3px; left: -3px; bottom: -3px; visibility: hidden; }
.hide-scrollbars * { overflow: hidden; }
.hide-scrollbars select { display: none; }
.yuimenu.show-scrollbars, .yuimenubar.show-scrollbars { overflow: visible; }
.yuimenu.hide-scrollbars .yui-menu-shadow, .yuimenubar.hide-scrollbars .yui-menu-shadow { overflow: hidden; }
.yuimenu.show-scrollbars .yui-menu-shadow, .yuimenubar.show-scrollbars .yui-menu-shadow { overflow: auto; }
.yui-overlay.yui-force-redraw { margin-bottom: 1px; }
.yui-skin-sam .yuimenubar { border: 0px solid rgb(0, 0, 0); background: transparent url("__.dat") repeat-x scroll 0px 0px; }
.yui-skin-sam .yuimenubarnav .yuimenubaritem { border-left: 0px solid rgb(0, 0, 0); }
.yui-skin-sam .yuimenubaritemlabel { font-size: 13px; line-height: 40px; padding: 0px 10px; color: rgb(0, 0, 0); text-decoration: none; cursor: default; border-style: solid; border-color: rgb(0, 0, 0); border-width: 0px; margin: 0px; }
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel { padding-right: 10px; }
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu { background: transparent url("__.dat") no-repeat scroll right center; }
.yui-skin-sam .yuimenubaritem-selected { background: rgb(0, 110, 178) url("__.dat") repeat-x scroll 0px -1700px; }
.yui-skin-sam .yuimenubaritem-selected .yuimenubaritemlabel-selected { color: rgb(255, 255, 255); }
.yui-skin-sam .yuimenubaritemlabel-selected { border-color: rgb(0, 0, 0); }
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-selected { border-left-width: 0px; margin-left: 0px; }
.yui-skin-sam .yuimenubaritemlabel-disabled { cursor: default; color: rgb(166, 166, 166); }
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled { background-image: url("menubaritem_submenuindicator_disabled.png"); }
.yui-skin-sam .yuimenu .bd .yuimenuitemlabel { color: rgb(255, 255, 255); font-size: 12px; line-height: 30px; font-weight: normal; border-top: 0px solid rgb(0, 0, 0); padding-left: 10px; padding-right: 10px; }
.yui-skin-sam .yuimenu .bd .yuimenuitemlabel-selected { color: rgb(255, 255, 255); }
.yui-skin-sam .yuimenubar .yuimenu, .yui-skin-sam .yuimenu .yuimenu { font-size: 12px; }
.yui-skin-sam .yuimenu .bd { border: 0px solid rgb(0, 0, 0); background-color: rgb(0, 110, 178); }
.yui-skin-sam .yuimenu .yuimenu .bd {  }
.yui-skin-sam .yuimenu ul { padding: 0px; border-width: 1px 0px 0px; border-color: red; border-style: solid; }
.yui-skin-sam .yuimenu ul.first-of-type { border-width: 0px; }
.yui-skin-sam .yuimenu h6 { font-weight: bold; border-style: solid; border-color: rgb(204, 204, 204); border-width: 1px 0px 0px; color: rgb(164, 164, 164); padding: 3px 10px 0px; }
.yui-skin-sam .yuimenu ul.hastitle, .yui-skin-sam .yuimenu h6.first-of-type { border-width: 0px; }
.yui-skin-sam .yuimenu .yui-menu-body-scrolled { border-color: rgb(204, 204, 204) rgb(128, 128, 128); overflow: hidden; }
.yui-skin-sam .yuimenu .topscrollbar, .yui-skin-sam .yuimenu .bottomscrollbar { height: 16px; border: 1px solid rgb(128, 128, 128); background: rgb(255, 255, 255) url("sprite.png") no-repeat scroll 0px 0px; }
.yui-skin-sam .yuimenu .topscrollbar { border-bottom-width: 0px; background-position: center -950px; }
.yui-skin-sam .yuimenu .topscrollbar_disabled { background-position: center -975px; }
.yui-skin-sam .yuimenu .bottomscrollbar { border-top-width: 0px; background-position: center -850px; }
.yui-skin-sam .yuimenu .bottomscrollbar_disabled { background-position: center -875px; }
.yui-skin-sam .yuimenuitem {  }
.yui-skin-sam .yuimenuitemlabel { padding: 0px 10px; color: rgb(255, 255, 255); font-weight: normal; font-size: 13px; text-decoration: none; cursor: default; }
.yui-skin-sam .yuimenuitemlabel .helptext { margin-top: -1.5em; }
.yui-skin-sam .yuimenuitem-hassubmenu { background-image: url("__.dat"); background-position: right center; background-repeat: no-repeat; }
.yui-skin-sam .yuimenuitem-checked { background-image: url("menuitem_checkbox.png"); background-position: left center; background-repeat: no-repeat; }
.yui-skin-sam .yui-menu-shadow-visible { background-color: green; opacity: 0.25; }
.yui-skin-sam .yuimenuitem-selected { background-color: rgb(0, 87, 141); }
.yui-skin-sam .yuimenuitemlabel-disabled { cursor: default; color: rgb(166, 166, 166); }
.yui-skin-sam .yuimenuitem-hassubmenu-disabled { background-image: url("menuitem_submenuindicator_disabled.png"); }
.yui-skin-sam .yuimenuitem-checked-disabled { background-image: url("menuitem_checkbox_disabled.png"); }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/styles_i4a_menu_secondarymenu.css?v=4220 ::::: */

#menu_secondarymenu_wrapper ul { list-style-type: none; padding: 0px 10px 0px 5px; margin: 0px; }
#menu_secondarymenu_wrapper #level1, #menu_secondarymenu_wrapper #level1_currentSection, #menu_secondarymenu_wrapper #level1_currentSection_currentPage { margin: 0px; padding-left: 0px; background-color: transparent; line-height: 30px; }
#menu_secondarymenu_wrapper #level1 a, #menu_secondarymenu_wrapper #level1 a:link, #menu_secondarymenu_wrapper #level1 a:hover, #menu_secondarymenu_wrapper #level1 a:active, #menu_secondarymenu_wrapper #level1 a:visited, #menu_secondarymenu_wrapper #level1_currentSection a, #menu_secondarymenu_wrapper #level1_currentSection a:link, #menu_secondarymenu_wrapper #level1_currentSection a:hover, #menu_secondarymenu_wrapper #level1_currentSection a:active, #menu_secondarymenu_wrapper #level1_currentSection a:visited, #menu_secondarymenu_wrapper #level1_currentSection_currentPage a, #menu_secondarymenu_wrapper #level1_currentSection_currentPage a:link, #menu_secondarymenu_wrapper #level1_currentSection_currentPage a:hover, #menu_secondarymenu_wrapper #level1_currentSection_currentPage a:active, #menu_secondarymenu_wrapper #level1_currentSection_currentPage a:visited { font-weight: normal; font-size: 12px; text-transform: none; text-decoration: none; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level1 a:hover, #menu_secondarymenu_wrapper #level1_currentSection a:hover, #menu_secondarymenu_wrapper #level1_currentSection_currentPage a:hover { text-decoration: underline; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level2, #menu_secondarymenu_wrapper #level2_currentSection, #menu_secondarymenu_wrapper #level2_currentSection_currentPage { margin: 0px; padding-left: 30px; background-color: transparent; line-height: 20px; }
#menu_secondarymenu_wrapper #level2 a, #menu_secondarymenu_wrapper #level2 a:link, #menu_secondarymenu_wrapper #level2 a:hover, #menu_secondarymenu_wrapper #level2 a:active, #menu_secondarymenu_wrapper #level2 a:visited, #menu_secondarymenu_wrapper #level2_currentSection a, #menu_secondarymenu_wrapper #level2_currentSection a:link, #menu_secondarymenu_wrapper #level2_currentSection a:hover, #menu_secondarymenu_wrapper #level2_currentSection a:active, #menu_secondarymenu_wrapper #level2_currentSection a:visited, #menu_secondarymenu_wrapper #level2_currentSection_currentPage a, #menu_secondarymenu_wrapper #level2_currentSection_currentPage a:link, #menu_secondarymenu_wrapper #level2_currentSection_currentPage a:hover, #menu_secondarymenu_wrapper #level2_currentSection_currentPage a:active, #menu_secondarymenu_wrapper #level2_currentSection_currentPage a:visited { font-weight: normal; font-size: 12px; text-transform: none; text-decoration: none; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level2 a:hover, #menu_secondarymenu_wrapper #level2_currentSection a:hover, #menu_secondarymenu_wrapper #level2_currentSection_currentPage a:hover { text-decoration: underline; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level3, #menu_secondarymenu_wrapper #level3_currentSection, #menu_secondarymenu_wrapper #level3_currentSection_currentPage { margin: 0px; padding-left: 45px; background-color: transparent; line-height: 20px; }
#menu_secondarymenu_wrapper #level3 a, #menu_secondarymenu_wrapper #level3 a:link, #menu_secondarymenu_wrapper #level3 a:hover, #menu_secondarymenu_wrapper #level3 a:active, #menu_secondarymenu_wrapper #level3 a:visited, #menu_secondarymenu_wrapper #level3_currentSection a, #menu_secondarymenu_wrapper #level3_currentSection a:link, #menu_secondarymenu_wrapper #level3_currentSection a:hover, #menu_secondarymenu_wrapper #level3_currentSection a:active, #menu_secondarymenu_wrapper #level3_currentSection a:visited, #menu_secondarymenu_wrapper #level3_currentSection_currentPage a, #menu_secondarymenu_wrapper #level3_currentSection_currentPage a:link, #menu_secondarymenu_wrapper #level3_currentSection_currentPage a:hover, #menu_secondarymenu_wrapper #level3_currentSection_currentPage a:active, #menu_secondarymenu_wrapper #level3_currentSection_currentPage a:visited { font-weight: normal; font-size: 12px; text-transform: none; text-decoration: none; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level3 a:hover, #menu_secondarymenu_wrapper #level3_currentSection a:hover, #menu_secondarymenu_wrapper #level3_currentSection_currentPage a:hover { text-decoration: underline; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level4, #menu_secondarymenu_wrapper #level4_currentSection, #menu_secondarymenu_wrapper #level4_currentSection_currentPage { margin: 0px; padding-left: 60px; background-color: transparent; line-height: 20px; }
#menu_secondarymenu_wrapper #level4 a, #menu_secondarymenu_wrapper #level4 a:link, #menu_secondarymenu_wrapper #level4 a:hover, #menu_secondarymenu_wrapper #level4 a:active, #menu_secondarymenu_wrapper #level4 a:visited, #menu_secondarymenu_wrapper #level4_currentSection a, #menu_secondarymenu_wrapper #level4_currentSection a:link, #menu_secondarymenu_wrapper #level4_currentSection a:hover, #menu_secondarymenu_wrapper #level4_currentSection a:active, #menu_secondarymenu_wrapper #level4_currentSection a:visited, #menu_secondarymenu_wrapper #level4_currentSection_currentPage a, #menu_secondarymenu_wrapper #level4_currentSection_currentPage a:link, #menu_secondarymenu_wrapper #level4_currentSection_currentPage a:hover, #menu_secondarymenu_wrapper #level4_currentSection_currentPage a:active, #menu_secondarymenu_wrapper #level4_currentSection_currentPage a:visited { font-weight: normal; font-size: 12px; text-transform: none; text-decoration: none; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level4 a:hover, #menu_secondarymenu_wrapper #level4_currentSection a:hover, #menu_secondarymenu_wrapper #level4_currentSection_currentPage a:hover { text-decoration: underline; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level5, #menu_secondarymenu_wrapper #level5_currentSection, #menu_secondarymenu_wrapper #level5_currentSection_currentPage { margin: 0px; padding-left: 75px; background-color: transparent; line-height: 20px; }
#menu_secondarymenu_wrapper #level5 a, #menu_secondarymenu_wrapper #level5 a:link, #menu_secondarymenu_wrapper #level5 a:hover, #menu_secondarymenu_wrapper #level5 a:active, #menu_secondarymenu_wrapper #level5 a:visited, #menu_secondarymenu_wrapper #level5_currentSection a, #menu_secondarymenu_wrapper #level5_currentSection a:link, #menu_secondarymenu_wrapper #level5_currentSection a:hover, #menu_secondarymenu_wrapper #level5_currentSection a:active, #menu_secondarymenu_wrapper #level5_currentSection a:visited, #menu_secondarymenu_wrapper #level5_currentSection_currentPage a, #menu_secondarymenu_wrapper #level5_currentSection_currentPage a:link, #menu_secondarymenu_wrapper #level5_currentSection_currentPage a:hover, #menu_secondarymenu_wrapper #level5_currentSection_currentPage a:active, #menu_secondarymenu_wrapper #level5_currentSection_currentPage a:visited { font-weight: normal; font-size: 12px; text-transform: none; text-decoration: none; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level5 a:hover, #menu_secondarymenu_wrapper #level5_currentSection a:hover, #menu_secondarymenu_wrapper #level5_currentSection_currentPage a:hover { text-decoration: underline; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level6, #menu_secondarymenu_wrapper #level6_currentSection, #menu_secondarymenu_wrapper #level6_currentSection_currentPage { margin: 0px; padding-left: 90px; background-color: transparent; line-height: 20px; }
#menu_secondarymenu_wrapper #level6 a, #menu_secondarymenu_wrapper #level6 a:link, #menu_secondarymenu_wrapper #level6 a:hover, #menu_secondarymenu_wrapper #level6 a:active, #menu_secondarymenu_wrapper #level6 a:visited, #menu_secondarymenu_wrapper #level6_currentSection a, #menu_secondarymenu_wrapper #level6_currentSection a:link, #menu_secondarymenu_wrapper #level6_currentSection a:hover, #menu_secondarymenu_wrapper #level6_currentSection a:active, #menu_secondarymenu_wrapper #level6_currentSection a:visited, #menu_secondarymenu_wrapper #level6_currentSection_currentPage a, #menu_secondarymenu_wrapper #level6_currentSection_currentPage a:link, #menu_secondarymenu_wrapper #level6_currentSection_currentPage a:hover, #menu_secondarymenu_wrapper #level6_currentSection_currentPage a:active, #menu_secondarymenu_wrapper #level6_currentSection_currentPage a:visited { font-weight: normal; font-size: 12px; text-transform: none; text-decoration: none; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level6 a:hover, #menu_secondarymenu_wrapper #level6_currentSection a:hover, #menu_secondarymenu_wrapper #level6_currentSection_currentPage a:hover { text-decoration: underline; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level7, #menu_secondarymenu_wrapper #level7_currentSection, #menu_secondarymenu_wrapper #level7_currentSection_currentPage { margin: 0px; padding-left: 105px; background-color: transparent; line-height: 20px; }
#menu_secondarymenu_wrapper #level7 a, #menu_secondarymenu_wrapper #level7 a:link, #menu_secondarymenu_wrapper #level7 a:hover, #menu_secondarymenu_wrapper #level7 a:active, #menu_secondarymenu_wrapper #level7 a:visited, #menu_secondarymenu_wrapper #level7_currentSection a, #menu_secondarymenu_wrapper #level7_currentSection a:link, #menu_secondarymenu_wrapper #level7_currentSection a:hover, #menu_secondarymenu_wrapper #level7_currentSection a:active, #menu_secondarymenu_wrapper #level7_currentSection a:visited, #menu_secondarymenu_wrapper #level7_currentSection_currentPage a, #menu_secondarymenu_wrapper #level7_currentSection_currentPage a:link, #menu_secondarymenu_wrapper #level7_currentSection_currentPage a:hover, #menu_secondarymenu_wrapper #level7_currentSection_currentPage a:active, #menu_secondarymenu_wrapper #level7_currentSection_currentPage a:visited { font-weight: normal; font-size: 12px; text-transform: none; text-decoration: none; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level7 a:hover, #menu_secondarymenu_wrapper #level7_currentSection a:hover, #menu_secondarymenu_wrapper #level7_currentSection_currentPage a:hover { text-decoration: underline; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level8, #menu_secondarymenu_wrapper #level8_currentSection, #menu_secondarymenu_wrapper #level8_currentSection_currentPage { margin: 0px; padding-left: 120px; background-color: transparent; line-height: 20px; }
#menu_secondarymenu_wrapper #level8 a, #menu_secondarymenu_wrapper #level8 a:link, #menu_secondarymenu_wrapper #level8 a:hover, #menu_secondarymenu_wrapper #level8 a:active, #menu_secondarymenu_wrapper #level8 a:visited, #menu_secondarymenu_wrapper #level8_currentSection a, #menu_secondarymenu_wrapper #level8_currentSection a:link, #menu_secondarymenu_wrapper #level8_currentSection a:hover, #menu_secondarymenu_wrapper #level8_currentSection a:active, #menu_secondarymenu_wrapper #level8_currentSection a:visited, #menu_secondarymenu_wrapper #level8_currentSection_currentPage a, #menu_secondarymenu_wrapper #level8_currentSection_currentPage a:link, #menu_secondarymenu_wrapper #level8_currentSection_currentPage a:hover, #menu_secondarymenu_wrapper #level8_currentSection_currentPage a:active, #menu_secondarymenu_wrapper #level8_currentSection_currentPage a:visited { font-weight: normal; font-size: 12px; text-transform: none; text-decoration: none; color: rgb(113, 109, 96); }
#menu_secondarymenu_wrapper #level8 a:hover, #menu_secondarymenu_wrapper #level8_currentSection a:hover, #menu_secondarymenu_wrapper #level8_currentSection_currentPage a:hover { text-decoration: underline; color: rgb(113, 109, 96); }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/styles_i4a_menu_utilitymenu.css?v=2638 ::::: */

#menu_utilitymenu_wrapper { line-height: 34px; }
.menu_utilitymenu_pipe { color: rgb(255, 255, 255); font-size: 14px; }
.menu_utilitymenu_link { padding-left: 12px; padding-right: 12px; }
a.menu_utilitymenu_link_link, a.menu_utilitymenu_link_link:link, a.menu_utilitymenu_link_link:active, a.menu_utilitymenu_link_link:visited { color: rgb(255, 255, 255); font-family: verdana,arial,helvetica,sans-serif; font-size: 14px; font-weight: bold; text-decoration: none; }
a.menu_utilitymenu_link_link:hover { color: rgb(255, 255, 255); font-family: verdana,arial,helvetica,sans-serif; font-size: 14px; font-weight: bold; text-decoration: underline; }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/styles_layout.css?v=1975 ::::: */

div.homepagelink { background-color: transparent; height: 182px ! important; width: 177px ! important; }
div.homepagelink a { display: block; height: inherit; text-indent: -9990px; width: inherit; }
body { background-color: rgb(239, 239, 239); margin: 0px; padding: 0px; text-align: center; }
p { margin: 0px 0px 10px; padding: 0px; }
div#page-container { margin: 0px auto; overflow: hidden; padding: 0px; text-align: left; }
div#page-wrapper { margin: 0px; padding: 0px; }
div#page { margin: 0px; padding: 0px; }
div#header-container { background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; height: 223px; }
div#header-wrapper { margin: 0px; padding: 0px; }
div#header { margin: 0px; padding: 0px; }
div.widget_menu_mainmenu { top: 183px ! important; }
a#NCCA-logo-link { display: block; text-indent: -9999px; background: transparent none repeat scroll 0% 0%; width: 50px; height: 50px; position: absolute; right: 16px; top: 121px; }
div#main-menu { bottom: 0px; left: 1px; position: absolute; width: 958px; z-index: 100; }
div#secondary-menu { font-size: 12px; font-weight: normal; position: absolute; right: 1px; text-align: right; top: 1px; width: auto; z-index: 100; }
div#main-container { background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#main-wrapper { margin: 0px; padding: 0px; }
div#main { background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#content-container { background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#content-wrapper { background-position: left top; background-repeat: no-repeat; }
div#content { padding: 20px; }
div#footer-container { background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#footer-wrapper { margin: 0px; padding: 0px; }
div#footer { margin: 0px; padding: 20px; }
div#extra-a-container, div#extra-b-container, div#extra-c-container { display: none; }
div#sidebar-a-container { background-position: left top; background-repeat: no-repeat; min-height: 240px; }
div#sidebar-b-container { background-position: left top; background-repeat: no-repeat; min-height: 240px; }
div.sponsorlogos { background-color: orange ! important; color: white ! important; left: 422px ! important; top: 3px ! important; width: 150px ! important; overflow: hidden; height: 67px ! important; border: 0px dotted black; }
div.leftsidebarcontent { padding: 10px; }
div.specialmessage { border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 10px 10px 0px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
div.specialmessage.top { margin: 0px 0px 20px; }
div.specialmessage.bottom { margin: 20px 0px 0px; }
div.specialmessage p { margin: 0px 0px 10px; padding: 0px; }
div.specialmessage p.bold { font-weight: bold; }
div.specialmessage p.red { color: red; }
div.gallerylayer { background-color: white; }
div#gallerylayer { background-color: white; }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/styles_wysiwyg.css?v=2701 ::::: */

body { font-family: Arial,Helvetica,Verdana,sans-serif; line-height: 150%; color: rgb(0, 0, 0); text-decoration: none; }
div { font-family: Arial,Helvetica,Verdana,sans-serif; }
body, h3 { font-size: 13px; font-family: Arial,Helvetica,Verdana,sans-serif; }
span.subtitle, span.title { font-weight: bold; font-family: Arial,Helvetica,Verdana,sans-serif; }
small, h4 { font-size: 11px; font-family: Arial,Helvetica,Verdana,sans-serif; }
span.subtitle, big, h2 { font-size: 17px; font-family: Arial,Helvetica,Verdana,sans-serif; color: rgb(0, 0, 0); }
span.subtitle, h2 { color: rgb(0, 117, 191); font-family: Arial,Helvetica,Verdana,sans-serif; }
span.title, h1 { font-size: 20px; font-family: Arial,Helvetica,Verdana,sans-serif; color: rgb(0, 117, 191); }
span.large { font-size: 17px; font-family: Arial,Helvetica,Verdana,sans-serif; color: rgb(0, 0, 0); }
span.medium { font-size: 13px; font-family: Arial,Helvetica,Verdana,sans-serif; color: rgb(0, 0, 0); }
span.small { font-size: 11px; font-family: Arial,Helvetica,Verdana,sans-serif; color: rgb(0, 0, 0); }
html { font-size: 62.5%; font-family: Arial,Helvetica,Verdana,sans-serif; }
p { margin: 0px 0px 20px; padding: 0px; font-family: Arial,Helvetica,Verdana,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0px 0px 10px; padding: 0px; line-height: 120%; font-family: Arial,Helvetica,Verdana,sans-serif; }
h5 { font-size: 10px; font-family: Arial,Helvetica,Verdana,sans-serif; }
h6 { font-size: 9px; font-family: Arial,Helvetica,Verdana,sans-serif; }
a, a:link, a:active, a:visited { text-decoration: none; color: rgb(0, 117, 191); font-family: Arial,Helvetica,Verdana,sans-serif; }
a:hover { text-decoration: underline; color: rgb(97, 123, 157); font-family: Arial,Helvetica,Verdana,sans-serif; }
div#content a { text-decoration: underline; font-family: Arial,Helvetica,Verdana,sans-serif; }
ul, ol { padding-left: 40px; padding-bottom: 20px; font-family: Arial,Helvetica,Verdana,sans-serif; }
ul ul, ol ol { padding-left: 30px; padding-bottom: 10px; font-family: Arial,Helvetica,Verdana,sans-serif; }
ul { list-style: outside none disc; font-family: Arial,Helvetica,Verdana,sans-serif; }
ol { list-style: outside none decimal; font-family: Arial,Helvetica,Verdana,sans-serif; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
u { text-decoration: underline; }
del, strike { text-decoration: line-through; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
address { font-style: italic; }
pre { font-family: monospace; }
div#footer, div#footer a { color: rgb(195, 212, 223); font-weight: bold; }
div#footer a:hover { color: rgb(255, 255, 255); }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/pilates_layout.css?v=4287 ::::: */

body { background-color: rgb(0, 39, 64); background-image: url("site_bg.png"); background-repeat: repeat-x; margin: 0px; padding: 0px; text-align: center; }
p { margin: 0px 0px 10px; padding: 0px; }
div#page-container { background-color: white; margin: 0px auto; overflow: hidden; padding: 0px; text-align: left; }
div#page-wrapper { margin: 0px; padding: 0px; }
div#page { background-image: url("secondarymenu_bg.png"); background-repeat: repeat-y; margin: 0px; padding: 0px; }
div#header-container { background-image: url("header_bg.jpg"); background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#header-wrapper { background-color: transparent; background-image: url("mainmenu_bg.png"); background-position: center bottom; background-repeat: repeat-x; height: inherit; margin: 0px; padding: 0px; width: inherit; }
div#header { margin: 0px; padding: 0px; }
div#main-menu { bottom: 0px; left: 1px; position: absolute; width: 958px; z-index: 100; }
div#secondary-menu { font-size: 12px; font-weight: normal; position: absolute; right: 1px; text-align: right; top: 1px; width: auto; z-index: 100; }
div#main-container { background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#main-wrapper { margin: 0px; padding: 0px; }
div#main { background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#content-container { background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#content-wrapper { background-position: left top; background-repeat: no-repeat; }
div#content { padding: 20px; }
div#footer-container { background-image: url("footer_bg.png"); background-position: left top; background-repeat: no-repeat; margin: 0px; padding: 0px; }
div#footer-wrapper { margin: 0px; padding: 0px; }
div#footer { margin: 0px; padding: 20px; }
div#extra-a-container, div#extra-b-container, div#extra-c-container { display: none; }
div#sidebar-a-container { background-image: url("secondarymenu_top.png"); background-position: left top; background-repeat: no-repeat; min-height: 240px; }
div#sidebar-b-container { background-position: left top; background-repeat: no-repeat; min-height: 240px; }
div.gallerylayer { background-color: rgb(255, 255, 255); }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/widget_menu_utilitymenu.css?v=2842 ::::: */

div.widget_menu_utilitymenu { left: auto ! important; right: 60px ! important; top: 45px ! important; width: auto ! important; }
div.widget_menu_utilitymenu span.menu_utilitymenu_link { margin: 0px; padding: 0px; }
div.widget_menu_utilitymenu a.menu_utilitymenu_link_link { background-color: rgb(26, 146, 222); border-radius: 10px; display: inline-block; font-size: 14px; line-height: 14px; margin: 0px 0px 0px 10px; padding: 10px 14px; text-decoration: none; }
div.widget_menu_utilitymenu a.menu_utilitymenu_link_link:hover { background-color: rgb(0, 101, 165); text-decoration: none; }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/widget_menu_secondarymenu.css?v=8314 ::::: */

div.widget_menu_secondarymenu { margin: 26px 0px 0px ! important; }
#menu_secondarymenu_wrapper #level2, #menu_secondarymenu_wrapper #level2_currentSection, #menu_secondarymenu_wrapper #level2_currentSection_currentPage { margin: 0px; padding-left: 0px; background-color: transparent; line-height: 20px; }
/* ::::: http://www.pilatesmethodalliance.org/templates/1003/styles_login.css?v=6116 ::::: */

div.widget_login { background-color: transparent; height: 40px ! important; width: 300px ! important; }
.login-wrapper { margin: 8px 0px 0px; padding: 0px; position: relative; }
div.login-title { border-bottom: 0px solid rgb(204, 204, 204); font-weight: bold; margin: 0px 0px 5px; padding: 0px; }
.login-wrapper .username-wrapper { left: 0px; margin: 0px; padding: 0px; position: absolute; top: 0px; }
.login-wrapper .password-wrapper { left: 94px; margin: 0px; padding: 0px; position: absolute; top: 0px; }
.login-wrapper .username-wrapper input, .login-wrapper .password-wrapper input { background-color: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); border-radius: 0px; box-shadow: 0px 0px 0px rgb(238, 238, 238) inset; color: rgb(0, 0, 0); display: block; font-size: 12px; height: 20px; line-height: 12px; margin: 0px 3px 0px 0px; overflow: hidden; padding: 0px 4px; width: 75px; }
.login-wrapper .submit-wrapper { margin: 0px; padding: 0px; position: absolute; right: 60px; top: 0px; }
.login-wrapper .submit-wrapper input { background-color: rgb(238, 238, 238); border: 1px solid rgb(153, 153, 153); border-radius: 0px; color: black; display: block; font-size: 12px; height: 22px; line-height: 12px ! important; margin: 0px; padding: 0px; width: 52px; }
div.username-title-wrapper { padding: 0px 0px 2px; }
div.password-title-wrapper { padding: 0px 0px 2px; }
div.forgotpassword-wrapper { display: none; font-size: 10px; padding: 0px; }
/* ::::: http://www.pilatesmethodalliance.org/i4a/css/html5.css ::::: */

img.noborder { border: medium none; }
table.center { margin-left: auto; margin-right: auto; }
table.noborder { border: medium none; }
table.cellspacing_0 { border-collapse: collapse; }
table.cellpadding_0 { padding: 0px; }
td.leftalign td.alignleft { text-align: left; }
td.rightalign td.alignright { text-align: right; }
td.centeralign td.aligncenter { text-align: center; }
td.topalign td.aligntop { vertical-align: top; }
td.bottomalign td.botalign { vertical-align: bottom; }
td.middlealign { vertical-align: middle; }
td.nowrap { white-space: nowrap; }
span.nowrap { white-space: nowrap; }
span.bold { font-weight: bold; }
/* ::::: http://www.pilatesmethodalliance.org/common/cycle/slideshow.css ::::: */

.cycle-slideshow, .cycle-slideshow * { box-sizing: border-box; }
.cycle-slideshow { min-width: 50px; max-width: 1200px; margin: 0px; position: relative; }
.cycle-slideshow img { position: absolute; top: 0px; left: 0px; padding: 0px; display: block; }
.cycle-slideshow > a { position: absolute; top: 0px; left: 0px; padding: 0px; background-color: rgb(34, 34, 34); display: block; }
.cycle-slideshow > a > img { position: static; display: block; }
.cycle-slideshow img:first-child { position: static; z-index: 100; }
.cycle-pager { text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden; }
.cycle-pager span { font-family: arial; font-size: 50px; width: 16px; height: 16px; display: inline-block; color: rgb(221, 221, 221); cursor: pointer; }
.cycle-pager span.cycle-pager-active { color: rgb(214, 151, 70); }
.cycle-pager > * { cursor: pointer; }
.cycle-caption { position: absolute; color: white; bottom: 5px; right: 5px; z-index: 700; }
.cycle-overlay { font-family: tahoma,arial; position: absolute; bottom: 0px; width: 100%; z-index: 600; color: white; padding: 10px 45px; background-color: rgba(0, 0, 0, 0.5); }
.cycle-prev, .cycle-next { position: absolute; top: 0px; width: 30%; opacity: 0.7; z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0px; background: transparent url("left.png") no-repeat scroll 0% 100%; }
.cycle-next { right: 0px; background: transparent url("right.png") no-repeat scroll 100% 100%; }
.cycle-prev:hover, .cycle-next:hover { opacity: 0.7; }
.disabled { opacity: 0.5; }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .cycle-slideshow { width: 200px; }
  .cycle-overlay { padding: 4px; }
  .cycle-caption { bottom: 4px; right: 4px; }
}
