@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > table:nth-of-type(5) > tbody:nth-of-type(1) > tr:nth-of-type(1) > td:nth-of-type(1) {
		max-width: 319px !important;  /* 319px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > table:nth-of-type(5) > tbody:nth-of-type(1) > tr:nth-of-type(1) > td:nth-of-type(1) {
		max-width: 319px !important;  /* 319px */
	}
}