@font-face {
	font-family: Futura PT;
	src: url(../fonts/FuturaPT-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/FuturaPT-Medium.woff2) format("woff2"), url(../fonts/FuturaPT-Medium.woff) format("woff"), url(../fonts/FuturaPT-Medium.ttf) format("truetype"), url(../fonts/FuturaPT-Medium.svg#FuturaPT-Medium) format("svg");
	font-weight: 500;
	font-style: normal;
}
html {
	box-sizing: border-box; -webkit-box-sizing: border-box;
}
* {
	box-sizing: inherit; -webkit-box-sizing: inherit;
}
::after {
	box-sizing: inherit; -webkit-box-sizing: inherit;
}
::before {
	box-sizing: inherit; -webkit-box-sizing: inherit;
}
html {
	line-height: 1.15; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
h1 {
	margin: 0.67em 0px; font-size: 2em;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	height: 0px; overflow: visible; box-sizing: content-box; -webkit-box-sizing: content-box;
}
pre {
	font-family: monospace,monospace; font-size: 1em;
}
a {
	background-color: transparent; -webkit-text-decoration-skip: objects;
}
a:active {
	outline-width: 0px;
}
a:hover {
	outline-width: 0px;
}
abbr[title] {
	text-decoration: underline; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; -webkit-text-decoration: underline dotted;
}
b {
	font-weight: bolder;
}
strong {
	font-weight: bolder;
}
code {
	font-family: monospace,monospace; font-size: 1em;
}
kbd {
	font-family: monospace,monospace; font-size: 1em;
}
samp {
	font-family: monospace,monospace; font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);
}
small {
	font-size: 80%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
audio {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
img {
	
}
svg:not(:root) {
	overflow: hidden;
}
button {
	margin: 0px; line-height: 1.15; font-family: sans-serif; font-size: 100%;
}
input {
	margin: 0px; line-height: 1.15; font-family: sans-serif; font-size: 100%;
}
optgroup {
	margin: 0px; line-height: 1.15; font-family: sans-serif; font-size: 100%;
}
select {
	margin: 0px; line-height: 1.15; font-family: sans-serif; font-size: 100%;
}
textarea {
	margin: 0px; line-height: 1.15; font-family: sans-serif; font-size: 100%;
}
button {
	overflow: visible;
}
input {
	overflow: visible;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
[type=reset] {
	-webkit-appearance: button;
}
[type=submit] {
	-webkit-appearance: button;
}
button {
	-webkit-appearance: button;
}
html [type=button] {
	-webkit-appearance: button;
}
fieldset {
	margin: 0px 2px; padding: 0.35em 0.62em 0.75em; border: 1px solid silver; border-image: none;
}
legend {
	padding: 0px; color: inherit; display: table; white-space: normal; max-width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box;
}
progress {
	vertical-align: baseline; display: inline-block;
}
textarea {
	overflow: auto;
}
[type=checkbox] {
	padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box;
}
[type=radio] {
	padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box;
}
[type=search] {
	-webkit-appearance: textfield; outline-offset: -2px;
}
details {
	display: block;
}
menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
blockquote {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
caption {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li > ol {
	margin-bottom: 0px;
}
li > ul {
	margin-bottom: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
td {
	padding: 0px;
}
th {
	padding: 0px;
}
:focus {
	outline: rgb(3, 112, 237) solid 2px; outline-offset: -2px;
}
html {
	font-size: 16px;
}
body {
	font-family: Futura PT,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: antialiased; font-smoothing: antialiased;
}
body::after {
	top: -100%; width: 0px; height: 0px; position: absolute; content: "xs"; opacity: 0;
}
@media all and (max-width:991px) and (min-width:768px)
{
body::after {
	content: "sm";
}
}
@media all and (max-width:1279px) and (min-width:992px)
{
body::after {
	content: "md";
}
}
@media all and (max-width:1428px) and (min-width:1280px)
{
body::after {
	content: "lg";
}
}
@media all and (min-width:1429px)
{
body::after {
	content: "xl";
}
}
.sr-only {
	margin: -1px;
}
h1 {
	font-size: 2.25rem;
}
h2 {
	font-size: 1.31rem;
}
h3 {
	font-size: 1.12rem;
}
img {
	font-style: italic; vertical-align: middle; max-width: 100%;
}
img[height] {
	max-width: none;
}
img[width] {
	max-width: none;
}
.container {
	width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;
}
@media all and (min-width:768px)
{
.container {
	max-width: 750px;
}
}
@media all and (min-width:992px)
{
.container {
	max-width: 970px;
}
}
@media all and (min-width:1280px)
{
.container {
	max-width: 1170px;
}
}
@media all and (min-width:1429px)
{
.container {
	max-width: 1429px;
}
}
.container-fluid {
	width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;
}
.row {
	margin-right: -15px; margin-left: -15px; display: flex; flex-wrap: wrap;
}
.no-gutters {
	margin-right: 0px; margin-left: 0px;
}
.no-gutters > .col {
	padding-right: 0px; padding-left: 0px;
}
.no-gutters > [class*=col-] {
	padding-right: 0px; padding-left: 0px;
}
.col {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-1 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-2 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-3 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-4 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-5 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-6 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-7 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-8 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-9 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-10 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-11 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-12 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-auto {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-1 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-2 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-3 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-4 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-5 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-6 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-7 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-8 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-9 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-10 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-11 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-12 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-lg-auto {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-1 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-2 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-3 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-4 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-5 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-6 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-7 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-8 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-9 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-10 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-11 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-12 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-md-auto {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-1 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-2 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-3 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-4 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-5 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-6 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-7 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-8 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-9 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-10 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-11 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-12 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-auto {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-1 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-2 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-3 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-4 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-5 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-6 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-7 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-8 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-9 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-10 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-11 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-12 {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-xl-auto {
	width: 100%; padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col {
	max-width: 100%; flex-grow: 1; flex-basis: 0px; -webkit-box-flex: 1;
}
.col-auto {
	flex:0 0 auto; width: auto; max-width: none;
}
.col-1 {
	-webkit-box-flex: 0;
}
.col-auto {
	-webkit-box-flex: 0;
}
.col-1 {
	flex:0 0 8.33%; max-width: 8.33%;
}
.col-2 {
	flex:0 0 16.66%; max-width: 16.66%;
}
.col-2 {
	-webkit-box-flex: 0;
}
.col-3 {
	-webkit-box-flex: 0;
}
.col-3 {
	flex:0 0 25%; max-width: 25%;
}
.col-4 {
	flex:0 0 33.33%; max-width: 33.33%;
}
.col-4 {
	-webkit-box-flex: 0;
}
.col-5 {
	-webkit-box-flex: 0;
}
.col-5 {
	flex:0 0 41.66%; max-width: 41.66%;
}
.col-6 {
	flex:0 0 50%; max-width: 50%;
}
.col-6 {
	-webkit-box-flex: 0;
}
.col-7 {
	-webkit-box-flex: 0;
}
.col-7 {
	flex:0 0 58.33%; max-width: 58.33%;
}
.col-8 {
	flex:0 0 66.66%; max-width: 66.66%;
}
.col-8 {
	-webkit-box-flex: 0;
}
.col-9 {
	-webkit-box-flex: 0;
}
.col-9 {
	flex:0 0 75%; max-width: 75%;
}
.col-10 {
	flex:0 0 83.33%; max-width: 83.33%;
}
.col-10 {
	-webkit-box-flex: 0;
}
.col-11 {
	-webkit-box-flex: 0;
}
.col-11 {
	flex:0 0 91.66%; max-width: 91.66%;
}
.col-12 {
	flex:0 0 100%; max-width: 100%; -webkit-box-flex: 0;
}
.order-first {
	order: -1; -webkit-box-ordinal-group: 0;
}
.order-last {
	order: 13; -webkit-box-ordinal-group: 14;
}
.order-0 {
	order: 0; -webkit-box-ordinal-group: 1;
}
.order-1 {
	order: 1; -webkit-box-ordinal-group: 2;
}
.order-2 {
	order: 2; -webkit-box-ordinal-group: 3;
}
.order-3 {
	order: 3; -webkit-box-ordinal-group: 4;
}
.order-4 {
	order: 4; -webkit-box-ordinal-group: 5;
}
.order-5 {
	order: 5; -webkit-box-ordinal-group: 6;
}
.order-6 {
	order: 6; -webkit-box-ordinal-group: 7;
}
.order-7 {
	order: 7; -webkit-box-ordinal-group: 8;
}
.order-8 {
	order: 8; -webkit-box-ordinal-group: 9;
}
.order-9 {
	order: 9; -webkit-box-ordinal-group: 10;
}
.order-10 {
	order: 10; -webkit-box-ordinal-group: 11;
}
.order-11 {
	order: 11; -webkit-box-ordinal-group: 12;
}
.order-12 {
	order: 12; -webkit-box-ordinal-group: 13;
}
.offset-1 {
	margin-left: 8.33%;
}
.offset-2 {
	margin-left: 16.66%;
}
.offset-3 {
	margin-left: 25%;
}
.offset-4 {
	margin-left: 33.33%;
}
.offset-5 {
	margin-left: 41.66%;
}
.offset-6 {
	margin-left: 50%;
}
.offset-7 {
	margin-left: 58.33%;
}
.offset-8 {
	margin-left: 66.66%;
}
.offset-9 {
	margin-left: 75%;
}
.offset-10 {
	margin-left: 83.33%;
}
.offset-11 {
	margin-left: 91.66%;
}
@media all and (min-width:768px)
{
.col-sm {
	max-width: 100%; flex-grow: 1; flex-basis: 0px; -webkit-box-flex: 1;
}
.col-sm-auto {
	flex:0 0 auto; width: auto; max-width: none; -webkit-box-flex: 0;
}
.col-sm-1 {
	flex:0 0 8.33%; max-width: 8.33%; -webkit-box-flex: 0;
}
.col-sm-2 {
	flex:0 0 16.66%; max-width: 16.66%; -webkit-box-flex: 0;
}
.col-sm-3 {
	flex:0 0 25%; max-width: 25%; -webkit-box-flex: 0;
}
.col-sm-4 {
	flex:0 0 33.33%; max-width: 33.33%; -webkit-box-flex: 0;
}
.col-sm-5 {
	flex:0 0 41.66%; max-width: 41.66%; -webkit-box-flex: 0;
}
.col-sm-6 {
	flex:0 0 50%; max-width: 50%; -webkit-box-flex: 0;
}
.col-sm-7 {
	flex:0 0 58.33%; max-width: 58.33%; -webkit-box-flex: 0;
}
.col-sm-8 {
	flex:0 0 66.66%; max-width: 66.66%; -webkit-box-flex: 0;
}
.col-sm-9 {
	flex:0 0 75%; max-width: 75%; -webkit-box-flex: 0;
}
.col-sm-10 {
	flex:0 0 83.33%; max-width: 83.33%; -webkit-box-flex: 0;
}
.col-sm-11 {
	flex:0 0 91.66%; max-width: 91.66%; -webkit-box-flex: 0;
}
.col-sm-12 {
	flex:0 0 100%; max-width: 100%; -webkit-box-flex: 0;
}
.order-sm-first {
	order: -1; -webkit-box-ordinal-group: 0;
}
.order-sm-last {
	order: 13; -webkit-box-ordinal-group: 14;
}
.order-sm-0 {
	order: 0; -webkit-box-ordinal-group: 1;
}
.order-sm-1 {
	order: 1; -webkit-box-ordinal-group: 2;
}
.order-sm-2 {
	order: 2; -webkit-box-ordinal-group: 3;
}
.order-sm-3 {
	order: 3; -webkit-box-ordinal-group: 4;
}
.order-sm-4 {
	order: 4; -webkit-box-ordinal-group: 5;
}
.order-sm-5 {
	order: 5; -webkit-box-ordinal-group: 6;
}
.order-sm-6 {
	order: 6; -webkit-box-ordinal-group: 7;
}
.order-sm-7 {
	order: 7; -webkit-box-ordinal-group: 8;
}
.order-sm-8 {
	order: 8; -webkit-box-ordinal-group: 9;
}
.order-sm-9 {
	order: 9; -webkit-box-ordinal-group: 10;
}
.order-sm-10 {
	order: 10; -webkit-box-ordinal-group: 11;
}
.order-sm-11 {
	order: 11; -webkit-box-ordinal-group: 12;
}
.order-sm-12 {
	order: 12; -webkit-box-ordinal-group: 13;
}
.offset-sm-0 {
	margin-left: 0px;
}
.offset-sm-1 {
	margin-left: 8.33%;
}
.offset-sm-2 {
	margin-left: 16.66%;
}
.offset-sm-3 {
	margin-left: 25%;
}
.offset-sm-4 {
	margin-left: 33.33%;
}
.offset-sm-5 {
	margin-left: 41.66%;
}
.offset-sm-6 {
	margin-left: 50%;
}
.offset-sm-7 {
	margin-left: 58.33%;
}
.offset-sm-8 {
	margin-left: 66.66%;
}
.offset-sm-9 {
	margin-left: 75%;
}
.offset-sm-10 {
	margin-left: 83.33%;
}
.offset-sm-11 {
	margin-left: 91.66%;
}
}
@media all and (min-width:992px)
{
.col-md {
	max-width: 100%; flex-grow: 1; flex-basis: 0px; -webkit-box-flex: 1;
}
.col-md-auto {
	flex:0 0 auto; width: auto; max-width: none; -webkit-box-flex: 0;
}
.col-md-1 {
	flex:0 0 8.33%; max-width: 8.33%; -webkit-box-flex: 0;
}
.col-md-2 {
	flex:0 0 16.66%; max-width: 16.66%; -webkit-box-flex: 0;
}
.col-md-3 {
	flex:0 0 25%; max-width: 25%; -webkit-box-flex: 0;
}
.col-md-4 {
	flex:0 0 33.33%; max-width: 33.33%; -webkit-box-flex: 0;
}
.col-md-5 {
	flex:0 0 41.66%; max-width: 41.66%; -webkit-box-flex: 0;
}
.col-md-6 {
	flex:0 0 50%; max-width: 50%; -webkit-box-flex: 0;
}
.col-md-7 {
	flex:0 0 58.33%; max-width: 58.33%; -webkit-box-flex: 0;
}
.col-md-8 {
	flex:0 0 66.66%; max-width: 66.66%; -webkit-box-flex: 0;
}
.col-md-9 {
	flex:0 0 75%; max-width: 75%; -webkit-box-flex: 0;
}
.col-md-10 {
	flex:0 0 83.33%; max-width: 83.33%; -webkit-box-flex: 0;
}
.col-md-11 {
	flex:0 0 91.66%; max-width: 91.66%; -webkit-box-flex: 0;
}
.col-md-12 {
	flex:0 0 100%; max-width: 100%; -webkit-box-flex: 0;
}
.order-md-first {
	order: -1; -webkit-box-ordinal-group: 0;
}
.order-md-last {
	order: 13; -webkit-box-ordinal-group: 14;
}
.order-md-0 {
	order: 0; -webkit-box-ordinal-group: 1;
}
.order-md-1 {
	order: 1; -webkit-box-ordinal-group: 2;
}
.order-md-2 {
	order: 2; -webkit-box-ordinal-group: 3;
}
.order-md-3 {
	order: 3; -webkit-box-ordinal-group: 4;
}
.order-md-4 {
	order: 4; -webkit-box-ordinal-group: 5;
}
.order-md-5 {
	order: 5; -webkit-box-ordinal-group: 6;
}
.order-md-6 {
	order: 6; -webkit-box-ordinal-group: 7;
}
.order-md-7 {
	order: 7; -webkit-box-ordinal-group: 8;
}
.order-md-8 {
	order: 8; -webkit-box-ordinal-group: 9;
}
.order-md-9 {
	order: 9; -webkit-box-ordinal-group: 10;
}
.order-md-10 {
	order: 10; -webkit-box-ordinal-group: 11;
}
.order-md-11 {
	order: 11; -webkit-box-ordinal-group: 12;
}
.order-md-12 {
	order: 12; -webkit-box-ordinal-group: 13;
}
.offset-md-0 {
	margin-left: 0px;
}
.offset-md-1 {
	margin-left: 8.33%;
}
.offset-md-2 {
	margin-left: 16.66%;
}
.offset-md-3 {
	margin-left: 25%;
}
.offset-md-4 {
	margin-left: 33.33%;
}
.offset-md-5 {
	margin-left: 41.66%;
}
.offset-md-6 {
	margin-left: 50%;
}
.offset-md-7 {
	margin-left: 58.33%;
}
.offset-md-8 {
	margin-left: 66.66%;
}
.offset-md-9 {
	margin-left: 75%;
}
.offset-md-10 {
	margin-left: 83.33%;
}
.offset-md-11 {
	margin-left: 91.66%;
}
}
@media all and (min-width:1280px)
{
.col-lg {
	max-width: 100%; flex-grow: 1; flex-basis: 0px; -webkit-box-flex: 1;
}
.col-lg-auto {
	flex:0 0 auto; width: auto; max-width: none; -webkit-box-flex: 0;
}
.col-lg-1 {
	flex:0 0 8.33%; max-width: 8.33%; -webkit-box-flex: 0;
}
.col-lg-2 {
	flex:0 0 16.66%; max-width: 16.66%; -webkit-box-flex: 0;
}
.col-lg-3 {
	flex:0 0 25%; max-width: 25%; -webkit-box-flex: 0;
}
.col-lg-4 {
	flex:0 0 33.33%; max-width: 33.33%; -webkit-box-flex: 0;
}
.col-lg-5 {
	flex:0 0 41.66%; max-width: 41.66%; -webkit-box-flex: 0;
}
.col-lg-6 {
	flex:0 0 50%; max-width: 50%; -webkit-box-flex: 0;
}
.col-lg-7 {
	flex:0 0 58.33%; max-width: 58.33%; -webkit-box-flex: 0;
}
.col-lg-8 {
	flex:0 0 66.66%; max-width: 66.66%; -webkit-box-flex: 0;
}
.col-lg-9 {
	flex:0 0 75%; max-width: 75%; -webkit-box-flex: 0;
}
.col-lg-10 {
	flex:0 0 83.33%; max-width: 83.33%; -webkit-box-flex: 0;
}
.col-lg-11 {
	flex:0 0 91.66%; max-width: 91.66%; -webkit-box-flex: 0;
}
.col-lg-12 {
	flex:0 0 100%; max-width: 100%; -webkit-box-flex: 0;
}
.order-lg-first {
	order: -1; -webkit-box-ordinal-group: 0;
}
.order-lg-last {
	order: 13; -webkit-box-ordinal-group: 14;
}
.order-lg-0 {
	order: 0; -webkit-box-ordinal-group: 1;
}
.order-lg-1 {
	order: 1; -webkit-box-ordinal-group: 2;
}
.order-lg-2 {
	order: 2; -webkit-box-ordinal-group: 3;
}
.order-lg-3 {
	order: 3; -webkit-box-ordinal-group: 4;
}
.order-lg-4 {
	order: 4; -webkit-box-ordinal-group: 5;
}
.order-lg-5 {
	order: 5; -webkit-box-ordinal-group: 6;
}
.order-lg-6 {
	order: 6; -webkit-box-ordinal-group: 7;
}
.order-lg-7 {
	order: 7; -webkit-box-ordinal-group: 8;
}
.order-lg-8 {
	order: 8; -webkit-box-ordinal-group: 9;
}
.order-lg-9 {
	order: 9; -webkit-box-ordinal-group: 10;
}
.order-lg-10 {
	order: 10; -webkit-box-ordinal-group: 11;
}
.order-lg-11 {
	order: 11; -webkit-box-ordinal-group: 12;
}
.order-lg-12 {
	order: 12; -webkit-box-ordinal-group: 13;
}
.offset-lg-0 {
	margin-left: 0px;
}
.offset-lg-1 {
	margin-left: 8.33%;
}
.offset-lg-2 {
	margin-left: 16.66%;
}
.offset-lg-3 {
	margin-left: 25%;
}
.offset-lg-4 {
	margin-left: 33.33%;
}
.offset-lg-5 {
	margin-left: 41.66%;
}
.offset-lg-6 {
	margin-left: 50%;
}
.offset-lg-7 {
	margin-left: 58.33%;
}
.offset-lg-8 {
	margin-left: 66.66%;
}
.offset-lg-9 {
	margin-left: 75%;
}
.offset-lg-10 {
	margin-left: 83.33%;
}
.offset-lg-11 {
	margin-left: 91.66%;
}
}
@media all and (min-width:1429px)
{
.col-xl {
	max-width: 100%; flex-grow: 1; flex-basis: 0px; -webkit-box-flex: 1;
}
.col-xl-auto {
	flex:0 0 auto; width: auto; max-width: none; -webkit-box-flex: 0;
}
.col-xl-1 {
	flex:0 0 8.33%; max-width: 8.33%; -webkit-box-flex: 0;
}
.col-xl-2 {
	flex:0 0 16.66%; max-width: 16.66%; -webkit-box-flex: 0;
}
.col-xl-3 {
	flex:0 0 25%; max-width: 25%; -webkit-box-flex: 0;
}
.col-xl-4 {
	flex:0 0 33.33%; max-width: 33.33%; -webkit-box-flex: 0;
}
.col-xl-5 {
	flex:0 0 41.66%; max-width: 41.66%; -webkit-box-flex: 0;
}
.col-xl-6 {
	flex:0 0 50%; max-width: 50%; -webkit-box-flex: 0;
}
.col-xl-7 {
	flex:0 0 58.33%; max-width: 58.33%; -webkit-box-flex: 0;
}
.col-xl-8 {
	flex:0 0 66.66%; max-width: 66.66%; -webkit-box-flex: 0;
}
.col-xl-9 {
	flex:0 0 75%; max-width: 75%; -webkit-box-flex: 0;
}
.col-xl-10 {
	flex:0 0 83.33%; max-width: 83.33%; -webkit-box-flex: 0;
}
.col-xl-11 {
	flex:0 0 91.66%; max-width: 91.66%; -webkit-box-flex: 0;
}
.col-xl-12 {
	flex:0 0 100%; max-width: 100%; -webkit-box-flex: 0;
}
.order-xl-first {
	order: -1; -webkit-box-ordinal-group: 0;
}
.order-xl-last {
	order: 13; -webkit-box-ordinal-group: 14;
}
.order-xl-0 {
	order: 0; -webkit-box-ordinal-group: 1;
}
.order-xl-1 {
	order: 1; -webkit-box-ordinal-group: 2;
}
.order-xl-2 {
	order: 2; -webkit-box-ordinal-group: 3;
}
.order-xl-3 {
	order: 3; -webkit-box-ordinal-group: 4;
}
.order-xl-4 {
	order: 4; -webkit-box-ordinal-group: 5;
}
.order-xl-5 {
	order: 5; -webkit-box-ordinal-group: 6;
}
.order-xl-6 {
	order: 6; -webkit-box-ordinal-group: 7;
}
.order-xl-7 {
	order: 7; -webkit-box-ordinal-group: 8;
}
.order-xl-8 {
	order: 8; -webkit-box-ordinal-group: 9;
}
.order-xl-9 {
	order: 9; -webkit-box-ordinal-group: 10;
}
.order-xl-10 {
	order: 10; -webkit-box-ordinal-group: 11;
}
.order-xl-11 {
	order: 11; -webkit-box-ordinal-group: 12;
}
.order-xl-12 {
	order: 12; -webkit-box-ordinal-group: 13;
}
.offset-xl-0 {
	margin-left: 0px;
}
.offset-xl-1 {
	margin-left: 8.33%;
}
.offset-xl-2 {
	margin-left: 16.66%;
}
.offset-xl-3 {
	margin-left: 25%;
}
.offset-xl-4 {
	margin-left: 33.33%;
}
.offset-xl-5 {
	margin-left: 41.66%;
}
.offset-xl-6 {
	margin-left: 50%;
}
.offset-xl-7 {
	margin-left: 58.33%;
}
.offset-xl-8 {
	margin-left: 66.66%;
}
.offset-xl-9 {
	margin-left: 75%;
}
.offset-xl-10 {
	margin-left: 83.33%;
}
.offset-xl-11 {
	margin-left: 91.66%;
}
}
.d-none {
	display: none !important;
}
.d-inline {
	display: inline !important;
}
.d-inline-block {
	display: inline-block !important;
}
.d-block {
	display: block !important;
}
.d-table {
	display: table !important;
}
.d-table-row {
	display: table-row !important;
}
.d-table-cell {
	display: table-cell !important;
}
.d-flex {
	display: flex !important;
}
.d-inline-flex {
	display: inline-flex !important;
}
@media all and (min-width:768px)
{
.d-sm-none {
	display: none !important;
}
.d-sm-inline {
	display: inline !important;
}
.d-sm-inline-block {
	display: inline-block !important;
}
.d-sm-block {
	display: block !important;
}
.d-sm-table {
	display: table !important;
}
.d-sm-table-row {
	display: table-row !important;
}
.d-sm-table-cell {
	display: table-cell !important;
}
.d-sm-flex {
	display: flex !important;
}
.d-sm-inline-flex {
	display: inline-flex !important;
}
}
@media all and (min-width:992px)
{
.d-md-none {
	display: none !important;
}
.d-md-inline {
	display: inline !important;
}
.d-md-inline-block {
	display: inline-block !important;
}
.d-md-block {
	display: block !important;
}
.d-md-table {
	display: table !important;
}
.d-md-table-row {
	display: table-row !important;
}
.d-md-table-cell {
	display: table-cell !important;
}
.d-md-flex {
	display: flex !important;
}
.d-md-inline-flex {
	display: inline-flex !important;
}
}
@media all and (min-width:1280px)
{
.d-lg-none {
	display: none !important;
}
.d-lg-inline {
	display: inline !important;
}
.d-lg-inline-block {
	display: inline-block !important;
}
.d-lg-block {
	display: block !important;
}
.d-lg-table {
	display: table !important;
}
.d-lg-table-row {
	display: table-row !important;
}
.d-lg-table-cell {
	display: table-cell !important;
}
.d-lg-flex {
	display: flex !important;
}
.d-lg-inline-flex {
	display: inline-flex !important;
}
}
@media all and (min-width:1429px)
{
.d-xl-none {
	display: none !important;
}
.d-xl-inline {
	display: inline !important;
}
.d-xl-inline-block {
	display: inline-block !important;
}
.d-xl-block {
	display: block !important;
}
.d-xl-table {
	display: table !important;
}
.d-xl-table-row {
	display: table-row !important;
}
.d-xl-table-cell {
	display: table-cell !important;
}
.d-xl-flex {
	display: flex !important;
}
.d-xl-inline-flex {
	display: inline-flex !important;
}
}
@media print
{
.d-print-none {
	display: none !important;
}
.d-print-inline {
	display: inline !important;
}
.d-print-inline-block {
	display: inline-block !important;
}
.d-print-block {
	display: block !important;
}
.d-print-table {
	display: table !important;
}
.d-print-table-row {
	display: table-row !important;
}
.d-print-table-cell {
	display: table-cell !important;
}
.d-print-flex {
	display: flex !important;
}
.d-print-inline-flex {
	display: inline-flex !important;
}
}
.flex-row {
	flex-direction: row !important; -webkit-box-orient: horizontal;
}
.flex-column {
	-webkit-box-direction: normal;
}
.flex-row {
	-webkit-box-direction: normal;
}
.flex-column {
	flex-direction: column !important; -webkit-box-orient: vertical;
}
.flex-row-reverse {
	flex-direction: row-reverse !important; -webkit-box-orient: horizontal;
}
.flex-column-reverse {
	-webkit-box-direction: reverse;
}
.flex-row-reverse {
	-webkit-box-direction: reverse;
}
.flex-column-reverse {
	flex-direction: column-reverse !important; -webkit-box-orient: vertical;
}
.flex-wrap {
	flex-wrap: wrap !important;
}
.flex-nowrap {
	flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}
.justify-content-start {
	justify-content: flex-start !important; -webkit-box-pack: start;
}
.justify-content-end {
	justify-content: flex-end !important; -webkit-box-pack: end;
}
.justify-content-center {
	justify-content: center !important; -webkit-box-pack: center;
}
.justify-content-between {
	justify-content: space-between !important; -webkit-box-pack: justify;
}
.justify-content-around {
	justify-content: space-around !important;
}
.align-items-start {
	align-items: flex-start !important; -webkit-box-align: start;
}
.align-items-end {
	align-items: flex-end !important; -webkit-box-align: end;
}
.align-items-center {
	align-items: center !important; -webkit-box-align: center;
}
.align-items-baseline {
	align-items: baseline !important; -webkit-box-align: baseline;
}
.align-items-stretch {
	align-items: stretch !important; -webkit-box-align: stretch;
}
.align-content-start {
	align-content: flex-start !important;
}
.align-content-end {
	align-content: flex-end !important;
}
.align-content-center {
	align-content: center !important;
}
.align-content-between {
	align-content: space-between !important;
}
.align-content-around {
	align-content: space-around !important;
}
.align-content-stretch {
	align-content: stretch !important;
}
.align-self-auto {
	align-self: auto !important;
}
.align-self-start {
	align-self: flex-start !important;
}
.align-self-end {
	align-self: flex-end !important;
}
.align-self-center {
	align-self: center !important;
}
.align-self-baseline {
	align-self: baseline !important;
}
.align-self-stretch {
	align-self: stretch !important;
}
@media all and (min-width:768px)
{
.flex-sm-row {
	flex-direction: row !important; -webkit-box-orient: horizontal;
}
.flex-sm-column {
	-webkit-box-direction: normal;
}
.flex-sm-row {
	-webkit-box-direction: normal;
}
.flex-sm-column {
	flex-direction: column !important; -webkit-box-orient: vertical;
}
.flex-sm-row-reverse {
	flex-direction: row-reverse !important; -webkit-box-orient: horizontal; -webkit-box-direction: reverse;
}
.flex-sm-column-reverse {
	flex-direction: column-reverse !important; -webkit-box-orient: vertical; -webkit-box-direction: reverse;
}
.flex-sm-wrap {
	flex-wrap: wrap !important;
}
.flex-sm-nowrap {
	flex-wrap: nowrap !important;
}
.flex-sm-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}
.justify-content-sm-start {
	justify-content: flex-start !important; -webkit-box-pack: start;
}
.justify-content-sm-end {
	justify-content: flex-end !important; -webkit-box-pack: end;
}
.justify-content-sm-center {
	justify-content: center !important; -webkit-box-pack: center;
}
.justify-content-sm-between {
	justify-content: space-between !important; -webkit-box-pack: justify;
}
.justify-content-sm-around {
	justify-content: space-around !important;
}
.align-items-sm-start {
	align-items: flex-start !important; -webkit-box-align: start;
}
.align-items-sm-end {
	align-items: flex-end !important; -webkit-box-align: end;
}
.align-items-sm-center {
	align-items: center !important; -webkit-box-align: center;
}
.align-items-sm-baseline {
	align-items: baseline !important; -webkit-box-align: baseline;
}
.align-items-sm-stretch {
	align-items: stretch !important; -webkit-box-align: stretch;
}
.align-content-sm-start {
	align-content: flex-start !important;
}
.align-content-sm-end {
	align-content: flex-end !important;
}
.align-content-sm-center {
	align-content: center !important;
}
.align-content-sm-between {
	align-content: space-between !important;
}
.align-content-sm-around {
	align-content: space-around !important;
}
.align-content-sm-stretch {
	align-content: stretch !important;
}
.align-self-sm-auto {
	align-self: auto !important;
}
.align-self-sm-start {
	align-self: flex-start !important;
}
.align-self-sm-end {
	align-self: flex-end !important;
}
.align-self-sm-center {
	align-self: center !important;
}
.align-self-sm-baseline {
	align-self: baseline !important;
}
.align-self-sm-stretch {
	align-self: stretch !important;
}
}
@media all and (min-width:992px)
{
.flex-md-row {
	flex-direction: row !important; -webkit-box-orient: horizontal;
}
.flex-md-column {
	-webkit-box-direction: normal;
}
.flex-md-row {
	-webkit-box-direction: normal;
}
.flex-md-column {
	flex-direction: column !important; -webkit-box-orient: vertical;
}
.flex-md-row-reverse {
	flex-direction: row-reverse !important; -webkit-box-orient: horizontal; -webkit-box-direction: reverse;
}
.flex-md-column-reverse {
	flex-direction: column-reverse !important; -webkit-box-orient: vertical; -webkit-box-direction: reverse;
}
.flex-md-wrap {
	flex-wrap: wrap !important;
}
.flex-md-nowrap {
	flex-wrap: nowrap !important;
}
.flex-md-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}
.justify-content-md-start {
	justify-content: flex-start !important; -webkit-box-pack: start;
}
.justify-content-md-end {
	justify-content: flex-end !important; -webkit-box-pack: end;
}
.justify-content-md-center {
	justify-content: center !important; -webkit-box-pack: center;
}
.justify-content-md-between {
	justify-content: space-between !important; -webkit-box-pack: justify;
}
.justify-content-md-around {
	justify-content: space-around !important;
}
.align-items-md-start {
	align-items: flex-start !important; -webkit-box-align: start;
}
.align-items-md-end {
	align-items: flex-end !important; -webkit-box-align: end;
}
.align-items-md-center {
	align-items: center !important; -webkit-box-align: center;
}
.align-items-md-baseline {
	align-items: baseline !important; -webkit-box-align: baseline;
}
.align-items-md-stretch {
	align-items: stretch !important; -webkit-box-align: stretch;
}
.align-content-md-start {
	align-content: flex-start !important;
}
.align-content-md-end {
	align-content: flex-end !important;
}
.align-content-md-center {
	align-content: center !important;
}
.align-content-md-between {
	align-content: space-between !important;
}
.align-content-md-around {
	align-content: space-around !important;
}
.align-content-md-stretch {
	align-content: stretch !important;
}
.align-self-md-auto {
	align-self: auto !important;
}
.align-self-md-start {
	align-self: flex-start !important;
}
.align-self-md-end {
	align-self: flex-end !important;
}
.align-self-md-center {
	align-self: center !important;
}
.align-self-md-baseline {
	align-self: baseline !important;
}
.align-self-md-stretch {
	align-self: stretch !important;
}
}
@media all and (min-width:1280px)
{
.flex-lg-row {
	flex-direction: row !important; -webkit-box-orient: horizontal;
}
.flex-lg-column {
	-webkit-box-direction: normal;
}
.flex-lg-row {
	-webkit-box-direction: normal;
}
.flex-lg-column {
	flex-direction: column !important; -webkit-box-orient: vertical;
}
.flex-lg-row-reverse {
	flex-direction: row-reverse !important; -webkit-box-orient: horizontal; -webkit-box-direction: reverse;
}
.flex-lg-column-reverse {
	flex-direction: column-reverse !important; -webkit-box-orient: vertical; -webkit-box-direction: reverse;
}
.flex-lg-wrap {
	flex-wrap: wrap !important;
}
.flex-lg-nowrap {
	flex-wrap: nowrap !important;
}
.flex-lg-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}
.justify-content-lg-start {
	justify-content: flex-start !important; -webkit-box-pack: start;
}
.justify-content-lg-end {
	justify-content: flex-end !important; -webkit-box-pack: end;
}
.justify-content-lg-center {
	justify-content: center !important; -webkit-box-pack: center;
}
.justify-content-lg-between {
	justify-content: space-between !important; -webkit-box-pack: justify;
}
.justify-content-lg-around {
	justify-content: space-around !important;
}
.align-items-lg-start {
	align-items: flex-start !important; -webkit-box-align: start;
}
.align-items-lg-end {
	align-items: flex-end !important; -webkit-box-align: end;
}
.align-items-lg-center {
	align-items: center !important; -webkit-box-align: center;
}
.align-items-lg-baseline {
	align-items: baseline !important; -webkit-box-align: baseline;
}
.align-items-lg-stretch {
	align-items: stretch !important; -webkit-box-align: stretch;
}
.align-content-lg-start {
	align-content: flex-start !important;
}
.align-content-lg-end {
	align-content: flex-end !important;
}
.align-content-lg-center {
	align-content: center !important;
}
.align-content-lg-between {
	align-content: space-between !important;
}
.align-content-lg-around {
	align-content: space-around !important;
}
.align-content-lg-stretch {
	align-content: stretch !important;
}
.align-self-lg-auto {
	align-self: auto !important;
}
.align-self-lg-start {
	align-self: flex-start !important;
}
.align-self-lg-end {
	align-self: flex-end !important;
}
.align-self-lg-center {
	align-self: center !important;
}
.align-self-lg-baseline {
	align-self: baseline !important;
}
.align-self-lg-stretch {
	align-self: stretch !important;
}
}
@media all and (min-width:1429px)
{
.flex-xl-row {
	flex-direction: row !important; -webkit-box-orient: horizontal;
}
.flex-xl-column {
	-webkit-box-direction: normal;
}
.flex-xl-row {
	-webkit-box-direction: normal;
}
.flex-xl-column {
	flex-direction: column !important; -webkit-box-orient: vertical;
}
.flex-xl-row-reverse {
	flex-direction: row-reverse !important; -webkit-box-orient: horizontal; -webkit-box-direction: reverse;
}
.flex-xl-column-reverse {
	flex-direction: column-reverse !important; -webkit-box-orient: vertical; -webkit-box-direction: reverse;
}
.flex-xl-wrap {
	flex-wrap: wrap !important;
}
.flex-xl-nowrap {
	flex-wrap: nowrap !important;
}
.flex-xl-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}
.justify-content-xl-start {
	justify-content: flex-start !important; -webkit-box-pack: start;
}
.justify-content-xl-end {
	justify-content: flex-end !important; -webkit-box-pack: end;
}
.justify-content-xl-center {
	justify-content: center !important; -webkit-box-pack: center;
}
.justify-content-xl-between {
	justify-content: space-between !important; -webkit-box-pack: justify;
}
.justify-content-xl-around {
	justify-content: space-around !important;
}
.align-items-xl-start {
	align-items: flex-start !important; -webkit-box-align: start;
}
.align-items-xl-end {
	align-items: flex-end !important; -webkit-box-align: end;
}
.align-items-xl-center {
	align-items: center !important; -webkit-box-align: center;
}
.align-items-xl-baseline {
	align-items: baseline !important; -webkit-box-align: baseline;
}
.align-items-xl-stretch {
	align-items: stretch !important; -webkit-box-align: stretch;
}
.align-content-xl-start {
	align-content: flex-start !important;
}
.align-content-xl-end {
	align-content: flex-end !important;
}
.align-content-xl-center {
	align-content: center !important;
}
.align-content-xl-between {
	align-content: space-between !important;
}
.align-content-xl-around {
	align-content: space-around !important;
}
.align-content-xl-stretch {
	align-content: stretch !important;
}
.align-self-xl-auto {
	align-self: auto !important;
}
.align-self-xl-start {
	align-self: flex-start !important;
}
.align-self-xl-end {
	align-self: flex-end !important;
}
.align-self-xl-center {
	align-self: center !important;
}
.align-self-xl-baseline {
	align-self: baseline !important;
}
.align-self-xl-stretch {
	align-self: stretch !important;
}
}
.m-0 {
	margin: 0px !important;
}
.mt-0 {
	margin-top: 0px !important;
}
.my-0 {
	margin-top: 0px !important;
}
.mr-0 {
	margin-right: 0px !important;
}
.mx-0 {
	margin-right: 0px !important;
}
.mb-0 {
	margin-bottom: 0px !important;
}
.my-0 {
	margin-bottom: 0px !important;
}
.ml-0 {
	margin-left: 0px !important;
}
.mx-0 {
	margin-left: 0px !important;
}
.m-1 {
	margin: 0.25rem !important;
}
.mt-1 {
	margin-top: 0.25rem !important;
}
.my-1 {
	margin-top: 0.25rem !important;
}
.mr-1 {
	margin-right: 0.25rem !important;
}
.mx-1 {
	margin-right: 0.25rem !important;
}
.mb-1 {
	margin-bottom: 0.25rem !important;
}
.my-1 {
	margin-bottom: 0.25rem !important;
}
.ml-1 {
	margin-left: 0.25rem !important;
}
.mx-1 {
	margin-left: 0.25rem !important;
}
.m-2 {
	margin: 0.5rem !important;
}
.mt-2 {
	margin-top: 0.5rem !important;
}
.my-2 {
	margin-top: 0.5rem !important;
}
.mr-2 {
	margin-right: 0.5rem !important;
}
.mx-2 {
	margin-right: 0.5rem !important;
}
.mb-2 {
	margin-bottom: 0.5rem !important;
}
.my-2 {
	margin-bottom: 0.5rem !important;
}
.ml-2 {
	margin-left: 0.5rem !important;
}
.mx-2 {
	margin-left: 0.5rem !important;
}
.m-3 {
	margin: 1rem !important;
}
.mt-3 {
	margin-top: 1rem !important;
}
.my-3 {
	margin-top: 1rem !important;
}
.mr-3 {
	margin-right: 1rem !important;
}
.mx-3 {
	margin-right: 1rem !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.my-3 {
	margin-bottom: 1rem !important;
}
.ml-3 {
	margin-left: 1rem !important;
}
.mx-3 {
	margin-left: 1rem !important;
}
.m-4 {
	margin: 1.5rem !important;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.my-4 {
	margin-top: 1.5rem !important;
}
.mr-4 {
	margin-right: 1.5rem !important;
}
.mx-4 {
	margin-right: 1.5rem !important;
}
.mb-4 {
	margin-bottom: 1.5rem !important;
}
.my-4 {
	margin-bottom: 1.5rem !important;
}
.ml-4 {
	margin-left: 1.5rem !important;
}
.mx-4 {
	margin-left: 1.5rem !important;
}
.m-5 {
	margin: 3rem !important;
}
.mt-5 {
	margin-top: 3rem !important;
}
.my-5 {
	margin-top: 3rem !important;
}
.mr-5 {
	margin-right: 3rem !important;
}
.mx-5 {
	margin-right: 3rem !important;
}
.mb-5 {
	margin-bottom: 3rem !important;
}
.my-5 {
	margin-bottom: 3rem !important;
}
.ml-5 {
	margin-left: 3rem !important;
}
.mx-5 {
	margin-left: 3rem !important;
}
.p-0 {
	padding: 0px !important;
}
.pt-0 {
	padding-top: 0px !important;
}
.py-0 {
	padding-top: 0px !important;
}
.pr-0 {
	padding-right: 0px !important;
}
.px-0 {
	padding-right: 0px !important;
}
.pb-0 {
	padding-bottom: 0px !important;
}
.py-0 {
	padding-bottom: 0px !important;
}
.pl-0 {
	padding-left: 0px !important;
}
.px-0 {
	padding-left: 0px !important;
}
.p-1 {
	padding: 0.25rem !important;
}
.pt-1 {
	padding-top: 0.25rem !important;
}
.py-1 {
	padding-top: 0.25rem !important;
}
.pr-1 {
	padding-right: 0.25rem !important;
}
.px-1 {
	padding-right: 0.25rem !important;
}
.pb-1 {
	padding-bottom: 0.25rem !important;
}
.py-1 {
	padding-bottom: 0.25rem !important;
}
.pl-1 {
	padding-left: 0.25rem !important;
}
.px-1 {
	padding-left: 0.25rem !important;
}
.p-2 {
	padding: 0.5rem !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.py-2 {
	padding-top: 0.5rem !important;
}
.pr-2 {
	padding-right: 0.5rem !important;
}
.px-2 {
	padding-right: 0.5rem !important;
}
.pb-2 {
	padding-bottom: 0.5rem !important;
}
.py-2 {
	padding-bottom: 0.5rem !important;
}
.pl-2 {
	padding-left: 0.5rem !important;
}
.px-2 {
	padding-left: 0.5rem !important;
}
.p-3 {
	padding: 1rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.py-3 {
	padding-top: 1rem !important;
}
.pr-3 {
	padding-right: 1rem !important;
}
.px-3 {
	padding-right: 1rem !important;
}
.pb-3 {
	padding-bottom: 1rem !important;
}
.py-3 {
	padding-bottom: 1rem !important;
}
.pl-3 {
	padding-left: 1rem !important;
}
.px-3 {
	padding-left: 1rem !important;
}
.p-4 {
	padding: 1.5rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}
.py-4 {
	padding-top: 1.5rem !important;
}
.pr-4 {
	padding-right: 1.5rem !important;
}
.px-4 {
	padding-right: 1.5rem !important;
}
.pb-4 {
	padding-bottom: 1.5rem !important;
}
.py-4 {
	padding-bottom: 1.5rem !important;
}
.pl-4 {
	padding-left: 1.5rem !important;
}
.px-4 {
	padding-left: 1.5rem !important;
}
.p-5 {
	padding: 3rem !important;
}
.pt-5 {
	padding-top: 3rem !important;
}
.py-5 {
	padding-top: 3rem !important;
}
.pr-5 {
	padding-right: 3rem !important;
}
.px-5 {
	padding-right: 3rem !important;
}
.pb-5 {
	padding-bottom: 3rem !important;
}
.py-5 {
	padding-bottom: 3rem !important;
}
.pl-5 {
	padding-left: 3rem !important;
}
.px-5 {
	padding-left: 3rem !important;
}
.m-auto {
	margin: auto !important;
}
.mt-auto {
	margin-top: auto !important;
}
.my-auto {
	margin-top: auto !important;
}
.mr-auto {
	margin-right: auto !important;
}
.mx-auto {
	margin-right: auto !important;
}
.mb-auto {
	margin-bottom: auto !important;
}
.my-auto {
	margin-bottom: auto !important;
}
.ml-auto {
	margin-left: auto !important;
}
.mx-auto {
	margin-left: auto !important;
}
@media all and (min-width:768px)
{
.m-sm-0 {
	margin: 0px !important;
}
.mt-sm-0 {
	margin-top: 0px !important;
}
.my-sm-0 {
	margin-top: 0px !important;
}
.mr-sm-0 {
	margin-right: 0px !important;
}
.mx-sm-0 {
	margin-right: 0px !important;
}
.mb-sm-0 {
	margin-bottom: 0px !important;
}
.my-sm-0 {
	margin-bottom: 0px !important;
}
.ml-sm-0 {
	margin-left: 0px !important;
}
.mx-sm-0 {
	margin-left: 0px !important;
}
.m-sm-1 {
	margin: 0.25rem !important;
}
.mt-sm-1 {
	margin-top: 0.25rem !important;
}
.my-sm-1 {
	margin-top: 0.25rem !important;
}
.mr-sm-1 {
	margin-right: 0.25rem !important;
}
.mx-sm-1 {
	margin-right: 0.25rem !important;
}
.mb-sm-1 {
	margin-bottom: 0.25rem !important;
}
.my-sm-1 {
	margin-bottom: 0.25rem !important;
}
.ml-sm-1 {
	margin-left: 0.25rem !important;
}
.mx-sm-1 {
	margin-left: 0.25rem !important;
}
.m-sm-2 {
	margin: 0.5rem !important;
}
.mt-sm-2 {
	margin-top: 0.5rem !important;
}
.my-sm-2 {
	margin-top: 0.5rem !important;
}
.mr-sm-2 {
	margin-right: 0.5rem !important;
}
.mx-sm-2 {
	margin-right: 0.5rem !important;
}
.mb-sm-2 {
	margin-bottom: 0.5rem !important;
}
.my-sm-2 {
	margin-bottom: 0.5rem !important;
}
.ml-sm-2 {
	margin-left: 0.5rem !important;
}
.mx-sm-2 {
	margin-left: 0.5rem !important;
}
.m-sm-3 {
	margin: 1rem !important;
}
.mt-sm-3 {
	margin-top: 1rem !important;
}
.my-sm-3 {
	margin-top: 1rem !important;
}
.mr-sm-3 {
	margin-right: 1rem !important;
}
.mx-sm-3 {
	margin-right: 1rem !important;
}
.mb-sm-3 {
	margin-bottom: 1rem !important;
}
.my-sm-3 {
	margin-bottom: 1rem !important;
}
.ml-sm-3 {
	margin-left: 1rem !important;
}
.mx-sm-3 {
	margin-left: 1rem !important;
}
.m-sm-4 {
	margin: 1.5rem !important;
}
.mt-sm-4 {
	margin-top: 1.5rem !important;
}
.my-sm-4 {
	margin-top: 1.5rem !important;
}
.mr-sm-4 {
	margin-right: 1.5rem !important;
}
.mx-sm-4 {
	margin-right: 1.5rem !important;
}
.mb-sm-4 {
	margin-bottom: 1.5rem !important;
}
.my-sm-4 {
	margin-bottom: 1.5rem !important;
}
.ml-sm-4 {
	margin-left: 1.5rem !important;
}
.mx-sm-4 {
	margin-left: 1.5rem !important;
}
.m-sm-5 {
	margin: 3rem !important;
}
.mt-sm-5 {
	margin-top: 3rem !important;
}
.my-sm-5 {
	margin-top: 3rem !important;
}
.mr-sm-5 {
	margin-right: 3rem !important;
}
.mx-sm-5 {
	margin-right: 3rem !important;
}
.mb-sm-5 {
	margin-bottom: 3rem !important;
}
.my-sm-5 {
	margin-bottom: 3rem !important;
}
.ml-sm-5 {
	margin-left: 3rem !important;
}
.mx-sm-5 {
	margin-left: 3rem !important;
}
.p-sm-0 {
	padding: 0px !important;
}
.pt-sm-0 {
	padding-top: 0px !important;
}
.py-sm-0 {
	padding-top: 0px !important;
}
.pr-sm-0 {
	padding-right: 0px !important;
}
.px-sm-0 {
	padding-right: 0px !important;
}
.pb-sm-0 {
	padding-bottom: 0px !important;
}
.py-sm-0 {
	padding-bottom: 0px !important;
}
.pl-sm-0 {
	padding-left: 0px !important;
}
.px-sm-0 {
	padding-left: 0px !important;
}
.p-sm-1 {
	padding: 0.25rem !important;
}
.pt-sm-1 {
	padding-top: 0.25rem !important;
}
.py-sm-1 {
	padding-top: 0.25rem !important;
}
.pr-sm-1 {
	padding-right: 0.25rem !important;
}
.px-sm-1 {
	padding-right: 0.25rem !important;
}
.pb-sm-1 {
	padding-bottom: 0.25rem !important;
}
.py-sm-1 {
	padding-bottom: 0.25rem !important;
}
.pl-sm-1 {
	padding-left: 0.25rem !important;
}
.px-sm-1 {
	padding-left: 0.25rem !important;
}
.p-sm-2 {
	padding: 0.5rem !important;
}
.pt-sm-2 {
	padding-top: 0.5rem !important;
}
.py-sm-2 {
	padding-top: 0.5rem !important;
}
.pr-sm-2 {
	padding-right: 0.5rem !important;
}
.px-sm-2 {
	padding-right: 0.5rem !important;
}
.pb-sm-2 {
	padding-bottom: 0.5rem !important;
}
.py-sm-2 {
	padding-bottom: 0.5rem !important;
}
.pl-sm-2 {
	padding-left: 0.5rem !important;
}
.px-sm-2 {
	padding-left: 0.5rem !important;
}
.p-sm-3 {
	padding: 1rem !important;
}
.pt-sm-3 {
	padding-top: 1rem !important;
}
.py-sm-3 {
	padding-top: 1rem !important;
}
.pr-sm-3 {
	padding-right: 1rem !important;
}
.px-sm-3 {
	padding-right: 1rem !important;
}
.pb-sm-3 {
	padding-bottom: 1rem !important;
}
.py-sm-3 {
	padding-bottom: 1rem !important;
}
.pl-sm-3 {
	padding-left: 1rem !important;
}
.px-sm-3 {
	padding-left: 1rem !important;
}
.p-sm-4 {
	padding: 1.5rem !important;
}
.pt-sm-4 {
	padding-top: 1.5rem !important;
}
.py-sm-4 {
	padding-top: 1.5rem !important;
}
.pr-sm-4 {
	padding-right: 1.5rem !important;
}
.px-sm-4 {
	padding-right: 1.5rem !important;
}
.pb-sm-4 {
	padding-bottom: 1.5rem !important;
}
.py-sm-4 {
	padding-bottom: 1.5rem !important;
}
.pl-sm-4 {
	padding-left: 1.5rem !important;
}
.px-sm-4 {
	padding-left: 1.5rem !important;
}
.p-sm-5 {
	padding: 3rem !important;
}
.pt-sm-5 {
	padding-top: 3rem !important;
}
.py-sm-5 {
	padding-top: 3rem !important;
}
.pr-sm-5 {
	padding-right: 3rem !important;
}
.px-sm-5 {
	padding-right: 3rem !important;
}
.pb-sm-5 {
	padding-bottom: 3rem !important;
}
.py-sm-5 {
	padding-bottom: 3rem !important;
}
.pl-sm-5 {
	padding-left: 3rem !important;
}
.px-sm-5 {
	padding-left: 3rem !important;
}
.m-sm-auto {
	margin: auto !important;
}
.mt-sm-auto {
	margin-top: auto !important;
}
.my-sm-auto {
	margin-top: auto !important;
}
.mr-sm-auto {
	margin-right: auto !important;
}
.mx-sm-auto {
	margin-right: auto !important;
}
.mb-sm-auto {
	margin-bottom: auto !important;
}
.my-sm-auto {
	margin-bottom: auto !important;
}
.ml-sm-auto {
	margin-left: auto !important;
}
.mx-sm-auto {
	margin-left: auto !important;
}
}
@media all and (min-width:992px)
{
.m-md-0 {
	margin: 0px !important;
}
.mt-md-0 {
	margin-top: 0px !important;
}
.my-md-0 {
	margin-top: 0px !important;
}
.mr-md-0 {
	margin-right: 0px !important;
}
.mx-md-0 {
	margin-right: 0px !important;
}
.mb-md-0 {
	margin-bottom: 0px !important;
}
.my-md-0 {
	margin-bottom: 0px !important;
}
.ml-md-0 {
	margin-left: 0px !important;
}
.mx-md-0 {
	margin-left: 0px !important;
}
.m-md-1 {
	margin: 0.25rem !important;
}
.mt-md-1 {
	margin-top: 0.25rem !important;
}
.my-md-1 {
	margin-top: 0.25rem !important;
}
.mr-md-1 {
	margin-right: 0.25rem !important;
}
.mx-md-1 {
	margin-right: 0.25rem !important;
}
.mb-md-1 {
	margin-bottom: 0.25rem !important;
}
.my-md-1 {
	margin-bottom: 0.25rem !important;
}
.ml-md-1 {
	margin-left: 0.25rem !important;
}
.mx-md-1 {
	margin-left: 0.25rem !important;
}
.m-md-2 {
	margin: 0.5rem !important;
}
.mt-md-2 {
	margin-top: 0.5rem !important;
}
.my-md-2 {
	margin-top: 0.5rem !important;
}
.mr-md-2 {
	margin-right: 0.5rem !important;
}
.mx-md-2 {
	margin-right: 0.5rem !important;
}
.mb-md-2 {
	margin-bottom: 0.5rem !important;
}
.my-md-2 {
	margin-bottom: 0.5rem !important;
}
.ml-md-2 {
	margin-left: 0.5rem !important;
}
.mx-md-2 {
	margin-left: 0.5rem !important;
}
.m-md-3 {
	margin: 1rem !important;
}
.mt-md-3 {
	margin-top: 1rem !important;
}
.my-md-3 {
	margin-top: 1rem !important;
}
.mr-md-3 {
	margin-right: 1rem !important;
}
.mx-md-3 {
	margin-right: 1rem !important;
}
.mb-md-3 {
	margin-bottom: 1rem !important;
}
.my-md-3 {
	margin-bottom: 1rem !important;
}
.ml-md-3 {
	margin-left: 1rem !important;
}
.mx-md-3 {
	margin-left: 1rem !important;
}
.m-md-4 {
	margin: 1.5rem !important;
}
.mt-md-4 {
	margin-top: 1.5rem !important;
}
.my-md-4 {
	margin-top: 1.5rem !important;
}
.mr-md-4 {
	margin-right: 1.5rem !important;
}
.mx-md-4 {
	margin-right: 1.5rem !important;
}
.mb-md-4 {
	margin-bottom: 1.5rem !important;
}
.my-md-4 {
	margin-bottom: 1.5rem !important;
}
.ml-md-4 {
	margin-left: 1.5rem !important;
}
.mx-md-4 {
	margin-left: 1.5rem !important;
}
.m-md-5 {
	margin: 3rem !important;
}
.mt-md-5 {
	margin-top: 3rem !important;
}
.my-md-5 {
	margin-top: 3rem !important;
}
.mr-md-5 {
	margin-right: 3rem !important;
}
.mx-md-5 {
	margin-right: 3rem !important;
}
.mb-md-5 {
	margin-bottom: 3rem !important;
}
.my-md-5 {
	margin-bottom: 3rem !important;
}
.ml-md-5 {
	margin-left: 3rem !important;
}
.mx-md-5 {
	margin-left: 3rem !important;
}
.p-md-0 {
	padding: 0px !important;
}
.pt-md-0 {
	padding-top: 0px !important;
}
.py-md-0 {
	padding-top: 0px !important;
}
.pr-md-0 {
	padding-right: 0px !important;
}
.px-md-0 {
	padding-right: 0px !important;
}
.pb-md-0 {
	padding-bottom: 0px !important;
}
.py-md-0 {
	padding-bottom: 0px !important;
}
.pl-md-0 {
	padding-left: 0px !important;
}
.px-md-0 {
	padding-left: 0px !important;
}
.p-md-1 {
	padding: 0.25rem !important;
}
.pt-md-1 {
	padding-top: 0.25rem !important;
}
.py-md-1 {
	padding-top: 0.25rem !important;
}
.pr-md-1 {
	padding-right: 0.25rem !important;
}
.px-md-1 {
	padding-right: 0.25rem !important;
}
.pb-md-1 {
	padding-bottom: 0.25rem !important;
}
.py-md-1 {
	padding-bottom: 0.25rem !important;
}
.pl-md-1 {
	padding-left: 0.25rem !important;
}
.px-md-1 {
	padding-left: 0.25rem !important;
}
.p-md-2 {
	padding: 0.5rem !important;
}
.pt-md-2 {
	padding-top: 0.5rem !important;
}
.py-md-2 {
	padding-top: 0.5rem !important;
}
.pr-md-2 {
	padding-right: 0.5rem !important;
}
.px-md-2 {
	padding-right: 0.5rem !important;
}
.pb-md-2 {
	padding-bottom: 0.5rem !important;
}
.py-md-2 {
	padding-bottom: 0.5rem !important;
}
.pl-md-2 {
	padding-left: 0.5rem !important;
}
.px-md-2 {
	padding-left: 0.5rem !important;
}
.p-md-3 {
	padding: 1rem !important;
}
.pt-md-3 {
	padding-top: 1rem !important;
}
.py-md-3 {
	padding-top: 1rem !important;
}
.pr-md-3 {
	padding-right: 1rem !important;
}
.px-md-3 {
	padding-right: 1rem !important;
}
.pb-md-3 {
	padding-bottom: 1rem !important;
}
.py-md-3 {
	padding-bottom: 1rem !important;
}
.pl-md-3 {
	padding-left: 1rem !important;
}
.px-md-3 {
	padding-left: 1rem !important;
}
.p-md-4 {
	padding: 1.5rem !important;
}
.pt-md-4 {
	padding-top: 1.5rem !important;
}
.py-md-4 {
	padding-top: 1.5rem !important;
}
.pr-md-4 {
	padding-right: 1.5rem !important;
}
.px-md-4 {
	padding-right: 1.5rem !important;
}
.pb-md-4 {
	padding-bottom: 1.5rem !important;
}
.py-md-4 {
	padding-bottom: 1.5rem !important;
}
.pl-md-4 {
	padding-left: 1.5rem !important;
}
.px-md-4 {
	padding-left: 1.5rem !important;
}
.p-md-5 {
	padding: 3rem !important;
}
.pt-md-5 {
	padding-top: 3rem !important;
}
.py-md-5 {
	padding-top: 3rem !important;
}
.pr-md-5 {
	padding-right: 3rem !important;
}
.px-md-5 {
	padding-right: 3rem !important;
}
.pb-md-5 {
	padding-bottom: 3rem !important;
}
.py-md-5 {
	padding-bottom: 3rem !important;
}
.pl-md-5 {
	padding-left: 3rem !important;
}
.px-md-5 {
	padding-left: 3rem !important;
}
.m-md-auto {
	margin: auto !important;
}
.mt-md-auto {
	margin-top: auto !important;
}
.my-md-auto {
	margin-top: auto !important;
}
.mr-md-auto {
	margin-right: auto !important;
}
.mx-md-auto {
	margin-right: auto !important;
}
.mb-md-auto {
	margin-bottom: auto !important;
}
.my-md-auto {
	margin-bottom: auto !important;
}
.ml-md-auto {
	margin-left: auto !important;
}
.mx-md-auto {
	margin-left: auto !important;
}
}
@media all and (min-width:1280px)
{
.m-lg-0 {
	margin: 0px !important;
}
.mt-lg-0 {
	margin-top: 0px !important;
}
.my-lg-0 {
	margin-top: 0px !important;
}
.mr-lg-0 {
	margin-right: 0px !important;
}
.mx-lg-0 {
	margin-right: 0px !important;
}
.mb-lg-0 {
	margin-bottom: 0px !important;
}
.my-lg-0 {
	margin-bottom: 0px !important;
}
.ml-lg-0 {
	margin-left: 0px !important;
}
.mx-lg-0 {
	margin-left: 0px !important;
}
.m-lg-1 {
	margin: 0.25rem !important;
}
.mt-lg-1 {
	margin-top: 0.25rem !important;
}
.my-lg-1 {
	margin-top: 0.25rem !important;
}
.mr-lg-1 {
	margin-right: 0.25rem !important;
}
.mx-lg-1 {
	margin-right: 0.25rem !important;
}
.mb-lg-1 {
	margin-bottom: 0.25rem !important;
}
.my-lg-1 {
	margin-bottom: 0.25rem !important;
}
.ml-lg-1 {
	margin-left: 0.25rem !important;
}
.mx-lg-1 {
	margin-left: 0.25rem !important;
}
.m-lg-2 {
	margin: 0.5rem !important;
}
.mt-lg-2 {
	margin-top: 0.5rem !important;
}
.my-lg-2 {
	margin-top: 0.5rem !important;
}
.mr-lg-2 {
	margin-right: 0.5rem !important;
}
.mx-lg-2 {
	margin-right: 0.5rem !important;
}
.mb-lg-2 {
	margin-bottom: 0.5rem !important;
}
.my-lg-2 {
	margin-bottom: 0.5rem !important;
}
.ml-lg-2 {
	margin-left: 0.5rem !important;
}
.mx-lg-2 {
	margin-left: 0.5rem !important;
}
.m-lg-3 {
	margin: 1rem !important;
}
.mt-lg-3 {
	margin-top: 1rem !important;
}
.my-lg-3 {
	margin-top: 1rem !important;
}
.mr-lg-3 {
	margin-right: 1rem !important;
}
.mx-lg-3 {
	margin-right: 1rem !important;
}
.mb-lg-3 {
	margin-bottom: 1rem !important;
}
.my-lg-3 {
	margin-bottom: 1rem !important;
}
.ml-lg-3 {
	margin-left: 1rem !important;
}
.mx-lg-3 {
	margin-left: 1rem !important;
}
.m-lg-4 {
	margin: 1.5rem !important;
}
.mt-lg-4 {
	margin-top: 1.5rem !important;
}
.my-lg-4 {
	margin-top: 1.5rem !important;
}
.mr-lg-4 {
	margin-right: 1.5rem !important;
}
.mx-lg-4 {
	margin-right: 1.5rem !important;
}
.mb-lg-4 {
	margin-bottom: 1.5rem !important;
}
.my-lg-4 {
	margin-bottom: 1.5rem !important;
}
.ml-lg-4 {
	margin-left: 1.5rem !important;
}
.mx-lg-4 {
	margin-left: 1.5rem !important;
}
.m-lg-5 {
	margin: 3rem !important;
}
.mt-lg-5 {
	margin-top: 3rem !important;
}
.my-lg-5 {
	margin-top: 3rem !important;
}
.mr-lg-5 {
	margin-right: 3rem !important;
}
.mx-lg-5 {
	margin-right: 3rem !important;
}
.mb-lg-5 {
	margin-bottom: 3rem !important;
}
.my-lg-5 {
	margin-bottom: 3rem !important;
}
.ml-lg-5 {
	margin-left: 3rem !important;
}
.mx-lg-5 {
	margin-left: 3rem !important;
}
.p-lg-0 {
	padding: 0px !important;
}
.pt-lg-0 {
	padding-top: 0px !important;
}
.py-lg-0 {
	padding-top: 0px !important;
}
.pr-lg-0 {
	padding-right: 0px !important;
}
.px-lg-0 {
	padding-right: 0px !important;
}
.pb-lg-0 {
	padding-bottom: 0px !important;
}
.py-lg-0 {
	padding-bottom: 0px !important;
}
.pl-lg-0 {
	padding-left: 0px !important;
}
.px-lg-0 {
	padding-left: 0px !important;
}
.p-lg-1 {
	padding: 0.25rem !important;
}
.pt-lg-1 {
	padding-top: 0.25rem !important;
}
.py-lg-1 {
	padding-top: 0.25rem !important;
}
.pr-lg-1 {
	padding-right: 0.25rem !important;
}
.px-lg-1 {
	padding-right: 0.25rem !important;
}
.pb-lg-1 {
	padding-bottom: 0.25rem !important;
}
.py-lg-1 {
	padding-bottom: 0.25rem !important;
}
.pl-lg-1 {
	padding-left: 0.25rem !important;
}
.px-lg-1 {
	padding-left: 0.25rem !important;
}
.p-lg-2 {
	padding: 0.5rem !important;
}
.pt-lg-2 {
	padding-top: 0.5rem !important;
}
.py-lg-2 {
	padding-top: 0.5rem !important;
}
.pr-lg-2 {
	padding-right: 0.5rem !important;
}
.px-lg-2 {
	padding-right: 0.5rem !important;
}
.pb-lg-2 {
	padding-bottom: 0.5rem !important;
}
.py-lg-2 {
	padding-bottom: 0.5rem !important;
}
.pl-lg-2 {
	padding-left: 0.5rem !important;
}
.px-lg-2 {
	padding-left: 0.5rem !important;
}
.p-lg-3 {
	padding: 1rem !important;
}
.pt-lg-3 {
	padding-top: 1rem !important;
}
.py-lg-3 {
	padding-top: 1rem !important;
}
.pr-lg-3 {
	padding-right: 1rem !important;
}
.px-lg-3 {
	padding-right: 1rem !important;
}
.pb-lg-3 {
	padding-bottom: 1rem !important;
}
.py-lg-3 {
	padding-bottom: 1rem !important;
}
.pl-lg-3 {
	padding-left: 1rem !important;
}
.px-lg-3 {
	padding-left: 1rem !important;
}
.p-lg-4 {
	padding: 1.5rem !important;
}
.pt-lg-4 {
	padding-top: 1.5rem !important;
}
.py-lg-4 {
	padding-top: 1.5rem !important;
}
.pr-lg-4 {
	padding-right: 1.5rem !important;
}
.px-lg-4 {
	padding-right: 1.5rem !important;
}
.pb-lg-4 {
	padding-bottom: 1.5rem !important;
}
.py-lg-4 {
	padding-bottom: 1.5rem !important;
}
.pl-lg-4 {
	padding-left: 1.5rem !important;
}
.px-lg-4 {
	padding-left: 1.5rem !important;
}
.p-lg-5 {
	padding: 3rem !important;
}
.pt-lg-5 {
	padding-top: 3rem !important;
}
.py-lg-5 {
	padding-top: 3rem !important;
}
.pr-lg-5 {
	padding-right: 3rem !important;
}
.px-lg-5 {
	padding-right: 3rem !important;
}
.pb-lg-5 {
	padding-bottom: 3rem !important;
}
.py-lg-5 {
	padding-bottom: 3rem !important;
}
.pl-lg-5 {
	padding-left: 3rem !important;
}
.px-lg-5 {
	padding-left: 3rem !important;
}
.m-lg-auto {
	margin: auto !important;
}
.mt-lg-auto {
	margin-top: auto !important;
}
.my-lg-auto {
	margin-top: auto !important;
}
.mr-lg-auto {
	margin-right: auto !important;
}
.mx-lg-auto {
	margin-right: auto !important;
}
.mb-lg-auto {
	margin-bottom: auto !important;
}
.my-lg-auto {
	margin-bottom: auto !important;
}
.ml-lg-auto {
	margin-left: auto !important;
}
.mx-lg-auto {
	margin-left: auto !important;
}
}
@media all and (min-width:1429px)
{
.m-xl-0 {
	margin: 0px !important;
}
.mt-xl-0 {
	margin-top: 0px !important;
}
.my-xl-0 {
	margin-top: 0px !important;
}
.mr-xl-0 {
	margin-right: 0px !important;
}
.mx-xl-0 {
	margin-right: 0px !important;
}
.mb-xl-0 {
	margin-bottom: 0px !important;
}
.my-xl-0 {
	margin-bottom: 0px !important;
}
.ml-xl-0 {
	margin-left: 0px !important;
}
.mx-xl-0 {
	margin-left: 0px !important;
}
.m-xl-1 {
	margin: 0.25rem !important;
}
.mt-xl-1 {
	margin-top: 0.25rem !important;
}
.my-xl-1 {
	margin-top: 0.25rem !important;
}
.mr-xl-1 {
	margin-right: 0.25rem !important;
}
.mx-xl-1 {
	margin-right: 0.25rem !important;
}
.mb-xl-1 {
	margin-bottom: 0.25rem !important;
}
.my-xl-1 {
	margin-bottom: 0.25rem !important;
}
.ml-xl-1 {
	margin-left: 0.25rem !important;
}
.mx-xl-1 {
	margin-left: 0.25rem !important;
}
.m-xl-2 {
	margin: 0.5rem !important;
}
.mt-xl-2 {
	margin-top: 0.5rem !important;
}
.my-xl-2 {
	margin-top: 0.5rem !important;
}
.mr-xl-2 {
	margin-right: 0.5rem !important;
}
.mx-xl-2 {
	margin-right: 0.5rem !important;
}
.mb-xl-2 {
	margin-bottom: 0.5rem !important;
}
.my-xl-2 {
	margin-bottom: 0.5rem !important;
}
.ml-xl-2 {
	margin-left: 0.5rem !important;
}
.mx-xl-2 {
	margin-left: 0.5rem !important;
}
.m-xl-3 {
	margin: 1rem !important;
}
.mt-xl-3 {
	margin-top: 1rem !important;
}
.my-xl-3 {
	margin-top: 1rem !important;
}
.mr-xl-3 {
	margin-right: 1rem !important;
}
.mx-xl-3 {
	margin-right: 1rem !important;
}
.mb-xl-3 {
	margin-bottom: 1rem !important;
}
.my-xl-3 {
	margin-bottom: 1rem !important;
}
.ml-xl-3 {
	margin-left: 1rem !important;
}
.mx-xl-3 {
	margin-left: 1rem !important;
}
.m-xl-4 {
	margin: 1.5rem !important;
}
.mt-xl-4 {
	margin-top: 1.5rem !important;
}
.my-xl-4 {
	margin-top: 1.5rem !important;
}
.mr-xl-4 {
	margin-right: 1.5rem !important;
}
.mx-xl-4 {
	margin-right: 1.5rem !important;
}
.mb-xl-4 {
	margin-bottom: 1.5rem !important;
}
.my-xl-4 {
	margin-bottom: 1.5rem !important;
}
.ml-xl-4 {
	margin-left: 1.5rem !important;
}
.mx-xl-4 {
	margin-left: 1.5rem !important;
}
.m-xl-5 {
	margin: 3rem !important;
}
.mt-xl-5 {
	margin-top: 3rem !important;
}
.my-xl-5 {
	margin-top: 3rem !important;
}
.mr-xl-5 {
	margin-right: 3rem !important;
}
.mx-xl-5 {
	margin-right: 3rem !important;
}
.mb-xl-5 {
	margin-bottom: 3rem !important;
}
.my-xl-5 {
	margin-bottom: 3rem !important;
}
.ml-xl-5 {
	margin-left: 3rem !important;
}
.mx-xl-5 {
	margin-left: 3rem !important;
}
.p-xl-0 {
	padding: 0px !important;
}
.pt-xl-0 {
	padding-top: 0px !important;
}
.py-xl-0 {
	padding-top: 0px !important;
}
.pr-xl-0 {
	padding-right: 0px !important;
}
.px-xl-0 {
	padding-right: 0px !important;
}
.pb-xl-0 {
	padding-bottom: 0px !important;
}
.py-xl-0 {
	padding-bottom: 0px !important;
}
.pl-xl-0 {
	padding-left: 0px !important;
}
.px-xl-0 {
	padding-left: 0px !important;
}
.p-xl-1 {
	padding: 0.25rem !important;
}
.pt-xl-1 {
	padding-top: 0.25rem !important;
}
.py-xl-1 {
	padding-top: 0.25rem !important;
}
.pr-xl-1 {
	padding-right: 0.25rem !important;
}
.px-xl-1 {
	padding-right: 0.25rem !important;
}
.pb-xl-1 {
	padding-bottom: 0.25rem !important;
}
.py-xl-1 {
	padding-bottom: 0.25rem !important;
}
.pl-xl-1 {
	padding-left: 0.25rem !important;
}
.px-xl-1 {
	padding-left: 0.25rem !important;
}
.p-xl-2 {
	padding: 0.5rem !important;
}
.pt-xl-2 {
	padding-top: 0.5rem !important;
}
.py-xl-2 {
	padding-top: 0.5rem !important;
}
.pr-xl-2 {
	padding-right: 0.5rem !important;
}
.px-xl-2 {
	padding-right: 0.5rem !important;
}
.pb-xl-2 {
	padding-bottom: 0.5rem !important;
}
.py-xl-2 {
	padding-bottom: 0.5rem !important;
}
.pl-xl-2 {
	padding-left: 0.5rem !important;
}
.px-xl-2 {
	padding-left: 0.5rem !important;
}
.p-xl-3 {
	padding: 1rem !important;
}
.pt-xl-3 {
	padding-top: 1rem !important;
}
.py-xl-3 {
	padding-top: 1rem !important;
}
.pr-xl-3 {
	padding-right: 1rem !important;
}
.px-xl-3 {
	padding-right: 1rem !important;
}
.pb-xl-3 {
	padding-bottom: 1rem !important;
}
.py-xl-3 {
	padding-bottom: 1rem !important;
}
.pl-xl-3 {
	padding-left: 1rem !important;
}
.px-xl-3 {
	padding-left: 1rem !important;
}
.p-xl-4 {
	padding: 1.5rem !important;
}
.pt-xl-4 {
	padding-top: 1.5rem !important;
}
.py-xl-4 {
	padding-top: 1.5rem !important;
}
.pr-xl-4 {
	padding-right: 1.5rem !important;
}
.px-xl-4 {
	padding-right: 1.5rem !important;
}
.pb-xl-4 {
	padding-bottom: 1.5rem !important;
}
.py-xl-4 {
	padding-bottom: 1.5rem !important;
}
.pl-xl-4 {
	padding-left: 1.5rem !important;
}
.px-xl-4 {
	padding-left: 1.5rem !important;
}
.p-xl-5 {
	padding: 3rem !important;
}
.pt-xl-5 {
	padding-top: 3rem !important;
}
.py-xl-5 {
	padding-top: 3rem !important;
}
.pr-xl-5 {
	padding-right: 3rem !important;
}
.px-xl-5 {
	padding-right: 3rem !important;
}
.pb-xl-5 {
	padding-bottom: 3rem !important;
}
.py-xl-5 {
	padding-bottom: 3rem !important;
}
.pl-xl-5 {
	padding-left: 3rem !important;
}
.px-xl-5 {
	padding-left: 3rem !important;
}
.m-xl-auto {
	margin: auto !important;
}
.mt-xl-auto {
	margin-top: auto !important;
}
.my-xl-auto {
	margin-top: auto !important;
}
.mr-xl-auto {
	margin-right: auto !important;
}
.mx-xl-auto {
	margin-right: auto !important;
}
.mb-xl-auto {
	margin-bottom: auto !important;
}
.my-xl-auto {
	margin-bottom: auto !important;
}
.ml-xl-auto {
	margin-left: auto !important;
}
.mx-xl-auto {
	margin-left: auto !important;
}
}
.sr-only {
	padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; position: absolute; clip: rect(0px, 0px, 0px, 0px); -webkit-clip-path: inset(50%);
}
.sr-only-focusable:active {
	width: auto; height: auto; overflow: visible; white-space: normal; position: static; clip: auto; clip-path: none; -webkit-clip-path: none;
}
.sr-only-focusable:focus {
	width: auto; height: auto; overflow: visible; white-space: normal; position: static; clip: auto; clip-path: none; -webkit-clip-path: none;
}
@media all and (max-width:767px)
{
.hidden-xs {
	display: none !important;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.hidden-sm {
	display: none !important;
}
}
@media all and (max-width:1279px) and (min-width:992px)
{
.hidden-md {
	display: none !important;
}
}
@media all and (max-width:1428px) and (min-width:1280px)
{
.hidden-lg {
	display: none !important;
}
}
@media all and (min-width:1429px)
{
.hidden-xl {
	display: none !important;
}
}
.caroussel {
	width: 100%; position: relative;
}
.caroussel .caroussel__content {
	z-index: 1;
}
.caroussel .caroussel__btn {
	padding: 0px; border-radius: 9999px; border: currentColor; border-image: none; width: 3.12em; height: 3.12em; display: none; position: absolute; z-index: 10; cursor: pointer;
}
.caroussel .caroussel__btn:focus {
	
}
@media screen and (min-width:768px)
{
.caroussel .caroussel__btn {
	display: block;
}
.caroussel [aria-disabled=true].caroussel__btn {
	display: none !important;
}
.caroussel [aria-disabled=false].caroussel__btn {
	display: block !important;
}
}
.caroussel .caroussel__btn.-next {
	top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.caroussel .caroussel__btn.-prev {
	top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.caroussel .caroussel__btn.-prev {
	left: -20px;
}
.caroussel .caroussel__btn.-prev svg {
	transform: scaleX(-1); -webkit-transform: scaleX(-1);
}
.caroussel .caroussel__btn.-next {
	right: -20px;
}
@media screen and (max-width:768px)
{
.caroussel [aria-disabled=false].caroussel__btn {
	display: none !important;
}
}
.caroussel .caroussel__btn .bg {
	fill: #cbcbcb;
}
.caroussel .caroussel__btn .stroke {
	stroke: #000;
}
.caroussel .caroussel__btn:focus .bg {
	fill: #000;
}
.caroussel .caroussel__btn:hover .bg {
	fill: #000;
}
.caroussel .caroussel__btn:focus .stroke {
	stroke: #cbcbcb;
}
.caroussel .caroussel__btn:hover .stroke {
	stroke: #cbcbcb;
}
.caroussel .caroussel__btn.-light .bg {
	fill: #cbcbcb;
}
.caroussel .caroussel__btn.-light .stroke {
	stroke: #fff;
}
.caroussel .caroussel__btn.-light:focus .bg {
	fill: #000;
}
.caroussel .caroussel__btn.-light:hover .bg {
	fill: #000;
}
.caroussel .caroussel__btn.-light:focus .stroke {
	stroke: #cbcbcb;
}
.caroussel .caroussel__btn.-light:hover .stroke {
	stroke: #cbcbcb;
}
.caroussel .caroussel__dots {
	text-align: center; margin-top: 20px;
}
.caroussel .caroussel__dots li {
	margin-left: 16px; display: inline-block;
}
.caroussel .caroussel__dots li:first-child {
	margin-left: 0px;
}
.caroussel .caroussel__dots li > button {
	margin: 0px; padding: 0px; border-radius: 100%; border: 2px solid rgb(0, 0, 0); border-image: none; width: 12px; height: 12px; text-indent: -9999px; display: block; cursor: pointer; background-color: transparent;
}
.caroussel .caroussel__dots .slick-active button {
	background-color: rgb(0, 0, 0);
}
.caroussel .caroussel__dots.-light li > button {
	border-color: rgb(255, 255, 255);
}
.caroussel .caroussel__dots.-light .slick-active button {
	background-color: rgb(255, 255, 255);
}
.cta {
	
}
.cta.+underlined {
	margin: 0px 0px 0px 15px; text-transform: uppercase; line-height: 1rem; letter-spacing: 2px; font-weight: 700; text-decoration: none; display: inline-block; position: relative;
}
.cta.+underlined::before {
	left: 0px; top: inherit; width: 100%; height: 2px; bottom: -3px; position: absolute; content: "";
}
.cta.+underlined:focus::before {
	animation:width-in 0.5s; -webkit-animation: width-in .5s ease;
}
.cta.+underlined:hover::before {
	animation:width-in 0.5s; -webkit-animation: width-in .5s ease;
}
.cta.+underlined.-white {
	color: rgb(255, 255, 255);
}
.cta.+underlined.-white:focus {
	color: rgb(255, 255, 255);
}
.cta.+underlined.-white:hover {
	color: rgb(255, 255, 255);
}
.cta.+underlined.-white::before {
	background-color: rgb(255, 255, 255);
}
.cta.+underlined.-btn {
	background: none; margin: 0px; padding: 0px; border: currentColor; border-image: none; color: rgb(255, 255, 255); backface-visibility: hidden; -webkit-backface-visibility: hidden;
}
.cta.+arrow {
	color: currentColor; letter-spacing: 2px; font-size: 0.75rem; text-decoration: none;
}
.cta.+arrow::after {
	transition:0.5s; margin-left: 10px; display: inline-block; content: ">"; -webkit-transition: all .5s ease;
}
.cta.+arrow:focus::after {
	transform: translateX(5px); -webkit-transform: translateX(5px);
}
.cta.+arrow:hover::after {
	transform: translateX(5px); -webkit-transform: translateX(5px);
}
.cta.+btn {
	padding: 0.65em 1em; border-radius: 1.15em / 50%; border: 2px solid currentColor; transition:background-color 0.3s, color 0.3s, border-color 0.3s, opacity 0.15s; border-image: none; text-align: center; line-height: 0.75em; letter-spacing: 0.8px; overflow: hidden; font-size: 0.93rem; font-weight: 500; text-decoration: none; vertical-align: middle; display: inline-block; white-space: nowrap; position: relative; cursor: pointer; min-width: 10.25em; max-width: 100%; backface-visibility: hidden; -webkit-backface-visibility: hidden; -webkit-transition: background-color .3s ease, color .3s ease, border-color .3s ease, opacity .15s;
}
.cta.+btn:focus {
	border-color: rgb(51, 51, 51); background-color: rgb(51, 51, 51);
}
.cta.+btn:hover {
	border-color: rgb(51, 51, 51); background-color: rgb(51, 51, 51);
}
.cta.+btn:focus .cta__wrapper {
	animation:hover-btn 0.2s linear; -webkit-animation: hover-btn .2s linear;
}
.cta.+btn:hover .cta__wrapper {
	animation:hover-btn 0.2s linear; -webkit-animation: hover-btn .2s linear;
}
.cta.+btn.-black {
	border: 2px solid rgb(0, 0, 0); border-image: none; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
.cta.+btn.-black:focus {
	border: 2px solid currentColor; border-image: none;
}
.cta.+btn.-black:hover {
	border: 2px solid currentColor; border-image: none;
}
.cta.+btn.-blackTransparent {
	border: 2px solid currentColor; border-image: none; background-color: inherit;
}
.cta.+btn.-whiteTransparent {
	border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); background-color: transparent;
}
.cta.+btn.-whiteTransparent:focus {
	border-color: rgb(255, 255, 255); color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
.cta.+btn.-whiteTransparent:hover {
	border-color: rgb(255, 255, 255); color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
.cta.+btn.-red {
	border: 2px solid rgb(229, 60, 60); border-image: none; background-color: rgb(229, 60, 60);
}
.cta.+btn.-red:focus {
	border-color: rgb(51, 51, 51); background-color: rgb(51, 51, 51);
}
.cta.+btn.-red:hover {
	border-color: rgb(51, 51, 51); background-color: rgb(51, 51, 51);
}
.cta.+btn.-red:focus .cta__wrapper {
	animation:hover-btn 0.2s linear; -webkit-animation: hover-btn .2s linear;
}
.cta.+btn.-red:hover .cta__wrapper {
	animation:hover-btn 0.2s linear; -webkit-animation: hover-btn .2s linear;
}
.cta.+btn.-yellow {
	border: 2px solid rgb(250, 197, 14); border-image: none; color: rgb(27, 27, 27); background-color: rgb(250, 197, 14);
}
.cta.+btn.-yellow:focus {
	color: rgb(250, 197, 14);
}
.cta.+btn.-yellow:hover {
	color: rgb(250, 197, 14);
}
.cta.+btn.-plum {
	border-color: rgb(199, 199, 199); color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.cta.+btn.-plum:focus {
	border-color: rgb(105, 103, 175); color: rgb(255, 255, 255); background-color: rgb(105, 103, 175);
}
.cta.+btn.-plum:hover {
	border-color: rgb(105, 103, 175); color: rgb(255, 255, 255); background-color: rgb(105, 103, 175);
}
.cta.-video {
	border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); padding-right: 30px; padding-left: 25px; background-color: transparent;
}
.cta.-video::after {
	background-position: 50% 100%; top: 50%; width: 1.47em; height: 1.47em; right: 0.25em; position: absolute; content: ""; transform: translateY(-50%); background-image: url("../../dist/img/play.svg"); background-size: 100% auto; -webkit-transform: translateY(-50%);
}
.cta.-video:focus {
	border-color: rgb(255, 255, 255); color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.cta.-video:hover {
	border-color: rgb(255, 255, 255); color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.cta.-video.-blackTransparent::after {
	background-position: 0px 0px;
}
.cta.-video:focus::after {
	background-position: 0px 0px;
}
.cta.-video:hover::after {
	background-position: 0px 0px;
}
.cta.-video.-blackTransparent:focus::after {
	background-position: 50% 100%;
}
.cta.-video.-blackTransparent:hover::after {
	background-position: 50% 100%;
}
.cta .cta__wrapper {
	display: inline-block; white-space: nowrap;
}
.IE .cta::after {
	background-size: 100% 200%;
}
.card {
	margin: 0px 10px; position: relative; min-height: 175px; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal;
}
.card {
	display: flex; justify-content: space-between; -webkit-box-pack: justify;
}
.card .card__header {
	display: flex; justify-content: space-between; -webkit-box-pack: justify;
}
.card .card__header {
	padding: 25px 25px 0px;
}
.card .card__header h2 {
	font-size: 1.5rem;
}
.card .card__body {
	padding: 0px 25px;
}
.card .card__body p {
	font-size: 1.12em; margin-bottom: 20px;
}
.card .card__footer {
	padding: 0px 25px; height: 50px; display: flex; align-items: center; -webkit-box-align: center;
}
.stickyDrawer__overlay {
	transition:visibility 0.2s, opacity 0.5s; left: 0px; top: 0px; width: 100%; height: 100%; visibility: hidden; position: fixed; z-index: 100; opacity: 0; background-color: rgba(0, 0, 0, 0.8); -webkit-transition: visibility .2s, opacity .5s;
}
.stickyDrawer {
	width: 100%; bottom: 0px; color: rgb(255, 255, 255); position: fixed; z-index: 19; max-height: 272px;
}
@media screen and (max-width:479px)
{
.stickyDrawer {
	max-height: 60%;
}
}
.stickyDrawer .stickyDrawer__cta {
	background: rgb(0, 96, 127); border: currentColor; border-image: none; left: 50%; top: -60px; width: 340px; height: 60px; padding-left: 20px; display: flex; position: absolute; cursor: pointer; transform: translateX(-50%); justify-content: space-between; align-items: center; -webkit-box-pack: justify; -webkit-box-align: center; -webkit-transform: translateX(-50%);
}
.stickyDrawer .stickyDrawer__cta .handlebar_title {
	color: rgb(255, 255, 255); text-transform: uppercase; font-family: Futura PT; font-size: 1rem; font-weight: 400;
}
.stickyDrawer .stickyDrawer__cta .handlebar__icon {
	width: 50px;
}
.stickyDrawer .stickyDrawer__cta:focus {
	background-color: rgb(4, 115, 151);
}
.stickyDrawer .stickyDrawer__cta:hover {
	background-color: rgb(4, 115, 151);
}
.stickyDrawer .stickyDrawer__cta .handlebar__icon {
	padding-top: 3px;
}
@media screen and (max-width:479px)
{
.stickyDrawer .stickyDrawer__cta {
	width: 100%;
}
}
.stickyDrawer .stickyDrawer__content {
	background: rgb(233, 233, 233); padding: 36px 50px 10px; width: 100%; display: none;
}
@media screen and (max-width:479px)
{
.stickyDrawer .stickyDrawer__content {
	padding: 36px 15px 10px;
}
}
.stickyDrawer .stickyDrawer__content .caroussel {
	margin: 0px auto; max-width: 1431px;
}
.stickyDrawer.section {
	padding: 0px;
}
.stickyDrawer button {
	background-color: transparent;
}
.stickyDrawer button:focus {
	
}
.stickyDrawer svg {
	height: 40px; transition-duration: 0.2s; transition-timing-function: ease-out; -webkit-transition-duration: .2s; -webkit-transition-timing-function: ease-out;
}
.tooltip .tooltip__icon {
	background: url("../../dist/img/Disclaimer_20x20.svg") no-repeat; border: currentColor; border-image: none; width: 20px; height: 20px; cursor: pointer;
}
.tooltip .tooltip__box {
	background: rgb(51, 51, 51); padding: 20px; left: 0px; top: 55px; color: rgb(255, 255, 255); font-size: 1.12rem; display: none; position: absolute; z-index: 1; min-width: 100%;
}
.tooltip .tooltip__box .tooltip__boxHeader {
	padding: 0px 0px 15px; display: flex; justify-content: space-between; -webkit-box-pack: justify;
}
.tooltip .tooltip__box .tooltip__boxHeader .tooltip__arrow {
	top: -10px; width: 0px; height: 0px; right: 14px; border-right-color: transparent; border-bottom-color: rgb(51, 51, 51); border-left-color: transparent; border-right-width: 20px; border-bottom-width: 20px; border-left-width: 20px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute;
}
.tooltip .tooltip__box .tooltip__boxHeader .tooltip__cross {
	background: none; border: currentColor; border-image: none; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 1.25rem; cursor: pointer;
}
.tooltip .tooltip__box .tooltip__boxHeader .tooltip__title p {
	margin: 0px; font-size: 1em;
}
.tooltip .tooltip__box p {
	font-size: 0.87em;
}
.slick-slider {
	box-sizing: border-box; -ms-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent;
}
.slick-list {
	display: block; position: relative;
}
.slick-slider {
	display: block; position: relative;
}
.slick-list {
	margin: 0px; padding: 0px; overflow: hidden;
}
.slick-list:focus {
	
}
.slick-list.dragging {
	cursor: pointer;
}
.slick-slider .slick-list {
	transform: translateZ(0px); -webkit-transform: translateZ(0);
}
.slick-slider .slick-track {
	transform: translateZ(0px); -webkit-transform: translateZ(0);
}
.slick-track {
	left: 0px; top: 0px; margin-right: auto; margin-left: auto; display: block; position: relative;
}
.slick-track::after {
	display: table; content: "";
}
.slick-track::before {
	display: table; content: "";
}
.slick-track::after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	height: 100%; float: left; display: none; min-height: 1px;
}
[dir=rtl] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	border: 1px solid transparent; border-image: none; height: auto; display: block;
}
.slick-arrow.slick-hidden {
	display: none;
}
