.alertBanner {
	background: rgb(201, 201, 201); padding: 15px 60px 15px 20px; width: 100%; text-align: center; color: rgb(51, 51, 51); line-height: 1; position: relative; z-index: 25;
}
.alertBanner.-aboveNav {
	z-index: 21;
}
.alertBanner.-belowNav {
	z-index: 19;
}
.alertBanner.active {
	display: block;
}
@media all and (max-width:1280px)
{
.alertBanner {
	padding: 15px 50px 15px 15px; transition:transform 0.3s, transform 0.3s; left: 0px; top: 0px; position: relative; transform: translateX(0px); -webkit-transform: translateX(0); -webkit-transition: -webkit-transform .3s ease;
}
}
.alertBanner .banner__title {
	color: inherit; font-size: 1.12rem;
}
.alertBanner .banner__title a {
	color: inherit; font-size: 1.12rem;
}
.alertBanner .banner__title p {
	color: inherit; font-size: 1.12rem;
}
.alertBanner .banner__title a {
	text-decoration: underline;
}
.alertBanner .banner__title p {
	margin: 0px; padding: 0px;
}
.alertBanner .banner__button {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; top: 50%; width: 16px; height: 16px; right: 26px; letter-spacing: 0.4px; position: absolute; cursor: pointer; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.smallBanner {
	padding: 35px 0px 55px; text-align: center; position: relative; background-repeat: no-repeat; background-size: cover;
}
.smallBanner.-aboveNav {
	z-index: 21;
}
.smallBanner.-belowNav {
	z-index: 19;
}
.smallBanner.header-banner .container > .banner__title {
	color: rgb(0, 0, 0); text-transform: none;
}
@media screen and (min-width:992px)
{
.smallBanner.-split {
	width: 50%; display: inline-block !important;
}
}
@media screen and (min-width:479px)
{
.smallBanner.-small {
	padding: 27px 0px;
}
}
.smallBanner.-big {
	background-position: 50%; padding: 55px 0px 75px; background-size: cover;
}
@media screen and (min-width:992px)
{
.smallBanner.-big {
	padding: 100px 0px;
}
}
.smallBanner.-left {
	text-align: left;
}
.smallBanner.-lowerCase .banner__title {
	text-transform: none;
}
.smallBanner.-center .banner__cta {
	margin-top: 20px; margin-left: 0px; display: block;
}
.smallBanner.-center .banner__title {
	padding: 0px 15px; line-height: 1.15; font-size: 2rem;
}
@media screen and (min-width:768px)
{
.smallBanner.-center .banner__title {
	padding: 0px;
}
}
.smallBanner.-icon .banner__icon {
	margin: 0px auto 10px; display: block;
}
.smallBanner .banner__title {
	text-transform: uppercase; line-height: 25.3px; letter-spacing: 0.02em; font-size: 1.12rem; font-weight: 400; vertical-align: middle; display: inline-block;
}
@media screen and (min-width:768px)
{
.smallBanner .banner__title {
	font-size: 1.37rem;
}
}
@media screen and (min-width:1280px)
{
.smallBanner .banner__title {
	font-size: 1.62rem;
}
}
.smallBanner .banner__bold-text {
	font-weight: 700;
}
.smallBanner .banner__big-text {
	line-height: 0; font-size: 1.9em; vertical-align: -0.3em;
}
.smallBanner .banner__big-text::before {
	display: block; content: " ";
}
@media screen and (min-width:992px)
{
.smallBanner .banner__big-text::before {
	display: inline; content: " ";
}
}
.smallBanner .banner__cta {
	margin-top: 20px; display: block;
}
@media screen and (min-width:479px)
{
.smallBanner .banner__cta {
	margin-top: 0px; margin-left: 25px; display: inline-block;
}
}
.smallBanner .banner__button {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; top: 21px; width: 16px; height: 16px; right: 26px; letter-spacing: 0.4px; position: absolute; cursor: pointer; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.smallBanner .banner__icon {
	margin-right: 10px; max-height: 64px;
}
