.event-attendees#ee-block-event-attendees ul {
	list-style-type: none;
}
#ee-block-event-attendees .contact-image-wrap-div {
	display: inline-block;
}
#ee-block-event-attendees p {
	display: inline-block;
}
#ee-block-event-attendees .contact-avatar-img {
	margin: 0.25em 1em 0.25em 0px; vertical-align: middle;
}
