@font-face {
	font-family: ee-dashicons;
	src: url(../fonts/ee-dashicons.eot?#iefix) format("embedded-opentype"), url(../fonts/ee-dashicons.ttf) format("truetype"), url(../fonts/ee-dashicons.woff) format("woff"), url(../fonts/ee-dashicons.svg#ee-dashicons) format("svg");
	font-weight: normal;
	font-style: normal;
}
.ee-icon {
	width: auto; height: auto; font-size: inherit; margin-right: 0.5em; vertical-align: middle;
}
.dashicons {
	width: auto; height: auto; font-size: inherit; margin-right: 0.5em; vertical-align: middle;
}
.ee-icon {
	text-align: center; text-transform: none; line-height: 1; font-family: "ee-dashicons", sans-serif !important; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: inherit; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#wp-admin-bar-espresso-toolbar .ee-icon-ee-cup-thick::before {
	left: 8px; top: -2px; font-size: 24px !important; content: "\e60e";
}
@media screen and (max-width:782px)
{
#wpadminbar li#wp-admin-bar-espresso-toolbar {
	display: block;
}
#wpadminbar li#wp-admin-bar-espresso-toolbar .ee-icon-ee-cup-thick::before {
	left: 4px; top: 3px; color: rgba(240, 245, 250, 0.6); font-size: 40px !important; position: relative;
}
#wpadminbar li#wp-admin-bar-espresso-toolbar:hover .ee-icon-ee-cup-thick::before {
	color: rgb(0, 185, 235);
}
}
.ee-icon-venue::before {
	content: "\79";
}
.ee-icon-user-edit::before {
	content: "\62";
}
.ee-icon-user-delete::before {
	content: "\64";
}
.ee-icon-user-add-new::before {
	content: "\65";
}
.ee-icon-tickets::before {
	content: "\66";
}
.ee-icon-tickets-download::before {
	content: "\67";
}
.ee-icon-pdf-file-type::before {
	content: "\68";
}
.ee-icon-PDF-file-type::before {
	content: "\68";
}
.ee-icon-payment-reminder::before {
	content: "\69";
}
.ee-icon-external-link::before {
	content: "\6a";
}
.ee-icon-event::before {
	content: "\6b";
}
.ee-icon-event-list-grid::before {
	content: "\6c";
}
.ee-icon-event-list-dates::before {
	content: "\6d";
}
.ee-icon-email::before {
	content: "\6e";
}
.ee-icon-email-send::before {
	content: "\63";
}
.ee-icon-ee-cup::before {
	content: "\e60e";
}
.ee-icon-clone::before {
	content: "\77";
}
.ee-icon-clock::before {
	content: "\78";
}
.ee-icon-arrow-move::before {
	content: "\76";
}
.ee-icon-check-out::before {
	content: "\75";
}
.ee-icon-check-in::before {
	content: "\74";
}
.ee-icon-cash::before {
	content: "\73";
}
.ee-icon-cash-remove::before {
	content: "\72";
}
.ee-icon-cash-edit::before {
	content: "\71";
}
.ee-icon-cash-add::before {
	content: "\70";
}
.ee-icon-calendar-edit::before {
	content: "\6f";
}
.pink-icon::before {
	color: rgb(228, 64, 100);
}
.green-icon::before {
	color: rgb(112, 204, 80);
}
.drk-green-icon::before {
	color: rgb(0, 153, 0);
}
.red-icon::before {
	color: rgb(180, 17, 63);
}
.orange-icon::before {
	color: rgb(231, 103, 0);
}
.lt-blue-icon::before {
	color: rgb(0, 177, 202);
}
.blue-icon::before {
	color: rgb(0, 91, 158);
}
.yellow-icon::before {
	color: rgb(248, 215, 85);
}
.lt-grey-icon::before {
	color: rgb(163, 157, 156);
}
.grey-icon::before {
	color: rgb(136, 136, 136);
}
.drk-grey-icon::before {
	color: rgb(89, 89, 91);
}
.black-icon::before {
	color: rgb(47, 51, 52);
}
.tags-links a {
	white-space: nowrap;
}
.tags-links a::before {
	text-align: center; line-height: 1; font-family: "dashicons", sans-serif; font-style: normal; font-weight: 400; text-decoration: none; margin-right: 0.25em; vertical-align: middle; display: inline-block; content: "\f318";
}
.ee-icon-size-8::before {
	font-size: 8px !important;
}
.ee-icon-size-12::before {
	font-size: 12px;
}
.ee-icon-size-14::before {
	font-size: 14px;
}
.ee-icon-size-16::before {
	font-size: 16px; margin-right: -0.05em;
}
.ee-icon-size-18::before {
	font-size: 18px; margin-right: -0.1em;
}
.ee-icon-size-20::before {
	font-size: 20px; margin-right: -0.15em;
}
.ee-icon-size-22::before {
	font-size: 22px; margin-right: -0.2em;
}
.ee-icon-size-24::before {
	font-size: 24px; margin-right: -0.25em;
}
.ee-icon-only-lnk {
	margin: 0px 0px 0px 1em; border: currentColor !important; border-image: none !important;
}
#wp-admin-bar-espresso-toolbar .ee-icon-size-20::before {
	margin-right: 0.25em;
}
.ee-upcoming-events-widget-li {
	
}
.ee-upcoming-events-widget-ul li ul {
	padding: 0px 0px 1em;
}
.ee-upcoming-events-widget-header-dv {
	margin: 0px 0px 1em; width: 100%; position: relative; min-height: 2.2em;
}
.ee-upcoming-events-widget-header-dv.two-line {
	min-height: 3.5em;
}
.ee-upcoming-events-widget-header-dv.three-line {
	min-height: 4.8em;
}
.ee-upcoming-events-widget-title-h5 {
	margin: 3em 0px 0px;
}
.ee-upcoming-events-widget-li img {
	height: auto !important; max-width: 100% !important;
}
.ee-upcoming-events-widget-header-dv img {
	width: 100%;
}
.ee-upcoming-events-widget-h5 {
	margin: 0px;
}
.ee-upcoming-events-widget-h5 a {
	background: rgba(255, 255, 255, 0.85); padding: 2.5% 5%; border: 1px solid rgba(255, 255, 255, 0.85); border-image: none; left: 0px; width: 90%; bottom: 4%; color: rgb(51, 51, 51) !important; line-height: 1.2em; text-decoration: none; position: absolute; text-shadow: 1px 1px 0px #ffffff;
}
.ee-upcoming-events-widget-h5 a:hover {
	background: rgba(255, 255, 255, 0.9); border: 1px solid rgba(255, 255, 255, 0.9); border-image: none;
}
.ee-upcoming-events-widget-details-dv {
	line-height: 1.4em !important;
}
.ee-upcoming-events-widget-details-dv p {
	line-height: 1.4em !important;
}
.ee-upcoming-events-widget-li .ee-event-datetimes-ul {
	padding: 10px 0px;
}
.espresso_events .ee-event-datetimes-ul li {
	margin: 0px 0px 1em; list-style-type: none;
}
ul.ee-upcoming-events-widget-ul li {
	list-style-type: none !important;
}
.ee-button {
	background: linear-gradient(rgb(78, 191, 222), rgb(0, 177, 202)) rgb(0, 177, 202); border-width: 1px !important; border-style: solid !important; border-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.01) rgba(0, 0, 0, 0.25) !important; margin: 0px 0px 1em; border-radius: 0px; border-image: none !important; top: -2px; text-align: center; color: rgb(255, 255, 255) !important; line-height: 1em; font-weight: normal; text-decoration: none !important; display: inline-block; position: relative; cursor: pointer; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.ee-button:active {
	background: linear-gradient(rgb(78, 191, 222), rgb(0, 177, 202)) rgb(0, 177, 202); border-width: 1px !important; border-style: solid !important; border-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.01) rgba(0, 0, 0, 0.25) !important; margin: 0px 0px 1em; border-radius: 0px; border-image: none !important; top: -2px; text-align: center; color: rgb(255, 255, 255) !important; line-height: 1em; font-weight: normal; text-decoration: none !important; display: inline-block; position: relative; cursor: pointer; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.ee-button:visited {
	background: linear-gradient(rgb(78, 191, 222), rgb(0, 177, 202)) rgb(0, 177, 202); border-width: 1px !important; border-style: solid !important; border-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.01) rgba(0, 0, 0, 0.25) !important; margin: 0px 0px 1em; border-radius: 0px; border-image: none !important; top: -2px; text-align: center; color: rgb(255, 255, 255) !important; line-height: 1em; font-weight: normal; text-decoration: none !important; display: inline-block; position: relative; cursor: pointer; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.ee-button:hover {
	color: rgb(255, 255, 255) !important; background-color: rgb(0, 199, 227);
}
.ee-button:active {
	top: -1px;
}
.ee-button.ee-register-button {
	margin: 0px; font-weight: bold; text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.ee-button.ee-register-button:active {
	margin: 0px; font-weight: bold; text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.ee-button.ee-register-button:visited {
	margin: 0px; font-weight: bold; text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
input.ee-register-button {
	float: right;
}
.ee-button-disabled {
	background: rgb(204, 204, 204) !important; border: 1px solid rgb(204, 204, 204) !important; border-image: none !important; box-shadow: none !important;
}
.ee-button-disabled:hover {
	background: rgb(204, 204, 204) !important; border: 1px solid rgb(204, 204, 204) !important; border-image: none !important; box-shadow: none !important;
}
.small.ee-button {
	padding: 5px 10px; font-size: 11px;
}
.small.ee-button:visited {
	padding: 5px 10px; font-size: 11px;
}
.ee-button {
	padding: 6px 12px 7px; font-size: 13px;
}
.ee-button:visited {
	padding: 6px 12px 7px; font-size: 13px;
}
.medium.ee-button {
	padding: 6px 12px 7px; font-size: 13px;
}
.medium.ee-button:visited {
	padding: 6px 12px 7px; font-size: 13px;
}
.big.ee-button {
	padding: 8px 16px 9px; font-size: 14px;
}
.big.ee-button:visited {
	padding: 8px 16px 9px; font-size: 14px;
}
.huge.ee-button {
	padding: 14px 32px 16px; font-size: 16px;
}
.huge.ee-button:visited {
	padding: 14px 32px 16px; font-size: 16px;
}
.ee-round.ee-button {
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.ee-roundish.ee-button {
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.ee-shadow.ee-button {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.6); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.ee-pink.ee-button {
	background: linear-gradient(rgb(246, 80, 119), rgb(228, 64, 100)) rgb(228, 64, 100);
}
.ee-pink.ee-button:visited {
	background: linear-gradient(rgb(246, 80, 119), rgb(228, 64, 100)) rgb(228, 64, 100);
}
.ee-pink.ee-button:hover {
	background: rgb(246, 80, 119);
}
.ee-green.ee-button {
	background: linear-gradient(rgb(128, 221, 94), rgb(112, 204, 80)) rgb(112, 204, 80);
}
.ee-green.ee-button:visited {
	background: linear-gradient(rgb(128, 221, 94), rgb(112, 204, 80)) rgb(112, 204, 80);
}
.ee-green.ee-button:hover {
	background: rgb(128, 221, 94);
}
.ee-red.ee-button {
	background: linear-gradient(rgb(200, 25, 78), rgb(180, 17, 63)) rgb(180, 17, 63);
}
.ee-red.ee-button:visited {
	background: linear-gradient(rgb(200, 25, 78), rgb(180, 17, 63)) rgb(180, 17, 63);
}
.ee-red.ee-button:hover {
	background: rgb(200, 25, 78);
}
.ee-orange.ee-button {
	background: linear-gradient(rgb(250, 115, 11), rgb(231, 103, 0)) rgb(231, 103, 0);
}
.ee-orange.ee-button:visited {
	background: linear-gradient(rgb(250, 115, 11), rgb(231, 103, 0)) rgb(231, 103, 0);
}
.ee-orange.ee-button:hover {
	background: rgb(250, 115, 11);
}
.ee-blue.ee-button {
	background: linear-gradient(rgb(6, 109, 177), rgb(0, 91, 158)) rgb(0, 91, 158);
}
.ee-blue.ee-button:visited {
	background: linear-gradient(rgb(6, 109, 177), rgb(0, 91, 158)) rgb(0, 91, 158);
}
.ee-blue.ee-button:hover {
	background: rgb(6, 109, 177);
}
.ee-yellow.ee-button {
	background: linear-gradient(rgb(254, 223, 108), rgb(248, 215, 85)) rgb(248, 215, 85);
}
.ee-yellow.ee-button:visited {
	background: linear-gradient(rgb(254, 223, 108), rgb(248, 215, 85)) rgb(248, 215, 85);
}
.ee-yellow.ee-button:hover {
	background: rgb(254, 223, 108);
}
.ee-grey.ee-button {
	background: linear-gradient(rgb(181, 179, 179), rgb(163, 157, 156)) rgb(163, 157, 156);
}
.ee-grey.ee-button:visited {
	background: linear-gradient(rgb(181, 179, 179), rgb(163, 157, 156)) rgb(163, 157, 156);
}
.ee-grey.ee-button:hover {
	background: rgb(181, 179, 179);
}
.ee-dark-grey.ee-button {
	background: linear-gradient(rgb(89, 89, 91), rgb(70, 69, 73)) rgb(70, 69, 73);
}
.ee-dark-grey.ee-button:visited {
	background: linear-gradient(rgb(89, 89, 91), rgb(70, 69, 73)) rgb(70, 69, 73);
}
.ee-dark-grey.ee-button:hover {
	background: rgb(89, 89, 91);
}
.ee-black.ee-button {
	background: linear-gradient(rgb(66, 70, 70), rgb(47, 51, 52)) rgb(47, 51, 52);
}
.ee-black.ee-button:visited {
	background: linear-gradient(rgb(66, 70, 70), rgb(47, 51, 52)) rgb(47, 51, 52);
}
.ee-black.ee-button:hover {
	background: rgb(66, 70, 70);
}
.ee-status {
	margin: 0px 0px 0px 1em; padding: 0.5em 1.5em; border-radius: 0px; text-align: center; color: rgb(255, 255, 255) !important; line-height: 1; font-size: 0.5em; font-weight: bold; text-decoration: none; border-bottom-color: rgba(0, 0, 0, 0.1); border-bottom-width: 1px; border-bottom-style: solid; float: right; display: inline-block; position: relative; z-index: 1; box-shadow: none; text-shadow: 0px -1px 0px rgba(0,0,0,0.25); -webkit-box-shadow: none; -moz-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.ee-status.event-active-status-DTS {
	background-color: rgb(252, 185, 60);
}
.ee-status.event-active-status-DTA {
	background-color: rgb(112, 204, 80);
}
.ee-status.event-active-status-DTU {
	background-color: rgb(0, 177, 202);
}
.ee-status.event-active-status-DTP {
	background-color: rgb(138, 84, 154);
}
.ee-status.event-active-status-DTC {
	background-color: rgb(228, 64, 100);
}
.ee-status.event-active-status-DTE {
	background-color: rgb(163, 157, 156);
}
.ee-status.event-active-status-DTI {
	background-color: rgb(64, 58, 58);
}
.ee-status-size-12 {
	font-size: 12px;
}
.ee-status-size-14 {
	font-size: 14px;
}
.ee-status-size-16 {
	font-size: 16px;
}
.ee-status-size-18 {
	font-size: 18px;
}
.ee-status-size-20 {
	font-size: 20px;
}
.ee-status-size-22 {
	font-size: 22px;
}
.ee-status-size-24 {
	font-size: 24px;
}
#espresso-ajax-loading {
	padding: 0px; left: 50%; top: 25%; font-size: 48px; margin-left: -15px; display: none; position: fixed; z-index: 1000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#espresso-ajax-long-loading {
	font-size: 36px;
}
.ee-spinner::before {
	content: "\f111";
}
.ee-spinner {
	line-height: 1; font-family: "dashicons", sans-serif; font-style: normal; font-weight: normal; vertical-align: middle; display: inline-block;
}
.ee-spin {
	animation:spin 2s linear infinite; -webkit-animation: spin 2s linear infinite; -moz-animation: spin 2s linear infinite; -o-animation: spin 2s linear infinite;
}
.espresso-ajax-notices {
	display: none;
}
#espresso-notices {
	left: 50%; width: 800px; text-align: center; margin-left: -320px; position: absolute; z-index: 999; min-width: 240px; max-width: 90%;
}
#espresso-ajax-notices {
	left: 50%; width: 800px; text-align: center; margin-left: -320px; position: absolute; z-index: 999; min-width: 240px; max-width: 90%;
}
.espresso-notices {
	background: rgb(255, 255, 255); margin: 0px auto 2em; padding: 0.75em 2.5%; border: 4px solid currentColor; border-image: none; width: 74.5%; height: auto; text-align: center; color: rgb(102, 102, 102); line-height: 1.6em; font-size: 1em; font-weight: bold; position: relative; z-index: 999; min-width: 200px; max-width: 640px; box-sizing: border-box; box-shadow: 4px 10px 15px -3px rgba(0,0,0,0.3), 0px 1px 3px -1px rgba(0,0,0,0.6), -3px -2px 10px rgba(0,0,0,0.1);
}
.espresso-ajax-notices {
	background: rgb(255, 255, 255); margin: 0px auto 2em; padding: 0.75em 2.5%; border: 4px solid currentColor; border-image: none; width: 74.5%; height: auto; text-align: center; color: rgb(102, 102, 102); line-height: 1.6em; font-size: 1em; font-weight: bold; position: relative; z-index: 999; min-width: 200px; max-width: 640px; box-sizing: border-box; box-shadow: 4px 10px 15px -3px rgba(0,0,0,0.3), 0px 1px 3px -1px rgba(0,0,0,0.6), -3px -2px 10px rgba(0,0,0,0.1);
}
.espresso-notices p {
	margin: 0px;
}
.espresso-ajax-notices p {
	margin: 0px;
}
#espresso-notices-success {
	border-color: rgb(112, 204, 80);
}
#espresso-ajax-notices-success {
	border-color: rgb(112, 204, 80);
}
#espresso-notices-error {
	border-color: rgb(228, 64, 100);
}
#espresso-ajax-notices-error {
	border-color: rgb(228, 64, 100);
}
#espresso-notices-attention {
	border-color: rgb(248, 215, 85);
}
#espresso-ajax-notices-attention {
	border-color: rgb(248, 215, 85);
}
.close-espresso-notice {
	background: none !important; padding: 0px; top: 1px; text-align: center; right: 3px; color: rgb(204, 204, 204); line-height: 21px; font-size: 21px; font-weight: bold; text-decoration: none !important; vertical-align: middle; position: absolute; cursor: pointer; box-shadow: none !important;
}
.close-espresso-notice:hover {
	color: rgb(102, 102, 102);
}
.close-espresso-notice .dashicons-no {
	margin: 0px !important;
}
.ee-admin-dialog-container {
	background: rgb(255, 255, 255); padding: 3em 4em 2em; border-radius: 5px; border: 1px solid rgb(221, 221, 221); border-image: none; left: 25%; top: 50px; width: 75%; height: auto; color: rgb(102, 102, 102); position: absolute; z-index: 9999991;
}
#espresso-admin-page-overlay-dv {
	background: rgba(0, 0, 0, 0.6) !important; left: 0px; top: 0px; position: absolute; z-index: 9999990;
}
.ui-datepicker {
	padding: 1em; border-radius: 3px; border: 1px solid rgb(232, 232, 232); border-image: none; box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.4), 3px 9px 9px -3px rgba(0,0,0,0.2), -3px -3px 20px -3px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.ui-datepicker-header .ui-datepicker-prev:hover {
	cursor: pointer;
}
.ui-datepicker-header .ui-datepicker-prev:hover {
	cursor: pointer;
}
.ui-datepicker-header .ui-datepicker-prev + .ui-datepicker-next {
	float: right;
}
.ui-datepicker-title {
	margin: 0.5em 0px;
}
.ui-datepicker table {
	margin: 0px;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.clear {
	clear: both;
}
.clear-float {
	clear: both;
}
.ee-clear-float {
	clear: both;
}
.hidden {
	display: none;
}
.hide-if-no-js {
	display: none;
}
.jst-left {
	text-align: left;
}
.cntr {
	text-align: center;
}
.jst-cntr {
	text-align: center;
}
.jst-rght {
	text-align: right;
}
.ee-block {
	display: block;
}
.tiny-text {
	line-height: 1.1em; letter-spacing: 0.75px; font-size: 0.5em;
}
.smaller-text {
	line-height: 1.2em; letter-spacing: 0.5px; font-size: 0.8em;
}
.small-text {
	line-height: 1.4em; letter-spacing: 0.25px; font-size: 0.85em;
}
.big-text {
	line-height: 1.6em; letter-spacing: -0.12px; font-size: 1.2em;
}
.bigger-text {
	line-height: 2em; letter-spacing: -0.25px; font-size: 1.5em;
}
.huge-text {
	line-height: 2.4em; letter-spacing: -0.5px; font-size: 2em;
}
.ee-infinity-sign {
	line-height: 1em; letter-spacing: -0.25px; font-size: 1.5em;
}
.indented-text {
	text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.purple-text {
	color: rgb(138, 84, 154);
}
.pink-text {
	color: rgb(228, 64, 100);
}
.green-text {
	color: rgb(112, 204, 80);
}
.red-text {
	color: rgb(180, 17, 63);
}
.orange-text {
	color: rgb(231, 103, 0);
}
.lt-blue-text {
	color: rgb(0, 177, 202);
}
.blue-text {
	color: rgb(0, 91, 158);
}
.yellow-text {
	color: rgb(248, 215, 85);
}
.lt-grey-text {
	color: rgb(118, 118, 118);
}
.grey-text {
	color: rgb(136, 136, 136);
}
.drk-grey-text {
	color: rgb(89, 89, 91);
}
.black-text {
	color: rgb(47, 51, 52);
}
.important-notice {
	color: rgb(213, 78, 33); font-weight: bold;
}
.ee-attention {
	background: rgb(255, 255, 255); margin: 0px auto 1em; padding: 0.75em 2.5%; border: 4px solid rgb(248, 215, 85); border-image: none; width: 100%; text-align: center; color: rgb(102, 102, 102); line-height: 1.6em; font-size: 1em; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.highlight-bg {
	background: rgb(254, 251, 220); padding: 1em 1.5em;
}
.extra-padding {
	padding: 1em;
}
.extra-padding-sides {
	padding: 0px 1em;
}
.width-100 {
	width: 100%;
}
.tiny-link {
	text-align: right; font-size: 0.6em; display: block; cursor: pointer;
}
.underline-hdr {
	margin: 2em 0px 1em; padding: 0px 0px 0.05em; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 2px; border-bottom-style: solid;
}
.overline-hdr {
	margin: 2em 0px 1em; padding: 0.5em 0px 0px; border-top-color: rgb(238, 238, 238); border-top-width: 2px; border-top-style: solid;
}
.no-bold {
	font-weight: normal;
}
.currency-code {
	color: rgb(118, 118, 118); font-size: 0.7em; vertical-align: text-top;
}
.click-this {
	cursor: pointer;
}
.submit-this-form {
	cursor: pointer;
}
.display-the-hidden {
	cursor: pointer;
}
.hide-the-displayed {
	cursor: pointer;
}
.ee-form-cancel-new-state-lnk {
	cursor: pointer;
}
.espresso-txn-status-icon {
	margin-right: 0.5em; vertical-align: text-bottom;
}
.espresso-txn-status-icon {
	border: currentColor; border-image: none; box-shadow: none !important;
}
#espresso-ajax-loading img {
	border: currentColor; border-image: none; box-shadow: none !important;
}
.ee-gmap {
	max-width: 100%;
}
.ee-gmap-wrapper .gmnoprint img {
	max-width: none;
}
.ee-form-add-new-state-dv {
	background: rgb(248, 248, 248); padding: 1.5em 1.5em 0.5em; color: rgb(68, 68, 68);
}
.ee-form-add-new-state-dv li {
	margin: 0px 0px 0.5em; line-height: 1.2em;
}
.ee-really-important-notice-dv {
	background: rgba(213, 78, 33, 0.95); padding: 0.5em; left: 0px; width: 100%; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 1; font-size: 12px; font-weight: bold; position: fixed; z-index: 9999; box-sizing: border-box; text-shadow: 0px -1px 0px rgba(0,0,0,0.4); -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.ee-really-important-notice-dv p {
	margin: 0px;
}
.ee-really-important-notice-dv a {
	color: rgb(254, 223, 108); text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.ee-really-important-notice-dv a:hover {
	color: rgb(248, 215, 85); text-shadow: 0px 0.5px 0px rgba(0,0,0,0.2);
}
.ee-really-important-notice-dv a:active {
	color: rgb(248, 215, 85); text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
#espresso-registration-footer-dv {
	padding: 0.5em 1em; text-align: center; line-height: 1; letter-spacing: 1px; font-size: 10px;
}
#espresso-registration-footer-dv a {
	text-decoration: none; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dotted;
}
.ee-clearfix::before {
	display: table; content: " ";
}
.ee-clearfix::after {
	display: table; content: " ";
}
.ee-clearfix::after {
	clear: both;
}
article .espresso_events {
	margin-top: 0px !important;
}
article .espresso_venues {
	margin-top: 0px !important;
}
.espresso_events {
	margin-bottom: 48px;
}
.espresso_venues {
	margin-bottom: 48px;
}
.ee-clearfix .ee-event-datetimes-li {
	width: 50%; float: left;
}
.ee-ical-lnk {
	margin: 0px 1em; border: currentColor !important; border-image: none !important; line-height: 1.25em; font-size: 1.25em !important; text-decoration: none;
}
.ee-ical-lnk:active {
	margin: 0px 1em; border: currentColor !important; border-image: none !important; line-height: 1.25em; font-size: 1.25em !important; text-decoration: none;
}
.ee-ical-lnk:visited {
	margin: 0px 1em; border: currentColor !important; border-image: none !important; line-height: 1.25em; font-size: 1.25em !important; text-decoration: none;
}
.ee-ical-btn {
	margin: 0.1em 1em 0px; padding: 0.1em 0.25em 0.03em !important; line-height: 1.2em; font-size: 1em !important; text-decoration: none;
}
.ee-ical-btn:active {
	margin: 0.1em 1em 0px; padding: 0.1em 0.25em 0.03em !important; line-height: 1.2em; font-size: 1em !important; text-decoration: none;
}
.ee-ical-btn:visited {
	margin: 0.1em 1em 0px; padding: 0.1em 0.25em 0.03em !important; line-height: 1.2em; font-size: 1em !important; text-decoration: none;
}
.ee-ical-btn span {
	margin: 0px !important;
}
.ee-ical-btn {
	
}
.download-iCal-frm {
	margin: 0px 1em; display: inline-block;
}
.ee-ical-sbmt {
	padding: 0.25em 0.4em !important; text-align: center; text-transform: none !important; line-height: 1; font-family: "dashicons", sans-serif !important; font-size: 0.9em; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: inherit; vertical-align: middle; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
a[href*='message_type=receipt'] {
	margin-top: 1em;
}
a[href*='message_type=receipt']:active {
	margin-top: 1em;
}
a[href*='message_type=receipt']:visited {
	margin-top: 1em;
}
@media only screen and (max-width:640px)
{
.ee-clearfix .ee-event-datetimes-li {
	width: auto; float: none;
}
}
.ee-responsive-table {
	margin: 1em 0px 2em; width: 100%; border-collapse: collapse;
}
.ee-responsive-table tr:nth-of-type(2n) {
	background: rgb(249, 249, 249);
}
.ee-responsive-table th {
	background: rgb(221, 221, 221); text-align: center; color: rgb(68, 68, 68); font-weight: bold;
}
.ee-responsive-table th {
	padding: 6px; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.ee-responsive-table td {
	padding: 6px; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.ee-responsive-table td {
	text-align: left; color: rgb(119, 119, 119);
}
@media only screen and (max-width:760px), all and (max-device-width:1024px) and (min-device-width:768px)
{
.ee-responsive-table {
	display: block;
}
.ee-responsive-table thead {
	display: block;
}
.ee-responsive-table tbody {
	display: block;
}
.ee-responsive-table th {
	display: block;
}
.ee-responsive-table td {
	display: block;
}
.ee-responsive-table tr {
	display: block;
}
.ee-responsive-table thead tr {
	left: -9999px; top: -9999px; position: absolute;
}
.ee-responsive-table tr {
	border: 1px solid rgb(204, 204, 204); border-image: none;
}
.ee-responsive-table td {
	border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(238, 238, 238); border-image: none; padding-left: 50%; position: relative;
}
.ee-responsive-table td::before {
	left: 6px; top: 6px; width: 45%; padding-right: 10px; white-space: nowrap; position: absolute;
}
.ee-responsive-table td::before {
	content: attr(data-th) ": ";
}
}
.ee_media_url {
	width: 90% !important; float: left;
}
.ee_media_upload img {
	margin: 8px 3px 0px; vertical-align: middle;
}
.ee_media_image {
	max-height: 240px; max-width: 240px;
}
@media screen and (max-width:782px)
{
.ee_media_upload img {
	margin: 14px 3px 0px; vertical-align: middle;
}
}
.powered-by-event-espresso-credit {
	text-align: right; color: rgb(116, 123, 125); font-size: 10px;
}
.powered-by-event-espresso-credit a {
	color: rgb(71, 146, 187); text-decoration: none; border-bottom-color: rgb(161, 177, 190); border-bottom-width: 1px; border-bottom-style: dotted;
}
.powered-by-event-espresso-credit a:hover {
	color: rgb(127, 169, 0);
}
