.wpufTable {
	width: 100%; display: table;
}
.wpufTableRow {
	display: table-row;
}
:nth-child(2n).wpufTableRow {
	background-color: rgb(245, 245, 245);
}
.wpufTableHeading {
	font-weight: bold; display: table-header-group; background-color: rgb(238, 238, 238);
}
.wpufTableCell {
	padding: 3px 10px; border: currentColor; border-image: none; display: table-cell;
}
.wpufTableHead {
	padding: 3px 10px; border: currentColor; border-image: none; display: table-cell;
}
.wpufTableFoot {
	font-weight: bold; display: table-footer-group; background-color: rgb(238, 238, 238);
}
.wpufTableBody {
	display: table-row-group;
}
.wpuf-loading {
	background: url("../images/wpspin_light.gif") no-repeat; width: 16px; height: 16px; display: inline-block;
}
.wpuf-loading.hide {
	display: none;
}
.wpuf-button {
	background: rgb(247, 247, 247); border-color: rgb(204, 204, 204); color: rgb(85, 85, 85); vertical-align: top; box-shadow: 0px 1px 0px #cccccc; -webkit-box-shadow: 0 1px 0 #cccccc;
}
.wpuf-button:hover {
	background: rgb(250, 250, 250); border-color: rgb(153, 153, 153); color: rgb(35, 40, 45);
}
.wpuf-button:focus {
	background: rgb(250, 250, 250); border-color: rgb(153, 153, 153); color: rgb(35, 40, 45);
}
.wpuf-success {
	margin: 10px 0px 20px; padding: 10px; border: 1px solid rgb(214, 233, 198); border-image: none; color: rgb(60, 118, 61); background-color: rgb(223, 240, 216);
}
.wpuf-error {
	margin: 10px 0px 20px; padding: 10px; border-radius: 3px; border: 1px solid rgb(235, 204, 209); border-image: none; color: rgb(169, 68, 66); font-size: 13px; background-color: rgb(242, 222, 222); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.wpuf-message {
	background: rgb(252, 248, 227); margin: 10px 0px 20px; padding: 10px; border-radius: 3px; border: 1px solid rgb(250, 235, 204); border-image: none; color: rgb(138, 109, 59); font-size: 13px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.wpuf-info {
	margin: 0px 0px 10px; padding: 5px 10px; border-radius: 5px; border: 2px solid rgb(253, 212, 37); border-image: none; font-size: 13px; background-color: rgb(254, 245, 190); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=text] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=text] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=password] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=password] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=email] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=email] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=url] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=url] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=number] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=number] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=tel] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=tel] {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields textarea {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields textarea {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); border-image: none; width: 95%; color: rgb(136, 136, 136); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=text]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=text]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=password]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=password]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=email]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=email]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=url]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=url]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=number]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=number]:focus {
	color: rgb(55, 55, 55);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields textarea:focus {
	color: rgb(55, 55, 55);
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields textarea:focus {
	color: rgb(55, 55, 55);
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields textarea {
	width: 95%; padding-left: 3px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields textarea {
	width: 95%; padding-left: 3px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=text] {
	padding: 5px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=text] {
	padding: 5px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=password] {
	padding: 5px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=password] {
	padding: 5px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=email] {
	padding: 5px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=email] {
	padding: 5px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=url] {
	padding: 5px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=url] {
	padding: 5px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields input[type=number] {
	padding: 5px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields input[type=number] {
	padding: 5px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields select {
	padding: 2px; border-radius: 3px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 2em; min-width: 150px; max-width: 100%; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields select {
	padding: 2px; border-radius: 3px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 2em; min-width: 150px; max-width: 100%; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-fields select[multiple] {
	height: auto;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-fields select[multiple] {
	height: auto;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-submit input[type=submit] {
	background: rgb(0, 133, 186); border-width: 1px; border-style: solid; border-color: rgb(0, 115, 170) rgb(0, 103, 153) rgb(0, 103, 153); padding: 5px 15px; border-radius: 3px; border-image: none; height: inherit; color: rgb(255, 255, 255); line-height: inherit; font-size: 16px; text-decoration: none; box-shadow: 0px 1px 0px #006799; text-shadow: 0px -1px 1px #006799, 1px 0px 1px #006799, 0px 1px 1px #006799, -1px 0px 1px #006799; -webkit-box-shadow: 0 1px 0 #006799; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-submit input[type=submit] {
	background: rgb(0, 133, 186); border-width: 1px; border-style: solid; border-color: rgb(0, 115, 170) rgb(0, 103, 153) rgb(0, 103, 153); padding: 5px 15px; border-radius: 3px; border-image: none; height: inherit; color: rgb(255, 255, 255); line-height: inherit; font-size: 16px; text-decoration: none; box-shadow: 0px 1px 0px #006799; text-shadow: 0px -1px 1px #006799, 1px 0px 1px #006799, 0px 1px 1px #006799, -1px 0px 1px #006799; -webkit-box-shadow: 0 1px 0 #006799; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.wpuf-style#form-preview-stage ul.wpuf-form .wpuf-submit input[type=submit]:disabled {
	background: rgb(221, 221, 221); border-color: rgb(221, 221, 221); color: rgb(0, 0, 0); box-shadow: 0px 1px 0px #dddddd; text-shadow: 0px -1px 1px #dddddd, 1px 0px 1px #dddddd, 0px 1px 1px #dddddd, -1px 0px 1px #dddddd; -webkit-box-shadow: 0 1px 0 #dddddd;
}
.wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-submit input[type=submit]:disabled {
	background: rgb(221, 221, 221); border-color: rgb(221, 221, 221); color: rgb(0, 0, 0); box-shadow: 0px 1px 0px #dddddd; text-shadow: 0px -1px 1px #dddddd, 1px 0px 1px #dddddd, 0px 1px 1px #dddddd, -1px 0px 1px #dddddd; -webkit-box-shadow: 0 1px 0 #dddddd;
}
ul.wpuf-form {
	list-style: none !important; margin: 0px !important; padding: 0px !important; width: 100%;
}
ul.wpuf-form li {
	padding: 10px; margin-bottom: 10px; margin-left: 0px;
}
ul.wpuf-form li::after {
	clear: both; display: table; content: "";
}
ul.wpuf-form li.has-error {
	background: rgb(255, 228, 228);
}
ul.wpuf-form li .wp-editor-wrap {
	border: 1px solid rgb(238, 238, 238); border-image: none;
}
ul.wpuf-form li.wpuf_hidden_field {
	display: none;
}
ul.wpuf-form li .wpuf-label {
	width: 30%; font-weight: bold; float: left; min-height: 1px;
}
ul.wpuf-form li .wpuf-label .required {
	color: red;
}
ul.wpuf-form li.field-size-large .wpuf-fields {
	width: 70%; float: left;
}
ul.wpuf-form li.field-size-medium .wpuf-fields {
	width: 50%; float: left;
}
ul.wpuf-form li.field-size-small .wpuf-fields {
	width: 30%; float: left;
}
ul.wpuf-form li .wpuf-fields {
	width: 70%; float: left;
}
ul.wpuf-form li .wpuf-fields .wpuf-radio-inline {
	margin-right: 10px; display: inline-block;
}
ul.wpuf-form li .wpuf-fields .wpuf-checkbox-inline {
	margin-right: 10px; display: inline-block;
}
ul.wpuf-form li .wpuf-fields .wpuf-radio-block {
	margin-bottom: 6px; display: block;
}
ul.wpuf-form li .wpuf-fields .wpuf-checkbox-block {
	margin-bottom: 6px; display: block;
}
ul.wpuf-form li .wpuf-fields a.file-selector {
	background: rgb(250, 250, 250); margin: 0px; padding: 5px 12px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 30px; color: rgb(35, 40, 45); line-height: 28px; text-decoration: none; vertical-align: top; display: inline; white-space: nowrap; cursor: pointer; box-shadow: 0px 1px 0px #cccccc; -webkit-appearance: none; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
ul.wpuf-form li .wpuf-fields a.file-selector:hover {
	background: rgb(250, 250, 250); border-color: rgb(153, 153, 153); color: rgb(35, 40, 45);
}
ul.wpuf-form li .wpuf-fields a.file-selector:focus {
	background: rgb(250, 250, 250); border-color: rgb(153, 153, 153); color: rgb(35, 40, 45);
}
ul.wpuf-form li .wpuf-fields .google-map img {
	max-width: none !important;
}
ul.wpuf-form li .wpuf-fields .wpuf-product-qty {
	width: 10%; float: left;
}
ul.wpuf-form li .wpuf-fields .wpuf-name-field-wrap {
	margin-bottom: 8px;
}
ul.wpuf-form li .wpuf-fields .wpuf-name-field-wrap::after {
	clear: both; display: table; content: "";
}
ul.wpuf-form li .wpuf-fields .wpuf-name-field-wrap.format-first-last .wpuf-name-field-first-name {
	width: 48%; float: left;
}
ul.wpuf-form li .wpuf-fields .wpuf-name-field-wrap.format-first-last .wpuf-name-field-middle-name {
	display: none;
}
ul.wpuf-form li .wpuf-fields .wpuf-name-field-wrap.format-first-last .wpuf-name-field-last-name {
	width: 48%; float: right;
}
ul.wpuf-form li .wpuf-fields .wpuf-name-field-wrap.format-first-middle-last .wpuf-name-field-first-name {
	width: 37%; margin-right: 3%; float: left;
}
ul.wpuf-form li .wpuf-fields .wpuf-name-field-wrap.format-first-middle-last .wpuf-name-field-middle-name {
	width: 20%; float: left;
}
ul.wpuf-form li .wpuf-fields .wpuf-name-field-wrap.format-first-middle-last .wpuf-name-field-last-name {
	width: 37%; float: right;
}
ul.wpuf-form li .wpuf-fields .wpuf-help {
	margin: 2px 0px 5px; color: rgb(102, 102, 102); font-family: sans-serif; font-size: 12px; font-style: italic; display: block;
}
ul.wpuf-form li .wpuf-fields .wpuf-help .text-danger {
	color: red;
}
ul.wpuf-form li .wpuf-fields .wpuf-help .text-success {
	color: green;
}
ul.wpuf-form li .wpuf-fields .wpuf-help #url-alart {
	font-size: 16px; font-style: normal;
}
ul.wpuf-form li .wpuf-fields .wpuf-help #url-alart-mgs {
	font-size: 16px; font-style: normal;
}
ul.wpuf-form li .wpuf-fields table {
	margin: 0px; border: currentColor; border-image: none;
}
ul.wpuf-form li .wpuf-fields td {
	margin: 0px; border: currentColor; border-image: none;
}
ul.wpuf-form li .wpuf-fields table {
	width: 100%;
}
ul.wpuf-form li .wpuf-fields img.wpuf-clone-field {
	margin: 0px 3px; border: currentColor; border-image: none; cursor: pointer; box-shadow: none;
}
ul.wpuf-form li .wpuf-fields img.wpuf-remove-field {
	margin: 0px 3px; border: currentColor; border-image: none; cursor: pointer; box-shadow: none;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list {
	list-style: none; margin: 5px 0px 0px; padding: 0px;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li {
	padding: 5px; border-radius: 5px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 150px; height: 150px; margin-right: 5px; display: inline-block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li .wpuf-file-input-wrap {
	margin: 10px 0px;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li .wpuf-file-input-wrap input {
	border: 1px solid rgb(238, 238, 238); border-image: none; width: 93%;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li .wpuf-file-input-wrap textarea {
	border: 1px solid rgb(238, 238, 238); border-image: none; width: 93%;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li .attachment-name {
	text-align: center; line-height: 0;
}
ul.wpuf-form li .wpuf-fields .progress {
	margin: 0px; padding: 0px; border-radius: 3px; border: 1px solid rgb(209, 209, 209); border-image: none; width: 200px; height: 22px; line-height: 2em; overflow: hidden; float: right; box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1);
}
ul.wpuf-form li .wpuf-fields .bar {
	border-radius: 3px; width: 0px; height: 100%; z-index: 9; box-shadow: 0px 0px 3px rgba(0,0,0,0.3); background-color: rgb(131, 180, 216);
}
ul.wpuf-form li .wpuf-fields .progress .percent {
	padding: 0px 8px; width: 200px; color: rgba(0, 0, 0, 0.6); position: relative; z-index: 10; text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}
ul.wpuf-form li .wpuf-fields ul.wpuf-category-checklist {
	list-style: none; margin: 0px; padding: 0px;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-category-checklist li {
	padding: 0px; margin-bottom: 5px;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-category-checklist ul.children {
	list-style: none; margin-left: 25px;
}
ul.wpuf-form li .wpuf-fields #wpuf-insert-image-container {
	margin-bottom: 3px;
}
ul.wpuf-form li .wpuf-fields #wpuf-insert-image-container::after {
	clear: both; display: table; content: "";
}
ul.wpuf-form li .wpuf-fields #wpuf-insert-image-container a.wpuf-insert-image {
	padding: 4px 6px; border-radius: 3px; border: 1px solid rgb(223, 223, 223); border-image: none; font-size: 11px; text-decoration: none; margin-right: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
ul.wpuf-form li .wpuf-fields #wpuf-insert-image-container a.wpuf-insert-image .wpuf-media-icon {
	width: 12px; height: 12px;
}
ul.wpuf-form li .wpuf-fields .wpuf-fields-list {
	list-style: none; margin: 0px; padding: 0px; box-sizing: border-box;
}
ul.wpuf-form li .wpuf-fields .wpuf-fields-list li {
	margin: 0px 0px 6px; padding: 0px;
}
ul.wpuf-form li .wpuf-fields .wpuf-fields-list.wpuf-list-inline {
	margin-left: -5px;
}
ul.wpuf-form li .wpuf-fields .wpuf-fields-list.wpuf-list-inline li {
	padding-right: 5px; padding-left: 5px; display: inline-block;
}
ul.wpuf-form li .wpuf-fields table.wpuf-repeatable-field {
	border-collapse: collapse;
}
ul.wpuf-form li .wpuf-fields table.wpuf-repeatable-field * {
	box-sizing: border-box;
}
ul.wpuf-form li .wpuf-fields table.wpuf-repeatable-field input {
	width: 100%;
}
ul.wpuf-form li .wpuf-fields table.wpuf-repeatable-field .wpuf-repeater-buttons {
	width: 75px; padding-left: 12px;
}
ul.wpuf-form li .wpuf-fields table.wpuf-repeatable-field .wpuf-repeater-buttons img {
	width: 100%; height: auto;
}
ul.wpuf-form li .wpuf-fields table.wpuf-repeatable-field .wpuf-repeater-buttons i {
	margin: 2px 4px 0px 0px; width: 15px; height: 15px; display: inline-block;
}
ul.wpuf-form li label.wpuf-form-sub-label {
	padding-top: 5px; font-size: 12px; display: inline-block;
}
ul.wpuf-form li .wpuf-address-field {
	width: 100%; margin-bottom: 10px;
}
ul.wpuf-form li .wpuf-address-field::after {
	clear: both; display: table; content: "";
}
ul.wpuf-form li .wpuf-address-field.city_name {
	width: 47%; float: left;
}
ul.wpuf-form li .wpuf-address-field.state {
	width: 47%; float: left;
}
ul.wpuf-form li .wpuf-address-field.zip {
	width: 47%; float: left;
}
ul.wpuf-form li .wpuf-address-field.country_select {
	width: 47%; float: left;
}
ul.wpuf-form li .wpuf-address-field.city_name {
	margin-right: 4%;
}
ul.wpuf-form li .wpuf-address-field.zip {
	margin-right: 4%;
}
ul.wpuf-form li .wpuf-address-field.zip {
	clear: both;
}
ul.wpuf-form li .wpuf-section-wrap {
	margin: 15px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
ul.wpuf-form li .wpuf-section-wrap h2.wpuf-section-title {
	margin: 0px;
}
ul.wpuf-form li .wpuf-section-wrap .wpuf-section-details {
	padding: 4px 0px 8px; font-size: 12px;
}
ul.wpuf-form.form-label-above li .wpuf-label {
	width: 100%; float: none; display: block;
}
ul.wpuf-form.form-label-above li .wpuf-fields {
	width: 100%; float: none; display: block;
}
ul.wpuf-form.form-label-above li.field-size-large .wpuf-fields {
	width: 100%; float: none; display: block;
}
ul.wpuf-form.form-label-above li.field-size-medium .wpuf-fields {
	width: 65%; float: none; display: block;
}
ul.wpuf-form.form-label-above li.field-size-small .wpuf-fields {
	width: 30%; float: none; display: block;
}
ul.wpuf-form.form-label-above li .wpuf-label {
	margin-bottom: 10px;
}
ul.wpuf-form.form-label-right li .wpuf-label {
	float: right;
}
ul.wpuf-form.form-label-hidden li .wpuf-label {
	display: none;
}
ul.wpuf-form.form-label-hidden li.field-size-large .wpuf-fields {
	width: 100%; float: none; display: block;
}
ul.wpuf-form.form-label-hidden li.field-size-medium .wpuf-fields {
	width: 65%; float: none; display: block;
}
ul.wpuf-form.form-label-hidden li.field-size-small .wpuf-fields {
	width: 30%; float: none; display: block;
}
ul.wpuf-form.form-label-hidden li .wpuf-fields {
	width: 100%; float: none; display: block;
}
ul.wpuf-form .wpuf-submit .button-primary-disabled {
	background: rgb(41, 140, 186) !important; border-color: rgb(27, 96, 127) !important; color: rgb(148, 205, 231) !important; cursor: default; box-shadow: none !important; text-shadow: 0px -1px 0px rgba(0,0,0,0.1) !important; -webkit-box-shadow: none;
}
ul.wpuf-form .wpuf-submit .wpuf-errors {
	background: rgb(255, 228, 228); margin: 10px 0px; padding: 10px; border-radius: 3px; border: 1px solid rgb(255, 177, 177); border-image: none; font-size: 13px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
ul:not(.form-label-left).wpuf-form .wpuf-submit .wpuf-label {
	display: none !important;
}
#wpuf-login-form label {
	display: block;
}
#wpuf-login-form .forgetmenot label {
	display: inline-block;
}
.wpuf_sub_info {
	margin: 10px 5px; padding: 0px; border-radius: 3px; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.wpuf_sub_info h3 {
	margin: 0px 0px 5px !important; padding: 10px; font-weight: 300 !important; background-color: rgb(241, 241, 241);
}
.wpuf_sub_info .wpuf-text {
	padding: 5px 10px;
}
.wpuf_sub_info .wpuf-expire {
	padding-top: 5px; margin-top: 5px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.wpuf-coupon-info-wrap {
	padding: 15px; border: 1px solid rgb(238, 238, 238); border-image: none; margin-bottom: 20px;
}
.wpuf-coupon-info-wrap .wpuf-coupon-field-spinner {
	background: url("../images/wpspin_light.gif") no-repeat right rgba(0, 0, 0, 0);
}
.wpuf-coupon-info-wrap .wpuf-copon-show {
	background: rgb(238, 238, 238); border-width: 1px; padding: 5px 12px; border-radius: 3px; width: 175px; color: rgb(92, 90, 90); font-size: 14px; text-decoration: none; margin-bottom: 8px; display: inline-block; cursor: pointer; box-shadow: inset 0px 1px 0px rgba(217,217,217,0.5), 0px 1px 0px rgba(0,0,0,0.15);
}
.wpuf-coupon-info-wrap .wpuf-copon-wrap {
	margin: 15px 0px;
}
.wpuf-coupon-info-wrap .wpuf-pack-info {
	margin-bottom: 20px;
}
.wpuf-coupon-info-wrap .wpuf-pack-info h3 {
	margin: 0px 0px 10px; padding: 0px 0px 10px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.wpuf-coupon-info-wrap .wpuf-pack-info h3 a {
	background: rgb(100, 195, 222); padding: 3px 8px; color: rgb(255, 255, 255); font-size: 14px; text-decoration: none;
}
.wpuf-coupon-info-wrap .wpuf-pack-info wpuf-subscription-error {
	color: rgb(216, 0, 12);
}
.wpuf-coupon-info-wrap .wpuf-copon-show:hover {
	background: 0px 0px rgb(30, 140, 190); border-color: rgb(0, 116, 162); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6);
}
.wpuf-coupon-info-wrap a.wpuf-apply-coupon {
	background: rgb(33, 117, 155); padding: 5px 10px; border-radius: 3px; color: rgb(255, 255, 255); font-size: 11px; text-decoration: none; margin-top: 10px; margin-right: 10px; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.wpuf-coupon-info-wrap .wpuf-copon-cancel {
	font-size: 11px; text-decoration: none;
}
.entry-content ul.wpuf_packs {
	margin: 15px; overflow: hidden;
}
ul.wpuf_packs {
	margin: 15px; overflow: hidden;
}
.entry-content ul.wpuf_packs > li {
	background: rgb(255, 255, 255); list-style: none; margin: 5px 25px 25px 0px; border-radius: 5px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 200px; vertical-align: top; display: inline-block; position: relative; box-shadow: 0px 2px 6px rgba(100,100,100,0.3);
}
ul.wpuf_packs > li {
	background: rgb(255, 255, 255); list-style: none; margin: 5px 25px 25px 0px; border-radius: 5px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 200px; vertical-align: top; display: inline-block; position: relative; box-shadow: 0px 2px 6px rgba(100,100,100,0.3);
}
.entry-content ul.wpuf_packs > li:first-child {
	margin-left: 5px;
}
ul.wpuf_packs > li:first-child {
	margin-left: 5px;
}
.entry-content ul.wpuf_packs h3 {
	background: rgb(82, 181, 213); margin: 0px; padding: 10px !important; text-align: center; color: rgb(255, 255, 255); font-size: 18px; font-weight: normal; border-bottom-color: rgb(61, 172, 208); border-bottom-width: 1px; border-bottom-style: solid;
}
ul.wpuf_packs h3 {
	background: rgb(82, 181, 213); margin: 0px; padding: 10px !important; text-align: center; color: rgb(255, 255, 255); font-size: 18px; font-weight: normal; border-bottom-color: rgb(61, 172, 208); border-bottom-width: 1px; border-bottom-style: solid;
}
.entry-content ul.wpuf_packs .wpuf-pricing-wrap {
	background: rgb(100, 195, 222);
}
ul.wpuf_packs .wpuf-pricing-wrap {
	background: rgb(100, 195, 222);
}
.entry-content ul.wpuf_packs .wpuf-pricing-wrap .wpuf-sub-amount {
	padding: 10px 0px; text-align: center; color: rgb(255, 255, 255); border-bottom-color: rgb(79, 187, 218); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
ul.wpuf_packs .wpuf-pricing-wrap .wpuf-sub-amount {
	padding: 10px 0px; text-align: center; color: rgb(255, 255, 255); border-bottom-color: rgb(79, 187, 218); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.entry-content ul.wpuf_packs .wpuf-pricing-wrap .wpuf-sub-amount .wpuf-sub-symbol {
	top: 25px; line-height: 10px; font-size: 19px; position: absolute;
}
ul.wpuf_packs .wpuf-pricing-wrap .wpuf-sub-amount .wpuf-sub-symbol {
	top: 25px; line-height: 10px; font-size: 19px; position: absolute;
}
.entry-content ul.wpuf_packs .wpuf-pricing-wrap .wpuf-sub-amount .wpuf-sub-cost {
	line-height: 50px; font-size: 40px; margin-left: 10px;
}
ul.wpuf_packs .wpuf-pricing-wrap .wpuf-sub-amount .wpuf-sub-cost {
	line-height: 50px; font-size: 40px; margin-left: 10px;
}
.entry-content ul.wpuf_packs .wpuf-pricing-wrap .wpuf-sub-amount .wpuf-pack-cycle {
	padding-bottom: 5px; font-size: 13px;
}
ul.wpuf_packs .wpuf-pricing-wrap .wpuf-sub-amount .wpuf-pack-cycle {
	padding-bottom: 5px; font-size: 13px;
}
.entry-content ul.wpuf_packs .wpuf-sub-body {
	background: rgb(255, 255, 255); margin: 0px; padding: 8px 0px 0px 8px; color: rgb(153, 153, 153); font-size: 11px;
}
ul.wpuf_packs .wpuf-sub-body {
	background: rgb(255, 255, 255); margin: 0px; padding: 8px 0px 0px 8px; color: rgb(153, 153, 153); font-size: 11px;
}
.entry-content ul.wpuf_packs .wpuf-sub-button {
	text-align: center; overflow: hidden; margin-top: 20px; margin-bottom: 20px;
}
ul.wpuf_packs .wpuf-sub-button {
	text-align: center; overflow: hidden; margin-top: 20px; margin-bottom: 20px;
}
.entry-content ul.wpuf_packs .wpuf-sub-button a {
	background: rgb(100, 195, 222); padding: 5px 10px; border-radius: 3px; color: rgb(255, 255, 255); text-decoration: none; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
ul.wpuf_packs .wpuf-sub-button a {
	background: rgb(100, 195, 222); padding: 5px 10px; border-radius: 3px; color: rgb(255, 255, 255); text-decoration: none; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.entry-content ul.wpuf_packs .wpuf-sub-button a:hover {
	background: rgb(58, 179, 213);
}
ul.wpuf_packs .wpuf-sub-button a:hover {
	background: rgb(58, 179, 213);
}
.entry-content ul.wpuf_packs .wpuf-sub-button a:hover {
	background: 0px 0px rgb(30, 140, 190); border-color: rgb(0, 116, 162); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6);
}
ul.wpuf_packs .wpuf-sub-button a:hover {
	background: 0px 0px rgb(30, 140, 190); border-color: rgb(0, 116, 162); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px rgba(120,200,230,0.6);
}
.entry-content ul.wpuf_packs .wpuf-sub-desciption {
	margin-top: 15px;
}
ul.wpuf_packs .wpuf-sub-desciption {
	margin-top: 15px;
}
.entry-content ul.wpuf_packs .wpuf-sub-desciption ul {
	list-style: none; margin: 0px; padding: 0px;
}
ul.wpuf_packs .wpuf-sub-desciption ul {
	list-style: none; margin: 0px; padding: 0px;
}
.entry-content ul.wpuf_packs .wpuf-sub-desciption li {
	list-style: none; margin: 0px; padding: 0px;
}
ul.wpuf_packs .wpuf-sub-desciption li {
	list-style: none; margin: 0px; padding: 0px;
}
.entry-content ul.wpuf_packs .wpuf-sub-desciption li {
	padding: 7px 0px; text-align: center; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
ul.wpuf_packs .wpuf-sub-desciption li {
	padding: 7px 0px; text-align: center; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.entry-content ul.wpuf_packs .wpuf-sub-desciption li:last-child {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
ul.wpuf_packs .wpuf-sub-desciption li:last-child {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.entry-content ul.wpuf_packs .wpuf-sub-desciption li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
ul.wpuf_packs .wpuf-sub-desciption li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.entry-content ul.wpuf_packs .wpuf-sub-desciption p {
	padding: 0px 10px; margin-bottom: 15px;
}
ul.wpuf_packs .wpuf-sub-desciption p {
	padding: 0px 10px; margin-bottom: 15px;
}
.entry-content ul.wpuf_packs .button {
	background: 0px 0px rgb(46, 162, 204); border-color: rgb(0, 116, 162); padding: 0px 12px 2px; color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px rgba(120,200,230,0.5), 0px 1px 0px rgba(0,0,0,0.15);
}
ul.wpuf_packs .button {
	background: 0px 0px rgb(46, 162, 204); border-color: rgb(0, 116, 162); padding: 0px 12px 2px; color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px rgba(120,200,230,0.5), 0px 1px 0px rgba(0,0,0,0.15);
}
.entry-content ul.wpuf_packs .cost {
	background: red; margin: -16px -12px 0px 0px; padding: 10px 8px 8px; border-radius: 30px; top: 0px; right: 0px; color: rgb(255, 255, 255); position: absolute;
}
ul.wpuf_packs .cost {
	background: red; margin: -16px -12px 0px 0px; padding: 10px 8px 8px; border-radius: 30px; top: 0px; right: 0px; color: rgb(255, 255, 255); position: absolute;
}
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}
.ui-timepicker-div dl {
	text-align: left;
}
.ui-timepicker-div dl dt {
	height: 25px; margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
	margin: 0px 10px 10px 65px;
}
.ui-timepicker-div td {
	font-size: 90%;
}
.ui-tpicker-grid-label {
	background: none; margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.ui-timepicker-rtl {
	direction: rtl;
}
.ui-timepicker-rtl dl {
	text-align: right;
}
.ui-timepicker-rtl dl dd {
	margin: 0px 65px 10px 10px;
}
.pass-strength-result {
	border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) !important; margin: 0px; padding: 3px 5px; width: 200px; text-align: center; float: left; display: none; background-color: rgb(238, 238, 238);
}
.pass-strength-result.bad {
	border-color: rgb(255, 133, 60) !important; background-color: rgb(255, 183, 140);
}
.pass-strength-result.good {
	border-color: rgb(255, 204, 0) !important; background-color: rgb(255, 236, 139);
}
.pass-strength-result.short {
	border-color: rgb(240, 64, 64) !important; background-color: rgb(255, 160, 160);
}
.pass-strength-result.strong {
	border-color: rgb(141, 255, 28) !important; background-color: rgb(195, 255, 136);
}
[type='text'].password {
	display: none;
}
table.wpuf-table {
	margin: 0px 0px 10px; border: 1px solid rgb(231, 231, 231); border-image: none; width: 100%; text-align: left;
}
table.wpuf-table thead th {
	padding: 9px 24px; color: rgb(136, 136, 136); line-height: 18px; font-size: 12px; font-weight: bold;
}
table.wpuf-table th {
	padding: 9px 24px; color: rgb(136, 136, 136); line-height: 18px; font-size: 12px; font-weight: bold;
}
table.wpuf-table td {
	padding: 6px 24px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;
}
#wpuf-payment-gateway ul.wpuf-payment-gateways {
	list-style: none; margin: 10px 0px;
}
#wpuf-payment-gateway ul.wpuf-payment-gateways li {
	margin: 0px;
}
#wpuf-payment-gateway ul.wpuf-payment-gateways li .wpuf-payment-instruction {
	margin: 0px 10px; padding: 8px 10px;
}
#wpuf-payment-gateway ul.wpuf-payment-gateways li .wpuf-instruction {
	background: rgb(235, 232, 235); padding: 8px 10px; border-radius: 2px; font-size: 13px; margin-bottom: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.wpuf-pagination div.pagination {
	margin: 3px; padding: 7px; text-align: center;
}
.wpuf-pagination .page-numbers {
	background: rgb(255, 255, 255); margin: 2px; padding: 2px 8px; border-radius: 5px; border: 1px solid rgb(74, 81, 84); border-image: none; color: rgb(74, 81, 84); text-decoration: none; -moz-border-radius: 5px;
}
.wpuf-pagination .page-numbers:hover {
	border-radius: 5px; border: 1px solid rgb(74, 81, 84); border-image: none; color: rgb(255, 255, 255); background-color: rgb(74, 81, 84); -moz-border-radius: 5px;
}
.wpuf-pagination .page-numbers:active {
	border-radius: 5px; border: 1px solid rgb(74, 81, 84); border-image: none; color: rgb(255, 255, 255); background-color: rgb(74, 81, 84); -moz-border-radius: 5px;
}
.wpuf-pagination .page-numbers.current {
	margin: 2px; padding: 2px 8px; border-radius: 5px; border: 1px solid rgb(74, 81, 84); border-image: none; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(74, 81, 84); -moz-border-radius: 5px;
}
.wpuf-author {
	margin: 20px 0px;
}
.wpuf-author::after {
	clear: both; display: table; content: "";
}
.wpuf-author h3 {
	background: rgb(207, 207, 207); margin: 0px !important; padding: 3px 10px; text-align: left;
}
.wpuf-author .wpuf-author-inside {
	background: 0px 0px rgb(240, 240, 240); height: auto; padding-top: 15px; padding-left: 10px; margin-bottom: 15px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;
}
.wpuf-author .wpuf-author-inside::after {
	clear: both; display: table; content: "";
}
.wpuf-author .wpuf-author-inside .wpuf-user-image {
	padding-right: 15px; float: left;
}
.wpuf-author .wpuf-author-inside p {
	margin-bottom: 10px !important;
}
.wpuf-author .wpuf-author-inside p.wpuf-author-info {
	padding-top: 8px; -ms-word-wrap: break-word;
}
.wpuf-author .wpuf-author-inside p.wpuf-user-name a {
	color: rgb(51, 81, 96); font-size: 1.2em; font-weight: bold;
}
.ac_results {
	list-style: none; margin: 0px; padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; display: none; position: absolute; z-index: 10000;
}
.ac_results li {
	padding: 2px 5px; text-align: left; white-space: nowrap;
}
.ac_over {
	cursor: pointer;
}
.ac_match {
	text-decoration: underline;
}
fieldset.wpuf-multistep-fieldset {
	border: currentColor; border-image: none; padding-bottom: 50px; display: none; position: relative;
}
fieldset.wpuf-multistep-fieldset.field-active {
	display: block;
}
fieldset.wpuf-multistep-fieldset .wpuf-multistep-prev-btn {
	bottom: 5px; position: absolute;
}
fieldset.wpuf-multistep-fieldset .wpuf-multistep-next-btn {
	bottom: 5px; position: absolute;
}
fieldset.wpuf-multistep-fieldset .wpuf-multistep-prev-btn {
	left: 10px;
}
fieldset.wpuf-multistep-fieldset .wpuf-multistep-next-btn {
	right: 10px;
}
.wpuf-multistep-progressbar {
	overflow: hidden;
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard {
	list-style: none; margin: 20px 0px 40px; padding: 0px;
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard * {
	box-sizing: border-box;
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li {
	margin: 0px; padding: 10px 30px 10px 40px; border-radius: 5px; width: auto; text-align: center; display: inline-block; position: relative; background-color: rgb(228, 228, 228);
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li::before {
	border-style: solid; border-color: transparent transparent transparent rgb(255, 255, 255); border-radius: 10px; border-image: none; width: 0px; height: 0px; position: absolute; content: " ";
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li::after {
	border-style: solid; border-color: transparent transparent transparent rgb(255, 255, 255); border-radius: 10px; border-image: none; width: 0px; height: 0px; position: absolute; content: " ";
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li::before {
	border-width: 26px; right: -52px; margin-top: -14px; z-index: 98;
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li::after {
	border-width: 25px; right: -44px; margin-top: -37px; border-left-color: rgb(228, 228, 228); z-index: 99;
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li.active-step {
	color: rgb(255, 255, 255); background-color: rgb(0, 160, 210);
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li.active-step::after {
	border-left-color: rgb(0, 160, 210);
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li:last-child::after {
	border-left-color: transparent;
}
.wpuf-form .wpuf-multistep-progressbar .ui-widget-header {
	background: rgb(0, 160, 210);
}
.wpuf-form .wpuf-multistep-progressbar.ui-progressbar {
	border: 1px solid rgb(238, 238, 238); border-image: none; height: 25px; margin-bottom: 30px; position: relative;
}
.wpuf-form .wpuf-multistep-progressbar.ui-progressbar .wpuf-progress-percentage {
	left: 50%; top: 20%; font-size: 12px; font-weight: bold; position: absolute; text-shadow: 1px 1px 0px #fff;
}
input.wpuf-btn {
	background: rgb(33, 117, 155) !important; padding: 5px 10px; border-radius: 3px !important; border: currentColor !important; border-image: none !important; color: rgb(255, 255, 255) !important; font-size: 15px !important; text-decoration: none !important; margin-top: 10px; margin-right: 10px; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
body.rtl ul.wpuf-form li .wpuf-label {
	float: right;
}
@media all and (max-width:480px)
{
ul.wpuf-form li .wpuf-label {
	width: 100%; float: none;
}
ul.wpuf-form li .wpuf-fields {
	width: 100%; float: none;
}
ul.wpuf-form li.field-size-large .wpuf-fields {
	width: 100%; float: none;
}
ul.wpuf-form li.field-size-medium .wpuf-fields {
	width: 65%; float: none;
}
ul.wpuf-form li.field-size-small .wpuf-fields {
	width: 30%; float: none;
}
}
.wpuf-form .required {
	border: 0px currentColor; border-image: none; color: red; font-weight: 700;
}
.wpuf-dashboard-container .wpuf-dashboard-navigation {
	width: 30%; float: left;
}
.wpuf-dashboard-container .wpuf-dashboard-navigation a {
	text-decoration: none; box-shadow: none;
}
.wpuf-dashboard-container .wpuf-dashboard-navigation ul {
	list-style: none;
}
.wpuf-dashboard-container .wpuf-dashboard-navigation ul li {
	padding-bottom: 2px;
}
.wpuf-dashboard-container .wpuf-dashboard-content {
	width: 68%; float: right;
}
.wpuf-dashboard-container table.items-table {
	border: 0px currentColor; border-image: none;
}
.wpuf-dashboard-container table.items-table a {
	text-decoration: none; box-shadow: none;
}
.wpuf-dashboard-container table.items-table th {
	padding: 10px; border: 0px currentColor; border-image: none;
}
.wpuf-dashboard-container table.items-table td {
	padding: 10px; border: 0px currentColor; border-image: none;
}
.wpuf-dashboard-container table.items-table tr {
	outline: rgb(241, 241, 241) solid 1px;
}
.wpuf-dashboard-container table.items-table .items-list-header {
	background-color: rgb(241, 241, 241);
}
.wpuf-dashboard-container .wpuf-update-profile-form .form-row-first {
	width: 47%; overflow: visible; float: left;
}
.wpuf-dashboard-container .wpuf-update-profile-form .form-row-last {
	width: 43%; overflow: visible; float: right;
}
.wpuf-wcmp-integration-content .wpuf-dashboard-container .page-head {
	margin-bottom: 40px; opacity: 0;
}
.wpuf-wcmp-integration-content .wpuf-dashboard-container table.items-table {
	width: 100%; margin-bottom: 40px !important;
}
.wpuf-toc-container .wpuf-fields {
	position: relative;
}
.wpuf-toc-container .wpuf-fields .wpuf-toc-checkbox {
	left: 0px; top: 0px; position: absolute;
}
.wpuf-toc-container .wpuf-fields.has-toc-checkbox .wpuf-toc-description {
	margin-left: 25px;
}
.wpuf-field-google-map {
	width: 100%; height: 300px;
}
.wpuf-form-google-map {
	width: 100%; height: 300px;
}
input[type='text'].wpuf-google-map-search {
	padding: 0px 11px 0px 13px !important; border-radius: 2px 0px 0px 2px !important; border: 1px solid transparent !important; border-image: none !important; width: 170px !important; height: 32px !important; font-family: Roboto !important; font-size: 15px !important; font-weight: 300 !important; margin-top: 10px !important; display: none; -ms-text-overflow: ellipsis !important; box-sizing: border-box !important; box-shadow: 0px 2px 6px rgba(0,0,0,0.3) !important; background-color: rgb(255, 255, 255) !important; -moz-box-sizing: border-box;
}
.gm-style input[type='text'].wpuf-google-map-search {
	display: block;
}
.wpuf-form-google-map-container input[type='text'].wpuf-google-map-search {
	width: 230px !important;
}
.wpuf-form-google-map-container.hide-search-box .gm-style input[type='text'].wpuf-google-map-search {
	display: none;
}
.dokan-dashboard-content.dokan-wpuf-dashboard h2.page-head {
	display: none;
}
.dokan-dashboard-content.dokan-wpuf-dashboard .wpuf-author {
	display: none;
}
.dokan-dashboard-content.dokan-wpuf-dashboard .wpuf-form-add .wpuf-form li.wpuf-el {
	margin-bottom: 15px;
}
table#wpuf-address-country-state input {
	padding: 0px 10px; border: 1px solid rgb(245, 245, 245); border-image: none; width: 100%; height: 36px; color: rgb(109, 109, 109); line-height: 36px; font-size: 14px; box-shadow: none;
}
table#wpuf-address-country-state select {
	padding: 0px 10px; border: 1px solid rgb(245, 245, 245); border-image: none; width: 100%; height: 36px; color: rgb(109, 109, 109); line-height: 36px; font-size: 14px; box-shadow: none;
}
table#wpuf-address-country-state input.wpuf-btn {
	width: inherit;
}
table#wpuf-address-country-state td {
	border: currentColor; border-image: none;
}
.wpuf-image-wrap {
	margin: 4px; transition:0.3s; display: inline-block; position: relative; z-index: 1;
}
.wpuf-image-wrap .attachment-name img {
	border-radius: 4px; transition:0.3s; width: 100%; max-height: 150px; box-shadow: none; -webkit-box-shadow: none;
}
li.wpuf-image-wrap.thumbnail {
	position: relative;
}
li.wpuf-image-wrap.thumbnail .caption {
	background: rgb(35, 40, 45); padding: 0px; border-radius: 3px; left: 50%; top: 50%; width: 80px; text-align: center; line-height: 0; margin-top: -10px; margin-left: -40px; display: none; position: absolute;
}
li.wpuf-image-wrap.thumbnail:hover .caption {
	display: block;
}
@media all and (min-width:480px)
{
.wpuf-pay-row {
	width: 100%; display: table; table-layout: auto;
}
.wpuf-pay-col {
	width: 50%; display: table-cell;
}
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list {
	overflow: auto;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li.highlight {
	height: 150px; padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px;
}
ul.wpuf-form .ui-state-default.wpuf-image-wrap:hover {
	cursor: move;
}
ul.wpuf-form .ui-state-default.wpuf-image-wrap .caption a {
	padding: 5px; height: inherit; color: transparent; line-height: 0; vertical-align: top; display: inline-block;
}
ul.wpuf-form .ui-state-default.wpuf-image-wrap .caption span {
	padding: 5px; height: inherit; color: transparent; line-height: 0; vertical-align: top; display: inline-block;
}
ul.wpuf-form .ui-state-default .wpuf-image-wrap .caption a img {
	box-shadow: none; -webkit-box-shadow: none;
}
ul.wpuf-form .ui-state-default.wpuf-image-wrap .caption a:hover {
	background: rgb(0, 115, 170); box-shadow: none; -webkit-box-shadow: none;
}
ul.wpuf-form .ui-state-default.wpuf-image-wrap .caption span:hover {
	background: rgb(0, 115, 170); box-shadow: none; -webkit-box-shadow: none;
}
.weforms-quiz-feedback {
	padding-top: 50px; padding-bottom: 50px; margin-top: 50px; position: relative;
}
.weforms-quiz-feedback .weforms-quiz-points {
	top: 0px; width: 200px; text-align: right; right: 0px; position: absolute;
}
.weforms-quiz-feedback .weforms-field-points {
	float: right;
}
.weforms-quiz-feedback .weforms-quiz-points .score {
	background: rgb(103, 58, 183); padding: 12px 20px; border-radius: 5px; color: rgb(255, 255, 255);
}
.weforms-quiz-feedback .right-answer-block {
	background: rgb(245, 245, 245); padding: 20px; color: rgba(0, 0, 0, 0.87); font-weight: 700; margin-top: 2px;
}
.weforms-quiz-feedback .weforms-answer-feedback {
	background: rgb(245, 245, 245); padding: 20px; color: rgba(0, 0, 0, 0.87); font-weight: 700; margin-top: 2px;
}
.weforms-quiz-feedback .right-answer-block p {
	margin-bottom: 10px;
}
.weforms-quiz-feedback .weforms-answer-feedback p {
	margin-bottom: 10px;
}
.weforms-quiz-feedback .weforms-answer-feedback .feedback {
	font-weight: 400;
}
.weforms-quiz-feedback .right-answer {
	margin-bottom: 20px;
}
.weforms-quiz-feedback .wrong-answer {
	margin-bottom: 20px;
}
.weforms-quiz-feedback .right-answer .wpuf-fields label.checked {
	background: rgb(223, 240, 216); padding: 6px 0px; color: rgb(60, 118, 61);
}
.weforms-quiz-feedback .wrong-answer .wpuf-fields label.checked {
	background: rgb(255, 228, 228); padding: 6px 0px; color: red;
}
ul.wpuf-form .wpuf-el {
	position: relative;
}
ul.wpuf-form .weforms-frontend-field-points {
	top: 0px; width: 100px; text-align: right; right: 0px; color: rgba(0, 0, 0, 0.54); font-size: 12px; font-weight: 700; margin-top: 12px; position: absolute;
}
.dokan-dashboard .dokan-dashboard-content ul li.wpuf-el {
	padding: 10px 10px 10px 0px; margin-bottom: 10px; margin-left: 0px;
}
.dokan-dashboard .dokan-dashboard-content ul li.wpuf-submit {
	padding: 10px 10px 10px 0px; margin-bottom: 10px; margin-left: 0px;
}
.wpuf-posts-options {
	padding: 0px 10px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
:first-child.wpuf-posts-options {
	padding-left: 0px;
}
:last-child.wpuf-posts-options {
	padding-right: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.wpuf-col-half {
	width: 50%; float: left;
}
.wpuf-col-half-last {
	width: 50%; float: left;
}
.wpuf-col-one-third {
	width: 33%; float: left;
}
.wpuf-col-one-third-last {
	width: 33%; float: left;
}
.wpuf-col-half-last + li {
	clear: left;
}
.wpuf-col-one-third-last + li {
	clear: left;
}
