.mkhb-device * {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.mkhb-device *::before {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.mkhb-device *::after {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.mkhb-device.mkhb-desktop::before {
	clear: both; display: table; content: " ";
}
.mkhb-device.mkhb-desktop::after {
	clear: both; display: table; content: " ";
}
.mkhb-container {
	margin-right: auto; margin-left: auto; display: flex;
}
.mkhb-container-fluid {
	margin-right: auto; margin-left: auto; display: flex;
}
.mkhb-mobile .mkhb-container {
	display: block;
}
.mkhb-container-fluid {
	width: 100%;
}
@media all and (min-width:768px)
{
.mkhb-container {
	width: 750px;
}
}
@media all and (min-width:992px)
{
.mkhb-container {
	width: 960px;
}
}
@media all and (min-width:1200px)
{
.mkhb-container {
	width: 1140px;
}
}
.clearfix::after {
	display: table; content: " ";
}
.clearfix::before {
	display: table; content: " ";
}
.mkhb-container-fluid::after {
	display: table; content: " ";
}
.mkhb-container-fluid::before {
	display: table; content: " ";
}
.mkhb-container::after {
	display: table; content: " ";
}
.mkhb-container::before {
	display: table; content: " ";
}
.mkhb-row::after {
	display: table; content: " ";
}
.mkhb-row::before {
	display: table; content: " ";
}
.clearfix::after {
	clear: both;
}
.mkhb-container-fluid::after {
	clear: both;
}
.mkhb-container::after {
	clear: both;
}
.mkhb-row::after {
	clear: both;
}
.mkhb-equal-height-columns {
	display: flex;
}
.mkhb-container img {
	display: block; max-width: 100%;
}
.mkhb-container-fluid img {
	display: block; max-width: 100%;
}
.mkhb-custom-header {
	border-bottom-color: rgb(237, 237, 237); border-bottom-width: 1px; border-bottom-style: solid;
}
.mkhb-inline-container {
	flex-flow:row wrap; display: flex; justify-content: flex-start;
}
.mkhb-inline-container div[class^=mkhb-inline-container__] {
	flex:1 1 0px; display: flex;
}
.mkhb-inline-container__left {
	justify-content: flex-start;
}
.mkhb-inline-container__center {
	justify-content: center;
}
.mkhb-inline-container__right {
	justify-content: flex-end;
}
.mkhb-col-align__top div[class^=mkhb-inline-container__] {
	align-items: flex-start;
}
.mkhb-col-align__middle div[class^=mkhb-inline-container__] {
	align-items: center;
}
.mkhb-col-align__bottom div[class^=mkhb-inline-container__] {
	align-items: flex-end;
}
.mkhb-fixed--filled {
	height: 92px;
}
.mkhb-fixed--filled.mkhb-overlap {
	height: auto;
}
.mkhb-fixed > .mkhb-device-container {
	width: 100%; z-index: 200;
}
.mkhb-overlap > .mkhb-device-container {
	width: 100%; z-index: 200;
}
.mkhb-fixed > .mkhb-device-container {
	position: fixed;
}
.mkhb-fixed.mkhb-overlap > .mkhb-device-container {
	position: fixed;
}
.mkhb-overlap > .mkhb-device-container {
	position: absolute;
}
.mkhb-sticky {
	top: -100px; width: 100%; position: fixed; z-index: 301; opacity: 0;
}
.mkhb-sticky--active {
	transition:top 0.35s 0.1s; opacity: 1;
}
.mkhb-sticky.mkhb-sticky--lazy {
	transition:0.3s ease-in-out;
}
@media all and (max-width:767px)
{
.mkhb-el-tablet {
	display: none !important;
}
.mkhb-el-desktop {
	display: none !important;
}
.mkhb-el-sticky--tablet {
	display: none !important;
}
.mkhb-el-sticky--desktop {
	display: none !important;
}
.mkhb-tablet {
	display: none;
}
.mkhb-desktop {
	display: none;
}
.mkhb-sticky--tablet {
	display: none;
}
.mkhb-sticky--desktop {
	display: none;
}
}
@media all and (max-width:1024px) and (min-width:768px)
{
.mkhb-el-mobile {
	display: none !important;
}
.mkhb-el-desktop {
	display: none !important;
}
.mkhb-el-sticky--mobile {
	display: none !important;
}
.mkhb-el-sticky--desktop {
	display: none !important;
}
.mkhb-mobile {
	display: none;
}
.mkhb-desktop {
	display: none;
}
.mkhb-sticky--mobile {
	display: none;
}
.mkhb-sticky--desktop {
	display: none;
}
}
@media all and (min-width:1025px)
{
.mkhb-el-mobile {
	display: none !important;
}
.mkhb-el-tablet {
	display: none !important;
}
.mkhb-el-sticky--mobile {
	display: none !important;
}
.mkhb-el-sticky--tablet {
	display: none !important;
}
.mkhb-mobile {
	display: none;
}
.mkhb-tablet {
	display: none;
}
.mkhb-sticky--mobile {
	display: none;
}
.mkhb-sticky--tablet {
	display: none;
}
}
.mkhb-shopping-icon .mk-go-top {
	bottom: 15px;
}
.mkhb-shopping-icon .mk-quick-contact-wrapper {
	bottom: 15px;
}
@media handheld, only screen and (max-width:1024px)
{
.mkhb-shopping-icon .mk-go-top.is-active {
	bottom: 73px;
}
}
@media handheld, only screen and (max-width:1024px) and (min-width:768px)
{
.mkhb-shopping-icon--tablet .mk-go-top {
	bottom: 87px;
}
.mkhb-shopping-icon--tablet .mk-quick-contact-wrapper {
	bottom: 87px;
}
.mkhb-shopping-icon--tablet .mk-go-top.is-active {
	bottom: 145px;
}
}
@media handheld, only screen and (max-width:767px)
{
.mkhb-shopping-icon--mobile .mk-go-top {
	bottom: 87px;
}
.mkhb-shopping-icon--mobile .mk-quick-contact-wrapper {
	bottom: 87px;
}
.mkhb-shopping-icon--mobile .mk-go-top.is-active {
	bottom: 145px;
}
}
