.ctct-form-wrapper .ctct-button {
	font-size: 0.9em;
}
.ctct-form-wrapper .ctct-message {
	padding: 1em; border: 1px solid currentColor; border-image: none;
}
.ctct-form-wrapper .error {
	border-color: rgb(255, 65, 54); color: rgb(207, 11, 0); background-color: rgba(255, 65, 54, 0.02);
}
.ctct-form-wrapper .success {
	border-color: rgb(46, 204, 64); color: rgb(27, 121, 38); background-color: rgba(46, 204, 64, 0.02);
}
.ctct-form-wrapper .ctct-form-field {
	margin: 0px 0px 1em;
}
.ctct-form-wrapper .ctct-field-inline {
	display: inline-block;
}
.ctct-form-wrapper input[type='text']:valid:required {
	background: url("../images/check_circle.svg") no-repeat 8px 50% / 24px white; border-color: rgb(46, 204, 64); padding-left: 40px;
}
.ctct-form-wrapper input[type='email']:valid:required {
	background: url("../images/check_circle.svg") no-repeat 8px 50% / 24px white; border-color: rgb(46, 204, 64); padding-left: 40px;
}
.ctct-form-wrapper input[type='password']:valid:required {
	background: url("../images/check_circle.svg") no-repeat 8px 50% / 24px white; border-color: rgb(46, 204, 64); padding-left: 40px;
}
.ctct-form-wrapper input[type='tel']:valid:required {
	background: url("../images/check_circle.svg") no-repeat 8px 50% / 24px white; border-color: rgb(46, 204, 64); padding-left: 40px;
}
.ctct-form-wrapper input[type='number']:valid:required {
	background: url("../images/check_circle.svg") no-repeat 8px 50% / 24px white; border-color: rgb(46, 204, 64); padding-left: 40px;
}
.ctct-form-wrapper input[type='text']:required.ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='text'].ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='email']:required.ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='email'].ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='password']:required.ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='password'].ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='tel']:required.ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='tel'].ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='number']:required.ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input[type='number'].ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper .ctct-field-error {
	font-size: 0.85em; font-style: italic;
}
.ctct-form-wrapper input.ctct-invalid {
	background: url("../images/error.svg") no-repeat 8px 50% / 24px rgba(255, 65, 54, 0.02); border-color: rgb(255, 65, 54); padding-left: 40px;
}
.ctct-form-wrapper input.ctct-label-left {
	width: 75%; display: inline-block;
}
.ctct-form-wrapper textarea.ctct-label-left {
	width: 75%; display: inline-block;
}
.ctct-form-wrapper span.ctct-label-left {
	width: 20%; margin-right: 5%; display: inline-block;
}
.ctct-form-wrapper input.ctct-label-right {
	width: 75%; margin-right: 5%; display: inline-block;
}
.ctct-form-wrapper textarea.ctct-label-right {
	width: 75%; margin-right: 5%; display: inline-block;
}
.ctct-form-wrapper span.ctct-label-right {
	width: 20%; display: inline-block;
}
.ctct-form-wrapper span.ctct-label-hidden {
	left: -9999px !important; top: -9999px !important; position: absolute !important;
}
.ctct-form-wrapper #ctct_usage {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.ctct-form-wrapper .no-recaptcha :disabled#ctct-submitted {
	background-position: center; color: transparent; cursor: wait; opacity: 0.3; background-image: url("../images/oval.min.svg"); background-repeat: no-repeat;
}
.ctct-form-wrapper .has-recaptcha :disabled#ctct-submitted {
	cursor: not-allowed;
}
.ctct-form-wrapper .ctct-form::after {
	clear: both; display: table; content: "";
}
.ctct-form-wrapper .ctct-form .ctct-label-top label {
	display: block;
}
.ctct-form-wrapper .ctct-form .ctct-label-bottom label {
	display: block;
}
.ctct-form-wrapper .ctct-form .ctct-label-left label {
	display: inline-block;
}
.ctct-form-wrapper .ctct-form .ctct-label-right label {
	display: inline-block;
}
.ctct-form-wrapper .ctct-form abbr {
	border: currentColor; border-image: none; color: rgb(255, 65, 54); font-size: 0.9em;
}
.ctct-form-wrapper .ctct-input-container label {
	color: rgb(170, 170, 170); font-size: 0.8em;
}
.ctct-form-wrapper .ctct-field-error {
	color: rgb(255, 65, 54);
}
.ctct-form-wrapper .ctct-submit {
	cursor: pointer;
}
.ctct-twentyfourteen .ctct-form-field input {
	width: 100%;
}
@media all and (min-width:992px)
{
.ctct-form-wrapper .ctct-field-half {
	width: 48%; margin-right: 2%; float: left;
}
.ctct-form-wrapper :last-of-type.ctct-field-half {
	margin-right: 0px;
}
.ctct-form-wrapper .ctct-field-third {
	width: 32%; margin-right: 2%; float: left;
}
.ctct-form-wrapper :last-of-type.ctct-field-third {
	margin-right: 0px;
}
.ctct-form-wrapper .ctct-field-fourth {
	width: 24%; margin-right: 2%; float: left;
}
.ctct-form-wrapper :last-of-type.ctct-field-fourth {
	margin-right: 0px;
}
}
