body.swal2-shown {
	-ms-overflow-y: hidden;
}
body.swal2-iosfix {
	left: 0px; right: 0px; position: fixed;
}
.swal2-container {
	padding: 10px; left: 0px; top: 0px; right: 0px; bottom: 0px; display: flex; position: fixed; z-index: 1060; align-items: center; background-color: transparent; -webkit-box-align: center;
}
.swal2-container.swal2-fade {
	transition:background-color 0.1s; -webkit-transition: background-color .1s;
}
.swal2-container.swal2-shown {
	background-color: rgba(0, 0, 0, 0.4);
}
.swal2-modal {
	margin: auto; border-radius: 5px; text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; display: none; position: relative; -ms-overflow-x: hidden; -ms-overflow-y: auto; max-width: 100%; box-sizing: border-box; background-color: rgb(255, 255, 255); -webkit-box-sizing: border-box;
}
.swal2-modal:focus {
	
}
.swal2-modal.swal2-loading {
	-ms-overflow-y: hidden;
}
.swal2-modal .swal2-title {
	margin: 0px 0px 0.4em; padding: 0px; text-align: center; color: rgb(89, 89, 89); text-transform: none; line-height: 150%; font-size: 22px; font-weight: 600; display: block; position: relative; -ms-word-wrap: break-word;
}
.swal2-modal .swal2-buttonswrapper {
	margin-top: 15px;
}
.swal2-modal :not(.swal2-loading).swal2-buttonswrapper [disabled].swal2-styled {
	cursor: no-drop; opacity: 0.4;
}
.swal2-modal .swal2-buttonswrapper.swal2-loading .swal2-styled.swal2-confirm {
	margin: 7.5px; padding: 0px; border-radius: 100%; border: 4px solid transparent; animation:rotate-loading 1.5s linear infinite; border-image: none; width: 40px; height: 40px; color: transparent; vertical-align: top; cursor: default; box-sizing: border-box; -ms-user-select: none; background-color: transparent !important; -webkit-animation: rotate-loading 1.5s linear 0s infinite normal; -moz-user-select: none; -webkit-user-select: none; user-select: none; -webkit-box-sizing: border-box;
}
.swal2-modal .swal2-buttonswrapper.swal2-loading .swal2-styled.swal2-cancel {
	margin-right: 30px; margin-left: 30px;
}
.swal2-modal .swal2-buttonswrapper.swal2-loading :not(.swal2-styled).swal2-confirm::after {
	border-width: 3px; border-style: solid; border-color: rgb(153, 153, 153) transparent rgb(153, 153, 153) rgb(153, 153, 153); border-radius: 50%; animation:rotate-loading 1.5s linear infinite; border-image: none; width: 15px; height: 15px; vertical-align: -1px; display: inline-block; content: ""; box-shadow: 1px 1px 1px #fff; -webkit-animation: rotate-loading 1.5s linear 0s infinite normal; -webkit-box-shadow: 1px 1px 1px #fff;
}
.swal2-modal .swal2-styled {
	margin: 15px 5px 0px; padding: 10px 32px; border-radius: 3px; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); font-size: 17px; font-weight: 500; cursor: pointer; box-shadow: none; -webkit-box-shadow: none;
}
.swal2-modal .swal2-image {
	margin: 20px auto; max-width: 100%;
}
.swal2-modal .swal2-close {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; transition:color 0.1s; border-image: none; top: 5px; width: 38px; height: 40px; right: 8px; color: rgb(204, 204, 204); line-height: 40px; font-family: serif; font-size: 36px; position: absolute; cursor: pointer; -webkit-transition: color .1s ease;
}
.swal2-modal .swal2-close:hover {
	color: rgb(221, 85, 85);
}
.swal2-modal > .swal2-input {
	display: none;
}
.swal2-modal > .swal2-file {
	display: none;
}
.swal2-modal > .swal2-textarea {
	display: none;
}
.swal2-modal > .swal2-select {
	display: none;
}
.swal2-modal > .swal2-radio {
	display: none;
}
.swal2-modal > .swal2-checkbox {
	display: none;
}
.swal2-modal .swal2-content {
	margin: 0px; padding: 0px; text-align: center; color: rgb(84, 84, 84); line-height: normal; font-size: 18px; font-weight: 300; float: none; position: relative; -ms-word-wrap: break-word;
}
.swal2-modal .swal2-input {
	margin: 20px auto;
}
.swal2-modal .swal2-file {
	margin: 20px auto;
}
.swal2-modal .swal2-textarea {
	margin: 20px auto;
}
.swal2-modal .swal2-select {
	margin: 20px auto;
}
.swal2-modal .swal2-radio {
	margin: 20px auto;
}
.swal2-modal .swal2-checkbox {
	margin: 20px auto;
}
.swal2-modal .swal2-input {
	border-radius: 3px; border: 1px solid rgb(217, 217, 217); border-image: none; width: 100%; font-size: 18px; box-sizing: border-box; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.06); -webkit-transition: border-color box-shadow .3s; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06); -webkit-box-sizing: border-box;
}
.swal2-modal .swal2-file {
	border-radius: 3px; border: 1px solid rgb(217, 217, 217); border-image: none; width: 100%; font-size: 18px; box-sizing: border-box; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.06); -webkit-transition: border-color box-shadow .3s; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06); -webkit-box-sizing: border-box;
}
.swal2-modal .swal2-textarea {
	border-radius: 3px; border: 1px solid rgb(217, 217, 217); border-image: none; width: 100%; font-size: 18px; box-sizing: border-box; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.06); -webkit-transition: border-color box-shadow .3s; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06); -webkit-box-sizing: border-box;
}
.swal2-modal .swal2-input.swal2-inputerror {
	border-color: rgb(242, 116, 116) !important; box-shadow: 0px 0px 2px #f27474 !important; -webkit-box-shadow: 0 0 2px #f27474;
}
.swal2-modal .swal2-file.swal2-inputerror {
	border-color: rgb(242, 116, 116) !important; box-shadow: 0px 0px 2px #f27474 !important; -webkit-box-shadow: 0 0 2px #f27474;
}
.swal2-modal .swal2-textarea.swal2-inputerror {
	border-color: rgb(242, 116, 116) !important; box-shadow: 0px 0px 2px #f27474 !important; -webkit-box-shadow: 0 0 2px #f27474;
}
.swal2-modal .swal2-input:focus {
	border: 1px solid rgb(180, 219, 237); border-image: none; box-shadow: 0px 0px 3px #c4e6f5; -webkit-box-shadow: 0 0 3px #c4e6f5;
}
.swal2-modal .swal2-file:focus {
	border: 1px solid rgb(180, 219, 237); border-image: none; box-shadow: 0px 0px 3px #c4e6f5; -webkit-box-shadow: 0 0 3px #c4e6f5;
}
.swal2-modal .swal2-textarea:focus {
	border: 1px solid rgb(180, 219, 237); border-image: none; box-shadow: 0px 0px 3px #c4e6f5; -webkit-box-shadow: 0 0 3px #c4e6f5;
}
.swal2-modal :-ms-input-placeholder.swal2-input:focus {
	transition:opacity 0.3s 0.03s; opacity: 0.8; -webkit-transition: opacity .3s .03s ease;
}
.swal2-modal :-ms-input-placeholder.swal2-file:focus {
	transition:opacity 0.3s 0.03s; opacity: 0.8; -webkit-transition: opacity .3s .03s ease;
}
.swal2-modal :-ms-input-placeholder.swal2-textarea:focus {
	transition:opacity 0.3s 0.03s; opacity: 0.8; -webkit-transition: opacity .3s .03s ease;
}
.swal2-modal :-ms-input-placeholder.swal2-input {
	color: rgb(230, 230, 230);
}
.swal2-modal :-ms-input-placeholder.swal2-file {
	color: rgb(230, 230, 230);
}
.swal2-modal :-ms-input-placeholder.swal2-textarea {
	color: rgb(230, 230, 230);
}
.swal2-modal .swal2-range input {
	width: 80%; float: left;
}
.swal2-modal .swal2-range output {
	width: 20%; text-align: center; font-size: 20px; font-weight: 600; float: right;
}
.swal2-modal .swal2-range input {
	margin: 20px auto; padding: 0px; height: 43px; line-height: 43px; vertical-align: middle;
}
.swal2-modal .swal2-range output {
	margin: 20px auto; padding: 0px; height: 43px; line-height: 43px; vertical-align: middle;
}
.swal2-modal .swal2-input {
	padding: 0px 12px; height: 43px;
}
.swal2-modal [type='number'].swal2-input {
	max-width: 150px;
}
.swal2-modal .swal2-file {
	font-size: 20px;
}
.swal2-modal .swal2-textarea {
	padding: 12px; height: 108px;
}
.swal2-modal .swal2-select {
	padding: 5px 10px; color: rgb(84, 84, 84); font-size: inherit; min-width: 40%; max-width: 100%;
}
.swal2-modal .swal2-radio {
	border: 0px currentColor; border-image: none;
}
.swal2-modal .swal2-radio label:not(:first-child) {
	margin-left: 20px;
}
.swal2-modal .swal2-radio input {
	vertical-align: middle;
}
.swal2-modal .swal2-radio span {
	vertical-align: middle;
}
.swal2-modal .swal2-radio input {
	margin: 0px 3px 0px 0px;
}
.swal2-modal .swal2-checkbox {
	color: rgb(84, 84, 84);
}
.swal2-modal .swal2-checkbox input {
	vertical-align: middle;
}
.swal2-modal .swal2-checkbox span {
	vertical-align: middle;
}
.swal2-modal .swal2-validationerror {
	margin: 0px -20px; padding: 10px; color: gray; overflow: hidden; font-size: 16px; font-weight: 300; display: none; background-color: rgb(240, 240, 240);
}
.swal2-modal .swal2-validationerror::before {
	border-radius: 50%; width: 24px; height: 24px; text-align: center; color: rgb(255, 255, 255); line-height: 24px; margin-right: 10px; display: inline-block; content: "!"; background-color: rgb(234, 125, 125);
}
@media all and (-ms-high-contrast:none), all and (-ms-high-contrast:active)
{
.swal2-range input {
	width: 100% !important;
}
.swal2-range output {
	display: none;
}
}
.swal2-icon {
	margin: 20px auto 30px; padding: 0px; border-radius: 50%; border: 4px solid transparent; border-image: none; width: 80px; height: 80px; position: relative; cursor: default; box-sizing: content-box; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none; -webkit-box-sizing: content-box;
}
.swal2-icon.swal2-error {
	border-color: rgb(242, 116, 116);
}
.swal2-icon.swal2-error .swal2-x-mark {
	display: block; position: relative;
}
.swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
	border-radius: 2px; top: 37px; width: 47px; height: 5px; display: block; position: absolute; background-color: rgb(242, 116, 116);
}
.swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='left'] {
	left: 17px; transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='right'] {
	right: 16px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
}
.swal2-icon.swal2-warning {
	border-color: rgb(250, 206, 168); text-align: center; color: rgb(248, 187, 134); line-height: 80px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 60px;
}
.swal2-icon.swal2-info {
	border-color: rgb(157, 224, 246); text-align: center; color: rgb(63, 195, 238); line-height: 80px; font-family: "Open Sans", sans-serif; font-size: 60px;
}
.swal2-icon.swal2-question {
	border-color: rgb(201, 218, 225); text-align: center; color: rgb(135, 173, 189); line-height: 80px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 60px;
}
.swal2-icon.swal2-success {
	border-color: rgb(165, 220, 134);
}
.swal2-icon.swal2-success [class^='swal2-success-circular-line'] {
	border-radius: 50%; width: 60px; height: 120px; position: absolute; transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.swal2-icon.swal2-success [class^='swal2-success-circular-line'][class$='left'] {
	transform-origin: 60px 60px; border-radius: 120px 0px 0px 120px; left: -33px; top: -7px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -webkit-transform-origin: 60px 60px;
}
.swal2-icon.swal2-success [class^='swal2-success-circular-line'][class$='right'] {
	transform-origin: 0% 60px; border-radius: 0px 120px 120px 0px; left: 30px; top: -11px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -webkit-transform-origin: 0 60px;
}
.swal2-icon.swal2-success .swal2-success-ring {
	border-radius: 50%; border: 4px solid rgba(165, 220, 134, 0.2); border-image: none; left: -4px; top: -4px; width: 80px; height: 80px; position: absolute; z-index: 2; box-sizing: content-box; -webkit-box-sizing: content-box;
}
.swal2-icon.swal2-success .swal2-success-fix {
	left: 28px; top: 8px; width: 7px; height: 90px; position: absolute; z-index: 1; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
}
.swal2-icon.swal2-success [class^='swal2-success-line'] {
	border-radius: 2px; height: 5px; display: block; position: absolute; z-index: 2; background-color: rgb(165, 220, 134);
}
.swal2-icon.swal2-success [class^='swal2-success-line'][class$='tip'] {
	left: 14px; top: 46px; width: 25px; transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.swal2-icon.swal2-success [class^='swal2-success-line'][class$='long'] {
	top: 38px; width: 47px; right: 8px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
}
.swal2-progresssteps {
	margin: 0px 0px 20px; padding: 0px; font-weight: 600;
}
.swal2-progresssteps li {
	display: inline-block; position: relative;
}
.swal2-progresssteps .swal2-progresscircle {
	background: rgb(48, 133, 214); border-radius: 2em; width: 2em; height: 2em; text-align: center; color: rgb(255, 255, 255); line-height: 2em; z-index: 20;
}
.swal2-progresssteps :first-child.swal2-progresscircle {
	margin-left: 0px;
}
.swal2-progresssteps :last-child.swal2-progresscircle {
	margin-right: 0px;
}
.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep {
	background: rgb(48, 133, 214);
}
.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progresscircle {
	background: rgb(173, 216, 230);
}
.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progressline {
	background: rgb(173, 216, 230);
}
.swal2-progresssteps .swal2-progressline {
	background: rgb(48, 133, 214); margin: 0px -1px; height: 0.4em; z-index: 10;
}
[class^='swal2'] {
	-webkit-tap-highlight-color: transparent;
}
.swal2-show {
	animation:showSweetAlert 0.3s; -webkit-animation: showSweetAlert 0.3s;
}
.swal2-show.swal2-noanimation {
	animation:none; -webkit-animation: none;
}
.swal2-hide {
	animation:hideSweetAlert 0.15s forwards; -webkit-animation: hideSweetAlert 0.15s forwards;
}
.swal2-hide.swal2-noanimation {
	animation:none; -webkit-animation: none;
}
.swal2-animate-success-line-tip {
	animation:animate-success-tip 0.75s; -webkit-animation: animate-success-tip 0.75s;
}
.swal2-animate-success-line-long {
	animation:animate-success-long 0.75s; -webkit-animation: animate-success-long 0.75s;
}
.swal2-success.swal2-animate-success-icon .swal2-success-circular-line-right {
	animation:rotatePlaceholder 4.25s ease-in; -webkit-animation: rotatePlaceholder 4.25s ease-in;
}
.swal2-animate-error-icon {
	animation:animate-error-icon 0.5s; -webkit-animation: animate-error-icon 0.5s;
}
.swal2-animate-x-mark {
	animation:animate-x-mark 0.5s; -webkit-animation: animate-x-mark 0.5s;
}
