#mk-sidebar .widget::after {
	width: 100%; border-bottom-color: rgb(213, 216, 222); border-bottom-width: 0px; border-bottom-style: solid; display: block; content: "";
}
#mk-sidebar div.widgettitle {
	line-height: 1.66em; padding-bottom: 15px; margin-bottom: 0px;
}
#mk-sidebar .widget {
	border-style: solid;
}
.mk-single-content p {
	font-weight: 400;
}
.mk-single-content h1 {
	
}
.mk-single-content h2 {
	
}
.mk-single-content h3 {
	
}
.mk-single-content h4 {
	
}
.mk-single-content h5 {
	
}
.mk-single-content h6 {
	
}
.mk-blog-single .blog-single-title {
	font-weight: 600 !important;
}
.mk-blog-hero .content-holder .the-title {
	font-weight: 600 !important;
}
#mk-footer .footer-wrapper {
	padding: 30px 0px;
}
#mk-footer [class*='mk-col-'] {
	padding: 0px 2%;
}
#sub-footer {
	background-color: rgb(0, 102, 51);
}
.mk-footer-copyright {
	letter-spacing: 0px; font-size: 11px;
}
#mk-footer .widget {
	margin-bottom: 40px;
}
#mk-footer {
	color: rgb(255, 255, 255); font-size: 12px; font-weight: 400;
}
#mk-footer p {
	color: rgb(255, 255, 255); font-size: 12px; font-weight: 400;
}
#mk-footer .widgettitle {
	color: rgb(255, 255, 255); text-transform: uppercase; font-size: 13px; font-weight: bolder;
}
#mk-footer .widgettitle a {
	color: rgb(255, 255, 255);
}
#mk-footer :not(.widget_social_networks).widget a {
	color: rgb(0, 221, 110);
}
#mk-footer :not(.widget_social_networks).widget a:hover {
	color: rgb(255, 255, 255);
}
.mk-footer-copyright {
	color: rgb(255, 255, 255);
}
#mk-footer-navigation li a {
	color: rgb(255, 255, 255);
}
.mk-fullscreen-nav {
	background-color: rgb(68, 68, 68);
}
.mk-fullscreen-nav-logo {
	margin-bottom: 125px;
}
.fullscreen-navigation-ul .menu-item a {
	padding: 25px 0px; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 0px; font-size: 16px; font-weight: bolder;
}
.fullscreen-navigation-ul .menu-item a:hover {
	color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);
}
body {
	color: rgb(119, 119, 119); line-height: 1.5em; font-size: 15px; font-weight: 400;
}
p {
	color: rgb(119, 119, 119); line-height: 1.5em; font-size: 15px;
}
h1 {
	line-height: 1.3em;
}
h2 {
	line-height: 1.3em;
}
h3 {
	line-height: 1.3em;
}
h4 {
	line-height: 1.3em;
}
h5 {
	line-height: 1.3em;
}
h6 {
	line-height: 1.3em;
}
a {
	color: rgb(26, 177, 93);
}
a:hover {
	color: rgb(0, 102, 51);
}
.master-holder strong {
	color: rgb(64, 64, 64);
}
.master-holder h1 {
	color: rgb(64, 64, 64); text-transform: none; font-size: 36px; font-weight: 600;
}
.master-holder h2 {
	color: rgb(0, 102, 51); text-transform: none; font-size: 25px; font-weight: 600;
}
.master-holder h3 {
	color: rgb(6, 55, 150); text-transform: none; font-size: 21px; font-weight: 600;
}
.master-holder h4 {
	color: rgb(6, 55, 150); text-transform: none; font-size: 18px; font-weight: 600;
}
.master-holder h5 {
	color: rgb(64, 64, 64); text-transform: uppercase; font-size: 16px; font-weight: 600;
}
.master-holder h6 {
	color: rgb(64, 64, 64); text-transform: uppercase; font-size: 14px; font-weight: 600;
}
.mk-section-preloader {
	background-color: rgb(255, 255, 255) !important;
}
@media handheld, only screen and (max-width:960px)
{
.mk-header-bg {
	
}
.responsive-searchform .text-input {
	
}
.responsive-searchform span i {
	
}
.responsive-searchform i svg {
	
}
.responsive-searchform :-ms-input-placeholder.text-input {
	
}
.mk-header-toolbar {
	
}
.mk-toolbar-navigation a {
	
}
.mk-toolbar-navigation a:hover {
	
}
.mk-language-nav > a {
	
}
.mk-header-login .mk-login-link {
	
}
.mk-subscribe-link {
	
}
.mk-checkout-btn {
	
}
.mk-header-tagline a {
	
}
.header-toolbar-contact a {
	
}
.mk-language-nav > a:hover {
	
}
.mk-header-login .mk-login-link:hover {
	
}
.mk-subscribe-link:hover {
	
}
.mk-checkout-btn:hover {
	
}
.mk-header-tagline a:hover {
	
}
.mk-header-tagline {
	
}
.header-toolbar-contact {
	
}
.mk-header-date {
	
}
.mk-header-toolbar .mk-header-social svg {
	
}
}
.mk-header-toolbar {
	background-color: rgb(0, 102, 51);
}
.mk-toolbar-navigation a {
	color: rgb(26, 177, 93);
}
.mk-toolbar-navigation a:hover {
	color: rgb(26, 177, 93);
}
.mk-language-nav > a {
	color: rgb(26, 177, 93);
}
.mk-header-login .mk-login-link {
	color: rgb(26, 177, 93);
}
.mk-subscribe-link {
	color: rgb(26, 177, 93);
}
.mk-checkout-btn {
	color: rgb(26, 177, 93);
}
.mk-header-tagline a {
	color: rgb(26, 177, 93);
}
.header-toolbar-contact a {
	color: rgb(26, 177, 93);
}
.mk-language-nav > a:hover {
	color: rgb(26, 177, 93);
}
.mk-header-login .mk-login-link:hover {
	color: rgb(26, 177, 93);
}
.mk-subscribe-link:hover {
	color: rgb(26, 177, 93);
}
.mk-checkout-btn:hover {
	color: rgb(26, 177, 93);
}
.mk-header-tagline a:hover {
	color: rgb(26, 177, 93);
}
.mk-header-tagline {
	color: rgb(153, 153, 153);
}
.header-toolbar-contact {
	color: rgb(153, 153, 153);
}
.mk-header-date {
	color: rgb(153, 153, 153);
}
.mk-header-toolbar .mk-header-social svg {
	fill: #ffffff;
}
.add-header-height {
	height: 140px; line-height: 140px;
}
.header-style-1 .mk-header-inner .mk-header-search {
	height: 140px; line-height: 140px;
}
.header-style-1 .menu-hover-style-1 .main-navigation-ul > li > a {
	height: 140px; line-height: 140px;
}
.header-style-1 .menu-hover-style-2 .main-navigation-ul > li > a {
	height: 140px; line-height: 140px;
}
.header-style-1 .menu-hover-style-4 .main-navigation-ul > li > a {
	height: 140px; line-height: 140px;
}
.header-style-1 .menu-hover-style-5 .main-navigation-ul > li {
	height: 140px; line-height: 140px;
}
.header-style-1 .menu-hover-style-3 .main-navigation-ul > li {
	height: 140px; line-height: 140px;
}
.header-style-1 .menu-hover-style-5 .main-navigation-ul > li {
	height: 140px; line-height: 140px;
}
.header-style-1.a-sticky .menu-hover-style-1 .main-navigation-ul > li > a {
	height: 90px !important; line-height: 90px !important;
}
.header-style-3.a-sticky .menu-hover-style-1 .main-navigation-ul > li > a {
	height: 90px !important; line-height: 90px !important;
}
.header-style-1.a-sticky .menu-hover-style-5 .main-navigation-ul > li {
	height: 90px !important; line-height: 90px !important;
}
.header-style-1.a-sticky .menu-hover-style-2 .main-navigation-ul > li > a {
	height: 90px !important; line-height: 90px !important;
}
.header-style-3.a-sticky .menu-hover-style-2 .main-navigation-ul > li > a {
	height: 90px !important; line-height: 90px !important;
}
.header-style-1.a-sticky .menu-hover-style-4 .main-navigation-ul > li > a {
	height: 90px !important; line-height: 90px !important;
}
.header-style-3.a-sticky .menu-hover-style-4 .main-navigation-ul > li > a {
	height: 90px !important; line-height: 90px !important;
}
.header-style-1.a-sticky .menu-hover-style-3 .main-navigation-ul > li {
	height: 90px !important; line-height: 90px !important;
}
.header-style-2.a-sticky .menu-hover-style-2 .main-navigation-ul > li {
	height: 90px !important; line-height: 90px !important;
}
.header-style-2.a-sticky .menu-hover-style-3 .main-navigation-ul > li {
	height: 90px !important; line-height: 90px !important;
}
.header-style-2.a-sticky .menu-hover-style-5 .main-navigation-ul > li {
	height: 90px !important; line-height: 90px !important;
}
.header-style-2.a-sticky .menu-hover-style-1 .main-navigation-ul > li > a {
	height: 90px !important; line-height: 90px !important;
}
.header-style-2.a-sticky .menu-hover-style-4 .main-navigation-ul > li > a {
	height: 90px !important; line-height: 90px !important;
}
.header-style-2.a-sticky .mk-search-trigger {
	height: 90px !important; line-height: 90px !important;
}
.header-style-2.a-sticky .mk-shoping-cart-link {
	height: 90px !important; line-height: 90px !important;
}
.header-style-3.a-sticky .mk-header-holder .mk-header-search {
	height: 90px !important; line-height: 90px !important;
}
:not(.header-style-4).a-sticky .add-header-height {
	height: 90px !important; line-height: 90px !important;
}
.mk-header-bg {
	opacity: 1; -moz-opacity: 1; -webkit-opacity: 1; -o-opacity: 1;
}
.a-sticky .mk-header-bg {
	opacity: 1; -moz-opacity: 1; -webkit-opacity: 1; -o-opacity: 1;
}
.header-style-4 .header-logo {
	margin: 10px 0px;
}
.header-style-2 .mk-header-inner {
	line-height: 140px;
}
.mk-header-nav-container {
	
}
.mk-header-start-tour {
	color: rgb(51, 51, 51); font-size: 14px;
}
.mk-header-start-tour:hover {
	color: rgb(51, 51, 51);
}
.mk-search-trigger {
	color: rgb(68, 68, 68);
}
.mk-header .mk-header-cart-count {
	color: rgb(68, 68, 68);
}
.mk-toolbar-resposnive-icon svg {
	fill: #444444;
}
.mk-header .mk-shoping-cart-link svg {
	fill: #444444;
}
.mk-css-icon-close div {
	background-color: rgb(68, 68, 68);
}
.mk-css-icon-menu div {
	background-color: rgb(68, 68, 68);
}
.mk-header-searchform .text-input {
	color: rgb(199, 199, 199);
}
.mk-header-searchform span i {
	color: rgb(199, 199, 199);
}
.mk-header-searchform :-ms-input-placeholder.text-input {
	color: rgb(199, 199, 199);
}
.mk-header-social.header-section a.small {
	margin-top: 53px;
}
.mk-header-social.header-section a.medium {
	margin-top: 45px;
}
.mk-header-social.header-section a.large {
	margin-top: 37px;
}
.a-sticky .mk-header-social.header-section a.small {
	padding: 8px !important; width: 16px !important; height: 16px !important; line-height: 16px !important; margin-top: 28px;
}
.a-sticky .mk-header-social.header-section a.medium {
	padding: 8px !important; width: 16px !important; height: 16px !important; line-height: 16px !important; margin-top: 28px;
}
.a-sticky .mk-header-social.header-section a.large {
	padding: 8px !important; width: 16px !important; height: 16px !important; line-height: 16px !important; margin-top: 28px;
}
.a-sticky .mk-header-social.header-section a.small svg {
	height: 16px !important; line-height: 16px !important;
}
.a-sticky .mk-header-social.header-section a.medium svg {
	height: 16px !important; line-height: 16px !important;
}
.a-sticky .mk-header-social.header-section a.large svg {
	height: 16px !important; line-height: 16px !important;
}
.header-section.mk-header-social svg {
	fill: #ffffff;
}
.header-section.mk-header-social a:hover svg {
	fill: #ffffff;
}
.header-style-4 {
	text-align: left;
}
.mk-header-inner {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.a-sticky .mk-header-inner {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.header-style-2.a-sticky .mk-classic-nav-bg {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.header-style-4.header-align-left .mk-header-inner {
	border-right-color: rgb(255, 255, 255); border-bottom-color: currentColor; border-right-width: 1px; border-bottom-width: medium; border-right-style: solid; border-bottom-style: none;
}
.header-style-4.header-align-center .mk-header-inner {
	border-right-color: rgb(255, 255, 255); border-bottom-color: currentColor; border-right-width: 1px; border-bottom-width: medium; border-right-style: solid; border-bottom-style: none;
}
.header-style-4.header-align-right .mk-header-inner {
	border-bottom-color: currentColor; border-left-color: rgb(255, 255, 255); border-bottom-width: medium; border-left-width: 1px; border-bottom-style: none; border-left-style: solid;
}
.header-style-2 .mk-header-nav-container {
	border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
.mk-vm-menuwrapper li > a {
	padding-right: 45px;
}
.header-style-4 .mk-header-right {
	text-align: left !important;
}
@media handheld, only screen and (max-width:1560px) and (min-width:960px)
{
.dashboard-opened .header-style-3.sticky-style-fixed .mk-dashboard-trigger {
	transition:300ms ease-in-out !important; transform: translateX(-300px) translateZ(0px);
}
}
.compose-mode .trans-header#mk-theme-container .theme-content > :nth-child(2).vc_element .vc_controls-out-tl {
	padding-top: 140px;
}
.mk-grid {
	max-width: 1140px;
}
.mk-header-nav-container {
	width: 1140px;
}
.mk-classic-menu-wrapper {
	width: 1140px;
}
.theme-page-wrapper .mk-builtin#mk-sidebar {
	width: 27%;
}
.theme-page-wrapper.right-layout .theme-content {
	width: 73%;
}
.theme-page-wrapper.left-layout .theme-content {
	width: 73%;
}
.mk-boxed-enabled #mk-boxed-layout {
	max-width: 1200px;
}
.mk-boxed-enabled #mk-boxed-layout .header-style-1 .mk-header-holder {
	max-width: 1200px;
}
.mk-boxed-enabled #mk-boxed-layout .header-style-3 .mk-header-holder {
	max-width: 1200px;
}
.mk-boxed-enabled #mk-boxed-layout .header-style-2.a-sticky .mk-header-nav-container {
	left: auto !important; width: 1200px !important;
}
.main-navigation-ul > li.menu-item > a.menu-item-link {
	color: rgb(68, 68, 68); text-transform: uppercase; letter-spacing: 0px; padding-right: 20px !important; padding-left: 20px !important; font-size: 13px; font-weight: 700;
}
.mk-vm-menuwrapper ul li a {
	color: rgb(68, 68, 68); text-transform: uppercase; font-size: 13px; font-weight: 700;
}
.mk-vm-menuwrapper li > a::after {
	color: rgb(68, 68, 68);
}
.mk-vm-menuwrapper li.mk-vm-back::after {
	color: rgb(68, 68, 68);
}
.mk-vm-menuwrapper .mk-svg-icon {
	fill: #444444;
}
.main-navigation-ul > li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link {
	width: 230px;
}
.menu-hover-style-1 .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-1 .main-navigation-ul > li.menu-item:hover > a.menu-item-link {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-2 .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-2 .main-navigation-ul > li.menu-item:hover > a.menu-item-link {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-2 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-2 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-1.mk-vm-menuwrapper li.menu-item > a:hover {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-1.mk-vm-menuwrapper li.menu-item:hover > a {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-item > a {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-ancestor > a {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-2.mk-vm-menuwrapper li.menu-item > a:hover {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-2.mk-vm-menuwrapper li.menu-item:hover > a {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-2.mk-vm-menuwrapper li.current-menu-item > a {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-2.mk-vm-menuwrapper li.current-menu-ancestor > a {
	color: rgb(26, 177, 93) !important;
}
.menu-hover-style-3 .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
	border: 2px solid rgb(26, 177, 93); border-image: none;
}
.menu-hover-style-3 .main-navigation-ul > li.menu-item:hover > a.menu-item-link {
	border: 2px solid rgb(26, 177, 93); border-image: none;
}
.menu-hover-style-3.mk-vm-menuwrapper li > a:hover {
	border: 2px solid rgb(26, 177, 93); border-image: none;
}
.menu-hover-style-3.mk-vm-menuwrapper li:hover > a {
	border: 2px solid rgb(26, 177, 93); border-image: none;
}
.menu-hover-style-3 .main-navigation-ul > li.menu-item:hover > a.menu-item-link {
	border: 2px solid rgb(26, 177, 93); border-image: none;
}
.menu-hover-style-3 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	border: 2px solid rgb(26, 177, 93); border-image: none; color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-3 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	border: 2px solid rgb(26, 177, 93); border-image: none; color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item > a {
	border: 2px solid rgb(26, 177, 93); border-image: none; color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor > a {
	border: 2px solid rgb(26, 177, 93); border-image: none; color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor > a::after {
	color: rgb(255, 255, 255);
}
.menu-hover-style-4 .main-navigation-ul li.menu-item > a.menu-item-link:hover {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-4 .main-navigation-ul li.menu-item:hover > a.menu-item-link {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-4 .main-navigation-ul li.current-menu-item > a.menu-item-link {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-4 .main-navigation-ul li.current-menu-ancestor > a.menu-item-link {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-4.mk-vm-menuwrapper li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-4.mk-vm-menuwrapper li:hover > a {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-item > a {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-ancestor > a {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-5 .main-navigation-ul > li.menu-item > a.menu-item-link::after {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-ancestor > a::after {
	color: rgb(255, 255, 255);
}
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-item > a::after {
	color: rgb(255, 255, 255);
}
.menu-hover-style-4.mk-vm-menuwrapper li:hover > a::after {
	color: rgb(255, 255, 255);
}
.menu-hover-style-4.mk-vm-menuwrapper li a:hover::after {
	color: rgb(255, 255, 255);
}
.menu-hover-style-1 .main-navigation-ul > li.dropdownOpen > a.menu-item-link {
	border-top-color: rgb(26, 177, 93);
}
.menu-hover-style-1 .main-navigation-ul > li.active > a.menu-item-link {
	border-top-color: rgb(26, 177, 93);
}
.menu-hover-style-1 .main-navigation-ul > li.open > a.menu-item-link {
	border-top-color: rgb(26, 177, 93);
}
.menu-hover-style-1 .main-navigation-ul > li.menu-item > a:hover {
	border-top-color: rgb(26, 177, 93);
}
.menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	border-top-color: rgb(26, 177, 93);
}
.menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	border-top-color: rgb(26, 177, 93);
}
.menu-hover-style-1.mk-vm-menuwrapper li > a:hover {
	border-left-color: rgb(26, 177, 93);
}
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-item > a {
	border-left-color: rgb(26, 177, 93);
}
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-ancestor > a {
	border-left-color: rgb(26, 177, 93);
}
.header-style-1 .menu-hover-style-3 .main-navigation-ul > li > a.menu-item-link {
	line-height: 70px;
}
.header-style-1.a-sticky .menu-hover-style-3 .main-navigation-ul > li > a.menu-item-link {
	line-height: 60px;
}
.header-style-1 .menu-hover-style-5 .main-navigation-ul > li > a.menu-item-link {
	line-height: 20px; vertical-align: middle;
}
.mk-main-navigation li.no-mega-menu ul.sub-menu {
	background-color: rgb(10, 101, 53);
}
.mk-main-navigation li.has-mega-menu > ul.sub-menu {
	background-color: rgb(10, 101, 53);
}
.mk-shopping-cart-box {
	background-color: rgb(10, 101, 53);
}
.mk-main-navigation ul.sub-menu a.menu-item-link {
	color: rgb(255, 255, 255);
}
.mk-main-navigation ul .megamenu-title {
	color: rgb(255, 255, 255);
}
.megamenu-widgets-container a {
	color: rgb(255, 255, 255);
}
.mk-shopping-cart-box .product_list_widget li a {
	color: rgb(255, 255, 255);
}
.mk-shopping-cart-box .product_list_widget li.empty {
	color: rgb(255, 255, 255);
}
.mk-shopping-cart-box .product_list_widget li span {
	color: rgb(255, 255, 255);
}
.mk-shopping-cart-box .widget_shopping_cart .total {
	color: rgb(255, 255, 255);
}
.mk-shopping-cart-box .woocommerce-mini-cart__empty-message {
	color: rgb(255, 255, 255);
}
.mk-main-navigation ul.sub-menu .menu-sub-level-arrow svg {
	fill: #ffffff;
}
.mk-main-navigation ul.sub-menu li:hover .menu-sub-level-arrow svg {
	fill: #6ed398;
}
.mk-shopping-cart-box .button {
	border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
}
.mk-main-navigation ul .megamenu-title {
	color: rgb(255, 255, 255);
}
.mk-main-navigation ul .megamenu-title::after {
	background-color: rgb(255, 255, 255);
}
.megamenu-widgets-container {
	color: rgb(255, 255, 255);
}
.megamenu-widgets-container .widgettitle {
	text-transform: uppercase; font-size: 14px; font-weight: bolder;
}
.mk-main-navigation ul.sub-menu li.menu-item ul.sub-menu li.menu-item a.menu-item-link svg {
	color: rgb(224, 224, 224);
}
.mk-main-navigation ul.sub-menu a.menu-item-link:hover {
	color: rgb(110, 211, 152) !important;
}
.main-navigation-ul ul.sub-menu li.current-menu-item > a.menu-item-link {
	color: rgb(110, 211, 152) !important;
}
.main-navigation-ul ul.sub-menu li.current-menu-parent > a.menu-item-link {
	color: rgb(110, 211, 152) !important;
}
.megamenu-widgets-container a:hover {
	color: rgb(110, 211, 152);
}
.main-navigation-ul ul.sub-menu li.menu-item a.menu-item-link:hover {
	background-color: transparent !important;
}
.main-navigation-ul ul.sub-menu li.menu-item:hover > a.menu-item-link {
	background-color: transparent !important;
}
.main-navigation-ul ul.sub-menu li.menu-item a.menu-item-link:hover {
	background-color: transparent !important;
}
.main-navigation-ul ul.sub-menu li.menu-item:hover > a.menu-item-link {
	background-color: transparent !important;
}
.main-navigation-ul ul.sub-menu li.current-menu-item > a.menu-item-link {
	background-color: transparent !important;
}
.main-navigation-ul ul.sub-menu li.current-menu-parent > a.menu-item-link {
	background-color: transparent !important;
}
.mk-search-trigger:hover {
	color: rgb(26, 177, 93);
}
.mk-header-start-tour:hover {
	color: rgb(26, 177, 93);
}
.mk-search-trigger:hover .mk-svg-icon {
	fill: #1ab15d;
}
.mk-header-start-tour:hover .mk-svg-icon {
	fill: #1ab15d;
}
.main-navigation-ul li.menu-item ul.sub-menu li.menu-item a.menu-item-link {
	text-transform: uppercase; letter-spacing: 0px; font-size: 11px; font-weight: 700;
}
.has-mega-menu .megamenu-title {
	letter-spacing: 0px;
}
.mk-responsive-wrap {
	background-color: rgb(255, 255, 255);
}
.main-navigation-ul > li.no-mega-menu > ul.sub-menu::after {
	background-color: rgb(10, 101, 53);
}
.main-navigation-ul > li.has-mega-menu > ul.sub-menu::after {
	background-color: rgb(10, 101, 53);
}
.mk-shopping-cart-box {
	border-top-color: rgb(10, 101, 53); border-top-width: 2px; border-top-style: solid;
}
@media handheld, only screen and (max-width:1140px)
{
.mk-grid {
	width: auto;
}
.mk-header-nav-container {
	width: auto;
}
.mk-classic-menu-wrapper {
	width: auto;
}
.mk-padding-wrapper {
	padding: 0px 20px;
}
.header-grid.mk-grid .header-logo.left-logo {
	left: 15px !important;
}
.header-grid.mk-grid .header-logo.right-logo {
	right: 15px !important;
}
.mk-header-right {
	right: 15px !important;
}
.mk-photo-album {
	width: 100% !important; margin-right: 0px !important; margin-left: 0px !important;
}
.mk-edge-slider .mk-grid {
	padding: 0px 20px;
}
}
@media handheld, only screen and (max-width:960px)
{
.theme-page-wrapper .theme-content {
	width: 100% !important; float: none !important;
}
:not(.full-width-layout).theme-page-wrapper {
	padding-right: 15px !important; padding-left: 15px !important;
}
:not(.full-width-layout).theme-page-wrapper :not(.no-padding).theme-content {
	padding: 25px 0px !important;
}
.theme-page-wrapper #mk-sidebar {
	padding: 0px !important; width: 100% !important; float: none !important;
}
.theme-page-wrapper #mk-sidebar .sidebar-wrapper {
	padding: 20px 0px !important;
}
}
@media handheld, only screen and (max-width:960px)
{
.logo-is-responsive .mk-desktop-logo {
	display: none !important;
}
.logo-is-responsive .mk-sticky-logo {
	display: none !important;
}
.logo-is-responsive .mk-resposnive-logo {
	display: block !important;
}
.add-header-height {
	height: 90px !important; line-height: 90px;
}
.header-style-1 .mk-header-inner {
	height: 90px !important; line-height: 90px;
}
.header-style-3 .mk-header-inner {
	height: 90px !important; line-height: 90px;
}
.header-style-3 .header-logo {
	height: 90px !important; line-height: 90px;
}
.header-style-1 .header-logo {
	height: 90px !important; line-height: 90px;
}
.header-style-1 .shopping-cart-header {
	height: 90px !important; line-height: 90px;
}
.header-style-3 .shopping-cart-header {
	height: 90px !important; line-height: 90px;
}
:not(.header-style-4).mk-header .mk-header-holder {
	top: 0px !important; position: relative !important;
}
.mk-header-padding-wrapper {
	display: none !important;
}
.mk-header-nav-container {
	width: auto !important; display: none !important;
}
.header-style-1 .mk-header-right {
	right: 55px !important;
}
.header-style-2 .mk-header-right {
	right: 55px !important;
}
.header-style-3 .mk-header-right {
	right: 55px !important;
}
.header-style-1 .mk-header-inner .mk-header-search {
	display: none !important;
}
.header-style-2 .mk-header-inner .mk-header-search {
	display: none !important;
}
.header-style-3 .mk-header-inner .mk-header-search {
	display: none !important;
}
.mk-fullscreen-search-overlay {
	display: none;
}
.mk-header-search {
	padding-bottom: 10px !important;
}
.mk-header-searchform span .text-input {
	width: 100% !important;
}
.header-style-2 .header-logo .center-logo {
	text-align: right !important;
}
.header-style-2 .header-logo .center-logo a {
	margin: 0px !important;
}
.header-logo {
	height: 90px !important;
}
.header-style-4 .header-logo {
	height: 90px !important;
}
.header-style-4 .shopping-cart-header {
	display: none;
}
.mk-header-inner {
	padding-top: 0px !important;
}
.header-style-1 .header-logo {
	left: auto !important; right: auto !important; position: relative !important;
}
.header-style-2 .header-logo {
	left: auto !important; right: auto !important; position: relative !important;
}
.header-style-4 .header-logo {
	left: auto !important; right: auto !important; position: relative !important;
}
.shopping-cart-header {
	margin: 0px 20px 0px 0px !important;
}
.mk-responsive-nav li ul li .megamenu-title:hover {
	color: rgb(68, 68, 68) !important;
}
.mk-responsive-nav li ul li .megamenu-title {
	color: rgb(68, 68, 68) !important;
}
.mk-responsive-nav li a {
	color: rgb(68, 68, 68) !important;
}
.mk-responsive-nav li ul li a:hover {
	color: rgb(68, 68, 68) !important;
}
.mk-responsive-nav .mk-nav-arrow {
	color: rgb(68, 68, 68) !important;
}
.mk-mega-icon {
	display: none !important;
}
.mk-header-bg {
	-ms-zoom: 1 !important; opacity: 1 !important;
}
.header-style-1 .mk-nav-responsive-link {
	display: block !important;
}
.header-style-2 .mk-nav-responsive-link {
	display: block !important;
}
.logo-in-middle .header-logo {
	display: block !important;
}
.mk-header-nav-container {
	height: 100%; z-index: 200;
}
.mk-main-navigation {
	position: relative; z-index: 2;
}
.header-style-4 .mk-header-inner {
	width: auto !important; overflow: visible; padding-bottom: 0px; position: relative !important;
}
.admin-bar .header-style-4 .mk-header-inner {
	top: 0px !important;
}
.header-style-4 .mk-header-right {
	display: none;
}
.header-style-4 .mk-nav-responsive-link {
	display: block !important;
}
.header-style-4 .mk-vm-menuwrapper {
	display: none;
}
.header-style-4 .mk-header-search {
	display: none;
}
.header-style-4 .header-logo {
	margin: 0px !important; width: auto !important; text-align: left !important; display: inline-block !important;
}
.vertical-header-enabled .header-style-4 .header-logo img {
	left: 20px !important; top: 50% !important; position: relative !important; max-width: 100% !important; transform: translate(0px, -50%) !important; -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -o-transform: translate(0, -50%);
}
.header-style-1 .mk-dashboard-trigger {
	display: none;
}
.header-style-2 .mk-dashboard-trigger {
	display: none;
}
.header-style-4 .mk-header-bg {
	height: 100% !important;
}
}
@media handheld, only screen and (min-width:961px)
{
.trans-header .sticky-style-slide .mk-header-holder {
	position: absolute;
}
.trans-header :not(.a-sticky).bg-true .mk-header-bg {
	opacity: 0;
}
.trans-header :not(.a-sticky).bg-true.mk-header .mk-header-inner {
	border: 0px currentColor; border-image: none;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-desktop-logo.light-logo {
	display: block !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-desktop-logo.dark-logo {
	display: none !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .main-navigation-ul > li.menu-item > a.menu-item-link {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-search-trigger {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-header-cart-count {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-header-start-tour {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.menu-item:hover > a.menu-item-link {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-2 .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-2 .main-navigation-ul > li.menu-item:hover > a.menu-item-link {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-2 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-vm-menuwrapper li a {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-vm-menuwrapper li > a::after {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-vm-menuwrapper li.mk-vm-back::after {
	color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-header-social.header-section a svg {
	fill: #fff !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .main-navigation-ul li.menu-item a.menu-item-link .mk-svg-icon {
	fill: #fff !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-search-trigger .mk-svg-icon {
	fill: #fff !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-shoping-cart-link .mk-svg-icon {
	fill: #fff !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .mk-css-icon-menu div {
	background-color: rgb(255, 255, 255) !important;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.dropdownOpen > a.menu-item-link {
	border-top-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.active > a.menu-item-link {
	border-top-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.open > a.menu-item-link {
	border-top-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.menu-item > a:hover {
	border-top-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	border-top-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	border-top-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-3 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	border: 2px solid rgb(255, 255, 255); border-image: none; color: rgb(34, 34, 34) !important; background-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-3 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	border: 2px solid rgb(255, 255, 255); border-image: none; color: rgb(34, 34, 34) !important; background-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item > a {
	border: 2px solid rgb(255, 255, 255); border-image: none; color: rgb(34, 34, 34) !important; background-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor > a {
	border: 2px solid rgb(255, 255, 255); border-image: none; color: rgb(34, 34, 34) !important; background-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-3 .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
	border: 2px solid rgb(255, 255, 255); border-image: none;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-3 .main-navigation-ul > li.menu-item:hover > a.menu-item-link {
	border: 2px solid rgb(255, 255, 255); border-image: none;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-3.mk-vm-menuwrapper li > a:hover {
	border: 2px solid rgb(255, 255, 255); border-image: none;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-3.mk-vm-menuwrapper li:hover > a {
	border: 2px solid rgb(255, 255, 255); border-image: none;
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-4 .main-navigation-ul li.menu-item > a.menu-item-link:hover {
	color: rgb(34, 34, 34) !important; background-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-4 .main-navigation-ul li.menu-item:hover > a.menu-item-link {
	color: rgb(34, 34, 34) !important; background-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-4 .main-navigation-ul li.current-menu-item > a.menu-item-link {
	color: rgb(34, 34, 34) !important; background-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.light-skin .menu-hover-style-5 .main-navigation-ul > li.menu-item > a.menu-item-link::after {
	color: rgb(34, 34, 34) !important; background-color: rgb(255, 255, 255);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-desktop-logo.dark-logo {
	display: block !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-desktop-logo.light-logo {
	display: none !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .main-navigation-ul > li.menu-item > a.menu-item-link {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-search-trigger {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-header-cart-count {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-header-start-tour {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul li.menu-item > a.menu-item-link:hover {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul li.menu-item:hover > a.menu-item-link {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul li.current-menu-item > a.menu-item-link {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul li.current-menu-ancestor > a.menu-item-link {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-2 .main-navigation-ul li.menu-item > a.menu-item-link:hover {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-2 .main-navigation-ul li.menu-item:hover > a.menu-item-link {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-2 .main-navigation-ul li.current-menu-item > a.menu-item-link {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-2 .main-navigation-ul li.current-menu-ancestor > a.menu-item-link {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-vm-menuwrapper li a {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-vm-menuwrapper li > a::after {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-vm-menuwrapper li.mk-vm-back::after {
	color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-header-social.header-section a svg {
	fill: #222 !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .main-navigation-ul li.menu-item a.menu-item-link .mk-svg-icon {
	fill: #222 !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-search-trigger .mk-svg-icon {
	fill: #222 !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-shoping-cart-link .mk-svg-icon {
	fill: #222 !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul > li.dropdownOpen > a.menu-item-link {
	border-top-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul > li.active > a.menu-item-link {
	border-top-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul > li.open > a.menu-item-link {
	border-top-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul > li.menu-item > a:hover {
	border-top-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	border-top-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-1 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	border-top-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .mk-css-icon-menu div {
	background-color: rgb(34, 34, 34) !important;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-3 .main-navigation-ul > li.current-menu-item > a.menu-item-link {
	border: 2px solid rgb(34, 34, 34); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-3 .main-navigation-ul > li.current-menu-ancestor > a.menu-item-link {
	border: 2px solid rgb(34, 34, 34); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item > a {
	border: 2px solid rgb(34, 34, 34); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor > a {
	border: 2px solid rgb(34, 34, 34); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-3 .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
	border: 2px solid rgb(34, 34, 34); border-image: none;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-3 .main-navigation-ul > li.menu-item:hover > a.menu-item-link {
	border: 2px solid rgb(34, 34, 34); border-image: none;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-3.mk-vm-menuwrapper li > a:hover {
	border: 2px solid rgb(34, 34, 34); border-image: none;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-3.mk-vm-menuwrapper li:hover > a {
	border: 2px solid rgb(34, 34, 34); border-image: none;
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-4 .main-navigation-ul li.menu-item > a.menu-item-link:hover {
	color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-4 .main-navigation-ul li.menu-item:hover > a.menu-item-link {
	color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-4 .main-navigation-ul li.current-menu-item > a.menu-item-link {
	color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-4 .main-navigation-ul li.current-menu-ancestor > a.menu-item-link {
	color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.trans-header :not(.a-sticky).bg-true.dark-skin .menu-hover-style-5 .main-navigation-ul > li.menu-item a.menu-item-link::after {
	color: rgb(255, 255, 255) !important; background-color: rgb(34, 34, 34);
}
.vertical-header-left .trans-header #theme-page > .mk-main-wrapper-holder {
	padding-left: 270px;
}
.vertical-header-left .trans-header .theme-content > .wpb_row.mk-fullwidth-true {
	padding-left: 270px;
}
.vertical-header-left .trans-header .theme-content > .mk-page-section-wrapper > :not(.half_boxed):not(.half_fluid).mk-page-section {
	padding-left: 270px;
}
.vertical-header-left .trans-header #mk-footer {
	padding-left: 270px;
}
.vertical-header-left :not(.trans-header)#mk-theme-container {
	padding-left: 270px;
}
:not(.mk-boxed-enabled).vertical-header-left :not(.trans-header)#mk-theme-container :not(.full-width-layout).theme-page-wrapper .theme-content > .wpb_row.mk-fullwidth-true {
	padding-left: 270px;
}
:not(.mk-boxed-enabled).vertical-header-left :not(.trans-header)#mk-theme-container :not(.full-width-layout).theme-page-wrapper .theme-content > .mk-page-section-wrapper > :not(.half_boxed):not(.half_fluid).mk-page-section {
	padding-left: 270px;
}
:not(.mk-boxed-enabled).vertical-header-left .trans-header#mk-theme-container .header-style-4.a-sticky ~ .master-holder :not(.full-width-layout).theme-page-wrapper .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
	margin-left: 270px;
}
:not(.mk-boxed-enabled).vertical-header-left :not(.trans-header)#mk-theme-container :not(.full-width-layout).theme-page-wrapper .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
	margin-left: 270px;
}
.vertical-header-left .trans-header#mk-theme-container .full-width-layout .theme-content > .mk-fullwidth-true {
	margin-left: -285px;
}
.vertical-header-left .trans-header#mk-theme-container .full-width-layout .theme-content > .mk-page-section-wrapper {
	margin-left: -285px;
}
.vertical-header-left .trans-header#mk-theme-container .full-width-layout .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
	margin-left: 270px;
}
.vertical-header-right .trans-header #theme-page > .mk-main-wrapper-holder {
	padding-right: 270px;
}
.vertical-header-right .trans-header .theme-content > .wpb_row.mk-fullwidth-true {
	padding-right: 270px;
}
.vertical-header-right .trans-header .theme-content > .mk-page-section-wrapper > :not(.half_boxed):not(.half_fluid).mk-page-section {
	padding-right: 270px;
}
.vertical-header-right .trans-header #mk-footer {
	padding-right: 270px;
}
.vertical-header-right :not(.trans-header)#mk-theme-container {
	padding-right: 270px;
}
:not(.mk-boxed-enabled).vertical-header-right :not(.trans-header)#mk-theme-container :not(.full-width-layout).theme-page-wrapper .theme-content > .wpb_row.mk-fullwidth-true {
	padding-right: 270px !important;
}
:not(.mk-boxed-enabled).vertical-header-right :not(.trans-header)#mk-theme-container :not(.full-width-layout).theme-page-wrapper .theme-content > .mk-page-section-wrapper > :not(.half_boxed):not(.half_fluid).mk-page-section {
	padding-right: 270px !important;
}
:not(.mk-boxed-enabled).vertical-header-right .trans-header#mk-theme-container .header-style-4.a-sticky ~ .master-holder :not(.full-width-layout).theme-page-wrapper .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
	margin-right: 270px;
}
:not(.mk-boxed-enabled).vertical-header-right :not(.trans-header)#mk-theme-container :not(.full-width-layout).theme-page-wrapper .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
	margin-right: 270px;
}
.vertical-header-right .trans-header#mk-theme-container .full-width-layout .theme-content > .mk-fullwidth-true {
	margin-right: -285px;
}
.vertical-header-right .trans-header#mk-theme-container .full-width-layout .theme-content > .mk-page-section-wrapper {
	margin-right: -285px;
}
.vertical-header-right .trans-header#mk-theme-container .full-width-layout .theme-content > .mk-page-section-wrapper > div[class*='half_'] {
	margin-right: 270px;
}
}
@media handheld, only screen and (max-width:960px)
{
.mk-go-top {
	right: 22px;
}
.mk-quick-contact-wrapper {
	right: 22px;
}
.mk-go-top.is-active {
	right: 22px; bottom: 72px;
}
.mk-quick-contact-wrapper.is-active {
	right: 22px;
}
}
.mk-side-dashboard {
	background-color: rgb(68, 68, 68);
}
.mk-side-dashboard {
	color: rgb(238, 238, 238); font-size: 12px; font-weight: 400;
}
.mk-side-dashboard p {
	color: rgb(238, 238, 238); font-size: 12px; font-weight: 400;
}
.mk-side-dashboard .widgettitle {
	color: rgb(255, 255, 255); text-transform: uppercase; font-size: 14px; font-weight: bolder;
}
.mk-side-dashboard .widgettitle a {
	color: rgb(255, 255, 255);
}
.mk-side-dashboard .widget a {
	color: rgb(250, 250, 250);
}
.sidedash-navigation-ul li a {
	text-transform: uppercase; font-size: 13px; font-weight: 600;
}
.sidedash-navigation-ul .sub-menu li a {
	text-transform: uppercase; font-size: 12px; font-weight: 400;
}
.sidedash-navigation-ul li a {
	color: rgb(255, 255, 255);
}
.sidedash-navigation-ul li .mk-nav-arrow {
	color: rgb(255, 255, 255);
}
.sidedash-navigation-ul li a:hover {
	color: rgb(255, 255, 255);
}
.mk-side-dashboard :not(.widget_social_networks).widget a:hover {
	color: rgb(26, 177, 93);
}
#mk-sidebar {
	color: rgb(153, 153, 153); font-size: 14px; font-weight: 400;
}
#mk-sidebar p {
	color: rgb(153, 153, 153); font-size: 14px; font-weight: 400;
}
#mk-sidebar .widgettitle {
	color: rgb(51, 51, 51); text-transform: uppercase; font-size: 14px; font-weight: bolder;
}
#mk-sidebar .widgettitle a {
	color: rgb(51, 51, 51);
}
#mk-sidebar .widget a {
	color: rgb(153, 153, 153);
}
#mk-sidebar :not(.widget_social_networks).widget a:hover {
	color: rgb(26, 177, 93);
}
.mk-testimonial-author {
	color: rgb(26, 177, 93);
}
.modern-style .mk-testimonial-company {
	color: rgb(26, 177, 93);
}
#wp-calendar td#today {
	color: rgb(26, 177, 93);
}
.news-full-without-image .news-categories span {
	color: rgb(26, 177, 93);
}
.news-half-without-image .news-categories span {
	color: rgb(26, 177, 93);
}
.news-fourth-without-image .news-categories span {
	color: rgb(26, 177, 93);
}
.mk-read-more {
	color: rgb(26, 177, 93);
}
.news-single-social li a {
	color: rgb(26, 177, 93);
}
.portfolio-carousel-cats {
	color: rgb(26, 177, 93);
}
.blog-showcase-more {
	color: rgb(26, 177, 93);
}
.simple-style .mk-employee-item:hover .team-member-position {
	color: rgb(26, 177, 93);
}
.mk-portfolio-classic-item .portfolio-categories a {
	color: rgb(26, 177, 93);
}
.register-login-links a:hover {
	color: rgb(26, 177, 93);
}
.not-found-subtitle {
	color: rgb(26, 177, 93);
}
.mk-mini-callout a {
	color: rgb(26, 177, 93);
}
.search-loop-meta a {
	color: rgb(26, 177, 93);
}
.mk-tooltip a:hover {
	color: rgb(26, 177, 93);
}
.new-tab-readmore {
	color: rgb(26, 177, 93);
}
.mk-news-tab .mk-tabs-tabs li.is-active a {
	color: rgb(26, 177, 93);
}
.mk-woo-tabs .mk-tabs-tabs li.ui-state-active a {
	color: rgb(26, 177, 93);
}
.monocolor.pricing-table .pricing-price span {
	color: rgb(26, 177, 93);
}
.quantity .plus:hover {
	color: rgb(26, 177, 93);
}
.quantity .minus:hover {
	color: rgb(26, 177, 93);
}
.blog-modern-comment:hover {
	color: rgb(26, 177, 93);
}
.blog-modern-share:hover {
	color: rgb(26, 177, 93);
}
.mk-tabs .mk-tabs-tabs li.is-active a > i {
	color: rgb(26, 177, 93) !important;
}
.mk-accordion .mk-accordion-single.current .mk-accordion-tab::before {
	color: rgb(26, 177, 93) !important;
}
.widget_testimonials .testimonial-slider .testimonial-author {
	color: rgb(26, 177, 93) !important;
}
#mk-filter-portfolio li a:hover {
	color: rgb(26, 177, 93) !important;
}
#mk-language-navigation ul li a:hover {
	color: rgb(26, 177, 93) !important;
}
#mk-language-navigation ul li.current-menu-item > a {
	color: rgb(26, 177, 93) !important;
}
.mk-quick-contact-wrapper h4 {
	color: rgb(26, 177, 93) !important;
}
.divider-go-top:hover i {
	color: rgb(26, 177, 93) !important;
}
.widget-sub-navigation ul li a:hover {
	color: rgb(26, 177, 93) !important;
}
#mk-footer .widget_posts_lists ul li .post-list-meta time {
	color: rgb(26, 177, 93) !important;
}
.mk-footer-tweets .tweet-username {
	color: rgb(26, 177, 93) !important;
}
.product-category .item-holder:hover h4 {
	color: rgb(26, 177, 93) !important;
}
.accent-bg-color {
	background-color: rgb(26, 177, 93) !important;
}
.image-hover-overlay {
	background-color: rgb(26, 177, 93) !important;
}
.newspaper-portfolio {
	background-color: rgb(26, 177, 93) !important;
}
.similar-posts-wrapper .post-thumbnail:hover > .overlay-pattern {
	background-color: rgb(26, 177, 93) !important;
}
.portfolio-logo-section {
	background-color: rgb(26, 177, 93) !important;
}
.post-list-document .post-type-thumb:hover {
	background-color: rgb(26, 177, 93) !important;
}
#cboxTitle {
	background-color: rgb(26, 177, 93) !important;
}
#cboxPrevious {
	background-color: rgb(26, 177, 93) !important;
}
#cboxNext {
	background-color: rgb(26, 177, 93) !important;
}
#cboxClose {
	background-color: rgb(26, 177, 93) !important;
}
.comment-form-button {
	background-color: rgb(26, 177, 93) !important;
}
.mk-dropcaps.fancy-style {
	background-color: rgb(26, 177, 93) !important;
}
.mk-image-overlay {
	background-color: rgb(26, 177, 93) !important;
}
.pinterest-item-overlay {
	background-color: rgb(26, 177, 93) !important;
}
.news-full-with-image .news-categories span {
	background-color: rgb(26, 177, 93) !important;
}
.news-half-with-image .news-categories span {
	background-color: rgb(26, 177, 93) !important;
}
.news-fourth-with-image .news-categories span {
	background-color: rgb(26, 177, 93) !important;
}
.widget-portfolio-overlay {
	background-color: rgb(26, 177, 93) !important;
}
.portfolio-carousel-overlay {
	background-color: rgb(26, 177, 93) !important;
}
.blog-carousel-overlay {
	background-color: rgb(26, 177, 93) !important;
}
.mk-blog-classic-item .blog-loop-comments span {
	background-color: rgb(26, 177, 93) !important;
}
.mk-similiar-overlay {
	background-color: rgb(26, 177, 93) !important;
}
.mk-skin-button {
	background-color: rgb(26, 177, 93) !important;
}
.mk-flex-caption .flex-desc span {
	background-color: rgb(26, 177, 93) !important;
}
.mk-icon-box .mk-icon-wrapper i:hover {
	background-color: rgb(26, 177, 93) !important;
}
.mk-quick-contact-link:hover {
	background-color: rgb(26, 177, 93) !important;
}
.quick-contact-active.mk-quick-contact-link {
	background-color: rgb(26, 177, 93) !important;
}
.mk-fancy-table th {
	background-color: rgb(26, 177, 93) !important;
}
.ui-slider-handle {
	background-color: rgb(26, 177, 93) !important;
}
.widget_price_filter .ui-slider-range {
	background-color: rgb(26, 177, 93) !important;
}
#review_form_wrapper input[type=submit] {
	background-color: rgb(26, 177, 93) !important;
}
#mk-nav-search-wrapper form .nav-side-search-icon:hover {
	background-color: rgb(26, 177, 93) !important;
}
form.ajax-search-complete i {
	background-color: rgb(26, 177, 93) !important;
}
.blog-modern-btn {
	background-color: rgb(26, 177, 93) !important;
}
.showcase-blog-overlay {
	background-color: rgb(26, 177, 93) !important;
}
[type=submit].gform_button {
	background-color: rgb(26, 177, 93) !important;
}
.single_add_to_cart_button {
	background-color: rgb(26, 177, 93) !important;
}
.button.checkout-button {
	background-color: rgb(26, 177, 93) !important;
}
.woocommerce #payment #place_order {
	background-color: rgb(26, 177, 93) !important;
}
#respond #submit {
	background-color: rgb(26, 177, 93) !important;
}
.widget_price_filter .price_slider_amount .button {
	background-color: rgb(26, 177, 93) !important;
}
.widget_shopping_cart .button.checkout {
	background-color: rgb(26, 177, 93) !important;
}
.a_accent-bg-hover:hover {
	background-color: rgb(26, 177, 93);
}
::selection {
	color: rgb(255, 255, 255); background-color: rgb(26, 177, 93);
}
.mk-circle-image .item-holder {
	box-shadow: 0px 0px 0px 1px #1ab15d; -webkit-box-shadow: 0 0 0 1px #1ab15d; -moz-box-shadow: 0 0 0 1px #1ab15d;
}
.mk-blockquote.line-style {
	border-color: rgb(26, 177, 93) !important;
}
.bypostauthor > .mk-single-comment .comment-content {
	border-color: rgb(26, 177, 93) !important;
}
.bypostauthor > .mk-single-comment .comment-content::after {
	border-color: rgb(26, 177, 93) !important;
}
.mk-tabs.simple-style .mk-tabs-tabs li.is-active a {
	border-color: rgb(26, 177, 93) !important;
}
.news-full-with-image .news-categories span {
	box-shadow: 8px 0px 0px #1ab15d, -8px 0px 0px #1ab15d;
}
.news-half-with-image .news-categories span {
	box-shadow: 8px 0px 0px #1ab15d, -8px 0px 0px #1ab15d;
}
.news-fourth-with-image .news-categories span {
	box-shadow: 8px 0px 0px #1ab15d, -8px 0px 0px #1ab15d;
}
.mk-flex-caption .flex-desc span {
	box-shadow: 8px 0px 0px #1ab15d, -8px 0px 0px #1ab15d;
}
.monocolor.pricing-table .pricing-cols .pricing-col.featured-plan {
	border: 1px solid rgb(26, 177, 93) !important; border-image: none !important;
}
.mk-skin-button.three-dimension {
	box-shadow: 0px 3px 0px 0px #158e4a;
}
.mk-skin-button.three-dimension:active {
	box-shadow: 0px 1px 0px 0px #158e4a;
}
