ul.wpv_pagination_dots {
	list-style: none; margin: 0px;
}
ul.wpv_pagination_dots li.wpv_pagination_dots_item {
	margin-right: 5px; float: left; list-style-type: none; list-style-position: outside;
}
.wpv_pagination_dots li.wpv_page_current a {
	background-position: 0px -16px;
}
.wpv_pagination_dots li a {
	width: 16px; height: 0px; overflow: hidden; padding-top: 16px; float: left; display: block; background-image: url("../img/pagination_dots.png");
}
.wpv-filter-next-link {
	z-index: 10;
}
.wpv-filter-previous-link {
	z-index: 10;
}
.wpv-filter-first-link {
	z-index: 10;
}
.wpv-filter-last-link {
	z-index: 10;
}
.wpv-pagination::before {
	display: table; content: " ";
}
.wpv-pagination::after {
	display: table; content: " ";
}
.wpv-pagination::after {
	clear: both;
}
.pagination-dots {
	list-style: none; text-align: center; display: block;
}
.pagination-dots > li {
	display: inline-block;
}
.pagination-dots > li > a.page-link {
	margin: 0.1em; padding: 0px; border-radius: 15px; width: 14px; height: 14px; text-indent: -1000em; overflow: hidden; text-decoration: none; display: block; cursor: pointer; box-shadow: none;
}
.pagination-dots a {
	border: 1px solid rgba(0, 0, 0, 0.15); border-image: none;
}
.pagination-dots a:hover {
	background-color: currentColor;
}
.pagination-dots .active-dot a {
	background-color: currentColor;
}
.pagination-dots .active-dot a {
	border-color: currentColor;
}
.wpv-sorting-indicator {
	width: 7px; height: 4px; margin-top: 8px; margin-left: 7px; display: none; position: absolute; background-image: url("../img/sort.gif"); background-repeat: no-repeat;
}
a.wpv-header-no-sort:hover .wpv-sorting-indicator {
	background-position: 0px 0px; display: inline;
}
a.wpv-header-asc .wpv-sorting-indicator {
	background-position: 0px 0px; display: inline;
}
a.wpv-header-desc:hover .wpv-sorting-indicator {
	background-position: 0px 0px; display: inline;
}
a.wpv-header-desc .wpv-sorting-indicator {
	background-position: -7px 0px; display: inline;
}
a.wpv-header-asc:hover .wpv-sorting-indicator {
	background-position: -7px 0px; display: inline;
}
select.wpv-sort-control-select {
	width: auto; display: inline;
}
label.wpv-sort-control-radio-label {
	margin-right: 10px;
}
input.wpv-sort-control-radio {
	margin-right: 2px;
}
.wpv-sort-list-dropdown {
	margin: 0px 0px 1px; vertical-align: top; display: inline-block; position: relative; max-width: 100%;
}
.wpv-sort-list-dropdown > span.wpv-sort-list {
	margin: 0px !important; padding: 0px; left: 0px; top: 0px; right: 0px; bottom: 0px; border-top-color: rgb(205, 205, 205); border-top-width: 1px; border-top-style: solid; display: block; position: absolute;
}
.wpv-sort-list-dropdown .wpv-sort-list-item {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(205, 205, 205); margin: 0px; padding: 0px; border-image: none; float: left; display: none; position: relative; z-index: 2;
}
.wpv-sort-list-dropdown .wpv-sort-list-item.wpv-sort-list-current {
	display: block; z-index: 1;
}
.wpv-sort-list-dropdown .wpv-sort-list-item a {
	padding: 5px 40px 5px 10px; color: rgb(68, 68, 68); line-height: 1; text-decoration: none; display: block; box-shadow: none; background-color: rgb(255, 255, 255);
}
.wpv-sort-list-dropdown .wpv-sort-list-item.wpv-sort-list-current a {
	color: rgb(0, 0, 0); cursor: default; background-color: rgb(238, 238, 238);
}
.wpv-sort-list-dropdown a span {
	vertical-align: middle;
}
.rtl .wpv-sort-list-dropdown .wpv-sort-list-item a {
	padding-right: 10px; padding-left: 40px;
}
.wpv-sort-list-dropdown .wpv-sort-list-item a::after {
	border-width: 5px; border-style: solid; border-color: currentColor transparent transparent; border-image: none; top: calc(50% - .175em); right: 10px; vertical-align: middle; display: inline-block; position: absolute; content: "";
}
.rtl .wpv-sort-list-dropdown .wpv-sort-list-item a::after {
	left: 10px; right: auto;
}
.wpv-sort-list-dropdown > span.wpv-sort-list:hover .wpv-sort-list-item a::after {
	border: currentColor; border-image: none;
}
.wpv-sort-list-dropdown a:hover {
	background: rgb(238, 238, 238); color: rgb(0, 0, 0);
}
.wpv-sort-list-dropdown a:focus {
	background: rgb(238, 238, 238); color: rgb(0, 0, 0);
}
div.ui-datepicker {
	font-size: 12px;
}
.ui-datepicker-trigger {
	cursor: pointer;
}
.wpv_date_input {
	cursor: pointer;
}
.wpv-date-front-end-clear {
	cursor: pointer;
}
.wpv-profile-picture-shape-circle {
	border-radius: 50% !important;
}
.wpv-profile-picture-shape-square {
	border-radius: 0% !important;
}
