/* Code tidied up by ScrapBook */
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
form { margin: 0px; padding: 0px; }
img { border: 0px none; }
table { border-collapse: collapse; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
