/* Code tidied up by ScrapBook */
@import url("css.css");
@media screen and (max-width: 600px) {
}
.typeahead-button, .typeahead-container, .typeahead-field, .typeahead-filter, .typeahead-query { position: relative; }
.typeahead-container button, .typeahead-field input, .typeahead-select { line-height: 1.42857; border: 1px solid rgb(204, 204, 204); padding: 6px 12px; height: 32px; }
.typeahead-button, .typeahead-dropdown > li > a { white-space: nowrap; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
.typeahead-container, .typeahead-result.detached .typeahead-list { font-family: "Open Sans",Arial,Helvetica,Sans-Serif; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
.typeahead-container * { box-sizing: border-box; }
.typeahead-container *, .typeahead-field input { box-sizing: border-box; }
.typeahead-query { width: 100%; z-index: 2; }
.typeahead-field { display: table; border-collapse: separate; width: 100%; }
.typeahead-button { font-size: 0px; width: 1%; vertical-align: middle; }
.typeahead-field > span { display: table-cell; vertical-align: top; }
.typeahead-button button { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
.typeahead-field input, .typeahead-select { display: block; width: 100%; font-size: 13px; color: rgb(85, 85, 85); background: none repeat scroll 0px 0px transparent; border-radius: 2px 0px 0px 2px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.typeahead-field input { box-sizing: border-box; }
.typeahead-container .typeahead-field input { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.typeahead-container button { display: inline-block; margin-bottom: 0px; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; background-color: rgb(255, 255, 255); white-space: nowrap; font-size: 13px; -moz-user-select: none; color: rgb(51, 51, 51); box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.05) inset; }
.typeahead-container button:active, .typeahead-container button:focus { outline: thin dotted; outline-offset: -2px; }
.typeahead-container button:focus, .typeahead-container button:hover { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); border-color: rgb(173, 173, 173); }
.typeahead-container button.active, .typeahead-container button:active { outline: 0px none; background-image: none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.typeahead-button button, .typeahead-filter button { margin-left: -1px; border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.typeahead-button, .typeahead-filter { z-index: 1; }
.typeahead-button:active, .typeahead-button:active button:active, .typeahead-button:focus, .typeahead-button:focus button:focus, .typeahead-button:hover, .typeahead-container.filter .typeahead-filter, .typeahead-filter:active, .typeahead-filter:focus, .typeahead-filter:hover { z-index: 1001; }
button::-moz-focus-inner { padding: 0px; border: 0px none; }
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
}
@media all and (max-width: 900px) {
}
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
@media print {
  *, *:before, *:after { background: none repeat scroll 0% 0% transparent ! important; color: rgb(0, 0, 0) ! important; box-shadow: none ! important; text-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff2") format("woff2"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(0, 107, 154); text-decoration: none; }
a:hover, a:focus { color: rgb(0, 54, 78); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.img-responsive { display: block; max-width: 100%; height: auto; }
[role="button"] { cursor: pointer; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
ul, ol { margin-top: 0px; margin-bottom: 10px; }
@media (min-width: 768px) {
}
address { margin-bottom: 20px; font-style: normal; line-height: 1.42857; }
.container { margin-right: auto; margin-left: auto; padding-left: 10px; padding-right: 10px; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
@media (min-width: 768px) {
  .container { width: 740px; }
}
@media (min-width: 992px) {
  .container { width: 960px; }
}
@media (min-width: 1200px) {
  .container { width: 960px; }
}
.row { margin-left: -10px; margin-right: -10px; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 10px; padding-right: 10px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-4 { width: 33.3333%; }
.col-xs-12 { width: 100%; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-10 { width: 83.3333%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-4 { width: 33.3333%; }
  .col-md-8 { width: 66.6667%; }
  .col-md-12 { width: 100%; }
  .col-md-offset-2 { margin-left: 16.6667%; }
}
@media (min-width: 1200px) {
}
table { background-color: transparent; }
@media screen and (max-width: 767px) {
}
@media not all {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media not all, not all {
}
@media screen and (min-width: 768px) {
}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.pull-right, #secondary-nav { float: right ! important; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@font-face {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  src: url("fontello.eot") format("embedded-opentype"), url("fontello.woff") format("woff"), url("fontello.ttf") format("truetype"), url("fontello.svg") format("svg");
}
[class^="icon__"]:before, [class*=" icon__"]:before { font-family: "fontello"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; text-align: center; font-variant: normal; text-transform: none; }
.icon__facebook:before { content: ""; }
.icon__linkedin:before { content: ""; }
.icon__search:before { content: ""; }
.icon__angle__right:before { content: ""; }
body { background-color: rgb(245, 243, 239); font-family: "Open Sans",sans-serif; font-size: 16px; overflow-x: hidden; }
section { padding-top: 40px; padding-bottom: 40px; }
section:nth-of-type(2n) { background-color: rgb(255, 255, 255); border-top: 1px solid rgb(230, 230, 230); border-bottom: 1px solid rgb(230, 230, 230); }
section .container section { background-color: transparent; border: medium none; padding-top: 30px; padding-bottom: 30px; }
section .container section:first-child { padding-top: 0px; }
section .container section:last-child { padding-bottom: 0px; }
@media (max-width: 500px) {
}
img { max-width: 100%; display: block; height: auto ! important; }
a { color: rgb(0, 107, 154); text-decoration: none; }
a:hover { color: rgb(36, 53, 68); }
h1 { font-weight: normal; font-size: 48px; line-height: 1.4; margin-top: 30px; margin-bottom: 30px; }
h2 { font-weight: normal; font-size: 30px; margin-top: 55px; margin-bottom: 30px; }
@media (max-width: 767px) {
  h1 { margin-top: 30px; font-size: 24px; }
  h2 { font-size: 20px; margin-top: 50px; margin-bottom: 15px; }
}
.header { position: relative; z-index: 1050; height: 90px; padding-top: 20px; padding-bottom: 20px; background-color: rgb(255, 255, 255); }
.header .logo { width: 132px; height: 58px; display: block; float: left; background: url("logo.png") no-repeat scroll center center / cover  transparent; }
@media (max-width: 767px) {
  .header { height: 60px; z-index: 1055; padding-top: 10px; padding-bottom: 10px; }
  .header .logo { width: 104px; height: 46px; background: url("logo-mobil.png") no-repeat scroll center center transparent; }
}
.footer { padding-top: 40px; padding-bottom: 90px; background-color: rgb(36, 53, 68); color: rgb(255, 255, 255); }
.footer a { color: rgb(109, 207, 246); text-decoration: none; }
.footer a:hover { color: rgb(255, 255, 255); }
.footer address { margin-bottom: 0px; }
.footer .footer__items { list-style: none outside none; margin-bottom: 25px; padding: 0px; }
.footer .footer__items .footer__lead { height: 22px; margin-bottom: 26px; font-size: 16px; font-weight: bold; text-transform: uppercase; }
.footer .footer__items .footer__item p { margin-bottom: 25px; }
.footer .footer__items .footer__open, .footer .footer__items .footer__link { line-height: 24px; }
.footer .social-share .footer__item { float: right; }
@media (max-width: 767px) {
  .footer { padding-top: 0px; }
  .footer .footer__lead { margin-top: 50px; }
  .footer .social-share { margin-bottom: 10px; }
  .footer .social-share .footer__item { float: left; margin-right: 15px; }
  .footer .social-share .footer__lead { margin-top: 0px; }
}
#nav-wrapper { position: relative; z-index: 1050; background: url("header.jpg") no-repeat scroll center top / cover  transparent; }
#nav-inner-wrap { position: relative; }
#navigation { height: 50px; background-color: rgba(180, 65, 46, 0.8); }
@media (max-width: 767px) {
  #navigation { overflow: hidden; }
}
.primary-nav__items { float: right; list-style: none outside none; padding: 0px; margin: 0px; }
.primary-nav__item { float: left; }
.primary-nav__item a { display: inline-block; padding: 0px 15px; line-height: 50px; font-size: 18px; color: rgb(255, 255, 255); text-transform: uppercase; transition-duration: 0.25s; transition-timing-function: ease; transition-delay: 0s; transition-property: background-color, color; }
.primary-nav__item.active a, .primary-nav__item:hover a, .primary-nav__item:focus a { background-color: rgb(255, 255, 255); color: rgb(180, 65, 46); text-decoration: none; }
.mobile-toggle { position: absolute; right: 10px; top: 0px; display: none; width: 50px; height: 50px; background-color: rgb(230, 230, 230); text-align: center; color: rgb(180, 65, 46); cursor: pointer; }
.mobile-toggle:after { font-size: 25px; content: ""; font-family: "fontello"; font-style: normal; font-weight: normal; line-height: 50px; }
@media (max-width: 767px) {
  .mobile-toggle { display: block; }
  #primary-nav-wrap { width: 100%; }
  .primary-nav__items { display: flex; flex-direction: column; }
  .primary-nav__item { float: none; text-align: right; }
  .primary-nav__item a { padding-right: 70px; }
  .primary-nav__item.active { order: -1; }
}
#secondary-nav { position: absolute; top: -78px; right: 10px; }
#secondary-nav .secondary-nav__items { list-style: none outside none; padding: 0px; margin: 0px; }
#secondary-nav .secondary-nav__item { display: inline-block; margin-left: 26px; }
#secondary-nav .secondary-nav__item a { font-size: 12px; font-weight: bold; color: rgb(36, 53, 68); text-decoration: none; }
#secondary-nav .secondary-nav__item a:hover { color: rgb(0, 107, 154); }
@media (max-width: 767px) {
  #secondary-nav { position: relative; top: auto; right: auto; width: 100%; height: 58px; background-color: rgb(255, 255, 255); border-top: 1px solid rgb(218, 221, 224); }
  #secondary-nav .secondary-nav__items { text-align: center; }
  #secondary-nav .secondary-nav__item { margin-right: auto; margin-left: auto; width: 24%; line-height: 58px; }
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.icon { display: block; width: 45px; height: 45px; background-color: rgb(255, 255, 255); font-size: 22px; line-height: 40px; text-align: center; border-radius: 50%; transition: all 0.25s ease 0s; }
.icon.icon__blue { color: rgb(36, 53, 68); border: 1px solid rgb(36, 53, 68); }
.icon.icon__blue:hover { background-color: rgb(36, 53, 68); border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); }
.footer .icon { margin-bottom: 15px; text-decoration: none; }
.box { position: relative; margin-bottom: 20px; background-color: rgb(255, 255, 255); border-radius: 3px; box-shadow: 0px 1px 2px 0px rgba(27, 27, 29, 0.2); }
@media (max-width: 767px) {
}
.box .box-body { border-top: 2px solid rgb(245, 247, 248); }
.box .box-body { position: relative; padding: 25px; }
.box a.box-head { cursor: pointer; text-transform: none; transition: all 0.25s ease 0s; }
.box a.box-head:hover { color: rgb(36, 53, 68); text-decoration: none; cursor: pointer; }
.box .box-head { display: block; padding: 30px; margin: 0px; border-radius: 3px; font-size: 16px; font-weight: bold; line-height: 1.2; text-transform: uppercase; }
.box .box-head span { float: right; }
.box-link { transition: all 0.25s ease 0s; }
@media (max-width: 767px) {
}
.box-link:hover { box-shadow: 0px 0px 16px rgba(27, 27, 29, 0.25); }
.box-link .box-body, .box-link .box-head { padding: 15px 30px; }
.typeahead-query input { border-radius: 5px; border: 1px solid rgb(102, 102, 102); height: 54px; padding: 10px 20px; font-size: 18px; box-shadow: 0px 4px 4px rgba(27, 27, 29, 0.094) inset; outline: medium none; }
.typeahead-query input:focus { box-shadow: 0px 0px 5px rgba(0, 107, 154, 0.8); background-image: none; border: medium none; }
.typeahead-query input:focus:-moz-placeholder { color: transparent; }
.typeahead-query input:focus::-moz-placeholder { color: transparent; }
.typeahead-query input:-moz-placeholder { color: rgb(35, 39, 41); }
.typeahead-query input::-moz-placeholder { color: rgb(35, 39, 41); }
.typeahead-button { position: absolute; display: block; z-index: 9; top: 0px; right: 42px; }
.typeahead-button button { height: 52px; box-shadow: none; border: medium none; background-color: transparent; outline: medium none; }
.typeahead-button button .icon__search { font-size: 24px; color: rgb(95, 97, 98); }
.typeahead-button button:focus, .typeahead-button button:hover { background-color: transparent; border: medium none; outline: medium none; box-shadow: none; }
@media (max-width: 767px) {
  .typeahead-query input { height: 42px; padding: 4px 20px; font-size: 16px; }
  .typeahead-button { right: 37px; }
  .typeahead-button button { height: 42px; margin-top: -2px; }
  .typeahead-button button .icon__search { font-size: 18px; }
}
#frontpage-search { padding: 91px 0px 118px; }
#frontpage-search .typeahead-container { padding: 20px; background-color: rgba(255, 255, 255, 0.6); border-radius: 5px; }
@media (max-width: 767px) {
  #frontpage-search { padding: 50px 0px; }
  #frontpage-search .typeahead-container { padding: 10px; }
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
.link-catalog { list-style: none outside none; padding: 0px; }
.link-catalog .link-list { list-style: none outside none; padding: 0px; }
.link-catalog .link-item { margin-bottom: 10px; font-size: 14px; }
.link-catalog .link-item a { display: inline-block; width: 100%; text-decoration: none; cursor: pointer; }
.link-catalog .link-item a:hover { color: rgb(36, 53, 68); transition: all 0.25s ease 0s; }
@media (max-width: 767px) {
  li:first-child > .box-link, div:first-child > .box-link { border-top: 1px solid rgb(196, 194, 191); }
  .box-link { background-color: transparent; border-radius: 0px; box-shadow: none; margin: 0px; border-bottom: 1px solid rgb(196, 194, 191); }
  .box-link:hover { box-shadow: none; }
  .box-link .box-head { padding: 15px 10px; }
  .box-link .box-body { display: none; }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
  .container .row > div .event--calender { display: none; }
  .container .row .pane-ballerup-node-event-widget div .event--calender { display: block; }
  .container .row > div:nth-child(2) .event--calender { display: block; }
}
.event { display: block; position: relative; border-top: 3px solid rgb(36, 53, 68); cursor: pointer; transition: border 0.25s ease 0s; overflow: hidden; color: rgb(36, 53, 68); }
.event img { transition: opacity 0.25s ease 0s; display: block; width: 100%; height: auto; backface-visibility: hidden; }
.event:hover { border-top: 3px solid rgb(180, 65, 46); text-decoration: none; }
.event:hover .event__cover img { opacity: 0.7; }
.event__cover { position: relative; margin-bottom: 10px; }
@media (max-width: 767px) {
  .event--news.event { border: medium none; margin-bottom: 10px; }
  .event--news h2.event__title { margin: 5px 0px; }
  .event--news .event__description { display: block; margin-bottom: 20px; }
  .container .row > div .event--news .event__description { display: none; }
  .container .row > div:nth-child(2) .event--news .event__description { display: block; }
}
.event__date { position: absolute; top: 20px; left: 20px; width: 50px; height: 50px; padding-top: 10px; background-color: rgb(255, 255, 255); border-radius: 50%; font-size: 18px; font-weight: bold; text-align: center; line-height: 15px; color: rgb(27, 27, 29); }
.event__release { font-size: 12px; font-weight: bold; color: rgb(102, 102, 102); }
.event__title { min-height: 40px; font-size: 24px; margin-top: 0px; margin-bottom: 10px; font-weight: 400; line-height: 1.4; }
.event__description { font-size: 16px; font-weight: 400; line-height: 1.6; }
@media (min-width: 768px) and (max-width: 991px) {
  .event__title { min-height: 34px; font-size: 20px; }
  .event__description { font-size: 14px; }
}
.section__title { font-size: 16px; font-weight: bold; text-transform: uppercase; margin-top: 0px; margin-bottom: 20px; }
.section__title .show-all { float: right; }
.show-all { display: inline-block; vertical-align: middle; font-size: 14px; color: rgb(36, 53, 68); font-weight: bold; text-transform: none; transition: all 0.25s ease 0s; }
.show-all span { vertical-align: middle; display: inline-block; }
.show-all .icon__angle__right { display: inline-block; vertical-align: middle; width: 16px; height: 16px; margin-right: 10px; background-color: rgb(36, 53, 68); border-radius: 50%; color: rgb(255, 255, 255); text-align: center; transition: all 0.25s ease 0s; }
.show-all .icon__angle__right:before { margin-left: 1px; height: 16px; width: 15px; line-height: 15px; display: block; }
.show-all:hover { color: rgb(0, 107, 154); text-decoration: none; cursor: pointer; }
.show-all:hover .icon__angle__right { background-color: rgb(0, 107, 154); }
.social-media { display: block; position: relative; }
.social-media:hover .cover { opacity: 0.7; }
.social-media:hover .social-media-footer { height: 86px; padding: 20px; }
.social-media .cover { display: block; max-width: 100%; min-width: 100%; height: auto; border-radius: 5px; transition: all 0.25s ease 0s; backface-visibility: hidden; }
.social-media .social-media-footer { position: absolute; bottom: 0px; width: 100%; height: 65px; padding: 12px 20px; background-color: rgba(180, 65, 46, 0.85); border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; transition: all 0.25s ease 0s; font-size: 16px; font-weight: bold; color: rgb(255, 255, 255); text-transform: uppercase; }
.social-media .social-media-footer .icon { display: inline-block; width: 40px; height: 40px; vertical-align: middle; border: medium none; margin-right: 20px; color: rgb(180, 65, 46); }
.social-media .social-media-footer .title { display: inline-block; vertical-align: middle; }
@media (min-width: 768px) and (max-width: 991px) {
  .social-media:hover .social-media-footer { height: 79px; padding: 22px 12px; }
  .social-media .social-media-footer { padding: 12px; font-size: 14px; height: 59px; }
  .social-media .social-media-footer .icon { width: 35px; height: 35px; margin-right: 12px; font-size: 18px; line-height: 35px; }
}
@media (max-width: 767px) {
  .social-media .cover { display: none; }
  .social-media:hover .social-media-footer { height: 65px; padding: 12px; }
  .social-media .social-media-footer { position: relative; padding: 12px; background-color: rgb(180, 65, 46); text-align: center; border-radius: 5px; }
  .social-media .social-media-footer .icon { margin: 0px; }
  .social-media .social-media-footer .title { display: none; }
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
  .front section { padding-top: 40px; }
  #tablet-h2 { display: none; }
  .selvbetjening { width: 100%; height: 210px; background-color: rgb(70, 124, 13); background-size: 100% auto; background-image: linear-gradient(rgb(105, 148, 58), rgb(70, 124, 13)); display: flex; flex-direction: column; overflow: hidden; }
  .sb-links { display: flex; flex-direction: row; height: 130px; align-items: center; }
  .sb-title { width: 100%; height: 80px; color: rgb(255, 255, 255); display: flex; flex-direction: row; justify-content: center; align-items: center; border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
  .sb-title h2 { margin: 0px; font-weight: 600; font-size: 26px; }
  .selvbetjening ul { padding: 0px; }
  .selvbetjening li { list-style: none outside none; margin-bottom: 10px; }
  .selvbetjening li a { color: rgb(255, 255, 255); }
  .selvbetjening li a:hover { color: rgb(255, 255, 255) ! important; opacity: 0.8; }
  .sb-box { position: relative; margin-bottom: 0px; box-shadow: none; }
  .selvbetjening .box-link:hover, .selvbetjening .link-catalog:hover { box-shadow: none; }
  .box-see-all { padding: 0px ! important; display: flex; justify-content: flex-end; }
  .centering { display: flex; align-items: center; padding: 0px; height: 100%; }
  .mobile-title { display: none; }
}
@media (max-width: 768px) {
  .front section { padding-top: 0px; }
  .front li:first-child > .box-link, div:first-child > .box-link { border-top: medium none; }
  .selvbetjening { width: 100%; height: 60px; background-color: rgb(70, 124, 13); background-size: 100% auto; background-image: linear-gradient(rgb(105, 148, 58), rgb(70, 124, 13)); overflow: hidden; }
  .sb-links { display: none; }
  .mobile-title { display: flex; flex-direction: row; justify-content: space-between; height: 100%; width: 100%; align-items: center; padding-left: 10px; padding-right: 20px; }
  .mobile-title a:hover { text-decoration: none; }
  .mobile-title a { margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 20px; font-weight: bold; }
  .sb-links { display: none; }
  .mobile-title { display: flex; flex-direction: row; justify-content: space-between; height: 100%; width: 100%; align-items: center; padding-right: 20px; padding-left: 10px; }
  .mobile-title a { margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 20px; }
  .mobile-title a:hover { text-decoration: none; }
}
@media (min-width: 991px) {
}
@media (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
.mobile-title .col-sm-6 { display: flex; height: 100%; width: 100%; }
.mobile-title a { display: flex; flex: 1 1 0%; width: 100%; align-items: center; }
.mobile-title a { display: flex; align-items: center; width: 100%; min-width: 100%; padding-left: 20px; margin-left: -20px; margin-right: -10px; justify-content: space-between; }
a:hover { text-decoration: none; }
.selvbetjening .pane-block-1 { width: 100%; }
.selvbetjening .pane-block-2 { width: 100%; display: flex; }
.selvbetjening .show-all:hover { color: rgb(0, 107, 154); text-decoration: none; cursor: pointer; }
.selvbetjening .show-all i { color: rgb(70, 124, 13); background-color: rgb(255, 255, 255); }
.selvbetjening .show-all:hover i { color: rgb(255, 255, 255) ! important; }
.selvbetjening .show-all span { color: rgb(255, 255, 255); transition: all 0.3s ease 0s; }
.selvbetjening .show-all:hover span { color: rgb(0, 107, 154); }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.cover { width: 100%; height: 399px; background: none no-repeat scroll center center / cover  transparent; padding-top: 0px; padding-bottom: 0px; }
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
  .cover { height: 167px; }
}
.content h2 { margin-top: 30px; margin-bottom: 20px; }
.content p { margin-bottom: 20px; }
@media print {
  .article-info, .box, footer, .news, .breadcrumb__wrap, #nav-wrapper, .icon__search, .social-share, .news-info br { display: none ! important; }
}
@media (max-width: 767px) {
}
