/* Code tidied up by ScrapBook */
@keyframes buffering-stripes {
0% { background-position: 0px 0px; }
100% { background-position: 30px 0px; }
}
@keyframes buffering-stripes {
0% { background-position: 0px 0px; }
100% { background-position: 30px 0px; }
}
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: none repeat scroll 0% 0% transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
input[type="search"] { box-sizing: content-box; }
* { box-sizing: border-box ! important; }
input, label, select, button, textarea { margin: 0px; border: 0px none; padding: 0px; display: inline-block; vertical-align: middle; white-space: normal; background: none repeat scroll 0% 0% transparent; line-height: 1; font-size: 13px; font-family: Arial; }
input:focus { outline: 0px none; }
input, textarea { box-sizing: content-box; }
button, input[type="reset"], input[type="button"], input[type="submit"], input[type="checkbox"], input[type="radio"], select { box-sizing: border-box; }
input[type="search"] {  }
button, input[type="reset"], input[type="button"], input[type="submit"] { overflow: visible; width: auto; }
.centerTable { display: table; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
.centerTableCell { display: table-cell; vertical-align: middle; text-align: center; width: 100%; }
body { font-size: 19px; font-family: 'AvenirNextLTW01-Regular',arial,sans-serif; line-height: 1.5; }
* { font-family: 'AvenirNextLTW01-Regular',arial,sans-serif; font-weight: normal; }
p, label, input, textarea, select, option { font-family: 'AvenirNextLTW01-Regular',arial,sans-serif; font-weight: normal; font-size: 19px; line-height: 1.5; margin: 0px 0px 0.5em; color: rgb(0, 0, 0); }
h1 { font-family: 'LeituraW01-DisplayRoman',serif; font-weight: normal; font-size: 28.5px; text-align: center; line-height: 1.1; }
@media screen and (min-width: 768px) {
  h1 { font-size: 38px; }
}
@media screen and (min-width: 1280px) {
  h1 { font-size: 38px; }
}
h1:first-child, h2:first-child { padding-top: 0px; margin-top: 0px; }
.startseiteWrapper h1 { font-size: 28.5px; text-align: center; }
@media screen and (min-width: 768px) {
  .startseiteWrapper h1 { font-size: 64.8px; }
}
@media screen and (min-width: 1280px) {
  .startseiteWrapper h1 { font-size: 72px; }
}
p, ul, ol { max-width: 35em; padding-bottom: 18px; }
*, label, input, textarea { color: rgb(0, 0, 0); }
.ce_text, .mod_booknav { width: 100%; display: block; float: left; }
.mod_changelanguage { display: block; position: absolute; bottom: 18px; left: 18px; }
.mod_changelanguage ul, .mod_changelanguage li { padding: 0px; margin: 0px; list-style: none outside none; }
.mod_changelanguage ul a, .mod_changelanguage li a { text-decoration: none; opacity: 0.5; }
.mod_changelanguage ul a:hover, .mod_changelanguage li a:hover { opacity: 1; }
@media screen and (min-width: 414px) {
  .mod_changelanguage { position: fixed; bottom: 72px; right: 72px; text-align: right; z-index: 1000; left: auto; }
}
#mobNavicon { position: absolute; top: 18px; right: 18px; width: 54px; height: 54px; cursor: pointer; z-index: 10000; }
@media screen and (min-width: 414px) {
  #mobNavicon { top: 72px; right: 72px; }
}
@media screen and (min-width: 874px) {
  #mobNavicon { display: none; }
}
#mobnavback { display: none; width: 100%; height: 90px; position: absolute; bottom: 0px; left: 110%; z-index: 9999; background: none repeat scroll 0% 0% rgb(32, 197, 248); border-top: 1px solid rgba(255, 255, 255, 0.5); }
#mainnav { position: absolute; top: 0px; left: 110%; width: 100%; height: auto; min-height: 100%; padding-top: 90px; padding-bottom: 90px; padding-left: 36px; background: none repeat scroll 0% 0% rgb(32, 197, 248); z-index: 10000000; }
#mainnav .subnavOpener { display: block; position: absolute; top: 3px; right: 28.8px; background: url("subnavClosed.png") no-repeat scroll center center / 90% auto transparent; width: 36px; height: 36px; }
@media screen and (min-width: 874px) {
  #mainnav .subnavOpener { display: none; }
}
@media screen and (min-width: 874px) {
}
#mainnav ul, #mainnav li { list-style-type: none; padding: 0px; margin: 0px; position: relative; display: block; float: left; width: 100%; }
#mainnav a.active, #mainnav a.trail, #mainnav span.active, #mainnav span.trail { color: rgb(99, 219, 255) ! important; }
#mainnav a:hover { color: rgba(255, 255, 255, 0.5); }
@media screen and (min-width: 874px) {
  #mainnav a:hover { color: rgb(32, 197, 248); }
}
#mainnav a, #mainnav span { font-size: 16px; text-decoration: none; color: rgb(255, 255, 255); display: block; float: left; width: 100%; padding: 9px 72px 9px 18px; border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
@media screen and (min-width: 1280px) {
  #mainnav a, #mainnav span { font-size: 19px; }
}
#mainnav ul.level_2 { display: none; }
#mainnav ul.level_2 a, #mainnav ul.level_2 span { padding-left: 58.248px; }
@media screen and (max-width: 1700px) and (min-width: 1590px) {
  #mainnav { padding-right: 7% ! important; }
}
@media screen and (min-width: 874px) {
  #mainnav { height: 100px; min-height: 0px; position: absolute; background: none repeat scroll 0% 0% transparent ! important; z-index: 1000; top: 144px ! important; text-align: left; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 72px ! important; left: 0px ! important; width: 100%; }
  #mainnav ul { max-width: 100%; width: auto; display: inline-block; float: none; }
  #mainnav ul li { width: auto; float: none; }
  #mainnav a.first, #mainnav span.first { padding-left: 0px ! important; }
  #mainnav ul.level_2 a.first, #mainnav ul.level_2 span.first { padding-left: 18px ! important; }
}
@media screen and (min-width: 874px) and (min-width: 1590px) {
  #mainnav { top: 72px ! important; padding-left: 0px ! important; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; }
  #mainnav a.first, #mainnav span.first { padding-left: 18px ! important; }
}
@media screen and (min-width: 874px) {
  #mainnav a.active, #mainnav a.trail, #mainnav span.active, #mainnav span.trail { color: rgb(0, 165, 217); }
  #mainnav li:hover ul.level_2 { display: block; }
  #mainnav ul.level_1 { width: auto ! important; float: none; display: inline-block; text-align: center; white-space: nowrap; }
  #mainnav ul.level_1 li { position: relative; display: inline-block; text-align: left; }
  #mainnav ul.level_1 li a, #mainnav ul.level_1 li span { color: rgb(0, 0, 0); border: 0px none; display: block; float: left; padding: 12px 18px; }
  #mainnav ul.level_1 li a:hover, #mainnav ul.level_1 li span:hover { color: rgb(32, 197, 248); }
  #mainnav ul.level_1 li.submenu:hover a, #mainnav ul.level_1 li.submenu:hover span { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5); }
  #mainnav ul.level_2 { display: none; position: absolute; top: 100%; left: 0px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.976); box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.02); width: 380px ! important; max-width: 380px ! important; padding: 12px 12px 12px 9px; }
  #mainnav ul.level_2 li { padding: 0px; margin: 0px; display: block; float: left; clear: both; }
  #mainnav ul.level_2 li a, #mainnav ul.level_2 li span { padding: 7.2px 18px; background: none repeat scroll 0% 0% transparent ! important; }
}
#toTop { display: none; z-index: 10000; position: fixed; bottom: 18px; right: 18px; width: 36px; height: 36px; cursor: pointer; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body { overflow-x: hidden; overflow-y: scroll; background: none repeat scroll 0% 0% rgb(235, 235, 235); min-height: 100%; height: 100%; }
#wrapper { position: relative; z-index: 100; width: 100%; float: left; display: block; padding: 144px 18px 216px; }
@media screen and (min-width: 414px) {
  #wrapper { padding: 216px 72px; }
}
@media screen and (min-width: 768px) {
  #wrapper { padding: 216px 72px; }
}
@media screen and (min-width: 874px) {
  #wrapper { padding: 216px 72px; }
}
@media screen and (min-width: 1590px) {
  #wrapper { padding-top: 180px; }
}
#container, #main { display: block; float: left; width: 100%; }
#container .inside, #main .inside { width: 100%; display: block; float: left; }
.invisible { visibility: hidden; width: 0px; height: 0px; overflow: hidden; position: absolute; }
input, textarea, select, option { width: 100%; display: block; float: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 12px 18px; border-radius: 3px; font-size: 16px; }
@media screen and (min-width: 768px) {
  input, textarea, select, option { font-size: 19px; }
}
label, .errorHidden { display: block; float: left; width: 100%; }
label { margin-top: 9px; margin-bottom: 7.2px; }
input[type="submit"] { background: none repeat scroll 0% 0% rgb(32, 197, 248); color: rgb(255, 255, 255); box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); }
#logo { left: 18px; top: 18px; position: absolute; display: block; width: 200px; z-index: 100000; }
#logo img { width: 100%; height: auto; }
@media screen and (min-width: 414px) {
  #logo { top: 69px; left: 72px; }
}
#searchBox { display: none; }
@media screen and (min-width: 874px) {
  #searchBox { display: block; position: absolute; top: 72px; right: 72px; width: 300px; z-index: 1000000; }
  #searchBox input[type="search"] { padding-right: 36px; margin: 0px; width: 100%; }
  #searchBox input[type="submit"] { display: block; cursor: pointer; background: url("search.png") no-repeat scroll center center / 40% auto transparent; width: 54px; height: 100%; position: absolute; top: 0px; right: 0px; color: transparent; margin: 0px; box-shadow: none; }
}
.ce_text { width: 100%; float: left; display: block; }
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
.mod_article { width: 100%; max-width: 665px; margin: 0px auto; }
.articleFullWidth .mod_article { max-width: 100%; width: 100%; margin: 0px; float: left; display: block; }
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 975px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 974px) {
}
@media not all {
}
@media screen and (min-width: 414px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 560px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 560px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 560px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 560px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (min-width: 1416px) {
}
@media screen and (min-width: 1336px) {
}
@media screen and (min-width: 974px) {
}
@media screen and (max-width: 1024px) {
}
#prueferFormular { display: none; }
body.startseiteRedesign { height: 100%; }
body.startseiteRedesign #wrapper { background: url("bpp-briefmarkenpruefer.jpg") no-repeat scroll center center rgb(235, 235, 235); min-height: 100%; }
.startseiteWrapper h1 { display: none; }
@media screen and (min-width: 768px) {
  .startseiteWrapper h1 { display: block; }
}
.startseiteWrapper h1.mobileH1Start { display: block; }
@media screen and (min-width: 768px) {
  .startseiteWrapper h1.mobileH1Start { display: none; }
}
.startseiteWrapper .sucheRedesign { display: block; float: left; width: 100%; position: relative; text-align: left; }
.startseiteWrapper .sucheRedesign label { position: absolute; top: 0px; left: 0px; font-family: 'AvenirNextLTW01-Medium'; }
@media screen and (min-width: 768px) {
  .startseiteWrapper .sucheRedesign label { font-size: 25.27px; }
}
.startseiteWrapper .sucheRedesign .switchToPruefer { text-align: right; width: 100%; position: absolute; top: 108px; right: 0px; color: rgb(32, 197, 248); cursor: pointer; font-size: 16px; display: none; }
@media screen and (min-width: 768px) {
  .startseiteWrapper .sucheRedesign .switchToPruefer { display: block; }
}
.startseiteWrapper .sucheRedesign input[type="text"] { position: absolute; top: 39.6px; left: 0px; width: 100%; }
.startseiteWrapper .sucheRedesign input[type="submit"] { background: none repeat scroll 0% 0% rgb(32, 197, 248); color: rgb(255, 255, 255); position: absolute; top: 39.6px; right: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
@media screen and (min-width: 974px) {
  .startseiteWrapper { display: block; float: left; width: 100%; z-index: 2; text-align: center; position: relative; }
}
@media screen and (min-width: 974px) and (min-height: 860px) and (min-width: 768px) {
  .startseiteWrapper { position: fixed; z-index: 2; top: -108px; left: 0px; float: none; height: 100%; }
  .startseiteWrapper .centerT { display: table; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
  .startseiteWrapper .centerTC { display: table-cell; vertical-align: middle; width: 100%; }
}
@media screen and (min-width: 974px) {
  .startseiteWrapper .sucheRedesign { display: block; float: left; width: 40%; position: relative; z-index: 20; margin-left: 30%; text-align: left; }
  .startseiteWrapper .sucheRedesign label { position: absolute; top: 0px; left: 0px; padding: 0px; margin: 0px; font-family: 'AvenirNextLTW01-Medium'; font-size: 25.27px; }
  .startseiteWrapper .sucheRedesign .switchToPruefer { text-align: right; width: 100%; position: absolute; top: 108px; right: 0px; color: rgb(32, 197, 248); cursor: pointer; font-size: 19px; z-index: 2; }
  .startseiteWrapper .sucheRedesign input[type="text"] { position: absolute; top: 39.6px; left: 0px; width: 100%; z-index: 2; }
  .startseiteWrapper .sucheRedesign input[type="submit"] { background: none repeat scroll 0% 0% rgb(32, 197, 248); color: rgb(255, 255, 255); position: absolute; top: 39.6px; right: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; padding-right: 36px; padding-left: 36px; z-index: 2; }
}
#amazingBigtext { opacity: 1; display: none; position: fixed; top: -54px; left: -200%; padding: 0px; width: 500%; height: 100%; font-size: 360px; text-align: center; white-space: nowrap; overflow: hidden; font-weight: normal; letter-spacing: -30px; z-index: 1; }
#amazingBigtext * { padding: 0px; font-family: 'AvenirNextLTW01-Medium' ! important; color: rgb(212, 212, 212) ! important; }
.ui-autocomplete { border-top: 1px solid rgba(0, 0, 0, 0.2); width: 200px; margin: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); display: block; padding: 18px; z-index: 100000; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); }
.ui-autocomplete { width: 200px; max-height: 200px; overflow: hidden; }
.ui-helper-hidden-accessible { display: none ! important; }
#footer { width: 100%; display: block; float: left; margin-top: 72px; }
#footer p { font-size: 12px; color: rgb(130, 141, 140); max-width: 100%; text-align: center; padding-bottom: 12px; }
#footer p span { margin: -5px 7.2px 0px; opacity: 1; width: 3px; height: 3px; border-radius: 100%; display: inline-block; background: none repeat scroll 0% 0% rgb(32, 197, 248); }
#footer p.claim span { opacity: 1; height: auto; width: auto; display: inline-block; background: none repeat scroll 0% 0% transparent; margin: 7.2px 0px 0px; position: relative; padding-left: 36px; color: rgb(130, 141, 140); }
#footer p.claim span:before { content: ""; width: 18px; height: 18px; position: absolute; top: -3px; left: 14.4px; background: url("checked.png") no-repeat scroll center center / 100% auto transparent; }
.startseiteRedesign #footer, .prueferseite #footer { display: none; }
