/* Code tidied up by ScrapBook */
.campl-teaser p.campl-datestamp { color: rgb(119, 119, 119); background: none repeat scroll 0% 0% transparent; font-weight: normal; font-style: italic; font-size: 14px; margin-bottom: 10px; }
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
span.date-display-single {  }
@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 768px) {
}
