/* Code tidied up by ScrapBook */
html { overflow-y: scroll; }
ul { padding: 0px; margin: 0px 0px 9px 15px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; }
ul { list-style: square outside none; }
li { line-height: 18px; display: list-item; }
.campl-unstyled-list { list-style: none outside none; margin: 0px; }
hr { margin: 5px 0px 20px; border-right: 0px none; border-left: 0px none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; border-style: solid none; border-color: rgb(238, 238, 238) -moz-use-text-color rgb(255, 255, 255); height: 1px; }
img { border: 0px none; vertical-align: middle; }
.campl-scale-with-grid { max-width: 100%; height: auto; }
.ir { display: block; border: 0px none; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none ! important; visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.campl-horizontal-navigation li { float: left; }
.campl-float-right { float: right; clear: both; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: verdana,arial,sans-serif; color: rgb(23, 23, 23); }
h1, h2, h3, h4, h5, h6, .campl-page-title { font-family: inherit; color: inherit; text-rendering: optimizelegibility; margin: 0px 0px 10px; vertical-align: baseline; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(0, 102, 255); color: rgb(255, 255, 255); text-shadow: none; }
p { margin: 0px 0px 10px; }
.campl-highlight-day, .campl-promo-teaser .campl-teaser-title, .campl-current-date { font-family: "myriad-pro-n7","myriad-pro",myriad,verdana,arial,sans-serif; font-weight: 700; font-style: normal; }
h2, h3, h4, h5, h6, .campl-global-navigation, .campl-global-navigation-header-container, .campl-global-navigation-container, .campl-local-footer h3, .campl-global-footer h3, .campl-teaser-title, .campl-listing-title, .campl-vertical-breadcrumb, .campl-btn { font-family: "myriad-pro-n6","myriad-pro",myriad,verdana,arial,sans-serif; font-weight: 600; font-style: normal; }
.campl-branding-title, .campl-topic, .campl-global-navigation-tertiary, .campl-local-navigation, .campl-vertical-breadcrumb-navigation { font-family: "myriad-pro-n4","myriad-pro",myriad,verdana,arial,sans-serif; font-weight: 400; color: rgb(136, 136, 136); }
h1, .campl-page-header h1, .campl-page-sub-title h2, .campl-secondary-content h2, .campl-main-content-sub-column h2, .campl-slide-caption-txt, .campl-carousel-content p, .campl-page-title, .campl-sub-title, legend, .campl-primary-cta, .campl-homepage-content h2, .campl-highlight-date, .campl-light-heading { font-family: "myriad-pro-n3","myriad-pro",myriad,verdana,arial,sans-serif; font-weight: 300; }
.campl-desktop-list-layout, .campl-global-navigation-drawer { font-weight: bold; }
.campl-datestamp, blockquote { font-family: Georgia,"sans serif"; }
.campl-page-header h1, .campl-carousel-content p, .campl-page-title { font-size: 40px; line-height: 48px; color: rgb(255, 255, 255); }
.campl-page-sub-title h2, .campl-page-sub-title h1, .campl-sub-title, .campl-highlight-day { font-size: 30px; line-height: 38px; color: rgb(255, 255, 255); }
h1, .campl-light-heading { font-size: 30px; line-height: 36px; }
h2, .campl-slide-caption-txt, legend, .campl-load-more-btn, blockquote { font-size: 19px; line-height: 25px; }
h3, .campl-current-date, .campl-highlight-date, .campl-promo-teaser .campl-teaser-title { font-size: 17px; line-height: 23px; }
h5, .campl-tertiary-navigation, .campl-enlarged-text, .campl-teaser-title, .campl-primary-cta, .campl-btn, .campl-local-footer h3, .campl-global-footer h3, .campl-desktop-list-layout, .campl-global-navigation, .campl-global-navigation-header-container, .campl-global-navigation-container, .campl-local-navigation { font-size: 14px; line-height: 20px; }
body, label, input, button, select, textarea { font-size: 12px; font-weight: normal; line-height: 18px; vertical-align: baseline; }
.campl-highlight-date { text-transform: uppercase; }
.campl-highlight-day { line-height: 30px; }
a, .campl-vertical-breadcrumb, .campl-vertical-breadcrumb-navigation, .campl-vertical-breadcrumb-children a { color: rgb(0, 114, 207); text-decoration: none; border-bottom: 0px none; outline: medium none; }
a:visited { color: rgb(138, 0, 188); text-decoration: none; border-bottom: 1px dotted rgb(221, 191, 220); }
a:focus { color: rgb(0, 114, 207); outline: thin dotted; border-bottom: 0px none; }
a:hover { color: rgb(0, 114, 207); text-decoration: underline; border-bottom: 0px none; }
a:hover, a:active { outline: medium none; }
a:active { color: rgb(0, 114, 207); text-decoration: none; border-bottom: 0px none; }
.campl-global-navigation a, .campl-page-header a, .campl-local-footer a, .campl-global-footer a, .campl-global-navigation-drawer a, .campl-quicklinks a, .campl-open-quicklinks, .campl-open-quicklinks:focus, .campl-open-quicklinks:hover, .campl-open-quicklinks:visited, .campl-desktop-list-layout a:focus, .campl-desktop-list-layout a:hover, .campl-desktop-list-layout .campl-selected, .campl-section-list-heading a, .campl-section-list-heading a:focus, .campl-section-list-heading a:hover, .campl-focus-teaser a, .campl-focus-teaser a:focus, .campl-focus-teaser a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.campl-quicklinks-list a:focus, .campl-quicklinks-list a:hover, .campl-quicklinks-list a:active { text-decoration: none; background-color: rgb(23, 23, 23); }
.campl-global-navigation a:focus, .campl-global-navigation a:hover, .campl-global-navigation a:active, .campl-global-navigation .campl-selected a { color: rgb(122, 122, 122); text-decoration: none; }
.campl-global-navigation a:visited, .campl-desktop-list-layout a:visited, .campl-close-panel:visited, .campl-section-list-heading a:visited, .campl-homepage-quicklinks a:visited, .campl-slide-caption a, .campl-quicklinks-list a:visited { border-bottom: 0px none; }
.campl-global-navigation-drawer a:focus, .campl-global-navigation-drawer a:hover, .campl-global-navigation-drawer a:active { text-decoration: underline; }
.campl-primary-cta { display: inline-block; background: url("bg-primary-cta-arrow.png") no-repeat scroll 100% 50% rgb(23, 23, 23); color: rgb(255, 255, 255); padding: 5px 25px 5px 10px; border: 0px none; text-shadow: none; }
.campl-primary-cta:link, .campl-primary-cta:visited { color: rgb(248, 248, 248); background: url("bg-primary-cta-arrow.png") no-repeat scroll 100% 50% rgb(23, 23, 23); border: 0px none; }
.campl-primary-cta:focus, .campl-primary-cta:hover, .campl-primary-cta:active { color: rgb(248, 248, 248); background: url("bg-primary-cta-arrow-over.png") no-repeat scroll 100% 50% rgb(69, 69, 69); border: 0px none; text-decoration: none; }
.campl-secondary-cta { background: url("bg-secondary-cta-arrow.png") no-repeat scroll 100% 50% transparent; display: inline-block; padding-right: 10px; }
.campl-teaser-title a, .campl-pagination a, .campl-load-more-btn, .campl-load-more-btn:focus, .campl-load-more-btn:hover, .campl-load-more-btn:visited { color: rgb(23, 23, 23); }
.campl-focus-teaser a { color: rgb(255, 255, 255); }
.campl-skipTo:link { position: absolute; left: -5000px; top: 0px; color: rgb(255, 255, 255); padding: 10px; }
.campl-skipTo:focus { left: 5px; top: 5px; color: rgb(255, 255, 255); display: block; position: relative; }
.campl-focus-link { width: 33px; height: 33px; background: url("icon-fwd-btn.png") no-repeat scroll 14px 13px rgb(49, 49, 49); position: absolute; bottom: 0px; right: 0px; }
form { margin: 0px; }
label { cursor: pointer; display: block; margin-bottom: 5px; }
button, input[type="button"], input[type="image"], input[type="reset"], input[type="submit"] { cursor: pointer; margin-bottom: 5px; }
input[type="image"] {  }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
:-moz-placeholder { color: rgb(153, 153, 153); }
input:invalid, textarea:invalid { background-color: rgb(240, 221, 221); }
input, textarea { width: 210px; }
input, textarea, .campl-uneditable-input { margin-left: 0px; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .campl-uneditable-input { display: inline-block; height: 18px; padding: 4px; margin-bottom: 9px; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .campl-uneditable-input { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .campl-uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0px none; }
input[type="submit"], input[type="reset"], input[type="button"], input[type="image"], input[type="radio"], input[type="checkbox"] { width: auto; }
input[type="image"] { display: inline; vertical-align: middle; margin-bottom: 5px; }
body { margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 100%; }
.campl-row { clear: both; width: 100%; }
.campl-wrap { margin: 0px auto; position: relative; clear: both; width: 1177px; }
.campl-column, .campl-column1, .campl-column2, .campl-column3, .campl-column4, .campl-column5, .campl-column6, .campl-column7, .campl-column8, .campl-column9, .campl-column10, .campl-column11, .campl-column12 { float: left; margin-right: 0px; padding: 0px; }
.campl-column2 { width: 16.6667%; }
.campl-column3 { width: 25%; }
.campl-column4 { width: 33.3333%; }
.campl-column6 { width: 50%; }
.campl-column8 { width: 66.6667%; }
.campl-column9 { width: 75%; }
.campl-column12 { width: 100%; }
.campl-content-container { padding: 20px; }
.campl-no-top-padding, .campl-global-navigation-container, .campl-navigation-list { padding: 0px 20px 20px; }
.campl-no-bottom-padding { padding: 20px 20px 0px; }
.campl-side-padding { padding: 0px 20px; }
.campl-vertical-padding, .campl-listing-txt { padding: 20px 0px; }
.campl-horizontal-teaser-img, .campl-right-padding { padding: 0px 20px 0px 0px; }
.campl-horizontal-teaser-txt, .campl-left-padding { padding: 0px 0px 0px 20px; }
.campl-vertical-teaser-txt, .campl-no-padding, .campl-promo-teaser .campl-vertical-teaser-img, .campl-focus-teaser .campl-horizontal-teaser-img, .campl-quicklinks-list { padding: 0px; }
.campl-focus-teaser .campl-horizontal-teaser-txt { padding: 15px 15px 25px; }
.campl-navigation-list h3 { padding-bottom: 10px; }
.campl-navigation-list li { padding-bottom: 5px; }
.campl-footer-navigation { background: url("bg-footer-navigation.png") repeat-y scroll 100% 0px transparent; }
.campl-footer-navigation.last { background: none repeat scroll 0% 0% transparent; }
.campl-recessed-content { padding-top: 50px; }
.campl-recessed-carousel { margin-bottom: -50px; }
.campl-recessed-secondary-content { margin-top: -36.6%; }
.campl-teaser-divider { margin: 0px; border-bottom: 1px solid rgb(228, 228, 228); border-top: 0px none; }
.campl-heading-container { border-bottom: 1px solid rgb(228, 228, 228); }
.campl-global-header { position: relative; z-index: 15; }
.js .campl-open-menu { background: url("btn-open-menu-sprite.png") no-repeat scroll 0px 0px transparent; width: 32px; height: 33px; float: left; display: none; }
.js .campl-open-menu:focus, .js .campl-open-menu:hover, .js .campl-open-menu:active { background-position: 0px -33px; }
.campl-main-logo { padding: 15px; display: block; float: left; }
.campl-main-logo:visited { text-decoration: none; border: 0px none; }
.campl-search-drawer { border-top: 1px solid rgb(63, 63, 63); position: relative; z-index: 5; }
.campl-search-drawer { display: none; }
.campl-site-search { padding: 15px 0px 15px 15px; float: none; }
.campl-icon-search-btn { height: 32px; width: 32px; background: url("btn-search-sprite-small.png") no-repeat scroll 0px 0px transparent; display: none; }
.campl-icon-search-btn:focus, .campl-icon-search-btn:hover, .campl-icon-search-btn:active { background-position: 0px -32px; }
.campl-search-form-wrapper { background: none repeat scroll 0% 0% rgb(44, 44, 44); height: 32px; padding: 0px 0px 0px 10px; }
.campl-site-search-form { display: block; padding: 15px; }
.campl-site-search-form input { background: none repeat scroll 0% 0% transparent; color: rgb(156, 156, 156); border: 0px none; float: left; padding: 7px 0px; width: 92%; }
.campl-site-search-form input.campl-search-submit { width: 22px; padding: 0px; float: right; height: 32px; }
.campl-search-input { background-color: rgb(255, 255, 255); border: 0px none; display: inline-block; box-sizing: border-box; width: 100%; position: relative; margin-bottom: 0px; height: 42px; min-height: 42px; }
.campl-search-input input { border: 0px none; padding: 10px 8px 8px; vertical-align: middle; width: 75%; float: left; margin-bottom: 0px; }
.campl-search-input input.campl-search-submit { width: 42px; padding: 0px; height: 43px; float: right; margin-right: -1px; }
.campl-site-search .campl-search-input { height: 32px; min-height: 32px; background-color: rgb(52, 52, 52); }
.campl-site-search .campl-search-input input { width: 65%; padding: 7px 0px 7px 8px; background-color: rgb(52, 52, 52); color: rgb(255, 255, 255); }
.campl-site-search .campl-search-input input.campl-search-submit { width: 32px; height: 32px; padding: 0px; }
.campl-quicklinks { width: 100%; margin-top: 15px; }
.campl-quicklinks-txt { padding: 8px 0px 0px 8px; display: block; float: left; }
.campl-icon-dropdown { height: 32px; width: 32px; background: url("btn-quicklinks-sprite.png") no-repeat scroll 0px 0px transparent; float: right; }
.campl-open-quicklinks:focus .campl-icon-dropdown, .campl-open-quicklinks:hover .campl-icon-dropdown { background-position: 0px -42px; }
.campl-open-quicklinks { display: block; background: linear-gradient(to bottom, rgb(61, 61, 61) 0%, rgb(41, 41, 41) 100%) repeat scroll 0% 0% transparent; }
.js .campl-quicklinks-list { display: none; }
.js .campl-quicklinks-list a, .js .campl-quicklinks-list a:link, .js .campl-quicklinks-list a:visited { padding: 8px 8px 8px 16px; display: block; background-position: 6px 50%; }
.campl-highlight-event-item { border-top: 1px solid rgb(228, 228, 228); }
.campl-highlight-event-item:first-child { border-top: medium none; }
.campl-highlight-date-container { width: 55px; float: left; margin: 0px 10px 5px 0px; }
.campl-highlight-date { text-align: center; padding: 0px 0px 2px; }
.campl-highlight-day, .campl-highlight-event-link, .campl-highlight-date { display: block; }
.campl-highlight-day { position: relative; bottom: -3px; }
.campl-highlight-event-details { padding: 5px 0px 10px; }
.campl-highlight-event-link { padding: 3px 0px 0px; }
.campl-local-footer, .campl-global-footer { padding: 20px 0px; }
.campl-footer-logo { padding-top: 0px; }
.campl-footer-logo img { padding-bottom: 20px; }
.campl-global-navigation { border-left: 1px solid rgb(46, 46, 46); margin-right: 15px; float: left; }
.campl-home-link-container { display: none; }
.campl-global-navigation li a { padding: 25px 20px; border-right: 1px solid rgb(46, 46, 46); display: block; word-wrap: break-word; }
.campl-global-navigation li a:focus, .campl-global-navigation li a:hover, .campl-global-navigation li a:active, .campl-global-navigation li.campl-selected a { border-left: 1px solid rgb(115, 115, 115); border-right: 1px solid rgb(115, 115, 115); margin-left: -1px; background: none repeat scroll 0% 0% rgb(23, 23, 23); position: relative; z-index: 7; }
.js .campl-global-navigation-drawer, .js .campl-global-navigation-outer { display: none; }
.campl-global-navigation-drawer { z-index: 4; position: relative; border-top: 1px solid rgb(63, 63, 63); }
.campl-global-navigation-container li, .campl-global-navigation-container li li { padding: 10px 0px; }
.campl-global-navigation-container.last li { padding: 15px 0px; }
.campl-global-navigation-secondary-with-children li { padding: 10px 0px 0px; }
.campl-global-navigation-header-container li { padding: 20px 0px 20px 20px; }
.campl-global-navigation-container li a, .campl-global-navigation-header-container li a { background: url("icon-fwd-btn.png") no-repeat scroll 0px 50% transparent; padding-left: 10px; }
.campl-global-navigation-tertiary { border: 0px none; }
.campl-global-navigation-container p, .campl-global-navigation-tertiary { padding-top: 20px; margin-bottom: 0px; }
.campl-global-navigation-outer { position: relative; }
.campl-close-menu { position: absolute; height: 30px; top: 0px; right: 0px; background: url("icon-close-menu-btn.png") no-repeat scroll 90% 50% rgb(0, 0, 0); padding: 20px 50px 7px 12px; border-left: 1px solid rgb(63, 63, 63); }
.campl-menu-btn, .campl-menu-indicator { display: none; }
.campl-local-navigation li { margin: 0px; }
.campl-local-navigation a { display: block; }
.campl-local-navigation ul ul a { padding-left: 40px; }
.campl-local-navigation ul ul ul a { padding-left: 60px; }
.campl-local-navigation ul ul ul ul a { padding-left: 80px; }
.js .campl-local-navigation { position: relative; z-index: 13; }
.js .campl-local-navigation .campl-local-navigation-container { margin: -1px 0px 0px; width: auto; }
.js .campl-local-navigation li.campl-back-link, .js .campl-local-navigation li.campl-back-link a { display: none; font-size: 0px; height: 0px; visibility: hidden; position: absolute; }
.js .campl-local-navigation li { display: inline; float: left; margin: 0px 0px -1px; }
.js .campl-local-navigation li li { margin: 0px; }
.js .campl-local-navigation li.campl-title { display: none; }
.js .campl-local-navigation a { padding: 10px 20px; }
.js .campl-local-navigation li.campl-sub > a { padding: 10px 40px 10px 10px; margin: 0px; }
.js .campl-local-navigation li.campl-sub > a { background-image: url("bg-local-navigation-sub-arrow.png"); background-repeat: no-repeat; background-position: 100% 50%; }
.js .campl-local-navigation li > ul { margin-top: -1px; }
.js .campl-local-navigation li ul { left: -9999px; position: absolute; width: 235px; z-index: 14; }
.campl-page-title { clear: both; }
.campl-co-branding-logo { float: left; padding: 0px 20px 20px 0px; }
.campl-co-branding-container .campl-page-title { clear: none; }
.campl-carousel { background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: center; position: relative; }
.campl-carousel .campl-carousel-container { position: relative; overflow: hidden; }
.campl-carousel .campl-slides { left: 0px; margin: 0px; overflow: hidden; padding: 0px; position: relative; top: 0px; }
.campl-slides, .campl-slide { padding: 0px; margin: 0px; }
.campl-carousel li { position: relative; float: left; }
.campl-carousel a { overflow: hidden; }
.campl-carousel-controls { position: absolute; bottom: 0px; right: 0px; }
.campl-carousel-controls li { width: 50px; height: 50px; margin-left: 1px; }
.campl-carousel-control-btn { width: 50px; height: 50px; display: block; position: relative; }
.campl-carousel-control-btn .campl-arrow-span { width: 25px; height: 25px; background-position: 0px 0px; background-repeat: no-repeat; display: block; position: absolute; left: 50%; margin-left: -12.5px; top: 50%; margin-top: -12.5px; }
.campl-carousel-controls .campl-next .campl-arrow-span { background-image: url("btn-carousel-next.png"); }
.campl-carousel-controls .campl-play .campl-arrow-span { background-image: url("btn-carousel-play.png"); }
.campl-carousel-controls .campl-previous .campl-arrow-span { background-image: url("btn-carousel-prev.png"); }
.campl-slide { position: relative; }
.campl-slide-caption { background: url("bg-carousel-caption.png") repeat scroll 0px 0px transparent; position: absolute; bottom: 0px; right: 153px; color: rgb(255, 255, 255); padding: 12px 16px 13px; left: 20px; text-align: left; }
.campl-slide-caption-txt { margin-right: 40px; }
.campl-carousel-pagination { position: absolute; right: 16px; bottom: 16px; }
.campl-related-links li { padding: 10px 20px 10px 0px; border-bottom: 1px solid rgb(228, 228, 228); margin-bottom: 0px; }
.campl-arrow-span { width: 8px; height: 11px; background-position: 0px 0px; background-repeat: no-repeat; display: block; position: absolute; left: 50%; margin-left: -3px; top: 50%; margin-top: -5px; }
.campl-next .campl-arrow-span { background-image: url("icon-fwd-btn-larger.png"); }
.campl-previous .campl-arrow-span { background-image: url("icon-back-btn-larger.png"); }
.campl-teaser { clear: both; }
.campl-teaser p { margin-bottom: 20px; }
.campl-focus-teaser { margin-bottom: 20px; position: relative; }
.campl-focus-teaser-img { width: 41.6667%; float: left; margin-right: 0px; padding: 0px; }
.campl-focus-teaser-txt { width: 58.3333%; float: left; margin-right: 0px; padding: 0px; }
@media only screen and (min-width: 1200px) {
  .campl-wrap { width: 1177px; }
}
@media only screen and (max-width: 1199px) {
  .campl-wrap { width: 100%; }
}
@media only screen and (max-width: 1280px) {
  .campl-main-logo { padding: 15px 10px; }
}
@media (min-width: 768px) and (max-width: 1280px) {
}
@media (max-width: 1023px) {
  .campl-global-navigation { width: 280px; }
  .campl-global-navigation li { width: 33%; }
  .campl-header-container { width: auto; float: left; }
}
@media (min-width: 1081px) and (max-width: 1280px) {
}
@media (min-width: 1024px) and (max-width: 1080px) {
  .campl-site-search .campl-search-input input { width: 50%; }
}
@media only screen and (max-width: 1150px) {
  .campl-site-search { padding-right: 15px; }
  .campl-global-navigation li a { padding: 25px 10px; }
}
@media (min-width: 768px) and (max-width: 979px) {
  .campl-site-search .campl-search-input input { width: 50%; }
}
@media (max-width: 767px) {
  .campl-page-header h1, .campl-carousel-content p, .campl-page-title { font-size: 28px; line-height: 34px; margin-bottom: 0px; }
  h1, .campl-light-heading { font-size: 26px; line-height: 32px; }
  h2, .campl-slide-caption-txt, legend, .campl-highlight-day { font-size: 24px; line-height: 30px; }
  h3 { font-size: 22px; line-height: 28px; }
  h5, .campl-vertical-breadcrumb, .campl-enlarged-text, .campl-teaser-title, .campl-primary-cta, .btn, .campl-local-footer h3, .campl-global-footer h3, .campl-desktop-list-layout, .campl-local-navigation { font-size: 18px; line-height: 24px; }
  body, label, input, button, select, textarea, .campl-global-navigation, h4, h5, h6, .campl-topic { font-size: 16px; line-height: 22px; }
  .campl-pagination, .highlight, .campl-highlight-alert, .campl-datestamp, .campl-search-term, .campl-topic { font-size: 15px; line-height: 20px; }
  p, li { margin: 0px 0px 15px; }
  ul, ol { padding: 0px; margin: 15px 0px 9px 15px; }
  input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .campl-uneditable-input, .campl-input-block-level { height: 22px; }
  [class*="campl-column"], .campl-column { float: none; display: block; width: auto; margin-left: 0px; }
  .campl-wrap { width: 100%; }
  .campl-recessed-secondary-content { margin-top: 0px; }
  .campl-footer-navigation { background: none repeat scroll 0% 0% transparent; }
  .campl-footer-navigation ul { display: none; }
  .campl-footer-navigation ul.campl-page-children, .campl-footer-navigation ul.campl-global-footer-links { display: block; }
  .campl-horizontal-teaser-img { padding: 0px 0px 20px; }
  .campl-horizontal-teaser-txt { padding: 0px; }
  .campl-site-search { float: right; }
  .js .campl-search-drawer, .campl-close-menu { display: none; }
  .campl-site-search .campl-search-input { display: none; }
  .campl-icon-search-btn { display: block; }
  .campl-main-logo { padding: 15px 0px; margin-left: -89px; position: absolute; left: 50%; }
  .campl-home-link-container { display: block; }
  .campl-home-link-container a { display: block; padding: 21px 15px; border-right: 1px solid rgb(47, 47, 47); font-weight: bold; }
  .campl-global-navigation-container li a, .campl-global-navigation-header-container li a { background: none repeat scroll 0% 0% transparent; }
  .campl-home-link-container a, .campl-quicklinks-list li a, .campl-global-navigation-outer { background: url("bg-mobile-nav-border.png") repeat-x scroll left bottom transparent; }
  .campl-global-navigation-outer { padding-bottom: 2px; }
  .campl-home-link-container a:focus, .campl-global-navigation-mobile-list a:focus, .js .campl-quicklinks-list a:focus, .campl-home-link-container a:hover, .campl-global-navigation-mobile-list a:hover, .js .campl-quicklinks-list a:hover { text-decoration: none; }
  .campl-home-link-container, .campl-global-navigation-mobile-list, .campl-quicklinks-list li { margin: 0px; background: -moz-linear-gradient(center bottom , rgb(50, 50, 50) 17%, rgb(59, 59, 59) 59%) repeat scroll 0% 0% rgb(50, 50, 50); }
  .campl-home-link-container:hover, .campl-quicklinks-list li:hover, .campl-home-link-container:focus, .campl-quicklinks-list li:focus { background: -moz-linear-gradient(center bottom , rgb(36, 36, 36) 20%, rgb(42, 42, 42) 80%) repeat scroll 0% 0% rgb(42, 42, 42); }
  .campl-global-navigation-header-container { padding: 0px 20px; margin: 0px; }
  .campl-global-navigation-container { padding: 0px 20px 20px; margin: 0px; border-right: 0px none; }
  .campl-global-navigation-header-container li, .campl-global-navigation-container li { padding: 0px; border-bottom: 2px solid rgb(33, 33, 33); margin: 0px; }
  .campl-global-navigation-header-container li { padding: 0px; }
  .campl-global-navigation-container li { padding: 0px; margin: 0px; }
  .campl-global-navigation-container { padding: 0px; }
  .campl-global-navigation-container.last li { padding: 0px; }
  .campl-global-navigation-header-container li a { position: relative; left: -20px; font-weight: bold; padding: 15px; display: block; margin-right: -40px; }
  .js .campl-quicklinks-list a, .js .campl-quicklinks-list a:link, .js .campl-quicklinks-list a:visited { padding: 15px 15px 20px; }
  .campl-global-navigation-container li a { display: block; padding: 10px 20px; }
  .campl-global-navigation-header-container li a:focus, .campl-global-navigation-header-container li a:hover, .campl-global-navigation-container li a:focus, .campl-global-navigation-container li a:hover { background: -moz-linear-gradient(center bottom , rgb(40, 40, 40) 20%, rgb(41, 41, 41) 80%) repeat scroll 0% 0% rgb(41, 41, 41); }
  .campl-global-navigation-container { font-weight: normal; }
  .campl-quicklinks-list { padding: 3px 0px 0px; background: url("bg-mobile-nav-border.png") repeat-x scroll left top transparent; font-weight: bold; position: relative; top: -2px; }
  .campl-quicklinks-list li { padding: 0px; border-bottom: 0px none; }
  .campl-quicklinks-list li a { padding: 10px 10px 10px 0px; }
  .js .campl-quicklinks-list a, .js .campl-quicklinks-list a:link, .js .campl-quicklinks-list a:visited { background-position: left bottom; }
  .campl-global-navigation-container p, .campl-global-navigation-tertiary, .campl-global-navigation, .js .campl-quicklinks, .campl-tertiary-navigation { display: none; }
  .js .campl-quicklinks-list, .js .campl-open-menu, .js .campl-global-navigation-drawer, .js .campl-global-navigation-outer { display: block; }
  .campl-global-navigation-drawer { width: 260px; position: absolute; left: -260px; top: -1px; }
  .js .campl-local-navigation li.campl-back-link, .js .campl-local-navigation li.campl-back-link a { display: block; font-size: inherit; height: auto; visibility: visible; position: static; }
  .js .campl-local-navigation-container a { padding: 15px 30px 15px 25px; }
  .js .campl-local-navigation-container li.campl-sub > a { background-image: none; padding: 15px 30px 15px 25px; }
  .js .campl-menu-btn { margin: 0px; display: block; }
  .campl-menu-indicator { height: 20px; width: 20px; position: absolute; top: 50%; left: 10px; display: block; margin-top: -10px; border-radius: 1px; background-repeat: no-repeat; background-position: 50% 50%; }
  .campl-fwd-btn { right: 10px; left: auto; background-image: url("icon-fwd-btn.png"); }
  .campl-back-btn { left: 25px; background-image: url("icon-back-btn.png"); }
  .js .campl-menu-btn span { padding: 15px 0px 15px 25px; display: block; }
  .js .campl-menu-btn a { padding: 0px; position: relative; }
  .js .campl-menu-btn .campl-menu-btn-arrow { width: 53px; height: 53px; display: block; position: absolute; top: 0px; right: 0px; padding: 0px; background-repeat: no-repeat; background-position: 50% 50%; }
  .js .campl-local-navigation .campl-local-navigation-container { position: absolute; left: -9999px; }
  .js .campl-local-navigation ul { margin: 0px; width: 480px; position: absolute; }
  .js .campl-local-navigation li { float: none; }
  .js .campl-local-navigation li.campl-title { display: block; }
  .js .campl-local-navigation li.campl-title, .js .campl-local-navigation li.campl-current-page > a { font-weight: bold; }
  .js .campl-local-navigation li.campl-title a { cursor: default; }
  .js .campl-local-navigation li.campl-current-page > a { background-image: url("icon-fwd-btn.png"); background-position: 25px 50%; background-repeat: no-repeat; padding-left: 40px; }
  .js .campl-local-navigation ul li ul { left: 480px; top: 0px; padding-top: 0px; }
  .js .campl-local-navigation ul li ul, .js .campl-local-navigation ul li.campl-current ul li ul, .js .campl-local-navigation ul li.campl-current ul li.campl-current ul li ul, .js .campl-local-navigation ul li.campl-current ul li.campl-current ul li.campl-current ul li ul, .js .campl-local-navigation ul li.campl-current ul li.campl-current ul li.campl-current ul li.campl-current ul li ul, .js .campl-local-navigation ul li.campl-current ul li.campl-current ul li.campl-current ul li.campl-current ul li.campl-current ul li ul { display: none; }
  .js .campl-local-navigation li a { display: block; color: rgb(255, 255, 255); text-decoration: none; }
  .js .campl-local-navigation-container li.campl-back-link a { position: relative; padding: 15px 30px 15px 50px; }
  .campl-co-branding-logo { float: none; }
  .campl-open-menu { margin: 15px; }
  .campl-slide-caption { opacity: 1; position: static; }
  .campl-carousel { overflow: hidden; background: none repeat scroll 0% 0% rgb(0, 0, 0); }
  .campl-carousel-controls { position: absolute; top: 0px; bottom: auto; left: 0px; right: auto; width: 100%; height: 100%; }
  .campl-carousel-controls li { margin: 0px; width: 50px; float: none; height: auto; position: absolute; top: 0px; }
  .campl-slide-caption { background: none repeat scroll 0% 0% rgb(0, 0, 0); }
  .campl-carousel-control-btn { overflow: auto; width: auto; opacity: 0.8; }
  .campl-carousel-controls li.campl-pause-li { right: 50%; margin-right: -25px ! important; top: 50%; margin-top: -25px ! important; }
  .campl-carousel-control-btn.campl-pause, .campl-carousel-control-btn.campl-play { border-radius: 50px; }
  .campl-next-li { right: 0px; left: auto; }
}
@media (max-width: 480px) {
}
.campl-page-header, .campl-local-footer { background: none repeat scroll 0% 0% rgb(16, 100, 112); }
.campl-carousel-control-btn { background: none repeat scroll 0% 0% rgb(40, 130, 138); }
.campl-carousel-control-btn:hover { background: none repeat scroll 0% 0% rgb(12, 89, 99); }
.campl-highlight-date { background: none repeat scroll 0% 0% rgb(40, 130, 138); }
.campl-focus-teaser { background: none repeat scroll 0% 0% rgb(16, 100, 112); }
.campl-focus-link { background-color: rgb(12, 89, 99); }
.campl-main-content h1, .campl-main-content h2 { color: rgb(16, 100, 112); }
.campl-local-navigation { background: none repeat scroll 0% 0% rgb(12, 89, 99); border-bottom: 1px solid rgb(16, 100, 112); border-top: 1px solid rgb(16, 100, 112); }
.campl-local-navigation a { background: none repeat scroll 0% 0% rgb(12, 89, 99); border-right: 1px solid rgb(16, 100, 112); border-bottom: 1px solid rgb(16, 100, 112); border-top: 1px solid rgb(16, 100, 112); }
.campl-local-navigation a:focus, .campl-local-navigation a:hover, .campl-local-navigation a:active { background-color: rgb(30, 118, 128); }
.campl-local-navigation a.campl-selected { background: none repeat scroll 0% 0% rgb(40, 130, 138); }
.campl-local-navigation li.campl-sub li a { background-color: rgb(0, 58, 65); border-right: 0px none; }
.campl-local-navigation li.campl-sub li li a { border-bottom: 1px solid rgb(12, 89, 99); }
.campl-local-navigation li.campl-sub li:last-child a { border-bottom: 0px none; }
.js .campl-local-navigation li.campl-sub > a:focus, .js .campl-local-navigation li.campl-sub > a:hover, .js .campl-local-navigation li.campl-sub > a:active { background-color: rgb(12, 89, 99); }
.js .campl-local-navigation li.campl-sub a:focus, .js .campl-local-navigation li.campl-sub a:hover { background-color: rgb(0, 58, 65); }
.js .campl-local-navigation li.campl-sub li a:focus, .js .campl-local-navigation li.campl-sub li a:hover { background-color: rgb(12, 89, 99); }
.campl-theme-6 .campl-page-header, .campl-theme-6 .campl-local-footer { background: none repeat scroll 0% 0% rgb(133, 23, 53); }
.campl-theme-6 .campl-carousel-control-btn { background: none repeat scroll 0% 0% rgb(214, 23, 70); }
.campl-theme-6 .campl-carousel-control-btn:hover { background: none repeat scroll 0% 0% rgb(165, 17, 55); }
.campl-theme-6 .campl-highlight-date { background: none repeat scroll 0% 0% rgb(214, 23, 70); }
.campl-theme-6 .campl-focus-teaser { background: none repeat scroll 0% 0% rgb(133, 23, 53); }
.campl-theme-6 .campl-focus-link { background-color: rgb(165, 17, 55); }
.campl-theme-6 .campl-main-content h1, .campl-theme-6 .campl-main-content h2 { color: rgb(133, 23, 53); }
.campl-theme-6 .campl-local-navigation { background: none repeat scroll 0% 0% rgb(165, 17, 55); border-bottom: 1px solid rgb(133, 23, 53); border-top: 1px solid rgb(133, 23, 53); }
.campl-theme-6 .campl-local-navigation a { background: none repeat scroll 0% 0% rgb(165, 17, 55); border-right: 1px solid rgb(133, 23, 53); border-bottom: 1px solid rgb(133, 23, 53); border-top: 1px solid rgb(133, 23, 53); }
.campl-theme-6 .campl-local-navigation a:focus, .campl-theme-6 .campl-local-navigation a:hover, .campl-theme-6 .campl-local-navigation a:active { background-color: rgb(190, 23, 65); }
.campl-theme-6 .campl-local-navigation a.campl-selected { background: none repeat scroll 0% 0% rgb(214, 23, 70); }
.campl-theme-6 .campl-local-navigation li.campl-sub li a { background-color: rgb(108, 17, 42); border-right: 0px none; }
.campl-theme-6 .campl-local-navigation li.campl-sub li li a { border-bottom: 1px solid rgb(165, 17, 55); }
.campl-theme-6 .campl-local-navigation li.campl-sub li:last-child a { border-bottom: 0px none; }
.js .campl-theme-6 .campl-local-navigation li.campl-sub > a:focus, .js .campl-theme-6 .campl-local-navigation li.campl-sub > a:hover, .js .campl-theme-6 .campl-local-navigation li.campl-sub > a:active { background-color: rgb(165, 17, 55); }
.js .campl-theme-6 .campl-local-navigation li.campl-sub a:focus, .js .campl-theme-6 .campl-local-navigation li.campl-sub a:hover { background-color: rgb(108, 17, 42); }
.js .campl-theme-6 .campl-local-navigation li.campl-sub li a:focus, .js .campl-theme-6 .campl-local-navigation li.campl-sub li a:hover { background-color: rgb(165, 17, 55); }
@media only screen and (max-width: 767px) {
  .campl-local-navigation { border: 0px none; }
  .js .campl-closed .campl-menu-btn-arrow { background-image: url("icon-close-btn.png"); }
  .js .campl-menu-btn a:focus, .js .campl-menu-btn a:hover { border: 0px none; }
  .campl-local-navigation ul { border-top: 0px none; }
  .js .campl-local-navigation a { background: none repeat scroll 0% 0% rgb(16, 100, 112); border-right: 0px none; border-top: 0px none; }
  .campl-local-navigation li a { border-bottom: 1px solid rgb(12, 89, 99); }
  .js .campl-local-navigation li li a, .js .campl-local-navigation li.campl-sub li.campl-sub a { background-color: rgb(16, 100, 112); }
  .js .campl-local-navigation li.campl-title a, .js .campl-local-navigation li.campl-sub li.campl-title a, .js .campl-local-navigation li.campl-sub li.campl-sub li.campl-title a, .js .campl-local-navigation a:focus, .js .campl-local-navigation a:hover, .js .campl-local-navigation a:active { background-color: rgb(12, 89, 99); }
  .js .campl-local-navigation li.campl-sub a:focus, .js .campl-local-navigation li.campl-sub a:hover { background-color: rgb(12, 89, 99); }
  .js .campl-local-navigation li.campl-sub li a:focus, .js .campl-local-navigation li.campl-sub li a:hover { background-color: rgb(12, 89, 99); }
  .js .campl-menu-btn a { border: 0px none; background: none repeat scroll 0% 0% rgb(12, 89, 99); }
  .campl-menu-btn-arrow { background: none repeat scroll 0% 0% rgb(0, 58, 65); }
  .campl-menu-indicator { background-color: rgb(12, 89, 99); }
  .js .campl-local-navigation-container li:first-child a { border-top: 1px solid rgb(0, 58, 65); }
  .js .campl-local-navigation-container li.campl-back-link a, .js .campl-local-navigation-container li.campl-sub li.campl-back-link a, .js .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a, .js .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a { border-bottom: 1px solid rgb(12, 89, 99); background-color: rgb(0, 58, 65); }
  .js .campl-local-navigation-container li.campl-back-link a:focus, .js .campl-local-navigation-container li.campl-back-link a:hover, .js .campl-local-navigation-container li.campl-sub li.campl-back-link a:focus, .js .campl-local-navigation-container li.campl-sub li.campl-back-link a:hover, .js .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:focus, .js .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:hover, .js .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:focus, .js .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:hover { background-color: rgb(12, 89, 99); }
  .js .campl-theme-6 .campl-local-navigation a { background: none repeat scroll 0% 0% rgb(133, 23, 53); border-right: 0px none; border-top: 0px none; }
  .campl-theme-6 .campl-local-navigation li a { border-bottom: 1px solid rgb(165, 17, 55); }
  .js .campl-theme-6 .campl-local-navigation li li a, .js .campl-theme-6 .campl-local-navigation li.campl-sub li.campl-sub a { background-color: rgb(133, 23, 53); }
  .js .campl-theme-6 .campl-local-navigation li.campl-title a, .js .campl-theme-6 .campl-local-navigation li.campl-sub li.campl-title a, .js .campl-theme-6 .campl-local-navigation li.campl-sub li.campl-sub li.campl-title a, .js .campl-theme-6 .campl-local-navigation a:focus, .js .campl-theme-6 .campl-local-navigation a:hover, .js .campl-theme-6 .campl-local-navigation a:active { background-color: rgb(165, 17, 55); }
  .js .campl-theme-6 .campl-local-navigation li.campl-sub a:focus, .js .campl-theme-6 .campl-local-navigation li.campl-sub a:hover { background-color: rgb(165, 17, 55); }
  .js .campl-theme-6 .campl-local-navigation li.campl-sub li a:focus, .js .campl-theme-6 .campl-local-navigation li.campl-sub li a:hover { background-color: rgb(165, 17, 55); }
  .js .campl-theme-6 .campl-menu-btn a { border: 0px none; background: none repeat scroll 0% 0% rgb(165, 17, 55); }
  .campl-theme-6 .campl-menu-btn-arrow { background: none repeat scroll 0% 0% rgb(108, 17, 42); }
  .campl-theme-6 .campl-menu-indicator { background-color: rgb(165, 17, 55); }
  .js .campl-theme-6 .campl-local-navigation-container li:first-child a { border-top: 1px solid rgb(108, 17, 42); }
  .js .campl-theme-6 .campl-local-navigation-container li.campl-back-link a, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-back-link a, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a { border-bottom: 1px solid rgb(165, 17, 55); background-color: rgb(108, 17, 42); }
  .js .campl-theme-6 .campl-local-navigation-container li.campl-back-link a:focus, .js .campl-theme-6 .campl-local-navigation-container li.campl-back-link a:hover, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-back-link a:focus, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-back-link a:hover, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:focus, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:hover, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:focus, .js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:hover { background-color: rgb(165, 17, 55); }
}
.campl-global-header { background: none repeat scroll 0% 0% rgb(0, 0, 0); }
.campl-global-footer { background: none repeat scroll 0% 0% rgb(23, 23, 23); }
.campl-global-navigation-drawer { background: none repeat scroll 0% 0% rgb(23, 23, 23); color: rgb(206, 206, 206); }
.campl-global-navigation-outer { border-style: solid; border-color: rgb(50, 50, 50); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
.campl-global-navigation-container { border-right: 1px solid rgb(50, 50, 50); }
.campl-global-navigation-container.last { border-right: 0px none; }
.campl-global-navigation-secondary-with-children, .campl-global-navigation-container li.last, .campl-global-navigation-secondary-with-children li { border-bottom: 0px none; }
.campl-global-navigation-container li, .campl-global-navigation-header-container li { border-bottom: 1px solid rgb(50, 50, 50); }
.campl-global-navigation-tertiary li, .campl-global-navigation-secondary-with-children li { border-bottom: 0px none; }
.campl-global-footer { color: rgb(255, 255, 255); }
.campl-content { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.campl-secondary-content { background: none repeat scroll 0% 0% rgb(246, 246, 246); }
.campl-highlight-date { color: rgb(255, 255, 255); }
.js #global-header-controls { display: none; }
.js .campl-carousel li { display: none; }
.js .campl-secondary-content { display: none; }
@media print {
  body { background: none repeat scroll 0% 0% transparent ! important; }
  * { background: none repeat scroll 0% 0% transparent ! important; color: black ! important; box-shadow: none ! important; text-shadow: none ! important; filter: none ! important; }
  .Zebra_DatePicker a[href]:after, .campl-carousel a[href]:after { display: none ! important; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  [class*="campl-column"], .campl-column { float: none; display: block; width: auto; margin-left: 0px; }
  .campl-wrap { width: 100%; }
  .campl-recessed-secondary-content { margin-top: 0px; }
  .campl-primary-cta { color: rgb(255, 255, 255) ! important; }
  .campl-co-branding-logo { padding: 5px; background: none repeat scroll 0% 0% rgb(0, 0, 0) ! important; display: block; float: none; }
  .campl-main-logo { padding: 5px; background: none repeat scroll 0% 0% rgb(0, 0, 0) ! important; display: block; float: none; }
  .campl-global-header { display: none ! important; }
  .campl-global-navigation-drawer { display: none ! important; }
  .campl-local-navigation { display: none ! important; }
  .campl-global-footer { display: none ! important; }
  .campl-slide-caption { position: static; }
  .campl-focus-teaser-txt { float: none; clear: both; }
  .campl-carousel .campl-slide { display: block; }
}
.campl-page-header a.active { color: rgb(255, 255, 255); }
.campl-unstyled-list .leaf, .campl-unstyled-list .expanded, .campl-unstyled-list .collapsed { list-style: none outside none; padding: 0px; }
@media only screen and (max-width: 1150px) {
}
@media (max-width: 767px) {
}
.campl-co-branding-container .campl-page-title { clear: none; display: none; }
