/* Code tidied up by ScrapBook */
.element-hidden { display: none; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
ul.menu { border: medium none; list-style: none outside none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
ul li.expanded { list-style-image: url("menu-expanded.png"); list-style-type: circle; }
ul li.collapsed { list-style-image: url("menu-collapsed.png"); list-style-type: disc; }
ul li.leaf { list-style-image: url("menu-leaf.png"); list-style-type: square; }
li.expanded, li.collapsed, li.leaf { padding: 0.2em 0.5em 0px 0px; margin: 0px; }
li a.active { color: rgb(0, 0, 0); }
form { margin: 0px; padding: 0px; }
hr { border: 1px solid gray; height: 1px; }
img { border: 0px none; }
label { display: block; font-weight: bold; }
