/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  src: local("Rajdhani Bold"), local("Rajdhani-Bold"), url("urn:scrapbook-download-error:https://fonts.gstatic.com/s/rajdhani/v8/LDI2apCSOBg7S-QT7pa8FvOreeE.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("urn:scrapbook-download-error:https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzQ.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("KFOmCnqEu92Fr1Mu4mxM.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("urn:scrapbook-download-error:https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBBc-.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("KFOlCnqEu92Fr1MmWUlfBBc-.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("urn:scrapbook-download-error:https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfBBc-.woff") format("woff");
}
