/* Code tidied up by ScrapBook */
@font-face {
  font-family: "sidearm_font";
  font-style: normal;
  font-weight: normal;
  src: url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm/sidearm_font.eot?77286934#iefix") format("embedded-opentype"), url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm/sidearm_font.woff2?77286934") format("woff2"), url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm/sidearm_font.woff?77286934") format("woff"), url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm/sidearm_font.ttf?77286934") format("truetype"), url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm/sidearm_font.svg?77286934#sidearm_font") format("svg");
}
