/* Code tidied up by ScrapBook */
@import url("sidearm_font.css");
*, *:before, *:after { box-sizing: border-box; }
body { font-size: 1rem; line-height: 1.4; color: rgb(89, 89, 89); }
img { display: inline-block; vertical-align: bottom; max-width: 100%; height: auto; }
a, a:link { color: rgb(0, 33, 71); }
a:visited { color: rgb(0, 9, 20); }
h1 { font-size: 2rem; margin: 1rem 0px; }
h2 { font-size: 1.5rem; margin: 0.83rem 0px; }
input, select, textarea { color: rgb(89, 89, 89); border-radius: 2px; border: 1px solid rgb(204, 204, 204); width: 100%; padding: 4px 8px; }
input:focus, select:focus, textarea:focus { outline: medium none; }
button, input[type="reset"], input[type="submit"] { cursor: pointer; width: auto; }
.flex { display: flex; }
.flex.row:before, .flex.row:after { display: none; }
.flex.flex-wrap { flex-wrap: wrap; }
.flex.flex-align-center { align-items: center; }
.flex.flex-justify-center { justify-content: center; }
.flex.flex-justify-end { justify-content: flex-end; }
.row { margin-left: auto; margin-right: auto; width: auto; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }
.relative { position: relative ! important; }
.hide, .hide-on-x-small-down, .hide-on-small-down, .hide-on-medium-down, .hide-on-large-down, .show-on-small-only, .show-on-medium-only, .show-on-large-only, .show-on-x-large-only { display: none ! important; }
h1.hide, h1.hide-on-x-small-down, h1.hide-on-small-down, h1.hide-on-medium-down, h1.hide-on-large-down, h1.show-on-small-only, h1.show-on-medium-only, h1.show-on-large-only, h1.show-on-x-large-only, h2.hide, h2.hide-on-x-small-down, h2.hide-on-small-down, h2.hide-on-medium-down, h2.hide-on-large-down, h2.show-on-small-only, h2.show-on-medium-only, h2.show-on-large-only, h2.show-on-x-large-only, h3.hide, h3.hide-on-x-small-down, h3.hide-on-small-down, h3.hide-on-medium-down, h3.hide-on-large-down, h3.show-on-small-only, h3.show-on-medium-only, h3.show-on-large-only, h3.show-on-x-large-only, caption.hide, caption.hide-on-x-small-down, caption.hide-on-small-down, caption.hide-on-medium-down, caption.hide-on-large-down, caption.show-on-small-only, caption.show-on-medium-only, caption.show-on-large-only, caption.show-on-x-large-only, label.hide, label.hide-on-x-small-down, label.hide-on-small-down, label.hide-on-medium-down, label.hide-on-large-down, label.show-on-small-only, label.show-on-medium-only, label.show-on-large-only, label.show-on-x-large-only { display: block ! important; position: absolute; left: -9999px; top: -9999px; }
@media screen and (min-width: 400px) {
}
@media screen and (min-width: 400px) and (max-width: 539px) {
}
@media screen and (min-width: 540px) {
  .hide-on-medium, .hide-on-medium-down { display: none ! important; }
}
@media screen and (min-width: 540px) and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  .hide-on-large, .hide-on-large-down { display: none ! important; }
  .hide-on-medium-down, .large-unflex { display: block ! important; }
  span.hide-on-medium-down, span.large-unflex { display: inline ! important; }
  .flex.large-flex-justify-between { justify-content: space-between; }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
  .hide-on-large-down, .show-on-x-large-only, .x-large-unflex { display: block ! important; }
  .hide-on-large-down.flex:not([class*="unflex"]), .show-on-x-large-only.flex:not([class*="unflex"]), .x-large-unflex.flex:not([class*="unflex"]) { display: flex ! important; }
}
@keyframes progress-bar {
0% { transform: scaleY(0.4); }
20% { transform: scaleY(1); }
40% { transform: scaleY(0.4); }
100% { transform: scaleY(0.4); }
}
