/* Code tidied up by ScrapBook */
@font-face {
  font-family: "sidearm_font_v2";
  font-style: normal;
  font-weight: normal;
  src: url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm_v2/sidearm_font_v2.eot?9578230#iefix") format("embedded-opentype"), url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm_v2/sidearm_font_v2.woff2?9578230") format("woff2"), url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm_v2/sidearm_font_v2.woff?9578230") format("woff"), url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm_v2/sidearm_font_v2.ttf?9578230") format("truetype"), url("urn:scrapbook-download-error:https://fonts.sidearmsports.com/sidearm_v2/sidearm_font_v2.svg?9578230#sidearm_font_v2") format("svg");
}
[class^="sf-"]:before, [class*=" sf-"]:before { font-family: "sidearm_font_v2"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 0.2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: 0.2em; }
.sf-arrows-thick-down:before { content: ""; }
