/* Code tidied up by ScrapBook */
@import url("sidearm_font_v2.css");
@import url("css.css");
.reset-list { margin: 0px; padding: 0px; list-style: none outside none; }
a.sidearm-skip-link { position: absolute; top: 0px; left: -99999px; color: white; background-color: rgb(0, 33, 71); }
a.sidearm-skip-link:link, a.sidearm-skip-link:visited { color: white; }
a.sidearm-skip-link:focus { position: fixed; z-index: 9999999; left: 0px; }
html:after { position: fixed; z-index: -1; top: 0px; left: 0px; width: 100%; height: 100%; content: ""; background: url("bgsmall.jpg") no-repeat scroll center bottom rgb(209, 213, 216); }
body { font: 1rem/1.5 'Roboto',arial,sans-serif; margin: 0px; padding: 110px 0px 0px; color: black; }
.row { max-width: 1464px; margin: 0px auto; }
.row--narrow { max-width: 1416px; }
.main-header { position: fixed; z-index: 599; top: 0px; left: 0px; width: 100%; }
.main-header .main-header__header { position: relative; z-index: 701; color: white; background: none repeat scroll 0% 0% rgb(211, 13, 63); }
.main-header .main-header__title { font-family: 'Rajdhani',sans-serif; font-size: 15px; font-weight: 700; font-style: normal; line-height: 50px; margin: 0px; padding: 0px; letter-spacing: 2px; text-transform: uppercase; color: white; }
.main-header .main-header__title--large { white-space: pre-wrap; }
.main-header .main-header__logo { transform: translate(-50%, 0px); position: absolute; z-index: 799; top: 62px; left: 50%; width: 79px; height: 58px; }
@media all and (min-width: 768px) {
  .main-header .main-header__title { padding: 0px 0px 0px 185px; }
  .main-header .main-header__logo { transform: none; top: 10px; left: 24px; width: 120px; height: 89px; }
}
@media all and (min-width: 768px) {
}
.main-navigation { position: relative; z-index: 700; height: 60px; background: none repeat scroll 0% 0% rgb(1, 30, 65); }
.main-navigation navigation-component { flex: 1 0 auto; min-width: 1px; min-height: 1px; display: block; }
.main-navigation__members { flex: 0 0 auto; min-width: 1px; min-height: 1px; }
.main-navigation__members-button { margin: 0px; border-radius: 0px; -moz-appearance: none; display: flex; align-items: center; justify-content: center; font-family: 'Roboto',sans-serif; font-size: 16px; font-weight: 700; font-style: normal; transition: all 0.2s ease 0s; height: 60px; padding: 0px 20px 0px 25px; white-space: pre; color: white; border-right: 1px solid rgb(0, 15, 32); border-left: 1px solid rgb(0, 15, 32); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: medium 1px; border-style: none solid; border-color: -moz-use-text-color rgb(0, 15, 32); background: none repeat scroll 0% 0% rgb(1, 24, 52); }
.main-navigation__members-button-icon { transition: all 0.2s ease 0s; display: inline-block; margin-left: 9px; color: white; }
.main-navigation__members-button:hover { color: black; background: none repeat scroll 0% 0% white; }
.main-navigation__members-button:hover .main-navigation__members-button-icon { color: rgb(211, 13, 63); }
@media all and (min-width: 1152px) {
  .main-navigation__members { margin-right: 24px; }
}
.s-members { transition: all 0.3s ease 0s; position: absolute; z-index: 500; bottom: 0px; left: 0px; width: 100%; }
@media all and (min-width: 768px) {
}
.news-events .news-events__news { background: none repeat scroll 0% 0% white; }
.news-events .news-events__events { position: relative; background: none repeat scroll 0% 0% rgb(1, 30, 65); }
.news-events .news-events__tabs { display: flex; flex-direction: column; align-items: stretch; justify-content: center; height: 120px; padding: 0px 18px; border-bottom: 1px solid rgb(0, 15, 32); background: url("tab-bg.jpg") repeat-x scroll left bottom transparent; }
.news-events .news-events__tabs-item { width: 50%; padding: 0px 6px; }
.news-events .news-events__tabs-item.ui-state-active .news-events__tabs-link { color: white; border: medium none; background: none repeat scroll 0% 0% rgb(211, 13, 63); }
.news-events .news-events__tabs-item.ui-state-active .news-events__tabs-link:hover { color: white; }
.news-events .news-events__tabs-link { font-family: 'Rajdhani',sans-serif; font-size: 0.938rem; font-weight: 700; font-style: normal; display: flex; align-items: center; justify-content: center; transition: all 0.2s ease 0s; width: 100%; height: 60px; text-align: center; text-decoration: none; letter-spacing: 0.125rem; text-transform: uppercase; color: black; border: 2px solid white; background: none repeat scroll 0% 0% white; }
.news-events .news-events__tabs-link:hover { color: white; background: none repeat scroll 0% 0% rgb(211, 13, 63); }
@media all and (min-width: 768px) {
  .news-events .news-events__news { margin: 24px; }
  .news-events .news-events__tabs-item { width: auto; }
  .news-events .news-events__tabs-link { width: 180px; }
}
@media all and (min-width: 1024px) {
  .news-events .news-events__row { display: flex; padding: 37px 12px 0px; }
  .news-events .news-events__news { flex: 1 1 auto; min-width: 1px; min-height: 1px; margin: 0px 12px; }
  .news-events .news-events__events { flex: 0 0 336px; min-width: 1px; min-height: 1px; margin: 0px 12px; }
  .news-events .news-events__events-container, .news-events .news-events__standings-container { position: absolute; top: 120px; left: 0px; width: 100%; height: calc(100% - 120px); }
  .news-events .news-events__tabs-item { width: 50%; }
  .news-events .news-events__tabs-link { width: 100%; }
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 1024px) {
}
@media all and (min-width: 1024px) {
}
@media all and (min-width: 768px) {
}
.twitter-video { padding: 0px 0px 48px; background: none repeat scroll 0% 0% rgb(1, 30, 65); }
.twitter-video section { width: 100%; transition: opacity 0.25s ease 0s; opacity: 1; }
.twitter-video section[aria-hidden="true"] { transform: translate(-9999px, 0px); display: block ! important; width: 100%; height: 0px; opacity: 0; overflow: hidden; }
.twitter-video .twitter-video__tabs { border-bottom: 1px solid rgb(0, 15, 32); background: url("tab-bg.jpg") repeat-x scroll left bottom transparent; }
.twitter-video .twitter-video__tabs-row { display: flex; flex-direction: column; align-items: stretch; justify-content: center; height: 120px; padding: 0px 18px; }
.twitter-video .twitter-video__tabs-item { width: 50%; padding: 0px 6px; }
.twitter-video .twitter-video__tabs-item.ui-state-active .twitter-video__tabs-link { color: white; border: medium none; background: none repeat scroll 0% 0% rgb(211, 13, 63); }
.twitter-video .twitter-video__tabs-item.ui-state-active .twitter-video__tabs-link:hover { color: white; }
.twitter-video .twitter-video__tabs-link { font-family: 'Rajdhani',sans-serif; font-size: 0.938rem; font-weight: 700; font-style: normal; display: flex; align-items: center; justify-content: center; transition: all 0.2s ease 0s; width: 100%; height: 60px; text-align: center; text-decoration: none; letter-spacing: 0.125rem; text-transform: uppercase; color: black; border: 2px solid white; background: none repeat scroll 0% 0% white; }
.twitter-video .twitter-video__tabs-link:hover { color: white; background: none repeat scroll 0% 0% rgb(211, 13, 63); }
@media all and (min-width: 768px) {
  .twitter-video .twitter-video__tabs-item { width: auto; }
  .twitter-video .twitter-video__tabs-link { width: 170px; }
}
.s-stickybar { transform: translate(0px, 100%); transition: all 0.3s ease 0s; position: fixed; z-index: 100; bottom: 0px; left: 0px; display: none; width: 100%; height: 60px; color: white; background: none repeat scroll 0% 0% rgb(211, 13, 63); }
.s-stickybar .c-sticky { position: relative; height: 60px; }
.s-stickybar .c-sticky:before, .s-stickybar .c-sticky:after { transform: translate(50%, 0px); position: absolute; right: 0px; bottom: 0px; width: 670px; height: 60px; content: ""; background: url("mountain-bg.png") no-repeat scroll left bottom transparent; }
.s-stickybar .c-sticky:before { transform: translate(-50%, 0px); right: auto; left: 0px; }
.s-stickybar .c-sticky__container { flex: 1 1 auto; min-width: 1px; min-height: 1px; position: relative; z-index: 10; }
.s-stickybar .c-sticky__ticker .info { font-family: 'Roboto',sans-serif; font-size: 15px; font-weight: 400; font-style: normal; }
.s-stickybar .c-sticky__container { order: 0; }
.s-stickybar .c-sticky__social { position: relative; z-index: 10; order: 1; }
.s-stickybar .c-sticky__search { position: relative; z-index: 10; order: 2; margin: 0px 24px 0px 6px; }
@media all and (min-width: 1024px) {
  .s-stickybar { display: block; }
}
.ad-footer-sponsors { background: none repeat scroll 0% 0% rgb(189, 11, 56); text-align: center; padding: 0px 12px; }
.ad-footer-sponsors--small { background: none repeat scroll 0% 0% rgb(211, 13, 63); }
@media screen and (max-width: 768px) {
}
.main-footer .main-footer__legal { padding: 30px 96px 34px; color: white; background: none repeat scroll 0% 0% rgb(1, 30, 65); }
.main-footer .main-footer__legal-link { font-family: 'Rajdhani',sans-serif; font-size: 0.938rem; font-weight: 700; font-style: normal; flex: 0 0 auto; min-width: 1px; min-height: 1px; line-height: 1.875; width: 100%; padding: 16px 0px 14px; text-align: center; text-transform: uppercase; }
.main-footer .main-footer__legal-link a { text-decoration: underline; color: white; }
.main-footer .main-footer__copy { font-family: 'Roboto',sans-serif; font-size: 1rem; font-weight: 900; font-style: normal; line-height: 1.875; padding: 14px; text-align: center; color: rgb(1, 30, 65); background: none repeat scroll 0% 0% white; }
.main-footer .main-footer__logos { background: none repeat scroll 0% 0% white; border-bottom: 1px solid rgb(224, 224, 224); }
.main-footer .main-footer__logos-row { flex-wrap: wrap; }
.main-footer .main-footer__logo { flex: 1 1 auto; min-width: 1px; min-height: 1px; width: 50%; display: flex; align-items: center; justify-content: center; padding: 40px 24px; }
.main-footer .main-footer__logo img { opacity: 0.5; transition: all 0.2s ease 0s; }
.main-footer .main-footer__logo img:hover { opacity: 1; }
.main-footer .main-footer__logo:first-child { flex: 0 0 auto; min-width: 1px; min-height: 1px; width: 100%; }
.main-footer .main-footer__logo:last-child { flex: 0 0 auto; min-width: 1px; min-height: 1px; width: 100%; }
.main-footer .main-footer__logo:nth-child(2) { border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(224, 224, 224) rgb(224, 224, 224) rgb(224, 224, 224) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.main-footer .main-footer__logo:nth-child(3) { border-width: 1px medium; border-style: solid none; border-color: rgb(224, 224, 224) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
@media all and (min-width: 768px) {
  .main-footer .main-footer__logo { flex: 0 0 auto; min-width: 1px; min-height: 1px; width: 25%; }
  .main-footer .main-footer__logo:first-child, .main-footer .main-footer__logo:last-child { flex: 0 0 auto; min-width: 1px; min-height: 1px; width: 25%; border-right: 1px solid rgb(224, 224, 224); }
  .main-footer .main-footer__logo:first-child { border-left: 1px solid rgb(224, 224, 224); }
  .main-footer .main-footer__logo:nth-child(2), .main-footer .main-footer__logo:nth-child(3) { border-width: medium 1px medium medium; border-style: none solid none none; border-color: -moz-use-text-color rgb(224, 224, 224) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
  .main-footer .main-footer__logos-row { flex-wrap: nowrap; }
  .main-footer .main-footer__legal { padding: 18px 48px 19px; }
  .main-footer .main-footer__legal-link { width: auto; padding: 6px 0px; }
  .main-footer .main-footer__legal-link:last-child { width: 100%; }
  .main-footer .main-footer__legal-link:first-child:after { display: inline-block; padding: 0px 6px; content: "/"; text-decoration: none; }
}
@media all and (min-width: 1024px) {
  .main-footer .main-footer__legal { padding: 9px 48px 70px; }
  .main-footer .main-footer__legal-link { width: auto; }
  .main-footer .main-footer__legal-link:nth-child(2):after { display: inline-block; padding: 0px 6px; content: "/"; text-decoration: none; }
  .main-footer .main-footer__legal-link:last-child { width: auto; }
}
@media all and (min-width: 1024px) {
}
@media all and (min-width: 540px) {
}
@media all and (min-width: 1024px) {
}
@supports (-ms-overflow-style: none) {
  .ps { overflow: auto ! important; }
}
@media not all, not all {
}
h1.hide, h2.hide { background: none repeat scroll 0% 0% white; color: black; }
