var _as_a={pid:'15562647368251031',at:0,aw:300,ah:250,au:'http://dx002.b0.upaiyun.com/20171012/15077995806060.jpg',apv:'http://ad.anjien.com/ui/st/p.do?c=2ab6bbe8e26b9eb3cfc1102f7cdd1f63&ct=0&p=1228&pe=2273&ai=7946&w=8&wp=0&cot=0&cos=0.05&rvt=0&rv=0.01',acu:'http://ad.anjien.com/ui/st/c.do?c=2ab6bbe8e26b9eb3cfc1102f7cdd1f63&ct=0&p=1228&pe=2273&ai=7946&w=8&wp=0&cot=0&cos=0.05&rvt=0&rv=0.01&r=http://www.elong.com/?semid=ppzqbaidu',exhtml:''};(function() {
	if(window._as_disp) return;

	if(typeof HTMLElement != 'undefined' && HTMLElement.prototype.insertAdjacentHTML == undefined) {  
	    HTMLElement.prototype.insertAdjacentHTML = function(where, html) {  
	        var r = this.ownerDocument.createRange();  
	        r.setStartBefore(this);  
	        var parsedHTML = r.createContextualFragment(html);  
	        this.insertAdjacentElement(where, parsedHTML);  
	    }  
	}

	var imgHtml = function(ad) {
		return ['<a href="', ad.acu ,'" target="_blank"><img border="0" style="width:100%;height:auto;" src="', ad.au ,'"></img></a><img style="display:none;" width="0" height="0" src="',ad.apv,'"></img>'].join('');
	};

	var flashHtml = function(ad) {
		return ['<div style="border:0px;position:relative;width:', ad.aw ,'px;height:', ad.ah ,'px;z-index:3;">', 
	              '<a href="', ad.acu, '" target="_blank" style="cursor:pointer">',
				        '<div style="position:relative;filter:alpha(opacity=0);opacity:0;-moz-opacity:0;left:0;top:0;background:#CDEAF6;width:', ad.aw ,'px;height:', ad.ah ,'px;z-index:2147483646">',
				        '</div>',
			      '</a>',
                  '<div style="border:0px;position:absolute;top:0px;left:0;width:', ad.aw ,'px;height:', ad.ah ,'px;z-index:2147483645;">',
                      '<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"',
				          ' codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"',
				          ' width="', ad.aw, '" height="', ad.ah, '">',
				          '<PARAM NAME="movie" VALUE="', ad.au, '">',
				          '<PARAM NAME="wmode" VALUE="transparent" />',
				          '<PARAM NAME="quality" VALUE="high" />',
				          '<EMBED id="ma" src="', ad.au , '" width="', ad.aw, '" height="', ad.ah,
				            '" NAME="myMovieName" ALIGN="" quality="high" TYPE="application/x-shockwave-flash" wmode="transparent"',
				            ' PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">',
				          '</EMBED>',
		        	 '</OBJECT>',
                  '</div><img style="display:none;" width="0" height="0" src="',ad.apv,'"></img>',
               '</div>'].join('');
	};

	var textLinkHtml = function(ad) {
		return ['<a href="', ad.acu ,'" target="_blank">', ad.atx, '</a>'].join('');
	};

	var htmlFileHtml = function(ad) {
		return ['<iframe name="adframe" allowTransparency="true" src="', ad.au, '" frameborder="0" width="', ad.aw, '" height="', ad.ah, '" marginwidth="0" marginheight="0" scrolling="no" style="z-index:2147483647"><', '/iframe>'].join('');
	};

	var toHtml = function(ad) {
		switch(ad.at) {
		case 0:
			return imgHtml(ad);
		case 1:
			return flashHtml(ad);
		case 2:
			return textLinkHtml(ad);
		case 3:
			return htmlFileHtml(ad);
		default:
			return '';
		}
	};

	var disp = function(ad) {
		var htm = toHtml(ad);
		if(htm && htm.length > 0) {
			var anchor = document.getElementById('_as_anchor_' + ad.pid);
			if(anchor) {
				anchor.insertAdjacentHTML("beforeBegin",  htm + ad.exhtml);
			} else {
				document.write(htm + ad.exhtml);
			}
		}
	};

	window._as_disp = {disp : disp};
})();

var _as_a = _as_a;
if(_as_a) window._as_disp.disp(_as_a);
