* {
	background: none !important; color: rgb(0, 0, 0) !important; box-shadow: none !important; text-shadow: none !important;
}
*::before {
	background: none !important; color: rgb(0, 0, 0) !important; box-shadow: none !important; text-shadow: none !important;
}
*::after {
	background: none !important; color: rgb(0, 0, 0) !important; box-shadow: none !important; text-shadow: none !important;
}
a {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a[href^='#']::after {
	content: "";
}
a[href^='javascript:']::after {
	content: "";
}
a.fotolink::after {
	content: "";
}
pre {
	border: 1px solid rgb(153, 153, 153); border-image: none; page-break-inside: avoid;
}
blockquote {
	border: 1px solid rgb(153, 153, 153); border-image: none; page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr {
	page-break-inside: avoid;
}
img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
p {
	orphans: 3; widows: 3;
}
h2 {
	orphans: 3; widows: 3;
}
h3 {
	orphans: 3; widows: 3;
}
h2 {
	page-break-after: avoid;
}
h3 {
	page-break-after: avoid;
}
.navbar {
	display: none;
}
.btn > .caret {
	border-top-color: rgb(0, 0, 0) !important;
}
.dropup > .btn > .caret {
	border-top-color: rgb(0, 0, 0) !important;
}
.label {
	border: 1px solid rgb(0, 0, 0); border-image: none;
}
.table {
	border-collapse: collapse !important;
}
.table td {
	background-color: rgb(255, 255, 255) !important;
}
.table th {
	background-color: rgb(255, 255, 255) !important;
}
.table-bordered th {
	border: 1px solid rgb(221, 221, 221) !important; border-image: none !important;
}
.table-bordered td {
	border: 1px solid rgb(221, 221, 221) !important; border-image: none !important;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.page-container-wrapper {
	margin: 0px; width: 100%; float: none;
}
.header {
	display: none !important;
}
.skip {
	display: none !important;
}
.breadcrumb {
	display: none !important;
}
#lcpbox_container {
	display: none !important;
}
.lcp-bo-edit-box {
	display: none !important;
}
.inplace-editing-toolbar {
	display: none !important;
}
.copy {
	display: none !important;
}
.footer-nav-left {
	display: none !important;
}
.footer-nav-right {
	display: none !important;
}
.box-social {
	display: none !important;
}
.list-spotlight .img {
	display: none !important;
}
.list-news-default .news-photo {
	display: none !important;
}
.sticky-wrapper {
	display: none !important;
}
.pager-hours {
	display: none !important;
}
.pager {
	display: none !important;
}
.events-date {
	display: none !important;
}
.box-filter {
	display: none !important;
}
.list-filter-status {
	display: none !important;
}
[class^='btn-'] {
	display: none !important;
}
[class*=' btn-'] {
	display: none !important;
}
.list-footer-social {
	display: none !important;
}
.toppos {
	display: none !important;
}
.box-share {
	display: none !important;
}
@media print
{
.header {
	display: none !important;
}
.skip {
	display: none !important;
}
.breadcrumb {
	display: none !important;
}
#lcpbox_container {
	display: none !important;
}
.lcp-bo-edit-box {
	display: none !important;
}
.inplace-editing-toolbar {
	display: none !important;
}
.copy {
	display: none !important;
}
.footer-nav-left {
	display: none !important;
}
.footer-nav-right {
	display: none !important;
}
.box-social {
	display: none !important;
}
.list-spotlight .img {
	display: none !important;
}
.list-news-default .news-photo {
	display: none !important;
}
.sticky-wrapper {
	display: none !important;
}
.pager-hours {
	display: none !important;
}
.pager {
	display: none !important;
}
.events-date {
	display: none !important;
}
.box-filter {
	display: none !important;
}
.list-filter-status {
	display: none !important;
}
[class^='btn-'] {
	display: none !important;
}
[class*=' btn-'] {
	display: none !important;
}
.list-footer-social {
	display: none !important;
}
.toppos {
	display: none !important;
}
.box-share {
	display: none !important;
}
}
dl {
	padding: 0.5em 0px;
}
dt {
	width: 100px; text-align: left; clear: left; font-weight: bold; float: left;
}
dt::after {
	content: ":";
}
dd {
	margin: 0px 0px 0px 110px; padding: 0px 0px 0.5em;
}
dd a::after {
	content: "" !important;
}
.partial-container .list {
	list-style: none; margin: 0px; padding: 0px;
}
.spotlight-item {
	height: auto !important;
}
.visible-print {
	display: block !important;
}
table.visible-print {
	display: table !important;
}
tr.visible-print {
	display: table-row !important;
}
th.visible-print {
	display: table-cell !important;
}
td.visible-print {
	display: table-cell !important;
}
@media print
{
.visible-print {
	display: block !important;
}
table.visible-print {
	display: table !important;
}
tr.visible-print {
	display: table-row !important;
}
th.visible-print {
	display: table-cell !important;
}
td.visible-print {
	display: table-cell !important;
}
}
.visible-print-block {
	display: block !important;
}
@media print
{
.visible-print-block {
	display: block !important;
}
}
.visible-print-inline {
	display: inline !important;
}
@media print
{
.visible-print-inline {
	display: inline !important;
}
}
.visible-print-inline-block {
	display: inline-block !important;
}
@media print
{
.visible-print-inline-block {
	display: inline-block !important;
}
}
.hidden-print {
	display: none !important;
}
@media print
{
.hidden-print {
	display: none !important;
}
}
