@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > walk-score-hero:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
		height: 100.00% !important;  /* 110px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(9) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > walk-score-hero:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2){
		height: 100.00% !important;  /* 110px */
	}
}

