*{
    
    padding: 0px;
	/*word-break:break-all;*/
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;
}
body {
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 13px;
	line-height: 22px;
	color: #666;
	text-decoration: none;
	background: #f9f9f9;
}
ul, li{
	margin:0px; padding:0px;
    list-style-type:none;
}
ol, ul {
  list-style: none;
}
ul, li, a
{
	padding: 0px;
	margin: 0px;
}

.left {
	float: left;
}
.right {
	float: right;
}
.bgbai { background:#ffffff;}
.bgqh { background:#eeeeee;}
.bgf3 { background:#f3f3f3;}
.mb10 { margin-bottom:10px;}
.mt10 { margin-top:10px;}
.space {
	padding-top: 20px;
	padding-bottom: 30px;
}
.space-top {
	padding-top: 10px;
}
.space-bottom {
	padding-bottom: 20px;
}
.img-portfolio {
    margin-bottom: 15px;
}
.img-hover:hover {
    opacity: 0.8;
}


h2 { color:#005896;}
.clear{clear:both;}
.column_nr { display:block; overflow:hidden; float:left; width:100%;}
.column_gd { display:block; overflow:hidden;}
.border-not { background:#ffffff; border-left:#bfdae5 solid 1px; border-right:#bfdae5 solid 1px; border-bottom:#bfdae5 solid 1px;}
.imgborder { border:#e6e6e6 solid 1px;}
/* webtop
------------------------------------*/
.webtop { background: url(topbg.jpg) no-repeat #c6daf4; overflow:hidden;}
.webtop .toplogo { margin:38px 0 38px 42px;}
.webtop .topright { margin-left:28px;}
.searchbox { position: relative; width: 74%; border: #FFFFFF solid 1px; padding: 2px 0; background: #fff; margin: 6px 0; border-radius: 3px;border: #DEDEDE solid 1px;}
.searchbox input[type="text"] { margin: 0px 0; padding: 0 0.6em; outline: none; color: #929292; background: none; border: none; width: 89.33333%; position: relative; font-size: 13px; line-height:20px; -webkit-appearance: none;}
::-webkit-input-placeholder{ color: #929292 !important;}
.searchbox input[type="submit"] { background: url(searchbtnbg.png) no-repeat 0px 1px; border: none; cursor: pointer; width: 24px; outline: none; position: absolute; top: 3px; right: 0px;
}
.imgcenter {}
.winl { width:62%; margin-right:20px;}
.winr { width:36%;}
@media (max-width: 1200px){
.webtop { background-size: 100% 100%;}
.webtop .topright { margin-left:25px;}
.winl { width:59.57%;}
.winr { width:38.299%;}
}
@media (max-width: 992px){
.webtop .toplogo { margin: 38px 230px 38px 0;}
.webtop .topright { margin-left:0px;}
.searchbox { width: 100%; margin-top:6px; background: #ffffff;}
.winl { width:100%;}
.winr { width:100%;}
.imgborder { margin-bottom:12px;}
}
@media (max-width: 768px){
.imgcenter {display: block;margin-right: auto;margin-left: auto;margin-bottom:20px;}
.webtop { margin-right: -15px;margin-left: -15px;}
.searchbox { width: 100%;}
.webtop .toplink { margin:0 0 12px 0; text-align:center;}
}
@media (max-width: 640px){
.webtop .toplogo { margin: 32px 122px 32px 0;}	
}
.cgxqbk {overflow: hidden; background:#fff; padding:15px;}
.listbk {overflow: hidden; background:#fff; padding:20px;}
.indexbg {width: auto; height:auto; overflow:hidden; margin-bottom: 20px;
-ms-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);}
.indexbg .bgtitle {width: auto; height: 43px; border-bottom: #e3e3e3 1px solid;}
.indexbg .bgtitle p {width: auto; height: 40px; line-height: 39px; font-family: \5FAE\8F6F\96C5\9ED1; font-size: 18px; color: #434343; margin: 0px 13px;}
.indexbg .bgtitle p span a {float: right; font-family: Arial; font-size: 12px; color: #ababab; }
.indexbg .bgtitle p span a:hover {color: #ff4e00; text-decoration: none;}
.indexbg .gzbk {overflow: hidden; height: 245px; background:#fff; border-bottom:#e6e6e6 solid 1px; border-left:#e6e6e6 solid 1px; border-right:#e6e6e6 solid 1px;}
.indexbg .bgtitle .lm {width: 50%;height: 40px;line-height: 39px;font-family: \5FAE\8F6F\96C5\9ED1;font-size: 18px;color: #434343;margin: 0 0px 0 13px;float: left;}
.indexbg .bgtitle .zybox {margin: 15px 7px 0 0;float: right;}
.indexbg .bgtitle .zybox p { margin:0;}
.indexbg .bgtitle .zybox .prev { width: 14px;height: 14px;float: left;margin-right: 6px;}
.indexbg .bgtitle .zybox .next { width: 14px;height: 14px;float: right;margin-right: 6px;}

.linksbg {width: auto; height:auto; overflow:hidden; margin-bottom: 20px;}
.linksbg .bgtitle {width: auto; height: 43px; border-bottom: #c5c5c5 1px solid;}
.linksbg .bgtitle .lm {width: 50%;height: 40px;line-height: 39px;font-family: \5FAE\8F6F\96C5\9ED1;font-size: 18px;color: #434343;margin: 0 0px 0 13px;float: left;}
.linksbg .bgtitle .lm a:hover {color: #ff4e00; text-decoration:none;}
.linksbg .bgtitle .zybox {margin: 15px 7px 0 0;float: right;}
.linksbg .bgtitle .zybox p { margin:0;}
.linksbg .bgtitle .zybox .prev { width: 14px;height: 14px;float: left;margin-right: 6px;}
.linksbg .bgtitle .zybox .next { width: 14px;height: 14px;float: right;margin-right: 6px;}


.newslist ul {width: 100%; background:#ffffff; }
.newslist ul li {background: url("../images/ico_03.gif") no-repeat left; padding-left: 12px; line-height: 27px;}
.newslist ul li a {color: #474747; font-size: 13px; font-family: \5FAE\8F6F\96C5\9ED1;}
.newslist ul li a:hover {color: #d90303; font-size: 13px; text-decoration: none;}
.newslist ul span {color: #666666; font-size: 12px; font-family: Arial; line-height: 23px;  padding-left: 13px;}
.newslist1 ul { margin:8px; }
.newslist1 ul li {background: url(ico_heid.gif) no-repeat left; padding-left: 12px; line-height: 27px;}
.newslist1 ul li a {color: #474747; font-size: 13px; font-family: \5FAE\8F6F\96C5\9ED1;}
.newslist1 ul li a:hover {color: #d90303; font-size: 13px; text-decoration: none;}

.sy-newsbox {
	padding: 8px 0 0 0;
}
.sy-newsbox .sy-n-img {
	margin-right: 10px; float: left;
}
.sy-newsbox .sy-n-txt {
	line-height: 1.2;
}
.sy-newsbox .sy-n-txt h4 { margin:0 0 6px 0; font-size:15px;}
.sy-newsbox .sy-n-txt h4 a {
	line-height: 1.4; overflow: hidden; margin-bottom: 7px; max-height: 40px; color:#161616; font-weight:600; font-size:16px;
}
.sy-newsbox .sy-n-txt h4 a:hover { color:#166cb8; text-decoration:none;}
.sy-newsbox li {
	overflow: hidden; margin-bottom: 15px;
}
.sy-newsbox .sy-n-img img {
	max-height: 80px; max-width: 120px;
}
.sy-newsbox .sy-n-txt p {
	color: #6d6d6d;line-height: 20px;margin-top: 6px;font-size: 13px; display:none;
}
@media all and (min-width:768px)
{
.sy-newsbox .sy-n-img img {
	width: 100%; max-height: 107px; max-width: 165px;
}
.sy-newsbox .sy-n-txt p {
	line-height: 1.6; max-height: 38px; font-size:12px; display:block;
}
.sy-newsbox .sy-n-txt p span {
	line-height: 1.6; max-height: 38px; font-size:12px; display:block; margin-top:10px;color: #A2A2A2;
}
.sy-newsbox .sy-n-txt h4 {
	max-height: 45px; WHITE-SPACE: nowrap;TEXT-OVERFLOW: ellipsis;display: block;overflow: hidden; font-size:14px; margin-bottom:6px;
}
}
.lanmu{ height:42px; background:url(bkbg02.gif) left bottom repeat-x #FDFDFD;}
.lanmu_l{ line-height:42px; font-family: \5FAE\8F6F\96C5\9ED1; color:#ffffff; font-weight:600; float:left; font-size:18px; padding-left:15px;}
.lanmu_r{ line-height:42px; padding-right:15px; float:right; color:#bddcff; font-family: Arial; font-size:12px;}
.lanmu_r a{ color:#bddcff; text-decoration:none;}
.lanmu_r a:hover{ color:#42ccff; text-decoration:none;}
/* Wivfocusimg
------------------------------------*/
.wivfocus { background:url(wh-bg.jpg) no-repeat center #95dcf0;}
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 20px;
}
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li 
{
  background: #ffffff; border:none; width:12px; height:12px; margin:0 2px;
}
#quote-carousel .carousel-indicators .active 
{
  background: #f94c00;
}
.item blockquote {
    border-left: none; 
    margin: 0;font-size: 30px; color:#000000; line-height:40px;
}
.item blockquote p {
	margin-bottom: 10px;
}
.item blockquote img {
    margin-bottom: 30px; border-radius:4px; border:#eafbff solid 3px;
}
@media (max-width: 992px){
.item blockquote p {
	height: 94px;
    overflow: hidden;
    font-size: 24px;
    line-height: 32px;
}
}
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 20px 30px 20px;
    }
    
}
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 3px;
        width: 12px;
        height: 12px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 3px;
        width: 12px;
        height: 12px;
    }
	.item blockquote p {
	height: 110px;
    overflow: hidden;
    font-size: 18px;
    line-height: 26px;
    }
}
/* Wiv Photo List
------------------------------------*/
.list.custom-list ul {
	margin: 0 0 11px;
	list-style-type: none;
}
.list.custom-list ul li {
	margin: 0;
	padding: 2px 0px;
	position: relative;
	background: url(whiovico_05.gif) no-repeat 0 6px; padding-left:10px;
}
.list.custom-list ul li .title { WIDTH: 78%;WHITE-SPACE: nowrap;TEXT-OVERFLOW: ellipsis; overflow:hidden;}
.list.custom-list ul li span{ position: absolute;top: 0;right: 0;}
.list.custom-list ul li a {
	font: 13px/1.2em Arial;
	color: #5c5c5c;
	text-transform: none;
	display: inline;
	position: relative;
}
.thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none; 
	padding: 4px;
	background: #f3f3f3;
	border-bottom: 2px solid #29aae2;
}
.thumbnail time {
	background: #3d84e6;
	padding: 5px 0;
	display: block;
	text-indent: 12px;
	color: #fff;
}
.thumbnail .caption {
	padding: 15px;
	color: #606577;
}
.thumbnail .caption p { font-size:14px; line-height:18px; color:#0159ac; text-align:right; width:100%; display:block; margin:0;}
.thumbnail .caption p a { color:#0159ac;}
.thumbnail .caption p a:hover { color:#ff2a00;text-decoration: none;}
.newsBox {
	margin-bottom: 4px;
}
.thumbnail figure img {
    width: 100% !important;
}
/* Wiv Photo scroll
------------------------------------*/
.work-bottom {
  margin-top: 1.2em;
}
.work-bottom p { font-size:14px; line-height:18px; color:#0159ac; text-align:right; width:100%; display:block; margin: 15px 0 0 0;padding-right: 20px;}
.work-bottom p a { color:#0159ac;}
.work-bottom p a:hover { color:#ff2a00;text-decoration: none;}
.team-left{
margin:0 1.25em;
}
.team-left img{
width:100%;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
@media (max-width: 768px){
.work-bottom p { padding-right: 6px;}
}
@media screen and (max-width: 640px){
.work-bottom {
  margin-top: 2em;
}
}
/* Wiv Periodical
------------------------------------*/
.photo-box {
	padding: 5px 0 0 0;
}

.photo-box .tw-n-img {
	margin-right: 15px; float: left;
}
.photo-box .tw-n-txt {
	line-height: 1.2;
}
.photo-box .tw-n-txt h2 a {
	line-height: 1.4; overflow: hidden; margin-bottom: 7px; max-height: 40px; color:rgb(83, 83, 83); font-weight:500; font-size:20px;
}
.photo-box .tw-n-txt h2 a:hover { color:#000000;}
.photo-box li {
	overflow: hidden; margin-bottom: 15px;
}
.photo-box .tw-n-img img {
	max-height: 120px; max-width: 91px;
}
.photo-box .tw-n-txt p {
	overflow: hidden;color: #6d6d6d;line-height: 18px;margin: 0px;font-size: 12px;
}
.photo-box span { font-size:14px; line-height:18px; color:#0159ac; text-align:right; width:100%; display:block; margin: -2px 0 0 0;padding-right: 19px;}
.photo-box span a { color:#0159ac;}
.photo-box span a:hover { color:#ff2a00;text-decoration: none;}
@media all and (min-width:768px)
{
.photo-box .tw-n-img img {
	width: 100%; max-height: 107px; max-width: 165px;
}
.photo-box .tw-n-txt p {
	line-height: 1.6; max-height: 90px;
}
.photo-box .tw-n-txt h2 {
	line-height: 20px; max-height: 45px; WIDTH: 66%;WHITE-SPACE: nowrap;TEXT-OVERFLOW: ellipsis;display: block;overflow: hidden;margin: 0 0 10px 0;
}
}
@media (max-width: 768px)
{
.photo-box .tw-n-txt h2 {
	line-height: 20px; max-height: 45px; WIDTH: 66%;WHITE-SPACE: nowrap;TEXT-OVERFLOW: ellipsis;display: block;overflow: hidden;margin: 0 0 10px 0;
}
.photo-box span { padding-right: 6px;}
}
/* Wiv banner
------------------------------------*/
.wivbanner { min-height:358px; background: url(wivbanner.jpg) no-repeat top center; border-top:#E9F9FF solid 1px;}
@media (max-width: 992px){
.wivbanner {
	min-height:258px;
    background-size:130% 100%;
	-webkit-background-size:130% 100%;
	-moz-background-size:130% 100%;
	-o-background-size:130% 100%;
	-ms-background-size:130% 100%;
	}
}
@media (max-width: 768px){
.wivbanner {
	min-height:200px;
    background-size:135% 100%;
	-webkit-background-size:135% 100%;
	-moz-background-size:135% 100%;
	-o-background-size:135% 100%;
	-ms-background-size:135% 100%;
	}
}
@media (max-width: 414px){
.wivbanner {
	min-height:143px;
    background-size:156% 100%;
	-webkit-background-size:156% 100%;
	-moz-background-size:156% 100%;
	-o-background-size:156% 100%;
	-ms-background-size:156% 100%;
	}
}
@media (max-width: 320px){
.wivbanner {
	min-height:122px;
    background-size:160% 100%;
	-webkit-background-size:160% 100%;
	-moz-background-size:160% 100%;
	-o-background-size:160% 100%;
	-ms-background-size:160% 100%;
	}
}
/*图文列表*/
.y_gl {FONT-FAMILY: Arial; BORDER-BOTTOM: #bfbfbf 1px dotted; PADDING-TOP: 12px; overflow:hidden; display:block;}
.y_gl:first-of-type
{
PADDING-TOP: 0px;
}
.y_gl:nth-last-child(1)
{
BORDER-BOTTOM:none;PADDING-BOTTOM: 0px;
}
.gl_img {HEIGHT: 113px; WIDTH: 168px; FLOAT: left; MARGIN-RIGHT: 20px; margin-bottom:10px; overflow:hidden; border:#ccc solid 0px;}
.gl_img img { height:112px;}
.gl_right h2 {WIDTH: 74%; FLOAT: right; overflow:hidden; display:block; margin:0 0 10px 0; LINE-HEIGHT: 18px;}
.gl_right h2 A {
	OVERFLOW: hidden; FONT-SIZE: 16px; WIDTH: 84%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; font-family: \5FAE\8F6F\96C5\9ED1; FONT-WEIGHT: 500; COLOR: #3E3E3E; DISPLAY: inline-block; LINE-HEIGHT: 18px; TEXT-DECORATION: none;
}
.gl_right h2 A:hover {
	TEXT-DECORATION: none; color:#ED6D00;
}
.gl_right h2 SPAN {
	font-family:Arial; font-size:12px; HEIGHT: 18px; COLOR: #a5a5a5; LINE-HEIGHT: 20px; display:block; float:right;
}
.gl_right p {
	WIDTH: 74%; FLOAT: right; FONT-SIZE: 13px; COLOR: #969696; LINE-HEIGHT: 21px; font-family: \5FAE\8F6F\96C5\9ED1;
}
.gl_right .more { font-size:12px; color:#ff6600; text-decoration: underline; text-align:right; display: inline-block; width: 50%; margin-bottom:6px;}
.gl_right .more a { color:#ff6600;}
.gl_right .more a:hover { color:#2362ae;}
@media (max-width: 1198px){
.gl_right h2 {WIDTH: 73%;}
.gl_right h2 A {WIDTH: 83%;}
.gl_right p {WIDTH: 73%;}
}
@media (max-width: 991px){
.gl_right h2 {WIDTH: 64%;}
.gl_right h2 A {WIDTH: 75%;}
.gl_right p {WIDTH: 64%;}
}
@media (max-width: 640px){
.gl_right h2 {WIDTH: 68%;}
.gl_right h2 A {WIDTH: 77%;}
.gl_right p {WIDTH: 68%;}
}
@media (max-width: 636px){
.gl_img {HEIGHT: auto; WIDTH: 100%; MARGIN-RIGHT: 0px; margin-bottom:15px;}
.gl_img img { display: block; max-width: 100%; height: auto; margin-left:auto; margin-right:auto;}
.gl_right h2 {WIDTH: 100%;}
.gl_right h2 A {WIDTH: 79%;}
.gl_right p {WIDTH: 100%;}
}
@media (max-width: 636px){
.gl_right h2 A {WIDTH: 100%;WHITE-SPACE: inherit;LINE-HEIGHT: 24px;}
.gl_right h2 SPAN {font-size:13px; LINE-HEIGHT: 24px; float:left; margin-bottom:15px;}
}
.y_gl_p {FONT-FAMILY: Arial; BORDER-BOTTOM: #bfbfbf 1px dotted; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; overflow:hidden; display:block;}
.y_gl_p:nth-last-child(1)
{
BORDER-BOTTOM:none;
}
.gl_img_p {
	HEIGHT: 140px; WIDTH: 105px; FLOAT: left; MARGIN-RIGHT: 22px; overflow:hidden; background:#00C;
}
.gl_right_p H2 {
	WIDTH: 576px; FLOAT: left; overflow:hidden; display:block; FONT-SIZE: 15px; font-family: Arial; FONT-WEIGHT: bold; COLOR: #2e2e2e;
}
.gl_right_p H2 A {
	OVERFLOW: hidden; WIDTH: 84%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; COLOR: #2e2e2e; DISPLAY: inline-block; LINE-HEIGHT: 18px;
}
.gl_right_p H2 A:hover {
	TEXT-DECORATION: underline; color:#007bd1;
}
.gl_right_p P {
	WIDTH: 576px; FLOAT: left; FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 20px; font-family: Arial;
}
/*图文列表*/
/*Our Team*/
.news-list li{margin-bottom: 15px; display: block; overflow: hidden; }
.news-list li:nth-last-child(1){margin-bottom: 0px;}
.news-list .news-img{ margin-right: 12px; margin-bottom:8px;}
.news-list .news-img img{ max-width: 100px;}
.news-list .news-txt h2 {margin: 0 0 6px 0;}
.news-list .news-txt h2 a{ display: block; font-size: 20px; line-height:1.4;overflow: hidden;color:#0074dd;}
.news-list .news-txt h2 a:visited {color:#0074dd;} 
.news-list .news-txt h2 a:hover,.news-list .news-txt h2 a:focus { color:#000000; text-decoration:none;}
.news-list .news-txt h2 a:active { color:#000000;}
.news-list .news-txt p{ line-height: 1.7; font-size: 13px; margin: 0px; color:#5D5D5D;}
@media (min-width: 768px) {
	.news-list .news-txt h2 a{ font-size: 18px; line-height: 1.2;height: auto;}
	.news-list .news-txt h2 a:hover{ text-decoration:none;}
	.news-list .news-txt p{ line-height: 1.6; height: auto; font-size: 13px;margin: 8px 0 15px 0;}
	.news-list .news-img img{ max-width: 116px; height: 141px;}
	.news-list .news-img{ margin-right: 15px; height:141px;}
	.news-list li{　display: block; overflow: hidden; }
	.news-list li:nth-last-child(1){margin-bottom: 0px; padding-bottom: 0px;}
}

.news-text li{margin-bottom: 15px; display: block; overflow: hidden; }
.news-text li:nth-last-child(1){margin-bottom: 0px;}
.news-text .news-img{ margin-right: 10px; margin-bottom:8px;}
.news-text .news-img img{ max-width: 100px;}
.news-text .news-txt h2 {margin: 0 0 6px 0;}
.news-text .news-txt h2 a{ display: block; font-size: 22px; line-height:1.4;overflow: hidden;color:#0074dd;}
.news-text .news-txt h2 a:visited {color:#0074dd;} 
.news-text .news-txt h2 a:hover,.news-list .news-txt h2 a:focus { color:#000000;}
.news-text .news-txt h2 a:active { color:#000000;}
.news-text .news-txt p{ line-height: 1.5; font-size: 14px; margin: 0px; color:#333333;}
@media (min-width: 768px) {
	.news-text .news-txt h2 a{ font-size: 22px; line-height: 1.2;height: auto;}
	.news-text .news-txt p{ line-height: 1.5; height: auto; font-size: 14px;}
	.news-text .news-img img{ max-width: 116px; height: auto;}
	.news-text .news-img{ margin-right: 15px; height:155px;}
	.news-text li{margin-bottom: 20px; padding-bottom: 16px; display: block; overflow: hidden; }
}
/*Virologica Sinica*/
.qk-list li{margin-bottom: 15px; display: block; overflow: hidden; }
.qk-list li:nth-last-child(1){margin-bottom: 0px;}
.qk-list .news-img{ margin-right: 10px; margin-bottom:8px;}
.qk-list .news-img img{ max-width: 100px;}
.qk-list .news-txt h2 {margin: 0 0 10px 0;}
.qk-list .news-txt h2 a{ display: block; font-size: 22px; line-height:1.4;overflow: hidden;color:#333333;}
.qk-list .news-txt h2 a:visited {color:#333333;} 
.qk-list .news-txt h2 a:hover,.news-list .news-txt h2 a:focus { color:#000000;}
.qk-list .news-txt h2 a:active { color:#000000;}
.qk-list .news-txt p{ line-height: 1.5; font-size: 15px; margin: 0px; color:#777777;}
@media (min-width: 768px) {
	.qk-list .news-txt h2 a{ font-size: 22px; line-height: 1.2;height: auto;}
	.qk-list .news-txt p{ line-height: 1.5; height: auto; font-size: 15px;}
	.qk-list .news-img img{ max-width: 116px; height: auto;}
	.qk-list .news-img{ margin-right: 15px; height:155px;}
	.qk-list li{margin-bottom: 20px; display: block; overflow: hidden; }
	.qk-list li:nth-last-child(1){margin-bottom: 0px; padding-bottom: 0px;}
	.qk-list li:nth-last-child(2){margin-bottom: 0px; padding-bottom: 0px;}
}

/* menu */
.h_menu {padding: 0; background:url(menubg.gif) repeat-x #ee7a18; display:flex;}
.location_menu { overflow:hidden;padding: 0px;}
.soc_icons {

}
.soc_icons form { margin:2px 0;}
.TopSearch { height:28px; border:0px solid #c6e2eb; white-space:nowrap; position:relative; float:right; background:#FFF; margin:6px 0px 0px 0px;}
.SearchText { text-indent:8px; line-height:22px; height:100%; vertical-align:top; border:0; font-size:13px; color:#9b9b9b; width:161px; float:left; }
.SearchBtn { width:37px; height:100%; vertical-align:middle; margin:0px 0 0 0; cursor:pointer; background:url(searchbtnbg.png) center center no-repeat #ff7200; border:0; float:right; border-radius:0px; } 
.SearchBtn:hover { background-color:#dd4712; }
.navbar {min-height: 40px; border: 0px solid transparent;}
.navbar-toggle {float: right;padding: 5px 7px;margin-top: 8px;margin-right: 15px;margin-bottom: 8px;border: 2px solid #F6FAFC;}
.navbar-menu { font-size:18px; color:#ffffff; float:left; font-weight:500; margin:11px 0 0 15px;}
.navbar-default .navbar-collapse {border-color: #EE7A18;}
.nav-tabs > li { width:20%;text-align:center;border-right:#cacaca solid 1px;}
.nav-tabs > li:last-child {border-right:#cacaca solid 0px;}
.nav-stacked > li {background: #ecf2f7;border-bottom: #cad2d8 solid 1px;}
/*.overlay-container span{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #fff;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;background-color: #0048AA;
	text-indent: 15px;
}*/
.overlay-container img{width: 100%;}
@media (min-width: 768px) {
  .navbar-menu {
    display: none;
  }
}
.newstop a{font-size: 20px;color: #d20006;line-height: 26px;font-weight: 600; white-space:nowrap; text-overflow:ellipsis;width: 99%;overflow: hidden;display: block;}
.newstopline { background:url(reisline01.gif) repeat-x bottom; height:5px; margin:14px 0 10px 0;}
.newstoptext { font-size:13px; color:#8f8f8f; line-height:22px;}
.boxx{border: 0px solid #CACACA;padding: 0px;}
	
	
.bbtle_cen2{overflow: hidden;height: auto;}
.bbtle_cen2 li{
	line-height: 20px;
	background-image: url(newsb.jpg);
	background-repeat: no-repeat;
	background-position: left 11px;
	font-size: 12px;
}
.bbtle_cen2 li .bbtle_time{display: block;padding-left: 16px;padding-bottom: 3px;padding-top: 3px;}
.bbtle_cen2 li .bbtle_time a{color: #000;}
.bbtle_cen2 li .bbtle_time a:hover{color: #9D0711;}
.bbtle_cen2 li .bbtle_time span{margin-right: 5px;margin-left: 5px;}

.activ_bt{height: 22px;background-position: center bottom;margin-bottom: 12px;}
.activ_bt .p{font-size: 19px;color: #000000;width: 90px;}
.activ_bt .p2{font-size: 18px;font-weight: 900;color: #404040;background-color: #FFF;width: 85px;}
.activ_bt .img{padding-left: 10px;}

.activ_bt1{height: 45px;background-position: center bottom;margin-bottom: 12px;border-bottom: #c5c5c5 solid 1px;}
.activ_bt1 .p{font-size: 19px;color: #000000;width: 90px;}
.activ_bt1 .p2{font-size: 20px;font-weight: 500;color: #0b528d;background:url(ico_news.png) no-repeat left; padding-left:40px;width: 185px;height: 40px;line-height: 40px;}
.activ_bt1 .img{padding-left: 10px; padding-top:14px; color:#2077c6;}
.activ_bt1 .img a{color:#2077c6;}
.activ_bt1 .img a:hover{color:#454545; text-decoration:none;}

.main-article { margin-top:10px;}
.list-tab { overflow:hidden; display:block; margin-left: -15px;}
.list-tab ul li{overflow:hidden;clear:both;border-bottom:0px dashed #d4d4d4; width:100%; text-align:left;padding: 0;}
.list-tab ul li a{ float:left;width:78%;height:30px;overflow:hidden;font-size:13px;line-height:30px; color:#454545;background-image: url(ico_heid.gif);background-repeat: no-repeat;background-position: left 11px;padding:0 0 0 14px;text-overflow:ellipsis; white-space:nowrap; display:block; font-weight:500;}
.list-tab ul li a:hover {color: #ed6400; text-decoration: none;}
.list-tab ul li:hover {background:#ffffff;}
.list-tab span {height:30px;line-height:30px;color:#9b9b9b; font-size: 12px; font-family:Arial;}
.list-tab span.right {float: right;}

.list-tab1 { overflow:hidden; display:block;}
.list-tab1 ul li{overflow:hidden;clear:both;border-bottom:0px dashed #d4d4d4; width:100%; text-align:left;padding: 0;}
.list-tab1 ul li a{ float:left;width:86%;height:30px;overflow:hidden;font-size:13px;line-height:30px; color:#454545;background-image: url(ico_heid.gif);background-repeat: no-repeat;background-position: left 11px;padding:0 0 0 14px;text-overflow:ellipsis; white-space:nowrap; display:block; font-weight:500;}
.list-tab1 ul li a:hover {color: #ed6400; text-decoration: none;}
.list-tab1 ul li:hover {background:#ffffff;}
.list-tab1 span {height:30px;line-height:30px;color:#9b9b9b; font-size: 12px; font-family:Arial;}
.list-tab1 span.right {float: right;}

.list-note { overflow:hidden; display:block;}
.list-note ul li{overflow:hidden;clear:both;border-bottom:0px dashed #d4d4d4; width:100%; text-align:left;padding: 0;}
.list-note ul li a{ float:left;width:78%;height:30px;overflow:hidden;font-size:13px;line-height:30px; color:#454545;background-image: url(ico_hd.gif);background-repeat: no-repeat;background-position: left 9px;padding:0 0 0 14px;text-overflow:ellipsis; white-space:nowrap; display:block; font-weight:500;}
.list-note ul li a:hover {color: #ed6400; text-decoration: none;}
.list-note ul li:hover {background:#ffffff;}
.list-note span {height:30px;line-height:30px;color:#9b9b9b; font-size: 12px; font-family:Arial;}
.list-note span.right {float: right;}

.list-index li{overflow:hidden;clear:both;/*padding:0 5.46875% 0 4.6875%;*/border-bottom:0px dashed #d4d4d4;}
/*.list-index li:last-child{border:none;}*/
.list-index li a{ float:left;width:100%;height:31px;overflow:hidden;font-size:13px;line-height:31px; color:#454545;background-image: url(reisico_05.gif);background-repeat: no-repeat;background-position: left 13px;padding-left: 10px;text-overflow:ellipsis; white-space:nowrap; }
.list-index li a:hover {color: #ed6400;}
.list-index span {height:26px;line-height:26px;color:#9b9b9b; font-size: 12px; font-family:Arial;}
.list-index span.right {float: right;}

.list-kpdt { overflow:hidden; display:block; padding:10px;}
.list-kpdt li{overflow:hidden;clear:both;/*padding:0 5.46875% 0 4.6875%;*/border-bottom:0px dashed #d4d4d4;}
/*.list-index li:last-child{border:none;}*/
.list-kpdt li a{ float:left;width:100%;height:28px;overflow:hidden;font-size:13px;line-height:28px; color:#454545;background-image: url(ico_heid.gif);background-repeat: no-repeat;background-position: left 10px;padding-left: 12px;text-overflow:ellipsis; white-space:nowrap; }
.list-kpdt li a:hover {color: #ed6400;}

.list-xxgk { overflow:hidden; display:block;margin-bottom: 15px;}
.list-xxgk li{overflow:hidden;clear:both;/*padding:0 5.46875% 0 4.6875%;*/border-bottom:0px dashed #d4d4d4;}
/*.list-index li:last-child{border:none;}*/
.list-xxgk li a{ float:left;width:100%;height:28px;overflow:hidden;font-size:13px;line-height:28px; color:#454545;background-image: url(ico_heid.gif);background-repeat: no-repeat;background-position: left 10px;padding-left: 12px;text-overflow:ellipsis; white-space:nowrap; }
.list-xxgk li a:hover {color: #ed6400;}

.list-xxgklm { overflow:hidden; display:block;margin-bottom: 15px;}
.list-xxgklm li{overflow:hidden;clear:both;/*padding:0 5.46875% 0 4.6875%;*/border-bottom:0px dashed #d4d4d4;}
/*.list-index li:last-child{border:none;}*/
.list-xxgklm li a{ float:left;width:100%;height:26px;overflow:hidden;font-size:13px;line-height:26px; color:#454545;text-overflow:ellipsis; white-space:nowrap; }
.list-xxgklm li a:hover {color: #ed6400;}

.zlanmu_bt{height: 40px;margin-bottom: 18px;border-bottom: #E2E1E1 solid 1px;}
.zlanmu_bt .p{font-size: 26px;font-weight: 600;color: #333333;background-color: #FFF;}
.list-news { overflow:hidden; display:block;}
.list-news li{overflow:hidden;clear:both;border-bottom:0px dashed #d4d4d4;}
.list-news li a{ float:left;width:84%;height:32px;overflow:hidden;font-size:13px;line-height:32px; color:#454545;background-image: url(ico_hd.gif);background-repeat: no-repeat;background-position: left 9px;padding-left: 14px;text-overflow:ellipsis; white-space:nowrap; }
.list-news li a:hover {color: #ed6400;}
.list-news span {height:32px;line-height:32px;color:#9b9b9b; font-size: 12px; font-family:Arial;}
.list-news span.right {float: right;}

#marquee4{ width:91%; height:286px; overflow:hidden; margin:12px;}
#marquee4 ul{float:left; width: auto; padding:0px;}
#marquee4 ul li{float:left; width:100%; padding:2px 0; line-height:22px;}
#marquee4 ul li span{font-size:6px; font-family:\5FAE\8F6F\96C5\9ED1; color:#ff0000; margin-right:5px;}
#marquee4 ul li a:hover{color:#166cb8;}

#marquee5{ width:91%; height:272px; overflow:hidden; margin:12px;}
#marquee5 ul{float:left; width: auto; padding:0px;}
#marquee5 ul li{float:left; width:100%; padding:2px 0; line-height:22px;}
#marquee5 ul li span{font-size:6px; font-family:\5FAE\8F6F\96C5\9ED1; color:#ff0000; margin-right:5px;}
#marquee5 ul li a:hover{color:#166cb8;}

@media (max-width: 992px) {
#marquee4{ height:144px;}
#marquee5{ height:144px;}
.list-kpdt { margin-bottom:15px;}
}
.hei {
    font-size: 12px;
    line-height: 18px;
    color: #8b8b8b;
    text-decoration: none;
    font-family: Arial;
}
A.hei:hover {
    COLOR: #3d78be; FONT-SIZE: 12px; text-decoration: none;
}
.hei1 {
    font-size: 13px;
    line-height: 20px;
    color: #454545;
    text-decoration: none;
    font-family: \5FAE\8F6F\96C5\9ED1;background-image: url(ico_hd1.gif);background-repeat: no-repeat;background-position: left 3px;padding-left: 10px;
}
A.hei1:hover {
    COLOR: #9D0711; FONT-SIZE: 13px;
}
.lan {
	font-size: 12px;
	line-height: 18px;
	color: #128ec4;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
A.lan:hover {
	COLOR: #9c8068; FONT-SIZE: 12px; TEXT-DECORATION: none;
}

.article-tit{font-size: 26px;margin-bottom: 22px;line-height: 36px;font-weight: bold;color: #9A0808;}
.article-time{  color: #999999; font-size:13px;}
.news_p{background-color: #FFEEEE;padding: 40px;}
.news_p p { margin:0;}

#xlmain {display: block;overflow: hidden;margin:0px;}
#xlmain .wztitle {color: #000000; font-family: \5FAE\8F6F\96C5\9ED1; line-height:36px; text-align:center; font-size: 24px; padding: 0px 0px 6px 0px;}
#xlmain .qtinfo {color:#666; font-family: \5FAE\8F6F\96C5\9ED1; text-align:center; font-size: 12px; border-bottom: solid 1px #cccccc; padding: 0px 0px 16px 0px;}
#xlmain .qtinfo a {color:#666; text-decoration: none;}
#xlmain .qtinfo a:hover {color:#de0c0c; text-decoration: none;}
#xlmain .text { margin:0; overflow:hidden; display:block;}
#xlmain .text img {display: block;margin-right: auto;margin-left: auto;}

.copyright{padding:14px 0;font-size:12px; line-height:20px;color:#f7f7f7;display:block; overflow:hidden;}
.bgfoot { background:url(reisbg03.jpg) no-repeat #185195; margin-bottom:60px;}
.copyright a{color:#f7f7f7;}
.copyright .cas { width: 249px;border-right: #A7A7A7 solid 1px;display: block;overflow: hidden;float: left;margin: 14px 10px 0 0; text-align:center;}
.copyright .left { width:45%;font-size:12px; line-height:1.6em;color:#1E1E1E;display:block; overflow:hidden; float:left; margin: 11px 0 0 0;}
.copyright .rightbz { width:80px;display:block; overflow:hidden; float:right;}
.copyright .rightjb { width:65px; padding:10px 0 0 0;display:block; overflow:hidden; float:right;}
.copyright .rightwx { width:77px; padding:10px 0 0 0;display:block; overflow:hidden; float:right;}
.nrhei {font-size: 14px; line-height: 28px; font-family: \5FAE\8F6F\96C5\9ED1; color: #454545;}
@media screen and (max-width: 992px){
.SearchText { width:110px;}
}
@media screen and (max-width: 768px){
.bgfoot { margin-bottom:0px;}
#xlmain {margin:12px 0 0 0;}
}
@media screen and (max-width: 480px){
.main-article { padding:2px;}
.list-index li a {width:100%;font-size:13px;}
.list-index span {width:0px; visibility:hidden;}
.list-tab ul li a {width:100%;font-size:13px;}
.list-tab span {width:0px; visibility:hidden;}
.list-tab1 ul li a {width:100%;font-size:13px;}
.list-tab1 span {width:0px; visibility:hidden;}
.list-note ul li a {width:100%;font-size:13px;}
.list-note span {width:0px; visibility:hidden;}
.list-news li a {width:100%;}
.list-news span {width:0px; visibility:hidden;}
.article-tit{font-size: 22px;line-height: 26px;}
.news_p{padding: 15px;}
}
.jgsz{
	line-height: 49px;
	background-image: url(jgsz_01.jpg);
	background-repeat: no-repeat;
	font-size: 30px;
	color: #9A0808;
	font-weight: 900;
	text-indent: 90px;
	letter-spacing: 0.2em;
	margin-bottom: 30px;
	background-position: 30px 0px;
}
.jgsz_bg{
	background-color: #F2F2F2;
	background-image: url(jgsz_02.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 186px;
	width: 90%;
	margin: auto;
}
.jgsz_bg p{
	width: 340px;
	padding-top: 40px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 55px;
}

.jgsz_line{
	background-color: #0048AA;
	height: 3px;
}

.jgsz_bg2{
	background-color: #F2F2F2;
	background-image: url(jgsz_03.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 90%;
	margin: auto;
}
.jgsz_zy{
	font-size: 24px;
	color: #000;
	font-weight: bold;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 55px;
}
.js_p{
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 55px;
}
.js_p p { margin:0;}

.f_baise{color: #FFF;}
.f_honse{
	color: #BF0100;
}
.f12{
	font-size: 12px;
}
.ysgg_sxwl{
	background-image: url(index_10.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #E2E2E2;
	padding-bottom: 160px; display:block; overflow:hidden;
}
.ysgg_sxwl table {margin:30px 30px 50px 30px;}
.ysgg_sxwl td { background:#E2E2E2;}
.yszctitle {font-size:34px; font-weight:bold;line-height: 40px; text-align:center; margin:32px 0;}
.ystitle {font-size:24px; font-weight:bold;line-height: 30px; text-align:center; margin-bottom:32px;}
.photo_deli{ display:block; overflow:hidden; padding:28px 30px 28px 16px;}
.photo_deli a{line-height: 16px;display: block;text-align: center;padding-bottom: 6px;}
.photo_deli a span{font-size: 12px;display: block;}
.photo_deli a:hover{text-decoration: none; color:#B7000B;}
.phototitle { float:left;width:100%;overflow:hidden;font-size:13px;line-height:22px; color:#454545;padding:8px 10px; height:79px;}/*text-overflow:ellipsis; white-space:nowrap; */
.phototitle a:hover { color:#0c5ebf;text-decoration:none;}
@media screen and (min-width: 1200px) {
.img-portfolio img { height:152px; width:100%;}
}
@media (min-width: 768px) {
.navbar-right {margin-right: 15px;}
}
@media screen and (max-width: 1200px) {
.img-portfolio img { height:152px; width:100%;}
}
@media only screen and (max-width: 992px) {
.soc_icons {position: absolute;right:0px;}
.nav-pills > li > a {font-size: 12px;}
.img-portfolio img { height:105px;}
}
@media only screen and (max-width: 768px) {
.h_menu {position: relative;margin-left: -15px;margin-right: -15px;}
.location_menu {position: relative;margin-left: -15px;margin-right: -15px;}	
.soc_icons {position: absolute;top: 0px; right:0px;}
}
@media only screen and (max-width: 767px) {
.h_menu {position: relative;margin-left: -15px;margin-right: -15px; display:block;}	
}
@media screen and (max-width: 992px){
.newstop { margin-top:20px;}
.list-tab { height:auto !important;margin-left: 0px;}
}
@media screen and (max-width: 640px){
.navbar-collapse { margin-top:6px;}
.phototitle a{ white-space: inherit; padding:15px 0;}
}
@media screen and (max-width: 480px){
.nav-tabs > li { width:100%;border-right:#cacaca solid 0px;}
.jgsz{font-size: 25px;}
.jgsz_bg p{width:100%;padding-right: 15px;padding-left: 15px;
}
.js_p{padding-right: 15px;padding-left: 15px;
}
.ysgg_sxwl table {margin:30px 15px 50px 15px;}
.yszctitle {font-size:26px; margin:20px 0 0 0;}
.ystitle {font-size:22px;}
}
UL.vertical { /* Vertical lists */
	margin: 0
}

UL.horizontal { /* Horizontal lists */
	display: inline;
	margin: 0
}

UL.horizontal > LI {
	display: inline-block;

	/* IE */
	*margin: 1px;
	zoom: 1;
	*display: inline;
}
.tabs > DIV {
	border-top: 1px solid #e3e3e3; padding:15px;
	/*margin-top: 10px;
	background: #F17C71 !important;
	border-bottom: 4px solid #E95855 !important;*/
}
.tabs > DIV img { margin-top:5px; margin-bottom:15px;}

.tabs > DIV H3 {
	border-bottom: 4px solid #E5E5E5 !important;
	color: #ccc !important;
	font-weight: 300;
	line-height: 186px !important;
}

.tabs li {
	/*background: white;
	border-bottom: 4px solid #E5E5E5;*/
	text-align:center; padding: 0 15px;
}

.tabs li a {
	color: #434343;
	display: block;
	font-size: 17px;
	padding: 12px 0;
	text-decoration: none;font-weight: bold;
}

.tabs li:hover {
	background: #1466bc;
}


.tabs li.active {
	background: #ffffff; border-top: #ED7108 solid 3px;
}

.tabs li.active a {
	color: #434343;
}

.taba > DIV {
	border-top: 1px solid #e3e3e3; padding:15px;
	/*margin-top: 10px;
	background: #F17C71 !important;
	border-bottom: 4px solid #E95855 !important;*/
}
.taba > DIV img { margin-top:5px; margin-bottom:15px;}

.taba > DIV H3 {
	border-bottom: 4px solid #E5E5E5 !important;
	color: #ccc !important;
	font-weight: 300;
	line-height: 186px !important;
}

.taba li {
	/*background: white;
	border-bottom: 4px solid #E5E5E5;*/
	text-align:center; padding: 0 18.0px;
}

.taba li a {
	color: #434343;
	display: block;
	font-size: 17px;
	padding: 12px 0;
	text-decoration: none;font-weight: bold;
}

.taba li:hover {
	background: #1466bc;
}


.taba li.active {
	background: #ffffff; border-top: #ED7108 solid 3px;
}

.taba li.active a {
	color: #434343;
}

.button {
	background: #a0cac0;
	border-bottom: 4px solid #68a697;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-right: 26px;
	padding: 15px 20px;
	text-align: center;
	text-transform: uppercase;
	width: 150px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.button:hover {
	background: #93b7ae;
	color: #FFF;
	text-decoration: none;
}
@media screen and (max-width: 1200px){
.tabs li { padding: 0 15px;}
.copyright .cas { width: 252px;}
.copyright .left { width:48%;}
}
@media screen and (max-width: 992px){
.copyright .left { width:62%; margin-bottom:10px;}
.copyright .rightwx { width:45%;}
}
@media screen and (max-width: 760px){
.copyright .left { width:70%;}
}
@media screen and (max-width: 640px){
.copyright .cas { width: 100%; border:0px;}
.copyright .left { width:100%; text-align: center;}
}
@media screen and (max-width: 520px){
.tabs li {padding: 0 2.2px;}
.taba li {padding: 0 11.26px;}
.copyright .rightwx { width:42%;}
}
@media screen and (max-width: 320px){
.taba li {padding: 0 9.26px;}
.copyright .rightwx { width:41%;}
.img-portfolio img { height:87px;}
}

#contentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#contentLeft {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: #ed6d00 solid 1px;
}

#contentRight {
  padding: 1.3rem 2rem;
  margin-left: 250px;
}

#leftNavigation {
  margin: 0rem 0;
}
#leftNavigation, #leftNavigation li ul {
  list-style: none;
  padding: 0;
}
#leftNavigation li a {
  font-size: 14px;
  display: block;
  padding: 10px 30px 10px 15px;
  color: #1a2531;
  border-bottom: solid 1px #FBD9BB;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-weight:400;
}
#leftNavigation li a, #leftNavigation li a .leftNavIcon {
  line-height: 160%;
}
#leftNavigation li a .leftNavIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  padding: 10px 0;
  text-align: center;
}
#leftNavigation li a .leftNavIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  padding: 0.8rem 0;
  text-align: center;
}
#leftNavigation li a:hover {
  color: #ffffff; text-decoration:none; background:#FF9848;
}
#leftNavigation li ul {
  display: none;
  margin: 0;
  background-color: #e8f6fe;
}
#leftNavigation li ul li { border-bottom: solid 1px #D0E9F3;}
#leftNavigation li ul li a {
  border-bottom: solid 0px #D0E9F3; font-size:13px; color:#535353; background:url(reisico_05.gif) #e8f6fe no-repeat left 17px; margin-left:30px; padding-left:12px;
}
#leftNavigation li ul li a:hover {
  color: #EE1D23; text-decoration:none; background:url(reisico_05.gif) #e8f6fe no-repeat left 17px;
}
/*#leftNavigation li ul li:last-child a {
  border-bottom: none;
}*/
#leftNavigation li ul li.active a {
  color: #EE1D23; text-decoration:none;
}
#leftNavigation li.active > a {
  color: #ffffff; text-decoration:none;
}
#leftNavigation li.active ul {
  display: block;
}
#leftNavigation > li.active {
  background-color: #FF9848;
}

.thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none; 
	padding: 4px;
}
/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
    }
.carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 40px;
        }

#myCarousel ul, #myCarousel ul li { 
  padding: 0px;
  margin: 0px;
}
#linkCarousel ul, #linkCarousel ul li { 
  padding: 0px;
  margin: 0px;
}
.kpdt .bgtitle {width: auto; background:#e5e5e5;}
.kpdt .bgtitle p {width: auto; height: 40px; line-height: 39px; font-family: \5FAE\8F6F\96C5\9ED1; font-size: 18px; color: #434343; margin: 0px 13px;}
.kpdt .bgtitle p a:hover {color: #ff4e00; text-decoration: none;}
.kpdt .nrbk {overflow: hidden;padding: 20px 0 0 0;}

.infoopen .bgtitle {width: auto;}
.infoopen .bgtitle p {width: auto; height: 32px; line-height: 26px; font-family: \5FAE\8F6F\96C5\9ED1; font-size: 15px; color: #ED6E02; margin: 0px;}
.infoopen .bgtitle p a:hover {color: #ff4e00; text-decoration: none;}
.infoopen .nrbk {overflow: hidden;padding: 20px 0 0 0;}

.bdsharebuttonbox {    
    float:right; margin:10px;
}