@supports (-webkit-appearance:none) {
	html > body > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(1) {
		padding-top: -0.25% !important;  /* -1px */
		margin-top: 0.0% !important;  /* 0px */
		height: 32.94% !important;  /* 56px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(2) {
		left: 0.1% !important;  /* 1px */
	}
	html > body > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(3) {
		margin-top: 10.75% !important;  /* 43px */
	}
	html > body > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(1) > table:nth-of-type(1) > tbody:nth-of-type(1) > tr:nth-of-type(1) > td:nth-of-type(1) {
		padding-top: 0.0% !important;  /* 0px */
	}
	html > body > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(2) {
		margin-top: 0.75% !important;  /* 3px */
	}
	html > body > div:nth-of-type(4) {
		padding-top: 0.2% !important;  /* 3px */
	}
	html > body > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(3) {
		margin-top: 0.92% !important;  /* 9px */
	}
	html > body {
		padding-bottom: -0.07% !important;  /* -1px */
		height: 99.16% !important;  /* 942px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(2) {
		max-height: 28px !important;  /* 28px */
		top: 2.07% !important;  /* 3px */
		bottom: -2.07% !important;  /* -3px */
		margin-top: 1.67% !important;  /* 3px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(4) {
		bottom: -0.69% !important;  /* -1px */
		margin-top: 0.56% !important;  /* 1px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(1) {
		top: 2.07% !important;  /* 3px */
		bottom: -2.07% !important;  /* -3px */
	}
	html > body > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(2) > p:nth-of-type(2) {
		padding-top: 0.83% !important;  /* 3px */
	}
	html > body > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(2) {
		padding-top: 0.2% !important;  /* 2px */
		margin-top: 0.31% !important;  /* 3px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(3) {
		top: 2.07% !important;  /* 3px */
	}
}

