@supports (-webkit-appearance:none) {
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > ul:nth-of-type(1) > li:nth-of-type(4) {
		padding-right: 41px !important;  /* 41px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > ul:nth-of-type(1) > li:nth-of-type(6) {
		padding-right: 41px !important;  /* 41px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > ul:nth-of-type(1) > li:nth-of-type(3) {
		padding-right: 41px !important;  /* 41px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > ul:nth-of-type(1) > li:nth-of-type(7) {
		padding-right: 41px !important;  /* 41px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > ul:nth-of-type(1) > li:nth-of-type(1) {
		padding-right: 41px !important;  /* 41px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > ul:nth-of-type(1) > li:nth-of-type(2) {
		padding-right: 41px !important;  /* 41px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > ul:nth-of-type(1) > li:nth-of-type(5) {
		padding-right: 41px !important;  /* 41px */
	}
}