.header-menu .nav-link {
	padding: 0.5em 1em; text-transform: uppercase; font-size: 0.9rem; display: block;
}
blockquote {
	background: rgb(240, 240, 241); margin: 0px; padding: 20px 30px; width: 100%; color: rgb(51, 51, 52); font-family: "Lato", sans-serif; border-left-color: rgb(223, 222, 222); border-left-width: 35px; border-left-style: solid; position: relative;
}
blockquote::before {
	left: -29px; top: 5px; color: rgb(188, 188, 188); font-family: serif; font-size: 50px; position: absolute; content: "\201C"; text-shadow: 1px 2px 0px white;
}
blockquote p {
	margin: 0px 0px 16px; line-height: 1.4; letter-spacing: 0.05em; font-size: 20px;
}
blockquote cite {
	font-style: normal; font-weight: 300;
}
blockquote::after {
	content: none;
}
