@font-face {
	font-family: flexslider-icon;
	src: url(fonts/flexslider-icon.eot?#iefix) format("embedded-opentype"), url(fonts/flexslider-icon.woff) format("woff"), url(fonts/flexslider-icon.ttf) format("truetype"), url(fonts/flexslider-icon.svg#flexslider-icon) format("svg");
	font-weight: normal;
	font-style: normal;
}
.flex-container a:hover {
	
}
.flex-slider a:hover {
	
}
.slides {
	list-style: none; margin: 0px; padding: 0px;
}
.slides > li {
	list-style: none; margin: 0px; padding: 0px;
}
.flex-control-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.flex-direction-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.flexslider {
	margin: 0px; padding: 0px;
}
.flexslider.control-nav {
	background: rgb(255, 255, 255); border-radius: 4px; border: 4px solid rgb(255, 255, 255); border-image: none; position: relative; -ms-zoom: 1; box-shadow: 0px 1px 4px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2); -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2); -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}
.flexslider.control-nav .flex-direction-nav {
	display: none;
}
.flexslider .slides > li {
	display: none; -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%; display: block;
}
.flexslider .slides::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: "\0020";
}
html[xmlns] .flexslider .slides {
	display: block;
}
* html .flexslider .slides {
	height: 1%;
}
.no-js .flexslider .slides > li:first-child {
	display: block;
}
.flexslider {
	margin: 0px 0px 30px; border: 0px currentColor; border-image: none; position: relative; -ms-zoom: 1;
}
.flexslider.control-nav {
	margin-top: -30px;
}
.flexslider.control-nav li {
	cursor: pointer; opacity: 0.7;
}
.flexslider.control-nav li:hover {
	opacity: 1;
}
.flexslider.control-nav li.flex-active-slide {
	opacity: 1;
}
.flexslider .slides {
	-ms-zoom: 1;
}
.flexslider .slides img {
	height: auto; -moz-user-select: none;
}
.flex-viewport {
	transition:1s; max-height: 2000px; -webkit-transition: all 1s ease; -o-transition: all 1s ease; -moz-transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.carousel li {
	margin-right: 5px;
}
.flex-direction-nav {
	
}
.flex-caption {
	margin: 0px; text-align: center;
}
.cut-img-center {
	margin: 0px; text-align: center;
}
.cut-img-center {
	background-color: rgb(246, 246, 246);
}
.flex-caption {
	background-color: transparent;
}
.flex-direction-nav a {
	margin: -25px 0px 0px; transition:0.3s ease-in-out; top: 49%; width: 40px; height: 55px; color: rgba(0, 0, 0, 0.8); overflow: hidden; text-decoration: none; display: block; position: absolute; z-index: 10; cursor: pointer; opacity: 0; text-shadow: 1px 1px 0px rgba(255,255,255,0.8); -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.flex-direction-nav a::before {
	color: rgba(0, 0, 0, 0.8); font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: "\f001"; text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
}
.flex-direction-nav a.flex-next::before {
	content: "\f002";
}
.flex-direction-nav .flex-prev {
	left: -50px;
}
.flex-direction-nav .flex-next {
	text-align: right; right: -50px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left: 10px; opacity: 0.7;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
	opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
	right: 10px; opacity: 0.7;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	z-index: -1; cursor: default; opacity: 0 !important;
}
.flex-pauseplay a {
	left: 10px; width: 20px; height: 20px; bottom: 5px; color: rgb(0, 0, 0); overflow: hidden; display: block; position: absolute; z-index: 10; cursor: pointer; opacity: 0.8;
}
.flex-pauseplay a::before {
	font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: "\f004";
}
.flex-pauseplay a:hover {
	opacity: 1;
}
.flex-pauseplay a.flex-play::before {
	content: "\f003";
}
.flex-control-nav {
	width: 100%; text-align: center; bottom: -40px; position: absolute;
}
.flex-control-nav li {
	margin: 0px 6px; display: inline-block; -ms-zoom: 1;
}
.flex-control-paging li a {
	background: rgba(0, 0, 0, 0.5); border-radius: 20px; width: 11px; height: 11px; text-indent: -9999px; display: block; cursor: pointer; box-shadow: inset 0px 0px 3px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); -webkit-border-radius: 20px; -moz-border-radius: 20px; -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
	background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
	background: rgba(0, 0, 0, 0.9); cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0px 0px; overflow: hidden; position: static;
}
.flex-control-thumbs li {
	margin: 0px; width: 25%; float: left;
}
.flex-control-thumbs img {
	transition:1s; width: 100%; height: auto; display: block; cursor: pointer; opacity: 0.7; -webkit-transition: all 1s ease; -o-transition: all 1s ease; -moz-transition: all 1s ease; -moz-user-select: none;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	cursor: default; opacity: 1;
}
@media screen and (max-width:860px)
{
.flex-direction-nav .flex-prev {
	left: 10px; opacity: 1;
}
.flex-direction-nav .flex-next {
	right: 10px; opacity: 1;
}
}
