body::after {
	display: none; content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
}
body.lb-disable-scrolling {
	overflow: hidden;
}
.lightboxOverlay {
	left: 0px; top: 0px; display: none; position: absolute; z-index: 9999; opacity: 0.8; background-color: black;
}
.lightbox {
	left: 0px; width: 100%; text-align: center; line-height: 0; font-weight: normal; position: absolute; z-index: 10000;
}
.lightbox .lb-image {
	border-radius: 3px; border: 4px solid white; border-image: none; height: auto; display: block; max-height: none; max-width: inherit;
}
.lightbox a img {
	border: currentColor; border-image: none;
}
.lb-outerContainer {
	margin: 0px auto; border-radius: 4px; width: 250px; height: 250px; position: relative; background-color: white;
}
.lb-outerContainer::after {
	clear: both; display: table; content: "";
}
.lb-loader {
	left: 0px; top: 43%; width: 100%; height: 25%; text-align: center; line-height: 0; position: absolute;
}
.lb-cancel {
	background: url("../images/loading.gif") no-repeat; margin: 0px auto; width: 32px; height: 32px; display: block;
}
.lb-nav {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 10;
}
.lb-container > .nav {
	left: 0px;
}
.lb-nav a {
	background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}
.lb-prev {
	height: 100%; display: block; cursor: pointer;
}
.lb-next {
	height: 100%; display: block; cursor: pointer;
}
.lb-nav a.lb-prev {
	background: url("../images/prev.png") no-repeat left 48%; transition:opacity 0.6s; left: 0px; width: 34%; float: left; opacity: 0; -webkit-transition: opacity 0.6s; -o-transition: opacity 0.6s; -moz-transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
	opacity: 1;
}
.lb-nav a.lb-next {
	background: url("../images/next.png") no-repeat right 48%; transition:opacity 0.6s; width: 64%; right: 0px; float: right; opacity: 0; -webkit-transition: opacity 0.6s; -o-transition: opacity 0.6s; -moz-transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
	opacity: 1;
}
.lb-dataContainer {
	margin: 0px auto; width: 100%; padding-top: 5px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}
.lb-dataContainer::after {
	clear: both; display: table; content: "";
}
.lb-data {
	padding: 0px 4px; color: rgb(204, 204, 204);
}
.lb-data .lb-details {
	width: 85%; text-align: left; line-height: 1.1em; float: left;
}
.lb-data .lb-caption {
	line-height: 1em; font-size: 13px; font-weight: bold;
}
.lb-data .lb-caption a {
	color: rgb(68, 170, 238);
}
.lb-data .lb-number {
	color: rgb(153, 153, 153); padding-bottom: 1em; clear: left; font-size: 12px; display: block;
}
.lb-data .lb-close {
	background: url("../images/close.png") no-repeat right top; transition:opacity 0.2s; width: 30px; height: 30px; text-align: right; float: right; display: block; opacity: 0.7; -webkit-transition: opacity 0.2s; -o-transition: opacity 0.2s; -moz-transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
	cursor: pointer; opacity: 1;
}
