.wcag-panel {
	width: 100%; color: rgb(0, 0, 0); font-family: "Arial", "sans-serif"; font-size: 18px; border-bottom-color: rgba(107, 107, 107, 0.5); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative; z-index: 999; box-sizing: border-box; background-color: rgb(247, 247, 247);
}
.wcag-panel__wrapper {
	margin: 0px auto; padding: 10px 20px; max-width: 1200px; box-sizing: border-box;
}
.wcag-panel__wrapper::before {
	display: table; content: " ";
}
.wcag-panel__wrapper::after {
	display: table; content: " ";
}
.wcag-panel__wrapper::after {
	clear: both;
}
.wcag-panel__col {
	padding: 0px 20px 0px 16px; vertical-align: middle; display: inline-block;
}
:first-child.wcag-panel__col {
	padding-left: 0px;
}
:last-child.wcag-panel__col {
	margin-right: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.wcag-panel__settings {
	margin-top: 2px; float: right;
}
.wcag-panel__switcher {
	border-radius: 3px; border: 1px solid black; border-image: none; overflow: hidden; font-size: 0px; vertical-align: middle; display: inline-block;
}
.wcag-panel__switcher_img {
	font-size: 0px;
}
.wcag-panel__switcher_color {
	border: 0px currentColor; border-image: none; overflow: visible;
}
.wcag-panel__switcher-label {
	margin-right: 4px; vertical-align: baseline; display: inline-block;
}
.wcag-panel__switcher-btn {
	padding: 0px 10px; border: 0px currentColor; border-image: none; line-height: 1.3em; font-size: 18px; cursor: pointer; min-height: 35px; background-color: rgb(255, 255, 255);
}
:not(:last-child).wcag-panel__switcher-btn {
	border-right-color: black; border-right-width: 1px; border-right-style: solid;
}
.wcag-panel__switcher-btn.active {
	color: white; background-color: black;
}
.wcag-panel__switcher-btn:focus {
	background: black; outline: 0px; color: white; box-shadow: inset 0px 0px 0px 2px #ffa;
}
.wcag-panel__switcher-btn.active:focus {
	outline: 0px; box-shadow: inset 0px 0px 0px 2px #ffa;
}
.wcag-panel__switcher-btn_increase {
	background-position: center; width: 31px; height: 35px; font-weight: bold; background-image: url("img/plus.svg"); background-repeat: no-repeat; background-size: 60%; background-color: rgb(255, 255, 255);
}
.wcag-panel__switcher-btn_increase.wcag-panel__switcher-btn_active {
	background-position: center; background-image: url("img/plus_white.svg"); background-repeat: no-repeat; background-size: 60%; background-color: rgb(0, 0, 0);
}
.wcag-panel__switcher-btn_increase:focus {
	background-position: center; background-image: url("img/plus_white.svg"); background-repeat: no-repeat; background-size: 60%; background-color: rgb(0, 0, 0);
}
.wcag-panel__switcher-btn_decrease {
	background-position: center; width: 31px; height: 35px; font-weight: bold; background-image: url("img/minus.svg"); background-repeat: no-repeat; background-size: 70%; background-color: rgb(255, 255, 255);
}
.wcag-panel__switcher-btn_decrease.wcag-panel__switcher-btn_active {
	background-position: center; background-image: url("img/minus_white.svg"); background-repeat: no-repeat; background-size: 70%; background-color: rgb(0, 0, 0);
}
.wcag-panel__switcher-btn_decrease:focus {
	background-position: center; background-image: url("img/minus_white.svg"); background-repeat: no-repeat; background-size: 70%; background-color: rgb(0, 0, 0);
}
.wcag-panel__switcher-btn_reset::before {
	background-position: center; width: 20px; height: 20px; margin-top: -5px; margin-right: 5px; vertical-align: middle; display: inline-block; content: ""; background-image: url("img/reload.svg"); background-repeat: no-repeat; background-size: 20px;
}
.wcag-panel__switcher-btn_reset:focus::before {
	background-position: center; background-image: url("img/reload_white.svg"); background-repeat: no-repeat; background-size: 20px;
}
.wcag-panel__dropdown-toggle {
	background: rgb(255, 255, 255); padding: 0px 27px 0px 10px; border-radius: 3px; border: 1px solid black; border-image: none; line-height: 32px; font-size: 18px; vertical-align: baseline; display: inline-block; position: relative; cursor: pointer;
}
.wcag-panel__dropdown-toggle:focus {
	background: rgb(0, 0, 0); outline: 0px; color: rgb(255, 255, 255); box-shadow: inset 0px 0px 0px 2px #ffa;
}
.wcag-panel__dropdown-toggle:focus::after {
	border-top-color: white; border-right-color: transparent; border-left-color: transparent; border-top-width: 5px; border-right-width: 6px; border-left-width: 6px; border-top-style: solid; border-right-style: solid; border-left-style: solid;
}
.wcag-panel__dropdown-toggle::after {
	top: 50%; width: 0px; height: 0px; right: 10px; margin-top: -2px; border-top-color: black; border-right-color: transparent; border-left-color: transparent; border-top-width: 5px; border-right-width: 6px; border-left-width: 6px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
[aria-expanded='true'].wcag-panel__dropdown-toggle {
	background: black; color: white;
}
[aria-expanded='true'].wcag-panel__dropdown-toggle::after {
	margin-top: -2px; border-top-color: currentColor; border-bottom-color: white; border-top-width: 0px; border-bottom-width: 5px; border-top-style: none; border-bottom-style: solid;
}
.wcag-panel__dropdown {
	list-style: none; margin: 0px; padding: 10px 0px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 0px; top: 100%; width: 100%; text-align: left; font-size: 18px; float: left; display: none; position: absolute; z-index: 1000; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255);
}
.wcag-panel__dropdown-item {
	margin-bottom: 1.5em;
}
.wcag-panel__dropdown-toggle-extra-text {
	display: none;
}
.wcag-panel__flag-button {
	font-size: 18px; margin-right: 7px;
}
.wcag-panel__default-link {
	color: black !important; font-size: 18px;
}
.wcag-panel__default-link::before {
	background-position: center; width: 28px; height: 18px; margin-right: 10px; vertical-align: middle; display: inline-block; content: ""; background-image: url("img/eye.svg"); background-repeat: no-repeat; background-size: 100%; background-color: transparent;
}
.wcag-panel__reset {
	margin-right: 20px; margin-bottom: 10px;
}
.wcag-panel__close {
	margin-bottom: 10px; float: right;
}
.wcag-panel__switch-default {
	height: 35px; padding-top: 9px; margin-right: 20px; margin-bottom: 10px; vertical-align: middle; display: inline-block;
}
.wcag-panel_show-dropdown .wcag-panel__dropdown {
	display: block;
}
.flag-button {
	border-radius: 3px; width: 31px; height: 35px; position: relative; cursor: pointer; box-sizing: border-box;
}
.flag-button:hover {
	border: 1px dashed rgb(159, 159, 159); border-image: none;
}
.flag-button:focus {
	border: 1px dashed rgb(159, 159, 159); border-image: none;
}
.flag-button::after {
	background: rgb(255, 255, 255); left: 50%; width: 7px; height: 7px; bottom: -4px; margin-left: -4px; border-right-color: black; border-bottom-color: black; border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; display: none; position: absolute; content: ""; transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.flag-button.active::after {
	display: block;
}
.flag-button:focus::after {
	display: block;
}
.flag-button_white {
	background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); border-image: none;
}
.flag-button_black {
	background: rgb(0, 0, 0); border: 1px solid rgb(0, 0, 0); border-image: none; color: rgb(255, 255, 255);
}
.flag-button_black::after {
	background-color: rgb(0, 0, 0);
}
.flag-button_blue {
	background: rgb(157, 209, 255); border: 1px solid rgb(0, 0, 0); border-image: none;
}
.flag-button_blue::after {
	background-color: rgb(157, 209, 255);
}
