html[data-fontsize='small'] {
	font-size: 10px;
}
html[data-fontsize='large'] {
	font-size: 24px;
}
html[data-fontsize='large'] .checkbox label::before {
	width: 28px; height: 28px;
}
html[data-fontsize='large'] .checkbox label {
	padding-left: 15px;
}
html[data-color='black'] body {
	background: black; color: white;
}
html[data-color='blue'] body {
	background: rgba(100, 149, 237, 0.33);
}
html[data-color='blue'] .service-and-docs {
	background: rgba(100, 149, 237, 0.33);
}
html[data-color='blue'] .services .item {
	background: rgba(100, 149, 237, 0.33);
}
html[data-color='blue'] .list-list .list-item {
	background: rgba(100, 149, 237, 0.33);
}
html[data-color='blue'] .footer {
	background: rgba(100, 149, 237, 0.33);
}
html[data-color='blue'] .card {
	background: rgba(100, 149, 237, 0.33);
}
html[data-color='blue'] .modal-content {
	background: rgba(100, 149, 237, 0.33);
}
html[data-color='blue'] .more-news .publication {
	background: rgba(100, 149, 237, 0.33);
}
html[data-color='blue'] .modal-content {
	background: rgba(100, 149, 237, 1);
}
html[data-color='blue'] a[href] {
	color: black; text-decoration: underline;
}
html[data-color='blue'] .index-page a > h3 {
	color: black; text-decoration: underline;
}
html[data-color='blue'] .footer .top-footer .item a {
	color: black; text-decoration: underline;
}
html[data-color='blue'] .services .item .category-title {
	color: black; text-decoration: underline;
}
html[data-color='blue'] .partners .title-block .desc-link {
	color: black; text-decoration: underline;
}
html[data-color='blue'] .header-info .spec-icons .special a {
	color: black; text-decoration: underline;
}
html[data-color='blue'] .list-list .title-block h4.doc-title a {
	color: black; text-decoration: underline;
}
html[data-color='blue'] .header-menu .navbar-light .navbar-nav .nav-link {
	color: black; text-decoration: underline;
}
html[data-color='blue'] .top-news .tab-content .right-col .item-title h4 a {
	color: black; text-decoration: underline;
}
html[data-color='blue'] a[href]:hover {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] a[href]:hover > h4 {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] a[href]:hover > .card {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] .footer .top-footer .item a:hover {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] .index-page a:hover > h3 {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] .services .item .category-title:hover {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] .partners .title-block .desc-link:hover {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] .header-info .spec-icons .special a:hover {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] .list-list .title-block h4.doc-title a:hover {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] .header-menu .navbar-light .navbar-nav .nav-link:hover {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] .top-news .tab-content .right-col .item-title h4 a:hover {
	background: white; color: black; outline-color: rgb(216, 237, 255);
}
html[data-color='blue'] a[href]:visited {
	color: red;
}
html[data-color='blue'] a[href].disabled {
	color: rgb(203, 203, 203);
}
html[data-color='white'] body {
	background: white; color: black;
}
html[data-color='white'] .service-and-docs {
	background: white; color: black;
}
html[data-color='white'] a[href] {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] .index-page a > h3 {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] .footer .top-footer .item a {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] .services .item .category-title {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] .partners .title-block .desc-link {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] .header-info .spec-icons .special a {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] .list-list .title-block h4.doc-title a {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] .header-menu .navbar-light .navbar-nav .nav-link {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] .top-news .tab-content .right-col .item-title h4 a {
	color: rgb(0, 0, 204); text-decoration: underline;
}
html[data-color='white'] a[href]:hover {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] a[href]:hover > h4 {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] a[href]:hover > .card {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] .footer .top-footer .item a:hover {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] .index-page a:hover > h3 {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] .services .item .category-title:hover {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] .partners .title-block .desc-link:hover {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] .header-info .spec-icons .special a:hover {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] .list-list .title-block h4.doc-title a:hover {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] .header-menu .navbar-light .navbar-nav .nav-link:hover {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] .top-news .tab-content .right-col .item-title h4 a:hover {
	background: rgb(255, 255, 170); outline: rgb(255, 255, 170) solid 3px; color: rgb(191, 23, 34); text-decoration: underline;
}
html[data-color='white'] a[href]:visited {
	color: rgb(102, 0, 153);
}
html[data-color='black'] body {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .service-and-docs {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .services .item {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .list-list .list-item {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .footer {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .card {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .modal-content {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .more-news .publication {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .block-list .block-item .card-title {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .block-list .block-item .card:hover .card-title {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
html[data-color='black'] .btn-danger {
	background: rgb(243, 242, 242);
}
html[data-color='black'] .footer .top-footer > .container {
	border-top-color: rgb(243, 242, 242); border-top-width: 5px; border-top-style: solid;
}
html[data-color='black'] a[href] {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] .index-page a > h3 {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] .footer .top-footer .item a {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] .services .item .category-title {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] .partners .title-block .desc-link {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] .header-info .spec-icons .special a {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] .list-list .title-block h4.doc-title a {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] .header-menu .navbar-light .navbar-nav .nav-link {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] .top-news .tab-content .right-col .item-title h4 a {
	color: rgb(150, 150, 145); text-decoration: underline;
}
html[data-color='black'] a[href]:hover {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] a[href]:hover > h4 {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] a[href]:hover > .card {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] .footer .top-footer .item a:hover {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] .index-page a:hover > h3 {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] .services .item .category-title:hover {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] .partners .title-block .desc-link:hover {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] .header-info .spec-icons .special a:hover {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] .list-list .title-block h4.doc-title a:hover {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] .header-menu .navbar-light .navbar-nav .nav-link:hover {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] .top-news .tab-content .right-col .item-title h4 a:hover {
	background: rgb(216, 237, 255); color: rgb(191, 23, 34); outline-color: rgb(216, 237, 255);
}
html[data-color='black'] a[href]:visited {
	color: rgb(153, 255, 102);
}
html[data-color='black'] a[href].disabled {
	color: rgb(203, 203, 203);
}
html[data-images='no'] .top-news .tab-content .left-col {
	width: 0px; min-width: 0px;
}
html[data-images='no'] .icon-block {
	display: none;
}
html[data-images='no'] .logo {
	display: none;
}
html[data-images='no'] .img-responsive {
	display: none;
}
html[data-images='no'] .swiper-container {
	display: none;
}
html[data-images='no'] .cut-img-center {
	display: none;
}
html[data-images='no'] .control-nav {
	display: none;
}
html[data-images='no'] .org-sub-img {
	display: none;
}
html[data-images='no'] .flex-caption {
	background: white; color: black;
}
html[data-color='white'] .flex-caption {
	border: 1px solid black; border-image: none;
}
html[data-images='no'] img {
	visibility: hidden;
}
