/* 
  -----------------------------------
  Tree Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Style Theme: 04 - Carbon
  -----------------------------------
*/

.p7TMM04 {
	font-size: inherit;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	background: #fff ;
	zoom: 1;
	border-bottom: 2px solid #3a6499;
	border-top: 2px solid #3a6499;
}
.p7TMM04 ul {
	margin: 0;
	padding: 0;
}
.p7TMM04 ul div {
	background-color: transparent;
	background-image: url(../img/col1menusubs.png);
	border-bottom: 1px dashed #3a6499;
}
.p7TMM04 ul ul div {
	background-color: transparent;
	background-image: none;
}
.p7TMM04 ul ul {
	font-size: .9em;
}
.p7TMM04 ul ul ul {
	font-size: 1em;
}
.p7TMM04 ul li {
	list-style-type: none;
}
.p7TMM04 ul ul li {

font-weight:normal;
	
}
.p7TMM04 ul a:link, .p7TMM04 ul a:visited {
	color: #3a6499 !important;
	display: block;
	padding: 6px 8px 6px 18px;
	text-decoration: none;
	zoom: 1;
	font-variant: small-caps;
	font-weight: bold;
	border-bottom: 1px dashed #0a244a;
	outline: 0;
}
.p7TMM04 a.tmmlast {
	border-bottom: 0;
}
.p7TMM04 ul a:hover, .p7TMM04 ul a:focus, .p7TMM04 ul a:active {
	font-weight: bold;
}
.p7TMM04 ul ul a:link, .p7TMM04 ul ul a:visited {
	font-variant: normal;
	border-bottom: 1px dotted #3a6499;
	padding: 3px 8px 3px 18px;
	color: #000 !important;
	background-color: #e0eff5 !important;

}
.p7TMM04 ul ul a:hover, .p7TMM04 ul ul a:focus, .p7TMM04 ul ul a:active {
	color: #06C !important;
	text-decoration: underline;
	background-color: #fff !important;
}

.p7TMM04 a.trig_closed {
	background-image: url(img/tmm_east_blue.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM04 ul ul a.trig_closed {
	background-image: url(img/tmm_east_black.gif);
}
.p7TMM04 a.trig_open {
	background-image: url(img/tmm_south_blue.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
}
.p7TMM04 ul ul a.trig_closed, .p7TMM04 ul ul a.trig_open {
	font-variant: small-caps;
	letter-spacing: 0.1em;
	font-size: 1.1em;
}
.p7TMM04 ul ul a.trig_open {
	color: #000 !important;
	background-image: url(img/tmm_south_black.gif);
}
.p7TMM04 a.current_mark {
	font-weight:bold;
	color:#EFEFEF;
}
.p7TMM04 ul ul a.current_mark {
	color:#000;
}
.p7TMMtoggle {
	display:none;
}
.p7TMM04_toggle_all {
	margin: 0 0 12px 0;
}
.p7TMM04_toggle_all a:link, .p7TMM04_toggle_all a:visited {
	color: #000;
	font-variant: small-caps;
	outline: 0;
}
.p7TMM04_toggle_all a:hover, .p7TMM04_toggle_all a:focus, .p7TMM04_toggle_all a:active {
	color: #06C;
	text-decoration: underline;
}
