/* Code tidied up by ScrapBook */
.header_pesquisa { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px ! important; color: rgb(255, 255, 255) ! important; }
a.header_pesquisa { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 13px ! important; color: rgb(255, 255, 255) ! important; text-decoration: none ! important; }
a.header_pesquisa:hover { color: rgb(152, 152, 152) ! important; text-decoration: none ! important; }
.caixa_pesquisa { font-family: Verdana,Arial,Helvetica,sans-serif; border: medium none; font-size: 10px; }
.header_barra_1 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(128, 128, 131) ! important; text-decoration: none; }
a.header_barra_1:link { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(128, 128, 131) ! important; text-decoration: none ! important; }
a.header_barra_1:visited { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(128, 128, 131) ! important; text-decoration: none ! important; }
a.header_barra_1:active { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(128, 128, 131) ! important; text-decoration: none ! important; }
a.header_barra_1:hover { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 12px ! important; color: rgb(2, 93, 164) ! important; text-decoration: none ! important; }
.header_barra_cores_1 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px ! important; color: rgb(2, 93, 164) ! important; text-decoration: none ! important; }
.home_azul_top { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 11px; font-weight: bold ! important; color: black; white-space: normal; background-color: rgb(2, 93, 164) ! important; position: relative; background-repeat: no-repeat; width: 170px; text-decoration: none; }
.home_azul_top a, .home_azul_top a:visited, .home_azul_top a:active { color: rgb(255, 255, 255) ! important; font-size: 11px ! important; text-decoration: none; background-color: rgb(2, 93, 164) ! important; white-space: normal; }
.home_azul_top a.node, .home_azul_top a.nodeSel { white-space: normal; font-weight: bold ! important; padding: 1px 2px ! important; text-decoration: none ! important; }
.home_azul_top a.node:hover, .home_azul_top a.nodeSel:hover { color: rgb(152, 152, 152) ! important; background-color: rgb(2, 93, 164) ! important; text-decoration: none ! important; }
.home_cinza_top { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 11px; font-weight: bold ! important; color: black; white-space: normal; background-color: rgb(207, 209, 210); position: relative; background-repeat: no-repeat; width: 170px; text-decoration: none; }
.verbos_vermelho a, .verbos_vermelho a:active, .verbos_vermelho a:visited { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(190, 21, 27) ! important; font-size: 19px ! important; white-space: normal; text-decoration: none ! important; }
.verbos_vermelho a.node:hover { color: rgb(152, 152, 152) ! important; text-decoration: none ! important; }
.verbos_laranja a, .verbos_laranja a:active, .verbos_laranja a:visited { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(236, 106, 19) ! important; font-size: 19px ! important; white-space: normal; text-decoration: none ! important; }
.verbos_laranja a.node:hover { color: rgb(152, 152, 152) ! important; text-decoration: none ! important; }
.verbos_azul a, .verbos_azul a:active, .verbos_azul a:visited { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(14, 169, 220) ! important; font-size: 19px ! important; white-space: normal; text-decoration: none ! important; }
.verbos_azul a.node:hover { color: rgb(152, 152, 152) ! important; text-decoration: none ! important; }
.verbos_roxo a, .verbos_roxo a:active, .verbos_roxo a:visited { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(162, 107, 171) ! important; font-size: 19px ! important; white-space: normal; text-decoration: none ! important; }
.verbos_roxo a.node:hover { color: rgb(152, 152, 152) ! important; text-decoration: none ! important; }
.verbos_texto, .verbos_texto a, .verbos_texto a:visited, .verbos_texto a:active { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(88, 89, 91) ! important; font-size: 11px ! important; white-space: normal; text-decoration: none ! important; }
a.verbos_texto:hover { color: rgb(152, 152, 152) ! important; text-decoration: none ! important; }
.verbos_destaques { font-family: Verdana,Arial,Helvetica,sans-serif; color: rgb(88, 89, 91); font-size: 10px; white-space: normal; text-decoration: none ! important; }
a.verbos_destaques { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(88, 89, 91) ! important; font-size: 10px ! important; white-space: normal; text-decoration: none ! important; }
a.verbos_destaques:hover { color: rgb(152, 152, 152) ! important; text-decoration: none ! important; }
.texto_destaques { font-family: Verdana,Arial,Helvetica,sans-serif ! important; font-size: 11px; font-weight: normal; color: rgb(88, 89, 91) ! important; white-space: normal; position: relative; background-repeat: no-repeat; text-decoration: none ! important; }
.texto_destaques a { color: rgb(88, 89, 91) ! important; font-size: 11px ! important; text-decoration: none ! important; white-space: normal; }
.texto_destaques a.node, .texto_destaques a.nodeSel { white-space: normal; text-decoration: none ! important; }
.texto_destaques span.secnode2 { color: rgb(88, 89, 91); white-space: normal; font-weight: bold ! important; }
.texto_destaques a.node:hover, .texto_destaques a.nodeSel:hover { color: rgb(152, 152, 152) ! important; text-decoration: none ! important; }
a.destaques_mais_vermelho { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(190, 21, 27) ! important; font-size: 9px ! important; white-space: normal; text-decoration: none ! important; }
a.destaques_mais_vermelho:hover { color: rgb(88, 89, 91) ! important; text-decoration: none ! important; }
a.destaques_mais_laranja { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(236, 106, 19) ! important; font-size: 9px ! important; white-space: normal; text-decoration: none ! important; }
a.destaques_mais_laranja:hover { color: rgb(88, 89, 91) ! important; text-decoration: none ! important; }
a.destaques_mais_azul { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(14, 169, 220) ! important; font-size: 9px ! important; white-space: normal; text-decoration: none ! important; }
a.destaques_mais_azul:hover { color: rgb(88, 89, 91); text-decoration: none ! important; }
a.destaques_mais_roxo { font-family: Verdana,Arial,Helvetica,sans-serif ! important; color: rgb(162, 107, 171) ! important; font-size: 9px ! important; white-space: normal; text-decoration: none ! important; }
a.destaques_mais_roxo:hover { color: rgb(88, 89, 91) ! important; text-decoration: none ! important; }
.promotores { font-family: Verdana,Arial,Helvetica,sans-serif; color: rgb(88, 89, 91); font-size: 10px; font-weight: bold; white-space: normal; }
.footer { background-image: url("barra_footer.gif"); background-repeat: repeat-x; }
.footer_copyright { font-family: Verdana,Arial,Helvetica,sans-serif; color: rgb(88, 89, 91); font-size: 9px; font-weight: normal; white-space: normal; }
