/* Code tidied up by ScrapBook */
.directorio_1st { border-bottom: 1px solid rgb(16, 69, 152); font-size: 11px; vertical-align: middle; color: rgb(255, 255, 255); font-family: Verdana,Arial; text-decoration: none; padding-top: 0px; padding-bottom: 0px; padding-left: 10px; margin: 0px; line-height: 12pt; background-image: url("seta_branca.gif"); background-repeat: no-repeat; background-position: right top; cursor: pointer; width: 180px; }
.servicos_1st, .servicos_1st_selected { border-bottom: 1px solid rgb(128, 128, 131); font-size: 11px; vertical-align: middle; color: rgb(128, 128, 131); font-family: Verdana,Arial; text-decoration: none; padding-top: 0px; padding-bottom: 0px; padding-left: 10px; margin: 0px; line-height: 12pt; background-image: url("seta_cinza.gif"); background-repeat: no-repeat; background-position: right top; cursor: pointer; width: 180px; }
