/* Code tidied up by ScrapBook */
.jcarousel-container {  }
.jcarousel-container-vertical { width: 170px; height: 470px; padding: 50px 0px 40px 5px; }
.jcarousel-clip-vertical { width: 100%; height: 470px; }
.jcarousel-item { width: 160px; height: 150px; }
.jcarousel-item-vertical { margin-bottom: 10px; }
.jcarousel-next-vertical { position: absolute; bottom: 5px; left: 57px; width: 48px; height: 32px; cursor: pointer; background: url("seta-baixo.jpg") no-repeat scroll 0px 0px transparent; }
.jcarousel-next-vertical:hover, .jcarousel-next-vertical-hover { position: absolute; bottom: 5px; left: 57px; width: 48px; height: 32px; cursor: pointer; background: url("seta-baixo2.jpg") no-repeat scroll 0px 0px transparent; }
.jcarousel-prev-vertical { position: absolute; top: 0px; left: 57px; width: 48px; height: 32px; cursor: pointer; background: url("seta-cima.jpg") no-repeat scroll 0px 0px transparent; }
.jcarousel-prev-vertical:hover, .jcarousel-prev-vertical-hover { position: absolute; top: 0px; left: 57px; width: 48px; height: 32px; cursor: pointer; background: url("seta-cima2.jpg") no-repeat scroll 0px 0px transparent; }
