@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(5) > div:nth-of-type(1) > h6:nth-of-type(2) {
		padding-top: 0.0% !important;  /* 0px */
		height: 24.72% !important;  /* 22px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) {
		max-width: 206px !important;  /* 206px */
		width: 21.46% !important;  /* 206px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(3) {
		margin-left: -1.35% !important;  /* -13px */
		max-width: 55px !important;  /* 55px */
		width: 5.73% !important;  /* 55px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(5) > div:nth-of-type(1) > h6:nth-of-type(1) {
		padding-top: 1.29% !important;  /* 2px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > p:nth-of-type(1) {
		margin-left: -123.79% !important;  /* -255px */
		margin-top: 15.05% !important;  /* 31px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > form:nth-of-type(1) > div:nth-of-type(1) {
		max-width: -1px !important;  /* -1px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(4) {
		padding-top: 0.31% !important;  /* 3px */
		margin-top: 0.31% !important;  /* 3px */
		height: 66.86% !important;  /* 113px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(2) {
		margin-top: 0.31% !important;  /* 3px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(3) {
		padding-top: 0.31% !important;  /* 3px */
		padding-bottom: 0.31% !important;  /* 3px */
		margin-top: 0.31% !important;  /* 3px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) {
		padding-top: 0.21% !important;  /* 2px */
		padding-bottom: 0.21% !important;  /* 2px */
		margin-top: 0.1% !important;  /* 1px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(4) {
		margin-left: -1.53% !important;  /* -10px */
		padding-left: 0.0% !important;  /* 0px */
		padding-right: -0.15% !important;  /* -1px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(4) {
		margin-left: -1.98% !important;  /* -19px */
		max-width: 68px !important;  /* 68px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(8) {
		margin-left: -3.44% !important;  /* -33px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > form:nth-of-type(1) > div:nth-of-type(2) {
		width: 0.0% !important;  /* 0px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(5) {
		margin-right: 17px !important;  /* 17px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(1) {
		line-height: 145.45% !important;  /* 16px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(2) {
		margin-left: -1.35% !important;  /* -13px */
	}
	html > body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(1) {
		padding-top: 6.67% !important;  /* 18px */
	}
}

