@supports (-webkit-appearance:none) {
	html > body > div:nth-of-type(4) > div:nth-of-type(1) > div:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1) {
		width: 77.06% !important;  /* 131px */
	}
}