body{
    margin: 0px;
    padding: 0px;
    background: #111;
}
.main-box{
    width: 100%;
    background: #111;
}
.container{
    margin: 0% 2%;
}
.menubar{
    position: relative;
}
.clear{clear: both;}
.logo{
    float:left;
}
.menu{
    float:left;
    z-index:5;
    /*margin-left: 80px;*/
}
.menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index:5;
}
.menu ul li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    z-index:5;

}
.menu ul li a{
    background: url('../images/black/navbtn1.png') no-repeat scroll left bottom transparent;
	background-size: 120px 95px;
    text-decoration: none;
    color:#fff;
    font-family: sans-serif;
	font-size: 14px;
    float: left;
    height: 40px;
    width: 120px;
    display: block;
    border:medium none;
    padding-top: 8px;
    padding-right: 5px;
}
.menu ul li a:hover{
    background: url('../images/black/navbtn1.png') no-repeat left top;
	background-size: 120px 96px;
}
.menu ul li a.travel{background: #E70103;}
.menu ul li a.trade{background: #FF3300;}
.menu ul li a.media{background: #E09D11;}
.simple-menu{
    float: left;
}
.simple-menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.simple-menu ul li{
    display: inline-block;
    margin: 0px;
}
.simple-menu ul li a{
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
    font-family: sans-serif;
    padding: 2px 5px;
    border-radius: 4px;
}
.simple-menu ul li a:hover{
    background: #fff;
    color: #000;
}
.slider{
    float: left;
    width: 78%;
    height: 50%;
    border: 10px solid #000;
	margin-right: 20px;
}
.slider #slideShow {
    width:100%;
    height:600px;
    overflow: hidden;
    position:relative;
    list-style: none;
    padding:0;
    margin:0;
}
.slider #slideShow li {
    position: absolute;
    top: 0px;
    left: 0px;
    display:none;
    width: 100%;
    height: 100%;
}
.slider ul li img{
    width: 100%;
    height: 100%;
}
.slider #slideShow li:first-child {
    display:block;
}
.links{
    background: url('../images/black/link-bottom.png')no-repeat center bottom;
    float: left;
    width: 215px;
    margin-top: -30px;
}
.links ul{
    margin: 0px auto 45px;
    padding: 0px;
    border: 1px solid #635a43;
    list-style: none;
    width: 160px;
    background: #111;
}
.links ul li{
    margin: 1px 1px;
    position: relative;
    text-align: center;
    padding: 0px;
    z-index: 4;
}

.links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    /* background:  url('http://incredibleindia.org/templates/atomic/images/black/r-arrow.png')no-repeat 101% center; */
}
.links ul > li > ul{
    position: absolute;
    top:-5px;
    right: 150px;
    display: none;
    padding: 0px;
    margin: 10px;
    z-index: 100;
}
.links ul > li > ul > li{
    border-bottom: 1px solid #635a43;
}
.links .sub-lincks li{
    margin: 0px;
    padding: 0px;
    width: 150px;
    background: none;
}


.carousel{
    position: relative;
    margin-top: 20px;
    width: 96%;
    overflow: hidden;
    height: 120px;
	padding-left: 35px;
	padding-right: 35px;
}
.carousel ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.carousel ul li{
    display: inline-block;
    overflow: hidden;
}
.carousel ul li img{
    height: 110px;
    width: 150px;
    margin-left: 1px;
border: 2px solid #0B0B0B;
}
.jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: -35px;
    width: 32px;
    height: 114px;
    cursor: pointer;
    color: #fff;
    z-index: 10;
    background:#000000 url('../images/black/prev.png') 0% 50% no-repeat;
}

.jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: -35px;
    width: 32px;
    height: 114px;
    cursor: pointer;
    color: #fff;
    z-index: 10;
    background:#000000 url('../images/black/next.png') 0% 50% no-repeat;

}
.social{
    background: url('../images/black/line.png') no-repeat top;
    text-align: right;
    color: white;
    margin-top: 50px;
    padding: 20px;
}
.social ul{
    list-style: none;
    margin: 0px;
}
.social ul li{
    display: inline-block;
}
.social img{
    margin-right: 5px;
}
.social li a{
    color:rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 13px;
    margin-left: 10px;
}

.black-top .parent { position: relative;}
.black-top .parent > ul{ display: none; position: absolute; z-index: 2; }
.black-top .parent > ul > li { display: block;}
.black-top .parent > ul > li > a {
	background: #484846;
	text-decoration: none;
	color:#fff;
	font-family: sans-serif;
	font-size: 14px;
	min-height:25px;
	display: block;
	border:1px solid #A2A2A2;
	padding-top: 8px;
	padding-right: 5px;
}
.black-top .parent > ul > li > a:hover {
	background: #A2A2A2;
	border:1px solid #484846;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.slider {
		width:65%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	.slider {
		width:74%;
	}
}
@media only screen and (min-width: 1920px) {
	.slider {
		width:85%;
	}
	.slider #slideShow {
		height:800px;
	}
}
@-moz-document url-prefix() {
	.main-box {
		margin-top: -20px;
	}
}
