/* ::::: https://bitcoin.org/css/font-awesome-4.4.0/css/font-awesome.min.css ::::: */

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; }
.fa-lg { font-size: 1.33333em; line-height: 0.75em; vertical-align: -15%; }
.fa-2x { font-size: 2em; }
.fa-3x { font-size: 3em; }
.fa-4x { font-size: 4em; }
.fa-5x { font-size: 5em; }
.fa-fw { width: 1.28571em; text-align: center; }
.fa-ul { padding-left: 0px; margin-left: 2.14286em; list-style-type: none; }
.fa-ul > li { position: relative; }
.fa-li { position: absolute; left: -2.14286em; width: 2.14286em; top: 0.142857em; text-align: center; }
.fa-li.fa-lg { left: -1.85714em; }
.fa-border { padding: 0.2em 0.25em 0.15em; border: 0.08em solid rgb(238, 238, 238); border-radius: 0.1em; }
.fa-pull-left { float: left; }
.fa-pull-right { float: right; }
.fa.fa-pull-left { margin-right: 0.3em; }
.fa.fa-pull-right { margin-left: 0.3em; }
.pull-right { float: right; }
.pull-left { float: left; }
.fa.pull-left { margin-right: 0.3em; }
.fa.pull-right { margin-left: 0.3em; }
.fa-spin { animation: 2s linear 0s normal none infinite running fa-spin; }
.fa-pulse { animation: 1s steps(8) 0s normal none infinite running fa-spin; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-rotate-90 { transform: rotate(90deg); }
.fa-rotate-180 { transform: rotate(180deg); }
.fa-rotate-270 { transform: rotate(270deg); }
.fa-flip-horizontal { transform: scale(-1, 1); }
.fa-flip-vertical { transform: scale(1, -1); }
:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical { filter: none; }
.fa-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }
.fa-stack-1x, .fa-stack-2x { position: absolute; left: 0px; width: 100%; text-align: center; }
.fa-stack-1x { line-height: inherit; }
.fa-stack-2x { font-size: 2em; }
.fa-inverse { color: rgb(255, 255, 255); }
.fa-glass::before { content: ""; }
.fa-music::before { content: ""; }
.fa-search::before { content: ""; }
.fa-envelope-o::before { content: ""; }
.fa-heart::before { content: ""; }
.fa-star::before { content: ""; }
.fa-star-o::before { content: ""; }
.fa-user::before { content: ""; }
.fa-film::before { content: ""; }
.fa-th-large::before { content: ""; }
.fa-th::before { content: ""; }
.fa-th-list::before { content: ""; }
.fa-check::before { content: ""; }
.fa-remove::before, .fa-close::before, .fa-times::before { content: ""; }
.fa-search-plus::before { content: ""; }
.fa-search-minus::before { content: ""; }
.fa-power-off::before { content: ""; }
.fa-signal::before { content: ""; }
.fa-gear::before, .fa-cog::before { content: ""; }
.fa-trash-o::before { content: ""; }
.fa-home::before { content: ""; }
.fa-file-o::before { content: ""; }
.fa-clock-o::before { content: ""; }
.fa-road::before { content: ""; }
.fa-download::before { content: ""; }
.fa-arrow-circle-o-down::before { content: ""; }
.fa-arrow-circle-o-up::before { content: ""; }
.fa-inbox::before { content: ""; }
.fa-play-circle-o::before { content: ""; }
.fa-rotate-right::before, .fa-repeat::before { content: ""; }
.fa-refresh::before { content: ""; }
.fa-list-alt::before { content: ""; }
.fa-lock::before { content: ""; }
.fa-flag::before { content: ""; }
.fa-headphones::before { content: ""; }
.fa-volume-off::before { content: ""; }
.fa-volume-down::before { content: ""; }
.fa-volume-up::before { content: ""; }
.fa-qrcode::before { content: ""; }
.fa-barcode::before { content: ""; }
.fa-tag::before { content: ""; }
.fa-tags::before { content: ""; }
.fa-book::before { content: ""; }
.fa-bookmark::before { content: ""; }
.fa-print::before { content: ""; }
.fa-camera::before { content: ""; }
.fa-font::before { content: ""; }
.fa-bold::before { content: ""; }
.fa-italic::before { content: ""; }
.fa-text-height::before { content: ""; }
.fa-text-width::before { content: ""; }
.fa-align-left::before { content: ""; }
.fa-align-center::before { content: ""; }
.fa-align-right::before { content: ""; }
.fa-align-justify::before { content: ""; }
.fa-list::before { content: ""; }
.fa-dedent::before, .fa-outdent::before { content: ""; }
.fa-indent::before { content: ""; }
.fa-video-camera::before { content: ""; }
.fa-photo::before, .fa-image::before, .fa-picture-o::before { content: ""; }
.fa-pencil::before { content: ""; }
.fa-map-marker::before { content: ""; }
.fa-adjust::before { content: ""; }
.fa-tint::before { content: ""; }
.fa-edit::before, .fa-pencil-square-o::before { content: ""; }
.fa-share-square-o::before { content: ""; }
.fa-check-square-o::before { content: ""; }
.fa-arrows::before { content: ""; }
.fa-step-backward::before { content: ""; }
.fa-fast-backward::before { content: ""; }
.fa-backward::before { content: ""; }
.fa-play::before { content: ""; }
.fa-pause::before { content: ""; }
.fa-stop::before { content: ""; }
.fa-forward::before { content: ""; }
.fa-fast-forward::before { content: ""; }
.fa-step-forward::before { content: ""; }
.fa-eject::before { content: ""; }
.fa-chevron-left::before { content: ""; }
.fa-chevron-right::before { content: ""; }
.fa-plus-circle::before { content: ""; }
.fa-minus-circle::before { content: ""; }
.fa-times-circle::before { content: ""; }
.fa-check-circle::before { content: ""; }
.fa-question-circle::before { content: ""; }
.fa-info-circle::before { content: ""; }
.fa-crosshairs::before { content: ""; }
.fa-times-circle-o::before { content: ""; }
.fa-check-circle-o::before { content: ""; }
.fa-ban::before { content: ""; }
.fa-arrow-left::before { content: ""; }
.fa-arrow-right::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-arrow-down::before { content: ""; }
.fa-mail-forward::before, .fa-share::before { content: ""; }
.fa-expand::before { content: ""; }
.fa-compress::before { content: ""; }
.fa-plus::before { content: ""; }
.fa-minus::before { content: ""; }
.fa-asterisk::before { content: ""; }
.fa-exclamation-circle::before { content: ""; }
.fa-gift::before { content: ""; }
.fa-leaf::before { content: ""; }
.fa-fire::before { content: ""; }
.fa-eye::before { content: ""; }
.fa-eye-slash::before { content: ""; }
.fa-warning::before, .fa-exclamation-triangle::before { content: ""; }
.fa-plane::before { content: ""; }
.fa-calendar::before { content: ""; }
.fa-random::before { content: ""; }
.fa-comment::before { content: ""; }
.fa-magnet::before { content: ""; }
.fa-chevron-up::before { content: ""; }
.fa-chevron-down::before { content: ""; }
.fa-retweet::before { content: ""; }
.fa-shopping-cart::before { content: ""; }
.fa-folder::before { content: ""; }
.fa-folder-open::before { content: ""; }
.fa-arrows-v::before { content: ""; }
.fa-arrows-h::before { content: ""; }
.fa-bar-chart-o::before, .fa-bar-chart::before { content: ""; }
.fa-twitter-square::before { content: ""; }
.fa-facebook-square::before { content: ""; }
.fa-camera-retro::before { content: ""; }
.fa-key::before { content: ""; }
.fa-gears::before, .fa-cogs::before { content: ""; }
.fa-comments::before { content: ""; }
.fa-thumbs-o-up::before { content: ""; }
.fa-thumbs-o-down::before { content: ""; }
.fa-star-half::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-sign-out::before { content: ""; }
.fa-linkedin-square::before { content: ""; }
.fa-thumb-tack::before { content: ""; }
.fa-external-link::before { content: ""; }
.fa-sign-in::before { content: ""; }
.fa-trophy::before { content: ""; }
.fa-github-square::before { content: ""; }
.fa-upload::before { content: ""; }
.fa-lemon-o::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-square-o::before { content: ""; }
.fa-bookmark-o::before { content: ""; }
.fa-phone-square::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook-f::before, .fa-facebook::before { content: ""; }
.fa-github::before { content: ""; }
.fa-unlock::before { content: ""; }
.fa-credit-card::before { content: ""; }
.fa-feed::before, .fa-rss::before { content: ""; }
.fa-hdd-o::before { content: ""; }
.fa-bullhorn::before { content: ""; }
.fa-bell::before { content: ""; }
.fa-certificate::before { content: ""; }
.fa-hand-o-right::before { content: ""; }
.fa-hand-o-left::before { content: ""; }
.fa-hand-o-up::before { content: ""; }
.fa-hand-o-down::before { content: ""; }
.fa-arrow-circle-left::before { content: ""; }
.fa-arrow-circle-right::before { content: ""; }
.fa-arrow-circle-up::before { content: ""; }
.fa-arrow-circle-down::before { content: ""; }
.fa-globe::before { content: ""; }
.fa-wrench::before { content: ""; }
.fa-tasks::before { content: ""; }
.fa-filter::before { content: ""; }
.fa-briefcase::before { content: ""; }
.fa-arrows-alt::before { content: ""; }
.fa-group::before, .fa-users::before { content: ""; }
.fa-chain::before, .fa-link::before { content: ""; }
.fa-cloud::before { content: ""; }
.fa-flask::before { content: ""; }
.fa-cut::before, .fa-scissors::before { content: ""; }
.fa-copy::before, .fa-files-o::before { content: ""; }
.fa-paperclip::before { content: ""; }
.fa-save::before, .fa-floppy-o::before { content: ""; }
.fa-square::before { content: ""; }
.fa-navicon::before, .fa-reorder::before, .fa-bars::before { content: ""; }
.fa-list-ul::before { content: ""; }
.fa-list-ol::before { content: ""; }
.fa-strikethrough::before { content: ""; }
.fa-underline::before { content: ""; }
.fa-table::before { content: ""; }
.fa-magic::before { content: ""; }
.fa-truck::before { content: ""; }
.fa-pinterest::before { content: ""; }
.fa-pinterest-square::before { content: ""; }
.fa-google-plus-square::before { content: ""; }
.fa-google-plus::before { content: ""; }
.fa-money::before { content: ""; }
.fa-caret-down::before { content: ""; }
.fa-caret-up::before { content: ""; }
.fa-caret-left::before { content: ""; }
.fa-caret-right::before { content: ""; }
.fa-columns::before { content: ""; }
.fa-unsorted::before, .fa-sort::before { content: ""; }
.fa-sort-down::before, .fa-sort-desc::before { content: ""; }
.fa-sort-up::before, .fa-sort-asc::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-linkedin::before { content: ""; }
.fa-rotate-left::before, .fa-undo::before { content: ""; }
.fa-legal::before, .fa-gavel::before { content: ""; }
.fa-dashboard::before, .fa-tachometer::before { content: ""; }
.fa-comment-o::before { content: ""; }
.fa-comments-o::before { content: ""; }
.fa-flash::before, .fa-bolt::before { content: ""; }
.fa-sitemap::before { content: ""; }
.fa-umbrella::before { content: ""; }
.fa-paste::before, .fa-clipboard::before { content: ""; }
.fa-lightbulb-o::before { content: ""; }
.fa-exchange::before { content: ""; }
.fa-cloud-download::before { content: ""; }
.fa-cloud-upload::before { content: ""; }
.fa-user-md::before { content: ""; }
.fa-stethoscope::before { content: ""; }
.fa-suitcase::before { content: ""; }
.fa-bell-o::before { content: ""; }
.fa-coffee::before { content: ""; }
.fa-cutlery::before { content: ""; }
.fa-file-text-o::before { content: ""; }
.fa-building-o::before { content: ""; }
.fa-hospital-o::before { content: ""; }
.fa-ambulance::before { content: ""; }
.fa-medkit::before { content: ""; }
.fa-fighter-jet::before { content: ""; }
.fa-beer::before { content: ""; }
.fa-h-square::before { content: ""; }
.fa-plus-square::before { content: ""; }
.fa-angle-double-left::before { content: ""; }
.fa-angle-double-right::before { content: ""; }
.fa-angle-double-up::before { content: ""; }
.fa-angle-double-down::before { content: ""; }
.fa-angle-left::before { content: ""; }
.fa-angle-right::before { content: ""; }
.fa-angle-up::before { content: ""; }
.fa-angle-down::before { content: ""; }
.fa-desktop::before { content: ""; }
.fa-laptop::before { content: ""; }
.fa-tablet::before { content: ""; }
.fa-mobile-phone::before, .fa-mobile::before { content: ""; }
.fa-circle-o::before { content: ""; }
.fa-quote-left::before { content: ""; }
.fa-quote-right::before { content: ""; }
.fa-spinner::before { content: ""; }
.fa-circle::before { content: ""; }
.fa-mail-reply::before, .fa-reply::before { content: ""; }
.fa-github-alt::before { content: ""; }
.fa-folder-o::before { content: ""; }
.fa-folder-open-o::before { content: ""; }
.fa-smile-o::before { content: ""; }
.fa-frown-o::before { content: ""; }
.fa-meh-o::before { content: ""; }
.fa-gamepad::before { content: ""; }
.fa-keyboard-o::before { content: ""; }
.fa-flag-o::before { content: ""; }
.fa-flag-checkered::before { content: ""; }
.fa-terminal::before { content: ""; }
.fa-code::before { content: ""; }
.fa-mail-reply-all::before, .fa-reply-all::before { content: ""; }
.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before { content: ""; }
.fa-location-arrow::before { content: ""; }
.fa-crop::before { content: ""; }
.fa-code-fork::before { content: ""; }
.fa-unlink::before, .fa-chain-broken::before { content: ""; }
.fa-question::before { content: ""; }
.fa-info::before { content: ""; }
.fa-exclamation::before { content: ""; }
.fa-superscript::before { content: ""; }
.fa-subscript::before { content: ""; }
.fa-eraser::before { content: ""; }
.fa-puzzle-piece::before { content: ""; }
.fa-microphone::before { content: ""; }
.fa-microphone-slash::before { content: ""; }
.fa-shield::before { content: ""; }
.fa-calendar-o::before { content: ""; }
.fa-fire-extinguisher::before { content: ""; }
.fa-rocket::before { content: ""; }
.fa-maxcdn::before { content: ""; }
.fa-chevron-circle-left::before { content: ""; }
.fa-chevron-circle-right::before { content: ""; }
.fa-chevron-circle-up::before { content: ""; }
.fa-chevron-circle-down::before { content: ""; }
.fa-html5::before { content: ""; }
.fa-css3::before { content: ""; }
.fa-anchor::before { content: ""; }
.fa-unlock-alt::before { content: ""; }
.fa-bullseye::before { content: ""; }
.fa-ellipsis-h::before { content: ""; }
.fa-ellipsis-v::before { content: ""; }
.fa-rss-square::before { content: ""; }
.fa-play-circle::before { content: ""; }
.fa-ticket::before { content: ""; }
.fa-minus-square::before { content: ""; }
.fa-minus-square-o::before { content: ""; }
.fa-level-up::before { content: ""; }
.fa-level-down::before { content: ""; }
.fa-check-square::before { content: ""; }
.fa-pencil-square::before { content: ""; }
.fa-external-link-square::before { content: ""; }
.fa-share-square::before { content: ""; }
.fa-compass::before { content: ""; }
.fa-toggle-down::before, .fa-caret-square-o-down::before { content: ""; }
.fa-toggle-up::before, .fa-caret-square-o-up::before { content: ""; }
.fa-toggle-right::before, .fa-caret-square-o-right::before { content: ""; }
.fa-euro::before, .fa-eur::before { content: ""; }
.fa-gbp::before { content: ""; }
.fa-dollar::before, .fa-usd::before { content: ""; }
.fa-rupee::before, .fa-inr::before { content: ""; }
.fa-cny::before, .fa-rmb::before, .fa-yen::before, .fa-jpy::before { content: ""; }
.fa-ruble::before, .fa-rouble::before, .fa-rub::before { content: ""; }
.fa-won::before, .fa-krw::before { content: ""; }
.fa-bitcoin::before, .fa-btc::before { content: ""; }
.fa-file::before { content: ""; }
.fa-file-text::before { content: ""; }
.fa-sort-alpha-asc::before { content: ""; }
.fa-sort-alpha-desc::before { content: ""; }
.fa-sort-amount-asc::before { content: ""; }
.fa-sort-amount-desc::before { content: ""; }
.fa-sort-numeric-asc::before { content: ""; }
.fa-sort-numeric-desc::before { content: ""; }
.fa-thumbs-up::before { content: ""; }
.fa-thumbs-down::before { content: ""; }
.fa-youtube-square::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-xing::before { content: ""; }
.fa-xing-square::before { content: ""; }
.fa-youtube-play::before { content: ""; }
.fa-dropbox::before { content: ""; }
.fa-stack-overflow::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-flickr::before { content: ""; }
.fa-adn::before { content: ""; }
.fa-bitbucket::before { content: ""; }
.fa-bitbucket-square::before { content: ""; }
.fa-tumblr::before { content: ""; }
.fa-tumblr-square::before { content: ""; }
.fa-long-arrow-down::before { content: ""; }
.fa-long-arrow-up::before { content: ""; }
.fa-long-arrow-left::before { content: ""; }
.fa-long-arrow-right::before { content: ""; }
.fa-apple::before { content: ""; }
.fa-windows::before { content: ""; }
.fa-android::before { content: ""; }
.fa-linux::before { content: ""; }
.fa-dribbble::before { content: ""; }
.fa-skype::before { content: ""; }
.fa-foursquare::before { content: ""; }
.fa-trello::before { content: ""; }
.fa-female::before { content: ""; }
.fa-male::before { content: ""; }
.fa-gittip::before, .fa-gratipay::before { content: ""; }
.fa-sun-o::before { content: ""; }
.fa-moon-o::before { content: ""; }
.fa-archive::before { content: ""; }
.fa-bug::before { content: ""; }
.fa-vk::before { content: ""; }
.fa-weibo::before { content: ""; }
.fa-renren::before { content: ""; }
.fa-pagelines::before { content: ""; }
.fa-stack-exchange::before { content: ""; }
.fa-arrow-circle-o-right::before { content: ""; }
.fa-arrow-circle-o-left::before { content: ""; }
.fa-toggle-left::before, .fa-caret-square-o-left::before { content: ""; }
.fa-dot-circle-o::before { content: ""; }
.fa-wheelchair::before { content: ""; }
.fa-vimeo-square::before { content: ""; }
.fa-turkish-lira::before, .fa-try::before { content: ""; }
.fa-plus-square-o::before { content: ""; }
.fa-space-shuttle::before { content: ""; }
.fa-slack::before { content: ""; }
.fa-envelope-square::before { content: ""; }
.fa-wordpress::before { content: ""; }
.fa-openid::before { content: ""; }
.fa-institution::before, .fa-bank::before, .fa-university::before { content: ""; }
.fa-mortar-board::before, .fa-graduation-cap::before { content: ""; }
.fa-yahoo::before { content: ""; }
.fa-google::before { content: ""; }
.fa-reddit::before { content: ""; }
.fa-reddit-square::before { content: ""; }
.fa-stumbleupon-circle::before { content: ""; }
.fa-stumbleupon::before { content: ""; }
.fa-delicious::before { content: ""; }
.fa-digg::before { content: ""; }
.fa-pied-piper::before { content: ""; }
.fa-pied-piper-alt::before { content: ""; }
.fa-drupal::before { content: ""; }
.fa-joomla::before { content: ""; }
.fa-language::before { content: ""; }
.fa-fax::before { content: ""; }
.fa-building::before { content: ""; }
.fa-child::before { content: ""; }
.fa-paw::before { content: ""; }
.fa-spoon::before { content: ""; }
.fa-cube::before { content: ""; }
.fa-cubes::before { content: ""; }
.fa-behance::before { content: ""; }
.fa-behance-square::before { content: ""; }
.fa-steam::before { content: ""; }
.fa-steam-square::before { content: ""; }
.fa-recycle::before { content: ""; }
.fa-automobile::before, .fa-car::before { content: ""; }
.fa-cab::before, .fa-taxi::before { content: ""; }
.fa-tree::before { content: ""; }
.fa-spotify::before { content: ""; }
.fa-deviantart::before { content: ""; }
.fa-soundcloud::before { content: ""; }
.fa-database::before { content: ""; }
.fa-file-pdf-o::before { content: ""; }
.fa-file-word-o::before { content: ""; }
.fa-file-excel-o::before { content: ""; }
.fa-file-powerpoint-o::before { content: ""; }
.fa-file-photo-o::before, .fa-file-picture-o::before, .fa-file-image-o::before { content: ""; }
.fa-file-zip-o::before, .fa-file-archive-o::before { content: ""; }
.fa-file-sound-o::before, .fa-file-audio-o::before { content: ""; }
.fa-file-movie-o::before, .fa-file-video-o::before { content: ""; }
.fa-file-code-o::before { content: ""; }
.fa-vine::before { content: ""; }
.fa-codepen::before { content: ""; }
.fa-jsfiddle::before { content: ""; }
.fa-life-bouy::before, .fa-life-buoy::before, .fa-life-saver::before, .fa-support::before, .fa-life-ring::before { content: ""; }
.fa-circle-o-notch::before { content: ""; }
.fa-ra::before, .fa-rebel::before { content: ""; }
.fa-ge::before, .fa-empire::before { content: ""; }
.fa-git-square::before { content: ""; }
.fa-git::before { content: ""; }
.fa-y-combinator-square::before, .fa-yc-square::before, .fa-hacker-news::before { content: ""; }
.fa-tencent-weibo::before { content: ""; }
.fa-qq::before { content: ""; }
.fa-wechat::before, .fa-weixin::before { content: ""; }
.fa-send::before, .fa-paper-plane::before { content: ""; }
.fa-send-o::before, .fa-paper-plane-o::before { content: ""; }
.fa-history::before { content: ""; }
.fa-circle-thin::before { content: ""; }
.fa-header::before { content: ""; }
.fa-paragraph::before { content: ""; }
.fa-sliders::before { content: ""; }
.fa-share-alt::before { content: ""; }
.fa-share-alt-square::before { content: ""; }
.fa-bomb::before { content: ""; }
.fa-soccer-ball-o::before, .fa-futbol-o::before { content: ""; }
.fa-tty::before { content: ""; }
.fa-binoculars::before { content: ""; }
.fa-plug::before { content: ""; }
.fa-slideshare::before { content: ""; }
.fa-twitch::before { content: ""; }
.fa-yelp::before { content: ""; }
.fa-newspaper-o::before { content: ""; }
.fa-wifi::before { content: ""; }
.fa-calculator::before { content: ""; }
.fa-paypal::before { content: ""; }
.fa-google-wallet::before { content: ""; }
.fa-cc-visa::before { content: ""; }
.fa-cc-mastercard::before { content: ""; }
.fa-cc-discover::before { content: ""; }
.fa-cc-amex::before { content: ""; }
.fa-cc-paypal::before { content: ""; }
.fa-cc-stripe::before { content: ""; }
.fa-bell-slash::before { content: ""; }
.fa-bell-slash-o::before { content: ""; }
.fa-trash::before { content: ""; }
.fa-copyright::before { content: ""; }
.fa-at::before { content: ""; }
.fa-eyedropper::before { content: ""; }
.fa-paint-brush::before { content: ""; }
.fa-birthday-cake::before { content: ""; }
.fa-area-chart::before { content: ""; }
.fa-pie-chart::before { content: ""; }
.fa-line-chart::before { content: ""; }
.fa-lastfm::before { content: ""; }
.fa-lastfm-square::before { content: ""; }
.fa-toggle-off::before { content: ""; }
.fa-toggle-on::before { content: ""; }
.fa-bicycle::before { content: ""; }
.fa-bus::before { content: ""; }
.fa-ioxhost::before { content: ""; }
.fa-angellist::before { content: ""; }
.fa-cc::before { content: ""; }
.fa-shekel::before, .fa-sheqel::before, .fa-ils::before { content: ""; }
.fa-meanpath::before { content: ""; }
.fa-buysellads::before { content: ""; }
.fa-connectdevelop::before { content: ""; }
.fa-dashcube::before { content: ""; }
.fa-forumbee::before { content: ""; }
.fa-leanpub::before { content: ""; }
.fa-sellsy::before { content: ""; }
.fa-shirtsinbulk::before { content: ""; }
.fa-simplybuilt::before { content: ""; }
.fa-skyatlas::before { content: ""; }
.fa-cart-plus::before { content: ""; }
.fa-cart-arrow-down::before { content: ""; }
.fa-diamond::before { content: ""; }
.fa-ship::before { content: ""; }
.fa-user-secret::before { content: ""; }
.fa-motorcycle::before { content: ""; }
.fa-street-view::before { content: ""; }
.fa-heartbeat::before { content: ""; }
.fa-venus::before { content: ""; }
.fa-mars::before { content: ""; }
.fa-mercury::before { content: ""; }
.fa-intersex::before, .fa-transgender::before { content: ""; }
.fa-transgender-alt::before { content: ""; }
.fa-venus-double::before { content: ""; }
.fa-mars-double::before { content: ""; }
.fa-venus-mars::before { content: ""; }
.fa-mars-stroke::before { content: ""; }
.fa-mars-stroke-v::before { content: ""; }
.fa-mars-stroke-h::before { content: ""; }
.fa-neuter::before { content: ""; }
.fa-genderless::before { content: ""; }
.fa-facebook-official::before { content: ""; }
.fa-pinterest-p::before { content: ""; }
.fa-whatsapp::before { content: ""; }
.fa-server::before { content: ""; }
.fa-user-plus::before { content: ""; }
.fa-user-times::before { content: ""; }
.fa-hotel::before, .fa-bed::before { content: ""; }
.fa-viacoin::before { content: ""; }
.fa-train::before { content: ""; }
.fa-subway::before { content: ""; }
.fa-medium::before { content: ""; }
.fa-yc::before, .fa-y-combinator::before { content: ""; }
.fa-optin-monster::before { content: ""; }
.fa-opencart::before { content: ""; }
.fa-expeditedssl::before { content: ""; }
.fa-battery-4::before, .fa-battery-full::before { content: ""; }
.fa-battery-3::before, .fa-battery-three-quarters::before { content: ""; }
.fa-battery-2::before, .fa-battery-half::before { content: ""; }
.fa-battery-1::before, .fa-battery-quarter::before { content: ""; }
.fa-battery-0::before, .fa-battery-empty::before { content: ""; }
.fa-mouse-pointer::before { content: ""; }
.fa-i-cursor::before { content: ""; }
.fa-object-group::before { content: ""; }
.fa-object-ungroup::before { content: ""; }
.fa-sticky-note::before { content: ""; }
.fa-sticky-note-o::before { content: ""; }
.fa-cc-jcb::before { content: ""; }
.fa-cc-diners-club::before { content: ""; }
.fa-clone::before { content: ""; }
.fa-balance-scale::before { content: ""; }
.fa-hourglass-o::before { content: ""; }
.fa-hourglass-1::before, .fa-hourglass-start::before { content: ""; }
.fa-hourglass-2::before, .fa-hourglass-half::before { content: ""; }
.fa-hourglass-3::before, .fa-hourglass-end::before { content: ""; }
.fa-hourglass::before { content: ""; }
.fa-hand-grab-o::before, .fa-hand-rock-o::before { content: ""; }
.fa-hand-stop-o::before, .fa-hand-paper-o::before { content: ""; }
.fa-hand-scissors-o::before { content: ""; }
.fa-hand-lizard-o::before { content: ""; }
.fa-hand-spock-o::before { content: ""; }
.fa-hand-pointer-o::before { content: ""; }
.fa-hand-peace-o::before { content: ""; }
.fa-trademark::before { content: ""; }
.fa-registered::before { content: ""; }
.fa-creative-commons::before { content: ""; }
.fa-gg::before { content: ""; }
.fa-gg-circle::before { content: ""; }
.fa-tripadvisor::before { content: ""; }
.fa-odnoklassniki::before { content: ""; }
.fa-odnoklassniki-square::before { content: ""; }
.fa-get-pocket::before { content: ""; }
.fa-wikipedia-w::before { content: ""; }
.fa-safari::before { content: ""; }
.fa-chrome::before { content: ""; }
.fa-firefox::before { content: ""; }
.fa-opera::before { content: ""; }
.fa-internet-explorer::before { content: ""; }
.fa-tv::before, .fa-television::before { content: ""; }
.fa-contao::before { content: ""; }
.fa-500px::before { content: ""; }
.fa-amazon::before { content: ""; }
.fa-calendar-plus-o::before { content: ""; }
.fa-calendar-minus-o::before { content: ""; }
.fa-calendar-times-o::before { content: ""; }
.fa-calendar-check-o::before { content: ""; }
.fa-industry::before { content: ""; }
.fa-map-pin::before { content: ""; }
.fa-map-signs::before { content: ""; }
.fa-map-o::before { content: ""; }
.fa-map::before { content: ""; }
.fa-commenting::before { content: ""; }
.fa-commenting-o::before { content: ""; }
.fa-houzz::before { content: ""; }
.fa-vimeo::before { content: ""; }
.fa-black-tie::before { content: ""; }
.fa-fonticons::before { content: ""; }
/* ::::: https://bitcoin.org/bd049070b1552db10cd9ae1a4e14d766.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0px; }
[hidden] { display: none; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { box-sizing: content-box; height: 0px; }
mark { background: rgb(255, 255, 0) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }
pre { white-space: pre-wrap; }
q { quotes: "“" "”" "‘" "’"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0px; }
fieldset { border: 1px solid rgb(192, 192, 192); margin: 0px 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0px none; padding: 0px; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
input[type="search"] { box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0px; }
body { font-family: "Helvetica Neue","Helvetica",Arial,sans-serif; font-size: 16px; margin: 0px; padding: 0px; color: rgb(100, 100, 100); background-color: rgb(247, 247, 247); }
h1 { font-family: "Ubuntu",sans-serif; font-weight: 700; color: rgb(13, 87, 155); font-size: 160%; margin-top: 0px; text-align: center; }
h2 { font-family: "Ubuntu",sans-serif; font-weight: 700; color: rgb(56, 56, 56); font-size: 130%; text-align: left; }
h3 { color: rgb(56, 56, 56); font-size: 110%; text-align: left; }
a:link, a:visited, a:active, a.link-js { color: rgb(44, 111, 173); text-decoration: none; cursor: pointer; }
a:link:hover, a:visited:hover, a:active:hover, a.link-js:hover { color: rgb(99, 164, 225); }
a img, a:link img, a:visited img, a:active img { border: 0px none; }
blockquote { margin-left: 0px; border-left: 5px solid rgb(238, 238, 238); padding-left: 15px; font-size: 120%; }
pre { background-color: rgb(245, 245, 245); display: block; padding: 17px; line-height: 1.5em; font-size: 75%; border: 1px solid rgb(204, 204, 204); white-space: pre; overflow-y: auto; border-radius: 3px; }
pre code { font-size: 100%; padding: 0px; border: 0px none; white-space: pre; }
code { padding: 2px 4px; background-color: rgb(245, 245, 245); font-size: 85%; white-space: nowrap; border: 1px solid rgb(204, 204, 204); border-radius: 3px; }
ul, ol { padding-left: 20px; margin-left: 0px; }
ul ul { list-style-type: disc; }
li { margin: 10px 0px; }
table td, table th { padding: 10px; border: 1px solid rgb(221, 221, 221); }
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("ubuntu-r-webfont.eot") format("eot"), url("ubuntu-r-webfont.woff") format("woff"), url("ubuntu-r-webfont.ttf") format("truetype"), url("ubuntu-r-webfont.svg") format("svg");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: url("ubuntu-ri-webfont.eot") format("eot"), url("ubuntu-ri-webfont.woff") format("woff"), url("ubuntu-ri-webfont.ttf") format("truetype"), url("ubuntu-ri-webfont.svg") format("svg");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("ubuntu-b-webfont.eot") format("eot"), url("ubuntu-b-webfont.woff") format("woff"), url("ubuntu-b-webfont.ttf") format("truetype"), url("ubuntu-b-webfont.svg") format("svg");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: url("ubuntu-bi-webfont.eot") format("eot"), url("ubuntu-bi-webfont.woff") format("woff"), url("ubuntu-bi-webfont.ttf") format("truetype"), url("ubuntu-bi-webfont.svg") format("svg");
}
.banner-message, .banner-message a, .banner-message a:link, .banner-message a:active, .banner-message a:visited { display: block; color: rgb(255, 255, 255); }
.banner-message a:hover { text-decoration: underline; }
.banner-message a { background-color: rgb(197, 37, 31); }
.banner-message.alert a { background-color: rgb(197, 37, 31); }
.banner-message.warning a { background-color: rgb(229, 135, 22); }
.banner-message.success a { background-color: rgb(50, 146, 57); }
.banner-message.info a { background-color: rgb(13, 87, 155); }
.banner-message.minor a { background-color: yellow; color: black; }
.banner-message a span { display: block; margin: auto; width: 850px; padding: 10px; }
.center { text-align: center; margin-right: auto; margin-left: auto; }
.head { margin: 30px 0px; }
.head div { width: 940px; margin: auto; position: relative; z-index: 100; }
.body { width: 940px; margin: auto; position: relative; }
.langselect { display: none; }
.lang, .lang li, .lang ul { display: block; list-style: outside none none; padding: 0px; margin: 0px; cursor: pointer; }
.lang { position: absolute; right: 5px; top: 8px; border-left: 2px solid transparent; border-right: 2px solid transparent; border-top: 2px solid transparent; }
.lang:hover { border-left: 2px solid rgb(235, 235, 235); border-right: 2px solid rgb(235, 235, 235); border-top: 2px solid rgb(235, 235, 235); background-color: rgb(255, 255, 255); }
.lang li ul { display: none; right: -2px; position: absolute; background-color: rgb(255, 255, 255); padding: 20px; border: 2px solid rgb(235, 235, 235); white-space: nowrap; }
.lang:hover li ul { display: block; }
.lang li ul li { display: inline-block; vertical-align: top; text-align: left; width: 180px; }
.lang li ul li ul { position: relative; margin: -4px 0px; padding: 0px; border: 0px none; top: 0px; }
.lang li ul li ul li { display: block; }
.lang li a, .lang li a:link, .lang li a:visited, .lang li a:active { text-decoration: none; font-size: 115%; display: inline-block; color: rgb(184, 184, 184); padding: 4px 8px; }
.lang li ul li a, .lang li ul li a:link, .lang li ul li a:visited, .lang li ul li a:active { padding: 4px 0px; width: 180px; }
.lang:hover li a, .lang li ul li ul li:hover a, .lang li ul li ul li a.active { color: rgb(102, 102, 102); }
.lang:hover li ul li a { color: rgb(184, 184, 184); }
.logo { display: block; margin-left: 40px; width: 191px; height: 40px; }
.menumobile { display: none; }
.menusimple { margin: 0px; position: absolute; top: 8px; left: 245px; padding: 0px; height: 35px; }
.menusimple li { list-style: outside none none; display: inline-block; position: relative; padding: 0px; margin: 0px 3px; border-radius: 5px; }
.menusimple > li a, .menusimple > li a:active, .menusimple > li a:visited, .menusimple > li a:link { color: rgb(44, 111, 173); }
.menusimple > li a { cursor: pointer; font-family: "Ubuntu",sans-serif; font-weight: 300; font-size: 110%; display: block; text-decoration: none; padding: 6px 10px 4px; white-space: nowrap; }
.menusimple > li ul { display: none; position: absolute; background-color: rgb(255, 255, 255); border: 1px solid rgb(44, 111, 173); min-width: 120%; padding: 5px 0px; margin: 0px; left: 0px; }
.menusimple > li > ul li { margin: 0px; display: block; width: 100%; border-radius: 0px; }
.menusimple > li > ul > li a { font-size: 100%; margin: 1px 0px; padding: 6px 10px 3px; }
.menusimple li:hover, .menusimple li.active { background-color: rgb(44, 111, 173); }
.menusimple li:hover > a, .menusimple li.active > a { color: rgb(255, 255, 255); }
.menusimple li:hover > ul { display: block; }
.menusimple.menumain > li:first-child, .menusimple.menumain > li:first-child + li, .menusimple.menumain > li:first-child + li + li + li, .menusimple.menucore > li:first-child, .menusimple.menucore > li:first-child + li + li { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
.menusimple.menucore > li:first-child + li + li + li + li a { font-weight: 700; }
.breadcrumbs { font-size: 75%; padding-left: 10px; }
.content { position: relative; padding: 30px 40px 40px; margin: 0px 5px; text-align: justify; background-color: rgb(255, 255, 255); min-height: 400px; border: 2px solid rgb(235, 235, 235); border-radius: 6px; }
.content p, .content li, .content table { line-height: 1.5em; }
h1 span.fa, h2 span.fa, h3 span.fa, h4 span.fa, h5 span.fa, h6 span.fa { margin-right: 10px; }
.footer { text-align: center; width: 940px; margin: auto; }
.footermenu { position: relative; padding: 20px 0px; font-size: 94%; }
.footermenu a { margin-right: 15px; white-space: nowrap; }
.footersponsor div { display: inline-block; color: rgb(141, 141, 141); margin: 0px 0px 25px; line-height: 2em; }
.footersponsor span { white-space: nowrap; }
.footersponsor span, .footersponsor a, .footersponsor a:link, .footersponsor a:active, .footersponsor a:visited { display: inline-block; margin: 5px; }
.footersponsor img { width: 245px; height: 18px; }
.footerlicense { font-size: 94%; padding-bottom: 20px; }
.statusmenu { display: inline-block; padding-left: 20px; background-position: left center; background-repeat: no-repeat; background-image: url("netstatus_normal.svg"); }
.statusmenu.alert { background-image: url("netstatus_alert.svg"); }
.mainsummary, .mainvideo, .mainlist { text-align: center; }
.mainsummary { font-size: 145%; color: rgb(123, 124, 124); margin: 20px auto 45px; }
.mainvideo { position: relative; margin: auto; max-width: 640px; max-height: 360px; }
.mainvideo iframe, .mainvideo img { width: 640px; height: 360px; }
.mainvideo div div { cursor: pointer; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
.mainvideo .mainvideoicon { display: block; background: transparent url("video_play.svg") no-repeat scroll center center; }
.mainvideo .mainvideoiconhover { display: none; background: transparent url("video_play_hover.svg") no-repeat scroll center center; }
.mainvideo:hover .mainvideoicon { display: none; }
.mainvideo:hover .mainvideoiconhover { display: block; }
.mainlist { font-size: 125%; max-width: 760px; margin: 30px auto; display: table; }
.mainlist > div { display: table-cell; width: 240px; min-width: 200px; text-align: center; }
.mainlist > div > div { display: inline-block; line-height: 1.5em; }
.mainlist > div > div > div { display: inline-block; }
.mainlist img { display: block; margin: 10px auto; vertical-align: top; position: relative; height: 48px; width: 48px; }
.maindesc { max-width: 760px; margin: auto; line-height: 1.5em; }
.mainbutton { text-align: center; }
.mainbutton a, .mainbutton a:link, .mainbutton a:visited, .mainbutton a:active { font-family: "Ubuntu",sans-serif; font-weight: 400; font-size: 150%; text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6); text-align: left; display: inline-block; background-color: rgb(44, 111, 173); border: 1px solid rgb(32, 89, 143); background-image: -moz-linear-gradient(center bottom , rgb(32, 89, 143) 14%, rgb(44, 111, 173) 70%); color: rgb(255, 255, 255); padding: 15px 20px 20px 68px; margin: 40px 0px; border-radius: 12px; }
.mainbutton a:hover { background-image: none; color: rgb(255, 255, 255); }
.mainbutton img { margin-right: 10px; margin-left: -52px; margin-bottom: -12px; height: 42px; width: 42px; }
.mainoverview { font-size: 130%; text-align: center; margin-bottom: 10px; }
.mainoverviews { font-size: 145%; text-align: center; margin-bottom: 10px; }
.mainoverviews a { margin: 5px 15px; display: inline-block; }
.starttitle { text-align: center; }
.starttitle span { padding: 10px; border-bottom: 1px solid rgb(226, 226, 226); font-size: 155%; margin: 20px auto; display: inline-block; }
.start { text-align: left; }
.start div { position: relative; }
.start > div:first-child + div { border-top: 1px solid rgb(224, 224, 224); }
.start div div { display: inline-block; width: 380px; vertical-align: top; padding-bottom: 70px; position: static; }
.start > div > div:first-child { padding-right: 40px; border-right: 1px solid rgb(224, 224, 224); }
.start > div > div:first-child + div { padding-left: 40px; border-left: 1px solid rgb(224, 224, 224); margin-left: -1px; }
.start div div div a, .start div div div a:link, .start div div div a:active, .start div div div a:visited { display: inline-block; padding: 6px 12px; font-size: 115%; color: rgb(255, 255, 255); border: 1px solid rgb(213, 119, 0); background-color: rgb(238, 146, 9); background-image: -moz-linear-gradient(center bottom , rgb(226, 135, 0) 14%, rgb(238, 146, 9) 70%); border-radius: 3px; }
.start div div div a:hover { background-image: none; color: rgb(255, 255, 255); }
.start h2 { color: rgb(13, 87, 155); }
.start h2 span { font-size: 200%; color: rgb(238, 146, 9); }
.start div div div { display: block; width: auto; padding-bottom: 0px; position: absolute; bottom: 35px; }
.starttitle a { margin: 0px 20px auto; }
.introlink { text-align: center; font-size: 125%; font-weight: bold; margin-top: 30px; }
.titleicon { width: 32px; height: 32px; vertical-align: middle; margin-right: 8px; position: relative; top: -2px; }
.warningicon { width: 42px; height: 42px; vertical-align: middle; margin-right: 6px; }
.index, .index ul, .index li { list-style: outside none none; padding: 0px; margin: 0px; }
.index { padding: 10px 20px; border: 2px dashed rgb(72, 146, 178); display: inline-block; }
.index ul { margin: 10px 0px; }
.index li a { font-weight: bold; }
.index ul ul li a { font-weight: normal; }
.index a, .index a:link, .index a:active, .index a:visited { display: block; text-decoration: none; line-height: 1.5em; }
.docreference { text-align: center; }
.docreference a { display: inline-block; margin: 20px 0px 40px; font-size: 115%; width: 150px; }
.docreference img { display: block; height: 48px; width: 48px; margin: 0px auto 10px; }
.docreference span { display: block; line-height: 1.5em; }
.toc { position: absolute; left: 20px; text-align: left; padding-top: 40px; margin-top: -40px; }
.toc div { overflow-y: auto; overflow-x: hidden; width: 240px; }
.toc div.scroll { position: fixed; }
.toc ul, .toc li { list-style: outside none none; padding: 0px; margin: 0px; }
.toc ul { width: 220px; border-right: 1px solid rgb(224, 224, 224); padding: 0px 19px 0px 0px; }
.toc ul li { padding: 0px 0px 10px; }
.toc ul li ul { position: relative; top: 0px; padding: 10px 0px 0px; border: 0px none; display: none; }
.toc ul li.active ul { display: block; }
.toc ul li ul li { padding: 0px 0px 4px; }
.toc ul li ul li ul li { padding-left: 10px; }
.toc ul li a { padding-left: 20px; font-weight: bold; }
.toc ul li ul li a { font-weight: normal; }
.toc ul li ul li a:hover::before, .toc ul li ul li a.active::before { content: ">"; position: absolute; font-weight: bold; left: 0px; }
.toc ul.goback { padding-top: 8px; }
.toc ul.goback li { background: transparent url("mini_ico_back.svg") no-repeat scroll 0px 3px; }
.toc ul.reportissue li { background: transparent url("mini_ico_report.svg") no-repeat scroll 0px 3px; }
.toc ul.editsource li { background: transparent url("mini_ico_rev.svg") no-repeat scroll 0px 3px; }
.toc a, .toc a:link, .toc a:active, .toc a:visited { display: block; text-decoration: none; line-height: 1.5em; }
.toccontent { width: 600px; margin: auto 0px auto auto; position: relative; text-align: left; }
.toccontent h2, .toccontent h3, .toccontent h4, .toccontent h5, .toccontent h6 { color: rgb(56, 56, 56); margin-top: 40px; margin-bottom: 0px; }
.toccontent h2 { font-size: 150%; }
.toccontent h3 { font-size: 130%; }
.toccontent h4 { font-size: 110%; }
.toccontent h5, .toccontent h6 { font-size: 100%; }
.toccontent img { max-width: 100%; }
.toccontent table thead { text-align: center; }
.toccontent a.auto-link:link, .toccontent a.auto-link:visited { color: rgb(100, 100, 100); }
.toccontent:hover a.auto-link:link, .toccontent:hover a.auto-link:visited { color: rgb(44, 111, 173); }
.toccontent:hover a.auto-link:link:hover, .toccontent:hover a.auto-link:visited:hover { color: rgb(99, 164, 225); }
.toccontent .subhead-links { visibility: hidden; padding-top: 7px; }
.toccontent:hover .subhead-links { visibility: visible; }
.toccontent a.term:link, .toccontent a.term:visited, .toccontent:hover a.auto-link.term:link, .toccontent:hover a.auto-link.term:visited, .toccontent:hover a.auto-link.term:link:hover, .toccontent:hover a.auto-link.term:visited:hover { color: rgb(0, 0, 0); }
.toccontent a.term:link code, .toccontent a.term:visited code { color: rgb(100, 100, 100); }
.multicode { background-color: rgb(245, 245, 245); overflow-y: auto; padding: 17px; border: 1px solid rgb(204, 204, 204); border-radius: 3px; }
.multicode pre { border: 0px none; padding: 0px; margin: 0px; overflow-y: visible; }
.toccontent table.ntpd tr td + td + td { white-space: nowrap; }
.toccontent table.ntpd tr td + td + td + td { white-space: normal; }
.toccontent table thead th { font-weight: normal; border-bottom: 3px double rgb(221, 221, 221); }
.anchorAf { position: relative; }
.anchorAf a:first-child { display: none; position: absolute; width: 24px; left: -24px; bottom: 0px; top: 0px; background: transparent url("mini_ico_anchor.svg") no-repeat scroll center center; }
.anchorAf:hover a:first-child { display: block; }
.ui-dialog .anchorAf:hover a:first-child { display: none; }
.develdocdisclaimer { padding: 30px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; bottom: 0px; position: fixed; width: 600px; z-index: 1000; border-top: 1px solid rgb(224, 224, 224); }
.develdocdisclaimer div { border: 2px dashed rgb(238, 146, 9); background: rgb(255, 248, 234) none repeat scroll 0% 0%; padding: 10px; line-height: 1.5em; position: relative; }
.develdocdisclaimerclose, .develdocdisclaimerclose:visited, .develdocdisclaimerclose:link, .develdocdisclaimerclose:active { display: block; padding: 1px 8px 0px; color: rgb(255, 255, 255); background-color: rgb(238, 146, 9); position: absolute; top: -14px; right: -14px; font-weight: bold; cursor: pointer; border: 2px solid rgb(255, 255, 255); border-radius: 20px; }
.develdocdisclaimerclose:hover, .develdocdisclaimerclose:visited:hover, .develdocdisclaimerclose:link:hover, .develdocdisclaimerclose:active:hover { border: 2px solid rgb(238, 146, 9); color: rgb(255, 255, 255); }
.glossary_term { display: block; width: 20em; padding: 5px 10px; margin-right: auto; margin-left: auto; }
.ui-autocomplete-category { font-weight: bold; padding: 0.2em 0.4em; margin: 0.8em 0px 0.2em; line-height: 1.5; }
ul.wrapped_list li { list-style: outside none none; float: left; width: 15em; margin: 1em; }
br.clear { clear: left; }
.notice { text-align: center; }
.notice span { font-style: italic; }
.subhead-links { font-size: 85%; }
.subhead-links img { width: 12px; height: 12px; }
div.one-column { max-width: 600px; margin-right: auto; margin-left: auto; }
.one-column h2 { margin-top: 60px; }
.one-column h2.no_gap { margin-top: 75px; }
.one-column img { max-width: 100%; }
.one-column th { text-align: center; }
div.post { max-width: 40em; margin-right: auto; margin-left: auto; }
.post img { max-width: 100%; }
.post-meta { margin-top: 20px; font-style: italic; }
.post-title { padding-top: 20px; }
table.privacy-comparison td, table.privacy-comparison th { padding: 3px; }
table.privacy-comparison tr.empty { height: 1em; }
table.privacy-comparison td:nth-child(n+2) { width: 120px; }
table.validation { width: 100%; }
table.validation tr.details td { background-color: rgb(245, 245, 245); padding: 10px; }
table.validation .ui-icon { display: inline-block; }
table.validation tr:nth-child(2n) > td { cursor: pointer; }
table.validation tr:nth-child(2n) > td:hover { color: rgb(0, 0, 0); }
.received_transactions td { width: 50%; }
#system-requirements-accordion div { padding: 0px; }
.service-choose a { display: block; margin: 20px 0px; }
button.js.showcolumn { border: 0px none; margin: 10px; }
.not-displayed { display: none; }
br.big { margin-bottom: 50px; }
.font2x { font-size: 200%; }
.sliderbox { max-width: 940px; margin: 0px auto 30px; }
.slide-viewer { position: relative; overflow: hidden; height: 200px; padding-bottom: 12px; }
.slide-group { width: 100%; height: 100%; position: relative; }
.slide { width: 100%; height: 100%; display: none; position: absolute; }
.slide:first-child { display: block; }
.slide-buttons { text-align: center; }
.slide-buttons button { background: transparent none repeat scroll 0% 0%; border: 0px none; font-size: 150%; border-radius: 4px; }
.slide-buttons button.active { background-color: rgb(44, 111, 173); color: rgb(255, 255, 255); }
.two-column-list ul { margin-left: 4em; }
.two-column-list li { list-style: outside none none; float: left; width: 14em; text-align: left; margin-bottom: 20px; }
.two-column-list .fa-li { top: 0.75em; }
.two-column-list li:nth-child(2n+1) { margin-right: 75px; clear: both; }
button.js { background: transparent none repeat scroll 0% 0%; border-width: 0px 0px 1px; border-style: none none dotted; border-color: -moz-use-text-color -moz-use-text-color rgb(44, 111, 173); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px; color: rgb(44, 111, 173); font-weight: inherit; }
button.js:hover { color: rgb(99, 164, 225); }
button.active { text-decoration: underline; }
.prevnext { line-height: 1.5em; }
.prevnext span:first-child { float: left; }
.prevnext span:last-child { float: right; }
.callout { text-align: center; border-top: thin solid rgb(192, 192, 192); border-bottom: thin solid rgb(192, 192, 192); }
.wallet_accordion img { float: left; padding-right: 30px; padding-bottom: 10px; }
.wallet_accordion { text-align: left; }
.right-hanger { max-width: 300px; text-align: right; margin-left: auto; font-weight: 700; }
.left-float { float: left; }
.highlight { background: transparent none repeat scroll 0% 0%; }
.highlight .c { color: rgb(153, 153, 136); font-style: italic; }
.highlight .err { color: rgb(166, 23, 23); background-color: rgb(227, 210, 210); }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: rgb(153, 153, 136); font-style: italic; }
.highlight .cp { color: rgb(153, 153, 153); font-weight: bold; }
.highlight .c1 { color: rgb(153, 153, 136); font-style: italic; }
.highlight .cs { color: rgb(153, 153, 153); font-weight: bold; font-style: italic; }
.highlight .gd { color: rgb(0, 0, 0); background-color: rgb(255, 221, 221); }
.highlight .gd .x { color: rgb(0, 0, 0); background-color: rgb(255, 170, 170); }
.highlight .ge { font-style: italic; }
.highlight .gr { color: rgb(170, 0, 0); }
.highlight .gh { color: rgb(153, 153, 153); }
.highlight .gi { color: rgb(0, 0, 0); background-color: rgb(221, 255, 221); }
.highlight .gi .x { color: rgb(0, 0, 0); background-color: rgb(170, 255, 170); }
.highlight .go { color: rgb(136, 136, 136); }
.highlight .gp { color: rgb(85, 85, 85); }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: rgb(170, 170, 170); }
.highlight .gt { color: rgb(170, 0, 0); }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: rgb(68, 85, 136); font-weight: bold; }
.highlight .m { color: rgb(0, 153, 153); }
.highlight .s { color: rgb(221, 17, 68); }
.highlight .na { color: rgb(0, 128, 128); }
.highlight .nb { color: rgb(0, 134, 179); }
.highlight .nc { color: rgb(68, 85, 136); font-weight: bold; }
.highlight .no { color: rgb(0, 128, 128); }
.highlight .ni { color: rgb(128, 0, 128); }
.highlight .ne { color: rgb(153, 0, 0); font-weight: bold; }
.highlight .nf { color: rgb(153, 0, 0); font-weight: bold; }
.highlight .nn { color: rgb(85, 85, 85); }
.highlight .nt { color: rgb(0, 0, 128); }
.highlight .nv { color: rgb(0, 128, 128); }
.highlight .ow { font-weight: bold; }
.highlight .w { color: rgb(187, 187, 187); }
.highlight .mf { color: rgb(0, 153, 153); }
.highlight .mh { color: rgb(0, 153, 153); }
.highlight .mi { color: rgb(0, 153, 153); }
.highlight .mo { color: rgb(0, 153, 153); }
.highlight .sb { color: rgb(221, 17, 68); }
.highlight .sc { color: rgb(221, 17, 68); }
.highlight .sd { color: rgb(221, 17, 68); }
.highlight .s2 { color: rgb(221, 17, 68); }
.highlight .se { color: rgb(221, 17, 68); }
.highlight .sh { color: rgb(221, 17, 68); }
.highlight .si { color: rgb(221, 17, 68); }
.highlight .sx { color: rgb(221, 17, 68); }
.highlight .sr { color: rgb(0, 153, 38); }
.highlight .s1 { color: rgb(221, 17, 68); }
.highlight .ss { color: rgb(153, 0, 115); }
.highlight .bp { color: rgb(153, 153, 153); }
.highlight .vc { color: rgb(0, 128, 128); }
.highlight .vg { color: rgb(0, 128, 128); }
.highlight .vi { color: rgb(0, 128, 128); }
.highlight .il { color: rgb(0, 153, 153); }
.bggreen { background-color: rgb(0, 100, 0); }
.bgred { background-color: rgb(139, 0, 0); }
.bgyellow { background-color: rgb(184, 134, 11); }
.fggreen { color: rgb(0, 100, 0); }
.fgred { color: rgb(139, 0, 0); }
.fgyellow { color: rgb(184, 134, 11); }
.box { border: 2px dashed rgb(72, 146, 178); padding: 0px 20px; }
.boxexpand { overflow: hidden; transition: height 400ms ease-out 0s; }
.boxexpand > * { display: none; }
.boxexpand > h3:first-child { display: block; margin: 20px 0px; }
.boxexpand > h3:first-child a:link, .boxexpand > h3:first-child a:visited, .boxexpand > h3:first-child a:active { text-decoration: none; }
.boxexpand.expanded > * { display: block; }
.titlelight { color: rgb(140, 140, 140); }
.tablehalf { width: 885px; position: relative; left: -40px; }
.tablehalf div { display: inline-block; width: 400px; vertical-align: top; margin-left: 40px; margin-bottom: 20px; }
.tablehalf img { width: 400px; height: 220px; border-radius: 10px; }
.tablehalf h2 img { width: auto; height: auto; }
.tablehalf p { text-align: left; }
.contributors { width: 890px; text-align: left; font-size: 80%; }
.one-column .contributors { width: 660px; }
.contributors img { width: 16px; height: 16px; }
.contributors div { padding: 8px 0px; width: 215px; overflow: hidden; display: inline-block; vertical-align: top; }
.contributors div div { width: auto; padding: 0px; }
.contributors div div:first-child + div { max-width: 150px; margin: 0px 2px; white-space: nowrap; }
.credit { text-align: left; margin: -10px 0px; }
.credit p { display: inline-block; width: 275px; vertical-align: top; margin: 10px 0px; }
.credit span { display: block; color: rgb(170, 170, 170); }
.resources { text-align: left; }
.resources > div { border-top: 1px solid rgb(224, 224, 224); }
.resources > div:first-child { border-top: 0px none; }
.resources div div { display: inline-block; width: 380px; vertical-align: top; padding: 10px 0px 25px; min-height: 200px; }
.resources > div > div:first-child { padding-right: 40px; border-right: 1px solid rgb(224, 224, 224); }
.resources > div > div:first-child + div { padding-left: 40px; border-left: 1px solid rgb(224, 224, 224); margin-left: -1px; }
.resources div div div { display: block; width: auto; }
.resources p { font-size: 115%; margin: 6px 0px; }
.resourcesorg { margin-bottom: 40px; text-align: left; font-size: 0px; }
.resourcesorg div { border-top: 1px solid rgb(224, 224, 224); }
.resourcesorg div:first-child, .resourcesorg div div { border-top: 0px none; }
.resourcesorg div div { width: 278px; font-size: 16px; display: inline-block; vertical-align: top; }
.resourcesorg img { margin-right: 5px; width: 24px; height: 24px; position: relative; bottom: -6px; }
.resourcesmore { text-align: center; margin-top: 40px; }
.resourcesmore div { display: inline-block; text-align: left; padding: 20px 40px; border-top: 1px solid rgb(224, 224, 224); border-left: 1px solid rgb(224, 224, 224); border-right: 1px solid rgb(224, 224, 224); }
.resourcesmore div h2 { text-align: center; margin-bottom: 25px; }
.resourcesmore div p { font-size: 115%; margin: 6px 0px; }
.coredevtable div div:first-child { width: 200px; }
.coredevtable div div:first-child + div { width: 220px; }
.coredevtable div div:first-child + div + div { width: 80px; }
.chatbox { text-align: center; }
.devprojectlist { overflow: hidden; margin: -10px 0px; transition: height 400ms ease-out 0s; }
.devprojectlist li { margin: 10px 0px; }
.devprojectlist li:nth-child(n+4) { display: none; }
.devprojectlist.expanded li:nth-child(n+4) { display: list-item; }
.devprojectlist li.more { display: block; }
.devprojectlist.expanded li.more { display: none; }
.devprojectlist a { display: inline-block; margin-top: 5px; }
.walletmenu { text-align: center; position: relative; z-index: 90; }
.walletmenu > ul { display: inline-block; text-align: left; padding: 0px 0px 25px; border-bottom: 1px solid rgb(226, 226, 226); background-color: rgb(255, 255, 255); }
.walletmenu > ul li { font-family: "Ubuntu",sans-serif; position: relative; display: inline-block; background-repeat: no-repeat; background-position: left 6px; padding: 0px; margin: 15px 10px; font-size: 130%; font-weight: bold; transition: background-color 400ms ease-out 0s; border-radius: 4px; }
.walletmenu > ul > li:first-child { margin-left: 0px; }
.walletmenu > ul > li:last-child { margin-right: 0px; }
.walletmenu > ul > li a, .walletmenu > ul > li a:link, .walletmenu > ul > li a:active, .walletmenu > ul > li a:visited { color: rgb(56, 56, 56); }
.walletmenu > ul > li a { white-space: nowrap; cursor: pointer; display: block; padding: 8px 10px 5px 42px; }
.walletmenu > ul > li ul { display: none; position: absolute; background-color: rgb(255, 255, 255); border: 1px solid rgb(13, 87, 155); padding: 4px 0px; min-width: 110%; left: 0px; box-sizing: border-box; }
.walletmenu > ul > li > ul li { font-size: 80%; display: block; margin: 0px; background-position: left 10px; border-radius: 0px; }
.walletmenu > ul > li > ul > li a { background-image: url("wallet_select.svg"); background-repeat: no-repeat; background-position: -32px center; padding: 8px 32px 5px; margin: 1px 0px; }
.walletmenu > ul > li > ul > li.active > a { background-position: right center; }
.walletmenu .wallet-mobile { background-image: url("wallet_menu_mobile.svg"); }
.walletmenu .wallet-desktop { background-image: url("wallet_menu_desktop.svg"); }
.walletmenu .wallet-hardware { background-image: url("wallet_menu_hardware.svg"); }
.walletmenu .wallet-web { background-image: url("wallet_menu_web.svg"); }
.walletmenu .wallet-blackberry { background-image: url("wallet_menu_blackberry.svg"); }
.walletmenu .wallet-ios { background-image: url("wallet_menu_ios.svg"); }
.walletmenu .wallet-android { background-image: url("wallet_menu_android.svg"); }
.walletmenu .wallet-windows { background-image: url("wallet_menu_windows.svg"); }
.walletmenu .wallet-windowsphone { background-image: url("wallet_menu_windowsphone.svg"); }
.walletmenu .wallet-mac { background-image: url("wallet_menu_mac.svg"); }
.walletmenu .wallet-linux { background-image: url("wallet_menu_linux.png"); }
.walletmenu > ul li.active, .walletmenu > ul li:hover { background-color: rgb(13, 87, 155); }
.walletmenu > ul li:hover > a, .walletmenu > ul li:hover > a:link, .walletmenu > ul li:hover > a:active, .walletmenu > ul li:hover > a:visited, .walletmenu > ul li.active > a, .walletmenu > ul li.active > a:link, .walletmenu > ul li.active > a:active, .walletmenu > ul li.active > a:visited { color: rgb(255, 255, 255); }
.walletmenu > ul:hover > li:first-child, .walletmenu > ul:hover > li:first-child + li { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
.walletmenu > ul > li.active, .walletmenu > ul > li:hover { background-position: left -62px; }
.walletmenu > ul > li:hover > ul { display: block; }
.walletmenu > ul > li > ul > li.active, .walletmenu > ul > li > ul > li:hover { background-position: left -24px; }
.wallets { width: 605px; height: 250px; text-align: left; position: relative; margin: auto; padding: 40px 0px 20px; font-size: 0px; opacity: 1; transition: opacity 400ms ease-out 0s; }
.wallets.disabled { opacity: 0; }
.wallets > div { display: inline-block; vertical-align: top; font-size: 16px; }
.wallets > div:nth-child(n+13) { display: none; }
.wallets > div > a { color: rgb(44, 111, 173); cursor: pointer; font-size: 94%; text-align: center; text-decoration: none; font-weight: bold; width: 72px; height: 110px; display: inline-block; vertical-align: top; position: relative; margin: 0px 14px 20px; white-space: nowrap; outline: 0px none; transition: opacity 400ms ease-out 0s; }
.wallets > div > a:hover { color: rgb(99, 164, 225); }
.wallets > div > a > span { display: none; position: absolute; z-index: 100; height: 32px; background: transparent url("wallet_bubble.svg") no-repeat scroll center 0px; top: 0px; left: 0px; right: 0px; }
.wallets > div > a > img { display: block; width: 72px; height: 72px; margin: auto auto 5px; }
.wallets > div > div, .wallets > div > span { opacity: 0; width: 0px; height: 0px; overflow: hidden; visibility: hidden; display: inline-block; position: absolute; padding: 20px; top: -352px; left: -20px; right: -20px; transition: opacity 400ms ease-out 0s; }
.wallets > div > span { z-index: 100; border: 2px solid rgb(44, 111, 175); background-color: rgb(241, 248, 251); border-radius: 4px; }
.wallets > div > div { z-index: 102; }
.wallets > div:nth-child(n+7) > div, .wallets > div:nth-child(n+7) > span { top: -222px; }
.wallets > div:nth-child(n+13) > div, .wallets > div:nth-child(n+13) > span { top: -92px; }
.wallets > div > div > h2 { margin: 0px; text-align: left; display: inline-block; }
.wallets > div > div > h2:first-child + div { display: inline-block; margin-left: 10px; }
.wallets > div > div > h2:first-child + div > img { margin-left: 4px; }
.wallets > div > div > h2:first-child + div + div > a { display: inline-block; text-decoration: none; margin: 10px 0px; padding: 4px 8px; border-radius: 4px; }
.wallets > div > div > h2:first-child + div + div > a:first-child { font-weight: bold; background-color: rgb(44, 111, 173); background-image: -moz-linear-gradient(center bottom , rgb(37, 95, 150) 14%, rgb(44, 111, 173) 70%); border: 1px solid rgb(37, 95, 150); margin-right: 10px; }
.wallets > div > div > h2:first-child + div + div > a:first-child, .wallets > div > div > h2:first-child + div + div > a:first-child:visited, .wallets > div > div > h2:first-child + div + div > a:first-child:link, .wallets > div > div > h2:first-child + div + div > a:first-child:active { color: rgb(255, 255, 255); }
.wallets > div > div > h2:first-child + div + div > a:first-child + a { font-weight: normal; color: rgb(37, 95, 150); border: 1px solid rgb(37, 95, 150); }
.wallets > div > div > h2:first-child + div + div > a:first-child + a, .wallets > div > div > h2:first-child + div + div > a:first-child + a:visited, .wallets > div > div > h2:first-child + div + div > a:first-child + a:link, .wallets > div > div > h2:first-child + div + div > a:first-child + a:active { color: rgb(37, 95, 150); }
.wallets > div > div > h2:first-child + div + div + div { margin: 5px 0px; }
.wallets > div > div > h2:first-child + div + div + div > div { padding: 5px 0px 5px 22px; background-repeat: no-repeat; background-position: left 4px; cursor: default; line-height: 16px; }
.wallets > div > div > h2:first-child + div + div + div > div > div { display: inline-block; background-image: none, url("wallet_help.svg"), url("wallet_help.png"); width: 16px; height: 16px; margin-left: 5px; vertical-align: top; position: relative; }
.wallets > div > div > h2:first-child + div + div + div > div > div > span { display: none; position: absolute; left: 6px; top: -30px; width: 25px; height: 70px; z-index: 90; background-repeat: no-repeat; background-position: right 30px; }
.wallets > div > div > h2:first-child + div + div + div > div > div > p, .wallets > div > div > h2:first-child + div + div + div > div > div > div { opacity: 0; width: 0px; height: 0px; overflow: hidden; border: 1px solid; visibility: hidden; position: absolute; background-color: rgb(255, 255, 255); left: 30px; margin: 0px; transition: opacity 400ms ease-out 0s; border-radius: 4px; z-index: 90; }
.wallets > div > div > h2:first-child + div + div + div > div > div > p { font-size: 85%; padding: 10px; top: -30px; }
.wallets > div > div > h2:first-child + div + div + div > div > div > div { padding: 0px 10px; top: -80px; }
.wallets > div > div > h2:first-child + div + div + div > div > div > div > div > p:first-child + p { font-size: 85%; }
.wallets > div > div > h2:first-child + div + div + div + p { font-size: 95%; margin: 0px; padding-right: 5px; height: 137px; width: 320px; overflow: auto; }
.wallets > div > div > h2:first-child + div + div + div + p + div { position: absolute; top: 20px; right: 20px; height: 400px; width: 250px; }
.wallets > div > div > h2:first-child + div + div + div + p + div > img { border: 1px solid rgb(189, 189, 189); }
.wallets .checkgood { color: rgb(50, 146, 57); font-weight: bold; }
.wallets .checkgood p { border-color: rgb(50, 146, 57); font-weight: normal; }
.wallets .checkgood > div > span { background-image: url("checkbubble_pass.svg"); }
.wallets .checkpass { color: rgb(50, 146, 57); }
.wallets .checkpass p { border-color: rgb(50, 146, 57); }
.wallets .checkpass > div > span { background-image: url("checkbubble_pass.svg"); }
.wallets .checkneutral { color: rgb(139, 139, 139); }
.wallets .checkneutral p { border-color: rgb(139, 139, 139); }
.wallets .checkneutral > div > span { background-image: url("checkbubble_neutral.svg"); }
.wallets .checkfail { color: rgb(238, 146, 9); }
.wallets .checkfail p { border-color: rgb(238, 146, 9); }
.wallets .checkfail > div > span { background-image: url("checkbubble_fail.svg"); }
.wallets .checkcontrol.checkpass, .wallets .checkcontrol.checkgood { background-image: url("check_control_pass.svg"); }
.wallets .checkcontrol.checkfail { background-image: url("check_control_fail.svg"); }
.wallets .checkvalidation.checkpass, .wallets .checkvalidation.checkgood { background-image: url("check_validation_pass.svg"); }
.wallets .checkvalidation.checkneutral { background-image: url("check_validation_neutral.svg"); }
.wallets .checkvalidation.checkfail { background-image: url("check_validation_fail.svg"); }
.wallets .checktransparency.checkpass, .wallets .checktransparency.checkgood { background-image: url("check_transparency_pass.svg"); }
.wallets .checktransparency.checkfail { background-image: url("check_transparency_fail.svg"); }
.wallets .checkenvironment.checkpass, .wallets .checkenvironment.checkgood { background-image: url("check_environment_pass.svg"); }
.wallets .checkenvironment.checkfail { background-image: url("check_environment_fail.svg"); }
.wallets .checkprivacy.checkpass, .wallets .checkprivacy.checkgood { background-image: url("check_privacy_pass.svg"); }
.wallets .checkprivacy.checkneutral { background-image: url("check_privacy_neutral.svg"); }
.wallets .checkprivacy.checkfail { background-image: url("check_privacy_fail.svg"); }
.wallets > div:hover > a > span, .wallets > div.active > a > span, .wallets.nohover > div.active:hover > a > span { display: block; }
.wallets.nohover > div:hover > a > span { display: none; }
.wallets > div:hover > div, .wallets > div:hover > span, .wallets > div.active > div, .wallets > div.active > span, .wallets.nohover > div.active:hover > div, .wallets.nohover > div.active:hover > span { opacity: 1; width: auto; height: 350px; visibility: visible; overflow: visible; }
.wallets.nohover > div:hover > div, .wallets.nohover > div:hover > span { opacity: 0; width: 0px; height: 0px; visibility: hidden; }
.wallets > div > div > h2:first-child + div + div > a:first-child:hover { background-image: none; }
.wallets > div > div > h2:first-child + div + div + div > div:hover > div > span { display: block; }
.wallets > div > div > h2:first-child + div + div + div > div:hover > div > p, .wallets > div > div > h2:first-child + div + div + div > div:hover > div > div { opacity: 1; width: 400px; height: auto; visibility: visible; }
.walletsswitch { display: none; }
.walletsmobile { display: none; }
.walletsdisclaimer h2 { text-align: center; }
h1 .rssicon { vertical-align: bottom; margin-bottom: 9px; margin-left: 10px; }
h2 .rssicon { vertical-align: bottom; margin-bottom: 7px; margin-left: 10px; }
.versiontext { text-align: left; margin-bottom: 40px; max-width: 600px; }
.versiontext h1 { text-align: left; }
.alerttitle img { display: block; margin: auto; width: 42px; height: 42px; }
.alertstatusinactive { font-size: 130%; color: rgb(13, 87, 155); margin-bottom: 30px; }
.alertstatusactive { font-size: 130%; color: rgb(213, 119, 0); margin-bottom: 30px; }
.alertsactive { margin-bottom: 20px; }
.alertsactive a { font-weight: bold; }
.alerticon { width: 42px; height: 42px; float: left; margin-top: 12px; margin-right: 12px; }
.redirectmsg { text-align: center; margin: 20px 0px; }
.redirectmsg h1 { color: rgb(123, 124, 124); font-weight: 400; font-size: 180%; }
.redirectmsg p { font-size: 150%; }
.attribution { font-size: 75%; }
.download { text-align: center; }
.download p { text-align: justify; }
.download div p { text-align: center; }
.download h1, .download h2 { text-align: center; }
.download .mainbutton a { margin: 10px 0px 35px; }
.downloadbox { display: inline-block; border: 2px solid rgb(250, 210, 150); padding: 20px; font-size: 125%; border-radius: 12px; margin: 0px auto 20px; }
.downloadbox p { margin: 0px; }
.downloadbox p.downloadmore a { font-size: 90%; }
.downloadbox p.downloadkeys { font-size: 80%; margin-top: 15px; }
.downloadbox p.downloadkeys span { display: block; }
.downloadbox p.downloadkeys a { display: inline-block; padding: 5px 10px 0px 20px; background: transparent url("mini_ico_key.svg") no-repeat scroll left 8px; }
.downloadbox div a { display: inline-block; }
.downloadbox div { display: inline-block; margin: 0px 10px; vertical-align: top; }
.downloadbox div div { display: block; width: 190px; height: 46px; margin: 25px 0px; text-align: left; }
.downloadbox div div span { display: inline-block; margin-left: 6px; }
.downloadbox div div span span { display: block; margin: 6px 0px 0px; font-size: 80%; }
.downloadbox img { width: 32px; height: 32px; vertical-align: top; position: relative; top: 4px; }
.downloadbox .magnetlink { display: inline-block; width: 16px; height: 16px; position: relative; bottom: -1px; background: transparent url("mini_ico_magnet.svg") no-repeat scroll 0% 0%; }
.eventmap { height: 400px; margin-bottom: 25px; }
.listtable div { padding: 8px 0px; border-top: 1px solid rgb(226, 226, 226); }
.listtable div:first-child { border-top: 0px none; }
.listtable div div { display: inline-block; vertical-align: middle; text-align: left; line-height: 1.5em; padding: 0px 20px 0px 0px; border-top: 0px none; }
.eventtable div div:first-child { width: 100px; }
.eventtable div div:first-child + div { width: 300px; }
.eventtable div div:first-child + div + div { width: 300px; }
.eventtable span a, .eventtable span a:link, .eventtable span a:active, .eventtable span a:visited { display: inline-block; padding: 6px 12px; margin: 15px 0px 30px; font-size: 115%; color: rgb(255, 255, 255); border: 1px solid rgb(213, 119, 0); background-color: rgb(238, 146, 9); background-image: -moz-linear-gradient(center bottom , rgb(226, 135, 0) 14%, rgb(238, 146, 9) 70%); border-radius: 3px; }
.eventtable span a:hover { background-image: none; color: rgb(255, 255, 255); }
.eventdata { display: none; }
.detectmobile { width: 0px; height: 0px; display: none; }
.summary { font-size: 125%; margin-bottom: 40px; text-align: center; }
.summarytxt { margin-bottom: 40px; }
.press h2 { font-size: 150%; }
.press-volunteer { text-align: left; margin-bottom: 40px; }
.press-faq { text-align: left; margin-bottom: 40px; }
.press-faq > div { width: 380px; display: inline-block; vertical-align: top; margin-bottom: 15px; margin-right: 30px; }
.press-faq > div > a { display: inline-block; font-weight: bold; margin-right: 20px; }
.press-faq > div > div { height: 0px; overflow: hidden; transition: height 400ms ease-out 0s; }
.press-faq > div > div.expanded { height: auto; }
.press-faq li { line-height: 1.5em; }
.press-faq p { text-align: left; }
.press-faq div span p { margin-bottom: 0px; }
.press-videos { margin-bottom: 40px; }
.press-videos div { display: inline-block; vertical-align: top; margin-right: 10px; }
.press-videos div a { display: inline-block; margin-right: 10px; margin-bottom: 10px; }
.press-videos img { width: 250px; height: 136px; border-radius: 10px; }
.press-pictures { text-align: left; margin-bottom: 40px; }
.press-pictures div { height: 270px; overflow: hidden; transition: height 400ms ease-out 0s; }
.press-pictures img { margin-right: 14px; margin-bottom: 14px; height: 120px; width: 120px; border-radius: 10px; }
.press-pictures > a { display: inline-block; padding-top: 10px; font-weight: bold; }
.press-quotes { margin-bottom: 40px; overflow: hidden; transition: height 400ms ease-out 0s; }
.press-quotes.expanded { height: auto; }
.press-quotes div { position: relative; left: -20px; text-align: left; }
.press-quotes p { display: inline-block; vertical-align: top; width: 380px; margin: 0px 0px 20px 20px; padding-left: 20px; }
.press-quotes p:nth-child(n+9) { display: none; }
.press-quotes.expanded p:nth-child(n+9) { display: inline-block; }
.press-quotes > a { display: inline-block; padding-top: 10px; font-weight: bold; }
.press-quotes.expanded > a { display: none; }
.press-quotes span:first-child { font-weight: bold; display: block; margin-bottom: 4px; }
.press-quotes span:first-child::before { position: absolute; margin-left: -16px; font-weight: bold; font-size: 180%; content: "“"; }
.press-quotes span:first-child::after { position: absolute; margin-right: -16px; font-weight: bold; font-size: 180%; content: "”"; }
.press-quotes p.final { width: 100%; }
@media print {
  .head { display: none; }
  .footer { display: none; }
  .content { padding: 0px; border: 0px none; }
  .toc { display: none; }
  .toccontent { width: auto; }
  .develdocdisclaimer { display: none; }
}
@media handheld, only screen and (max-width: 60em), only screen and (max-device-width: 60em) {
  img { max-width: 100%; }
  h1, h2 { text-align: center; }
  .toccontent .multicode, .toccontent .multicode pre, .toccontent pre { display: table; }
  .toccontent .multicode, .toccontent pre { padding: 10px; }
  .toccontent .multicode pre { padding: 0px; }
  .titleicon, .warningicon { display: block; position: static; margin: auto auto 5px; }
  .banner-message a span { width: auto; }
  .head { margin: 0px; }
  .head div { width: auto; }
  .body { width: auto; }
  .langselect { text-align: left; background-color: rgb(255, 255, 255); border-top: 2px solid rgb(235, 235, 235); }
  .langselect select { text-align: left; background-color: transparent; border: 0px none; font-size: 115%; padding: 8px 0px; margin-top: 12px; margin-left: 10px; width: 95%; -moz-appearance: none; }
  .menumobile { cursor: pointer; display: inline-block; float: right; height: 40px; width: 40px; padding: 12px; background-image: url("menumobile.svg"); background-repeat: no-repeat; background-position: center center; }
  .lang, .menusimple { display: none; background-color: rgb(255, 255, 255); position: static; bottom: 0px; margin: 0px; height: auto; overflow: auto; }
  .menusimple > li a, .menusimple > li > ul > li a { padding: 10px 6px 8px; display: block; }
  .menusimple li { display: block; margin: 4px; position: static; }
  .menusimple > li ul { min-width: 0px; position: relative; }
  .menusimple.menutap li:hover { background-color: rgb(255, 255, 255); }
  .menusimple.menutap li:hover > a { color: rgb(44, 111, 173); }
  .menusimple.menutap li:hover > ul { display: none; }
  .menusimple.menutap li.hover, .menusimple.menutap li.active { background-color: rgb(44, 111, 173); }
  .menusimple.menutap li.hover > a, .menusimple.menutap li.active > a { color: rgb(255, 255, 255); }
  .menusimple.menutap li.hover > ul, .menusimple.menutap li.active > ul { display: block; }
  .logo { position: static; display: inline-block; margin: 10px; }
  .content { position: static; text-align: left; margin: 0px; padding: 20px 10px; border-right: 0px none; border-left: 0px none; border-radius: 0px; }
  .footer { line-height: 1.5em; width: auto; }
  .index { padding: 15px; }
  .index ul { padding: 5px 0px; }
  .index li { padding: 3px 0px; }
  .docreference a { display: block; margin: 0px auto 40px; }
  .glossary_term { width: 80%; }
  .toc { position: static; margin-top: 0px; padding: 10px; border: 2px dashed rgb(72, 146, 178); display: inline-block; }
  .toc div { width: auto; }
  .toc div.scroll { position: static; }
  .toc ul, .toc.scroll ul { width: auto; padding: 0px; border: 0px none; }
  .toc ul li ul { display: block; }
  .toc ul li ul li ul li { padding-left: 0px; }
  .toc ul li a { padding: 0px; }
  .toc ul li ul li a:hover::before, .toc ul li ul li a.active::before { content: ""; }
  .toc ul.goback li, .toc ul.reportissue li, .toc ul.editsource li { background: transparent none repeat scroll 0% 0%; }
  .toccontent { width: auto; }
  .toccontent a.auto-link:link, .toccontent a.auto-link:visited { color: rgb(44, 111, 173); }
  .develdocdisclaimer { padding: 15px; width: auto; }
  .contributors { width: auto; }
  .tablehalf { position: static; width: auto; }
  .tablehalf div { display: block; width: auto; margin-left: 0px; }
  .tablehalf img { width: auto; height: auto; margin: auto; display: block; }
  .listtable div div { display: block; }
  .eventtable div div:first-child, .eventtable div div:first-child + div, .eventtable div div:first-child + div + div { width: auto; }
  .coredevtable div div:first-child, .coredevtable div div:first-child + div, .coredevtable div div:first-child + div + div { width: auto; }
  .press-faq > div { width: auto; display: block; margin-right: 0px; }
  .press-quotes p { width: auto; }
  .mainvideo > div { position: relative; padding-bottom: 56.25%; height: 0px; overflow: hidden; }
  .mainvideo iframe { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
  .mainvideo img { height: auto; }
  .start > div { position: static; }
  .start > div:first-child + div { border-top: 0px none; }
  .start div div { display: block; width: auto; padding: 0px 0px 50px; position: relative; }
  .start > div > div:first-child { border-right: 0px none; padding-right: 0px; }
  .start div div div { position: static; text-align: center; bottom: 15px; }
  .start > div > div:first-child + div { border-left: 0px none; padding-left: 0px; margin-left: 0px; }
  .resources > div { border-top: 0px none; }
  .resources div div { display: block; width: auto; padding: 0px 0px 10px; min-height: 0px; }
  .resources > div > div:first-child { padding-right: 0px; border-right: 0px none; }
  .resources > div > div:first-child + div { border-left: 0px none; padding-left: 0px; margin-left: 0px; }
  .resources, .resources p { text-align: center; }
  .resourcesorg div div { width: auto; display: block; }
  .resourcesorg div { border-top: 0px none; }
  .resourcesmore { margin-top: 0px; }
  .resourcesmore div { padding: 0px; border: 0px none; }
  .walletmenu {  }
  .walletmenu > ul { display: block; }
  .walletmenu > ul li { display: block; margin: 15px 0px; }
  .walletmenu > ul > li ul { position: relative; min-width: 0px; }
  .walletmenu > ul.menutap li:hover { background-color: rgb(255, 255, 255); }
  .walletmenu > ul.menutap li:hover > a, .walletmenu > ul.menutap li:hover > a:link, .walletmenu > ul.menutap li:hover > a:active, .walletmenu > ul.menutap li:hover > a:visited { color: rgb(56, 56, 56); }
  .walletmenu > ul.menutap > li:hover { background-position: left 6px; }
  .walletmenu > ul.menutap > li:hover > ul { display: none; }
  .walletmenu > ul.menutap > li > ul > li:hover { background-position: left 10px; }
  .walletmenu > ul.menutap li.active { background-color: rgb(13, 87, 155); }
  .walletmenu > ul.menutap li.active > a, .walletmenu > ul.menutap li.active > a:link, .walletmenu > ul.menutap li.active > a:active, .walletmenu > ul.menutap li.active > a:visited { color: rgb(255, 255, 255); }
  .walletmenu > ul.menutap > li.active { background-position: left -62px; }
  .walletmenu > ul.menutap > li.active > ul { display: block; }
  .walletmenu > ul.menutap > li > ul > li.active { background-position: left -24px; }
  .wallets { width: auto; height: auto; }
  .wallets > div:hover > span { display: none; }
  .wallets > div > div { border: 2px solid rgb(44, 111, 175); background-color: rgb(241, 248, 251); transition: opacity 400ms ease-out 0s; border-radius: 4px; }
  .wallets > div:hover > div { opacity: 0; width: 0px; height: 0px; visibility: hidden; }
  .wallets > div > a, .wallets > div > a:visited, .wallets > div > a:link, .wallets > div > a:active { margin: 0px 13px 20px; }
  .wallets > div:hover > a > span { display: none; }
  .wallets.walletsmobile { display: block; padding: 10px 0px; }
  .wallets.walletsmobile > div > a { display: none; }
  .wallets.walletsmobile > div > div, .wallets.walletsmobile > div:hover > div { display: block; position: relative; top: 0px; left: 0px; right: 0px; padding: 10px; opacity: 1; width: auto; height: auto; visibility: visible; }
  .wallets.walletsmobile > div > div > h2:first-child + div + div + div > div { padding: 8px 0px 8px 22px; background-position: left 7px; }
  .wallets.walletsmobile > div > div > h2:first-child + div + div + div + p { padding-right: 5px; height: auto; width: auto; overflow: visible; }
  .wallets.walletsmobile > div > div > h2:first-child + div + div + div + p + div { position: static; height: auto; width: auto; margin-top: 10px; padding: 0px; }
  .wallets.walletsmobile > div > div > h2:first-child + div + div + div > div.hover > div { display: block; background: transparent none repeat scroll 0% 0%; width: auto; height: auto; margin-left: 0px; margin-top: 10px; }
  .wallets.walletsmobile > div > div > h2:first-child + div + div + div > div > div > p, .wallets.walletsmobile > div > div > h2:first-child + div + div + div > div > div > div, .wallets.walletsmobile > div > div > h2:first-child + div + div + div > div > div > span { display: none; position: relative; width: auto; height: auto; visibility: visible; opacity: 1; border: 0px none; background: transparent none repeat scroll 0% 0%; padding: 0px; top: 0px; left: -20px; }
  .wallets.walletsmobile > div > div > h2:first-child + div + div + div > div.hover > div > p, .wallets.walletsmobile > div > div > h2:first-child + div + div + div > div.hover > div > div { display: block; }
  .wallets.walletsmobile > div > div > h2:first-child + div + div + div > div.hover > div > span { display: none; }
  .download { text-align: left; }
  .download p { text-align: left; }
  .download div p { text-align: left; }
  .download .mainbutton { display: none; }
  .downloadbox { border: 0px none; padding: 0px; text-align: left; }
  .downloadbox div div { margin: 15px 0px; width: auto; }
  .downloadbox div { margin: 0px; display: block; }
  .downloadbox > p:first-child { display: none; }
  .downloadbox > p + div + div + p { margin-top: 25px; }
  .eventmap { height: 200px; }
  .detectmobile { display: block; }
}
@media handheld, only screen and (max-width: 40em), only screen and (max-device-width: 40em) {
  .mainlist, .mainlist > div { width: auto; display: block; }
  .mainlist > div { margin: 15px auto; }
}
/* ::::: https://bitcoin.org/js/cookieconsent/light-floating.css ::::: */

.cc_banner-wrapper { z-index: 9001; position: relative; }
.cc_container .cc_btn { cursor: pointer; text-align: center; font-size: 0.6em; transition: font-size 200ms ease 0s; line-height: 1em; }
.cc_container .cc_message { font-size: 0.6em; /*transition: font-size 200ms ease 0s;*/ margin: 0px; padding: 0px; line-height: 1.5em; }
@media screen and (min-width: 500px) {
  .cc_container .cc_btn { font-size: 0.8em; }
  .cc_container .cc_message { font-size: 0.8em; }
}
@media screen and (min-width: 768px) {
  .cc_container .cc_btn { font-size: 1em; }
  .cc_container .cc_message { font-size: 1em; line-height: 1em; }
}
@media screen and (min-width: 992px) {
  .cc_container .cc_message { font-size: 1em; }
}
@media print {
  .cc_banner-wrapper, .cc_container { display: none; }
}
.cc_container { left: 0px; right: 0px; bottom: 0px; overflow: hidden; padding: 10px 15px 50px; position: fixed; }
.cc_container .cc_btn { padding: 8px 16px; background-color: rgb(239, 158, 91); position: absolute; bottom: 10px; left: 15px; right: 15px; text-align: center; }
@media screen and (min-width: 500px) {
  .cc_container { padding-bottom: 77px; right: 20px; width: 300px; bottom: 20px; left: initial; }
  .cc_container .cc_btn { right: 15px; bottom: 37px; }
}
@media screen and (min-width: 768px) {
  .cc_container { padding-bottom: 87px; }
  .cc_container .cc_message { font-size: 1em; }
}
.cc_container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(153, 153, 153); font-size: 17px; font-family: "Helvetica Neue Light","HelveticaNeue-Light","Helvetica Neue",Calibri,Helvetica,Arial; box-sizing: border-box; border: 1px solid rgb(204, 204, 204); }
.cc_container *::-moz-selection { background: rgb(255, 94, 153) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
.cc_container .cc_btn, .cc_container .cc_btn:visited { color: rgb(255, 255, 255); background-color: rgb(239, 158, 91); transition: background 200ms ease-in-out 0s, color 200ms ease-in-out 0s, box-shadow 200ms ease-in-out 0s; border-radius: 5px; }
.cc_container .cc_btn:hover, .cc_container .cc_btn:active { background-color: rgb(231, 127, 42); color: rgb(255, 255, 255); }
.cc_container a, .cc_container a:visited { text-decoration: none; color: rgb(49, 168, 240); transition: color 200ms ease 0s; }
.cc_container a:hover, .cc_container a:active { color: rgb(85, 85, 85); }
@keyframes fadeInRight {
0% { opacity: 0; transform: translateX(20px); }
100% { opacity: 1; transform: translateX(0px); }
}
.cc_container { /*animation-duration: 0.8s; animation-fill-mode: both; animation-name: fadeInRight;*/ }
@media screen and (min-width: 500px) {
  .cc_container { border-radius: 5px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
}
/* ::::: [internal] ::::: */

.firebugResetStyles { z-index: 2147483646 ! important; top: 0px ! important; left: 0px ! important; display: block ! important; border: 0px none ! important; margin: 0px ! important; padding: 0px ! important; outline: 0px none ! important; min-width: 0px ! important; max-width: none ! important; min-height: 0px ! important; max-height: none ! important; position: fixed ! important; transform: rotate(0deg) ! important; transform-origin: 50% 50% 0px ! important; border-radius: 0px ! important; box-shadow: none ! important; background: transparent none repeat scroll 0% 0% ! important; pointer-events: none ! important; white-space: normal ! important; }
style.firebugResetStyles { display: none ! important; }
.firebugBlockBackgroundColor { background-color: transparent ! important; }
.firebugResetStyles::before, .firebugResetStyles::after { content: "" ! important; }
.firebugCanvas { display: none ! important; }
.firebugLayoutBox { width: auto ! important; position: static ! important; }
.firebugLayoutBoxOffset { opacity: 0.8 ! important; position: fixed ! important; }
.firebugLayoutLine { opacity: 0.4 ! important; background-color: rgb(0, 0, 0) ! important; }
.firebugLayoutLineLeft, .firebugLayoutLineRight { width: 1px ! important; height: 100% ! important; }
.firebugLayoutLineTop, .firebugLayoutLineBottom { width: 100% ! important; height: 1px ! important; }
.firebugLayoutLineTop { margin-top: -1px ! important; border-top: 1px solid rgb(153, 153, 153) ! important; }
.firebugLayoutLineRight { border-right: 1px solid rgb(153, 153, 153) ! important; }
.firebugLayoutLineBottom { border-bottom: 1px solid rgb(153, 153, 153) ! important; }
.firebugLayoutLineLeft { margin-left: -1px ! important; border-left: 1px solid rgb(153, 153, 153) ! important; }
.firebugLayoutBoxParent { border-width: 0px 1px 1px 0px ! important; border-style: none dashed dashed none ! important; border-color: -moz-use-text-color rgb(238, 0, 0) rgb(238, 0, 0) -moz-use-text-color ! important; position: fixed ! important; width: auto ! important; }
.firebugRuler { position: absolute ! important; }
.firebugRulerH { top: -15px ! important; left: 0px ! important; width: 100% ! important; height: 14px ! important; background: transparent url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%13%88%00%00%00%0E%08%02%00%00%00L%25a%0A%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%F8IDATx%DA%EC%DD%D1n%E2%3A%00E%D1%80%F8%FF%EF%E2%AF2%95%D0D4%0E%C1%14%B0%8Fa-%E9%3E%CC%9C%87n%B9%81%A6W0%1C%A6i%9A%E7y%0As8%1CT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AATE9%FE%FCw%3E%9F%AF%2B%2F%BA%97%FDT%1D~K(%5C%9D%D5%EA%1B%5C%86%B5%A9%BDU%B5y%80%ED%AB*%03%FAV9%AB%E1%CEj%E7%82%EF%FB%18%BC%AEJ8%AB%FA\'%D2%BEU9%D7U%ECc0%E1%A2r%5DynwVi%CFW%7F%BB%17%7Dy%EACU%CD%0E%F0%FA%3BX%FEbV%FEM%9B%2B%AD%BE%AA%E5%95v%AB%AA%E3E5%DCu%15rV9%07%B5%7F%B5w%FCm%BA%BE%AA%FBY%3D%14%F0%EE%C7%60%0EU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5JU%88%D3%F5%1F%AE%DF%3B%1B%F2%3E%DAUCNa%F92%D02%AC%7Dm%F9%3A%D4%F2%8B6%AE*%BF%5C%C2Ym~9g5%D0Y%95%17%7C%C8c%B0%7C%18%26%9CU%CD%13i%F7%AA%90%B3Z%7D%95%B4%C7%60%E6E%B5%BC%05%B4%FBY%95U%9E%DB%FD%1C%FC%E0%9F%83%7F%BE%17%7DkjMU%E3%03%AC%7CWj%DF%83%9An%BCG%AE%F1%95%96yQ%0Dq%5Dy%00%3Et%B5\'%FC6%5DS%95pV%95%01%81%FF\'%07%00%00%00%00%00%00%00%00%00%F8x%C7%F0%BE%9COp%5D%C9%7C%AD%E7%E6%EBV%FB%1E%E0(%07%E5%AC%C6%3A%ABi%9C%8F%C6%0E9%AB%C0\'%D2%8E%9F%F99%D0E%B5%99%14%F5%0D%CD%7F%24%C6%DEH%B8%E9rV%DFs%DB%D0%F7%00k%FE%1D%84%84%83J%B8%E3%BA%FB%EF%20%84%1C%D7%AD%B0%8E%D7U%C8Y%05%1E%D4t%EF%AD%95Q%BF8w%BF%E9%0A%BF%EB%03%00%00%00%00%00%00%00%00%00%B8vJ%8E%BB%F5%B1u%8Cx%80%E1o%5E%CA9%AB%CB%CB%8E%03%DF%1D%B7T%25%9C%D5(%EFJM8%AB%CC\'%D2%B2*%A4s%E7c6%FB%3E%FA%A2%1E%80~%0E%3E%DA%10x%5D%95Uig%15u%15%ED%7C%14%B6%87%A1%3B%FCo8%A8%D8o%D3%ADO%01%EDx%83%1A~%1B%9FpP%A3%DC%C6\'%9C%95gK%00%00%00%00%00%00%00%00%00%20%D9%C9%11%D0%C0%40%AF%3F%EE%EE%92%94%D6%16X%B5%BCMH%15%2F%BF%D4%A7%C87%F1%8E%F2%81%AE%AAvzr%DA2%ABV%17%7C%E63%83%E7I%DC%C6%0Bs%1B%EF6%1E%00%00%00%00%00%00%00%00%00%80cr%9CW%FF%7F%C6%01%0E%F1%CE%A5%84%B3%CA%BC%E0%CB%AA%84%CE%F9%BF)%EC%13%08WU%AE%AB%B1%AE%2BO%EC%8E%CBYe%FE%8CN%ABr%5Dy%60~%CFA%0D%F4%AE%D4%BE%C75%CA%EDVB%EA(%B7%F1%09g%E5%D9%12%00%00%00%00%00%00%00%00%00H%F6%EB%13S%E7y%5E%5E%FB%98%F0%22%D1%B2\'%A7%F0%92%B1%BC%24z3%AC%7Dm%60%D5%92%B4%7CEUO%5E%F0%AA*%3BU%B9%AE%3E%A0j%94%07%A0%C7%A0%AB%FD%B5%3F%A0%F7%03T%3Dy%D7%F7%D6%D4%C0%AAU%D2%E6%DFt%3F%A8%CC%AA%F2%86%B9%D7%F5%1F%18%E6%01%F8%CC%D5%9E%F0%F3z%88%AA%90%EF%20%00%00%00%00%00%00%00%00%00%C0%A6%D3%EA%CFi%AFb%2C%7BB%0A%2B%C3%1A%D7%06V%D5%07%A8r%5D%3D%D9%A6%CAu%F5%25%CF%A2%99%97zNX%60%95%AB%5DUZ%D5%FBR%03%AB%1C%D4k%9F%3F%BB%5C%FF%81a%AE%AB\'%7F%F3%EA%FE%F3z%94%AA%D8%DF%5B%01%00%00%00%00%00%00%00%00%00%8E%FB%F3%F2%B1%1B%8DWU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*UiU%C7%BBe%E7%F3%B9%CB%AAJ%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5*%AAj%FD%C6%D4%5Eo%90%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5%86%AF%1B%9F%98%DA%EBm%BBV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%AD%D6%E4%F58%01%00%00%00%00%00%00%00%00%00%00%00%00%00%40%85%7F%02%0C%008%C2%D0H%16j%8FX%00%00%00%00IEND%AEB%60%82") repeat-x scroll 0% 0% ! important; border-top: 1px solid rgb(187, 187, 187) ! important; border-right: 1px dashed rgb(187, 187, 187) ! important; border-bottom: 1px solid rgb(0, 0, 0) ! important; }
.firebugRulerV { top: 0px ! important; left: -15px ! important; width: 14px ! important; height: 100% ! important; background: transparent url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%13%88%08%02%00%00%00%0E%F5%CB%10%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06~IDATx%DA%EC%DD%D1v%A20%14%40Qt%F1%FF%FF%E4%97%D9%07%3BT%19%92%DC%40(%90%EEy%9A5%CB%B6%E8%F6%9Ac%A4%CC0%84%FF%DC%9E%CF%E7%E3%F1%88%DE4%F8%5D%C7%9F%2F%BA%DD%5E%7FI%7D%F18%DDn%BA%C5%FB%DF%97%BFk%F2%10%FF%FD%B4%F2M%A7%FB%FD%FD%B3%22%07p%8F%3F%AE%E3%F4S%8A%8F%40%EEq%9D%BE8D%F0%0EY%A1Uq%B7%EA%1F%81%88V%E8X%3F%B4%CEy%B7h%D1%A2E%EBohU%FC%D9%AF2fO%8BBeD%BE%F7X%0C%97%A4%D6b7%2Ck%A5%12%E3%9B%60v%B7r%C7%1AI%8C%BD%2B%23r%00c0%B2v%9B%AD%CA%26%0C%1Ek%05A%FD%93%D0%2B%A1u%8B%16-%95q%5Ce%DCSO%8E%E4M%23%8B%F7%C2%FE%40%BB%BD%8C%FC%8A%B5V%EBu%40%F9%3B%A72%FA%AE%8C%D4%01%CC%B5%DA%13%9CB%AB%E2I%18%24%B0n%A9%0CZ*Ce%9C%A22%8E%D8NJ%1E%EB%FF%8F%AE%CAP%19*%C3%BAEKe%AC%D1%AAX%8C*%DEH%8F%C5W%A1e%AD%D4%B7%5C%5B%19%C5%DB%0D%EF%9F%19%1D%7B%5E%86%BD%0C%95%A12%AC%5B*%83%96%CAP%19%F62T%86%CAP%19*%83%96%CA%B8Xe%BC%FE)T%19%A1%17xg%7F%DA%CBP%19*%C3%BA%A52T%86%CAP%19%F62T%86%CA%B0n%A9%0CZ%1DV%C6%3D%F3%FCH%DE%B4%B8~%7F%5CZc%F1%D6%1F%AF%84%F9%0F6%E6%EBVt9%0E~%BEr%AF%23%B0%97%A12T%86%CAP%19%B4T%86%CA%B8Re%D8%CBP%19*%C3%BA%A52huX%19%AE%CA%E5%BC%0C%7B%19*CeX%B7h%A9%0C%95%E1%BC%0C%7B%19*CeX%B7T%06%AD%CB%5E%95%2B%BF.%8F%C5%97%D5%E4%7B%EE%82%D6%FB%CF-%9C%FD%B9%CF%3By%7B%19%F62T%86%CA%B0n%D1R%19*%A3%D3%CA%B0%97%A12T%86uKe%D0%EA%B02*%3F1%99%5DB%2B%A4%B5%F8%3A%7C%BA%2B%8Co%7D%5C%EDe%A8%0C%95a%DDR%19%B4T%C66%82fA%B2%ED%DA%9FC%FC%17GZ%06%C9%E1%B3%E5%2C%1A%9FoiB%EB%96%CA%A0%D5qe4%7B%7D%FD%85%F7%5B%ED_%E0s%07%F0k%951%ECr%0D%B5C%D7-g%D1%A8%0C%EB%96%CA%A0%A52T%C6)*%C3%5E%86%CAP%19%D6-%95A%EB*%95q%F8%BB%E3%F9%AB%F6%E21%ACZ%B7%22%B7%9B%3F%02%85%CB%A2%5B%B7%BA%5E%B7%9C%97%E1%BC%0C%EB%16-%95%A12z%AC%0C%BFc%A22T%86uKe%D0%EA%B02V%DD%AD%8A%2B%8CWhe%5E%AF%CF%F5%3B%26%CE%CBh%5C%19%CE%CB%B0%F3%A4%095%A1%CAP%19*Ce%A8%0C%3BO*Ce%A8%0C%95%A12%3A%AD%8C%0A%82%7B%F0v%1F%2FD%A9%5B%9F%EE%EA%26%AF%03%CA%DF9%7B%19*Ce%A8%0C%95%A12T%86%CA%B8Ze%D8%CBP%19*Ce%A8%0C%95%D1ae%EC%F7%89I%E1%B4%D7M%D7P%8BjU%5C%BB%3E%F2%20%D8%CBP%19*Ce%A8%0C%95%A12T%C6%D5*%C3%5E%86%CAP%19*Ce%B4O%07%7B%F0W%7Bw%1C%7C%1A%8C%B3%3B%D1%EE%AA%5C%D6-%EBV%83%80%5E%D0%CA%10%5CU%2BD%E07YU%86%CAP%19*%E3%9A%95%91%D9%A0%C8%AD%5B%EDv%9E%82%FFKOee%E4%8FUe%A8%0C%95%A12T%C6%1F%A9%8C%C8%3D%5B%A5%15%FD%14%22r%E7B%9F%17l%F8%BF%ED%EAf%2B%7F%CF%ECe%D8%CBP%19*Ce%A8%0C%95%E1%93~%7B%19%F62T%86%CAP%19*Ce%A8%0C%E7%13%DA%CBP%19*Ce%A8%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4%AE%A4%F5%25%C0%00%DE%BF%5C\'%0F%DA%B8q%00%00%00%00IEND%AEB%60%82") repeat-y scroll 0% 0% ! important; border-left: 1px solid rgb(187, 187, 187) ! important; border-right: 1px solid rgb(0, 0, 0) ! important; border-bottom: 1px dashed rgb(187, 187, 187) ! important; }
.overflowRulerX > .firebugRulerV { left: 0px ! important; }
.overflowRulerY > .firebugRulerH { top: 0px ! important; }
.fbProxyElement { position: fixed ! important; pointer-events: auto ! important; }
