@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(4) > div:nth-of-type(3) {
		padding-top: 0.43% !important;  /* 4px */
		margin-top: 0.43% !important;  /* 4px */
		height: 8.69% !important;  /* 101px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(2) {
		padding-top: 2.45% !important;  /* 23px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(1) {
		padding-top: 0.19% !important;  /* 1px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(4) {
		padding-top: 0.19% !important;  /* 1px */
	}
	html > body > div:nth-of-type(4) {
		padding-top: 0.49% !important;  /* 7px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) {
		margin-left: 77.44% !important;  /* 1102px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(5) {
		padding-top: 0.19% !important;  /* 1px */
	}
}

