@font-face {
  font-family: 'sidearm_font';
  src: url('sidearm_font.eot?77286934');
  src: url('sidearm_font.eot?77286934#iefix') format('embedded-opentype'),
       url('sidearm_font.woff2?77286934') format('woff2'),
       url('sidearm_font.woff?77286934') format('woff'),
       url('sidearm_font.ttf?77286934') format('truetype'),
       url('sidearm_font.svg?77286934#sidearm_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sidearm_font';
    src: url('../font/sidearm_font.svg?77286934#sidearm_font') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sidearm_font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-facebook_v2:before { content: '\e806'; } /* '' */
.icon-flickr:before { content: '\e807'; } /* '' */
.icon-give-gift:before { content: '\e808'; } /* '' */
.icon-google-plus:before { content: '\e809'; } /* '' */
.icon-group:before { content: '\e80a'; } /* '' */
.icon-calendar-1:before { content: '\e80b'; } /* '' */
.icon-blogger:before { content: '\e80c'; } /* '' */
.icon-youtube:before { content: '\e80d'; } /* '' */
.icon-hall-of-fame:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-individual:before { content: '\e810'; } /* '' */
.icon-instagram:before { content: '\e811'; } /* '' */
.icon-i-phone:before { content: '\e812'; } /* '' */
.icon-list:before { content: '\e813'; } /* '' */
.icon-speech-bubblesvg:before { content: '\e814'; } /* '' */
.icon-sms-icon:before { content: '\e815'; } /* '' */
.icon-shuffle:before { content: '\e816'; } /* '' */
.icon-shop-icon:before { content: '\e817'; } /* '' */
.icon-shoe:before { content: '\e818'; } /* '' */
.icon-settings:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-weather-sun:before { content: '\e81b'; } /* '' */
.icon-warning:before { content: '\e81c'; } /* '' */
.icon-video:before { content: '\e81d'; } /* '' */
.icon-rss:before { content: '\e81e'; } /* '' */
.icon-radio:before { content: '\e81f'; } /* '' */
.icon-twitter-retweet:before { content: '\e820'; } /* '' */
.icon-twitter-reply:before { content: '\e821'; } /* '' */
.icon-print:before { content: '\e822'; } /* '' */
.icon-pinterest:before { content: '\e823'; } /* '' */
.icon-twitter-favorite:before { content: '\e824'; } /* '' */
.icon-twitter:before { content: '\e825'; } /* '' */
.icon-paper:before { content: '\e826'; } /* '' */
.icon-on-air:before { content: '\e827'; } /* '' */
.icon-tv:before { content: '\e828'; } /* '' */
.icon-tickets:before { content: '\e829'; } /* '' */
.icon-loud-speaker:before { content: '\e82a'; } /* '' */
.icon-loop:before { content: '\e82b'; } /* '' */
.icon-stories:before { content: '\e82c'; } /* '' */
.icon-stats:before { content: '\e82d'; } /* '' */
.icon-location:before { content: '\e82e'; } /* '' */
.icon-list-bullet:before { content: '\e82f'; } /* '' */
.icon-angle-down:before { content: '\e830'; } /* '' */
.icon-angle-up:before { content: '\e831'; } /* '' */
.icon-angle-right:before { content: '\e832'; } /* '' */
.icon-angle-left:before { content: '\e833'; } /* '' */
.icon-down-open:before { content: '\e834'; } /* '' */
.icon-left-open:before { content: '\e835'; } /* '' */
.icon-right-open:before { content: '\e836'; } /* '' */
.icon-up-open:before { content: '\e837'; } /* '' */
.icon-wordpress:before { content: '\e838'; } /* '' */
.icon-googleplus-rect:before { content: '\e839'; } /* '' */
.icon-cancel:before { content: '\e83a'; } /* '' */
.icon-youtube-horiz:before { content: '\e83b'; } /* '' */
.icon-sidearm:before { content: '\e83c'; } /* '' */
.icon-download-alt:before { content: '\e83d'; } /* '' */
.icon-right-circled:before { content: '\e83e'; } /* '' */
.icon-vimeo:before { content: '\e83f'; } /* '' */
.icon-list-alt:before { content: '\e840'; } /* '' */
.icon-th-large:before { content: '\e841'; } /* '' */
.icon-picture:before { content: '\e842'; } /* '' */
.icon-camera-1:before { content: '\e843'; } /* '' */
.icon-camera-alt:before { content: '\e844'; } /* '' */
.icon-list-numbered:before { content: '\e845'; } /* '' */
.icon-chat-empty:before { content: '\e846'; } /* '' */
.icon-chat:before { content: '\e847'; } /* '' */
.icon-th-large-1:before { content: '\e848'; } /* '' */
.icon-ok:before { content: '\e849'; } /* '' */
.icon-ok-circled:before { content: '\e84a'; } /* '' */
.icon-ok-circled2:before { content: '\e84b'; } /* '' */
.icon-cancel-circled:before { content: '\e84c'; } /* '' */
.icon-cancel-circled2:before { content: '\e84d'; } /* '' */
.icon-angle-circled-left:before { content: '\e84e'; } /* '' */
.icon-angle-circled-right:before { content: '\e84f'; } /* '' */
.icon-angle-circled-up:before { content: '\e850'; } /* '' */
.icon-angle-circled-down:before { content: '\e851'; } /* '' */
.icon-pencil:before { content: '\e852'; } /* '' */
.icon-menu:before { content: '\e853'; } /* '' */
.icon-chart-bar:before { content: '\e854'; } /* '' */
.icon-chart-line:before { content: '\e855'; } /* '' */
.icon-chart-pie:before { content: '\e856'; } /* '' */
.icon-angle-double-left:before { content: '\e857'; } /* '' */
.icon-angle-double-right:before { content: '\e858'; } /* '' */
.icon-angle-double-up:before { content: '\e859'; } /* '' */
.icon-angle-double-down:before { content: '\e85a'; } /* '' */
.icon-down-big:before { content: '\e85b'; } /* '' */
.icon-left-big:before { content: '\e85c'; } /* '' */
.icon-right-big:before { content: '\e85d'; } /* '' */
.icon-up-big:before { content: '\e85e'; } /* '' */
.icon-check:before { content: '\e85f'; } /* '' */
.icon-check-empty:before { content: '\e860'; } /* '' */
.icon-right-dir:before { content: '\e861'; } /* '' */
.icon-left-dir:before { content: '\e862'; } /* '' */
.icon-up-dir:before { content: '\e863'; } /* '' */
.icon-down-dir:before { content: '\e864'; } /* '' */
.icon-plus:before { content: '\e865'; } /* '' */
.icon-plus-circled:before { content: '\e866'; } /* '' */
.icon-plus-squared:before { content: '\e867'; } /* '' */
.icon-plus-squared-alt:before { content: '\e868'; } /* '' */
.icon-help:before { content: '\e869'; } /* '' */
.icon-help-circled:before { content: '\e86a'; } /* '' */
.icon-help-1:before { content: '\e86b'; } /* '' */
.icon-arrows-cw:before { content: '\e86c'; } /* '' */
.icon-phone:before { content: '\e86d'; } /* '' */
.icon-search-1:before { content: '\e86e'; } /* '' */
.icon-mail:before { content: '\e86f'; } /* '' */
.icon-mail-alt:before { content: '\e870'; } /* '' */
.icon-th:before { content: '\e871'; } /* '' */
.icon-comment:before { content: '\e872'; } /* '' */
.icon-comment-empty:before { content: '\e873'; } /* '' */
.icon-calendar-2:before { content: '\e874'; } /* '' */
.icon-clock-1:before { content: '\e875'; } /* '' */
.icon-desktop:before { content: '\e876'; } /* '' */
.icon-laptop:before { content: '\e877'; } /* '' */
.icon-tablet:before { content: '\e878'; } /* '' */
.icon-mobile:before { content: '\e879'; } /* '' */
.icon-chart-bar-1:before { content: '\e87a'; } /* '' */
.icon-newspaper:before { content: '\e87b'; } /* '' */
.icon-linkedin-squared:before { content: '\e87c'; } /* '' */
.icon-linkedin:before { content: '\e87d'; } /* '' */
.icon-tumblr:before { content: '\e87e'; } /* '' */
.icon-tumblr-squared:before { content: '\e87f'; } /* '' */
.icon-vimeo-squared:before { content: '\e880'; } /* '' */
.icon-vine:before { content: '\e881'; } /* '' */
.icon-youtube-play:before { content: '\e882'; } /* '' */
.icon-mic:before { content: '\e883'; } /* '' */
.icon-mute:before { content: '\e884'; } /* '' */
.icon-basket:before { content: '\e885'; } /* '' */
.icon-cart-arrow-down:before { content: '\e886'; } /* '' */
.icon-cart-plus:before { content: '\e887'; } /* '' */
.icon-ticket:before { content: '\e888'; } /* '' */
.icon-volume-down:before { content: '\e889'; } /* '' */
.icon-volume:before { content: '\e88a'; } /* '' */
.icon-volume-up:before { content: '\e88b'; } /* '' */
.icon-snapchat:before { content: '\e88c'; } /* '' */
.icon-move:before { content: '\e88d'; } /* '' */
.icon-trash-empty:before { content: '\e88e'; } /* '' */
.icon-heart:before { content: '\e88f'; } /* '' */
.icon-heart-empty:before { content: '\e890'; } /* '' */
.icon-star:before { content: '\e891'; } /* '' */
.icon-star-empty:before { content: '\e892'; } /* '' */
.icon-star-half:before { content: '\e893'; } /* '' */
.icon-help-circled-1:before { content: '\e894'; } /* '' */
.icon-info-circled:before { content: '\e895'; } /* '' */
.icon-flag:before { content: '\e896'; } /* '' */
.icon-lock:before { content: '\e897'; } /* '' */
.icon-lock-open:before { content: '\e898'; } /* '' */
.icon-minus:before { content: '\e899'; } /* '' */
.icon-info-1:before { content: '\e89a'; } /* '' */
.icon-print-1:before { content: '\e89b'; } /* '' */
.icon-globe:before { content: '\e89c'; } /* '' */
.icon-resize-small:before { content: '\e89d'; } /* '' */
.icon-resize-full:before { content: '\e89e'; } /* '' */
.icon-play:before { content: '\e89f'; } /* '' */
.icon-map:before { content: '\e8a0'; } /* '' */
.icon-map-1:before { content: '\e8a1'; } /* '' */
.icon-pdf:before { content: '\e8a2'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-car:before { content: '\f1b9'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */