@font-face {
  font-family: 'sidearm_font_v2';
  src: url('sidearm_font_v2.eot?9578230');
  src: url('sidearm_font_v2.eot?9578230#iefix') format('embedded-opentype'),
       url('sidearm_font_v2.woff2?9578230') format('woff2'),
       url('sidearm_font_v2.woff?9578230') format('woff'),
       url('sidearm_font_v2.ttf?9578230') format('truetype'),
       url('sidearm_font_v2.svg?9578230#sidearm_font_v2') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sidearm_font_v2';
    src: url('sidearm_font_v2.svg?9578230#sidearm_font_v2') format('svg');
  }
}
*/
 
 [class^="sf-"]:before, [class*=" sf-"]:before {
  font-family: "sidearm_font_v2";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sf-arrows-circle-left:before { content: '\e001'; } /* '' */
.sf-arrows-circle-right:before { content: '\e002'; } /* '' */
.sf-arrows-circle-up:before { content: '\e003'; } /* '' */
.sf-arrows-circle-down:before { content: '\e004'; } /* '' */
.sf-arrow-left-minimal:before { content: '\e005'; } /* '' */
.sf-arrow-right-minimal:before { content: '\e006'; } /* '' */
.sf-arrow-up-minimal:before { content: '\e007'; } /* '' */
.sf-arrow-down-minimal:before { content: '\e008'; } /* '' */
.sf-arrows-left-thin:before { content: '\e009'; } /* '' */
.sf-arrows-right-thin:before { content: '\e010'; } /* '' */
.sf-arrows-up-thin:before { content: '\e011'; } /* '' */
.sf-arrows-down-thin:before { content: '\e012'; } /* '' */
.sf-arrows-square-left:before { content: '\e013'; } /* '' */
.sf-arrows-square-right:before { content: '\e014'; } /* '' */
.sf-arrows-square-up:before { content: '\e015'; } /* '' */
.sf-arrows-square-down:before { content: '\e016'; } /* '' */
.sf-arrows-round-left:before { content: '\e017'; } /* '' */
.sf-arrows-round-right:before { content: '\e018'; } /* '' */
.sf-arrows-round-up:before { content: '\e019'; } /* '' */
.sf-arrows-round-down:before { content: '\e020'; } /* '' */
.sf-arrows-double-left:before { content: '\e021'; } /* '' */
.sf-arrows-double-right:before { content: '\e022'; } /* '' */
.sf-arrows-double-up:before { content: '\e023'; } /* '' */
.sf-arrows-double-down:before { content: '\e024'; } /* '' */
.sf-arrows-thick-left:before { content: '\e025'; } /* '' */
.sf-arrows-thick-right:before { content: '\e026'; } /* '' */
.sf-arrows-thick-up:before { content: '\e027'; } /* '' */
.sf-arrows-thick-down:before { content: '\e028'; } /* '' */
.sf-arrows-long-left:before { content: '\e029'; } /* '' */
.sf-arrows-long-right:before { content: '\e030'; } /* '' */
.sf-arrows-long-up:before { content: '\e031'; } /* '' */
.sf-arrows-long-down:before { content: '\e032'; } /* '' */
.sf-arrows-double-arrow:before { content: '\e033'; } /* '' */
.sf-arrows-expand:before { content: '\e034'; } /* '' */
.sf-twitter:before { content: '\e035'; } /* '' */
.sf-twitter-reply:before { content: '\e036'; } /* '' */
.sf-twitter-retweet:before { content: '\e037'; } /* '' */
.sf-twitter-like:before { content: '\e038'; } /* '' */
.sf-twitter-message:before { content: '\e039'; } /* '' */
.sf-facebook:before { content: '\e040'; } /* '' */
.sf-facebook-square:before { content: '\e041'; } /* '' */
.sf-facebook-like:before { content: '\e042'; } /* '' */
.sf-facebook-like-empty:before { content: '\e043'; } /* '' */
.sf-instagram:before { content: '\e044'; } /* '' */
.sf-instagram-like:before { content: '\e045'; } /* '' */
.sf-instagram-like-empty:before { content: '\e046'; } /* '' */
.sf-youtube:before { content: '\e047'; } /* '' */
.sf-youtube-2:before { content: '\e048'; } /* '' */
.sf-youtube-play:before { content: '\e049'; } /* '' */
.sf-play:before { content: '\e050'; } /* '' */
.sf-snapchat:before { content: '\e051'; } /* '' */
.sf-linkedin:before { content: '\e052'; } /* '' */
.sf-linkedin-square:before { content: '\e053'; } /* '' */
.sf-google-plus:before { content: '\e054'; } /* '' */
.sf-google-plus-square:before { content: '\e055'; } /* '' */
.sf-pinterest:before { content: '\e056'; } /* '' */
.sf-tumblr:before { content: '\e057'; } /* '' */
.sf-tumblr-square:before { content: '\e058'; } /* '' */
.sf-flickr:before { content: '\e059'; } /* '' */
.sf-vimeo:before { content: '\e060'; } /* '' */
.sf-vimeo-square:before { content: '\e061'; } /* '' */
.sf-vine:before { content: '\e062'; } /* '' */
.sf-wordpress:before { content: '\e063'; } /* '' */
.sf-share:before { content: '\e064'; } /* '' */
.sf-minus:before { content: '\e065'; } /* '' */
.sf-minus-minimal:before { content: '\e066'; } /* '' */
.sf-minus-circle:before { content: '\e067'; } /* '' */
.sf-minus-circle-line:before { content: '\e068'; } /* '' */
.sf-minus-square:before { content: '\e069'; } /* '' */
.sf-minus-square-empty:before { content: '\e070'; } /* '' */
.sf-plus:before { content: '\e071'; } /* '' */
.sf-plus-minimal:before { content: '\e072'; } /* '' */
.sf-plus-circle:before { content: '\e073'; } /* '' */
.sf-plus-circle-line:before { content: '\e074'; } /* '' */
.sf-plus-square:before { content: '\e075'; } /* '' */
.sf-plus-square-empty:before { content: '\e076'; } /* '' */
.sf-close:before { content: '\e077'; } /* '' */
.sf-close-minimal:before { content: '\e078'; } /* '' */
.sf-close-circle:before { content: '\e079'; } /* '' */
.sf-close-circle-line:before { content: '\e080'; } /* '' */
.sf-check:before { content: '\e081'; } /* '' */
.sf-check-minimal:before { content: '\e082'; } /* '' */
.sf-check-circle:before { content: '\e083'; } /* '' */
.sf-check-circle-line:before { content: '\e084'; } /* '' */
.sf-check-square:before { content: '\e085'; } /* '' */
.sf-check-square-empty:before { content: '\e086'; } /* '' */
.sf-audio-single:before { content: '\e087'; } /* '' */
.sf-audio-double:before { content: '\e088'; } /* '' */
.sf-audio-triple:before { content: '\e089'; } /* '' */
.sf-microphone:before { content: '\e090'; } /* '' */
.sf-microphone-mute:before { content: '\e091'; } /* '' */
.sf-podcast:before { content: '\e092'; } /* '' */
.sf-bell:before { content: '\e093'; } /* '' */
.sf-bell-mute:before { content: '\e094'; } /* '' */
.sf-bell-mute-empty:before { content: '\e095'; } /* '' */
.sf-bell-empty:before { content: '\e096'; } /* '' */
.sf-megaphone:before { content: '\e097'; } /* '' */
.sf-video:before { content: '\e098'; } /* '' */
.sf-stats:before { content: '\e099'; } /* '' */
.sf-stats-2:before { content: '\e100'; } /* '' */
.sf-stats-minimal:before { content: '\e101'; } /* '' */
.sf-stats-chart-minimal:before { content: '\e102'; } /* '' */
.sf-leaders-minimal:before { content: '\e103'; } /* '' */
.sf-play-by-play-alt-minimal:before { content: '\e104'; } /* '' */
.sf-settings-minimal:before { content: '\e105'; } /* '' */
.sf-settings-2-minimal:before { content: '\e106'; } /* '' */
.sf-tickets:before { content: '\e107'; } /* '' */
.sf-tickets-2:before { content: '\e108'; } /* '' */
.sf-menu:before { content: '\e109'; } /* '' */
.sf-menu-minimal:before { content: '\e110'; } /* '' */
.sf-ellipsis:before { content: '\e111'; } /* '' */
.sf-ellipsis-minimal:before { content: '\e112'; } /* '' */
.sf-ellipsis-vertical:before { content: '\e113'; } /* '' */
.sf-ellipsis-vertical-minimal:before { content: '\e114'; } /* '' */
.sf-list:before { content: '\e115'; } /* '' */
.sf-list-minimal:before { content: '\e116'; } /* '' */
.sf-ordered-list:before { content: '\e117'; } /* '' */
.sf-grid:before { content: '\e118'; } /* '' */
.sf-expand:before { content: '\e119'; } /* '' */
.sf-external-link:before { content: '\e120'; } /* '' */
.sf-external-link-empty:before { content: '\e121'; } /* '' */
.sf-search:before { content: '\e122'; } /* '' */
.sf-search-2:before { content: '\e123'; } /* '' */
.sf-search-2-minimal:before { content: '\e124'; } /* '' */
.sf-calendar:before { content: '\e125'; } /* '' */
.sf-table:before { content: '\e126'; } /* '' */
.sf-camera:before { content: '\e127'; } /* '' */
.sf-camera-2:before { content: '\e128'; } /* '' */
.sf-cart:before { content: '\e129'; } /* '' */
.sf-cart-add:before { content: '\e130'; } /* '' */
.sf-cart-filled:before { content: '\e131'; } /* '' */
.sf-map-marker:before { content: '\e132'; } /* '' */
.sf-map-marker-alt:before { content: '\e133'; } /* '' */
.sf-map-pin:before { content: '\e134'; } /* '' */
.sf-speech:before { content: '\e135'; } /* '' */
.sf-speech-empty:before { content: '\e136'; } /* '' */
.sf-speech-single:before { content: '\e137'; } /* '' */
.sf-speech-single-empty:before { content: '\e138'; } /* '' */
.sf-user:before { content: '\e139'; } /* '' */
.sf-minimal-user:before { content: '\e140'; } /* '' */
.sf-group:before { content: '\e141'; } /* '' */
.sf-group-minimal:before { content: '\e142'; } /* '' */
.sf-group-2-minimal:before { content: '\e143'; } /* '' */
.sf-star:before { content: '\e144'; } /* '' */
.sf-star-empty:before { content: '\e145'; } /* '' */
.sf-star-half:before { content: '\e146'; } /* '' */
.sf-star-half-empty:before { content: '\e147'; } /* '' */
.sf-lock:before { content: '\e148'; } /* '' */
.sf-unlock:before { content: '\e149'; } /* '' */
.sf-unlock-2:before { content: '\e150'; } /* '' */
.sf-donate:before { content: '\e151'; } /* '' */
.sf-email:before { content: '\e152'; } /* '' */
.sf-email-empty:before { content: '\e153'; } /* '' */
.sf-font-size:before { content: '\e154'; } /* '' */
.sf-trophy:before { content: '\e155'; } /* '' */
.sf-newspaper:before { content: '\e156'; } /* '' */
.sf-copy:before { content: '\e157'; } /* '' */
.sf-home:before { content: '\e158'; } /* '' */
.sf-info-circle:before { content: '\e159'; } /* '' */
.sf-picture:before { content: '\e160'; } /* '' */
.sf-printer:before { content: '\e161'; } /* '' */
.sf-rss:before { content: '\e162'; } /* '' */
.sf-send:before { content: '\e163'; } /* '' */
.sf-sync:before { content: '\e164'; } /* '' */
.sf-tools:before { content: '\e165'; } /* '' */
.sf-trash:before { content: '\e166'; } /* '' */
.sf-monitor:before { content: '\e167'; } /* '' */
.sf-tv:before { content: '\e168'; } /* '' */
.sf-tablet:before { content: '\e169'; } /* '' */
.sf-iphone:before { content: '\e170'; } /* '' */
.sf-phone:before { content: '\e171'; } /* '' */
.sf-play-round:before { content: '\e172'; } /* '' */
.sf-rewind-30:before { content: '\e173'; } /* '' */
.sf-forward-30:before { content: '\e174'; } /* '' */
.sf-cc:before { content: '\e175'; } /* '' */
.sf-user-circle:before { content: '\e176'; } /* '' */
.sf-user-identity:before { content: '\e177'; } /* '' */
.sf-menu-left:before { content: '\e178'; } /* '' */
.sf-menu-right:before { content: '\e179'; } /* '' */
.sf-dashboard:before { content: '\e180'; } /* '' */
.sf-search-3:before { content: '\e181'; } /* '' */
.sf-build:before { content: '\e182'; } /* '' */
.sf-sync-v2:before { content: '\e183'; } /* '' */
.sf-charts:before { content: '\e184'; } /* '' */
.sf-timeline:before { content: '\e185'; } /* '' */
.sf-check-double:before { content: '\e186'; } /* '' */
.sf-globe:before { content: '\e187'; } /* '' */
.sf-eye:before { content: '\e188'; } /* '' */
.sf-cloud-empty:before { content: '\e189'; } /* '' */
.sf-car:before { content: '\e190'; } /* '' */
.sf-awards:before { content: '\e191'; } /* '' */
.sf-launch:before { content: '\e192'; } /* '' */
.sf-dollar:before { content: '\e193'; } /* '' */
.sf-university:before { content: '\e194'; } /* '' */
.sf-loop:before { content: '\e195'; } /* '' */
.sf-play-minimal:before { content: '\e196'; } /* '' */
.sf-calendar-minimal:before { content: '\e197'; } /* '' */
.sf-clock:before { content: '\e198'; } /* '' */
.sf-link:before { content: '\e199'; } /* '' */
.sf-pause:before { content: '\e200'; } /* '' */
.sf-pause-minimal:before { content: '\e201'; } /* '' */
.sf-warning:before { content: '\e202'; } /* '' */
.sf-shot-chart-minimal:before { content: '\e203'; } /* '' */
.sf-contract:before { content: '\e204'; } /* '' */