@charset "UTF-8";

body {
	background-color: #B7B7B7;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
#mastheadBanner {
	background-image: url(../images/templates/main_609/2013mastBackground.gif);
	background-repeat: repeat;
	width: 100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	background-color: #B7B7B7;
	margin: 0px;
	padding: 0px;
	height: 90px;
}
#masthead {
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	height: 90px;
	width: 980px;
	background-image: url(../images/templates/main_609/2013mastBackground.gif);
	background-repeat: repeat;
}
#UConnLogo {
	float: left;
	margin: 0px;
	width: 167px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	height: 90px;
}
#mastHeaderWrapper {
	float: left;
	width: 550px;
	padding-left: 22px;
	margin-top: 13px;
}
#CANRheaderText {
	font-family:'proxima_nova_ltsemibold', Helvetica, Arial, sans-serif !important;/*KB font change per new UConn Identity Update 2013*/
	font-size: 15px;
	padding-top: 9px;
	padding-bottom: 2px;
	color: #101E42;
}
#CenterHeaderText {
	font-family:'proxima_nova_ltsemibold', Helvetica, Arial, sans-serif !important;/*KB font change per new UConn Identity Update 2013*/
	font-size: 22px;
	color: #101E42;
}
#clearLogo {
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: 90px;
}
#navBarBanner {
	width: 100%;
	background-image: url(../images/templates/main_609/2013navBackground2.gif);
	background-repeat: repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	/* [disabled]border-top-width: 2px; */
	/* [disabled]border-top-style: solid; */
	/* [disabled]border-top-color: #FFF; */
}
#navBar {
	height: 31px;/* EW changed from 32 to 31 to match photoshop doc*/
	background-image: url(../images/templates/main_609/2013navBackground2.gif);
	background-repeat: repeat;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
#navBarSpacer {/* KB added for left border in main nav */
	background-color: #7795C6;
	height: 31px;
	width: 1px;
	float: left;
	margin: 0px;
	padding: 0px;
}
#subNav {
	height: 31px;
	/* [disabled]width: 980px; */
	/* [disabled]background: #34B5D0; */
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
.sub_nav {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	float: right;
	padding-right: 5px;
	text-align: right;
	/* [disabled]padding-top: 10px; */
	/* [disabled]color: #FFF; */
	line-height: 30px;
}
.sub_nav a:link  {
	color: #FFF;
}
.sub_nav a:visited {
	color: #FFF;
}
.sub_nav a:hover {
	color: #4DC8E9;
}
.sub_nav a:active {
	color: #4DC8E9;
}
#container {/* KB holds all main and editable content in all templates.*/
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
	width: 980px;
	margin-top: 0px;
	background-color: #FFF;
}
#mainContent { /* KB controls padding/margins of "Main Temlplate" page content. editable region within here.*/
	padding-top: 40px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 40px;
	left: 0px;
	height: auto;
} 	
#topHorizPhoto {
	/* [disabled]background-color: #CCC; */
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
}
/*-----------Footer-------------------------*/
#footer {
	height: 290px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #B7B7B7;
	padding-top: 5px;
	background-color: #DEDEDE;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
} 	
#footerWrapper {
	height: 210px;
	width: auto;
}
#footer_links {
	width: 130px;
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #FFF;
	padding-top: 0px;
	padding-right: 5px;
	padding-left: 30px;
	float: left;
	height: 170px;
}
#footer_contact {
	width: 360px;
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #FFF;
	padding-top: 0px;
	float: left;
	height: 195px;
	margin-left: 20px;
}
#footer_extras {
	width: 400px;
	padding-top: 0px;
	float: right;
	height: 170px;
	margin-top: 10px;
	margin-right: 10px;
}
#mailingList {
	margin-top: 0px;
	float: left;
	width: 260px;
}
#footer_icons {
	text-align: center;
	height: 55px;
	padding-top: 0px;
	background-color: #DEDEDE;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
}
#other_logos {
	float: right;
	width: 130px;
	margin-top: 40px;
	margin-right: 10px;
}
#footer_copyright {
	/* [disabled]background-color: #DEDEDE; */
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #B7B7B7;
	padding: 10px;
}
#shadow {/*KB shadow div also in index css...added for general main pages*/
	background-image: url(../../nemonet.uconn.edu/images/template/shadow.gif);
	background-repeat: repeat-x;
	height: 8px;
	/* [disabled]border-right-width: 2px; */
	/* [disabled]border-left-width: 2px; */
	/* [disabled]border-right-style: solid; */
	/* [disabled]border-left-style: solid; */
	/* [disabled]border-right-color: #FFF; */
	/* [disabled]border-left-color: #FFF; */
}
