/* ::::: http://www.ci.newark.ca.us/css/styles.css (@media all) ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
:focus { outline: 0px none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0px; }
body { background: rgb(230, 202, 125) url("bg.gif") repeat-x scroll 0px 0px; font-family: Arial,Helvetica,sans-serif; text-align: center; }
img { display: block; }
a.extlink { display: inline-block; padding: 0px 0px 0px 20px; background: transparent url("new.gif") no-repeat scroll 0px 3px; }
#header ul.nav li a.extlink { display: block; background-position: 0px 1px; }
img.pdf { display: inline; margin: 2px 2px 0px 0px; }
#wrapper { width: 968px; background: rgb(255, 255, 255) url("wrapper-bg.gif") repeat-y scroll 0px 0px; text-align: left; margin: 0px auto; }
#wrapperInner { background: transparent url("wrapperInner-bg.gif") no-repeat scroll 0px 0px; padding: 0px 14px; }
#wrapperInner::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#header { width: 940px; height: 145px; background: rgb(255, 255, 255) url("header-bg.gif") no-repeat scroll 0px 0px; position: relative; z-index: 120; }
#header h1 { height: 25px; overflow: hidden; }
#header h1 a { display: block; width: 85px; height: 110px; text-indent: -9999px; position: absolute; top: 22px; left: 279px; }
#headerPhoto { position: absolute; top: 0px; left: 0px; }
#header h2 { width: 149px; height: 21px; background: rgb(255, 255, 255) url("header-h2-bg.gif") no-repeat scroll 0px 0px; font-size: 11px; font-weight: normal; line-height: 21px; text-indent: 5px; cursor: pointer; }
#header ul.nav { font-size: 11px; margin: 0px 0px 0px 480px; }
#header ul.nav li { float: left; padding: 0px 5px 1px; border-right: 1px solid rgb(156, 147, 58); }
#header ul.nav li.last { border: medium none; }
#header ul.nav li a { color: rgb(156, 147, 58); text-decoration: none; }
#header ul.nav li a:hover { text-decoration: underline; }
#header div.subnav { width: 149px; float: left; margin: 12px 6px 0px 0px; display: inline; }
#header div.first { clear: both; margin: 12px 6px 0px 480px; }
#header div.select { position: relative; }
#header div.select ul { width: 149px; font-size: 11px; position: absolute; top: 21px; left: 0px; z-index: 100; display: none; }
#header div.select ul.over { display: block; }
#header div.select ul li { margin-bottom: 0px; padding-bottom: 0px; }
#header div.select ul li a { display: block; color: rgb(0, 0, 0); line-height: normal; text-decoration: none; background-color: rgb(255, 255, 255); padding: 5px; border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); margin-bottom: 0px; }
#header div.select ul li a:hover { background-color: rgb(204, 204, 204); }
#header div.last { margin: 12px 0px 0px; position: relative; }
#header div.last input { width: 115px; height: 14px; background: rgb(255, 255, 255) url("header-search-bg.gif") no-repeat scroll 0px 0px; font-size: 11px; padding: 5px 5px 2px; position: absolute; top: 0px; left: 0px; }
#header div.last button#submit { display: block; width: 24px; height: 21px; padding: 0px; margin: 0px; background: rgb(255, 255, 255) url("header-search-bg.gif") no-repeat scroll right top; text-indent: -9999px; text-align: left; position: absolute; top: 0px; left: 125px; cursor: pointer; border: medium none; }
#mainNav { position: relative; z-index: 100; height: 44px; text-transform: uppercase; background: rgb(31, 66, 127) url("mainNav-bg.gif") repeat-x scroll 0px 0px; }
#mainNav li { float: left; background: transparent url("mainNav-li-bg.gif") no-repeat scroll 0px 0px; display: inline; }
ul#mainNav li:hover, ul#mainNav li.active { background: transparent url("mainNav-li-on-bg.gif") no-repeat scroll 0px 0px; }
ul#mainNav li.first { margin: 0px 0px 0px 405px; }
ul#mainNav li h2 { font-size: 14px; }
#mainNav li a { display: block; color: rgb(218, 197, 121); text-decoration: none; padding: 14px 15px 14px 19px; }
#mainNav li:hover a, #mainNav li.active a { color: rgb(255, 255, 255); }
ul#mainNav li.last a { background: transparent url("mainNav-li-bg.gif") no-repeat scroll right top; padding: 14px 19px; }
#mainNav li ul.nav-sub { width: 250px; position: absolute; display: none; padding: 1px 0px 0px; }
#mainNav li ul.nav-sub li { float: none; background: transparent none repeat scroll 0% 0%; padding: 0px 0px 0px 4px; display: block; position: relative; }
#mainNav li ul.nav-sub li:hover { background: transparent none repeat scroll 0% 0%; }
#mainNav li ul.nav-sub li a { width: 250px; font-size: 12px; background: rgb(218, 197, 121) none repeat scroll 0% 0%; text-transform: none; text-decoration: none; text-indent: 15px; color: rgb(0, 0, 0); padding: 7px 0px; margin: -1px 0px 0px; }
#mainNav li ul.nav-sub li a:hover { background-color: rgb(83, 104, 154); color: rgb(255, 255, 255); font-weight: bold; }
#mainNav li ul.nav-sub li ul { display: none; position: absolute; top: 1px; left: -250px; }
#mainNav li ul.nav-sub li ul li {  }
#mainNav li ul.nav-sub li ul li a { text-indent: 15px; background-color: rgb(233, 209, 140); }
#content { position: relative; width: 940px; background: rgb(255, 255, 255) url("content-bg.gif") repeat-y scroll 0px 0px; margin: 0px 0px 25px; overflow: hidden; }
.two-column #content, .three-column #content { margin: 0px 0px 10px; }
#contentColumn { position: relative; width: 688px; float: right; overflow: hidden; }
#slideShow { position: relative; overflow: hidden; width: 688px; height: 412px; }
#contentColumn table { margin: 0px 0px 0px 25px; width: 650px; font-size: 12px; border-left: 1px solid rgb(239, 239, 239); border-top: 1px solid rgb(239, 239, 239); }
#contentColumn table#tableSort { font-size: 11px; margin: 10px 0px 0px; }
#contentColumn table th, #contentColumn table td { padding: 5px; border-bottom: 1px solid rgb(239, 239, 239); border-right: 1px solid rgb(239, 239, 239); }
#contentColumn table.noborder, #contentColumn table.noborder th, #contentColumn table.noborder td { border: medium none; }
#contentColumn table#eventCalendar th { text-align: center; height: 20px; background-color: rgb(122, 138, 182); color: rgb(255, 255, 255); }
#contentColumn table#eventCalendar th a { color: rgb(255, 255, 255); }
#contentColumn table#eventCalendar th.calendarDayHeading { font-weight: normal; background-color: rgb(240, 224, 176); color: rgb(0, 0, 0); }
#contentColumn table#eventCalendar td { font-size: 10px; height: 100px; width: 98px; }
#contentColumn table#eventCalendar td a { display: block; margin-bottom: 10px; }
#contentColumn table tr.odd td { background-color: rgb(239, 239, 239); }
#contentColumn table.blue tr.odd td { background-color: rgb(155, 167, 200); }
#contentColumn table th { padding: 5px 20px 5px 10px; }
#contentColumn table h3 { padding: 0px; }
#contentColumn table thead tr .header { background-image: url("s-bg.gif"); background-repeat: no-repeat; background-position: right center; cursor: pointer; }
#contentColumn table thead tr .headerSortUp { background-image: url("asc.gif"); }
#contentColumn table thead tr .headerSortDown { background-image: url("desc.gif"); }
#contentColumn img.left { display: block; margin: 15px 25px; float: left; }
#contentColumn img.right { display: block; margin: 15px 25px; float: right; }
#contentColumn h4 { font-size: 14px; line-height: normal; padding: 0px 25px; margin: 15px 0px; }
#contentColumn p img.left, #contentColumn p img.right, #contentColumn h3 img.left, #contentColumn h3 img.right { margin: 0px 0px 15px; }
#contentColumn p img.left, #contentColumn h3 img.left { margin-right: 25px; }
#contentColumn p img.right, #contentColumn h3 img.right { margin-left: 25px; }
.three-column #contentColumn, .two-column #contentColumn { line-height: 17px; background: rgb(255, 255, 255) url("contentColumn-bg.gif") repeat-y scroll 0px 0px; }
.two-column #contentColumn { background: transparent none repeat scroll 0% 0%; }
.three-column #contentColumn div.left { position: relative; width: 445px; float: left; }
.three-column #contentColumn div.right { position: relative; width: 243px; float: right; }
#contentColumn h1 { font-size: 22px; line-height: 40px; color: rgb(255, 255, 255); background-color: rgb(122, 138, 182); padding: 0px 25px; }
#contentColumn h2 { font-size: 24px; line-height: normal; color: rgb(218, 197, 121); margin: 0px 25px 15px; }
#contentColumn.news h2 { margin: 5px 25px 15px; }
#contentColumn .news-item h3 span { color: rgb(0, 0, 0); font-size: 11px; font-weight: normal; }
#contentColumn .news-item { margin-bottom: 30px; }
#contentColumn .right h3, #contentColumn h3 { font-size: 14px; line-height: normal; color: rgb(83, 104, 154); padding: 0px 25px; margin: 15px 0px; }
#contentColumn .right td h3, #contentColumn td h3 { margin-bottom: 0px; }
#contentColumn p, #contentColumn ul, #contentColumn ol, #contentColumn dl { font-size: 12px; margin: 15px 25px; }
#contentColumn ol { list-style-type: decimal; padding: 0px 25px; margin: 15px 25px; }
#contentColumn table p { margin: 15px 0px; }
#contentColumn a { color: rgb(110, 103, 41); }
#contentColumn a:hover { text-decoration: none; }
#contentColumn p.caption { font-size: 11px; font-style: italic; text-align: center; margin: 5px 25px; }
#contentColumn p.caption img { padding: 4px; margin: 0px auto; }
#contentColumn ul li { background: rgb(255, 255, 255) url("contentColumn-li-bg.gif") no-repeat scroll 0px 6px; padding: 0px 0px 5px 13px; }
#contentColumn ol li { padding: 0px 0px 5px; }
#contentColumn ul.pagination { overflow: hidden; }
#contentColumn ul.pagination li { background: transparent none repeat scroll 0% 0%; padding: 0px; margin: 0px 5px 0px 0px; float: left; }
#contentColumn dl dt { font-weight: bold; }
#contentColumn dl dd { padding: 0px 0px 5px 15px; }
#contentColumn.sitemap #sitemapWrap { position: relative; padding-bottom: 1000px; }
#contentColumn.sitemap #sitemapWrap ul#sitemap { width: 344px; }
#contentColumn.sitemap #sitemapWrap #departments { position: absolute; top: 0px; right: 0px; width: 344px; }
#contentColumn.sitemap ul li { font-size: 15px; font-weight: bold; background: transparent none repeat scroll 0% 0%; padding: 0px 0px 15px; }
#contentColumn.sitemap ul li ul li { font-size: 12px; font-weight: normal; background: rgb(255, 255, 255) url("contentColumn-li-bg.gif") no-repeat scroll 0px 6px; padding: 0px 0px 5px 13px; }
#contentColumn.sitemap ul li ul li ul { margin-bottom: 0px; }
#contentColumn p.breadcrumb { color: rgb(111, 102, 90); font-size: 11px; line-height: 25px; padding: 0px 0px 15px; margin: 0px 25px; background-color: rgb(255, 255, 255); }
#contentColumn p.breadcrumb a { color: rgb(111, 102, 90); text-decoration: none; }
#contentColumn p.breadcrumb a:hover { text-decoration: underline; }
#contentColumn p.breadcrumb strong { color: rgb(83, 104, 154); }
#sidebar { position: relative; width: 252px; float: right; font-size: 12px; line-height: 17px; color: rgb(255, 255, 255); }
#sidebar h2 { font-size: 14px; line-height: 40px; text-transform: uppercase; padding: 0px 15px; }
.two-column #sidebar h4, .three-column #sidebar h4 { color: rgb(31, 66, 127); background-color: rgb(218, 197, 121); line-height: 25px; padding: 0px 15px; }
#sidebar #newstickerWrapper { background-color: rgb(122, 138, 182); padding: 15px; }
#sidebar .newsticker ul { background-color: rgb(122, 138, 182); }
#sidebar .newsticker ul li { padding: 15px 0px; border-bottom: 2px dotted rgb(255, 255, 255); overflow: hidden; height: 73px ! important; position: relative; }
#sidebar .newsticker ul li img { margin: 0px 0px 5px; }
#sidebar .newsticker ul li.last { border: medium none; }
#sidebar .newsticker h3 a { color: rgb(255, 255, 255); text-decoration: underline; }
#sidebar .newsticker h3 a:hover { text-decoration: none; }
#sidebar .pagination a { width: 28px; height: 14px; background: transparent url("arrows.gif") no-repeat scroll 0% 0%; }
#sidebar .pagination .prev { position: absolute; top: 13px; right: 10px; text-indent: -9999px; }
#sidebar .pagination .next { position: absolute; bottom: -24px; right: 10px; text-indent: -9999px; background-position: 0px -16px; }
#sidebar ul.nav-sub { background-color: rgb(122, 138, 182); padding: 0px 0px 30px; position: relative; }
#sidebar ul.nav-sub li ul { display: none; position: relative; }
#sidebar ul.nav-sub li { position: relative; list-style-type: none; }
#sidebar ul.nav-sub li a { display: block; line-height: normal; color: rgb(255, 255, 255); text-decoration: none; padding: 5px 25px; position: relative; }
#sidebar ul.nav-sub li ul li a { padding: 5px 25px 5px 40px; }
#sidebar ul.nav-sub li a:hover, #sidebar ul.nav-sub li.here a, #sidebar ul.nav-sub li.parent-here a { background-color: rgb(83, 104, 154); }
#sidebar ul.nav-sub li.here ul li a, #sidebar ul.nav-sub li.parent-here ul li a { background-color: rgb(122, 138, 182); }
#sidebar ul.nav-sub li.here ul li a:hover, #sidebar ul.nav-sub li.parent-here ul li a:hover, #sidebar ul.nav-sub li.parent-here ul li.here a, #sidebar ul.nav-sub li.parent-here ul li.parent-here a { background-color: rgb(102, 121, 168); }
#sidebar ul.nav-sub li ul li ul li a, #sidebar ul.nav-sub li.parent-here ul li ul li a, #sidebar ul.nav-sub li.parent-here ul li.parent-here ul li a, #sidebar ul.nav-sub li.parent-here ul li.here ul li a { padding: 5px 25px 5px 55px; background-color: rgb(122, 138, 182); }
#sidebar ul.nav-sub li.here ul li ul li a:hover, #sidebar ul.nav-sub li.parent-here ul li.here ul li a:hover, #sidebar ul.nav-sub li.parent-here ul li.parent-here ul li a:hover, #sidebar ul.nav-sub li.parent-here ul li.parent-here ul li.here a { background-color: rgb(112, 129, 175); }
#sidebar ul.nav-sub li.here ul, #sidebar ul.nav-sub li.parent-here ul { display: block; }
#sidebar ul.nav-sub li.here ul ul, #sidebar ul.nav-sub li.parent-here ul ul { display: none; }
#sidebar ul.nav-sub li.parent-here ul li.parent-here ul, #sidebar ul.nav-sub li.parent-here ul li.here ul { display: block; }
#sidebar ul.nav-sub li span { position: absolute; top: 5px; left: 7px; width: 14px; height: 14px; background: transparent url("plus-minus.png") no-repeat scroll 0px 0px; cursor: pointer; z-index: 100; }
#sidebar ul.nav-sub li ul span { position: absolute; top: 5px; left: 22px; width: 14px; height: 14px; background: transparent url("plus-minus.png") no-repeat scroll 0px 0px; }
#sidebar ul.nav-sub li.here span, #sidebar ul.nav-sub li.parent-here span, #sidebar ul.nav-sub li.parent-here ul li.here span { background: transparent url("plus-minus.png") no-repeat scroll 0px -15px; }
#sidebar ul.nav-sub li.here ul li span, #sidebar ul.nav-sub li.parent-here ul li span { background: transparent url("plus-minus.png") no-repeat scroll 0px 0px; }
#sidebar ul.nav-sub li span.collapse { background-position: 0px -15px ! important; }
#sidebar ul.nav-sub li span.collapsed { background-position: 0px 0px ! important; }
#sidebar form { margin: 0px 15px; }
#sidebar form h2 { padding: 0px; }
#sidebar form input { width: 210px; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px; border: 1px solid rgb(31, 66, 127); margin: 0px 0px 5px; }
#sidebar form button { display: block; width: 92px; height: 25px; background: transparent url("subscribe.gif") no-repeat scroll 0px 0px; text-indent: -9999px; border: medium none; font-size: 0px; line-height: 0px; padding: 0px; cursor: pointer; }
#subContent { clear: both; background: rgb(255, 255, 255) url("subContent-bg.gif") repeat-y scroll 0px 0px; margin: 0px 0px 25px; overflow: hidden; }
#homeSub1 { width: 252px; float: left; }
#calendarWrap { line-height: 12px; background: transparent url("calendarWrap-bg.gif") no-repeat scroll left bottom; padding: 0px 26px 15px; }
.two-column #calendarWrap, .three-column #calendarWrap { background: transparent url("calendarWrap-bg2.gif") no-repeat scroll left bottom; margin-top: 15px; }
#calendarWrap table { width: 200px; font-size: 12px; text-align: center; color: rgb(153, 153, 153); border: 1px solid rgb(153, 153, 153); border-collapse: separate; background-color: rgb(255, 255, 255); }
#calendarWrap table th, #calendarWrap table td { padding: 5px; }
#calendarWrap table th { color: rgb(255, 255, 255); background-color: rgb(126, 145, 100); }
#calendarWrap table td.calendarDayHeading, #calendarWrap table td.calendarToday { font-weight: bold; }
#calendarWrap table td.calendarToday { background-color: rgb(218, 197, 121); }
#calendarWrap table th a { color: rgb(255, 255, 255); text-decoration: none; }
#calendarWrap table th a:hover { text-decoration: underline; }
#calendarWrap table td.calendarToday a { color: rgb(255, 255, 255); }
.calendarCell a { color: rgb(156, 147, 58); }
#homeSub2 { width: 509px; float: left; line-height: 17px; overflow: hidden; }
#homeSub2 img { float: left; margin: 0px 15px 0px 0px; }
#homeSub2 p img.left, #homeSub2 p img.right { float: left; margin: 0px 25px 0px 0px; }
#homeSub2 h3, #homeSub2 h2 { font-size: 15px; color: rgb(31, 66, 127); padding: 10px 25px 10px 0px; }
#homeSub2 h2 { padding: 0px 25px 10px; }
#homeSub2 p { font-size: 12px; margin: 0px 25px 10px; }
#homeSub2 p a { color: rgb(156, 147, 58); }
#homeSub3 { width: 179px; float: left; }
#contentColumn ul#theResults { margin: 15px 0px 0px; }
#contentColumn ul#theResults li img { display: none; }
#contentColumn ul#theResults li { background: transparent none repeat scroll 0% 0%; padding: 0px; }
#contentColumn ul#theResults li p { margin-top: 0px; }
#contentColumn ul#theResults li p.first { margin-bottom: 0px; }
#footer { clear: both; width: 968px; font-size: 11px; color: rgb(111, 102, 90); background: transparent url("footer-bg.gif") no-repeat scroll 0px 0px; padding: 30px 0px 0px; margin: 0px auto; }
#footer ul { width: 100px; line-height: 17px; text-align: left; float: left; padding: 20px 0px; overflow: hidden; }
#footer ul.first { padding: 20px 0px 20px 307px; }
#footer ul.last { width: 200px; }
#footer ul li a { color: rgb(111, 102, 90); text-decoration: none; }
#footer ul li a:hover { text-decoration: underline; }
#footer ul.last li.last { text-transform: uppercase; }
.error #wrapper { padding-bottom: 75px; }
.error #content { height: 400px; background: transparent none repeat scroll 0% 0%; margin: 0px; }
.error #contentColumn { float: none; width: auto; padding: 75px 75px 0px; }
.error #contentColumn h1 { background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); line-height: normal; }
.error #contentColumn ul { margin: 25px; }
.paginate { font-size: 11px; margin: 25px; }
.prev-next { position: relative; line-height: 2; }
#contentColumn form input, #contentColumn form#freeform p.radio input.last { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); font-size: 11px; padding: 3px; margin: 0px; }
#contentColumn form input.checkbox, #contentColumn form input.radio { border: medium none ! important; }
#contentColumn form td { vertical-align: top; }
#contentColumn form textarea { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); font-size: 11px; padding: 3px; margin: 0px; }
#contentColumn form#freeform label { display: block; }
#contentColumn form#freeform input, #contentColumn form#freeform p.radio input.last { width: 200px; }
#contentColumn form#freeform p.radio { font-size: 11px; }
#contentColumn form#freeform p.radio label { font-size: 12px; margin: 0px 0px 5px; }
#contentColumn form#freeform p.radio input { width: auto; border: medium none; padding: 0px; margin: 0px 0px 0px 5px; }
#print-header { display: none; }
.grid-wrapper { position: relative; padding: 50px 0px 0px 25px; }
#pager { padding: 25px 0px; position: absolute; top: 0px ! important; }
#pager * { display: inline; }
#pager img { position: relative; top: 3px; cursor: pointer; }
#pager input { border: 1px solid rgb(239, 239, 239); font-size: 11px; width: 50px; height: 16px; padding: 3px 0px 0px; }
.botstyle { color: rgb(153, 51, 102); display: none; }
#contentColumn .accordion { position: relative; border: 1px solid rgb(0, 0, 0); margin: 0px 25px; background-color: rgb(255, 255, 255); }
#contentColumn .accordion div { position: relative; padding: 0px 10px; width: 600px; overflow: hidden ! important; }
#contentColumn .accordion p { margin: 0px; padding: 10px 0px; }
#contentColumn .accordion h3 { padding: 0px; background: rgb(0, 65, 131) none repeat scroll 0% 0%; margin: 0px; border-bottom: 1px solid rgb(255, 255, 255); cursor: pointer; }
#contentColumn .accordion h3 a { color: rgb(255, 255, 255); text-decoration: none; display: block; padding: 5px 10px; }
#contentColumn .accordion h3.ui-state-active, #contentColumn .accordion h3 a:hover { background-color: rgb(172, 185, 209); }
#globalAlert { height: 45px; background: transparent url("alert-bg.gif") repeat scroll 0px 0px; }
#globalAlert .pad { width: 968px; margin: 0px auto; position: relative; }
#globalAlert p { font-size: 15px; font-style: italic; line-height: 43px; text-align: left; color: rgb(255, 255, 255); padding: 0px 0px 0px 40px; }
#globalAlert p a { color: rgb(255, 255, 255); }
#globalAlert p a:hover { text-decoration: none; }
#globalAlert .pad img { position: absolute; top: 7px; left: 0px; }
#globalAlert p strong { font-style: normal; }
#manual a { color: rgb(110, 103, 41); }
#manual a:hover { text-decoration: none; }
#manual #wrapperInner { line-height: normal; padding: 25px; font-size: 12px; }
#manual #wrapperInner p, #manual #wrapperInner ul { margin: 0px 0px 25px; }
#manual #wrapperInner p#table { font-size: 12px; text-align: center; margin: 25px 0px 0px; }
#manual #wrapperInner img { margin: 25px auto; }
#manual #wrapperInner ul li { margin: 0px 0px 10px; }
#manual h1 { width: 735px; font-size: 40px; line-height: 109px; text-transform: uppercase; margin: 0px 0px 25px; }
#manual h1 img { float: left; margin: 0px 25px 0px 0px ! important; }
#manual h2 { font-size: 30px; margin: 0px 0px 15px; position: relative; }
#manual h2 a { color: rgb(255, 255, 255); background-color: rgb(110, 103, 41); padding: 3px 5px; text-decoration: none; font-weight: normal; font-size: 22px; }
#manual h3 { font-size: 25px; margin: 0px 0px 15px; font-weight: normal; }
#manual #wrapperInner ul, #manual ul, #manual ol { margin: 0px 0px 0px 20px; }
#manual ul li { margin: 0px 0px 0px 15px; list-style-type: disc; }
#manual ol li { margin: 0px 0px 10px 15px; list-style-type: decimal; }
#manual #pages { font-size: 12px; margin: 25px 0px 0px; }
#manual #nextpage { float: right; }
/* ::::: http://www.ci.newark.ca.us/css/print.css (@media print) ::::: */

@media print {
#header, #mainNav, #sidebar, #footer ul { display: none; }
#print-header { display: block; margin: 0px 0px 20px 25px; }
#contentColumn { width: 100%; }
}
/* ::::: [internal] ::::: */

#contentColumn .right h3, #contentColumn h3 { padding: 0px ! important; margin: 15px 25px ! important; }
/* ::::: https://d10lpsik1i8c69.cloudfront.net/css/reset.css (@media all) ::::: */

.__lo_poll_choice { transition: background-color 0.2s ease-in-out 0s; }
#lo_chat_box input, #lo_chat_box textarea, #lo_poll_box textarea, #lo_pre_chat_form input { box-sizing: border-box; }
#lo_chat_box td { padding: initial; border: medium none; vertical-align: middle; }
#lo_chat_box, #lo_poll_box { bottom: -400px; transition: bottom 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) 0s, background-color 0.5s ease-in-out 0s; }
.__lo_poll_choice > div { font-size: inherit; color: inherit; font-weight: inherit; width: inherit; }
.__lo_poll_choice > div > label { display: inline; font-size: inherit; color: inherit; background-color: inherit; }
.__lo_poll_choice input[type="radio"] { -moz-appearance: radio; }
#_lo_poll_comments { font-family: inherit; font-size: inherit; height: auto; }
#lo_chat_box table, #lo_chat_box table td, #lo_chat_box table td:first-child, #lo_chat_box table th, #lo_chat_box table tr:first-child, #lo_chat_box table tr:last-child, #lo_chat_box tbody, #lo_chat_box tfoot, #lo_chat_box thead, #lo_chat_box tr, #lo_chat_boxtable td:last-child { display: block; width: auto; height: auto; margin: 0px; padding: 0px; border-width: medium; border-style: none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-collapse: inherit; border-spacing: 0px; border-color: inherit; vertical-align: inherit; text-align: left; font-weight: inherit; }
#lo_chat_box #lo_operator { padding: 10px; }
#lo_chat_box #lo_operator .operator_title_wrap { clear: right; float: right; width: 82%; }
#lo_chat_box .operator_img_wrap, #lo_chat_box .operator_img_wrap img { float: left; }
#lo_chat_box input, #lo_chat_box select, #lo_chat_box textarea { font-size: 12px; min-height: initial; margin: 0px; }
#lo_chat_box table td, #lo_chat_box table th { display: inline; }
#lo_chat_box table { vertical-align: middle; }
[dir="ltr"] #lo_chat_box { text-align: left; }
[dir="rtl"] #lo_chat_box { text-align: right; }
#lo_chat_box { text-align: start; }
@media all and (max-device-width: 480px) {
  #lo_chat_box input, #lo_chat_box select, #lo_chat_box textarea { font-size: 16px; }
}
