@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(4) > div:nth-of-type(2) > table:nth-of-type(1) > tbody:nth-of-type(1) > tr:nth-of-type(2) > td:nth-of-type(3) {
		vertical-align: top !important;  /* top */
	}
}