.vjs-thumbnail-holder {
	left: -1000px; position: absolute;
}
.vjs-thumbnail {
	transition:opacity 0.2s; left: 0px; bottom: 1.3em; position: absolute; opacity: 0; -webkit-transition: opacity .2s ease; -moz-transition: opacity .2s ease; -mz-transition: opacity .2s ease;
}
.vjs-progress-control:hover .vjs-thumbnail {
	opacity: 1;
}
.vjs-progress-control.fake-active .vjs-thumbnail {
	opacity: 1;
}
.vjs-progress-control:active .vjs-thumbnail {
	opacity: 1;
}
.vjs-progress-control:hover .vjs-thumbnail:hover {
	opacity: 0;
}
.vjs-progress-control:active .vjs-thumbnail:active {
	opacity: 0;
}
