.bucket_list li {
	margin-bottom: 8px;
}
.videoWrapper {
	height: 0px; padding-top: 0px; padding-bottom: 56.2%; position: relative;
}
video {
	left: 0px; top: 0px; width: 100% !important; height: 100% !important; position: absolute !important;
}
video.video-js {
	
}
.video-js .vjs-controls {
	
}
.vjs-default-skin .vjs-big-play-button {
	
}
.vjs-default-skin .vjs-control-bar {
	background-color: rgba(20, 20, 20, 0.7);
}
.vjs-default-skin .vjs-play-progress {
	background: rgb(139, 19, 11);
}
.vjs-default-skin .vjs-volume-level {
	background: rgb(139, 19, 11);
}
.vjs-default-skin .vjs-big-play-button {
	background: none; padding: 0px; border-radius: 0.2em; border: currentColor; border-image: none; color: rgb(255, 255, 255); font-size: 8em; z-index: 1 !important; opacity: 0.4; box-shadow: none; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.vjs-default-skin:hover .vjs-big-play-button {
	background: none; outline: 0px; transition:all; opacity: 0.6; box-shadow: none; -webkit-transition: all 0s; -moz-transition: all 0s; -o-transition: all 0s; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.vjs-default-skin .vjs-big-play-button:focus {
	background: none; outline: 0px; transition:all; opacity: 0.6; box-shadow: none; -webkit-transition: all 0s; -moz-transition: all 0s; -o-transition: all 0s; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.videoWrapper .video-js {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100% !important; height: 100% !important; position: absolute;
}
.videoWrapper object {
	left: 0px; top: 0px; width: 100%; height: 100% !important; position: absolute;
}
.videoWrapper embed {
	left: 0px; top: 0px; width: 100%; height: 100% !important; position: absolute;
}
.vjs-spinner {
	display: none !important;
}
.video-js img.vjs-poster {
	width: 100% !important; height: 100% !important; max-width: 100%;
}
.vjs-menu ul {
	margin: 0px; padding: 0px; line-height: 10px; font-size: 10px; font-weight: 300;
}
.vjs-default-skin .vjs-captions-button {
	
}
.vjs-default-skin .vjs-subtitles-button::before {
	font-family: FontAwesome; content: "\f20a";
}
