@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-hairline.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-hairline.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-hairline.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-hairline.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 100;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-hairlineitalic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-hairlineitalic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-hairlineitalic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-hairlineitalic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 100;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-thin.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-thin.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-thin.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-thin.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 200;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-thinitalic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-thinitalic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-thinitalic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-thinitalic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 200;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-light.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-light.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-light.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-light.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 300;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-lightitalic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-lightitalic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-lightitalic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-lightitalic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 300;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-regular.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-regular.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-regular.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-regular.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-italic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-italic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-italic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-italic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: normal;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-bold.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-bold.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-bold.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-bold.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-bolditalic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-bolditalic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-bolditalic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-bolditalic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: bold;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-medium.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-medium.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-medium.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-medium.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 500;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-mediumitalic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-mediumitalic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-mediumitalic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-mediumitalic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 500;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-semibold.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-semibold.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-semibold.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-semibold.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 600;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-semibolditalic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-semibolditalic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-semibolditalic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-semibolditalic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 600;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-heavy.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-heavy.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-heavy.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-heavy.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 800;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-heavyitalic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-heavyitalic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-heavyitalic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-heavyitalic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 800;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-black.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-black.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-black.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-black.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 900;
	font-style: normal;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Lato;
	src: url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-blackitalic.eot?l.r2=1.0.0.527) format("embedded-opentype"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-blackitalic.woff2?l.r2=1.0.0.527) format("woff2"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-blackitalic.woff?l.r2=1.0.0.527) format("woff"), url(https://www.lego.com/r/www/r/globalnavigationservices/content/fonts/lato/fonts/lato-blackitalic.ttf?l.r2=1.0.0.527) format("truetype");
	font-weight: 900;
	font-style: italic;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
	margin: 0px; padding: 0px;
}
#l-gh {
	color: rgb(74, 74, 74); line-height: 19px; font-family: "Lato",Arial,sans-serif; font-size: 16px;
}
#l-gf {
	color: rgb(74, 74, 74); line-height: 19px; font-family: "Lato",Arial,sans-serif; font-size: 16px;
}
#l-sticky-gf {
	color: rgb(74, 74, 74); line-height: 19px; font-family: "Lato",Arial,sans-serif; font-size: 16px;
}
#l-modal {
	color: rgb(74, 74, 74); line-height: 19px; font-family: "Lato",Arial,sans-serif; font-size: 16px;
}
#l-gh .l-gh__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-gf .l-gh__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-sticky-gf .l-gh__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-modal .l-gh__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-gh .l-gf__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-gf .l-gf__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-sticky-gf .l-gf__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-modal .l-gf__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-gh .l-sticky-gf__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-gf .l-sticky-gf__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-sticky-gf .l-sticky-gf__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-modal .l-sticky-gf__inner {
	margin: 0px auto; transition:0.2s; max-width: 1440px;
}
#l-gh img {
	height: auto; display: block; max-width: 100%;
}
#l-gf img {
	height: auto; display: block; max-width: 100%;
}
#l-sticky-gf img {
	height: auto; display: block; max-width: 100%;
}
#l-modal img {
	height: auto; display: block; max-width: 100%;
}
.l-gh#l-gh {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gf#l-gf {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-sticky-gf#l-sticky-gf {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-modal#l-modal {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gh#l-gh * {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gf#l-gf * {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-sticky-gf#l-sticky-gf * {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-modal#l-modal * {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gh#l-gh::before {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gf#l-gf::before {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-sticky-gf#l-sticky-gf::before {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-modal#l-modal::before {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gh#l-gh *::before {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gf#l-gf *::before {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-sticky-gf#l-sticky-gf *::before {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-modal#l-modal *::before {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gh#l-gh::after {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gf#l-gf::after {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-sticky-gf#l-sticky-gf::after {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-modal#l-modal::after {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gh#l-gh *::after {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-gf#l-gf *::after {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-sticky-gf#l-sticky-gf *::after {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
.l-modal#l-modal *::after {
	flex:0 1 auto; box-sizing: border-box; -webkit-flex: 0 1 auto;
}
#l-gh .l-btn {
	background: none; margin: 0px; padding: 4px 16px; outline: 0px; border-radius: 4px; border: 1px solid rgb(51, 51, 51); border-image: none; text-align: center; color: rgb(51, 51, 51); line-height: 24px; font-family: inherit; font-size: 14px; font-style: inherit; font-variant: inherit; font-weight: inherit; text-decoration: none; vertical-align: middle; display: inline-flex; white-space: nowrap; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center; align-items: center; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-gf .l-btn {
	background: none; margin: 0px; padding: 4px 16px; outline: 0px; border-radius: 4px; border: 1px solid rgb(51, 51, 51); border-image: none; text-align: center; color: rgb(51, 51, 51); line-height: 24px; font-family: inherit; font-size: 14px; font-style: inherit; font-variant: inherit; font-weight: inherit; text-decoration: none; vertical-align: middle; display: inline-flex; white-space: nowrap; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center; align-items: center; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-sticky-gf .l-btn {
	background: none; margin: 0px; padding: 4px 16px; outline: 0px; border-radius: 4px; border: 1px solid rgb(51, 51, 51); border-image: none; text-align: center; color: rgb(51, 51, 51); line-height: 24px; font-family: inherit; font-size: 14px; font-style: inherit; font-variant: inherit; font-weight: inherit; text-decoration: none; vertical-align: middle; display: inline-flex; white-space: nowrap; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center; align-items: center; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-modal .l-btn {
	background: none; margin: 0px; padding: 4px 16px; outline: 0px; border-radius: 4px; border: 1px solid rgb(51, 51, 51); border-image: none; text-align: center; color: rgb(51, 51, 51); line-height: 24px; font-family: inherit; font-size: 14px; font-style: inherit; font-variant: inherit; font-weight: inherit; text-decoration: none; vertical-align: middle; display: inline-flex; white-space: nowrap; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center; align-items: center; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-gh .l-btn:hover {
	opacity: 0.6;
}
#l-gf .l-btn:hover {
	opacity: 0.6;
}
#l-sticky-gf .l-btn:hover {
	opacity: 0.6;
}
#l-modal .l-btn:hover {
	opacity: 0.6;
}
#l-gh .l-btn:active {
	opacity: 0.6;
}
#l-gf .l-btn:active {
	opacity: 0.6;
}
#l-sticky-gf .l-btn:active {
	opacity: 0.6;
}
#l-modal .l-btn:active {
	opacity: 0.6;
}
#l-gh .l-btn:focus {
	opacity: 0.6;
}
#l-gf .l-btn:focus {
	opacity: 0.6;
}
#l-sticky-gf .l-btn:focus {
	opacity: 0.6;
}
#l-modal .l-btn:focus {
	opacity: 0.6;
}
#l-gh .l-btn--primary {
	border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); background-color: rgb(14, 89, 170);
}
#l-gf .l-btn--primary {
	border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); background-color: rgb(14, 89, 170);
}
#l-sticky-gf .l-btn--primary {
	border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); background-color: rgb(14, 89, 170);
}
#l-modal .l-btn--primary {
	border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); background-color: rgb(14, 89, 170);
}
#l-gh .l-btn--primary:hover {
	opacity: 0.85;
}
#l-gf .l-btn--primary:hover {
	opacity: 0.85;
}
#l-sticky-gf .l-btn--primary:hover {
	opacity: 0.85;
}
#l-modal .l-btn--primary:hover {
	opacity: 0.85;
}
#l-gh .l-btn--primary:active {
	opacity: 0.85;
}
#l-gf .l-btn--primary:active {
	opacity: 0.85;
}
#l-sticky-gf .l-btn--primary:active {
	opacity: 0.85;
}
#l-modal .l-btn--primary:active {
	opacity: 0.85;
}
#l-gh .l-btn--primary:focus {
	opacity: 0.85;
}
#l-gf .l-btn--primary:focus {
	opacity: 0.85;
}
#l-sticky-gf .l-btn--primary:focus {
	opacity: 0.85;
}
#l-modal .l-btn--primary:focus {
	opacity: 0.85;
}
#l-gh .l-btn--large {
	padding: 8px 32px; font-size: 18px;
}
#l-gf .l-btn--large {
	padding: 8px 32px; font-size: 18px;
}
#l-sticky-gf .l-btn--large {
	padding: 8px 32px; font-size: 18px;
}
#l-modal .l-btn--large {
	padding: 8px 32px; font-size: 18px;
}
#l-gh .l-logo {
	display: flex; justify-content: center; align-items: center; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-gh .l-logo__img {
	width: 44px; height: 44px;
}
@media screen and (min-width:1176px)
{
#l-gh .l-logo__img {
	width: 58px; height: 58px;
}
}
#l-gh .l-nav-toggle {
	background: none; margin: 0px; padding: 8px; outline: 0px; border: 0px currentColor; border-image: none; color: inherit; line-height: normal; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; display: flex; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; fill: #999; -ms-user-select: none; align-items: center; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center;
}
#l-gh .l-nav-toggle:hover {
	opacity: 0.7;
}
#l-gh .l-nav-toggle__off {
	display: none;
}
.is--l-nav-open#l-gh .l-nav-toggle__on {
	display: none;
}
.is--l-nav-open#l-gh .l-nav-toggle__off {
	display: block;
}
#l-gh .l-nav {
	list-style: none; margin: 0px; padding: 0px; display: flex; flex-direction: column; -webkit-flex-direction: column;
}
@media screen and (min-width:1176px)
{
#l-gh .l-nav {
	flex-direction: row; -webkit-flex-direction: row;
}
}
#l-gh .l-nav__item {
	flex:1 0 auto; border-bottom-color: rgb(221, 221, 221) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important; display: flex; order: 1; -webkit-flex: 1 0 auto; -webkit-order: 1;
}
@media screen and (min-width:1176px)
{
#l-gh .l-nav__item {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important; justify-content: center; align-items: center; -webkit-align-items: center; -webkit-justify-content: center;
}
}
@media screen and (min-width:1176px)
{
.l-gh--no-kids-link#l-gh .l-nav__item {
	padding: 0px 16px; flex-grow: 0; -webkit-flex-grow: 0;
}
}
#l-gh .l-nav__item--shop {
	order: -1; -webkit-order: -1;
}
#l-gh .l-nav__item--shop .l-nav__icon {
	top: -1px; position: relative;
}
@media screen and (max-width:1175px)
{
#l-gh .l-nav__item--redundant {
	display: none;
}
}
#l-gh .l-nav__link {
	padding: 16px; flex:1 1 auto; color: rgb(74, 74, 74); text-transform: uppercase; font-family: "Lato",Arial,sans-serif; font-size: 14px; font-weight: 400 !important; text-decoration: none; display: flex; align-items: center; -webkit-flex: 1 1 auto; -webkit-align-items: center;
}
@media screen and (min-width:1176px)
{
#l-gh .l-nav__link {
	padding: 8px; flex:0 0 auto; -webkit-flex: 0 0 auto;
}
}
#l-gh .l-nav__link:hover {
	opacity: 0.7;
}
#l-gh .l-nav__link:active {
	opacity: 0.7;
}
#l-gh .l-nav__link:focus {
	opacity: 0.7;
}
#l-gh .l-nav__item--kids {
	flex-grow: 10; -webkit-flex-grow: 10;
}
#l-gh .l-nav__item--kids .l-nav__link {
	color: rgb(74, 144, 226); font-weight: bold !important;
}
@media screen and (min-width:1176px)
{
#l-gh .l-nav__item--kids .l-nav__link {
	margin: 0px 16px;
}
}
#l-gh .l-nav__item--kids .l-nav__link:hover {
	opacity: 0.7;
}
#l-gh .l-nav__item--kids .l-nav__link:active {
	opacity: 0.7;
}
#l-gh .l-nav__item--kids .l-nav__link:focus {
	opacity: 0.7;
}
#l-gh .l-nav__icon {
	margin-right: 4px;
}
#l-gh .l-nav__icon--solid-color {
	fill: #4a4a4a;
}
#l-gh .l-nav__icon--kids {
	transform: translateY(-1px); -webkit-transform: translateY(-1px);
}
#l-gh .l-nav__link:hover .l-nav__icon {
	opacity: 0.7;
}
#l-gh .l-cloned-nav {
	order: 0; -webkit-order: 0;
}
@media screen and (min-width:1176px)
{
#l-gh .l-cloned-nav {
	display: none;
}
}
#l-gh .l-cloned-nav .l-nav__item {
	background: none !important;
}
#l-gh .l-cloned-nav .l-nav__link {
	background: rgb(238, 238, 238) !important;
}
#l-gh .l-cloned-nav .l-nav__item.is--active .l-nav__link {
	background: rgb(221, 221, 221) !important;
}
#l-gh .l-cloned-nav .l-nav__item.active .l-nav__link {
	background: rgb(221, 221, 221) !important;
}
#l-gh .l-cloned-nav .l-nav__icon {
	display: none !important;
}
#l-gh .l-cloned-nav {
	margin: 0px !important; padding: 0px !important; border: 0px currentColor !important; border-image: none !important; font-family: inherit !important; position: static !important;
}
#l-gh .l-cloned-nav span {
	margin: 0px !important; padding: 0px !important; border: 0px currentColor !important; border-image: none !important; font-family: inherit !important; position: static !important;
}
#l-gh .l-search {
	width: 100%; color: rgb(153, 153, 153); position: relative;
}
#l-gh .l-search__toggle {
	background: none; margin: 0px; padding: 8px; outline: 0px; border: 0px currentColor; border-image: none; top: 50%; width: 46px; right: -8px; color: inherit; line-height: normal; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; display: flex; position: absolute; z-index: 1; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; fill: #999; -ms-user-select: none; transform: translateY(-50%); align-items: center; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-transform: translateY(-50%);
}
#l-gh .l-search__toggle:hover {
	opacity: 0.7;
}
#l-gh .l-search--open .l-search__toggle {
	width: 28px; right: 5px; padding-left: 0px;
}
@media screen and (min-width:1176px)
{
#l-gh .l-search__toggle-on {
	width: 26px; height: 26px;
}
}
#l-gh .l-search__toggle-off {
	display: none;
}
#l-gh .l-search--open .l-search__toggle-on {
	display: none;
}
#l-gh .l-search--open .l-search__toggle-off {
	display: block;
}
#l-gh .l-search__inner {
	border-radius: 64px; border: 1px solid rgb(187, 187, 187); border-image: none; top: 50%; width: calc(100vw - (16px + 8px + (30px + 32px))); height: auto; right: 0px; display: none; position: absolute; min-width: 134px; transform: translateY(-50%); background-color: rgb(238, 238, 238); -webkit-transform: translateY(-50%);
}
@media screen and (min-width:576px)
{
#l-gh .l-search__inner {
	width: calc(50vw + 32px);
}
}
@media screen and (min-width:1176px)
{
#l-gh .l-search__inner {
	max-width: 423px;
}
}
#l-gh .l-search--open .l-search__inner {
	display: flex;
}
#l-gh .l-search__input {
	background: none; margin: 0px; padding: 8px 0px 8px 16px; outline: 0px; border: 0px currentColor; flex:1 1 auto; border-image: none; color: rgb(74, 74, 74); line-height: 26px; font-family: "Lato",Arial,sans-serif; font-size: 16px; -webkit-flex: 1 1 auto; -moz-appearance: none; -webkit-appearance: none;
}
#l-gh :-ms-input-placeholder.l-search__input:focus {
	color: transparent;
}
#l-gh .l-search__input::-ms-clear {
	display: none;
}
#l-gh .l-search__btn {
	background: none; padding: 8px 16px 8px 8px; outline: 0px; border: 0px currentColor; flex:0 1 auto; border-image: none; display: flex; cursor: pointer; fill: #999; align-items: center; -webkit-flex: 0 1 auto; -webkit-align-items: center; -webkit-appearance: none;
}
#l-gh .l-search__btn:hover {
	opacity: 0.7;
}
#l-gh .l-search--open .l-search__btn {
	padding-right: 8px; margin-right: 32px;
}
@media screen and (max-width:1439px)
{
#l-gh .l-search--open .l-search__btn {
	padding-right: 8px; margin-right: 32px;
}
}
#l-gh .l-profile {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; color: inherit; line-height: normal; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; text-decoration: none; display: flex; cursor: pointer; min-width: 0px; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; align-items: center; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center;
}
#l-gh .l-profile__inner {
	display: flex; min-width: 0px; align-items: center; -webkit-align-items: center;
}
#l-gh .l-profile__inner--logged-in {
	display: none;
}
#l-gh .l-profile__obj {
	width: 24px; height: 24px; margin-right: 8px; position: relative; flex-shrink: 0; -webkit-flex-shrink: 0;
}
#l-gh .l-profile__obj--avatar {
	border-radius: 32px; border: 1px solid rgb(153, 153, 153); border-image: none; width: 26px; height: 26px; overflow: hidden;
}
#l-gh .l-profile__obj--static svg {
	top: 50%; height: auto; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
}
#l-gh .l-profile:hover {
	opacity: 0.7;
}
#l-gh .l-profile__avatar {
	left: 50%; top: -25%; width: auto; height: 150%; position: absolute; max-width: none; transform: translateX(-50%); -webkit-transform: translateX(-50%);
}
#l-gh .l-profile__txt {
	color: rgb(74, 74, 74); overflow: hidden; font-size: 12px; white-space: nowrap; -ms-text-overflow: ellipsis; min-width: 0px; flex-grow: 1; -webkit-flex-grow: 1;
}
@media screen and (min-width:1176px)
{
#l-gh .l-profile__txt {
	display: none;
}
}
@media screen and (min-width:1440px)
{
#l-gh .l-profile__txt {
	display: block;
}
}
@media screen and (max-width:1175px)
{
#l-gh .l-profile__txt--static {
	display: none;
}
}
@media screen and (min-width:1176px)
{
#l-gh .l-profile__txt--create {
	display: none;
}
}
#l-gh .l-profile:hover .l-profile__txt {
	opacity: 0.7;
}
#l-gh .l-profile:active .l-profile__txt {
	opacity: 0.7;
}
#l-gh .l-profile:focus .l-profile__txt {
	opacity: 0.7;
}
#l-gh .l-profile:hover .l-profile__avatar {
	opacity: 0.7;
}
#l-gh .l-profile:active .l-profile__avatar {
	opacity: 0.7;
}
#l-gh .l-profile:focus .l-profile__avatar {
	opacity: 0.7;
}
#l-gh .l-login-nav {
	list-style: none; margin: 0px; padding: 0px;
}
@media screen and (min-width:1176px)
{
#l-gh .l-login-nav {
	display: flex; flex-direction: column; -webkit-flex-direction: column;
}
}
@media screen and (min-width:1176px)
{
#l-gh .l-login-nav__item {
	flex:1 0 auto; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; display: flex; -webkit-flex: 1 0 auto;
}
}
@media screen and (max-width:1175px)
{
#l-gh .l-login-nav__item--view {
	display: none;
}
#l-gh .l-login-nav__item--create {
	display: none;
}
}
#l-gh .l-login-nav__item--logout {
	display: none;
}
@media screen and (min-width:1176px)
{
#l-gh .l-login-nav__item--view {
	display: none;
}
}
#l-gh .l-login-nav__btn {
	background: none; margin: 0px; padding: 4px 0px 4px 4px; outline: 0px; border: 0px currentColor; border-image: none; color: rgb(74, 74, 74); line-height: normal; font-family: inherit; font-size: 12px; font-style: inherit; font-variant: inherit; font-weight: inherit; display: flex; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
@media screen and (min-width:1176px)
{
#l-gh .l-login-nav__btn {
	padding: 16px; flex:1 1 auto; color: rgb(74, 74, 74); font-size: 14px; font-weight: 400; text-decoration: none; align-items: center; -webkit-flex: 1 1 auto; -webkit-align-items: center;
}
}
#l-gh .l-login-nav__btn:hover {
	opacity: 0.7;
}
#l-gh .l-login-nav__btn:active {
	opacity: 0.7;
}
#l-gh .l-login-nav__btn:focus {
	opacity: 0.7;
}
#l-gh .is--logged-in .l-profile__inner--logged-out {
	display: none;
}
#l-gh .is--logged-in .l-profile__inner--logged-in {
	display: flex;
}
#l-gh .is--logged-in .l-login-nav__item--login {
	display: none;
}
#l-gh .is--logged-in .l-login-nav__item--create {
	display: none;
}
#l-gh .is--logged-in .l-login-nav__item--logout {
	display: flex;
}
@media screen and (min-width:1176px)
{
#l-gh .is--logged-in .l-login-nav__item--view {
	display: flex;
}
}
#l-gh .is--logged-out .l-profile__inner--logged-in {
	display: none;
}
#l-gh .is--logged-out .l-login-nav__item--logout {
	display: none;
}
#l-gh .is--logged-out .l-login-nav__item--view {
	display: none;
}
#l-gh .l-login {
	width: 100%; height: 100%; display: flex; position: relative; justify-content: space-between; align-items: center; -webkit-align-items: center; -webkit-justify-content: space-between;
}
@media screen and (min-width:1176px)
{
#l-gh .l-login {
	max-width: 128px;
}
}
#l-gh .l-login__profile {
	margin-right: 16px;
}
@media screen and (min-width:1176px)
{
#l-gh .l-login__profile {
	padding: 8px 0px 8px 8px; margin-right: 0px; position: relative; z-index: 1;
}
}
@media screen and (min-width:1176px)
{
#l-gh .l-login__profile--profile-btn {
	display: none !important;
}
}
@media screen and (max-width:1175px)
{
#l-gh .l-login__profile--toggle {
	display: none !important;
}
}
#l-gh .l-login__nav {
	flex-shrink: 0; -webkit-flex-shrink: 0;
}
@media screen and (min-width:1176px)
{
#l-gh .l-login__nav {
	top: 100%; right: -16px; display: none; position: absolute; min-width: 220px; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25); background-color: white;
}
}
@media screen and (min-width:1176px)
{
#l-gh .l-login .l-login__profile:hover ~ .l-login__nav {
	display: block !important;
}
#l-gh .l-login .l-login__nav:hover {
	display: block !important;
}
#l-gh .l-login .l-login__profile:hover ~ .l-login__nav::before {
	right: 0px; bottom: 100%; display: block; position: absolute; content: "";
}
#l-gh .l-login .l-login__nav:hover::before {
	right: 0px; bottom: 100%; display: block; position: absolute; content: "";
}
#l-gh .l-login .l-login__profile:hover ~ .l-login__nav::after {
	right: 0px; bottom: 100%; display: block; position: absolute; content: "";
}
#l-gh .l-login .l-login__nav:hover::after {
	right: 0px; bottom: 100%; display: block; position: absolute; content: "";
}
#l-gh .l-login .l-login__profile:hover ~ .l-login__nav::after {
	width: 35%; height: 45px;
}
#l-gh .l-login .l-login__nav:hover::after {
	width: 35%; height: 45px;
}
#l-gh .l-login .l-login__profile:hover ~ .l-login__nav::before {
	width: 80%; height: 22.5px;
}
#l-gh .l-login .l-login__nav:hover::before {
	width: 80%; height: 22.5px;
}
}
@media screen and (min-width:1440px)
{
#l-gh .l-login .l-login__profile:hover ~ .l-login__nav::after {
	width: 65%;
}
#l-gh .l-login .l-login__nav:hover::after {
	width: 65%;
}
}
.l-gh#l-gh {
	height: 60px; color: rgb(51, 51, 51); position: relative; z-index: 1000;
}
@media screen and (min-width:1176px)
{
.l-gh#l-gh {
	height: 90px;
}
}
#l-gh .l-gh__wrapper {
	height: 60px; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25); background-color: white;
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__wrapper {
	height: 90px;
}
}
.is--sticky#l-gh .l-gh__wrapper {
	transition:transform 150ms ease-in-out; left: 0px; top: -108px; right: 0px; position: fixed; transform: translateY(0px); -webkit-transform: translateY(0);
}
.is--l-nav-open#l-gh .l-gh__wrapper {
	transition:transform 150ms ease-in-out; left: 0px; top: -108px; right: 0px; position: fixed; transform: translateY(0px); -webkit-transform: translateY(0);
}
.is--sticky.is--revealed#l-gh .l-gh__wrapper {
	transform: translateY(108px); transition-duration: 400ms; -webkit-transform: translateY(108px);
}
.is--l-nav-open#l-gh .l-gh__wrapper {
	transition:none !important; transform: translateY(108px) !important; -webkit-transform: translateY(108px);
}
#l-gh .l-gh__inner {
	padding: 8px 16px; height: 100%;
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__inner {
	padding: 16px; display: flex;
}
}
#l-gh .l-gh__nav-toggle {
	left: 8px; top: 50%; position: absolute; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__nav-toggle {
	display: none;
}
}
#l-gh .l-gh__logo {
	flex:0 0 auto; left: 50%; position: absolute; transform: translateX(-50%); -webkit-flex: 0 0 auto; -webkit-transform: translateX(-50%);
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__logo {
	flex:0 0 auto; margin-right: 8px; position: static; transform: none; -webkit-flex: 0 0 auto; -webkit-transform: none;
}
}
#l-gh .l-gh__persistant-search {
	top: 8px; right: 16px; bottom: 8px; display: flex; position: absolute;
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__persistant-search {
	top: 16px; bottom: 16px;
}
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__persistant-search {
	display: none;
}
}
#l-gh .l-gh__main-wrapper {
	border: 1px solid rgb(221, 221, 221); border-image: none; left: 0px; top: 100%; width: calc(100% - 16px); display: none; position: absolute; max-width: 336px; flex-direction: column; background-color: white; -webkit-flex-direction: column;
}
.is--l-nav-open#l-gh .l-gh__main-wrapper {
	display: flex;
}
@media screen and (max-width:1175px)
{
#l-gh .l-gh__main-wrapper {
	-ms-overflow-x: hidden; -ms-overflow-y: auto; max-height: calc(100vh - 60px - 32px); -ms-overflow-style: none; -webkit-overflow-scrolling: touch; overscroll-behavior: contain;
}
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__main-wrapper {
	border: 0px currentColor; flex:1 0 auto; border-image: none; width: auto; height: 100%; display: flex; position: static; max-width: none; flex-direction: row; align-items: center; background-color: transparent; -webkit-flex: 1 0 auto; -webkit-align-items: center; -webkit-flex-direction: row;
}
}
#l-gh .l-gh__nav {
	flex:1 0 auto; display: flex; -webkit-flex: 1 0 auto;
}
#l-gh .l-gh__nav .l-nav {
	flex-grow: 1; -webkit-flex-grow: 1;
}
#l-gh .l-gh__search {
	display: none;
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__search {
	flex:0 0 32px; margin-right: 16px; display: flex; align-items: center; -webkit-flex: 0 0 32px; -webkit-align-items: center;
}
}
#l-gh .l-gh__login {
	padding: 16px; flex:1 0 auto; display: flex; align-items: center; -webkit-flex: 1 0 auto; -webkit-align-items: center;
}
@media screen and (min-width:1176px)
{
#l-gh .l-gh__login {
	padding: 0px; flex:0 1 auto; height: calc(100% + 32px); margin-left: 16px; position: relative; -webkit-flex: 0 1 auto;
}
}
#l-gf .l-list {
	list-style: none; margin: 0px; padding: 0px; display: flex; flex-direction: column; -webkit-flex-direction: column;
}
#l-gf .l-list--horz {
	flex-flow:row wrap; margin-left: -32px; justify-content: flex-start; -webkit-justify-content: flex-start; -webkit-flex-direction: row; -webkit-flex-wrap: wrap;
}
#l-gf .l-list--horz > .l-list__item {
	flex:0 0 100%; padding-left: 32px; margin-bottom: 16px; -webkit-flex: 0 0 100%;
}
@media screen and (min-width:374px)
{
#l-gf .l-list--horz > .l-list__item {
	flex-basis: 50%; -webkit-flex-basis: 50%;
}
}
@media screen and (min-width:576px)
{
#l-gf .l-list--horz > .l-list__item {
	flex-basis: 33.33%; -webkit-flex-basis: 33.33333333%;
}
}
@media screen and (min-width:984px)
{
#l-gf .l-list--horz > .l-list__item {
	flex-basis: 20%; -webkit-flex-basis: 20%;
}
}
#l-gf .l-list--inline {
	flex-flow:row wrap; margin-left: -32px; display: inline-flex; -webkit-flex-direction: row; -webkit-flex-wrap: wrap;
}
#l-gf .l-list--inline > .l-list__item {
	padding-left: 32px; flex-shrink: 0; -webkit-flex-shrink: 0;
}
#l-gf .l-list__link {
	padding: 8px 0px; color: rgb(74, 74, 74); text-decoration: none; display: block;
}
#l-gf .l-list__link:hover {
	opacity: 0.7;
}
#l-gf .l-list__link--title {
	font-weight: bold;
}
#l-gf .l-list__link--emphasize {
	font-weight: bold;
}
#l-gf .l-split {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(187, 187, 187) currentColor currentColor; margin: 24px 0px; flex:1 0 100%; border-image: none; -webkit-flex: 1 0 100%;
}
#l-gf .l-select {
	position: relative;
}
#l-gf .l-select__selected {
	background: white; margin: 0px; padding: 12px 32px 12px 52px; outline: 0px; border-radius: 6px; border: 1px solid rgb(187, 187, 187); border-image: none; width: 100%; text-align: left; color: rgb(74, 74, 74); line-height: normal; font-family: "Lato",Arial,sans-serif; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
#l-gf .l-select__selected::after {
	right: 8px; bottom: 16px; border-top-color: rgb(74, 74, 74); border-right-color: transparent; border-left-color: transparent; border-top-width: 7.5px; border-right-width: 6px; border-left-width: 6px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; z-index: 1001; content: "";
}
#l-gf .l-select__selected:hover {
	opacity: 0.7;
}
#l-gf .l-select__selected.l-flag::before {
	transform-origin: left center; left: 8px; top: 50%; transform: translateY(-50%) scale(0.25); -webkit-transform: translateY(-50%) scale(.25); -webkit-transform-origin: left center;
}
#l-gf .l-select--open .l-select__content {
	display: block;
}
#l-gf .l-select__content {
	border-radius: 6px; border: 1px solid rgb(187, 187, 187); border-image: none; right: 0px; bottom: 0px; display: none; position: absolute; z-index: 1001; background-color: rgb(250, 250, 250);
}
#l-gf .l-select--open .l-select__close {
	display: block;
}
#l-gf .l-select__close {
	background: none; margin: 0px; padding: 16px; outline: 0px; border: 0px currentColor; border-image: none; right: 0px; bottom: 8px; color: inherit; line-height: normal; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; display: none; position: absolute; z-index: 1001; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; transform: translateY(1.5px) translateX(1px); -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-transform: translateY(1.5px) translateX(1px);
}
#l-gf .l-select__close::after {
	left: 50%; top: 50%; border-right-color: transparent; border-bottom-color: rgb(74, 74, 74); border-left-color: transparent; border-right-width: 6px; border-bottom-width: 7.5px; border-left-width: 6px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute; content: ""; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
}
#l-gf .l-select__close:hover {
	opacity: 0.7;
}
#l-gf .l-flag {
	position: relative;
}
#l-gf .l-flag::before {
	background: url("https://www.lego.com/r/www/r/globalnavigationservices/content/img/flags/sprite.png?l.r2=1.0.0.527") no-repeat 0px 0px / 3996px 80px; width: 108px; height: 80px; position: absolute; content: ""; pointer-events: none; transform: scale(0.25); -webkit-transform: scale(.25);
}
#l-gf .l-flag--ar::before {
	background-position: 0px 0px;
}
#l-gf .l-flag--at::before {
	background-position: -108px 0px;
}
#l-gf .l-flag--au::before {
	background-position: -216px 0px;
}
#l-gf .l-flag--be::before {
	background-position: -324px 0px;
}
#l-gf .l-flag--br::before {
	background-position: -432px 0px;
}
#l-gf .l-flag--ca::before {
	background-position: -540px 0px;
}
#l-gf .l-flag--ch::before {
	background-position: -648px 0px;
}
#l-gf .l-flag--cn::before {
	background-position: -756px 0px;
}
#l-gf .l-flag--cz::before {
	background-position: -864px 0px;
}
#l-gf .l-flag--de::before {
	background-position: -972px 0px;
}
#l-gf .l-flag--dk::before {
	background-position: -1080px 0px;
}
#l-gf .l-flag--es::before {
	background-position: -1188px 0px;
}
#l-gf .l-flag--fi::before {
	background-position: -1296px 0px;
}
#l-gf .l-flag--fr::before {
	background-position: -1404px 0px;
}
#l-gf .l-flag--gb::before {
	background-position: -1512px 0px;
}
#l-gf .l-flag--hk::before {
	background-position: -1620px 0px;
}
#l-gf .l-flag--hu::before {
	background-position: -1728px 0px;
}
#l-gf .l-flag--id::before {
	background-position: -1836px 0px;
}
#l-gf .l-flag--it::before {
	background-position: -1944px 0px;
}
#l-gf .l-flag--jp::before {
	background-position: -2052px 0px;
}
#l-gf .l-flag--kr::before {
	background-position: -2160px 0px;
}
#l-gf .l-flag--mx::before {
	background-position: -2268px 0px;
}
#l-gf .l-flag--my::before {
	background-position: -2376px 0px;
}
#l-gf .l-flag--nl::before {
	background-position: -2484px 0px;
}
#l-gf .l-flag--no::before {
	background-position: -2592px 0px;
}
#l-gf .l-flag--nz::before {
	background-position: -2700px 0px;
}
#l-gf .l-flag--pl::before {
	background-position: -2808px 0px;
}
#l-gf .l-flag--ro::before {
	background-position: -2916px 0px;
}
#l-gf .l-flag--ru::before {
	background-position: -3024px 0px;
}
#l-gf .l-flag--se::before {
	background-position: -3132px 0px;
}
#l-gf .l-flag--sg::before {
	background-position: -3240px 0px;
}
#l-gf .l-flag--tr::before {
	background-position: -3348px 0px;
}
#l-gf .l-flag--tw::before {
	background-position: -3456px 0px;
}
#l-gf .l-flag--ua::before {
	background-position: -3564px 0px;
}
#l-gf .l-flag--us::before {
	background-position: -3672px 0px;
}
#l-gf .l-flag--xx::before {
	background-position: -3780px 0px;
}
#l-gf .l-flag--za::before {
	background-position: -3888px 0px;
}
#l-gf .l-market-list {
	padding: 4px; flex-flow:row wrap; width: 90vw; max-width: 984px; justify-content: flex-start; -webkit-justify-content: flex-start; -webkit-flex-direction: row; -webkit-flex-wrap: wrap;
}
@media screen and (min-width:576px)
{
#l-gf .l-market-list {
	padding: 8px 12px;
}
}
#l-gf .l-market-list__item {
	flex:0 0 50%; display: flex; align-items: center; -webkit-flex: 0 0 50%; -webkit-align-items: center;
}
@media screen and (min-width:768px)
{
#l-gf .l-market-list__item {
	flex-basis: 33.33%; -webkit-flex-basis: 33.333%;
}
}
@media screen and (min-width:984px)
{
#l-gf .l-market-list__item {
	flex-basis: 25%; -webkit-flex-basis: 25%;
}
}
#l-gf .l-market-list__link {
	padding: 16px; color: rgb(74, 74, 74); line-height: 17px; font-size: 14px; text-decoration: none; display: block; position: relative;
}
#l-gf .l-market-list__link:hover {
	opacity: 0.7;
}
#l-gf .l-market-list__link.l-flag {
	padding-left: 52px;
}
#l-gf .l-market-list__link.l-flag::before {
	transform-origin: left center; left: 16px; top: 50%; transform: translateY(-50%) scale(0.25); -webkit-transform: translateY(-50%) scale(.25); -webkit-transform-origin: left center;
}
#l-gf .l-term {
	line-height: 14px; font-size: 12px; margin-top: 0px; margin-bottom: 16px;
}
#l-gf .l-badge {
	list-style: none; margin: 0px 0px 0px -16px; padding: 0px; display: flex; flex-wrap: wrap; align-items: center; -webkit-align-items: center; -webkit-flex-wrap: wrap;
}
#l-gf .l-badge__item {
	padding-bottom: 16px; padding-left: 16px;
}
#l-gf .l-badge__img {
	border: currentColor; border-image: none; width: auto; max-height: 100px; max-width: none;
}
.l-gf#l-gf {
	order: 1000; background-color: rgb(246, 246, 246); -webkit-order: 1000;
}
#l-gf .l-gf__inner {
	padding: 32px 8px 8px; width: 100%; display: flex; position: relative; flex-wrap: wrap; justify-content: space-between; align-items: center; -webkit-align-items: center; -webkit-justify-content: space-between; -webkit-flex-wrap: wrap;
}
#l-gf .l-gf__sitemap {
	flex:1 0 100%; -webkit-flex: 1 0 100%;
}
#l-gf .l-gf__links-market-wrapper {
	flex:1 0 100%; margin-top: -8px; display: flex; flex-wrap: wrap; justify-content: flex-end; align-items: center; -webkit-flex: 1 0 100%; -webkit-align-items: center; -webkit-justify-content: flex-end; -webkit-flex-wrap: wrap;
}
#l-gf .l-gf__links {
	flex:1 1 auto; -webkit-flex: 1 1 auto;
}
#l-gf .l-gf__market {
	margin: 16px 0px;
}
#l-gf .l-gf__badges {
	flex:1 0 100%; -webkit-flex: 1 0 100%;
}
@media screen and (min-width:984px)
{
#l-gf .l-gf__badges {
	margin-top: 16px;
}
}
#l-gf .l-gf__terms {
	flex:1 0 100%; -webkit-flex: 1 0 100%;
}
@media screen and (min-width:984px)
{
#l-gf .l-gf__terms {
	margin-top: 8px;
}
}
#l-sticky-gf .l-accept {
	padding: 32px 16px; display: none; flex-direction: column; align-items: center; background-color: rgba(255, 255, 255, 0.9); -webkit-align-items: center; -webkit-flex-direction: column;
}
.is--fresh#l-sticky-gf .l-accept {
	display: flex;
}
#l-sticky-gf .l-accept__content {
	flex:1 1 auto; max-width: 1032px; -webkit-flex: 1 1 auto;
}
@media screen and (min-width:1176px)
{
#l-sticky-gf .l-accept__content {
	position: relative;
}
}
#l-sticky-gf .l-accept__content a {
	color: rgb(74, 144, 226); text-decoration: none;
}
#l-sticky-gf .l-accept__content a:hover {
	opacity: 0.7;
}
#l-sticky-gf .l-accept__close {
	background: none; margin: 0px; padding: 8px; outline: 0px; border: 0px currentColor; border-image: none; top: 0px; right: 0px; color: inherit; line-height: normal; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; position: absolute; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; fill: #999; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
@media screen and (min-width:1176px)
{
#l-sticky-gf .l-accept__close {
	top: -8px; right: -68px;
}
}
#l-sticky-gf .l-accept__close:hover {
	opacity: 0.7;
}
#l-sticky-gf .l-accept__btn {
	margin-top: 16px;
}
#l-sticky-gf .l-policy-info {
	list-style: none; margin: 0px 8px 0px 0px; padding: 4px 8px; border-radius: 4px 4px 0px 0px; line-height: 12px; font-size: 10px; display: none; flex-wrap: wrap; background-color: rgb(14, 89, 170); -webkit-flex-wrap: wrap;
}
.is--accepted#l-sticky-gf .l-policy-info {
	display: flex;
}
#l-sticky-gf :not(:first-child).l-policy-info__item {
	margin-left: 16px; position: relative;
}
#l-sticky-gf :not(:first-child).l-policy-info__item::before {
	left: -8px; top: 2px; width: 1px; bottom: 2px; display: block; position: absolute; content: ""; background-color: rgb(18, 114, 217);
}
#l-sticky-gf .l-policy-info__link {
	color: rgb(246, 246, 246); text-decoration: none;
}
#l-sticky-gf .l-policy-info__link:hover {
	opacity: 0.7;
}
#l-sticky-gf .l-policy-info__link:active {
	opacity: 0.7;
}
#l-sticky-gf .l-policy-info__link:visited {
	opacity: 0.7;
}
.l-sticky-gf#l-sticky-gf {
	height: 0px;
}
#l-sticky-gf .l-sticky-gf__accept {
	left: 0px; right: 0px; bottom: 0px; position: fixed; z-index: 1010;
}
#l-sticky-gf .l-sticky-gf__info {
	right: 0px; bottom: 0px; position: fixed; z-index: 1011;
}
.ko-kr#l-sticky-gf .l-policy-info {
	line-height: 24px; font-size: 20px; font-weight: bold;
}
#l-modal .l-xlink {
	height: 100%; display: flex; flex-direction: column; -webkit-flex-direction: column;
}
#l-modal .l-xlink__body {
	list-style: none; flex:1 0 auto; margin-left: -32px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; -webkit-flex: 1 0 auto; -webkit-align-items: center; -webkit-justify-content: center; -webkit-flex-wrap: wrap;
}
#l-modal .l-xlink__footer {
	flex:0 0 auto; margin-left: -16px; display: flex; flex-wrap: wrap; justify-content: center; align-self: center; -webkit-flex: 0 0 auto; -webkit-justify-content: center; -webkit-flex-wrap: wrap; -webkit-align-self: center;
}
@media screen and (min-width:576px)
{
#l-modal .l-xlink__footer {
	align-self: flex-end; -webkit-align-self: flex-end;
}
}
#l-modal .l-xlink__obj {
	display: none;
}
@media screen and (min-width:576px)
{
#l-modal .l-xlink__obj {
	margin: 0px; padding-left: 32px; display: block; min-height: 1px; min-width: 41.66%; max-width: 41.66%; flex-basis: 41.66%; -webkit-flex-basis: 41.66666667%;
}
}
#l-modal .l-xlink__content {
	padding-left: 32px; min-height: 1px; min-width: 100%; max-width: 100%; flex-basis: 100%; -webkit-flex-basis: 100%;
}
@media screen and (min-width:576px)
{
#l-modal .l-xlink__content {
	min-width: 58.33%; max-width: 58.33%; flex-basis: 58.33%; -webkit-flex-basis: 58.33333333%;
}
}
#l-modal .l-xlink__header {
	margin: 0px 0px 16px;
}
#l-modal .l-xlink__txt {
	margin: 0px 0px 16px;
}
#l-modal .l-xlink__header {
	color: inherit; line-height: 22px; font-family: inherit; font-size: 18px; font-weight: bold; margin-right: 24px;
}
#l-modal .l-xlink__txt > * {
	margin: 0px; padding: 0px; color: inherit; font-family: inherit; font-size: inherit; font-weight: inherit;
}
#l-modal .l-xlink__btn {
	flex:1 1 auto; margin-top: 8px; margin-left: 16px; -webkit-flex: 1 1 auto;
}
#l-modal #privacypolicyLightWrapper div {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv div {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub div {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper a {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv a {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub a {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper h1 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv h1 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub h1 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper h2 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv h2 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub h2 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper h3 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv h3 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub h3 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper h4 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv h4 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub h4 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper h5 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv h5 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub h5 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper h6 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv h6 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub h6 {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper p {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv p {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub p {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper span {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv span {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub span {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper ul {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv ul {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub ul {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper ol {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv ol {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub ol {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper li {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv li {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub li {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper table {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv table {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub table {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper tbody {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv tbody {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub tbody {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper tr {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv tr {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub tr {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper td {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #CookieDiv td {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal .userPromptSub td {
	background: none !important; margin: 0px !important; padding: 0px !important; color: rgb(74, 74, 74) !important; line-height: 1.5 !important; font-family: "Lato",Arial,sans-serif !important; font-size: 16px !important; text-decoration: none !important;
}
#l-modal #privacypolicyLightWrapper h1 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #CookieDiv h1 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal .userPromptSub h1 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #privacypolicyLightWrapper h2 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #CookieDiv h2 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal .userPromptSub h2 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #privacypolicyLightWrapper h3 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #CookieDiv h3 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal .userPromptSub h3 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #privacypolicyLightWrapper h4 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #CookieDiv h4 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal .userPromptSub h4 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #privacypolicyLightWrapper h5 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #CookieDiv h5 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal .userPromptSub h5 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #privacypolicyLightWrapper h6 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #CookieDiv h6 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal .userPromptSub h6 {
	margin: 0px !important; padding: 0px !important; font-size: 18px !important; font-weight: bold !important;
}
#l-modal #privacypolicyLightWrapper p {
	margin-bottom: 32px !important;
}
#l-modal #CookieDiv p {
	margin-bottom: 32px !important;
}
#l-modal .userPromptSub p {
	margin-bottom: 32px !important;
}
#l-modal #privacypolicyLightWrapper a[href] {
	color: rgb(74, 144, 226) !important;
}
#l-modal #CookieDiv a[href] {
	color: rgb(74, 144, 226) !important;
}
#l-modal .userPromptSub a[href] {
	color: rgb(74, 144, 226) !important;
}
#l-modal #privacypolicyLightWrapper a[href]:hover {
	text-decoration: none; opacity: 0.7;
}
#l-modal #CookieDiv a[href]:hover {
	text-decoration: none; opacity: 0.7;
}
#l-modal .userPromptSub a[href]:hover {
	text-decoration: none; opacity: 0.7;
}
#l-modal #privacypolicyLightWrapper a[href]:active {
	text-decoration: none; opacity: 0.7;
}
#l-modal #CookieDiv a[href]:active {
	text-decoration: none; opacity: 0.7;
}
#l-modal .userPromptSub a[href]:active {
	text-decoration: none; opacity: 0.7;
}
#l-modal #privacypolicyLightWrapper a[href]:focus {
	text-decoration: none; opacity: 0.7;
}
#l-modal #CookieDiv a[href]:focus {
	text-decoration: none; opacity: 0.7;
}
#l-modal .userPromptSub a[href]:focus {
	text-decoration: none; opacity: 0.7;
}
#l-modal #privacypolicyLightWrapper ul {
	margin-left: 32px !important;
}
#l-modal #CookieDiv ul {
	margin-left: 32px !important;
}
#l-modal .userPromptSub ul {
	margin-left: 32px !important;
}
#l-modal #privacypolicyLightWrapper ol {
	margin-left: 32px !important;
}
#l-modal #CookieDiv ol {
	margin-left: 32px !important;
}
#l-modal .userPromptSub ol {
	margin-left: 32px !important;
}
#l-modal #privacypolicyLightWrapper ul li {
	margin-bottom: 8px !important;
}
#l-modal #CookieDiv ul li {
	margin-bottom: 8px !important;
}
#l-modal .userPromptSub ul li {
	margin-bottom: 8px !important;
}
#l-modal #privacypolicyLightWrapper ol li {
	margin-bottom: 8px !important;
}
#l-modal #CookieDiv ol li {
	margin-bottom: 8px !important;
}
#l-modal .userPromptSub ol li {
	margin-bottom: 8px !important;
}
#l-modal #privacypolicyLightWrapper .btn {
	background: none; margin: 0px; padding: 4px 16px !important; outline: 0px; border-radius: 4px !important; border: 1px solid rgb(51, 51, 51) !important; border-image: none !important; text-align: center !important; color: rgb(51, 51, 51) !important; line-height: 24px !important; font-family: inherit; font-size: 14px !important; font-style: inherit; font-variant: inherit; font-weight: normal !important; text-decoration: none !important; vertical-align: middle !important; display: inline-flex !important; white-space: nowrap !important; cursor: pointer; min-height: 0px !important; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center !important; align-items: center !important; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-modal #CookieDiv .btn {
	background: none; margin: 0px; padding: 4px 16px !important; outline: 0px; border-radius: 4px !important; border: 1px solid rgb(51, 51, 51) !important; border-image: none !important; text-align: center !important; color: rgb(51, 51, 51) !important; line-height: 24px !important; font-family: inherit; font-size: 14px !important; font-style: inherit; font-variant: inherit; font-weight: normal !important; text-decoration: none !important; vertical-align: middle !important; display: inline-flex !important; white-space: nowrap !important; cursor: pointer; min-height: 0px !important; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center !important; align-items: center !important; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-modal .userPromptSub .btn {
	background: none; margin: 0px; padding: 4px 16px !important; outline: 0px; border-radius: 4px !important; border: 1px solid rgb(51, 51, 51) !important; border-image: none !important; text-align: center !important; color: rgb(51, 51, 51) !important; line-height: 24px !important; font-family: inherit; font-size: 14px !important; font-style: inherit; font-variant: inherit; font-weight: normal !important; text-decoration: none !important; vertical-align: middle !important; display: inline-flex !important; white-space: nowrap !important; cursor: pointer; min-height: 0px !important; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center !important; align-items: center !important; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-modal #privacypolicyLightWrapper a[href].btn {
	background: none; margin: 0px; padding: 4px 16px !important; outline: 0px; border-radius: 4px !important; border: 1px solid rgb(51, 51, 51) !important; border-image: none !important; text-align: center !important; color: rgb(51, 51, 51) !important; line-height: 24px !important; font-family: inherit; font-size: 14px !important; font-style: inherit; font-variant: inherit; font-weight: normal !important; text-decoration: none !important; vertical-align: middle !important; display: inline-flex !important; white-space: nowrap !important; cursor: pointer; min-height: 0px !important; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center !important; align-items: center !important; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-modal #CookieDiv a[href].btn {
	background: none; margin: 0px; padding: 4px 16px !important; outline: 0px; border-radius: 4px !important; border: 1px solid rgb(51, 51, 51) !important; border-image: none !important; text-align: center !important; color: rgb(51, 51, 51) !important; line-height: 24px !important; font-family: inherit; font-size: 14px !important; font-style: inherit; font-variant: inherit; font-weight: normal !important; text-decoration: none !important; vertical-align: middle !important; display: inline-flex !important; white-space: nowrap !important; cursor: pointer; min-height: 0px !important; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center !important; align-items: center !important; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-modal .userPromptSub a[href].btn {
	background: none; margin: 0px; padding: 4px 16px !important; outline: 0px; border-radius: 4px !important; border: 1px solid rgb(51, 51, 51) !important; border-image: none !important; text-align: center !important; color: rgb(51, 51, 51) !important; line-height: 24px !important; font-family: inherit; font-size: 14px !important; font-style: inherit; font-variant: inherit; font-weight: normal !important; text-decoration: none !important; vertical-align: middle !important; display: inline-flex !important; white-space: nowrap !important; cursor: pointer; min-height: 0px !important; font-size-adjust: inherit; font-stretch: inherit; -ms-user-select: none; justify-content: center !important; align-items: center !important; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center; -webkit-justify-content: center;
}
#l-modal #privacypolicyLightWrapper .btn:hover {
	opacity: 0.6 !important;
}
#l-modal #CookieDiv .btn:hover {
	opacity: 0.6 !important;
}
#l-modal .userPromptSub .btn:hover {
	opacity: 0.6 !important;
}
#l-modal #privacypolicyLightWrapper a[href].btn:hover {
	opacity: 0.6 !important;
}
#l-modal #CookieDiv a[href].btn:hover {
	opacity: 0.6 !important;
}
#l-modal .userPromptSub a[href].btn:hover {
	opacity: 0.6 !important;
}
#l-modal #privacypolicyLightWrapper .btn:active {
	opacity: 0.6 !important;
}
#l-modal #CookieDiv .btn:active {
	opacity: 0.6 !important;
}
#l-modal .userPromptSub .btn:active {
	opacity: 0.6 !important;
}
#l-modal #privacypolicyLightWrapper a[href].btn:active {
	opacity: 0.6 !important;
}
#l-modal #CookieDiv a[href].btn:active {
	opacity: 0.6 !important;
}
#l-modal .userPromptSub a[href].btn:active {
	opacity: 0.6 !important;
}
#l-modal #privacypolicyLightWrapper .btn:focus {
	opacity: 0.6 !important;
}
#l-modal #CookieDiv .btn:focus {
	opacity: 0.6 !important;
}
#l-modal .userPromptSub .btn:focus {
	opacity: 0.6 !important;
}
#l-modal #privacypolicyLightWrapper a[href].btn:focus {
	opacity: 0.6 !important;
}
#l-modal #CookieDiv a[href].btn:focus {
	opacity: 0.6 !important;
}
#l-modal .userPromptSub a[href].btn:focus {
	opacity: 0.6 !important;
}
#l-modal #privacypolicyLightWrapper .btn * {
	color: inherit !important; line-height: inherit !important; font-family: inherit !important; font-size: inherit !important; font-weight: inherit !important;
}
#l-modal #CookieDiv .btn * {
	color: inherit !important; line-height: inherit !important; font-family: inherit !important; font-size: inherit !important; font-weight: inherit !important;
}
#l-modal .userPromptSub .btn * {
	color: inherit !important; line-height: inherit !important; font-family: inherit !important; font-size: inherit !important; font-weight: inherit !important;
}
#l-modal #privacypolicyLightWrapper a[href].btn * {
	color: inherit !important; line-height: inherit !important; font-family: inherit !important; font-size: inherit !important; font-weight: inherit !important;
}
#l-modal #CookieDiv a[href].btn * {
	color: inherit !important; line-height: inherit !important; font-family: inherit !important; font-size: inherit !important; font-weight: inherit !important;
}
#l-modal .userPromptSub a[href].btn * {
	color: inherit !important; line-height: inherit !important; font-family: inherit !important; font-size: inherit !important; font-weight: inherit !important;
}
#l-modal #privacypolicyLightWrapper table {
	border-collapse: collapse !important; border-spacing: 0 !important;
}
#l-modal #CookieDiv table {
	border-collapse: collapse !important; border-spacing: 0 !important;
}
#l-modal .userPromptSub table {
	border-collapse: collapse !important; border-spacing: 0 !important;
}
#l-modal #privacypolicyLightWrapper table td {
	padding: 4px 0px !important; vertical-align: top !important;
}
#l-modal #CookieDiv table td {
	padding: 4px 0px !important; vertical-align: top !important;
}
#l-modal .userPromptSub table td {
	padding: 4px 0px !important; vertical-align: top !important;
}
#l-modal #privacypolicyLightWrapper table td:first-child {
	font-weight: bold !important;
}
#l-modal #CookieDiv table td:first-child {
	font-weight: bold !important;
}
#l-modal .userPromptSub table td:first-child {
	font-weight: bold !important;
}
#l-modal #privacypolicyLightWrapper {
	position: relative;
}
#l-modal #privacypolicyLightWrapper::after {
	clear: both; display: table; content: "";
}
#l-modal #privacypolicyLightWrapper > img {
	display: none;
}
@media screen and (min-width:576px)
{
#l-modal #privacypolicyLightWrapper > img {
	top: 0px; width: calc(33.333333333333336% - 32px); margin-right: 32px; float: left; display: block; max-width: 280px;
}
}
#l-modal #privacypolicyLightWrapper > h3 {
	display: block;
}
#l-modal #privacypolicyLightWrapper > div {
	display: block;
}
@media screen and (min-width:576px)
{
#l-modal #privacypolicyLightWrapper > h3 {
	width: 66.66%; float: right;
}
#l-modal #privacypolicyLightWrapper > div {
	width: 66.66%; float: right;
}
}
#l-modal #privacypolicyLightWrapper > h3 {
	line-height: 34px !important; font-size: 28px !important; font-weight: 300 !important; margin-bottom: 32px !important;
}
#l-modal #CookieDiv {
	display: flex;
}
#l-modal #CookieDiv > .imageContainer {
	position: relative;
}
@media screen and (max-width:575px)
{
#l-modal #CookieDiv > .imageContainer {
	display: none;
}
}
@media screen and (min-width:576px)
{
#l-modal #CookieDiv > .imageContainer {
	margin-right: 32px !important; max-width: 280px; -webkit-flex: 1 0 calc(33.333333333333336% - 32px);
}
}
#l-modal #CookieDiv > .imageContainer img {
	top: 0px; width: 100%;
}
#l-modal #CookieDiv > :empty.imageContainer {
	display: none;
}
#l-modal #CookieDiv > div {
	flex:1 1 auto; -webkit-flex: 1 1 auto;
}
#l-modal #CookieDiv > div > *:first-child {
	line-height: 34px !important; font-size: 28px !important; font-weight: 300 !important; margin-bottom: 32px !important;
}
#l-modal .userPromtSub > div > *:first-child {
	line-height: 34px !important; font-size: 28px !important; font-weight: 300 !important; margin-bottom: 32px !important;
}
#l-modal .userPromtSub {
	line-height: 34px !important; font-size: 28px !important; font-weight: 300 !important; margin-bottom: 32px !important;
}
.l-modal#l-modal {
	padding: 8px; transition:visibility 0s linear 150ms; left: 0px; top: 0px; right: 0px; bottom: 0px; display: flex; visibility: hidden; position: fixed; z-index: 1020; justify-content: center; align-items: center; -webkit-align-items: center; -webkit-justify-content: center;
}
.l-modal--iframe#l-modal .l-modal__dialog {
	height: 100%; max-height: 768px; max-width: 1024px;
}
.l-modal--copied-html#l-modal .l-modal__dialog {
	height: 100%; max-height: 768px; max-width: 1024px;
}
.is--l-modal-open .l-modal#l-modal {
	transition:visibility linear; visibility: visible;
}
#l-modal .l-modal__backdrop {
	outline: 0px; transition:visibility 0s linear 100ms, opacity 100ms ease-in-out; left: 0px; top: 0px; right: 0px; bottom: 0px; visibility: hidden; position: absolute; z-index: 1021; opacity: 0; background-color: rgba(255, 255, 255, 0.5);
}
.is--l-modal-open #l-modal .l-modal__backdrop {
	transition:visibility linear, opacity 150ms ease-out; visibility: visible; opacity: 1;
}
#l-modal .l-modal__dialog {
	padding: 8px; border-radius: 8px; border: 1px solid rgb(221, 221, 221); transition:visibility 0s linear 150ms, opacity 150ms ease-in-out, transform 150ms ease-in-out; border-image: none; width: 100%; display: flex; visibility: hidden; position: relative; z-index: 1022; max-height: 100%; max-width: 768px; opacity: 0; box-shadow: 0px 30px 26px -13px rgba(0,0,0,0.15); transform: translate3d(0px, -16px, 0px); background-color: white; -webkit-transform: translate3d(0, -16px, 0);
}
.is--l-modal-open #l-modal .l-modal__dialog {
	transition:visibility linear, opacity 300ms ease-out, transform 300ms ease-out; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0);
}
#l-modal .l-modal__close {
	background: white; margin: 0px; padding: 8px; outline: 0px; border-radius: 8px; border: 0px currentColor; border-image: none; top: 8px; right: 8px; color: inherit; line-height: normal; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; display: flex; position: absolute; z-index: 1; cursor: pointer; font-size-adjust: inherit; font-stretch: inherit; fill: #999; -ms-user-select: none; align-items: center; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-align-items: center;
}
#l-modal .l-modal__close:hover {
	opacity: 0.7;
}
#l-modal .l-modal__content {
	-ms-overflow-x: hidden; -ms-overflow-y: auto; -ms-overflow-style: none; -webkit-overflow-scrolling: touch; overscroll-behavior: contain;
}
#l-modal .l-modal__iframe {
	-ms-overflow-x: hidden; -ms-overflow-y: auto; -ms-overflow-style: none; -webkit-overflow-scrolling: touch; overscroll-behavior: contain;
}
#l-modal .l-modal__content {
	padding: 8px; border-radius: 4px; width: 100%; max-width: 100%; flex-grow: 1; -webkit-flex-grow: 1;
}
@media screen and (min-width:576px)
{
#l-modal .l-modal__content {
	padding: 16px;
}
}
#l-modal .l-modal__iframe {
	width: 100%; height: 100%;
}
.lego-modal-wrapper {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: fixed; z-index: 1040;
}
.lego-modal-wrapper::before {
	width: 100%; height: 100%; display: block; -ms-zoom: 1; content: ""; opacity: 0.5; background-color: rgb(0, 0, 0); -webkit-opacity: 0.5; -moz-opacity: 0.5;
}
.lego-modal-open {
	overflow: hidden;
}
.lego-modal-xlink {
	outline: 0px; left: 50%; top: 50%; color: rgb(133, 133, 133); display: none; position: absolute; z-index: 1050; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -webkit-overflow-scrolling: touch;
}
.lego-modal-xlink.lego-fade .lego-modal-dialog {
	transition:0.3s ease-out; transform: translate3d(0px, -25%, 0px); -webkit-transform: translate3d(0, -25%, 0);
}
.lego-modal-xlink.lego-in .lego-modal-dialog {
	transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0);
}
.lego-no-transform .lego-modal-xlink {
	left: 15%; top: 15%; position: absolute;
}
.lego-modal-dialog {
	margin: 10px; width: auto; position: relative;
}
.lego-modal-content {
	background: rgb(255, 255, 255); outline: 0px; border-radius: 8px; border: 5px solid rgb(136, 136, 136); border-image: none; position: relative; box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
}
.lego-modal-content h2 {
	color: rgb(0, 88, 170); font-family: Verdana,Geneva,Tahoma,sans-serif; font-size: 15.45px; font-style: normal; font-variant: normal; font-weight: bold; -webkit-font-variant-ligatures: normal; font-variant-ligatures: normal;
}
lego-modal-header {
	padding: 15px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; min-height: 27px;
}
.lego-modal-content .lego-modal-close {
	padding: 0px; border-radius: 30px; border: 3px solid rgb(136, 136, 136); border-image: none; top: -20px; width: 40px; height: 40px; right: -20px; color: white; line-height: 1; font-size: 24px; font-weight: bold; margin-top: -2px; float: right; position: absolute; cursor: pointer; box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.3); text-shadow: none; background-color: rgb(194, 4, 18);
}
.lego-modal-title {
	margin: 0px; padding: 0px; line-height: 12px; font-size: 0.8em;
}
.lego-modal-body {
	padding: 20px; position: relative;
}
.lego-modal-body iframe {
	width: 100%; height: 95%;
}
.lego-modal-grid {
	display: table; table-layout: fixed;
}
.lego-modal-grid .lego-modal-grid-row {
	display: table-row;
}
.lego-modal-grid .lego-modal-grid-row .lego-modal-grid-column {
	vertical-align: top; display: table-cell; min-width: 200px; max-width: 500px;
}
.lego-modal-grid .lego-modal-grid-row .lego-modal-grid-column-figure {
	padding-right: 5%;
}
@media screen and (max-width:655px)
{
.lego-modal-grid .lego-modal-grid-row .lego-modal-grid-column-figure {
	display: none;
}
}
.lego-modal-grid .lego-modal-grid-row .lego-modal-grid-column-figure img {
	max-width: 100%;
}
.lego-modal-grid .lego-modal-buttons {
	margin: 12px 0px;
}
.lego-modal-grid .lego-modal-buttons.xlink a {
	color: rgb(0, 0, 238); line-height: 14.78px; font-size: 12.72px; margin-right: 6px; margin-left: 6px;
}
.lego-modal-grid .lego-modal-buttons.xlink a:hover {
	text-decoration: underline;
}
.lego-modal-footer {
	padding: 20px; text-align: right; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.lego-modal-footer::before {
	display: table; content: " ";
}
.lego-modal-footer::after {
	display: table; content: " ";
}
.lego-modal-footer::after {
	clear: both;
}
.lego-modal-scrollbar-measure {
	top: -9999px; width: 50px; height: 50px; overflow: scroll; position: absolute;
}
.lego-modal-privacypolicy {
	width: 70%; height: 80%;
}
.lego-modal-privacypolicy .lego-modal-dialog {
	height: 100%;
}
.lego-modal-privacypolicy .lego-modal-content {
	height: 100%;
}
.lego-modal-privacypolicy .lego-modal-body {
	height: 100%;
}
@media all and (max-width:1024.5px)
{
.lego-modal-privacypolicy {
	width: 80%; height: 80%;
}
}
@media all and (max-width:768.5px)
{
.lego-modal-privacypolicy {
	width: 85%; height: 85%;
}
}
@media all and (max-width:500.5px)
{
.lego-modal-privacypolicy {
	width: 90%; height: 90%;
}
}
body {
	-ms-overflow-style: scrollbar;
}
.not-in-language {
	padding: 6px 12px; text-align: center; color: rgb(51, 51, 51); font-family: "Helvetica Neue",Helvetica,sans-serif; font-size: 12px; position: relative; z-index: 1000; background-color: rgb(254, 246, 235);
}
.not-in-language p {
	margin: 0px;
}
