.branding {
	background-position: 50%; background-size: cover;
}
.has--no-banner .branding__inner {
	height: 44px;
}
@media screen and (min-width:48em)
{
.has--no-banner .branding__inner {
	height: 88px;
}
}
@media screen and (min-width:73.5em)
{
.has--no-banner .branding__inner {
	height: 144px;
}
}
.branding--products {
	background-image: url("assets/branding--products.5b3f57e594cec2e42a0aee4d0514fa52.jpg");
}
.branding--games {
	background-image: url("assets/branding--games.a820afe0349e25ae505aa70b7d2e3473.jpg");
}
.site-navigation {
	margin: 16px 0px; background-color: transparent;
}
.site-navigation .nav__list {
	margin-bottom: 0px;
}
.site-navigation .nav__item.is--active .nav__link {
	font-weight: 700;
}
.site-navigation .nav__link {
	color: rgb(51, 51, 51); text-transform: uppercase; font-size: 1.37rem;
}
@media screen and (min-width:36em)
{
.site-navigation .nav__link {
	font-size: 1.62rem;
}
}
.breadcrumb {
	margin-bottom: 0px;
}
.mainstage-slider--home {
	margin-bottom: -32px;
}
@media screen and (min-width:48em)
{
.mainstage-slider--home {
	margin-bottom: 0px;
}
}
.by-age-intro--1-2 .content-item__secondary::before {
	background-color: rgb(162, 115, 0);
}
.by-age-intro--3-5 .content-item__secondary::before {
	background-color: rgb(29, 106, 98);
}
.by-age-intro--6-8 .content-item__secondary::before {
	background-color: rgb(6, 110, 161);
}
.by-age-intro--9-11 .content-item__secondary::before {
	background-color: rgb(24, 63, 106);
}
.by-age-intro--12-plus .content-item__secondary::before {
	background-color: rgb(93, 105, 96);
}
.test-page--striped .full-section-2 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .full-section-4 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .full-section-6 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .full-section-8 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .full-section-10 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .section-2 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .section-4 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .section-6 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .section-8 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped .section-10 {
	background-color: rgb(74, 74, 74);
}
.test-page--striped [id*=section] > .grid-column {
	padding: 32px 0px;
}
.test-page .cta--light .content-item__secondary::before {
	background-color: rgb(255, 255, 255);
}
.test-page .cta--light .cta__sub-title {
	color: rgb(51, 51, 51);
}
.test-page .cta--light .cta__title {
	color: rgb(51, 51, 51);
}
.test-page .cta--light .cta__txt {
	color: rgb(51, 51, 51);
}
.test-page .cta--transparent .content-item__secondary::before {
	background-color: transparent;
}
.test-page .cta--transparent .cta__sub-title {
	color: rgb(51, 51, 51);
}
.test-page .cta--transparent .cta__title {
	color: rgb(51, 51, 51);
}
.test-page .cta--transparent .cta__txt {
	color: rgb(51, 51, 51);
}
.test-page .cta--description .content-item__secondary-inner {
	padding-bottom: 0px;
}
