.image_carousel_nav {
	padding: 15px; position: relative;
}
.image_carousel {
	padding: 15px 5px; position: relative;
}
a.prev {
	background: url("miscellaneous_sprite.png") no-repeat; top: 45%; width: 45px; height: 50px; display: block; position: absolute;
}
a.next {
	background: url("miscellaneous_sprite.png") no-repeat; top: 45%; width: 45px; height: 50px; display: block; position: absolute;
}
a.prev {
	background-position: 0px 0px; left: -22px;
}
a.prev:hover {
	background-position: 0px -50px;
}
a.next {
	background-position: -50px 0px; right: -22px;
}
a.next:hover {
	background-position: -50px -50px;
}
a.prev span {
	display: none;
}
a.next span {
	display: none;
}
.dummy .pagination {
	text-align: center;
}
.dummy .pagination a {
	background: url("miscellaneous_sprite.png") no-repeat 0px -300px; margin: 0px 5px 0px 0px; width: 15px; height: 15px; display: inline-block;
}
.dummy .pagination a.selected {
	background-position: -25px -300px; cursor: default;
}
.dummy .pagination a span {
	display: none;
}
.clearfix {
	clear: both; float: none;
}
