.base-container {
	width: 100%; margin-bottom: 15px; display: inline-block;
}
h1cheader {
	padding-bottom: 5px; font-size: 24px; margin-bottom: 5px; border-bottom-color: rgb(245, 245, 245); border-bottom-width: 6px; border-bottom-style: solid;
}
h2.cheader {
	padding-bottom: 5px; font-size: 18px; margin-bottom: 5px; border-bottom-color: rgb(245, 245, 245); border-bottom-width: 6px; border-bottom-style: solid;
}
h3.cheader {
	padding-bottom: 5px; font-size: 14px; margin-bottom: 5px; border-bottom-color: rgb(245, 245, 245); border-bottom-width: 6px; border-bottom-style: solid;
}
div.DnnModule {
	margin: 0px; padding: 0px; border: 0px solid rgb(0, 0, 0); border-image: none;
}
div.DnnModule:hover {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 0px; border-bottom-style: solid;
}
.c_footer {
	text-align: right; clear: both;
}
.blackbc {
	background: url("img/bbg.gif") repeat-x 0px 21px rgb(16, 15, 15); margin-bottom: 25px;
}
.blackbc .cheader {
	background: url("img/bhbg.gif") repeat-x 0px 0px; height: 21px;
}
.blackbc .title {
	background: url("img/ttbg.png") no-repeat right top; height: 21px; padding-right: 30px; float: left;
}
.blackbc .title .font {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 21px; padding-left: 7px; font-size: 12px; font-weight: bold;
}
.blackbc .rss {
	padding: 4px 0px 0px; float: right;
}
.blackbc_right {
	background: url("img/bbg.gif") repeat-x 0px 21px rgb(16, 15, 15); margin-bottom: 25px;
}
.blackbc_right .cheader {
	background: url("img/rbhbg.gif") no-repeat 0px 0px; height: 21px;
}
.blackbc_right .title {
	background: url("img/ttbg.png") no-repeat right top; height: 21px; padding-right: 30px; float: left;
}
.blackbc_right .title .font {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 21px; padding-left: 7px; font-size: 12px; font-weight: bold;
}
.blackbc_right .rss {
	padding: 4px 0px 0px; float: right;
}
.clearbc {
	margin-bottom: 25px;
}
.clearbc .rss {
	padding: 4px 0px 0px; float: right;
}
.greybc {
	background: url("img/hbg.gif") repeat-x 0px 0px rgb(234, 233, 228); margin-bottom: 25px;
}
.greybc .cheader {
	background: url("img/Shadow.png") no-repeat bottom; height: 30px;
}
.greybc .title {
	background: url("img/ttbg.gif") no-repeat right top; height: 21px; padding-right: 30px; float: left;
}
.greybc .title .font {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 21px; padding-left: 7px; font-size: 12px; font-weight: bold;
}
.greybc .rss {
	padding: 4px 0px 0px; float: right;
}
.greybc {
	background: url("img/hbg.gif") repeat-x 0px 0px rgb(234, 233, 228); margin-bottom: 25px;
}
.greybc .cheader {
	background: url("img/Shadow.png") no-repeat bottom; height: 30px;
}
.greybc .title {
	background: url("img/ttbg.gif") no-repeat right top; height: 21px; padding-right: 30px; float: left;
}
.greybc .title .font {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 21px; padding-left: 7px; font-size: 12px; font-weight: bold;
}
.greybc .rss {
	padding: 4px 0px 0px; float: right;
}
.greybc .fot {
	background: rgb(0, 0, 0); height: 9px; overflow: hidden;
}
.greybc .fot div {
	margin: 1px 4px 0px; border-top-color: rgb(51, 51, 51); border-top-width: 1px; border-top-style: solid;
}
.marinestvbc {
	background: url("img/tvbg.jpg") repeat-x 0px 0px rgb(15, 15, 15); margin-bottom: 25px;
}
.marinestvbc .cheader {
	height: 21px;
}
.marinestvbc .title {
	background: url("img/ttbg.png") no-repeat right top; height: 21px; padding-right: 38px; float: left;
}
.marinestvbc .title .font {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 21px; padding-left: 7px; font-size: 12px; font-weight: bold;
}
.marinestvbc .rss {
	padding: 4px 0px 0px; float: right;
}
.whitebc {
	background: url("img/hbg.gif") repeat-x 0px 0px rgb(255, 255, 255);
}
.whitebc .cheader {
	background: url("img/Shadow.png") no-repeat bottom; height: 30px;
}
.whitebc .title {
	background: url("img/ttbg.gif") no-repeat right top; height: 21px; padding-right: 30px; float: left;
}
.whitebc .title .font {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 21px; padding-left: 7px; font-size: 12px; font-weight: bold;
}
.whitebc .rss {
	padding: 4px 0px 0px; float: right;
}
.whitebc {
	background: url("img/hbg.gif") repeat-x 0px 0px rgb(255, 255, 255); margin-bottom: 25px;
}
.whitebc .cheader {
	background: url("img/Shadow.png") no-repeat bottom; height: 30px;
}
.whitebc .title {
	background: url("img/ttbg.gif") no-repeat right top; height: 21px; padding-right: 30px; float: left;
}
.whitebc .title .font {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 21px; padding-left: 7px; font-size: 12px; font-weight: bold;
}
.whitebc .rss {
	padding: 4px 0px 0px; float: right;
}
