.social-icon-fb:hover span {
	background: rgb(59, 89, 152);
}
.social-icon-youtube:hover span {
	background: rgb(196, 48, 43);
}
.social-icon-twitter:hover span {
	background: rgb(0, 160, 209);
}
.social-icon-rss:hover span {
	background: rgb(250, 155, 57);
}
.social-icon-blog:hover span {
	background: rgb(250, 155, 57);
}
.social-icon-pinterest:hover span {
	background: rgb(145, 1, 1);
}
.social-icon-googleplus:hover span {
	background: rgb(198, 61, 45);
}
.social-icon-instagram:hover span {
	background: rgb(78, 67, 60);
}
.social-icon-email:hover span {
	background: rgb(236, 238, 196);
}
.social-icon-widget:hover span {
	background: rgb(32, 93, 122);
}
.social-icon-podcast:hover span {
	background: rgb(52, 82, 111);
}
.social-icon-flickr:hover span {
	background: rgb(254, 8, 131);
}
.social-icon-linkedin:hover span {
	background: rgb(0, 123, 181);
}
