.mejs__offscreen {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(1px, 1px, 1px, 1px); -ms-word-wrap: normal; -webkit-clip-path: inset( 50% );
}
.mejs__container {
	background: rgb(0, 0, 0); text-align: left; text-indent: 0px; font-family: "Helvetica", Arial, serif; vertical-align: top; position: relative; box-sizing: border-box;
}
.mejs__container * {
	box-sizing: border-box;
}
.mejs__fill-container {
	width: 100%; height: 100%;
}
.mejs__fill-container .mejs__container {
	width: 100%; height: 100%;
}
.mejs__fill-container {
	background: none; margin: 0px auto; overflow: hidden; position: relative;
}
.mejs__container:focus {
	
}
.mejs__iframe-overlay {
	width: 100%; height: 100%; position: absolute;
}
.mejs__embed {
	background: rgb(0, 0, 0); margin: 0px; padding: 0px; width: 100%; height: 100%; overflow: hidden;
}
.mejs__embed body {
	background: rgb(0, 0, 0); margin: 0px; padding: 0px; width: 100%; height: 100%; overflow: hidden;
}
.mejs__fullscreen {
	overflow: hidden !important;
}
.mejs__container-fullscreen {
	left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; position: fixed; z-index: 1000;
}
.mejs__container-fullscreen .mejs__mediaelement {
	width: 100% !important; height: 100% !important;
}
.mejs__container-fullscreen video {
	width: 100% !important; height: 100% !important;
}
.mejs__background {
	left: 0px; top: 0px; position: absolute;
}
.mejs__mediaelement {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 0;
}
.mejs__poster {
	background-position: 50% 50%; left: 0px; top: 0px; position: absolute; z-index: 1; background-repeat: no-repeat; background-size: cover;
}
:root .mejs__poster-img {
	display: none;
}
.mejs__poster-img {
	padding: 0px; border: 0px currentColor; border-image: none;
}
.mejs__overlay {
	left: 0px; top: 0px; display: flex; position: absolute; justify-content: center; align-items: center; -webkit-box-align: center; -webkit-align-items: center; -webkit-box-pack: center; -webkit-justify-content: center;
}
.mejs__layer {
	z-index: 1;
}
.mejs__overlay-play {
	cursor: pointer;
}
.mejs__overlay-button {
	background: url("mejs-controls.svg") no-repeat 0px -39px; width: 80px; height: 80px;
}
.mejs__overlay:hover > .mejs__overlay-button {
	background-position: -80px -39px;
}
.mejs__overlay-loading {
	width: 80px; height: 80px;
}
.mejs__overlay-loading-bg-img {
	background: url("mejs-controls.svg") no-repeat -160px -40px; animation:mejs__loading-spinner 1s linear infinite; width: 80px; height: 80px; display: block; z-index: 1; -webkit-animation: mejs__loading-spinner 1s linear infinite;
}
.mejs__controls {
	margin: 0px; padding: 0px 10px; left: 0px; width: 100%; height: 40px; bottom: 0px; display: flex; list-style-type: none; position: absolute; z-index: 3;
}
:not([style*='display: none']).mejs__controls {
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
}
.mejs__button {
	margin: 0px; width: 32px; height: 40px; line-height: 10px; font-size: 10px;
}
.mejs__time {
	margin: 0px; width: 32px; height: 40px; line-height: 10px; font-size: 10px;
}
.mejs__time-rail {
	margin: 0px; width: 32px; height: 40px; line-height: 10px; font-size: 10px;
}
.mejs__button > button {
	background: url("mejs-controls.svg"); margin: 10px 6px; padding: 0px; border: 0px currentColor; border-image: none; width: 20px; height: 20px; line-height: 0; overflow: hidden; font-size: 0px; text-decoration: none; display: block; position: absolute; cursor: pointer;
}
.mejs__button > button:focus {
	outline: rgb(153, 153, 153) dotted 1px;
}
.mejs__container-keyboard-inactive a {
	outline: 0px;
}
.mejs__container-keyboard-inactive a:focus {
	outline: 0px;
}
.mejs__container-keyboard-inactive button {
	outline: 0px;
}
.mejs__container-keyboard-inactive button:focus {
	outline: 0px;
}
.mejs__container-keyboard-inactive [role=slider] {
	outline: 0px;
}
.mejs__container-keyboard-inactive [role=slider]:focus {
	outline: 0px;
}
.mejs__time {
	padding: 16px 6px 0px; width: auto; height: 24px; text-align: center; color: rgb(255, 255, 255); overflow: hidden; font-size: 11px; font-weight: bold; box-sizing: content-box;
}
.mejs__play > button {
	background-position: 0px 0px;
}
.mejs__pause > button {
	background-position: -20px 0px;
}
.mejs__replay > button {
	background-position: -160px 0px;
}
.mejs__time-rail {
	margin: 0px 10px; height: 40px; padding-top: 10px; position: relative; direction: ltr; flex-grow: 1; -webkit-box-flex: 1; -webkit-flex-grow: 1;
}
.mejs__time-total {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-buffering {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-loaded {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-current {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-float {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-hovered {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-float-current {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-float-corner {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-marker {
	border-radius: 2px; height: 10px; display: block; position: absolute; cursor: pointer;
}
.mejs__time-total {
	background: rgba(255, 255, 255, 0.3); margin: 5px 0px 0px; width: 100%;
}
.mejs__time-buffering {
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent) 0% 0% / 15px 15px; animation:buffering-stripes 2s linear infinite; width: 100%; -webkit-animation: buffering-stripes 2s linear infinite;
}
.mejs__time-loaded {
	background: rgba(255, 255, 255, 0.3);
}
.mejs__time-current {
	background: rgba(255, 255, 255, 0.9);
}
.mejs__time-handle-content {
	background: rgba(255, 255, 255, 0.9);
}
.mejs__time-hovered {
	background: rgba(255, 255, 255, 0.5); z-index: 10;
}
.mejs__time-hovered.negative {
	background: rgba(0, 0, 0, 0.2);
}
.mejs__time-current {
	transform-origin: 0% 0%; transition:0.15s ease-in; left: 0px; width: 100%; transform: scaleX(0); -webkit-transition: 0.15s ease-in all; -webkit-transform: scaleX(0); -webkit-transform-origin: 0 0;
}
.mejs__time-buffering {
	transform-origin: 0% 0%; transition:0.15s ease-in; left: 0px; width: 100%; transform: scaleX(0); -webkit-transition: 0.15s ease-in all; -webkit-transform: scaleX(0); -webkit-transform-origin: 0 0;
}
.mejs__time-loaded {
	transform-origin: 0% 0%; transition:0.15s ease-in; left: 0px; width: 100%; transform: scaleX(0); -webkit-transition: 0.15s ease-in all; -webkit-transform: scaleX(0); -webkit-transform-origin: 0 0;
}
.mejs__time-hovered {
	transform-origin: 0% 0%; transition:0.15s ease-in; left: 0px; width: 100%; transform: scaleX(0); -webkit-transition: 0.15s ease-in all; -webkit-transform: scaleX(0); -webkit-transform-origin: 0 0;
}
.mejs__time-buffering {
	transform: scaleX(1); -webkit-transform: scaleX(1);
}
.mejs__time-hovered {
	transition:height 0.1s cubic-bezier(0.44, 0, 1, 1); -webkit-transition: height 0.1s cubic-bezier(0.44, 0, 1, 1);
}
.mejs__time-hovered.no-hover {
	transform: scaleX(0) !important; -webkit-transform: scaleX(0);
}
.mejs__time-handle {
	border: 4px solid transparent; border-image: none; left: 0px; position: absolute; z-index: 11; cursor: pointer; transform: translateX(0px); -webkit-transform: translateX(0);
}
.mejs__time-handle-content {
	border: 4px solid transparent; border-image: none; left: 0px; position: absolute; z-index: 11; cursor: pointer; transform: translateX(0px); -webkit-transform: translateX(0);
}
.mejs__time-handle-content {
	border-radius: 50%; border: 4px solid rgba(255, 255, 255, 0.9); border-image: none; left: -7px; top: -4px; width: 10px; height: 10px; transform: scale(0); -webkit-transform: scale(0);
}
.mejs__time-rail:hover .mejs__time-handle-content {
	transform: scale(1); -webkit-transform: scale(1);
}
.mejs__time-rail .mejs__time-handle-content:focus {
	transform: scale(1); -webkit-transform: scale(1);
}
.mejs__time-rail .mejs__time-handle-content:active {
	transform: scale(1); -webkit-transform: scale(1);
}
.mejs__time-float {
	background: rgb(238, 238, 238); border: 1px solid rgb(51, 51, 51); border-image: none; width: 36px; height: 17px; text-align: center; bottom: 100%; color: rgb(17, 17, 17); margin-bottom: 9px; display: none; position: absolute; transform: translateX(-50%); -webkit-transform: translateX(-50%);
}
.mejs__time-float-current {
	margin: 2px; left: 0px; width: 30px; text-align: center; display: block;
}
.mejs__time-float-corner {
	border-width: 5px; border-style: solid; border-color: rgb(238, 238, 238) transparent transparent; border-radius: 0px; border-image: none; left: 50%; top: 100%; width: 0px; height: 0px; line-height: 0; display: block; position: absolute; transform: translateX(-50%); -webkit-transform: translateX(-50%);
}
.mejs__long-video .mejs__time-float {
	width: 64px; margin-left: -23px;
}
.mejs__long-video .mejs__time-float-current {
	width: 60px;
}
.mejs__broadcast {
	top: 15px; width: 100%; height: 10px; color: rgb(255, 255, 255); position: absolute;
}
.mejs__fullscreen-button > button {
	background-position: -80px 0px;
}
.mejs__unfullscreen > button {
	background-position: -100px 0px;
}
.mejs__mute > button {
	background-position: -60px 0px;
}
.mejs__unmute > button {
	background-position: -40px 0px;
}
.mejs__volume-button {
	position: relative;
}
.mejs__volume-button > .mejs__volume-slider {
	background: rgba(50, 50, 50, 0.7); margin: 0px; border-radius: 0px; left: 50%; width: 25px; height: 115px; bottom: 100%; display: none; position: absolute; z-index: 1; transform: translateX(-50%); -webkit-transform: translateX(-50%); -webkit-backface-visibility: hidden;
}
.mejs__volume-button:hover {
	border-radius: 0px 0px 4px 4px;
}
.mejs__volume-total {
	background: rgba(255, 255, 255, 0.5); margin: 0px; left: 50%; top: 8px; width: 2px; height: 100px; position: absolute; transform: translateX(-50%); -webkit-transform: translateX(-50%);
}
.mejs__volume-current {
	background: rgba(255, 255, 255, 0.9); margin: 0px; left: 0px; width: 100%; position: absolute;
}
.mejs__volume-handle {
	background: rgba(255, 255, 255, 0.9); border-radius: 1px; left: 50%; width: 16px; height: 6px; position: absolute; cursor: ns-resize; transform: translateX(-50%); -webkit-transform: translateX(-50%);
}
.mejs__horizontal-volume-slider {
	width: 56px; height: 36px; vertical-align: middle; display: block; position: relative;
}
.mejs__horizontal-volume-total {
	background: rgba(50, 50, 50, 0.8); margin: 0px; padding: 0px; border-radius: 2px; left: 0px; top: 16px; width: 50px; height: 8px; font-size: 1px; position: absolute;
}
.mejs__horizontal-volume-current {
	background: rgba(255, 255, 255, 0.8); margin: 0px; padding: 0px; border-radius: 2px; left: 0px; top: 0px; width: 100%; height: 100%; font-size: 1px; position: absolute;
}
.mejs__horizontal-volume-handle {
	display: none;
}
.mejs__captions-button {
	position: relative;
}
.mejs__chapters-button {
	position: relative;
}
.mejs__captions-button > button {
	background-position: -140px 0px;
}
.mejs__chapters-button > button {
	background-position: -180px 0px;
}
.mejs__captions-button > .mejs__captions-selector {
	background: rgba(50, 50, 50, 0.7); padding: 0px; border-radius: 0px; border: 1px solid transparent; border-image: none; width: 86px; right: 50%; bottom: 100%; overflow: hidden; margin-right: -43px; visibility: visible; position: absolute;
}
.mejs__chapters-button > .mejs__chapters-selector {
	background: rgba(50, 50, 50, 0.7); padding: 0px; border-radius: 0px; border: 1px solid transparent; border-image: none; width: 86px; right: 50%; bottom: 100%; overflow: hidden; margin-right: -43px; visibility: visible; position: absolute;
}
.mejs__chapters-button > .mejs__chapters-selector {
	width: 110px; margin-right: -55px;
}
.mejs__captions-selector-list {
	margin: 0px; padding: 0px; overflow: hidden; list-style-type: none !important;
}
.mejs__chapters-selector-list {
	margin: 0px; padding: 0px; overflow: hidden; list-style-type: none !important;
}
.mejs__captions-selector-list-item {
	margin: 0px 0px 6px; padding: 0px; color: rgb(255, 255, 255); overflow: hidden; display: block; list-style-type: none !important; cursor: pointer;
}
.mejs__chapters-selector-list-item {
	margin: 0px 0px 6px; padding: 0px; color: rgb(255, 255, 255); overflow: hidden; display: block; list-style-type: none !important; cursor: pointer;
}
.mejs__captions-selector-list-item:hover {
	background-color: rgba(255, 255, 255, 0.4) !important;
}
.mejs__chapters-selector-list-item:hover {
	background-color: rgba(255, 255, 255, 0.4) !important;
}
.mejs__captions-selector-input {
	margin: 3px 3px 0px 5px; left: -1000px; clear: both; float: left; position: absolute;
}
.mejs__chapters-selector-input {
	margin: 3px 3px 0px 5px; left: -1000px; clear: both; float: left; position: absolute;
}
.mejs__captions-selector-label {
	padding: 4px 10px 0px; width: 100%; line-height: 15px; font-size: 10px; float: left; cursor: pointer;
}
.mejs__chapters-selector-label {
	padding: 4px 10px 0px; width: 100%; line-height: 15px; font-size: 10px; float: left; cursor: pointer;
}
.mejs__captions-selected {
	color: rgba(33, 248, 248, 1);
}
.mejs__chapters-selected {
	color: rgba(33, 248, 248, 1);
}
.mejs__captions-translations {
	margin: 0px 0px 5px; font-size: 10px;
}
.mejs__captions-layer {
	left: 0px; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 20px; font-size: 16px; position: absolute;
}
.mejs__captions-layer a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
[lang=ar].mejs__captions-layer {
	font-size: 20px; font-weight: normal;
}
.mejs__captions-position {
	left: 0px; width: 100%; bottom: 15px; position: absolute;
}
.mejs__captions-position-hover {
	bottom: 35px;
}
.mejs__captions-text {
	background: rgba(20, 20, 20, 0.5); padding: 0px; white-space: pre-wrap; box-shadow: 5px 0px 0px rgba(20,20,20,0.5), -5px 0px 0px rgba(20,20,20,0.5);
}
.mejs__captions-text * {
	background: rgba(20, 20, 20, 0.5); padding: 0px; white-space: pre-wrap; box-shadow: 5px 0px 0px rgba(20,20,20,0.5), -5px 0px 0px rgba(20,20,20,0.5);
}
.mejs__overlay-error {
	position: relative;
}
.mejs__overlay-error > img {
	left: 0px; top: 0px; position: absolute; z-index: -1; max-width: 100%;
}
.mejs__cannotplay {
	color: rgb(255, 255, 255); font-size: 0.8em;
}
.mejs__cannotplay a {
	color: rgb(255, 255, 255); font-size: 0.8em;
}
.mejs__cannotplay {
	position: relative;
}
.mejs__cannotplay p {
	padding: 0px 15px; width: 100%; display: inline-block;
}
.mejs__cannotplay a {
	padding: 0px 15px; width: 100%; display: inline-block;
}
