.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden;
}
.ssCreateContainer {
	padding: 5px; font-family: Arial, Helvetica, Sans-serif; font-size: 14px; position: relative; z-index: 1;
}
.ssEditContainer {
	padding: 5px; font-family: Arial, Helvetica, Sans-serif; font-size: 14px; position: relative; z-index: 1;
}
.ssManageContainer {
	padding: 5px; font-family: Arial, Helvetica, Sans-serif; font-size: 14px; position: relative; z-index: 1;
}
.ssManageCollectionsContainer {
	padding: 5px; font-family: Arial, Helvetica, Sans-serif; font-size: 14px; position: relative; z-index: 1;
}
.ssSetupContainer {
	padding: 5px; font-family: Arial, Helvetica, Sans-serif; font-size: 14px; position: relative; z-index: 1;
}
.ssOverlay {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 3; opacity: 0.6; -moz-opacity: 0.6; -khtml-opacity: 0.6;
}
.ssFormRow {
	padding: 5px 0px 5px 200px; clear: both; z-index: 2;
}
.ssFormRow > label {
	width: 200px; text-align: right; font-weight: bold; margin-left: -200px; vertical-align: middle; display: inline-block;
}
.ssFormRow label.longer {
	width: 250px; text-align: right; font-weight: bold; margin-left: -200px; vertical-align: middle; display: inline-block;
}
.ssEditContainer .ssFormRow > label {
	vertical-align: top;
}
.ssFormRow > input[type='text'] {
	margin: 0px; padding: 5px; border: 2px solid rgb(204, 204, 204); border-image: none; width: 220px;
}
.ssFormRow > select {
	margin: 0px; padding: 5px; border: 2px solid rgb(204, 204, 204); border-image: none; width: 220px;
}
.ssManageCollectionsContainer select {
	background-color: transparent;
}
.ssFormRow > textarea {
	margin: 0px; padding: 5px; border: 2px solid rgb(204, 204, 204); border-image: none; width: 94%; height: 130px;
}
.ssFormRow .checkBoxList {
	background: rgb(255, 255, 255); margin: -24px 0px 0px 4px; padding: 3px; border: 2px solid rgb(204, 204, 204); border-image: none; width: 300px; overflow: auto; font-size: 12px; min-height: 29px; max-height: 112px;
}
.ssFormRow .linkList {
	background: rgb(255, 255, 255); margin: -24px 0px 0px 4px; padding: 3px; border: 2px solid rgb(204, 204, 204); border-image: none; width: 300px; overflow: auto; font-size: 12px; min-height: 29px; max-height: 112px;
}
.ssFormRow .checkBoxList label {
	margin: 0px; padding-bottom: 2px; font-weight: normal;
}
.ssFormRow .checkBoxList input {
	margin: 0px 4px 0px 0px; vertical-align: middle;
}
.ssFormRow .linkList .linkContainer {
	margin-top: 3px; position: relative;
}
.ssFormRow .linkList > div:first-child {
	margin-top: 0px;
}
.ssFormRow .linkList .ssFormRowSecondaryAction {
	margin-left: 0px;
}
.ssFormRow .linkList .moveLinkDown {
	text-decoration: none;
}
.ssFormRow .linkList .moveLinkUp {
	text-decoration: none;
}
.ssFormRow .linkList .moveLinkDown {
	margin-left: 3px;
}
.ssFormRow .linkList .link {
	margin-left: 10px;
}
.ssFormRow .linkList .removeLink {
	right: 0px; text-decoration: none; position: absolute;
}
.ssFormRow .linkList .editLink {
	right: 32px; position: absolute;
}
.ssFormInfoText {
	color: rgb(255, 0, 0); font-size: 10px; margin-left: 5px;
}
.ssFormActionRow {
	margin-top: 20px;
}
.ssFormActionRow a {
	text-decoration: none;
}
.ssFormRowPrimaryAction {
	background: rgb(102, 102, 102); padding: 6px 10px; color: rgb(255, 255, 255) !important; font-size: 14px; text-decoration: none !important; display: inline-block;
}
.ssFormRowSecondaryAction {
	background: rgb(102, 102, 102); padding: 6px 10px; color: rgb(255, 255, 255) !important; font-size: 14px; text-decoration: none !important; display: inline-block;
}
.ssFormRowPrimaryAction:hover {
	background: rgb(82, 82, 82);
}
.ssFormRowSecondaryAction:hover {
	background: rgb(82, 82, 82);
}
.ssFormRowPrimaryAction {
	margin-left: 3px;
}
.ssFormRowSecondaryAction {
	margin-left: 30px;
}
.ssFormRowBlueButton {
	background: rgb(77, 144, 254);
}
.ssFormRowBlueButton:hover {
	background: rgb(0, 114, 187);
}
.ssFormRowGreenButton {
	background: rgb(53, 170, 71);
}
.ssFormRowGreenButton:hover {
	background: rgb(29, 148, 59);
}
.ssFormRowRedButton {
	background: rgb(216, 74, 56);
}
.ssFormRowRedButton:hover {
	background: rgb(197, 55, 39);
}
.ssManageSlideButtonContainer {
	margin-top: 20px; margin-bottom: 10px;
}
.ssManageSlideSummary {
	width: 54%; font-size: 16px; margin-bottom: 11px; float: left;
}
.ssManageSlideSummary .ssFormRowGreenButton {
	margin-bottom: 15px;
}
.ssManageLinks {
	width: 45%; float: right;
}
.ssManageCollectionsSummary {
	font-size: 16px; margin-top: 20px;
}
.ssManageSlideSummary span {
	font-weight: bold; margin-right: 20px;
}
.ssManageCollectionsSummary span {
	font-weight: bold; margin-right: 20px;
}
.ssManageDragDropWarning {
	height: 30px; text-align: center; line-height: 28px; font-size: 10px; font-style: italic;
}
.ssManageListContainer {
	border: 1px solid grey; border-image: none; width: 45%; float: left;
}
.ssManageListContainer div.ssManageListScroll {
	overflow: auto; min-height: 86px; max-height: 851px;
}
.ssManageList {
	width: 100%; border-collapse: collapse; table-layout: fixed; cursor: move;
}
.ssManageListCaption {
	padding: 4px; border: 1px solid grey; border-image: none; text-align: center; color: black; font-size: 16px;
}
.ssManageListContainer.Published {
	float: right;
}
.ssManageCollectionsList {
	width: 100%; margin-top: 20px; border-collapse: collapse; table-layout: fixed;
}
.ssManageCollectionSlideList {
	width: 100%; margin-top: 20px; border-collapse: collapse; table-layout: fixed;
}
.ssManageList th {
	padding: 4px; border: 2px solid rgb(102, 102, 102); border-image: none; text-align: center;
}
.ssManageList td {
	padding: 4px; border: 2px solid rgb(102, 102, 102); border-image: none; text-align: center;
}
.ssManageCollectionsList th {
	padding: 4px; border: 2px solid rgb(102, 102, 102); border-image: none; text-align: center;
}
.ssManageCollectionsList td {
	padding: 4px; border: 2px solid rgb(102, 102, 102); border-image: none; text-align: center;
}
.ssManageCollectionSlideList th {
	padding: 4px; border: 2px solid rgb(102, 102, 102); border-image: none; text-align: center;
}
.ssManageCollectionSlideList td {
	padding: 4px; border: 2px solid rgb(102, 102, 102); border-image: none; text-align: center;
}
.ssManageList a {
	text-decoration: none;
}
.ssManageCollectionsList a {
	text-decoration: none;
}
.ssManageCollectionSlideList a {
	text-decoration: none;
}
.ssManageOrderHeader {
	width: 80px;
}
.ssManageEditHeader {
	width: 160px;
}
.ssManageThumbnailHeader {
	width: 130px;
}
.ssManageApprovedHeader {
	width: 80px;
}
.ssManageTitleHeader {
	
}
.ssHeaderRow {
	margin: 20px 0px 0px; font-size: 20px; font-weight: bold;
}
.ssHelpIcon {
	background: rgb(0, 0, 0); border-radius: 8px; width: 16px; height: 16px; text-align: center; color: rgb(255, 255, 255); line-height: 16px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin-left: 4px; display: inline-block; cursor: pointer; opacity: 0.6; -moz-opacity: 0.6; -khtml-opacity: 0.6;
}
.ssHelpContainer {
	background: rgb(102, 102, 102); padding: 8px; border-radius: 6px; width: 300px; color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; position: absolute; z-index: 1000;
}
.pagerInformation .pointIt {
	cursor: pointer;
}
.pagerInformation .noClick {
	cursor: no-drop;
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.ui-helper-reset {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; line-height: 1.3; font-size: 100%; text-decoration: none;
}
.ui-helper-clearfix::before {
	display: table; border-collapse: collapse; content: "";
}
.ui-helper-clearfix::after {
	display: table; border-collapse: collapse; content: "";
}
.ui-helper-clearfix::after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0px;
}
.ui-helper-zfix {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; opacity: 0;
}
.ui-state-disabled {
	cursor: default !important;
}
.ui-icon {
	text-indent: -99999px; overflow: hidden; display: block; background-repeat: no-repeat;
}
.ui-widget-overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	font-size: 0.1px; display: block; position: absolute;
}
.ui-resizable-disabled .ui-resizable-handle {
	display: none;
}
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	left: 0px; top: -5px; width: 100%; height: 7px; cursor: n-resize;
}
.ui-resizable-s {
	left: 0px; width: 100%; height: 7px; bottom: -5px; cursor: s-resize;
}
.ui-resizable-e {
	top: 0px; width: 7px; height: 100%; right: -5px; cursor: e-resize;
}
.ui-resizable-w {
	left: -5px; top: 0px; width: 7px; height: 100%; cursor: w-resize;
}
.ui-resizable-se {
	width: 12px; height: 12px; right: 1px; bottom: 1px; cursor: se-resize;
}
.ui-resizable-sw {
	left: -5px; width: 9px; height: 9px; bottom: -5px; cursor: sw-resize;
}
.ui-resizable-nw {
	left: -5px; top: -5px; width: 9px; height: 9px; cursor: nw-resize;
}
.ui-resizable-ne {
	top: -5px; width: 9px; height: 9px; right: -5px; cursor: ne-resize;
}
.ui-selectable-helper {
	border: 1px dotted black; border-image: none; position: absolute; z-index: 100;
}
.ui-accordion .ui-accordion-header {
	padding: 0.5em 0.5em 0.5em 0.7em; margin-top: 2px; display: block; position: relative; cursor: pointer; min-height: 0px;
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: 0.7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	left: 0.5em; top: 50%; margin-top: -8px; position: absolute;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em; overflow: auto; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.ui-autocomplete {
	left: 0px; top: 0px; position: absolute; cursor: default;
}
.ui-button {
	padding: 0px; text-align: center; line-height: normal; overflow: visible; margin-right: 0.1em; vertical-align: middle; display: inline-block; position: relative; cursor: pointer;
}
.ui-button {
	text-decoration: none;
}
.ui-button:link {
	text-decoration: none;
}
.ui-button:visited {
	text-decoration: none;
}
.ui-button:hover {
	text-decoration: none;
}
.ui-button:active {
	text-decoration: none;
}
.ui-button-icon-only {
	width: 2.2em;
}
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}
.ui-button .ui-button-text {
	line-height: normal; display: block;
}
.ui-button-text-only .ui-button-text {
	padding: 0.4em 1em;
}
.ui-button-icon-only .ui-button-text {
	padding: 0.4em; text-indent: -9999999px;
}
.ui-button-icons-only .ui-button-text {
	padding: 0.4em; text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text {
	padding: 0.4em 1em 0.4em 2.1em;
}
.ui-button-text-icons .ui-button-text {
	padding: 0.4em 1em 0.4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text {
	padding: 0.4em 2.1em 0.4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding: 0.4em 2.1em 0.4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-right: 2.1em; padding-left: 2.1em;
}
input.ui-button {
	padding: 0.4em 1em;
}
.ui-button-icon-only .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-text-icon-primary .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-text-icon-secondary .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-text-icons .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-icons-only .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-icon-only .ui-icon {
	left: 50%; margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary {
	left: 0.5em;
}
.ui-button-text-icons .ui-button-icon-primary {
	left: 0.5em;
}
.ui-button-icons-only .ui-button-icon-primary {
	left: 0.5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary {
	right: 0.5em;
}
.ui-button-text-icons .ui-button-icon-secondary {
	right: 0.5em;
}
.ui-button-icons-only .ui-button-icon-secondary {
	right: 0.5em;
}
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-right: -0.3em; margin-left: 0px;
}
.ui-datepicker {
	padding: 0.2em 0.2em 0px; width: 17em; display: none;
}
.ui-datepicker .ui-datepicker-header {
	padding: 0.2em 0px; position: relative;
}
.ui-datepicker .ui-datepicker-prev {
	top: 2px; width: 1.8em; height: 1.8em; position: absolute;
}
.ui-datepicker .ui-datepicker-next {
	top: 2px; width: 1.8em; height: 1.8em; position: absolute;
}
.ui-datepicker .ui-datepicker-prev-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span {
	left: 50%; top: 50%; margin-top: -8px; margin-left: -8px; display: block; position: absolute;
}
.ui-datepicker .ui-datepicker-next span {
	left: 50%; top: 50%; margin-top: -8px; margin-left: -8px; display: block; position: absolute;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0px 2.3em; text-align: center; line-height: 1.8em;
}
.ui-datepicker .ui-datepicker-title select {
	margin: 1px 0px; font-size: 1em;
}
.ui-datepicker select.ui-datepicker-month {
	width: 49%;
}
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	margin: 0px 0px 0.4em; width: 100%; font-size: 0.9em; border-collapse: collapse;
}
.ui-datepicker th {
	padding: 0.7em 0.3em; border: 0px currentColor; border-image: none; text-align: center; font-weight: bold;
}
.ui-datepicker td {
	padding: 1px; border: 0px currentColor; border-image: none;
}
.ui-datepicker td span {
	padding: 0.2em; text-align: right; text-decoration: none; display: block;
}
.ui-datepicker td a {
	padding: 0.2em; text-align: right; text-decoration: none; display: block;
}
.ui-datepicker .ui-datepicker-buttonpane {
	margin: 0.7em 0px 0px; padding: 0px 0.2em; border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-right-style: none; border-bottom-style: none; border-left-style: none; background-image: none;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	margin: 0.5em 0.2em 0.4em; padding: 0.2em 0.6em 0.3em; width: auto; overflow: visible; float: right; cursor: pointer;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	margin: 0px auto 0.4em; width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0px;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0px;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	width: 100%; clear: both; font-size: 0px;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	left: auto; right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px; right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	left: auto; right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px; right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width: 0px; border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0px; border-left-width: 1px;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0.4em 1em; position: relative;
}
.ui-dialog .ui-dialog-title {
	margin: 0.1em 0px; width: 90%; overflow: hidden; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-buttonpane {
	border-width: 1px 0px 0px; padding: 0.3em 1em 0.5em 0.4em; text-align: left; margin-top: 0.5em; background-image: none;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 0.5em 0.4em 0.5em 0px; cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	background-position: 16px 16px; width: 12px; height: 12px; right: -5px; bottom: -5px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-menu {
	list-style: none; margin: 0px; padding: 2px; display: block;
}
.ui-menu .ui-menu {
	margin-top: -3px; position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0px; padding: 0px; width: 100%; list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu .ui-menu-divider {
	border-width: 1px 0px 0px; margin: 5px -2px; height: 0px; line-height: 0; font-size: 0px;
}
.ui-menu .ui-menu-item a {
	padding: 2px 0.4em; line-height: 1.5; font-weight: normal; text-decoration: none; display: block; min-height: 0px;
}
.ui-menu .ui-menu-item a.ui-state-focus {
	margin: -1px; font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px; font-weight: normal;
}
.ui-menu .ui-state-disabled {
	margin: 0.4em 0px 0.2em; line-height: 1.5; font-weight: normal;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	padding-left: 2em; position: relative;
}
.ui-menu .ui-icon {
	left: 0.2em; top: 0.2em; position: absolute;
}
.ui-menu .ui-menu-icon {
	float: right; position: static;
}
.ui-progressbar {
	height: 2em; text-align: left; overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px; height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("images/animated-overlay.gif"); height: 100%; opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}
.ui-slider {
	text-align: left; position: relative;
}
.ui-slider .ui-slider-handle {
	width: 1.2em; height: 1.2em; position: absolute; z-index: 2; cursor: default;
}
.ui-slider .ui-slider-range {
	background-position: 0px 0px; border: 0px currentColor; border-image: none; font-size: 0.7em; display: block; position: absolute; z-index: 1;
}
.ui-slider.ui-state-disabled .ui-slider-handle {
	filter: inherit;
}
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
.ui-slider-horizontal {
	height: 0.8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -0.3em; margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0px; height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0px;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0px;
}
.ui-slider-vertical {
	width: 0.8em; height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -0.3em; margin-bottom: -0.6em; margin-left: 0px;
}
.ui-slider-vertical .ui-slider-range {
	left: 0px; width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0px;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0px;
}
.ui-spinner {
	padding: 0px; overflow: hidden; vertical-align: middle; display: inline-block; position: relative;
}
.ui-spinner-input {
	background: none; margin: 0.2em 22px 0.2em 0.4em; padding: 0px; border: currentColor; border-image: none; color: inherit; vertical-align: middle;
}
.ui-spinner-button {
	margin: 0px; padding: 0px; width: 16px; height: 50%; text-align: center; right: 0px; overflow: hidden; font-size: 0.5em; display: block; position: absolute; cursor: default;
}
.ui-spinner a.ui-spinner-button {
	border-top-color: currentColor; border-right-color: currentColor; border-bottom-color: currentColor; border-top-width: medium; border-right-width: medium; border-bottom-width: medium; border-top-style: none; border-right-style: none; border-bottom-style: none;
}
.ui-spinner .ui-icon {
	left: 0px; top: 50%; margin-top: -8px; position: absolute;
}
.ui-spinner-up {
	top: 0px;
}
.ui-spinner-down {
	bottom: 0px;
}
.ui-spinner .ui-icon-triangle-1-s {
	background-position: -65px -16px;
}
.ui-tabs {
	padding: 0.2em; position: relative;
}
.ui-tabs .ui-tabs-nav {
	margin: 0px; padding: 0.2em 0.2em 0px;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none; margin: 1px 0.2em 0px 0px; padding: 0px; top: 0px; border-bottom-width: 0px; float: left; white-space: nowrap; position: relative;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 0.5em 1em; text-decoration: none; float: left;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 1px; margin-bottom: -1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	background: none; border-width: 0px; padding: 1em 1.4em; display: block;
}
.ui-tooltip {
	padding: 8px; position: absolute; z-index: 9999; max-width: 300px; box-shadow: 0px 0px 5px #aaa; -webkit-box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}
.SlideShowScope .ui-widget {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1.1em;
}
.SlideShowScope .ui-widget .ui-widget {
	font-size: 1em;
}
.SlideShowScope .ui-widget input {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em;
}
.SlideShowScope .ui-widget select {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em;
}
.SlideShowScope .ui-widget textarea {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em;
}
.SlideShowScope .ui-widget button {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em;
}
.SlideShowScope .ui-widget-content {
	background: url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x 50% top rgb(242, 245, 247); border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(54, 43, 54);
}
.SlideShowScope .ui-widget-content a {
	color: rgb(54, 43, 54);
}
.SlideShowScope .ui-widget-header {
	background: url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x 50% 50% rgb(222, 237, 247); border: 1px solid rgb(174, 208, 234); border-image: none; color: rgb(34, 34, 34); font-weight: bold;
}
.SlideShowScope .ui-widget-header a {
	color: rgb(34, 34, 34);
}
.SlideShowScope .ui-state-default {
	background: url("images/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x 50% 50% rgb(215, 235, 249); border: 1px solid rgb(174, 208, 234); border-image: none; color: rgb(39, 121, 170); font-weight: bold;
}
.SlideShowScope .ui-widget-content .ui-state-default {
	background: url("images/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x 50% 50% rgb(215, 235, 249); border: 1px solid rgb(174, 208, 234); border-image: none; color: rgb(39, 121, 170); font-weight: bold;
}
.SlideShowScope .ui-widget-header .ui-state-default {
	background: url("images/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x 50% 50% rgb(215, 235, 249); border: 1px solid rgb(174, 208, 234); border-image: none; color: rgb(39, 121, 170); font-weight: bold;
}
.SlideShowScope .ui-state-default a {
	color: rgb(39, 121, 170); text-decoration: none;
}
.SlideShowScope .ui-state-default a:link {
	color: rgb(39, 121, 170); text-decoration: none;
}
.SlideShowScope .ui-state-default a:visited {
	color: rgb(39, 121, 170); text-decoration: none;
}
.SlideShowScope .ui-state-hover {
	background: url("images/ui-bg_glass_100_e4f1fb_1x400.png") repeat-x 50% 50% rgb(228, 241, 251); border: 1px solid rgb(116, 178, 226); border-image: none; color: rgb(0, 112, 163); font-weight: bold;
}
.SlideShowScope .ui-widget-content .ui-state-hover {
	background: url("images/ui-bg_glass_100_e4f1fb_1x400.png") repeat-x 50% 50% rgb(228, 241, 251); border: 1px solid rgb(116, 178, 226); border-image: none; color: rgb(0, 112, 163); font-weight: bold;
}
.SlideShowScope .ui-widget-header .ui-state-hover {
	background: url("images/ui-bg_glass_100_e4f1fb_1x400.png") repeat-x 50% 50% rgb(228, 241, 251); border: 1px solid rgb(116, 178, 226); border-image: none; color: rgb(0, 112, 163); font-weight: bold;
}
.SlideShowScope .ui-state-focus {
	background: url("images/ui-bg_glass_100_e4f1fb_1x400.png") repeat-x 50% 50% rgb(228, 241, 251); border: 1px solid rgb(116, 178, 226); border-image: none; color: rgb(0, 112, 163); font-weight: bold;
}
.SlideShowScope .ui-widget-content .ui-state-focus {
	background: url("images/ui-bg_glass_100_e4f1fb_1x400.png") repeat-x 50% 50% rgb(228, 241, 251); border: 1px solid rgb(116, 178, 226); border-image: none; color: rgb(0, 112, 163); font-weight: bold;
}
.SlideShowScope .ui-widget-header .ui-state-focus {
	background: url("images/ui-bg_glass_100_e4f1fb_1x400.png") repeat-x 50% 50% rgb(228, 241, 251); border: 1px solid rgb(116, 178, 226); border-image: none; color: rgb(0, 112, 163); font-weight: bold;
}
.SlideShowScope .ui-state-hover a {
	color: rgb(0, 112, 163); text-decoration: none;
}
.SlideShowScope .ui-state-hover a:hover {
	color: rgb(0, 112, 163); text-decoration: none;
}
.SlideShowScope .ui-state-hover a:link {
	color: rgb(0, 112, 163); text-decoration: none;
}
.SlideShowScope .ui-state-hover a:visited {
	color: rgb(0, 112, 163); text-decoration: none;
}
.SlideShowScope .ui-state-focus a {
	color: rgb(0, 112, 163); text-decoration: none;
}
.SlideShowScope .ui-state-focus a:hover {
	color: rgb(0, 112, 163); text-decoration: none;
}
.SlideShowScope .ui-state-focus a:link {
	color: rgb(0, 112, 163); text-decoration: none;
}
.SlideShowScope .ui-state-focus a:visited {
	color: rgb(0, 112, 163); text-decoration: none;
}
.SlideShowScope .ui-state-active {
	background: url("images/ui-bg_glass_50_3baae3_1x400.png") repeat-x 50% 50% rgb(59, 170, 227); border: 1px solid rgb(38, 148, 232); border-image: none; color: rgb(255, 255, 255); font-weight: bold;
}
.SlideShowScope .ui-widget-content .ui-state-active {
	background: url("images/ui-bg_glass_50_3baae3_1x400.png") repeat-x 50% 50% rgb(59, 170, 227); border: 1px solid rgb(38, 148, 232); border-image: none; color: rgb(255, 255, 255); font-weight: bold;
}
.SlideShowScope .ui-widget-header .ui-state-active {
	background: url("images/ui-bg_glass_50_3baae3_1x400.png") repeat-x 50% 50% rgb(59, 170, 227); border: 1px solid rgb(38, 148, 232); border-image: none; color: rgb(255, 255, 255); font-weight: bold;
}
.SlideShowScope .ui-state-active a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.SlideShowScope .ui-state-active a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.SlideShowScope .ui-state-active a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.SlideShowScope .ui-state-highlight {
	background: url("images/ui-bg_highlight-soft_25_ffef8f_1x100.png") repeat-x 50% top rgb(255, 239, 143); border: 1px solid rgb(249, 221, 52); border-image: none; color: rgb(54, 54, 54);
}
.SlideShowScope .ui-widget-content .ui-state-highlight {
	background: url("images/ui-bg_highlight-soft_25_ffef8f_1x100.png") repeat-x 50% top rgb(255, 239, 143); border: 1px solid rgb(249, 221, 52); border-image: none; color: rgb(54, 54, 54);
}
.SlideShowScope .ui-widget-header .ui-state-highlight {
	background: url("images/ui-bg_highlight-soft_25_ffef8f_1x100.png") repeat-x 50% top rgb(255, 239, 143); border: 1px solid rgb(249, 221, 52); border-image: none; color: rgb(54, 54, 54);
}
.SlideShowScope .ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.SlideShowScope .ui-widget-content .ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.SlideShowScope .ui-widget-header .ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.SlideShowScope .ui-state-error {
	background: url("images/ui-bg_flat_15_cd0a0a_40x100.png") repeat-x 50% 50% rgb(205, 10, 10); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(255, 255, 255);
}
.SlideShowScope .ui-widget-content .ui-state-error {
	background: url("images/ui-bg_flat_15_cd0a0a_40x100.png") repeat-x 50% 50% rgb(205, 10, 10); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(255, 255, 255);
}
.SlideShowScope .ui-widget-header .ui-state-error {
	background: url("images/ui-bg_flat_15_cd0a0a_40x100.png") repeat-x 50% 50% rgb(205, 10, 10); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(255, 255, 255);
}
.SlideShowScope .ui-state-error a {
	color: rgb(255, 255, 255);
}
.SlideShowScope .ui-widget-content .ui-state-error a {
	color: rgb(255, 255, 255);
}
.SlideShowScope .ui-widget-header .ui-state-error a {
	color: rgb(255, 255, 255);
}
.SlideShowScope .ui-state-error-text {
	color: rgb(255, 255, 255);
}
.SlideShowScope .ui-widget-content .ui-state-error-text {
	color: rgb(255, 255, 255);
}
.SlideShowScope .ui-widget-header .ui-state-error-text {
	color: rgb(255, 255, 255);
}
.SlideShowScope .ui-priority-primary {
	font-weight: bold;
}
.SlideShowScope .ui-widget-content .ui-priority-primary {
	font-weight: bold;
}
.SlideShowScope .ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.SlideShowScope .ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.SlideShowScope .ui-widget-content .ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.SlideShowScope .ui-widget-header .ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.SlideShowScope .ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.SlideShowScope .ui-widget-content .ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.SlideShowScope .ui-widget-header .ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.SlideShowScope .ui-state-disabled .ui-icon {
	
}
.SlideShowScope .ui-icon {
	width: 16px; height: 16px;
}
.SlideShowScope .ui-icon {
	background-image: url("images/ui-icons_72a7cf_256x240.png");
}
.SlideShowScope .ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_72a7cf_256x240.png");
}
.SlideShowScope .ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_72a7cf_256x240.png");
}
.SlideShowScope .ui-state-default .ui-icon {
	background-image: url("images/ui-icons_3d80b3_256x240.png");
}
.SlideShowScope .ui-state-hover .ui-icon {
	background-image: url("images/ui-icons_2694e8_256x240.png");
}
.SlideShowScope .ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_2694e8_256x240.png");
}
.SlideShowScope .ui-state-active .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}
.SlideShowScope .ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_2e83ff_256x240.png");
}
.SlideShowScope .ui-state-error .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}
.SlideShowScope .ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}
.SlideShowScope .ui-icon-blank {
	background-position: 16px 16px;
}
.SlideShowScope .ui-icon-carat-1-n {
	background-position: 0px 0px;
}
.SlideShowScope .ui-icon-carat-1-ne {
	background-position: -16px 0px;
}
.SlideShowScope .ui-icon-carat-1-e {
	background-position: -32px 0px;
}
.SlideShowScope .ui-icon-carat-1-se {
	background-position: -48px 0px;
}
.SlideShowScope .ui-icon-carat-1-s {
	background-position: -64px 0px;
}
.SlideShowScope .ui-icon-carat-1-sw {
	background-position: -80px 0px;
}
.SlideShowScope .ui-icon-carat-1-w {
	background-position: -96px 0px;
}
.SlideShowScope .ui-icon-carat-1-nw {
	background-position: -112px 0px;
}
.SlideShowScope .ui-icon-carat-2-n-s {
	background-position: -128px 0px;
}
.SlideShowScope .ui-icon-carat-2-e-w {
	background-position: -144px 0px;
}
.SlideShowScope .ui-icon-triangle-1-n {
	background-position: 0px -16px;
}
.SlideShowScope .ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}
.SlideShowScope .ui-icon-triangle-1-e {
	background-position: -32px -16px;
}
.SlideShowScope .ui-icon-triangle-1-se {
	background-position: -48px -16px;
}
.SlideShowScope .ui-icon-triangle-1-s {
	background-position: -64px -16px;
}
.SlideShowScope .ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}
.SlideShowScope .ui-icon-triangle-1-w {
	background-position: -96px -16px;
}
.SlideShowScope .ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}
.SlideShowScope .ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}
.SlideShowScope .ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}
.SlideShowScope .ui-icon-arrow-1-n {
	background-position: 0px -32px;
}
.SlideShowScope .ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}
.SlideShowScope .ui-icon-arrow-1-e {
	background-position: -32px -32px;
}
.SlideShowScope .ui-icon-arrow-1-se {
	background-position: -48px -32px;
}
.SlideShowScope .ui-icon-arrow-1-s {
	background-position: -64px -32px;
}
.SlideShowScope .ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}
.SlideShowScope .ui-icon-arrow-1-w {
	background-position: -96px -32px;
}
.SlideShowScope .ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}
.SlideShowScope .ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}
.SlideShowScope .ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}
.SlideShowScope .ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}
.SlideShowScope .ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}
.SlideShowScope .ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}
.SlideShowScope .ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}
.SlideShowScope .ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}
.SlideShowScope .ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}
.SlideShowScope .ui-icon-arrowthick-1-n {
	background-position: 0px -48px;
}
.SlideShowScope .ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}
.SlideShowScope .ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}
.SlideShowScope .ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}
.SlideShowScope .ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}
.SlideShowScope .ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}
.SlideShowScope .ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}
.SlideShowScope .ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}
.SlideShowScope .ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}
.SlideShowScope .ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}
.SlideShowScope .ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}
.SlideShowScope .ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}
.SlideShowScope .ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}
.SlideShowScope .ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}
.SlideShowScope .ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}
.SlideShowScope .ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}
.SlideShowScope .ui-icon-arrowreturnthick-1-w {
	background-position: 0px -64px;
}
.SlideShowScope .ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}
.SlideShowScope .ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}
.SlideShowScope .ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}
.SlideShowScope .ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}
.SlideShowScope .ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}
.SlideShowScope .ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}
.SlideShowScope .ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}
.SlideShowScope .ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}
.SlideShowScope .ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}
.SlideShowScope .ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}
.SlideShowScope .ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}
.SlideShowScope .ui-icon-arrow-4 {
	background-position: 0px -80px;
}
.SlideShowScope .ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}
.SlideShowScope .ui-icon-extlink {
	background-position: -32px -80px;
}
.SlideShowScope .ui-icon-newwin {
	background-position: -48px -80px;
}
.SlideShowScope .ui-icon-refresh {
	background-position: -64px -80px;
}
.SlideShowScope .ui-icon-shuffle {
	background-position: -80px -80px;
}
.SlideShowScope .ui-icon-transfer-e-w {
	background-position: -96px -80px;
}
.SlideShowScope .ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}
.SlideShowScope .ui-icon-folder-collapsed {
	background-position: 0px -96px;
}
.SlideShowScope .ui-icon-folder-open {
	background-position: -16px -96px;
}
.SlideShowScope .ui-icon-document {
	background-position: -32px -96px;
}
.SlideShowScope .ui-icon-document-b {
	background-position: -48px -96px;
}
.SlideShowScope .ui-icon-note {
	background-position: -64px -96px;
}
.SlideShowScope .ui-icon-mail-closed {
	background-position: -80px -96px;
}
.SlideShowScope .ui-icon-mail-open {
	background-position: -96px -96px;
}
.SlideShowScope .ui-icon-suitcase {
	background-position: -112px -96px;
}
.SlideShowScope .ui-icon-comment {
	background-position: -128px -96px;
}
.SlideShowScope .ui-icon-person {
	background-position: -144px -96px;
}
.SlideShowScope .ui-icon-print {
	background-position: -160px -96px;
}
.SlideShowScope .ui-icon-trash {
	background-position: -176px -96px;
}
.SlideShowScope .ui-icon-locked {
	background-position: -192px -96px;
}
.SlideShowScope .ui-icon-unlocked {
	background-position: -208px -96px;
}
.SlideShowScope .ui-icon-bookmark {
	background-position: -224px -96px;
}
.SlideShowScope .ui-icon-tag {
	background-position: -240px -96px;
}
.SlideShowScope .ui-icon-home {
	background-position: 0px -112px;
}
.SlideShowScope .ui-icon-flag {
	background-position: -16px -112px;
}
.SlideShowScope .ui-icon-calendar {
	background-position: -32px -112px;
}
.SlideShowScope .ui-icon-cart {
	background-position: -48px -112px;
}
.SlideShowScope .ui-icon-pencil {
	background-position: -64px -112px;
}
.SlideShowScope .ui-icon-clock {
	background-position: -80px -112px;
}
.SlideShowScope .ui-icon-disk {
	background-position: -96px -112px;
}
.SlideShowScope .ui-icon-calculator {
	background-position: -112px -112px;
}
.SlideShowScope .ui-icon-zoomin {
	background-position: -128px -112px;
}
.SlideShowScope .ui-icon-zoomout {
	background-position: -144px -112px;
}
.SlideShowScope .ui-icon-search {
	background-position: -160px -112px;
}
.SlideShowScope .ui-icon-wrench {
	background-position: -176px -112px;
}
.SlideShowScope .ui-icon-gear {
	background-position: -192px -112px;
}
.SlideShowScope .ui-icon-heart {
	background-position: -208px -112px;
}
.SlideShowScope .ui-icon-star {
	background-position: -224px -112px;
}
.SlideShowScope .ui-icon-link {
	background-position: -240px -112px;
}
.SlideShowScope .ui-icon-cancel {
	background-position: 0px -128px;
}
.SlideShowScope .ui-icon-plus {
	background-position: -16px -128px;
}
.SlideShowScope .ui-icon-plusthick {
	background-position: -32px -128px;
}
.SlideShowScope .ui-icon-minus {
	background-position: -48px -128px;
}
.SlideShowScope .ui-icon-minusthick {
	background-position: -64px -128px;
}
.SlideShowScope .ui-icon-close {
	background-position: -80px -128px;
}
.SlideShowScope .ui-icon-closethick {
	background-position: -96px -128px;
}
.SlideShowScope .ui-icon-key {
	background-position: -112px -128px;
}
.SlideShowScope .ui-icon-lightbulb {
	background-position: -128px -128px;
}
.SlideShowScope .ui-icon-scissors {
	background-position: -144px -128px;
}
.SlideShowScope .ui-icon-clipboard {
	background-position: -160px -128px;
}
.SlideShowScope .ui-icon-copy {
	background-position: -176px -128px;
}
.SlideShowScope .ui-icon-contact {
	background-position: -192px -128px;
}
.SlideShowScope .ui-icon-image {
	background-position: -208px -128px;
}
.SlideShowScope .ui-icon-video {
	background-position: -224px -128px;
}
.SlideShowScope .ui-icon-script {
	background-position: -240px -128px;
}
.SlideShowScope .ui-icon-alert {
	background-position: 0px -144px;
}
.SlideShowScope .ui-icon-info {
	background-position: -16px -144px;
}
.SlideShowScope .ui-icon-notice {
	background-position: -32px -144px;
}
.SlideShowScope .ui-icon-help {
	background-position: -48px -144px;
}
.SlideShowScope .ui-icon-check {
	background-position: -64px -144px;
}
.SlideShowScope .ui-icon-bullet {
	background-position: -80px -144px;
}
.SlideShowScope .ui-icon-radio-on {
	background-position: -96px -144px;
}
.SlideShowScope .ui-icon-radio-off {
	background-position: -112px -144px;
}
.SlideShowScope .ui-icon-pin-w {
	background-position: -128px -144px;
}
.SlideShowScope .ui-icon-pin-s {
	background-position: -144px -144px;
}
.SlideShowScope .ui-icon-play {
	background-position: 0px -160px;
}
.SlideShowScope .ui-icon-pause {
	background-position: -16px -160px;
}
.SlideShowScope .ui-icon-seek-next {
	background-position: -32px -160px;
}
.SlideShowScope .ui-icon-seek-prev {
	background-position: -48px -160px;
}
.SlideShowScope .ui-icon-seek-end {
	background-position: -64px -160px;
}
.SlideShowScope .ui-icon-seek-start {
	background-position: -80px -160px;
}
.SlideShowScope .ui-icon-seek-first {
	background-position: -80px -160px;
}
.SlideShowScope .ui-icon-stop {
	background-position: -96px -160px;
}
.SlideShowScope .ui-icon-eject {
	background-position: -112px -160px;
}
.SlideShowScope .ui-icon-volume-off {
	background-position: -128px -160px;
}
.SlideShowScope .ui-icon-volume-on {
	background-position: -144px -160px;
}
.SlideShowScope .ui-icon-power {
	background-position: 0px -176px;
}
.SlideShowScope .ui-icon-signal-diag {
	background-position: -16px -176px;
}
.SlideShowScope .ui-icon-signal {
	background-position: -32px -176px;
}
.SlideShowScope .ui-icon-battery-0 {
	background-position: -48px -176px;
}
.SlideShowScope .ui-icon-battery-1 {
	background-position: -64px -176px;
}
.SlideShowScope .ui-icon-battery-2 {
	background-position: -80px -176px;
}
.SlideShowScope .ui-icon-battery-3 {
	background-position: -96px -176px;
}
.SlideShowScope .ui-icon-circle-plus {
	background-position: 0px -192px;
}
.SlideShowScope .ui-icon-circle-minus {
	background-position: -16px -192px;
}
.SlideShowScope .ui-icon-circle-close {
	background-position: -32px -192px;
}
.SlideShowScope .ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}
.SlideShowScope .ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}
.SlideShowScope .ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}
.SlideShowScope .ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}
.SlideShowScope .ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}
.SlideShowScope .ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}
.SlideShowScope .ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}
.SlideShowScope .ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}
.SlideShowScope .ui-icon-circle-zoomin {
	background-position: -176px -192px;
}
.SlideShowScope .ui-icon-circle-zoomout {
	background-position: -192px -192px;
}
.SlideShowScope .ui-icon-circle-check {
	background-position: -208px -192px;
}
.SlideShowScope .ui-icon-circlesmall-plus {
	background-position: 0px -208px;
}
.SlideShowScope .ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}
.SlideShowScope .ui-icon-circlesmall-close {
	background-position: -32px -208px;
}
.SlideShowScope .ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}
.SlideShowScope .ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}
.SlideShowScope .ui-icon-squaresmall-close {
	background-position: -80px -208px;
}
.SlideShowScope .ui-icon-grip-dotted-vertical {
	background-position: 0px -224px;
}
.SlideShowScope .ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}
.SlideShowScope .ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}
.SlideShowScope .ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}
.SlideShowScope .ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}
.SlideShowScope .ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}
.SlideShowScope .ui-corner-all {
	border-top-left-radius: 6px;
}
.SlideShowScope .ui-corner-top {
	border-top-left-radius: 6px;
}
.SlideShowScope .ui-corner-left {
	border-top-left-radius: 6px;
}
.SlideShowScope .ui-corner-tl {
	border-top-left-radius: 6px;
}
.SlideShowScope .ui-corner-all {
	border-top-right-radius: 6px;
}
.SlideShowScope .ui-corner-top {
	border-top-right-radius: 6px;
}
.SlideShowScope .ui-corner-right {
	border-top-right-radius: 6px;
}
.SlideShowScope .ui-corner-tr {
	border-top-right-radius: 6px;
}
.SlideShowScope .ui-corner-all {
	border-bottom-left-radius: 6px;
}
.SlideShowScope .ui-corner-bottom {
	border-bottom-left-radius: 6px;
}
.SlideShowScope .ui-corner-left {
	border-bottom-left-radius: 6px;
}
.SlideShowScope .ui-corner-bl {
	border-bottom-left-radius: 6px;
}
.SlideShowScope .ui-corner-all {
	border-bottom-right-radius: 6px;
}
.SlideShowScope .ui-corner-bottom {
	border-bottom-right-radius: 6px;
}
.SlideShowScope .ui-corner-right {
	border-bottom-right-radius: 6px;
}
.SlideShowScope .ui-corner-br {
	border-bottom-right-radius: 6px;
}
.SlideShowScope .ui-widget-overlay {
	background: url("images/ui-bg_diagonals-thick_90_eeeeee_40x40.png") 50% 50% rgb(238, 238, 238); opacity: 0.8;
}
.SlideShowScope .ui-widget-shadow {
	background: url("images/ui-bg_highlight-hard_70_000000_1x100.png") repeat-x 50% top rgb(0, 0, 0); margin: -7px 0px 0px -7px; padding: 7px; border-radius: 8px; opacity: 0.3;
}
.togglePublish {
	cursor: pointer;
}
.ui-sortable-helper {
	cursor: pointer; background-color: rgb(238, 238, 238);
}
.ssFormLeft {
	width: 58%; margin-bottom: 20px; float: left;
}
.ssFormRight {
	width: 40%; float: right;
}
.imageArea {
	background: rgb(246, 246, 246); border: 1px solid rgb(223, 225, 214); border-image: none; position: relative;
}
div.SlideshowTooltip {
	border: 1px solid rgb(65, 123, 175); left: 630px; top: 280px; width: 45%; overflow: auto; position: absolute; z-index: 98; max-height: 580px; background-color: rgb(220, 220, 220);
}
span.TooltipTopBarTitle {
	font-size: 30px; font-weight: bold;
}
div.TooltipTopBar {
	background: rgb(125, 125, 125); height: 40px;
}
div.TooltipClose {
	padding-right: 10px; font-size: 2em; float: right; cursor: pointer;
}
div.TooltipBody {
	padding: 10px 20px; float: left;
}
span.TooltipTitle {
	font-size: 14px; font-weight: bold;
}
.TooltipChild {
	margin-left: 25px;
}
.SlideshowLoadingOverlayImg {
	left: 50%; top: 50%; width: 50px; height: 50px; margin-top: -25px; margin-left: -25px; position: absolute;
}
.collectionmanagerfilterInformation {
	padding: 5px; border: 1px solid rgb(154, 160, 166); border-image: none; width: 100%; font-weight: bold; margin-top: 5px; margin-bottom: 20px; display: inline-block; position: inherit;
}
.collectionmanagerfilterInformation .startDate {
	margin: 0px; border: 1px solid rgb(154, 160, 166); border-image: none; width: 70px; height: 18px; text-align: center; color: rgb(34, 34, 34); font-size: 11px; font-weight: normal;
}
.collectionmanagerfilterInformation .endDate {
	margin: 0px; border: 1px solid rgb(154, 160, 166); border-image: none; width: 70px; height: 18px; text-align: center; color: rgb(34, 34, 34); font-size: 11px; font-weight: normal;
}
.collectionmanagerfilter a {
	background: linear-gradient(rgb(221, 221, 221) 0%, rgb(255, 255, 255) 100%); padding: 4px 8px; border-radius: 8px; border: 1px solid rgb(187, 187, 187); border-image: none; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; text-decoration: none; display: inline-block;
}
.collectionmanagerfilterInformation .searchGo {
	background: url("/DesktopModules/SlideShow/Resources/images/sharedMediaSprite.png") -76px -26px; width: 16px; height: 16px; right: 22px; bottom: 2px; display: block; position: absolute;
}
.collectionmanagerfilterInformation .searchClear {
	background: url("/DesktopModules/SlideShow/Resources/images/sharedMediaSprite.png") -76px -26px; width: 16px; height: 16px; right: 22px; bottom: 2px; display: block; position: absolute;
}
.collectionmanagerfilterInformation .searchBox {
	margin: 0px; border: 1px solid rgb(154, 160, 166); border-image: none; width: 210px; height: 20px; color: rgb(34, 34, 34); padding-right: 40px; padding-left: 5px; font-size: 11px; font-weight: normal;
}
.collectionmanagerfilterInformation .searchClear {
	background-position: -42px -26px; right: 3px;
}
.collectionmanagersearch {
	width: 40%; float: right; position: relative;
}
.collectionmanagerfilter {
	width: 55%; float: left;
}
.chklDaysOfTheWeek td {
	padding-right: 15px;
}
.imagedistortion {
	left: 0px !important; top: 0px !important; width: 100% !important; height: 100% !important; transform: none !important;
}
.smallVideoOverlay {
	background: url("/DesktopModules/SlideShow/Resources/images/dgovImageSprite.png") no-repeat no-repeat 0px -37px; left: 50%; top: 50%; width: 14px; height: 14px; margin-top: -7px; margin-left: -7px; position: absolute; z-index: 2;
}
.videoOverlay {
	background: url("/DesktopModules/SlideShow/Resources/images/dgovImageSprite.png") no-repeat no-repeat -43px 0px; left: 50%; top: 50%; width: 82px; height: 82px; margin-top: -41px; margin-left: -41px; position: absolute; z-index: 2;
}
.ErrorInform {
	color: red; margin-right: 18px; float: right;
}
.ui-datepicker {
	z-index: 1000 !important;
}
.checkBoxList .tagInput {
	display: none;
}
.editSlideLink {
	font-family: FontAwesome !important; font-size: 2em !important; text-decoration: none !important;
}
.deleteSlideLink {
	font-family: FontAwesome !important; font-size: 2em !important; text-decoration: none !important; margin-left: 10px;
}
.SMTagAutoComplete .ui-autocomplete {
	z-index: 1000 !important;
}
.manageList {
	height: 850px; overflow: auto;
}
.manageListFuturePublish {
	background-color: yellow;
}
.divSaveOrder {
	min-height: 32px;
}
.ssCanToggle {
	margin-bottom: 15px;
}
.ssCanToggle label {
	line-height: 28px; font-weight: bold; margin-bottom: 5px; display: inline-block; max-width: 100%;
}
.ssCanToggle label input[type='checkbox'] {
	left: 0px; top: 0px; position: absolute; opacity: 0;
}
.ssCanToggle label input[type='checkbox']:checked ~ .ssToggleSwitch {
	background-color: rgb(112, 199, 103);
}
.ssCanToggle label input[type='checkbox']:checked ~ .ssToggleSwitch::before {
	left: 0px; content: attr(data-unchecked);
}
.ssCanToggle label input[type='checkbox']:checked ~ .ssToggleSwitch::after {
	color: rgb(79, 183, 67); content: attr(data-checked); transform: translate3d(44px, 0px, 0px); -webkit-transform: translate3d(44px, 0, 0);
}
.ssToggleSwitch {
	background: rgb(255, 0, 0); border-radius: 2px; transition:background-color 0.3s cubic-bezier(0, 1, 0.5, 1); flex:0 0 90px; width: 90px; height: 28px; font-size: 13px; margin-left: 5px; float: right; display: block; position: relative; -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.ssToggleSwitch {
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.ssToggleSwitch::before {
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.ssToggleSwitch::after {
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.ssToggleSwitch::before {
	padding: 0px 12px; left: 45px; width: 45px; color: white; line-height: 28px; font-size: 10px;
}
.ssToggleSwitch::before {
	top: 0px; text-align: center; text-transform: uppercase; position: absolute; content: attr(data-checked);
}
.ssToggleSwitch::after {
	border-radius: 1px; transition:transform 0.3s cubic-bezier(0, 1, 0.5, 1); left: 1px; top: 1px; width: 44px; color: rgb(255, 0, 0); line-height: 26px; font-size: 10px; -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.ssToggleSwitch::after {
	background: white; text-align: center; text-transform: uppercase; position: absolute; z-index: 5; content: attr(data-unchecked); transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0);
}
.ui-tabs-active a {
	cursor: text;
}
.audit_log_notify {
	padding: 1px 5px; border-radius: 30px; top: -1px; right: -4px; color: white; font-size: 0.7em; font-weight: bold; position: absolute; box-shadow: 1px 1px 1px gray; background-color: rgb(187, 0, 0);
}
.audit_table {
	border-color: white; margin-bottom: 20px;
}
.audit_table td {
	padding: 5px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.slideshow_audit_type {
	padding: 4px; border-radius: 3px; color: rgb(255, 255, 255); font-weight: bold; -webkit-border-radius: 3px;
}
.audit_color0 {
	background-color: rgb(44, 97, 142);
}
.audit_color1 {
	background-color: rgb(143, 168, 48);
}
.audit_color2 {
	background-color: rgb(230, 135, 0);
}
.audit_color3 {
	background-color: rgb(192, 58, 0);
}
.audit_color4 {
	background-color: rgb(128, 94, 174);
}
.audit_color5 {
	background-color: rgb(58, 50, 69);
}
.audit_color6 {
	background-color: rgb(106, 0, 64);
}
.audit_color7 {
	background-color: rgb(85, 85, 85);
}
.DvidsVideo {
	margin: 0px auto; height: 0px; padding-bottom: 56.25%; display: none; position: relative;
}
.DvidsVideo .mejs__controls {
	z-index: 501;
}
.YouTubeContainer {
	height: 0px; overflow: hidden; padding-bottom: 56.25%; display: none; position: relative;
}
.YouTubeVideo {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.manageThumbnail {
	border-radius: 5px; transition:0.3s; cursor: pointer;
}
.manageThumbnail:hover {
	opacity: 0.7;
}
.ssThumbModal {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: auto; padding-top: 100px; display: none; position: fixed; z-index: 5; background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
	margin: auto; width: 80%; display: block; max-width: 700px;
}
#caption {
	margin: auto; padding: 10px 0px; width: 80%; height: 150px; text-align: center; color: rgb(204, 204, 204); display: block; max-width: 700px;
}
.modal-content {
	animation-name: zoom; animation-duration: 0.6s; -webkit-animation-name: zoom; -webkit-animation-duration: 0.6s;
}
#caption {
	animation-name: zoom; animation-duration: 0.6s; -webkit-animation-name: zoom; -webkit-animation-duration: 0.6s;
}
.closeModal {
	transition:0.3s; top: 50px; right: 35px; color: rgb(241, 241, 241); font-size: 40px; font-weight: bold; position: absolute;
}
.closeModal:hover {
	color: rgb(187, 187, 187); text-decoration: none; cursor: pointer;
}
.closeModal:focus {
	color: rgb(187, 187, 187); text-decoration: none; cursor: pointer;
}
@media only screen and (max-width:700px)
{
.modal-content {
	width: 100%;
}
}
.GenericSlideshow .slideWrapper img {
	max-height: 100%; max-width: 100%;
}
.dma-slideshow {
	background: none;
}
.dma-slideshow .caption-section.light {
	background-color: rgba(255, 255, 255, 0.7);
}
.dma-slideshow .headline-section.light {
	background-color: rgba(255, 255, 255, 0.7);
}
.dma-slideshow .caption-section.dark {
	background-color: rgba(0, 0, 0, 0.7);
}
.dma-slideshow .headline-section.dark {
	background-color: rgba(0, 0, 0, 0.7);
}
.dma-slideshow .caption-section.medium-dark {
	background-color: rgba(0, 0, 0, 0.5);
}
.dma-slideshow .caption-section.transparent {
	background-color: transparent;
}
.dma-slideshow .caption-section .title.dark {
	color: rgb(102, 102, 102);
}
.dma-slideshow .headline-section .title.dark {
	color: rgb(102, 102, 102);
}
.dma-slideshow .caption-section .title.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow .headline-section .title.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow .caption-overlay-transparent {
	background: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255);
}
.dma-slideshow .caption-section .text.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow .caption-section .text.dark {
	color: rgb(135, 135, 133);
}
.dma-slideshow .caption-section .text.light:hover {
	color: rgb(255, 255, 255);
}
.dma-slideshow .caption-section .text.dark:hover {
	color: rgb(102, 102, 102);
}
.dma-slideshow.pager-section.dark {
	background-color: rgb(34, 34, 34);
}
.dma-slideshow.pager-section.light {
	background-color: rgb(255, 255, 255);
}
.dma-slideshow.pager-section.transparent {
	background-color: transparent;
}
.dma-slideshow.pager-section .previous .link.dark {
	color: rgb(135, 135, 133);
}
.dma-slideshow.pager-section .next .link.dark {
	color: rgb(135, 135, 133);
}
.dma-slideshow.pager-section .previous .text.dark {
	color: rgb(135, 135, 133);
}
.dma-slideshow.pager-section .next .text.dark {
	color: rgb(135, 135, 133);
}
.dma-slideshow.pager-section .previous .link.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow.pager-section .next .link.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow.pager-section .previous .text.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow.pager-section .next .text.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow.pager-section .previous a.dark:visited {
	color: rgb(102, 102, 102);
}
.dma-slideshow.pager-section .next a.dark:visited {
	color: rgb(102, 102, 102);
}
.dma-slideshow.pager-section .previous a.light:visited {
	color: rgb(255, 255, 255);
}
.dma-slideshow.pager-section .next a.light:visited {
	color: rgb(255, 255, 255);
}
.dma-slideshow.pager-section .previous a.dark:active {
	color: rgb(102, 102, 102);
}
.dma-slideshow.pager-section .next a.dark:active {
	color: rgb(102, 102, 102);
}
.dma-slideshow.pager-section .previous a.light:active {
	color: rgb(255, 255, 255);
}
.dma-slideshow.pager-section .next a.light:active {
	color: rgb(255, 255, 255);
}
.dma-slideshow .actimg.dark a:visited {
	color: rgb(102, 102, 102);
}
.dma-slideshow .actimg.light a:visited {
	color: rgb(255, 255, 255);
}
.dma-slideshow .pager-dark:hover {
	color: black; background-color: rgb(255, 255, 255);
}
.dma-slideshow .pager-dark-active {
	color: black !important; background-color: rgb(255, 255, 255) !important;
}
.dma-slideshow .pager-dark {
	color: rgb(255, 255, 255); background-color: black;
}
.dma-slideshow .caption-overlay-gradient .title a {
	color: rgb(255, 255, 255);
}
.dma-slideshow .caption-overlay-gradient .description {
	color: rgb(255, 255, 255); text-shadow: 3px 3px 2px rgba(0,0,0,0.9);
}
.dma-slideshow .pager-light {
	color: black; background-color: rgb(255, 255, 255);
}
.dma-slideshow .pager-light-active {
	color: rgb(255, 255, 255); background-color: black;
}
.dma-slideshow .pager-light:hover {
	color: rgb(255, 255, 255); background-color: black;
}
.dma-slideshow .caption-light .description {
	color: black;
}
.dma-slideshow .caption-light .title a {
	color: black;
}
.dma-slideshow .caption-section.transparent .title.light.underline {
	border-color: rgb(133, 133, 135);
}
.dma-slideshow .caption-section.transparent a:hover .title.light.mouseover {
	color: rgb(133, 133, 135);
}
.dma-slideshow .pager-circles.light a {
	border-color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0);
}
.dma-slideshow .pager-circles.light a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.dma-slideshow .pager-circles.light a.activeSlide {
	background-color: rgba(255, 255, 255, 1);
}
.dma-slideshow .video-overlay.light span {
	color: rgb(255, 255, 255);
}
.dma-slideshow .video-overlay.light span::after {
	border-color: rgb(133, 133, 135);
}
.dma-slideshow .video-overlay.light button {
	border-color: rgb(255, 255, 255);
}
.dma-slideshow .video-overlay.light button::after {
	border-left-color: rgb(0, 0, 0);
}
.dma-slideshow .video-overlay.light:hover span::after {
	border-color: rgb(133, 133, 135);
}
.dma-slideshow .pager-section .next.text.dark {
	color: rgb(133, 133, 135);
}
.dma-slideshow .pager-section .previous.text.dark {
	color: rgb(133, 133, 135);
}
.dma-slideshow .text.dark.decorated a {
	color: rgb(133, 133, 135);
}
.dma-slideshow .text.dark.decorated a span {
	color: rgb(255, 255, 255);
}
.dma-slideshow .text.dark.decorated a:hover span {
	color: rgb(133, 133, 135);
}
.dma-slideshow .text.dark.decorated a::before {
	color: rgb(133, 133, 135);
}
.dma-slideshow .pager-section .next.text.dark > span.text.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow .pager-section .previous.text.dark > span.text.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow .text.dark.decorated::after {
	border-color: rgba(129, 130, 131, 0);
}
.dma-slideshow .pager-section .next.text.dark > span::after {
	border-color: rgba(129, 130, 131, 0);
}
.dma-slideshow .pager-section .previous.text.dark > span::after {
	border-color: rgba(129, 130, 131, 0);
}
.dma-slideshow .text.dark.decorated a:hover > span::after {
	border-color: rgba(129, 130, 131, 1);
}
.dma-slideshow .pager-section .next.text.dark > span::after {
	border-color: rgba(129, 130, 131, 1);
}
.dma-slideshow .pager-section .previous.text.dark > span::after {
	border-color: rgba(129, 130, 131, 1);
}
.dma-slideshow .icon.light {
	color: rgb(255, 255, 255);
}
.dma-slideshow .button-primary.dark {
	color: rgb(255, 255, 255); background-color: rgb(34, 34, 34);
}
@media screen and (max-width:992px)
{
.dma-slideshow .pager-section.light.mobile-background {
	background: rgb(68, 68, 68);
}
.dma-slideshow .pager-section.light.mobile-background .next {
	color: rgb(255, 255, 255);
}
.dma-slideshow .pager-section.light.mobile-background .previous {
	color: rgb(255, 255, 255);
}
}
.slides-manage-description {
	text-align: left;
}
.ssManageContainer #caption {
	font-size: 20px;
}
