@media all and (max-width:767px), all and (max-device-width:767px)
{
.unitBanner {
	display: block !important;
}
.unitTextdiv {
	text-align: center; padding-left: 0px !important; border-left-color: currentColor !important; border-left-width: medium !important; border-left-style: none !important; float: none !important; display: block !important;
}
.unitBannerdiv {
	width: auto !important; height: auto !important; float: none !important; display: block !important;
}
.unitIcon {
	margin: auto; display: block;
}
.unitTextdivh1 {
	font-size: 5vw !important;
}
.unitTextdivh2 {
	font-size: 4vw !important;
}
.unitTextdiv span {
	font-size: 3vw !important;
}
}
.unitBanner {
	display: table;
}
.clear {
	clear: both;
}
hr {
	margin: 15px 0px;
}
.lblSettings {
	font-weight: bold;
}
.unitBannerdiv {
	overflow: hidden; padding-right: 25px; padding-left: 25px; vertical-align: middle; display: table-cell;
}
.unitTextdiv {
	padding-left: 32px; border-left-color: rgb(173, 164, 149); border-left-width: 1px; border-left-style: solid; float: left; display: table-cell;
}
.unitTextdivh1 {
	margin: -7px 0px 2px; padding: 0px; color: rgb(0, 0, 0); font-family: "Times New Roman",Times,serif; font-size: 44px;
}
.unitTextdivh1h2 {
	margin: -7px 0px 2px; padding: 0px; color: rgb(0, 0, 0); font-family: "Times New Roman",Times,serif; font-size: 32px;
}
.unitTextdivh2 {
	margin: 0px; padding: 0px; color: rgb(128, 118, 72); font-size: 30px;
}
.unitTextdivh2h2 {
	margin: 0px; padding: 0px; color: rgb(128, 118, 72); font-size: 24px;
}
.unitTextdiv span {
	margin: 0px; padding: 0px; color: rgb(102, 102, 102); font-weight: bold;
}
#UnitBanner {
	padding-bottom: 25px;
}
.divBannerContainer {
	padding-top: 20px; border-top-color: rgb(173, 164, 149); border-top-width: 1px; border-top-style: solid; position: relative;
}
.divBannerLeftColumn {
	width: 40%; margin-top: 20px; margin-right: 15px; float: left;
}
.divBannerRightColumn {
	width: 50%; padding-left: 10px; margin-top: 20px; border-left-color: rgb(173, 164, 149); border-left-width: 1px; border-left-style: solid; float: left;
}
.divBannerIconContainer {
	width: 30%; float: left;
}
.divBannerUploadContainer {
	width: 69%; float: right;
}
.bannerLabel {
	display: block;
}
.bannerText {
	width: 300px; margin-top: 5px; margin-bottom: 15px;
}
.bannerIcon {
	margin-right: auto; margin-bottom: 10px; margin-left: auto; display: block;
}
.bannerIconDesc {
	font-size: 11px; margin-top: 10px; display: block;
}
.mdmIcon {
	width: 31px !important; height: 43px !important; display: block; background-repeat: no-repeat; background-position-y: 0px;
}
.marineUnitIcon {
	width: 31px !important; height: 43px !important; display: block; background-repeat: no-repeat; background-position-y: 0px;
}
.usmcIconFacebookURL {
	background-position-x: 0px;
}
.usmcIconTwitterURL {
	background-position-x: -31px;
}
.usmcIconYouTubeURL {
	background-position-x: -62px;
}
.usmcIconFlickrURL {
	background-position-x: -93px;
}
.usmcIconRSSURL {
	background-position-x: -155px;
}
.usmcIconWidgetURL {
	background-position-x: -124px;
}
.usmcIconPinterestURL {
	background-position-x: -217px;
}
.usmcIconInstagramURL {
	background-position-x: -186px;
}
.btnAddSubBanner {
	margin: 15px 0px;
}
.deleteSubBannerButton {
	margin: 15px 0px;
}
.pnlSubBanner {
	margin: 15px 0px;
}
.divSubBannerContainer {
	padding-top: 20px; border-top-color: rgb(173, 164, 149); border-top-width: 1px; border-top-style: solid; position: relative;
}
.subBannerName {
	width: 300px; margin-left: 5px;
}
.deleteSubBannerButton {
	padding: 4px 10px; margin-left: 37%;
}
.divRepeaterLeftColumn {
	width: 15%; margin-right: 15px; float: left;
}
.divRepeaterLeftColumn30 {
	width: 30%; padding-left: 15px; margin-right: 15px; float: left; transform: translateY(45%);
}
.lblRepeaterItem {
	font-weight: bold; display: block;
}
.imgRepeaterItemIcon {
	width: 45px; margin-top: 4px; margin-right: auto; margin-left: auto; display: block;
}
.divRepeaterRightColumn {
	width: 75%; float: left;
}
.divRepeaterRightColumn30 {
	width: 65%; float: left;
}
.divRepeaterValueContainer {
	margin-bottom: 5px;
}
.divRepeaterCheckboxContainer {
	margin-bottom: 8px;
}
.ckNewWindow {
	margin-right: 35px;
}
.txtRepeaterValue {
	width: 45%; margin-right: 20px;
}
.lblBackgroundTheme {
	width: 300px;
}
.moaFileContainer {
	line-height: 25px; margin-top: 15px;
}
.btnDeleteIcon {
	margin-right: auto; margin-left: auto; display: block;
}
.editLabel {
	margin: 10px 0px 5px; font-weight: bold;
}
.pnlMessage {
	margin: 15px 0px;
}
.dnnFormWarning.pnlError {
	background: red; border: 2px solid rgb(177, 0, 0); border-image: none; color: black; text-shadow: none;
}
.linkAnchor {
	display: block;
}
.btnUpdate {
	margin-left: 10px;
}
.lblLastModifiedBy {
	margin-left: 10px;
}
.divBackgroundTheme {
	margin-left: 10px;
}
.moaFileContainer {
	margin-left: 10px;
}
.btnAddSubBanner {
	margin-left: 10px;
}
.divBannerContainer {
	margin-left: 10px;
}
.socialMediaItemContainer {
	margin-left: 10px;
}
.globalSettingsItemContainer {
	margin-left: 10px;
}
.globalLinksItemContainer {
	margin-left: 10px;
}
.divSharedMediaPortalId {
	margin-left: 10px;
}
.divBackgroundImage {
	margin-left: 10px;
}
.ddlBackgroundImage {
	width: 100%; margin-bottom: 10px; vertical-align: top;
}
.imgBackgroundImagePreview {
	margin: 5px 0px; max-width: 100%;
}
.divBackgroundImageColumn1 {
	width: 15%; margin-right: 15px; float: left;
}
.divBackgroundImageColumn2 {
	width: 30%; margin-right: 20px; float: left;
}
.divBackgroundImageColumn3 {
	width: 50%; float: left;
}
.fileBackgroundImage {
	margin-bottom: 10px; display: block;
}
.editlink-row {
	width: 100%; padding-bottom: 10px; display: inline-block;
}
.editlink-label {
	width: 33%; text-align: right; padding-top: 4px; padding-right: 20px; clear: both; float: left;
}
.editlink-field {
	width: 60%; text-align: left; float: left;
}
.editlink-row input[type='text'] {
	padding: 4px 6px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 100%;
}
.fawesome-icon {
	padding: 10px 8px; border: 1px dashed rgb(170, 170, 170); border-image: none; display: inline-block;
}
.flinks-item {
	margin: 5px 0px; padding: 5px 0px; width: 100%; border-bottom-color: rgb(187, 187, 187); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
.editlink-edit {
	color: rgb(51, 122, 183); margin-left: 20px;
}
.flinks-button {
	padding: 14px 10px; border-radius: 3px; cursor: pointer; background-color: rgb(0, 148, 255);
}
.flinks-toggle.open h1::after {
	color: rgb(0, 0, 0); font-family: FontAwesome; font-size: 30px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-top: -10px; float: right; content: "\f106";
}
.flinks-toggle h1::after {
	color: rgb(0, 0, 0); font-family: FontAwesome; font-size: 30px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-top: -10px; float: right; content: "\f107";
}
.flinks-toggle h1::after {
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f107";
}
.flinks-toggle.open h1::after {
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f106";
}
.flinks-toggle {
	padding-top: 10px; border-bottom-color: rgb(85, 85, 85); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(221, 221, 221);
}
.flinks-section h1 {
	margin: 0px; padding: 15px; font-size: 20px; cursor: pointer;
}
.flinks-hide-block {
	padding-right: 20px; float: left;
}
.flinks-hide-block .fa-ban {
	opacity: 0.7;
}
.primary-button {
	padding: 8px 15px; border-radius: 4px; border: 1px solid rgb(46, 109, 164); border-image: none; color: rgb(255, 255, 255); margin-right: 20px; cursor: pointer; background-color: rgb(51, 122, 183);
}
.primary-button:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.primary-button:visited {
	color: rgb(255, 255, 255);
}
.primary-button:hover {
	border-color: rgb(32, 77, 116); color: rgb(255, 255, 255); background-color: rgb(40, 96, 144);
}
.delete-button {
	padding: 8px 15px; border-radius: 4px; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); margin-right: 20px; background-color: rgb(217, 83, 79);
}
.delete-button:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.delete-button:visited {
	color: rgb(255, 255, 255);
}
.delete-button:hover {
	border-color: rgb(172, 41, 37); color: rgb(255, 255, 255); background-color: rgb(201, 48, 44);
}
.flinks-part {
	margin-right: 20px; float: left; display: inline-block; -ms-word-wrap: break-word;
}
.flinks-content {
	width: 100%; margin-top: 10px; margin-bottom: 20px; display: inline-block;
}
.soptions-header {
	padding: 15px; font-size: 20px; font-weight: bold; margin-bottom: 10px; background-color: rgb(221, 221, 221);
}
.soptions-subheader {
	padding: 0px; font-size: 18px; font-weight: 500; margin-bottom: 20px; margin-left: 15px; border-bottom-color: rgb(119, 119, 119); border-bottom-width: 3px; border-bottom-style: solid;
}
.soHR {
	margin: 15px 0px;
}
[v-cloak] {
	display: none;
}
.feature-container {
	margin: 32px 0px 24px; position: relative;
}
.feature-item {
	background: rgb(255, 255, 255); padding: 24px 24px 16px; border: 1px solid rgb(204, 204, 204); border-image: none; margin-bottom: 24px; position: relative; box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}
.feature-item p {
	font-size: 14px;
}
.feature-item .feature-title {
	font-size: 24px; font-weight: 600; margin-bottom: 16px;
}
.feature-item .feature-key {
	padding: 0px 16px; border-radius: 3px; border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(119, 119, 119); font-family: monospace; font-size: 11px; float: right; display: inline-block; background-color: rgb(246, 246, 246);
}
.feature-item .feature-remove-link {
	color: rgb(177, 0, 0); font-size: 11px; float: right;
}
.feature-item .feature-history-link {
	font-size: 11px;
}
.feature-item .feature-toggle-form .checkbox {
	margin-right: 16px;
}
.feature-item .feature-toggle-form .checkbox label {
	line-height: 18px;
}
.feature-item .feature-toggle-form .checkbox input {
	margin-top: -2px; margin-right: 4px; vertical-align: middle;
}
.feature-item .specific-form {
	overflow: hidden; padding-top: 32px; padding-bottom: 32px;
}
.feature-item .row-actions {
	margin-top: 16px;
}
.feature-item .slide-down-enter-active {
	transition:0.2s linear;
}
.slide-down-leave-active {
	transition:0.2s linear;
}
.feature-item .slide-down-enter {
	height: 0px;
}
.slide-down-leave-to {
	height: 0px;
}
.feature-item .slide-down-leave {
	height: 178px;
}
.slide-down-enter-to {
	height: 178px;
}
.modal-mask {
	transition:opacity 0.3s; left: 0px; top: 0px; width: 100%; height: 100%; display: table; position: fixed; z-index: 9998; background-color: rgba(0, 0, 0, 0.5);
}
.modal-wrapper {
	vertical-align: middle; display: table-cell;
}
.modal-container {
	margin: 0px auto; padding: 16px; border-radius: 2px; transition:0.3s; width: 80%; max-width: 960px; box-shadow: 0px 2px 8px rgba(0,0,0,0.33); background-color: rgb(255, 255, 255);
}
.modal-header h4 {
	font-size: 18px; margin-top: 0px;
}
#feature-modal .modal-body {
	margin: 20px 0px; padding: 0px;
}
.modal-default-button {
	float: right;
}
.modal-enter {
	opacity: 0;
}
.modal-leave-active {
	opacity: 0;
}
.modal-enter .modal-container {
	transform: scale(1.1); -webkit-transform: scale(1.1);
}
.modal-leave-active .modal-container {
	transform: scale(1.1); -webkit-transform: scale(1.1);
}
.modal-container .table th {
	border-bottom-width: 0px !important;
}
.help-block {
	font-size: 11px;
}
.ui-autocomplete {
	list-style: none; margin: 0px 0px 10px 25px; padding: 4px 0px; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.2); left: 0px; top: 100%; float: left; display: none; position: absolute; z-index: 1000; min-width: 160px; box-shadow: 0px 5px 10px rgba(0,0,0,0.2); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-border-radius: 5px; -webkit-background-clip: padding-box; -moz-background-clip: padding;
}
.ui-menu-item > a.ui-corner-all {
	padding: 3px 15px; color: rgb(85, 85, 85); line-height: 18px; clear: both; font-weight: normal; text-decoration: none; display: block; white-space: nowrap;
}
.ui-menu-item-wrapper {
	padding: 0px 16px; font-size: 14px;
}
.ui-state-hover {
	border-radius: 0px; color: rgb(255, 255, 255); text-decoration: none; background-image: none; background-color: rgb(0, 136, 204); -webkit-border-radius: 0px; -moz-border-radius: 0px;
}
.ui-state-active {
	border-radius: 0px; color: rgb(255, 255, 255); text-decoration: none; background-image: none; background-color: rgb(0, 136, 204); -webkit-border-radius: 0px; -moz-border-radius: 0px;
}
.ui-helper-hidden-accessible {
	display: none;
}
ul.ui-menu {
	list-style: none;
}
.ui-menu-item {
	list-style: none !important;
}
.feature-portals-container {
	border-radius: 3px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 100%; height: 150px; overflow: auto;
}
.feature-portal-list {
	margin: 0px; padding: 0px;
}
.feature-portal-list li {
	list-style: none; padding: 6px 16px; font-size: 12px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.feature-portal-list li .fa {
	margin-top: 2px;
}
.scroll-container {
	-ms-overflow-y: scroll;
}
.form-flex {
	display: flex; flex-direction: row;
}
.label.label-lg {
	padding: 3px 16px; font-size: 90%; font-weight: normal;
}
.is-enabled-checkbox {
	line-height: 34px;
}
