div.treeContainer {
	font: 12px/normal Arial, Hevetica, Sans-Serif; font-size-adjust: none; font-stretch: normal;
}
div.treeContainer div.rootTree div.rootNode {
	height: 37px; line-height: 37px; overflow: hidden;
}
div.treeContainer div.rootTree div.rootNode {
	background: url("images/sectionmenu.gif") no-repeat left top rgb(234, 234, 228);
}
div.treeContainer div.rootTree div.rootNode > div.item {
	height: 37px; overflow: hidden;
}
div.treeContainer div.rootTree div.childNode {
	background: 0px 0px rgb(234, 234, 228); padding: 7px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
div.treeContainer div:first-child.rootTree {
	border-top-color: rgb(232, 238, 234); border-top-width: 1px; border-top-style: solid;
}
div.treeContainer div.rootTree li {
	list-style: none; margin: 0px; padding: 0px;
}
div.treeContainer div.rootTree li a {
	color: rgb(56, 99, 82); font-weight: bold; text-decoration: none;
}
div.treeContainer div.rootTree div.rootNode > div.item li a {
	font-size: 14px;
}
div.treeContainer div.rootTree div.childNode > div.item li a {
	background: url("images/li.gif") no-repeat left 3px; color: black; line-height: 16px; padding-left: 15px; display: block;
}
div.treeContainer div.rootTree div.toggle {
	background: url("images/accordionToggle.png") 0px 0px; margin: 11px 5px 0px 0px; width: 15px; height: 15px; float: right;
}
div.treeContainer div.rootTree div.childNode div.toggle {
	margin: 0px 5px 0px 0px;
}
div.treeContainer div.rootTree div.minimized {
	background-position: -30px 0px !important; cursor: pointer;
}
div.treeContainer div.rootTree div.maximized {
	background-position: -15px 0px !important; cursor: pointer;
}
div.treeContainer div.rootTree div.item {
	margin-left: 7px; float: left;
}
div.treeContainer div.rootTree div.rootNode > div.item a {
	color: rgb(255, 255, 255); text-transform: uppercase;
}
div.treeContainer div.rootTree div.clearFloat {
	width: 0px; height: 0px; line-height: 0; clear: both;
}
div.treeContainer div.rootTree div.childRoot {
	margin-right: 6px; margin-left: 10px;
}
div.treeContainer div.rootTree div.childRoot > div:first-child {
	background: url("images/sectionsubmenu.gif") no-repeat top; padding-top: 10px;
}
div.treeContainer div.rootTree li a.nolink {
	cursor: default;
}
div.treeContainerEdit div.childNode {
	cursor: move;
}
div.treeContainerEdit div.rootNode {
	cursor: move;
}
select.accordionEditSelect {
	width: 420px;
}
