.DVIDSClear {
	clear: both;
}
.DVPPlayer .mejs-container {
	height: 0px !important; position: static !important; max-height: 624px;
}
.DVPPlayer video {
	max-width: 100%;
}
.DVPPlayer .mejs-poster {
	max-width: 100%;
}
.DVPPlayer .mejs-poster img {
	max-width: 100%;
}
.DVPPlayer .mejs-overlay {
	height: 0px !important; padding-top: 50% !important; max-width: 100%;
}
.DVPPlayerBackground {
	margin-bottom: 5px; background-color: rgb(0, 0, 0);
}
.DVPPlayerBackground .DVPPlayer {
	margin: 0px auto; height: 0px; padding-bottom: 56.25%; position: relative;
}
.DVPPlayerBackground .DVPPlayer .multiBandwidthButton {
	background: url("/desktopmodules/DVIDSVideoPlayer/Templates/All/Images/multi_bandwidth.png") no-repeat; width: 30px; height: 30px; float: left;
}
.DVPPlayerBackground .DVPPlayer .multiBandwidthButton button {
	background: url("/desktopmodules/DVIDSVideoPlayer/Templates/All/Images/multi_bandwidth.png") no-repeat; border: 0px currentColor; border-image: none; width: 30px; height: 30px; cursor: pointer;
}
.DVPPlayerBackground #multiBandwidthOptions {
	background: rgba(50, 50, 50, 0.7); width: 45px; right: 42px; bottom: 30px; display: none; position: absolute; z-index: 500;
}
.DVPPlayerBackground #multiBandwidthOptions a {
	width: 40px; height: 20px; color: rgb(255, 255, 255) !important; line-height: 20px; padding-left: 5px; float: left;
}
.DVPPlayerBackground #multiBandwidthOptions a.chosenMBLink {
	background: rgb(152, 27, 30) !important;
}
.DVPPlayerBackground #multiBandwidthOptions a:hover {
	background: gray;
}
.dvpAudioPlayerOuterWrapper {
	background-color: rgb(43, 43, 43);
}
.dvpAudioPlayerWrapper {
	background-position: center; background-repeat: no-repeat; background-size: cover;
}
#waveform {
	margin: 20px 20px 0px; padding-top: 30px; opacity: 0.9;
}
#waveform-timeline {
	margin: 0px 20px 20px; color: rgb(255, 255, 255); padding-top: 0px; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid;
}
.dvpAudioPlayerWrapper .DVIDSAudioControls {
	padding-top: 20px; padding-bottom: 10px; margin-left: 20px; min-height: 80px;
}
.DVIDSAudioControlButton {
	background: 0px; padding: 8px 18px; border-radius: 0px; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); margin-right: 2px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.DVIDSAudioControlButton:hover {
	outline: 0px; text-decoration: none; background-color: rgb(68, 68, 68);
}
.dvpAudioPlayerWrapper #equalizer {
	width: 210px; margin-top: -43px; margin-left: 112px; position: relative;
}
.DragDropWarning {
	height: 30px; line-height: 28px; font-size: 12px; font-style: italic;
}
.DVIDSSettingsMenuScroll.Available .AvailableDelete {
	display: none;
}
.playerClearFix {
	-ms-zoom: 1;
}
.playerClearFix::after {
	height: 0px; line-height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.dmpHelpIcon {
	background: rgb(0, 0, 0); border-radius: 8px; width: 16px; height: 16px; text-align: center; color: rgb(255, 255, 255); line-height: 16px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin-right: 10px; margin-left: 4px; display: inline-block; cursor: pointer; opacity: 0.6; -moz-opacity: 0.6; -khtml-opacity: 0.6;
}
.dmpHelpContainer {
	background: rgb(102, 102, 102); padding: 8px; border-radius: 6px; width: 300px; color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; position: absolute; z-index: 1000;
}
.DVIDSPlaylistMenu {
	padding: 0px 5px;
}
.DVIDSTagMenu {
	padding: 0px 5px;
}
.rblSelectVideosFromType input[type='radio'] {
	margin-right: 5px; margin-left: 15px;
}
.chkCategory input[type='checkbox'] {
	margin-right: 5px;
}
.DVIDSSettingsMenuScroll {
	border: 1px solid black; height: 300px; overflow: auto;
}
.DVIDSSettingsMenuScroll table {
	width: 100%; min-height: 300px;
}
.DVIDSVideoPlayer .ui-helper-hidden {
	display: none;
}
.DVIDSVideoPlayer .ui-helper-hidden-accessible {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.DVIDSVideoPlayer .ui-helper-reset {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; line-height: 1.3; font-size: 100%; text-decoration: none;
}
.DVIDSVideoPlayer .ui-helper-clearfix::before {
	display: table; border-collapse: collapse; content: "";
}
.DVIDSVideoPlayer .ui-helper-clearfix::after {
	display: table; border-collapse: collapse; content: "";
}
.DVIDSVideoPlayer .ui-helper-clearfix::after {
	clear: both;
}
.DVIDSVideoPlayer .ui-helper-clearfix {
	min-height: 0px;
}
.DVIDSVideoPlayer .ui-helper-zfix {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; opacity: 0;
}
.DVIDSVideoPlayer .ui-front {
	z-index: 100;
}
.DVIDSVideoPlayer .ui-state-disabled {
	cursor: default !important;
}
.DVIDSVideoPlayer .ui-icon {
	text-indent: -99999px; overflow: hidden; display: block; background-repeat: no-repeat;
}
.DVIDSVideoPlayer .ui-widget-overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed;
}
.DVIDSVideoPlayer .ui-resizable {
	position: relative;
}
.DVIDSVideoPlayer .ui-resizable-handle {
	font-size: 0.1px; display: block; position: absolute;
}
.DVIDSVideoPlayer .ui-resizable-disabled .ui-resizable-handle {
	display: none;
}
.DVIDSVideoPlayer .ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.DVIDSVideoPlayer .ui-resizable-n {
	left: 0px; top: -5px; width: 100%; height: 7px; cursor: n-resize;
}
.DVIDSVideoPlayer .ui-resizable-s {
	left: 0px; width: 100%; height: 7px; bottom: -5px; cursor: s-resize;
}
.DVIDSVideoPlayer .ui-resizable-e {
	top: 0px; width: 7px; height: 100%; right: -5px; cursor: e-resize;
}
.DVIDSVideoPlayer .ui-resizable-w {
	left: -5px; top: 0px; width: 7px; height: 100%; cursor: w-resize;
}
.DVIDSVideoPlayer .ui-resizable-se {
	width: 12px; height: 12px; right: 1px; bottom: 1px; cursor: se-resize;
}
.DVIDSVideoPlayer .ui-resizable-sw {
	left: -5px; width: 9px; height: 9px; bottom: -5px; cursor: sw-resize;
}
.DVIDSVideoPlayer .ui-resizable-nw {
	left: -5px; top: -5px; width: 9px; height: 9px; cursor: nw-resize;
}
.DVIDSVideoPlayer .ui-resizable-ne {
	top: -5px; width: 9px; height: 9px; right: -5px; cursor: ne-resize;
}
.DVIDSVideoPlayer .ui-selectable-helper {
	border: 1px dotted black; border-image: none; position: absolute; z-index: 100;
}
.DVIDSVideoPlayer .ui-datepicker {
	padding: 0.2em 0.2em 0px; width: 17em; display: none;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-header {
	padding: 0.2em 0px; position: relative;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-prev {
	top: 2px; width: 1.8em; height: 1.8em; position: absolute;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-next {
	top: 2px; width: 1.8em; height: 1.8em; position: absolute;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-prev-hover {
	top: 1px;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-prev span {
	left: 50%; top: 50%; margin-top: -8px; margin-left: -8px; display: block; position: absolute;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-next span {
	left: 50%; top: 50%; margin-top: -8px; margin-left: -8px; display: block; position: absolute;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-title {
	margin: 0px 2.3em; text-align: center; line-height: 1.8em;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-title select {
	margin: 1px 0px; font-size: 1em;
}
.DVIDSVideoPlayer .ui-datepicker select.ui-datepicker-month {
	width: 49%;
}
.DVIDSVideoPlayer .ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.DVIDSVideoPlayer .ui-datepicker table {
	margin: 0px 0px 0.4em; width: 100%; font-size: 0.9em; border-collapse: collapse;
}
.DVIDSVideoPlayer .ui-datepicker th {
	padding: 0.7em 0.3em; border: 0px currentColor; border-image: none; text-align: center; font-weight: bold;
}
.DVIDSVideoPlayer .ui-datepicker td {
	padding: 1px; border: 0px currentColor; border-image: none;
}
.DVIDSVideoPlayer .ui-datepicker td span {
	padding: 0.2em; text-align: right; text-decoration: none; display: block;
}
.DVIDSVideoPlayer .ui-datepicker td a {
	padding: 0.2em; text-align: right; text-decoration: none; display: block;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-buttonpane {
	margin: 0.7em 0px 0px; padding: 0px 0.2em; border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-right-style: none; border-bottom-style: none; border-left-style: none; background-image: none;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-buttonpane button {
	margin: 0.5em 0.2em 0.4em; padding: 0.2em 0.6em 0.3em; width: auto; overflow: visible; float: right; cursor: pointer;
}
.DVIDSVideoPlayer .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.DVIDSVideoPlayer .ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.DVIDSVideoPlayer .ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.DVIDSVideoPlayer .ui-datepicker-multi .ui-datepicker-group table {
	margin: 0px auto 0.4em; width: 95%;
}
.DVIDSVideoPlayer .ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.DVIDSVideoPlayer .ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.DVIDSVideoPlayer .ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.DVIDSVideoPlayer .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0px;
}
.DVIDSVideoPlayer .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0px;
}
.DVIDSVideoPlayer .ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.DVIDSVideoPlayer .ui-datepicker-row-break {
	width: 100%; clear: both; font-size: 0px;
}
.DVIDSVideoPlayer .ui-datepicker-rtl {
	direction: rtl;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-prev {
	left: auto; right: 2px;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-next {
	left: 2px; right: auto;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-prev:hover {
	left: auto; right: 1px;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px; right: auto;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: right;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width: 0px; border-left-width: 1px;
}
.DVIDSVideoPlayer .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0px; border-left-width: 1px;
}
.DVIDSVideoPlayer .ui-widget {
	font-family: Verdana,Arial,sans-serif; font-size: 1.1em;
}
.DVIDSVideoPlayer .ui-widget .ui-widget {
	font-size: 1em;
}
.DVIDSVideoPlayer .ui-widget input {
	font-family: Verdana,Arial,sans-serif; font-size: 1em;
}
.DVIDSVideoPlayer .ui-widget select {
	font-family: Verdana,Arial,sans-serif; font-size: 1em;
}
.DVIDSVideoPlayer .ui-widget textarea {
	font-family: Verdana,Arial,sans-serif; font-size: 1em;
}
.DVIDSVideoPlayer .ui-widget button {
	font-family: Verdana,Arial,sans-serif; font-size: 1em;
}
.DVIDSVideoPlayer .ui-widget-content {
	background: rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(34, 34, 34);
}
.DVIDSVideoPlayer .ui-widget-content a {
	color: rgb(34, 34, 34);
}
.DVIDSVideoPlayer .ui-widget-header {
	background: rgb(204, 204, 204); border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(34, 34, 34); font-weight: bold;
}
.DVIDSVideoPlayer .ui-widget-header a {
	color: rgb(34, 34, 34);
}
.DVIDSVideoPlayer .ui-state-default {
	background: rgb(230, 230, 230); border: 1px solid rgb(211, 211, 211); border-image: none; color: rgb(85, 85, 85); font-weight: normal;
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-default {
	background: rgb(230, 230, 230); border: 1px solid rgb(211, 211, 211); border-image: none; color: rgb(85, 85, 85); font-weight: normal;
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-default {
	background: rgb(230, 230, 230); border: 1px solid rgb(211, 211, 211); border-image: none; color: rgb(85, 85, 85); font-weight: normal;
}
.DVIDSVideoPlayer .ui-state-default a {
	color: rgb(85, 85, 85); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-default a:link {
	color: rgb(85, 85, 85); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-default a:visited {
	color: rgb(85, 85, 85); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-hover {
	background: rgb(218, 218, 218); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-hover {
	background: rgb(218, 218, 218); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-hover {
	background: rgb(218, 218, 218); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-state-focus {
	background: rgb(218, 218, 218); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-focus {
	background: rgb(218, 218, 218); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-focus {
	background: rgb(218, 218, 218); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-state-hover a {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-hover a:hover {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-hover a:link {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-hover a:visited {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-focus a {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-focus a:hover {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-focus a:link {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-focus a:visited {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-active {
	background: rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-active {
	background: rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-active {
	background: rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(33, 33, 33); font-weight: normal;
}
.DVIDSVideoPlayer .ui-state-active a {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-active a:link {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-active a:visited {
	color: rgb(33, 33, 33); text-decoration: none;
}
.DVIDSVideoPlayer .ui-state-highlight {
	background: rgb(251, 249, 238); border: 1px solid rgb(252, 239, 161); border-image: none; color: rgb(54, 54, 54);
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-highlight {
	background: rgb(251, 249, 238); border: 1px solid rgb(252, 239, 161); border-image: none; color: rgb(54, 54, 54);
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-highlight {
	background: rgb(251, 249, 238); border: 1px solid rgb(252, 239, 161); border-image: none; color: rgb(54, 54, 54);
}
.DVIDSVideoPlayer .ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.DVIDSVideoPlayer .ui-state-error {
	background: rgb(254, 241, 236); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-error {
	background: rgb(254, 241, 236); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-error {
	background: rgb(254, 241, 236); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-state-error a {
	color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-error a {
	color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-error a {
	color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-state-error-text {
	color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-error-text {
	color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-error-text {
	color: rgb(205, 10, 10);
}
.DVIDSVideoPlayer .ui-priority-primary {
	font-weight: bold;
}
.DVIDSVideoPlayer .ui-widget-content .ui-priority-primary {
	font-weight: bold;
}
.DVIDSVideoPlayer .ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.DVIDSVideoPlayer .ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.DVIDSVideoPlayer .ui-widget-content .ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.DVIDSVideoPlayer .ui-widget-header .ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.DVIDSVideoPlayer .ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.DVIDSVideoPlayer .ui-widget-content .ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.DVIDSVideoPlayer .ui-widget-header .ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.DVIDSVideoPlayer .ui-state-disabled .ui-icon {
	
}
.DVIDSVideoPlayer .ui-icon {
	width: 16px; height: 16px;
}
.DVIDSVideoPlayer .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.DVIDSVideoPlayer .ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.DVIDSVideoPlayer .ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.DVIDSVideoPlayer .ui-state-default .ui-icon {
	background-image: url("images/ui-icons_888888_256x240.png");
}
.DVIDSVideoPlayer .ui-state-hover .ui-icon {
	background-image: url("images/ui-icons_454545_256x240.png");
}
.DVIDSVideoPlayer .ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_454545_256x240.png");
}
.DVIDSVideoPlayer .ui-state-active .ui-icon {
	background-image: url("images/ui-icons_454545_256x240.png");
}
.DVIDSVideoPlayer .ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_2e83ff_256x240.png");
}
.DVIDSVideoPlayer .ui-state-error .ui-icon {
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
}
.DVIDSVideoPlayer .ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
}
.DVIDSVideoPlayer .ui-icon-blank {
	background-position: 16px 16px;
}
.DVIDSVideoPlayer .ui-icon-carat-1-n {
	background-position: 0px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-1-ne {
	background-position: -16px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-1-e {
	background-position: -32px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-1-se {
	background-position: -48px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-1-s {
	background-position: -64px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-1-sw {
	background-position: -80px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-1-w {
	background-position: -96px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-1-nw {
	background-position: -112px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-2-n-s {
	background-position: -128px 0px;
}
.DVIDSVideoPlayer .ui-icon-carat-2-e-w {
	background-position: -144px 0px;
}
.DVIDSVideoPlayer .ui-icon-triangle-1-n {
	background-position: 0px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-1-e {
	background-position: -32px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-1-se {
	background-position: -48px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-1-s {
	background-position: -64px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-1-w {
	background-position: -96px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}
.DVIDSVideoPlayer .ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}
.DVIDSVideoPlayer .ui-icon-arrow-1-n {
	background-position: 0px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-1-e {
	background-position: -32px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-1-se {
	background-position: -48px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-1-s {
	background-position: -64px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-1-w {
	background-position: -96px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-1-n {
	background-position: 0px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}
.DVIDSVideoPlayer .ui-icon-arrowreturnthick-1-w {
	background-position: 0px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}
.DVIDSVideoPlayer .ui-icon-arrow-4 {
	background-position: 0px -80px;
}
.DVIDSVideoPlayer .ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}
.DVIDSVideoPlayer .ui-icon-extlink {
	background-position: -32px -80px;
}
.DVIDSVideoPlayer .ui-icon-newwin {
	background-position: -48px -80px;
}
.DVIDSVideoPlayer .ui-icon-refresh {
	background-position: -64px -80px;
}
.DVIDSVideoPlayer .ui-icon-shuffle {
	background-position: -80px -80px;
}
.DVIDSVideoPlayer .ui-icon-transfer-e-w {
	background-position: -96px -80px;
}
.DVIDSVideoPlayer .ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}
.DVIDSVideoPlayer .ui-icon-folder-collapsed {
	background-position: 0px -96px;
}
.DVIDSVideoPlayer .ui-icon-folder-open {
	background-position: -16px -96px;
}
.DVIDSVideoPlayer .ui-icon-document {
	background-position: -32px -96px;
}
.DVIDSVideoPlayer .ui-icon-document-b {
	background-position: -48px -96px;
}
.DVIDSVideoPlayer .ui-icon-note {
	background-position: -64px -96px;
}
.DVIDSVideoPlayer .ui-icon-mail-closed {
	background-position: -80px -96px;
}
.DVIDSVideoPlayer .ui-icon-mail-open {
	background-position: -96px -96px;
}
.DVIDSVideoPlayer .ui-icon-suitcase {
	background-position: -112px -96px;
}
.DVIDSVideoPlayer .ui-icon-comment {
	background-position: -128px -96px;
}
.DVIDSVideoPlayer .ui-icon-person {
	background-position: -144px -96px;
}
.DVIDSVideoPlayer .ui-icon-print {
	background-position: -160px -96px;
}
.DVIDSVideoPlayer .ui-icon-trash {
	background-position: -176px -96px;
}
.DVIDSVideoPlayer .ui-icon-locked {
	background-position: -192px -96px;
}
.DVIDSVideoPlayer .ui-icon-unlocked {
	background-position: -208px -96px;
}
.DVIDSVideoPlayer .ui-icon-bookmark {
	background-position: -224px -96px;
}
.DVIDSVideoPlayer .ui-icon-tag {
	background-position: -240px -96px;
}
.DVIDSVideoPlayer .ui-icon-home {
	background-position: 0px -112px;
}
.DVIDSVideoPlayer .ui-icon-flag {
	background-position: -16px -112px;
}
.DVIDSVideoPlayer .ui-icon-calendar {
	background-position: -32px -112px;
}
.DVIDSVideoPlayer .ui-icon-cart {
	background-position: -48px -112px;
}
.DVIDSVideoPlayer .ui-icon-pencil {
	background-position: -64px -112px;
}
.DVIDSVideoPlayer .ui-icon-clock {
	background-position: -80px -112px;
}
.DVIDSVideoPlayer .ui-icon-disk {
	background-position: -96px -112px;
}
.DVIDSVideoPlayer .ui-icon-calculator {
	background-position: -112px -112px;
}
.DVIDSVideoPlayer .ui-icon-zoomin {
	background-position: -128px -112px;
}
.DVIDSVideoPlayer .ui-icon-zoomout {
	background-position: -144px -112px;
}
.DVIDSVideoPlayer .ui-icon-search {
	background-position: -160px -112px;
}
.DVIDSVideoPlayer .ui-icon-wrench {
	background-position: -176px -112px;
}
.DVIDSVideoPlayer .ui-icon-gear {
	background-position: -192px -112px;
}
.DVIDSVideoPlayer .ui-icon-heart {
	background-position: -208px -112px;
}
.DVIDSVideoPlayer .ui-icon-star {
	background-position: -224px -112px;
}
.DVIDSVideoPlayer .ui-icon-link {
	background-position: -240px -112px;
}
.DVIDSVideoPlayer .ui-icon-cancel {
	background-position: 0px -128px;
}
.DVIDSVideoPlayer .ui-icon-plus {
	background-position: -16px -128px;
}
.DVIDSVideoPlayer .ui-icon-plusthick {
	background-position: -32px -128px;
}
.DVIDSVideoPlayer .ui-icon-minus {
	background-position: -48px -128px;
}
.DVIDSVideoPlayer .ui-icon-minusthick {
	background-position: -64px -128px;
}
.DVIDSVideoPlayer .ui-icon-close {
	background-position: -80px -128px;
}
.DVIDSVideoPlayer .ui-icon-closethick {
	background-position: -96px -128px;
}
.DVIDSVideoPlayer .ui-icon-key {
	background-position: -112px -128px;
}
.DVIDSVideoPlayer .ui-icon-lightbulb {
	background-position: -128px -128px;
}
.DVIDSVideoPlayer .ui-icon-scissors {
	background-position: -144px -128px;
}
.DVIDSVideoPlayer .ui-icon-clipboard {
	background-position: -160px -128px;
}
.DVIDSVideoPlayer .ui-icon-copy {
	background-position: -176px -128px;
}
.DVIDSVideoPlayer .ui-icon-contact {
	background-position: -192px -128px;
}
.DVIDSVideoPlayer .ui-icon-image {
	background-position: -208px -128px;
}
.DVIDSVideoPlayer .ui-icon-video {
	background-position: -224px -128px;
}
.DVIDSVideoPlayer .ui-icon-script {
	background-position: -240px -128px;
}
.DVIDSVideoPlayer .ui-icon-alert {
	background-position: 0px -144px;
}
.DVIDSVideoPlayer .ui-icon-info {
	background-position: -16px -144px;
}
.DVIDSVideoPlayer .ui-icon-notice {
	background-position: -32px -144px;
}
.DVIDSVideoPlayer .ui-icon-help {
	background-position: -48px -144px;
}
.DVIDSVideoPlayer .ui-icon-check {
	background-position: -64px -144px;
}
.DVIDSVideoPlayer .ui-icon-bullet {
	background-position: -80px -144px;
}
.DVIDSVideoPlayer .ui-icon-radio-on {
	background-position: -96px -144px;
}
.DVIDSVideoPlayer .ui-icon-radio-off {
	background-position: -112px -144px;
}
.DVIDSVideoPlayer .ui-icon-pin-w {
	background-position: -128px -144px;
}
.DVIDSVideoPlayer .ui-icon-pin-s {
	background-position: -144px -144px;
}
.DVIDSVideoPlayer .ui-icon-play {
	background-position: 0px -160px;
}
.DVIDSVideoPlayer .ui-icon-pause {
	background-position: -16px -160px;
}
.DVIDSVideoPlayer .ui-icon-seek-next {
	background-position: -32px -160px;
}
.DVIDSVideoPlayer .ui-icon-seek-prev {
	background-position: -48px -160px;
}
.DVIDSVideoPlayer .ui-icon-seek-end {
	background-position: -64px -160px;
}
.DVIDSVideoPlayer .ui-icon-seek-start {
	background-position: -80px -160px;
}
.DVIDSVideoPlayer .ui-icon-seek-first {
	background-position: -80px -160px;
}
.DVIDSVideoPlayer .ui-icon-stop {
	background-position: -96px -160px;
}
.DVIDSVideoPlayer .ui-icon-eject {
	background-position: -112px -160px;
}
.DVIDSVideoPlayer .ui-icon-volume-off {
	background-position: -128px -160px;
}
.DVIDSVideoPlayer .ui-icon-volume-on {
	background-position: -144px -160px;
}
.DVIDSVideoPlayer .ui-icon-power {
	background-position: 0px -176px;
}
.DVIDSVideoPlayer .ui-icon-signal-diag {
	background-position: -16px -176px;
}
.DVIDSVideoPlayer .ui-icon-signal {
	background-position: -32px -176px;
}
.DVIDSVideoPlayer .ui-icon-battery-0 {
	background-position: -48px -176px;
}
.DVIDSVideoPlayer .ui-icon-battery-1 {
	background-position: -64px -176px;
}
.DVIDSVideoPlayer .ui-icon-battery-2 {
	background-position: -80px -176px;
}
.DVIDSVideoPlayer .ui-icon-battery-3 {
	background-position: -96px -176px;
}
.DVIDSVideoPlayer .ui-icon-circle-plus {
	background-position: 0px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-minus {
	background-position: -16px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-close {
	background-position: -32px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-zoomin {
	background-position: -176px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-zoomout {
	background-position: -192px -192px;
}
.DVIDSVideoPlayer .ui-icon-circle-check {
	background-position: -208px -192px;
}
.DVIDSVideoPlayer .ui-icon-circlesmall-plus {
	background-position: 0px -208px;
}
.DVIDSVideoPlayer .ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}
.DVIDSVideoPlayer .ui-icon-circlesmall-close {
	background-position: -32px -208px;
}
.DVIDSVideoPlayer .ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}
.DVIDSVideoPlayer .ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}
.DVIDSVideoPlayer .ui-icon-squaresmall-close {
	background-position: -80px -208px;
}
.DVIDSVideoPlayer .ui-icon-grip-dotted-vertical {
	background-position: 0px -224px;
}
.DVIDSVideoPlayer .ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}
.DVIDSVideoPlayer .ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}
.DVIDSVideoPlayer .ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}
.DVIDSVideoPlayer .ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}
.DVIDSVideoPlayer .ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}
.DVIDSVideoPlayer .ui-corner-all {
	border-top-left-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-top {
	border-top-left-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-left {
	border-top-left-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-tl {
	border-top-left-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-all {
	border-top-right-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-top {
	border-top-right-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-right {
	border-top-right-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-tr {
	border-top-right-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-all {
	border-bottom-left-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-bottom {
	border-bottom-left-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-left {
	border-bottom-left-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-all {
	border-bottom-right-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-bottom {
	border-bottom-right-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-right {
	border-bottom-right-radius: 4px;
}
.DVIDSVideoPlayer .ui-corner-br {
	border-bottom-right-radius: 4px;
}
.DVIDSVideoPlayer .ui-widget-overlay {
	background: rgb(222, 101, 101); opacity: 0.3;
}
.DVIDSVideoPlayer .ui-widget-shadow {
	background: rgb(170, 170, 170); margin: -8px 0px 0px -8px; padding: 8px; border-radius: 8px; opacity: 0.3;
}
