.da_admin_token {
	padding-right: 20px;
}
.da_edit_head {
	width: 20%; padding-bottom: 10px; padding-left: 15px; font-size: 13px; font-weight: bold;
}
.da_edit_field {
	padding-bottom: 5px; vertical-align: top;
}
.da_section {
	background: rgb(224, 224, 224); padding: 5px; border-radius: 5px; border: 2px solid rgb(158, 158, 158); border-image: none; text-align: left; margin-bottom: 20px; display: block; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 6px #978F6C; -moz-box-shadow: 0 0 6px #978f6c; -moz-border-radius: 5px;
}
.da_section_warn {
	background: rgb(252, 164, 164);
}
.da_section_title {
	padding: 4px 3px 11px; width: 100%; color: rgb(66, 66, 66); font-size: 30px; font-weight: bold; display: inline-block;
}
.da_section_content {
	padding: 5px 5px 15px; background-color: rgb(255, 255, 255); -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 6px #fff; -moz-box-shadow: 0 0 6px #fff;
}
#mediaTabs > div {
	min-height: 665px;
}
.da_summary {
	display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.articlecs-overlay {
	background: url("/images/loading.gif") no-repeat 50% 50% rgba(255, 255, 255, 0.8); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 1000;
}
.articlecs-overlay.loading {
	display: block;
}
#relatedVideo img {
	max-width: 100%;
}
.relatedlabel {
	font-size: 11px; display: table-row-group;
}
.grab {
	
}
.da_media_star {
	color: rgb(153, 153, 153); font-size: 22px !important; cursor: pointer;
}
.da_media_star:hover {
	color: rgb(237, 183, 50);
}
.da_media_star.selected {
	color: rgb(237, 183, 50);
}
.dig_admin_button.related_content_used {
	background-color: rgb(255, 193, 7);
}
.related-commands {
	width: 250px; display: flex; justify-content: space-around;
}
.related-commands > div {
	width: 30px;
}
.da_quiz_question {
	padding-left: 20px; display: block; cursor: pointer;
}
:not(:last-child).da_quiz_question {
	padding-bottom: 20px; margin-bottom: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.da_quiz_answer {
	padding: 10px 0px 0px 20px; margin-left: 50px; display: flex; cursor: pointer; align-items: center;
}
.da_quiz_answer span {
	padding-left: 10px;
}
.da_quiz_image {
	padding: 0px 0px 0px 20px; max-width: 100px;
}
.da_quiz_question .number {
	color: rgb(37, 66, 103); font-weight: bold;
}
.da_quiz_answer .number {
	color: rgb(37, 66, 103); font-weight: bold;
}
.article-edit .subtle {
	margin: 0px 5px; color: rgb(204, 204, 204);
}
.article-edit .edit {
	color: rgb(251, 192, 45);
}
.article-edit .dark {
	color: rgb(66, 66, 66);
}
.article-edit .mid {
	color: rgb(136, 136, 136);
}
.article-edit .danger {
	color: rgb(239, 83, 80);
}
.da_quiz_answer .correct {
	color: rgb(56, 142, 60);
}
.da_com_list {
	margin: 0px; padding: 0px;
}
.da_com ul {
	list-style: none; margin: 0px; padding: 15px;
}
.da_com div {
	padding: 5px;
}
.da_com {
	border: 1px solid rgb(204, 204, 204); border-image: none; margin-bottom: 10px; list-style-type: none;
}
.da_alt1 {
	background-color: rgb(225, 255, 225);
}
.da_alt2 {
	background-color: rgb(255, 255, 255);
}
.da_author {
	background-color: rgb(255, 255, 204);
}
.da_body h1 {
	margin-bottom: 3px;
}
.da_art_info {
	padding: 10px; width: 275px; margin-left: 10px; background-color: rgb(238, 238, 238);
}
.da_approve {
	padding: 5px; font-weight: bold; background-color: rgb(221, 221, 221);
}
.da_admin {
	padding: 10px; border-radius: 8px; border: 2px dashed rgb(255, 153, 0); border-image: none; text-align: center; margin-bottom: 20px;
}
.da_admin a {
	margin-left: 10px; position: relative;
}
.da_admin .fa {
	color: rgb(156, 209, 255); margin-right: 10px;
}
.da_com_alert {
	background-color: rgb(255, 255, 102);
}
.star-rating {
	background: url("../ArticleCS/images/star.gif") repeat-x left -1000px;
}
.star-rating a:hover {
	background: url("../ArticleCS/images/star.gif") repeat-x left -1000px;
}
.star-rating a:active {
	background: url("../ArticleCS/images/star.gif") repeat-x left -1000px;
}
.star-rating a:focus {
	background: url("../ArticleCS/images/star.gif") repeat-x left -1000px;
}
.star-rating .current-rating {
	background: url("../ArticleCS/images/star.gif") repeat-x left -1000px;
}
.star-rating {
	background-position: left top; list-style: none; margin: 0px; padding: 0px; width: 80px; height: 16px; overflow: hidden; position: relative;
}
.star-rating li {
	margin: 0px; display: inline;
}
.star-rating a {
	border: currentColor; border-image: none; left: 0px; top: 0px; height: 16px; line-height: 16px; text-indent: -1000em; overflow: hidden; position: absolute;
}
.star-rating .current-rating {
	border: currentColor; border-image: none; left: 0px; top: 0px; height: 16px; line-height: 16px; text-indent: -1000em; overflow: hidden; position: absolute;
}
.star-rating a:hover {
	background-position: left bottom;
}
.star-rating a:active {
	background-position: left bottom;
}
.star-rating a:focus {
	background-position: left bottom;
}
.star-rating a.one-star {
	width: 20%; z-index: 6;
}
.star-rating a.two-stars {
	width: 40%; z-index: 5;
}
.star-rating a.three-stars {
	width: 60%; z-index: 4;
}
.star-rating a.four-stars {
	width: 80%; z-index: 3;
}
.star-rating a.five-stars {
	width: 100%; z-index: 2;
}
.star-rating .current-rating {
	background-position: left; z-index: 1;
}
.da_tree ul {
	margin-left: 0px; list-style-position: inside;
}
ul.da_tree {
	margin: 0px; padding: 0px;
}
ul.da_tree li {
	background: url("../DigArticle/images/bullet1.gif") no-repeat 0px 8px; line-height: 20px; padding-left: 12px; list-style-type: none;
}
.da_cloud a.tag5 {
	font-size: 1.4em; font-weight: 600;
}
.da_cloud a.tag4 {
	font-size: 1.6em; font-weight: 700;
}
.da_cloud a.tag3 {
	font-size: 1.8em; font-weight: 800;
}
.da_cloud a.tag2 {
	font-size: 2.2em; font-weight: 900;
}
.da_cloud a.tag1 {
	font-size: 2.5em; font-weight: 900;
}
.da_cloud {
	padding: 2px; text-align: center; line-height: 3em;
}
.da_cloud a {
	padding: 0px;
}
.da_cloud {
	margin: 0px;
}
.da_cloud li {
	padding-right: 5px; display: inline;
}
.dig_pager {
	padding-top: 2px;
}
.dig_pager_button span {
	padding: 5px 7px; border: 1px solid rgb(221, 221, 221); border-image: none; text-align: center; text-decoration: none; display: inline-block;
}
.dig_pager_button:link {
	text-decoration: none;
}
.dig_pager_button:hover {
	text-decoration: none;
}
.dig_pager_button:visited {
	text-decoration: none;
}
.dig_pager_button:active {
	text-decoration: none;
}
.dig_pager_dot {
	padding: 4px;
}
.da_pager_button {
	padding: 3px; border: 1px solid rgb(221, 221, 221); border-image: none; height: 15px;
}
.da_pager_button_sel {
	padding: 3px; height: 15px; font-weight: bold;
}
.da_pager_button a {
	text-decoration: none;
}
.da_vote_count {
	font-size: 19px;
}
.dig_quote {
	margin: 10px; padding: 10px 10px 0px; float: right; display: block; background-color: rgb(243, 254, 199);
}
.dig_quote_mark {
	font-size: x-large; font-weight: bold;
}
.da_media {
	clear: both; display: block;
}
#daEmail div {
	background-color: rgb(221, 221, 221);
}
div.sharedMediaContainer div {
	margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
}
div.sharedMediaSelectorHeader {
	overflow: hidden; border-bottom-color: rgb(193, 193, 193); border-bottom-width: 1px; border-bottom-style: solid;
}
div.sharedMediaSelectorHeader a {
	background: rgb(213, 213, 213); border: 1px solid rgb(137, 140, 149); border-image: none; width: 110px; height: 26px; text-align: center; color: rgb(59, 89, 152); line-height: 26px; text-decoration: none; margin-bottom: 1px; display: inline-block; -ms-zoom: 1;
}
div.sharedMediaSelectorHeader a:hover {
	background: rgb(178, 224, 250) !important; border-color: rgb(60, 127, 177) !important;
}
div.sharedMediaSelectorHeader a.selected {
	background: white !important;
}
div.sharedMediaContent {
	border-right-color: rgb(193, 193, 193); border-bottom-color: rgb(193, 193, 193); border-left-color: rgb(193, 193, 193); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
div.sharedMediaContent a.item {
	margin: 5px; padding: 4px; border: 1px solid rgb(216, 223, 234); border-image: none; width: 170px; height: 90px; text-align: center; overflow: hidden; display: inline-block; -ms-zoom: 1;
}
div.sharedMediaContent a:hover {
	background: rgb(247, 247, 247) !important;
}
div.sharedMediaContent a.selected {
	background: rgb(215, 248, 172) !important; border: 1px solid green !important; border-image: none !important;
}
div.sharedMediaFooter {
	border-right-color: rgb(193, 193, 193); border-bottom-color: rgb(193, 193, 193); border-left-color: rgb(193, 193, 193); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
.article-edit .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	font-size: 14px;
}
.article-edit .ui-tabs .ui-tabs-panel {
	padding: 0px;
}
.df_required {
	color: rgb(244, 67, 54); padding-left: 10px;
}
#da_edit h2 {
	margin: 0px;
}
.da_edit_image {
	min-height: 70px; max-height: 70px; max-width: 120px;
}
.da_edit_image_overlay {
	padding: 0px; width: 180px; height: 70px; text-align: center; display: inline-block; position: relative;
}
a.da_edit_image_overlay img {
	
}
a.da_edit_image_overlay {
	padding: 0px; border: 0px currentColor; border-image: none;
}
.da_edit_image_view {
	background: url("/desktopmodules/articlecs/images/exlink.png") no-repeat center; transition:0.2s linear; width: 100%; height: 100%; position: absolute; z-index: 11; opacity: 0.6; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear;
}
.da_edit_image_view:hover {
	opacity: 1;
}
.da_edit_image_draft {
	left: 5px; bottom: 90px; position: absolute;
}
.da_edit_image_move {
	left: 3px; top: 3px; position: absolute; cursor: pointer;
}
.da_edit_image_video {
	left: 50px; top: 45px; position: absolute; opacity: 0.8;
}
.da_edit_media_tag {
	padding-bottom: 3px;
}
.media-item {
	margin: 5px 5px 5px 0px; padding: 5px; border-radius: 4px; border: 4px solid rgb(204, 204, 204); border-image: none; width: 135px; height: 175px; text-align: center; overflow: hidden; float: left; position: relative; background-color: rgb(238, 238, 238);
}
.media-tag {
	margin: 5px 3px 5px 15px; border-radius: 4px; width: 30px; height: 175px; text-align: center; overflow: hidden; float: left; position: relative;
}
.media-panel {
	padding-top: 20px; border-top-color: rgb(238, 238, 238); border-top-width: 4px; border-top-style: solid;
}
.media-panel div:first-child .media-tag {
	margin-left: 0px;
}
.media-tag span {
	transform-origin: 0% 0%; width: 170px; height: 100%; text-align: center; text-transform: uppercase; letter-spacing: 1px; padding-top: 4px; display: block; transform: translate(0px, 100%) rotate(-90deg);
}
.media-item-right {
	padding-top: 5px; display: flex; justify-content: space-around;
}
.media-item-right .fa {
	cursor: pointer;
}
.media-item-right a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.media-item-right a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.media-item-right a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.media-item-right a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.media-item-right ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
.media-item-right li {
	padding-right: 10px; margin-left: 0px; float: left; list-style-type: none;
}
.media-move-select {
	border-color: rgb(204, 204, 204); border-radius: 4px; font-size: 13px;
}
.media-specialm {
	border-color: rgb(121, 85, 72);
}
.media-specialm-back {
	color: rgb(215, 204, 200); background-color: rgb(121, 85, 72);
}
.media-specials {
	border-color: rgb(109, 76, 65);
}
.media-specials-back {
	color: rgb(215, 204, 200); background-color: rgb(109, 76, 65);
}
.media-specialp {
	border-color: rgb(62, 39, 35);
}
.media-specialp-back {
	color: rgb(215, 204, 200); background-color: rgb(62, 39, 35);
}
.media-doc {
	border-color: rgb(255, 152, 0);
}
.media-doc-back {
	color: rgb(255, 224, 178); background-color: rgb(255, 152, 0);
}
.media-banner {
	border-color: rgb(69, 90, 100);
}
.media-banner-back {
	color: rgb(255, 255, 255); background-color: rgb(69, 90, 100);
}
.media-top {
	border-color: rgb(56, 142, 60);
}
.media-top-back {
	color: rgb(255, 255, 255); background-color: rgb(56, 142, 60);
}
.media-misc {
	border-color: rgb(123, 31, 162);
}
.media-misc-back {
	color: rgb(255, 255, 255); background-color: rgb(123, 31, 162);
}
.media-headline {
	border-color: rgb(2, 136, 209);
}
.media-headline-back {
	color: rgb(255, 255, 255); background-color: rgb(2, 136, 209);
}
.media-slideshow {
	border-color: rgb(211, 47, 47);
}
.media-slideshow-back {
	color: rgb(255, 255, 255); background-color: rgb(211, 47, 47);
}
.media-social {
	border-color: rgb(48, 63, 159);
}
.media-social-back {
	color: rgb(255, 255, 255); background-color: rgb(48, 63, 159);
}
ul.tagit {
	margin: 0px;
}
.reToolbar li {
	box-sizing: content-box;
}
.reToolbar {
	box-sizing: content-box;
}
.filter-markers .filter {
	padding: 3px 7px; border-radius: 4px; margin-right: 10px; float: left; background-color: rgb(238, 238, 238);
}
.filter-markers .filter-title {
	padding-top: 3px; font-weight: bold; margin-right: 10px; float: left;
}
.filter-clear {
	padding-top: 3px; display: block;
}
.adetail .media-inline {
	font-weight: normal; display: inline-block; position: relative;
}
.adetail .media-inline .mtitle {
	width: 100%; color: rgb(102, 102, 102); line-height: 1.5em; padding-top: 10px; padding-bottom: 5px; font-size: 11px; font-weight: bold; display: inline-block;
}
.adetail .media-inline .caption {
	color: rgb(102, 102, 102); line-height: 1.3em; font-size: 11px;
}
.adetail .media-inline .minfo {
	line-height: 1em; padding-top: 10px; padding-bottom: 10px; font-size: 0.9em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.adetail .media-inline .overlay {
	background: url("/DesktopModules/ArticleCS/images/zoom-icon.png") no-repeat; width: 33px; height: 32px; right: 0px; bottom: 0px; position: absolute; z-index: 100; opacity: 0.7;
}
.adetail .media-inline .linkoverlay {
	background: url("/DesktopModules/ArticleCS/images/link-icon.png") no-repeat; width: 33px; height: 32px; right: 0px; bottom: 0px; position: absolute; z-index: 100; opacity: 0.7;
}
.adetail .media-inline .duration {
	padding: 3px 10px; border-radius: 4px; right: 15px; bottom: 15px; color: rgb(255, 255, 255); font-size: 17px; position: absolute; z-index: 100; background-color: rgb(51, 51, 51);
}
.media-inline-popup {
	margin: 60px;
}
.media-inline-popup .title {
	color: rgb(51, 51, 51); padding-top: 20px; font-size: 1em; font-weight: bold; display: inline-block;
}
.media-inline-popup .caption {
	color: rgb(51, 51, 51); line-height: 1.5em; font-size: 0.95em;
}
.media-inline-popup .action {
	padding: 25px 0px; color: rgb(173, 173, 173); display: flex; justify-content: flex-start;
}
.media-inline-popup .action .action-item {
	padding-right: 25px; display: flex;
}
.media-inline-popup .action .action-frame {
	display: flex; align-items: center;
}
.media-inline-popup .action .icon {
	border: currentColor; border-image: none; width: 22px; height: 22px; margin-right: 10px; background-repeat: no-repeat;
}
.media-inline-popup .action .virin {
	display: none;
}
.media-inline-popup .action .photographer {
	display: none;
}
.media-inline-popup .social {
	display: none;
}
.media-inline-popup .action a {
	color: rgb(51, 51, 51); font-size: 0.8em;
}
.media-inline-popup .action a:link {
	color: rgb(51, 51, 51); font-size: 0.8em;
}
.media-inline-popup .action a:visited {
	color: rgb(51, 51, 51); font-size: 0.8em;
}
.media-inline-popup .action a:hover {
	color: rgb(51, 51, 51); font-size: 0.8em;
}
.media-inline-popup img {
	
}
.ss-wrapper {
	
}
.adetail .media-inline .image-wrapper {
	display: block; position: relative;
}
.adetail .media-inline img {
	border: 1px solid rgb(153, 153, 153); border-image: none; display: inline-block; position: relative; max-width: 100%; background-color: rgb(153, 153, 153);
}
.adetail .media-inline-video .image-wrapper {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
.adetail .media-inline-right {
	margin: 5px 0px 20px 30px; float: right;
}
.adetail .media-inline-video-right {
	margin: 5px 0px 20px 30px; float: right;
}
.adetail .media-inline-center {
	margin: 5px auto 25px; display: block; position: relative;
}
.adetail .media-inline-video-center {
	margin: 5px auto 25px; display: block; position: relative;
}
.adetail .media-inline-left {
	margin: 5px 30px 20px 0px; float: left;
}
.adetail .media-inline-video-left {
	margin: 5px 30px 20px 0px; float: left;
}
.adetail .media-inline-full {
	margin: 5px 0px; width: 100%;
}
.adetail .media-inline-video-full {
	margin: 5px 0px; width: 100%;
}
.adetail .media-inline-full .image-wrapper {
	width: 100%;
}
.adetail .media-inline-full .image-wrapper img {
	width: 100%;
}
.adetail .media-inline .mejs__overlay-button {
	
}
.media-inline-small {
	width: 35%;
}
.media-inline-small .mejs__overlay-button {
	right: -15px; bottom: 10px; transform: translate(0px, 0px) scale(0.55);
}
.media-inline-thumb {
	width: 27%;
}
.media-inline-medium {
	width: 47%;
}
.media-inline-medium .mejs__overlay-button {
	right: 0px; bottom: 15px; transform: translate(0px, 0px) scale(0.75);
}
.media-inline-large {
	width: 71%;
}
.media-inline-large .mejs__overlay-button {
	right: 0px; bottom: 30px; transform: translate(0px, 0px) scale(1);
}
.media-inline-xlarge {
	width: 100%;
}
.media-inline-xlarge .mejs__overlay-button {
	right: 15px; bottom: 40px; transform: translate(0px, 0px) scale(1.25);
}
.adetail .media-inline .minfo a {
	color: rgb(153, 0, 0); white-space: nowrap;
}
.media-inline .minfo a:link {
	color: rgb(153, 0, 0); white-space: nowrap;
}
.media-inline-popup.slideshow {
	max-width: 700px;
}
.article-slideshow {
	max-width: 700px;
}
@media all and (max-width:967px)
{
.article-slideshow {
	max-width: 650px;
}
}
@media all and (max-width:768px)
{
.article-slideshow {
	max-width: 550px;
}
}
@media all and (max-width:467px)
{
.article-slideshow {
	max-width: 250px;
}
.media-inline-popup {
	margin: 60px 20px 0px;
}
}
.article-slideshow-left {
	margin: 10px 20px 10px 0px; float: left;
}
.article-slideshow-right {
	margin: 10px 0px 10px 20px; float: right;
}
.article-slideshow .carousel {
	
}
.slideshow-gallery {
	height: 600px; overflow: hidden; display: inline-block; position: relative;
}
.article-slideshow .item {
	
}
.article-slideshow .item .stitle {
	width: 100%; font-size: 16px; font-weight: bold; margin-bottom: 3px; display: inline-block;
}
.slideshow-pager-left {
	background: url("/desktopmodules/articlecs/images/slideshow-left.png") no-repeat left; left: 0px; width: 50px; height: 94px; position: absolute; z-index: 20; cursor: pointer; opacity: 0.8;
}
.slideshow-pager-right {
	background: url("/desktopmodules/articlecs/images/slideshow-right.png") no-repeat right; width: 50px; height: 94px; right: 0px; position: absolute; z-index: 20; cursor: pointer; opacity: 0.8;
}
.slideshow-pager-left:hover {
	opacity: 0.6;
}
.slideshow-pager-right:hover {
	opacity: 0.6;
}
.article-slideshow .item .image {
	text-align: center; background-color: rgb(0, 0, 0);
}
.article-slideshow .item .image img {
	display: inline-block; max-height: 500px;
}
.article-slideshow .counter {
	float: right;
}
.article-slideshow .item .minfo {
	padding: 5px 0px 0px; width: 100%;
}
.article-slideshow .item .minfo p {
	
}
.article-slideshow .minfo a {
	
}
.article-slideshow .minfo a:link {
	
}
@media all and (max-width:767px)
{
.adetail .media-inline {
	width: 100%;
}
.adetail .media-inline .image-wrapper {
	display: block;
}
.adetail .media-inline .image-wrapper img {
	width: 100%;
}
.adetail .media-inline-video-left {
	margin: 5px 0px 15px !important; float: none !important;
}
.adetail .media-inline-video-right {
	margin: 5px 0px 15px !important; float: none !important;
}
.adetail .media-inline-video-center {
	margin: 5px 0px 15px !important; float: none !important;
}
}
@media print
{
body {
	padding: 0px 0px 10pt !important; line-height: 1.4em;
}
.adetail .media-inline .caption {
	font-size: 12px;
}
.adetail .sub-action {
	display: none !important;
}
.adetail .media-inline-video-left {
	display: none !important;
}
.adetail .media-inline-video-right {
	display: none !important;
}
#ControlBar {
	display: none !important;
}
#ControlBar_ControlPanel {
	display: none !important;
}
.adetail h1.title a {
	display: none !important;
}
.adetail div.social {
	display: none !important;
}
.gallery div.info {
	display: none !important;
}
div.skin-login-inner {
	display: none !important;
}
footer {
	display: none !important;
}
a[href]::after {
	content: none !important;
}
a[href] {
	content: none !important;
}
}
.da_body .media-inline {
	font-weight: normal; display: inline-block;
}
.da_body .media-inline .mtitle {
	width: 100%; color: rgb(102, 102, 102); line-height: 1.3em; padding-bottom: 5px; font-size: 11px; font-weight: bold; display: inline-block;
}
.da_body .media-inline .caption {
	color: rgb(102, 102, 102); line-height: 1.3em; font-size: 11px;
}
.da_body .media-inline .minfo {
	line-height: 1em; padding-top: 10px; padding-bottom: 10px; font-size: 0.9em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.da_body .media-inline .overlay {
	background: url("/DesktopModules/ArticleCS/images/zoom-icon.png") no-repeat; width: 33px; height: 32px; right: 0px; bottom: 0px; position: absolute; z-index: 3; opacity: 0.7;
}
.da_body .media-inline .linkoverlay {
	background: url("/DesktopModules/ArticleCS/images/link-icon.png") no-repeat; width: 33px; height: 32px; right: 0px; bottom: 0px; position: absolute; opacity: 0.7;
}
.da_body .media-inline .image-wrapper {
	border: 1px solid rgb(153, 153, 153); border-image: none; display: inline-block; position: relative;
}
.da_body .media-inline .image-wrapper img {
	max-width: 100%;
}
.da_body .media-inline-right {
	margin: 5px 0px 10px 25px; float: right;
}
.da_body .media-inline-video-right {
	margin: 5px 0px 10px 25px; float: right;
}
.da_body .media-inline-center {
	margin: 5px auto 25px; display: block; position: relative;
}
.da_body .media-inline-video-center {
	margin: 5px auto 25px; display: block; position: relative;
}
.da_body .media-inline-left {
	margin: 5px 25px 10px 0px; float: left;
}
.da_body .media-inline-video-left {
	margin: 5px 25px 10px 0px; float: left;
}
.media-inline-small {
	width: 35%;
}
.da_body .media-inline .minfo a {
	color: rgb(153, 0, 0); white-space: nowrap;
}
.media-inline .minfo a:link {
	color: rgb(153, 0, 0); white-space: nowrap;
}
.da_body .slideshow {
	border: 10px solid rgb(221, 221, 221); border-image: none; width: 300px; display: inline-block; position: relative; box-shadow: 1px 1px 2px #e6e6e6; background-color: rgb(238, 238, 238); -webkit-box-shadow: 1px 1px 2px #e6e6e6; -moz-box-shadow: 1px 1px 2px #e6e6e6;
}
.da_body .slideshow-left {
	margin: 10px 20px 10px 0px; float: left;
}
.da_body .slideshow-right {
	margin: 10px 0px 10px 20px; float: right;
}
.da_body .slideshow .carousel {
	
}
.da_body .slideshow .item {
	
}
.da_body .slideshow .pager-left {
	background: url("gallery-left.png") no-repeat left; left: 0px; width: 46px; height: 394px; position: absolute; z-index: 20; cursor: pointer; opacity: 0.6;
}
.da_body .slideshow .pager-right {
	background: url("gallery-right.png") no-repeat right; width: 46px; height: 394px; right: 0px; position: absolute; z-index: 20; cursor: pointer; opacity: 0.6;
}
.da_body .slideshow .item .image {
	text-align: center; background-color: rgb(0, 0, 0);
}
.da_body .slideshow .item .image img {
	display: inline-block; max-height: 500px;
}
.da_body .slideshow .counter {
	float: right;
}
.da_body .slideshow .item .minfo {
	padding: 5px 5px 0px; font-size: 0.9em;
}
.da_body .slideshow .item .minfo p {
	font-size: 0.9em;
}
.da_body .slideshow .minfo a {
	color: rgb(153, 0, 0);
}
.da_body .slideshow .minfo a:link {
	color: rgb(153, 0, 0);
}
@media all and (max-width:767px)
{
.da_body .media-inline {
	width: 100%;
}
.da_body .media-inline-video-left {
	margin: 0px !important; float: none !important;
}
.da_body .media-inline-video-right {
	margin: 0px !important; float: none !important;
}
.da_body .media-inline-video-center {
	margin: 0px !important; float: none !important;
}
}
@media all and (max-width:767px)
{
.hidden-oxs {
	display: none !important;
}
}
@media print
{
.hidden-oxs {
	display: block !important;
}
}
.dash-top-stories-card {
	background: rgb(238, 238, 238);
}
.adash {
	width: auto;
}
.dash-top-stories-card .storyEach {
	margin-top: 9px; margin-right: auto; margin-bottom: 9px; display: block;
}
.dash-top-stories-card .storyInner {
	background: rgb(255, 255, 255); padding: 20px 25px; display: block; box-shadow: 0px 9px 20px -8px #666; -webkit-box-shadow: 0px 9px 20px -8px #666; -moz-box-shadow: 0px 9px 20px -8px #666;
}
.dash-top-stories-card .storyInner:hover {
	box-shadow: 0px 15px 30px -12px #333; -webkit-box-shadow: 0px 15px 30px -12px #333; -moz-box-shadow: 0px 15px 30px -12px #333;
}
.dash-top-stories-card .storyEach .cposter {
	margin: 5px 0px 0px; display: block;
}
.adash .dash-top-stories-card .storyEach > span {
	margin: 5px 0px 0px; display: block;
}
.dash-top-stories-card .storyEach .storyCopy {
	display: block;
}
.dash-top-stories-card .cposter img {
	margin: 0px 0px 10px; width: 100%; max-height: 205px; max-width: 100%;
}
.dash-top-stories-card .cposter .storyThumb {
	overflow: hidden; margin-bottom: 5px; display: block; position: relative;
}
.dash-top-stories-card .cposter .playBttn {
	border: currentColor; border-image: none; left: 41%; top: 33%; width: 18%; position: absolute; z-index: 10;
}
.dash-top-stories-card .title {
	margin: 5px 0px 0px; line-height: 1.3em; padding-bottom: 10px; font-size: 18px; font-weight: bold; display: block;
}
.dash-top-stories-card .title span {
	color: rgb(230, 33, 23);
}
.dash-top-stories-card span {
	color: rgb(42, 42, 42); font-weight: normal;
}
.dash-top-stories-card .subheadline {
	color: rgb(119, 119, 119); padding-bottom: 5px; font-weight: normal; display: block;
}
.dash-top-stories-card .links {
	font-size: 1em; margin-top: 5px; display: none;
}
.dash-top-stories-card .links a {
	color: rgb(71, 154, 203); font-weight: normal;
}
.dash-top-stories-card .links a:hover {
	color: rgb(180, 16, 25);
}
.dash-top-stories-card .footer {
	width: 100%; text-align: center; padding-top: 45px; display: block;
}
.dash-top-stories-card .footer a {
	background: rgb(19, 62, 104); padding: 15px 30px; color: rgb(255, 255, 255); letter-spacing: 0.07em; font-size: 16px; font-weight: 600; display: inline-block;
}
.dash-top-stories-card .footer a span {
	display: none;
}
.dash-top-stories-card .footer a:hover {
	background: rgb(53, 93, 146); text-decoration: none;
}
.dash-top-stories-card .storyEach .storyCopy .wraptxt {
	overflow: hidden; max-height: 200px;
}
.cardSummaryFadeout {
	width: 97.5%; height: 50px; bottom: 0px; position: absolute; background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
@media screen and (max-width:1199px)
{
.dash-top-stories-card .title {
	line-height: 1.1em; font-size: 16px;
}
.dash-top-stories-card .storyEach .storyCopy .wraptxt {
	font-size: 13px;
}
}
@media screen and (max-width:991px)
{
.dash-top-stories-card .storyEach {
	height: 100%;
}
.dash-top-stories-card .storyInner {
	height: 100%;
}
.dash-top-stories-card .cposter img {
	max-height: none;
}
.dash-top-stories-card .storyEach {
	margin-top: 1px; margin-bottom: 1px;
}
}
@media screen and (max-width:768px)
{
.adash .dash-top-stories-card .storyInner {
	padding: 10px 20px;
}
.adash .dash-top-stories-card .cposter img {
	margin: 0px;
}
.adash .dash-top-stories-card .storyEach {
	margin-bottom: 1px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 2px; border-bottom-style: solid;
}
.adash .dash-top-stories-card .storyEach .cposter {
	margin: 5px 0px; padding-right: 0px;
}
.adash .dash-top-stories-card .storyInner {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.dash-top-stories-card .storyInner:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.dash-top-stories-card .storyEach {
	margin-top: 1px; margin-bottom: 1px;
}
}
@media screen and (max-width:412px)
{
.dash-top-stories-card .cposter img {
	margin: 0px; text-indent: -9999px;
}
.dash-top-stories-card .storyEach {
	margin-top: 1px; margin-bottom: 1px;
}
}
.cards-wrap {
	background: rgb(238, 238, 238); margin: 0px auto; padding: 20px; width: 100%; max-width: 1240px;
}
.cards-wrap .item {
	
}
a.card {
	color: rgb(34, 34, 34);
}
a.card:visited {
	color: rgb(34, 34, 34);
}
a.card:link {
	color: rgb(34, 34, 34);
}
a.card:hover {
	color: rgb(34, 34, 34);
}
a.card {
	background: rgb(255, 255, 255); padding: 15px; transition:0.15s; top: 0px; text-decoration: none; display: flex; position: relative; min-height: 100%; box-shadow: 0px 9px 20px -8px #666;
}
.card:hover {
	box-shadow: 0px 15px 30px -12px #333;
}
.card .thumb {
	background-position: center; width: 200px; height: 150px; margin-right: 20px; position: relative; background-size: cover;
}
.card .thumb .playBttn {
	left: 50%; top: 50%; height: 28%; position: absolute; transform: translate(-50%, -50%);
}
.card p.alt {
	left: -9999px; top: auto; width: 1px; height: 1px; overflow: hidden; position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
a.card h1 {
	margin: 0px 0px 10px; color: rgb(53, 94, 146); line-height: 1.2; font-size: 18px;
}
a.card:hover h1 {
	color: rgb(180, 16, 25);
}
.card h1 span {
	color: rgb(230, 33, 23);
}
.card h2 {
	margin: 0px 0px 5px; color: rgb(119, 119, 119); font-size: 16px; font-weight: normal; display: block;
}
.card p {
	margin: 0px;
}
.card .content-type {
	margin: 0px 0px 10px; color: rgb(42, 42, 42); text-transform: uppercase; letter-spacing: 0.05em; font-size: 12px; display: none;
}
@media only screen and (max-width:767px)
{
.cards-wrap {
	
}
.card {
	margin: 0px auto;
}
.card {
	box-shadow: none;
}
.card:hover {
	box-shadow: none;
}
.cards-wrap .item {
	margin-bottom: 15px;
}
a.card h1 {
	margin-bottom: 0px;
}
.card h2 {
	display: none;
}
.card p {
	display: none;
}
.card .thumb {
	width: 100px; height: 66px; min-width: 100px;
}
.card article p {
	display: none;
}
.relatedvideobtn {
	position: absolute;
}
}
@media only screen and (max-width:399px)
{
.cards-wrap {
	padding: 20px 0px;
}
.card .thumb {
	display: none;
}
.cards-wrap .item {
	margin-bottom: 0px; border-bottom-color: rgb(239, 239, 239); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: none;
}
}
@media only screen and (max-width:991px) and (min-width:768px)
{
.cards-wrap {
	
}
.cards-wrap .item {
	margin-bottom: 15px;
}
.card h2 {
	display: none;
}
.card .thumb {
	width: 200px; height: 150px; min-width: 200px;
}
}
@media only screen and (max-width:1199px) and (min-width:992px)
{
.cards-wrap {
	display: block;
}
.cards-wrap .item {
	margin: 0px auto 10px; max-width: 900px;
}
.card {
	margin: 0px 0px 15px; overflow: hidden;
}
.card .thumb {
	width: 200px; height: 150px;
}
.card article {
	flex:1 1 0px;
}
}
@media only screen and (min-width:1200px)
{
a.card {
	max-width: 258px;
}
.cards-wrap {
	padding: 20px 10px; flex-flow:row wrap; display: flex; justify-content: space-around;
}
.cards-wrap .item {
	margin-bottom: 20px; max-width: 23%;
}
.card {
	flex-direction: column;
}
.card .content-type {
	display: block;
}
.card .thumb {
	width: 100%; height: 180px;
}
.card article {
	padding: 15px 0px 0px;
}
}
.txtRelatedSearch {
	width: 120px !important;
}
.da-loading-wrap {
	left: 0px; right: 0px; bottom: 0px; position: absolute; min-height: 40vh;
}
.da-loader {
	margin: -0.5em 0px 0px -0.5em; border-radius: 50%; animation:load 1.7s infinite, round 1.7s infinite; left: 50%; top: 50%; width: 1em; height: 1em; color: rgb(204, 204, 204); text-indent: -9999em; overflow: hidden; font-size: 90px; position: absolute; transform: translateZ(0px); -webkit-transform: translateZ(0); -webkit-animation: load 1.7s infinite ease, round 1.7s infinite ease;
}
@media all and (-ms-high-contrast:none)
{
.da-loader {
	display: none;
}
*::-ms-backdrop {
	display: none;
}
.da-loader {
	display: none;
}
*::-ms-backdrop {
	background: url("/images/loading.gif") no-repeat center;
}
.da-loading-wrap {
	background: url("/images/loading.gif") no-repeat center;
}
}
.spinner2 {
	margin: 100px auto 0px; width: 70px; text-align: center;
}
.spinner2 > div {
	border-radius: 100%; animation:sk-bouncedelay 1.4s ease-in-out infinite both; width: 18px; height: 18px; display: inline-block; background-color: rgb(51, 51, 51); -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner2 .bounce1 {
	animation-delay: -0.32s; -webkit-animation-delay: -0.32s;
}
.spinner2 .bounce2 {
	animation-delay: -0.16s; -webkit-animation-delay: -0.16s;
}
.spinner3 {
	left: 0px; top: 0px; width: 100%; right: 0px; bottom: 0px; display: flex; position: absolute; z-index: 1000; justify-content: center; align-items: center; background-color: rgb(255, 255, 255);
}
.spinner3 > div {
	border-radius: 100%; animation:sk-bouncedelay 1.4s ease-in-out infinite both; width: 18px; height: 18px; display: inline-block; background-color: rgb(51, 51, 51); -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner3 .bounce1 {
	animation-delay: -0.32s; -webkit-animation-delay: -0.32s;
}
.spinner3 .bounce2 {
	animation-delay: -0.16s; -webkit-animation-delay: -0.16s;
}
.article-slider .pagination {
	width: 100%; text-align: center;
}
.article-slider .pagination span {
	margin: 2px 2px 0px; width: 20px; height: 20px; text-align: center; color: rgb(255, 255, 255); display: inline-block; background-color: rgb(85, 85, 85);
}
.ast-notes {
	margin: 25px 0px 10px; padding: 25px; width: 100%; text-align: center; color: rgb(51, 51, 51); border-top-color: rgb(53, 94, 147); border-top-width: 8px; border-top-style: solid; display: inline-block; background-color: rgb(235, 235, 235);
}
.ast-notes .item {
	margin-bottom: 10px;
}
.ast-notes .item .title {
	padding-right: 10px; font-weight: bold;
}
.ast-notes .footer {
	padding-top: 20px; font-size: 20px; font-style: italic; font-weight: bold;
}
.ast-notes .header {
	padding-bottom: 20px; font-size: 24px; font-style: italic; font-weight: bold;
}
@media all and (max-width:768px)
{
.ast-notes {
	margin: 35px 0px; padding: 17px 25px 20px; text-align: left;
}
.ast-notes .header {
	text-align: center;
}
.ast-notes .footer {
	text-align: center;
}
.ast-notes .item .title {
	padding-right: 5px;
}
}
.ast-list {
	width: 100%; display: flex; flex-direction: column;
}
.ast-list ul {
	margin: 0px;
}
.ast-list .item {
	margin: 0px 30px 50px; padding-left: 60px; position: relative;
}
.ast-list .item .title {
	line-height: 1.2em; padding-bottom: 5px; font-size: 30px; font-weight: bold;
}
.ast-list .item .media-inline {
	margin: 10px 0px;
}
.ast-list .item .body {
	
}
.ast-list.circle .item .number {
	border-radius: 50%; left: 0px; top: -2px; width: 46px; height: 46px; text-align: center; color: rgb(255, 255, 255); line-height: 46px; font-family: "Crimson Text", sans-serif; font-size: 30px; display: block; position: absolute; background-color: rgb(53, 94, 147);
}
.ast-list.circle .item .number span {
	
}
.ast-list.circle .item .body {
	
}
@media all and (max-width:768px)
{
.ast-list .item {
	margin: 0px 0px 50px;
}
.ast-list .item .title {
	font-size: 1.8rem;
}
.ast-list.circle .item .number {
	font-size: 1.8rem;
}
}
.ast-glance {
	padding: 25px 0px 20px; width: 100%; font-weight: 600; border-top-color: rgb(173, 173, 173); border-bottom-color: rgb(173, 173, 173); border-top-width: 2px; border-bottom-width: 2px; border-top-style: dotted; border-bottom-style: dotted; display: inline-block;
}
@media all and (max-width:767px)
{
.ast-glance {
	padding: 25px 0px 20px;
}
}
.ast-link {
	display: block;
}
.ast-link .subhead {
	color: rgb(113, 113, 113); padding-right: 10px; font-weight: bold;
}
.ast-link.large {
	font-size: 1.3rem;
}
.ast-split {
	margin: 50px 0px; display: flex;
}
.ast-split .item {
	padding: 0px 22.5px;
}
.ast-split :first-child.item {
	padding-left: 0px;
}
.ast-split :last-child.item {
	padding-right: 0px;
}
.ast-split .media-inline {
	margin: 0px; width: 100%; float: none; max-width: 100%;
}
@media all and (max-width:767px)
{
.ast-split {
	flex-direction: column;
}
.ast-split .item {
	padding: 0px; flex:0 1 0px !important; margin-bottom: 15px;
}
.ast-split.reverse :nth-child(1).item {
	order: 6;
}
.ast-split.reverse :nth-child(2).item {
	order: 5;
}
.ast-split.reverse :nth-child(3).item {
	order: 4;
}
.ast-split.reverse :nth-child(4).item {
	order: 3;
}
.ast-split.reverse :nth-child(5).item {
	order: 2;
}
.ast-split.reverse :nth-child(6).item {
	order: 1;
}
}
.ast-biglink i {
	margin-left: 10px;
}
.ast-biglink {
	padding: 20px 0px; letter-spacing: 0.1em; display: flex; justify-content: center;
}
.ast-parallax .pimage {
	background-size: 100%;
}
.ast-parallax .pimage .pinner {
	padding: 20px;
}
.ast-parallax .pinfo {
	padding-top: 10px; display: flex; justify-content: space-between; align-items: center;
}
.ast-parallax .pinfo h2 {
	margin: 0px; padding: 0px;
}
.ast-parallax .pinfo .ptitle {
	flex-basis: 50%;
}
.ast-parallax .pinfo .ptitle .pname {
	font-size: 1.5rem; font-weight: bold; display: block;
}
.ast-parallax .pinfo .ptitle .photoby {
	font-size: 0.9rem;
}
.ast-parallax .pinfo .plinks {
	display: flex; justify-content: flex-end;
}
.ast-parallax .pinfo .plinks plink {
	margin: 0px 21px 0px 5px;
}
.ast-parallax .pinfo .plinks plink a {
	color: rgb(0, 0, 0); text-transform: uppercase; letter-spacing: 2px; font-size: 14px; text-decoration: none; display: flex;
}
@media all and (max-width:992px)
{
.ast-parallax .pinfo {
	flex-direction: column;
}
.ast-parallax .pinfo .ptitle {
	padding-bottom: 10px; flex-basis: auto;
}
.ast-parallax .pinfo .plinks .plink {
	margin: 0px 12px;
}
}
@media all and (max-width:1500px)
{
.ast-parallax .pimage {
	background-size: 120% !important;
}
}
@media all and (max-width:1200px)
{
.ast-parallax .pimage {
	background-size: 140% !important;
}
}
@media all and (max-width:1000px)
{
.ast-parallax .pimage {
	background-size: 160% !important;
}
}
@media all and (max-width:900px)
{
.ast-parallax .pimage {
	background-size: 200% !important;
}
}
@media all and (max-width:760px)
{
.ast-parallax .pimage {
	background-attachment: inherit !important; background-size: 100% !important;
}
}
@media all and (-ms-high-contrast:none), all and (-ms-high-contrast:active)
{
.ast-parallax .pimage {
	background-attachment: scroll !important;
}
}
.ast-pullquote {
	background: rgb(235, 239, 245); margin: 0px 0px 1rem 1rem; padding: 1rem 1rem 1.5rem 1.5rem; width: 50%; color: rgb(51, 51, 51); line-height: 1.2; text-indent: -5px; font-family: "CRIMSON TEXT", georgia, serif; font-size: 1.2rem; font-weight: 600; border-top-color: rgb(53, 94, 147); border-left-color: currentColor; border-top-width: 5px; border-left-width: medium; border-top-style: solid; border-left-style: none; float: right; position: relative; -webkit-font-smoothing: antialiased;
}
.ast-pullquote .quotemark {
	left: -5px; width: 33px; height: 26px; display: inline-block; position: relative; background-image: url("/desktopmodules/articlecs/images/pull-quote-mark.svg"); background-repeat: no-repeat;
}
.ast-pullquote.pullquoteCenter {
	margin: 0px; width: 100%; float: none;
}
.ast-pullquote.pullquoteLeft {
	margin-right: 1rem; margin-left: 0px; float: left;
}
.ast-pullquote .source {
	padding: 15px 0px 0px 5px; color: rgb(53, 94, 147); line-height: 1rem; text-indent: 0px; font-size: 0.9rem; font-style: italic; font-weight: 600; display: block;
}
.ast-pullquote .source::before {
	color: rgb(53, 94, 147); font-family: "crimson text", georgia, serif; font-size: 1rem; position: relative; content: "~";
}
.ast-pullquote .sourceLink {
	margin: 0px 0px 0px 15px; color: rgb(51, 51, 51) !important; font-family: lato; font-size: 0.75rem; font-style: italic; font-weight: 400;
}
@media all and (max-width:767px)
{
.ast-pullquote {
	margin: 2rem 0px !important; width: 100% !important; text-indent: 0px; font-size: 24px; float: none !important;
}
.ast-pullquote .source {
	font-size: 20px;
}
.ast-pullquote .sourceLink {
	font-size: 16px;
}
}
.ast-grid {
	width: 100%; clear: both;
}
.ast-grid .media-inline {
	margin: 5px 0px 0px; width: 100%;
}
.ast-grid.breakout {
	width: auto;
}
.ast-grid .items {
	width: 100%; clear: both; display: inline-block;
}
.ast-grid .grid-separator {
	background: rgb(53, 94, 147); margin: 45px auto; width: 40%; height: 5px; clear: both; display: block; max-width: 300px;
}
.ast-grid .grid-separator.top {
	margin-top: 45px;
}
.ast-grid .grid-separator.bottom {
	margin-bottom: 45px;
}
.ast-blockquote {
	margin: 0px 18px 25px; padding: 0px 0px 0px 13px; color: rgb(113, 113, 113); line-height: 28px; font-size: 16px; font-style: normal; border-left-color: rgb(238, 238, 238); border-left-width: 5px; border-left-style: solid;
}
.ast-blockquote .source {
	color: rgb(53, 94, 147); font-family: lato, Arial; font-size: 16px; font-style: italic; font-weight: 600; display: inline-block;
}
.ast-blockquote .source::before {
	color: rgb(53, 94, 147); font-family: "crimson text", georgia, serif; font-size: 18px; position: relative; content: "\007E";
}
.ast-blockquote .source.link::after {
	color: rgb(53, 94, 147); font-family: "crimson text", georgia, serif; font-size: 18px; position: relative; content: ",";
}
.ast-blockquote a {
	margin: 0px 0px 0px 10px; color: rgb(51, 51, 51) !important; font-family: lato, Arial; font-size: 16px; font-style: italic; font-weight: 400; display: inline-block;
}
@media all and (max-width:768px)
{
.ast-blockquote {
	line-height: 28px !important; font-size: 18px !important;
}
.ast-blockquote .source {
	font-size: 16px !important;
}
.ast-blockquote a {
	font-size: 16px !important;
}
}
.item .inner .poster .info {
	z-index: 8;
}
.author-block {
	display: inline-block;
}
.article-navbtn {
	background: rgba(0, 0, 0, 0.2); top: 45vh; margin-top: -60px; display: none; position: fixed; z-index: 99999; max-height: 120px;
}
.article-navbtn:hover {
	background: rgb(145, 145, 146);
}
.article-navbtn:hover i {
	color: rgb(255, 255, 255);
}
.article-navbtn i {
	height: 120px; line-height: 120px;
}
.article-navbtn a {
	color: rgb(140, 140, 140);
}
.article-navbtn a:hover {
	color: rgb(140, 140, 140);
}
.article-navbtn a:active {
	color: rgb(140, 140, 140);
}
.bottomNavContainer a {
	color: rgb(140, 140, 140);
}
.bottomNavContainer a:hover {
	color: rgb(140, 140, 140);
}
.bottomNavContainer a:active {
	color: rgb(140, 140, 140);
}
.article-navbtn .navbtn-link .navBtnHeader {
	text-align: center; color: rgb(102, 102, 102); padding-bottom: 10px; font-size: 18px; margin-bottom: 5px; vertical-align: text-top; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid;
}
.article-navbtn .navbtn-link {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgba(0, 0, 0, 0.2); transition:opacity 600ms, visibility 600ms; border-image: none; width: 300px; color: rgb(51, 51, 51); margin-top: -60px; margin-left: 30px; display: block; visibility: hidden; z-index: 99999; min-height: 120px; opacity: 0; box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .3); -webkit-transition: opacity 600ms, visibility 600ms; -moz-transition: opacity 600ms, visibility 600ms; -o-transition: opacity 600ms, visibility 600ms;
}
.article-navbtn.bx-next:hover > .navbtn-link {
	visibility: visible; opacity: 1;
}
.article-navbtn.bx-prev:hover > .navbtn-link {
	visibility: visible; opacity: 1;
}
.article-navbtn.bx-prev {
	left: 0px; width: 30px; min-height: 120px;
}
.article-navbtn.bx-prev i {
	margin-left: 5px;
}
.article-navbtn.bx-prev .navbtn-link {
	left: 0px; top: 45vh; margin-left: 30px; border-right-color: rgba(0, 0, 0, 0.2); border-right-width: 1px; border-right-style: solid; position: fixed;
}
.article-navbtn.bx-next {
	width: 30px; text-align: right; right: 0px; min-height: 120px;
}
.article-navbtn.bx-next i {
	margin-right: 5px; margin-left: 10px;
}
.article-navbtn.bx-next .navbtn-link {
	top: 45vh; right: 0px; margin-right: 30px; border-left-color: rgba(0, 0, 0, 0.2); border-left-width: 1px; border-left-style: solid; position: fixed;
}
div#ThumbNailNext {
	float: left;
}
.article-navbtn.bx-prev .thumbnail {
	float: right;
}
.article-navbtn .headline {
	width: 285px; height: auto; padding-right: 15px; padding-left: 5px;
}
.article-navbtn.bx-next .headline {
	padding-right: 5px; padding-left: 15px; font-size: 0.75rem;
}
.article-navbtn.bx-prev .headline {
	font-size: 0.75rem; margin-right: 30px;
}
.article-navbtn .headline .pubDate {
	margin-top: 31px; border-top-color: rgb(140, 140, 140); border-top-width: 1px; border-top-style: solid;
}
.article-navbtn.bx-next .headline.contentPubDate::after {
	text-align: right; right: 15px;
}
.article-navbtn.bx-prev.logged-in {
	left: 80px;
}
.article-navbtn.bx-prev.logged-in .navbtn-link {
	margin-left: 110px;
}
.article-navbtn.bx-next img.thumbnailImg {
	left: 3px; top: 2.25px; width: 48.1%; height: auto; position: absolute;
}
.article-navbtn.bx-prev img.thumbnailImg {
	top: 2.25px; width: 48.1%; height: auto; right: 3px; position: absolute;
}
.article-navbtn .image {
	width: auto; height: 50px; background-size: 100% auto;
}
.article-navbtn .navbtn-link .moreNavArticle {
	height: auto; font-size: 0.75rem; margin-top: 5px; border-top-color: rgba(0, 0, 0, 0.2); border-top-width: 1px; border-top-style: solid; display: flex; min-height: 30px; background-color: rgb(255, 255, 255);
}
.article-navbtn .navbtn-link a.moreNavArticle {
	color: rgb(140, 140, 140);
}
.article-navbtn .navbtn-link.hide {
	display: none;
}
.article-navbtn.bx-prev .navbtn-link.hide {
	display: none;
}
.article-navbtn.bx-next .navbtn-link.hide {
	display: none;
}
.article-navbtn .navbtn-link.show {
	display: block;
}
.article-navbtn.artnav-flex {
	display: flex;
}
.bottomNavContainer {
	display: none;
}
.bottomNavContainer .artNextBottomNav {
	padding: 15px 25px 20px 15px; color: rgb(140, 140, 140); border-left-color: rgba(0, 0, 0, 0.2); border-left-width: 0.5px; border-left-style: solid;
}
.bottomNavContainer .artPrevBottomNav {
	padding: 15px 25px 20px 15px; color: rgb(140, 140, 140); border-left-color: rgba(0, 0, 0, 0.2); border-left-width: 0.5px; border-left-style: solid;
}
.bottomNavContainer .artNextBottomNav {
	text-align: right; padding-right: 20%;
}
.bottomNavContainer .artPrevBottomNav {
	padding-left: 20%;
}
.bottomNavContainer .headline {
	padding-top: 5px;
}
@media only screen and (max-width:1024px)
{
.bottomNavContainer .navBtnHeader {
	display: none;
}
.bottomNavContainer .mobileNavTitle {
	text-align: center; padding-top: 15px; font-size: 22px; display: block;
}
.bottomNavContainer .headline {
	display: none;
}
div .article-navbtn.bx-next {
	top: auto; width: 0px; bottom: 0px; display: none; position: fixed;
}
div.article-navbtn.bx-prev {
	top: auto; width: 0px; bottom: 0px; display: none; position: fixed;
}
.article-navbtn.bx-next .navbtn-link {
	display: none;
}
.article-navbtn.bx-prev .navbtn-link {
	display: none;
}
.bottomNavContainer {
	margin: 0px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; width: 100%; bottom: 0px; display: flex; position: fixed; z-index: 50000; min-height: 75px; box-shadow: 0px -1px 1px rgba(50,50,50,0.2); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0px -1px 1px rgba(50, 50, 50, 0.2); -moz-box-shadow: 0px -1px 1px rgba(50, 50, 50, 0.2);
}
.col {
	padding: 7px; flex:1 1 0px;
}
.article-navbtn .navbtn-link .image {
	width: 0px; display: none;
}
.bottomNavContainer .navBtnHeader {
	text-align: center; margin-left: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.article-navbtn.bx-next .headline {
	width: 100%;
}
.article-navbtn.bx-prev .headline {
	width: 100%;
}
.article-navbtn.bx-prev.logged-in .navbtn-link {
	margin-left: 0px;
}
}
@media all and (max-width:1366px) and (min-width:1024px)
{
.bottomNavContainer .navBtnHeader {
	display: none;
}
.bottomNavContainer .mobileNavTitle {
	text-align: center; padding-top: 7px; font-size: 22px; display: block;
}
.bottomNavContainer .headline {
	display: none;
}
.bottomNavContainer .artNextBottomNav {
	padding-right: 5%;
}
.bottomNavContainer .artPrevBottomNav {
	padding-left: 5%;
}
}
@media all and (orientation:landscape) and (max-width:1366px) and (min-width:1024px)
{
.bottomNavContainer .navBtnHeader {
	display: none;
}
.bottomNavContainer .mobileNavTitle {
	text-align: center; padding-top: 7px; font-size: 22px; display: block;
}
.bottomNavContainer .headline {
	display: none;
}
.bottomNavContainer .artNextBottomNav {
	padding-right: 5%;
}
.bottomNavContainer .artPrevBottomNav {
	padding-left: 5%;
}
}
@media only screen and (max-height:1024px)
{
.bottomNavContainer .navBtnHeader {
	display: none;
}
.bottomNavContainer .mobileNavTitle {
	text-align: center; padding-top: 7px; font-size: 22px; display: block;
}
.bottomNavContainer .headline {
	display: none;
}
.bottomNavContainer .artNextBottomNav {
	padding-right: 5%;
}
.bottomNavContainer .artPrevBottomNav {
	padding-left: 5%;
}
}
