.dnnHTMLSettings {
	margin: 2em auto; width: 95%;
}
.dnnEditHtml {
	margin: 2em auto; width: 95%;
}
.dnnMyWork {
	margin: 2em auto; width: 95%;
}
.dnnFormItem input[type=checkbox] {
	width: auto;
}
.dnnPageSettings .dnnFormItem input[type=radio] {
	width: auto;
}
.dnnFormItem .dnnHTMLSRadioButtons label {
	padding: 0px; width: 2%; text-align: left; float: left;
}
.dnnFormItem .dnnPSRadioButtons input {
	padding: 0px; width: 2%; text-align: left; float: left;
}
.dnnFormItem .dnnHTMLSRadioButtons label {
	padding: 0px; width: 2%; text-align: left; float: left;
}
.dnnFormItem .dnnHTMLSRadioButtons input {
	padding: 0px; width: 2%; text-align: left; float: left;
}
.dnnFormItem .dnnHTMLSRadioButtons label {
	padding: 0px 15px 0px 6px; width: auto; font-weight: normal;
}
.dnnHTMLSRadioButtons br {
	line-height: 0; font-size: 0px; display: none !important; border-collapse: collapse;
}
.ehcContent textarea {
	width: 50%; height: 180px; margin-top: 1em;
}
.dnnFormItem .dnnPublish label {
	width: auto; margin-right: 10px;
}
.dnnFormItem .dnnPublish input[type='checkbox'] {
	margin-right: 30px;
}
table.DnnGridNestedTable {
	margin: 0px !important;
}
div a.toggleMore {
	background: -ms-linear-gradient(rgb(36, 138, 186) 0%, rgb(31, 129, 168) 100%); margin: 0px; padding: 5px 25px; border-radius: 3px; color: rgb(255, 255, 255); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none; box-shadow: 0px 1px 0px 1px #1f81a8; text-shadow: 0px 1px 1px black; -webkit-border-radius: 3px; -webkit-box-shadow: 0px 1px 0px 1px #1f81a8; -moz-box-shadow: 0px 1px 0px 1px #1f81a8; -moz-border-radius: 3px;
}
.ehContent {
	margin-top: 20px;
}
#dnnPanel-Summary {
	display: none;
}
.summaryHelp {
	margin: 0px 30px;
}
.RadGrid {
	overflow: auto;
}
.previewC {
	width: 100%;
}
