.rsDefault {
	
}
.rsDefault .rsOverflow {
	
}
.rsDefault .rsSlide {
	
}
.rsDefault .rsVideoFrameHolder {
	
}
.rsDefault .rsThumbs {
	
}
.rsDefault .rsArrow {
	width: 44px; height: 100%; display: block; position: absolute; z-index: 21; cursor: pointer;
}
.rsDefault.rsVer .rsArrow {
	width: 100%; height: 44px;
}
.rsDefault.rsVer .rsArrowLeft {
	left: 0px; top: 0px;
}
.rsDefault.rsVer .rsArrowRight {
	left: 0px; bottom: 0px;
}
.rsDefault.rsHor .rsArrowLeft {
	left: 0px; top: 0px;
}
.rsDefault.rsHor .rsArrowRight {
	top: 0px; right: 0px;
}
.rsDefault .rsArrowIcn {
	background: url("rs-default.png") rgba(0, 0, 0, 0.75); border-radius: 2px; left: 50%; top: 50%; width: 32px; height: 32px; margin-top: -16px; margin-left: -16px; position: absolute; cursor: pointer;
}
.rsDefault .rsArrowIcn:hover {
	background-color: rgba(0, 0, 0, 0.9);
}
.rsDefault.rsHor .rsArrowLeft .rsArrowIcn {
	background-position: -64px -32px;
}
.rsDefault.rsHor .rsArrowRight .rsArrowIcn {
	background-position: -64px -64px;
}
.rsDefault.rsVer .rsArrowLeft .rsArrowIcn {
	background-position: -96px -32px;
}
.rsDefault.rsVer .rsArrowRight .rsArrowIcn {
	background-position: -96px -64px;
}
.rsDefault .rsArrowDisabled .rsArrowIcn {
	opacity: 0.2;
}
.rsDefault .rsThumbsHor {
	width: 100%; height: 72px;
}
.rsDefault .rsThumbsVer {
	top: 0px; width: 96px; height: 100%; right: 0px; position: absolute;
}
.rsDefault.rsWithThumbsHor .rsThumbsContainer {
	height: 100%; position: relative;
}
.rsDefault.rsWithThumbsVer .rsThumbsContainer {
	width: 100%; position: relative;
}
.rsDefault .rsThumb {
	width: 96px; height: 72px; overflow: hidden; float: left;
}
.rsDefault .rsThumb img {
	width: 100%; height: 100%;
}
.rsDefault .rsThumb.rsNavSelected {
	background: rgb(2, 135, 74);
}
.rsDefault .rsThumb.rsNavSelected img {
	opacity: 0.3;
}
.rsDefault .rsTmb {
	display: block;
}
.rsDefault .rsTmb h5 {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255); line-height: 20px; font-size: 16px;
}
.rsDefault .rsTmb span {
	margin: 0px; padding: 0px; color: rgb(221, 221, 221); line-height: 18px; font-size: 13px;
}
.rsDefault .rsThumbsArrow {
	background: rgba(0, 0, 0, 0.75); width: 20px; height: 100%; display: block; position: absolute; z-index: 21; cursor: pointer;
}
.rsDefault .rsThumbsArrow:hover {
	background: rgba(0, 0, 0, 0.9);
}
.rsDefault.rsWithThumbsVer .rsThumbsArrow {
	width: 100%; height: 20px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft {
	left: 0px; top: 0px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight {
	left: 0px; bottom: 0px;
}
.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft {
	left: 0px; top: 0px;
}
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight {
	top: 0px; right: 0px;
}
.rsDefault .rsThumbsArrowIcn {
	background: url("rs-default.png"); left: 50%; top: 50%; width: 16px; height: 16px; margin-top: -8px; margin-left: -8px; position: absolute; cursor: pointer;
}
.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
	background-position: -128px -32px;
}
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
	background-position: -128px -48px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
	background-position: -144px -32px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
	background-position: -144px -48px;
}
.rsDefault .rsThumbsArrowDisabled {
	display: none !important;
}
@media screen and (max-width:800px) and (min-width:0px)
{
.rsDefault .rsThumb {
	width: 59px; height: 44px;
}
.rsDefault .rsThumbsHor {
	height: 44px;
}
.rsDefault .rsThumbsVer {
	width: 59px;
}
}
.rsDefault .rsTabs {
	margin: 0px auto; width: 100%; height: auto; text-align: center; overflow: hidden; padding-top: 12px; position: relative;
}
.rsDefault .rsTab {
	border-width: 1px; border-style: solid; border-color: rgb(217, 217, 221) rgb(245, 245, 245) rgb(217, 217, 221) rgb(217, 217, 221); padding: 5px 13px 6px; border-image: none; width: auto; height: auto; text-align: center; color: rgb(51, 51, 51); text-decoration: none; display: inline-block; cursor: pointer; min-width: 72px; box-shadow: inset 1px 0px 0px #fff; background-image: linear-gradient(rgb(254, 254, 254), rgb(244, 244, 244)); background-color: rgb(255, 255, 255); -webkit-box-shadow: inset 1px 0 0 #fff;
}
.rsDefault :first-child.rsTab {
	border-top-left-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-top-left-radius: 4px;
}
.rsDefault :last-child.rsTab {
	border-right-color: rgb(207, 207, 207); border-right-width: 1px; border-right-style: solid; border-top-right-radius: 4px; border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -webkit-border-top-right-radius: 4px;
}
.rsDefault .rsTab:active {
	border: 1px solid rgb(217, 217, 221); border-image: none; box-shadow: inset 0px 1px 4px rgba(0,0,0,0.2); background-color: rgb(244, 244, 244);
}
.rsDefault .rsTab.rsNavSelected {
	background: linear-gradient(rgb(172, 172, 172), rgb(187, 187, 187)) rgb(172, 172, 172); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 9px rgba(102,102,102,0.65); text-shadow: 1px 1px #838383;
}
.rsDefault .rsFullscreenBtn {
	top: 0px; width: 44px; height: 44px; right: 0px; display: block; position: absolute; z-index: 22; cursor: pointer;
}
.rsDefault .rsFullscreenIcn {
	background: url("rs-default.png") 0px 0px rgba(0, 0, 0, 0.75); margin: 6px; border-radius: 2px; width: 32px; height: 32px; display: block;
}
.rsDefault .rsFullscreenIcn:hover {
	background-color: rgba(0, 0, 0, 0.9);
}
.rsDefault.rsFullscreen .rsFullscreenIcn {
	background-position: -32px 0px;
}
.rsDefault .rsPlayBtn {
	width: 100px; height: 100px; margin-top: -50px; margin-left: -50px; cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
.rsDefault .rsPlayBtnIcon {
	background: url("bigplay.svg") no-repeat; width: 100px; height: 100px;
}
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon {
	background-position: 0px -100px;
}
.rsDefault .rsBtnCenterer {
	left: 50%; top: 50%; position: absolute;
}
.rsDefault .rsCloseVideoBtn {
	top: 0px; width: 44px; height: 44px; right: 0px; position: absolute; z-index: 500; cursor: pointer; -webkit-transform: translateZ(0); -webkit-backface-visibility: hidden;
}
.rsDefault .rsCloseVideoBtn.rsiOSBtn {
	top: -38px; right: -6px;
}
.rsDefault .rsCloseVideoIcn {
	background: url("rs-default.png") -64px 0px rgba(0, 0, 0, 0.75); margin: 6px; width: 32px; height: 32px;
}
.rsDefault .rsCloseVideoIcn:hover {
	background-color: rgba(0, 0, 0, 0.9);
}
.rsDefault .rsPreloader {
	left: 50%; top: 50%; width: 20px; height: 20px; margin-top: -10px; margin-left: -10px; background-image: url("../preloaders/preloader-white.gif");
}
.rsDefault .rsGCaption {
	background: rgba(0, 0, 0, 0.75); padding: 2px 8px; border-radius: 2px; left: 6px; width: auto; text-align: left; bottom: 6px; color: rgb(255, 255, 255); font-size: 12px; float: none; position: absolute;
}
