.Normal {
	line-height: 1.428; font-size: 14px;
}
.dnnSortable.ui-sortable {
	padding: 0px 15px;
}
.dnnSortable.ui-droppable {
	padding: 0px 15px;
}
.dnnActions {
	display: inline-block;
}
.dnnActions li {
	list-style: none; margin-right: 5px; float: left;
}
.form-group .dnnLabel {
	width: auto; text-align: left;
}
.dnnLabel + span {
	white-space: normal;
}
ul.dnnAdminTabNav {
	border-radius: 0px !important; height: 45px;
}
.dnnFormMessage {
	max-width: none;
}
#ControlBar {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar::before {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar::after {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar *::before {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar *::after {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar li {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar li::before {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar li::after {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar a {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar a::before {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#ControlBar a::after {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnn_mact {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnn_mact::before {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnn_mact::after {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnn_mact *::before {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnn_mact *::after {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnn_mact li {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnn_mact li::before {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnn_mact li::after {
	box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.dnnPrimaryAction:link {
	color: rgb(255, 255, 255);
}
.dnnPrimaryAction:visited {
	color: rgb(255, 255, 255);
}
.dnnDropDownList .selected-item {
	height: 35px !important;
}
.dnnDropDownList .selected-item a {
	height: 35px !important;
}
.dnnCheckbox .mark {
	background: none;
}
.dnnPrimaryAction {
	background: rgb(129, 129, 129); border-color: rgb(255, 255, 255); border-radius: 3px; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; text-shadow: 0px 1px 1px #000;
}
.dnnFormItem input[type='submit'] {
	background: rgb(129, 129, 129); border-color: rgb(255, 255, 255); border-radius: 3px; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; text-shadow: 0px 1px 1px #000;
}
a.dnnPrimaryAction {
	background: rgb(129, 129, 129); border-color: rgb(255, 255, 255); border-radius: 3px; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; text-shadow: 0px 1px 1px #000;
}
.dnnPrimaryAction:hover {
	background: rgb(78, 78, 78); border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
}
.dnnFormItem input[type='submit']:hover {
	background: rgb(78, 78, 78); border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
}
a.dnnPrimaryAction:hover {
	background: rgb(78, 78, 78); border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
}
.dnnFormItem button {
	border: currentColor; border-image: none;
}
.dnnFormItem input[type='button'] {
	border: currentColor; border-image: none;
}
.dnnFormItem input[type='reset'] {
	border: currentColor; border-image: none;
}
.dnnFormItem input[type='submit'] {
	border: currentColor; border-image: none;
}
.dnnPrimaryAction {
	border: currentColor; border-image: none;
}
.dnnSecondaryAction {
	border: currentColor; border-image: none;
}
.dnnTertiaryAction {
	border: currentColor; border-image: none;
}
ul.dnnAdminTabNav li a {
	border: currentColor; border-image: none;
}
.dnnLogin .LoginTabGroup span {
	border: currentColor; border-image: none;
}
#dnnModuleDigitalAssetsSelectionToolbar {
	box-sizing: content-box;
}
#dnnModuleDigitalAssetsListViewToolbar {
	box-sizing: content-box;
}
#dnnModuleDigitalAssetsListContainer {
	box-sizing: content-box;
}
.dnnModuleDigitalAssetsGrid > table > thead > tr {
	box-sizing: content-box;
}
a.btn-info {
	color: rgb(255, 255, 255);
}
a.btn-info:visited {
	color: rgb(255, 255, 255);
}
a.btn-info:link {
	color: rgb(255, 255, 255);
}
a.btn-primary {
	color: rgb(255, 255, 255);
}
a.btn-primary:visited {
	color: rgb(255, 255, 255);
}
a.btn-primary:link {
	color: rgb(255, 255, 255);
}
.wrapper {
	margin: 0px auto; max-width: 1170px;
}
.nopad {
	padding-right: 0px; padding-left: 0px;
}
.menu {
	position: relative;
}
a {
	color: rgb(0, 51, 102); text-decoration: underline;
}
a:visited {
	color: rgb(0, 51, 102); text-decoration: underline;
}
a:link {
	color: rgb(0, 51, 102); text-decoration: underline;
}
a:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:focus {
	text-decoration: none;
}
h1 {
	color: rgb(51, 51, 51); font-weight: bold; display: block;
}
h2 {
	color: rgb(51, 51, 51); font-weight: bold; display: block;
}
h3 {
	color: rgb(51, 51, 51); font-weight: bold; display: block;
}
h4 {
	color: rgb(51, 51, 51); font-weight: bold; display: block;
}
h5 {
	color: rgb(51, 51, 51); font-weight: bold; display: block;
}
h6 {
	color: rgb(51, 51, 51); font-weight: bold; display: block;
}
.skin-top-row {
	padding-bottom: 15px;
}
.skin-blue-pane {
	padding-bottom: 99999px; margin-bottom: -99999px; background-color: rgb(232, 233, 240);
}
.skin-blue-pane-inner {
	padding: 10px 0px;
}
.skin-special-pane {
	margin: 0px; padding: 0px;
}
.skin-special-row {
	width: 100%; display: inline-block;
}
.skin-header-background {
	background: none;
}
.skin-logo {
	padding: 6px 0px; float: left;
}
@media all and (max-width:767px)
{
.skin-logo {
	height: 49px;
}
.skin-logo img {
	max-height: 38px;
}
}
@media all and (min-width:767px)
{
.skin-title {
	display: none;
}
}
@media all and (max-width:767px)
{
.skin-title {
	display: none;
}
}
.skin-title a {
	text-decoration: none;
}
.skin-title a:hover {
	text-decoration: none;
}
.skin-title .title-text {
	color: rgb(51, 93, 139); font-family: "Times New Roman", Times, serif; font-size: 32px;
}
.skin-title .withsub {
	line-height: 32px;
}
.skin-title .title-text .title-text-small {
	font-size: 22px;
}
.skin-title .subtitle-text {
	color: rgb(51, 153, 204); line-height: 20px; font-family: "Times New Roman", Times, serif; font-size: 20px; display: block;
}
.skin-search {
	float: right;
}
.skin-search-input {
	margin: 0px; padding: 6px 12px; border-radius: 4px; border: 2px solid rgb(219, 225, 231); border-image: none; width: 170px; height: 34px; font-size: 0.9em;
}
.skin-search a {
	color: rgb(93, 87, 53);
}
.skin-search a:visited {
	color: rgb(93, 87, 53);
}
.skin-search a:link {
	color: rgb(93, 87, 53);
}
.skin-search a:hover {
	color: rgb(128, 119, 73);
}
.mobile-search {
	padding-top: 14px; padding-right: 10px;
}
.mobile-search .search-icon.open::before {
	padding: 10px; content: "\f00d";
}
.mobile-search .search-icon.closed::before {
	padding: 10px; content: "\f002";
}
.mobile-search-popup {
	background: linear-gradient(rgb(128, 119, 73) 0%, rgb(93, 87, 53) 99%); padding: 15px 20px; border-radius: 5px; border: 1px ridge rgb(41, 40, 35); border-image: none; right: 20px; display: none; position: absolute; z-index: 100;
}
.desktop-search {
	padding-top: 38px; padding-right: 20px; float: right;
}
@media all and (max-width:767px)
{
.desktop-search {
	padding-top: 13px; padding-right: 20px; float: right;
}
}
.visuallyhidden {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.skin-footer-background {
	background: none;
}
.skin-social .social-item {
	width: 32px; text-align: center; float: left;
}
.skin-social h3 {
	left: 5px; color: rgb(122, 122, 122); text-transform: uppercase; font-family: "Times New Roman",Times,serif; font-size: 1.6em; font-weight: normal; display: block; position: relative;
}
.skin-social {
	top: 1px; right: 0px; display: inline-block; position: absolute;
}
#footer .skin-social {
	width: 100%; text-align: center; position: relative;
}
#footer .skin-social .social-item {
	float: none; display: inline-block;
}
.social-item span {
	background: rgb(130, 118, 70); border-radius: 15px; transition:0.2s ease-in-out; width: 25px; height: 25px; text-align: center; color: rgb(255, 255, 255); padding-top: 12%; font-size: 1.1em; margin-top: 6px;
}
.skin-site-links {
	line-height: 1.8em; font-size: 0.8em; display: inline-block;
}
.skin-site-links ul {
	padding: 20px 20px 0px 0px; float: left;
}
.skin-site-links li {
	list-style-type: none;
}
.skin-site-links a {
	color: rgb(64, 64, 64);
}
.skin-site-links a:link {
	color: rgb(64, 64, 64);
}
.skin-site-links a:visited {
	color: rgb(64, 64, 64);
}
.skin-site-links a:hover {
	color: rgb(0, 0, 0);
}
.skin-login {
	width: 100% !important; color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(85, 85, 85);
}
.skin-login.fail {
	background-color: rgb(153, 0, 0);
}
.skin-login-inner {
	margin: 0px auto; padding-top: 5px; max-width: 1100px;
}
.skin-login a {
	font-size: 12px;
}
.skin-login a:hover {
	color: rgb(0, 255, 0); text-decoration: none;
}
.skin-login .skin-last-login {
	padding-top: 4px;
}
.skin-login .registerGroup {
	display: block;
}
.skin-login .registerGroup * {
	display: block;
}
.skin-login .loginGroup {
	display: block;
}
.skin-login .loginGroup * {
	display: block;
}
.skin-login .registerGroup {
	margin: 0px; padding: 0px; float: right;
}
.skin-login .loginGroup {
	margin: 0px; padding: 0px; float: right;
}
.skin-login .registerGroup {
	border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid;
}
.skin-login .registerGroup li {
	float: left;
}
.skin-login .registerGroup .buttonGroup {
	margin-right: 0px;
}
.skin-login .registerGroup a {
	padding: 5px 15px 0px; height: 25px; vertical-align: middle; display: block; position: relative; min-width: 12px;
}
.skin-login .loginGroup a {
	padding: 5px 15px 0px; height: 25px; vertical-align: middle; display: block; position: relative; min-width: 12px;
}
.skin-login .registerGroup .userNotifications a {
	color: rgb(85, 85, 85);
}
.skin-login .registerGroup .userMessages a {
	color: rgb(85, 85, 85);
}
.skin-login.fail .registerGroup .userNotifications a {
	color: rgb(153, 0, 0);
}
.skin-login.fail .registerGroup .userMessages a {
	color: rgb(153, 0, 0);
}
.skin-login .registerGroup a:hover {
	color: rgb(85, 85, 85);
}
.skin-login .loginGroup a:hover {
	color: rgb(85, 85, 85);
}
.skin-login .registerGroup a:active {
	color: rgb(85, 85, 85);
}
.skin-login .loginGroup a:active {
	color: rgb(85, 85, 85);
}
.skin-login .registerGroup a strong {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; display: block; position: absolute;
}
.skin-login .loginGroup a strong {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; display: block; position: absolute;
}
.skin-login .userMessages strong:hover::after {
	color: rgb(136, 136, 136);
}
.skin-login .userMessages strong::after {
	left: 4px; top: 0px; text-align: center; color: rgb(255, 255, 255); font-family: FontAwesome; font-size: 18px; position: absolute; content: "?";
}
.skin-login .userNotifications {
	border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid;
}
.skin-login .userNotifications strong:hover::after {
	color: rgb(136, 136, 136);
}
.skin-login .userNotifications strong::after {
	left: 4px; top: 0px; text-align: center; color: rgb(255, 255, 255); font-family: FontAwesome; font-size: 18px; position: absolute; content: "?";
}
.skin-login .userMessages a span {
	padding: 1px 2px; border-radius: 3px; top: -9px; right: 2px; color: rgb(255, 255, 255); font-size: 10px; font-weight: bold; margin-top: 9px; display: inline-block; position: absolute; z-index: 100; min-width: 7px; background-color: rgb(170, 0, 0);
}
.skin-login .userNotifications a span {
	padding: 1px 2px; border-radius: 3px; top: -9px; right: 2px; color: rgb(255, 255, 255); font-size: 10px; font-weight: bold; margin-top: 9px; display: inline-block; position: absolute; z-index: 100; min-width: 7px; background-color: rgb(170, 0, 0);
}
.skin-login .userDisplayName a {
	color: rgb(255, 255, 255);
}
.skin-login .loginGroup a {
	color: rgb(255, 255, 255);
}
.skin-login .userDisplayName a:hover {
	color: rgb(136, 136, 136);
}
.skin-login .loginGroup a:hover {
	color: rgb(136, 136, 136);
}
.skin-nav-toggle {
	padding: 6px 8px; color: rgb(255, 255, 255); background-color: rgb(54, 51, 44);
}
.otnav {
	background: linear-gradient(rgb(128, 120, 73) 46%, rgb(91, 82, 30) 100%); color: rgb(255, 255, 255);
}
.nav-main {
	width: 100%;
}
.nav-main .hover {
	display: inline-table;
}
.dropdown-menu > .active > a {
	color: white; background-color: transparent;
}
.dropdown-menu > .active > a:focus {
	color: white; background-color: transparent;
}
.dropdown-menu > .active > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(121, 116, 80);
}
.dropdown-menu.hang-left {
	left: auto; right: 0px;
}
.dropdown-menu.hang-left-sub {
	left: auto; right: 100%;
}
@media all and (max-width:767px)
{
.dropdown-menu.hang-left-sub {
	right: auto;
}
}
.otnav li {
	float: left; position: relative;
}
.otnav li a span {
	color: rgb(231, 228, 215); padding-left: 5px; margin-top: -2px;
}
.otnav li li a span {
	color: rgb(231, 228, 215); padding-left: 5px; margin-top: 0px;
}
.otnav li a {
	background: url("Resources/img/submenu.gif") no-repeat right top; color: rgb(255, 255, 255); line-height: 1.4em; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none;
}
.otnav li li a {
	background: none; color: white; text-transform: none; font-weight: normal; text-decoration: none;
}
.otnav li li {
	float: none;
}
.otnav li a:focus {
	color: rgb(51, 51, 51); background-color: transparent;
}
.otnav ul li a:hover {
	color: rgb(51, 51, 51); background-color: transparent;
}
.otnav ul li:hover {
	color: rgb(51, 51, 51); background-color: transparent;
}
.otnav ul li:active {
	color: rgb(51, 51, 51); background-color: transparent;
}
li.dropdownactive {
	color: rgb(51, 51, 51); background-color: transparent;
}
li.parent {
	color: rgb(51, 51, 51); background-color: transparent;
}
.otnav ul ul {
	margin: 0px; padding: 5px; border: 0px currentColor; border-image: none; border-top-left-radius: 0px; border-top-right-radius: 0px; background-color: rgb(91, 82, 30);
}
.otnav ul ul li a {
	margin: 0px 3px; padding: 8px 30px 8px 5px;
}
.otnav ul ul ul {
	margin: -5px 0px 0px; left: 100%; top: 0px;
}
.otnav ul ul li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(121, 116, 80);
}
.otnav ul ul li a span {
	right: 10px; position: absolute;
}
.otnav ul ul li:hover {
	color: rgb(255, 255, 255); background-color: rgb(121, 116, 80);
}
@media all and (max-width:1200px)
{
.otnav li a {
	padding: 10px 9px;
}
}
@media all and (max-width:992px)
{
.otnav li a {
	padding: 10px 5px; font-size: 10px;
}
.nav-main {
	margin-left: 0px;
}
}
@media all and (max-width:767px)
{
.otnav {
	background: rgb(46, 44, 38);
}
.otnav li a {
	color: rgb(255, 255, 255); font-size: 13px;
}
.otnav li {
	clear: both; border-bottom-color: rgb(38, 37, 33); border-bottom-width: 1px; border-bottom-style: solid; float: none;
}
.otnav li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.otnav ul li:hover > ul {
	display: none;
}
.otnav ul {
	margin: 0px; padding: 20px;
}
.otnav ul ul {
	padding: 0px; clear: both; margin-left: 20px; float: none; position: relative; background-color: transparent;
}
.otnav ul ul ul {
	left: 0px; top: 0px; margin-left: 20px; background-color: transparent;
}
.otnav a span {
	padding: 15px; top: 0px; right: 0px; font-size: 24px; margin-top: -8px; position: absolute; z-index: 1001;
}
.otnav ul li li a span {
	padding: 15px; top: 0px; right: 0px; font-size: 24px; margin-top: -8px; position: absolute; z-index: 1001;
}
.otnav ul li li li a span {
	padding: 15px; top: 0px; right: 0px; font-size: 24px; margin-top: -8px; position: absolute; z-index: 1001;
}
.otnav li a span {
	padding: 15px; top: 0px; right: 0px; font-size: 24px; margin-top: -8px; position: absolute; z-index: 1001;
}
.container > .navbar-collapse {
	margin: 0px;
}
.dropdown-menu {
	padding: 0px; box-shadow: none; -webkit-box-shadow: none;
}
.nav > li > a:hover {
	background-color: transparent;
}
.nav > li > a:focus {
	background-color: transparent;
}
.otnav ul ul li:hover a {
	background-color: transparent;
}
.otnav ul ul li:hover {
	background-color: transparent;
}
.otnav ul li:hover > a {
	color: rgb(255, 255, 255);
}
.dropdown-menu > li > a:hover {
	color: rgb(255, 255, 255);
}
.dropdown-menu > li > a:focus {
	color: rgb(255, 255, 255);
}
.dropdown-menu > .active > a {
	color: rgb(255, 255, 255); background-color: rgb(121, 116, 80);
}
.dropdown-menu > .active > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(121, 116, 80);
}
.dropdown-menu > .active > a:focus {
	color: rgb(255, 255, 255); background-color: rgb(121, 116, 80);
}
}
.topnav {
	background: linear-gradient(rgb(74, 74, 74) 0%, rgb(0, 0, 0) 100%);
}
@media all and (max-width:767px)
{
.topnav {
	display: none;
}
}
#topnav {
	margin: 0px; padding: 0px; height: 41px;
}
#topnav li {
	margin: 0px; float: left; list-style-type: none; position: relative;
}
#topnav li a {
	margin: 0px; padding: 0px 14px 0px 16px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 41px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; display: block; text-shadow: 1px 1px 1px #000000;
}
#topnav li a:hover {
	color: rgb(175, 161, 100);
}
#topnav li.current a {
	background: linear-gradient(rgb(91, 82, 30) 0%, rgb(122, 114, 66) 54%);
}
#topnav li.current a {
	
}
.skin-breadcrumb-container {
	margin: 5px 0px 5px 15px;
}
a.skin-breadcrumb {
	color: rgb(124, 122, 123); text-transform: uppercase; font-size: 12px; font-weight: bold; text-decoration: none;
}
a.skin-breadcrumb:link {
	color: rgb(124, 122, 123); text-transform: uppercase; font-size: 12px; font-weight: bold; text-decoration: none;
}
a.skin-breadcrumb:hover {
	color: rgb(124, 122, 123); text-transform: uppercase; font-size: 12px; font-weight: bold; text-decoration: none;
}
a.skin-breadcrumb:visited {
	color: rgb(124, 122, 123); text-transform: uppercase; font-size: 12px; font-weight: bold; text-decoration: none;
}
.skin-breadcrumb-separator {
	padding: 0px 6px; color: rgb(124, 122, 123);
}
a.skin-breadcrumb:hover {
	color: rgb(124, 122, 123);
}
.skin-addpad {
	display: block; background-color: rgb(255, 255, 255);
}
.TopPane {
	background: url("Resources/img/toppane.jpg") repeat-x 0px 0px rgb(255, 255, 255); width: 100%; min-height: 133px;
}
.shade-pane {
	background: url("Resources/img/panebg.gif") 0px 0px rgb(245, 243, 236);
}
.shade-pane-content {
	background-color: rgb(255, 255, 255);
}
.shade-pane-right {
	margin-top: 15px;
}
@media all and (max-width:767px)
{
.skin-addpad {
	padding-right: 15px; padding-left: 15px;
}
}
#footer {
	background: url("resources/img/footer.gif") repeat-x 0px 0px rgb(4, 4, 4) !important; padding: 20px 0px; color: rgb(78, 78, 78); min-height: 200px;
}
#dnnfooterbox {
	margin-right: auto; margin-left: auto;
}
#dnnfooterbox .siteinfo {
	padding-left: 16px; display: inline-block; -ms-overflow-x: hidden;
}
#dnnfooterbox .smalllogo {
	padding-top: 10px; padding-right: 19px; padding-left: 19px; display: inline-block;
}
#dnnfooterbox .line {
	border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(92, 93, 88); border-image: none; height: 12px; overflow: hidden; margin-bottom: 6px;
}
#dnnfooterbox .links {
	color: rgb(136, 136, 136); padding-left: 16px;
}
#dnnfooterbox .links a {
	color: rgb(136, 136, 136); text-transform: uppercase; font-size: 10px; font-weight: bold; text-decoration: none; text-shadow: 1px 1px 1px #000000;
}
#dnnfooterbox .links span.spacer {
	padding: 0px 3px 0px 5px; font-size: 9px;
}
@media all and (min-width:360px)
{
.siteinfo {
	width: 250px;
}
.largelogo {
	width: 230px; height: auto;
}
}
@media all and (min-width:608px)
{
.siteinfo {
	width: 500px;
}
.largelogo {
	width: 360px; height: 30px;
}
}
@media all and (min-width:768px)
{
#dnnfooterbox {
	width: 750px;
}
.siteinfo {
	width: 600px;
}
}
@media all and (min-width:992px)
{
#dnnfooterbox {
	width: 970px;
}
.siteinfo {
	width: 800px;
}
}
@media all and (min-width:1200px)
{
#dnnfooterbox {
	width: 1200px;
}
.siteinfo {
	width: 940px;
}
}
.clr {
	clear: both;
}
#Copyright {
	background: url("resources/img/smalllogo.png") no-repeat left; margin: 0px 19px; padding: 6px 0px; font-family: Myriad Web Pro, Trebuchet MS;
}
#Copyright a {
	padding: 0px 2px; color: rgb(78, 78, 78); font-size: 12px; font-weight: normal; text-decoration: none;
}
#Copyright .fleft {
	padding-left: 31px;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
