#skip-link-holder a {
	left: 0px; top: -30px; width: 99%; display: block; position: fixed; z-index: 10001; max-height: 30px;
}
#skip-link-holder a:link {
	left: 0px; top: -30px; width: 99%; display: block; position: fixed; z-index: 10001; max-height: 30px;
}
#skip-link-holder a:visited {
	left: 0px; top: -30px; width: 99%; display: block; position: fixed; z-index: 10001; max-height: 30px;
}
#skip-link-holder a:focus {
	left: 0px; top: 0px; z-index: 10000;
}
#skip-link-holder a:active {
	left: 0px; top: 0px; z-index: 10000;
}
#skip-target-holder {
	left: 0px; top: -30px; position: absolute;
}
#skip-link-holder a {
	background: rgb(51, 51, 102); padding: 5px; color: rgb(255, 255, 255); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid;
}
#skip-link-holder a:link {
	background: rgb(51, 51, 102); padding: 5px; color: rgb(255, 255, 255); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid;
}
#skip-link-holder a:visited {
	background: rgb(51, 51, 102); padding: 5px; color: rgb(255, 255, 255); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid;
}
