.afilter .btn-grey {
	border-color: rgb(51, 51, 51); color: rgb(255, 255, 255); background-color: rgb(68, 68, 68);
}
.afilter .btn-grey:hover {
	border-color: rgb(68, 68, 68); color: rgb(255, 255, 255); background-color: rgb(85, 85, 85);
}
.alist-pager {
	margin: 5px 8px 5px 0px;
}
.alist-pager .pagination {
	margin: 0px; float: left;
}
.alist-pager li {
	display: inline-block;
}
.alist-pager .pagination a {
	color: rgb(0, 0, 0);
}
.alist-pager .pagination .active a {
	color: rgb(255, 255, 255); background-color: rgb(68, 68, 68);
}
.alist-pager .pagination .active a:link {
	color: rgb(255, 255, 255);
}
.alist-pager .pagination .active a:visited {
	color: rgb(255, 255, 255);
}
.alist-pager .pagination .active a:hover {
	color: rgb(255, 255, 255);
}
.alist .task-bar {
	padding-bottom: 50px; float: right;
}
.adetail .task-bar .addthis_toolbox a {
	margin-bottom: 0px;
}
.alist {
	
}
.alist .item {
	width: 100%; margin-bottom: 20px; display: inline-block;
}
.alist .atitle {
	line-height: 1.3em; font-family: "Helvetica Neue Bold", "Helvetica Neue", Helvetica, "Arial Bold", Arial, sans-serif; font-size: 18px; font-weight: bold; display: block;
}
.alist .link {
	text-decoration: none;
}
.alist .more-link {
	padding-left: 5px; font-weight: bold;
}
.alist .more-link:hover {
	padding-left: 5px; font-weight: bold;
}
.alist .more-link:link {
	padding-left: 5px; font-weight: bold;
}
.alist .more-link:visited {
	padding-left: 5px; font-weight: bold;
}
.adetail .tag {
	padding-right: 10px; float: left;
}
.adetail .tags {
	padding-top: 20px; clear: both;
}
.adetail {
	padding-bottom: 20px;
}
.adetail .atitle {
	line-height: 1.3em; padding-bottom: 10px; font-size: 20px; font-weight: bold; display: block;
}
.adetail .task-bar {
	background: url("header.png") repeat-x left top; height: 25px; margin-bottom: 8px;
}
.adetail .task-item {
	margin: 3px 15px 2px 0px; padding: 2px 10px 0px; height: 20px; font-size: 0.8em; float: right; background-color: rgb(255, 255, 255);
}
.adetail .task-item a {
	text-decoration: none;
}
.adetail .body {
	line-height: 150%; margin-bottom: 15px; position: relative;
}
.adetail .body-wrapper {
	margin-bottom: 15px; position: relative;
}
@media all and (max-width:767px), print
{
.adetail .body {
	font-size: 120%; display: table-header-group;
}
}
.adetail .gallery {
	background: rgb(232, 232, 232); width: 100%; clear: both; margin-bottom: 32px; display: inline-block; position: relative;
}
.adetail .gallery .item {
	
}
.adetail .gallery .item .media-title {
	padding: 0px 15px; color: rgb(89, 88, 83); font-weight: bold; margin-top: 2px;
}
.adetail .gallery .item .media-caption {
	padding: 0px 15px; color: rgb(89, 88, 83); margin-bottom: 15px;
}
.adetail .gallery .item .image {
	text-align: center; background-color: rgb(0, 0, 0);
}
.adetail .gallery .item .media-info-bar {
	background: rgb(54, 52, 53); height: 30px; color: rgb(230, 227, 215); padding-top: 4px;
}
.adetail .gallery .item .media-info-bar .link {
	color: rgb(230, 227, 215); text-transform: uppercase; text-decoration: none; margin-right: 30px; float: right;
}
.adetail .gallery .item .media-info-bar .counter {
	color: rgb(153, 153, 153); padding-left: 15px; display: inline-block;
}
.adetail .gallery .pager-left {
	background: url("gallery-left.png") no-repeat left; left: 0px; width: 46px; height: 394px; position: absolute; z-index: 20; cursor: pointer; opacity: 0.6;
}
.adetail .gallery .pager-right {
	background: url("gallery-right.png") no-repeat right; width: 46px; height: 394px; right: 0px; position: absolute; z-index: 20; cursor: pointer; opacity: 0.6;
}
.adetail .gallery .aimage {
	display: inline-block; max-height: 500px;
}
.adetail .gallery .share {
	padding: 9px 0px 9px 5px; border: 3px solid rgb(54, 52, 53); border-image: none; width: 220px; text-align: center; display: block; position: relative; z-index: 200; background-color: rgb(232, 232, 232);
}
#dam {
	height: 480px; overflow: hidden;
}
@media all and (max-width:767px), print
{
.adetail .gallery .item .media-info-bar .link {
	font-size: 13px; margin-top: 3px; margin-right: 10px;
}
}
.adetail .gallery.print {
	
}
.adetail .gallery.print #dam {
	
}
.adetail .gallery.print .item .image {
	
}
.adetail .dateline {
	padding-right: 5px; font-weight: bold; float: left;
}
.adetail .contacts {
	margin: 20px 0px; clear: both;
}
.adetail .contacts .contact {
	color: rgb(53, 51, 44); padding-left: 24px; margin-left: 20px; border-left-color: rgb(153, 0, 0); border-left-width: 3px; border-left-style: solid;
}
.adetail .side-bar {
	width: 335px; padding-left: 20px; float: right; position: relative; z-index: 1;
}
.adetail .related {
	padding: 0px 0px 15px; position: relative;
}
.adetail .related-item {
	padding: 5px 15px; display: block;
}
.adetail .related-item .text a {
	text-decoration: none;
}
.adetail .related-item .text a:hover {
	text-decoration: none;
}
.adetail .related-item .text a:link {
	text-decoration: none;
}
.adetail .related-item .text a:visited {
	text-decoration: none;
}
.adetail .related-item img {
	max-width: 250px;
}
.adetail .related hr {
	margin: 5px 0px; padding: 0px; height: 1px; border-bottom-color: rgb(136, 136, 136); border-bottom-width: 1px; border-bottom-style: solid;
}
@media all and (max-width:767px), print
{
.adetail .related {
	font-size: 120%;
}
}
@media all and (max-width:767px), print
{
.adetail .side-bar {
	padding: 0px; width: 100%; margin-top: 10px; float: none; display: table-footer-group;
}
}
.alist-bio {
	background: url("bioback.png") no-repeat left top; display: inline-block;
}
.alist-bio .image {
	display: inline-block;
}
.alist-bio .item {
	padding: 10px 10px 20px; width: 33.3%; height: 330px; text-align: center; float: left;
}
.alist-bio .rss {
	width: 100%; text-align: right; z-index: 999;
}
.alist-bio .rss a {
	color: rgb(242, 132, 34);
}
.alist-bio .more-link {
	font-weight: bold;
}
.alist-bio .more-link:hover {
	font-weight: bold;
}
.alist-bio .more-link:link {
	font-weight: bold;
}
.alist-bio .more-link:visited {
	font-weight: bold;
}
.alist-bio .link {
	text-decoration: none;
}
@media all and (max-width:1200px)
{
.alist-bio .item {
	height: 340px;
}
}
@media all and (max-width:767px)
{
.alist-bio .item {
	width: 50%; height: 310px;
}
}
@media all and (max-width:480px)
{
.alist-bio .item {
	width: 50%; height: 340px;
}
}
.adetail-bio .atitle {
	font-size: 36px;
}
.adetail-bio .sub-title {
	width: 100%; font-size: 22px; font-weight: bold; display: inline-block;
}
.adetail-bio .gallery-bio .inner {
	width: 100%; background-color: rgb(234, 233, 228);
}
.adetail-bio .gallery-bio {
	width: 100%; text-align: center; margin-bottom: 20px; display: inline-block;
}
.adetail-bio .gallery-bio .media-info-bar {
	background: rgb(54, 52, 53); height: 30px; color: rgb(230, 227, 215); padding-top: 4px;
}
.adetail-bio .gallery-bio .media-info-bar .link {
	color: rgb(230, 227, 215); text-transform: uppercase; text-decoration: none; float: right;
}
.adetail-bio .gallery-bio img {
	padding: 20px;
}
.adash .item {
	width: 100%; margin-bottom: 20px; display: inline-block;
}
.adash .news-link {
	text-decoration: none;
}
.adash .news-link:hover {
	text-decoration: none;
}
.adash .news-link:link {
	text-decoration: none;
}
.adash .news-link:visited {
	text-decoration: none;
}
.adash .more-link {
	padding-left: 5px; font-weight: bold; position: relative;
}
.adash .more-link:hover {
	padding-left: 5px; font-weight: bold; position: relative;
}
.adash .more-link:link {
	padding-left: 5px; font-weight: bold; position: relative;
}
.adash .more-link:visited {
	padding-left: 5px; font-weight: bold; position: relative;
}
.adash .rss {
	padding: 10px; width: 100%; text-align: right; z-index: 999;
}
.adash .rss a {
	color: rgb(242, 132, 34);
}
.adash .more {
	padding: 10px; width: 100%; text-align: right; z-index: 999;
}
.adash hr {
	margin: 5px 0px; padding: 0px; height: 1px; border-bottom-color: rgb(136, 136, 136); border-bottom-width: 1px; border-bottom-style: solid;
}
.adash-2col .poster {
	float: left;
}
.adash-2col .body {
	margin-left: 130px;
}
.adash-2col .atitle {
	padding-top: 0px; font-family: "Helvetica Neue Bold", "Helvetica Neue", Helvetica, "Arial Bold", Arial, sans-serif; font-size: 18px; font-weight: bold;
}
.adash-2col .sub-title {
	width: 100%; display: inline-block;
}
.adash-list .text {
	padding-left: 15px;
}
.adash-list .item {
	margin: 0px; padding: 0px 15px;
}
.adash-list .bullet {
	float: left;
}
.adash-list .bullet span {
	color: rgb(153, 0, 0); font-weight: bold;
}
.adash-archive .item {
	margin: 0px; padding-left: 15px;
}
.adash-archive .text {
	padding-left: 15px;
}
.adash-archive .bullet {
	float: left;
}
.adash-archive .bullet span {
	color: rgb(153, 0, 0); font-weight: bold;
}
.adash-archive .child {
	padding-left: 30px;
}
.adash-bio {
	display: inline-block; background-color: rgb(234, 234, 228);
}
.adash-bio-left {
	background: url("bioback-left.png") no-repeat right; padding: 10px 165px 0px 5px; display: inline-block;
}
.adash-bio-right {
	background: url("bioback.png") no-repeat left; padding: 10px 5px 0px 165px; float: right; display: inline-block;
}
.adash-bio-right .item {
	float: left;
}
.adash-bio-left .item {
	float: left;
}
.adash-bio .item {
	width: 33%; height: 400px; text-align: center; padding-right: 5px; padding-left: 5px; margin-bottom: 10px; display: inline-block;
}
.adash-bio .dimg {
	margin: 0px auto;
}
.adash-bio .more {
	font-weight: bold;
}
.adash-bio-right :first-child:nth-last-child(1).item {
	width: 100%;
}
.adash-bio-right :first-child:nth-last-child(2).item {
	width: 50%;
}
.adash-bio-right :first-child:nth-last-child(2).item ~ .item {
	width: 50%;
}
@media all and (max-width:767px)
{
.adash-bio .item {
	width: 50%;
}
}
@media all and (max-width:480px)
{
.adash-bio-right {
	padding-left: 0px; background-image: none;
}
.adash-bio-left {
	padding-right: 0px; background-image: none;
}
.adash-bio .item {
	width: 50%;
}
}
.adash-ribbon {
	display: inline-block; background-color: rgb(234, 234, 228);
}
.adash-ribbon .item {
	padding: 5px; text-align: center; margin-bottom: 10px; display: inline-block;
}
.adash-ribbon .item a {
	display: inline-block;
}
.adash-ribbon .dimg {
	margin: 0px auto;
}
.adash-ribbon .more {
	font-weight: bold;
}
