#playerModuleContainer {
	background: rgb(214, 211, 195); overflow: hidden; position: relative;
}
#playerModuleContainer #playerHeader {
	background: url("/desktopmodules/DVIDSVideoPlayer/Templates/MarinesSideBar/images/header_background.png") repeat-x; height: 39px; position: relative;
}
#playerModuleContainer #playerHeader #marinesTvIcon {
	margin: 0px 7px 0px 11px; float: left; display: block;
}
#playerModuleContainer #playerHeader #marinesTvText {
	color: rgb(231, 228, 215); text-transform: uppercase; line-height: 39px; font-weight: bold; float: left;
}
#playerModuleContainer #playerHeader a#watchMoreLink {
	color: rgb(231, 228, 215) !important; line-height: 39px; font-size: 10px; font-weight: bold; margin-right: 9px; float: right; display: block;
}
a#watchMoreLink:hover {
	color: rgb(231, 228, 215) !important; line-height: 39px; font-size: 10px; font-weight: bold; margin-right: 9px; float: right; display: block;
}
a#watchMoreLink:visited {
	color: rgb(231, 228, 215) !important; line-height: 39px; font-size: 10px; font-weight: bold; margin-right: 9px; float: right; display: block;
}
a#watchMoreLink:active {
	color: rgb(231, 228, 215) !important; line-height: 39px; font-size: 10px; font-weight: bold; margin-right: 9px; float: right; display: block;
}
.DVIDSMSBCarouselWrapper {
	margin: 0px 10px 10px; overflow: hidden;
}
.DVIDSMSBCarousel {
	width: 100%;
}
.SideBar .rsOverflow {
	height: 100% !important;
}
.DVIDSMSBCarouselItem {
	padding: 0px 3px; width: 20%; line-height: normal; overflow: hidden; font-size: 12px; float: left; display: block;
}
.DVIDSMSBCarouselAnchor {
	color: rgb(0, 0, 0) !important; text-decoration: none !important;
}
.DVIDSMSBCarouselImgWrapper {
	padding: 56.25% 0px 0px; height: 0px; overflow: hidden; display: block; position: relative;
}
.DVIDSMSBCarouselImgWrapper img {
	margin: auto; left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute; max-height: 100%; max-width: 100%;
}
.DVIDSMSBVideoMainTitle {
	margin: 0px 10px; color: rgb(85, 85, 85); font-size: 13px; font-weight: bold;
}
.DVIDSMSBVideoMainDescription {
	margin: 0px 10px; padding: 5px; overflow: auto; font-size: 12px;
}
.DVIDSMSBCarouselGroup {
	width: 100%;
}
.DVIDSMSBNowPlayingOverlay {
	width: 100%; height: 100%;
}
.DVIDSMSBNowPlaying {
	padding: 2px 0px; width: 100%; text-align: center; bottom: 0px; color: white; text-transform: uppercase; font-size: 10px; font-weight: bold; position: absolute; z-index: 100; background-color: rgb(148, 17, 34);
}
.DVIDSMSBOverlay {
	left: 0px; top: 30%; width: 100%; text-align: center; display: block; position: absolute; z-index: 100;
}
.DVIDSMSBOverlay .fa {
	padding: 5px; color: white; font-size: 10px; background-color: black;
}
.DVIDSMSBPager {
	margin: auto; width: 165px; height: 18px; position: relative;
}
.DVIDSMSBCarouselLeftPager {
	font-size: 20px; float: left; display: block; cursor: pointer;
}
.DVIDSMSBPagerText {
	width: 135px; text-align: center; line-height: 28px; float: left;
}
.DVIDSMSBCarouselRightPager {
	font-size: 20px; float: left; display: block; cursor: pointer;
}
#playerFooter {
	text-align: center; padding-bottom: 10px; margin-top: 10px;
}
