@media all and (max-width:470px), all and (max-device-width:470px)
{
.carousel-2 div.pagerContainer div.caption {
	display: none;
}
}
.carousel-2 {
	background: none; padding: 10px 20px; font-family: Arial,Helvetica,sans-serif; visibility: hidden; position: relative;
}
.carousel-2 .caroufredsel_wrapper {
	margin: 0px !important;
}
.carousel-2 ul {
	list-style: none; margin: 0px 20px; z-index: 1; min-height: 120px; min-width: 245px;
}
.carousel-2 div.slideContainer {
	margin: 0px auto 25px; width: 95%; overflow: hidden; padding-bottom: 5px; position: relative; min-height: 80px; min-width: 115px;
}
.carousel-2 li {
	float: left;
}
.carousel-2 li:first-child {
	
}
.carousel-2 li a {
	border: 1px solid rgb(128, 128, 128); border-image: none; height: 100%; margin-right: 10px; margin-left: 10px; display: block; position: relative;
}
.carousel-2 li a img {
	border: 1px solid rgb(128, 128, 128); border-image: none; height: 78px;
}
.carousel-2 li a img.imagedistortion {
	width: 135px !important; height: 101px !important;
}
.carousel-2 li a.selected {
	border-color: black; opacity: 1; -moz-opacity: 1.0; -khtml-opacity: 1.0;
}
.carousel-2 div.pagerContainer {
	background: rgb(195, 183, 159); margin: 15px 0px 0px; width: 100%; bottom: 0px;
}
.pagerContainer {
	display: table; table-layout: fixed; min-height: 30px;
}
.pagerColumn {
	vertical-align: middle; display: table-cell;
}
:first-child.pagerColumn {
	width: 64px; padding-left: 4px;
}
:last-child.pagerColumn {
	width: 72px; padding-right: 4px; vertical-align: bottom;
}
.carousel-2 div.slideContainer div.slide {
	width: 100%; height: 110px; overflow: hidden;
}
.carousel-2 div.slide ul {
	list-style: none; width: 90%; text-align: justify; font-size: 0.1px; margin-left: 5%;
}
.carousel-2 div.slide li {
	display: inline-block;
}
.carousel-2 div.slide ul::after {
	width: 100%; display: inline-block; content: "";
}
.carousel-2 div.slide a {
	display: block;
}
.carousel-2 div.slideContainer div.slide a.oneImage {
	border: 1px solid rgb(128, 128, 128); border-image: none; width: 170px; height: 110px; overflow: hidden; margin-left: 12px; float: left; position: relative; cursor: pointer; opacity: 0.7; -moz-opacity: 0.7; -khtml-opacity: 0.7;
}
.carousel-2 div.slideContainer div.slide a:first-child.oneImage {
	margin-left: 0px;
}
.carousel-2 div.slideContainer div.slide a.oneImage img {
	border: 1px solid rgb(128, 128, 128); border-image: none; left: 50%; top: 50%; margin-right: -50%; position: absolute; max-height: 110px; max-width: 170px; transform: translate(-50%, -50%);
}
.carousel-2 div.slideContainer div.slide a.selected {
	border-color: black; opacity: 1; -moz-opacity: 1.0; -khtml-opacity: 1.0;
}
.carousel-2 div.pagerContainer a.previousButton {
	background: url("../images/carouselSprite.png"); width: 22px; height: 22px; float: left; display: block;
}
.carousel-2 div.pagerContainer a.nextButton {
	background: url("../images/carouselSprite.png"); width: 22px; height: 22px; float: left; display: block;
}
.carousel-2 div.pagerContainer a.previousButton {
	background-position: 0px -72px;
}
.carousel-2 div.pagerContainer a.nextButton {
	background-position: -22px -72px; margin-left: 10px;
}
.carousel-2 div.pagerContainer div.moreButtonContainer a.moreButton {
	text-align: right; color: black; line-height: 23px; font-size: 10px; font-weight: bold; display: block; cursor: pointer; text-shadow: 0px 1px 1px white;
}
.carousel-2 div.pagerContainer span.ieFix {
	height: 22px; line-height: 22px;
}
.carousel-2 div.pagerContainer a.moreButton span {
	background: url("../images/carouselSprite.png") -44px 0px; top: 8px; width: 9px; height: 9px; right: 0px; display: block; position: absolute;
}
.carousel-2 div.pagerContainer div.caption {
	text-align: left; color: rgb(85, 85, 85); line-height: 15px; font-size: 10px;
}
.carousel-2-imagedistortion {
	left: 0px !important; top: 0px !important; width: 100%; height: 100%;
}
.carousel-2 .smallVideoOverlay {
	background: url("../images/dgovImageSprite.png") no-repeat 0px -37px; left: 50%; top: 50%; width: 14px; height: 14px; margin-top: -7px; margin-left: -7px; position: absolute; z-index: 2;
}
.carousel-2 .videoOverlay {
	background: url("../images/dgovImageSprite.png") no-repeat -44px 0px; left: 50%; top: 50%; width: 82px; height: 82px; margin-top: -41px; margin-left: -41px; position: absolute; z-index: 2;
}
.slideshow-with-thumbs.royalSlider {
	background: rgb(17, 17, 17); width: 100%; overflow: hidden;
}
.slideshow-with-thumbs.royalSlider .rsGCaption {
	padding: 10px 8px; transition:bottom 0.2s; bottom: -1000px;
}
.slideshow-with-thumbs.royalSlider:hover .rsGCaption {
	bottom: 76px;
}
.slideshow-with-thumbs.royalSlider .rsGCaption .slideTitle {
	font-weight: bold;
}
.slideshow-with-thumbs.royalSlider .rsLink {
	background: none; left: 0px; top: 0px; width: 100%; height: 100%; text-indent: -999em; display: block; position: absolute; z-index: 20; -webkit-backface-visibility: hidden;
}
@media all and (max-width:1199px), all and (max-device-width:1199px)
{
.slideshow-3 div.pagerContainer div.carousel a {
	margin: 3px 0px 0px 3px !important;
}
}
@media all and (max-width:991px), all and (max-device-width:991px)
{
.slideshow-3 div.pagerContainer div.carousel a {
	margin: 3px 0px 0px 6px !important;
}
}
@media all and (max-width:784px), all and (max-device-width:784px)
{
.slideshow-3 .slideContainer img {
	left: 50%; top: 50%; margin-right: -50%; position: absolute !important; max-height: 100%; max-width: 100%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
}
.slideshow-3 .slideContainer img.imagedistortion {
	left: 0px !important; top: 0px !important; width: 100%; height: 100%; margin-right: 0px !important; transform: none !important;
}
.slideshow-3 .slideContainer .slide > a {
	padding: 66.67% 0px 0px; height: 0px !important; display: block !important;
}
}
.slideshow-3 {
	background: black; border: 1px solid rgb(135, 135, 133); border-image: none; overflow: hidden; font-family: Arial,Helvetica,sans-serif; margin-bottom: 25px; visibility: hidden; position: relative;
}
.slideshow-3-pager-9 {
	
}
.slideshow-3.slideshow-3-pager-9 {
	height: 346px;
}
.slideshow-3-pager-8 {
	
}
.slideshow-3.slideshow-3-pager-8 {
	height: 346px;
}
.slideshow-3-pager-7 {
	
}
.slideshow-3.slideshow-3-pager-7 {
	height: 346px;
}
.slideshow-3-minimum {
	width: 100%; height: auto; overflow: visible; max-width: 100%;
}
.slideshow-3 .slideContainer {
	overflow: hidden; z-index: 1;
}
.slideshow-3-pager-9 .slideContainer {
	height: 346px;
}
.slideshow-3-pager-9 .slideContainer .slide {
	height: 346px;
}
.slideshow-3-pager-9 .slideContainer .slide > a {
	height: 346px !important;
}
.slideshow-3-pager-8 .slideContainer {
	height: 346px;
}
.slideshow-3-pager-8 .slideContainer .slide {
	height: 346px;
}
.slideshow-3-pager-8 .slideContainer .slide > a {
	height: 346px !important;
}
.slideshow-3-pager-7 .slideContainer {
	height: 346px;
}
.slideshow-3-pager-7 .slideContainer .slide {
	height: 346px;
}
.slideshow-3-pager-7 .slideContainer .slide > a {
	height: 346px !important;
}
.slideshow-3-minimum .slideContainer {
	width: 100%; height: auto;
}
.slideshow-3-minimum .slideContainer .slide {
	width: 100%; height: auto;
}
.slideshow-3-pager-9 .pagerContainer {
	
}
.slideshow-3-pager-8 .pagerContainer {
	
}
.slideshow-3-pager-7 .pagerContainer {
	
}
.slideshow-3-minimum .slideContainer .details {
	display: none;
}
.slideshow-3-minimum .slideContainer .pagerContainer {
	display: none;
}
.slideshow-3 div.slideContainer {
	width: 100%; margin-right: auto; margin-left: auto; border-bottom-color: rgb(109, 110, 104); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 201;
}
.slideshow-3 div.pagerContainer {
	left: 0px; width: 100%; height: 40px; bottom: 0px; position: absolute; z-index: 203; background-color: black;
}
.slideshow-3 a.prevImage {
	top: 35%; width: 43px; height: 61px; display: none; position: absolute; z-index: 202; background-image: url("../images/imageSprite.png");
}
.slideshow-3 a.nextImage {
	top: 35%; width: 43px; height: 61px; display: none; position: absolute; z-index: 202; background-image: url("../images/imageSprite.png");
}
.slideshow-3 a.prevImage {
	background-position: 0px -41px; left: 0px;
}
.slideshow-3 a.nextImage {
	background-position: -44px -41px; right: 0px;
}
.slideshow-3 div.slideContainer div.slide {
	width: 100%; overflow: hidden; margin-right: auto; margin-left: auto; position: relative;
}
.slideshow-3 div.slideContainer div.slide a {
	position: relative;
}
.slideshow-3 div.slideContainer div.slide a img {
	margin-right: auto; margin-left: auto; display: block; position: relative; max-height: 100%; max-width: 100%;
}
.slideshow-3 div.slideContainer div.slide div.details {
	background: black; padding: 5px; top: 307px; width: 80%; height: 120px; color: white; overflow: auto; font-family: Helvetica, Arial, Sans-Serif; margin-right: 10%; margin-left: 10%; position: absolute; z-index: 202;
}
.slideshow-3 div.slideContainer div.slide div.details div.slideTitle {
	padding: 2px; color: white; font-size: 16px; font-weight: bold;
}
.slideshow-3 div.slideContainer div.slide div.details div.slideCaption {
	padding: 2px; font-size: 12px;
}
.slideshow-3 div.slideContainer div.slide div.details div.slideLinks {
	padding: 2px; text-align: center; color: rgb(85, 176, 255); font-size: 12px; font-weight: bold;
}
.slideshow-3 div.slideContainer div.slide div.details div.slideLinks a.link {
	color: rgb(85, 176, 255); text-decoration: none;
}
.slideshow-3 div.slideContainer div.slide div.details div.slideLinks a.link:hover {
	color: white;
}
.slideshow-3 div.pagerContainer a.prevCarousel {
	background: url("../images/imageSprite.png") 0px -103px black; left: 0px; width: 22px; height: 33px; bottom: 0px; display: block; position: absolute;
}
.slideshow-3 div.pagerContainer a.nextCarousel {
	background: url("../images/imageSprite.png") -23px -103px black; width: 22px; height: 33px; right: 25px; bottom: 0px; display: block; position: absolute;
}
.slideshow-3 div.pagerContainer div.carousel {
	background: black; left: 25px; top: 7px; width: 80%; height: 33px; overflow: hidden; position: absolute;
}
.slideshow-3 div.pagerContainer div.carousel div.groupMaster {
	left: 0px; top: 0px; position: absolute;
}
.slideshow-3 div.pagerContainer div.carousel div.group {
	width: 100%; height: 33px; float: left;
}
.slideshow-3 div.pagerContainer a.firstCarousel {
	width: 0px; height: 0px; line-height: 0px; display: block;
}
.slideshow-3 div.pagerContainer a.lastCarousel {
	width: 0px; height: 0px; line-height: 0px; display: block;
}
.slideshow-3 div.pagerContainer div.carousel a {
	margin: 3px 0px 0px 6px; border: 1px solid black; border-image: none; width: 31px; height: 25px; overflow: hidden; display: inline-block; position: relative;
}
.slideshow-3 div.pagerContainer div.carousel a.activeSlide {
	border: 2px solid white; border-image: none; margin-top: 1px !important;
}
.slideshow-3 div.pagerContainer div.carousel a img {
	margin-right: auto; margin-left: auto; display: block; max-width: 100%;
}
.slideshow-3-imagedistortion {
	left: 0px !important; top: 0px !important; width: 100%; height: 100%;
}
.slideshow-3 .smallVideoOverlay {
	background: url("../images/dgovImageSprite.png") no-repeat 0px -37px; left: 50%; top: 50%; width: 14px; height: 14px; margin-top: -7px; margin-left: -7px; position: absolute; z-index: 2;
}
.slideshow-3 .videoOverlay {
	background: url("../images/dgovImageSprite.png") no-repeat -44px 0px; width: 82px; height: 82px; margin-top: -219px; margin-left: 277px; position: absolute; z-index: 2;
}
@media all and (max-width:784px), all and (max-device-width:784px)
{
.top-rotator-2 .slideContainer img {
	left: 50% !important; top: 50% !important; margin-right: -50%; position: absolute !important; max-height: 100%; max-width: 100%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
}
.top-rotator-2 div.slideContainer div.slide div.leftSide img.imagedistortion {
	left: 0px !important; top: 0px !important; width: 100% !important; height: 100% !important; margin-right: 0px !important; transform: none !important;
}
.top-rotator-2 .slideContainer .slide .leftSide > a {
	padding: 66.67% 0px 0px; height: 0px !important; display: block !important;
}
.top-rotator-2 div.slideContainer div.slide div.leftSide {
	left: 0px !important; top: 0px !important; width: 100% !important; position: relative !important; min-width: inherit !important;
}
.top-rotator-2 div.slideContainer div.slide div.rightSide {
	display: none !important;
}
.top-rotator-2 div.slideContainer {
	height: auto !important; min-height: inherit !important;
}
}
.top-rotator-2 div.slideContainer div.slide div.leftSide img {
	margin-right: auto; margin-left: auto; display: block; position: relative;
}
.top-rotator-2 div.slideContainer div.slide div.leftSide img.imagedistortion {
	top: 0px !important; width: 400px; height: 245px;
}
.top-rotator-2 a.prevImage {
	top: 35%; width: 43px; height: 61px; position: absolute; z-index: 202; background-image: url("../images/imageSprite.png");
}
.top-rotator-2 a.nextImage {
	top: 35%; width: 43px; height: 61px; position: absolute; z-index: 202; background-image: url("../images/imageSprite.png");
}
.top-rotator-2 a.prevImage {
	background-position: 0px -41px; left: 0px;
}
.top-rotator-2 a.nextImage {
	background-position: -44px -41px; right: 0px;
}
.top-rotator-2 {
	background: rgb(54, 51, 44); border: 1px solid rgb(207, 204, 197); border-image: none; color: rgb(246, 243, 236); overflow: hidden; font-family: Arial,Helvetica,sans-serif; margin-bottom: 25px; visibility: hidden; position: relative; z-index: 200;
}
.top-rotator-2-pager-9 {
	
}
.top-rotator-2-minimum {
	width: 100%; visibility: hidden;
}
.top-rotator-2 div.slideContainer {
	width: 100%; position: relative; z-index: 201; min-height: 302px;
}
.top-rotator-2 div.pagerContainer {
	width: 100%; height: 18px; text-align: right; right: 15px; bottom: 15px; position: absolute; z-index: 202;
}
.top-rotator-2 div.slideContainer div.slide {
	width: 100%; height: 100%; position: relative;
}
.top-rotator-2 div.slideContainer div.slide div.creator {
	left: 15px; bottom: 1px; color: rgb(207, 204, 197); position: absolute;
}
.top-rotator-2 div.slideContainer div.slide div.leftSide {
	left: 15px; top: 15px; width: 62%; height: 245px; overflow: hidden; position: absolute;
}
.top-rotator-2 div.slideContainer div.slide div.rightSide {
	top: 0px; width: 35%; height: 260px; right: 0px; margin-right: 5px; position: absolute;
}
.top-rotator-2 div.slideContainer div.slide div.rightSide div.slideText {
	top: 0px; height: 95%; right: 0px; padding-top: 10px; padding-left: 15px; position: absolute;
}
.top-rotator-2 div.slideContainer div.slide div.rightSide div.slideText div.slideTitle {
	line-height: 18px; font-size: 14px; font-weight: bold;
}
.top-rotator-2 div.slideContainer div.slide div.rightSide div.slideText div.slideCaption {
	line-height: 16px; font-size: 12px; margin-top: 10px;
}
.top-rotator-2 div.slideContainer div.slide div.rightSide div.slideLinks {
	height: 20px; padding-left: 5px;
}
.top-rotator-2 div.slideContainer div.slide div.rightSide div.slideLinks a.link {
	margin: 2px 0px 0px 2px; padding: 2px 4px; height: 14px; color: rgb(246, 243, 236); line-height: 14px; font-size: 11px; font-weight: bold; text-decoration: none; display: inline-block;
}
.top-rotator-2 div.slideContainer div.slide div.rightSide div.slideLinks a.link:hover {
	text-decoration: underline;
}
.top-rotator-2 div.pagerContainer a.page {
	background: rgb(123, 123, 123); margin: 3px 0px 0px 5px; width: 17px; height: 18px; text-decoration: none; display: inline-block;
}
.top-rotator-2 div.pagerContainer a.page.activeSlide {
	background: rgb(157, 0, 0);
}
.top-rotator-2-imagedistortion {
	left: 0px !important; top: 0px !important; width: 100%; height: 100%;
}
.top-rotator-2 .smallVideoOverlay {
	background: url("../images/dgovImageSprite.png") no-repeat 0px -37px; left: 50%; top: 50%; width: 14px; height: 14px; margin-top: -7px; margin-left: -7px; position: absolute; z-index: 2;
}
.top-rotator-2 .videoOverlay {
	background: url("../images/dgovImageSprite.png") no-repeat -44px 0px; left: 50%; top: 50%; width: 82px; height: 82px; margin-top: -41px; margin-left: -41px; position: absolute; z-index: 2;
}
