.usmcAccordionMenu {
	background: rgb(234, 234, 228); font: 12px/normal Arial, Hevetica, Sans-Serif; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
.usmcAccordionMenu {
	margin: 0px; padding: 0px; position: relative;
}
.usmcAccordionMenuSubMenu {
	margin: 0px; padding: 0px; position: relative;
}
.usmcAccordionMenuListItem {
	margin: 0px; padding: 0px; position: relative;
}
.usmcAccordionMenu {
	list-style: none;
}
.usmcAccordionMenuSubMenu {
	list-style: none;
}
.usmcAccordionMenu li {
	list-style: none;
}
.usmcAccordionMenuSubMenu {
	background: rgb(234, 234, 228); font-family: Helvetica,Arial,sans-serif;
}
.usmcAccordionMenu > .usmcAccordionMenuListItem > .usmcAccordionMenuSubMenu {
	padding-bottom: 10px;
}
.usmcAccordionMenuListItem {
	position: relative;
}
.usmcAccordionMenuListItem div.listItem {
	line-height: 16px;
}
.usmcAccordionMenuListItem div.listItem {
	margin: 0px 6px 0px 10px; padding: 10px 0px 7px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
div.htmlSection {
	margin: 0px 6px 0px 10px; padding: 10px 0px 7px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.usmcAccordionMenuListItem div.hasHtmlSection {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.usmcAccordionMenuListItem div.lvl0 a {
	text-transform: uppercase; text-decoration: none;
}
.usmcAccordionMenuListItem div.lvl0 {
	text-transform: uppercase; text-decoration: none;
}
.usmcAccordionMenuSubMenu div.usmcMenuLinkHeader a {
	color: rgb(0, 0, 0); font-family: Helvetica,Arial,sans-serif; text-decoration: none;
}
.usmcAccordionMenu div.lvl0 a:hover {
	text-decoration: none;
}
.usmcAccordionMenu .usmcMenuLinkHeader a:hover {
	text-decoration: none;
}
.usmcAccordionMenu div.paddedHeader {
	padding-right: 32px;
}
.usmcAccordionMenu div.usmcAccordionRootNode {
	background: url("images/usmcSprite.png") 0px 0px / 100%; height: 37px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; white-space: nowrap;
}
.usmcAccordionMenu div.usmcAccordionRootNode a {
	color: rgb(255, 255, 255); font-family: "Orbitron",sans-serif;
}
.usmcAccordionMenu > .usmcAccordionMenuListItem > .usmcAccordionMenuSubMenu > :first-child.usmcAccordionMenuListItem > div:first-child {
	background: url("images/usmcSprite.png") no-repeat 0px -52px;
}
.usmcAccordionMenu div.lvl0 {
	padding: 10px 0px 0px 7px; line-height: 16px; overflow: hidden;
}
.usmcAccordionMenu div.lvl1 {
	padding-left: 15px;
}
.usmcAccordionMenu div.lvl2 {
	padding-left: 30px;
}
.usmcAccordionMenu div.lvl3 {
	padding-left: 45px;
}
.usmcAccordionMenu div.lvl4 {
	padding-left: 60px;
}
.usmcAccordionMenu div.lvl5 {
	padding-left: 75px;
}
.usmcMenuLinkHeader {
	background: url("images/usmcLi.gif") no-repeat 0px 2px; overflow: hidden; padding-left: 15px; font-weight: bold;
}
.usmcMenuLinkDetail {
	color: rgb(102, 102, 102); text-transform: none; font-family: Helvetica,Arial,sans-serif; font-size: 10px; font-weight: normal;
}
.htmlSection {
	background: rgb(234, 234, 228); padding: 3px; overflow: auto; max-height: 400px;
}
.usmcAccordionMenuCollapsed {
	background: url("images/usmcsprite.png") -15px -37px; top: 10px; width: 15px; height: 15px; right: 13px; position: absolute; cursor: pointer;
}
.usmcAccordionMenuExpanded {
	background-position: 0px -37px;
}
.tellmemore {
	background: url("images/more.png"); width: 51px; height: 19px; text-align: center; right: 4px; bottom: 4px; color: black !important; line-height: 21px; overflow: hidden; font-size: 11px; text-decoration: none; position: absolute;
}
.hidetellmemore {
	display: none;
}
