#govbar::before {
	background: url("//gouvernement.lu/dam-assets/images/test/decesGDJ-mobile.png") no-repeat; width: 161px; height: 47px; right: 5px; position: absolute;
}
#govbar .govbar-logo {
	padding: 8.5px 8px;
}
#govbar .govbar-logo img {
	height: 30px;
}
@media all and (min-width:44.99em)
{
#govbar .govbar-logo {
	padding: 3px 8px;
}
#govbar .govbar-logo img {
	height: 40px;
}
#govbar::before {
	background: url("//gouvernement.lu/dam-assets/images/test/decesGDJ-desk.png") no-repeat; top: 50%; width: 238px; height: 47px; right: 50%; z-index: -1; transform: translate(50%, -50%);
}
.govbar-links {
	display: none;
}
}
@media all and (min-width:61.49em)
{
.govbar-links {
	display: block;
}
}
