@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(1) {
		margin-left: -1.27% !important;  /* -1px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(3) {
		padding-top: 0.19% !important;  /* 1px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(2) {
		padding-top: 0.19% !important;  /* 1px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(1) {
		padding-top: 0.19% !important;  /* 1px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(4) {
		padding-top: 0.19% !important;  /* 1px */
	}
	html > body > div:nth-of-type(4) {
		padding-bottom: 0.28% !important;  /* 4px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) {
		left: 77.44% !important;  /* 1102px */
	}
	html > body > div:nth-of-type(3) > div:nth-of-type(1) > ul:nth-of-type(2) > li:nth-of-type(5) {
		padding-top: 0.19% !important;  /* 1px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(3) {
		margin-top: 0.32% !important;  /* 3px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(2) {
		padding-top: 3.3% !important;  /* 31px */
	}
}