/* Code tidied up by ScrapBook */
.pivHautMenu, .pivHautBoutonsMobile, #pivHautMenuMobile, .formulaire-recherche, #menu-principal, #menu-contextuel, #menuBasDePage, #piv_basDePage, aside, #slidr, #nav, #fil-ariane, #contenuLier, .btn-menu-publication, .navigation_suivant_precedent, #cd-lateral-nav, .bouton-menu-mobile { display: none ! important; }
@page { margin: 10%; }
html body { background: none repeat scroll 0% 0% transparent; }
#contenu { display: block; overflow-x: inherit; }
.container { width: auto; margin-top: 0.5cm; }
h1, h2, h3, h4, h5, h6 { color: rgb(25, 25, 25); font-family: Helvetica,Arial,sans-serif; line-height: 16pt; page-break-after: avoid ! important; clear: left; }
h1 { clear: both; margin: 0px 0px 0.6cm; font-size: 25pt; line-height: 33.6pt; }
h2 { clear: both; margin: 0.6cm 0px; padding: 0px 0px 2pt; font-size: 20pt; line-height: 22.4pt; border-bottom: 1pt solid rgb(204, 204, 204); }
h3 { margin: 0.6cm 0px 0.4cm; font-size: 18pt; line-height: 1cm; }
p, ul, ol, .programmation .heure, table, .table { font-size: 12pt; margin: 0.3cm 0px; font-family: Helvetica,Arial,sans-serif; clear: left; line-height: 20pt; width: inherit; }
#ariane { display: none; }
.collapse { display: block ! important; }
[class*="col-sm-"] { float: none; padding: inherit; }
[class*="col-xs-"] { float: none; padding: inherit; }
[class*="col-md-"] { float: none; padding: inherit; }
.col-sm-12, .col-xs-12 { width: auto ! important; }
.col-sm-8, .col-xs-8 { width: auto ! important; }
.col-sm-4, .col-xs-4 { width: auto ! important; }
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: none ! important; }
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { display: block; position: static; float: none ! important; }
