/* ::::: http://www.wit.edu/css/stylesheet.css (@media all) ::::: */

body, div, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, blockquote, th, td, iframe, ul, li { margin: 0px; padding: 0px; }
ul { list-style: outside none none; }
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }
fieldset, img { border: 0px none; }
a { text-decoration: none; outline: medium none; }
h1 { font-size: 388%; }
h2 { font-size: 175%; padding-bottom: 0.7em; line-height: 1.2em; }
h3 { font-size: 132%; }
h4 { font-size: 125%; }
h5 { font-size: 143%; }
h6 { font-size: 109%; }
#searchboxfield, #searchbutton { float: left; }
#cse-search-box input { border: 1px solid rgb(204, 204, 204); height: 24px; width: 175px; }
input#button { width: 25px; height: 26px; border: medium none; }
ul { padding-left: 1.3em; }
.blackbullet { list-style-image: url("carrotbullet.png"); }
.yellowbullet { list-style-image: url("carrotbullet_yellow.png"); }
li { list-style-image: url("carrotbullet_red.png"); list-style-position: outside; padding-bottom: 0.3em; }
ol, #main ol, #main .maintext ol { list-style-type: decimal; padding-left: 1.5em; }
ol li, #main ol li, #main .maintext ol li { list-style-image: none; list-style-type: decimal; padding-left: 0px; display: list-item; vertical-align: top; }
ol ol, #main ol ol, #main .maintext ol ol { list-style-type: lower-alpha; padding-left: 1.5em; }
ol ol li, #main ol ol li, #main .maintext ol ol li { list-style-image: none; list-style-type: lower-alpha; padding-left: 0px; display: list-item; }
li a { color: rgb(85, 85, 85); font-weight: bold; }
li a:hover { color: rgb(188, 120, 1); }
.bullets a { color: rgb(188, 120, 1); }
dt { font-weight: bold; }
dd { padding-left: 10px; padding-bottom: 5px; }
label { width: 200px; font-weight: bold; float: left; }
legend { font-size: 175%; font-weight: bold; padding-top: 2em; padding-bottom: 1em; }
body { font-family: Arial,Helvetica,sans-serif; font-size: 62.5%; color: rgb(34, 34, 34); }
body a { color: rgb(85, 85, 85); }
#globalnav { height: 38px; width: 100%; background-image: url("headerbar.png"); background-repeat: repeat-x; position: fixed; top: 0px; left: 0px; z-index: 999; }
#globalnavtext { width: 960px; height: 15px; z-index: 999; color: rgb(204, 204, 204); font-size: 113.5%; font-weight: bold; margin: 0px auto; }
#outerwrapper { width: 100%; float: left; }
#wrapper { width: 960px; position: relative; margin: 0px auto; padding-top: 28px; }
#header { height: 125px; width: 960px; float: left; z-index: 998; }
#navigation { width: 960px; height: 17px; float: left; z-index: 998; border-bottom: 5px solid rgb(14, 14, 14); }
#blackline { border-bottom: 5px solid rgb(14, 14, 14); width: 960px; float: left; }
#photobox { width: 958px; height: 315px; float: left; border-width: 5px 1px 1px; border-style: solid; border-color: rgb(14, 14, 14); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#photoslideshow { width: 958px; height: 350px; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(14, 14, 14) rgb(14, 14, 14); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; float: left; }
#banner { width: 958px; height: 138px; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(14, 14, 14) rgb(14, 14, 14); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; float: left; }
#photo { width: 719px; height: 315px; background-color: rgb(14, 14, 14); overflow: hidden; float: left; }
#subnav { width: 239px; height: 315px; background-color: rgb(250, 195, 3); float: left; font-size: 173%; font-weight: bold; }
#content { width: 960px; padding-top: 2em; padding-bottom: 3.5em; float: left; font-size: 125%; line-height: 1.5em; display: inline; }
#main { width: 650px; float: left; padding-left: 50px; }
#leftcolumn { width: 221px; padding-right: 25px; float: left; font-size: 99%; }
#midcolumn { width: 418px; float: left; padding-left: 25px; padding-right: 25px; padding-bottom: 4em; }
#rightcolumn { width: 221px; float: right; padding-left: 25px; }
#left, #middle, #right { width: 294px; float: left; }
#middle { margin-left: 39px; margin-right: 39px; }
#footer { background-color: rgb(234, 234, 234); float: left; width: 100%; }
#conversion iframe { display: none; }
#outerfooter { width: 100%; background-color: rgb(14, 14, 14); float: left; }
#outerfooter p { width: 960px; margin: 0px auto; padding-top: 0.8em; color: rgb(221, 221, 221); font-size: 110%; }
#footercontent { width: 960px; margin: 0px auto; }
#globalnav ul { padding-left: 0px; width: 2000px; position: relative; }
#globalnavtext li { float: left; margin-right: 4.3em; padding-top: 0.86em; border: medium none; list-style-image: none; }
#globalnavtext li.last { margin-right: 0px; padding-right: 0px; }
#globalnavtext #icon { padding-top: 0.5em; }
#globalnavtext li a { color: rgb(218, 218, 218); }
#globalnavtext li a:hover { color: rgb(250, 195, 3); }
#globalnavtext li a.current { color: rgb(255, 255, 255); }
#audiencenav { position: absolute; top: 5em; right: 0px; font-size: 110%; }
#audiencenav ul { padding-left: 0px; }
#audiencenav ul li { float: left; border-right: 2px dotted rgb(250, 195, 3); padding-left: 12px; padding-right: 12px; height: 13px; padding-top: 2px; list-style-image: none; }
#audiencenav ul li a { font-weight: normal; color: rgb(51, 51, 51); }
#navigation ul { padding-left: 0px; position: relative; width: 980px; }
#navigation ul li { list-style-image: none; float: left; padding-right: 22.3px; margin-right: 22.3px; border: medium none; }
#navigation ul li.last { margin-right: 0px; padding-right: 0px; }
#navigation a { color: rgb(14, 14, 14); font-size: 135%; }
#navigation a:hover, #navigation a.current { border-bottom: 5px solid rgb(250, 195, 3); padding-bottom: 0.09em; }
.columnnav { list-style-image: none; padding-left: 0px; }
.columnnav li { list-style-image: none; border-bottom: 1px dotted rgb(187, 187, 187); padding-bottom: 2px; padding-top: 4px; }
.columnnav li a { color: rgb(14, 14, 14); font-weight: bold; font-size: 98%; text-transform: none; }
.columnnav li a:hover { color: rgb(204, 0, 0); border: medium none; }
.columnnav .current { color: rgb(204, 0, 0); }
#logo { width: 635px; height: 62px; float: left; margin-top: 5em; }
#logo a { color: rgb(17, 17, 17); letter-spacing: -0.02em; }
#logo h1 { padding-top: 2.5px; float: left; }
#logo img { float: left; }
#search { float: right; padding-top: 5.8em; }
#search #directory { width: 23em; float: right; padding-top: 0.5em; text-align: right; color: rgb(204, 0, 0); }
#search p { color: rgb(188, 120, 1); float: right; font-size: 110%; }
#search a { color: rgb(188, 120, 1); font-size: 103%; }
#search a:hover { color: rgb(204, 0, 0); }
#subnav ul { padding-top: 4.8em; padding-left: 1.2em; }
#subnav li { list-style-image: none; width: 200px; height: 1.36em; padding-top: 0.14em; border-bottom: 1px dotted rgb(14, 14, 14); padding-bottom: 0px; }
#subnav a { color: rgb(14, 14, 14); padding-left: 0.05em; padding-right: 0.1em; }
#subnav a:hover { color: rgb(239, 239, 239); background-color: rgb(14, 14, 14); }
#subnav a.current { color: rgb(255, 255, 255); }
#photoslideshow { background-color: rgb(204, 204, 204); }
.title { color: rgb(204, 0, 0); font-weight: normal; }
h3 { color: rgb(14, 14, 14); border-bottom: 0.14em solid rgb(14, 14, 14); margin-bottom: 0.18em; }
#main h3 { border-bottom: 1px solid rgb(58, 58, 58); font-size: 136%; margin-bottom: 15px; margin-top: 10px; padding-bottom: 2px; }
#twitter { font-size: 80%; text-transform: none; }
.subheading { border-bottom: 7.5px solid rgb(58, 58, 58); margin-bottom: 1em; }
.category a { color: rgb(188, 120, 1); }
.category a:hover { color: rgb(204, 0, 0); }
.thickheading { background-color: rgb(187, 187, 187); height: 20px; margin-bottom: 1em; }
.thickheading h3 { color: rgb(255, 255, 255); padding-left: 1px; border-bottom: medium none; }
#contact ul li { font-weight: bold; }
#contact ul li a { color: rgb(188, 120, 1); }
.category { margin-bottom: 3.5em; }
h3 .italic { text-transform: none; font-weight: normal; }
.underline { padding-left: 0px; }
.underline li { list-style-image: none; padding-bottom: 0px; border-bottom: 1px dotted rgb(102, 102, 102); }
.underline a { font-size: 100%; font-weight: bold; color: rgb(204, 0, 0); padding-right: 0.1em; padding-left: 0.1em; padding-bottom: 0.1em; }
.underline a:hover { background-color: rgb(204, 0, 0); color: rgb(255, 255, 255); border: medium none; }
.dottedline li { border-bottom: 1px dotted rgb(153, 153, 153); }
.noindent { padding-left: 0px; }
.noindent li { border-bottom: 1px dotted rgb(102, 102, 102); }
#midcolumn img { float: left; width: 240px; height: 82px; }
a.more { font-weight: bold; color: rgb(14, 14, 14); padding-left: 5px; }
#content-home a.more:hover, #content a.more:hover, #leftcolumn a.more:hover { color: rgb(204, 0, 0); }
.twitterbird { background-image: url("twitterbird.png"); background-repeat: no-repeat; width: 48px; height: 58px; float: right; margin-top: -6em; padding-right: 0.4em; }
.bigbutton { list-style-image: none; padding-left: 0px; font-size: 160%; padding-bottom: 18px; }
.bigbutton a, a.bigbutton { color: rgb(255, 255, 255); margin-bottom: 0px; padding: 4px; background-color: rgb(204, 0, 0); border-radius: 3px; width: 262px; font-weight: normal; display: block; }
.maintext a.bigbutton { width: 130px; color: rgb(255, 255, 255); }
.bigbutton a:hover, a.bigbutton:hover { border: medium none; color: rgb(255, 255, 255); background-color: rgb(14, 14, 14); }
.bigbutton li { margin-bottom: -20px; padding-bottom: 0px; list-style-image: none; width: 262px; height: 19px; }
#midcolumn p { font-size: 100%; }
.maintext { width: 660px; }
p { font-size: 107%; line-height: 1.5em; padding-bottom: 1.1em; }
.firstparagraph { font-size: 126%; line-height: 1.5em; color: rgb(17, 17, 17); font-family: georgia,times,serif; font-style: italic; }
blockquote { color: rgb(204, 0, 0); padding-bottom: 15px; font-size: 107.5%; font-style: italic; padding-right: 150px; }
.dropcap { display: block; width: 50px; height: 35px; float: left; padding: 28px 40px 0px 0px; margin-bottom: 10px; font-size: 520%; font-family: "Times New Roman",Times,serif; line-height: 45px; margin-top: -15px; font-weight: normal; color: rgb(14, 14, 14); }
.emphasize { font-weight: bold; color: rgb(204, 0, 0); }
#maintext h2 { color: rgb(204, 0, 0); font-weight: normal; }
#main h2 { font-weight: normal; color: rgb(204, 0, 0); }
.emphasize { color: rgb(34, 34, 34); font-weight: bold; }
#main ul { padding-bottom: 1.4em; }
#main li { width: 475px; }
#main h4 { padding-bottom: 5px; font-size: 120%; }
.maintext a { color: rgb(188, 120, 1); font-weight: bold; }
.maintext a:hover { color: rgb(204, 0, 0); }
.maintext a.thin { font-weight: normal; }
.maintext h4 a { color: rgb(14, 14, 14); }
.paragraphrule { margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px dotted rgb(14, 14, 14); }
#headline { font-size: 320%; font-weight: bold; color: rgb(250, 195, 3); font-family: Helvetica,arial,sans-serif; padding-top: 4px; padding-bottom: 3px; letter-spacing: -0.01em; line-height: 1em; }
.floatright { float: right; padding-left: 5px; }
.floatleft { float: left; padding-right: 15px; }
p.caption { font-weight: bold; margin-bottom: 10px; padding-top: 2px; position: relative; bottom: 0px; left: 0px; height: 15px; color: rgb(14, 14, 14); margin-top: -10px; width: 340px; font-size: 10px; }
.photowithcaptionright { float: right; font-size: 80%; color: rgb(255, 255, 255); margin-left: 20px; margin-bottom: 8px; }
.photowithcaptionleft { float: left; font-size: 80%; color: rgb(255, 255, 255); margin-right: 20px; margin-bottom: 18px; }
.photowithcaptionright img, .photowithcaptionleft img { position: relative; }
#firstbodycolumn { width: 335px; float: left; padding-bottom: 25px; }
#secondbodycolumn { width: 315px; float: left; }
#firstbodycolumn p, #secondbodycolumn p { font-size: 103%; }
a.newstitle { color: rgb(17, 17, 17); }
a.newstitle:hover { color: rgb(204, 0, 0); }
#main img { margin-bottom: 5px; }
#footercontent { height: 17em; margin-top: 5em; color: rgb(102, 102, 102); }
#footer2, #footer3, #footer4, #footer5 { width: 155px; float: left; }
#footer1 { width: 180px; float: left; }
#footer6 { width: 150px; float: right; }
#footer h5 { font-weight: bold; padding-bottom: 0.5em; }
#footer img.utube { padding-right: 2px; }
#footer ul { padding-left: 0px; }
#footercontent li { list-style-image: none; line-height: 1.7em; padding-bottom: 0px; border: medium none; }
#footercontent a { color: rgb(102, 102, 102); font-size: 114%; font-weight: normal; }
#footercontent a:hover { border: medium none; color: rgb(17, 17, 17); }
#leopard { padding-top: 2.2em; }
#leopard img { float: right; padding-right: 1.6em; margin-top: -2em; }
#leopard h6 { width: 160px; padding-bottom: 5px; }
.boxgrid { width: 294px; height: 190px; background: rgb(22, 22, 19) none repeat scroll 0% 0%; overflow: hidden; position: relative; }
.boxgrid a.more { padding-left: 0px; padding-top: 8px; }
.boxgrid img { position: absolute; top: 0px; left: 0px; }
.boxgrid p { padding: 0px 7px; color: rgb(175, 175, 175); }
.boxcaption { position: absolute; background-image: url("transparentblack.png"); background-repeat: repeat; height: 200px; width: 100%; }
.caption .boxcaption { top: 160px; left: 0px; }
.caption .boxcaption h4 { color: rgb(250, 195, 3); padding: 7px; font-weight: normal; font-size: 105%; }
.caption .boxcaption p { line-height: normal; font-size: 98%; }
.caption .boxcaption a { color: rgb(255, 255, 255); float: left; }
.boxgridsidebar { width: 221px; height: 160px; background: rgb(22, 22, 19) none repeat scroll 0% 0%; overflow: hidden; position: relative; }
.boxgridsidebar a.more { padding-left: 0px; padding-top: 8px; }
.boxgridsidebar img { position: absolute; top: 0px; left: 0px; }
.boxgridsidebar p { padding: 0px 7px; color: rgb(175, 175, 175); }
.boxgridsidebar .caption .boxcaption { top: 100px; left: 0px; }
.boxcaptionsidebar { position: absolute; background-image: url("transparentblack.png"); background-repeat: repeat; height: 200px; width: 100%; }
.caption .boxcaptionsidebar { top: 130px; left: 0px; }
.caption .boxcaptionsidebar h4 { color: rgb(250, 195, 3); padding: 7px; font-weight: normal; font-size: 105%; }
.caption .boxcaptionsidebar p { line-height: normal; font-size: 98%; }
.caption .boxcaptionsidebar a { color: rgb(255, 255, 255); float: left; }
.date { width: 30px; height: 29px; position: absolute; top: 0px; left: 0px; background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); font-size: 135%; font-weight: bold; line-height: 0.9em; padding: 12px 12px 12px 5px; }
.numeral { font-size: 200%; color: rgb(250, 195, 3); }
#smallheading { font-size: 312%; margin-top: 5px; }
#norule { border-top: 0px none; margin-top: 0px; padding-top: 0px; }
.nobullet { padding-left: 0px; list-style-image: none; }
.nobullet li { list-style-image: none; }
.unbold { font-weight: normal; }
.italic { font-style: italic; }
.red { color: rgb(204, 0, 0); }
.yellow { color: rgb(250, 195, 3); }
.number { color: rgb(204, 0, 0); font-size: 200%; font-weight: bold; width: 105px; }
.statistic { font-weight: bold; font-size: 131%; color: rgb(136, 136, 136); padding-bottom: 5px; }
.reference { text-decoration: underline; }
.gray { color: rgb(136, 136, 136); }
.clear { clear: both; }
.shadow { box-shadow: 2px 2px 4px rgb(136, 136, 136); }
.green {  }
.blue {  }
.orange {  }
.purple {  }
.uppercase { text-transform: uppercase; }
.hightlight { background-color: rgb(250, 195, 3); padding: 1px; }
table, th, td { border: 1px solid black; }
table { width: 100%; border-collapse: collapse; font: 90% Arial,Helvetica,sans-serif; padding-top: 5px; padding-bottom: 5px; }
th { height: 30px; font-weight: bold; text-align: left; }
td { text-align: left; padding: 5px; }
table.center td { text-align: center; }
table.noborder, table.noborder td { border: medium none; border-collapse: separate; }
#spacer { height: 200px; }
#college { font-size: 18px; font-weight: normal; float: left; }
#of { font-size: 19px; font-weight: normal; font-style: italic; font-family: Georgia,"Times New Roman",Times,serif; padding-left: 6px; float: left; }
#division-name { font-weight: normal; font-size: 19px; }
.faculty { line-height: 1.5em; float: left; padding-bottom: 20px; padding-top: 20px; border-bottom: 1px dotted rgb(187, 187, 187); font-size: 90%; }
.faculty img { width: 75px; height: 75px; float: left; }
.faculty-image { width: 80px; height: 80px; background-color: rgb(255, 255, 255); float: left; margin-right: 10px; }
.faculty-name { width: 145px; float: left; padding-right: 5px; }
.faculty-name h6 { padding-bottom: 5px; padding-top: 0px; margin-top: 0px; }
.faculty-bg { width: 250px; float: left; padding-left: 10px; }
.faculty-contact { width: 110px; float: left; padding-left: 15px; }
a.faculty-more { line-height: 2em; color: rgb(14, 14, 14); }
a.faculty-more:hover { color: rgb(204, 0, 0); }
#addthis { padding-bottom: 4px; }
/* ::::: http://www.wit.edu/css/anythingslider.css (@media screen) ::::: */

@media screen {
.anythingSlider { width: 958px; height: 350px; position: relative; margin: 0px auto; }
.anythingSlider .slideholder { width: 958px; overflow: auto; height: 350px; position: absolute; top: 0px; left: 0px; }
.anythingSlider .slideholder ul { width: 32700px; list-style: outside none none; position: absolute; top: 0px; left: 0px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-bottom: 3px solid rgb(224, 162, 19); margin: 0px; padding: 0px; }
.anythingSlider ul li { display: block; float: left; padding: 0px; height: 350px; width: 958px; margin: 0px; }
.anythingSlider .arrow { display: block; height: 200px; width: 67px; background: transparent url("arrows.png") no-repeat scroll 0px 0px; text-indent: -9999px; position: absolute; top: 75px; cursor: pointer; }
.anythingSlider .forward { background-position: 0px 0px; right: -38px; }
.anythingSlider .back { background-position: -67px 0px; left: -38px; }
.anythingSlider .forward:hover { background-position: 0px -200px; }
.anythingSlider .back:hover { background-position: -67px -200px; }
#thumbNav { position: relative; top: 315px; text-align: right; padding-right: 10px; }
#thumbNav a { color: rgb(40, 40, 40); font-size: 0px; display: inline-block; height: 17px; width: 17px; margin: 0px 1px 0px 0px; background-image: url("dot_white.png"); text-align: center; }
#thumbNav a:hover { background-image: url("dot_red.png"); }
#thumbNav a.cur { background-image: url("dot_red.png"); }
.anythingSlider .slideholder ul ul { position: static; margin: 0px; background: transparent none repeat scroll 0% 0%; overflow: visible; width: auto; border: 0px none; }
.anythingSlider .slideholder ul ul li { float: none; height: auto; width: auto; background: transparent none repeat scroll 0% 0%; }
.textSlide { width: 958px; }
.textSlide img { width: 645px; float: left; height: 350px; }
.headlinebox { background-color: rgb(40, 40, 40); width: 313px; float: right; height: 350px; }
.headlinebox h2 { font-size: 260%; color: rgb(250, 195, 3); padding: 100px 25px 5px 20px; font-weight: normal; }
.headlinebox p { color: rgb(249, 249, 249); font-size: 145%; line-height: 1.2em; padding: 10px 38px 30px 20px; }
.headlinebox a { padding-left: 20px; color: rgb(255, 255, 255); float: left; font-size: 130%; }
.headlinebox a:hover { border: medium none; color: rgb(204, 0, 0); }
}
/* ::::: http://www.wit.edu/css/home.css (@media all) ::::: */

#header #audiencenav ul li { padding-left: 9px; padding-right: 9px; }
#header #audiencenav ul li.last { border-right: medium none; padding-right: 0px; }
#maintext h2, #main h2 { color: rgb(14, 14, 14); font-size: 175%; font-weight: bold; }
#maintext h2.red, #main h2.red { color: rgb(204, 0, 0); font-weight: normal; }
a.red { color: rgb(204, 0, 0); }
a.gray, span.gray { color: rgb(102, 102, 102); }
#leftcolumn .category h6.colleges { margin-bottom: -5px; padding-top: 8px; line-height: 1.2em; }
#leftcolumn h6.red a { color: rgb(204, 0, 0); }
#leftcolumn h6 a.red { color: rgb(204, 0, 0); }
#leftcolumn a#red { color: rgb(204, 0, 0); }
#leftcolumn #colleges ul { padding-top: 0px; margin-top: 0px; padding-bottom: 5px; }
a.yellow { color: rgb(188, 120, 1); }
a.yellow:hover { color: rgb(204, 0, 0); }
.challenge { padding-top: 5px; }
#main #tagtitle { font-size: 50%; }
#photoslideshow { border: medium none; }
#logo { margin-top: 4.5em; }
#biglogo { margin-top: 3.6em; width: 300px; height: 62px; float: left; }
#left, #middle, #right { width: 270px; height: 430px; padding-bottom: 0px; }
#right { float: right; width: 270px; }
#left p, #middle p, #right p { font-size: 100%; padding-top: 10px; }
#left h3, #middle h3, #right h3 { border-bottom: medium none; padding-bottom: 4px; }
#left { border-left: 1px dotted rgb(102, 102, 102); padding-left: 23px; padding-right: 22px; border-right: 1px dotted rgb(102, 102, 102); }
#right { border-right: 1px dotted rgb(102, 102, 102); border-left: 1px dotted rgb(102, 102, 102); padding-right: 25px; padding-left: 23px; }
#middle { margin-left: 25px; margin-right: 25px; }
.announcements { padding-bottom: 30px; margin-bottom: 0px; }
.announcements li { padding-bottom: 6px; border-bottom: 1px dotted rgb(153, 153, 153); }
.announcements a { color: rgb(188, 120, 1); font-size: 100%; }
#leftcolumn { width: 245px; }
#leftcolumn a { color: rgb(188, 120, 1); }
#leftcolumn a:hover { color: rgb(204, 0, 0); }
#leftcolumn a.more { font-weight: bold; color: rgb(14, 14, 14); padding-left: 5px; }
#leftcolumn a.more:hover { background-color: rgb(255, 255, 255); }
#leftcolumn ul.columnnav a { color: rgb(14, 14, 14); }
#leftcolumn ul.columnnav a:hover { color: rgb(204, 0, 0); }
#leftcolumn ul.columnnav a.current { color: rgb(204, 0, 0); }
#leftcolumn ul.columnnav a.current:hover { color: rgb(204, 0, 0); padding-left: 1px; padding-right: 2px; }
#leftcolumn .paragraphrule { margin-bottom: 13px; border-bottom: 1px dotted rgb(51, 51, 51); padding-bottom: 25px; height: 100px; }
#leftcolumn .paragraphrule a { font-weight: normal; }
#leftcolumn .paragraphrule img { width: 70px; height: 70px; float: right; padding-left: 4px; padding-bottom: 20px; }
#leftcolumn ul li.unbold a { font-weight: normal; }
#main, .maintext { width: 638px; }
#main h3 { border: medium none; }
.firstparagraph { color: rgb(14, 14, 14); }
#main h6 { color: rgb(153, 153, 153); font-size: 115%; }
.textSlide img { width: 640px; }
.headlinebox { width: 318px; background-color: rgb(66, 64, 62); }
.headlinebox h2, .headlinebox h2 a.link { font-size: 28px; padding: 5px 25px 10px 10px; line-height: 1.1em; color: rgb(250, 195, 3); font-weight: normal; width: 90%; }
.headlinebox h5 { color: rgb(255, 255, 255); padding: 45px 0px 10px 23px; }
.headlinebox p { padding: 10px 38px 30px 0px; font-size: 15px; font-weight: normal; }
.headlinebox a { padding-left: 22px; }
.caption .boxcaption { top: 140px; left: 0px; }
.caption .boxcaption h4 { color: rgb(255, 255, 255); padding: 4px 7px 7px; font-size: 100%; font-weight: normal; line-height: 1.2em; }
.anythingSlider { width: 960px; height: 350px; position: relative; margin: 0px auto; }
.anythingSlider .slideholder { width: 960px; overflow: auto; height: 350px; position: absolute; top: 0px; left: 0px; }
.anythingSlider .slideholder ul { width: 32700px; list-style: outside none none; position: absolute; top: 0px; left: 0px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-bottom: 3px solid rgb(224, 162, 19); margin: 0px; padding: 0px; }
.anythingSlider ul li { display: block; float: left; padding: 0px; height: 350px; width: 960px; margin: 0px; }
.anythingSlider .arrow { display: block; height: 200px; width: 67px; background: transparent url("arrows-opposite.png") no-repeat scroll 0px 0px; text-indent: -9999px; position: absolute; top: 75px; cursor: pointer; }
.anythingSlider .forward { background-position: 0px 0px; right: -38px; }
.anythingSlider .back { background-position: -67px 0px; left: -38px; }
.anythingSlider .forward:hover { background-position: 0px -200px; }
.anythingSlider .back:hover { background-position: -67px -200px; }
.textSlide { width: 960px; }
.textSlide img { width: 640px; }
.headlinebox { width: 320px; }
#main img { margin-bottom: 4px; }
.subheading { border-bottom: 0px none; }
h3 { padding-bottom: 2px; }
#main h3 { margin-bottom: 8px; }
#leftcolumn h3 { text-transform: none; font-size: 128%; }
.columnnav li a { color: rgb(14, 14, 14); font-weight: bold; font-size: 108%; text-transform: none; }
#leftcolumn h6 { padding-top: 10px; padding-bottom: 8px; }
#application { padding-top: 15px; padding-bottom: 10px; border-bottom: 1px dotted rgb(153, 153, 153); width: 635px; float: left; }
#application-name { width: 220px; float: left; padding-top: 5px; }
#application-info { width: 365px; float: left; padding-left: 30px; }
#application-contact { width: 125px; float: right; padding-top: 5px; }
#application img { float: left; }
#application-name img { float: none; margin-bottom: 0px; padding-top: 4px; }
#application h5 { padding-bottom: 10px; color: rgb(51, 51, 51); }
#application p { font-size: 99%; }
#application h6 { padding-left: 0px; color: rgb(102, 102, 102); font-size: 105%; }
.nopadding { margin-top: -35px; }
.firstbodycolumn { width: 305px; float: left; padding-bottom: 25px; }
.secondbodycolumn { width: 300px; float: left; }
th { background-color: rgb(238, 238, 238); text-align: left; padding-left: 3px; font-size: 115%; }
td { font-size: 105%; }
#events { float: left; padding-top: 0px; margin-top: 5px; width: 215px; }
#events a { float: left; width: 168px; padding-left: 10px; font-weight: bold; color: rgb(102, 102, 102); font-size: 100%; }
#leftcolumn #events a { color: rgb(51, 51, 51); }
#leftcolumn #events a:hover { color: rgb(204, 0, 0); }
#events .event { padding-bottom: 15px; }
#events .event .eventday { color: rgb(250, 195, 3); font-size: 140%; }
#events .event .eventmonth { color: rgb(153, 153, 153); font-size: 140%; }
#leftcolumn .upcomingevents-left, #main .maintext .upcomingevents-left { border-bottom: 1px dotted rgb(102, 102, 102); padding: 5px; }
#main .maintext .upcomingevents-left { padding-left: 0px; }
.bigbutton li { margin-bottom: 13px; list-style-image: none; }
.galleria-box { width: 648px; margin: 10px auto; }
#galleria { height: 500px; }
#flickr-sm { width: 450px; float: right; padding-left: 5px; padding-bottom: 5px; }
#flickr-sm #galleria { height: 250px; }
#cycle, #cycle img { width: 638px; height: 225px; overflow: hidden; margin-bottom: 15px; }
#cycle { margin-top: -20px; }
#leftcolumn h3.coop-name a { border: medium none; padding: 0px; margin: 0px; }
#leftcolumn h3.coop-name { border: medium none; margin-bottom: -20px; margin-top: -20px; }
ul#news-contact { font-size: 13px; }
#main #coop-landing h6 { display: none; border: 1px solid red; }
#main #coop-landing h3 a { font-family: georgia,times,serif; font-weight: normal; }
#main #coop-landing .coop-profile { border-bottom: 1px dotted rgb(153, 153, 153); padding-bottom: 10px; margin-bottom: 10px; }
#leftcolumn #coopsidebar h4.serif a { font-family: georgia,times,serif; font-weight: normal; color: rgb(204, 0, 0); margin-top: 0px; }
#leftcolumn #coopsidebar img { margin-bottom: -10px; }
#leftcolumn #coopsidebar a.more { padding-left: 0px; }
#alert { width: 956px; text-align: center; float: left; border: 2px solid rgb(204, 0, 0); margin-bottom: 2em; background: rgb(250, 195, 3) none repeat scroll 0% 0%; }
#alert h1 { padding-top: 0.5em; }
#alert p { font-size: 21px; }
.appforms label { width: auto; float: none; font-weight: normal; }
.boxgrid { height: 160px; width: 270px; }
/* ::::: [internal] ::::: */

.gscb_a { display: inline-block; font: 27px/13px arial,sans-serif; }
.gsst_a .gscb_a { color: rgb(161, 185, 237); cursor: pointer; }
.gsst_a:hover .gscb_a, .gsst_a:focus .gscb_a { color: rgb(51, 102, 204); }
.gsst_a { display: inline-block; }
.gsst_a { cursor: pointer; padding: 0px 4px; }
.gsst_a:hover { text-decoration: none ! important; }
.gsst_b { font-size: 16px; padding: 0px 2px; position: relative; -moz-user-select: none; white-space: nowrap; }
.gsst_e { opacity: 0.55; }
.gsst_a:hover .gsst_e, .gsst_a:focus .gsst_e { opacity: 0.72; }
.gsst_a:active .gsst_e { opacity: 1; }
.gsst_f { background: white none repeat scroll 0% 0%; text-align: left; }
.gsst_g { background-color: white; border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217) rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); margin: -1px -3px; padding: 0px 6px; }
.gsst_h { background-color: white; height: 1px; margin-bottom: -1px; position: relative; top: -1px; }
.gsib_a { width: 100%; padding: 4px 6px 0px; }
.gsib_a, .gsib_b { vertical-align: top; }
.gssb_c { border: 0px none; position: absolute; z-index: 989; }
.gssb_e { border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217) rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); cursor: default; }
.gssb_f { visibility: hidden; white-space: nowrap; }
.gssb_k { border: 0px none; display: block; position: absolute; top: 0px; z-index: 988; }
.gsdd_a { border: medium none ! important; }
.gscsep_a { display: none; }
.gsq_a { padding: 0px; }
.gssb_a { padding: 0px 7px; }
.gssb_a, .gssb_a td { white-space: nowrap; overflow: hidden; line-height: 22px; }
#gssb_b { font-size: 11px; color: rgb(51, 102, 204); text-decoration: none; }
#gssb_b:hover { font-size: 11px; color: rgb(51, 102, 204); text-decoration: underline; }
.gssb_g { text-align: center; padding: 8px 0px 7px; position: relative; }
.gssb_h { font-size: 15px; height: 28px; margin: 0.2em; }
.gssb_i { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.gss_ifl { visibility: hidden; padding-left: 5px; }
.gssb_i .gss_ifl { visibility: visible; }
a.gssb_j { font-size: 13px; color: rgb(51, 102, 204); text-decoration: none; line-height: 100%; }
a.gssb_j:hover { text-decoration: underline; }
.gssb_l { height: 1px; background-color: rgb(229, 229, 229); }
.gssb_m { color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.gsfe_a { border-width: 1px; border-style: solid; border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
.gsfe_b { border: 1px solid rgb(77, 144, 254); outline: medium none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.gssb_a { padding: 0px 2px; }
.gssb_e { border: 0px none; }
.gssb_l { margin: 5px 0px; }
.gssb_c .gsc-completion-container { position: static; }
.gssb_c { z-index: 5000; }
.gsc-completion-container table { background: transparent none repeat scroll 0% 0%; font-size: inherit; font-family: inherit; }
.gssb_c > tbody > tr, .gssb_c > tbody > tr > td, .gssb_d, .gssb_d > tbody > tr, .gssb_d > tbody > tr > td, .gssb_e, .gssb_e > tbody > tr, .gssb_e > tbody > tr > td { padding: 0px; margin: 0px; border: 0px none; }
.gssb_a table, .gssb_a table tr, .gssb_a table tr td { padding: 0px; margin: 0px; border: 0px none; }
/* ::::: http://www.google.com/uds/api/search/1.0/8bdfc79787aa2b2b1ac464140255872c/default+en.css ::::: */

.gsc-control { width: 300px; }
.gsc-control div { position: static; }
.gsc-control-cse, .gsc-control-cse .gsc-table-result { width: 100%; font-family: Arial,sans-serif; font-size: 13px; }
.gsc-control-cse div { position: static; }
form.gsc-search-box { font-size: 13px; margin: 0px 0px 4px; width: 100%; }
table.gsc-search-box { border-style: none; border-width: 0px; border-spacing: 0px; width: 100%; margin-bottom: 2px; }
table.gsc-search-box td { vertical-align: middle; }
table.gsc-search-box td.gsc-input { padding-right: 12px; }
td.gsc-search-button { width: 1%; }
td.gsc-clear-button { width: 14px; }
table.gsc-branding td, table.gsc-branding, table.gcsc-branding td, table.gcsc-branding { margin: 0px; padding: 0px; border: medium none; }
table.gsc-branding, table.gcsc-branding { border-style: none; border-width: 0px; border-spacing: 0px; width: 100%; }
td.gsc-branding-text, td.gcsc-branding-text { vertical-align: top; }
td.gsc-branding-text div.gsc-branding-text, td.gcsc-branding-text div.gcsc-branding-text { padding-bottom: 2px; text-align: right; font-size: 11px; margin-right: 2px; }
div.gsc-branding-youtube td.gsc-branding-text { vertical-align: middle; }
td.gsc-branding-img-noclear, td.gcsc-branding-img-noclear { width: 51px; vertical-align: bottom; }
td.gsc-branding-img, td.gcsc-branding-img { width: 65px; vertical-align: bottom; }
div.gsc-branding-youtube td.gsc-branding-img-noclear { width: 55px; }
div.gsc-branding-youtube td.gsc-branding-img { width: 69px; }
table.gsc-branding-vertical td.gsc-branding-text div.gsc-branding-text { margin-right: 0px; text-align: center; }
table.gsc-branding-vertical td.gsc-branding-img-noclear { text-align: center; }
div.gsc-branding-img, div.gsc-branding-img-noclear, img.gsc-branding-img, img.gsc-branding-img-noclear, div.gcsc-branding-img, div.gcsc-branding-img-noclear, img.gcsc-branding-img, img.gcsc-branding-img-noclear { padding-top: 1px; }
img.gsc-branding-img, img.gsc-branding-img-noclear, img.gcsc-branding-img, img.gcsc-branding-img-noclear { margin: 0px; padding-right: 0px; padding-left: 0px; padding-bottom: 0px; border: medium none; display: inline; }
td.gcsc-branding-text { white-space: nowrap; width: 100%; }
td.gcsc-branding-text div.gcsc-branding-text { margin: 0px 2px; }
td.gcsc-branding-img-noclear { width: auto; }
a.gsc-branding-clickable { cursor: pointer; }
input.gsc-search-button { margin-left: 2px; }
div.gsc-clear-button { display: inline; text-align: right; margin-left: 4px; margin-right: 4px; padding-left: 10px; background-repeat: no-repeat; background-position: center center; background-image: url("clear.gif"); cursor: pointer; }
.gsc-search-box-tools .gsc-clear-button { display: none; }
.gsc-results-close-btn { background-image: url("nav_logo114.png"); background-repeat: no-repeat; background-position: -140px -230px; float: right; display: none; opacity: 0; height: 12px; width: 12px; position: absolute ! important; top: 20px; right: 20px; cursor: pointer; }
.gsc-results-close-btn-visible { display: block; opacity: 1; }
.gsc-results-wrapper-nooverlay {  }
.gsc-results-wrapper-overlay { border: medium none; margin: auto; border-radius: 1px; overflow: auto; height: 80%; box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); border-collapse: separate; background: white none repeat scroll 0% 0%; padding: 30px; width: 70%; position: fixed ! important; top: 5%; left: 12%; opacity: 0; z-index: 100002; visibility: hidden; transition: all 0.25s linear 0s; }
.gsc-results-wrapper-visible { opacity: 1 ! important; visibility: visible ! important; }
.gsc-modal-background-image { position: fixed ! important; top: 0px; left: 0px; height: 130%; width: 100%; z-index: 100001; background-color: white; opacity: 0; display: none; transition: all 0.25s linear 0s; }
.gsc-modal-background-image-visible { opacity: 0.8; display: block; }
.gsc-overflow-hidden { overflow: hidden; }
input.gsc-input { padding: 1px 6px; border: 1px solid rgb(221, 221, 221); width: 99%; }
.gsc-keeper { color: rgb(51, 102, 204); text-decoration: underline; font-size: 13px; cursor: pointer; font-weight: normal; padding-left: 16px; background-repeat: no-repeat; background-position: 1px 3px; background-image: url("blue_check.gif"); }
.gsc-resultsHeader { width: 100%; clear: both; }
.gsc-resultsHeader td.gsc-twiddleRegionCell { width: 75%; }
.gsc-resultsHeader td.gsc-configLabelCell { text-align: right; width: 75%; }
.gsc-resultsHeader .gsc-twiddle { margin-top: 4px; display: inline; cursor: pointer; background-repeat: no-repeat; background-position: 0px 2px; }
.gsc-resultsHeader td.gsc-twiddle-closed div.gsc-twiddle { background-image: url("arrow_close.gif"); }
.gsc-resultsHeader td.gsc-twiddle-opened div.gsc-twiddle { background-image: url("arrow_open.gif"); }
.gsc-resultsHeader .gsc-title { color: rgb(103, 103, 103); margin-right: 10px; padding-left: 14px; display: inline; }
.gsc-resultsHeader .gsc-stats { color: rgb(103, 103, 103); font-size: 11px; font-weight: normal; display: inline; }
.gsc-resultsHeader td.gsc-twiddle-opened .gsc-stats { display: none; }
.gsc-results-selector { display: inline; }
.gsc-resultsHeader td.gsc-twiddle-closed .gsc-results-selector { display: none; }
.gsc-result-selector { cursor: pointer; display: inline; font-size: 13px; padding-left: 13px; background-repeat: no-repeat; background-position: left center; }
.gsc-one-result { background-image: url("one-complex-dark.gif"); }
.gsc-more-results { background-image: url("more-complex-dark.gif"); }
.gsc-all-results { background-image: url("all-complex-dark.gif"); padding-right: 1px; }
.gsc-one-result-active .gsc-one-result { background-image: url("one-complex-light-blue.gif"); }
.gsc-more-results-active .gsc-more-results { background-image: url("more-complex-light-blue.gif"); }
.gsc-all-results-active .gsc-all-results { background-image: url("all-complex-light-blue.gif"); }
.gsc-resultsHeader .gsc-configLabel { color: rgb(103, 103, 103); display: inline; font-size: 11px; cursor: pointer; }
.gsc-resultsHeader td.gsc-configLabelCell span.gsc-twiddle-closed { padding-right: 12px; background-repeat: no-repeat; background-position: center center; background-image: url("settings.gif"); }
.gsc-tabsArea { clear: both; margin-top: 6px; margin-bottom: 8px; }
.gsc-tabsArea .gs-spacer { font-size: 1px; margin-right: 0px; overflow: hidden; }
.gsc-tabsArea .gs-spacer-opera { margin-right: 0px; }
.gsc-tabsAreaInvisible, .gsc-refinementsAreaInvisible, .gsc-refinementBlockInvisible { display: none; }
.gsc-tabHeader { padding-left: 6px; padding-right: 6px; margin-right: 2px; margin-top: 2px; }
.gsc-tabHeader.gsc-tabhActive { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 2px solid rgb(255, 153, 0); color: black; }
.gsc-tabHeader.gsc-tabhInactive { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 2px solid rgb(233, 233, 233); background: rgb(233, 233, 233) none repeat scroll 0% 0%; color: rgb(103, 103, 103); cursor: pointer; }
.gsc-tabData.gsc-tabdActive { display: block; }
.gsc-tabData.gsc-tabdInactive { display: none; }
.gsc-tabData.gsc-tabdActive.gsc-resultsbox-invisible { display: none; }
.gsc-refinementsArea { clear: both; margin-bottom: 4px; padding-left: 8px; border-bottom: 1px solid rgb(233, 233, 233); padding-bottom: 5px; }
.gsc-refinementHeader { margin-right: 2px; padding: 2px 8px 0px; }
.gsc-refinementHeader.gsc-refinementhActive { font-weight: bold; }
.gsc-refinementHeader.gsc-refinementhInactive { text-decoration: underline; cursor: pointer; }
.gsc-tabData .gsc-resultsHeader .gsc-title { display: none; }
.gsc-tabData .gsc-resultsHeader .gsc-stats { display: none; }
.gsc-tabData .gsc-resultsHeader .gsc-results-selector { display: none; }
.gsc-completion-selected { background: rgb(238, 238, 238) none repeat scroll 0% 0%; cursor: default; }
.gsc-completion-selected .gsc-completion-promotion-table { cursor: pointer; }
.gsc-completion-container { font-family: Arial,sans-serif; font-size: 13px; background: white none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217) rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); margin: 0px; }
.gsc-completion-title { color: rgb(0, 0, 204); line-height: normal; white-space: normal; }
.gsc-completion-snippet { line-height: normal; white-space: normal; }
.gsc-completion-container .gsc-completion-icon-cell { width: 42px; height: 42px; padding-right: 10px; }
.gsc-completion-icon { margin-left: auto; margin-right: auto; display: block; border: 1px solid rgb(221, 221, 221); }
.gsc-completion-container .gsc-completion-promotion-table { font-size: inherit; background: inherit; margin: 5px 0px; width: 100%; }
.gsc-resultsbox-visible { display: block; }
.gsc-resultsbox-invisible { display: none; }
.gsc-results { padding-bottom: 2px; width: 99%; }
.gsc-result { margin-bottom: 10px; }
.gsc-result .gs-title { height: 1.4em; overflow: hidden; }
.gsc-result div.gs-watermark { display: none; }
.gsc-results .gsc-result img.gs-ad-marker { display: none; }
.gsc-wrapper { position: relative; display: block; }
.gsc-adBlock { position: relative; display: block; border-bottom: 1px solid rgb(233, 233, 233); margin-bottom: 4px; }
.gsc-adBlock h2 { float: right; margin: 3px 5px 0px; font-weight: normal; font-size: 0.9em; color: rgb(103, 103, 103); }
.gsc-adBlock .gsc-ad { padding-left: 8px; padding-top: 5px; padding-right: 3px; }
.gsc-adBlock .gsc-ad a { font-weight: bolder; color: rgb(0, 0, 204); line-height: 1.4em; }
.gsc-adBlock .gsc-ad cite { font-style: normal; color: green; }
.gsc-adBlock .gsc-ad span { padding-left: 8px; }
.gsc-adBlockNoHeight { height: 0px; }
.gsc-adBlockInvisible { display: none; }
.gsc-adBlockVertical { position: relative; display: block; float: right; clear: right; width: 30%; }
.gsc-adBlockBottom { position: relative; display: block; border-bottom: 1px solid rgb(233, 233, 233); border-top: 1px solid rgb(233, 233, 233); margin-bottom: 4px; }
.gsc-thinWrapper { width: 69%; float: left; overflow: hidden; }
.gsc-adBlockVertical h2 { text-align: center; font-weight: normal; font-size: 0.9em; color: rgb(103, 103, 103); margin-top: 6px; }
.gsc-adBlockVertical .gsc-ad { padding-left: 8px; padding-top: 5px; }
.gsc-adBlockVertical .gsc-ad a { font-weight: bolder; color: rgb(0, 0, 204); line-height: 1.4em; }
.gsc-adBlockVertical .gsc-ad cite { font-style: normal; color: green; display: block; }
.gsc-adBlockVertical .gsc-ad span {  }
div.gsc-config { border: 1px solid rgb(233, 233, 233); margin-top: 0px; margin-bottom: 10px; padding: 2px 6px 6px; }
form.gsc-config { margin-bottom: 0px; }
.gsc-configSetting { margin-top: 6px; }
.gsc-configSetting_Label { color: rgb(103, 103, 103); }
.gsc-configSettingInput { color: rgb(103, 103, 103); border: 1px solid rgb(233, 233, 233); width: 75%; }
.gsc-configSettingCheckbox { color: rgb(103, 103, 103); margin-right: 6px; }
.gsc-configSettingCheckboxLabel { display: inline; color: rgb(103, 103, 103); }
div.gsc-configSettingSubmit { margin-top: 8px; text-align: right; }
input.gsc-configSettingSubmit { display: inline; font-size: 11px; cursor: pointer; }
.gsc-webResult::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.gsc-webResult {  }
.gsc-webResult .gsc-result { margin: 0px; padding: 0.5em 0px; border-bottom: 1px solid rgb(235, 235, 235); }
.gsc-above-wrapper-area { border-bottom: 1px solid rgb(233, 233, 233); padding: 5px 0px; }
.gsc-above-wrapper-area-invisible { display: none; }
.gsc-above-wrapper-area-container { width: 100%; }
.gsc-result-info { text-align: left; color: rgb(103, 103, 103); font-size: 13px; padding-left: 8px; margin: 10px 0px; }
.gsc-result-info-container { text-align: left; }
.gsc-result-info-invisible { display: none; }
.gsc-orderby-container { text-align: right; background: transparent none repeat scroll 0% 0%; }
.gsc-orderby-invisible { display: none; }
.gsc-orderby-label { color: rgb(103, 103, 103); padding: 5px 5px 6px 0px; }
.gsc-getlink-container { padding-left: 5px; padding-top: 1px; width: 45px; }
.gsc-getlink-invisible { display: none; }
.gsc-getlink { width: 5px; }
.gsc-getlink-box { background-color: rgb(245, 245, 245); border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); color: rgb(68, 68, 68); cursor: default; font-size: 11px; font-weight: bold; height: 27px; line-height: 27px; max-width: 90%; min-width: 10px; outline: 0px none; padding: 0px 28px 0px 6px; position: relative; text-align: center; }
.gsc-control-cse .gsc-getlink-textbox { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); cursor: default; margin: 0px; max-height: 360px; outline: medium none; padding: 10px; position: absolute; right: 20px; z-index: 7; width: auto; }
.gsc-getlink-inputbox { width: 300px; margin-top: 5px; }
.gsc-getlink-label { width: 100%; font-size: 14px; }
.gsc-getlink-image { height: 29px; }
.gsc-getlink-text-invisible { display: none; }
.gsc-selected-option-container { background-color: transparent; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); color: rgb(68, 68, 68); cursor: default; font-size: 11px; font-weight: bold; height: 27px; line-height: 27px; max-width: 90%; min-width: 54px; outline: 0px none; padding: 0px 28px 0px 6px; position: relative; text-align: center; }
.gsc-selected-option { position: relative; width: 100%; }
.gsc-control-cse .gsc-option-selector { border: medium none; height: 11px; margin-top: -4px; position: absolute; right: 5px; top: 12px; width: 7px; padding: 0px 5px; background: transparent url("small-grey-disclosure-arrow-down.png") no-repeat scroll center center; }
.gsc-option-menu-invisible { display: none; }
.gsc-control-cse .gsc-option-menu-container { color: rgb(0, 0, 0); font-size: 80%; position: relative; }
.gsc-control-cse .gsc-option-menu { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); cursor: default; font-size: 13px; margin: 0px; max-height: 360px; outline: medium none; padding: 6px 0px; position: absolute; right: 0px; top: 0px; z-index: 7; }
.gsc-option-menu-item { color: rgb(119, 119, 119); cursor: pointer; list-style: outside none none; margin: 0px; padding: 0px 30px; white-space: nowrap; }
.gsc-option-menu-item-highlighted { background-color: rgb(238, 238, 238); border-color: rgb(238, 238, 238); border-width: 1px 0px; color: rgb(51, 51, 51); }
.gsc-option { cursor: pointer; list-style: outside none none; white-space: nowrap; line-height: 27px; text-align: left; }
.gs-web-image-box, .gs-promotion-image-box { float: left; padding: 2px 8px 2px 0px; margin-right: 0px; margin-left: 0px; text-align: center; width: 62px; }
.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image { border: 1px solid rgb(226, 226, 226); max-width: 60px; max-height: 120px; }
div.gs-action { display: inline; margin-right: 0.6em; }
div.gs-action a.gs-action { color: rgb(119, 119, 204); }
div.gs-action.cart a.gs-action, div.gs-action.star a.gs-action, div.gs-action.rss a.gs-action, div.gs-action.download a.gs-action, div.gs-action.email a.gs-action, div.gs-action.mobile a.gs-action, div.gs-action.share a.gs-action, div.gs-action.fullscreen a.gs-action, div.gs-action.generic a.gs-action, div.gs-action.link a.gs-action { padding-left: 18px; background: transparent url("action_icons_sprite.gif") no-repeat scroll 0% 0%; }
div.gs-action.cart a.gs-action { background-position: 0px 0px; }
div.gs-action.star a.gs-action { background-position: -16px -34px; }
div.gs-action.rss a.gs-action { background-position: -48px -98px; }
div.gs-action.download a.gs-action { background-position: -64px -128px; }
div.gs-action.email a.gs-action { background-position: -112px -224px; }
div.gs-action.mobile a.gs-action { background-position: -131px -257px; }
div.gs-action.share a.gs-action { background-position: -32px -64px; }
div.gs-action.fullscreen a.gs-action { background-position: -79px -162px; }
div.gs-action.generic a.gs-action { background-position: -144px -290px; }
div.gs-action.link a.gs-action { background-position: -159px -321px; }
.gsc-imageResult .gs-imageResult .gs-text-box .gs-ellipsis { overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap; }
.gsc-imageResult { float: left; margin-bottom: 1em; margin-right: 20px; }
.gsc-imageResult-column { margin-right: 70px; }
.gs-imageResult { overflow: hidden; }
.gs-imageResult .gs-image-box { height: 86px; position: relative; }
.gs-imageResult .gs-text-box { text-align: center; overflow: hidden; height: 4em; }
.gs-imageResult div.gs-title, .gs-imageResult .gs-snippet, .gs-imageResult .gs-visibleUrl, .gs-imageResult .gs-visibleUrl-short, .gs-imageResult .gs-spelling { padding: 0px; }
.gs-imageResult .gs-snippet { overflow: hidden; line-height: 1em; white-space: nowrap; }
.gs-imageResult .gs-visibleUrl { overflow: hidden; line-height: 1.3em; height: 1.3em; }
.gs-imageResult .gs-size { color: rgb(111, 111, 111); }
.gs-imageResult .gs-image-box { text-align: center; }
.gs-imageResult .gs-image-box img.gs-image { border: medium none; }
.gs-imageResult-classic .gs-text-box .gs-title { display: none; }
.gs-imageResult-column { width: 474px; height: 84px; }
.gs-imageResult-column .gs-image-box { float: left; margin-right: 10px; text-align: left; }
.gs-imageResult-column .gs-text-box { float: left; width: 350px; height: 86px; }
.gsc-imageResult-column .gs-imageResult-column .gs-text-box .gs-title { height: auto; text-align: left; white-space: normal; overflow: hidden; text-overflow: ellipsis; }
.gs-imageResult-column .gs-text-box .gs-size { display: none; }
.gsc-imageResult.gsc-imageResult-popup, .gsc-results .gsc-imageResult-popup:hover { margin: 0px; padding: 0px; border: 0px none; }
.gsc-imageResult .gs-imageResult-popup { width: auto; overflow: visible; position: relative; }
.gs-imageResult-popup .gs-image-thumbnail-box { padding: 5px; }
.gs-imageResult-popup .gs-image-box { width: auto; }
.gs-imageResult-popup .gs-image-popup-box { width: auto; position: absolute; padding: 10px; background: white none repeat scroll 0% 0%; left: 0px; top: 0px; border: 1px solid rgb(221, 221, 221); box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); display: none; }
.gs-imageResult-popup .gs-image-popup-box .gs-image-box { height: auto; width: auto; margin-bottom: 10px; }
.gs-imageResult-popup .gs-image-popup-box .gs-text-box { height: auto; width: auto; }
.gs-imageResult-popup .gs-text-box .gs-title { display: none; }
.gsc-videoResult .gs-videoResult .gs-title { line-height: 1.3em; height: 1.3em; overflow: hidden; }
.gsc-videoResult .gs-videoResult .gs-snippet { line-height: 1.3em; max-height: 2.6em; overflow: hidden; }
.gsc-imageResult .gsc-trailing-more-results { clear: both; }
.gsc-results .gsc-trailing-more-results { margin-bottom: 10px; }
.gsc-results .gsc-trailing-more-results, .gsc-results .gsc-trailing-more-results * { color: rgb(0, 0, 204); text-decoration: underline; }
.gsc-imageResult .gsc-cursor-box { clear: both; }
.gsc-results .gsc-cursor-box .gsc-trailing-more-results { margin-bottom: 0px; display: inline; }
.gsc-results .gsc-cursor { display: inline; }
.gsc-results .gsc-cursor-box { margin-bottom: 10px; }
.gsc-results .gsc-cursor-box .gsc-cursor-page { cursor: pointer; color: rgb(0, 0, 0); text-decoration: underline; margin-right: 8px; display: inline; }
.gsc-results .gsc-cursor-box .gsc-cursor-current-page { cursor: default; color: rgb(169, 10, 8); font-weight: bold; text-decoration: none; }
.gs-result .gs-title, .gs-result .gs-title * { color: rgb(0, 0, 204); text-decoration: underline; }
.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * { font-size: 16px; }
.gsc-control-cse .gs-result .gs-spelling-original { font-size: 13px; }
.gs-divider { padding-bottom: 8px; text-align: center; color: rgb(103, 103, 103); }
.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl { color: rgb(0, 128, 0); text-decoration: none; }
.gs-relativePublishedDate, .gs-publishedDate { color: rgb(111, 111, 111); text-decoration: none; }
.gs-result a.gs-clusterUrl, .gs-result .gs-clusterUrl { color: rgb(0, 128, 0); text-decoration: underline; cursor: pointer; }
.gs-newsResult .gs-publisher { color: rgb(111, 111, 111); display: inline; text-decoration: none; }
.gs-newsResult .gs-relativePublishedDate, .gs-newsResult .gs-publishedDate { display: inline; margin-left: 4px; }
.gs-blogResult .gs-relativePublishedDate, .gs-newsResult .gs-relativePublishedDate { display: none; }
.gsc-blogResult .gs-blogResult .gs-publishedDate, .gsc-newsResult .gs-newsResult .gs-publishedDate { display: none; }
.gsc-blogResult .gs-blogResult .gs-relativePublishedDate, .gsc-newsResult .gs-newsResult .gs-relativePublishedDate { display: inline; }
.gs-newsResult .gs-location { color: rgb(111, 111, 111); display: inline; text-decoration: none; }
.gs-promotion .gs-title, .gs-promotion .gs-title * { text-decoration: none; }
.gs-promotion a.gs-title, .gs-promotion a.gs-title * { text-decoration: underline; }
.gs-title .gs-promotion-title-right { color: rgb(0, 0, 0); }
.gsc-webResult.gsc-result.gsc-promotion { background-color: rgb(255, 255, 255); }
span.gs-fileFormat { color: rgb(102, 102, 102); font-size: 12px; }
span.gs-fileFormatType { font-size: 12px; }
.gs-promotion table { border: 0px none; border-spacing: 0px; margin: 0px; padding: 0px; }
.gs-promotion table .gs-snippet a span.gs-title, .gs-promotion table .gs-snippet a span.gs-title * { font-size: 13px; }
.gs-promotion em { font-style: normal; font-weight: bold; }
.gs-promotion .gs-title em { color: inherit; text-decoration: inherit; }
.gs-result img.gs-image, .gs-result img.gs-promotion-image { vertical-align: middle; border: 1px solid rgb(226, 226, 226); }
.gs-result div.gs-phone {  }
.gs-result .gs-directions, .gs-result .gs-directions * { color: rgb(119, 119, 204); font-weight: normal; text-decoration: underline; cursor: pointer; }
.gs-secondary-link, .gs-secondary-link * { color: rgb(119, 119, 204); font-weight: normal; text-decoration: underline; cursor: pointer; }
.gs-result .gs-directions-to-from { display: none; margin-top: 4px; }
.gs-result .gs-directions-to-from .gs-label { display: inline; margin-right: 4px; }
.gs-result .gs-directions-to-from div.gs-secondary-link { display: inline; }
.gs-result .gs-directions-to-from .gs-spacer { display: inline; margin-right: 3px; margin-left: 3px; }
.gs-videoResult a.gs-publisher, .gs-videoResult .gs-publisher { color: rgb(0, 128, 0); text-decoration: none; }
.gs-result a { cursor: pointer; }
.gs-result .gs-address {  }
.gs-result .gs-snippet {  }
.gsc-loading-fade .gsc-result-info, .gsc-loading-fade .gsc-loading-resultsRoot, .gsc-loading-resultsRoot, .gsc-loading-fade .gsc-loading-refinementsArea, .gsc-loading-fade .gsc-adBlock, .gsc-loading-fade .gsc-adBlockVertical, .gsc-loading-fade .gsc-adBlockNoHeight { opacity: 0.333; }
.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet { padding: 5px; margin: 5px; border: 1px solid rgb(255, 204, 51); background-color: rgb(255, 244, 194); }
.gs-result .gs-watermark { font-size: 10px; color: rgb(119, 119, 204); }
div.gs-results-attribution { text-align: center; margin-bottom: 4px; }
div.gs-results-attribution, div.gs-results-attribution * { font-size: 10px; color: rgb(103, 103, 103); text-decoration: none; }
div.gs-results-attribution a { color: rgb(0, 0, 204); cursor: pointer; }
div.gs-results-attribution a:hover { text-decoration: underline; }
.gs-result .gs-metadata { color: rgb(103, 103, 103); }
.gs-localAd img.gs-ad-marker, .gs-webAd img.gs-ad-marker { padding-left: 4px; }
.gs-webResult div.gs-visibleUrl-long, .gs-promotion div.gs-visibleUrl-long { overflow: hidden; display: none; }
.gs-webResult div.gs-per-result-labels a.gs-label { text-decoration: underline; cursor: pointer; padding: 3px; color: black; }
.gs-webResult div.gs-per-result-labels a.gs-label.gs-labelActive { cursor: default; text-decoration: none; }
.gs-localAd div.gs-address * { color: rgb(103, 103, 103); }
.gs-localAd div.gs-street { display: inline; }
div.gs-city { display: inline; }
div.gs-region { display: inline; }
div.gs-country { display: none; }
div.gs-infoWindow * { font-size: 11px; }
.gs-videoResult * { font-size: 13px; }
.gs-videoResult td div.gs-image-box { width: 110px; height: 78px; }
.gs-videoResult td div.gs-text-box { vertical-align: top; margin-left: 4px; }
div.gs-book-image-box td, .gs-bookResult td { vertical-align: top; }
div.gs-book-image-box, div.gs-book-image-box div { position: static; text-align: start; }
div.gs-book-image-box { width: 75px; height: 90px; }
.gs-bookResult td div.gs-text-box { vertical-align: top; margin-left: 4px; }
div.gs-book-image-box img { border-spacing: 0px; border: medium none; }
div.gs-book-image-box div.gs-row-1 { line-height: 7px; }
div.gs-book-image-box img.gs-pages { height: 7px; width: 45px; }
div.gs-book-image-box img.gs-page-edge { height: 7px; width: 11px; }
div.gs-book-image-box div.gs-row-2 {  }
div.gs-book-image-box img.gs-image { height: 80px; border: 1px solid rgb(160, 160, 160); }
.gs-bookResult .gs-author { display: inline; color: rgb(111, 111, 111); }
.gs-bookResult .gs-publishedDate { display: inline; }
.gs-bookResult .gs-pageCount { display: inline; color: rgb(111, 111, 111); margin-left: 4px; }
.gs-bookResult .gs-id {  }
.gs-patentResult td { vertical-align: top; }
.gs-patentResult .gs-patent-number, .gs-patentResult .gs-publishedDate, .gs-patentResult .gs-author { display: inline; }
.gs-patentResult .gs-image-box { padding-right: 8px; }
.gs-patentResult img.gs-image { border: 1px solid rgb(119, 119, 204); }
.gs-spelling a { color: rgb(0, 0, 204); cursor: pointer; text-decoration: underline; }
.gsc-control-cse::after { content: "."; display: block; clear: both; height: 0px; visibility: hidden; }
.gs-bidi-start-align { text-align: left; }
.gs-bidi-end-align { text-align: right; }
.gsc-control-cse-zh_CN .gs-snippet b, .gsc-control-cse-zh_CN .gs-promotion em, .gsc-control-cse-zh_TW .gs-snippet b, .gsc-control-cse-zh_TW .gs-promotion em { color: rgb(204, 0, 51); font-style: normal; font-weight: normal; }
.gsc-snippet-metadata { color: rgb(118, 118, 118); vertical-align: top; }
.gsc-role { color: rgb(118, 118, 118); }
.gsc-tel { color: rgb(118, 118, 118); }
.gsc-org { color: rgb(118, 118, 118); }
.gsc-location { color: rgb(118, 118, 118); }
.gsc-rating-bar { vertical-align: top; display: inline-block; width: 64px; height: 12px; background: transparent url("cse_snippets_stars.png") no-repeat scroll -65px 0px; overflow: hidden; margin: 2px 0px 0px; }
.gsc-rating-bar span { vertical-align: top; display: inline-block; height: 12px; background: transparent url("cse_snippets_stars.png") no-repeat scroll 0px 0px; padding: 2px 0px 0px; }
.gsc-review-agregate-first-line { margin: 0px 40px 0px 0px; padding: 6px 0px; }
.gsc-review-agregate-odd-lines, .gsc-review-agregate-even-lines { margin: 0px 40px 0px 0px; padding: 6px 0px; border-top: 1px solid rgb(235, 235, 235); }
.gsc-reviewer { color: rgb(0, 0, 204); }
.gsc-author { color: rgb(0, 0, 204); }
.gsc-table-result, .gs-promotion-table { border-spacing: 0px; }
.gsc-table-cell-thumbnail, .gs-promotion-image-cell { vertical-align: top; }
.gsc-table-cell-snippet-close, .gs-promotion-text-cell { vertical-align: top; width: 100%; }
.gsc-table-cell-snippet-open { vertical-align: top; width: 100%; }
.gsc-preview-reviews li { list-style: outside none none; width: 90%; }
.gsc-zippy { margin: 2px 8px 0px 0px; float: right; outline: medium none; overflow: hidden; height: 14px; width: 14px; background-position: -19px -5px; position: relative; top: -6px; }
.gsc-table-cell-snippet-close .gsc-preview-reviews { display: none; }
.gsc-table-cell-snippet-close .gsc-zippy { background: transparent url("plus_icons.png") no-repeat scroll -19px -5px; }
.gsc-table-cell-snippet-open .gsc-zippy { background: transparent url("minus_icons.png") no-repeat scroll -19px -5px; }
.gsc-collapsable { cursor: pointer; }
html > body .gsc-inline-block { display: inline-block; }
.gsc-inline-block { position: relative; display: inline-block; }
* html .gsc-inline-block { display: inline; }
:first-child + html .gsc-inline-block { display: inline; }
.gsc-url-top { display: none; }
.gsc-url-bottom { display: block; }
.gsc-thumbnail-left { display: block; }
.gsc-thumbnail-inside { display: none; }
.gsc-label-result-main-box-visible { position: fixed ! important; z-index: 100003; opacity: 1; display: block; margin: auto; box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); border-collapse: separate; background: white none repeat scroll 0% 0%; padding: 30px; width: 28%; top: 30%; left: 35%; border: 1px solid rgba(0, 0, 0, 0.333); }
.gsc-label-result-main-box-invisible { display: none; opacity: 0; transition: all 0.25s linear 0s; }
.gsc-label-result-url { padding-bottom: 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%; color: rgb(0, 128, 0); margin-top: 5px; font-size: 13px; }
.gsc-label-result-url-title { white-space: nowrap; margin-top: 10px; font-size: 15px; color: rgb(0, 0, 204); text-decoration: underline; text-overflow: ellipsis; overflow: hidden; display: block; }
.gsc-label-result-url-heading { margin-bottom: 15px; }
.gsc-label-result-labels { vertical-align: text-top; font-size: 13px; color: rgb(0, 0, 0); }
.gsc-label-checkbox {  }
.gsc-label-box { margin-top: 5px; }
.gsc-labels-box { margin-top: 15px; }
.gsc-label-result-buttons { margin-top: 20px; }
.gsc-labels-no-label-div-visible { margin-top: 20px; }
.gsc-labels-no-label-div-invisible { display: none; }
.gsc-labels-label-div-visible { margin-top: 10px; }
.gsc-labels-label-div-invisible { display: none; }
.gsc-label-result-form-label { margin-right: 20px; margin-left: 2px; font-size: 13px; color: rgb(0, 0, 0); vertical-align: text-top; }
.gsc-label-result-form-div { margin-top: 5px; }
input.gsc-label-result-label-prefix-visible { width: 90%; height: 20px; margin-top: 10px; }
input.gsc-label-result-label-prefix-invisible { display: none; }
.gsc-label-result-label-prefix-error { color: red; margin-top: 10px; }
.gsc-label-result-label-prefix-error-invisible { display: none; }
.gsc-label-result-heading { font-size: 17px; color: black; }
.gsc-result-label-button { background-color: rgb(245, 245, 245); font-weight: bold; border-radius: 2px; text-align: center; padding: 0px 8px; height: 29px; border: 1px solid rgba(0, 0, 0, 0.1); color: rgb(68, 68, 68); margin-right: 10px; width: 72px; }
.gsc-result-label-save-button { color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(53, 122, 232)); }
.gsc-add-label-error { color: red; padding-top: 20px; }
.gsc-add-label-error-invisible { display: none; }
.gsc-label-results-close-btn-visible { display: block; opacity: 0.7; }
.gsc-label-result-saving-popup { font-size: 13px; transition: opacity 218ms ease 0s; border-width: 1px; height: 14px; opacity: 1; padding: 6px 16px; background-color: rgb(249, 237, 190); border-color: rgb(240, 195, 109); color: rgb(51, 51, 51); position: fixed ! important; top: 10%; left: 45%; border-style: solid; border-radius: 2px; }
.gsc-label-result-saving-popup-invisible { display: none; }
.gsc-richsnippet-popup-box { position: fixed ! important; z-index: 100003; opacity: 1; display: block; border: medium none; margin: auto; box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); border-collapse: separate; background: white none repeat scroll 0% 0%; top: 15%; left: 25%; overflow-x: hidden; overflow-y: auto; height: 65%; width: 50%; padding: 30px 30px 10px; }
.gsc-richsnippet-popup-box-invisible { display: none; }
.gsc-richsnippet-showsnippet-label { color: rgb(0, 0, 153); text-decoration: underline; cursor: pointer; font-size: 13px; }
.gsc-richsnippet-individual-snippet-box { border: 1px solid rgb(235, 235, 235); padding: 15px; margin-bottom: 20px; }
.gsc-richsnippet-individual-snippet-key { font-size: 14px; padding: 1px 0px 6px; color: rgb(0, 0, 153); }
.gsc-richsnippet-individual-snippet-data {  }
.gsc-richsnippet-popup-box-title { padding-bottom: 20px; font-size: 15px; }
.gsc-richsnippet-popup-box-title-text { color: rgb(64, 64, 64); display: inline; }
.gsc-richsnippet-popup-box-title-url { font-weight: bold; color: black; display: inline; }
.gsc-richsnippet-individual-snippet-keyvalue {  }
.gsc-richsnippet-individual-snippet-keyelem { display: inline; font-weight: bold; }
.gsc-richsnippet-individual-snippet-valueelem { display: inline-block; height: 1.1em; width: 80%; text-overflow: ellipsis; overflow: hidden; }
.gsc-richsnippet-popup-close-button { background-image: url("nav_logo114.png"); background-repeat: no-repeat; background-position: -140px -230px; float: right; height: 12px; width: 12px; top: 20px; right: 20px; cursor: pointer; }
.gsc-richsnippet-popup-box-contents { overflow-x: hidden; overflow-y: auto; height: 88%; }
