.pl-category {
	color: rgb(89, 89, 90) !important; font-weight: normal !important;
}
a.pl-title {
	text-transform: none !important; font-weight: normal !important; text-decoration: underline;
}
ul.pl_handles li a {
	margin-top: -10px !important; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;
}
.well._color1 .pl-title {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color2 .pl-title {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color3 .pl-title {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color4 .pl-title {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color5 .pl-title {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color1 .pl-category {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color2 .pl-category {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color3 .pl-category {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color4 .pl-category {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.well._color5 .pl-category {
	color: rgb(255, 255, 255) !important; text-decoration: underline;
}
.pl-cs .pl-inner a {
	text-decoration: underline !important;
}
#login_register_module {
	
}
#login_register_module .plus-userpanel {
	
}
#login_register_module .plus-button a {
	color: rgb(204, 204, 204); font-size: 10pt; font-weight: normal; text-decoration: underline;
}
#login_register_module .plus-button a:hover {
	text-decoration: none;
}
.plus-accordion-default > .plus-toggler span.plus-title {
	padding-left: 0px !important;
}
.plus-element {
	margin-top: 10px;
}
.plus-element h4 {
	display: none !important;
}
