#hor_nav select {
	display: none;
}
#hor_nav {
	margin-bottom: -4px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; display: inline-block; position: relative; min-height: 46px; background-image: url("../images/menu_img/nav_bg_default.png"); background-repeat: repeat;
}
#hor_nav {
	width: 100%;
}
#hor_nav ul {
	margin: 0px;
}
#hor_nav li {
	background-position: right; list-style: none; height: 46px; padding-left: 0px; margin-right: 0px; float: left; position: relative; background-image: none; background-repeat: inherit;
}
#hor_nav li a {
	background-position: right; padding: 0px 15px; color: rgb(255, 255, 255); text-transform: inherit; line-height: 46px; font-size: 15px; font-weight: inherit; border-right-color: currentColor; border-right-width: 0px; border-right-style: none; display: block; background-image: none; background-repeat: repeat-x;
}
#hor_nav li.active a {
	background-position: right; color: inherit; background-image: none; background-repeat: no-repeat; background-color: transparent;
}
#hor_nav .active.first a {
	
}
#hor_nav li a:hover {
	background: rgb(46, 46, 46); color: rgb(102, 102, 102); text-decoration: none;
}
#hor_nav li:hover a {
	background: rgb(46, 46, 46); color: rgb(102, 102, 102); text-decoration: none;
}
#hor_nav li.sfHover a {
	background: rgb(46, 46, 46); color: rgb(102, 102, 102); text-decoration: none;
}
#hor_nav li ul {
	border: 0px currentColor; border-image: none; left: -999em; width: auto; margin-left: -1px; position: absolute; z-index: 20000;
}
#hor_nav li ul ul {
	margin: -31px 0px 0px 100%;
}
#hor_nav li:hover ul ul {
	left: -999em;
}
#hor_nav li:hover ul ul ul {
	left: -999em;
}
#hor_nav li:hover ul ul ul ul {
	left: -999em;
}
#hor_nav li.sfHover ul ul {
	left: -999em;
}
#hor_nav li.sfHover ul ul ul {
	left: -999em;
}
#hor_nav li.sfHover ul ul ul ul {
	left: -999em;
}
#hor_nav li li {
	background: rgb(255, 255, 255); padding: 0px; width: auto; height: auto; white-space: nowrap; z-index: 1100; min-width: 100%;
}
#hor_nav li li a {
	background: inherit; margin: 0px; height: 30px; color: rgb(255, 255, 255); line-height: 30px;
}
#hor_nav li li.active a {
	background: inherit; margin: 0px; height: 30px; color: rgb(255, 255, 255); line-height: 30px;
}
#hor_nav li li a:hover {
	background: inherit; margin: 0px; height: 30px; color: rgb(255, 255, 255); line-height: 30px;
}
#hor_nav li li a {
	font-weight: normal;
}
#hor_nav li.active li a {
	font-weight: normal;
}
#hor_nav li:hover ul {
	left: 1px;
}
#hor_nav li.sfHover ul {
	left: 1px;
}
#hor_nav li li:hover ul {
	left: 0px;
}
#hor_nav li li li:hover ul {
	left: 0px;
}
#hor_nav li li li li:hover ul {
	left: 0px;
}
#hor_nav li li.sfHover ul {
	left: 0px;
}
#hor_nav li li li.sfHover ul {
	left: 0px;
}
#hor_nav li li li li.sfHover ul {
	left: 0px;
}
#hor_nav .deeper.parent .dropdown-toggle .caret {
	margin-top: 22px; margin-left: 3px; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
#hor_nav .deeper.parent ul li {
	border-radius: 0px;
}
