.btn-primary {
	background-position: left top; border: 1px solid rgb(187, 187, 187) !important; border-image: none !important; background-image: url("../images/button.png") !important; background-repeat: repeat-x; background-color: transparent;
}
.btn-primary:hover {
	border: 1px solid rgb(187, 187, 187) !important; border-image: none !important; background-image: none; background-color: rgb(153, 153, 153);
}
.readmore .btn {
	border: 1px solid rgb(187, 187, 187) !important; border-image: none !important;
}
.dropdown-menu > li > a:hover {
	background-image: none !important;
}
.dropdown-menu > li > a:focus {
	background-image: none !important;
}
.dropdown-submenu:hover > a {
	background-image: none !important;
}
.dropdown-submenu:focus > a {
	background-image: none !important;
}
.pagenav li a {
	border-radius: 5px !important;
}
.page-header h2 a {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important;
}
#CalendarTable {
	
}
#CalendarTable #Header {
	border: 1px solid rgb(192, 192, 192); border-image: none; height: 30px; text-align: left; color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; background-color: rgb(75, 176, 70);
}
#CalendarTable td {
	border: 1px solid rgb(192, 192, 192); border-image: none;
}
#CalendarTable tr {
	height: 30px;
}
#HagenbachHeader {
	color: rgb(75, 176, 70); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold;
}
.VariableImage {
	width: auto; height: auto; max-width: 100%;
}
