@media all and (max-width:290px)
{
#search_module .search .inputbox {
	max-width: 50px !important;
}
}
@media all and (max-width:480px)
{
#search_module {
	float: right !important;
}
#slide_panel {
	display: none !important;
}
.camera_caption > div {
	font-size: 12px !important;
}
}
@media all and (max-width:767px)
{
#side_tabs {
	display: none;
}
#wrapper_fullscreen {
	margin-right: 1% !important; margin-left: 1% !important;
}
.module-panel {
	display: none;
}
#hor_nav ul {
	display: none;
}
#hor_nav select {
	background-position: right; border: 0px currentColor; border-image: none; width: 100%; height: 50px; color: rgb(51, 51, 51); text-transform: uppercase; padding-left: 20px; font-size: 9pt; font-weight: bold; margin-bottom: 0px; display: inline-block; min-height: 50px; background-image: url("../images/menu_img/rs_arrow.png"); background-repeat: no-repeat; background-color: transparent;
}
#plus-login-panel {
	width: 200px !important;
}
#plus-register-panel {
	width: 280px !important;
}
#plus-logout-panel {
	width: 300px !important;
}
#login_module .inputbox {
	width: 100px !important;
}
#plus-member-registration input {
	width: 100px !important;
}
}
@media all and (max-width:979px)
{
#wrapper_fullscreen {
	margin-right: 3% !important; margin-left: 3% !important;
}
#well_inner #search_module .search .inputbox {
	width: 105px !important;
}
#well_inner #search_module .search .inputbox:focus {
	width: 105px !important;
}
#wowslider-container1 .ws_images img {
	height: 200px !important;
}
}
