#wowslider-container1 {
	margin: 0px auto; border: 2px solid rgb(255, 255, 255); border-image: none; text-align: left; font-size: 10px; position: relative; z-index: 90; -ms-zoom: 1;
}
* html #wowslider-container1 {
	width: 960px;
}
#wowslider-container1 .ws_images ul {
	list-style: none; margin: 0px; padding: 0px; left: 0px; width: 10000%; height: auto; overflow: visible; position: relative; border-spacing: 0;
}
#wowslider-container1 .ws_images ul li {
	margin: 0px !important; padding: 0px !important; width: 1%; line-height: 0; font-size: 0px; float: left;
}
#wowslider-container1 .ws_images {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; position: relative;
}
#wowslider-container1 .ws_images a {
	width: 100%; color: transparent; display: block;
}
#wowslider-container1 img {
	max-width: none !important;
}
#wowslider-container1 .ws_images img {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; max-width: none;
}
#wowslider-container1 a {
	border: currentColor; border-image: none; text-decoration: none;
}
#wowslider-container1 .ws_bullets {
	font-size: 0px; float: left; position: absolute; z-index: 70;
}
#wowslider-container1 .ws_bullets div {
	float: left; position: relative;
}
#wowslider-container1 .wsl {
	display: none;
}
#wowslider-container1 sound {
	position: absolute;
}
#wowslider-container1 object {
	position: absolute;
}
#wowslider-container1 .ws_photoItem {
	border: 2em solid rgb(255, 255, 255); border-image: none; margin-top: -2em; margin-left: -2em;
}
#wowslider-container1 .ws_bullets {
	padding: 3px 0px;
}
#wowslider-container1 .ws_bullets a {
	background: url("./bullet.png") left top; width: 14px; height: 14px; color: transparent; text-indent: -4000px; margin-left: 4px; float: left; position: relative;
}
#wowslider-container1 .ws_bullets a:hover {
	background-position: 0px 100%;
}
#wowslider-container1 .ws_bullets a.ws_selbull {
	background-position: 0px 100%;
}
#wowslider-container1 a.ws_next {
	top: 50%; width: 2.6em; height: 4.6em; margin-top: -2.3em; display: none; position: absolute; z-index: 60; background-image: url("./arrows.png"); background-size: 200%;
}
#wowslider-container1 a.ws_prev {
	top: 50%; width: 2.6em; height: 4.6em; margin-top: -2.3em; display: none; position: absolute; z-index: 60; background-image: url("./arrows.png"); background-size: 200%;
}
#wowslider-container1 a.ws_next {
	background-position: 100% 0px; right: 3px;
}
#wowslider-container1 a.ws_prev {
	background-position: 0px 0px; left: 3px;
}
#wowslider-container1 a.ws_next:hover {
	background-position: 100% 100%;
}
#wowslider-container1 a.ws_prev:hover {
	background-position: 0px 100%;
}
* html #wowslider-container1 a.ws_next {
	display: block;
}
* html #wowslider-container1 a.ws_prev {
	display: block;
}
#wowslider-container1:hover a.ws_next {
	display: block;
}
#wowslider-container1:hover a.ws_prev {
	display: block;
}
#wowslider-container1 .ws_playpause {
	top: 10px; width: 2.4em; height: 3.2em; right: 10px; margin-top: 0.2em; margin-left: -0.6em; display: block; position: absolute; z-index: 59; background-size: 100%;
}
#wowslider-container1:hover .ws_playpause {
	display: block;
}
#wowslider-container1 .ws_pause {
	background-image: url("./pause.png");
}
#wowslider-container1 .ws_play {
	background-image: url("./play.png");
}
#wowslider-container1 .ws_pause:hover {
	background-position: 100% 100% !important;
}
#wowslider-container1 .ws_play:hover {
	background-position: 100% 100% !important;
}
#wowslider-container1 .ws_bullets {
	right: 20px; bottom: -2px;
}
#wowslider-container1 .ws-title {
	background: rgb(255, 255, 255); padding: 1em; color: rgb(85, 85, 85); line-height: 2.2em; font-weight: normal; display: block; position: absolute; z-index: 50; text-shadow: none;
}
#wowslider-container1 .ws-title div {
	line-height: 1.4em; font-size: 1.5em; margin-top: 0.15em;
}
#wowslider-container1 .ws-title span {
	color: rgb(64, 68, 73); font-size: 2.2em;
}
#wowslider-container1 .ws_images ul {
	animation:wsBasic 8s infinite; -webkit-animation: wsBasic 8s infinite; -moz-animation: wsBasic 8s infinite;
}
#wowslider-container1 {
	box-shadow: 0px 0px 2px rgba(100,100,100,0.7); -webkit-box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.7); -moz-box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.7);
}
#wowslider-container1 .ws_bullets a img {
	border: 4px solid rgb(255, 255, 255); border-image: none; left: -64px; bottom: 20px; text-indent: 0px; display: block; visibility: hidden; position: absolute; max-width: none; box-shadow: 0px 0px 3px rgba(100,100,100,0.7); -webkit-box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.7); -moz-box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.7);
}
#wowslider-container1 .ws_bullets a:hover img {
	visibility: visible;
}
#wowslider-container1 .ws_bulframe div div {
	height: 48px; overflow: visible; position: relative;
}
#wowslider-container1 .ws_bulframe div {
	left: 0px; width: 128px; overflow: hidden; position: relative; background-color: rgb(255, 255, 255);
}
#wowslider-container1 .ws_bullets .ws_bulframe {
	border: 4px solid rgb(255, 255, 255); border-image: none; bottom: 20px; overflow: visible; display: none; position: absolute; cursor: pointer; box-shadow: 0px 0px 3px rgba(100,100,100,0.7); -webkit-box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.7); -moz-box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.7);
}
#wowslider-container1 .ws_bulframe span {
	background: url("./triangle.png"); left: 64px; width: 15px; height: 8px; bottom: -12px; margin-left: -4px; display: block; position: absolute;
}
