#layouts_header {
	padding-top: 10px; padding-right: 0px; padding-left: 0px; background-color: inherit;
}
#layouts_content {
	background-color: rgb(255, 255, 255);
}
#layouts_content .row-fluid {
	width: 98%; padding-top: 10px; padding-bottom: 10px; margin-right: auto; margin-left: auto;
}
#layouts_footer {
	padding-top: 10px; padding-bottom: 10px;
}
#layouts_footer .moduletable {
	padding: 10px;
}
.container_nav_outer {
	padding-top: 20px; padding-right: 10px; padding-left: 10px;
}
#slide_panel {
	float: right;
}
