body {
	color: rgb(51, 51, 51); padding-top: 15px; padding-bottom: 30px;
}
#wrapper_fullscreen {
	padding-top: 0px; padding-bottom: 0px; margin-right: 8%; margin-left: 8%;
}
#wrapper_static {
	margin: 0px auto; padding-top: 0px; padding-bottom: 10px; max-width: 960px;
}
#wrapper_inner {
	margin: 0px auto;
}
.container {
	border: 0px currentColor; border-image: none; margin-right: auto; margin-bottom: 0px; margin-left: auto; max-width: 960px;
}
.row-fluid {
	margin: 0px auto; width: 100%;
}
.container-fluid {
	padding-right: 0px; padding-left: 0px; margin-bottom: 0px;
}
#content {
	padding: 0px; margin-bottom: 0px;
}
.container_top_outer {
	margin-bottom: 10px; min-height: 70px; background-color: transparent;
}
.container_top_outer .container {
	background-color: transparent;
}
.container_top_outer .container-fluid {
	background-color: transparent;
}
.container_header_outer_top {
	
}
.container_header_outer_top .container {
	
}
.container_header_outer_top .container-fluid {
	
}
#top-menu2 {
	float: right;
}
#top-menu2 a {
	
}
#top-menu2 ul {
	margin: 0px; line-height: normal; padding-bottom: 5px;
}
#top-menu2 li {
	margin: 0px; padding: 0px; display: inline;
}
#top-menu2 li a {
	padding: 0px 10px; line-height: normal; text-decoration: underline; display: inline;
}
#top-menu2 li a:hover {
	text-decoration: none;
}
.container_nav_outer {
	
}
.container_nav_outer .container {
	
}
.container_nav_outer .container-fluid {
	
}
.container_shifting_modules_outer {
	
}
.container_shifting_modules_outer .container {
	
}
.container_shifting_modules_outer .container-fluid {
	
}
.container_slideshow_outer {
	
}
.container_slideshow_outer .container {
	
}
.container_slideshow_outer .container-fluid {
	
}
.slideshow_readmore {
	font-size: 12px;
}
#wowslider-container1 {
	margin-bottom: inherit;
}
.container_content_modules_outer {
	
}
.container_content_modules_outer .container {
	
}
.container_content_modules_outer .container-fluid {
	
}
.container_bottom_top_modules_outer {
	
}
.container_bottom_top_modules_outer .container {
	margin-right: 0px; margin-left: 0px;
}
.container_bottom_top_modules_outer .container-fluid {
	
}
.container_bottom_modules_outer {
	
}
.container_bottom_modules_outer .container {
	
}
.container_bottom_modules_outer .container-fluid {
	
}
.container_breadcrumbs_outer {
	
}
.container_breadcrumbs_outer .container {
	
}
.container_breadcrumbs_outer .container-fluid {
	
}
.breadcrumb {
	text-transform: inherit; padding-left: 15px; font-size: 12px; font-weight: inherit; margin-top: 0px; margin-bottom: 0px; background-color: transparent;
}
.breadcrumb li {
	text-shadow: none;
}
.breadcrumb li.active {
	
}
.breadcrumb a {
	color: inherit; text-decoration: underline;
}
.container_footer_modules_outer {
	
}
.container_footer_modules_outer .container {
	
}
.container_footer_modules_outer .container-fluid {
	
}
.container_footer_modules_outer .moduletable h3 {
	
}
.container_footer_modules_outer a {
	text-decoration: underline;
}
.container_footer_modules_outer a:hover {
	text-decoration: none;
}
.footer {
	
}
.footer a {
	text-decoration: underline;
}
.footer a:hover {
	text-decoration: none;
}
#footer-menu {
	text-align: center; clear: both;
}
#footer-menu a {
	font-size: 85%;
}
#footer-menu ul {
	margin: 0px; line-height: normal;
}
#footer-menu li {
	margin: 0px; padding: 0px; display: inline;
}
#footer-menu li a {
	padding: 0px 10px; line-height: normal; display: inline;
}
#footer-copyright {
	text-align: center; font-size: 85%;
}
.span3 {
	
}
.row-fluid .span3 {
	
}
.row-fluid .span9 {
	
}
#search_module {
	border: 1px solid transparent; border-image: none;
}
#search_module .search .inputbox {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: auto; color: inherit; font-weight: normal; float: left; box-shadow: none; background-image: url("../images/backgrounds/search_bg.png"); background-repeat: repeat; background-color: transparent;
}
#search_module .search .inputbox:focus {
	
}
a {
	color: rgb(102, 102, 102); text-decoration: none;
}
a:hover {
	color: rgb(102, 102, 102); text-decoration: underline;
}
h2 a {
	color: rgb(102, 102, 102); font-weight: inherit;
}
hr {
	border: 0px currentColor; border-image: none;
}
.site-title {
	color: rgb(153, 153, 153); line-height: 40px; padding-top: 0px; padding-left: 10px; font-size: 20pt; font-weight: bold; float: left;
}
.site-description {
	color: rgb(153, 153, 153); padding-left: 10px;
}
.header {
	background-position: left top; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px; min-height: inherit; max-height: inherit; background-repeat: repeat; background-color: inherit;
}
select {
	width: auto;
}
.page-header {
	-ms-word-wrap: break-word;
}
#logo_outer {
	padding: 0px;
}
#logo_inner img {
	float: left;
}
.well .menu {
	padding-left: 0px; margin-left: 0px;
}
.well .menu a {
	line-height: 25px; padding-left: 10px; font-weight: inherit;
}
.well .menu a:hover {
	color: rgb(150, 150, 150); background-color: transparent;
}
.well .menu li {
	list-style: none; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.well .menu li .last {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.well .deeper.parent {
	padding-bottom: 0px;
}
.well .deeper.parent li {
	
}
.well a.dropdown-toggle {
	display: none;
}
.well {
	padding: 10px; border-radius: 0px; border: 0px currentColor; border-image: none; margin-bottom: 10px; min-height: 20px; box-shadow: none; background-color: transparent; -webkit-border-radius: 0px; -moz-border-radius: 0px; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.well {
	padding: 10px; border: 1px solid rgb(221, 221, 221); border-image: none; margin-bottom: 20px; background-image: url("../images/backgrounds/module_bg_default.png"); background-repeat: repeat; background-color: transparent;
}
#content .page-header {
	-ms-word-wrap: break-word;
}
.page-header {
	padding: 5px;
}
#page_header_h3 {
	background-position: left bottom; height: auto; color: rgb(51, 51, 51); text-transform: inherit; line-height: 25px; padding-left: 10px; font-size: 12px; font-weight: inherit; margin-bottom: 5px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; background-image: url("../images/backgrounds/module_h3_bg_default.png"); background-repeat: repeat-x; background-color: transparent;
}
.custom {
	
}
.well .custom p img {
	margin-bottom: 5px !important; margin-left: 0px !important;
}
.well._color1 {
	color: rgb(255, 255, 255); background-image: none !important; background-color: rgb(255, 103, 2);
}
.well._color2 {
	color: rgb(255, 255, 255); background-image: none !important; background-color: rgb(255, 103, 2);
}
.well._color3 {
	color: rgb(255, 255, 255); background-image: none !important; background-color: rgb(255, 103, 2);
}
.well._color4 {
	color: rgb(255, 255, 255); background-image: none !important; background-color: rgb(255, 103, 2);
}
.well._color5 {
	color: rgb(255, 255, 255); background-image: none !important; background-color: rgb(255, 103, 2);
}
.well._color1 #page_header_h3 {
	background: url("../images/backgrounds/module_h3_bg_suffix_default.png") left bottom; color: rgb(255, 255, 255);
}
.well._color2 #page_header_h3 {
	background: url("../images/backgrounds/module_h3_bg_suffix_default.png") left bottom; color: rgb(255, 255, 255);
}
.well._color3 #page_header_h3 {
	background: url("../images/backgrounds/module_h3_bg_suffix_default.png") left bottom; color: rgb(255, 255, 255);
}
.well._color4 #page_header_h3 {
	background: url("../images/backgrounds/module_h3_bg_suffix_default.png") left bottom; color: rgb(255, 255, 255);
}
.well._color5 #page_header_h3 {
	background: url("../images/backgrounds/module_h3_bg_suffix_default.png") left bottom; color: rgb(255, 255, 255);
}
.well._color1 a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.well._color2 a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.well._color3 a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.well._color4 a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.well._color5 a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.well._color1 a:hover {
	color: rgb(233, 233, 233); text-decoration: none; background-color: transparent;
}
.well._color2 a:hover {
	color: rgb(233, 233, 233); text-decoration: none; background-color: transparent;
}
.well._color3 a:hover {
	color: rgb(233, 233, 233); text-decoration: none; background-color: transparent;
}
.well._color4 a:hover {
	color: rgb(233, 233, 233); text-decoration: none; background-color: transparent;
}
.well._color5 a:hover {
	color: rgb(233, 233, 233); text-decoration: none; background-color: transparent;
}
#system-message-container {
	color: rgb(251, 23, 23); padding-left: 0px; background-color: transparent;
}
#system-message-container li {
	list-style: none; margin-left: 0px;
}
dt.error {
	display: none;
}
.article-info {
	font-size: 9px;
}
.createdby {
	font-size: 9px;
}
.category-item {
	margin-top: 0px;
}
.category-item .page-header {
	margin-bottom: 0px;
}
.category-item.first {
	margin-bottom: 0px;
}
#toTop {
	background: url("../images/totop.png") no-repeat 0px 0px; width: 47px; height: 34px; right: 15px; bottom: 30px; display: none; position: fixed; z-index: 1000000; cursor: pointer;
}
#social_bm_outer {
	height: auto;
}
ul#social_bm_nav {
	background-position: left top; list-style: none; margin: 0px; padding: 4px 3px 5px 4px; top: 0px; height: 23px; right: 0px; background-image: none; background-repeat: repeat;
}
ul#social_bm_nav li {
	background: none; padding: 0px 0px 5px; line-height: 23px; float: right;
}
ul#social_bm_nav li a {
	width: 23px; height: 23px; overflow: hidden; margin-right: 3px; display: block; background-image: url("../images/social_media/social_bm.png") !important; background-repeat: no-repeat;
}
ul#social_bm_nav .item_rssfeed a {
	background-position: 0px 0px;
}
ul#social_bm_nav .item_rssfeed a:hover {
	background-position: 0px -24px;
}
ul#social_bm_nav .item_twitter a {
	background-position: -27px 0px;
}
ul#social_bm_nav .item_twitter a:hover {
	background-position: -27px -24px;
}
ul#social_bm_nav .item_facebook a {
	background-position: -54px 0px;
}
ul#social_bm_nav .item_facebook a:hover {
	background-position: -54px -24px;
}
ul#social_bm_nav .item_myspace a {
	background-position: -80px 0px;
}
ul#social_bm_nav .item_myspace a:hover {
	background-position: -80px -24px;
}
ul#social_bm_nav .item_blogger a {
	background-position: -106px 0px;
}
ul#social_bm_nav .item_blogger a:hover {
	background-position: -106px -24px;
}
ul#social_bm_nav .item_stumble a {
	background-position: -132px 0px;
}
ul#social_bm_nav .item_stumble a:hover {
	background-position: -132px -24px;
}
ul#social_bm_nav .item_google a {
	background-position: -158px 0px;
}
ul#social_bm_nav .item_google a:hover {
	background-position: -158px -24px;
}
ul#social_bm_nav .item_flickr a {
	background-position: -184px 0px;
}
ul#social_bm_nav .item_flickr a:hover {
	background-position: -184px -24px;
}
ul#social_bm_nav .item_linkedin a {
	background-position: -210px 0px;
}
ul#social_bm_nav .item_linkedin a:hover {
	background-position: -210px -24px;
}
#layouts_slidepanel {
	padding: 10px; border: 5px solid rgb(204, 204, 204); border-image: none; margin-right: 2.5%; margin-left: 2.5%; background-color: rgb(255, 255, 255);
}
#layouts_slidepanel a {
	text-decoration: inherit;
}
#layouts_slidepanel a:hover {
	text-decoration: underline;
}
#layouts_slidepanel .moduletable h3 {
	
}
.container_slide_panel_modules_outer {
	
}
.container_slide_panel_modules_outer .container {
	
}
.container_slide_panel_modules_outer .container-fluid {
	
}
.container_slide_panel_top_modules_outer {
	
}
.container_slide_panel_top_modules_outer .container {
	
}
.container_slide_panel_top_modules_outer .container-fluid {
	
}
.container_slide_panel_bottom_modules_outer {
	
}
.container_slide_panel_bottom_modules_outer .container {
	
}
.container_slide_panel_bottom_modules_outer .container-fluid {
	
}
#side_tabs {
	
}
.container_accordion_modules_outer {
	
}
.container_accordion_modules_outer .container {
	
}
.container_accordion_modules_outer .container-fluid {
	
}
