p {
	line-height: 18px;
}
.componentheading {
	color: rgb(73, 176, 69); line-height: 24px; font-size: 22pt; font-weight: bold;
}
h1 {
	color: rgb(73, 176, 69); line-height: 24px; font-size: 22pt; font-weight: bold;
}
h2 {
	color: rgb(27, 27, 27); line-height: 24px; font-size: 18px; font-weight: normal;
}
h3 {
	color: rgb(27, 27, 27); font-size: 16px; font-weight: normal;
}
h4 {
	color: rgb(27, 27, 27); font-size: 14px; font-weight: normal;
}
h5 {
	color: rgb(27, 27, 27); font-size: 12px; font-weight: bold;
}
h6 {
	color: rgb(27, 27, 27); font-size: 12px; font-weight: bold;
}
h1 {
	margin: 5px 0px 10px;
}
h2 {
	margin: 5px 0px 10px;
}
h3 {
	margin: 5px 0px 10px;
}
h4 {
	margin: 5px 0px 10px;
}
h5 {
	margin: 5px 0px 10px;
}
h6 {
	margin: 5px 0px 10px;
}
.componentheading {
	margin: 5px 0px 10px;
}
h1 {
	line-height: 100%;
}
h2 {
	line-height: 100%;
}
h3 {
	line-height: 100%;
}
blockquote {
	padding: 0px; border: currentColor; border-image: none;
}
blockquote p {
	font-family: Arial; font-size: 13px; font-style: italic;
}
.text-drop-cap::first-letter {
	margin: 8px 5px 0px 0px; color: rgb(126, 126, 126); text-transform: uppercase; line-height: 20px; font-size: 36px; font-weight: bold; float: left;
}
.table-heading tbody tr:first-child td {
	background-color: rgb(226, 226, 226);
}
.table-heading tbody tr:first-child th {
	background-color: rgb(226, 226, 226);
}
.table-striped tbody tr:nth-child(2n+1) td {
	background-color: rgb(226, 226, 226);
}
.table-striped tbody tr:nth-child(2n+1) th {
	background-color: rgb(226, 226, 226);
}
.table-striped tbody tr:nth-child(2n) td {
	background-color: rgb(240, 240, 240);
}
.table-striped tbody tr:nth-child(2n) th {
	background-color: rgb(240, 240, 240);
}
.table tbody tr:hover td {
	background-color: rgb(200, 200, 200);
}
.table tbody tr:hover th {
	background-color: rgb(200, 200, 200);
}
.box-content {
	margin: 10px 0px 15px; padding: 20px; border: 1px solid rgb(198, 198, 198); border-image: none;
}
.box-note {
	background: rgb(239, 239, 239); margin: 10px 0px 15px; padding: 20px; border: 1px solid rgb(198, 198, 198); border-image: none;
}
.box-info {
	margin: 5px 15px; padding: 8px 8px 8px 28px; line-height: 24px; min-height: 22px;
}
.box-download {
	margin: 5px 15px; padding: 8px 8px 8px 28px; line-height: 24px; min-height: 22px;
}
.box-hint {
	margin: 5px 15px; padding: 8px 8px 8px 28px; line-height: 24px; min-height: 22px;
}
.box-info {
	background: url("../images/icons/typo/info.png") no-repeat 2px;
}
.box-download {
	background: url("../images/icons/typo/download.png") no-repeat 2px;
}
.box-hint {
	background: url("../images/icons/typo/star.png") no-repeat 2px;
}
.the-arrow > li {
	list-style: none; padding: 3px 0px 0px 20px; background-image: url("../images/icons/typo/list-style.png"); background-repeat: no-repeat;
}
.the-check > li {
	list-style: none; padding: 3px 0px 0px 20px; background-image: url("../images/icons/typo/list-style.png"); background-repeat: no-repeat;
}
.the-dot > li {
	list-style: none; padding: 3px 0px 0px 20px; background-image: url("../images/icons/typo/list-style.png"); background-repeat: no-repeat;
}
.the-plus > li {
	list-style: none; padding: 3px 0px 0px 20px; background-image: url("../images/icons/typo/list-style.png"); background-repeat: no-repeat;
}
.the-arrow > li {
	background-position: -16px -49px;
}
.the-check > li {
	background-position: 0px -70px;
}
.the-dot > li {
	background-position: -25px -32px;
}
.the-plus > li {
	background-position: -41px -16px;
}
.AutoSizingImage {
	width: 100%; height: auto;
}
