/* Code tidied up by ScrapBook */
body { margin-bottom: 50px; }
#pagewrapper { margin-top: 10px; }
.container .jumbotron, .jumbotron { padding-left: 0px; margin-left: 0px; padding-right: 0px; margin-right: 0px; background-color: transparent; }
.container .jumbotron, .container-fluid .jumbotron { border-radius: 0px; }
#maincontent { z-index: 777; }
#secondarycontent { z-index: 555; }
li.socialicon { max-width: 60px; }
li.socialicon a { padding: 0px 2px 0px 0px; }
li.socialicon img:hover { box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5); }
ul li.socialicon { margin-right: 0px; padding: 0px 1px 0px 0px; }
li.socialicon a { padding: 0px; }
ul.nav.navbar-nav.navbar-left li a { padding-left: 4px; padding-right: 4px; }
.navbar-inverse .navbar-nav > li > a { padding: 15px 0px; }
li.socialicon { display: inline; }
li.socialicon img { max-width: 40px; }
img#episcopal_church_modal { float: left; margin-left: -10px; margin-top: 6px; padding-right: 15px; }
#myCarousel { margin-bottom: 0px ! important; }
iframe { width: 100%; }
img { max-width: 100%; }
@media (max-width: 767px) {
  html body nav.navbar.navbar-inverse { display: none; }
  img#episcopal_church_modal { display: none; }
  img.pull-right.dfclogo { max-width: 150px; }
  img#episcopal_church_modal_footer { width: 100%; }
}
@media (min-width: 768px) and (max-width: 991px) {
  html body nav.navbar.navbar-inverse { display: none; }
  img#episcopal_church_modal { display: none; }
  img.pull-right.dfclogo { max-width: 150px; }
  img#episcopal_church_modal_footer { width: 100%; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html body nav.navbar.navbar-inverse div#bs-example-navbar-collapse-1 div.navbar-right { display: none; }
  img.pull-right.dfclogo { max-width: 150px; }
  img#episcopal_church_modal_footer { float: right; width: 110px; margin-top: -20px; }
}
@media (min-width: 1200px) {
  img.pull-right.dfclogo { max-width: 150px; }
  img#episcopal_church_modal_footer { float: right; width: 110px; margin-top: -20px; }
}
nav#fixednav.navbar div.navbar-header a.navbar-brand { float: left; height: auto; line-height: normal; padding-left: 30px; }
#fixednav .navbar-nav > li > a { line-height: normal; }
.navbar.navbar-inverse { border: 0px none; }
div.modal-dialog.modal-lg div.modal-content { background-color: white; padding: 20px; }
div.row.login { padding-top: 20px; }
img#episcopal_church_modal, img#episcopal_church_modal_footer { cursor: pointer; }
.navigation_menu { border-radius: 0px; }
nav#fixednav.navbar { border-radius: 0px; margin: 0px; z-index: 999; }
div#headerimage div.container { padding: 0px; margin: 0px; }
.item { overflow: hidden; transition: all 1s ease-in-out 0s; }
.item:hover { transform: scale(0.95); box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5); }
.item img { transition: all 1s ease-in-out 0s; }
.item img:hover { transform: scale(1.4); }
