/* Code tidied up by ScrapBook */
body { text-decoration: none; word-spacing: normal; letter-spacing: 0px; background: none repeat scroll 0% 0% rgb(20, 107, 186); color: rgb(0, 0, 0); font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1.5; margin-top: 0px; }
.navbar { border: 0px none; margin-bottom: 0px; }
.navbar-nav a, .navbar-header a, form.navbar-form.navbar-right div.form-group input#search { color: black; }
.navbar-inverse .navbar-brand, ul.nav.navbar-nav li a, ul.nav.navbar-nav li > ul > li a { color: white; }
.dropdown-menu { background-color: black; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-color: rgb(87, 106, 129); }
.navbar-inverse { background-color: rgb(20, 107, 186); border-color: transparent; background-image: none; }
#pagewrapper { background-color: rgb(255, 255, 255); box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.07); margin-bottom: 60px; margin-left: auto; margin-right: auto; border: 0px none; }
#secondarycontent { padding: 0px; }
.jumbotron { padding: 0px; margin-bottom: 0px; font-size: 16px; font-weight: 200; line-height: 1.5; color: rgb(60, 32, 138); background-color: transparent; margin-top: 0px; }
.carousel .item { background-color: rgb(255, 255, 255); height: auto; }
#myCarousel { margin: 0px; border: 0px solid rgb(255, 255, 255); }
.carousel.fade { opacity: 1; }
.carousel.fade .item { transition: opacity 0.7s ease-in-out 0s; left: 0px; opacity: 0; top: 0px; position: absolute; width: 100%; display: block; z-index: 1; }
.carousel.fade .item:first-child { top: auto; position: relative; }
.carousel.fade .item.active { opacity: 1; transition: opacity 0.7s ease-in-out 0s; z-index: 2; }
footer, #footer, .footer, .footer { color: rgb(255, 255, 255); margin-top: 0px; background: none repeat scroll 0% 0% rgb(228, 39, 59); font-size: 1em; padding: 15px; }
footer, #footer, .footer, .footer a { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% transparent; }
div.footer ul li { list-style: none outside none; }
div.footer ul { padding-left: 0px; }
ul.nav.nav-pills.socialicon { margin-top: 10px; }
ul.nav.nav-pills.socialicon li.socialicon { float: right; }
ul.nav.nav-pills.socialicon li.socialicon a img { width: 40px; }
img#episcopal_church_modal_footer { float: right; width: 110px; }
ul.nav.nav-pills.socialicon li.socialicon a img { max-width: 40px; }
.verybottom { margin-top: 80px; }
a { color: rgb(14, 73, 100); text-decoration: underline; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: none; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
hr { margin-top: 20px; margin-bottom: 20px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3 { color: rgb(109, 122, 126); margin-top: 0px; margin-bottom: 10px; }
h4, h5, h6 { color: rgb(68, 68, 68); margin-top: 10px; margin-bottom: 10px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 20px; }
h3 a, h3 a:hover { text-decoration: underline; }
h4, .h4 { font-size: 18px; }
p { margin: 0px 0px 10px; }
.col-md-9 { padding-right: 0px; }
#myCarousel { border: 0px none; padding: 0px; }
div.carousel-inner img { padding: 0px; }
@media (max-width: 767px) {
  .col-md-9 { margin-right: 15px; }
  ol.carousel-indicators { display: none; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-9 { margin-right: 15px; }
  #secondarycontent { margin-right: 15px; margin-left: 15px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#belownav { margin: 10px auto; }
