@-moz-document url-prefix() {
	html > body > center:nth-of-type(2) > table:nth-of-type(2) > tbody:nth-of-type(1) > tr:nth-of-type(2) > td:nth-of-type(5) {
		width: 0.69% !important;  /* 10px */
	}
	html > body > center:nth-of-type(2) > table:nth-of-type(2) > tbody:nth-of-type(1) > tr:nth-of-type(2) > td:nth-of-type(4) > div:nth-of-type(1) {
		left: 453.66% !important;  /* 372px */
	}
	html > body {
		height: 94.19% !important;  /* 729px */
	}
	html > body > center:nth-of-type(2) > table:nth-of-type(2) > tbody:nth-of-type(1) > tr:nth-of-type(2) > td:nth-of-type(3) {
		width: 72.01% !important;  /* 1037px */
	}
}