@supports (-webkit-appearance:none) {
	html > body > div:nth-of-type(5) > div:nth-of-type(2) {
		padding-left: 0.0% !important;  /* 0px */
	}
	html > body > div:nth-of-type(5) > div:nth-of-type(1) {
		padding-top: 1.53% !important;  /* 15px */
		margin-top: 1.53% !important;  /* 15px */
	}
	html > body > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(1) > table:nth-of-type(1) > tbody:nth-of-type(1) > tr:nth-of-type(2) > td:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(4) {
		width: 65.38% !important;  /* 170px */
	}
}