/* Code tidied up by ScrapBook */
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { margin: 0.67em 0px; font-size: 2em; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
hr { height: 0px; box-sizing: content-box; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
@media print {
  *, *:before, *:after { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: none repeat scroll 0% 0% transparent ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff2") format("woff2"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:hover, a:focus { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline-offset: -2px; }
img { vertical-align: middle; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; }
hr { margin-top: 20px; margin-bottom: 20px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
[role="button"] { cursor: pointer; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
.text-left { text-align: left; }
.text-center { text-align: center; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
.list-unstyled { padding-left: 0px; list-style: none outside none; }
@media (min-width: 768px) {
}
address { margin-bottom: 20px; font-style: normal; line-height: 1.42857; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.row { margin-right: -15px; margin-left: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-7 { width: 58.3333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-offset-5 { margin-left: 41.6667%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-7 { width: 58.3333%; }
  .col-md-5 { width: 41.6667%; }
  .col-md-4 { width: 33.3333%; }
  .col-md-pull-4 { right: 33.3333%; }
  .col-md-push-4 { left: 33.3333%; }
  .col-md-offset-6 { margin-left: 50%; }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-4 { width: 33.3333%; }
  .col-lg-offset-7 { margin-left: 58.3333%; }
}
@media screen and (max-width: 767px) {
}
@media not all {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: normal; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus { outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); border-color: rgb(46, 109, 164); }
.btn-primary:focus, .btn-primary.focus { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(18, 43, 64); }
.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus { color: rgb(255, 255, 255); background-color: rgb(32, 77, 116); border-color: rgb(18, 43, 64); }
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-lg, .btn-group-lg > .btn { padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
.collapse { display: none; }
.caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-right: 4px solid transparent; border-left: 4px solid transparent; }
.dropup, .dropdown { position: relative; }
.dropdown-toggle:focus { outline: 0px none; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; font-size: 14px; text-align: left; list-style: none outside none; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: rgb(38, 38, 38); text-decoration: none; background-color: rgb(245, 245, 245); }
@media (min-width: 768px) {
  .navbar-right .dropdown-menu { right: 0px; left: auto; }
}
.nav { padding-left: 0px; margin-bottom: 0px; list-style: none outside none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.nav-pills > li { float: left; }
.nav-pills > li > a { border-radius: 4px; }
.nav-pills > li + li { margin-left: 2px; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
.navbar-collapse { padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
@media (min-width: 768px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; height: auto ! important; padding-bottom: 0px; overflow: visible ! important; }
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: 0px; margin-left: 0px; }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle:focus { outline: 0px none; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7.5px -15px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
  .navbar-right { float: right ! important; margin-right: -15px; }
}
.navbar-default { background-color: rgb(248, 248, 248); border-color: rgb(231, 231, 231); }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(136, 136, 136); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
.thumbnail { display: block; padding: 4px; margin-bottom: 20px; line-height: 1.42857; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px; transition: border 0.2s ease-in-out 0s; }
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active { border-color: rgb(51, 122, 183); }
.thumbnail .caption { padding: 9px; color: rgb(51, 51, 51); }
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.close { float: right; font-size: 21px; font-weight: bold; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.2; }
.close:hover, .close:focus { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5; }
button.close { padding: 0px; cursor: pointer; background: none repeat scroll 0% 0% transparent; border: 0px none; }
.modal { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1050; display: none; overflow: hidden; outline: 0px none; }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
.carousel { position: relative; }
.carousel-inner { position: relative; width: 100%; overflow: hidden; }
.carousel-inner > .item { position: relative; display: none; transition: left 0.6s ease-in-out 0s; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { line-height: 1; }
@media not all, not all {
  .carousel-inner > .item { transition: transform 0.6s ease-in-out 0s; backface-visibility: hidden; perspective: 1000px; }
  .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active { left: 0px; transform: translate3d(0px, 0px, 0px); }
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0px; }
.carousel-control { position: absolute; top: 0px; bottom: 0px; left: 0px; width: 15%; font-size: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6); background-color: transparent; opacity: 0.5; }
.carousel-control.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 100%); background-repeat: repeat-x; }
.carousel-control.right { right: 0px; left: auto; background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat-x; }
.carousel-control:hover, .carousel-control:focus { color: rgb(255, 255, 255); text-decoration: none; outline: 0px none; opacity: 0.9; }
.carousel-caption { position: absolute; right: 15%; bottom: 20px; left: 15%; z-index: 10; padding-top: 20px; padding-bottom: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6); }
.carousel-caption .btn { text-shadow: none; }
@media screen and (min-width: 768px) {
  .carousel-caption { right: 20%; left: 20%; padding-bottom: 30px; }
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after { display: table; content: " "; }
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after { clear: both; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md { display: none ! important; }
}
@media (min-width: 1200px) {
  .hidden-lg { display: none ! important; }
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger { text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075); }
.btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active { box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn:active, .btn.active { background-image: none; }
.btn-primary { background-image: linear-gradient(to bottom, rgb(51, 122, 183) 0%, rgb(38, 90, 136) 100%); background-repeat: repeat-x; border-color: rgb(36, 85, 128); }
.btn-primary:hover, .btn-primary:focus { background-color: rgb(38, 90, 136); background-position: 0px -15px; }
.btn-primary:active, .btn-primary.active { background-color: rgb(38, 90, 136); border-color: rgb(36, 85, 128); }
.thumbnail, .img-thumbnail { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075); }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-color: rgb(232, 232, 232); background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0%, rgb(232, 232, 232) 100%); background-repeat: repeat-x; }
.navbar-default { background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 100%); background-repeat: repeat-x; border-radius: 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075); }
@media (max-width: 767px) {
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
.fa-2x { font-size: 2em; }
.fa-fw { width: 1.28571em; text-align: center; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-search:before { content: ""; }
.fa-twitter:before { content: ""; }
.fa-facebook-f:before, .fa-facebook:before { content: ""; }
.fa-linkedin:before { content: ""; }
.fa-angle-left:before { content: ""; }
.fa-angle-right:before { content: ""; }
.fa-youtube:before { content: ""; }
.fa-long-arrow-right:before { content: ""; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
.animated { animation-duration: 1s; animation-fill-mode: both; }
@keyframes bounce {
0%, 20%, 53%, 80%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transform: translate3d(0px, 0px, 0px); }
40%, 43% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -30px, 0px); }
70% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -15px, 0px); }
90% { transform: translate3d(0px, -4px, 0px); }
}
@keyframes flash {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}
@keyframes pulse {
0% { transform: scale3d(1, 1, 1); }
50% { transform: scale3d(1.05, 1.05, 1.05); }
100% { transform: scale3d(1, 1, 1); }
}
@keyframes rubberBand {
0% { transform: scale3d(1, 1, 1); }
30% { transform: scale3d(1.25, 0.75, 1); }
40% { transform: scale3d(0.75, 1.25, 1); }
50% { transform: scale3d(1.15, 0.85, 1); }
65% { transform: scale3d(0.95, 1.05, 1); }
75% { transform: scale3d(1.05, 0.95, 1); }
100% { transform: scale3d(1, 1, 1); }
}
@keyframes shake {
0%, 100% { transform: translate3d(0px, 0px, 0px); }
10%, 30%, 50%, 70%, 90% { transform: translate3d(-10px, 0px, 0px); }
20%, 40%, 60%, 80% { transform: translate3d(10px, 0px, 0px); }
}
@keyframes headShake {
0% { transform: translateX(0px); }
6.5% { transform: translateX(-6px) rotateY(-9deg); }
18.5% { transform: translateX(5px) rotateY(7deg); }
31.5% { transform: translateX(-3px) rotateY(-5deg); }
43.5% { transform: translateX(2px) rotateY(3deg); }
50% { transform: translateX(0px); }
}
@keyframes swing {
20% { transform: rotate3d(0, 0, 1, 15deg); }
40% { transform: rotate3d(0, 0, 1, -10deg); }
60% { transform: rotate3d(0, 0, 1, 5deg); }
80% { transform: rotate3d(0, 0, 1, -5deg); }
100% { transform: rotate3d(0, 0, 1, 0deg); }
}
@keyframes tada {
0% { transform: scale3d(1, 1, 1); }
10%, 20% { transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
100% { transform: scale3d(1, 1, 1); }
}
@keyframes wobble {
0% { transform: none; }
15% { transform: translate3d(-25%, 0px, 0px) rotate3d(0, 0, 1, -5deg); }
30% { transform: translate3d(20%, 0px, 0px) rotate3d(0, 0, 1, 3deg); }
45% { transform: translate3d(-15%, 0px, 0px) rotate3d(0, 0, 1, -3deg); }
60% { transform: translate3d(10%, 0px, 0px) rotate3d(0, 0, 1, 2deg); }
75% { transform: translate3d(-5%, 0px, 0px) rotate3d(0, 0, 1, -1deg); }
100% { transform: none; }
}
@keyframes jello {
0%, 11.1%, 100% { transform: none; }
22.2% { transform: skewX(-12.5deg) skewY(-12.5deg); }
33.3% { transform: skewX(6.25deg) skewY(6.25deg); }
44.4% { transform: skewX(-3.125deg) skewY(-3.125deg); }
55.5% { transform: skewX(1.5625deg) skewY(1.5625deg); }
66.6% { transform: skewX(-0.78125deg) skewY(-0.78125deg); }
77.7% { transform: skewX(0.39063deg) skewY(0.39063deg); }
88.8% { transform: skewX(-0.19531deg) skewY(-0.19531deg); }
}
@keyframes bounceIn {
0%, 20%, 40%, 60%, 80%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
20% { transform: scale3d(1.1, 1.1, 1.1); }
40% { transform: scale3d(0.9, 0.9, 0.9); }
60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
80% { transform: scale3d(0.97, 0.97, 0.97); }
100% { opacity: 1; transform: scale3d(1, 1, 1); }
}
@keyframes bounceInDown {
0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(0px, -3000px, 0px); }
60% { opacity: 1; transform: translate3d(0px, 25px, 0px); }
75% { transform: translate3d(0px, -10px, 0px); }
90% { transform: translate3d(0px, 5px, 0px); }
100% { transform: none; }
}
@keyframes bounceInLeft {
0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(-3000px, 0px, 0px); }
60% { opacity: 1; transform: translate3d(25px, 0px, 0px); }
75% { transform: translate3d(-10px, 0px, 0px); }
90% { transform: translate3d(5px, 0px, 0px); }
100% { transform: none; }
}
@keyframes bounceInRight {
0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(3000px, 0px, 0px); }
60% { opacity: 1; transform: translate3d(-25px, 0px, 0px); }
75% { transform: translate3d(10px, 0px, 0px); }
90% { transform: translate3d(-5px, 0px, 0px); }
100% { transform: none; }
}
@keyframes bounceInUp {
0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(0px, 3000px, 0px); }
60% { opacity: 1; transform: translate3d(0px, -20px, 0px); }
75% { transform: translate3d(0px, 10px, 0px); }
90% { transform: translate3d(0px, -5px, 0px); }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes bounceOut {
20% { transform: scale3d(0.9, 0.9, 0.9); }
50%, 55% { opacity: 1; transform: scale3d(1.1, 1.1, 1.1); }
100% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
}
@keyframes bounceOutDown {
20% { transform: translate3d(0px, 10px, 0px); }
40%, 45% { opacity: 1; transform: translate3d(0px, -20px, 0px); }
100% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
}
@keyframes bounceOutLeft {
20% { opacity: 1; transform: translate3d(20px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
}
@keyframes bounceOutRight {
20% { opacity: 1; transform: translate3d(-20px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
}
@keyframes bounceOutUp {
20% { transform: translate3d(0px, -10px, 0px); }
40%, 45% { opacity: 1; transform: translate3d(0px, 20px, 0px); }
100% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInDownBig {
0% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInLeft {
0% { opacity: 0; transform: translate3d(-100%, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInLeftBig {
0% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInRight {
0% { opacity: 0; transform: translate3d(100%, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInRightBig {
0% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInUp {
0% { opacity: 0; transform: translate3d(0px, 100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInUpBig {
0% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes fadeOutDown {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, 100%, 0px); }
}
@keyframes fadeOutDownBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
}
@keyframes fadeOutLeft {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(-100%, 0px, 0px); }
}
@keyframes fadeOutLeftBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
}
@keyframes fadeOutRight {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(100%, 0px, 0px); }
}
@keyframes fadeOutRightBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
}
@keyframes fadeOutUp {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
}
@keyframes fadeOutUpBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
}
@keyframes flip {
0% { transform: perspective(400px) rotate3d(0, 1, 0, -360deg); animation-timing-function: ease-out; }
40% { transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -190deg); animation-timing-function: ease-out; }
50% { transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -170deg); animation-timing-function: ease-in; }
80% { transform: perspective(400px) scale3d(0.95, 0.95, 0.95); animation-timing-function: ease-in; }
100% { transform: perspective(400px); animation-timing-function: ease-in; }
}
@keyframes flipInX {
0% { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); animation-timing-function: ease-in; }
60% { transform: perspective(400px) rotate3d(1, 0, 0, 10deg); opacity: 1; }
80% { transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
100% { transform: perspective(400px); }
}
@keyframes flipInY {
0% { transform: perspective(400px) rotate3d(0, 1, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotate3d(0, 1, 0, -20deg); animation-timing-function: ease-in; }
60% { transform: perspective(400px) rotate3d(0, 1, 0, 10deg); opacity: 1; }
80% { transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
100% { transform: perspective(400px); }
}
@keyframes flipOutX {
0% { transform: perspective(400px); }
30% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); opacity: 1; }
100% { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); opacity: 0; }
}
@keyframes flipOutY {
0% { transform: perspective(400px); }
30% { transform: perspective(400px) rotate3d(0, 1, 0, -15deg); opacity: 1; }
100% { transform: perspective(400px) rotate3d(0, 1, 0, 90deg); opacity: 0; }
}
@keyframes lightSpeedIn {
0% { transform: translate3d(100%, 0px, 0px) skewX(-30deg); opacity: 0; }
60% { transform: skewX(20deg); opacity: 1; }
80% { transform: skewX(-5deg); opacity: 1; }
100% { transform: none; opacity: 1; }
}
@keyframes lightSpeedOut {
0% { opacity: 1; }
100% { transform: translate3d(100%, 0px, 0px) skewX(30deg); opacity: 0; }
}
@keyframes rotateIn {
0% { transform-origin: center center 0px; transform: rotate3d(0, 0, 1, -200deg); opacity: 0; }
100% { transform-origin: center center 0px; transform: none; opacity: 1; }
}
@keyframes rotateInDownLeft {
0% { transform-origin: left bottom 0px; transform: rotate3d(0, 0, 1, -45deg); opacity: 0; }
100% { transform-origin: left bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInDownRight {
0% { transform-origin: right bottom 0px; transform: rotate3d(0, 0, 1, 45deg); opacity: 0; }
100% { transform-origin: right bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInUpLeft {
0% { transform-origin: left bottom 0px; transform: rotate3d(0, 0, 1, 45deg); opacity: 0; }
100% { transform-origin: left bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInUpRight {
0% { transform-origin: right bottom 0px; transform: rotate3d(0, 0, 1, -90deg); opacity: 0; }
100% { transform-origin: right bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateOut {
0% { transform-origin: center center 0px; opacity: 1; }
100% { transform-origin: center center 0px; transform: rotate3d(0, 0, 1, 200deg); opacity: 0; }
}
@keyframes rotateOutDownLeft {
0% { transform-origin: left bottom 0px; opacity: 1; }
100% { transform-origin: left bottom 0px; transform: rotate3d(0, 0, 1, 45deg); opacity: 0; }
}
@keyframes rotateOutDownRight {
0% { transform-origin: right bottom 0px; opacity: 1; }
100% { transform-origin: right bottom 0px; transform: rotate3d(0, 0, 1, -45deg); opacity: 0; }
}
@keyframes rotateOutUpLeft {
0% { transform-origin: left bottom 0px; opacity: 1; }
100% { transform-origin: left bottom 0px; transform: rotate3d(0, 0, 1, -45deg); opacity: 0; }
}
@keyframes rotateOutUpRight {
0% { transform-origin: right bottom 0px; opacity: 1; }
100% { transform-origin: right bottom 0px; transform: rotate3d(0, 0, 1, 90deg); opacity: 0; }
}
@keyframes hinge {
0% { transform-origin: left top 0px; animation-timing-function: ease-in-out; }
20%, 60% { transform: rotate3d(0, 0, 1, 80deg); transform-origin: left top 0px; animation-timing-function: ease-in-out; }
40%, 80% { transform: rotate3d(0, 0, 1, 60deg); transform-origin: left top 0px; animation-timing-function: ease-in-out; opacity: 1; }
100% { transform: translate3d(0px, 700px, 0px); opacity: 0; }
}
@keyframes rollIn {
0% { opacity: 0; transform: translate3d(-100%, 0px, 0px) rotate3d(0, 0, 1, -120deg); }
100% { opacity: 1; transform: none; }
}
@keyframes rollOut {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(100%, 0px, 0px) rotate3d(0, 0, 1, 120deg); }
}
@keyframes zoomIn {
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
50% { opacity: 1; }
}
@keyframes zoomInDown {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -1000px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInLeft {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInRight {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInUp {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 1000px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomOut {
0% { opacity: 1; }
50% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
100% { opacity: 0; }
}
@keyframes zoomOutDown {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 2000px, 0px); transform-origin: center bottom 0px; animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomOutLeft {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0px, 0px); }
100% { opacity: 0; transform: scale(0.1) translate3d(-2000px, 0px, 0px); transform-origin: left center 0px; }
}
@keyframes zoomOutRight {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0px, 0px); }
100% { opacity: 0; transform: scale(0.1) translate3d(2000px, 0px, 0px); transform-origin: right center 0px; }
}
@keyframes zoomOutUp {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -2000px, 0px); transform-origin: center bottom 0px; animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes slideInDown {
0% { transform: translate3d(0px, -100%, 0px); visibility: visible; }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes slideInLeft {
0% { transform: translate3d(-100%, 0px, 0px); visibility: visible; }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes slideInRight {
0% { transform: translate3d(100%, 0px, 0px); visibility: visible; }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes slideInUp {
0% { transform: translate3d(0px, 100%, 0px); visibility: visible; }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes slideOutDown {
0% { transform: translate3d(0px, 0px, 0px); }
100% { visibility: hidden; transform: translate3d(0px, 100%, 0px); }
}
@keyframes slideOutLeft {
0% { transform: translate3d(0px, 0px, 0px); }
100% { visibility: hidden; transform: translate3d(-100%, 0px, 0px); }
}
@keyframes slideOutRight {
0% { transform: translate3d(0px, 0px, 0px); }
100% { visibility: hidden; transform: translate3d(100%, 0px, 0px); }
}
@keyframes slideOutUp {
0% { transform: translate3d(0px, 0px, 0px); }
100% { visibility: hidden; transform: translate3d(0px, -100%, 0px); }
}
