/* Code tidied up by ScrapBook */
.footer-agency { text-decoration: none; }
.caption { font-style: normal; font-family: "Trebuchet MS",Verdana,sans-serif; font-size: 0.85em; color: rgb(36, 36, 36); margin: 0px 0px 1.5em; }
@media only screen and (min-width: 768px) {
}
