/* Code tidied up by ScrapBook */
html, body { font-size: 1rem; font-family: "canada-type-gibson",sans-serif ! important; }
a { transition: all 0.3s ease 0s; }
.btn, button, .button, input[type="submit"] { font-weight: 700; font-size: 14px ! important; text-transform: uppercase ! important; font-family: "canada-type-gibson",sans-serif ! important; line-height: 1 ! important; letter-spacing: 1px; padding: 11px 22px 13px ! important; border: 2px solid transparent; color: rgb(255, 255, 255) ! important; background-color: rgb(234, 25, 33) ! important; box-shadow: none ! important; white-space: normal; display: inline-block; border-radius: 0px; transition: all 0.3s ease 0s; background-image: none; }
.btn:hover, .btn:focus, button:hover, button:focus, .button:hover, .button:focus, input[type="submit"]:hover, input[type="submit"]:focus { background-color: rgb(191, 17, 24) ! important; color: rgb(255, 255, 255) ! important; text-decoration: none ! important; border-color: rgb(191, 17, 24); }
.btn.transparent, button.transparent, .button.transparent, input.transparent[type="submit"] { padding: 0px ! important; background-color: transparent ! important; }
.btn:focus, button:focus, .button:focus, input[type="submit"]:focus { outline: medium none; }
.hallow-btn-white { font-weight: 700; font-size: 14px ! important; text-transform: uppercase ! important; font-family: "canada-type-gibson",sans-serif ! important; line-height: 1 ! important; letter-spacing: 1px; padding: 9px 22px 13px ! important; background-color: transparent ! important; box-shadow: none ! important; white-space: normal; display: inline-block; border-radius: 0px; transition: all 0.3s ease 0s; background-image: none; border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255) ! important; }
.hallow-btn-white:hover, .hallow-btn-white:focus { background-color: transparent ! important; color: rgb(26, 67, 138) ! important; text-decoration: none ! important; border-color: transparent; }
.hallow-btn-white:hover, .hallow-btn-white:focus { background-color: rgb(255, 255, 255) ! important; color: rgb(26, 67, 138) ! important; }
.hallow-btn-gray { font-weight: 700; font-size: 14px ! important; text-transform: uppercase ! important; font-family: "canada-type-gibson",sans-serif ! important; line-height: 1 ! important; letter-spacing: 1px; padding: 9px 22px 13px ! important; background-color: transparent ! important; box-shadow: none ! important; white-space: normal; display: inline-block; border-radius: 0px; transition: all 0.3s ease 0s; background-image: none; border: 2px solid rgb(120, 128, 133); color: rgb(120, 128, 133) ! important; }
.hallow-btn-gray:hover, .hallow-btn-gray:focus { background-color: transparent ! important; color: white ! important; text-decoration: none ! important; border-color: transparent; }
.hallow-btn-gray:hover, .hallow-btn-gray:focus { background-color: rgb(120, 128, 133) ! important; color: white ! important; }
i.fa-long-arrow-right { font-size: 20px; display: inline-block; padding-left: 15px; position: relative; top: 2px; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; }
h4 { font-size: 28px; }
.light-text-on-dark { color: white; }
.dark-text-on-light { color: rgb(36, 36, 36); }
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
.search-form { display: block; position: relative; }
.search-form .search-field { height: auto; border-radius: 0px; box-shadow: none; transition: none 0s ease 0s ; }
@media only screen and (min-width: 768px) {
}
.search-form.home-search { max-width: 300px; margin: 30px auto 0px; }
.search-form .search-field { width: 100%; font-size: 1rem; padding: 9px 50px 9px 15px; outline: medium none; border: medium none; color: rgb(36, 36, 36); }
.search-form .search-button { top: 50%; right: 0px; transform: translateY(-50%); position: absolute; width: 40px ! important; height: 40px ! important; display: flex; justify-content: center; align-items: center; font-size: 0.7rem ! important; padding: 0px ! important; margin: 0px; box-sizing: content-box; border: 1px solid transparent; }
@media only screen and (min-width: 768px) {
}
#masthead { background: none repeat scroll 0% 0% rgb(26, 67, 138); box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.5) inset; }
#masthead .announcement { background: none repeat scroll 0% 0% rgb(234, 25, 33); padding: 1em 0px; }
#masthead .announcement .subtitle { display: block; color: white; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; line-height: 1; margin: 0px 0px 5px; }
#masthead .announcement .title { display: block; color: white; font-size: 1.5rem; line-height: 1.2; }
#masthead .announcement .title a { color: white; }
#masthead .announcement .title a:hover, #masthead .announcement .title a:focus { text-decoration: none; color: rgb(253, 158, 162); }
#masthead .announcement .dismiss { float: right; }
#masthead .announcement .dismiss:hover, #masthead .announcement .dismiss:focus { background-color: rgba(0, 0, 0, 0.2) ! important; line-height: 0 ! important; }
#masthead .topbar { background: none repeat scroll 0% 0% rgb(9, 50, 90); }
#masthead .topbar .flex-container { -moz-box-pack: end; justify-content: flex-end; }
#masthead .topbar .topbar-menu { -moz-box-flex: 0; flex: 0 1 auto; }
#masthead .topbar .nav li a, #masthead .topbar .nav li .slash { font-size: 0.9375rem; color: rgb(186, 214, 255); padding: 3px 12px; }
#masthead .topbar .nav li a:hover, #masthead .topbar .nav li a:focus, #masthead .topbar .nav li .slash:hover, #masthead .topbar .nav li .slash:focus { color: white; background-color: transparent; }
#masthead .topbar .nav li .slash { display: inline-block; padding: 3px 0px; }
#masthead .topbar .nav li .slash:hover, #masthead .topbar .nav li .slash:focus { color: rgb(186, 214, 255); }
#masthead .topbar .nav li:hover, #masthead .topbar .nav li:focus { background-color: transparent; }
#masthead .topbar .nav li:hover a, #masthead .topbar .nav li:focus a { color: white; }
@media screen and (min-width: 689px) and (max-width: 991px) {
  #masthead .topbar .nav li a { padding: 6px 20px; width: auto; max-width: 320px; white-space: inherit; }
}
#masthead .topbar .nav li .dropdown-menu { background-color: rgb(9, 50, 90); border-radius: 0px; margin: 0px; padding: 0px; border: medium none; min-width: 170px; }
#masthead .topbar .nav li .dropdown-menu li a { color: rgb(186, 214, 255); padding: 6px 20px; }
@media screen and (min-width: 689px) and (max-width: 991px) {
  #masthead .topbar .nav li .dropdown-menu li a { padding: 6px 20px 6px 25px; }
  #masthead .topbar .nav li .dropdown-menu li a:after { display: inline; position: absolute; transform: rotate(180deg); left: 10px; }
}
#masthead .topbar .nav li .dropdown-menu li a:hover, #masthead .topbar .nav li .dropdown-menu li a:focus { background-color: rgb(13, 136, 213); color: white; background-image: none; }
#masthead .topbar .nav .language1 a { padding-right: 8px; margin-left: 25px; }
#masthead .topbar .nav .language2 a { padding-left: 8px; padding-right: 0px; }
#masthead .site-header { -moz-box-align: center; align-items: center; }
#masthead .branding { max-width: 150px; margin: -20px 0px; position: relative; z-index: 2; -moz-box-flex: 0; flex: 0 1 auto; }
#masthead .branding img { border-radius: 50%; box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.25); transition: all 0.4s ease 0s; width: 150px; max-width: 150px; }
#masthead .branding img:hover { box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.4); }
#masthead aside { padding: 1em 0px 0px 2em; -moz-box-flex: 1; flex: 1 1 auto; }
@media screen and (min-width: 689px) and (max-width: 991px) {
  #masthead aside { justify-content: space-between ! important; padding: 0px 15px 0px 40px ! important; }
}
#masthead aside .flex-container { -moz-box-pack: end; justify-content: flex-end; -moz-box-align: center; align-items: center; position: relative; }
#masthead aside .flex-container .btn { margin-right: 15px; }
#masthead .looking-for { -moz-box-flex: 0; flex: 0 1 auto; margin-right: 1em; }
#masthead .looking-for .dropdown-toggle { position: relative; padding: 9px 15px; }
#masthead .looking-for .dropdown-toggle .caret { position: absolute; right: 15px; top: 18px; }
#masthead .looking-for li { width: 220px; background: none repeat scroll 0% 0% white; }
#masthead .looking-for li a { color: rgb(36, 36, 36); }
#masthead .looking-for li .dropdown-menu { background-color: white; border-radius: 0px; margin: 0px; padding: 0px; border: medium none; }
#masthead .looking-for li .dropdown-menu li a { padding: 6px 15px; white-space: normal; }
#masthead .looking-for li .dropdown-menu li a:hover, #masthead .looking-for li .dropdown-menu li a:focus { color: rgb(13, 136, 213); background-image: none; }
#masthead .main-menu { -moz-box-flex: 0; flex: 0 1 auto; margin: 3px 0.5em 0px 0px; }
#masthead .main-menu li a { color: white; font-family: "clarendon-text-pro",serif; font-size: 1.25rem; }
#masthead .main-menu li a:hover, #masthead .main-menu li a:focus { background-color: transparent; }
#masthead .main-menu li .header-search-btn { background-color: transparent ! important; border: medium none; padding: 0px 5px ! important; margin: 2px 0px 0px 2px; }
#masthead .main-menu li .header-search-btn i { font-size: 1.5rem; }
@media screen and (max-width: 991px) {
  #masthead .main-menu li .header-search-btn { margin-top: 30px; margin-bottom: 20px; }
}
#masthead .main-menu li:hover *, #masthead .main-menu li:focus * { color: rgb(109, 194, 238); background-color: transparent; }
#masthead .main-menu li:last-of-type { text-align: center; }
#masthead .nav li a { padding: 4px 10px; }
#masthead .navbar-default { background-image: none; border-radius: 0px; border: 0px none; background-color: transparent; margin-bottom: 0px; }
#masthead .navbar { border: 0px none; min-height: 0px; box-shadow: none; }
@media screen and (min-width: 689px) and (max-width: 991px) {
  #masthead .navbar .nav { margin: 10px auto ! important; }
}
#masthead .navbar-collapse.collapse, #masthead .main-nav-wrapper { margin-right: 0px; }
@media screen and (min-width: 689px) and (max-width: 991px) {
  #masthead .navbar-collapse.collapse, #masthead .main-nav-wrapper { margin: 0px auto ! important; }
}
@media screen and (min-width: 689px) and (max-width: 767px) {
  #masthead .navbar-collapse.collapse, #masthead .main-nav-wrapper { left: auto; right: -15px; }
}
#masthead .main-menu { margin: 10px 0px 8px; }
@media screen and (max-width: 689px) {
  #masthead .main-menu li .dropdown-toggle { text-align: center; }
}
#masthead .main-menu li .dropdown-menu { background-color: rgb(9, 50, 90); padding: 0px; margin: 0px; right: auto; left: 0px; }
#masthead .main-menu li .dropdown-menu li a { color: rgb(186, 214, 255); font-family: "canada-type-gibson",sans-serif; font-size: 1rem; padding: 0.6em 1.2em; }
#masthead .main-menu li .dropdown-menu li a:hover, #masthead .main-menu li .dropdown-menu li a:focus { background-color: rgb(13, 136, 213); background-image: none; color: white; }
#masthead .main-menu li .dropdown-menu li:last-child { margin-right: 0px; text-align: left; }
#masthead .dropdown-submenu { position: relative; }
#masthead .dropdown-submenu:hover > .dropdown-menu, #masthead .dropdown-submenu:focus > .dropdown-menu, #masthead .dropdown-submenu:active > .dropdown-menu { display: block ! important; position: absolute; top: 0px; left: 100%; }
@media screen and (max-width: 370px) {
  #masthead .dropdown-submenu:hover > .dropdown-menu, #masthead .dropdown-submenu:focus > .dropdown-menu, #masthead .dropdown-submenu:active > .dropdown-menu { width: 170px ! important; }
}
@media screen and (min-width: 689px) and (max-width: 991px) {
  #masthead .dropdown-submenu:hover > .dropdown-menu, #masthead .dropdown-submenu:focus > .dropdown-menu, #masthead .dropdown-submenu:active > .dropdown-menu { left: -186%; }
}
#masthead .dropdown-submenu > a:after { display: block; content: " "; float: right; width: 0px; height: 0px; border-color: transparent transparent transparent rgb(186, 214, 255); border-style: solid; border-width: 5px 0px 5px 5px; margin-top: 5px; margin-right: -10px; }
#masthead .dropdown-submenu:hover > a:after { border-left-color: rgb(186, 214, 255); }
@media screen and (min-width: 689px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #masthead .site-header aside { padding-left: 0px; }
  #masthead .main-nav-wrapper { padding-left: 0px; }
  #masthead .navbar-collapse.collapse { padding-left: 0px; }
  #masthead .nav li a { padding: 4px 7px; font-size: 1.22rem; }
}
@media only screen and (min-width: 690px) and (max-width: 991px) {
  #masthead .navbar-header { display: flex; float: right; }
  #masthead .navbar-left, #masthead .navbar-right { float: none ! important; }
  #masthead .navbar-toggle { display: block; }
  #masthead .navbar-collapse.collapse { display: none ! important; }
  #masthead .navbar-nav { float: none ! important; margin-top: 7.5px; margin-right: 0px; }
  #masthead .navbar-collapse { position: absolute; top: 78px; right: 0px; border: medium none; box-shadow: none; width: 300px; z-index: 99999; background-color: rgb(9, 50, 90); }
  #masthead .main-menu { margin: 20px auto; }
  #masthead .main-menu li { float: none; margin: 12px auto; }
  #masthead .main-menu li a { text-align: center; }
  #masthead .navbar-toggle { border: 0px none; margin-top: 0px; background-color: transparent ! important; border-radius: 0px; padding: 5px 10px ! important; margin-right: -10px; }
  #masthead .navbar-toggle span { background-color: white; margin: 5px 0px; width: 25px; height: 3px; }
  #masthead .site-header aside { display: flex; -moz-box-align: baseline; align-items: baseline; -moz-box-pack: end; justify-content: flex-end; position: static; padding: 0px 15px; }
  #masthead .topbar .nav .language1 a { margin-left: 5px ! important; }
}
@media only screen and (max-width: 689px) {
  #masthead .topbar .flex-container { -moz-box-orient: horizontal; -moz-box-direction: normal; flex-direction: row; -moz-box-pack: center; justify-content: center; width: 100%; }
  #masthead .topbar .flex-container .language1 { margin-left: auto; }
  #masthead .flex-container.site-header { -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; }
  #masthead .quick-links { padding-left: 0px ! important; }
  #masthead .branding { align-self: center; margin-top: -15px; }
  #masthead .site-header aside { padding-bottom: 5px; }
  #masthead .navbar { width: 100vw; }
  #masthead .navbar-toggle { margin-top: 65px; background-color: transparent ! important; margin-bottom: 0px; }
  #masthead .looking-for-wrapper { background-color: rgb(9, 50, 90); padding: 18px 0px; -moz-box-pack: center; justify-content: center; }
  #masthead .navbar-collapse { overflow: hidden; border: medium none; box-shadow: none; }
  #masthead .navbar-nav { margin-top: 30px; }
  #masthead .navbar-toggle { border: 0px none; margin-top: 0px; background-color: transparent ! important; border-radius: 0px; padding: 5px 10px ! important; }
  #masthead .navbar-toggle span { background-color: white; margin: 5px 0px; width: 25px; height: 3px; }
  #masthead .site-header aside { position: relative; width: 100%; padding: 0px; margin-top: -25px; }
  #masthead .main-menu { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; }
  #masthead .nav li a { margin: 4px 0px; }
  #masthead .navbar-collapse { margin-right: 0px; }
  #masthead .looking-for-2 .btn { padding-top: 15px ! important; }
  #masthead .dropdown-submenu:hover > .dropdown-menu { width: 200px; }
  #masthead .dropdown-submenu:hover > .dropdown-menu a { white-space: pre-wrap; }
}
@media screen and (max-width: 689px) {
  #masthead .looking-for-1 { display: none; }
}
@media screen and (min-width: 690px) {
  #masthead .looking-for-2 { display: none; }
}
@media screen and (max-width: 689px) {
}
@media screen and (max-width: 450px) {
}
.google-custom-search { position: relative ! important; }
.modal .google-custom-search { display: none ! important; }
@media screen and (max-width: 768px) {
}
#site-footer { background-color: rgb(5, 57, 102); padding: 60px 0px 40px; color: white; clear: both; }
#site-footer h3 { color: rgb(109, 194, 238); font-family: "clarendon-text-pro",serif; font-size: 1rem; font-weight: 400; margin-top: 0px; }
#site-footer ul { margin-bottom: 1.5em; list-style: none outside none; padding: 0px; }
#site-footer ul li a { color: white; }
#site-footer ul li a:hover, #site-footer ul li a:focus { color: rgb(109, 194, 238); text-decoration: none; }
#site-footer .footer-branding { margin-bottom: 2em; width: 106px; }
#site-footer address { line-height: 1.6; }
#site-footer address .address { font-family: "clarendon-text-pro",serif; font-style: italic; }
#site-footer address .pipe { margin: 0px 6px; }
#site-footer address .phone, #site-footer address .email { font-weight: 600; }
#site-footer address a { color: white; }
#site-footer address a:hover, #site-footer address a:focus { color: rgb(109, 194, 238); text-decoration: none; }
#site-footer .footer-menu { margin-top: 2em; }
#site-footer .footer-menu li a { font-size: 1.0625rem; padding: 4px 0px; display: block; }
#site-footer .col-md-4:nth-child(1) { text-align: center; }
#site-footer .col-md-4:nth-child(3) { text-align: right; }
#site-footer .social-links { text-align: center; margin: 2em 0px 1em; }
#site-footer .social-links a { color: white; font-size: 1.5rem; margin: 0px 10px; }
#site-footer .social-links a:hover, #site-footer .social-links a:focus { color: rgb(109, 194, 238); }
#site-footer .copyright { text-align: center; }
#site-footer .copyright p { font-family: "clarendon-text-pro",serif; color: white; font-style: italic; font-size: 0.875rem; line-height: 1.6; }
#site-footer .copyright a { color: white; margin: 0px 10px; }
#site-footer .copyright a:hover, #site-footer .copyright a:focus { color: rgb(109, 194, 238); text-decoration: none; }
@media only screen and (max-width: 991px) {
  #site-footer h3 { text-align: center; }
  #site-footer .footer-menu { margin-bottom: 3em; }
  #site-footer .col-md-4 { text-align: center; }
  #site-footer .col-md-4:nth-child(3) { text-align: center; }
  #site-footer .social-links { text-align: center; margin: 2em 0px 1em; }
  #site-footer .social-links a { color: white; font-size: 1.5rem; margin: 0px 10px; }
  #site-footer .social-links a:hover, #site-footer .social-links a:focus { color: rgb(109, 194, 238); }
  #site-footer .copyright { text-align: center; }
  #site-footer .copyright p { font-family: "clarendon-text-pro",serif; color: white; font-style: italic; font-size: 0.875rem; line-height: 1.6; }
  #site-footer .copyright a { color: white; margin: 0px 10px; }
  #site-footer .copyright a:hover, #site-footer .copyright a:focus { color: rgb(109, 194, 238); text-decoration: none; }
}
#home-carousel.carousel { height: auto; min-height: 600px; background-color: rgb(36, 36, 36); }
#home-carousel.carousel .carousel-inner { overflow: hidden ! important; }
#home-carousel.carousel .item { height: 100%; width: 100%; }
#home-carousel.carousel .item img { display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); min-height: 100%; min-width: 100%; }
#home-carousel.carousel .item .container { height: calc(100% - 80px); display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
#home-carousel.carousel .carousel-caption { background: none repeat scroll 0% 0% white; padding: 30px 50px; width: 460px; max-width: 100vw; position: static; }
#home-carousel.carousel .carousel-caption .carousel-caption-title { text-shadow: none; margin-top: 0px; color: rgb(36, 36, 36); }
#home-carousel.carousel .carousel-caption hr { max-width: 70px; height: 4px; background-color: rgb(184, 191, 196); }
#home-carousel.carousel .carousel-caption .carousel-caption-text, #home-carousel.carousel .carousel-caption p { font-family: "clarendon-text-pro",serif; color: rgb(122, 130, 137); font-style: italic; font-weight: 400; text-shadow: none; margin-bottom: 30px; line-height: 1.5; }
#home-carousel.carousel .carousel-caption p { font-style: inherit; font-family: inherit; }
#home-carousel.carousel .carousel-inner { min-height: 600px; height: auto; overflow: visible; }
#home-carousel.carousel .carousel-control { background-image: none; }
#home-carousel.carousel .carousel-control .fa { background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -75px; bottom: 0px; margin-top: auto; margin-bottom: auto; width: 35px; height: 60px; line-height: 58px; text-shadow: none; }
#home-carousel.carousel .carousel-control .fa:before { position: relative; }
#home-carousel.carousel .carousel-control.left .fa { left: 0px; }
#home-carousel.carousel .carousel-control.left .fa:before { left: -4px; }
#home-carousel.carousel .carousel-control.right .fa { right: 0px; }
#home-carousel.carousel .carousel-control.right .fa:before { right: -4px; }
#home-carousel.carousel .carousel-control.left:hover, #home-carousel.carousel .carousel-control.left:focus { background-image: none; background-color: transparent; }
#home-carousel.carousel .carousel-control.right:hover, #home-carousel.carousel .carousel-control.right:focus { background-image: none; background-color: transparent; }
#home-carousel.carousel .carousel-control:hover .fa { background-color: rgba(0, 0, 0, 0.75); }
#home-carousel.carousel .carousel-indicators-wrap { position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: 15; background-color: rgba(0, 0, 0, 0.5); display: none; }
@media only screen and (min-width: 768px) {
  #home-carousel.carousel .carousel-indicators-wrap { display: block; }
}
@media screen and (max-width: 768px) {
  #home-carousel.carousel { height: auto; min-height: 500px; }
  #home-carousel.carousel .item { padding: 30px 20px; height: 100%; width: 100%; }
  #home-carousel.carousel .item .container { width: 100%; max-width: 460px; height: 100%; display: flex; align-items: center; justify-content: center; padding: 0px; position: relative; }
  #home-carousel.carousel .carousel-caption { padding: 30px 25px; width: 100%; position: static; }
  #home-carousel.carousel .carousel-inner { min-height: 500px; height: auto; overflow: visible; }
  #home-carousel.carousel .carousel-control .fa { top: 0px; }
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
#what-we-believe, #about, #info-about, .browse-resources { background-color: rgb(26, 67, 138); padding: 50px 0px; }
#what-we-believe h2, #about h2, #info-about h2, .browse-resources h2 { margin-top: 0px; }
#what-we-believe .support-p, #about .support-p, #info-about .support-p, .browse-resources .support-p { line-height: 1.4; font-size: 18px; margin-bottom: 20px; }
#what-we-believe .icon-list, #about .icon-list, #info-about .icon-list, .browse-resources .icon-list { display: inline-block; text-align: left; }
#what-we-believe .icon-list .link-list, #about .icon-list .link-list, #info-about .icon-list .link-list, .browse-resources .icon-list .link-list { display: inline-block; color: white; font-weight: 600; line-height: 2; padding: 4px 0px; }
#what-we-believe .icon-list .link-list:hover, #about .icon-list .link-list:hover, #info-about .icon-list .link-list:hover, .browse-resources .icon-list .link-list:hover { color: rgb(137, 195, 225); text-decoration: none; }
#what-we-believe .icon-list .link-list:before, #about .icon-list .link-list:before, #info-about .icon-list .link-list:before, .browse-resources .icon-list .link-list:before { font-family: 'Glyphicons Halflings'; content: ""; color: rgb(13, 136, 213); padding-right: 5px; font-size: 12px; float: left; position: relative; top: 4px; }
#what-we-believe .p-italic, #about .p-italic, #info-about .p-italic, .browse-resources .p-italic { font-family: "clarendon-text-pro",serif; font-style: italic; font-size: 0.875rem; }
#what-we-believe .icon-list, #about .icon-list, #info-about .icon-list, .browse-resources .icon-list { margin-bottom: 0px; }
#what-we-believe .hallow-btn-white, #about .hallow-btn-white, #info-about .hallow-btn-white, .browse-resources .hallow-btn-white { margin: 30px 0px 50px; }
@media only screen and (min-width: 768px) {
  @supports (-webkit-overflow-scrolling: touch) {
  #what-we-believe .hallow-btn-white, #about .hallow-btn-white, #info-about .hallow-btn-white, .browse-resources .hallow-btn-white { margin-top: -280px; }
}
  @supports not (-webkit-overflow-scrolling: touch) {
  #what-we-believe .hallow-btn-white, #about .hallow-btn-white, #info-about .hallow-btn-white, .browse-resources .hallow-btn-white { margin-top: 0px; }
}
}
#what-we-believe .flex-container, #about .flex-container, #info-about .flex-container, .browse-resources .flex-container { -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; }
#what-we-believe .usa, #about .usa, #info-about .usa, .browse-resources .usa { display: block; width: 100%; position: relative; }
#what-we-believe .find-congregation-wrapper, #about .find-congregation-wrapper, #info-about .find-congregation-wrapper, .browse-resources .find-congregation-wrapper { width: 100%; height: auto; position: absolute; top: 50%; left: 0px; transform: translateY(-50%); }
#what-we-believe .icon-list, .browse-resources .icon-list, .popular-searches-wrapper .icon-list { max-width: 450px; position: relative; left: 57%; transform: translateX(-50%); }
@media only screen and (min-width: 768px) {
  #what-we-believe .icon-list, .browse-resources .icon-list, .popular-searches-wrapper .icon-list { max-width: 750px; margin-bottom: 45px; }
}
@media only screen and (min-width: 992px) {
  #what-we-believe .icon-list, .browse-resources .icon-list, .popular-searches-wrapper .icon-list { padding-left: 0px; left: 0px; transform: none; }
}
@supports (-ms-ime-align: auto) {
  #what-we-believe .icon-list, .browse-resources .icon-list, .popular-searches-wrapper .icon-list { display: block ! important; }
  @media only screen and (min-width: 768px) {
  #what-we-believe .icon-list, .browse-resources .icon-list, .popular-searches-wrapper .icon-list { display: block ! important; }
}
}
@media not all, not all {
  #what-we-believe .icon-list, .browse-resources .icon-list, .popular-searches-wrapper .icon-list { display: block ! important; }
}
@media not all {
  #what-we-believe .icon-list, .browse-resources .icon-list, .popular-searches-wrapper .icon-list { display: block ! important; }
}
#about { background-color: rgb(26, 67, 138); padding: 95px 0px; }
#about .row { max-width: 650px; margin: 0px auto; position: relative; }
#about .row .cross-image { position: absolute; left: 50%; transform: translateX(-50%); top: -26px; }
#about .row h2 { margin-bottom: 25px; }
#about .row .support-p { margin: 0px auto 30px; max-width: 550px; }
#about .row .icon-list { width: 100%; max-width: 330px; }
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
#what-we-believe .flex-container { flex-direction: column; }
@media only screen and (min-width: 992px) {
  #what-we-believe .flex-container { flex-direction: row; }
}
@media only screen and (min-width: 992px) {
  #what-we-believe h2, #what-we-believe .support-p { text-align: left; }
  #what-we-believe .icon-list { display: block; }
  #what-we-believe .icon-list .link-list { line-height: 1.6; }
  #what-we-believe .btn-left { text-align: left; }
  #what-we-believe .hallow-btn-white { margin-bottom: 0px; }
  #about ul.icon-list li a.link-list { padding: 2px 0px; }
}
@media screen and (max-width: 767px) {
}
#latest-news, #home-events, #home-resources, #news-and-announcements, #from-our-blog, #continue-reading, #upcoming-events, #resources { padding: 30px 0px; background: none repeat scroll 0% 0% rgb(245, 245, 245); }
#latest-news .flex-container, #home-events .flex-container, #home-resources .flex-container, #news-and-announcements .flex-container, #from-our-blog .flex-container, #continue-reading .flex-container, #upcoming-events .flex-container, #resources .flex-container { flex-wrap: wrap; }
#latest-news .flex-item, #home-events .flex-item, #home-resources .flex-item, #news-and-announcements .flex-item, #from-our-blog .flex-item, #continue-reading .flex-item, #upcoming-events .flex-item, #resources .flex-item { -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-flex: 0; flex: 0 1 100%; margin: 5%; }
@media only screen and (min-width: 768px) {
  #latest-news .flex-item, #home-events .flex-item, #home-resources .flex-item, #news-and-announcements .flex-item, #from-our-blog .flex-item, #continue-reading .flex-item, #upcoming-events .flex-item, #resources .flex-item { flex-basis: 48%; margin: 1%; }
}
@media only screen and (min-width: 992px) {
  #latest-news .flex-item, #home-events .flex-item, #home-resources .flex-item, #news-and-announcements .flex-item, #from-our-blog .flex-item, #continue-reading .flex-item, #upcoming-events .flex-item, #resources .flex-item { flex-basis: 31.333%; }
}
#latest-news .thumbnail, #latest-news .large-thumbnail, #home-events .thumbnail, #home-events .large-thumbnail, #home-resources .thumbnail, #home-resources .large-thumbnail, #news-and-announcements .thumbnail, #news-and-announcements .large-thumbnail, #from-our-blog .thumbnail, #from-our-blog .large-thumbnail, #continue-reading .thumbnail, #continue-reading .large-thumbnail, #upcoming-events .thumbnail, #upcoming-events .large-thumbnail, #resources .thumbnail, #resources .large-thumbnail { padding: 0px; border: medium none; transition: all 0.3s ease 0s; border-radius: 0px ! important; }
#latest-news .thumbnail .image-wrapper, #latest-news .large-thumbnail .image-wrapper, #home-events .thumbnail .image-wrapper, #home-events .large-thumbnail .image-wrapper, #home-resources .thumbnail .image-wrapper, #home-resources .large-thumbnail .image-wrapper, #news-and-announcements .thumbnail .image-wrapper, #news-and-announcements .large-thumbnail .image-wrapper, #from-our-blog .thumbnail .image-wrapper, #from-our-blog .large-thumbnail .image-wrapper, #continue-reading .thumbnail .image-wrapper, #continue-reading .large-thumbnail .image-wrapper, #upcoming-events .thumbnail .image-wrapper, #upcoming-events .large-thumbnail .image-wrapper, #resources .thumbnail .image-wrapper, #resources .large-thumbnail .image-wrapper { display: flex; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; overflow: hidden; height: 183px; width: 100%; }
#latest-news .thumbnail .image-wrapper img, #latest-news .large-thumbnail .image-wrapper img, #home-events .thumbnail .image-wrapper img, #home-events .large-thumbnail .image-wrapper img, #home-resources .thumbnail .image-wrapper img, #home-resources .large-thumbnail .image-wrapper img, #news-and-announcements .thumbnail .image-wrapper img, #news-and-announcements .large-thumbnail .image-wrapper img, #from-our-blog .thumbnail .image-wrapper img, #from-our-blog .large-thumbnail .image-wrapper img, #continue-reading .thumbnail .image-wrapper img, #continue-reading .large-thumbnail .image-wrapper img, #upcoming-events .thumbnail .image-wrapper img, #upcoming-events .large-thumbnail .image-wrapper img, #resources .thumbnail .image-wrapper img, #resources .large-thumbnail .image-wrapper img { min-width: 100% ! important; min-height: 100% ! important; transition: all 0.3s ease 0s; }
#latest-news .thumbnail .caption, #latest-news .large-thumbnail .caption, #home-events .thumbnail .caption, #home-events .large-thumbnail .caption, #home-resources .thumbnail .caption, #home-resources .large-thumbnail .caption, #news-and-announcements .thumbnail .caption, #news-and-announcements .large-thumbnail .caption, #from-our-blog .thumbnail .caption, #from-our-blog .large-thumbnail .caption, #continue-reading .thumbnail .caption, #continue-reading .large-thumbnail .caption, #upcoming-events .thumbnail .caption, #upcoming-events .large-thumbnail .caption, #resources .thumbnail .caption, #resources .large-thumbnail .caption { padding: 0px 15px; height: calc(100% - 182px); }
#latest-news .thumbnail .caption .caption-wrapper, #latest-news .large-thumbnail .caption .caption-wrapper, #home-events .thumbnail .caption .caption-wrapper, #home-events .large-thumbnail .caption .caption-wrapper, #home-resources .thumbnail .caption .caption-wrapper, #home-resources .large-thumbnail .caption .caption-wrapper, #news-and-announcements .thumbnail .caption .caption-wrapper, #news-and-announcements .large-thumbnail .caption .caption-wrapper, #from-our-blog .thumbnail .caption .caption-wrapper, #from-our-blog .large-thumbnail .caption .caption-wrapper, #continue-reading .thumbnail .caption .caption-wrapper, #continue-reading .large-thumbnail .caption .caption-wrapper, #upcoming-events .thumbnail .caption .caption-wrapper, #upcoming-events .large-thumbnail .caption .caption-wrapper, #resources .thumbnail .caption .caption-wrapper, #resources .large-thumbnail .caption .caption-wrapper { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: justify; justify-content: space-between; padding-bottom: 40px; height: 100%; }
#latest-news .thumbnail .caption .caption-wrapper .caption-support, #latest-news .large-thumbnail .caption .caption-wrapper .caption-support, #home-events .thumbnail .caption .caption-wrapper .caption-support, #home-events .large-thumbnail .caption .caption-wrapper .caption-support, #home-resources .thumbnail .caption .caption-wrapper .caption-support, #home-resources .large-thumbnail .caption .caption-wrapper .caption-support, #news-and-announcements .thumbnail .caption .caption-wrapper .caption-support, #news-and-announcements .large-thumbnail .caption .caption-wrapper .caption-support, #from-our-blog .thumbnail .caption .caption-wrapper .caption-support, #from-our-blog .large-thumbnail .caption .caption-wrapper .caption-support, #continue-reading .thumbnail .caption .caption-wrapper .caption-support, #continue-reading .large-thumbnail .caption .caption-wrapper .caption-support, #upcoming-events .thumbnail .caption .caption-wrapper .caption-support, #upcoming-events .large-thumbnail .caption .caption-wrapper .caption-support, #resources .thumbnail .caption .caption-wrapper .caption-support, #resources .large-thumbnail .caption .caption-wrapper .caption-support { font-size: 0.8125rem; letter-spacing: 2px; text-transform: uppercase; font-weight: 600; color: rgb(165, 172, 178); margin: 0px; }
#latest-news .thumbnail .caption .caption-wrapper .category, #latest-news .large-thumbnail .caption .caption-wrapper .category, #home-events .thumbnail .caption .caption-wrapper .category, #home-events .large-thumbnail .caption .caption-wrapper .category, #home-resources .thumbnail .caption .caption-wrapper .category, #home-resources .large-thumbnail .caption .caption-wrapper .category, #news-and-announcements .thumbnail .caption .caption-wrapper .category, #news-and-announcements .large-thumbnail .caption .caption-wrapper .category, #from-our-blog .thumbnail .caption .caption-wrapper .category, #from-our-blog .large-thumbnail .caption .caption-wrapper .category, #continue-reading .thumbnail .caption .caption-wrapper .category, #continue-reading .large-thumbnail .caption .caption-wrapper .category, #upcoming-events .thumbnail .caption .caption-wrapper .category, #upcoming-events .large-thumbnail .caption .caption-wrapper .category, #resources .thumbnail .caption .caption-wrapper .category, #resources .large-thumbnail .caption .caption-wrapper .category { margin-top: 25px; }
#latest-news .thumbnail .caption .caption-wrapper h3, #latest-news .large-thumbnail .caption .caption-wrapper h3, #home-events .thumbnail .caption .caption-wrapper h3, #home-events .large-thumbnail .caption .caption-wrapper h3, #home-resources .thumbnail .caption .caption-wrapper h3, #home-resources .large-thumbnail .caption .caption-wrapper h3, #news-and-announcements .thumbnail .caption .caption-wrapper h3, #news-and-announcements .large-thumbnail .caption .caption-wrapper h3, #from-our-blog .thumbnail .caption .caption-wrapper h3, #from-our-blog .large-thumbnail .caption .caption-wrapper h3, #continue-reading .thumbnail .caption .caption-wrapper h3, #continue-reading .large-thumbnail .caption .caption-wrapper h3, #upcoming-events .thumbnail .caption .caption-wrapper h3, #upcoming-events .large-thumbnail .caption .caption-wrapper h3, #resources .thumbnail .caption .caption-wrapper h3, #resources .large-thumbnail .caption .caption-wrapper h3 { margin: 17px 0px auto; }
#latest-news .thumbnail .caption .caption-wrapper .date, #latest-news .large-thumbnail .caption .caption-wrapper .date, #home-events .thumbnail .caption .caption-wrapper .date, #home-events .large-thumbnail .caption .caption-wrapper .date, #home-resources .thumbnail .caption .caption-wrapper .date, #home-resources .large-thumbnail .caption .caption-wrapper .date, #news-and-announcements .thumbnail .caption .caption-wrapper .date, #news-and-announcements .large-thumbnail .caption .caption-wrapper .date, #from-our-blog .thumbnail .caption .caption-wrapper .date, #from-our-blog .large-thumbnail .caption .caption-wrapper .date, #continue-reading .thumbnail .caption .caption-wrapper .date, #continue-reading .large-thumbnail .caption .caption-wrapper .date, #upcoming-events .thumbnail .caption .caption-wrapper .date, #upcoming-events .large-thumbnail .caption .caption-wrapper .date, #resources .thumbnail .caption .caption-wrapper .date, #resources .large-thumbnail .caption .caption-wrapper .date { margin-top: 22px; }
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 768px) {
}
#latest-news .hallow-btn-gray, #home-events .hallow-btn-gray, #home-resources .hallow-btn-gray, #news-and-announcements .hallow-btn-gray, #from-our-blog .hallow-btn-gray, #continue-reading .hallow-btn-gray, #upcoming-events .hallow-btn-gray, #resources .hallow-btn-gray { margin: 25px 0px 30px; }
#latest-news .thumbnail:hover, #latest-news .thumbnail:focus, #home-events .thumbnail:hover, #home-events .thumbnail:focus, #news-and-announcements .thumbnail:hover, #news-and-announcements .thumbnail:focus, #from-our-blog .thumbnail:hover, #from-our-blog .thumbnail:focus, #continue-reading .thumbnail:hover, #continue-reading .thumbnail:focus, #upcoming-events .thumbnail:hover, #upcoming-events .thumbnail:focus, #resources .thumbnail:hover, #resources .thumbnail:focus { box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2); transform: scale(1.01); }
#latest-news .thumbnail:hover img, #latest-news .thumbnail:focus img, #home-events .thumbnail:hover img, #home-events .thumbnail:focus img, #news-and-announcements .thumbnail:hover img, #news-and-announcements .thumbnail:focus img, #from-our-blog .thumbnail:hover img, #from-our-blog .thumbnail:focus img, #continue-reading .thumbnail:hover img, #continue-reading .thumbnail:focus img, #upcoming-events .thumbnail:hover img, #upcoming-events .thumbnail:focus img, #resources .thumbnail:hover img, #resources .thumbnail:focus img { transform: scale(1.075); }
#home-resources { padding: 55px 0px 75px; }
#home-resources .thumbnail .caption { padding: 30px 5%; }
#home-resources .thumbnail .caption .caption-left { width: 35%; margin-right: auto; }
#home-resources .thumbnail .caption .caption-left img { display: block; margin: 0px auto; }
#home-resources .thumbnail .caption .caption-left .lightbulb { margin-top: -10px; }
#home-resources .thumbnail .caption .caption-right { width: 62%; }
#home-resources .thumbnail .caption .caption-right h3 { font-size: 28px; margin: 0px 0px 18px; }
#home-resources .thumbnail .caption .caption-right .icon-list .link-list { padding: 3px 0px ! important; color: rgb(13, 136, 213) ! important; }
#home-resources .thumbnail .caption .caption-right .icon-list .link-list:hover, #home-resources .thumbnail .caption .caption-right .icon-list .link-list:focus, #home-resources .thumbnail .caption .caption-right .icon-list .link-list:hover #home-resources .thumbnail .caption .caption-right .icon-list .link-list:before { color: rgb(26, 67, 138) ! important; }
#home-resources .thumbnail .caption .caption-right .icon-list .link-list:before { font-family: 'Glyphicons Halflings'; content: ""; color: rgb(13, 136, 213); padding-right: 5px; font-size: 12px; float: left; position: relative; top: 4px; }
@media only screen and (min-width: 992px) {
  #home-resources .flex-item { flex-basis: 48%; margin: 1%; }
}
@media only screen and (min-width: 1200px) {
  #home-resources .flex-item { flex-basis: 31.333%; }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
#latest-news .flex-item, #news-and-announcements .flex-item, #home-resources .flex-item { -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-flex: 0; flex: 0 1 100%; margin: 0px 5% 30px; }
@media only screen and (min-width: 768px) {
  #latest-news .flex-item, #news-and-announcements .flex-item, #home-resources .flex-item { flex-basis: 48%; margin: 0px 1% 15px; }
}
@media only screen and (min-width: 992px) {
  #latest-news .flex-item, #news-and-announcements .flex-item, #home-resources .flex-item { flex-basis: 31.333%; margin: 0px 1% 22px; }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media screen and (min-width: 642px) {
}
@media only screen and (min-width: 992px) {
}
@media screen and (max-width: 641px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media screen and (max-width: 450px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media print {
  body header, body .secondary-nav { display: none; }
  body .explore-more-news, body #continue-reading, body footer { display: none; }
}
@media screen and (max-width: 689px) {
}
@media screen and (min-width: 690px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
@media screen and (max-width: 689px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 991px) {
}
a, a:hover, a:focus { text-decoration: none; outline: 0px none; }
body, html { overflow-x: hidden; padding-right: 0px ! important; }
body *::-moz-selection, html *::-moz-selection { background: none repeat scroll 0% 0% rgb(255, 242, 168); }
hr { max-width: 70px; height: 4px; background-color: rgb(184, 191, 196); margin-bottom: 30px; }
.flex-container { display: flex; }
.flex-container-center { display: flex; -moz-box-pack: center; justify-content: center; }
.no-padding { padding: 0px; }
.light-text-on-dark { color: white; }
.dark-text-on-light { color: rgb(36, 36, 36); }
@media only screen and (min-width: 768px) {
}
#cta-break { background: url("cta-image.jpg") no-repeat scroll right center / cover  transparent; }
@media only screen and (min-width: 768px) {
  #cta-break { background: url("cta-image.jpg") no-repeat scroll center center / cover  transparent; }
}
#cta-break .cta { background-color: rgba(13, 148, 219, 0.85); padding: 120px 40px 100px; }
#cta-break .cta .cta-caption-title { text-shadow: none; margin-top: 0px; }
#cta-break .cta hr { background-color: white; }
.cta-caption-text { font-family: "clarendon-text-pro",serif; font-style: italic; font-weight: 400; text-shadow: none; margin-bottom: 30px; line-height: 1.5; }
.number-two { margin-bottom: 60px; }
.info-about { text-align: center; clear: both; width: 320px; margin: 0px auto; }
.info-about li { width: 320px; background: none repeat scroll 0% 0% white; }
.info-about li .dropdown-menu { background-color: white; border-radius: 0px; margin: 0px; padding: 0px; border: medium none; max-height: 300px; overflow: auto; max-width: 320px; }
.info-about li .dropdown-menu li a { padding: 10px 18px; }
.info-about li .dropdown-menu li a:hover { background: none repeat scroll 0% 0% transparent; color: rgb(13, 136, 213); }
.info-about .dropdown-toggle { display: flex; -moz-box-align: center; align-items: center; -moz-box-pack: justify; justify-content: space-between; position: relative; padding: 10px 18px; border-radius: 0px; text-align: left; color: rgb(36, 36, 36); }
@keyframes shake {
10%, 90% { transform: translate3d(-1px, 0px, 0px); }
20%, 80% { transform: translate3d(2px, 0px, 0px); }
30%, 50%, 70% { transform: translate3d(-4px, 0px, 0px); }
40%, 60% { transform: translate3d(4px, 0px, 0px); }
}
