/* Code tidied up by ScrapBook */
@charset "UTF-8";
.all { margin: 0px auto; padding: 0px; border: 0px none; }
#head_sub { display: none; }
.all { background-image: none; }
#body .design ul#head_links { display: none; }
#body .design div#head_lang { display: none; }
#body .design #navi { display: none; border-bottom: 1px solid rgb(0, 51, 153); }
.design #head #head_sub { display: none; }
.design #foot address { display: none; }
.small { display: none; font-size: 85%; }
.design #foot_bg { background-image: none; }
.design #foot_link { display: none; }
.design #foot { display: none; }
