/* Code tidied up by ScrapBook */
@charset "UTF-8";
#body { margin: 0px; padding: 0px; border: 0px none; text-align: center; }
@media print {
  #body { margin: 0px; padding: 0px; border: 0px none; text-align: center; }
}
.all { margin: 0px auto; padding: 0px; border: 0px none; background-image: url("top_bg.gif"); background-repeat: no-repeat; background-position: center top; }
#head { margin: 0px; padding: 0px; border: 0px none; }
#zone01 { margin: 52px 0px 0px; padding: 0px; border: 0px none; width: 252px; float: left; }
#zone0203 { margin: 0px 0px 7px; padding: 0px; border: 0px none; float: right; width: 720px; }
#zone02 { margin: 0px; padding: 7px 0px 0px; border: 0px none; width: 484px; float: left; font-size: 90%; }
#zone03 { margin: 0px; padding: 8px 0px 0px; border: 0px none; width: 216px; float: right; }
#zone04 { margin: 24px 0px; }
#foot { margin: 0px; padding: 0px; border: 0px none; }
.dami { margin: 0px; padding: 0px; border: 0px none; clear: both; }
.anchor { display: block; margin: 0px; padding: 0px; border: 0px none; height: 1px; }
body { color: rgb(34, 34, 34); }
table { font-size: 100%; }
.h1 { margin: 0px; padding: 24px 0px 8px 14px; border: 0px none; float: left; font-size: 200%; font-weight: bold; }
h2 { font-size: 120%; }
p, ul, dl, ol, li, address, legend { line-height: 1.5em; margin-bottom: 0.25em; letter-spacing: 0.1em; }
p, dl { margin: 5px 5px 0.75em 0px; padding: 0px; border: 0px none; }
ul, ol { margin: 5px 5px 0.75em 25px; padding: 0px; border: 0px none; }
div, td, th { line-height: 1.5em; }
img { margin: 0px; padding: 0px; border: 0px none; }
.design form, fieldset { margin: 0px; padding: 0px; border: 0px none; }
a:link { text-decoration: underline; color: rgb(0, 51, 204); }
a:visited { text-decoration: underline; color: rgb(0, 51, 102); }
a:active { text-decoration: underline; color: rgb(204, 0, 0); }
a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.small { font-size: 85%; }
.date { font-size: 85%; color: rgb(85, 85, 85); }
.design #head_bg { margin: 0px; border: 0px none; }
.design #head { margin: 0px; padding: 16px 0px 0px; text-align: left; }
.design #head #head_sub, .design #head #head_main { margin: 0px auto; padding: 0px; width: 992px; }
.design #head #head_sub_lower01 { margin: 0px; float: left; line-height: 0; }
.design #head #head_sub_lower02 { margin: 0px; float: right; line-height: 0; }
.design #head_links, .design #head_lang, .design .font { margin: 0px; padding: 0px; border: 0px none; display: inline-block; list-style-type: none; }
.design #head_links li, .design #head_lang li { margin: 0px; padding: 0px; display: inline-block; font-size: 75%; line-height: 0; list-style-type: none; background: none repeat scroll 0% 0% transparent; }
.design #head_links li img, .design #head_lang li img, .design .font img { vertical-align: bottom; }
.design div.font { margin: 0px 0px 0px 4px; padding: 0px; vertical-align: bottom; display: inline-block; line-height: 0; }
.design div.font img { vertical-align: bottom; }
.design div.font p { margin: 0px; padding: 0px; display: inline-block; vertical-align: top; }
.design .font ul { margin: 0px; padding: 0px; display: inline-block; vertical-align: bottom; }
.design div.font li { margin: 0px; padding: 0px; background-image: none; display: inline; }
.design div#head_lang { margin: 0px 0px 0px 4px; padding: 0px; vertical-align: bottom; display: inline-block; line-height: 0; }
.design div#head_lang img { vertical-align: bottom; }
.design div#head_lang p { margin: 0px; padding: 0px; display: inline-block; vertical-align: top; }
.design #head_lang ul { margin: 0px; padding: 0px; display: inline-block; vertical-align: bottom; }
.design div#head_lang li { margin: 0px; padding: 0px; background-image: none; display: inline; }
.design #navi { margin: 0px; padding: 18px 0px 0px; float: right; }
.design #navi ul { margin: 0px auto; padding: 0px; border: 0px none; list-style-type: none; background: none repeat scroll 0% 0% transparent; }
.design #navi li { margin: 0px; padding: 0px; border: 0px none; float: left; white-space: nowrap; height: auto; }
.design #navi li img { vertical-align: bottom; }
#main { margin: 0px auto; width: 992px; }
.design #zone01 { text-align: left; }
.design #zone01 h2 { margin: 0px; padding: 5px 10px; background-image: url("z1_h2.gif"); background-position: 0px 0px; background-repeat: no-repeat; background-color: rgb(172, 211, 247); border-bottom: 1px solid rgb(0, 95, 188); }
.design #zone01 .h2 { margin: 0px; padding: 5px 10px; background-color: rgb(172, 211, 247); background-image: url("z1_h2.gif"); background-position: 0px 0px; background-repeat: no-repeat; color: rgb(255, 255, 255); border-bottom: 1px solid rgb(0, 95, 188); }
.design #zone01 .h2 h2 { margin: 0px; padding: 0px; float: left; border: 0px none; background-image: none; background-color: transparent; }
.design #zone01 .h2 p { margin: 0px; padding: 0px; float: right; }
.design #zone01 ul { margin: 5px 5px 0.75em 0px; padding: 0px; border: 0px none; }
.design #zone01 li { margin: 0px 0px 8px; padding: 0px 0px 0px 28px; border: 0px none; background-image: url("list01.gif"); background-repeat: no-repeat; background-position: 8px 5px; list-style-type: none; }
.design #zone01 .free_introduction { margin: 0px 0px 8px; }
.design #zone01 .free_introduction h2 { margin: 0px; padding: 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.design #zone01 .introduction_lower { padding: 8px 12px; border-right: 1px solid rgb(202, 202, 202); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(202, 202, 202) rgb(202, 202, 202); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(255, 255, 255); }
.design #zone01 .color_box_bg { margin: 0px 0px 12px; padding: 0px 0px 8px; background-image: url("color_box_bg02.gif"); background-repeat: no-repeat; background-position: center bottom; }
.design #zone01 .color_box { padding: 8px 0px 0px; background-image: url("color_box_bg.gif"); background-repeat: no-repeat; background-position: center top; }
.design #zone01 .color_box .image, .design #zone01 .color_box .image span { margin: 0px; padding: 0px; }
.design #zone01 .color_box .image { margin: 4px 0px 0px; }
.design #zone01 .color_box .image:first-child { margin: 0px; }
.design #zone01 .emergency { margin: 0px 0px 12px; padding: 0px; border: 0px none; background-color: rgb(255, 255, 255); font-size: 90%; }
.design #zone01 .emergency .h2 { margin: 0px; padding: 0px; border: 0px none; background-color: rgb(200, 22, 35); background-image: none; }
.design #zone01 .emergency_lower { margin: 0px; padding: 8px; border: 1px solid rgb(200, 20, 32); }
.design #zone01 .eme_img { margin: 0px; padding: 0px; border: 0px none; text-align: center; }
.design #zone01 .j_s { margin: 0px 0px 12px; padding: 0px; border: 0px none; background-color: rgb(255, 255, 255); }
.design #zone01 .j_s h2 { margin: 0px 0px 1px; padding: 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.design #zone01 .j_s_lower { margin: 0px; padding: 2px 16px 5px; border: 1px solid rgb(202, 202, 202); font-size: 90%; }
.design #zone01 .j_s ul { margin: 0px; padding: 0px; border: 0px none; list-style-type: none; }
.design #zone01 .j_s li { margin: 4px 0px 4px 5px; padding: 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.design #zone01 .j_s li strong { margin: 0px; padding: 0px 10px 0px 0px; border: 0px none; }
.design #zone01 .j_s p { margin: 5px 0px 8px 5px; padding: 0px; border: 0px none; font-size: 85%; color: rgb(51, 51, 51); text-align: right; }
.design #zone01 .image { margin: 0px 0px 10px; padding: 0px; border: 0px none; text-align: center; }
.design #zone01 .image h2 { margin: 0px; padding: 0px; border: 0px none; background-image: none; background-color: transparent; font-size: 100%; }
.design #zone01 .image .image_img { margin: 0px; padding: 0px 0px 2px; border: 0px none; width: 100%; }
.design #zone01 .image a { color: rgb(34, 34, 34) ! important; }
.design #zone01 .image span { margin: 3px 0px 0px; padding: 2px; border: 0px none; }
.design #zone01 .image img { margin: 0px; padding: 0px; border: 0px none; }
html > body .design #zone01 .image .window, html > body .design #zone01 .image .image_img { display: inline-block; }
.design #vis { margin: 0px auto 8px; padding: 8px; background-color: rgb(255, 255, 255); width: 704px; position: relative; }
.design .vis_pil { position: absolute; top: 0px; left: 0px; z-index: 9999; }
.design #vis ul { margin: 0px; padding: 0px; border: 0px none; }
.design #vis ul li { margin: 0px; padding: 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.bx-wrapper { position: relative; }
.bx-controls { margin: 4px 0px 0px; position: absolute; bottom: 16px; left: 12px; z-index: 9999; }
.bx-pager { float: left; }
.bx-pager-item { margin: 0px 10px 0px 0px; padding: 0px; display: inline-block; }
.bx-pager-item a, .bx-controls-auto-item a { padding: 6px; background-color: rgb(3, 106, 211); font-size: 80%; color: rgb(255, 255, 255); }
.bx-pager-item a.active { background-color: rgb(255, 255, 255); text-decoration: none ! important; color: rgb(34, 34, 34) ! important; }
.design #zone02 { text-align: left; }
.design #zone02 h2 { margin: 0px; background-image: url("z2_h2.gif"); background-position: 0px 0px; background-repeat: no-repeat; background-color: rgb(172, 211, 247); border-bottom: 1px solid rgb(0, 95, 188); padding: 5px 10px; }
.design #zone02 .h2 { margin: 0px; background-image: url("z2_h2.gif"); background-position: 0px 0px; background-repeat: no-repeat; background-color: rgb(172, 211, 247); border-bottom: 1px solid rgb(0, 95, 188); padding: 5px 10px; }
.design #zone02 .h2 h2 { margin: 0px; padding: 0px; float: left; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.design #zone02 .h2 p { margin: 0px; padding: 0px; float: right; }
.design #zone02 ul { margin: 5px 5px 0.75em 0px; padding: 0px; border: 0px none; list-style: none outside none; }
.design #zone02 li { margin: 0px 0px 8px; padding: 0px 0px 0px 24px; border: 0px none; background-image: url("list01.gif"); background-repeat: no-repeat; background-position: 5px 4px; }
.design #zone02 .free_life { margin: 0px 0px 12px; padding: 0px; }
.design #zone02 .free_life h2 { margin: 0px; padding: 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.design #zone02 .life_lower { margin: 0px; padding: 6px 0px 0px; }
.design #zone02 .life_lower ul { margin: 0px; padding: 0px; border: 0px none; }
.design #zone02 .life_lower ul li { margin: 0px 0px 1px; padding: 0px 0px 0px 1px; background: none repeat scroll 0% 0% transparent; float: left; }
.design #zone02 .life_lower ul li.ico_left { padding-left: 0px; }
.design #zone02 .life_lower ul li img { vertical-align: bottom; }
.design #zone02 .ranking { margin: 0px 0px 12px; }
.design #zone02 .ranking h2 { margin: 0px; padding: 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.design #zone02 .ranking_lower { margin: 0px; padding: 8px 16px; }
.design #zone02 .ranking_lower ol { margin: 0px; padding: 0px; border: 0px none; list-style-type: none; }
.design #zone02 .ranking_lower ol li { margin: 0px; padding: 8px 0px 8px 40px; }
.design #zone02 .ranking_lower ol li.rank01 { background-image: url("rank_1.gif"); background-repeat: no-repeat; background-position: 4px center; }
.design #zone02 .ranking_lower ol li.rank02 { background-image: url("rank_2.gif"); background-repeat: no-repeat; background-position: 4px center; }
.design #zone02 .ranking_lower ol li.rank03 { background-image: url("rank_3.gif"); background-repeat: no-repeat; background-position: 4px center; }
.design #zone02 .ranking_lower ol li.rank04 { background-image: url("rank_4.gif"); background-repeat: no-repeat; background-position: 4px center; }
.design #zone02 .ranking_lower ol li.rank05 { background-image: url("rank_5.gif"); background-repeat: no-repeat; background-position: 4px center; }
.design #zone02 .new { margin: 0px 0px 12px; padding: 0px; border: 0px none; }
.design #zone02 .new .h2 { margin: 0px; padding: 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.design #zone02 .h2 p { float: left; }
.design #zone02 .new_lower { margin: 0px; padding: 2px 8px 5px; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(7, 158, 227) rgb(7, 158, 227); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.design #zone02 .new ul { margin: 0px; padding: 0px; }
.design #zone02 .new li { margin: 0px; padding: 5px 0px 4px; border: 0px none; background-image: none; }
.design #zone02 .new .date { margin: 0px; padding: 5px 0px 0px 28px; display: block; font-weight: normal; font-size: 90%; background-image: url("list01.gif"); background-repeat: no-repeat; background-position: 8px 6px; color: rgb(85, 85, 85); }
.design #zone02 .new li .list { margin: 0px 5px 0px 0px; padding: 4px 0px 0px 10px; display: block; }
.design #zone02 .new .catch_lst .new_lst { margin: 0px 106px 0px 0px; padding: 0px; }
.design #zone02 .new .catch_lst .new_img { padding: 0px 10px 0px 0px; float: right; width: 96px; }
.design #zone03 { text-align: left; }
.design #zone03 h2 { margin: 0px; padding: 5px 10px; background-image: url("z3_h2.gif"); background-position: 0px 0px; background-repeat: no-repeat; border-bottom: 1px solid rgb(202, 202, 202); }
.design #zone03 ul { margin: 5px 5px 0.75em 0px; padding: 0px; border: 0px none; }
.design #zone03 li { background-image: url("list01.gif"); background-position: 8px 5px; background-repeat: no-repeat; border: 0px none; list-style-type: none; margin: 0px 0px 8px; padding: 0px 0px 0px 28px; }
.design .free_search { margin: 0px 0px 12px; padding: 0px; }
.design #cse-search-box { margin: 0px; padding: 0px; border: 0px none; color: rgb(34, 34, 34); }
.design #search_button { margin: 0px; padding: 0px; border: 0px none; font-size: 85%; line-height: 100%; display: inline-block; }
.design #q { margin: 0px; padding: 0px; border: 1px solid rgb(34, 183, 172); width: 150px; height: 34px; vertical-align: top; display: inline-block; font-size: 100%; }
.design #zone03 .event_month { margin: 0px 0px 0px 25px; padding: 0px; border: 0px none; font-weight: bold; }
.design #zone03 .event_month li { margin: 0px 5px 0px 0px; padding: 0px; display: inline; list-style-type: none; background-image: none; }
.design #zone03 .event_month img {  }
.design #zone03 .calendar { margin: 0px 0px 12px; padding: 0px; background-color: rgb(255, 255, 255); }
.design #zone03 .calendar h2 { margin: 0px; padding: 0px; border: 0px none; }
.design #zone03 .calendar .calendar_lower .event_month { margin: 0px; padding: 0px; }
.design #zone03 .calendar .event_month li { margin: 0px; padding: 0px; display: block; float: left; list-style-type: none; background-image: none; }
.design #zone03 .calendar .calendar_lower { margin: 0px; padding: 0px; border-right: 1px solid rgb(202, 202, 202); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(202, 202, 202) rgb(202, 202, 202); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; text-align: center; overflow: auto; }
.design #zone03 .calendar_lower .event_month { text-align: left; margin: 0px 2.5%; }
.design #zone03 .calendar table { margin: 0px 2.5% 5px; padding: 0px; border: 0px none; width: 94.5%; border-collapse: collapse; }
.design #zone03 .calendar caption { display: none; }
.design #zone03 .calendar th { margin: 0px; padding: 2px; border: 1px solid rgb(204, 204, 204); text-align: center; background-color: rgb(5, 105, 216); }
.design #zone03 .calendar td { margin: 0px; padding: 2px; border: 1px solid rgb(204, 204, 204); text-align: center; font-size: 90%; }
.design #zone03 .calendar .sun {  }
.design #zone03 .calendar .sat {  }
.design #zone03 .calendar .today { background-color: rgb(254, 191, 0); font-weight: bold; }
.design #zone03 .image { margin: 0px 0px 10px; padding: 0px; border: 0px none; text-align: center; }
.design #zone03 .image h2 { margin: 0px; padding: 0px; border: 0px none; background-image: none; background-color: transparent; font-size: 100%; }
.design #zone03 .image .image_img { margin: 0px; padding: 0px 0px 2px; border: 0px none; width: 100%; }
.design #zone03 .image span { margin: 3px 0px 0px; padding: 2px; border: 0px none; }
.design #zone03 .image img { margin: 0px; padding: 0px; border: 0px none; }
html > body .design #zone03 .image .window, html > body .design #zone03 .image .image_img { display: inline-block; }
.design #zone04 { text-align: left; }
.design #zone04_bg { text-align: left; width: 992px; margin: auto; }
.design #zone04 h2 { margin: 0px; padding: 5px 10px; background-image: url("z4_h2.gif"); background-position: 0px 0px; background-repeat: no-repeat; border-bottom: 1px solid rgb(0, 95, 188); background-color: rgb(202, 237, 253); }
.design #zone04 .h2 { margin: 0px; padding: 5px 10px; background-image: url("z4_h2.gif"); background-position: 0px 0px; background-repeat: no-repeat; border-bottom: 1px solid rgb(0, 95, 188); background-color: rgb(202, 237, 253); }
.design #zone04 .h2 h2 { margin: 0px; padding: 0px; float: left; border: 0px none; background: none repeat scroll 0% 0% transparent; }
.design #zone04 .h2 p { margin: 0px; padding: 0px; float: right; }
.design #zone04 ul { margin: 5px 5px 0.75em 0px; padding: 0px; border: 0px none; list-style: none outside none; }
.design #zone04 li { margin: 0px 0px 0.25em; padding: 0px 0px 0px 25px; border: 0px none; background-image: url("list01.gif"); background-repeat: no-repeat; background-position: 6px 4px; }
.design #zone04 .bana_bg { margin: 0px 0px 12px; padding: 0px; border-right: 0px none; border-left: 0px none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; border-style: solid none; border-color: rgb(213, 213, 213) -moz-use-text-color; background-color: rgb(255, 255, 255); }
.design #zone04 .bana { margin: 0px auto; width: 992px; }
.design #zone04 .bana .h2 { margin: 0px; padding: 8px 0px 8px 32px; border: 0px none; background: url("bana_h2_bg.gif") no-repeat scroll 12px top transparent; }
.design #zone04 .bana .h2 h2 { font-size: 100%; }
.design #zone04 .bana .h2 p { margin: 2px 0px 0px; padding: 0px 0px 0px 16px; font-size: 85%; background-image: url("list03.gif"); background-repeat: no-repeat; background-position: left center; }
.design #zone04 .bana .h2 p.bana_subtxt { margin: 2px 0px 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; float: left; }
.design #zone04 .bana_lower { margin: 0px; padding: 5px 0px 12px; border: 0px none; text-align: center; width: 100%; }
.design #zone04 .bana .bana_img { margin: 0px; padding: 0px 0px 2px; border: 0px none; width: auto; }
.design #zone04 .bana span { margin: 3px 0px 0px; padding: 2px; border: 0px none; }
.design #zone04 .bana ul { margin: 0px; padding: 0px; border: 0px none; list-style-type: none; text-align: center; }
.design #zone04 .bana li { margin: 0px 8px; padding: 0px 0px 5px; border: 0px none; float: left; line-height: 100%; background-image: none; }
.design #zone04 .bana img { margin: 0px; padding: 0px; border: 0px none; }
html > body .design #zone04 .bana .window, html > body .design #zone04 .bana .bana_img { display: inline-block; }
.design #foot_bg { margin: 32px 0px 0px; background-image: url("foot_bg.jpg"); background-repeat: no-repeat; background-position: center top; }
.design #foot { margin: 0px auto; padding: 0px 0px 10px; width: 992px; text-align: left; }
.design #foot .foot_sub { margin: 48px 24px 0px 0px; float: right; }
.design #foot .foot_main { float: left; width: 640px; }
.design #foot address { font-style: normal; }
.design #foot_modori { margin: 0px; padding: 0px; border: 0px none; font-size: 85%; text-align: right; }
.design #foot_copy { margin: 0px; padding: 6px 130px 6px 0px; border: 0px none; background-color: rgb(7, 108, 212); color: rgb(255, 255, 255); font-size: 80%; font-style: normal; }
.design #foot_link { margin: 0px; padding: 0px 130px 0px 0px; border: 0px none; list-style-type: none; font-size: 90%; }
.design #foot_link li { margin: 0px 0px 0px 8px; padding: 3px 10px 3px 16px; background-image: url("list02.gif"); background-repeat: no-repeat; background-position: 0px 2px; display: inline; white-space: nowrap; }
.design #foot_id { margin: 64px 0px 8px; padding: 0px; border: 0px none; }
.design #foot_id img { float: left; }
.clear:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; page-break-after: avoid; }
#view_sp { text-align: center; margin: 5px 10px; padding: 10px 8px; font-size: 110%; font-weight: bold; background: -moz-linear-gradient(center top , rgb(76, 76, 76) 0%, rgb(44, 44, 44) 44%, rgb(17, 17, 17) 58%, rgb(19, 19, 19) 100%) repeat scroll 0% 0% transparent; }
#view_sp a:link { text-decoration: none; color: rgb(255, 255, 255); }
#view_sp a:visited { text-decoration: none; color: rgb(255, 250, 255); }
#view_sp a:active { text-decoration: none; color: rgb(255, 255, 169); }
#view_sp a:hover { text-decoration: none; color: rgb(255, 255, 169); }
