/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("JTUSjIg1_i6t8kCHKm459WlhzQ.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("KFOmCnqEu92Fr1Mu4mxM.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("KFOlCnqEu92Fr1MmWUlfBBc-.woff") format("woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7Cw.woff") format("woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYaQ.woff") format("woff");
}
