/* Code tidied up by ScrapBook */
@font-face {
  font-family: "sidearm_font";
  font-style: normal;
  font-weight: normal;
  src: url("sidearm_font.eot") format("embedded-opentype"), url("sidearm_font.woff2") format("woff2"), url("sidearm_font.woff") format("woff"), url("sidearm_font.ttf") format("truetype"), url("sidearm_font.svg") format("svg");
}
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "sidearm_font"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 0.2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: 0.2em; }
.icon-calendar-1:before { content: ""; }
.icon-video:before { content: ""; }
.icon-radio:before { content: ""; }
.icon-twitter-retweet:before { content: ""; }
.icon-twitter-reply:before { content: ""; }
.icon-twitter:before { content: ""; }
.icon-loop:before { content: ""; }
.icon-stats:before { content: ""; }
.icon-list-bullet:before { content: ""; }
.icon-angle-down:before { content: ""; }
.icon-angle-right:before { content: ""; }
.icon-cancel:before { content: ""; }
.icon-search-1:before { content: ""; }
.icon-heart:before { content: ""; }
