/* Code tidied up by ScrapBook */
@font-face {
  font-family: "sidearm_font_v2";
  font-style: normal;
  font-weight: normal;
  src: url("sidearm_font_v2.eot") format("embedded-opentype"), url("sidearm_font_v2.woff2") format("woff2"), url("sidearm_font_v2.woff") format("woff"), url("sidearm_font_v2.ttf") format("truetype"), url("sidearm_font_v2.svg") format("svg");
}
