/* Code tidied up by ScrapBook */
@media (max-width: 1023px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1600px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 1023px) {
}
@media (max-width: 767px) {
}
@media (max-width: 539px) {
}
*, *:before, *:after { word-wrap: break-word; box-sizing: border-box; }
body { font-size: 1rem; line-height: 1.4; color: rgb(73, 73, 73); margin: 0px; }
img { display: inline-block; vertical-align: bottom; max-width: 100%; height: auto; }
a, a:link { color: rgb(55, 58, 54); }
a:visited { color: rgb(30, 32, 29); }
h1 { font-size: 2rem; margin: 1rem 0px; }
h2 { font-size: 1.5rem; margin: 0.83rem 0px; }
input, select, textarea { color: rgb(73, 73, 73); border-radius: 2px; border: 1px solid rgb(204, 204, 204); width: 100%; padding: 4px 8px; }
input:focus, select:focus, textarea:focus { outline: medium none; }
input[type="text"]:focus { border-color: rgb(55, 58, 54); }
button, input[type="reset"], input[type="submit"] { cursor: pointer; width: auto; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
@media (max-width: 768px) {
}
input, textarea, select, button { font-size: inherit; font-family: inherit; font-weight: inherit; font-style: inherit; }
.flex { display: flex; }
.flex.row:before, .flex.row:after { display: none; }
.flex .flex-item-1 { flex: 1 1 0%; min-width: 1px; min-height: 1px; }
.flex.flex-align-center { align-items: center; }
.flex.flex-justify-between { justify-content: space-between; }
.row { margin-left: auto; margin-right: auto; width: auto; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }
.row .row { margin-left: -8px; margin-right: -8px; max-width: none; }
.row .row:before, .row .row:after { content: ""; display: table; }
.row .row:after { clear: both; }
.row.pad { padding-left: 8px; padding-right: 8px; }
.hide, .hide-on-x-small-down, .hide-on-small-down, .hide-on-medium-down, .hide-on-large-down, .hide-on-x-large-down, .show-on-small-only, .show-on-medium-only, .show-on-large-only, .show-on-x-large-only, .show-on-xx-large-only { display: none ! important; }
h1.hide, h1.hide-on-x-small-down, h1.hide-on-small-down, h1.hide-on-medium-down, h1.hide-on-large-down, h1.hide-on-x-large-down, h1.show-on-small-only, h1.show-on-medium-only, h1.show-on-large-only, h1.show-on-x-large-only, h1.show-on-xx-large-only, h2.hide, h2.hide-on-x-small-down, h2.hide-on-small-down, h2.hide-on-medium-down, h2.hide-on-large-down, h2.hide-on-x-large-down, h2.show-on-small-only, h2.show-on-medium-only, h2.show-on-large-only, h2.show-on-x-large-only, h2.show-on-xx-large-only, h3.hide, h3.hide-on-x-small-down, h3.hide-on-small-down, h3.hide-on-medium-down, h3.hide-on-large-down, h3.hide-on-x-large-down, h3.show-on-small-only, h3.show-on-medium-only, h3.show-on-large-only, h3.show-on-x-large-only, h3.show-on-xx-large-only, caption.hide, caption.hide-on-x-small-down, caption.hide-on-small-down, caption.hide-on-medium-down, caption.hide-on-large-down, caption.hide-on-x-large-down, caption.show-on-small-only, caption.show-on-medium-only, caption.show-on-large-only, caption.show-on-x-large-only, caption.show-on-xx-large-only, label.hide, label.hide-on-x-small-down, label.hide-on-small-down, label.hide-on-medium-down, label.hide-on-large-down, label.hide-on-x-large-down, label.show-on-small-only, label.show-on-medium-only, label.show-on-large-only, label.show-on-x-large-only, label.show-on-xx-large-only { display: block ! important; position: absolute; left: -9999px; top: -9999px; }
@media screen and (min-width: 400px) {
}
@media screen and (min-width: 400px) and (max-width: 539px) {
}
@media screen and (min-width: 540px) {
}
@media screen and (min-width: 540px) and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  .row .row { margin-left: -12px; margin-right: -12px; max-width: none; }
  .row .row:before, .row .row:after { content: ""; display: table; }
  .row .row:after { clear: both; }
  .row.pad { padding-left: 12px; padding-right: 12px; }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
}
@media screen and (min-width: 1440px) {
}
@keyframes badge-pulse {
0% { box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5); }
70% { box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0); }
90% { box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0); }
}
@keyframes badge-shine {
0% { opacity: 1; transform: translateX(-100%); }
40% { transform: translateX(100%); }
41% { opacity: 0; }
100% { opacity: 0; transform: translateX(-100%); }
}
@keyframes progress-bar {
0% { transform: scaleY(0.4); }
20% { transform: scaleY(1); }
40% { transform: scaleY(0.4); }
100% { transform: scaleY(0.4); }
}
