/* Code tidied up by ScrapBook */
a.sidearm-skip-link { position: absolute; left: -99999px; top: 0px; background-color: rgb(255, 130, 0); color: white; }
a.sidearm-skip-link:link, a.sidearm-skip-link:visited { color: white; }
a.sidearm-skip-link:focus { position: fixed; left: 0px; z-index: 9999999; }
body { font: 14px/1.4 arial,sans-serif; color: black; margin: 0px; padding: 0px; }
html:after { content: ""; background: url("bg.jpg") no-repeat scroll center top white; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.row { max-width: 1440px; margin-left: auto; margin-right: auto; }
.main-content-placeholder { position: relative; max-width: 1440px; padding: 104px 12px 0px; margin-left: auto; margin-right: auto; }
.header-container { position: relative; max-width: 1416px; margin-left: auto; margin-right: auto; }
.no-foot {  }
.no-foot:before, .no-foot:after { content: ""; display: table; }
.no-foot:after { clear: both; }
html:not(.index) .main-content-placeholder-inside-column { display: flex; }
.main-header { position: fixed; z-index: 9000; top: 0px; width: 100%; max-width: 1416px; }
.main-header.headroom--not-top .main-navigation { position: fixed; top: 0px; width: 100%; }
.showcase-modal { position: fixed; top: 0px; left: -9999px; height: 100%; width: 100%; z-index: 10000; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5); }
.showcase-modal .showcase-modal__player-inner { padding: 16px; background: none repeat scroll 0% 0% white; width: 50%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.showcase-modal .showcase-modal__player { position: relative; height: 0px; padding-bottom: 56.25%; }
.showcase-modal .showcase-modal__close { border: medium none; background: none repeat scroll 0% 0% rgb(255, 130, 0); outline: medium none; color: white; padding: 8px 12px; position: absolute; bottom: 100%; right: 0px; }
.showcase-modal .showcase-modal__close span { position: absolute; left: -9999px; }
.IAB-superleader { background: none repeat scroll 0% 0% white; }
.main-navigation { height: 100px; width: 100%; max-width: 1416px; background: url("nav_bg.png") repeat scroll 0% 0% white; position: relative; z-index: 9000; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
.main-navigation .header_logo { height: 100px; background: none repeat scroll 0% 0% white; min-width: 289px; display: flex; justify-content: center; align-items: center; position: relative; margin-right: 50px; }
.main-navigation .header_logo .wbball_mobile { display: none; }
.main-navigation .header_logo .wbball_desktop { display: none; }
.main-navigation .header_logo .mobile { display: none; }
.main-navigation .header_logo img { margin-left: 18px; }
.main-navigation .header_logo:before { content: ""; display: block; width: 0px; height: 0px; position: absolute; top: 0px; left: 100%; border-top: 100px solid white; border-right: 50px solid transparent; }
.main-navigation .sponsor { margin-right: 24px; }
.main-navigation #search-btn { height: 100px; width: 100px; cursor: pointer; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1); position: relative; display: flex; justify-content: center; align-items: center; flex-shrink: 0; }
.main-navigation #search-btn > i { color: white; font-size: 16px; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; }
.main-navigation #search-btn #search { position: absolute; display: flex; height: 50px; background-color: white; top: 100%; opacity: 0; left: -9999px; border: medium none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
.main-navigation #search-btn #search label { position: absolute; left: -9999px; }
.main-navigation #search-btn #search input[type="text"] { width: 150px; display: block; height: 50px; border: medium none; color: rgb(255, 130, 0); font-weight: 400; font-family: 'Roboto Condensed',sans-serif; font-size: 18px; }
.main-navigation #search-btn #search input[type="submit"] { display: block; height: 50px; width: 50px; border: medium none; text-align: center; font-weight: 700; font-family: 'Roboto Condensed',sans-serif; font-size: 18px; background-color: rgb(255, 130, 0); color: rgb(55, 58, 54); border-radius: 0px; }
.c-navigation { flex: 1 1 0%; min-width: 1px; min-height: 1px; height: 100px; }
.c-navigation ul { margin: 0px; list-style: none outside none; padding: 0px; }
.c-navigation .c-nav__level-1 > li { height: 100px; display: flex; align-items: center; color: white; font-size: 20px; font-weight: 700; font-family: 'Roboto Condensed',sans-serif; padding: 0px 16px; cursor: pointer; }
.c-navigation .c-nav__level-1 > li:first-child { padding-left: 12px; }
.c-navigation .c-nav__level-1 > li > a { transition: all 0.35s ease 0s; color: white; height: 100%; display: flex; align-items: center; }
.c-navigation .c-nav__level-1 > li > i { font-size: 14px; margin-left: 3px; transform: rotate(0deg); transition: all 0.35s ease 0s; }
.c-navigation .c-nav__level-1 > li > i:before { margin: 0px; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li { display: flex; flex-wrap: wrap; align-items: center; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a { display: block; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a:not(:first-child):after { content: "/"; margin: 0px 6px; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.twitter:after { content: none; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.c-nav__social { overflow: hidden; white-space: nowrap; font-size: 0px; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.c-nav__social:before { font-family: sidearm_font; font-size: 14px; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.c-nav__social:after { font-size: 16px; margin: 0px 7px; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.c-nav__social.facebook:before { content: ""; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.c-nav__social.twitter:before { content: ""; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.c-nav__social.instagram:before { content: ""; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.c-nav__social.tickets:before { content: ""; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.tickets { display: none; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.instagram { display: none; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a.roster { order: -1; }
.c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a:first-child { flex: 1 1 100%; min-width: 1px; min-height: 1px; order: -2; color: rgb(255, 130, 0); }
.c-navigation .c-nav__level-2-inner { display: flex; }
.c-navigation .c-nav__level-2 { position: absolute; left: -9999px; top: 100%; opacity: 0; transition: opacity 0.35s ease 0s; background: none repeat scroll 0% 0% rgba(55, 58, 54, 0.97); width: 100%; padding: 48px 36px; z-index: 9000; }
.c-navigation .c-nav__level-2 ul { flex: 0 1 50%; min-width: 1px; min-height: 1px; margin: 0px 12px; border-top: 1px solid rgb(77, 80, 76); }
.c-navigation .c-nav__level-2 ul > li { font-size: 16px; border-bottom: 1px solid rgb(77, 80, 76); padding: 20px 24px; transition: all 0.35s ease 0s; }
.c-navigation .c-nav__level-2 ul > li:hover { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.03); transition: all 0.35s ease 0s; }
.c-navigation .c-nav__level-2 ul > li > a { font-weight: 400; font-family: 'Roboto',sans-serif; color: white; text-decoration: none; transition: all 0.35s ease 0s; }
.c-navigation .c-nav__level-2 ul > li > a:after { color: white; }
.c-navigation .c-nav__level-2 ul > li > a:first-child { font-weight: 700; font-family: 'Roboto',sans-serif; color: white; }
.c-navigation .c-nav__level-2 ul > li > a:first-child span { position: relative; }
.c-navigation .c-nav__level-2 ul > li > a:first-child span:after { content: ""; width: 0px; height: 1px; background: none repeat scroll 0% 0% rgb(255, 130, 0); transition: all 0.35s ease 0s; position: absolute; bottom: 0px; left: 0px; }
.c-navigation .c-nav__level-2 ul > li > a:first-child span:hover:after { width: 100%; transition: all 0.35s ease 0s; }
.c-navigation .c-nav__level-2 ul > li > a:hover { transition: all 0.35s ease 0s; color: rgb(255, 130, 0); }
.c-navigation .c-nav__level-2 ul > li > a:hover:after { color: white; }
.c-navigation .c-nav__level-2 ul > li > span { color: rgb(255, 130, 0); }
#topStories { flex: 0 1 1061px; min-width: 1px; min-height: 1px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); margin-right: 2px; margin-bottom: 4px; }
#topStories .c-stories .c-stories__item { background: none repeat scroll 0% 0% white; }
#topStories .c-stories .c-stories__item .c-stories__media { height: 0px; position: relative; padding-bottom: 56.25%; }
#topStories .c-stories .c-stories__item .c-stories__media:hover:after { opacity: 0.7; transition: all 0.35s ease 0s; }
#topStories .c-stories .c-stories__item .c-stories__media:after { content: ""; display: block; width: 100%; height: 100%; pointer-events: none; transition: all 0.35s ease 0s; background: url("main_story_image_repeater.png") repeat-x scroll center bottom transparent; position: absolute; bottom: 0px; left: 0px; }
#topStories .c-stories .c-stories__title { position: absolute; left: 0px; width: 100%; bottom: 0px; padding: 19px 24px; z-index: 4; }
#topStories .c-stories .c-stories__url { text-decoration: none; font-size: 32px; font-family: 'Montserrat',sans-serif; font-weight: 700; color: white; line-height: 32px; text-transform: uppercase; transition: all 0.35s ease 0s; position: relative; }
#topStories .c-stories .c-stories__teaser { margin-top: 3px; }
#topStories .c-stories .c-stories__sponsor { flex-shrink: 0; }
#topStories .c-stories .c-stories__sponsor .ad { margin-right: 20px; }
#topStories .c-stories .c-stories__info { flex: 1 1 0%; min-width: 1px; min-height: 1px; padding: 0px 20px 0px 0px; display: flex; justify-content: center; flex-direction: column; line-height: 20px; }
#topStories .c-stories .c-stories__links ul { margin: 5px 0px 0px; list-style: none outside none; padding: 0px; display: inline; }
#topStories .c-stories .c-stories__links ul li { color: rgb(255, 130, 0); margin-right: 8px; align-items: center; display: inline; }
#topStories .c-stories .c-stories__links ul li a { color: rgb(255, 130, 0); text-decoration: none; position: relative; display: inline; }
#topStories .c-stories .c-stories__links ul li a:after { content: ""; width: 0px; height: 1px; background: none repeat scroll 0% 0% rgb(255, 130, 0); transition: all 0.35s ease 0s; position: absolute; bottom: 0px; left: 0px; }
#topStories .c-stories .c-stories__links ul li:hover a:after { width: 100%; transition: all 0.35s ease 0s; }
#topStories .c-stories .c-stories__links ul li:after { content: ""; font-family: sidearm_font; margin: 0px 4px; display: inline; }
#topStories .c-stories .c-stories__details { display: flex; align-items: center; padding: 20px 24px; font-size: 16px; font-weight: 400; font-family: 'Roboto',sans-serif; color: rgb(55, 58, 54); position: relative; }
#moreHeadlines .c-stories { display: flex; }
#moreHeadlines .c-stories__item { flex: 1 1 0%; min-width: 1px; min-height: 1px; background: none repeat scroll 0% 0% white; margin: 0px 2px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
#moreHeadlines .c-stories__item:first-child { margin-left: 0px; }
#moreHeadlines .c-stories__item:last-child { margin-right: 0px; }
#moreHeadlines .c-stories__item.has-video .full_story { display: none ! important; }
#moreHeadlines .c-stories__item.has-video .c-stories__media:before { content: ""; position: absolute; top: 0px; left: 0px; display: block; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3); z-index: 2; }
#moreHeadlines .c-stories__item .c-stories__title { margin-bottom: 14px; }
#moreHeadlines .c-stories__item .c-stories__title .c-stories__url { color: black; font-size: 22px; font-family: 'Montserrat',sans-serif; font-weight: 700; text-transform: uppercase; text-decoration: none; line-height: 26px; transition: all 0.35s ease 0s; }
#moreHeadlines .c-stories__item .c-stories__title .c-stories__url:hover { color: rgb(255, 130, 0); transition: all 0.35s ease 0s; }
#moreHeadlines .c-stories__item .c-stories__full { color: rgb(255, 130, 0); text-decoration: none; display: flex; align-items: center; }
#moreHeadlines .c-stories__item .c-stories__full i:before { margin: 0px; }
#moreHeadlines .c-stories__item .c-stories__full i { font-size: 15px; }
#moreHeadlines .c-stories__item .c-stories__full span { position: relative; }
#moreHeadlines .c-stories__item .c-stories__full span:after { content: ""; width: 0px; height: 1px; background: none repeat scroll 0% 0% rgb(255, 130, 0); transition: all 0.35s ease 0s; position: absolute; bottom: 0px; left: 0px; }
#moreHeadlines .c-stories__item .c-stories__full span:hover:after { width: 100%; transition: all 0.35s ease 0s; }
#moreHeadlines .c-stories__item .c-stories__teaser { display: none; }
#moreHeadlines .c-stories__item .c-stories__details { padding: 20px 24px 24px; font-size: 16px; line-height: 24px; font-weight: 400; font-family: 'Roboto',sans-serif; color: rgb(55, 58, 54); }
#moreHeadlines .c-stories__item .c-stories__media { height: 0px; padding-bottom: 56.25%; width: 100%; position: relative; cursor: pointer; }
#moreHeadlines .c-stories__item .c-stories__media:before { content: ""; position: absolute; top: 0px; left: 0px; display: block; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3); z-index: 2; opacity: 0; transition: all 0.35s ease 0s; }
#moreHeadlines .c-stories__item .c-stories__media a { text-decoration: none; }
#moreHeadlines .c-stories__item .c-stories__media:hover:before { opacity: 1; transition: all 0.35s ease 0s; }
#moreHeadlines .c-stories__item .c-stories__media:hover .full_story { opacity: 1; transition: all 0.35s ease 0s; }
#moreHeadlines .c-stories__item .c-stories__media .full_story { width: 110px; opacity: 0; transition: all 0.35s ease 0s; transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%; height: 40px; border-radius: 2px; background: none repeat scroll 0% 0% rgb(255, 130, 0); line-height: 40px; z-index: 3; text-align: center; color: white; font-size: 16px; font-weight: 400; font-family: 'Roboto',sans-serif; display: flex; justify-content: center; text-decoration: none; }
#moreHeadlines .c-stories__item .c-stories__media .full_story:hover { background: none repeat scroll 0% 0% rgb(235, 120, 0); transition: all 0.35s ease 0s; }
#moreHeadlines .c-stories__item .c-stories__media .full_story i:before { margin: 0px; }
#moreHeadlines .c-stories__item .c-stories__media .full_story i, #moreHeadlines .c-stories__item .c-stories__media .full_story i:before { width: 10px; }
#moreHeadlines .c-stories__item .c-stories__media .full_story i { margin-left: 3px; }
.showcase-play-button { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: visible; outline: 0px none; padding: 0px; font-size: 0px; border: 0px none; background-color: transparent; background-image: url("play_button.png"); background-size: contain; height: 50px; width: 50px; z-index: 2; }
.indexBottom { margin-top: 4px; display: flex; }
.indexLeft { flex: 0 1 1061px; min-width: 1px; min-height: 1px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); margin-right: 2px; }
.indexRight { flex: 0 0 350px; min-width: 1px; min-height: 1px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8); margin-left: 2px; display: flex; flex-direction: column; }
#trending { background: none repeat scroll 0% 0% white; margin-top: 4px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
#trending .loadMore { width: 100%; height: 109px; line-height: 109px; cursor: pointer; color: rgb(255, 130, 0); font-size: 16px; font-weight: 400; font-family: 'Roboto',sans-serif; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid rgb(229, 229, 229); transition: all 0.35s ease 0s; }
#trending .loadMore i:before { margin: 0px; }
#trending .loadMore i { margin-left: 3px; font-size: 15px; }
#trending .loadMore:hover { background: none repeat scroll 0% 0% rgb(255, 130, 0); color: white; transition: all 0.35s ease 0s; border-bottom: 1px solid rgb(255, 130, 0); }
#trending .trending-container .item { border-bottom: 1px solid rgb(242, 242, 242); font-weight: 400; font-family: 'Roboto',sans-serif; font-size: 16px; color: rgb(55, 58, 54); }
#trending .trending-container .item:nth-child(n+5) { display: none; }
#trending .trending-container .item .info { padding: 24px; flex: 1 1 0%; min-width: 1px; min-height: 1px; }
#trending .trending-container .item .details { padding: 0px 24px; flex: 1 1 0%; min-width: 1px; min-height: 1px; color: black; }
#trending .trending-container .item .details .sport { color: rgb(255, 130, 0); margin-top: 12px; }
#trending .trending-container .item .details .teaser { font-style: italic; margin: 12px 0px 0px; }
#trending .trending-container .item .details > a { color: rgb(255, 130, 0); text-decoration: none; font-family: 'Montserrat',sans-serif; font-weight: 700; font-size: 22px; line-height: 1.2; transition: all 0.35s ease 0s; }
#trending .trending-container .item .details > a:hover { color: rgb(55, 58, 54); transition: all 0.35s ease 0s; }
#trending .trending-container .item .image { flex: 0 0 312px; min-width: 1px; min-height: 1px; }
#trending .trending-container .item .image > div { height: 0px; padding-bottom: 56.25%; position: relative; }
#trending .trending-container .item .button { flex: 0 0 102px; min-width: 1px; min-height: 1px; border-left: 1px solid rgb(242, 242, 242); display: flex; align-items: center; justify-content: center; transition: all 0.35s ease 0s; line-height: 100%; text-align: center; color: rgb(255, 130, 0); font-size: 15px; }
#trending .trending-container .item .button span { position: absolute; left: -9999px; }
#trending .trending-container .item .button:hover { background: none repeat scroll 0% 0% rgb(255, 130, 0); color: white; transition: all 0.35s ease 0s; border-color: rgb(255, 130, 0); }
#trending > header { height: 119px; width: 100%; padding: 0px 12px 0px 24px; border-bottom: 1px solid rgb(242, 242, 242); font-weight: 400; font-family: 'Roboto',sans-serif; font-size: 16px; }
#trending > header .sponsor { margin-left: 14px; }
#trending > header h2 { border-left: 4px solid rgb(255, 130, 0); padding: 0px 10px; display: block; color: rgb(55, 58, 54); margin: 0px; font-weight: 700; font-family: 'Roboto Condensed',sans-serif; font-size: 30px; line-height: 23px; }
#trending > header ul { list-style: none outside none; padding: 0px; margin: 0px; outline: medium none; }
#trending > header ul > a { color: rgb(255, 130, 0); text-decoration: none; margin-left: 12px; display: flex; align-items: center; }
#trending > header ul > a i:before { margin: 0px; }
#trending > header ul > a i { font-size: 15px; }
#trending > header ul > a span { position: relative; }
#trending > header ul > a span:after { content: ""; width: 0px; height: 1px; background: none repeat scroll 0% 0% rgb(255, 130, 0); transition: all 0.35s ease 0s; position: absolute; bottom: 0px; left: 0px; }
#trending > header ul > a span:hover:after { width: 100%; transition: all 0.35s ease 0s; }
#calendar { background: none repeat scroll 0% 0% white; margin-top: 4px; }
#calendar .icon { display: none; }
#calendar .loadMore { width: 100%; height: 109px; line-height: 109px; cursor: pointer; color: rgb(255, 130, 0); font-size: 16px; font-weight: 400; font-family: 'Roboto',sans-serif; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid rgb(229, 229, 229); transition: all 0.35s ease 0s; }
#calendar .loadMore i:before { margin: 0px; }
#calendar .loadMore i { margin-left: 3px; font-size: 15px; }
#calendar .loadMore:hover { background: none repeat scroll 0% 0% rgb(255, 130, 0); color: white; transition: all 0.35s ease 0s; border-bottom: 1px solid rgb(255, 130, 0); }
#calendar .events-list { display: flex; background: none repeat scroll 0% 0% rgb(242, 242, 242); padding: 4px 0px 0px; flex-wrap: wrap; }
#calendar .events-list .event-container { background: none repeat scroll 0% 0% white; flex: 1 1 0%; min-width: 1px; min-height: 440px; text-align: center; font-size: 16px; font-weight: 400; font-family: 'Roboto',sans-serif; color: rgb(55, 58, 54); position: relative; overflow: hidden; padding-bottom: 64px; }
#calendar .events-list .event { flex: 0 1 25%; min-width: 1px; min-height: 1px; padding-right: 4px; padding-bottom: 4px; display: flex; }
#calendar .events-list .event:nth-child(4n) { padding-right: 0px; }
#calendar .events-list .event .final { text-align: center; margin-top: 14px; color: rgb(255, 130, 0); text-decoration: none; display: flex; justify-content: center; align-items: center; line-height: 1.4; }
#calendar .events-list .event .buy_tickets { text-align: center; margin-top: 14px; }
#calendar .events-list .event .buy_tickets a { color: rgb(255, 130, 0); text-decoration: none; display: flex; justify-content: center; align-items: center; line-height: 1.4; }
#calendar .events-list .event .buy_tickets a span { position: relative; }
#calendar .events-list .event .buy_tickets a span:after { content: ""; width: 0px; height: 1px; background: none repeat scroll 0% 0% rgb(255, 130, 0); transition: all 0.35s ease 0s; position: absolute; bottom: 0px; left: 0px; }
#calendar .events-list .event .buy_tickets a span:hover:after { width: 100%; transition: all 0.35s ease 0s; }
#calendar .events-list .event .buy_tickets a i { margin-left: 0px; font-size: 14px; }
#calendar .events-list .event .buy_tickets a i:before { margin: 0px; }
#calendar .events-list .event .event-links { position: absolute; bottom: 0px; left: 0px; opacity: 0; pointer-events: none; height: calc(100% - 40px); width: 100%; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.97); transition: opacity 0.35s ease 0s; padding: 48px; }
#calendar .events-list .event .event-links ul { list-style: none outside none; padding: 0px; margin: 0px; }
#calendar .events-list .event .event-links ul li { margin-bottom: 16px; }
#calendar .events-list .event .event-links ul li a { color: transparent; text-decoration: none; display: flex; justify-content: center; align-items: center; }
#calendar .events-list .event .event-links ul li a[href] { color: rgb(255, 130, 0); }
#calendar .events-list .event .event-links ul li a[href] span { position: relative; }
#calendar .events-list .event .event-links ul li a[href] span:after { content: ""; width: 0px; height: 1px; background: none repeat scroll 0% 0% rgb(255, 130, 0); transition: all 0.35s ease 0s; position: absolute; bottom: 0px; left: 0px; }
#calendar .events-list .event .event-links ul li a[href] span:hover:after { width: 100%; transition: all 0.35s ease 0s; }
#calendar .events-list .event .event-links ul li a i:first-child { margin-right: 2px; }
#calendar .events-list .event .event-links ul li a i:last-child:before { margin: 0px; }
#calendar .events-list .event .button { display: flex; justify-content: center; align-items: center; position: absolute; bottom: 24px; left: 0px; width: 100%; z-index: 3; }
#calendar .events-list .event .button button { border-radius: 100%; display: block; width: 40px; height: 40px; background: none repeat scroll 0% 0% rgb(255, 130, 0); line-height: 40px; text-align: center; color: white; border: medium none; margin: 0px; padding: 0px; outline: medium none; transition: all 0.35s ease 0s; }
#calendar .events-list .event .button button:before { content: ""; display: block; height: 40px; width: 40px; font-size: 16px; font-family: sidearm_font; transform: rotate(0deg); transition: all 0.35s ease 0s; }
#calendar .events-list .event .event-logo { padding: 24px; position: relative; }
#calendar .events-list .event .event-logo:after { content: ""; display: block; width: 80px; height: 1px; background: none repeat scroll 0% 0% rgb(242, 242, 242); position: absolute; bottom: 0px; left: 50%; margin-left: -40px; }
#calendar .events-list .event .loc { font-style: italic; }
#calendar .events-list .event .event-details { padding: 20px 24px; line-height: 1.5; }
#calendar .events-list .event .sport { font-weight: 700; }
#calendar .events-list .event .date { height: 40px; width: 100%; line-height: 40px; color: white; background: url("checkerboard_cal_repeater.png") repeat scroll 0% 0% transparent; }
#calendar .ui-tabs-panel { width: 100%; position: relative; opacity: 1; transition: opacity 0.35s ease 0s; top: 0px; left: 0px; }
#calendar .ui-tabs-panel[aria-hidden="true"] { display: block ! important; position: absolute; left: -9999px; opacity: 0; }
#calendar > header { height: 119px; width: 100%; padding: 0px 12px 0px 24px; border-bottom: 1px solid rgb(242, 242, 242); font-weight: 400; font-family: 'Roboto',sans-serif; font-size: 16px; }
#calendar > header .sponsor { margin-left: 14px; }
#calendar > header h2 { border-left: 4px solid rgb(255, 130, 0); padding: 0px 10px; display: block; color: rgb(55, 58, 54); margin: 0px; font-weight: 700; font-family: 'Roboto Condensed',sans-serif; font-size: 30px; line-height: 23px; }
#calendar > header ul { list-style: none outside none; padding: 0px; margin: 0px; outline: medium none; }
#calendar > header ul li { margin: 0px 12px; height: 24px; line-height: 26px; text-align: center; display: flex; align-items: center; background: none repeat scroll 0% 0% rgb(242, 242, 242); color: rgb(55, 58, 54); padding: 0px 6px; outline: medium none; }
#calendar > header ul li > a { color: rgb(55, 58, 54); text-decoration: none; display: block; line-height: 26px; outline: medium none; }
#calendar > header ul li.ui-state-active { background: none repeat scroll 0% 0% rgb(255, 130, 0); color: white; }
#calendar > header ul li.ui-state-active > a { color: white; }
#calendar > header ul li.ui-state-active:after { transform: rotate(180deg); transition: all 0.35s ease 0s; }
#calendar > header ul li:after { content: ""; font-size: 12px; line-height: 24px; margin-left: 5px; display: block; transform: rotate(0deg); transition: all 0.35s ease 0s; font-family: sidearm_font; }
#calendar > header ul > a { color: rgb(255, 130, 0); text-decoration: none; margin-left: 12px; display: flex; align-items: center; }
#calendar > header ul > a i:before { margin: 0px; }
#calendar > header ul > a i { font-size: 15px; }
#calendar > header ul > a span { position: relative; }
#calendar > header ul > a span:after { content: ""; width: 0px; height: 1px; background: none repeat scroll 0% 0% rgb(255, 130, 0); transition: all 0.35s ease 0s; position: absolute; bottom: 0px; left: 0px; }
#calendar > header ul > a span:hover:after { width: 100%; transition: all 0.35s ease 0s; }
.ad-space { text-align: center; }
.ad-space.mobile { display: none; }
.main-footer { background: none repeat scroll 0% 0% white ! important; margin-top: 4px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
.main-footer .row { padding: 48px 24px; min-height: 200px; }
.main-footer .info { font-weight: 700; font-family: 'Roboto',sans-serif; font-size: 16px; color: rgb(55, 58, 54); padding: 0px 12px; position: relative; line-height: 20px; margin-top: 8px; margin-left: 4px; }
.main-footer .info:before { content: ""; display: block; width: 4px; height: 38px; background: none repeat scroll 0% 0% rgb(255, 130, 0); position: absolute; right: 100%; top: 0px; }
.main-footer .info a { color: rgb(255, 130, 0); font-weight: 400; }
.main-footer .info > div:last-child > span { margin: 0px 4px; }
.main-footer .logoWrapper { margin: 0px; padding: 0px; list-style: none outside none; justify-content: space-between; }
.main-footer .logoWrapper li { padding: 0px 22px; }
.main-footer .logoWrapper li:last-child { padding-right: 0px; }
.sponsors { background: none repeat scroll 0% 0% white; padding: 48px 12px; border-bottom: 1px solid rgb(242, 242, 242); }
.sponsors .ad { padding: 0px 12px; }
#store { border-bottom: 1px solid rgb(242, 242, 242); }
#store > header { height: 119px; width: 100%; padding: 0px 24px; border-bottom: 1px solid rgb(242, 242, 242); border-top: 1px solid rgb(242, 242, 242); }
#store > header .sponsor { margin-left: 14px; }
#store > header h2 { border-left: 4px solid rgb(255, 130, 0); padding: 0px 10px; display: block; color: rgb(55, 58, 54); margin: 0px; font-weight: 700; font-family: 'Roboto Condensed',sans-serif; font-size: 30px; line-height: 23px; }
#store .fanatics-list { background: none repeat scroll 0% 0% white; }
#store .shop-container .item { padding: 24px; }
#social { flex: 1 1 0%; min-width: 1px; min-height: 1px; flex-direction: column; display: flex; }
#social .loadMore { height: 40px; line-height: 40px; color: white; font-size: 16px; transition: all 0.35s ease 0s; font-weight: 400; font-family: 'Roboto',sans-serif; display: flex; justify-content: center; align-items: center; text-align: center; width: 100%; background: none repeat scroll 0% 0% rgb(255, 130, 0); cursor: pointer; }
#social .loadMore:hover { background: none repeat scroll 0% 0% rgb(242, 242, 242); color: rgb(55, 58, 54); transition: all 0.35s ease 0s; }
#social .loadMore i:before { margin: 0px; }
#social .loadMore i { margin-left: 3px; font-size: 15px; }
#social .loadMore { display: none; }
#social .c-contentstream__container--outer { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; }
#social .c-contentstream__container { padding: 12px; }
#social .c-contentstream__item { padding: 12px; }
#social .c-contentstream__item .c-contentstream__icon { position: absolute; bottom: 0px; right: 0px; width: 50px; height: 50px; z-index: 4; }
#social .c-contentstream__item .c-contentstream__icon i { position: absolute; bottom: 2px; right: 0px; font-size: 18px; color: white; }
#social .c-contentstream__item .c-contentstream__icon:before { content: ""; display: block; position: absolute; bottom: 0px; right: 0px; width: 0px; height: 0px; border-bottom: 50px solid rgb(255, 130, 0); border-left: 50px solid transparent; }
#social .c-contentstream__item:last-child { margin-bottom: 130px; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__item-inner { border: 1px solid rgb(242, 242, 242); background: none repeat scroll 0% 0% white; padding: 24px 24px 50px; position: relative; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__user-image { height: 40px; width: 40px; margin-right: 12px; border-radius: 100%; overflow: hidden; position: relative; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__body { color: rgb(55, 58, 54); font-weight: 400; font-family: 'Roboto',sans-serif; font-size: 16px; line-height: 1.5; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__body a { color: rgb(255, 130, 0); }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__body .c-twitter__actions { padding: 0px; list-style: none outside none; margin: 0px 0px 18px auto; justify-content: flex-end; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__body .c-twitter__actions span { position: absolute; left: -9999px; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__body .c-twitter__actions a { font-size: 20px; color: rgb(55, 58, 54); transition: all 0.35s ease 0s; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__body .c-twitter__actions a:hover { color: rgb(255, 130, 0); transition: all 0.35s ease 0s; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__body .c-twitter__actions a .icon-heart { font-size: 13px; margin-top: 1px; margin-left: 5px; display: block; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__user-fullname { font-weight: 700; font-family: 'Roboto',sans-serif; font-size: 16px; color: rgb(55, 58, 54); line-height: 18px; }
#social .c-contentstream__item.c-contentstream__twitter .c-contentstream__twitter__user-screenname { white-space: nowrap; color: rgb(55, 58, 54); font-size: 16px; font-weight: 400; font-family: 'Roboto',sans-serif; line-height: 18px; flex: 1 1 0%; min-width: 1px; min-height: 1px; overflow: hidden; text-overflow: ellipsis; }
#social .content { flex: 1 1 0%; min-width: 1px; min-height: 1px; position: relative; overflow: hidden; }
#social .content:after { content: ""; z-index: 5; pointer-events: none; display: block; position: absolute; height: 200px; width: calc(100% - 10px); bottom: 0px; left: 0px; background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 75%) repeat scroll 0% 0% transparent; }
#social > header { height: 119px; width: 100%; padding: 0px 24px; border-bottom: 1px solid rgb(242, 242, 242); }
#social > header .sponsor { margin-left: 14px; }
#social > header h2 { border-left: 4px solid rgb(255, 130, 0); padding: 0px 10px; display: block; color: rgb(55, 58, 54); margin: 0px; font-weight: 700; font-family: 'Roboto Condensed',sans-serif; font-size: 30px; line-height: 23px; }
#slide { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4); position: fixed; bottom: 0px; left: 50%; max-width: 1416px; width: 100%; transform: translateX(-50%); z-index: 200; }
#recentHeadlines { flex: 0 0 350px; min-width: 1px; min-height: 1px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); margin-left: 2px; display: flex; flex-direction: column; position: relative; margin-bottom: 4px; }
#recentHeadlines > header { height: 119px; width: 100%; padding: 0px 24px; border-bottom: 1px solid rgb(242, 242, 242); }
#recentHeadlines > header .sponsor { margin-left: 14px; }
#recentHeadlines > header h2 { border-left: 4px solid rgb(255, 130, 0); padding: 0px 10px; display: block; color: rgb(55, 58, 54); margin: 0px; font-weight: 700; font-family: 'Roboto Condensed',sans-serif; font-size: 30px; line-height: 23px; }
#recentHeadlines .c-stories__item { padding: 18px 24px; font-size: 16px; font-weight: 400; font-family: 'Roboto',sans-serif; line-height: 1.6; border-bottom: 1px solid rgb(242, 242, 242); transition: all 0.35s ease 0s; }
#recentHeadlines .c-stories__item .c-stories__url { color: rgb(255, 130, 0); text-decoration: none; transition: all 0.35s ease 0s; }
#recentHeadlines .c-stories__item .c-stories__url:hover { color: black; transition: all 0.35s ease 0s; }
#recentHeadlines .c-stories__item:last-child { margin-bottom: 130px; }
#recentHeadlines .c-stories__item .c-stories__date { color: black; margin-top: 4px; }
#recentHeadlines .c-stories__item .c-stories__date .slash { margin: 0px 6px; }
#recentHeadlines .c-stories__item:hover { background: none repeat scroll 0% 0% rgb(247, 247, 247); transition: all 0.35s ease 0s; }
#recentHeadlines .story-container-outer { flex: 1 1 0%; min-width: 1px; min-height: 1px; display: flex; position: absolute; top: 119px; height: calc(100% - 119px); left: 0px; width: 100%; overflow: hidden; }
#recentHeadlines .story-container-outer:after { content: ""; z-index: 3; pointer-events: none; display: block; position: absolute; height: 150px; width: calc(100% - 10px); bottom: 0px; left: 0px; background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 75%) repeat scroll 0% 0% transparent; }
#recentHeadlines .story-container { flex: 1 1 0%; min-width: 1px; min-height: 1px; display: flex; position: absolute; top: 0px; height: 100%; left: 0px; width: 100%; overflow: hidden; }
#recentHeadlines stories-component { display: block; }
.ps { overflow: hidden ! important; }
@supports (-ms-overflow-style: none) {
  .ps { overflow: auto ! important; }
}
@media not all, not all {
  .ps { overflow: auto ! important; }
}
.ps > .ps__scrollbar-x-rail { display: none; position: absolute; opacity: 0; transition: background-color 0.2s linear 0s, opacity 0.2s linear 0s; bottom: 0px; height: 15px; }
.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x { position: absolute; background-color: rgb(170, 170, 170); transition: background-color 0.2s linear 0s, height 0.2s linear 0s, width 0.2s ease-in-out 0s, border-radius 0.2s ease-in-out 0s, -webkit-border-radius 0.2s ease-in-out 0s, -moz-border-radius 0.2s ease-in-out 0s; bottom: 2px; height: 6px; }
.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x, .ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x { height: 11px; }
.ps > .ps__scrollbar-y-rail { display: none; position: absolute; opacity: 1; transition: background-color 0.2s linear 0s, opacity 0.2s linear 0s; right: 0px; width: 8px; }
.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y { position: absolute; background-color: rgb(255, 130, 0); transition: background-color 0.2s linear 0s, height 0.2s linear 0s, width 0.2s ease-in-out 0s, border-radius 0.2s ease-in-out 0s, -webkit-border-radius 0.2s ease-in-out 0s, -moz-border-radius 0.2s ease-in-out 0s; right: 0px; width: 8px; }
@media screen and (max-width: 1460px) {
}
@media screen and (max-width: 1400px) {
  .c-navigation .c-nav__level-1 > li.sports .c-nav__level-2-inner { flex-wrap: wrap; }
  .c-navigation .c-nav__level-1 > li.sports .c-nav__level-2-inner ul { margin: 0px; padding: 0px 12px; border: medium none; }
  .c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li:first-child { border-top: 1px solid rgb(77, 80, 76); }
  .c-navigation .c-nav__level-1 > li.sports .c-nav__level-2 ul > li > a:first-child { flex: 1 1 0%; min-width: 1px; min-height: 1px; }
}
@media screen and (max-width: 1299px) {
}
@media screen and (max-width: 1290px) {
  #moreHeadlines .c-stories__item .c-stories__title .c-stories__url { font-size: 18px; line-height: 1.3; }
  #moreHeadlines .c-stories__item .c-stories__details { font-size: 14px; line-height: 1.4; }
  .main-navigation .header_logo { max-width: 110px; width: 100%; padding: 20px 0px; }
  .main-navigation .header_logo .desktop { display: none; }
  .main-navigation .header_logo .mobile { display: block; margin-left: 12px; max-width: 60px; }
  .main-navigation .header_logo a { display: block; max-width: 100%; }
}
@media screen and (max-width: 1160px) {
  #trending .trending-container .item .button { display: none; }
  #trending .trending-container .item .image { flex: 0 0 270px; min-width: 1px; min-height: 1px; }
  #trending .trending-container .item .details { padding-right: 0px; }
}
@media screen and (max-width: 1149px) {
  #topStories .c-stories .c-stories__links { margin-top: 6px; }
  #topStories .c-stories .c-stories__details { overflow: hidden; max-height: 0px; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
}
@media screen and (max-width: 1110px) {
  .c-navigation .c-nav__level-1 > li { padding: 0px 12px; }
  #calendar > header ul > a.link { display: none; }
  #calendar > header ul > a.icon { display: flex; }
  #calendar > header ul > a.icon .icon-calendar-1 { font-size: 20px; }
}
@media screen and (max-width: 1099px) {
  .main-header { padding-top: 60px; }
  .main-navigation { position: fixed ! important; top: 0px ! important; }
  .main-content-placeholder { background: none repeat scroll 0% 0% white; padding-top: 72px; }
  .c-navigation { height: 60px; order: 3; flex: 0 0 auto; min-width: 1px; min-height: 1px; }
  .main-navigation #search-btn { width: 60px; height: 60px; margin-left: auto; order: 2; }
  .main-navigation { height: 60px; background: url("nav_repeat.png") repeat scroll 0% 0% rgb(255, 130, 0); }
  .main-navigation .header_logo { height: 60px; width: 75px; margin-right: 30px; min-width: 0px; }
  .main-navigation .header_logo .mobile { max-width: 35px; margin-left: 7px; }
  .main-navigation .header_logo:before { border-top: 60px solid white; border-right: 30px solid transparent; }
}
@media screen and (max-width: 1079px) {
}
@media screen and (max-width: 1024px) {
  #calendar .events-list .event { flex: 0 1 25%; min-width: 1px; min-height: 1px; }
  #calendar .events-list .event:nth-child(4n) { padding-right: 0px; }
  #calendar .events-list .event:nth-child(3n) { padding-right: 4px; }
  #calendar .events-list .event:nth-child(2n) { padding-right: 4px; }
  #calendar > header ul > a.link { display: flex; }
  #calendar > header ul > a.icon { display: none; }
  #calendar > header ul > a.icon .icon-calendar-1 { font-size: 20px; }
  #calendar .loadMore { border-bottom: medium none; }
  #calendar .loadMore:hover { border-bottom: medium none; }
  #trending .trending-container .item .image { flex: 0 0 312px; min-width: 1px; min-height: 1px; }
  #social .c-contentstream__container--outer { position: relative; left: auto; top: auto; }
  #social .loadMore { display: block; }
  #social .c-contentstream__item:last-child { margin-bottom: 0px; }
  #social .content:after { content: none; }
  #social .c-contentstream__container { padding: 12px 24px; }
  .c-contentstream__container > div { -moz-column-count: 2; -moz-column-rule-width: 24px; -moz-column-gap: 24px; }
  #social .c-contentstream__item { display: inline-block; width: 100%; padding: 12px 0px; }
  #trending { margin-top: 0px; box-shadow: none; }
  #calendar .loadMore { height: 40px; line-height: 40px; background: none repeat scroll 0% 0% rgb(255, 130, 0); color: white; border-bottom: medium none; }
  #calendar .loadMore:hover { background: none repeat scroll 0% 0% rgb(242, 242, 242); color: rgb(55, 58, 54); border-bottom: medium none; }
  #trending .loadMore { height: 40px; line-height: 40px; background: none repeat scroll 0% 0% rgb(255, 130, 0); color: white; border-bottom: medium none; }
  #trending .loadMore:hover { background: none repeat scroll 0% 0% rgb(242, 242, 242); color: rgb(55, 58, 54); border-bottom: medium none; }
  #calendar { border-bottom: 1px solid rgb(242, 242, 242); }
  #trending > header ul > a { color: rgb(55, 58, 54); }
  #trending > header ul > a span:after { background: none repeat scroll 0% 0% rgb(55, 58, 54); }
  #trending > header ul > a span:hover:after { background: none repeat scroll 0% 0% rgb(55, 58, 54); }
  #calendar > header ul > a { color: rgb(55, 58, 54); }
  #calendar > header ul > a span:after { background: none repeat scroll 0% 0% rgb(55, 58, 54); }
  #calendar > header ul > a span:hover:after { background: none repeat scroll 0% 0% rgb(55, 58, 54); }
  #store .shop-container .item { justify-content: center; }
  #store .shop-container .item > * { padding: 0px 24px; }
  #recentHeadlines { display: none; }
  .indexBottom { display: block; }
  .indexLeft { flex: 1 1 100%; min-width: 1px; min-height: 1px; flex-direction: column; display: flex; margin-right: 0px; box-shadow: none; }
  .indexRight { flex: 1 1 100%; min-width: 1px; min-height: 1px; margin-left: 0px; box-shadow: none; }
  .indexTop { display: block; }
  #topStories { flex: 1 1 100%; min-width: 1px; min-height: 1px; margin-right: 0px; box-shadow: none; border-bottom: 1px solid rgb(242, 242, 242); margin-bottom: 0px; }
  .IAB-superleader { order: -1; box-shadow: none; }
  .ad-space.mobile { display: block; border-bottom: 1px solid rgb(242, 242, 242); }
  .ad-space.first { display: none; }
  .indexRight .ad-space.first { display: none; }
  .main-content-placeholder-inside { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .main-footer { box-shadow: none; margin-top: 0px; }
}
@media screen and (max-width: 1023px) {
  #moreHeadlines { display: none; }
  html:not(.index) .main-content-placeholder-inside-column { display: block; }
  .story-container { display: block; }
  html:not(.index) .main-footer { border-top: 1px solid rgb(242, 242, 242); }
}
@media screen and (max-width: 939px) {
  #calendar .events-list .event { flex: 0 1 33.3333%; min-width: 1px; min-height: 1px; }
  #calendar .events-list .event:nth-child(4n) { padding-right: 4px; }
  #calendar .events-list .event:nth-child(3n) { padding-right: 0px; }
  #calendar .events-list .event:nth-child(2n) { padding-right: 4px; }
}
@media screen and (max-width: 840px) {
  #trending .trending-container .item .button { display: none; }
}
@media screen and (max-width: 768px) {
  #topStories .c-stories .c-stories__url { font-size: 26px; line-height: 32px; }
  .main-footer .info a { color: rgb(55, 58, 54); }
  .main-footer .info > div:first-child span { display: none; }
  header.heading { height: 98px ! important; }
  header.heading h2 { font-size: 22px ! important; }
  #calendar > header ul > a { margin-left: 6px; }
  #calendar > header ul li { margin: 0px 6px; }
  #trending .trending-container .item .image { flex: 0 0 270px; min-width: 1px; min-height: 1px; }
  .showcase-modal .showcase-modal__player-inner { width: 100%; }
}
@media screen and (max-width: 719px) {
  #calendar .events-list .event { flex: 0 1 50%; min-width: 1px; min-height: 1px; }
  #calendar .events-list .event:nth-child(4n) { padding-right: 4px; }
  #calendar .events-list .event:nth-child(3n) { padding-right: 4px; }
  #calendar .events-list .event:nth-child(2n) { padding-right: 0px; }
}
@media screen and (max-width: 700px) {
  #calendar > header ul > a.link { display: none; }
  #calendar > header ul > a.icon { display: block; }
  #calendar > header ul > a.icon .icon-calendar-1 { font-size: 20px; }
  .main-footer .row { flex-direction: column; align-items: center; }
  .main-footer .info { flex: 1 1 100%; min-width: 1px; min-height: 1px; order: 1; padding: 0px 12px; margin-top: 15px; text-align: center; }
  .main-footer .info:before { content: none; }
  .main-footer .logoWrapper li a { display: block; }
  .main-footer .logoWrapper li:last-child { padding-right: 22px; }
  .sponsors { padding: 24px 12px; }
}
@media screen and (max-width: 680px) {
  #trending .trending-container .item .info { flex-direction: column; }
  #trending .trending-container .item .details { padding: 20px 0px 0px; }
  #trending .trending-container .item .image { flex: 1 1 0%; min-width: 1px; min-height: 1px; }
  #trending .trending-container .item { flex-direction: column; }
}
@media screen and (max-width: 600px) {
  .c-contentstream__container > div { -moz-column-count: auto; }
}
@media screen and (max-width: 570px) {
  #calendar > header ul > a.link { display: flex; margin-left: auto; }
  #calendar > header ul > a.icon { display: none; }
  #calendar > header ul > a.icon .icon-calendar-1 { font-size: 20px; }
  #calendar > header ul { margin-top: 12px; width: 100%; }
  #calendar > header ul > a { margin-left: 0px; margin-right: 12px; }
  #calendar > header { flex-direction: column; align-items: flex-start; justify-content: center; height: 134px ! important; }
  #calendar > header ul li { margin: 0px; }
  #topStories .c-stories .c-stories__item .c-stories__media:after { content: none; }
  #topStories .c-stories .c-stories__title { position: relative; bottom: auto; left: auto; }
  #topStories .c-stories .c-stories__title { display: none; }
}
@media screen and (max-width: 540px) {
  #trending > header ul { margin-top: 6px; }
  #trending > header ul > a { margin-left: 0px; margin-right: 12px; }
  #trending > header { flex-direction: column; align-items: flex-start; justify-content: center; height: 118px ! important; }
  #store .shop-container .item > * { padding: 0px; }
}
@media screen and (max-width: 499px) {
  #calendar .events-list .event { flex: 0 1 100%; min-width: 1px; min-height: 1px; padding-right: 0px; }
  #calendar .events-list .event:nth-child(4n) { padding-right: 0px; }
  #calendar .events-list .event:nth-child(3n) { padding-right: 0px; }
  #calendar .events-list .event:nth-child(2n) { padding-right: 0px; }
}
@media screen and (max-width: 410px) {
  #calendar > header ul > a.link { display: none; }
  #calendar > header ul > a.icon { display: flex; margin-left: auto; }
  #calendar > header ul > a.icon .icon-calendar-1 { font-size: 20px; }
}
.dfp-ad { margin: 20px auto; }
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 1446px) {
}
@media screen and (min-width: 1025px) and (max-width: 1096px) {
}
@media screen and (max-width: 720px) {
}
@media screen and (max-width: 540px) {
}
