/* Code tidied up by ScrapBook */
@import url("font-awesome.min.css");
body { color: rgb(83, 86, 90); }
.main-content-placeholder { padding: 100px 0px 0px; }
.header-container, .main-header, .main-navigation, .main-header.headroom--not-top .sport-navigation, #slide { max-width: 1440px; }
#topStories, .indexLeft, .article-wrapper.news .story-container .story-left, html:not(.wide) .article-wrapper.sportfile .story-container .story-left { flex: 0 1 1086px; }
.main-navigation { background: none repeat scroll 0% 0% rgb(255, 130, 0); }
.c-navigation .c-nav__level-1 > li { font-size: 16px; font-weight: 400; font-family: 'Montserrat',sans-serif; text-transform: uppercase; padding: 0px 20px 0px 0px; }
.c-navigation .c-nav__level-2 ul > li { padding: 8px 16px; }
.c-navigation .c-nav__level-2 ul > li > a { font-size: 14px; }
.c-navigation .c-nav__level-2 ul > li > a:first-child span { font-size: 16px; }
#topStories .c-stories .c-stories__item { background: none repeat scroll 0% 0% rgb(51, 51, 51); }
#topStories .c-stories .c-stories__details { color: rgb(238, 238, 238); }
#topStories .c-stories .c-stories__item .c-stories__media { padding-bottom: 56.3%; }
#topStories .c-stories .c-stories__url { font-size: 2.8em; line-height: 1em; }
#topStories .c-stories .c-stories__item .c-stories__media picture > img { width: 100%; }
#topStories .c-stories .c-stories__item .c-stories__media:after { opacity: 0.85; }
#recentHeadlines > header { height: 80px; border-bottom: 1px solid rgb(136, 136, 136); }
#recentHeadlines { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.75); }
#recentHeadlines .c-stories__item { border-bottom: 1px solid rgb(136, 136, 136); }
#recentHeadlines .c-stories__item .c-stories__date { font-size: 0.9em; color: rgb(136, 136, 136); }
#recentHeadlines .story-container-outer:after { display: none; }
#recentHeadlines .c-stories__item:last-child { margin-bottom: 0px; }
#recentHeadlines .c-stories__item:hover { background: none repeat scroll 0% 0% rgb(37, 37, 37); }
#recentHeadlines .c-stories__item .c-stories__url:hover, #recentHeadlines > header h2 { color: rgb(238, 238, 238); }
#recentHeadlines > header h2, #calendar > header h2, #store > header h2, #social > header h2, #trending > header h2, #mobileRecent > header h2, .article-wrapper.news .related > header h2, .article-wrapper.news .stories-topstories > header h2 { font-family: 'Montserrat',sans-serif; text-transform: uppercase; }
#recentHeadlines .story-container-outer { top: 80px; height: calc(100% - 80px); }
#moreHeadlines .c-stories__item .c-stories__teaser { display: block; margin-bottom: 16px; font-style: italic; }
.slick-slide img { width: 100%; }
.indexRight { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.4); }
#store .shop-container .item { padding-bottom: 48px; }
.ad-space { padding: 16px; }
.main-footer { background: url("urn:scrapbook-download-error:https://utennessee.sidearmsports.com/images/bg.jpg") no-repeat scroll center -1000px transparent; }
.main-footer .row { height: auto; padding: 24px; }
.main-footer .info { margin: 0px; padding: 0px; font-size: 14px; font-weight: 400; color: rgb(136, 136, 136); }
.main-footer .info:before { display: none; }
.main-footer .info a { color: rgb(204, 204, 204); }
.sponsors { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5); padding: 24px 12px; border-bottom: medium none; }
.dfp-ad { margin: 8px auto; }
@media (max-width: 1149px) {
}
@media (max-width: 1100px) {
  .main-content-placeholder { padding-top: 60px; }
}
@media (max-width: 680px) {
  #topStories .c-stories .c-stories__url { font-size: 2em; line-height: 1em; }
  #trending .trending-container .item { display: block; }
}
@media (max-width: 570px) {
}
a, a:link { color: rgb(255, 130, 0); }
a:visited { color: rgb(255, 130, 0); }
a:hover { text-decoration: underline; }
@keyframes scrollHighlight {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}
@media all and (max-width: 699px) {
}
@media all and (min-width: 700px) {
}
@media (max-width: 768px) {
}
@media (min-width: 801px) {
}
@media (max-width: 800px) {
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
