/* Code tidied up by ScrapBook */
html { background: none repeat scroll 0% 0% -moz-dialog; }
body { margin: 0px; padding: 0px 1em; color: -moz-fieldtext; font: message-box; }
h1 { margin: 0px 0px 0.6em; border-bottom: 1px solid threedlightshadow; font-size: 160%; }
ul, ol { margin: 0px; -moz-margin-start: 1.5em; padding: 0px; }
ul > li, ol > li { margin-bottom: 0.5em; }
ul { list-style: square outside none; }
#errorPageContainer { position: relative; min-width: 13em; max-width: 52em; margin: 4em auto; border: 1px solid threedshadow; border-radius: 10px; padding: 3em; -moz-padding-start: 30px; background: url("chrome://global/skin/icons/warning-large.png") no-repeat scroll left 0px content-box border-box -moz-field; }
#errorPageContainer:-moz-dir(rtl) { background-position: right 0px; }
#errorTitle { -moz-margin-start: 80px; }
#errorLongContent { -moz-margin-start: 80px; }
#errorShortDesc > p { overflow: auto; border-bottom: 1px solid threedlightshadow; padding-bottom: 1em; font-size: 130%; white-space: pre-wrap; }
#errorLongDesc { -moz-padding-end: 3em; font-size: 110%; }
#errorTryAgain { margin-top: 2em; -moz-margin-start: 80px; }
