/* Code tidied up by ScrapBook */
body { font: 12pt times,serif; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
#main { width: 100%; text-align: justify; }
#cms, #panel, #header, hr, #cesta, #navigace, .no-print { display: none; }
#newsletter { display: none; }
#footer { margin-top: 50px; }
#footer-links { display: none; }
