/* Code tidied up by ScrapBook */
@font-face {
  font-family: "MyriadPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadpro-regular.ttf") format("truetype"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadpro-regular.woff") format("woff"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadpro-regular.svg#MyriadPro-Regular") format("svg");
}
@font-face {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadprobold.eot?#iefix") format("embedded-opentype"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadprobold.ttf") format("truetype"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadprobold.woff") format("woff"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadprobold.svg#MyriadPro-Bold") format("svg");
}
@font-face {
  font-family: "MyriadPro-Light";
  font-style: normal;
  font-weight: normal;
  src: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadpro-light.eot?#iefix") format("embedded-opentype"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadpro-light.ttf") format("truetype"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadpro-light.woff") format("woff"), url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/fonts/myriadpro-light.svg#MyriadPro-Light") format("svg");
}
html, body, form, fieldset, label, legend, object { margin: 0px; padding: 0px; border: 0px none; font-size: 100%; }
html, body.body { height: 100%; }
body.body { text-align: center; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_body.jpg") no-repeat fixed center center rgb(246, 246, 246); color: rgb(0, 0, 0); font-family: "MyriadPro-Regular"; }
nav, header, footer, section { display: block; }
body { font: 14px/1.5 "Arial CE",arial,"Helvetica CE",helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); padding: 0px; line-height: normal; font-weight: normal; font-family: "MyriadPro-Light"; }
h2 { font-size: 24px; margin: 1.1em 0px 0.5em; color: rgb(200, 210, 0); }
h3 { font-size: 18px; margin: 2.1em 0px 0.5em; color: rgb(81, 133, 171); }
h4 { font-size: 100%; margin: 1.1em 0px 0.5em; }
input, select, textarea { vertical-align: middle; }
a { color: rgb(81, 133, 171); outline: medium none; }
a:hover { color: rgb(0, 0, 0); text-decoration: none; }
p { margin: 1em 0px; }
table { border-collapse: collapse; }
ul, ol { margin-top: 1em; margin-bottom: 1.2em; }
hr { height: 0px; border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(215, 215, 215); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
img, object, video { border: 0px none; }
.tar { text-align: right; }
.clear { clear: both; height: 0px; font-size: 1px; }
.no-css { display: none; }
#main { width: 1073px; height: 100%; position: relative; margin: 60px auto 156px; text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
html > body #main { min-height: 100%; height: auto; }
#main-in { width: 990px; position: relative; margin: 0px auto; }
#header { width: 100%; height: 135px; position: relative; margin: 0px auto; top: 22px; }
#content { width: 740px; float: left; margin-top: 52px; }
#content-in { padding-bottom: 40px; font-family: Arial; font-size: 13px; }
#panel { width: 240px; float: right; margin-top: 52px; }
#panel-in { padding-bottom: 40px; }
#footer { width: 100%; height: 96px; position: absolute; left: 0px; bottom: -96px; background: none repeat scroll 0% 0% rgba(216, 215, 215, 0.5); color: rgb(121, 121, 121); font-size: 12px; }
#footer-in { width: 990px; margin: 0px auto; }
#logo { display: block; width: 199px; height: 77px; position: absolute; left: 0px; top: 0px; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_logo.png") no-repeat scroll 0px 0px transparent; overflow: hidden; text-indent: -9999px; cursor: pointer; }
#slogan { font-family: "MyriadPro-Light"; font-size: 36px; color: rgb(211, 211, 211); position: absolute; left: 340px; top: 41px; margin: 0px; padding: 0px; }
#menu { display: block; width: 100%; height: 40px; position: absolute; left: 0px; bottom: 0px; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_menu.png") repeat-x scroll 0px 0px transparent; font-family: "MyriadPro-Regular"; font-size: 14px; }
#menu ul { margin: 0px; padding: 0px; list-style: none outside none; }
#menu ul li { float: left; }
#menu ul li a { display: block; height: 40px; padding: 0px 20px; line-height: 40px; color: rgb(4, 8, 12); outline: medium none; text-decoration: none; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_menu-divider.png") no-repeat scroll right top transparent; }
#menu ul li a:hover, #menu ul li a.active, #menu ul li a.menuhover { color: rgb(86, 137, 174); }
#menu ul li:last-child a { background: none repeat scroll 0% 0% transparent; }
#langs-wrapper { width: 70px; position: absolute; right: 0px; top: 20px; font-size: 11px; }
#langs-wrapper .lang-cz, #langs-wrapper .lang-de, #langs-wrapper .lang-en, #langs-wrapper .lang-ru { height: 12px; line-height: 12px; display: block; padding-left: 23px; margin-bottom: 3px; }
#langs-wrapper .lang-cz:hover a, #langs-wrapper .lang-de:hover a, #langs-wrapper .lang-en:hover a, #langs-wrapper .lang-ru:hover a, #langs-wrapper .lang-cz.active a, #langs-wrapper .lang-de.active a, #langs-wrapper .lang-en.active a, #langs-wrapper .lang-ru.active a { color: rgb(4, 8, 12); }
#langs-wrapper .lang-cz { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_cz.png") no-repeat scroll left center transparent; }
#langs-wrapper .lang-cz:hover, #langs-wrapper .lang-cz.active { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_cz-active.png") no-repeat scroll left center transparent; }
#langs-wrapper .lang-en { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_en.png") no-repeat scroll left center transparent; }
#langs-wrapper .lang-en:hover, #langs-wrapper .lang-en.active { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_en-active.png") no-repeat scroll left center transparent; }
#langs-wrapper .lang-de { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_de.png") no-repeat scroll left center transparent; }
#langs-wrapper .lang-de:hover, #langs-wrapper .lang-de.active { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_de-active.png") no-repeat scroll left center transparent; }
#langs-box { margin: 0px; padding: 0px; list-style: none outside none; font-family: Arial; }
#langs-box a { color: rgb(107, 107, 107); }
#colorbox { margin: 0px; padding: 0px; list-style: none outside none; }
#colorbox li a { display: block; height: 46px; line-height: 46px; color: rgb(255, 255, 255); font-family: "MyriadPro-Light"; font-size: 22px; text-shadow: 1px 1px 0px rgb(85, 85, 85); text-decoration: none; padding-left: 57px; position: relative; margin-bottom: 1px; }
#colorbox li a span { display: block; position: absolute; left: 14px; }
#colorbox li a.c1 { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_c1.png") repeat-x scroll 0px 0px transparent; }
#colorbox li a.c1 span { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_c1.png") no-repeat scroll 0px 0px transparent; width: 27px; height: 26px; top: 8px; }
#colorbox li a.c1:hover span { background-position: -27px 0px; }
#colorbox li a.c2 { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_c2.png") repeat-x scroll 0px 0px transparent; }
#colorbox li a.c2 span { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_c2.png") no-repeat scroll 0px 0px transparent; width: 27px; height: 27px; top: 10px; }
#colorbox li a.c2:hover span { background-position: -28px 0px; }
#colorbox li a.c3 { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_c3.png") repeat-x scroll 0px 0px transparent; }
#colorbox li a.c3 span { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_c3.png") no-repeat scroll 0px 0px transparent; width: 26px; height: 22px; top: 12px; }
#colorbox li a.c3:hover span { background-position: -26px 0px; }
#colorbox li a.c4 { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_c4.png") repeat-x scroll 0px 0px transparent; }
#colorbox li a.c4 span { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_c4.png") no-repeat scroll 0px 0px transparent; width: 26px; height: 21px; top: 12px; }
#colorbox li a.c4:hover span { background-position: -26px 0px; }
#colorbox li a.c5 { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_c5.png") repeat-x scroll 0px 0px transparent; margin-bottom: 0px; }
#colorbox li a.c5 span { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_c5.png") no-repeat scroll 0px 0px transparent; width: 27px; height: 26px; top: 10px; }
#colorbox li a.c5:hover span { background-position: -27px 0px; }
#colorbox li a.c6 { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/backgroud_doprinfo.png") repeat-x scroll 0px 0px transparent; }
#colorbox li a.c6 span { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/icon_doprinfo_70.png") no-repeat scroll 0px 0px transparent; width: 35px; height: 21px; top: 12px; }
#colorbox li a.c6:hover span { background-position: -35px 0px; }
#bigbuttons { margin-top: 10px; font-family: "MyriadPro-Light"; font-size: 22px; line-height: 24px; }
#bigbuttons .bigbutton { display: block; padding: 14px 13px; text-decoration: none; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/bg_bigbutton.png") repeat-x scroll left top rgb(219, 219, 219); margin-bottom: 1px; color: rgb(105, 105, 105); position: relative; }
#bigbuttons .bigbutton span { font-size: 14px; color: rgb(81, 133, 171); display: block; line-height: 14px; }
#bigbuttons .bigbutton.person .img { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_person.png") no-repeat scroll 0px 0px transparent; width: 77px; height: 57px; position: absolute; right: 13px; bottom: 0px; }
#bigbuttons .bigbutton.comp .img { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_comp.png") no-repeat scroll 0px 0px transparent; width: 77px; height: 61px; position: absolute; right: 13px; bottom: 0px; }
#bigbuttons .bigbutton:hover { color: rgb(0, 0, 0); }
#bigbuttons .bigbutton.noviny { text-indent: -9999px; width: 240px; height: 69px; padding: 0px; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/noviny.jpg") no-repeat scroll 0px 0px transparent; margin: 5px 0px 10px; }
#bigbuttons .bigbutton.echomutov { text-indent: -9999px; width: 240px; height: 49px; padding: 0px; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/echomutov.jpg") no-repeat scroll 0px 0px transparent; }
#bigbuttons .bigbutton.cizinci { text-indent: -9999px; width: 240px; height: 121px; padding: 0px; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/cizinci.png") no-repeat scroll 0px 0px transparent; }
.rhino-container { border: 5px solid rgb(224, 224, 224); margin-bottom: 37px ! important; }
.rhino-container .rhino-bullets { width: 30px; margin: 0px; padding: 0px; position: absolute; left: 0px; top: 0px; height: 223px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5); font-family: "MyriadPro-Light"; }
.rhino-container .rhino-bullets:before, .rhino-container .rhino-bullets:after { background: none repeat scroll 0% 0% transparent; }
.rhino-container .rhino-bullets li { float: none; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; }
.rhino-container .rhino-bullets li a { display: block; width: 30px; height: 44px; text-align: center; line-height: 39px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; font-size: 23px; }
.rhino-container .rhino-bullets li a:hover, .rhino-container .rhino-bullets li a.rhino-active-bullet { background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); }
#tabs { width: 490px; float: left; }
#tabs .tabs ul { margin: 0px; padding: 0px; list-style: none outside none; display: block; }
#tabs .tabs ul li { float: left; margin-right: 3px; }
#tabs .tabs ul li a { display: block; padding: 6px 10px; background: none repeat scroll 0% 0% rgb(242, 242, 242); font-family: "MyriadPro-Regular"; font-size: 13px; color: rgb(51, 51, 51); text-decoration: none; }
#tabs .tabs ul li a:hover, #tabs .tabs ul li a.selected { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(57, 110, 148); }
#tabs .tabs-content { border-top: 1px solid rgb(213, 213, 213); padding-top: 20px; font-size: 12px; }
#tabs .tabs-content h3 { margin: 0px; padding: 0px; }
#tabs .tabs-content .article-meta { margin: 0px 0px 8px; color: rgb(102, 102, 102); font-style: italic; }
#tabs .tabs-content .news-content { margin: 0px 0px 30px; }
#tabs .tabs-content .tab-content .tar a { display: inline-block; padding: 3px 12px; background: none repeat scroll 0% 0% rgb(57, 110, 148); color: rgb(255, 255, 255); text-decoration: none; margin-top: 7px; font-size: 12px; }
#tabs .tabs-content .tab-content .tar a:hover { background: none repeat scroll 0% 0% rgb(111, 112, 113); }
#tabs .tabs-content #ctm-k-2 h3 { margin-bottom: 20px; }
#calendar .object-list .kalendar-item { margin-bottom: 28px; font-size: 12px; }
#calendar .object-list .kalendar-item h4 { margin: 0px; padding: 0px; font-family: "MyriadPro-Regular"; color: rgb(81, 133, 171); font-size: 100%; display: inline; }
#calendar .object-list .kalendar-item h4 a { color: rgb(81, 133, 171); }
#calendar .object-list .kalendar-item .calendar-date { color: rgb(160, 160, 160); }
#calendar .object-list .kalendar-item:last-child { margin-bottom: 0px; }
.article-meta { color: rgb(102, 102, 102); font-style: italic; margin-bottom: 10px; }
.page_main #calendar { width: 204px; background: none repeat scroll 0% 0% rgb(242, 242, 242); min-height: 496px; float: right; padding: 18px; }
.page_main #calendar h2 { margin: 0px 0px 15px; padding: 0px 0px 0px 40px; font-size: 25px; color: rgb(145, 145, 145); background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_calendar.png") no-repeat scroll left 4px transparent; min-height: 26px; line-height: 39px; }
.page_main #calendar h2.videoreportaze { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_video.png") no-repeat scroll 2px 8px transparent; }
.page_main #calendar h2 a { color: rgb(145, 145, 145); text-decoration: none; }
.page_main #calendar #kalendar-list .kalendar-item { margin: 20px 0px; padding: 0px; border: medium none; }
.page_main #calendar #kalendar-list .calendar-date { font-style: normal; color: rgb(62, 62, 62); font-size: 11px; }
#kalendar-list .kalendar-item { border-bottom: 1px dotted rgb(102, 102, 102); padding: 15px 0px; }
#content-in .calendar-date { margin-bottom: 15px; font-style: italic; color: rgb(102, 102, 102); }
#footer-right { width: 380px; text-align: right; font-size: 11px; float: right; padding-top: 23px; font-family: Arial; }
#footer-right a { color: rgb(121, 121, 121); }
#footer-right a.cmslink { color: rgb(243, 147, 0); }
#footer-left { width: 490px; float: left; padding-top: 18px; position: relative; font-family: Arial; font-size: 11px; }
#footer-left #newsletter { line-height: 14px; color: rgb(118, 118, 118); }
#footer-left #newsletter h3 { font-size: 16px; margin: 0px 0px 4px; padding: 0px; color: rgb(118, 118, 118); }
#footer-left #newsletter #n-email { display: inline-block; width: 155px; height: 25px; line-height: 25px; padding: 0px 5px; background: none repeat scroll 0% 0% rgb(193, 193, 193); border: medium none; color: rgb(255, 255, 255); font-size: 12px; }
#footer-left #newsletter .button-odeslat { width: 75px; height: 25px; background: none repeat scroll 0% 0% rgb(255, 255, 255); line-height: 25px; text-transform: uppercase; font-family: "MyriadPro-Regular"; color: rgb(175, 175, 175); border: medium none; display: inline-block; margin-left: -3px; cursor: pointer; }
#footer-left #newsletter .button-odeslat:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(118, 118, 118); }
#searchform { width: 228px; position: absolute; right: 12px; top: 102px; z-index: 500; }
#searchword { width: 218px; height: 23px; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 5px; line-height: 23px; font-size: 14px; border: 1px solid rgb(220, 220, 220); outline: medium none; color: rgb(139, 139, 139); }
#searchform .searchbutton { position: absolute; right: 0px; top: 1px; display: block; width: 23px; height: 23px; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_search.png") no-repeat scroll 0px 0px transparent; border: medium none; text-indent: -9999px; cursor: pointer; }
.bullet, .bullet-darkblue, .bullet-orange, .bullet-lightblue, .subpages { margin: 0px 0px 25px; background: none repeat scroll 0% 0% rgb(242, 242, 242); padding: 15px; list-style: none outside none; }
.bullet li, .bullet-darkblue li, .bullet-orange li, .bullet-lightblue li, .subpages li { background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/img/sys/ico_bullet.png") no-repeat scroll left 1px transparent; padding-left: 32px; margin-bottom: 6px; }
.bullet li:last-child, .bullet-darkblue li:last-child, .bullet-orange li:last-child, .bullet-lightblue li:last-child, .subpages li:last-child { margin-bottom: 0px; }
#copyright { margin: 0px; padding: 0px; }
