/* Code tidied up by ScrapBook */
.rhino-container { position: relative; }
.rhino-bullets { position: absolute; bottom: -3px; left: 50%; margin: 0px 0px 0px -50px; z-index: 10; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px; }
.rhino-bullets:before, .rhino-bullets:after { position: absolute; display: block; left: -16px; content: " "; width: 16px; height: 26px; background: url("urn:scrapbook-download-error:file:///C:/Users/Lapidary/Documents/X-pert/check-analyse-server/data/source/chomutov-mesto/Chomutov%20-%20ofici%C3%A1ln%C3%AD%20str%C3%A1nky%20statut%C3%A1rn%C3%ADho%20m%C4%9Bsta_files/rhinoslider-sprite.png") no-repeat scroll -224px 0px transparent; }
.rhino-bullets:after { left: auto; right: -16px; background-position: -240px 0px; }
.rhino-bullets li { float: left; display: inline; margin: 0px 2px; }
.rhino-bullets li a.rhino-bullet { display: block; width: 16px; height: 15px; cursor: pointer; background: none repeat scroll 0% 0% white; font-size: 10px; text-align: center; padding: 6px 0px 5px; color: rgb(51, 51, 51); text-decoration: none; -moz-user-select: none; }
.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus { color: rgb(153, 153, 153); background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.rhino-bullets li a.rhino-bullet.rhino-active-bullet { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(92, 212, 232); }
