/* Code tidied up by ScrapBook */
@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none outside none; }
html, button, input, select, textarea { font-family: sans-serif; color: rgb(34, 34, 34); }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(2, 139, 255); color: rgb(255, 255, 255); text-shadow: none; }
body { color: rgb(68, 68, 68); font-size: 12px; line-height: 18px; font-family: Arial,Helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6 { display: block; color: rgb(51, 51, 51); font-family: Arial,Helvetica,sans-serif; font-weight: bold; }
h1 { font-size: 38px; line-height: 54px; letter-spacing: -0.03em; margin-top: 8px; margin-bottom: 10px; }
h2 { font-size: 32px; line-height: 36px; letter-spacing: -0.03em; margin-top: 8px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 36px; letter-spacing: -1px; margin-top: 8px; margin-bottom: 10px; }
p { margin: 0px 0px 18px; }
p img { margin: 0px; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }
.Normal, .NormalDisabled, .NormalDeleted { color: rgb(68, 68, 68); font-size: 12px; font-weight: normal; line-height: 18px; }
a, a:visited { color: rgb(2, 139, 255); text-decoration: underline; outline: 0px none; }
a:hover, a:focus, a:active { color: rgb(34, 34, 34); outline: 0px none; }
p a, p a:visited { line-height: inherit; }
img { border: 0px none; vertical-align: middle; }
ul, ol { margin-bottom: 18px; margin-left: 18px; }
ul { list-style: square outside none; }
ul ul, ul ol, ol ol, ol ul { margin-left: 18px; margin-bottom: 0px; }
li p { line-height: 18px; }
.DNNEmptyPane { width: 0px; }
