/* Code tidied up by ScrapBook */
.cs-vertical-menu, .cs-vertical-menu ul, .cs-vertical-menu li, .cs-vertical-menu a, .cs-vertical-menu span { margin: 0px; padding: 0px; border: 0px none; outline: medium none; }
.cs-vertical-menu { line-height: 1; height: 1%; background: url("arrow-up_001.png") no-repeat scroll -200% -200% transparent; margin-left: -15px ! important; }
.cs-vertical-menu li { position: relative; list-style: none outside none; }
.cs-vertical-menu a { display: block; position: relative; }
.cs-vertical-menu span {  }
.cs-vertical-menu a { border-top: 1px solid rgb(207, 222, 255); padding: 0.75em 1em; text-decoration: none; }
.cs-vertical-menu li { background: none repeat scroll 0% 0% rgb(189, 210, 255); border: 0px none; }
.cs-vertical-menu a:hover, .cs-vertical-menu a:active, .cs-vertical-menu li.current > a { background: none repeat scroll 0% 0% rgb(207, 222, 255); outline: 0px none; }
.cs-vertical-menu li.with-ul > a { padding-right: 2.25em; }
.cs-sub-expander { position: absolute; display: block; top: 0px; right: 0px; width: 2.25em; height: 100%; text-indent: -999em; cursor: pointer; overflow: hidden; background: url("arrow-down_001.png") no-repeat scroll 50% 50% transparent; }
li.expanded > a > .cs-sub-expander, .cs-noscript li:hover > a > .cs-sub-expander { background: url("arrow-up_001.png") no-repeat scroll 50% 50% transparent; }
.cs-vertical-menu ul { display: none; height: 1%; position: relative ! important; }
.cs-vertical-menu li.expanded > ul { display: block; }
.menu81d6b { margin-left: -15px; }
