/* Code tidied up by ScrapBook */
#dnn_ContentPane { padding-top: 10px; }
#breadcrumbWrapper { padding: 10px 0px 0px 20px; margin: 10px 0px 0px; }
#dnn_breadbrumbs_lblBreadCrumb .SkinObject { font-family: Arial,'Arial Unicode MS',Helvetica,sans-serif; font-size: 14px; font-weight: normal; }
#dnn_breadbrumbs_lblBreadCrumb a, #dnn_breadbrumbs_lblBreadCrumb a:link { font-size: 14px; font-weight: bold; color: rgb(30, 87, 157); }
#dnn_breadbrumbs_lblBreadCrumb a:hover { text-decoration: underline; }
#dnn_ContentPane { padding: 0px 20px; }
#searchBox { position: relative ! important; }
#suggestions { top: 0px ! important; left: 0px ! important; }
#dnn_TopLeft { padding-left: 20px; }
#dnn_TopRight { padding-right: 20px; width: 330px ! important; }
