/* Code tidied up by ScrapBook */
#comDDN { margin-left: -25px; }
#busDDN { margin-left: -190px; }
#govDDN { margin-left: -407px; }
#communityLink { width: 161px; }
#businessLink { width: 213px; }
#GovernmentLink { width: 171px; }
#communityLink.menuItem, #businessLink.menuItem, #GovernmentLink.menuItem { padding: 0px ! important; height: 60px ! important; line-height: 55px ! important; }
.menu { list-style: none outside none; height: 43px; margin: 0px ! important; }
.menu li { float: left; display: block; position: relative; border: medium none; }
.menu li:hover { margin-left: -10px; padding: 0px 0px 15px 10px; }
.menu li a { font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(0, 0, 0); display: block; outline: 0px none; text-decoration: none; }
.menu li:hover a { color: rgb(22, 22, 22); }
#departments .menu li.drop { height: 24px; width: 193px; padding: 6px 0px 0px 7px; }
#popularSearches .menu li.drop { height: 22px; width: 188px; padding: 7px 0px 0px 10px; }
#departments, #popularSearches { padding: 0px; }
#departments:hover, #popularSearches:hover { background: none repeat scroll 0% 0% rgb(241, 241, 241); }
.menu li .drop, .drop { height: 30px; width: 145px; }
.drop:after { float: right; padding-right: 14px; content: ""; font-family: FontAwesome; }
#departments ul.menu li.drop:hover, #popularSearches ul.menu li.drop:hover { color: rgb(5, 28, 44); margin: 0px ! important; }
.internal-page #departments .menu li.drop { height: 22px; width: 115px; padding: 8px 0px 0px 10px; overflow: visible ! important; }
.internal-page #popularSearches .menu li.drop { height: 22px; width: 142px; padding: 8px 0px 0px 10px; overflow: visible ! important; }
.internal-page #popularSearches { width: 150px; }
.internal-page #departments, .internal-page #popularSearches { padding: 0px; }
.internal-page .menu li .drop, .internal-page .drop { height: 30px; width: 145px; margin: 0px ! important; }
.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns { margin: 4px auto; position: absolute; display: none; text-align: left; padding: 10px 5px; border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.dropdown_1column { width: 188px; }
.dropdown_5columns { width: 930px; min-height: 400px; border-top: medium none; margin-top: -5px; }
.dropdown_5columns img { width: 170px; }
.menu a { width: 100%; }
.dropdown_5columns ul { padding-bottom: 15px ! important; }
.col_1 ul, .greyColumn ul {  }
.dropdown_5columns h3 { padding-top: 15px; color: rgb(5, 28, 44); font-family: Arial ! important; font-weight: bold ! important; letter-spacing: normal ! important; }
.dropdown_5columns h3 { font-family: Arial ! important; font-weight: bold ! important; }
.dropdown_5columns p, .dropdown_5columns a { color: rgb(0, 0, 0); font-family: Arial ! important; font-weight: normal ! important; }
.dropdown_5columns div ul li a:hover, .menu li a:hover { color: rgb(5, 28, 44); }
.dropdown_1column { top: 21px ! important; }
.greyColumn { background-color: rgb(217, 217, 217); height: 410px; width: 150px; margin: -10px 10px 10px -8px; padding: 10px 10px 0px; }
.greyColumn h3 { color: rgb(0, 0, 0); }
.menu li:hover .dropdown_1column, .menu li:hover .dropdown_2columns, .menu li:hover .dropdown_3columns, .menu li:hover .dropdown_4columns, .menu li:hover .dropdown_5columns { left: 0px ! important; top: auto; }
.menu li .dropdown_1column, .menu li .dropdown_2columns, .menu li .dropdown_3columns, .menu li .dropdown_4columns, .menu li .dropdown_5columns { left: -10px ! important; top: auto; }
.col_1, .col_2, .col_3, .col_4, .col_5 { display: inline; float: left; position: relative; margin-left: 5px; margin-right: 0px; }
.col_1 { width: 180px; }
.menu p, .menu h2, .menu h3, .menu ul li { font-family: Arial,Helvetica,sans-serif; line-height: 21px; font-size: 12px; text-align: left; }
.menu h3 { font-size: 12px; font-weight: bold; padding-top: 5px; }
.menu p { line-height: 18px; margin: 0px 0px 10px; }
.menu li:hover div a { font-size: 12px; }
.menu li:hover div a:hover { color: rgb(32, 88, 157); }
.menu li ul { list-style: none outside none; padding: 0px; margin: 0px 0px 12px; }
.menu li ul li { font-size: 12px; line-height: 20px; position: relative; padding: 0px; margin: 0px; float: none; text-align: left; }
.menu li ul li:hover { background: none repeat scroll 0% 0% transparent; border: medium none; padding: 0px; margin: 0px; }
.menuItem { font-size: 15px ! important; }
