/* Code tidied up by ScrapBook */
.searchBar { height: 65px ! important; margin: 74px auto 0px; text-align: left; width: 600px; z-index: 100; }
#popularSearches, #departments { cursor: pointer; display: inline; float: left; font-family: Arial; font-size: 12px; height: 36px; padding: 5px 0px 0px 10px; width: 120px; background: none repeat scroll 0% 0% rgb(209, 209, 209); }
#searchBox { width: 460px; height: 36px; float: left; display: inline; margin: 14px 0px 0px; box-shadow: 0px 3px 4px 0px black; }
#departments { margin: 14px 6px; }
#searchText { width: 250px; height: 18px; float: left; display: inline; font-size: 14px; font-weight: bold; font-style: italic; color: rgb(102, 102, 102); font-family: Arial,Tahoma; padding-left: 10px; margin: 0px; z-index: 110; border: medium none ! important; background-color: rgb(239, 239, 239); }
#popularSearches { width: 140px; margin-bottom: 15px; z-index: 120; }
#searchButton { width: 40px; height: 40px; background: none repeat scroll 0% 0% rgb(27, 185, 169); float: left; display: inline; margin: 0px; cursor: pointer; z-index: 130; color: rgb(255, 255, 255); }
#searchButton:after { content: ""; font-family: FontAwesome; font-size: 22px; line-height: normal; text-align: center; align-content: center; padding-right: 10px; padding-top: 6px; float: right; }
#suggestions {  }
#searchBox input#searchText { border-radius: 0px ! important; width: 240px ! important; padding-top: 9px; }
.dropdown_3columns { padding-top: 3px ! important; width: 600px ! important; }
.dropdown_1column { margin: 6px 0px 0px -48px ! important; }
#suggestions, .dropdown_1column, .dropdown_1column, .dropdown_3columns { z-index: 9999 ! important; }
.dnn6 .art-nav { z-index: 1 ! important; }
#searchText { position: absolute; top: 0px; left: 0px; width: 240px ! important; }
#searchButton { position: absolute; top: 0px; right: 170px; z-index: 0; }
#popularSearches { position: absolute; top: 0px; right: 14px; }
