/* Code tidied up by ScrapBook */
#newsletterWrapper > input[type="text"] { width: 260px; font-size: 14px ! important; margin: 0px 12px 0px 0px ! important; padding-left: 10px; }
#newsletterWrapper { color: rgb(255, 255, 255) ! important; background-color: rgb(63, 63, 63); padding: 10px; }
#newsletterWrapper input#Subscribe { background: none repeat scroll 0% 0% rgb(209, 209, 209); color: rgb(51, 51, 68); }
#newsletterWrapper input#Subscribe:hover { background: none repeat scroll 0% 0% rgb(241, 241, 241); color: rgb(51, 51, 68) ! important; }
.watermark { font-size: 16px ! important; font-style: italic ! important; color: rgb(102, 102, 102); }
input#Email { height: 14px ! important; border-radius: 0px ! important; }
input#Email::-moz-placeholder { font-style: italic; }
input#Email:-moz-placeholder { font-style: italic; }
input#Email:focus::-moz-placeholder { color: transparent ! important; }
input#Email:focus:-moz-placeholder { color: transparent ! important; }
