/* Code tidied up by ScrapBook */
Body { font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; background-color: white; margin: 0px; }
table { font-family: Arial,Helvetica,sans-serif; }
td { font-size: 11px; font-weight: normal; }
.SkinObject { font-weight: bold; font-size: 8.5pt; color: rgb(0, 51, 102); font-family: Arial,Helvetica,sans-serif; text-decoration: none; }
A.SkinObject:link { text-decoration: none; color: rgb(0, 51, 102); }
A.SkinObject:visited { text-decoration: none; color: rgb(0, 51, 102); }
A.SkinObject:hover { text-decoration: none; color: rgb(0, 51, 102); }
A.SkinObject:active { text-decoration: none; color: rgb(0, 51, 102); }
.Normal, .NormalDisabled { font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; }
H1 { padding: 0px 0px 2px; margin: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold; color: rgb(51, 51, 51); }
h2 { color: rgb(32, 88, 157); margin: 10px 0px 0px; font-family: Arial,Helvetica,Sans-Serif; font-weight: normal; font-size: 22px; font-style: normal; }
H3 { font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; color: rgb(0, 51, 102); }
A:hover { text-decoration: underline; color: rgb(255, 0, 0); }
UL LI { list-style-type: square; }
UL LI LI { list-style-type: disc; }
UL LI LI LI { list-style-type: circle; }
.DNNEmptyPane { width: 0px; }
