/* Code tidied up by ScrapBook */
.resizer { float: right; list-style: none outside none; margin: 0px 0px 10px 10px; padding: 3px 10px; }
.resizer li { float: left; line-height: 26px; margin-right: 5px; list-style-type: none; }
.resizer .small { font-size: 12px; line-height: 26px; }
.resizer .large { margin-right: 0px; }
.resizer .small a, .medium .resizer .medium a, .large .resizer .large a { color: rgb(0, 0, 0); text-decoration: none; }
