/* Code tidied up by ScrapBook */
body { background-image: none ! important; padding: 0px; }
table { font-family: Arial,sans-serif; }
td { font-size: 12px ! important; font-weight: normal; }
#art-main { top: 0px ! important; }
.clearBoth { clear: both; }
#art-main { background-color: transparent; background-image: -moz-linear-gradient(center top , rgba(71, 71, 71, 0.09) 0px, rgba(255, 255, 255, 0.25) 1050px), url("page.png"), -moz-linear-gradient(center top , rgb(133, 133, 133) 0px, rgb(255, 255, 255) 1050px); background-repeat: no-repeat, repeat, no-repeat; background-position: 0% 0%, 0% 0%, 0% 0%; background-clip: border-box, border-box, border-box; background-origin: padding-box, padding-box, padding-box; background-size: auto auto, auto auto, auto auto; background-attachment: fixed, fixed, fixed ! important; margin: 0px auto; font-size: 13px; font-family: Arial,Helvetica,Sans-Serif; font-weight: normal; font-style: normal; position: relative; width: 100%; min-height: 100%; left: 0px; top: 0px; cursor: default; overflow: hidden; }
table, ul.art-hmenu { font-size: 13px; font-family: Arial,Helvetica,Sans-Serif; font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li { margin: 0px; padding: 0px; }
.art-button, .dnnFormItem .art-button, .dnnSecondaryAction { border-collapse: separate; background-origin: border-box ! important; background-color: rgb(107, 107, 107); background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; background-clip: border-box; background-size: auto auto; border: 1px solid rgb(204, 204, 204); padding: 0px 20px; margin: 0px auto; height: 27px; }
.art-postcontent, .art-postheadericons, .art-postfootericons, .art-blockcontent, ul.art-vmenu a { text-align: left; }
.art-postcontent, .art-postcontent li, .art-postcontent table, .art-postcontent a, .art-postcontent a:link, .art-postcontent a:visited, .art-postcontent a.visited, .art-postcontent a:hover, .art-postcontent a.hovered { font-family: Arial,Helvetica,Sans-Serif; }
.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover, .art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover, .art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover, .art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover, .art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover, .art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover, .art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover, .art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover, .art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover, .art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover, .art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover { font-size: 22px; font-family: Arial,Helvetica,Sans-Serif; font-weight: bold; font-style: normal; text-decoration: none; }
.art-postcontent a, .art-postcontent a:link { font-family: Arial,Helvetica,Sans-Serif; text-decoration: none; color: rgb(30, 87, 157); }
.art-postcontent a:visited, .art-postcontent a.visited { font-family: Arial,Helvetica,Sans-Serif; text-decoration: none; color: rgb(30, 87, 157); }
.art-postcontent a:hover, .art-postcontent a.hover { font-family: Arial,Helvetica,Sans-Serif; text-decoration: underline; color: rgb(30, 87, 157); }
.art-postcontent h2 { color: rgb(32, 88, 157); margin: 10px 0px 0px; font-family: Arial,Helvetica,Sans-Serif; font-weight: normal; font-style: normal; }
.art-postcontent h3 { color: rgb(0, 0, 0); margin: 10px 0px 0px; font-size: 18px; font-family: Arial,Helvetica,Sans-Serif; }
header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before { background-origin: border-box ! important; }
header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before { display: block; box-sizing: border-box; }
ul { list-style-type: none; }
html, body { height: 100%; }
body { padding: 0px; margin: 0px; min-width: 1000px; color: rgb(15, 20, 25); }
.clearfix:before, .clearfix:after { width: 100%; content: " "; display: table; }
.clearfix:after { clear: both; }
form { padding: 0px ! important; margin: 0px ! important; }
table.position { position: relative; width: 100%; table-layout: fixed; }
li h3, .art-postcontent li h3, .art-blockcontent li h3 { margin: 1px; }
li p, .art-postcontent li p, .art-blockcontent li p { margin: 1px; }
.art-sheet { background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 0px auto; position: relative; cursor: auto; width: 1000px; z-index: 1 ! important; }
.art-nav { background: none repeat scroll 0% 0% rgb(63, 63, 63); padding: 9px 0px 9px 10px; margin: 0px auto; position: relative; z-index: 100; text-align: left; height: 72px ! important; }
.art-nav:before { content: " "; }
.art-hmenu-extra1 { position: relative; display: block; float: left; width: auto; height: auto; background-position: center center; }
.art-hmenu-extra2 { position: relative; display: block; float: right; width: auto; height: auto; background-position: center center; }
.art-layout-wrapper { position: relative; margin: 0px auto; z-index: 0 ! important; }
.art-content-layout { display: table; width: 100%; table-layout: fixed; }
.art-content-layout-row { display: table-row; }
.art-layout-cell { display: table-cell; vertical-align: top; }
.art-layout-cell h1 { color: rgb(65, 122, 62); margin: 20px 0px 0px 28px; font-size: 28px; font-family: Arial,Helvetica,Sans-Serif; font-weight: normal; font-style: normal; }
.art-vmenublock { margin: 10px; }
a.dnnSecondaryAction, a.dnnSecondaryAction:link, a.dnnSecondaryAction:link:link, body a.dnnSecondaryAction:link, a.dnnSecondaryAction:visited, body a.dnnSecondaryAction:visited, input.dnnSecondaryAction, button.dnnSecondaryAction, a.art-button, a.art-button:link, a.art-button:link:link, body a.art-button:link, a.art-button:visited, body a.art-button:visited, input.art-button, button.art-button { text-decoration: none; font-size: 12px; font-family: Arial,Helvetica,Sans-Serif; font-weight: normal; font-style: normal; position: relative; display: inline-block; vertical-align: middle; white-space: nowrap; text-align: center; color: rgb(255, 255, 255); margin: 0px 5px 0px 0px ! important; overflow: visible; cursor: pointer; text-indent: 0px; line-height: 27px; box-sizing: content-box; }
input, select, textarea, a.art-search-button span { vertical-align: middle; font-size: 12px; font-family: Arial,Helvetica,Sans-Serif; font-weight: normal; font-style: normal; }
input.art-button, input.dnnSecondaryAction { float: none ! important; }
.art-button.hover, .art-button:hover, .dnnSecondaryAction.hover, .dnnSecondaryAction:hover { background: none repeat scroll 0% 0% rgb(107, 107, 107); border: 1px solid rgb(204, 204, 204); padding: 0px 20px; margin: 0px auto; }
.art-button.hover, .art-button:hover { color: rgb(255, 255, 255) ! important; }
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea { margin: 0px auto; }
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea { padding: 8px 0px; font-size: 13px; font-family: Arial,Helvetica,Sans-Serif; font-weight: normal; font-style: normal; text-shadow: none; }
.art-post { padding: 10px; }
a img { border: 0px none; }
.art-article img, img.art-article, .art-block img, .art-footer img { margin: 7px; }
.art-article table, table.art-article { border-collapse: collapse; margin: 1px; }
.art-article th, .art-article td { padding: 2px; vertical-align: top; text-align: left; }
.art-postcontent ul > li:before, .art-post ul > li:before, .art-textblock ul > li:before { margin-right: 6px; bottom: 2px; position: relative; display: inline-block; vertical-align: middle; font-size: 0px; line-height: 0; }
.art-postcontent li, .art-post li, .art-textblock li { font-size: 13px; font-family: Arial,Helvetica,Sans-Serif; margin: 3px 0px 0px 11px; }
.art-postcontent ul > li, .art-post ul > li, .art-textblock ul > li, .art-postcontent ol, .art-post ol, .art-textblock ol { padding: 0px; }
.art-postcontent ul > li, .art-post ul > li, .art-textblock ul > li { padding-left: 12px; }
.art-postcontent ul > li:before, .art-post ul > li:before, .art-textblock ul > li:before { margin-left: -12px; }
.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul { margin: 1em 0px 1em 11px; }
.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul { margin: 0.5em 0px 0.5em 11px; }
.art-postcontent li, .art-post li, .art-textblock li { margin: 3px 0px 0px; }
.art-post ul > li, .art-textblock ul > li { overflow-x: visible; overflow-y: hidden; }
.art-footer { background: none repeat scroll 0% 0% transparent; margin: 0px auto; position: relative; color: rgb(21, 28, 35); font-size: 11px; font-family: Arial,Helvetica,Sans-Serif; text-align: center; padding: 0px; z-index: 0; }
.art-footer a, .art-footer a:link, .art-footer a:visited, .art-footer a:hover, .art-footer td, .art-footer th, .art-footer caption { color: rgb(21, 28, 35); font-size: 11px; font-family: Arial,Helvetica,Sans-Serif; }
.art-footer p { padding: 0px; text-align: center; }
.art-footer a, .art-footer a:link { color: rgb(30, 87, 157); font-family: Arial,Helvetica,Sans-Serif; text-decoration: none; font-size: 12px; }
.art-footer a:visited { color: rgb(30, 87, 157); font-family: Arial,Helvetica,Sans-Serif; text-decoration: none; }
.art-footer a:hover { color: rgb(30, 87, 157); font-family: Arial,Helvetica,Sans-Serif; text-decoration: underline; }
.art-footer h2 { color: rgb(0, 0, 0); font-family: Arial,Helvetica,Sans-Serif; font-size: 14px; font-weight: bold; text-align: left; }
.art-footer img { border: medium none; margin: 0px ! important; }
.art-footer-inner { margin: 0px auto; width: 1000px; padding: 0px 5px; }
.art-footer ul { margin: 0px ! important; }
.art-footer ul > li:before { margin-right: 6px; bottom: 1px; position: relative; display: inline-block; vertical-align: middle; font-size: 0px; line-height: 0; margin-left: -13px; }
.art-footer td { vertical-align: top; }
.art-footer li { font-size: 12px; font-family: Arial,Helvetica,Sans-Serif; color: rgb(42, 56, 70); margin: 0px ! important; text-align: left; list-style-type: none ! important; }
.art-footer ul > li, .art-footer ol { padding: 0px; }
.art-footer ul > li { padding-left: 0px ! important; }
.art-content-layout .art-sidebar1 { margin: 0px auto; width: 200px; }
.art-content-layout .art-content { margin: 0px auto; }
.art-post { margin: 0px; }
a img { border: 0px none; }
.art-article img, img.art-article { margin: 7px; }
.art-article table, table.art-article { border-collapse: collapse; margin: 1px; }
.art-article table, table.art-article .art-article tr, .art-article th, .art-article td { background-color: Transparent; }
.art-article th, .art-article td { border: 0px none rgb(128, 128, 128); vertical-align: top; text-align: left; padding: 2px; }
.art-post, .art-post-body, .art-block, .art-block-body { z-index: auto; }
body { direction: ltr; }
.Normal, .normal, #LoginInfo, #QuickLinks, #LoginInfo p.LoginNotes, .SubHead, .WizardText, .SkinObject { font-family: 'Times New Roman'; font-style: normal; font-size: 16px; font-weight: 400; text-decoration: none; }
.art-postcontent .Normal, .art-postcontent .normal, .art-postcontent #LoginInfo, .art-postcontent #QuickLinks, .art-postcontent #LoginInfo p.LoginNotes, .art-postcontent .SubHead, .art-postcontent .WizardText, .art-postcontent .SkinObject { font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 14px; font-weight: 400; text-decoration: none; }
.Normal, .normal, #LoginInfo, #QuickLinks, #LoginInfo p.LoginNotes, .art-postcontent .SubHead, .art-postcontent .Normal, .SubHead, .WizardText, .SkinObject { font-size: 1em; color: rgb(15, 20, 25); }
a.CommandButton, a.SkinObject { font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 14px; font-weight: 400; text-decoration: none; color: rgb(30, 87, 157); }
a.CommandButton:link, a.SkinObject:link { font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 14px; font-weight: 400; text-decoration: none; color: rgb(30, 87, 157); }
a.CommandButton:visited, a.SkinObject:visited { font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 14px; font-weight: 400; text-decoration: none; color: rgb(30, 87, 157); }
a.CommandButton:hover, a.SkinObject:hover { font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 14px; font-weight: 400; text-decoration: none; color: rgb(30, 87, 157); }
table.position { position: static; }
.ModDNNHTMLC table { width: 100%; }
form { height: 100%; }
ul li li { list-style-type: none; }
.art-footer .SkinObject { display: inline-block; color: rgb(21, 28, 35); font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 11px; font-weight: 400; text-decoration: none; }
.dnn6 .art-nav { z-index: 904; }
.art-post ul li { list-style-type: none; }
.art-post ol, .art-post ul { margin: 1em 0px 1em 2em; padding: 0px; }
.art-post li { font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 12px; font-weight: 400; text-decoration: none; }
.art-post li ol, .art-post li ul { margin: 0.5em 0px 0.5em 2em; padding: 0px; }
.art-post li { padding: 0px 0px 0px 12px; }
.art-post ul > li { background-repeat: no-repeat; padding-left: 12px; overflow-x: visible; overflow-y: hidden; }
.art-controlpanel-container { margin: 0px auto; width: 1000px; min-width: 0px; max-width: none; position: relative; z-index: 10000; }
.dnn6 .art-controlpanel-container { color: rgb(0, 0, 0); position: fixed; }
#header { width: 1000px; height: 140px; background-color: white; }
.footerMenuWrapper { width: 1000px; height: 56px; background: none repeat scroll 0% 0% rgb(27, 185, 169); text-align: center; }
.footerMenuWrapper div.DNNModuleContent a { font-size: 16px ! important; color: white ! important; padding: 0px 20px 20px ! important; }
#google_translate_element { float: right; padding: 5px 15px 0px 10px; }
#dnn_copyright_lblCopyright { margin: 20px 0px; font-size: 14px; color: rgb(51, 51, 51); }
ul.mainMenu, ul.mainMenu ul { display: block; margin: 0px; padding: 0px; border: 0px none; list-style-type: none; }
ul.mainMenu li { position: relative; z-index: 5; display: block; float: left; background: none repeat scroll 0% 0% transparent; margin: 0px; border: 0px none; text-align: center; padding-right: 4px; }
ul.mainMenu > li { height: 55px ! important; padding-right: 5px ! important; }
ul.mainMenu li a { color: rgb(255, 255, 255); font-size: 16px; font-weight: bold; text-decoration: none ! important; }
ul.mainMenu li:hover { z-index: 10000; white-space: normal; }
ul.mainMenu:after, ul.mainMenu ul:after { content: "."; height: 0px; display: block; visibility: hidden; overflow: hidden; }
#menuHome { width: 40px; height: 55px; line-height: 55px; background-size: contain; background-color: rgb(27, 185, 169); font-size: 22px; }
#menuHome:after { content: ""; font-family: FontAwesome; font-weight: 100; font-size: 24px; }
#menuCommunity { width: 161px; height: 55px; line-height: 55px; background: none repeat scroll 0% 0% rgb(27, 185, 169); }
#menuCommunity:hover, #menuBusinessAndDevelopment:hover, #menuGovernment:hover { color: rgb(30, 87, 157); background-image: none ! important; background-color: rgb(255, 255, 255) ! important; }
#menuHome:hover { background-color: rgb(255, 255, 255); background-size: contain; color: rgb(5, 28, 44); }
#menuHome:hover:after { content: ""; font-family: FontAwesome; font-weight: 100; font-size: 24px; }
#menuBusinessAndDevelopment { width: 213px; height: 55px; line-height: 55px; background: none repeat scroll 0% 0% rgb(27, 185, 169); }
#menuGovernment { width: 171px; height: 55px; line-height: 55px; background: none repeat scroll 0% 0% rgb(27, 185, 169); }
.menuSilver { background: none repeat scroll 0% 0% rgb(209, 209, 209) ! important; height: 55px; line-height: 20px; width: 181px; }
.menuSilver:hover { background: none repeat scroll 0% 0% rgb(241, 241, 241) ! important; }
.menuSilver:hover, .menuSilver:hover .silverNextLine, .menuSilver:hover .silverFirstLine { color: rgb(5, 28, 44); }
.silverFirstLine { color: rgb(51, 51, 68); font-size: 15px; padding-left: 43px; padding-top: 3px; text-align: left; }
.silverNextLine { color: rgb(71, 71, 71); font-size: 12px; line-height: 13px; margin-top: -1px; padding-left: 44px; text-align: left; word-wrap: normal; }
#mouseIcon { width: 19px; height: 22px; margin-top: 15px; margin-left: 15px; background: url("menuMouse.png") no-repeat scroll 0% 0% transparent; float: left; }
#calendarIcon { width: 19px; height: 22px; margin-top: 15px; margin-left: 12px; background: url("menuCalendar.png") no-repeat scroll 0% 0% transparent; float: left; }
#footerLeft { float: left; width: 430px; }
#footerRight { float: right; width: 540px; }
#moreSocial { font-size: 14px; font-style: italic; }
.copyright { float: left; width: 1000px; }
#headerLeft { float: left; }
.headerRightTop { vertical-align: top; position: absolute; width: 630px; height: 42px; z-index: 999 ! important; }
#headerRight { float: right; display: block; width: 670px; height: 140px; position: relative; }
p, .Normal { font-size: 12px; }
#searchText { outline: medium none ! important; }
#dnn_sidebar1 { margin: 10px; }
#dnn_sidebar1 div.ModCodingStaffMenuBoxC div.menu81d6b { width: 180px ! important; }
div.menu81d6b ul.cs-vertical-menu > li.first > a.parentNode { background-color: rgb(27, 185, 169) ! important; color: rgb(255, 255, 255) ! important; height: auto ! important; font-weight: bold; line-height: inherit ! important; padding: 11px 8px 11px 10px ! important; font-size: 15px ! important; min-height: 13px ! important; text-indent: 0px ! important; }
div.menu81d6b ul.cs-vertical-menu > li.first > a.parentNode span.cs-sub-expander { display: none ! important; }
div.menu81d6b ul.cs-vertical-menu li ul li a, div.menu81d6b ul.cs-vertical-menu li ul li a:hover { background-color: rgb(214, 214, 214); }
div.menu81d6b ul.cs-vertical-menu > li.first ul.inner-level li.first, div.menu81d6b ul.cs-vertical-menu > li.first ul.inner-level li.first a { margin: 0px ! important; }
div.menu81d6b li.with-ul > a span.cs-sub-expander { background-image: url("arrow-down-black.png") ! important; }
div.menu81d6b li.with-ul > a span.cs-sub-expander:hover { background-image: url("arrow-down.png") ! important; }
div.menu81d6b li.expanded > a span.cs-sub-expander, div.menu81d6b li.expanded > a span.cs-sub-expander:hover { background-image: url("arrow-up.png") ! important; }
div.menu81d6b ul.cs-vertical-menu li.with-ul ul.inner-level li ul.inner-level > li a { background-color: rgba(214, 214, 214, 0.5); border-bottom: 0px none ! important; padding: 5px ! important; }
div.menu81d6b .cs-vertical-menu li.current > a { line-height: 18px ! important; min-height: 18px ! important; }
div.menu81d6b ul.cs-vertical-menu > li.expanded a, div.menu81d6b ul.cs-vertical-menu li.with-ul ul.inner-level > li a { padding: 7px 22px 7px 10px ! important; text-indent: 0px ! important; }
div.menu81d6b ul.cs-vertical-menu li.with-ul ul.inner-level > li a span { display: block; padding: 0px ! important; text-indent: 0px ! important; }
div.menu81d6b ul.cs-vertical-menu li.with-ul ul.inner-level li ul.inner-level > li a span { display: block; padding-left: 2em ! important; text-indent: 0px ! important; }
div.menu81d6b ul.cs-vertical-menu li.with-ul ul > li a:hover { color: rgb(30, 87, 157) ! important; background-color: rgba(214, 214, 214, 0.8); }
ul li.expanded.current a { padding-left: 10px ! important; }
div.menu81d6b ul.cs-vertical-menu li.with-ul ul.inner-level li ul.inner-level > li a:hover { color: rgb(30, 87, 157) ! important; background-color: rgba(214, 214, 214, 0.4); }
.internal-page #searchBox { box-shadow: none ! important; }
.internal-page #searchText { height: 19px ! important; }
.internal-page #searchButton { height: 36px; }
.Normal p { padding-bottom: 16px ! important; }
#UserLink { float: right; padding: 8px 20px 0px 0px; }
.DNNEmptyPane { height: 0px ! important; }
.art-postcontent a.button { background: linear-gradient(to bottom, rgb(11, 99, 197) 0%, rgb(7, 67, 134) 100%) repeat scroll 0% 0% transparent; border-radius: 4px; text-indent: 0px; border: 1px solid rgb(11, 92, 185); display: inline-block; color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; font-weight: bold; font-style: normal; height: 33px; line-height: 33px; padding: 0px 10px; text-decoration: none; text-align: center; }
.art-postcontent a.button:hover { background: linear-gradient(to bottom, rgb(7, 67, 134) 0%, rgb(11, 99, 197) 100%) repeat scroll 0% 0% transparent; }
