/* Code tidied up by ScrapBook */
.menu81d6b .cs-vertical-menu { font-family: Arial,Helvetica,Sans-Serif; font-weight: bold; font-size: 0.8em; background: none repeat scroll 0% 0% transparent; color: rgb(95, 125, 69); }
.menu81d6b .cs-vertical-menu li { background: none repeat scroll 0% 0% transparent; }
.menu81d6b .cs-vertical-menu a, .menu81d6b .cs-vertical-menu a:visited { color: rgb(95, 125, 69); border: 0px solid rgb(255, 255, 255); }
.menu81d6b .cs-vertical-menu a:hover, .menu81d6b .cs-vertical-menu a:active { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(178, 202, 157); border-radius: 0px; }
.menu81d6b .cs-vertical-menu li.current > a { color: rgb(0, 0, 0); background-color: rgb(216, 223, 230) ! important; border-radius: 0px; }
.menu81d6b .cs-vertical-menu ul { background: none repeat scroll 0% 0% rgb(226, 235, 219); }
.menu81d6b .cs-vertical-menu ul li a, .menu81d6b .cs-vertical-menu ul li a:visited { color: rgb(0, 0, 0); border-radius: 0px; }
.menu81d6b .cs-vertical-menu ul li a:hover { color: rgb(255, 255, 255) ! important; background: none repeat scroll 0% 0% rgb(62, 111, 180); }
.menu81d6b .cs-vertical-menu ul li.current > a { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(231, 221, 85); }
.menu81d6b { margin-left: 0px ! important; width: 200px ! important; }
.menu81d6b .cs-vertical-menu a { cursor: pointer; display: block; font-family: Arial,Helvetica,Sans-Serif; font-size: 12px; font-style: normal; text-transform: none ! important; font-weight: normal; margin-left: 0px; margin-right: 0px; position: relative; text-decoration: none; z-index: 0; }
.menu81d6b .cs-vertical-menu a, .menu81d6b .cs-vertical-menu a:link { border: medium none ! important; color: rgb(82, 82, 82) ! important; line-height: 16px ! important; text-indent: -0.8em ! important; padding: 7px 22px 7px 10px ! important; white-space: nowrap ! important; }
.menu81d6b .cs-vertical-menu a, .menu81d6b .cs-vertical-menu a:hover { text-decoration: none ! important; color: rgb(36, 100, 178) ! important; }
.menu81d6b .cs-vertical-menu a, .menu81d6b .cs-vertical-menu a:visited { border: medium none ! important; color: rgb(82, 82, 82) ! important; }
.menu81d6b .cs-vertical-menu li.current > a { line-height: 34px ! important; font-family: Arial,Helvetica,Sans-Serif; margin: 0px; min-height: 34px ! important; padding: 0px 5px ! important; white-space: nowrap ! important; }
.menu81d6b .cs-vertical-menu li ol, .menu81d6b .cs-vertical-menu li ul { margin: 0px ! important; }
.menu81d6b .cs-vertical-menu ul { background: none repeat scroll 0% 0% transparent ! important; }
.cs-vertical-menu, .cs-vertical-menu ul, .cs-vertical-menu li, .cs-vertical-menu a, .cs-vertical-menu span { margin-top: 1px ! important; padding-bottom: 0px ! important; white-space: normal ! important; }
.menu81d6b .cs-vertical-menu ul > li {  }
.inner-level li { padding-left: 0px ! important; }
.parentNode { background-color: rgb(214, 214, 214); }
