#conteneur {
	width: auto; height: auto;
}
#conteneur #centre {
	width: auto; height: auto;
}
#conteneur #centrepage {
	width: auto; height: auto;
}
body {
	width: auto; height: auto; color: rgb(0, 0, 0); font-size: 12px;
}
p {
	width: auto; height: auto; color: rgb(0, 0, 0); font-size: 12px;
}
table {
	width: auto; height: auto; color: rgb(0, 0, 0); font-size: 12px;
}
div {
	width: auto; height: auto; color: rgb(0, 0, 0); font-size: 12px;
}
tr {
	width: auto; height: auto; color: rgb(0, 0, 0); font-size: 12px;
}
td {
	width: auto; height: auto; color: rgb(0, 0, 0); font-size: 12px;
}
#conteneur #fondmenu {
	display: none;
}
#conteneur #menu {
	display: none;
}
#conteneur #fondmenu1 {
	display: none;
}
#partage {
	display: none;
}
#droite {
	display: none;
}
#date {
	display: none;
}
#brochure {
	display: none;
}
#conteneur #pieddepage {
	display: none;
}
#conteneur #pieddepage2 {
	display: none;
}
#conteneur #pieddepage3 {
	display: none;
}
#conteneur #pieddepage4 {
	display: none;
}
#liste {
	width: auto; height: auto; margin-left: 30px;
}
#page {
	width: auto; height: auto; margin-left: 30px;
}
#centrepage {
	width: auto; margin-left: 30px;
}
.ariane {
	padding-left: 30px;
}
.titre2 {
	margin-left: 30px;
}
