body {
	font-family: Arial,Helvetica,sans-serif; font-size: 11px;
}
#conteneur {
	left: 50%; width: 1024px; height: auto; overflow: hidden; margin-left: -512px; position: absolute;
}
#contleft {
	width: 1024px; height: auto; overflow: hidden; position: absolute;
}
a:active {
	color: rgb(110, 85, 13); font-weight: normal; text-decoration: none;
}
a:link {
	color: rgb(153, 102, 0); font-weight: normal; text-decoration: none;
}
a:visited {
	color: rgb(131, 133, 133); font-weight: normal; text-decoration: none;
}
a:hover {
	color: rgb(10, 115, 144); font-weight: normal; text-decoration: none;
}
#conteneur #imageentete {
	width: 1024px; height: 145px; float: left;
}
.joconde3 {
	color: rgb(10, 116, 147); font-family: Arial,Helvetica,sans-serif; font-size: 36px; font-weight: lighter; float: left;
}
#conteneur #entete #fondentete a {
	text-decoration: none;
}
#conteneur #entete {
	width: 1024px; height: 200px; float: left;
}
#conteneur #entete #fondentete #joconde h1 {
	color: rgb(10, 116, 147); font-family: Arial,Helvetica,sans-serif; font-size: 90px; margin-top: -50px;
}
#conteneur #entete #filet-entete {
	width: 1024px; height: 10px; margin-top: 40px; float: left; background-color: rgb(224, 220, 223);
}
#menu .menu1 {
	width: 200px; height: 50px; text-align: center; color: rgb(102, 71, 6); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none;
}
#menu .menu2 {
	width: 200px; height: 50px; text-align: center; color: rgb(132, 80, 24); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none;
}
#menu .menu3 {
	width: 200px; height: 50px; text-align: center; color: rgb(157, 116, 31); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none;
}
#menu .menu4 {
	width: 200px; height: 50px; text-align: center; color: rgb(176, 130, 35); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none;
}
#menu .menu5 {
	width: 200px; height: 50px; text-align: center; color: rgb(180, 153, 98); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none;
}
#menu .menu6 {
	width: 200px; height: 50px; text-align: center; color: rgb(116, 111, 111); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none;
}
#index {
	width: 120px; text-align: left; color: rgb(10, 115, 144); font-family: Courier New,sans-serif; font-size: 12px; text-decoration: none;
}
#index a {
	font-family: Courier New,sans-serif; font-size: 11px;
}
#menu dt {
	padding: 10px; width: 200px; background-repeat: no-repeat;
}
#menu li {
	width: 200px; text-align: left; font-family: Geneva,Arial,Helvetica,sans-serif; font-weight: normal; margin-left: -25px; list-style-type: none;
}
#menu a {
	padding: 5px; width: 200px; font-family: Geneva,Arial,Helvetica,sans-serif; margin-top: 5px; vertical-align: middle; list-style-type: none;
}
#menu ul {
	margin: 0px; padding: 0px 0px 0px 10px;
}
#menu dd {
	margin: 0px; padding: 0px 0px 0px 10px;
}
#menu dd {
	display: none;
}
#conteneur #fondmenu1 {
	width: 200px; height: 50px; margin-top: -55px; float: left; background-color: rgb(224, 220, 223);
}
#conteneur #fondmenu {
	width: 200px; height: 500px; text-align: center; float: left;
}
#menu dd {
	line-height: 20px; margin-bottom: 5px;
}
#menu dd li {
	width: 200px; height: auto; font-family: Arial,Helvetica,sans-serif; text-decoration: none; vertical-align: middle; display: block; list-style-type: none;
}
#menu dd li:hover a {
	color: rgb(173, 95, 16);
}
#menu dt li:hover a {
	color: rgb(173, 95, 16);
}
#menu dd a {
	width: 180px; text-align: center; color: rgb(8, 132, 150); font-family: Arial,Helvetica,sans-serif; font-size: 12px; text-decoration: none; margin-left: 30px; vertical-align: middle;
}
#conteneur #fondmenu #fondmenu1 a {
	width: 190px; height: 18px; text-align: center; color: rgb(108, 102, 102); font-family: Arial,Helvetica,sans-serif; font-size: 22px; text-decoration: none; vertical-align: middle;
}
#conteneur #fondmenu1 li {
	text-decoration: none; list-style-type: none;
}
#conteneur #fondmenu #fondmenu1 li:hover a {
	color: rgb(8, 132, 150); font-size: 20px;
}
#conteneur #menu {
	top: 150px; width: 203px; height: 332px;
}
#conteneur #fondmenu #menu .fond1 {
	width: 200px; height: 35px; margin-top: -25px; float: left; background-image: url("image/fond1.jpg"); background-repeat: no-repeat;
}
#conteneur #fondmenu #menu .fond2 {
	width: 200px; height: 35px; float: left; background-image: url("image/fond2.jpg"); background-repeat: no-repeat;
}
#conteneur #fondmenu #menu .fond3 {
	width: 200px; height: 35px; float: left; background-image: url("image/fond3.jpg"); background-repeat: no-repeat;
}
#conteneur #fondmenu #menu .fond4 {
	width: 200px; height: 35px; float: left; background-image: url("image/fond4.jpg"); background-repeat: no-repeat;
}
#conteneur #fondmenu #menu .fond5 {
	width: 200px; height: 35px; float: left; background-image: url("image/fond5.jpg"); background-repeat: no-repeat;
}
#conteneur #fondmenu #menu .fond6 {
	width: 200px; height: 35px; float: left; background-image: url("image/fond6.jpg"); background-repeat: no-repeat;
}
#conteneur #centre #acces {
	width: 595px; height: 30px; color: rgb(75, 153, 176); padding-left: 5px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; margin-top: 15px; margin-bottom: 10px; float: left; background-color: rgb(229, 226, 226);
}
#conteneur #centre #acces #valider {
	color: rgb(95, 105, 105); font-family: Arial,Helvetica,sans-serif; font-size: 12px; background-color: rgb(240, 239, 240);
}
#conteneur #centre #acces .btimage {
	width: 10px; height: 10px; color: rgb(95, 105, 105); font-family: Arial,Helvetica,sans-serif; font-size: 10px; float: left;
}
#conteneur #centre {
	width: 600px; height: auto; text-align: justify; color: rgb(141, 86, 20); font-family: Arial,Helvetica,sans-serif; font-size: 14px; margin-top: -35px; margin-left: 30px; float: left;
}
#conteneur #centre #acces .pourchercher {
	width: 285px; height: 20px; color: rgb(10, 116, 147); font-family: Arial,Helvetica,sans-serif; font-size: 12px;
}
#conteneur #centre #acces .avec {
	color: rgb(107, 168, 186); font-family: Arial,Helvetica,sans-serif; font-size: 10px; margin-left: -5px; float: none;
}
#conteneur #centre span {
	width: 500px; height: 20px; color: rgb(148, 142, 142); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none; margin-left: 90px; float: left;
}
#conteneur #centre span a {
	color: rgb(145, 113, 46); font-family: Arial,Helvetica,sans-serif; font-size: 16px; text-decoration: none;
}
#conteneur #centre #recherche a {
	text-align: justify; color: rgb(109, 126, 125); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none; vertical-align: middle;
}
#conteneur #centre #recherche span {
	width: 200px; height: 20px; margin-top: -1px; margin-left: 30px; float: left;
}
#conteneur #colonnedroite {
	width: 180px; height: 570px; margin-top: -30px; float: left;
}
#conteneur #colonnedroite #visite {
	border: 2px solid rgb(138, 133, 133); border-image: none; width: 140px; height: 50px; padding-top: 10px; margin-left: 30px; float: left;
}
#conteneur #colonnedroite #visite a {
	width: 140px; height: 50px; text-align: center; color: rgb(138, 133, 133); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none; vertical-align: middle; float: left;
}
#conteneur #colonnedroite #visite li {
	text-decoration: none; list-style-type: none;
}
#conteneur #colonnedroite #visite li:hover a {
	color: rgb(8, 132, 150); font-size: 20px;
}
#conteneur #colonnedroite #blog {
	border: 2px solid rgb(138, 133, 133); border-image: none; width: 140px; height: 45px; padding-bottom: 7px; margin-top: 10px; margin-left: 30px; float: left;
}
.une {
	color: rgb(138, 133, 133); font-size: 12px;
}
#conteneur #colonnedroite #blog a {
	width: 140px; height: 35px; text-align: center; color: rgb(138, 133, 133); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none; vertical-align: middle; float: left;
}
#conteneur #colonnedroite #blog li {
	text-decoration: none; list-style-type: none;
}
#conteneur #colonnedroite #blog li:hover a {
	color: rgb(8, 132, 150); font-size: 20px;
}
#conteneur #colonnedroite #zoommois #imagezoom {
	width: 110px; height: 120px; margin-left: 3px; float: left;
}
#conteneur #colonnedroite #nouveaute {
	border: 2px solid rgb(138, 133, 133); border-image: none; width: 140px; height: 130px; text-align: center; color: rgb(108, 102, 102); padding-top: 10px; font-family: Arial,Helvetica,sans-serif; font-size: 18px; margin-top: 10px; margin-bottom: 10px; margin-left: 30px; float: left;
}
#conteneur #colonnedroite #nouveaute a {
	width: 140px; height: 20px; text-align: center; color: rgb(138, 133, 133); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none; float: left;
}
#conteneur #colonnedroite #nouveaute li {
	height: 25px; text-decoration: none; list-style-type: none;
}
#conteneur #colonnedroite #nouveaute li:hover a {
	color: rgb(8, 132, 150); font-size: 20px;
}
#conteneur #colonnedroite #zoommois {
	border: 2px solid rgb(138, 133, 133); border-image: none; width: 140px; height: 180px; text-align: center; color: rgb(108, 102, 102); font-family: Arial,Helvetica,sans-serif; font-size: 10px; margin-left: 30px; float: left;
}
#conteneur #colonnedroite #zoommois a {
	width: 140px; height: 50px; text-align: center; color: rgb(138, 133, 133); font-family: Arial,Helvetica,sans-serif; font-size: 18px; text-decoration: none; vertical-align: middle;
}
#conteneur #colonnedroite #zoommois li {
	height: 60px; text-decoration: none; list-style-type: none;
}
#conteneur #colonnedroite #zoommois li:hover a {
	color: rgb(8, 132, 150); font-size: 20px;
}
#conteneur #colonnedroite #nouveaute #imgnouveaute {
	width: 100px; height: 180px; margin-left: 3px; float: left;
}
#conteneur #centre #diaporama {
	width: 250px; margin-left: 130px; float: left;
}
.jDiaporama {
	position: relative;
}
.jDiaporama ul {
	overflow: hidden;
}
.jDiaporama li {
	overflow: hidden; list-style-type: none; position: absolute;
}
.jDiaporama li img {
	background-position: center; border: thin solid rgb(255, 255, 255); border-image: none; width: 350px; height: 250px; float: left; display: block;
}
.jDiaporama li .desc {
	background: url("img/back_desc.png") 0px 0px rgba(0, 0, 0, 0); margin: 5px; padding: 5px; left: 0px; width: 95%; height: 50px; text-align: justify; bottom: 0px; color: rgb(224, 220, 223); font-family: Arial; font-size: 12px; display: none; position: absolute;
}
.jDiaporama li .title {
	margin: 0px; padding: 5px; left: 0px; top: 0px; color: rgb(10, 116, 147); font-family: Arial; font-size: 12px; display: none; position: absolute;
}
.jDiaporama li .count {
	margin: 0px; padding: 5px; top: 0px; right: 0px; color: rgb(10, 116, 147); font-family: Arial; font-size: 12px; display: none; position: absolute;
}
.jDiaporama_controls {
	display: none;
}
.jDiaporama_controls a {
	margin: 0px 3px; width: 10px; height: 13px; text-indent: -9999px; font-weight: normal; display: block; position: absolute;
}
.jDiaporama_controls .prev {
	background: url("img/controls2.png") no-repeat bottom rgba(0, 0, 0, 0); left: 0px; top: 50%; width: 32px; height: 32px; margin-top: -16px;
}
.jDiaporama_controls .next {
	background: url("img/controls2.png") no-repeat top rgba(0, 0, 0, 0); top: 50%; width: 32px; height: 32px; right: 0px; margin-top: -16px;
}
.jDiaporama_controls .pause {
	background: url("img/playpause.png") no-repeat top rgba(0, 0, 0, 0); left: 50%; top: 50%; width: 64px; height: 48px; margin-top: -24px; margin-left: -32px;
}
.jDiaporama_controls .play {
	background: url("img/playpause.png") no-repeat bottom rgba(0, 0, 0, 0); left: 50%; top: 50%; width: 64px; height: 48px; margin-top: -24px; margin-left: -32px;
}
.jDiaporama_status {
	left: 50%; text-align: center; margin-top: 5px; display: none; position: absolute;
}
.jDiaporama_status a {
	background: url("img/bullets.png") no-repeat left rgba(0, 0, 0, 0); width: 10px; height: 10px; text-indent: -9999px; margin-right: 5px; float: left;
}
.jDiaporama_status a.active {
	background: url("img/bullets.png") no-repeat right rgba(0, 0, 0, 0);
}
.jDiaporama_status a:hover {
	background: url("img/bullets.png") no-repeat right rgba(0, 0, 0, 0);
}
#conteneur #centre #diaporama a {
	
}
#conteneur #centre #diaporama ul {
	margin: 0px; padding: 0px;
}
#conteneur #centre #diaporama p {
	text-shadow: none;
}
#conteneur #pieddepage {
	width: 300px; height: 20px; color: rgb(226, 218, 203); font-family: Arial,Helvetica,sans-serif; font-size: 14px; margin-top: -35px; margin-left: 420px; vertical-align: bottom; float: left;
}
#conteneur #pieddepage a {
	color: rgb(201, 187, 158); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none;
}
#conteneur #pieddepage li {
	text-decoration: none; float: left; display: block; list-style-type: none;
}
#conteneur #pieddepage li:hover a {
	color: rgb(8, 132, 150); font-size: 14px;
}
#conteneur #pieddepage2 {
	width: 300px; height: 60px; color: rgb(226, 218, 203); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none; margin-top: -25px; margin-left: 200px; float: left;
}
#conteneur #pieddepage2 a {
	color: rgb(201, 187, 158); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none;
}
#conteneur #pieddepage2 li {
	text-decoration: none; float: left; display: block; list-style-type: none;
}
#conteneur #pieddepage2 li:hover a {
	color: rgb(8, 132, 150); font-size: 14px;
}
#conteneur #pieddepage3 {
	width: 300px; height: 60px; color: rgb(226, 218, 203); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none; margin-left: 400px; float: left;
}
#conteneur #pieddepage3 a {
	color: rgb(201, 187, 158); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none;
}
#conteneur #pieddepage3 li {
	text-decoration: none; margin-top: 5px; float: left; display: block; list-style-type: none;
}
#conteneur #pieddepage3 li:hover a {
	color: rgb(8, 132, 150); font-size: 14px;
}
#conteneur #pieddepage4 {
	width: 300px; height: 60px; color: rgb(226, 218, 203); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none; margin-top: 15px; margin-left: 300px; float: left;
}
#conteneur #pieddepage4 a {
	color: rgb(201, 187, 158); font-family: Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none;
}
#conteneur #pieddepage4 li {
	text-decoration: none; float: left; display: block; list-style-type: none;
}
#conteneur #pieddepage4 li:hover a {
	color: rgb(8, 132, 150); font-size: 14px;
}
#conteneur #centrepage {
	width: 750px; height: auto; text-align: justify; padding-left: 30px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin-top: -50px; float: left;
}
.titre {
	color: rgb(140, 99, 13); font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; margin-left: -50px; float: left;
}
.soustitre {
	color: rgb(10, 115, 144); font-size: 12px; font-weight: normal;
}
.titre2 {
	color: rgb(10, 115, 144); font-size: 14px; font-weight: normal;
}
.titre3 {
	color: rgb(153, 102, 0); font-size: 12px; font-weight: normal;
}
.ariane {
	text-align: left; color: rgb(10, 116, 147); font-family: Arial,Helvetica,sans-serif; font-size: 12px; float: left;
}
.tableau {
	color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 12px;
}
#conteneur #centrepage #pagecentre {
	width: 720px; height: auto; padding-left: 30px; float: left;
}
#conteneur #centrepage li {
	margin-left: -15px; list-style-type: none;
}
#conteneur #centrepage #liste {
	width: 720px; height: auto; padding-left: 20px; float: left;
}
#conteneur #centrepage #page {
	width: 730px; height: auto; padding-left: 30px; float: left;
}
#date {
	color: rgb(102, 102, 102); font-size: 9px; float: right;
}
#brochure {
	width: auto; height: 50px; float: right;
}
#boutons {
	width: auto; height: 80px; float: right;
}
#partage {
	width: 170px; height: 50px; float: right;
}
#droite {
	width: auto; height: auto; float: right;
}
.page {
	font-size: 10px;
}
.ariane1 {
	color: rgb(10, 116, 147); font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin-left: -50px; float: left;
}
#conteneur #centrepage #liste #domtom {
	padding: 10px; border: thin solid rgb(10, 115, 144); border-image: none; width: 350px; height: 20px; float: left;
}
#conteneur #centrepage #pagecentre #anciennelettreinfo {
	width: 600px; height: auto; float: left;
}
#conteneur #centrepage #pagecentre #lettrei {
	width: 130px; height: 220px; float: left;
}
#conteneur #centrepage #pagecentre #lettreinfo {
	width: 400px; margin-right: 30px; float: left;
}
#description {
	width: 730px; height: auto; color: rgb(0, 0, 0); padding-left: 30px; float: left;
}
#description li {
	list-style-type: none;
}
#interligne {
	width: 730px; height: auto; color: rgb(0, 0, 0); line-height: 150%; padding-left: 30px; float: left;
}
#conteneur #centrepage #liste #imagezooms {
	width: auto; height: auto; padding-right: 10px; padding-bottom: 95px; margin-top: -50px; margin-left: -25px; float: left;
}
#listalphabetique {
	width: 1024px; height: auto; color: rgb(141, 86, 20); font-size: 12px; float: left;
}
.listedouble {
	text-align: center; color: rgb(10, 115, 144); font-size: 20px;
}
#filet2 {
	background-position: top; width: 1024px; height: 70px; font-size: 10px; margin-top: 30px; float: left; background-image: url("image/liste.jpg"); background-repeat: no-repeat;
}
#filet3 {
	background-position: top; width: 1024px; height: 50px; font-size: 10px; margin-top: 30px; float: left; background-image: url("image/liste-mp.jpg"); background-repeat: no-repeat;
}
#filet5 {
	background-position: top; width: 1024px; height: 50px; font-size: 10px; margin-top: 10px; float: left; background-image: url("image/liste-rech.jpg"); background-repeat: no-repeat;
}
#filet6 {
	background-position: top; width: 1024px; height: 50px; font-size: 10px; margin-top: 10px; float: left; background-image: url("image/liste-rech-s.jpg"); background-repeat: no-repeat;
}
#lista {
	width: auto; height: auto; color: rgb(141, 86, 20); font-size: 10px; float: left;
}
#joconde {
	width: 1024px; height: 200px; float: left;
}
#droitetitre {
	width: 300px; height: auto; margin-top: 7px; float: right;
}
#droitet {
	width: 200px; height: 50px; margin-top: -30px; float: right;
}
#conteneur #listalphabetique #titrethemes {
	width: 900px; height: 10px; text-align: center; color: rgb(10, 115, 144); font-size: 14px; vertical-align: middle; float: left;
}
#droite {
	width: 230px; height: 70px; float: right;
}
.resultat {
	color: rgb(0, 0, 0); font-size: 12px;
}
.page2 {
	color: rgb(102, 102, 102); font-size: 10px;
}
#filet4 {
	background-position: top; width: 1024px; height: 100px; font-size: 10px; margin-top: 5px; float: left; background-image: url("image/expositions.jpg"); background-repeat: no-repeat;
}
#dateexpo {
	color: rgb(102, 102, 102); font-size: 9px; margin-left: 20px; float: right;
}
.titreexpo {
	width: 500px; height: auto; color: rgb(10, 115, 144); font-family: Arial,Helvetica,sans-serif; font-size: 18px; font-weight: normal; margin-top: 60px; margin-right: -120px; float: right;
}
.titrelieuexpo {
	width: 450px; height: 90px; color: rgb(10, 115, 144); font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; margin-top: 30px; float: right;
}
#imageexpo {
	width: 50px; height: 130px; font-size: 12px; margin-top: 0px; float: left;
}
#logomusee {
	width: 50px; height: 50px; margin-top: 2px; margin-left: 45px; float: left;
}
#menuvirtuel {
	background-position: left top; width: 300px; height: auto; float: left; background-image: url("image/DEGRADE.jpg"); background-repeat: no-repeat;
}
#menuvirtuel li {
	height: 25px; font-family: Arial,Helvetica,sans-serif; text-decoration: none; list-style-type: none;
}
#menuvirtuel li:hover a {
	color: rgb(153, 102, 0); text-decoration: none;
}
#menuvirtuel a {
	color: rgb(10, 115, 144); font-family: Arial,Helvetica,sans-serif; font-size: 13px; font-style: normal; text-decoration: none;
}
#contenuexpo1 {
	width: 700px; height: auto; text-align: justify; font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin-top: -70px; margin-bottom: 40px; margin-left: 20px; float: left;
}
.ville {
	font-size: 14px;
}
#list {
	margin: 10px auto 0px 30px; width: 270px; height: 100px; overflow: hidden; font-family: Arial,Helvetica,sans-serif; font-size: 10px; float: left; position: relative;
}
#list ul {
	list-style: none; margin: 0px; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 10px;
}
#list li {
	list-style: none; margin: 0px; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 10px;
}
#list a {
	color: rgb(153, 102, 0); font-family: Arial,Helvetica,sans-serif; font-size: 10px; text-decoration: none; position: absolute;
}
#list a:hover {
	color: rgb(153, 102, 0); font-family: Arial,Helvetica,sans-serif; font-size: 10px;
}
.nuage {
	color: rgb(165, 214, 228); font-size: 10px;
}
.nuagea {
	color: rgb(174, 169, 158); font-size: 12px;
}
.nuageaa {
	color: rgb(196, 201, 202); font-size: 16px;
}
.nuageaaa {
	color: rgb(217, 212, 201); font-size: 14px;
}
.titretheme {
	width: 500px; height: 90px; text-align: right; color: rgb(10, 115, 144); padding-top: 25px; padding-right: 20px; font-size: 18px; float: right;
}
#filett {
	background-position: top; width: 1024px; height: 70px; font-size: 10px; margin-top: 5px; float: left; background-image: url("image/themes.jpg"); background-repeat: no-repeat;
}
#theme {
	width: 1024px; height: auto; color: rgb(141, 86, 20); font-size: 10px; float: left; background-image: url("image/fonddegrade.jpg"); background-repeat: no-repeat;
}
#conteneur #theme #nuage {
	width: 200px; height: 65px; margin-left: -25px; float: left;
}
#nuage2 {
	width: 200px; height: 65px; margin-top: -50px; margin-left: -25px; float: left;
}
.nuaget {
	color: rgb(196, 201, 202); font-size: 14px;
}
#conteneur #entete1 {
	width: 1024px; height: 75px; float: left;
}
#joconde1 {
	left: 50px; width: 250px; height: 70px; color: rgb(10, 116, 147); font-family: Arial,Helvetica,sans-serif; font-size: 50px; font-weight: bolder; margin-top: 15px; margin-left: 25px; float: left;
}
#joconde21 {
	width: 400px; height: 40px; color: rgb(99, 159, 176); font-family: Arial,Helvetica,sans-serif; font-size: 24px; font-weight: normal; margin-top: 22px; float: left;
}
.joconde31 {
	color: rgb(10, 116, 147); font-family: Arial,Helvetica,sans-serif; font-size: 24px; font-weight: lighter; float: left;
}
#fondentete1 a {
	text-decoration: none;
}
#fondentete1 {
	width: 1024px; height: 50px; font-family: Arial,Helvetica,sans-serif; font-size: 70px; float: left; background-color: rgb(224, 220, 223);
}
#logo1 {
	width: 60px; height: 70px; margin-top: 5px; margin-left: 10px; float: left; background-image: url("image/logom1.jpg"); background-repeat: no-repeat;
}
#joconde h11 {
	color: rgb(10, 116, 147); font-family: Arial,Helvetica,sans-serif; font-size: 50px; margin-top: -50px;
}
#filetm {
	background-position: top; width: 1024px; height: 70px; font-size: 10px; margin-top: 5px; float: left; background-image: url("image/mosaique.jpg"); background-repeat: no-repeat;
}
#imageune {
	width: auto; height: auto; padding-right: 10px; padding-bottom: 20px; float: left;
}
#texteune {
	width: 600px; height: auto; color: rgb(110, 85, 13); padding-top: 30px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; float: left;
}
.titreune {
	color: rgb(10, 115, 144); font-size: 18px; font-weight: normal;
}
select.largsel {
	width: 275px;
}
input.largin {
	width: 290px;
}
.imgfloat {
	margin: 0px 20px 10px 0px; float: left;
}
