@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > ul:nth-of-type(1) > li:nth-of-type(6) {
		margin-left: -2.08% !important;  /* -20px */
	}
}

