@charset "UTF-8";

/* SpryMenuBarHorizontal.css - version 0.6 - Spry Pre-Release 1.6.1 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, an auto width box with no margin or padding */
ul.MenuBarHorizontal
{
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
	margin: 0;
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
	z-index: 1000;
}
/* Menu item containers, position children relative to this container and kb changed to be auto width, not fixed */
ul.MenuBarHorizontal li
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	cursor: pointer;
	float: left;
	width: auto;
	white-space:nowrap;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #7795C6;	
}
/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
/* kb removed Submenu containers borders that were set as a default */
ul.MenuBarHorizontal ul
{
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	float: none;
	width: 175px;
	position: absolute;
	left: -1000em;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #7795C6;
	background-image: url(../../images/templates/main_609/2013navBackground.gif);
	border: thin solid #7795C6;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
	left: auto;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarHorizontal ul li
{
	float: none;
	width: 175px;
	height: 31px;
	margin-top: 1px;
}
/* kb added per online help to fix IE spry menu bar issue, sub menus go stack horizontal not vertical in IE, if using auto width for ul. MenuBarHorizontal add this code */
ul.MenuBarHorizontal li ul li
{ 
    clear: left; 
} 

/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */
ul.MenuBarHorizontal ul ul
{
	position: absolute;
	margin-left: 100%;
	margin-top: -1px;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Menu items styles. kb All sub menus inhereit these styles.  (background off for menu items without drop downs) */
ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	color: #7795C6;
	background-image: url(../../images/templates/main_609/2013navBackground.gif);
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background-repeat: repeat-x;
	padding-right: 15px;
	padding-left: 15px;
	height: 31px;
	line-height: 29px;
	/* [disabled]background-position: left; */
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
/* Menu items that have mouse over or focus. all submenus   (kb background hover/rollover for menu items without drop downs) */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	color: #FFF;
	background-image: url(../../images/templates/main_609/bar_orange.gif);
}
/* Menu items that are open with submenus (kb have drop downs incl. sub drop downs) are set to MenuBarItemHover */
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible
{
color: #FFF;
}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu (main nav off) have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenu
{
	background-image: url(../../images/templates/main_609/2013navBackground.gif);
	background-repeat: repeat-x;
}
/* Menu items that have a submenu (sub nav off) have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu
{
	background-image: url(../../images/templates/main_609/2013navBackground.gif);
	background-repeat: repeat-x;
}
/* Menu items that are open with submenus (main nav hover/rollovers) have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover
{
	background-image: url(../../images/templates/main_609/bar_orange.gif);
	background-repeat: repeat-x;  
}
/* Menu items that are open with submenus (sub nav hover/rollovers) have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover
{
	background-image: url(../../images/templates/main_609/bar_orange.gif);
	background-repeat: repeat-x;	
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHorizontal iframe
{
	position: absolute;
	z-index: 1010;
	filter:alpha(opacity:0.1);
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
}
#stateMap {
}
