@supports (-webkit-appearance:none) {
	html > body > div:nth-of-type(4) > div:nth-of-type(2) > ul:nth-of-type(1) > li:nth-of-type(13) {
		max-height: 23px !important;  /* 23px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
		padding-top: 0.07% !important;  /* 1px */
	}
}