/* Code tidied up by ScrapBook */
@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none outside none; }
:focus { outline: 0px none; }
html { overflow-y: scroll; }
ul, ol { margin-left: 0px; }
nav ul, nav li { margin: 0px; list-style: none outside none; }
body { background-color: rgb(246, 246, 246); font: 15px/20px 'roboto_condensedregular',Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); }
h2 { font-size: 21px; color: rgb(39, 88, 170); font-weight: normal; margin: 0px 0px 12px; }
p { margin: 0px 0px 12px; }
a { color: rgb(39, 88, 170); text-decoration: none; }
a:hover { color: rgb(0, 0, 0); }
.clear { clear: both; }
.container { max-width: 1000px; margin: 0px auto; }
.left { float: left; }
.topbar { background-color: rgb(39, 88, 170); height: 50px; }
.tollfree { line-height: 50px; border-left: 1px solid rgb(63, 106, 179); border-right: 1px solid rgb(63, 106, 179); float: left; font-size: 20px; color: rgb(255, 255, 255); padding: 0px 20px; font-family: 'roboto_condensedlight'; }
.tollfree a { color: rgb(255, 255, 255); text-decoration: none; }
.topsocial { border-right: 1px solid rgb(63, 106, 179); float: right; }
.topsocial ul { float: right; }
.topsocial li { float: left; display: inline-block; border-left: 1px solid rgb(63, 106, 179); }
.topsocial li a { width: 49px; height: 50px; text-indent: -9999px; display: block; background-position: center center; opacity: 0.5; transition: all 0.2s ease-in-out 0s; }
.topsocial li a:hover { opacity: 1; }
.topsocial li.facebook a { background: url("facebook.png") no-repeat scroll center center transparent; }
.topsocial li.twitter a { background: url("twitter.png") no-repeat scroll center center transparent; }
.topsocial li.linkedin a { background: url("linkedin.png") no-repeat scroll center center transparent; }
header { height: 112px; background-color: rgb(255, 255, 255); border-radius: 0px 3px 3px 0px; max-width: 1000px; margin: 0px auto; z-index: 100; position: relative; box-shadow: 0px 1px 3px rgb(191, 191, 191); }
#logo { padding: 20px 0px 0px 20px; float: left; }
.topmenu { float: right; }
.topmenu nav { clear: both; float: left; position: relative; }
.topmenu nav ul { float: left; padding: 0px 0px 0px 30px; }
.topmenu nav ul li { float: left; position: relative; margin-top: 0px; }
.topmenu nav ul li a { color: rgb(89, 89, 89); display: block; font-size: 18px; line-height: 112px; padding: 0px 13px; text-decoration: none; text-transform: uppercase; }
.topmenu nav ul li a.active, .topmenu nav ul li a:hover, .topmenu nav > ul > li:hover > a, .topmenu nav ul li a.nav-path-selected { background: url("arrow-down.png") no-repeat scroll center top transparent; color: rgb(39, 88, 170); }
.topmenu nav ul ul { background: none repeat scroll 0px 0px rgb(255, 255, 255); display: none; left: 0px; padding: 0px; position: absolute; top: 65px; width: 160px; }
.topmenu nav ul li:hover ul { display: block; }
.topmenu nav ul li:hover ul li { display: block; float: none; width: auto; }
.topmenu nav ul li ul li a { color: rgb(51, 51, 51); font-size: 14px; line-height: normal; padding: 6px 0px 6px 16px; position: relative; text-decoration: none; text-transform: none; background-image: none ! important; }
.topmenu nav li { padding-right: 6px; }
.topmenu nav li li { border-bottom: 1px solid rgb(204, 204, 204); height: auto; line-height: normal; padding-right: 0px; width: 100%; }
.home-news { margin: 0px 20px 20px 0px; }
#mainimage { margin-top: -112px; position: relative; z-index: 99; float: left; width: 100%; background-color: rgb(229, 229, 229); background-image: url("main_tr_bg.jpg"); background-repeat: repeat; }
#mainimage_wrap { text-align: left; margin: 0px auto; padding-left: 0px; }
#mainimage_wrap img { margin: 0px auto; }
#mainimage_wrap .bx-wrapper { margin: 0px; }
#mainimage_wrap .bx-wrapper li div { background: none repeat scroll 0% 0% transparent; top: 170px; left: 8px; margin: auto; max-width: 1000px; position: absolute; right: 0px; text-align: center; width: auto; }
#mainimage_wrap .bx-wrapper h2 { color: rgb(255, 255, 255); text-align: left; display: block; padding: 0px 0px 0px 50px; }
#mainimage_wrap .bx-wrapper p { color: rgb(255, 255, 255); text-align: left; display: block; padding: 0px 50px; width: 650px; }
#mainimage_wrap .bx-wrapper a.btn { background: none repeat scroll 0% 0% rgb(39, 88, 170); color: rgb(255, 255, 255); border-radius: 4px; text-align: center; display: block; padding: 8px 20px; float: left; margin-left: 50px; }
#mainimage_wrap .bx-wrapper a.btn:hover { background: none repeat scroll 0% 0% rgb(52, 110, 208); transition: background-color 0.5s ease 0s; }
#mainimage_wrap .bx-wrapper .bx-prev { background: url("big-arrow-left.png") no-repeat scroll 0px 0px transparent; width: 30px; height: 64px; left: 18%; top: 53%; }
#mainimage_wrap .bx-wrapper .bx-next { background: url("big-arrow-right.png") no-repeat scroll 0px 0px transparent; width: 30px; height: 64px; right: 18.5%; top: 53%; }
#content { background-color: rgb(246, 246, 246); float: left; width: 100%; position: relative; padding-bottom: 40px; }
.inner_content_wrap { float: left; z-index: 101; margin-top: -58px; position: relative; width: 100%; }
.inner_content_wrap .pad20 { padding: 17px 20px; }
.sidebarRight { width: 320px; float: right; min-height: 200px; margin-top: -50px; z-index: 101; position: relative; }
.welcometxt { z-index: 101; position: relative; min-height: 100px; }
.welcometxt .right { font-size: 14px; }
.shadedbox { border-radius: 3px; box-shadow: 0px 3px 3px rgb(184, 184, 184); background-color: rgb(255, 255, 255); }
.pad20 { padding: 20px; }
.right { text-align: right; }
.threeboxes { margin: 20px 0px 0px; padding: 20px; letter-spacing: 0.02em; }
.threeboxes img { border-radius: 3px; margin-bottom: 10px; }
.threeboxes h2 { margin-bottom: 5px; letter-spacing: normal; }
.threeboxes .col31 { width: 193px; margin: 0px 20px 0px 0px; float: left; }
.threeboxes .col32 { width: 193px; margin: 0px 20px 0px 0px; float: left; }
.threeboxes .col33 { width: 193px; margin: 0px; float: left; }
.home2 .threeboxes .col31 { width: 300px; margin: 0px 20px 0px 0px; float: left; }
.home2 .threeboxes .col32 { width: 300px; margin: 0px 20px 0px 0px; float: left; }
.home2 .threeboxes .col33 { width: 300px; margin: 0px; float: left; }
.home2 .threeboxes img { width: 300px; }
.newstitle { background-color: rgb(39, 88, 170); padding: 0px 20px; border-radius: 3px 3px 0px 0px; line-height: 50px; color: rgb(255, 255, 255); font-size: 26px; text-transform: uppercase; }
.newsListing { padding: 20px; }
.newsListing li { border-bottom: 1px solid rgb(229, 229, 229); padding: 0px 0px 16px; margin-bottom: 20px; }
.newsListing li img { border-radius: 3px; float: left; margin: 0px 10px 0px 0px; border: 1px solid rgb(191, 191, 191); }
.newsListing li .meta { display: block; padding-bottom: 20px; }
.meta .newsdate { display: inline-block; float: left; padding: 0px 4px; background-color: rgb(39, 88, 170); font-size: 13px; color: rgb(255, 255, 255); font-family: 'roboto_condensedlight'; line-height: 16px; }
.news-title-text { color: rgb(0, 0, 0); line-height: 18px; letter-spacing: 0.02em; }
.news-snip { color: rgb(89, 89, 89); line-height: 18px; letter-spacing: 0.02em; }
.news-readmore { padding: 10px 20px 20px 0px; text-align: right; float: right; font-size: 14px; }
#testimonials { background-color: rgb(233, 233, 233); border-top: 1px solid rgb(217, 217, 217); padding: 40px 0px; clear: both; text-align: center; line-height: 30px; }
.testimonialText { font-size: 23px; color: rgb(102, 102, 102); font-family: 'roboto_condensedlight'; padding: 0px 80px; }
.authorname { font-family: 'roboto_condensedlight'; font-size: 20px; color: rgb(65, 107, 177); }
footer { background-color: rgb(39, 88, 170); padding: 13px 0px; clear: both; font-size: 14px; color: rgb(255, 255, 255); letter-spacing: 0.02em; line-height: 23px; }
.footerLeft { float: left; }
.footerLeft a { color: rgb(255, 255, 255); margin: 0px 7px; }
.footerRight { float: right; margin-right: -2px; }
.footerLeft a.first { margin-left: 0px ! important; }
.footersocial { clear: both; display: block; }
.footersocial ul { float: right; clear: both; padding: 7px 0px 1px; }
.footersocial li { float: left; display: inline-block; margin-left: 13px; }
.footersocial li a { width: 16px; height: 15px; text-indent: -9999px; display: block; background-position: center center; opacity: 0.5; transition: all 0.2s ease-in-out 0s; }
.footersocial li a:hover { opacity: 1; }
.footersocial li.facebook { width: 13px; }
.footersocial li.facebook a { background: url("facebook.png") no-repeat scroll center center / 7px 16px transparent; }
.footersocial li.twitter a { background: url("twitter.png") no-repeat scroll center center / 12px 15px transparent; }
.footersocial li.linkedin a { background: url("linkedin.png") no-repeat scroll center center / 16px 17px transparent; }
.copyright { clear: both; }
#testimonials .bx-wrapper .bx-prev { width: 19px; height: 39px; background: url("arrow-left.png") no-repeat scroll 0px 0px transparent; }
#testimonials .bx-wrapper .bx-next { width: 19px; height: 39px; background: url("arrow-right.png") no-repeat scroll 0px 0px transparent; }
@media only screen and (max-width: 800px) {
}
@media (max-width: 1025px) {
  #mainimage_wrap .bx-wrapper li div { background: none repeat scroll 0% 0% transparent; top: 26px; left: 8px; margin: auto; max-width: 1000px; position: absolute; right: 0px; text-align: center; width: auto; }
}
@media (max-width: 668px) {
  #mainimage_wrap .bx-wrapper li div { background: none repeat scroll 0% 0% transparent; top: 26px; left: 8px; margin: auto; max-width: 1000px; position: absolute; right: 0px; text-align: center; width: auto; }
  .home2 .bx-viewport { min-height: 230px ! important; }
}
@media (max-width: 376px) {
  #mainimage_wrap .bx-wrapper li div { background: none repeat scroll 0% 0% transparent; top: 26px; left: 8px; margin: auto; max-width: 1000px; position: absolute; right: 0px; text-align: center; width: auto; }
  .home2 .bx-viewport { min-height: 180px ! important; }
  .home2 .bx-wrapper img { visibility: hidden ! important; }
  .home2 .bx-wrapper h2 { color: rgb(39, 88, 170) ! important; padding: 0px 20px ! important; }
  .home2 .bx-wrapper p { color: rgb(102, 102, 102) ! important; padding: 0px 20px ! important; width: 330px ! important; }
  .home2 .bx-wrapper a { margin-left: 20px ! important; }
  #mainimage { padding-bottom: 20px; }
  .shadedbox { padding-top: 20px; }
}
