/* Code tidied up by ScrapBook */
@media only screen and (max-width: 1920px) {
  #mainimage_wrap .bx-wrapper .bx-prev { left: 24%; }
  #mainimage_wrap .bx-wrapper .bx-next { right: 24%; }
}
@media only screen and (max-width: 1600px) {
  #mainimage_wrap .bx-wrapper .bx-prev { left: 19%; }
  #mainimage_wrap .bx-wrapper .bx-next { right: 19%; }
}
@media only screen and (max-width: 1440px) {
  #mainimage_wrap .bx-wrapper .bx-prev { left: 15%; }
  #mainimage_wrap .bx-wrapper .bx-next { right: 16%; }
}
@media only screen and (max-width: 1024px) {
  #mainimage { margin-top: 0px; }
  #mainimage_wrap .bx-wrapper .bx-next { right: 4px; background-size: 17px auto; height: 39px; top: 50%; }
  #mainimage_wrap .bx-wrapper .bx-prev { left: 15px; background-size: 17px auto; height: 39px; top: 50%; }
}
@media only screen and (max-width: 1000px) {
  .footerRight { margin-right: 0px; }
  .tollfree { padding: 0px 20px 0px 10px; }
  #logo { padding: 20px 0px 0px 10px; }
  .inner_content_wrap { width: auto; margin-left: 10px; margin-right: 10px; }
}
@media only screen and (max-width: 980px) {
  .threeboxes .col31, .threeboxes .col32, .threeboxes .col33 { width: 186px; }
  .threeboxes .col31 img, .threeboxes .col32 img, .threeboxes .col33 img { max-width: 100%; }
  .footerLeft { margin-left: 10px; }
  .footerRight { margin-right: 10px; }
}
@media only screen and (max-width: 979px) {
  .sidebarRight { margin: 20px 1.5% 0px; width: 97%; }
  .newsListing li { display: block; clear: both; }
  .newsListing li img { margin-bottom: 0px; }
  .threeboxes .col31 { margin: 0px 25px; }
  .threeboxes .col32 { margin: 0px 25px; }
  .threeboxes .col33 { margin: 0px 25px; }
  .footerLeft { margin-left: 0px; width: 100%; text-align: center; }
  .footerRight { margin-right: 0px; width: 100%; text-align: center; }
  .footersocial ul { float: none; }
  .footersocial li { float: none; }
}
@media only screen and (max-width: 800px) {
  .topmenu nav ul li a { padding: 0px 8px; }
  .topmenu nav ul { padding: 0px; }
  .sidebarRight { margin: 20px 10px 0px; width: 97.5%; }
}
@media only screen and (max-width: 768px) {
  .topmenu nav ul li a { padding: 0px 6px; }
}
@media only screen and (max-width: 767px) {
  header { z-index: 999; }
  .topmenu { display: none; top: 104px; position: absolute; background-color: rgb(255, 255, 255); width: 100%; }
  .topmenu nav ul { border-top: 1px solid rgb(204, 204, 204); padding: 0px; }
  .topmenu nav li { border-bottom: 1px solid rgb(204, 204, 204); padding-right: 0px; width: 100%; }
  .topmenu nav ul ul { display: block; position: relative; top: auto; width: 100%; }
  .topmenu nav ul li a { line-height: 30px; padding: 0px 15px; background-image: none ! important; }
  .topmenu nav ul li ul li a { padding: 8px 0px 8px 26px; }
  .threeboxes .col31 { margin: 0px 1.7% 0px 0px; width: 32.1%; }
  .threeboxes .col32 { margin: 0px 1.7% 0px 0px; width: 32.1%; }
  .threeboxes .col33 { margin: 0px; width: 32.1%; }
  .threeboxes { padding: 20px 10px; }
}
@media only screen and (max-width: 680px) {
}
@media only screen and (max-width: 640px) {
  #mainimage_wrap .bx-wrapper .bx-next { right: 0px; }
  #mainimage_wrap .bx-wrapper .bx-prev { left: 10px; }
}
@media only screen and (max-width: 639px) {
  .shadedbox { background-color: transparent; box-shadow: none; float: right; }
  footer { padding: 13px 10px; }
  .inner_content_wrap .pad20 { padding: 17px 10px; }
  .inner_content_wrap { margin-top: 0px; }
  .inner_content_wrap .pad20 { padding: 0px; }
}
@media only screen and (max-width: 599px) {
  .topbar { height: 100px; text-align: center; }
  #logo { max-width: 180px; }
  #logo img { max-width: 100%; }
  .tollfree { float: none; text-align: center; border-left: medium none; border-right: medium none; border-bottom: 1px solid rgb(63, 106, 179); }
  .topsocial { float: none; }
  .topsocial ul { float: none; }
  .topsocial li { float: none; border: medium none; }
  header { height: 88px; }
  .topmenu { top: 88px; }
  #mainimage_wrap .bx-wrapper .bx-next { background-size: 10px auto; }
  #mainimage_wrap .bx-wrapper .bx-prev { background-size: 10px auto; }
  #mainimage { padding-top: 15px; background-size: 100% auto; }
  h2 { font-size: 19px; }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 479px) {
  .threeboxes { padding: 20px 0px; margin-top: 0px; }
  .threeboxes .col31 { margin: 0px 0px 10px; width: 100%; }
  .threeboxes .col32 { margin: 0px 0px 10px; width: 100%; }
  .threeboxes .col33 { margin: 0px; width: 100%; }
  .threeboxes .col31 img, .threeboxes .col32 img, .threeboxes .col33 img { width: 100%; }
  .newsListing { padding: 20px 10px; }
  #testimonials { padding: 30px 0px; }
  .testimonialText, .authorname { font-size: 16px; line-height: normal; }
  .testimonialText { padding: 0px 50px 0px 60px; }
  #content { padding-bottom: 0px; }
  .sidebarRight { width: 100%; float: right; margin: 20px 0px 0px; }
  .newstitle { border-radius: 0px; }
}
