/* ::::: http://www.minix3.org/css/style.css (@media all) ::::: */

html { height: 100%; }
body { color: rgb(51, 51, 51); font: 11pt Arial,Helvetica,sans-serif; width: 100%; background: rgb(254, 252, 244) url("bg-page.gif") repeat-x scroll 0% 0%; height: 100%; overflow-y: auto; margin: 0px auto; }
#main { width: 940px; margin: 10px auto 0px; padding: 0px 0px 0px 2px; font: 11pt/13pt Arial,Helvetica,sans-serif; }
* + html body { overflow-y: hidden; }
img { border-style: none; }
a { text-decoration: none; color: rgb(0, 102, 153); }
a:hover { text-decoration: underline; }
#wrapper { min-height: 100%; background: transparent url("bg-page-b.gif") repeat-x scroll 0px 100%; }
.w1 { width: 1050px; margin: 0px auto; padding-right: 40px; padding-left: 40px; }
#header { padding: 0px; margin: 30px auto 0px; overflow: auto; text-align: center; }
.logo { background: transparent url("logo.png") no-repeat scroll 0% 0%; width: 258px; height: 59px; display: block; margin: 0px 0px 10px 40px; }
.logo a { display: block; height: 100%; }
#nav { width: 970px; margin: 0px auto; overflow: hidden; }
#nav div { width: 100%; }
#nav ul { padding: 0px; margin: 0px; width: 100%; height: 20px; list-style: outside none none; font: 12px/42px Arial,Helvetica,sans-serif; text-transform: uppercase; text-shadow: 1px 2px 1px rgb(1, 60, 114); }
#nav li { background: transparent url("divider.png") no-repeat scroll 0% 0%; text-align: center; float: left; padding: 0px; margin: 0px; }
#nav li:first-child { background: transparent none repeat scroll 0% 0%; }
#nav a { color: rgb(255, 255, 255); float: left; padding: 0px 4px; margin: 0px 0px 0px 2px; width: 130px; background: transparent url("bg-nav.png") repeat-x scroll 0% 0%; height: 47px; }
#nav .active a, #nav a:hover { text-decoration: none; background: transparent url("bg-nav-h.png") no-repeat scroll 50% 0px; }
#nav .first { background: transparent url("bg-nav-first-last.png") no-repeat scroll -4px -55px; width: 135px; margin: 0px; padding: 0px; }
#nav .last { background: transparent url("bg-nav-first-last.png") no-repeat scroll -194px -175px; width: 125px; }
#nav .active .first, #nav .first:hover { background: transparent url("bg-nav-first-last.png") no-repeat scroll -4px 0px; }
#nav .active .last, #nav .last:hover { background: transparent url("bg-nav-first-last.png") no-repeat scroll -194px -120px; }
#nav span { float: left; width: 100%; height: 100%; background: transparent url("arrow.png") no-repeat scroll -550px -100px; }
#nav .last:hover span, #nav .active .last span, #nav .active .first span, #nav .first:hover span { background: transparent url("arrow.png") no-repeat scroll 50% 33px; }
#sidebar { float: right; width: 15em; margin: 1em; padding: 0em; vertical-align: top; }
#sidebar .info-box.blue { background: rgb(207, 223, 238) url("bg-sidebar.gif") repeat-y scroll 0% 0%; }
#sidebar .info-box.blue .frame { background: transparent url("bg-sidebar-b.gif") no-repeat scroll 0px 100%; width: 217px; }
#sidebar .info-box .holder { background: transparent url("bg-sidebar-t.gif") no-repeat scroll 0% 0%; width: 217px; }
#sidebar .info-box { width: 217px; }
#sidebar .frame { padding-left: 2px; padding-right: 2px; width: 217px; }
#sidebar ol { margin: 0em; padding: 0em; width: 214px; }
#sidebar ol:first-child { border-top: 1px solid rgb(76, 146, 211); }
#sidebar li { list-style: outside none none; font: bold 10pt/12pt Arial,Helvetica,sans-serif; border-bottom: 1px solid rgb(76, 146, 211); }
#sidebar a { text-decoration: none; margin: 0em; padding: 0.2em 0.2em 0.2em 1em; display: block; color: rgb(0, 102, 153); background-color: rgb(207, 223, 238); }
#sidebar a.active, #sidebar a:hover { color: rgb(255, 255, 255); background: rgb(1, 64, 122) url("arrow-v.png") no-repeat scroll 2px 50%; }
#content { padding: 10px; margin-bottom: 20px; border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); vertical-align: top; }
h1 { font: 18pt/22pt Arial,Helvetica,sans-serif; color: rgb(0, 102, 153); margin: 0px 0px 20px; }
h2 { font: 16pt/20pt Arial,Helvetica,sans-serif; color: rgb(0, 102, 153); margin: 0px 0px 10px; }
h3 { font: bold 12pt/16pt Arial,Helvetica,sans-serif; color: rgb(0, 102, 153); margin-bottom: 10px; }
h4 { font: bold 12pt Arial,Helvetica,sans-serif; color: rgb(0, 102, 153); margin: 0px; }
p { font: 11pt/13pt Arial,Helvetica,sans-serif; }
p.main { font: 10pt/12pt Arial,Helvetica,sans-serif; }
p.intro { font: 13pt/15pt Arial,Helvetica,sans-serif; }
p.research { font: 10pt/12pt Arial,Helvetica,sans-serif; }
p.research2 { font: bold 12pt Arial,Helvetica,sans-serif; }
.info-box { background: rgb(222, 247, 208) url("bg-info-box.gif") repeat-y scroll 0% 0%; width: 100%; margin: 0px 0px 10px; }
.info-box.gray { background: rgb(241, 241, 241) url("bg-info-box-gray.gif") repeat-y scroll 0% 0%; }
.info-box .holder { background: transparent url("bg-info-box-t.gif") no-repeat scroll 0% 0%; width: 100%; }
.info-box.gray .holder { background: transparent url("bg-info-box-gray-t.gif") no-repeat scroll 0% 0%; }
.info-box .frame { background: transparent url("bg-info-box-b.gif") no-repeat scroll 0px 100%; width: 100%; font: 12px/14px Arial,Helvetica,sans-serif; color: rgb(0, 153, 0); padding: 14px 21px; }
.info-box.gray .frame { background: transparent url("bg-info-box-gray-b.gif") no-repeat scroll 0px 100%; color: rgb(51, 51, 51); padding: 13px 20px 15px; width: 100%; }
.info-box p { margin: 0px; }
.main-info { background: rgb(236, 243, 250) url("bg-main-info.gif") repeat-y scroll 0% 0%; width: 948px; margin: 0px 0px 5px -2px; }
.main-info .holder { background: transparent url("bg-main-info-t.gif") no-repeat scroll 0% 0%; width: 100%; }
.main-info .frame { background: transparent url("bg-main-info-b.gif") no-repeat scroll 0px 100%; width: 100%; padding: 0px 86px 0px 97px; font: 14px/30px Arial,Helvetica,sans-serif; }
.main-info .info-block { width: 552px; background: transparent url("bg-info-block.png") no-repeat scroll 100% 21px; padding: 37px 217px 20px 0px; min-height: 232px; }
.info-block p { margin: 0px 0px 20px; }
.info-block .buttons { width: 100%; overflow: hidden; }
.btn-download, .btn-read-more { float: left; background: transparent url("btn-read-more.png") no-repeat scroll 0% 0%; width: 177px; height: 48px; color: rgb(255, 255, 255); text-align: center; font-size: 18px; line-height: 44px; margin: 0px 14px 0px 0px; text-shadow: 1px 2px 1px rgb(21, 57, 90); padding: 0px 5px 6px 0px; }
.btn-download:hover, .btn-read-more:hover { text-decoration: none; }
.btn-download { background: transparent url("btn-download.png") no-repeat scroll 0% 0%; }
.paypal { height: 48px; padding: 0px; }
.columns { width: 100%; overflow: hidden; margin: 0px -11px 18px 0px; }
.columns p { margin: 0px 0px -2px; }
.columns h3 { margin: 0px 0px 2px; }
.col { width: 370px; padding: 0px 5px 0px 100px; float: left; }
.col-2 { width: 380px; padding: 0px 5px 0px 10px; float: left; }
.list-links { padding: 7px 0px 0px; margin: 0px; list-style: outside none none; font: 10pt/12px Arial,Helvetica,sans-serif; }
.list-links li { padding: 0px 0px 8px; }
.list-links a {  }
.list-links strong { text-transform: uppercase; padding: 0px 3px 0px 0px; }
.list { padding: 5px 0px 0px 11px; margin: 0px; list-style: outside none none; font: 10pt/15px Tahoma,Arial,sans-serif; }
.list li { padding: 0px 0px 9px 23px; background: transparent url("mark.png") no-repeat scroll 0px 1px; }
li.reg { font: 11pt/15pt Arial,Helvetica,sans-serif; }
.columns .more { font-size: 12px; }
ul.medium { font: 11pt/15pt Arial,Helvetica,sans-serif; }
div.listing { margin: 0px; line-height: 110%; }
td.center { text-align: center; }
div.sitemeter { text-align: center; }
td.table-header { font-size: 16px; font-weight: bold; padding: 5px; text-align: left; background: rgb(166, 235, 182) none repeat scroll 0% 0%; }
td.gray-item { font-size: 16px; padding: 4px; text-align: left; background: rgb(221, 221, 221) none repeat scroll 0% 0%; }
td.gray-right-adjusted { font-size: 16px; padding: 4px; text-align: right; background: rgb(221, 221, 221) none repeat scroll 0% 0%; }
div.searchbox { border: 1px solid blue; padding: 4px; width: 32em; background-color: rgb(245, 240, 220); }
div.pdcs { padding: 60px 0px 0px; width: 100%; font-size: 60px; font-weight: bold; text-align: center; }
div.bigger { font-size: 24px; font-weight: bold; }
#donations table { font-size: 0.9em; border-collapse: collapse; border-spacing: 0px; border: 1px solid rgb(204, 204, 204); margin: 0px 0px 1.4em; padding: 0px; empty-cells: show; }
#donations table tr:hover td { background-color: rgb(238, 238, 238); }
#donations table tr:hover th { background-color: rgb(204, 204, 204); }
#donations th, #donations td { padding: 3pt 5pt; margin: 0px; vertical-align: top; border: 1pt solid rgb(204, 204, 204); }
#donations th { background-color: rgb(238, 238, 238); font-weight: bold; text-align: left; }
.registration { padding-bottom: 12px; padding-top: 20px; text-align: center; color: rgb(105, 105, 105); }
.inputext { padding-left: 10px ! important; width: 400px ! important; height: 45px ! important; margin-right: 30px ! important; margin-top: 20px; background-color: rgb(204, 228, 255); font-size: 18px ! important; border: 1px solid rgb(0, 0, 0); color: rgb(255, 0, 0); box-shadow: 0px 1px 1px 0px rgb(236, 236, 236); }
.inputem { padding-left: 10px ! important; width: 400px ! important; height: 45px ! important; margin-right: 30px ! important; margin-top: 20px; background-color: rgb(221, 228, 255); color: rgb(255, 0, 0); font-size: 18px ! important; border: 1px solid rgb(0, 0, 0); box-shadow: 0px 1px 1px 0px rgb(236, 236, 236); }
.inputbut { padding-left: 10px ! important; width: 120px ! important; height: 45px ! important; margin-top: 20px; margin-right: 30px ! important; background-color: rgb(168, 41, 41); border: 0px none ! important; padding-right: 20px; color: white; font-family: Helvetica,Arial,sans-serif; }
.reg-btn { font-family: Helvetica,Arial,sans-serif; background-color: rgb(255, 0, 0); padding: 10px; width: 120px; color: white ! important; font-weight: bold; font-size: 18px; }
.reg-button { background-color: rgb(255, 0, 0); font-size: 30px; }
.register-forms { margin-bottom: 20px; }
.news { font-family: Helvetica,Arial,sans-serif; color: black; font-size: 16px; font-weight: bold; }
div.header-1 { font: bold 12pt/16pt Arial,Helvetica,sans-serif; margin-bottom: 10px; }
span.hdr-1 { font: bold 20pt Helvetica,Arial,sans-serif; color: blue; }
span.hdr-2 { font: bold 20pt Helvetica,Arial,sans-serif; color: rgb(158, 21, 21); }
table.conf-tabs { width: 750px; margin: 20px auto 30px; background-color: rgb(238, 238, 238); border: 1pt solid blue; }
td.tab { width: 250px; font: bold 16pt Helvetica,Arial,sans-serif; text-align: center; }
