@supports (-webkit-appearance:none) {
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(4) > form:nth-of-type(1) > div:nth-of-type(1) > table:nth-of-type(1) > tbody:nth-of-type(1) > tr:nth-of-type(1) > td:nth-of-type(1) > input:nth-of-type(1) {
		width: 61.03% !important;  /* 177px */
	}
	html > body {
		padding-top: 0.63% !important;  /* 9px */
	}
	html > body > div:nth-of-type(1) {
		max-height: 768px !important;  /* 768px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) {
		max-height: 768px !important;  /* 768px */
	}
}

