@font-face {
	font-family: Abel;
	src: local("Abel Regular"), local("Abel-Regular"), url(https://fonts.gstatic.com/s/abel/v9/MwQ5bhbm2POE2V9BOw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
