html,body { margin:0 auto; background:url(../images/body_bg.gif) repeat-x top; 
	font-family: Arial, Helvetica, sans-serif;
}

.banner_bg{ background:url(../images/banner_bg.jpg) no-repeat right; width:100%; height:102px;}
.banner_img{ background:url(../images/banner_1.jpg) no-repeat left; height:102px;}
.nav_bg{ 
 background:url(../images/index_nav_bg.gif) repeat-x; height:39px;}
.nav_boder{ border-left:1px solid #0681bc; border-right:1px solid #0681bc;}
.a_nav{ background:url(../images/index_nav_1.gif) no-repeat; width:100px; height:33px; text-align:center; color:#ffffff; font-size:14px;  display:block; display:block; line-height:33px; text-decoration:none;}
.a_nav:hover{ background:url(../images/index_nav_2.gif) no-repeat; width:100px; height:33px; text-align:center; color:#ffffff; font-size:14px;  display:block; display:block; line-height:33px; text-decoration:none;}
.a_nav_current{ background:url(../images/index_nav_2.gif) no-repeat; width:100px; height:33px; text-align:center; color:#ffffff; font-size:14px;  display:block; display:block; line-height:33px; text-decoration:none;}

.banner_bg1{ background:url(../images/banner_bg1.jpg) no-repeat; width:1001px; height:266px;}
.boder_2{ border-left:7px solid #ffffff; border-right:7px solid #ffffff; border-top:7px solid #ffffff;}
.boder_3{ border:7px solid #ffffff; border-bottom:17px solid #ffffff; border-top:17px solid #ffffff;}
.a1{ text-decoration:none; font-size:12px; color:#000;}

p{ font-family: "宋体"; font-size: 12px; font-weight: normal; color: #000; text-indent:24px; line-height:23px; }
	
	
.index_cr01 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #fdfcfc;
	text-decoration: none;
}
.index_syxz01 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #050505;
	text-decoration: none;
}
.index_border01 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	border: 1px solid #bebec8;
	height: 24px;
}
.index_border02{
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	height: 24px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #9bd1ee;
	border-right-color: #9bd1ee;
	border-bottom-color: #9bd1ee;
	border-left-color: #9bd1ee;
}
.index_xwzx01 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #0472d2;
	text-decoration: none;
}
.index_xwzx02 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #87898a;
	text-decoration: none;
}
.index_xwzx03 {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.index_xwzx04 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #ff0000;
	text-decoration: none;
}
.lby_xxgk01 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none; padding-left:60px;
}
.a_xxlb01 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 26px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-image: url(../images/lby_stdt02__12.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 26px;
	width: 218px; padding-left:60px;
}
.a_xxlb01:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-image: url(../images/lby_stdt03__12.jpg);
	background-repeat: repeat;
	background-position: center center;
	height: 26px;
	width: 218px; padding-left:60px;
}
.lby_stdt01 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #383635;
	text-decoration: none;
}
.lby_stdt02 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #1d75bf;
	text-decoration: none;
}
.lby_stdt03 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.lby_stdt04 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #007ec4;
	text-decoration: none;
}
.lby_stdt05 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #08365d;
	text-decoration: none;
}

.nav_bg_on{ background:url(../images/index_nav_middle.gif) repeat-x; height:21px;}
.nav_bg_off{ }
