/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200;
  src: local("☺"), url("OpenSans-Light-complete.eot") format("embedded-opentype"), url("OpenSans-Light-complete.woff") format("woff"), url("OpenSans-Light-complete.ttf") format("truetype"), url("OpenSans-Light-complete.svg") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url("OpenSans-Regular-complete.eot") format("embedded-opentype"), url("OpenSans-Regular-complete.woff") format("woff"), url("OpenSans-Regular-complete.ttf") format("truetype"), url("OpenSans-Regular-complete.svg") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url("OpenSans-Bold-complete.eot") format("embedded-opentype"), url("OpenSans-Bold-complete.woff") format("woff"), url("OpenSans-Bold-complete.ttf") format("truetype"), url("OpenSans-Bold-complete.svg") format("svg");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url("opensans-condbold-complete.eot") format("embedded-opentype"), url("opensans-condbold-complete.woff") format("woff"), url("opensans-condbold-complete.ttf") format("truetype"), url("opensans-condbold-complete.svg") format("svg");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 200;
  src: local("☺"), url("opensans-condlight-complete.eot") format("embedded-opentype"), url("opensans-condlight-complete.woff") format("woff"), url("opensans-condlight-complete.ttf") format("truetype"), url("opensans-condlight-complete.svg") format("svg");
}
@font-face {
  font-family: "dusha_plusregular";
  src: local("☺"), url("dusha-regular.eot") format("embedded-opentype"), url("dusha-regular.woff") format("woff"), url("dusha-regular.ttf") format("truetype"), url("dusha-regular.svg") format("svg");
}
@font-face {
  font-family: "thebest_regular";
  src: local("☺"), url("TheBest-Regular.eot") format("embedded-opentype"), url("TheBest-Regular.woff") format("woff"), url("TheBest-Regular.ttf") format("truetype"), url("TheBest-Regular.svg") format("svg");
}
@font-face {
  font-family: "FifaIcons";
  font-style: normal;
  src: local("☺"), url("FifaIcons.eot") format("embedded-opentype"), url("FifaIcons.woff") format("woff"), url("FifaIcons.ttf") format("truetype"), url("FifaIcons.svg") format("svg");
}
