/* Code tidied up by ScrapBook */
.fi-top-content + .fi-adv-placeholder { margin-top: 20px; }
@media (min-width: 768px) {
  .fi-top-content + .fi-adv-placeholder { margin-top: 40px; }
}
.visual-story-icon { width: 80px; height: 80px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: url("rocket.png"); background-size: cover; background-color: rgba(0, 0, 0, 0.2); border-radius: 50%; z-index: 1; }
@media not all, not all {
  .visual-story-icon { left: 50%; }
}
.fi-o-media-object__teaser .visual-story-icon { top: calc(80px + (100vw - 320px) / 448 * 105); }
@media (min-width: 768px) {
  .fi-o-media-object__teaser .visual-story-icon { top: 28%; }
}
.fi-o-media-object__top-content { position: relative; }
.fi-o-media-object__top-content .container-fluid { position: absolute; bottom: 0px; text-align: right; left: 0px; width: 100%; padding: 15px 15px 4%; z-index: 2; }
.fi-o-media-object__top-content .fi-o-media-object__figure { float: none; }
.fi-o-media-object__top-content .fi-o-media-object__figure img { width: 100%; vertical-align: middle; margin: 0px; }
.fi-o-media-object__top-content .fi-o-media-object__figure .img-responsive { display: block; max-width: 100%; height: auto; }
@media (min-width: 1024px) {
  .fi-o-media-object__top-content .fi-o-media-object__figure .img-responsive { transition: transform 0.3s ease 0s; transform: scale(1.01) translate3d(0px, 0px, 0px); }
}
@media (min-width: 1024px) {
  .fi-o-media-object__top-content:hover .fi-o-media-object__figure .img-responsive { transform: scale(1.03) translate3d(0px, 0px, 0px); }
}
.fi-o-media-object__top-content .fi-o-media-object__body { float: right; text-align: right; margin-right: 10%; display: none; }
.fi-o-media-object__top-content .fi-o-media-object__title { line-height: 1; text-transform: uppercase; color: rgb(255, 255, 255); padding: 2% 0px; margin: 0px; }
.fi-o-media-object__top-content .fi-o-media-object__roofline { font-family: "Open Sans"; padding: 1% 2%; font-style: normal; font-weight: 700; font-size: 13px; background-color: rgb(0, 135, 230); text-transform: uppercase; color: rgb(255, 255, 255); display: inline-block; }
.fi-o-media-object__top-content .fi-o-media-object__top-content__mask { position: relative; }
@media not all, not all {
}
@media (min-width: 480px) {
  .fi-o-media-object__top-content .container-fluid { text-align: left; left: 0px; width: 100%; }
  .fi-o-media-object__top-content .fi-o-media-object__body { max-width: 60%; margin-right: 20%; }
}
@media (max-width: 767px) {
  .fi-o-media-object__top-content .container-fluid { padding-bottom: 8%; }
}
@media (min-width: 1024px) {
  .fi-o-media-object__top-content .fi-o-media-object__top-content__mask { display: block; }
  .fi-o-media-object__top-content .container-fluid { padding-bottom: 2%; }
}
@media (min-width: 1200px) {
  .fi-o-media-object__top-content .container-fluid { width: 1200px; left: 50%; margin-left: -600px; }
  .fi-o-media-object__top-content .fi-o-media-object__body { max-width: 60%; }
}
@media (min-width: 1480px) {
  .fi-o-media-object__top-content .fi-o-media-object__body { max-width: 80%; margin-right: 10%; }
}
.top-content-carousel-wrap .fi-o-media-object__top-content .fi-o-media-object__figure .img-responsive { transition: none 0s ease 0s  ! important; transform: none ! important; }
.fi-top-content__mask { overflow: hidden; position: relative; }
.fi-top-content__mask:after { content: ""; background-image: linear-gradient(to bottom, transparent 50%, rgb(0, 0, 0) 70%); background-repeat: repeat-x; width: auto; height: 100%; display: block; position: absolute; right: 0px; left: 0px; top: auto; z-index: 2; bottom: 0px; transition: all 0.3s ease 0s; opacity: 0.6; }
.fi-top-content__mask--ie, .fi-top-content__mask--ie--nobrand { display: none ! important; visibility: hidden ! important; }
.fi-svg-background { opacity: 1; transition-property: opacity; transition-duration: 0.3s; transition-timing-function: ease-out; backface-visibility: hidden; }
[class*=" top-content-carousel--"] { background-color: rgb(0, 0, 0); }
.top-content-carousel-wrap { position: relative; }
.top-content-carousel-wrap [class*="top-content-carousel__nav__"] { height: 100%; background: none repeat scroll 0% 0% transparent; z-index: 1; cursor: pointer; transition: background 0.3s ease 0s; position: absolute; top: 0px; right: auto; bottom: 0px; left: auto; }
.top-content-carousel-wrap [class*="top-content-carousel__nav__"] span { display: block; width: 25%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
@media not all, not all {
  .top-content-carousel-wrap [class*="top-content-carousel__nav__"] span { left: 50%; }
}
.top-content-carousel-wrap [class*="top-content-carousel__nav__"] svg { width: 35px; height: 100px; opacity: 0; transition: all 0.3s ease 0.1s; background-position: center center; background-size: cover; }
.top-content-carousel-wrap .top-content-carousel__nav__prev { left: 0px; text-align: left; }
.top-content-carousel-wrap .top-content-carousel__nav__prev svg { left: 50%; transform: translateX(10px); background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2229px%22%20height%3D%2281px%22%3E%23%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20style%3D%22%22%20d%3D%22M27 79.0694571 1.5035429 41.084824 27 2 27 2%22%20%2F%3E%3C%2Fsvg%3E"); }
.top-content-carousel-wrap .top-content-carousel__nav__prev:hover svg { opacity: 1 ! important; }
.top-content-carousel-wrap .top-content-carousel__nav__next { right: 0px; text-align: right; }
.top-content-carousel-wrap .top-content-carousel__nav__next svg { right: 50%; transform: translateX(-10px); background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2229px%22%20height%3D%2281px%22%3E%23%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20style%3D%22%22%20d%3D%22M2 2 27.4964571 41.084824 2 79.0694571%22%20%2F%3E%3C%2Fsvg%3E"); }
.top-content-carousel-wrap .top-content-carousel__nav__next:hover svg { opacity: 1 ! important; }
.top-content-carousel-wrap:hover [class*="top-content-carousel__nav__"] svg { transform: translateX(0px); opacity: 0.5; }
.top-content-carousel-wrap:hover .fi-top-content__mask:after { opacity: 0.5; }
.top-content-carousel-wrap .owl-carousel { display: block ! important; }
.top-content-carousel--fifabrand__nav__prev, .top-content-carousel--fifabrand__nav__next { width: 10%; }
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
  .fi-o-media-object__top-content .fi-o-media-object__title { font-size: calc(30px + (100vw - 768px) / 256 * 6); }
}
@media (max-width: 1023px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .fi-o-media-object__top-content .fi-o-media-object__title { font-size: calc(36px + (100vw - 1024px) / 176 * 18); }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1440px) and (max-width: 1899px) {
  .fi-o-media-object__top-content .fi-o-media-object__title { font-size: calc(46px + (100vw - 1440px) / 460 * 16); }
}
@media (min-width: 1440px) {
  .fi-o-media-object__top-content .container-fluid { padding-bottom: 4%; }
}
@media (min-width: 1900px) {
  .fi-o-media-object__top-content .fi-o-media-object__title { font-size: 62px; }
}
@media not all {
  [class*="top-content-carousel__nav__"] { display: none; }
}
@supports (-ms-ime-align: auto) {
  .fi-top-content__mask, .fi-top-content__mask--nobrand { display: none ! important; visibility: hidden ! important; }
  .fi-top-content__mask--ie, .fi-top-content__mask--ie--nobrand { display: block ! important; visibility: visible ! important; }
  .top-content-carousel--preview .fi-top-content__mask, .top-content-carousel--preview .fi-top-content__mask--nobrand { display: block ! important; visibility: visible ! important; }
}
@supports (-ms-accelerator: true) {
  .fi-top-content__mask, .fi-top-content__mask--nobrand { display: none ! important; visibility: hidden ! important; }
  .fi-top-content__mask--ie, .fi-top-content__mask--ie--nobrand { display: block ! important; visibility: visible ! important; }
  .top-content-carousel--preview .fi-top-content__mask, .top-content-carousel--preview .fi-top-content__mask--nobrand { display: block ! important; visibility: visible ! important; }
}
@media not all, not all {
  .fi-top-content__mask, .fi-top-content__mask--nobrand { display: none ! important; visibility: hidden ! important; }
  .fi-top-content__mask--ie { display: block ! important; visibility: visible ! important; position: relative; height: 0px; width: 100%; padding: 0px 0px 43.75%; }
  .fi-top-content__mask--ie svg { position: absolute; height: 100%; width: 100%; left: 0px; top: 0px; }
}
.fi-module-calendar { overflow: hidden; background: none repeat scroll 0% 0% rgb(41, 87, 140); color: rgb(255, 255, 255); }
.fi-module-calendar .container-fluid { overflow: visible ! important; }
.fi-module-calendar .section__header a { color: rgb(255, 255, 255); }
.fi-module-calendar .section__header .section__title { color: rgb(255, 255, 255); border-color: rgba(255, 255, 255, 0.3); padding-top: 30px; }
@media (min-width: 768px) {
  .fi-module-calendar .section__header .section__title { padding-top: 45px; }
}
@media (min-width: 1024px) {
  .fi-module-calendar .section__header .section__title { padding-top: 60px; }
}
.fi-module-calendar__list { padding-top: 20px; padding-bottom: 70px; display: flex; margin-right: -50px ! important; width: auto ! important; position: relative; overflow: hidden; }
@media (min-width: 768px) {
  .fi-module-calendar__list { padding-top: 30px; padding-bottom: 80px; }
}
@media (min-width: 1024px) {
  .fi-module-calendar__list { padding-top: 30px; padding-bottom: 60px; }
}
@media (max-width: 479px) {
}
.fi-module-calendar__list__item { font-size: 15px; line-height: 1.1; text-align: center; text-transform: uppercase; flex-shrink: 0; width: 50%; padding-right: 50px; position: relative; }
@media (min-width: 768px) {
  .fi-module-calendar__list__item { width: 25%; }
}
@media (min-width: 1024px) {
  .fi-module-calendar__list__item { width: 16.6667%; }
}
.fi-module-calendar__list__item:before { content: ""; position: absolute; top: 30px; left: -25px; height: 80px; width: 1px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3); transform: rotate(20deg); }
.fi-module-calendar__list__item__type--wrapper { display: flex; align-items: flex-end; text-align: center; min-height: 48px; }
.fi-module-calendar__list__item__type { font-size: 14px; font-weight: bold; display: block; color: rgb(248, 199, 9); margin: 0px auto; }
.fi-module-calendar__list__item__date { font-size: 14px; font-weight: bold; display: block; position: relative; padding-bottom: 15px; margin-bottom: 12px; }
.fi-module-calendar__list__item__date:before { content: ""; position: absolute; bottom: 0px; left: 50%; width: 26px; height: 2px; margin-left: -13px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.fi-module-calendar__list__item__date strong { font-size: 40px; display: block; margin-bottom: 0.1em; font-style: normal; font-weight: 200; }
.fi-module-calendar__list__item__month { margin: 0px 20px; }
.fi-module-calendar__list__item__name { display: block; }
.fi-module-latest-photos { overflow: hidden; }
.fi-module-latest-photos__galleries { margin-left: -1px; margin-right: 30px; position: relative; }
@media (min-width: 768px) {
  .fi-module-latest-photos__galleries { margin-right: 50px; }
}
@media (min-width: 1024px) {
  .fi-module-latest-photos__galleries { margin-right: 100px; }
}
.fi-module-latest-photos__galleries:hover .fi-module-latest-photos__galleries__arrow { background-color: rgba(0, 0, 0, 0.4); }
.fi-module-latest-photos__galleries:hover .fi-module-latest-photos__galleries__arrow svg { transform: translateX(0px); opacity: 1; }
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
.fi-module-latest-photos__galleries__arrow { position: absolute; top: 0px; width: 100px; height: calc(100% - 1px); background: none repeat scroll 0% 0% transparent; z-index: 15; cursor: pointer; transition: background 0.3s ease 0s; display: none; }
@media (min-width: 1024px) {
  .fi-module-latest-photos__galleries__arrow { display: block; }
}
.fi-module-latest-photos__galleries__arrow svg { position: absolute; top: 50%; margin-top: -50px; height: 100px; left: 50%; width: 35px; opacity: 0; margin-left: -15px; transform: translateX(10px); transition: all 0.3s ease 0.1s; background-position: center center; background-size: cover; }
.fi-module-latest-photos__galleries__arrow--left { left: 0px; }
.fi-module-latest-photos__galleries__arrow--left svg { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2229px%22%20height%3D%2281px%22%3E%23%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20style%3D%22%22%20d%3D%22M27 79.0694571 1.5035429 41.084824 27 2 27 2%22%20%2F%3E%3C%2Fsvg%3E"); }
.fi-module-latest-photos__galleries__arrow--right { left: 100%; margin-left: 1px; }
.fi-module-latest-photos__galleries__arrow--right svg { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2229px%22%20height%3D%2281px%22%3E%23%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20style%3D%22%22%20d%3D%22M2 2 27.4964571 41.084824 2 79.0694571%22%20%2F%3E%3C%2Fsvg%3E"); }
.fi-module-latest-photos__galleries__arrow--right svg { transform: translateX(-10px); }
.fi-module-latest-photos__galleries__arrow--disabled { opacity: 0; pointer-events: none; }
.fi-module-latest-photos__gallery { overflow: hidden; margin: 0px -0.5px; }
.fi-module-latest-photos__gallery__item { float: left; width: 25%; overflow: hidden; position: relative; }
@media (min-width: 768px) {
  .fi-module-latest-photos__gallery__item { width: 20%; }
}
.fi-module-latest-photos__gallery__item__image { display: block; position: relative; padding-top: 100%; box-sizing: border-box; transform: translate3d(0px, 0px, 0px); overflow: hidden; }
.fi-module-latest-photos__gallery__item__image:after { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border-left: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); z-index: 2; transform: translate3d(0px, 0px, 0px); }
.fi-module-latest-photos__gallery__item__image img { position: absolute; top: 0px; left: 0px; display: block; font-family: 'object-fit:cover'; width: 100%; height: 100%; transition: transform 0.3s ease 0s; transform: scale(1.01) translate3d(0px, 0px, 0px); }
.fi-module-latest-photos__gallery__item__image:hover img { transform: scale(1.1) translate3d(0px, 0px, 0px); }
.fi-module-latest-photos__gallery__item--big { width: 50%; }
@media (min-width: 768px) {
  .fi-module-latest-photos__gallery__item--big { width: 40%; }
}
.fi-module-latest-photos__gallery__item--right { float: right; }
@media (min-width: 768px) {
  .fi-module-latest-photos__gallery__item--wide { width: 40%; }
}
@media (min-width: 768px) {
  .fi-module-latest-photos__gallery__item--wide .fi-module-latest-photos__gallery__item__image { padding-top: 50%; }
}
@media (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (max-width: 479px) {
}
@media (min-width: 375px) and (max-width: 767px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
.fi-module-latest-videos { overflow: hidden; }
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (max-width: 479px) {
}
@media (min-width: 375px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
.fi-module-portrait { overflow: hidden; }
.fi-module-portrait__visualstory.fi-module-portrait__carousel__item .fi-module-portrait__carousel__item__caption { bottom: 1px; left: 1px; }
.fi-module-portrait__carousel { position: relative; }
.fi-module-portrait__carousel .container-fluid, .fi-module-portrait__carousel .fi-module-portrait__carousel__container { border-top: 0px none ! important; overflow: visible ! important; padding-left: 0px ! important; padding-right: 30px ! important; position: relative; }
@media (min-width: 768px) {
  .fi-module-portrait__carousel .container-fluid, .fi-module-portrait__carousel .fi-module-portrait__carousel__container { padding-right: 50px ! important; }
}
@media (min-width: 1024px) {
  .fi-module-portrait__carousel .container-fluid, .fi-module-portrait__carousel .fi-module-portrait__carousel__container { padding-right: 100px ! important; }
}
@media (min-width: 1440px) {
  .fi-module-portrait__carousel .container-fluid, .fi-module-portrait__carousel .fi-module-portrait__carousel__container { padding-right: 0px ! important; }
}
.fi-module-portrait__carousel--full-screen { margin-left: 0px; }
.fi-module-portrait__carousel:hover .fi-module-portrait__carousel__arrow { background-color: rgba(0, 0, 0, 0.4); }
.fi-module-portrait__carousel:hover .fi-module-portrait__carousel__arrow svg { transform: translateX(0px); opacity: 1; }
.fi-module-portrait__carousel__arrow { position: absolute; top: 0px; width: 100px; height: 100%; background: none repeat scroll 0% 0% transparent; z-index: 15; cursor: pointer; transition: background 0.3s ease 0s; display: none; }
@media (min-width: 1024px) {
  .fi-module-portrait__carousel__arrow { display: block; }
}
.fi-module-portrait__carousel__arrow svg { position: absolute; top: 50%; margin-top: -50px; height: 100px; left: 50%; width: 35px; opacity: 0; margin-left: -15px; transform: translateX(10px); transition: all 0.3s ease 0.1s; background-position: center center; background-size: cover; }
.fi-module-portrait__carousel__arrow--left { left: 0px; }
.fi-module-portrait__carousel__arrow--left svg { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2229px%22%20height%3D%2281px%22%3E%23%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20style%3D%22%22%20d%3D%22M27 79.0694571 1.5035429 41.084824 27 2 27 2%22%20%2F%3E%3C%2Fsvg%3E"); }
.fi-module-portrait__carousel__arrow--right { right: 0px; }
.fi-module-portrait__carousel__arrow--right svg { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2229px%22%20height%3D%2281px%22%3E%23%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20style%3D%22%22%20d%3D%22M2 2 27.4964571 41.084824 2 79.0694571%22%20%2F%3E%3C%2Fsvg%3E"); transform: translateX(-10px); }
.fi-module-portrait__carousel__arrow--disabled { opacity: 0; pointer-events: none; }
.fi-module-portrait__carousel__wrapper { display: flex; flex-wrap: nowrap; width: 100%; }
.fi-module-portrait__carousel__item { float: left; flex-shrink: 0; width: 50%; position: relative; overflow: hidden; }
@media (min-width: 768px) {
  .fi-module-portrait__carousel__item { width: 33%; }
}
@media (min-width: 1024px) {
  .fi-module-portrait__carousel__item { width: 25%; }
}
@media (min-width: 768px) {
}
.fi-module-portrait__carousel__item .fi-icon-video-play { pointer-events: none; border-radius: 50%; width: 80px; height: 80px; background-color: rgba(255, 255, 255, 0.5); position: absolute; top: 50%; right: auto; bottom: auto; left: 50%; transform: translate(-50%, -25%); margin-top: -45px; cursor: pointer; }
.fi-module-portrait__carousel__item .fi-icon-video-play:before { content: ""; background-size: cover; width: 30px; height: 36px; position: absolute; top: 40%; right: auto; bottom: auto; left: 55%; transform: translate(-50%, -25%); background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22812px%22%20height%3D%221024px%22%3E%23%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22rgba(0,0,0,0)%22%20stroke-width%3D%220%22%20style%3D%22%22%20d%3D%22M0 0l812.455 510.827L0 1021.907V0z%22%20%2F%3E%3C%2Fsvg%3E"); }
.fi-module-portrait__carousel__item .fi-icon-visual-story { width: 80px; height: 80px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: url("rocket.png"); background-size: cover; background-color: rgba(0, 0, 0, 0.2); border-radius: 50%; z-index: 1; margin-top: -30px; }
@media not all, not all {
  .fi-module-portrait__carousel__item .fi-icon-visual-story { left: 50%; }
}
@media (min-width: 768px) {
}
.fi-module-portrait__carousel__item__image { display: block; padding-top: 180%; position: relative; overflow: hidden; }
.fi-module-portrait__carousel__item__image img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; font-family: 'object-fit:cover'; transition: transform 0.3s ease 0s; transform: scale(1.01) translate3d(0px, 0px, 0px); }
.fi-module-portrait__carousel__item__image:before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2); z-index: 2; }
@media (min-width: 1024px) {
  .fi-module-portrait__carousel__item__image:before { opacity: 0; transition: opacity 0.4s ease 0s; }
}
.fi-module-portrait__carousel__item__image:after { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border-left: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); z-index: 2; transform: translate3d(0px, 0px, 0px); }
@media (min-width: 1024px) {
  .fi-module-portrait__carousel__item:hover .fi-module-portrait__carousel__item__caption { padding: 25px 25px 50px; }
}
.fi-module-portrait__carousel__item:hover img { transform: scale(1.1) translate3d(0px, 0px, 0px); }
@media (min-width: 1024px) {
  .fi-module-portrait__carousel__item:hover .fi-module-portrait__carousel__item__image:before { opacity: 1; }
  .fi-module-portrait__carousel__item:hover .fi-module-portrait__carousel__item__caption { transform: translate3d(0px, 0px, 0px); opacity: 1; }
}
.fi-module-portrait__carousel__item__caption { position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: 3; padding: 10px 10px 40px; font-size: 11px; line-height: 1.2; color: rgb(255, 255, 255); background-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 100%); background-repeat: repeat-x; }
@media (min-width: 480px) {
  .fi-module-portrait__carousel__item__caption { font-size: 13px; padding: 15px 15px 40px; }
}
@media (min-width: 768px) {
  .fi-module-portrait__carousel__item__caption { line-height: 1.25; padding: 15px 15px 40px; font-size: 14px; }
}
@media (min-width: 1024px) {
  .fi-module-portrait__carousel__item__caption { padding: 25px; font-size: 16px; transform: translate3d(0px, 100%, 0px); opacity: 0; transition: all 0.3s ease 0.05s; }
}
.fi-module-portrait__carousel__item__caption strong { display: block; font-size: 11px; font-weight: bold; text-transform: uppercase; margin-bottom: 0.2em; }
@media (min-width: 768px) {
  .fi-module-portrait__carousel__item__caption strong { font-size: 14px; }
}
@media (min-width: 1024px) {
  .fi-module-portrait__carousel__item__caption strong { font-size: 16px; }
}
@media (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 374px) {
}
@media (max-width: 479px) {
}
@media (min-width: 375px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
.fi-module-ranking .section__title { width: 100%; line-height: 0.9; }
.fi-module-ranking .section__title img { float: left; margin-right: 10px; height: 46px; display: inline-block; }
@media (min-width: 768px) {
  .fi-module-ranking .section__title img { height: 56px; margin-right: 12px; }
}
@media (min-width: 1024px) {
  .fi-module-ranking .section__title img { height: 64px; margin-right: 15px; }
}
.fi-module-ranking .container-fluid { border-top: 0px none ! important; overflow: visible; }
@media (min-width: 768px) {
  .fi-module-ranking__select { padding-top: 18px; }
}
@media (min-width: 1024px) {
  .fi-module-ranking__select { padding-top: 28px; }
}
.fi-module-ranking__content { background-size: cover; background-repeat: no-repeat; background-position: center center; color: rgb(255, 255, 255); position: relative; overflow: hidden; display: none; height: auto; }
.fi-module-ranking__content--active { display: block; }
.fi-module-ranking__content .row { margin-bottom: 0px; }
.fi-module-ranking__content .container-fluid { position: relative; z-index: 2; }
@media (min-width: 768px) {
  .fi-module-ranking__content.ranking-promo { height: 490px; }
}
.fi-module-ranking__content:before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4); z-index: 1; }
@media (min-width: 768px) {
  .fi-module-ranking__content:before { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3); }
}
.fi-module-ranking__content__bg { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; display: flex; flex-flow: column wrap; align-items: flex-start; }
.fi-module-ranking__content__bg picture, .fi-module-ranking__content__bg img { display: block; width: 100%; height: 100%; font-family: 'object-fit:cover;object-position:center 30%'; }
.fi-module-ranking__content__data { background-color: rgba(0, 0, 0, 0.5); }
.fi-module-ranking__content__data:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
@media (max-width: 767px) {
  .fi-module-ranking__content__data { margin-top: 20px; }
}
.fi-module-ranking__footer { text-align: left; padding: 20px 0px; }
.fi-module-ranking__footer .fi-call__more { margin-left: 15px; }
.fi-module-ranking__footer .fi-o-media-object__more__label { color: rgb(255, 255, 255); }
.fi-module-ranking__main { font-size: 22px; line-height: 1.2; padding-bottom: 10px; }
@media (min-width: 768px) {
  .fi-module-ranking__main { font-size: 26px; }
}
@media (min-width: 1024px) {
  .fi-module-ranking__main { font-size: 28px; }
}
@media (min-width: 1200px) {
  .fi-module-ranking__main { display: flex; flex-direction: column; justify-content: center; height: 280px; }
}
@media (min-width: 1200px) {
  .fi-module-ranking__main__wrap { padding-left: 240px; position: relative; }
}
.fi-module-ranking__main strong { font-size: 60px; font-weight: normal; display: block; line-height: 1; margin-bottom: 5px; }
@media (min-width: 768px) {
  .fi-module-ranking__main strong { font-size: 100px; }
}
@media (min-width: 1024px) {
  .fi-module-ranking__main strong { font-size: 100px; }
}
@media (min-width: 1200px) {
  .fi-module-ranking__main strong { position: absolute; top: -10px; left: 0px; width: 215px; text-align: right; }
}
.fi-module-ranking__main .btn { margin-top: 20px; }
.fi-module-ranking__ranking { border-top: 1px solid rgba(255, 255, 255, 0.2); margin-top: 20px; font-size: 18px; line-height: 1.2; }
@media (min-width: 768px) {
  .fi-module-ranking__ranking { font-size: 19px; margin-top: 0px; margin-left: 0px; margin-right: 0px; }
}
.fi-module-ranking__ranking__item { border-bottom: 1px solid rgba(255, 255, 255, 0.2); height: 58px; display: flex; align-items: center; padding-left: 5px; padding-right: 5px; }
@media (min-width: 768px) {
  .fi-module-ranking__ranking__item { height: 68px; padding: 0px; }
}
.fi-module-ranking__ranking__item__number { width: 44px; flex-shrink: 0; font-size: 0.8em; text-align: center; font-weight: 300; }
@media (min-width: 768px) {
  .fi-module-ranking__ranking__item__number { width: 48px; }
}
.fi-module-ranking__ranking__item__flag { width: 36px; height: 24px; margin-right: 10px; flex-shrink: 0; }
@media (min-width: 768px) {
  .fi-module-ranking__ranking__item__flag { margin-right: 14px; }
}
@media (min-width: 1024px) {
  .fi-module-ranking__ranking__item__flag { width: 47px; height: 31px; margin-right: 14px; }
}
.fi-module-ranking__ranking__item__arrow { width: 22px; height: 22px; flex-shrink: 0; margin-left: 5px; }
@media (min-width: 1024px) {
  .fi-module-ranking__ranking__item__arrow { width: 29px; height: 29px; }
}
.fi-module-ranking__ranking__item__name { width: 100%; }
.fi-module-ranking__ranking__item__points { width: 80px; font-size: 13px; white-space: nowrap; flex-shrink: 0; margin-left: 6px; font-weight: 300; }
@media (min-width: 768px) {
  .fi-module-ranking__ranking__item__points { width: 85px; }
}
@media (min-width: 1024px) {
  .fi-module-ranking__ranking__item__points { font-size: 15px; width: 100px; }
}
.fi-module-ranking__ranking__item__points strong { font-size: 20px; font-weight: normal; }
@media (min-width: 1024px) {
  .fi-module-ranking__ranking__item__points strong { font-size: 22px; }
}
.fi-select__ranking { background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.15); }
.fi-select__ranking.fi-select-wrapper .fi-select__caret { position: absolute; top: 50%; transform: translateY(-50%); right: 10px; }
.fi-select__ranking.fi-select-wrapper .fi-select { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }
.fi-select__ranking.fi-select-wrapper .icon-triangle { width: 11px; height: 10px; transform: rotate(-45deg); fill: rgb(0, 0, 0); }
.fi-select__ranking.fi-select-wrapper .btn-select { width: 100%; padding: 7px 5px; text-align: left; position: relative; color: rgb(0, 0, 0); }
.fi-select__ranking.fi-select-wrapper .btn-select .fi-selected-item { color: rgb(0, 0, 0); }
.fi-select__ranking.fi-select-wrapper .dropdown-menu { width: 100%; border: 1px solid rgb(229, 229, 229); border-radius: 0px; background-color: rgb(255, 255, 255); }
.fi-select__ranking.fi-select-wrapper .dropdown-menu > li > a { padding-top: 7px; padding-bottom: 7px; color: rgb(102, 102, 102); }
.fi-select__ranking.fi-select-wrapper .dropdown-menu > li > a:hover { background-color: rgb(245, 245, 245); }
@media (max-width: 767px) {
  .fi-select__ranking { margin-bottom: 10px; }
}
.fi-module-focus { position: relative; margin-bottom: 40px; }
@media (min-width: 768px) and (max-width: 1023px) {
  .fi-module-focus { margin-bottom: 50px; }
}
@media (min-width: 1024px) {
  .fi-module-focus { margin-bottom: 80px; }
}
.fi-module-focus .container-fluid { border-top: 0px none ! important; }
.fi-module-focus__obj { position: relative; padding-top: 230px; }
@media (min-width: 768px) {
  .fi-module-focus__obj { padding-top: 140px; }
}
.fi-module-focus__bg { position: absolute; top: 0px; left: 0px; width: 100%; height: 75%; }
@media (min-width: 768px) {
  .fi-module-focus__bg { height: 100%; }
}
.fi-module-focus__bg img { width: 100%; height: 100%; font-family: 'object-fit:cover;object-position:30% center'; }
@media (min-width: 768px) {
  .fi-module-focus__bg img {  }
}
.fi-module-focus__content { background: none repeat scroll 0% 0% rgb(255, 255, 255); position: relative; padding: 25px 20px; color: rgb(0, 0, 0); }
@media (min-width: 768px) {
  .fi-module-focus__content { padding: 35px 30px; width: 50%; max-width: 450px; }
}
@media (min-width: 1200px) {
  .fi-module-focus__content { padding: 40px 50px; }
}
.fi-module-focus__header { position: relative; padding-left: 85px; min-height: 85px; display: flex; flex-direction: column; justify-content: center; padding-bottom: 6px; margin-bottom: 15px; }
.fi-module-focus__header__image { position: absolute; top: 0px; left: 0px; width: 80px; }
.fi-module-focus__header__title { font-size: 30px; text-transform: uppercase; font-weight: bold; line-height: 1.2; margin: 0px; }
@media (min-width: 768px) {
  .fi-module-focus__header__title { font-size: 36px; }
}
.fi-module-focus__header__subtitle { font-size: 18px; line-height: 1.2; margin: 0.2em 0px 0px; color: rgb(119, 119, 119); }
.fi-module-focus__text { font-size: 24px; line-height: 1.15; margin-bottom: 30px; }
@media (min-width: 768px) {
  .fi-module-focus__text { font-size: 28px; }
}
@media (min-width: 1024px) {
  .fi-module-focus__text { font-size: 30px; }
}
.fi-module-focus__text .fi-o-media-object__more { margin-top: 15px; font-size: 14px; }
.fi-module-focus__ranking__sponsor { border-top: 1px solid rgb(226, 226, 226); border-bottom: 1px solid rgb(226, 226, 226); font-size: 14px; font-weight: bold; text-transform: uppercase; padding: 8px 0px; position: relative; overflow: hidden; margin-bottom: 18px; }
@media (min-width: 768px) {
  .fi-module-focus__ranking__sponsor { font-size: 16px; padding: 7px 0px; }
}
.fi-module-focus__ranking__sponsor svg { position: absolute; top: 50%; right: 0px; width: 60px; height: 20px; margin-top: -10px; fill: rgb(112, 112, 112); }
.fi-module-focus__ranking__items { overflow: hidden; position: relative; }
.fi-module-focus__ranking__items:before { content: ""; position: absolute; top: 0px; bottom: 0px; left: 50%; width: 0px; border-left: 1px dashed rgb(199, 198, 199); }
.fi-module-focus__ranking__item { float: right; width: 43%; font: 12px/1.2 'Open Sans'; color: rgb(118, 118, 118); text-transform: uppercase; }
@media (min-width: 768px) {
  .fi-module-focus__ranking__item { width: 40%; }
}
.fi-module-focus__ranking__item:first-child { float: left; }
@media (min-width: 768px) {
  .fi-module-focus__ranking__item { font-size: 13px; }
}
.fi-module-focus__ranking__item strong { display: inline-block; font: 50px/1 'Open Sans'; color: rgb(0, 0, 0); margin-top: 5px; position: relative; padding-right: 40px; }
@media (min-width: 768px) {
  .fi-module-focus__ranking__item strong { font-size: 60px; }
}
.fi-module-focus__ranking__item__icon { width: 26px; height: 26px; position: absolute; top: 50%; right: 0px; margin-top: -10px; fill: rgb(162, 165, 153); margin-right: 10px; }
.fi-module-focus__ranking__item__icon--up { fill: rgb(88, 238, 3); }
.fi-module-player { position: relative; }
.fi-module-player .container-fluid { border-top: 0px none ! important; }
.fi-module-player .row { margin-bottom: 0px; }
.fi-module-player .section__header .section__title { height: 360px; margin-top: 0px; margin-bottom: 0px; color: rgb(255, 255, 255); border-color: rgba(255, 255, 255, 0.4); padding-top: 30px; }
@media (min-width: 768px) {
  .fi-module-player .section__header .section__title { height: 250px; padding-top: 45px; }
}
@media (min-width: 1024px) {
  .fi-module-player .section__header .section__title { height: 300px; padding-top: 60px; }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.fi-module-player__bg { position: absolute; top: 0px; left: 0px; height: 800px; width: 100%; }
@media (min-width: 768px) {
  .fi-module-player__bg { height: 550px; }
}
@media (min-width: 1024px) {
  .fi-module-player__bg { height: 700px; }
}
@media (min-width: 1200px) {
  .fi-module-player__bg { height: 800px; }
}
.fi-module-player__bg img { width: 100%; height: 100%; font-family: 'object-fit:cover;object-position:45% top'; }
.fi-module-player .container-fluid { position: relative; z-index: 1; }
.fi-module-player__content { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 25px 20px; margin-bottom: 10px; }
@media (min-width: 768px) {
  .fi-module-player__content { padding: 35px 30px; }
}
@media (min-width: 1200px) {
  .fi-module-player__content { padding: 40px 50px; margin-bottom: 0px; }
}
.fi-module-player__content__caption { font: 16px/1.2 'Open Sans'; text-transform: uppercase; color: rgb(37, 126, 197); margin-bottom: 0.6em; }
.fi-module-player__content__title { font: 34px/1.1 'Open Sans'; margin-bottom: 0.3em; }
@media (min-width: 768px) {
  .fi-module-player__content__title { font-size: 42px; }
}
@media (min-width: 768px) {
}
.fi-module-player__content__text { color: rgb(118, 118, 118); }
.fi-module-player__content__text p { margin-bottom: 1em; }
.fi-module-player__content__long { display: none; }
@media (min-width: 1024px) {
  .fi-module-player__content__long { display: block; }
}
@media (min-width: 1024px) {
  .fi-module-player__content__short { display: none; }
}
@media (min-width: 768px) {
}
.fi-module-player__image { margin-bottom: 30px; }
@media (min-width: 768px) {
  .fi-module-player__image { margin-top: 300px; margin-left: -10px; margin-bottom: 40px; }
}
@media (min-width: 1024px) {
  .fi-module-player__image { margin-top: 400px; }
}
@media (min-width: 1200px) {
  .fi-module-player__image { margin-top: 500px; }
}
.fi-module-player__image img { width: 100%; display: block; }
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
.fi-module-player__sub-image { display: none; }
@media (min-width: 1024px) {
  .fi-module-player__sub-image { display: block; }
}
.fi-module-player__sub-image img { width: 100%; padding: 0px 50px; }
.fi-module-player__quote { position: relative; padding: 10px 20px 0px 50px; font-style: italic; font-size: 20px; line-height: 1.4; }
@media (min-width: 768px) {
  .fi-module-player__quote { padding: 40px 30px 0px 85px; font-size: 24px; }
}
@media (min-width: 1024px) {
  .fi-module-player__quote { padding: 65px 0px 0px 55px; max-width: 550px; }
}
.fi-module-player__quote svg { position: absolute; top: 0px; left: 5px; width: 34px; height: 20px; fill: rgb(37, 127, 197); }
@media (min-width: 768px) {
  .fi-module-player__quote svg { left: 30px; width: 44px; height: 30px; }
}
@media (min-width: 1024px) {
  .fi-module-player__quote svg { top: 25px; left: 5px; }
}
@media (min-width: 320px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
.fi-promo--section { min-height: 100px; }
.fi-promo--section .fi-promo__wrap { display: flex; }
.fi-promo--section .container-fluid { border: 0px none ! important; padding: 0px ! important; }
.fi-promo--section .fi-promo__image { text-align: center; }
.fi-promo--section .fi-promo__image img { width: 100%; max-height: none; }
.fi-promo--section .fi-promo__text { padding: 20px; text-align: center; }
.fi-promo--section .fi-promo__text h3 { font-style: normal; font-weight: 700; }
.fi-promo--section .fi-promo__text h1 { text-transform: uppercase; font-size: 38px; line-height: 1.1; margin-bottom: 5px; }
.fi-promo--section .fi-promo__text .btn { margin-top: 40px; }
@media (max-width: 479px) {
  .fi-promo--section .fi-promo__wrap { flex-direction: column; }
  .fi-promo--section .fi-promo__text h1 { font-size: 28px; }
  .fi-promo--section .fi-promo__text .btn { margin-top: 20px; }
}
@media (max-width: 1023px) {
  .fi-promo--section .fi-promo__wrap { flex-direction: column; }
  .fi-promo--section .fi-promo__image img { width: 100%; max-height: none; }
  .fi-promo--section .fi-promo__text h1 { font-size: 28px; }
}
@media (min-width: 1024px) {
  .fi-promo--section .fi-promo__image { display: block; }
  .fi-promo--section .fi-promo__wrap { flex-direction: row; }
  .fi-promo--section .fi-promo__wrap .fi-promo__text .fi-promo__title { font-size: 34px; }
  .fi-promo--section .fi-promo__wrap .fi-promo__text .fi-promo__summary { font-size: 14px; }
}
@media (min-width: 1024px) {
  .fi-promo--section .fi-promo__wrap { align-items: stretch; }
  .fi-promo--section .fi-promo__wrap .fi-promo__text { margin-top: 0px; width: 45%; text-align: left; }
  .fi-promo--section .fi-promo__image { width: 55%; }
}
.fi-promo--section.fi-promo--light { background-color: rgb(50, 98, 149); }
.fi-promo--section.fi-promo--light .fi-promo__text h1, .fi-promo--section.fi-promo--light .fi-promo__text h3, .fi-promo--section.fi-promo--light .fi-promo__text h5 { color: rgb(255, 255, 255); }
.fi-promo--section.fi-promo--light .fi-promo__text p { color: rgb(255, 255, 255); }
@media (min-width: 320px) and (max-width: 374px) {
}
@media (min-width: 320px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 479px) {
}
@media (min-width: 320px) and (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
@media (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
.comp-list .comp-item, .featured-tournaments .comp-item { position: relative; width: 100%; margin: 5px 0px; background-color: rgb(235, 235, 235); float: left; }
.comp-list .comp-item .link-wrap, .featured-tournaments .comp-item .link-wrap { display: block; height: 120px; text-decoration: none; color: rgb(71, 71, 71); padding: 10px; }
.comp-list .comp-item .comp-logo, .featured-tournaments .comp-item .comp-logo { float: left; width: 100px; height: 100px; text-align: center; vertical-align: middle; }
.comp-list .comp-item .comp-logo img, .featured-tournaments .comp-item .comp-logo img { height: 100px; width: auto; }
.comp-list .comp-item .comp-name-info, .featured-tournaments .comp-item .comp-name-info { margin-left: 70px; }
.comp-list .comp-item .comp-name-info .comp-name, .featured-tournaments .comp-item .comp-name-info .comp-name { margin-top: 10px; line-height: 20px; font-size: 16px; font-weight: 700; }
.comp-list .comp-item .ch-ext, .featured-tournaments .comp-item .ch-ext { height: auto; position: absolute; right: 0px; bottom: 0px; padding-right: 5px; }
@media (max-width: 1023px) {
}
.comp-list .comp-item .ch-ext .qlink-link-single.upcoming-link span, .comp-list .comp-item .ch-ext .qlink-link-single.relive-link span, .featured-tournaments .comp-item .ch-ext .qlink-link-single.upcoming-link span, .featured-tournaments .comp-item .ch-ext .qlink-link-single.relive-link span { position: relative; padding-right: 26px; text-transform: uppercase; font-weight: bold; color: rgb(153, 153, 153); line-height: 30px; font-size: 13px; }
@media (max-width: 1023px) {
  .comp-list .comp-item .ch-ext, .featured-tournaments .comp-item .ch-ext { right: -20px; bottom: -15px; padding-right: 0px; }
}
.comp-list .comp-item .ch-ext { display: none; }
.comp-list .comp-item .comp-name-info { padding-left: 50px; }
@media (min-width: 768px) and (max-width: 1023px) {
  .comp-list .comp-item .comp-name-info { padding-left: 20px; }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .comp-list .comp-item .comp-name-info .comp-name { font-size: 10px; line-height: 13px; }
}
.comp-item-detailed { padding-top: 30px; }
.comp-item-detailed .comp-item-status { background: none repeat scroll 0% 0% rgb(245, 245, 245); position: absolute; top: 0px; z-index: 1; left: 0px; padding-right: 2px; font-size: 12px; font-weight: 600; text-transform: uppercase; line-height: 24px; color: rgb(255, 255, 255); }
.comp-item-detailed .comp-item-status:before { border-color: rgb(245, 245, 245) rgba(245, 245, 245, 0); border-style: solid; border-width: 24px 11px 0px 0px; position: absolute; right: -11px; top: 0px; width: 0px; content: ""; }
.comp-item-detailed .comp-item-status span { display: block; background-color: rgb(71, 71, 71); padding: 0px 5px 0px 7px; }
.comp-item-detailed .comp-item-status span:before { border-color: rgb(71, 71, 71) rgba(71, 71, 71, 0); border-style: solid; border-width: 24px 11px 0px 0px; position: absolute; top: 0px; width: 0px; content: ""; right: -9px; }
.comp-item-detailed .comp-item-date { background: none repeat scroll 0% 0% rgb(71, 71, 71); width: 100%; height: 24px; text-align: right; padding-right: 10px; position: absolute; top: 0px; left: 0px; right: 0px; font-size: 12px; font-weight: 600; text-transform: uppercase; line-height: 24px; color: rgb(255, 255, 255); }
.comp-item-detailed .qlink-wrap { position: absolute; margin: 0px; bottom: 0px; right: 0px; height: auto; width: 100%; }
.comp-item-detailed .qlink-wrap .qlink-list { background-color: rgb(255, 255, 255); position: relative; font-size: 12px; line-height: 28px; float: right; height: auto; }
.comp-item-detailed .qlink-wrap .qlink-list .qlink-link { display: inline-block; padding-left: 10px; padding-right: 10px; position: relative; }
.comp-item-detailed .qlink-wrap .qlink-list:before { border-color: white rgba(255, 255, 255, 0); border-style: solid; border-width: 0px 0px 28px 11px; position: absolute; left: -11px; top: 0px; width: 0px; content: ""; }
.fi-footer-link__social .fi-social-channels__title { text-align: center; margin-bottom: 20px; }
.fi-footer-link { display: flex; flex-flow: row wrap; }
.fi-footer-link > * { flex: 1 1 100%; }
.fi-footer-link .fi-social-channels--svg { justify-content: center; margin-bottom: 50px; }
.fi-footer-link .fi-social-channels--svg li { width: 36px; height: 36px; }
.fi-footer-link .fi-social-channels--svg li a { color: rgb(255, 255, 255); fill: rgb(255, 255, 255); background-color: rgb(50, 98, 149); border: 1px solid rgb(50, 98, 149); transition-duration: 0.2s; transition-timing-function: ease-out; backface-visibility: hidden; width: 36px; height: 36px; }
.fi-footer-link .fi-social-channels--svg li a:hover, .fi-footer-link .fi-social-channels--svg li a:focus { color: rgb(50, 98, 149); fill: rgb(50, 98, 149); background-color: rgb(255, 255, 255); }
.fi-footer-link .fi-footer-link__mens, .fi-footer-link .fi-footer-link__womens { color: rgb(102, 102, 102); font-size: 14px; flex: 1 1 100%; text-align: left; margin-bottom: 30px; }
.fi-footer-link .fi-footer-link__mens .nav-links > li > a, .fi-footer-link .fi-footer-link__womens .nav-links > li > a { display: inline-block; font-size: 12px; padding: 8px 5px; color: rgb(119, 119, 119); transition-property: color; transition-duration: 0.2s; transition-timing-function: ease-out; backface-visibility: hidden; }
.fi-footer-link .fi-footer-link__mens .nav-links > li > a:hover, .fi-footer-link .fi-footer-link__mens .nav-links > li > a:focus, .fi-footer-link .fi-footer-link__mens .nav-links > li > a.active, .fi-footer-link .fi-footer-link__womens .nav-links > li > a:hover, .fi-footer-link .fi-footer-link__womens .nav-links > li > a:focus, .fi-footer-link .fi-footer-link__womens .nav-links > li > a.active { color: rgba(119, 119, 119, 0.5); text-decoration: none; }
.fi-footer-link .fi-footer-link__mens .fi-heading, .fi-footer-link .fi-footer-link__womens .fi-heading { text-transform: uppercase; font-size: 13px; padding-bottom: 15px; font-style: normal; font-weight: 700; margin-bottom: 0px; color: rgb(119, 119, 119); letter-spacing: 3px; text-align: left; }
@media (min-width: 1024px) {
  .fi-footer-link .fi-footer-link__mens .fi-heading, .fi-footer-link .fi-footer-link__womens .fi-heading { font-size: 14px; }
}
.fi-footer-link .fi-footer-link__mens .nav-links li { width: 50%; float: left; }
.fi-footer-link .fi-search { max-width: 400px; margin: 0px auto; padding: 0px; }
.fi-footer-link .fi-search input { font-size: 16px; }
.fi-footer-link .fi-search input::-moz-placeholder { color: rgb(50, 98, 149); opacity: 1; }
.fi-footer-link .fi-search .fi-search__text { width: 100%; }
.fi-footer-link .fi-search .fi-search__submit-wrap { top: 10px; }
@media (min-width: 768px) {
  .fi-footer-link { max-width: 1024px; margin: 0px auto; }
  .fi-footer-link .fi-heading { padding-left: 15px; }
  .fi-footer-link [class*="fi-footer-link__"] .nav-links > li > a { padding-left: 15px; padding-top: 0px; }
  .fi-footer-link .fi-footer-link__mens { flex: 1 1 66%; }
  .fi-footer-link .fi-footer-link__womens { flex: 1 1 33%; }
}
@media (min-width: 1024px) {
  .fi-footer-link .fi-search .fi-search__text { font-size: 16px; padding: 8px 0px; }
  .fi-footer-link .fi-footer-link__mens { flex: 1 1 60%; }
  .fi-footer-link .fi-footer-link__mens .nav-links li { width: 50%; float: left; }
  .fi-footer-link .fi-footer-link__womens { flex: 1 1 40%; }
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular-complete.woff2") format("woff2"), url("OpenSans-Regular-complete_001.woff") format("woff");
}
.fi-sponsor-list { list-style: none outside none; margin: 0px; padding: 0px; text-align: center; }
.fi-sponsor-list__title { text-align: center; margin-bottom: 20px; }
.fi-sponsor { margin: 0px auto 10px; }
@media (min-width: 1024px) {
  .fi-sponsor { margin: 10px 0px; display: inline-block; }
}
[class*="fi-sponsor__image"] { display: block; background-position: 0px 0px; }
.fi-sponsor-list--fifa-partners, .fi-sponsor-list--presenting-partner { margin-bottom: 40px; }
.fi-sponsor-list--fifa-partners .fi-sponsor, .fi-sponsor-list--fifa-partners [class*="fi-sponsor__image"], .fi-sponsor-list--presenting-partner .fi-sponsor, .fi-sponsor-list--presenting-partner [class*="fi-sponsor__image"] { width: 160px; height: 32px; margin-left: auto; margin-right: auto; }
@media (min-width: 1024px) {
}
.fi-sponsor-list--national-supporters, .fi-sponsor-list--regional-supporters, .fi-sponsor-list--competition-sponsors, .fi-sponsor-list--fifa-national-supporters { margin-bottom: 40px; }
.fi-sponsor-list--national-supporters .fi-sponsor, .fi-sponsor-list--national-supporters [class*="fi-sponsor__image"], .fi-sponsor-list--regional-supporters .fi-sponsor, .fi-sponsor-list--regional-supporters [class*="fi-sponsor__image"], .fi-sponsor-list--competition-sponsors .fi-sponsor, .fi-sponsor-list--competition-sponsors [class*="fi-sponsor__image"], .fi-sponsor-list--fifa-national-supporters .fi-sponsor, .fi-sponsor-list--fifa-national-supporters [class*="fi-sponsor__image"] { width: 112px; height: 22px; margin-left: auto; margin-right: auto; }
@media (min-width: 1024px) {
}
@media (max-width: 1023px) {
  .fi-sponsor-list--national-supporters .fi-sponsor-list, .fi-sponsor-list--fifa-regional-supporters .fi-sponsor-list { display: flex; flex-direction: column; justify-content: center; }
  .fi-sponsor-list--national-supporters .fi-sponsor-list .fi-sponsor.fi-sponsor__livingfootball, .fi-sponsor-list--fifa-regional-supporters .fi-sponsor-list .fi-sponsor.fi-sponsor__livingfootball { order: 99; }
  .fi-sponsor-list--national-supporters .fi-sponsor-list .fi-sponsor.fi-sponsor__fifa, .fi-sponsor-list--fifa-regional-supporters .fi-sponsor-list .fi-sponsor.fi-sponsor__fifa { order: 100; }
}
.fi-sponsor-list--fifa-partners .fi-sponsor, .fi-sponsor-list--national-supporters .fi-sponsor { height: 64px; }
.fi-sponsor-list--fifa-partners .fi-sponsor span[class*="fi-sponsor__image"], .fi-sponsor-list--national-supporters .fi-sponsor span[class*="fi-sponsor__image"] { height: 64px; }
@media (min-width: 1024px) {
  .fi-sponsor-list--fifa-partners .fi-sponsor, .fi-sponsor-list--national-supporters .fi-sponsor { margin: 10px 5px; }
}
.fi-sponsor-list--national-supporters .fi-sponsor-list__title { display: none; visibility: hidden; }
