@supports (-webkit-appearance:none) {
	html > body > div:nth-of-type(4) > div:nth-of-type(2) > ul:nth-of-type(1) > li:nth-of-type(13) {
		max-height: 0px !important;  /* 0px */
	}
	html > body > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
		padding-top: 0.07% !important;  /* 1px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(2) > ul:nth-of-type(1) > li:nth-of-type(14) {
		margin-top: 10.0% !important;  /* 18px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1) {
		padding-left: 7.06% !important;  /* 12px */
	}
	html > body > div:nth-of-type(2) > ul:nth-of-type(1) > li:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(6) > div:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(2) {
		margin-left: -0.49% !important;  /* -7px */
	}
	html > body > div:nth-of-type(4) > div:nth-of-type(1) > div:nth-of-type(1) > form:nth-of-type(1) > input:nth-of-type(1) {
		width: 77.06% !important;  /* 131px */
	}
}

