

body {
margin : 0;
padding : 0;
font-family: lucida, "trebuchet MS", verdana, sans-serif;
font-size: 95%;
background : #fffcf0;
line-height : 1.7em;
color : #333;
}

#container {
	
	width: 90%;  /* this will create a container 80% of the browser width */
	background: #fffcf0;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	
}

li {
	font-size: 95%;
	
}
			/*TOP BANNER*/
#header {
height : 150px;
margin-top : 0;
padding : 0;
background : #000033;
color : #fff;
text-indent : -9999px;
}
			/*TOP NAVIGATION*/
#topnav ul {
padding : 0;
margin : 0 0 5px 0;
list-style-type : none;
font:75%;
text-align : center;
text-transform: uppercase;
}

#topnav li {
display : inline;
}
#topnav li a, #topnav a:visited {
text-decoration : none;

padding : 0.6em 1.3em;
border-right : 1px solid #fff;
}
#topnav a:link.active, #topnav a:visited.active, #topnav a:hover {
text-decoration : none;

}

			/*3 COLUMNS*/
#gutter {
float : left;
width : 3%;
height : 1px;
}
#col1 {
float : left;
width : 180px;
margin-bottom : 1em;
padding-right : 1%;
}
#col2 {
float : left;
width : 60%;
margin-left : 2%;
margin-bottom : 1em;
margin-top: 2em;
background : #fff;
border-left : 1px dashed #3a6499;
border-top: 1px dashed #316499;
border-right : 1px dashed #3a6499;
border-bottom : 1px dashed #3a6499;
padding-right : 3%;
padding-left : 3%;
}
#col3 {
float : left;
width : 10%;
margin-left : 3%;
margin-bottom : 1em;
}


			/*RIGHT NAVIGATION*/
#navcontainer ul {
margin : 0;
padding : 0;
list-style-type : none;
background : #fffff0;
color : #666;
}
#navcontainer ul li a {
padding : 20px;
color : #885835;
background : transparent url(img/list-off-orange.gif) no-repeat left center;
text-align : left;
font : 12px "Lucida Grande", "Lucida Sans Unicode", lucida, sans-serif;
text-decoration : none;
}
#navcontainer ul li a:hover {
color : #f17327;
background : transparent url(img/list-on-orange.gif) no-repeat left center;
}
#navcontainer ul li a#current {
background : transparent url(img/list-active.gif) no-repeat left center;
color : #000;
}
			/*FOOTER*/
#footer {
clear : both;
height : 80px;
background : #3a6499;
border-top : 5px solid #bbdde9;
border-bottom : 5px solid #bbdde9;
font-size: 75%;
color : #fff;
padding : 0.2em 0 0 0.5em;
text-align : center;
margin-bottom: 0px;

}
#footer a {
color : #ffffcc;
background : inherit;
}
#footer a:hover {
color : #d5c199;
background : inherit;
}
#footer ul {
list-style-type:none;
padding : 0.5em 0;
margin : 0 0 5px 0;
	
}


			/*TYPOGRAPHY*/
h1 {
margin : 0;
padding-top : 75px;
text-align : center;
font-size : 2em;
color : #fff;
background : inherit;
}
h2 {
margin-top : 0;
padding-top : 0.5em;
padding-bottom : 0.5em;
text-transform : uppercase;
letter-spacing : 2px;
font-size : 1.5em;
color : #3a6499;
background : inherit;
}
h3 {
margin-top : 0;
font-size : 1.25em;
color : #5d2546;
background : inherit;
}

h3.alert {
color: #F00;

}

h4 {
margin-top : 0;
font-size : 1em;
color : #3a6499;
font-style: italic;
background : inherit;
}
blockquote {
font-style : italic;
font-weight: bold;
color : #5d2546;
padding-left: 10px;
border-left: 1px dashed;
}
			/*LINKS*/
a {
text-decoration : none;
color : #006699;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #444;
background : inherit;
}

a:visited {
	color:#538999;
	
}
a img {
border : 0;
}
			/*IMAGES*/
.myimage {
float : left;
padding : 10px;
border : 1px solid #aaa;
margin-right : 10px;
}
.myimage2 {
float : right;
padding : 10px;
border : 1px solid #aaa;
margin-left : 10px;
}

.myimagec {
	
float : center;
padding : 10px;
border : 1px solid #aaa;
margin-bottom : 10px;
	
}

			/*BUTTON*/
			

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 4.5px 9px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 90%;
   font-family: Georgia, Serif;
   font-weight:bold;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #f7f0c1;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.button2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:90%;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:177px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}
.button2:active {
	position:relative;
	top:1px; 
	}
	
.button2 a {
	text-decoration : none;
color : #fc3;
background : inherit;
	
}


.button2 a:hover {
text-decoration : none;
color : #fff;
background : inherit;
}

.button2 a:visited {
	color:#f1c683;

}

              /*SEARCHBOX*/
			  
#searchbox {
	margin:30px 0 15px 0;
	padding: 0 5px 0 5px;
	border-top: 2px solid #3a6499;
	border-bottom: 2px solid #3a6499;
	background: #e0eff5;
	text-align:center;
	
}
#searchbox h2 {
	font-size: 1em;
	letter-spacing:normal;
	
}

#searchbox h3 {
	font-size: 1em;
	
}

#searchbox p {
	font-size: 85%;
	line-height: 1.1em;
	
}

             /*TABLES*/
			 


th a {
	color: #f5f1e8;
	
}

th a:hover {
	color: #fff;
	
}

th a:visited {
	color: #bccde2;
}

#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 85%;
	margin: 20px;
	width: 90%;
	text-align: left;
	border-collapse: collapse;
	border-bottom: 4px solid #3a6499;
}


#box-table-a th
{
	font-size: 100%;
	font-weight: bold;
	padding: 8px;
	background: #3a6499;
	border-top: 4px solid #bbdde9;
	border-bottom: 1px solid #fff;
	color: #fff;
	
}


#box-table-a td
{
	padding: 8px;
	background: #fffcf0; 
	border-bottom: 1px solid #bbdde9;
	color: #333;
	border-top: 1px solid transparent;
}


#box-table-a tr:hover td
{
	background: #cdddf1;
	color: #333;
}

#box-table-a ul 

{
	list-style-type:none;
	
	
}

#box-table-a li

{
	margin-left: 0px;
	
	
}

#index-table {
	
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	
}
#index-table li {
	list-style-type:none;
	margin-left: 0;
	
	
}

#index-table th {
	
	font-weight: bold;
	padding: 0 5px 8px 0;
	vertical-align: bottom;

	
	
}

#index-table td {
	padding: 0 5px 0 10px;
	vertical-align: top;
	
	
}


     /*GALLERY PHOTOS*/
	 
	 .gallerycontainer{
position: relative;

}

.thumbnail img{
border: 1px 666;
margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 1px 999;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color:#d5c199;
padding: 3px;
left: -1000px;
width: 405px;
border: 1px dashed gray;
visibility: hidden;
color: #3a6499;
text-decoration: none;
}

p
{ font-size: 90%;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
visibility: visible;
top: 0px;
left: 480px; /*position where enlarged image should offset horizontally */
z-index: 50;
}

/*END GALLERY STYLE*/

@media print {
	#header,#topnav,#col1,#col3 {display:none}
	} 
@media screen {
	.printnote {display:none}
	}
