/* Code tidied up by ScrapBook */
@font-face {
  font-family: "FrutigerCondensed";
  font-style: normal;
  font-weight: 700;
  src: url("FrutigerLTStd-BoldCn.eot") format("embedded-opentype"), url("FrutigerLTStd-BoldCn.woff") format("woff"), url("FrutigerLTStd-BoldCn.ttf") format("truetype"), url("FrutigerLTStd-BoldCn.svg") format("svg");
}
@font-face {
  font-family: "FrutigerCondensed";
  font-style: normal;
  font-weight: 400;
  src: url("FrutigerLTStd-Cn.eot") format("embedded-opentype"), url("FrutigerLTStd-Cn.woff") format("woff"), url("FrutigerLTStd-Cn.ttf") format("truetype"), url("FrutigerLTStd-Cn.svg") format("svg");
}
@font-face {
  font-family: "FrutigerCondensed";
  font-style: normal;
  font-weight: 200;
  src: url("FrutigerLTStd-LightCn.eot") format("embedded-opentype"), url("FrutigerLTStd-LightCn.woff") format("woff"), url("FrutigerLTStd-LightCn.ttf") format("truetype"), url("FrutigerLTStd-LightCn.svg") format("svg");
}
@font-face {
  font-family: "Frutiger";
  font-style: normal;
  font-weight: 700;
  src: url("FrutigerLTStd-Bold.eot") format("embedded-opentype"), url("FrutigerLTStd-Bold.woff") format("woff"), url("FrutigerLTStd-Bold.ttf") format("truetype"), url("FrutigerLTStd-Bold.svg") format("svg");
}
@font-face {
  font-family: "Frutiger";
  font-style: normal;
  font-weight: 200;
  src: url("FrutigerLTStd-Light.eot") format("embedded-opentype"), url("FrutigerLTStd-Light.woff") format("woff"), url("FrutigerLTStd-Light.ttf") format("truetype"), url("FrutigerLTStd-Light.svg") format("svg");
}
@font-face {
  font-family: "Frutiger";
  font-style: normal;
  font-weight: 400;
  src: url("FrutigerLTStd-Roman.eot") format("embedded-opentype"), url("FrutigerLTStd-Roman.woff") format("woff"), url("FrutigerLTStd-Roman.ttf") format("truetype"), url("FrutigerLTStd-Roman.svg") format("svg");
}
.flexbox .flex__box { display: flex; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
h2 { font-size: 1.5em; margin: 0.83em 0px; }
h3 { font-size: 1.17em; margin: 1em 0px; }
b, strong { font-weight: bold; }
p, pre { margin: 1em 0px; }
dl, menu, ol, ul { margin: 1em 0px; }
menu, ol, ul { padding: 0px 0px 0px 40px; }
nav ul, nav ol { list-style: none outside none; }
img { border: 0px none; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.clearfix, form, .block, .flex__row, .searchsuggest__bottom, .page-header__inner, .locations {  }
.clearfix:before, form:before, .block:before, .flex__row:before, .searchsuggest__bottom:before, .page-header__inner:before, .locations:before, .clearfix:after, form:after, .block:after, .flex__row:after, .searchsuggest__bottom:after, .page-header__inner:after, .locations:after { content: " "; display: table; }
.clearfix:after, form:after, .block:after, .flex__row:after, .searchsuggest__bottom:after, .page-header__inner:after, .locations:after { clear: both; }
.text-center { text-align: center ! important; }
.to-content { position: absolute; z-index: 1000; left: -9999px; top: 0px; padding: 15px; }
.to-content:focus { left: 0px; }
.hidden { display: none ! important; visibility: hidden; }
.visuallyhidden, legend { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.clearfix:before, form:before, .block:before, .flex__row:before, .searchsuggest__bottom:before, .page-header__inner:before, .locations:before, .clearfix:after, form:after, .block:after, .flex__row:after, .searchsuggest__bottom:after, .page-header__inner:after, .locations:after { content: " "; display: table; }
.clearfix:after, form:after, .block:after, .flex__row:after, .searchsuggest__bottom:after, .page-header__inner:after, .locations:after { clear: both; }
.clearfix, form, .block, .flex__row, .searchsuggest__bottom, .page-header__inner, .locations {  }
.clear { clear: both; }
@media only screen and (min-width: 769px) {
}
@media only screen and (max-width: 768px) {
}
.click-target { display: block; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; cursor: pointer; }
* { box-sizing: border-box; }
html, body { font-size: 16px; }
html { overflow-y: scroll; background: none repeat scroll 0% 0% rgb(0, 60, 105); }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: "Montserrat",sans-serif; font-size: 0.875rem; line-height: 1.3125rem; color: rgb(49, 53, 56); letter-spacing: 0.5px; }
@media only screen and (min-width: 1001px) {
  body { padding: 110px 0px 0px; }
}
*::-moz-selection { background: none repeat scroll 0% 0% rgb(0, 158, 225); color: rgb(255, 255, 255); text-shadow: none; }
ol, ul { margin: 0px; padding: 0px; list-style: none outside none; }
audio, canvas, img, video { vertical-align: middle; }
img { max-width: 100%; height: auto; }
@media only screen and (max-width: 1000px) {
  .wrapper { position: relative; top: 0px; left: 0px; width: 100%; margin-top: 44px; transition: all 0.3s ease-out 0s; }
}
@media only screen and (max-width: 480px) {
  .flexswapper { display: flex; flex-direction: column; }
  .flexswapper .flex__row { width: 100%; }
  .flexswapper .flex__row:first-child { order: 2; }
  .flexswapper .flex__row:last-child { order: 1; }
}
ul > li.link-disabled.hover, ul > li.link-disabled > a { cursor: default ! important; text-decoration: none ! important; }
ul > li.link-disabled.hover:hover, ul > li.link-disabled > a:hover { text-decoration: none ! important; }
[class*="block-grid-"] { display: block; padding: 0px; margin: 0px -0.625rem; }
[class*="block-grid-"]:before, [class*="block-grid-"]:after { content: " "; display: table; }
[class*="block-grid-"]:after { clear: both; }
[class*="block-grid-"] > li { display: inline; height: auto; float: left; padding: 0px 0.625rem 1.25rem; }
@media only screen {
  .xsmall-block-grid-1 > li { width: 100%; padding: 0px 0.625rem 1.25rem; }
  .xsmall-block-grid-1 > li:nth-of-type(n) { clear: none; }
  .xsmall-block-grid-1 > li:nth-of-type(n+1) { clear: both; }
}
@media only screen and (min-width: 481px) {
  .small-block-grid-2 > li { width: 50%; padding: 0px 0.625rem 1.25rem; }
  .small-block-grid-2 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }
  .small-block-grid-3 > li { width: 33.3333%; padding: 0px 0.625rem 1.25rem; }
  .small-block-grid-3 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }
}
@media only screen and (min-width: 769px) {
  .medium-block-grid-2 > li { width: 50%; padding: 0px 0.625rem 1.25rem; }
  .medium-block-grid-2 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }
}
@media only screen and (min-width: 1001px) {
}
.row { width: 100%; margin: 0px auto; max-width: 75rem; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.row .row { width: auto; margin: 0px -0.9375rem; max-width: none; }
.row .row:before, .row .row:after { content: " "; display: table; }
.row .row:after { clear: both; }
.column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; }
@media only screen {
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  [class*="column"] + [class*="column"]:last-child { float: right; }
}
@media only screen and (min-width: 481px) {
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  [class*="column"] + [class*="column"]:last-child { float: right; }
}
@media only screen and (min-width: 769px) {
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  .medium-3 { position: relative; width: 25%; }
  .medium-4 { position: relative; width: 33.3333%; }
  .medium-5 { position: relative; width: 41.6667%; }
  .medium-6 { position: relative; width: 50%; }
  .medium-7 { position: relative; width: 58.3333%; }
  .medium-12 { position: relative; width: 100%; }
  [class*="column"] + [class*="column"]:last-child { float: right; }
}
@media only screen and (min-width: 1001px) {
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  .large-3 { position: relative; width: 25%; }
  .large-9 { position: relative; width: 75%; }
  .large-12 { position: relative; width: 100%; }
  [class*="column"] + [class*="column"]:last-child { float: right; }
}
@media only screen and (min-width: 1441px) {
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  [class*="column"] + [class*="column"]:last-child { float: right; }
}
@media only screen and (min-width: 1921px) {
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  [class*="column"] + [class*="column"]:last-child { float: right; }
}
@media only screen and (max-width: 480px) {
}
.hide-for-small, .hide-for-small-only, .hide-for-medium-down, .show-for-medium, .show-for-medium-up, .show-for-medium-only, .hide-for-large-down, .show-for-large, .show-for-large-up, .show-for-large-only, .show-for-xlarge, .show-for-xlarge-up, .show-for-xlarge-only, .show-for-xxlarge-up, .show-for-xxlarge-only { display: none ! important; }
@media only screen and (min-width: 769px) {
  .show-for-small, .show-for-small-only, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-up, .hide-for-medium-only, .hide-for-large-down, .show-for-large, .show-for-large-up, .show-for-large-only, .show-for-xlarge, .show-for-xlarge-up, .show-for-xlarge-only, .show-for-xxlarge-up, .show-for-xxlarge-only { display: none ! important; }
}
@media only screen and (min-width: 1001px) {
}
@media only screen and (min-width: 1441px) {
}
@media only screen and (min-width: 1921px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (orientation: portrait) {
}
h1, h2, h3, h4, h5, h6 { font-family: "Montserrat",sans-serif; color: rgb(0, 85, 150); text-transform: uppercase; }
h1, .alpha { font-size: 2.25rem; line-height: 2.25rem; }
h2, .beta { font-size: 1.25rem; line-height: 1.25rem; }
h3, .gamma { font-size: 1.25rem; line-height: 1.25rem; }
@media only screen and (max-width: 768px) {
  h1, .alpha { font-size: 1.25rem ! important; line-height: 1.8rem ! important; }
}
.load { display: block; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; z-index: 90; background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.cssanimations .load .loader:before, .cssanimations .load .loader:after { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.loader { position: relative; margin: 5em auto; width: 10em; height: 10em; font-size: 11px; text-indent: -99999em; }
.cssanimations .loader { border-radius: 50%; box-shadow: 0px 0px 0px 1em rgb(0, 158, 225) inset; transform: scale(0.5); }
.cssanimations .loader:before, .cssanimations .loader:after { content: ""; position: absolute; border-radius: 50%; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.cssanimations .loader:before { width: 5.2em; height: 10.2em; border-radius: 10.2em 0px 0px 10.2em; top: -0.1em; left: -0.1em; transform-origin: 5.2em 5.1em 0px; animation: 2s ease 1.5s normal none infinite loadanimation; }
.cssanimations .loader:after { width: 5.2em; height: 10.2em; border-radius: 0px 10.2em 10.2em 0px; top: -0.1em; left: 5.1em; transform-origin: 0px 5.1em 0px; animation: 2s ease 0s normal none infinite loadanimation; }
@keyframes loadanimation {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.weekschema { position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 30px; margin-bottom: 60px; }
.weekschema:after { content: url("news.png"); display: block; position: absolute; left: -80%; top: -90px; z-index: -2; }
.weekschema h2 { margin-top: 0px; margin-bottom: 30px; }
@media only screen and (max-width: 768px) {
  .weekschema:after { display: none; }
}
.weekschema__list { margin-left: -45px; }
.weekschema__item { position: relative; width: 100%; display: flex; align-items: flex-start; margin-bottom: 15px; }
.weekschema__item a { text-decoration: none; color: rgb(49, 53, 56); }
.weekschema__item:last-child { margin-bottom: 0px; }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .weekschema__item { display: inline-flex; width: calc(50% - 10px); }
  .weekschema__item a { margin-right: 15px; }
}
.weekschema__time { position: relative; z-index: 10; text-align: center; display: inline-block; padding: 15px; margin-right: 30px; line-height: 1em; background: none repeat scroll 0% 0% rgb(0, 158, 225); color: rgb(255, 255, 255); text-transform: uppercase; font-weight: 300; }
.weekschema__time:after { content: ""; display: block; height: 100%; width: 20px; position: absolute; top: 0px; right: -5px; z-index: -1; background: none repeat scroll 0% 0% rgb(0, 158, 225); transform: skewX(10deg); }
.weekschema__time strong { font-size: 22px; }
.weekschema__content { padding: 5px; font-weight: 300; }
a { color: rgb(0, 158, 225); }
a:hover { color: rgb(0, 85, 150); }
a[href^="tel:"] { text-decoration: none ! important; color: inherit ! important; cursor: text; }
a[href^="tel:"]:hover { text-decoration: none ! important; }
.totop { display: block; position: fixed; right: 20px; bottom: -100px; padding: 15px 12px; border-radius: 3px 3px 0px 0px; text-transform: uppercase; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 85, 150); transition: bottom 0.5s ease-out 0s, padding 0.2s ease-out 0s; cursor: pointer; }
.totop:hover { padding: 19px 12px; }
.totop span { display: block; }
.totop span:before { content: ""; display: block; width: 0px; height: 0px; margin: 0px auto 4px; border-color: transparent transparent rgb(255, 255, 255); border-style: solid; border-width: 6px 5px; }
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], select, textarea { width: 100%; border: medium none; border-radius: 3px; font-family: "Montserrat",sans-serif; font-size: 0.875rem; resize: none; min-height: 30px; line-height: 22px; padding: 0px 5px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.1); background-color: rgb(244, 244, 244); }
.no-touch input[type="text"]:hover, .no-touch input[type="password"]:hover, .no-touch input[type="datetime"]:hover, .no-touch input[type="datetime-local"]:hover, .no-touch input[type="date"]:hover, .no-touch input[type="month"]:hover, .no-touch input[type="time"]:hover, .no-touch input[type="week"]:hover, .no-touch input[type="number"]:hover, .no-touch input[type="email"]:hover, .no-touch input[type="url"]:hover, .no-touch input[type="search"]:hover, .no-touch input[type="tel"]:hover, .no-touch select:hover, .no-touch textarea:hover { border-color: rgb(196, 196, 196); }
input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, select:focus, textarea:focus { border-color: rgb(170, 170, 170); outline: medium none; }
input[placeholder] { text-overflow: ellipsis; }
*::-moz-placeholder { text-overflow: ellipsis; color: rgb(153, 153, 153); }
input:-moz-placeholder { text-overflow: ellipsis; color: rgb(153, 153, 153); }
@media only screen and (min-width: 481px) {
}
@media only screen and (min-width: 481px) {
}
.button, .cookiemessage__button--decline, .mainnav__level0 > li:last-child > a, .mainnav__level0 > li:nth-last-child(2) > a, .googlemaps input[type="submit"] { display: inline-block; vertical-align: top; position: relative; width: auto; padding: 15px 0px; margin: 0px 16px; line-height: 1; border: medium none; font-size: 0.875rem; font-weight: 700; text-align: center; text-decoration: none; color: rgb(255, 255, 255) ! important; background: none repeat scroll 0% 0% rgb(0, 85, 150); cursor: pointer; text-transform: uppercase; transition: all 0.2s ease-in-out 0s; }
.button:after, .cookiemessage__button--decline:after, .mainnav__level0 > li:last-child > a:after, .mainnav__level0 > li:nth-last-child(2) > a:after, .googlemaps input[type="submit"]:after { content: ""; position: absolute; z-index: -1; top: 0px; height: 100%; right: -30px; width: calc(100% + 30px); margin: 0px 15px; transform: skewX(-4deg); background: none repeat scroll 0% 0% rgb(0, 85, 150); transition: all 0.2s ease-in-out 0s; }
.no-touch .button:hover, .no-touch .cookiemessage__button--decline:hover, .no-touch .mainnav__level0 > li:last-child > a:hover, .no-touch .mainnav__level0 > li:nth-last-child(2) > a:hover, .no-touch .googlemaps input[type="submit"]:hover, .googlemaps .no-touch input[type="submit"]:hover, .button:focus, .cookiemessage__button--decline:focus, .mainnav__level0 > li:last-child > a:focus, .mainnav__level0 > li:nth-last-child(2) > a:focus, .googlemaps input[type="submit"]:focus { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 114, 201); }
.no-touch .button:hover:after, .no-touch .cookiemessage__button--decline:hover:after, .no-touch .mainnav__level0 > li:last-child > a:hover:after, .no-touch .mainnav__level0 > li:nth-last-child(2) > a:hover:after, .no-touch .googlemaps input[type="submit"]:hover:after, .googlemaps .no-touch input[type="submit"]:hover:after, .button:focus:after, .cookiemessage__button--decline:focus:after, .mainnav__level0 > li:last-child > a:focus:after, .mainnav__level0 > li:nth-last-child(2) > a:focus:after, .googlemaps input[type="submit"]:focus:after { background: none repeat scroll 0% 0% rgb(0, 114, 201); }
.button:active, .cookiemessage__button--decline:active, .mainnav__level0 > li:last-child > a:active, .mainnav__level0 > li:nth-last-child(2) > a:active, .googlemaps input[type="submit"]:active, .button.active, .active.cookiemessage__button--decline, .mainnav__level0 > li:last-child > a.active, .mainnav__level0 > li:nth-last-child(2) > a.active, .googlemaps input.active[type="submit"] { outline: 0px none; }
.button--light { position: relative; z-index: 1; background: none repeat scroll 0% 0% rgb(0, 158, 225); }
.button--light:after { background: none repeat scroll 0% 0% rgb(0, 158, 225); }
.no-touch .button--light:hover { background: none repeat scroll 0% 0% rgb(21, 185, 255); }
.no-touch .button--light:hover:after { background: none repeat scroll 0% 0% rgb(21, 185, 255); }
.button--callout { background: none repeat scroll 0% 0% rgb(97, 171, 15); }
.button--callout:after { background: none repeat scroll 0% 0% rgb(97, 171, 15); }
.no-touch .button--callout:hover { background: none repeat scroll 0% 0% rgb(124, 218, 19); }
.no-touch .button--callout:hover:after { background: none repeat scroll 0% 0% rgb(124, 218, 19); }
.button--outline, .cookiemessage__button--decline { background: none repeat scroll 0% 0% transparent; color: rgb(0, 158, 225) ! important; }
.button--outline:after, .cookiemessage__button--decline:after { z-index: -2; background: none repeat scroll 0% 0% rgb(0, 158, 225); }
.button--outline:before, .cookiemessage__button--decline:before { content: ""; position: absolute; z-index: -1; top: 2px; height: calc(100% - 4px); right: -28px; width: calc(100% + 26px); margin: 0px 15px; transform: skewX(-4deg); background: none repeat scroll 0% 0% rgb(255, 255, 255); transition: all 0.2s ease-in-out 0s; }
.no-touch .button--outline:hover, .no-touch .cookiemessage__button--decline:hover { color: rgb(0, 85, 150) ! important; background: none repeat scroll 0% 0% transparent; }
@media only screen and (min-width: 481px) {
}
@media not all, only screen and (min-resolution: 2dppx) {
}
@media only screen and (max-width: 768px) {
}
.block { position: relative; display: block; margin: 1.875rem 0px; padding: 15px; border: 1px solid rgb(228, 230, 231); background: none repeat scroll 0% 0% rgba(228, 230, 231, 0.05); }
.block:first-child { margin-top: 0px; }
.block:last-child { margin-bottom: 0px; }
@media only screen and (max-width: 1000px) {
}
.block--tabs { width: 100%; padding: 0px; color: rgb(255, 255, 255); background: url("pattern-dark-striped.png") no-repeat scroll right bottom rgb(0, 85, 150); }
.block--tabs__tabblock { padding: 0.9375rem; }
.flex__row { max-width: 75rem; padding: 0px 0.9375rem; margin: 0px auto; }
.flex__row--margin { margin-top: 90px; margin-bottom: 90px; }
.flex__row + .flex__row { margin-top: 1.875rem; }
@media only screen and (min-width: 769px) {
  .flex__row { display: block; }
  .flexbox .flex__row { display: flex; flex-direction: row; }
}
@media only screen and (max-width: 768px) {
  .flex__row { display: block; }
}
.flex__item { margin: 0px 0.9375rem; }
.flex__item:first-child { margin-left: 0px; }
.flex__item:last-child { margin-right: 0px; }
@media only screen and (min-width: 769px) {
  .flex__item { float: left; }
  .flexbox .flex__item { -moz-box-flex: 1; flex: 1 1 0%; }
  .flexbox .flex__item--1 { -moz-box-flex: 1; flex: 1 1 0%; }
}
@media only screen and (max-width: 768px) {
  .flex__item { display: block; float: none; width: 100%; margin: 1.875rem 0px; }
  .flex__item:first-child { margin-top: 0px; }
  .flex__item:last-child { margin-bottom: 0px; }
}
.flex__item-fullwidth { max-width: 100%; }
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
@media not all, not all, not all {
}
.checklist { margin: 105px 0px 30px; }
.checklist__wrapper { display: inline-flex; align-items: center; padding: 15px 0px; margin-bottom: 45px; float: right; border-top: 1px solid rgb(228, 230, 231); border-bottom: 1px solid rgb(228, 230, 231); }
.checklist__wrapper .checklist { display: flex; flex-wrap: wrap; margin: 0px; }
.checklist__wrapper .checklist li { margin-right: 30px; }
@media only screen and (min-width: 1001px) {
  .checklist__wrapper { min-width: 860px; justify-content: flex-end; }
}
@media only screen and (max-width: 768px) {
  .checklist__wrapper { display: block; width: 100%; }
  .checklist__wrapper .checklist { display: block; width: 100%; }
}
.checklist__item { margin-bottom: 7.5px; margin-top: 7.5px; }
.checklist__item:before { content: url("check.svg"); margin-right: 15px; }
.checklist__item--callout { color: rgb(97, 171, 15); }
.checklist__item--callout:before { content: url("check-green.svg"); }
.social a { display: inline-block; vertical-align: top; }
.social a:before { content: ""; display: inline-block; vertical-align: top; width: 21px; height: 22px; }
.social .facebook:before { background-image: url("icons-s1ca13dd7f4.png"); background-position: -83px -81px; background-repeat: no-repeat; }
@media not all, not all, not all {
  .social .facebook:before { height: 22px; width: 21px; background-image: url("icons2x-s0d9fb27667.png"); background-position: -66px -63px; background-size: 94px 328px; }
}
.social .twitter:before { background-image: url("icons-s1ca13dd7f4.png"); background-position: -25px -36px; background-repeat: no-repeat; }
@media not all, not all, not all {
  .social .twitter:before { height: 22px; width: 21px; background-image: url("icons2x-s0d9fb27667.png"); background-position: -46px -41px; background-size: 94px 328px; }
}
.social .youtube:before { background-image: url("icons-s1ca13dd7f4.png"); background-position: -48px -164px; background-repeat: no-repeat; }
@media not all, not all, not all {
  .social .youtube:before { height: 22px; width: 21px; background-image: url("icons2x-s0d9fb27667.png"); background-position: -57px -19px; background-size: 94px 328px; }
}
.social .linkedin:before { background-image: url("icons-s1ca13dd7f4.png"); background-position: -4px -36px; background-repeat: no-repeat; }
@media not all, not all, not all {
  .social .linkedin:before { height: 22px; width: 21px; background-image: url("icons2x-s0d9fb27667.png"); background-position: -21px -41px; background-size: 94px 328px; }
}
.social .instagram:before { background-image: url("icons-s1ca13dd7f4.png"); background-position: -69px -164px; background-repeat: no-repeat; }
@media not all, not all, not all {
  .social .instagram:before { height: 22px; width: 21px; background-image: url("icons2x-s0d9fb27667.png"); background-position: 0px -41px; background-size: 94px 328px; }
}
.social--footer { position: relative; display: flex; align-items: flex-end; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 15px; }
.social--footer:after { content: ""; position: absolute; display: block; width: 20px; height: 100%; left: -10px; top: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); transform: skewX(-8deg); }
.social--footer li { align-items: center; font-size: 0px; margin-right: 15px; }
.social--footer li a { padding: 20px 4px 13px; display: block; }
.social--footer li a:before { background: none repeat scroll 0% 0% transparent ! important; }
.social--footer li:last-child { margin-right: 0px; }
.social--footer .facebook:before { content: url("fb.svg"); }
.social--footer .twitter:before { content: url("tw.svg"); }
.social--footer .youtube:before { content: url("yt.svg"); }
.social--footer .linkedin:before { content: url("in.svg"); }
.social--footer .instagram:before { content: url("insta.svg"); }
@media only screen and (min-width: 769px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 769px) {
}
@media screen and (min-width: 2004px) and (max-width: 2352px) {
}
@media screen and (min-width: 1744px) and (max-width: 2004px) {
}
@media only screen and (min-width: 481px) {
}
@media only screen and (max-width: 480px) {
}
.page-bottom { background: url("footer-lines.png") no-repeat scroll left top rgb(255, 255, 255); padding-top: 60px; padding-bottom: 60px; line-height: 2.5em; text-transform: uppercase; color: rgb(0, 85, 150); }
.page-bottom strong { font-weight: 600; }
.page-bottom__title { font-weight: 700; margin-bottom: 2em; }
.page-bottom__info { font-weight: 300; }
.page-bottom__info--nav li { position: relative; padding-left: 30px; }
.page-bottom__info--nav li a { color: rgb(0, 85, 150); text-decoration: none; }
.page-bottom__info--nav li a:hover { text-decoration: underline; }
.page-bottom__info--nav li:before { content: ""; position: absolute; display: inline-block; left: 0px; width: 6px; height: 6px; margin-top: 12px; border-style: solid; border-width: 1px 1px 0px 0px; transform: rotate(45deg); }
.page-bottom__nav { font-weight: 300; color: rgb(0, 85, 150); text-transform: none; }
.page-bottom__nav a { color: rgb(0, 85, 150); }
.page-bottom__nav ul { display: flex; flex-wrap: wrap; border-top: 1px solid rgb(228, 230, 231); font-size: 14px; margin-top: 45px; padding-top: 45px; }
.page-bottom__nav li a { color: rgb(0, 85, 150); }
.page-bottom__nav li:after { content: ""; display: inline-block; height: 16px; width: 1px; margin: 0px 15px; background: none repeat scroll 0% 0% currentcolor; transform: translateY(4px) skewX(-15deg); }
.page-bottom__nav li:last-child:after { display: none; }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .page-bottom__nav ul { display: block; }
  .page-bottom__nav ul li:after { display: none; }
}
.page-bottom__dev { text-decoration: none; }
.experience { position: relative; background-image: url("experience.jpg"); background-size: cover; background-position: center center; width: 100%; }
.experience:before { content: ""; position: absolute; height: 100%; width: 100%; z-index: -1; top: 0px; left: 0px; background-image: linear-gradient(20deg, rgba(17, 155, 215, 0.86) 18%, rgba(0, 82, 150, 0.86) 88%); }
.experience:after { content: ""; position: absolute; height: 100%; width: 100%; top: 0px; left: 0px; background-image: linear-gradient(20deg, rgba(17, 155, 215, 0.86) 18%, rgba(0, 82, 150, 0.86) 88%); }
.experience__list { position: relative; z-index: 1; height: 100%; max-width: 75rem; margin: 0px auto; display: flex; align-items: center; justify-content: center; padding: 160px 0px; }
@media only screen and (max-width: 1000px) {
  .experience__list { flex-direction: column; margin: 15px; padding: 15px 0px; }
}
.experience__item { display: flex; align-items: center; width: 50%; padding: 45px 60px; margin: 15px; font-size: 24px; font-weight: 700; color: rgb(255, 255, 255); line-height: 1.3em; background: none no-repeat scroll 0% 0% rgb(0, 158, 225); text-decoration: none; }
.experience__item--stadion { padding-left: 140px; background-image: url("lines.png"); background-position: left bottom; }
.experience__item--stadion span { max-width: 190px; }
.experience__item--shop { background-image: url("lines-large.png"); background-position: right bottom; }
.experience__item--shop .experience__next { margin-left: 30px; }
.experience__item:hover { color: rgb(255, 255, 255); }
.experience__item:hover .experience__next { transform: translateX(15px); }
@media only screen and (max-width: 1000px) {
  .experience__item { width: 100%; }
}
@media only screen and (max-width: 480px) {
  .experience__item { padding: 30px ! important; background-image: none; }
}
.experience__icon { margin-right: 30px; }
.experience__next { margin-left: 15px; transition: all 0.3s ease 0s; }
.mobilebar { position: fixed; left: 0px; top: 0px; z-index: 1338; width: 100%; height: 44px; overflow: hidden; background: none repeat scroll 0% 0% rgb(0, 158, 225); transition: all 0.3s ease-out 0s; }
.mobilebar__button { float: left; width: 48px; height: 44px; margin: 0px 1px 0px 0px; border-width: 0px 1px 0px 0px; border-style: solid; border-color: transparent rgba(0, 0, 0, 0.1); background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); }
.mobilebar__button--telephone { text-indent: -900em; background-image: url("icons-s1ca13dd7f4.png"); background-position: -48px -120px; background-repeat: no-repeat; }
.mobilebar__button--maps { text-indent: -900em; background-image: url("icons-s1ca13dd7f4.png"); background-position: 0px -120px; background-repeat: no-repeat; }
.mobilebar__button--nav { display: block; position: relative; width: 48px; height: 44px; }
.mobilebar__button--nav span { display: block; position: absolute; width: 60%; height: 4px; left: 20%; top: 50%; margin-top: -2px; text-indent: -900em; background: none repeat scroll 0% 0% rgb(255, 255, 255); transition: all 0.3s ease-out 0s; }
.mobilebar__button--nav span:before, .mobilebar__button--nav span:after { content: ""; display: block; position: absolute; left: 0px; width: 100%; height: 4px; background: none repeat scroll 0% 0% rgb(255, 255, 255); transition: all 0.3s ease-out 0s; }
.mobilebar__button--nav span:before { top: -6px; }
.mobilebar__button--nav span:after { top: 6px; }
.mobilebar .button, .mobilebar .cookiemessage__button--decline, .mobilebar .mainnav__level0 > li:last-child > a, .mobilebar .mainnav__level0 > li:nth-last-child(2) > a, .mobilebar .googlemaps input[type="submit"], .googlemaps .mobilebar input[type="submit"] { float: right; }
@media only screen and (min-width: 1001px) {
  .mobilebar { display: none; }
}
.searchsuggest { position: absolute; right: 0px; top: 100%; width: 100%; max-width: 75rem; margin: 1px -1px 0px 0px; padding: 10px 0px 0px; }
.searchsuggest ul { padding: 0px 15px; }
.searchsuggest input[type="submit"] { float: left; padding: 2px; border: medium none; color: rgb(255, 255, 255); text-decoration: underline; background: none repeat scroll 0% 0% transparent; outline: medium none; }
.searchsuggest input[type="submit"]:focus { outline: 1px dotted rgb(51, 51, 51); background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); }
.searchsuggest__message { padding: 10px; color: rgb(255, 255, 255); }
.searchsuggest__bottom { padding: 15px 5px 5px; margin: 15px 0px 0px; border-top: 1px solid rgb(178, 226, 226); line-height: 20px; }
.searchsuggest__close { float: right; color: rgb(255, 255, 255); cursor: pointer; text-decoration: underline; }
.searchsuggest .loader:not(:required) { animation: 1500ms linear 0s normal none infinite spinner-loader; border-radius: 0.5em; box-shadow: 1.5em 0px 0px 0px rgba(255, 255, 255, 0.5), 1.1em 1.1em 0px 0px rgba(255, 255, 255, 0.5), 0px 1.5em 0px 0px rgba(255, 255, 255, 0.5), -1.1em 1.1em 0px 0px rgba(255, 255, 255, 0.5), -1.5em 0px 0px 0px rgba(255, 255, 255, 0.5), -1.1em -1.1em 0px 0px rgba(255, 255, 255, 0.5), 0px -1.5em 0px 0px rgba(255, 255, 255, 0.5), 1.1em -1.1em 0px 0px rgba(255, 255, 255, 0.5); font-size: 10px; width: 1em; height: 1em; overflow: hidden; text-indent: 100%; margin: 25px auto; }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .searchsuggest { max-height: calc(100vh - 250px); overflow: auto; }
}
@keyframes spinner-loader {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes spinner-loader {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.socialwall { position: relative; border-top: 1px solid rgb(228, 230, 231); padding-top: 105px; background: url("lines-social.png") no-repeat scroll left bottom transparent; padding-bottom: 180px; margin-bottom: -135px; }
.socialwall__title { width: 100%; top: -37px; position: absolute; margin: 0px; text-align: center; }
.socialwall__title span { padding: 15px; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(228, 230, 231) rgb(228, 230, 231) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.cookiemessage { position: fixed; width: 100%; bottom: 0px; z-index: 100; }
.cookiemessage__inner { max-width: 75rem; margin: 0px auto; }
body .cookiemessage { padding: 20px 5px; top: auto; bottom: 0px; font-family: "Montserrat",sans-serif; font-size: 1rem; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.8); }
body .cookiemessage a { color: rgb(0, 158, 225); }
.cookie-settings { text-decoration: underline; cursor: pointer; }
.page-header { position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); transition: all 0.3s ease 0s; }
.page-header__inner { position: relative; margin: 0px auto; max-width: 75rem; }
.page-header__top { display: flex; align-items: flex-start; }
@media only screen and (max-width: 1000px) {
  .page-header { display: none; }
}
@media only screen and (min-width: 769px) {
  .page-header { position: fixed; left: 0px; top: 0px; z-index: 100; width: 100%; transform: translateZ(0px); }
}
@media only screen and (max-width: 768px) {
  .page-header { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
}
.logo img { max-width: 80px; }
.search { position: fixed; left: -900em; top: 0px; z-index: 2000; width: 100%; height: 100%; opacity: 0; background-image: linear-gradient(to left, rgba(0, 158, 225, 0.8) 0%, rgba(0, 158, 225, 0.95) 100%); transition: opacity 0.3s ease 0s; }
.search .search__form { max-width: 75rem; height: 70px; border-bottom: 3px solid rgb(255, 255, 255); transform: translate3d(0px, 3em, 0px); }
.search .search__input { border: medium none; border-radius: 0px; font-size: 2.1875rem; background: none repeat scroll 0% 0% transparent; box-shadow: none; }
.searchform { position: relative; border: medium none; background: none repeat scroll 0% 0% rgb(243, 245, 246); z-index: 100; cursor: pointer; }
.searchform form { display: flex; }
.no-touch .searchform input[type="text"]:hover, .searchform input[type="text"]:focus, .searchform input[type="text"] { box-shadow: none; border: medium none; padding: 10px 0px 10px 20px; font-weight: 300; color: rgb(49, 53, 56); }
.no-touch .searchform input[type="text"]:hover:-moz-placeholder, .searchform input[type="text"]:focus:-moz-placeholder, .searchform input[type="text"]:-moz-placeholder { color: rgb(49, 53, 56); opacity: 1; }
.no-touch .searchform input[type="text"]:hover::-moz-placeholder, .searchform input[type="text"]:focus::-moz-placeholder, .searchform input[type="text"]::-moz-placeholder { color: rgb(49, 53, 56); opacity: 1; }
.searchform .submit { padding: 0px 8px; display: flex; justify-content: center; align-items: center; }
.searchform span { display: block; font-size: 0px; height: 25px; }
.searchform span:after { content: url("zoek.svg"); }
.search__errormessage { display: none; color: rgb(255, 255, 255); }
.search__inner { position: relative; top: 20%; width: 80%; max-width: 75rem; margin: 0px auto; padding-top: 5px; border: medium none; }
@media only screen and (max-width: 1440px) {
  .search__inner { top: 30px; }
}
.search__form { position: relative; width: 100%; height: 45px; margin: 0px auto; }
@media only screen and (max-width: 768px) {
  .search__form { top: 20px; }
}
.search__input { width: 100%; height: 100%; padding: 0px 50px 0px 10px; font-weight: 700; font-size: 0.8em; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% transparent; }
.search__submit { position: absolute; top: 20px; right: 15px; border: medium none; background: none repeat scroll 0% 0% transparent; outline: medium none; }
.search__submit:after { content: url("zoek-wit.svg"); width: 30px; height: 30px; display: block; }
.search__close { position: absolute; margin-top: -35px; top: 15px; right: 10px; height: 50px; width: 50px; cursor: pointer; }
.search__close:before, .search__close:after { content: ""; position: absolute; top: 50%; left: 0px; height: 8px; width: 100%; margin-top: -1px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.search__close:before { transform: rotate(45deg); }
.search__close:after { transform: rotate(-45deg); }
@media only screen and (max-width: 768px) {
  .search__close { margin-top: 0px; margin-right: -8px; }
  .search__close:before, .search__close:after { height: 4px; width: 60%; }
}
.nextmatch { position: relative; display: flex; align-items: center; margin-top: 15px; }
@media only screen and (max-width: 768px) {
  .nextmatch { display: block; overflow: hidden; margin: 0px 0px 15px; }
  .nextmatch .nextmatch__datetime { min-height: 200px; }
  .nextmatch .nextmatch__datetime:after { display: none; }
  .nextmatch .nextmatch__item { float: left; width: 50%; padding: 15px; border-right: 0px none; }
  .nextmatch .nextmatch__item--banner { display: none; }
  .nextmatch .nextmatch__title { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
  .nextmatch .nextmatch__title:before { display: none; }
  .nextmatch--full { margin: 0px; }
  .nextmatch .nextmatch__timeblock:after, .nextmatch .nextmatch__timeblock:before { width: 100vw; }
}
.nextmatch__title { position: relative; z-index: 1; text-align: center; color: rgb(0, 85, 150); padding: 15px 30px; margin: 0px; }
.nextmatch__title:before { content: ""; position: absolute; z-index: -1; top: 0px; right: 0px; height: 100%; width: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); transform: skewX(-4deg); }
.nextmatch__timeblock { position: relative; color: rgb(255, 255, 255); }
.nextmatch__timeblock:before, .nextmatch__timeblock:after { content: ""; position: absolute; z-index: -1; right: 0px; top: 0px; width: 50vw; height: 100%; }
.nextmatch__timeblock:before { height: 100%; background-size: cover; background-image: url("volgende-wedstrijd.jpg"); background-position: right center; }
.nextmatch__timeblock:after { background-image: linear-gradient(-32deg, rgba(17, 155, 215, 0.8) 11%, rgba(0, 82, 150, 0.8) 78%); }
.nextmatch__datetime { display: flex; align-items: center; justify-content: center; padding: 30px; min-height: 260px; }
.nextmatch__datetime:after { content: ""; position: absolute; right: -15px; top: 0px; height: 100%; width: 30px; background: none repeat scroll 0% 0% rgb(255, 255, 255); transform: skewX(-4deg); }
.nextmatch__date { font-size: 18px; text-align: center; text-transform: uppercase; font-weight: 300; border-right: 1px solid rgba(255, 255, 255, 0.4); padding-right: 30px; margin-right: 30px; }
.nextmatch__date strong { display: block; margin: 7px 0px; font-size: 34px; font-weight: 700; }
.nextmatch__date span { display: block; font-size: 14px; }
.nextmatch__time { text-align: center; font-weight: 300; font-size: 24px; }
.nextmatch__time strong { font-weight: 700; }
.nextmatch__list { display: flex; align-items: center; margin-left: auto; }
.nextmatch__item { text-align: center; padding: 30px 45px; border-right: 1px solid rgb(228, 230, 231); }
.nextmatch__item strong { display: block; margin-top: 15px; font-size: 19px; }
.nextmatch__item--banner { border-right: 0px none; padding-right: 0px; }
@media only screen and (max-width: 768px) {
  .nextmatch__item { width: calc(100% / 3); padding: 30px 15px; }
}
.topnav { margin-left: auto; margin-right: 15px; }
.topnav a { text-decoration: none; }
.topnav__level0 { padding: 15px 0px; }
.topnav__level0 > li { display: inline-block; vertical-align: top; padding-right: 7px; border-right: 1px solid rgb(228, 230, 231); }
.topnav__level0 > li > a { padding: 7px; font-weight: 300; color: rgb(0, 158, 225); transition: all 0.3s ease 0s; }
.topnav__level0 > li:last-child { border: 0px none; }
.topnav__level0 > li:hover > a, .topnav__level0 > li.hover > a { color: rgb(0, 85, 150); }
@media only screen and (max-width: 768px) {
  .topnav { display: none; }
}
.mainnav { display: flex; align-items: flex-start; width: 100%; margin-top: 15px; }
.mainnav li.has-children > a { position: relative; padding-right: 22px; }
.mainnav li.has-children > a:before { content: ""; position: absolute; display: inline-block; height: 4px; width: 4px; right: 12px; top: calc(50% - 4px); border-style: solid; border-width: 1px 1px 0px 0px; transform: rotate(135deg); transition: all 0.3s ease-out 0s; }
.mainnav li.has-children:hover a:before { transform: rotate(45deg); }
.mainnav__level0 { display: flex; justify-content: space-between; align-items: center; width: 100%; margin-left: 95px; }
.mainnav__level0 a { text-decoration: none; color: rgb(49, 53, 56); }
.mainnav__level0 > li { position: relative; display: inline-block; vertical-align: middle; }
.mainnav__level0 > li:last-child:hover > ul, .mainnav__level0 > li.hover:last-child > ul, .mainnav__level0 > li:nth-last-child(2):hover > ul, .mainnav__level0 > li.hover:nth-last-child(2) > ul { left: auto; right: 0px; top: calc(100% + 6px); }
.mainnav__level0 > li:last-child .level2 > li:hover > ul, .mainnav__level0 > li:last-child .level2 > li.hover > ul, .mainnav__level0 > li:nth-last-child(2) .level2 > li:hover > ul, .mainnav__level0 > li:nth-last-child(2) .level2 > li.hover > ul { box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.3); left: -100% ! important; }
.mainnav__level0 > li:last-child > a, .mainnav__level0 > li:nth-last-child(2) > a { padding: 15px 0px ! important; }
.mainnav__level0 > li:last-child > a:before, .mainnav__level0 > li:nth-last-child(2) > a:before { display: none; }
.mainnav__level0 > li:nth-last-child(2) { margin-left: auto; }
.mainnav__level0 > li:hover > ul, .mainnav__level0 > li.hover > ul { left: -1px; top: calc(100% + 6px); }
.mainnav__level0 > li > a { display: block; position: relative; padding: 11px 10px 12px; font-weight: 600; text-transform: uppercase; }
.mainnav__level0 > li > a:focus + .level1 { left: -1px; top: calc(100% + 6px); }
.mainnav .logo { position: absolute; max-width: 80px; }
.mainnav .level1 { position: absolute; left: -900em; width: 300px; padding: 0px; margin-top: -6px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); }
.mainnav .level1 > li { border-top: 1px solid rgb(228, 230, 231); }
.mainnav .level1 > li.has-children > a:before { display: none; }
.mainnav .level1 > li:hover > a { text-decoration: underline; }
.mainnav .level1 > li:first-child { border-top: medium none; }
.mainnav .level1 > li > a { display: block; padding: 15px; font-family: "Montserrat",sans-serif; text-decoration: none; line-height: 0.9375rem; color: rgb(49, 53, 56); font-weight: 700; }
.mainnav .level1 > li > a[target="_blank"]:after { content: ""; display: inline-block; vertical-align: middle; width: 12px; height: 12px; margin: 0px 0px 3px 8px; background-image: url("icons-s1ca13dd7f4.png"); background-position: -28px -18px; background-repeat: no-repeat; }
.mainnav .level2 { padding-bottom: 5px; }
.mainnav .level2 > li { position: relative; }
.mainnav .level2 > li.has-children:after { content: ""; display: block; position: absolute; right: -5px; top: 8px; width: 0px; height: 0px; border-width: 4px; border-style: solid; border-color: transparent transparent transparent rgba(255, 255, 255, 0.5); }
.mainnav .level2 > li.hover > a, .mainnav .level2 > li:hover > a { text-decoration: underline; }
.mainnav .level2 > li.hover > ul, .mainnav .level2 > li:hover > ul { left: 100% ! important; }
.mainnav .level2 a { display: block; padding: 5px 12px 5px 25px; text-decoration: none; line-height: 0.9375rem; color: rgb(49, 53, 56); }
.mainnav .level3 { position: absolute; left: -900em; top: 0px; z-index: 3; width: 100%; border-width: 1px; border-color: rgb(255, 255, 255); border-style: solid; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.3); }
.mainnav .level3 > li:hover > a { text-decoration: underline; }
@media only screen and (max-width: 1000px) {
  .mainnav { display: none; }
}
@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 1000px) {
  .mobilenav { position: fixed; z-index: 1337; top: 0px; left: -100%; width: 100%; height: 100%; overflow: auto; transition: all 0.3s ease-out 0s; }
  .mobilenav a { display: block; text-decoration: none; color: rgb(255, 255, 255); }
  .mobilenav .togglesub { display: block; position: absolute; top: 0px; right: 0px; z-index: 10; width: 40px; height: 40px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); }
  .mobilenav .togglesub:after { content: ""; display: block; position: absolute; left: 50%; top: 50%; width: 0px; height: 0px; margin: -2px 0px 0px -6px; border-style: solid; border-width: 6px; border-color: rgb(255, 255, 255) transparent transparent; }
  .mobilenav__level0 { height: 100%; margin-right: 3rem; background: none repeat scroll 0% 0% rgb(0, 60, 105); }
  .mobilenav__level0 > li { position: relative; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .mobilenav__level0 > li > a { min-height: 40px; padding: 11px 2px 9px 0.9375rem; }
  .mobilenav .level1 { display: none; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); }
  .mobilenav .level1 > li > a { padding: 10px 2px 10px 1.875rem; }
  .mobilenav .level1 > li > a[target="_blank"]:after { content: ""; display: inline-block; vertical-align: middle; width: 12px; height: 12px; margin: 0px 0px 3px 8px; background-image: url("icons-s1ca13dd7f4.png"); background-position: -28px -18px; background-repeat: no-repeat; }
  .mobilenav .level2 { margin-left: 5px; }
  .mobilenav .level2 > li > a { padding: 6px 2px 6px 40px; }
  .mobilenav .level3 > li > a { padding: 4px 2px 4px 50px; }
}
@media only screen and (min-width: 1001px) {
  .mobilenav { display: none; }
}
.mainheader { position: relative; z-index: 10; padding-bottom: 40px; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
@media only screen and (max-width: 768px) {
  .mainheader { display: none; }
}
@media only screen and (min-width: 769px) {
  .mainheader { min-height: 260px; }
}
@media only screen and (max-width: 768px) {
}
.headliners { position: relative; width: 100%; }
.headliners.loaded .headliners__images { opacity: 1; }
.headliners--active-2 .headliners__dash:nth-child(2) { opacity: 1; }
.headliners__inner { display: block; position: absolute; height: 100%; width: 100%; top: 0px; left: 0px; background-size: cover; background-position: center center; }
.headliners__bottom { display: flex; align-items: flex-end; width: 100%; position: absolute; bottom: 0px; }
.headliners__bottom a { padding: 30px; background: none repeat scroll 0% 0% rgba(0, 158, 225, 0.8); color: rgb(255, 255, 255); text-decoration: none; font-size: 28px; max-width: 50%; line-height: 1em; }
.headliners__bottom a:hover span { text-decoration: underline; }
@media only screen and (min-width: 1001px) {
  .headliners__bottom { margin-top: 30px; left: -9999px; visibility: hidden; }
  .headliners__bottom a span { display: inline-block; }
}
@media only screen and (min-width: 1441px) {
  .headliners__bottom a span { margin-left: 15px; }
}
@media only screen and (max-width: 1440px) {
  .headliners__bottom a span { transform: skew(0deg); }
}
.headliners__controls { display: flex; }
.headliners__control { background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 60px; width: 60px; display: flex; justify-content: center; align-items: center; cursor: pointer; }
.headliners__control:hover { background: none repeat scroll 0% 0% rgb(227, 243, 255); }
.headliners__control:before { content: ""; display: inline; background-image: url("arrow-gray.svg"); background-repeat: no-repeat; height: 13px; width: 22px; }
.headliners__control--next { margin-left: 1px; }
.headliners__control--next:before { transform: rotate(180deg); }
.headliners__dashes { display: flex; padding: 30px; margin-left: auto; }
@media only screen and (min-width: 1441px) {
  .headliners__dashes { margin-right: 70px; }
}
.headliners__dash { height: 4px; width: 40px; margin-left: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); opacity: 0.5; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
@media only screen and (min-width: 769px) {
  .headliners { height: 745px; }
  .headliners:before, .headliners:after { content: ""; display: block; position: absolute; top: 0px; z-index: 1; width: 75rem; height: 745px; background: none repeat scroll 0% 0% rgba(0, 158, 225, 0.8); box-shadow: 0px 0px 0px 1px rgba(0, 158, 225, 0.8); transform: skewX(-4deg); }
  .headliners:before { right: 50%; margin-right: 37.5rem; }
  .headliners:after { left: 50%; margin-left: 37.5rem; }
}
@media only screen and (max-width: 1440px) {
  .headliners:before, .headliners:after { display: none; }
}
@media only screen and (min-width: 1441px) {
  .headliners { margin-top: 30px; }
}
@media only screen and (max-width: 768px) {
  .headliners { background: none repeat scroll 0% 0% rgb(0, 85, 150); }
}
.headliners__images { display: none; position: relative; left: 50%; width: 225rem; opacity: 0; transition: margin 0.9s ease-in-out 0s; }
.headliners__images > li { position: relative; float: left; width: 33.3333%; height: 745px; background-repeat: no-repeat; background-position: center top; background-size: cover; transform: skewX(-4deg); transition: transform 0.3s ease 0s; }
.headliners__images > li.active { z-index: 2; }
.headliners__images > li.active .headliners__dashes { opacity: 1; }
.headliners__images > li.active > div > .headliners__bottom { left: 0px; visibility: visible; }
@media only screen and (max-width: 1440px) {
  .headliners__images { left: 0px; width: 300vw; }
  .headliners__images > li { width: 100vw; transform: scale(1); }
}
@media only screen and (min-width: 1441px) {
  .headliners__images > li { overflow: hidden; }
  .headliners__images > li > div { transform: skewX(4deg); }
  .headliners__images > li.active { transform: skewX(-4deg) scale(1.1); }
  .headliners__images > li.active > div { width: calc(100% + 60px); left: -30px; }
}
@media only screen and (min-width: 769px) {
  .headliners__images { display: block; }
}
@media only screen and (max-width: 1440px) {
}
.headliners--active-2 { margin-left: -112.5rem; }
@media only screen and (max-width: 1440px) {
  .headliners--active-2 { margin-left: -100vw; }
}
@media only screen and (max-width: 1440px) {
}
main { position: relative; z-index: 5; padding: 0px; margin: 0px auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
@media only screen and (min-width: 769px) {
}
@media only screen and (max-width: 768px) {
  #content { margin-bottom: 0.9375rem; }
}
.c-entry a:visited { color: rgb(61, 66, 70); }
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (min-width: 481px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (min-width: 481px) {
}
@media only screen and (max-width: 480px) {
}
.newsitems { margin-bottom: 60px; }
.newsitems a { text-decoration: none; color: rgb(255, 255, 255); }
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
.newsitems__article { background: none repeat scroll 0% 0% rgb(0, 85, 150); height: 100%; }
.newsitems__list { display: flex; margin: -15px -15px 0px; }
.newsitems__list li { width: calc(25% - 30px); margin: 15px; }
@media only screen and (max-width: 1000px) {
  .newsitems__list { flex-wrap: wrap; }
  .newsitems__list li { width: calc(50% - 30px); }
}
@media only screen and (max-width: 480px) {
  .newsitems__list li { width: 100%; }
}
.newsitems__content { position: relative; padding: 30px; color: rgb(255, 255, 255); font-size: 16px; font-weight: 600; }
.newsitems__time { position: absolute; z-index: 10; display: inline-block; padding: 15px 10px; top: -30px; right: 0px; line-height: 1em; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 85, 150); font-weight: 300; text-transform: uppercase; font-size: 12px; letter-spacing: 0px; }
.newsitems__time strong { font-size: 18px; }
.newsitems__time:after { content: ""; display: block; height: 100%; width: 20px; position: absolute; top: 0px; left: -5px; z-index: -1; background: none repeat scroll 0% 0% rgb(255, 255, 255); transform: skewX(-10deg); }
.newsitems__button { text-align: center; margin: 15px 0px 120px; }
@media only screen and (max-width: 480px) {
}
.banner-proshots { padding: 0px ! important; background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
.banner-list .item { display: none; }
.banner-list .item:first-child { display: block; }
.banner-list .owl-carousel { display: block; padding: 15px; border-radius: 3px; border: 1px solid rgb(221, 221, 221); text-align: center; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.owl-carousel .owl-item { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.owl-carousel .owl-stage-outer { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.owl-dots { display: none ! important; }
div.vriendenloterij img { padding: 6% 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
.socialitem { margin-bottom: 30px; }
.socialitem__top { position: relative; display: flex; align-items: flex-end; }
.socialitem__top img { padding: 9px; margin: 0px 6px; }
.socialitem__image { display: flex; justify-content: center; align-items: center; max-height: 200px; overflow: hidden; }
.socialitem__image img { width: 100%; }
.socialitem__image--large { max-height: 350px; }
.socialitem__handle { position: relative; padding: 8px 15px; background: none repeat scroll 0% 0% rgb(0, 158, 225); color: rgb(255, 255, 255); }
.socialitem__handle:after { content: ""; position: absolute; display: block; top: 0px; right: -10px; height: 100%; width: 20px; background: none repeat scroll 0% 0% rgb(0, 158, 225); transform: skewX(10deg); }
.socialitem__content { padding: 30px; font-size: 16px; font-weight: 300; line-height: 1.8em; background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; }
.socialitem__content a { word-break: break-all; }
@media only screen and (min-width: 481px) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
@media only screen and (max-width: 480px) {
}
.sponsors { position: relative; background: none repeat scroll 0% 0% rgb(0, 85, 150); }
@media only screen and (max-width: 768px) {
  .sponsors .column { padding-bottom: 60px; }
}
@media only screen and (min-width: 769px) {
  .sponsors .row { padding-bottom: 60px; }
  .sponsors .row--clean { padding-bottom: 0px; }
}
.sponsors__social { position: absolute; bottom: 0px; right: 15px; }
.sponsors__social strong { text-transform: uppercase; color: rgb(255, 255, 255); display: block; text-align: right; padding-bottom: 15px; }
.sponsors__social .social { display: flex; font-size: 0px; }
.sponsors__title { color: rgb(255, 255, 255); font-size: 15px; font-weight: 300; text-transform: uppercase; opacity: 0.7; }
.sponsors__list { display: flex; align-items: center; flex-wrap: wrap; margin: 30px 0px; opacity: 0.8; }
.sponsors__list--clean { opacity: 1; }
.sponsors__list li { margin-right: 15px; margin-bottom: 15px; }
.sponsors__list li:last-child { margin-right: 0px; }
.sponsors__list li img { padding-right: 15px; max-height: 60px; }
.page-footer { position: relative; z-index: 12; margin-top: 135px; padding-bottom: 15px; background: none repeat scroll 0% 0% rgb(0, 85, 150); }
.page-footer__guus { position: relative; max-width: 320px; margin-top: auto; transform: translateY(-100px); }
.page-footer__guusmascotte { margin-left: -90px; margin-bottom: -70px; }
.page-footer__guusplay { position: absolute; bottom: 0px; left: 80px; cursor: pointer; }
.page-footer__guusplay:after { content: url("guus-sfeer.png"); }
@media only screen and (max-width: 768px) {
  .page-footer__guus { transform: translateY(0px); margin-top: -100px; }
  .page-footer__guusplay { position: static; }
}
.page-footer__nieuwsbrief { color: rgb(255, 255, 255); margin-top: 60px; }
.page-footer__nieuwsbrieftitle { text-transform: uppercase; font-weight: 700; font-size: 20px; }
@media only screen and (max-width: 768px) {
  .page-footer__nieuwsbrief { margin-bottom: 30px; }
}
.owl-carousel, .owl-carousel .owl-item { position: relative; }
.owl-carousel { display: none; width: 100%; z-index: 1; }
.owl-carousel .owl-stage { position: relative; backface-visibility: hidden; }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; }
.owl-carousel .owl-item, .owl-carousel .owl-wrapper { backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-item { min-height: 1px; float: left; }
.owl-carousel .owl-item img { display: block; width: 100%; }
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled { display: none; }
.no-js .owl-carousel, .owl-carousel.owl-loaded { display: block; }
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev { cursor: pointer; -moz-user-select: none; }
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot { background: none repeat scroll 0px 0px transparent; color: inherit; border: medium none; padding: 0px ! important; font: inherit; }
.owl-carousel.owl-drag .owl-item { -moz-user-select: none; }
.owl-carousel .animated { animation-duration: 1s; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@media print {
  * { background: none repeat scroll 0% 0% transparent ! important; color: rgb(0, 0, 0) ! important; box-shadow: none ! important; text-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
