/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("JTURjIg1_i6t8kCHKm45_cJD3gnD-A.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("JTUSjIg1_i6t8kCHKm459WlhzQ.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("JTURjIg1_i6t8kCHKm45_bZF3gnD-A.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff") format("woff");
}
