/* Code tidied up by ScrapBook */
.c-entry { font-family: "Montserrat",sans-serif; font-size: 0.875rem; line-height: 1.3125rem; color: rgb(49, 53, 56); }
.c-entry p { margin: 1em 0px; padding: 0px; }
@media only screen and (max-width: 768px) {
}
