@font-face {
	font-family: Marcellus SC;
	src: local("Marcellus SC"), local("MarcellusSC-Regular"), url(https://fonts.gstatic.com/s/marcellussc/v6/ke8iOgUHP1dg-Rmi6RWjbLE_htaa.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
