body {
	margin-bottom: 50px;
}
#pagewrapper {
	margin-top: 10px;
}
html body nav.navbar.navbar-inverse.navbar-fixed-top div.container-fluid div.navbar-header a.navbar-brand img {
	float: left;
}
html body div.container div#pagewrapper div.row div.col-lg-12 div.footer.hidden-print div.row.address div.col-sm-12 div.row div.col-md-4 div.pull-right a {
	padding-right: 0px; margin-right: 0px;
}
.container .jumbotron {
	padding-right: 0px; padding-left: 0px; margin-right: 0px; margin-left: 0px; background-color: transparent;
}
.jumbotron {
	padding-right: 0px; padding-left: 0px; margin-right: 0px; margin-left: 0px; background-color: transparent;
}
input#search {
	margin-top: 8px; margin-right: 10px; margin-bottom: 0px;
}
ul.communitylinks {
	padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 15px !important; margin-left: 0px;
}
ul.sociallinks {
	padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 15px !important; margin-left: 0px;
}
ul.sociallinks {
	margin-top: 5px !important;
}
ul.sociallinks li {
	margin-bottom: 22px !important;
}
ul.communitylinks li {
	margin-bottom: 15px !important; margin-left: 0px; background-color: rgb(12, 72, 37);
}
ul.communitylinks li {
	padding: 10px; border: 1px solid rgb(110, 106, 7); border-image: none;
}
ul.communitylinks li:hover {
	padding: 10px; border: 1px solid rgb(223, 215, 3); border-image: none;
}
div.media.chunk div.media-body div.first_news_image img.news_image {
	width: 100%;
}
div#newsdetail div.chunk.news div.newsclip img.news_image {
	width: 100%;
}
div.first_news_image {
	padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; margin-right: 10px; float: left; background-color: rgb(238, 238, 238);
}
div.second_news_image {
	padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; margin-left: 10px; float: right; background-color: rgb(238, 238, 238);
}
div.third_news_image {
	padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; margin-right: 10px; float: left; background-color: rgb(238, 238, 238);
}
div.fourth_news_image {
	padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; margin-left: 10px; float: right; background-color: rgb(238, 238, 238);
}
p.first_image_caption {
	margin-bottom: 0px;
}
.container .jumbotron {
	border-radius: 0px;
}
.container-fluid .jumbotron {
	border-radius: 0px;
}
#maincontent {
	z-index: 777;
}
#secondarycontent {
	z-index: 555;
}
.full_width_image {
	width: 100%; height: auto;
}
.two_third_image {
	width: 67%; height: auto;
}
.half_image {
	width: 50%; height: auto;
}
.third_image {
	width: 33%; height: auto;
}
.quarter_image {
	width: 25%; height: auto;
}
.twenty_image {
	width: 20%; height: auto;
}
.ten_image {
	width: 10%; height: auto;
}
.two_third_image_left {
	padding: 0px 10px 0px 0px; width: 67%; height: auto; float: left;
}
.half_image_left {
	padding: 0px 10px 0px 0px; width: 50%; height: auto; float: left;
}
.third_image_left {
	padding: 0px 10px 0px 0px; width: 33%; height: auto; float: left;
}
.quarter_image_left {
	padding: 0px 10px 0px 0px; width: 25%; height: auto; float: left;
}
.twenty_image_left {
	padding: 0px 10px 0px 0px; width: 20%; height: auto; float: left;
}
.fifteen_image_left {
	padding: 0px 10px 0px 0px; width: 15%; height: auto; float: left;
}
.ten_image_left {
	padding: 0px 10px 0px 0px; width: 10%; height: auto; float: left;
}
.two_third_image_right {
	padding: 0px 0px 0px 10px; width: 67%; height: auto; float: right;
}
.half_image_right {
	padding: 0px 0px 0px 10px; width: 50%; height: auto; float: right;
}
.third_image_right {
	padding: 0px 0px 0px 10px; width: 33%; height: auto; float: right;
}
.quarter_image_right {
	padding: 0px 0px 0px 10px; width: 25%; height: auto; float: right;
}
.twenty_image_right {
	padding: 0px 0px 0px 10px; width: 20%; height: auto; float: right;
}
.fifteen_image_right {
	padding: 0px 0px 0px 10px; width: 15%; height: auto; float: right;
}
.ten_image_right {
	padding: 0px 0px 0px 10px; width: 10%; height: auto; float: right;
}
img.two_third_image_left {
	padding-right: 10px !important;
}
img.half_image_left {
	padding-right: 10px !important;
}
img.third_image_left {
	padding-right: 10px !important;
}
img.quarter_image_left {
	padding-right: 10px !important;
}
img.twenty_image_left {
	padding-right: 10px !important;
}
img.fifteen_image_left {
	padding-right: 10px !important;
}
img.ten_image_left {
	padding-right: 10px !important;
}
img.two_third_image_right {
	padding-left: 10px !important;
}
img.half_image_right {
	padding-left: 10px !important;
}
img.third_image_right {
	padding-left: 10px !important;
}
img.quarter_image_right {
	padding-left: 10px !important;
}
img.twenty_image_right {
	padding-left: 10px !important;
}
img.fifteen_image_right {
	padding-left: 10px !important;
}
img.ten_image_right {
	padding-left: 10px !important;
}
li.socialicon {
	max-width: 60px;
}
li.socialicon a {
	padding: 0px 2px 0px 0px;
}
li.socialicon img:hover {
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5); -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}
ul.social_networks {
	margin: 0px 0px 10px; padding: 0px;
}
ul li.socialicon {
	padding: 0px 1px 0px 0px; margin-right: 0px;
}
li.socialicon a {
	padding: 0px;
}
h3.social_sharing {
	font-size: 12px;
}
ul.nav.navbar-nav.navbar-left li a {
	padding-right: 4px; padding-left: 4px;
}
h2.title {
	margin-top: 0px;
}
h4.mobileheading {
	margin-left: 15px;
}
h4.mobileheading {
	margin-left: 15px;
}
.navbar-inverse .navbar-nav > li > a {
	padding: 15px 0px;
}
h4.mobileheading {
	margin-left: 20px;
}
ul.nav.navbar-nav.navbar-right li.socialicon a img {
	margin-top: -7px; max-width: 30px;
}
ul.nav.navbar-nav.navbar-left li.socialicon a img {
	margin-top: -7px; max-width: 30px;
}
ul.nav.navbar-nav.navbar-right li.socialicon {
	margin-right: 15px;
}
ul.nav.navbar-nav.navbar-left li.socialicon {
	margin-right: 15px;
}
nav.navbar.navbar-inverse form.navbar-form.navbar-right {
	margin-top: 0px;
}
li.socialicon {
	display: inline;
}
li.socialicon img {
	max-width: 40px;
}
img#episcopal_church_modal {
	padding-right: 15px; margin-top: 6px; margin-left: -10px; float: left;
}
div#pagewrapper div.col-md-2.contentnav div.btn-group-vertical.contextnav a button.btn.btn-default {
	width: 100%; overflow: hidden; margin-bottom: 5px;
}
iframe.twitter-follow-button.twitter-follow-button#twitter-widget-0 {
	float: right;
}
.btn-success a {
	color: white !important; text-decoration: none;
}
.btn.btn-danger a {
	color: white !important; text-decoration: none;
}
.btn-warning a {
	color: white !important; text-decoration: none;
}
.btn-info a {
	color: white !important; text-decoration: none;
}
.btn-success {
	color: white !important; text-decoration: none;
}
.btn.btn-danger {
	color: white !important; text-decoration: none;
}
.btn-warning {
	color: white !important; text-decoration: none;
}
.btn-info {
	color: white !important; text-decoration: none;
}
div.btn.btn-danger a {
	color: white !important; text-decoration: none !important;
}
div.btn.btn-danger {
	color: white !important; text-decoration: none !important;
}
div.details div.btn.btn-success.btn-xs {
	margin-bottom: 5px;
}
#myCarousel {
	margin-bottom: 0px !important;
}
iframe {
	width: 100%;
}
input.btn.fullwidth {
	margin: 3px 0px; width: 100%;
}
div.btn.btn-success.btn-xs.fullwidth {
	width: 100%; text-align: left; margin-bottom: 5px;
}
div#content h3 a {
	color: white; text-decoration: none;
}
div#content h3 a:hover {
	color: white; text-decoration: underline;
}
div#content h3 {
	background-color: rgb(60, 80, 130);
}
div#content h5 a {
	color: rgb(60, 80, 130); text-decoration: none;
}
div#content h5 a:hover {
	color: rgb(60, 80, 130); text-decoration: underline;
}
div#content h5 {
	background-color: rgb(255, 255, 255);
}
nav.navbar.navbar-default {
	border-radius: 0px;
}
img {
	max-width: 100%;
}
#map-canvas img {
	
}
h4.event-date {
	margin-bottom: 5px;
}
h4.news-date {
	margin-bottom: 5px;
}
.event-image {
	width: 100%; height: auto; float: left;
}
.event-image img {
	width: 100%;
}
img.divder {
	margin: auto auto 20px; width: 70%; text-align: center;
}
html body div.container div#pagewrapper div#belownav div.row div.col-md-9.primarycontent#maincontent div.col-xs-12 div.errorExplanation#errorExplanation ul li {
	padding: 10px; color: white; font-size: 22px; font-weight: 700; background-color: red;
}
@media all and (max-width:767px)
{
#map-canvas {
	height: 200px;
}
img.placeholdernewsimage {
	display: none;
}
.feature_slider_copy {
	padding: 5px;
}
html body nav.navbar.navbar-inverse {
	display: none;
}
div#newsdetail div.chunk.news div.newsclip img.news_image {
	width: 100% !important;
}
img#episcopal_church_modal {
	display: none;
}
img.pull-right.dfclogo {
	max-width: 150px;
}
img#episcopal_church_modal_footer {
	width: 100%;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
html body nav.navbar.navbar-inverse {
	display: none;
}
.leftfeaturearea {
	padding-right: 0px;
}
.rightfeaturearea {
	padding-left: 0px;
}
#map-canvas {
	height: 300px;
}
.smallslideshow {
	width: 45%; margin-right: 10px; float: left;
}
.feature_slider_copy {
	padding: 5px;
}
img#episcopal_church_modal {
	display: none;
}
img.pull-right.dfclogo {
	max-width: 150px;
}
img#episcopal_church_modal_footer {
	width: 100%;
}
}
@media all and (max-width:1199px) and (min-width:992px)
{
html body nav.navbar.navbar-inverse div#bs-example-navbar-collapse-1 div.navbar-right {
	display: none;
}
.custom_global_nav {
	display: none;
}
.leftfeaturearea {
	padding-right: 0px;
}
.rightfeaturearea {
	padding-left: 0px;
}
#map-canvas {
	height: 500px;
}
.smallslideshow {
	width: 35%; margin-right: 10px; float: left;
}
.feature_slider {
	padding-top: 10px; padding-left: 45px;
}
.feature_slider_copy {
	padding-top: 10px;
}
img.pull-right.dfclogo {
	max-width: 150px;
}
img#episcopal_church_modal_footer {
	width: 110px; margin-top: -20px; float: right;
}
}
@media all and (min-width:1200px)
{
.leftfeaturearea {
	padding-right: 0px;
}
.rightfeaturearea {
	padding-left: 0px;
}
#map-canvas {
	height: 700px;
}
.smallslideshow {
	width: 30%; margin-right: 10px; margin-bottom: 10px; float: left;
}
.feature_slider {
	padding-top: 10px;
}
.feature_slider_copy {
	padding-top: 10px;
}
img.pull-right.dfclogo {
	max-width: 150px;
}
img#episcopal_church_modal_footer {
	width: 110px; margin-top: -20px; float: right;
}
}
div#belownav div.col-xs-12 div.row div.col-xs-2 div.imagecontainer {
	margin-bottom: 30px;
}
nav.navbar#fixednav div.navbar-header a.navbar-brand {
	height: auto; line-height: normal; padding-left: 30px; float: left;
}
.chunk {
	overflow: hidden; clear: both;
}
ul#navbuttons {
	margin-left: -40px !important;
}
input.search-query.form-control#query {
	margin-left: -15px;
}
input.btn.btn-success.btn-xs.searchbutton {
	margin-left: -15px;
}
#fixednav .navbar-nav > li > a {
	line-height: normal;
}
div.btn.btn-podcast.btn-sm a {
	color: white !important;
}
.btn-podcast {
	border-color: rgb(92, 10, 80); color: rgb(255, 255, 255); background-color: rgb(118, 17, 104);
}
.btn-podcast.btn-sm a {
	color: white; text-decoration: none;
}
.btn-podcast:hover {
	border-color: rgb(92, 10, 80); color: rgb(255, 255, 255); background-color: rgb(92, 10, 80);
}
.btn-podcast:focus {
	border-color: rgb(92, 10, 80); color: rgb(255, 255, 255); background-color: rgb(92, 10, 80);
}
.btn-podcast.focus {
	border-color: rgb(92, 10, 80); color: rgb(255, 255, 255); background-color: rgb(92, 10, 80);
}
.btn-podcast:active {
	border-color: rgb(92, 10, 80); color: rgb(255, 255, 255); background-color: rgb(92, 10, 80);
}
.btn-podcast.active {
	border-color: rgb(92, 10, 80); color: rgb(255, 255, 255); background-color: rgb(92, 10, 80);
}
.open > .dropdown-toggle.btn-podcast {
	border-color: rgb(92, 10, 80); color: rgb(255, 255, 255); background-color: rgb(92, 10, 80);
}
.btn-podcast:active {
	background-image: none;
}
.btn-podcast.active {
	background-image: none;
}
.open > .dropdown-toggle.btn-podcast {
	background-image: none;
}
.btn-podcast.disabled {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
[disabled].btn-podcast {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
fieldset[disabled] .btn-podcast {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
.btn-podcast.disabled:hover {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
[disabled].btn-podcast:hover {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
fieldset[disabled] .btn-podcast:hover {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
.btn-podcast.disabled:focus {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
[disabled].btn-podcast:focus {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
fieldset[disabled] .btn-podcast:focus {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
.btn-podcast.disabled.focus {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
[disabled].btn-podcast.focus {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
fieldset[disabled] .btn-podcast.focus {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
.btn-podcast.disabled:active {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
[disabled].btn-podcast:active {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
fieldset[disabled] .btn-podcast:active {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
.btn-podcast.disabled.active {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
[disabled].btn-podcast.active {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
fieldset[disabled] .btn-podcast.active {
	border-color: rgb(92, 10, 80); background-color: rgb(92, 10, 80);
}
.affix#fixednav {
	left: 0px;
}
.navbar.navbar-inverse {
	border: 0px currentColor; border-image: none;
}
img.honorific_image {
	margin-top: -15px; margin-left: -23px;
}
div.modal-dialog.modal-lg div.modal-content {
	padding: 20px; background-color: white;
}
div.row.login {
	padding-top: 20px;
}
div.col-sm-4 p.inverse {
	padding: 5px; color: white; font-size: 18px; background-color: rgb(51, 51, 51);
}
div.col-sm-2 p.inverse {
	padding: 5px; color: white; font-size: 18px; background-color: rgb(51, 51, 51);
}
div.event-image.detail img {
	padding-right: 10px;
}
h2.event {
	margin: 0px;
}
h4.panel-title a {
	font-size: 2em; text-decoration: none;
}
h4.panel-title p.lentdate {
	text-align: right; font-size: 12px; font-style: italic;
}
p.lentdate {
	text-align: right; font-size: 1.2em; font-style: italic;
}
div.btn.btn-success.erd {
	width: 100%;
}
img#episcopal_church_modal {
	cursor: pointer;
}
img#episcopal_church_modal_footer {
	cursor: pointer;
}
.navigation_menu {
	border-radius: 0px;
}
nav.navbar#fixednav {
	margin: 0px; border-radius: 0px; z-index: 999;
}
nav.navbar.affix#fixednav {
	width: 100% !important; box-shadow: 2px 2px 2px 1px #000;
}
div#headerimage div.container {
	margin: 0px; padding: 0px;
}
div.modal.fade.episcopal_church_modal.in h3 a {
	font-size: 22px;
}
.chunk .item {
	overflow: hidden; max-height: 200px;
}
input.search-query.form-control#query {
	margin-top: 15px !important;
}
.padbelow {
	margin-bottom: 10px;
}
.item {
	transition:1s ease-in-out; overflow: hidden;
}
.item:hover {
	box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5); transform: scale(0.95);
}
.item img {
	transition:1s ease-in-out;
}
.item img:hover {
	transform: scale(1.4);
}
