body {
	background: rgb(20, 107, 186); font: 14px/1.5 "Palatino Linotype", "Book Antiqua", Palatino, serif; color: rgb(0, 0, 0); letter-spacing: 0px; text-decoration: none; margin-top: 0px; word-spacing: normal;
}
.navbar {
	border: 0px currentColor; border-image: none; margin-bottom: 0px;
}
nav.navbar.navbar-inverse.navbar-fixed-top div.container-fluid div.navbar-header a.navbar-brand {
	font-size: 1em;
}
.navbar-nav a {
	color: black;
}
.navbar-header a {
	color: black;
}
form.navbar-form.navbar-right div.form-group input#search {
	color: black;
}
.navbar-inverse .navbar-brand {
	color: white;
}
ul.nav.navbar-nav li a {
	color: white;
}
ul.nav.navbar-nav li > ul > li a {
	color: white;
}
.dropdown-menu {
	background-color: black;
}
.dropdown-menu > li > a:hover {
	background-color: rgb(87, 106, 129);
}
.dropdown-menu > li > a:focus {
	background-color: rgb(87, 106, 129);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	color: white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
	color: white;
}
.navbar-inverse {
	border-color: transparent; background-image: none; background-color: rgb(20, 107, 186);
}
div.navbar-right form {
	padding-right: 5px;
}
#sheild {
	margin-top: -10px; margin-left: -40px; position: absolute;
}
#pagewrapper {
	border: 0px currentColor; border-image: none; margin-right: auto; margin-bottom: 60px; margin-left: auto; box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.07); background-color: rgb(255, 255, 255);
}
#primarycontent {
	padding: 25px 15px 0px;
}
#secondarycontent {
	padding: 0px;
}
div.col-sm-3.hidden-print.rightside {
	float: right;
}
.jumbotron {
	padding: 0px; color: rgb(60, 32, 138); line-height: 1.5; font-size: 16px; font-weight: 200; margin-top: 0px; margin-bottom: 0px; background-color: transparent;
}
.jumbotron h1 {
	color: inherit; line-height: 1; font-size: 50px;
}
.jumbotron .h1 {
	color: inherit; line-height: 1; font-size: 50px;
}
div.form-group.pull-right form input#search {
	width: 90%; text-align: right;
}
div#page_primary_image {
	width: 40%; float: left;
}
div#page_primary_image img {
	width: 100%; padding-right: 5px;
}
.primarycontent img {
	padding: 0px;
}
.carousel .item {
	height: auto; background-color: rgb(255, 255, 255);
}
div#newsdetail div.chunk.news {
	padding-left: 0px;
}
div.carousel.slide#myCarousel ol.carousel-indicators {
	display: none;
}
#myCarousel {
	margin: 0px; border: 0px solid rgb(255, 255, 255); border-image: none;
}
div.carousel-caption {
	padding: 10px; border: 0px solid rgb(255, 255, 255); border-image: none; width: 100%; height: 25%; bottom: 0px; color: rgb(255, 255, 255); line-height: 1; min-height: 50px; box-shadow: 4px 4px 6px 2px rgba(50,50,50,0.25); text-shadow: 0px 1px 2px rgba(0,0,0,0.6); background-image: url("/images/backgrounds/black50.png"); background-repeat: repeat; background-size: auto 100%; -webkit-box-shadow: 4px 4px 6px 2px rgba(50, 50, 50, 0.25);
}
.carousel-caption {
	text-align: center; color: rgb(255, 255, 255); padding-bottom: 20px; font-family: Goudy Old Style, Times New Roman; font-size: 200%; z-index: 10; box-shadow: none; text-shadow: 0px 1px 2px rgba(0,0,0,0.6); background-image: none;
}
div.carousel-caption p {
	color: rgb(245, 244, 246); line-height: 1.5; letter-spacing: 0px; font-size: 14px; opacity: 0.9;
}
.carousel-caption a {
	color: white;
}
div.carousel-caption h3 {
	background: none; color: white; text-transform: uppercase; font-size: 28px;
}
div.carousel-caption h1 {
	color: white;
}
div.carousel-caption p {
	color: white;
}
.carousel.fade {
	opacity: 1;
}
.carousel.fade .item {
	transition:opacity 0.7s ease-in-out; left: 0px; top: 0px; width: 100%; display: block; position: absolute; z-index: 1; opacity: 0; -webkit-transition: opacity ease-in-out .7s; -o-transition: opacity ease-in-out .7s; -moz-transition: opacity ease-in-out .7s;
}
.carousel.fade :first-child.item {
	top: auto; position: relative;
}
.carousel.fade .item.active {
	transition:opacity 0.7s ease-in-out; z-index: 2; opacity: 1; -webkit-transition: opacity ease-in-out .7s; -o-transition: opacity ease-in-out .7s; -moz-transition: opacity ease-in-out .7s;
}
div.row.featurebox {
	margin: 10px;
}
div.col-sm-4.featurebox {
	margin: 0px 5%; border: 1px solid rgb(204, 204, 204); border-image: none; width: 30%; padding-left: 70px; min-height: 150px; background-color: rgb(238, 238, 238);
}
div.col-sm-4.featurebox.first {
	margin: 0px;
}
div.col-sm-4.featurebox.last {
	margin: 0px;
}
div.col-sm-4.featurebox:hover {
	color: white; background-color: rgb(41, 109, 193);
}
div.col-sm-4.featurebox > a {
	color: rgb(41, 109, 193);
}
div.col-sm-4.featurebox > p {
	color: rgb(41, 109, 193);
}
div.col-sm-4.featurebox > h5 {
	color: rgb(41, 109, 193);
}
div.col-sm-4.featurebox:hover > a {
	color: white; text-decoration: none;
}
div.col-sm-4.featurebox:hover > p {
	color: white; text-decoration: none;
}
div.col-sm-4.featurebox:hover > h5 {
	color: white; text-decoration: none;
}
div.col-sm-4.featurebox.people {
	background-position: 4% 4%; background-image: url("http://s3.amazonaws.com/dfc_attachments/images/3310321/people_g_web.png"); background-repeat: no-repeat; background-size: auto;
}
div.col-sm-4.featurebox.people:hover {
	background-position: 4% 4%; background-image: url("http://s3.amazonaws.com/dfc_attachments/images/3310305/people_w_web.png"); background-repeat: no-repeat; background-size: auto;
}
div.col-sm-4.featurebox.calendar {
	background-position: 4% 4%; background-image: url("http://s3.amazonaws.com/dfc_attachments/images/3310309/calendar_g_web.png"); background-repeat: no-repeat; background-size: auto;
}
div.col-sm-4.featurebox.calendar:hover {
	background-position: 4% 4%; background-image: url("http://s3.amazonaws.com/dfc_attachments/images/3310325/calendar_w_web.png"); background-repeat: no-repeat; background-size: auto;
}
div.col-sm-4.featurebox.thumb {
	background-position: 4% 4%; background-image: url("http://s3.amazonaws.com/dfc_attachments/images/3310313/thumb_g_web.png"); background-repeat: no-repeat; background-size: auto;
}
div.col-sm-4.featurebox.thumb:hover {
	background-position: 4% 4%; background-image: url("http://s3.amazonaws.com/dfc_attachments/images/3310317/thumb_w_web.png"); background-repeat: no-repeat; background-size: auto;
}
div#pagewrapper nav.navbar.navbar-default a {
	color: rgb(51, 51, 51);
}
#cssmenu {
	margin: 0px;
}
#cssmenu ul > li > a {
	padding: 25px 20px;
}
#cssmenu ul {
	border-radius: 0px; border: 1px solid rgb(208, 26, 45); border-image: none; background-color: rgb(228, 39, 59);
}
#cssmenu {
	color: rgb(255, 255, 255); font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 14px; font-weight: 100;
}
#cssmenu ul {
	color: rgb(255, 255, 255); font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 14px; font-weight: 100;
}
#cssmenu ul li {
	color: rgb(255, 255, 255); font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 14px; font-weight: 100;
}
#cssmenu ul li a {
	color: rgb(255, 255, 255); font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 14px; font-weight: 100;
}
#cssmenu a {
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
}
html body div.container div#pagewrapper div.row.navigation_menu.hidden-print div#cssmenu ul li ul li a {
	border-bottom-color: white; border-bottom-width: 1px; border-bottom-style: solid;
}
#cssmenu > ul > li > ul > li > ul {
	width: 250px; margin-top: -60px; margin-left: 110px;
}
div#cssmenu ul li ul {
	margin-left: 0px;
}
#cssmenu > ul > li {
	list-style: none; margin: 0px; float: left; position: relative;
}
.ie7 #cssmenu > ul > li {
	height: 60px;
}
#cssmenu > ul > li > a {
	text-align: left; line-height: 20px; vertical-align: top; display: block; position: relative;
}
.ie7 #cssmenu > ul > li > a {
	height: 60px;
}
#cssmenu .rightarrowclass {
	background: url("/stylesheets/marks/images/nav-arrow.png") no-repeat; top: 50%; width: 3px; height: 7px; right: 10px; margin-top: -3px; position: absolute;
}
#cssmenu > ul > li:hover > a {
	color: rgb(255, 255, 255);
}
#cssmenu > ul > li.current > a {
	color: rgb(255, 255, 255);
}
#cssmenu > ul > li:hover > a {
	background-color: rgb(29, 99, 158);
}
#cssmenu > ul > li.current > a {
	background-color: rgb(29, 99, 158);
}
.dropcapspot {
	background-color: rgb(29, 99, 158);
}
#back-top {
	background-color: rgb(29, 99, 158);
}
.pagination .current {
	background-color: rgb(29, 99, 158);
}
#cssmenu > ul > li:hover > ul {
	padding-top: 1px;
}
#cssmenu li:hover > ul {
	top: 59px; display: block; visibility: visible;
}
#cssmenu ul ul {
	padding: 0px; left: 0px; width: 169px; margin-top: 12px; display: none; position: absolute; z-index: 99;
}
.not-ie #cssmenu ul ul {
	transition:0.2s ease-in-out; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out;
}
#cssmenu ul > li:hover ul li:hover ul {
	left: 170px; display: block;
}
#cssmenu ul ul li {
	position: relative;
}
.ie7 #cssmenu ul ul li {
	height: 34px;
}
#cssmenu ul ul li:last-of-type > a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#cssmenu ul > li > a:hover {
	background-color: rgb(122, 109, 88);
}
#cssmenu ul > li > a:active {
	background-color: rgb(122, 109, 88);
}
#cssmenu ul > li > a:focus {
	background-color: rgb(122, 109, 88);
}
#cssmenu ul ul a {
	padding: 9px 10px; text-align: left; color: rgb(255, 255, 255); letter-spacing: 0px; font-size: 12px; font-weight: 400; border-bottom-color: rgb(242, 243, 244); border-bottom-width: 1px; border-bottom-style: solid; display: block; background-color: rgb(228, 39, 59);
}
#cssmenu ul ul a {
	color: rgb(255, 255, 255);
}
#cssmenu > ul ul li:hover > a {
	color: rgb(255, 255, 255);
}
#cssmenu .active > a {
	color: rgb(255, 255, 255);
}
#cssmenu > ul ul li:hover > a {
	background-color: rgb(29, 99, 158);
}
#cssmenu .active > a {
	background-color: rgb(29, 99, 158);
}
#cssmenu ul ul li:hover > a .rightarrowclass {
	background-position: 0px -19px;
}
#cssmenu ul ul ul {
	left: 170px; top: 0px;
}
.not-ie #cssmenu ul ul ul {
	transition:0.2s ease-in-out; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out;
}
div.footer div.col-lg-12 {
	margin: 0px; padding: 0px;
}
div.footer div.col-lg-12 iframe {
	width: 100%; margin-right: 0px; margin-left: 0px;
}
footer {
	background: rgb(228, 39, 59); padding: 15px; color: rgb(255, 255, 255); font-size: 1em; margin-top: 0px;
}
#footer {
	background: rgb(228, 39, 59); padding: 15px; color: rgb(255, 255, 255); font-size: 1em; margin-top: 0px;
}
.footer {
	background: rgb(228, 39, 59); padding: 15px; color: rgb(255, 255, 255); font-size: 1em; margin-top: 0px;
}
.footer {
	background: rgb(228, 39, 59); padding: 15px; color: rgb(255, 255, 255); font-size: 1em; margin-top: 0px;
}
footer {
	background: none; color: rgb(255, 255, 255);
}
#footer {
	background: none; color: rgb(255, 255, 255);
}
.footer {
	background: none; color: rgb(255, 255, 255);
}
.footer a {
	background: none; color: rgb(255, 255, 255);
}
.footer iframe {
	margin-top: 15px;
}
div.footer div.row div.col-lg-12 span.footerphone {
	padding-right: 10px;
}
div.footer div.row div.col-lg-12 span.footeremail {
	padding-right: 10px;
}
div.footer ul li {
	list-style: none;
}
html body div.container div.footer.hidden-print div.col-lg-12 div.row div.col-sm-3 ul li a {
	color: rgb(109, 122, 126);
}
div.footer ul {
	padding-left: 0px;
}
p.kind {
	display: none;
}
span.phonekind {
	display: none;
}
span.footeremail {
	display: none;
}
div.footer div.pull-right a {
	padding-right: 0px; margin-right: 0px;
}
ul.nav.nav-pills.socialicon {
	margin-top: 10px;
}
ul.nav.nav-pills.socialicon li.socialicon {
	float: right;
}
ul.nav.nav-pills.socialicon li.socialicon a img {
	width: 40px;
}
img#episcopal_church_modal_footer {
	width: 110px; float: right;
}
ul.nav.nav-pills.socialicon li.socialicon a img {
	max-width: 40px;
}
div.footer div.container div.row {
	margin: 0px !important;
}
.verybottom {
	margin-top: 80px;
}
a {
	color: rgb(14, 73, 100); text-decoration: underline;
}
a:hover {
	color: rgb(42, 100, 150); text-decoration: none;
}
a:focus {
	color: rgb(42, 100, 150); text-decoration: none;
}
a:focus {
	outline: dotted thin; outline-offset: -2px;
}
img {
	vertical-align: middle;
}
hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) currentColor currentColor; border-image: none; margin-top: 20px; margin-bottom: 20px;
}
h1 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
h2 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
h3 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
h4 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
h5 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
h6 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
.h1 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
.h2 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
.h3 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
.h4 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
.h5 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
.h6 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
h1 {
	color: rgb(109, 122, 126); margin-top: 0px; margin-bottom: 10px;
}
h2 {
	color: rgb(109, 122, 126); margin-top: 0px; margin-bottom: 10px;
}
h3 {
	color: rgb(109, 122, 126); margin-top: 0px; margin-bottom: 10px;
}
h4 {
	color: rgb(68, 68, 68); margin-top: 10px; margin-bottom: 10px;
}
h5 {
	color: rgb(68, 68, 68); margin-top: 10px; margin-bottom: 10px;
}
h6 {
	color: rgb(68, 68, 68); margin-top: 10px; margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
.h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
.h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
.h3 {
	font-size: 20px;
}
h3 a {
	text-decoration: underline;
}
h3 a:hover {
	text-decoration: underline;
}
h3.social_sharing {
	font-size: 12px;
}
h4 {
	font-size: 18px;
}
.h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
.h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
.h6 {
	font-size: 12px;
}
p {
	margin: 0px 0px 10px;
}
.chunk {
	padding: 4px; border: 1px solid rgb(238, 238, 238); border-image: none; margin-bottom: 10px;
}
div.chunk h2.title {
	font-weight: 500;
}
div.chunk div.news-date {
	text-align: right; font-weight: 100;
}
div.chunk div.item div.read-more {
	font-weight: 100;
}
h4.event-date {
	font-size: 1.6em;
}
ul.customer {
	list-style: none; margin-left: -38px;
}
.col-md-9 {
	padding-right: 0px;
}
h2.socialbox {
	color: white;
}
.socialbox {
	width: 100%; margin-left: -25px; background-color: transparent;
}
ul.sociallinks li.sociallinks a {
	list-style: none; color: rgb(255, 255, 255); font-size: 0.8em;
}
ul.communitylinks li.communitylinks a {
	list-style: none; color: rgb(255, 255, 255); font-size: 0.8em;
}
ul.communitylinks {
	margin: 0px; padding: 0px;
}
ul.sociallinks {
	margin: 0px; padding: 0px;
}
ul.sociallinks li.sociallinks {
	margin-bottom: 30px;
}
ul.communitylinks li {
	margin-bottom: 15px; margin-left: 0px; background-color: rgb(115, 10, 38);
}
ul.communitylinks li {
	padding: 10px; border: 1px solid rgb(138, 121, 103); border-image: none;
}
ul.communitylinks li:hover {
	padding: 10px; border: 1px solid rgb(197, 9, 59); border-image: none; background-color: rgb(138, 121, 103);
}
ul.social-links.clearfix.pull-right {
	margin-right: 10px;
}
h5.from a {
	color: rgb(51, 51, 51); font-size: 0.7em; text-decoration: none;
}
#myCarousel {
	padding: 0px; border: 0px currentColor; border-image: none;
}
div.carousel-inner img {
	padding: 0px;
}
@media all and (max-width:767px)
{
html body nav.navbar.navbar-inverse.navbar-fixed-top div.container-fluid div.navbar-header a.navbar-brand {
	font-size: 10px !important;
}
.col-md-9 {
	margin-right: 15px;
}
ol.carousel-indicators {
	display: none;
}
div.carousel-caption {
	padding: 3px;
}
.carousel-caption {
	left: 0%; height: 40%; right: 0%;
}
div.carousel-caption p {
	display: none;
}
.carousel-caption a {
	color: white;
}
div.carousel-caption h3 {
	margin: 0px; font-size: 14px;
}
div.news-image {
	width: 100%;
}
div.event-image {
	width: 100%;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.col-md-9 {
	margin-right: 15px;
}
#secondarycontent {
	margin-right: 15px; margin-left: 15px;
}
#cssmenu {
	font-size: 8px;
}
#cssmenu ul {
	font-size: 8px;
}
#cssmenu ul li {
	font-size: 8px;
}
#cssmenu ul li a {
	font-size: 8px;
}
div.carousel-caption p {
	font-size: 12px;
}
div.carousel-caption h3 {
	font-size: 16px;
}
#cssmenu > ul > li > ul {
	min-width: 200px;
}
div.news-image {
	width: 50%;
}
div.event-image {
	width: 50%;
}
}
@media all and (max-width:1199px) and (min-width:992px)
{
#cssmenu {
	font-size: 12px;
}
#cssmenu ul {
	font-size: 12px;
}
#cssmenu ul li {
	font-size: 12px;
}
#cssmenu ul li a {
	font-size: 12px;
}
div.carousel-caption p {
	font-size: 14px;
}
div.carousel-caption h3 {
	font-size: 18px;
}
#cssmenu > ul > li > ul {
	min-width: 290px;
}
div.news-image {
	overflow: hidden;
}
div.event-image {
	overflow: hidden;
}
div.news-image img {
	overflow: hidden;
}
div.event-image img {
	overflow: hidden;
}
div#secondarycontent div.event-image {
	width: 100%; overflow: hidden; max-height: 400px;
}
div#secondarycontent div.event-image img {
	overflow: hidden;
}
div.news-image {
	width: 40%;
}
div.event-image {
	width: 40%;
}
}
@media all and (min-width:1200px)
{
#cssmenu > ul > li > ul {
	min-width: 290px;
}
#cssmenu ul {
	padding-left: 30px;
}
div.carousel-caption h3 {
	line-height: 1.5em; margin-bottom: 20px; border-bottom-color: white; border-bottom-width: 1px; border-bottom-style: solid;
}
.carousel-caption p {
	line-height: 2; font-size: 21px; margin-bottom: 20px;
}
div.news-image img {
	overflow: hidden;
}
div.event-image img {
	overflow: hidden;
}
div#secondarycontent div.event-image {
	width: 100%; overflow: hidden; max-height: 400px;
}
div#secondarycontent div.event-image img {
	overflow: hidden;
}
}
.bullet {
	width: 0px; height: 0px; text-decoration: none; margin-left: 6px; vertical-align: middle;
}
a span.bullet {
	text-decoration: none !important;
}
a:hover span.bullet {
	text-decoration: none !important;
}
#belownav {
	margin: 10px auto;
}
h4.panel-title a {
	font-size: 2em; text-decoration: none;
}
h4.panel-title p.lentdate {
	text-align: right; font-size: 12px; font-style: italic;
}
p.lentdate {
	text-align: right; font-size: 1.2em; font-style: italic;
}
div.btn.btn-success.erd {
	width: 100%;
}
div.col-sm-4 div.wellimage {
	overflow: hidden; margin-top: 25px; max-height: 100px;
}
li.facebooklogin {
	padding-top: 10px; padding-left: 5px;
}
#cssmenu > ul > li > ul {
	list-style: none; z-index: 999;
}
