/* ::::: http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1363307353 ::::: */

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; outline: medium none; vertical-align: top; }
.fancybox-wrap { position: absolute; top: 0px; left: 0px; z-index: 8020; }
.fancybox-skin { position: relative; background: rgb(249, 249, 249) none repeat scroll 0% 0%; color: rgb(68, 68, 68); text-shadow: none; border-radius: 4px; }
.fancybox-opened { z-index: 8030; }
.fancybox-opened .fancybox-skin { box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5); }
.fancybox-outer, .fancybox-inner { position: relative; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner {  }
.fancybox-error { color: rgb(68, 68, 68); font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0px; padding: 15px; white-space: nowrap; }
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }
.fancybox-image { max-width: 100%; max-height: 100%; }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("fancybox_sprite.png"); }
#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0px -108px; opacity: 0.8; cursor: pointer; z-index: 8060; }
#fancybox-loading div { width: 44px; height: 44px; background: transparent url("fancybox_loading.gif") no-repeat scroll center center; }
.fancybox-close { background-color: transparent ! important; cursor: pointer; height: 36px; position: absolute; right: -18px; top: -18px; width: 36px; z-index: 8040; }
.fancybox-nav { position: absolute; top: 0px; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url("blank.gif") repeat scroll 0% 0%; z-index: 8040; }
.fancybox-prev { left: 0px; }
.fancybox-next { right: 0px; }
.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }
.fancybox-prev span { left: 10px; background-position: 0px -36px; }
.fancybox-next span { right: 10px; background-position: 0px -72px; }
.fancybox-nav:hover { background-color: transparent ! important; }
.fancybox-nav:hover span { visibility: visible; }
.fancybox-tmp { position: absolute; top: -9999px; left: -9999px; visibility: hidden; }
.fancybox-lock { overflow: hidden; }
.fancybox-overlay { position: absolute; top: 0px; left: 0px; overflow: hidden; display: none; z-index: 8010; background: transparent url("fancybox_overlay.png") repeat scroll 0% 0%; }
.fancybox-overlay-fixed { position: fixed; bottom: 0px; right: 0px; }
.fancybox-lock .fancybox-overlay { overflow-x: auto; overflow-y: scroll; }
.fancybox-title { visibility: hidden; font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050; }
.fancybox-opened .fancybox-title { visibility: visible; }
.fancybox-title-float-wrap { position: absolute; bottom: 0px; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; border-radius: 15px; text-shadow: 0px 1px 2px rgb(34, 34, 34); color: rgb(255, 255, 255); font-weight: bold; line-height: 24px; white-space: nowrap; }
.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: rgb(255, 255, 255); }
.fancybox-title-inside-wrap { padding-top: 10px; }
.fancybox-title-over-wrap { position: absolute; bottom: 0px; left: 0px; color: rgb(255, 255, 255); padding: 10px; background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; }
#fancybox-thumbs { position: fixed; left: 0px; width: 100%; overflow: hidden; z-index: 8050; }
#fancybox-thumbs.bottom { bottom: 2px; }
#fancybox-thumbs.top { top: 2px; }
#fancybox-thumbs ul { position: relative; list-style: outside none none; margin: 0px; padding: 0px; }
#fancybox-thumbs ul li { float: left; padding: 1px; opacity: 0.5; }
#fancybox-thumbs ul li.active { opacity: 0.75; padding: 0px; border: 1px solid rgb(255, 255, 255); }
#fancybox-thumbs ul li:hover { opacity: 1; }
#fancybox-thumbs ul li a { display: block; position: relative; overflow: hidden; border: 1px solid rgb(34, 34, 34); background: rgb(17, 17, 17) none repeat scroll 0% 0%; outline: medium none; }
#fancybox-thumbs ul li img { display: block; position: relative; border: 0px none; padding: 0px; }
/* ::::: http://cdn1.editmysite.com/editor/images/common/common-v2.css?buildTime=1363307353 ::::: */

img {  }
.wsite-placeholder { color: rgb(169, 169, 169); }
*::-moz-placeholder { color: rgb(169, 169, 169); }
:-moz-placeholder { color: rgb(169, 169, 169); }
.weebly-form-input, .wsite-form-input, .wsite-search-input { background: rgb(255, 255, 255) url("form_input_bg.gif") repeat-x scroll center top; border-color: rgb(124, 124, 124) rgb(195, 195, 195) rgb(221, 221, 221); border-style: solid; border-width: 1px; padding: 4px ! important; }
.wsite-button { display: inline-block; padding: 0px 15px 0px 0px; background: transparent url("small_grey.png") no-repeat scroll 100% -100px; text-decoration: none ! important; font-weight: normal ! important; font-size: 14px ! important; color: rgb(34, 34, 34) ! important; cursor: pointer; }
.wsite-button-inner { float: left; background: transparent url("small_grey.png") no-repeat scroll 0px -1px; padding: 0px 5px 0px 20px; height: 32px; line-height: 32px; white-space: nowrap; }
.wsite-button:hover { background-position: 100% -133px; }
.wsite-button:hover .wsite-button-inner { background-position: 0px -34px; }
.wsite-button:active { background-position: 100% -166px; }
.wsite-button:active .wsite-button-inner { background-position: 0px -67px; }
.wsite-button-highlight, .wsite-button-highlight .wsite-button-inner { background-image: url("small_blue.png"); }
.wsite-button-highlight { color: rgb(255, 255, 255) ! important; }
.wsite-button-large { font-size: 18px ! important; background: transparent url("large_grey.png") no-repeat scroll 100% -130px; }
.wsite-button-large .wsite-button-inner { height: 42px; line-height: 42px; padding: 0px 10px 0px 25px; background: transparent url("large_grey.png") no-repeat scroll 0px -1px; }
.wsite-button-large:hover { background-position: 100% -173px; }
.wsite-button-large:hover .wsite-button-inner { background-position: 0px -44px; }
.wsite-button-large:active { background-position: 100% -216px; }
.wsite-button-large:active .wsite-button-inner { background-position: 0px -87px; }
.wsite-button-large.wsite-button-highlight, .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: url("large_blue.png"); }
.wsite-search { position: relative; display: inline-block; white-space: nowrap; }
.wsite-search-input { display: inline-block; vertical-align: top; height: 16px; border-right-width: 0px; }
.wsite-search-input:focus { outline: medium none; }
.wsite-search-button { display: inline-block; vertical-align: top; width: 34px; height: 26px; background: transparent url("search_button.png") no-repeat scroll 0% 0%; cursor: pointer; }
.wsite-search-element-align-center .wsite-search-element { margin: auto; }
.wsite-search-element-align-right { overflow: hidden; }
.wsite-search-element-align-right .wsite-search-element { float: right; }
.wsite-search-element { position: relative; width: 100%; max-width: 300px; }
.wsite-search-element-input { width: 100%; box-sizing: border-box; padding: 5px; font-size: 15px; }
.wsite-search-element-submit { background: transparent url("search-light.png") repeat scroll left center; width: 13px; height: 13px; position: absolute; top: 50%; margin-top: -7px; right: 8px; cursor: pointer; }
.wsite-search-element-submit:hover { background-position: center center; }
.wsite-search-element-submit:active { background-position: right center; }
.wsite-social { position: relative; display: inline-block; white-space: nowrap; }
.wsite-social-item.hidden { display: none; }
.wsite-elements .wsite-social-item.first-child, .weebly-content-area .wsite-social-item.first-child { margin-left: 0px ! important; padding-left: 0px ! important; }
.wsite-elements .wsite-social-item.last-child, .weebly-content-area .wsite-social-item.last-child { margin-right: 0px ! important; padding-right: 0px ! important; }
.wsite-social-item { display: inline-block; vertical-align: top; margin: 0px 1px; width: 24px; height: 24px; background: transparent url("social_icons.png") no-repeat scroll 0% 0%; }
.wsite-social-facebook { background-position: 0px 0px; }
.wsite-social-twitter { background-position: -24px 0px; }
.wsite-social-linkedin { background-position: -48px 0px; }
.wsite-social-rss { background-position: -72px 0px; }
.wsite-social-mail { background-position: -96px 0px; }
.wsite-social-plus { background-position: -120px 0px; }
.wsite-social-yahoo { background-position: -144px 0px; }
.wsite-social-youtube { background-position: -168px 0px; }
.wsite-social-vimeo { background-position: -192px 0px; }
.wsite-social-pinterest { background-position: -216px 0px; }
.wsite-social-flickr { background-position: -240px 0px; }
.blog-body { float: left; }
.blog-sidebar-separator { padding: 0px 10px; }
.blog-post { position: relative; }
.blog-post .blog-header { width: 100%; overflow: hidden; }
.blog-post .blog-header, .blog-post .blog-header h2.blog-title, .blog-post .blog-header div a { padding: 0px ! important; margin: 0px ! important; border: medium none ! important; line-height: 1.5 ! important; }
.blog-post .blog-header div a { display: block; text-decoration: none; }
.blog-post .blog-header div a:hover { border: medium none; color: rgb(102, 136, 255); }
.blog-post a.blog-header-link { display: block; }
.blog-post .blog-date { float: left; margin: 0px ! important; padding: 0px ! important; line-height: 1; }
.blog-post .blog-date .date-text { float: left; margin: 0px 8px 0px 0px; padding: 0px 0px 4px; }
.blog-post .blog-content { text-align: justify; clear: both; margin-bottom: 15px; }
.blog-post .blog-read-more { text-align: right; }
.blog-post .blog-separator { clear: both; border-bottom: 1px solid rgb(221, 221, 221); padding-top: 2px; margin-top: 0px; margin-bottom: 5px; font-size: 2px; height: 2px; }
.wsite-theme-dark .blog-post .blog-separator { border-color: rgb(61, 61, 61); }
.blog-post .blog-comments { float: right; margin: 0px ! important; padding: 0px 0px 4px ! important; line-height: 1; }
.blog-post .blog-date { font-size: 13px; }
.blog-post .blog-comments, .blog-post .blog-comments-bottom { font-size: 13px; }
.blog-page-nav-previous { float: left; }
.blog-page-nav-next { float: right; }
#fb-root { position: absolute; top: 0px; left: -9999px; }
.blog-body .blog-social { position: relative; margin: -5px 0px 15px; line-height: 1; }
.blog-body .blog-social-item { position: relative; z-index: 1; float: left; }
.blog-body .blog-comments-bottom, #weebly_page_content_container .blog-comments-bottom, #wsite-content .blog-comments-bottom { margin: -5px 0px 40px; }
.blog-sidebar { width: 215px; }
.column-blog { float: right; width: 200px; margin: 0px; padding: 0px; }
.blog-notice-comments-closed { margin: 0px 0px 14px; padding: 10px; background: rgb(230, 240, 249) none repeat scroll 0% 0%; border: 1px solid rgb(167, 195, 217); color: rgb(105, 101, 98); }
.blog-notice-comment-pending { margin: 0px 0px 14px; padding: 10px; background: rgb(230, 240, 249) none repeat scroll 0% 0%; border: 1px solid rgb(167, 195, 217); color: rgb(105, 101, 98); }
.clear { clear: both; }
.blog-feed-link { margin-top: 10px; }
.blog-feed-link img { float: left; border: medium none; margin: 2px 5px 0px 0px; }
#blog-title { padding-top: 10px; font-size: 15px; line-height: 20px; font-weight: normal; font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif; }
#blog-title a { text-decoration: none; }
#blog-title a:hover { border: medium none; color: rgb(102, 136, 255); }
#blog-title-link { display: block; }
#blog-date { float: left; padding-left: 0px; font-size: 13px; }
#blog-content { text-align: justify; clear: both; margin-bottom: 15px; }
#blog-content ul { padding: 25px; }
#blog-separator { clear: both; border-bottom: 1px solid rgb(221, 221, 221); padding-top: 2px; margin-top: 0px; font-size: 2px; height: 2px; }
#blog-author { background: rgb(251, 251, 251) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(249, 249, 249); padding: 0px 5px 2px; margin: 0px 0px 2px; float: right; }
#blog-comments { font-size: 13px; float: right; margin: 0px; }
#weeblyform { line-height: 16px; }
#weeblyform textarea { font-family: "Lucida Grande",Tahoma,Arial,sans-serif; padding: 2px; border: 1px solid rgb(171, 173, 179); font-size: 13px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); line-height: 1.2em; height: 140px; width: 300px; }
#weeblyform .formfield { margin: 5px 0px; }
#weeblyform label.field { font-family: "Lucida Grande",Tahoma,Arial,sans-serif; font-size: 13px; display: block; font-weight: bold; padding-bottom: 2px; }
#weeblyform input.text { font-family: "Lucida Grande",Tahoma,Arial,sans-serif; width: 175px; padding: 3px 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(171, 173, 179); color: rgb(0, 0, 0); font-size: 13px; }
#weeblyform input.button { padding: 1px; margin: 0px; }
pre { margin: 10px 0px; padding: 10px; }
.blog-button { font-family: "Helvetica Neue",Helvetica,Arial; height: 23px; color: rgb(51, 51, 51); font-size: 11px; font-weight: bold; cursor: pointer; line-height: 23px; background: transparent url("blog-comment-button.png") no-repeat scroll 0px -23px; }
.blog-button span { float: left; height: 100%; background: transparent url("blog-comment-button.png") no-repeat scroll 100% 0px; margin: 0px 0px 0px 7px; padding: 0px 15px 0px 8px; }
#commentArea p { margin: 0px; padding: 0px; }
.blogCommentWrap { margin: 0px 0px 22px; padding: 0px 6px 0px 0px; word-wrap: break-word; background: transparent url("blog-comment-header.png") no-repeat scroll 100% -96px; }
.blogCommentHeading { font-family: "Helvetica Neue",Arial,Helvetica; margin: 0px 0px 10px; padding: 0px 0px 0px 6px; background: transparent url("blog-comment-header.png") no-repeat scroll 0px -48px; }
.blogCommentHeading .blogCommentHeadingInner { height: 48px; background: transparent url("blog-comment-header.png") repeat-x scroll 0px 0px; }
.blogCommentHeading .blogCommentAuthor { float: left; color: rgb(51, 51, 51); height: 48px; font-weight: bold; font-size: 14px; padding: 0px 0px 0px 11px; background: transparent url("blog-comment-pointer.png") no-repeat scroll 20px 0px; }
.blogCommentHeading .blogCommentAuthor span.name, .blogCommentHeading .blogCommentAuthor a.name, .blogCommentHeading .blogCommentAuthor span.email { float: left; height: 38px; line-height: 36px; text-shadow: 1px 1px 0px rgb(255, 255, 255); }
.blogCommentHeading .blogCommentAuthor span.name, .blogCommentHeading .blogCommentAuthor a.name { color: rgb(51, 51, 51) ! important; margin: 0px 3px 0px 0px; }
.blogCommentHeading .blogCommentAuthor span.email { color: rgb(102, 102, 102); font-size: 12px; margin: 0px 0px 0px 4px; }
.blogCommentHeading .blogCommentAuthor a.link { float: left; width: 16px; height: 16px; cursor: pointer; text-indent: -1000px; overflow: hidden; color: rgb(0, 102, 204); background: transparent url("blog-comment-link.png") no-repeat scroll 0px 0px; margin: 11px 3px 0px 0px; }
.blogCommentOwner, .blogCommentOwner .blogCommentHeading, .blogCommentOwner .blogCommentHeadingInner { background-image: url("blog-comment-header-author.png"); }
.blogCommentOwner .blogCommentHeading .blogCommentAuthor { background-image: url("blog-comment-pointer-author.png"); }
.blogCommentHeading .blogCommentDate { float: right; text-align: right; font-size: 12px; color: rgb(51, 51, 51); text-shadow: 1px 1px 0px rgb(255, 255, 255); height: 48px; line-height: 38px; padding: 0px 9px 0px 0px; margin: 0px; }
.blogCommentText { padding: 0px 16px; }
.blogCommentText p, #secondlist .blogCommentText p { color: rgb(51, 51, 51); font: 13px/18px Helvetica; margin: 0px; padding: 0px; }
.blogCommentOptions { width: 100%; overflow: hidden; }
.blogCommentOptions .blog-button { float: right; margin: 10px 0px 0px 6px; }
.blogCommentReplyWrapper { position: relative; height: 468px; margin: 10px 0px 0px; }
.blogCommentReplyStudent { height: 318px; }
.blogCommentSubreplyWrapper div.iframeWrapper { background: rgb(244, 243, 243) none repeat scroll 0% 0%; border: 1px solid rgb(227, 227, 227); border-radius: 10px; }
.blogCommentReplyWrapper iframe { width: 100%; height: 410px; overflow: hidden; padding: 6px 0px; }
.blogCommentSubreplyWrapper iframe { padding: 36px 0px 0px; }
.blogCommentReplyStudent iframe { height: 265px; }
.blogCommentLevel1 { margin-left: 50px; }
.blogCommentLevel2 { margin-left: 100px; }
.blogCommentLevel3 { margin-left: 150px; }
.blogCommentLevel4 { margin-left: 200px; }
#commentPostDiv { max-width: 424px; }
#commentPostDiv.centered { margin: 0px auto; }
#commentPostDiv .field { margin: 0px 0px 16px; }
#commentPostDiv .field-notify { float: left; margin: 0px 0px 16px; }
#commentPostDiv .field label { display: block; font: bold 13px Helvetica; margin: 0px 0px 6px; }
#commentPostDiv .commentInput, #commentPostDiv .commentTextarea { position: relative; padding: 0px 0px 0px 12px; }
#commentPostDiv .field input[type="text"], #commentPostDiv .field textarea { width: 100%; color: rgb(0, 0, 0); font: 13px Arial; border: 1px solid rgb(153, 153, 153); padding: 0px 5px; margin: 0px 0px 0px -12px; background: rgb(255, 255, 255) url("blog-comment-field-bg.png") repeat-x scroll 0px 0px; }
#commentPostDiv .field-disabled label { color: rgb(153, 153, 153); }
#commentPostDiv .field-disabled input[type="text"], #commentPostDiv .field-disabled textarea { color: rgb(153, 153, 153); border-color: rgb(204, 204, 204); }
#commentPostDiv .field input[type="text"] { height: 26px; line-height: 26px; }
#commentPostDiv .field textarea { height: 78px; padding-top: 6px; padding-bottom: 6px; }
#commentPostDiv .field-checkbox { margin-bottom: 12px; }
#commentPostDiv .field-checkbox label { font-weight: normal; }
#commentPostDiv .field-checkbox label span { padding-left: 2px; }
#commentUserInfo { float: left; font-size: 12px; width: 314px; color: rgb(51, 51, 51); height: 23px; line-height: 23px; }
#commentUserInfo a { color: rgb(0, 102, 204); }
#commentSubmit, #commentCancel { float: right; margin-right: 0px; }
#commentSubmit span, #commentCancel span { padding-right: 11px; padding-left: 4px; }
#commentSubmit.disabled span { color: rgb(153, 153, 153); }
.blogCommentReplyOverlay { width: 60px; height: 36px; border: medium none; background: transparent url("common-v2.css") repeat scroll 0% 0%; cursor: pointer; text-indent: -1000px; overflow: hidden; z-index: 100000; }
.columnlist-blog { margin: 0px; padding: 0px; word-wrap: break-word; }
#errorMessage { color: red; font-size: 12px; font-weight: bold; margin: 14px 0px 0px; }
#secondlist .blogCommentPrompt { margin: 8px 0px 0px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 204) none repeat scroll 0% 0%; text-align: left; }
#secondlist .blogCommentPrompt > div { padding: 16px; }
#secondlist .blogCommentPrompt .heading { font-weight: bold; font-size: 1.2em; margin: 0px 0px 3px; }
#secondlist .blogCommentPrompt .options { padding-top: 10px; }
#secondlist .blogCommentPrompt .options .answer { width: 100%; overflow: hidden; }
#secondlist .blogCommentPrompt .options .answer a { float: left; }
#secondlist .blogCommentPrompt .options .answer a img { border: 0px none; }
#secondlist .blogCommentPrompt .options .answer a span { position: relative; top: -3px; margin-left: 2px; }
#secondlist .blogCommentPrompt .options .answer-yes { margin-right: 15px; margin-bottom: 4px; }
#secondlist .blogCommentPrompt .options .answer-yes a { color: red; margin-right: 14px; }
#secondlist .blogCommentPrompt .options .answer-yes .delete-replies { float: left; margin-top: 2px; }
#secondlist .blogCommentPrompt .options .answer-yes .delete-replies label { font-family: Arial,Helvetica; vertical-align: middle; }
#secondlist .blogCommentPrompt .options .answer-yes .delete-replies input { vertical-align: middle; }
.wsite-theme-dark .blogCommentWrap { background: transparent url("dark-blog-comment-header.png") no-repeat scroll 100% -96px; }
.wsite-theme-dark .blogCommentHeading { background: transparent url("dark-blog-comment-header.png") no-repeat scroll 0px -48px; }
.wsite-theme-dark .blogCommentHeading .blogCommentHeadingInner { background: transparent url("dark-blog-comment-header.png") repeat-x scroll 0px 0px; }
.wsite-theme-dark .blogCommentHeading .blogCommentAuthor { color: rgb(255, 255, 255); background: transparent url("dark-blog-comment-pointer.png") no-repeat scroll 20px 0px; }
.wsite-theme-dark .blogCommentHeading .blogCommentAuthor span.name, .wsite-theme-dark .blogCommentHeading .blogCommentAuthor a.name { text-shadow: 1px 1px 0px rgb(0, 0, 0); color: rgb(255, 255, 255) ! important; }
.wsite-theme-dark .blogCommentOwner, .wsite-theme-dark .blogCommentOwner .blogCommentHeading, .wsite-theme-dark .blogCommentOwner .blogCommentHeadingInner { background-image: url("dark-blog-comment-header-author.png"); }
.wsite-theme-dark .blogCommentOwner .blogCommentHeading .blogCommentAuthor { background-image: url("dark-blog-comment-pointer-author.png"); }
.wsite-theme-dark .blogCommentHeading .blogCommentAuthor span.name, .wsite-theme-dark .blogCommentHeading .blogCommentAuthor span.email { text-shadow: 1px 1px 0px rgb(0, 0, 0); }
.wsite-theme-dark .blogCommentHeading .blogCommentAuthor span.name { color: rgb(255, 255, 255); }
.wsite-theme-dark .blogCommentHeading .blogCommentAuthor span.email { color: rgb(255, 255, 255); font-weight: normal; text-shadow: none; }
.wsite-theme-dark .blogCommentHeading .blogCommentAuthor a.link { background: transparent url("dark-blog-comment-link.png") no-repeat scroll 0px 0px; }
.wsite-theme-dark .blogCommentHeading .blogCommentDate { color: rgb(255, 255, 255); text-shadow: none; }
.wsite-theme-dark .blogCommentText p, .wsite-theme-dark #secondlist .blogCommentText p { color: rgb(255, 255, 255); }
.wsite-theme-dark .blogCommentSubreplyWrapper div.iframeWrapper { background-color: rgb(67, 66, 66); border-color: rgb(122, 122, 122); }
.wsite-theme-dark #commentPostDiv .field label { color: rgb(255, 255, 255); }
.wsite-theme-dark #commentUserInfo { color: rgb(255, 255, 255); }
.wsite-theme-dark #commentUserInfo a { color: orange; }
.wsite-theme-dark #errorMessage { color: rgb(255, 255, 255); }
#lightbox { background-color: rgb(238, 238, 238); padding: 10px; border-bottom: 2px solid rgb(102, 102, 102); border-right: 2px solid rgb(102, 102, 102); }
#lightbox #lightboxDetails { font-size: 14px; padding-top: 0.4em; }
#lightbox #lightboxCaption { float: left; }
#lightbox #keyboardMsg { float: right; }
#lightbox #keyboardMsg a { text-decoration: none; font-size: 0.8em; color: rgb(85, 85, 85); font-family: verdana; }
#lightbox img { border: medium none; }
#overlay img { border: medium none; }
#overlay { background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.7; }
#lightbox #closeButton { top: 10px; right: 10px; border-left: 5px solid white ! important; }
#lightbox2 { position: absolute; top: 40px; left: 0px; width: 100%; z-index: 100; text-align: center; line-height: 0; }
#lightbox2 a img { border: medium none; }
#lightbox2 #outerImageContainer { position: relative; background-color: rgb(255, 255, 255); width: 250px; height: 250px; margin: 0px auto; }
#lightbox2 #imageContainer { padding: 10px; }
#lightbox2 #loading { position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#lightbox2 #hoverNav { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 10; }
#lightbox2 #imageContainer > #hoverNav { left: 0px; }
#lightbox2 #hoverNav a { outline: medium none; }
#lightbox2 #prevLink, #lightbox2 #nextLink { width: 49%; height: 100%; background: transparent url("blank_001.gif") no-repeat scroll 0% 0%; display: block; }
#lightbox2 #prevLink { left: 0px; float: left; }
#lightbox2 #nextLink { right: 0px; float: right; }
#lightbox2 #prevLink { left: 0px; float: left; }
#lightbox2 #nextLink { right: 0px; float: right; }
#lightbox2 #prevLink:hover, #lightbox2 #prevLink:visited:hover { background: transparent url("prevlabel.gif") no-repeat scroll left 15%; }
#lightbox2 #nextLink:hover, #lightbox2 #nextLink:visited:hover { background: transparent url("nextlabel.gif") no-repeat scroll right 15%; }
#lightbox2 #imageDataContainer { font: 10px/1.4em Verdana,Helvetica,sans-serif; background-color: rgb(255, 255, 255); margin: 0px auto; }
#lightbox2 #imageData { padding: 0px 10px; }
#lightbox2 #imageData #imageDetails { width: 50%; float: left; text-align: left; color: rgb(0, 0, 0); }
#lightbox2 #imageData #caption { font-weight: bold; }
#lightbox2 #imageData #numberDisplay { display: block; clear: left; padding-bottom: 1em; }
#lightbox2 #imageData #bottomNavPrev { width: 20px; float: right; padding-bottom: 0.7em; }
#lightbox2 #imageData #bottomNavPrev img { display: block; margin: 3px auto 0px; }
#lightbox2 #imageData #bottomNavNext { width: 20px; float: right; padding-bottom: 0.7em; }
#lightbox2 #imageData #bottomNavNext img { display: block; margin: 3px auto 0px; }
#lightbox2 #imageData #bottomNavClose { width: 66px; float: right; padding-bottom: 0.7em; margin: 0px 0px 0px 10px; }
#lightbox2-overlay { position: absolute; top: 0px; left: 0px; z-index: 90; width: 100%; height: 500px; background-color: rgb(0, 0, 0); opacity: 0.6; }
#lightbox2 .clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
* html > body #lightbox2 .clearfix { display: inline-block; width: 100%; }
* html #lightbox2 .clearfix { height: 1%; }
em { position: relative; }
.product-block { width: 168px ! important; padding: 7px ! important; border: 1px solid rgb(204, 204, 204) ! important; }
.product-block-inner { border: 1px solid rgb(204, 204, 204) ! important; width: 164px ! important; height: 120px ! important; margin: 0px auto ! important; }
.product-block .product-title { font-size: 11px ! important; font-weight: bold ! important; margin: 0px ! important; }
.product-block .product-image { width: 164px ! important; height: 120px ! important; border: medium none ! important; }
.product-block-price { float: left ! important; min-height: 20px ! important; }
.product-block .product-price { float: left ! important; }
.product-block span.product-price { float: none ! important; }
.product-block .product-button { float: right ! important; border: medium none ! important; }
.product-large {  }
.product-large .product-title { font-size: 20px ! important; font-weight: bold ! important; margin: 0px 0px 5px ! important; }
.product-large .product-description {  }
.product-large .product-image { float: left ! important; border: medium none ! important; margin: 0px 10px 10px 0px; }
.product-large-price { font-weight: bold ! important; font-size: 14px ! important; margin: 10px 0px ! important; }
.product-large .product-price { float: left ! important; }
.product-large span.product-price { float: none ! important; }
.product-large .product-button { border: medium none ! important; }
.product-small {  }
.product-small .product-title { font-size: 16px ! important; font-weight: bold ! important; margin: 0px 0px 3px ! important; }
.product-small .product-description {  }
.product-small .product-image { float: left ! important; border: medium none ! important; margin: 0px 10px 10px 0px ! important; }
.product-small-price { float: left ! important; font-weight: bold ! important; font-size: 12px ! important; margin: 6px 0px ! important; }
.product-small .product-price { float: left ! important; }
.product-small span.product-price { float: none ! important; }
.product-small .product-button { float: right ! important; border: medium none ! important; }
.product-long { border: 1px solid rgb(239, 239, 239) ! important; padding: 15px ! important; margin-bottom: 15px ! important; }
.product-long .product-title { font-size: 20px ! important; font-weight: bold ! important; margin: 0px 0px 20px ! important; }
.product-long .product-description {  }
.product-long-detail { float: right ! important; background: rgb(239, 239, 239) none repeat scroll 0% 0% ! important; width: 155px ! important; border: 1px solid rgb(205, 205, 205) ! important; padding: 3px 15px ! important; line-height: normal ! important; margin-left: 10px ! important; }
.product-long .product-image { float: left ! important; border: medium none ! important; margin: 0px 10px 10px 0px ! important; }
.product-long-price { font-weight: bold ! important; font-size: 16px ! important; color: rgb(0, 0, 0); margin: 10px 0px ! important; }
.product-long .product-price { float: left; }
.product-long span.product-price { float: none ! important; }
.product-long .product-button { border: medium none ! important; }
.paypal-pixel { border: medium none ! important; }
.product { margin-bottom: 10px ! important; }
#weebly-menus .weebly-menu-wrap, #wsite-menus .wsite-menu-wrap { z-index: 5000; font-size: 0px; line-height: 0; }
#weebly-menus .weebly-menu, #wsite-menus .wsite-menu { margin: 0px; padding: 0px; list-style: outside none none; }
#weebly-menus .weebly-menu li, #wsite-menus .wsite-menu li { position: relative; margin: 0px; padding: 0px; width: 200px; text-align: left; }
#weebly-menus .weebly-menu li a, #wsite-menus .wsite-menu li a { position: relative; display: block; background: rgb(249, 249, 248) none repeat scroll 0% 0%; border-right: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); text-decoration: none; font-size: 13px; font-weight: normal; line-height: 1; padding: 5px; color: rgb(0, 0, 0); }
#weebly-menus .weebly-menu li a:hover, #wsite-menus .wsite-menu li a:hover { background: rgb(227, 227, 227) none repeat scroll 0% 0%; }
#weebly-menus span.weebly-menu-title, #wsite-menus span.wsite-menu-title { display: block; padding: 5px 10px; }
#weebly-menus span.weebly-menu-more, #wsite-menus span.wsite-menu-more { display: block; position: absolute; right: 5px; top: 0px; font-family: Courier; height: 28px; line-height: 28px; padding: 5px 0px; }
#wsite-menus .wsite-menu-arrow { display: block; position: absolute; right: 5px; top: 50%; font-family: Courier; height: 15px; line-height: 15px; margin-top: -7px; }
html body .galleryImageBorder, html body a .galleryImageBorder { border-style: solid; border-color: rgba(0, 0, 0, 0.13); }
html .wsite-theme-dark .galleryImageBorder, html .wsite-theme-dark a .galleryImageBorder { border-style: solid; border-color: rgba(255, 255, 255, 0.13); }
html body .galleryImageBorderBlack, html body a .galleryImageBorderBlack { border-style: solid; border-color: rgb(0, 0, 0); }
.imageGallery { width: 100%; }
.blog-body { width: 100%; }
.blog-content .imageGallery, #blog-content .imageGallery { width: 101%; }
.weebly-form-field, .wsite-form-field { clear: both; }
.weebly-form-field select, .wsite-form-field select { height: 25px; }
.weebly-form-label, .wsite-form-label { font-weight: bold; }
.weebly-form-sublabel, .wsite-form-sublabel { display: block; padding-bottom: 5px ! important; font-size: 11px; }
.weebly-form-left, .wsite-form-left { float: left; }
.weebly-form-right, .wsite-form-right { float: right; }
.formlist { min-height: 100px; margin: 0px ! important; padding: 0px ! important; }
.form-input-error { border-color: red ! important; }
.form-not-required { display: none; }
.form-required { display: inline; color: red; }
.form-radio-container { display: block; margin: 5px 0px 7px ! important; }
.form-radio-container input { margin: 0px 5px 0px 0px; border: medium none ! important; }
.instructions-container { position: absolute; z-index: 10; width: 185px; background: rgb(254, 239, 218) none repeat scroll 0% 0%; border: 1px solid rgb(247, 148, 28); padding: 10px; cursor: pointer; font-size: 14px; color: rgb(0, 0, 0); }
.form-field-error .weebly-form-radio-container, .form-field-error .wsite-form-radio-container { border: 1px solid red; }
.imgPusher { display: block; overflow: hidden; }
.wsite-image { position: relative; }
.wsite-image a {  }
body .wsite-image-border-hairline a img, body .wsite-image-border-thin a img, body .wsite-image-border-medium a img, body .wsite-image-border-thick a img { border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.13); }
.wsite-theme-dark .wsite-image-border-hairline a img, .wsite-theme-dark .wsite-image-border-thin a img, .wsite-theme-dark .wsite-image-border-medium a img, .wsite-theme-dark .wsite-image-border-thick a img { border-width: 1px; border-style: solid; border-color: rgba(255, 255, 255, 0.13); }
body .wsite-image-border-black a img, body .wsite-theme-dark .wsite-image-border-black a img { border-color: rgb(0, 0, 0); }
.wsite-image-border-none a img { border-width: 0px ! important; }
.wsite-image-border-hairline { padding-left: 1px ! important; padding-right: 1px ! important; }
.wsite-image-border-hairline img { margin-left: -1px ! important; margin-right: -1px ! important; }
.wsite-image-border-thin { padding-left: 2px ! important; padding-right: 2px ! important; }
.wsite-image-border-thin img { padding: 1px ! important; margin-left: -2px ! important; margin-right: -2px ! important; }
.wsite-image-border-medium { padding-left: 4px ! important; padding-right: 4px ! important; }
.wsite-image-border-medium img { padding: 3px ! important; margin-left: -4px ! important; margin-right: -4px ! important; }
.wsite-image-border-thick { padding-left: 7px ! important; padding-right: 7px ! important; }
.wsite-image-border-thick img { padding: 6px ! important; margin-left: -7px ! important; margin-right: -7px ! important; }
.blog-content div a img, #blog-content div a img { max-width: 100%; }
.blog-content .imageGallery div a img, #blog-content .imageGallery div a img, .blog-content .wslide div a img, #blog-content .wslide div a img { max-width: none; }
.wsite-logo { display: inline-block; vertical-align: top; }
.wsite-logo img, .wsite-logo span { vertical-align: top ! important; }
.wsite-logo table { border-collapse: collapse ! important; border-spacing: 0px ! important; margin: 0px ! important; border: 0px none ! important; }
.wsite-logo td { vertical-align: middle ! important; }
.wsite-logo td { border: 0px none ! important; padding: 0px ! important; }
.wsite-logo a img { border: 0px none; }
.wsite-title-placeholder { padding-right: 60px ! important; cursor: default; }
hr.styled-hr { background-color: rgba(0, 0, 0, 0.13); border: 0pt none; color: rgba(0, 0, 0, 0.13); height: 1px; margin: 0px auto; text-align: center; }
.wsite-theme-dark hr.styled-hr { background-color: rgba(255, 255, 255, 0.13); border-width: 1px 0pt 0pt; border-style: solid none none; border-color: black -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgba(255, 255, 255, 0.13); height: 1px; margin: 0px auto; text-align: center; }
.wsite-not-footer { text-align: left; }
.wsite-multicol { position: relative; direction: ltr; }
.wsite-multicol-table { position: relative; border-collapse: collapse; table-layout: fixed; width: 100%; margin: 0px ! important; border: 0px none ! important; padding: 0px ! important; }
.wsite-multicol-col { vertical-align: top; margin: 0px ! important; border: 0px none ! important; padding: 0px; }
.wsite-footer { clear: both; }
#fancybox-thumbs ul li { opacity: 0.7; }
#fancybox-thumbs ul li.active { opacity: 0.9; }
#wsite-search-content.one-column #wsite-search-sidebar { display: none; }
#wsite-search-content.one-column #wsite-search-results { margin-left: 2.5%; width: 97.5%; }
#wsite-search-header { border-bottom: 1px solid rgb(230, 229, 229); margin-left: 2.5%; overflow: hidden; padding-bottom: 28px; padding-top: 5px; }
#wsite-search-header h2 { border: 0px none ! important; float: left; font-size: 2.4em; font-weight: 200; padding: 0px; margin: 0px; width: 20%; }
#wsite-search-form { float: left; position: relative; width: 99%; }
#wsite-search-query { background: rgb(255, 255, 255) url("search-input-bg.png") repeat-x scroll center top; border: 1px solid rgb(178, 178, 178); font-size: 1.75em; margin-left: 2px; padding: 6px 10px; width: 100%; box-sizing: border-box; }
#wsite-search-submit { background: transparent url("magnifying-glass.png") no-repeat scroll 10px center; border-width: 0px 0px 0px 1px; border-style: none none none solid; border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgb(168, 168, 168); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; cursor: pointer; display: block; height: 20px; position: absolute; top: 10px; right: 0px; width: 38px; }
#wsite-search-sidebar { float: left; list-style: outside none none; padding-top: 18px; padding-left: 2.5%; width: 20%; }
#wsite-search-sidebar li { font-size: 1.1em; overflow: hidden; padding: 7px 0px; }
#wsite-search-sidebar a { float: left; font-weight: 200; display: block; padding-right: 22px; }
#wsite-search-sidebar a.active { font-weight: 600; position: relative; }
#wsite-search-sidebar a.active .arrow { bottom: 50%; border-bottom: 5px solid transparent; border-left: 5px solid rgb(0, 0, 0); border-top: 5px solid transparent; height: 0px; margin-bottom: -5px; position: absolute; right: 0px; width: 0px; }
#wsite-search-form-container { float: left; overflow: hidden; width: 75%; }
#wsite-search-results { float: left; padding-top: 22px; padding-bottom: 60px; position: relative; width: 75%; }
#wsite-search-list { list-style: outside none none; margin: 0px; padding: 0px; position: relative; }
#wsite-search-list li { margin-bottom: 38px; }
#wsite-search-loading { background-color: rgba(51, 51, 51, 0.85); border-radius: 5px; box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.21), 0px 2px 6px rgba(0, 0, 0, 0.21); color: rgb(255, 255, 255); font-size: 1.25em; display: none; left: 50%; padding: 15px 40px; position: absolute; top: 75px; z-index: 1; }
#wsite-search-list a { display: block; }
#wsite-search-list .highlight { font-weight: bold; }
#wsite-search-list h3 { color: inherit; float: left; font-size: 1.5em; font-weight: 400; padding: 0px; margin: 0px; text-decoration: underline; }
#wsite-search-list h3 .highlight { font-weight: 600; }
#wsite-search-list p { clear: both; font-weight: 300; font-size: 1.1em; line-height: 1.4em; padding: 5px 0px 0px; }
#wsite-search-pagenav { list-style: outside none none; margin: 0px; padding: 0px; }
#wsite-search-pagenav li { display: inline; margin-right: 5px; }
#wsite-search-pagenav a { background: transparent url("search-pagination-bg.png") repeat-x scroll left -30px; border: 1px solid rgb(212, 212, 213); border-radius: 2px; color: rgb(102, 102, 102); padding: 6px 9px; text-shadow: 1px 1px 0px rgb(255, 255, 255); }
#wsite-search-pagenav a.active { background-position: left 0px; }
#wsite-search-pagenav a.disabled { border-color: rgb(230, 230, 230); cursor: default; color: rgb(211, 211, 211); }
.wsite-theme-dark #wsite-search-header { border-color: rgb(51, 51, 51); }
.wsite-theme-dark #wsite-search-sidebar a.active .arrow { border-left-color: rgb(255, 255, 255); }
/* ::::: http://www.benjaminlees.com/files/main_style.css?1363323159 ::::: */

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0px; padding: 0px; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0px; padding: 0px; }
ul { list-style: outside none none; }
fieldset { border: 0px none; }
a img { border: 0px none; }
.clear { clear: both; }
body { background: rgb(66, 17, 7) url("bodybg.jpg") no-repeat scroll center bottom; font-family: Georgia,arial,sans-serif; font-size: 12px; color: rgb(102, 102, 102); height: 100%; margin: 0px; padding: 0px; }
a { color: rgb(66, 17, 7); text-decoration: none; }
div.paragraph { line-height: 170%; color: rgb(34, 34, 34); font-size: 13px; padding: 5px 0px; }
p { line-height: 170%; color: rgb(34, 34, 34); font-size: 13px; padding: 5px 0px; }
h1 { font-size: 30px; font-weight: bold; color: rgb(45, 19, 0); line-height: 1.5; padding: 5px 0px; }
h2 { font-size: 30px; color: rgb(45, 19, 0); font-family: Georgia,arial,sans-serif; line-height: 1.5; font-weight: normal; padding: 5px 0px; }
#wrapper { background: transparent url("wrapperbg.jpg") no-repeat scroll center top; }
#container { width: 960px; margin: 0px auto; background: transparent url("containerbg.jpg") no-repeat scroll center top; }
.title { width: 507px; height: 132px; float: left; padding: 45px 0px 0px 153px; font-size: 36px; color: rgb(45, 19, 0); }
#header { width: 240px; height: 160px; float: left; z-index: 1; }
.wsite-header { background: transparent url("default_header.jpg") no-repeat scroll 0% 0%; }
#navigation { font-family: Georgia; position: relative; width: 915px; height: 52px; z-index: 2; clear: both; padding: 30px 0px 0px 45px; }
#navigation li { float: left; z-index: 2; padding: 0px 45px 0px 0px; }
#navigation li a { position: relative; display: block; color: rgb(219, 169, 99); font-size: 18px; z-index: 2; font-variant: small-caps; text-decoration: none; }
#navigation li a:hover { color: rgb(244, 207, 159); text-decoration: underline; }
#navigation li#active a { color: rgb(244, 207, 159); text-decoration: underline; }
#wsite-menus .wsite-menu-wrap { z-index: 5000; }
#wsite-menus .wsite-menu { padding: 0px; margin: 0px; list-style: outside none none; }
#wsite-menus .wsite-menu li { float: left; clear: left; width: 168px; text-align: left; }
#wsite-menus .wsite-menu li a { position: relative; display: block; width: 150px; background: rgb(215, 168, 109) none repeat scroll 0% 0%; border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(66, 17, 7); text-decoration: none; font-size: 12px; font-weight: normal; line-height: 1; padding: 8px 6px 8px 12px; color: rgb(45, 19, 0); }
#wsite-menus .wsite-menu li a:hover { background: rgb(66, 17, 7) none repeat scroll 0% 0%; color: rgb(219, 169, 99); }
#content { width: 768px; clear: both; height: auto ! important; min-height: 600px; padding: 60px 96px 10px; background: transparent url("contenttop.jpg") no-repeat scroll center top; }
#contenttop { width: 960px; background: transparent url("contentbg.jpg") repeat-y scroll 0% 0%; }
#contentbtm { width: 960px; padding: 0px 0px 145px; background: transparent url("contentbtm.jpg") no-repeat scroll center bottom; }
#footer { width: 900px; color: rgb(219, 169, 99); font-size: 16px; font-weight: bold; text-align: center; padding: 30px; margin: 0px 0px 120px; }
#footer a { color: rgb(244, 207, 159); text-decoration: underline; }
div.paragraph ul, div.paragraph ol { padding-left: 25px ! important; margin: 5px 0px ! important; overflow: hidden; }
div.paragraph li { padding-left: 5px ! important; margin: 3px 0px 0px ! important; }
div.paragraph ul, div.paragraph ul li { list-style: outside none disc ! important; }
div.paragraph ol, div.paragraph ol li { list-style: outside none decimal ! important; }
blockquote { margin: 10px 0px; padding-left: 20px; border-left: 4px solid rgb(221, 221, 221); font-style: italic; line-height: 170%; }
/* ::::: [internal] ::::: */

.wsite-elements div.paragraph, .wsite-elements p, .wsite-elements .product-block .product-title, .wsite-elements .product-description, .wsite-elements .wsite-form-field label, .wsite-elements .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {  }
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {  }
.wsite-elements h2, .wsite-elements .product-long .product-title, .wsite-elements .product-large .product-title, .wsite-elements .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {  }
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {  }
#wsite-title {  }
/* ::::: [internal] ::::: */

.wsite-header { background-image: url("1297110592.jpg") ! important; background-position: 0px 0px ! important; }
/* ::::: [internal] ::::: */

.firepath-matching-node { outline: 2px dashed rgb(0, 0, 255); }
