/* 
  -----------------------------------
  TabBar Magic Style Sheet
  by Project Seven Development
  www.projectseven.com
  Style Theme:08 - Pure Center
  -----------------------------------
*/
#p7TBM {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	
}
#p7TBMroot {
	font-size: 80%;
	padding-bottom : 3px;
	
}
#p7TBMrootbox {
	background-color: #104d7c;
	border-top: 5px solid #bbdde9;
	margin-top: 0px;
}
#p7TBMroot img {
	border: 0;
}
#p7TBMroot ul {
	text-align: center;
	margin: 0;
	padding: 3px 0 3px 0;
}
#p7TBMroot li {
	list-style-type: none;
	display: inline;
}
#p7TBMroot li a {
	border-right: 1px dashed #fffee5;
}
#p7TBMroot .p7TBMtext li a {
	padding: 3px 10px 3px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px dashed #003;
}
#p7TBMroot .p7TBMtext .p7TBMdown, #p7TBMroot .p7TBMtext .p7TBMdown:hover {
	color: #333333!important;
	background-color: #d5c199 !important;
	font-weight: bold;
	border-color: #eadab8 !important;
}
/*
The Root Level Hover. This also locks the Hover state while 
the root item's associated sub-menu is visible.
DO NOT CHANGE SELECTOR NAMES*/
.p7ie6Fix:active, 
#p7TBMroot .p7TBMtext .p7TBMon,
#p7TBMroot .p7TBMtext li a:focus, 
#p7TBMroot .p7TBMtext li a:active {
	color: #333;
	background-color: #d5c199;
	border-color: #333333;
}
#p7TBMsubwrap{
	font-size: .75em;
	position: relative;
	height: auto;
}
.p7TBMsub {
	position: absolute;
	visibility:hidden;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
}
.p7TBMsubbox {}
.p7TBMsub ul {
	text-align: center;
	margin: 0;
	padding: 5px 0 5px 0;
	background-color: transparent;
	border: 0;
}
.p7TBMsub li {
	list-style-type: none;
	display: inline;
	margin: 0 3px 0 0;
	line-height: 2.5em;
}
.p7TBMsub li a {
	padding: 5px 6px;
	color: #333333;
	border-top: 1px dashed #3a6499;
}
.p7TBMsub li a:hover,
.p7TBMsub li a:active,
.p7TBMsub li a:focus {
	color: #333333;
	background-color: #ECE9D8;
	text-decoration: none;
}
#p7TBM br {
	display: none !important;
}
/* current marker style */
#p7TBM .p7TBMmark,
.p7TBMsub .p7TBMmark:hover,
.p7TBMsub .p7TBMmark:active,
.p7TBMsub .p7TBMmark:focus {
	text-decoration: underline;
	font-weight: bold;

	cursor: default;
	background-color: #9fb7d5;
}
